{% extends "scheduler/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <div class="contnt">
        <h2>Job Details(#{{ object.id }})</h2>
        <hr/>
        <table class="table">
            <tbody>
                {% for key, value in object.to_dict.items %}
                    <tr>
                        <td>
                            {{ key.capitalize }}
                        </td>
                        <td>
                            {% if key == "description" %}
                                {{ value|safe }}
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content_body %}