{% extends "admin_master.html" %}
{% load staticfiles %}
{% block left_nav_bar %}
<!-- left menu starts -->
<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <ul class="nav nav-pills nav-stacked main-menu">
                <li class="open"><a class="ajax-link" href=""><span> Queues</span></a></li>
            </ul>
        </div>
    </div>
</div>
<!--/span-->
<!-- left menu ends -->
{% endblock left_nav_bar %}