{% extends "scheduler/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <div class="contnt">
        <h2>Queues</h2>
        <hr/>
        {% for queue in queues %}
        <h3>Queue: {{ queue.name }}</h3>
            <table class="table">
            <thead>
                <tr>
                    <th>Job Id</th>
                    <th>Status</th>
                    <th>Created Datetime</th>
                    <th>Finish Status</th>
                    <th>Enqueued At</th>
                    <th>Started At</th>
                </tr>
            </thead>
            <tbody>
            {% for job in queue.jobs %}
                <tr>
                    <td>
                        <a href="{% url "admin_scheduled_job_details_view" job.id %}">{{ job.id }}</a>
                    </td>
                    <td>
                        {{ job.get_status }}
                    </td>
                    <td>
                        {{ job.created_at }}
                    </td>
                    <td>
                        {% if job.is_finished %}Finished{% else %}Not Finished{% endif %}
                    </td>
                    <td>
                        {{ job.enqueued_at }}
                    </td>
                    <td>
                        {{ job.started_at }}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No data found</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% endfor %}
        <!--{{ workers }}-->
        <!--{{ scheduler }}-->
    </div>
{% endblock content_body %}