<div id="calendar-content" class="contentblock hidden">
    <div class="data_msng">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
</div><!-- @end #calendar-content -->