<div id="job-application-content" class="contentblock {% if selected_tab != "applications" %}hidden{% endif %}">
    <div class="data_msng" id="id_job_application_content">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
    <div style="text-align: center;">
            <div id="id_job_application_content_pagination">

            </div>
    </div>
</div><!-- @end #application-content -->

<script>
    $(document).ready(function() {
        {% if selected_tab == "applications" %}
        load_tutor_section_contents({"section": "job_application"},function(data) {
            $("#job-application-content").find(".data_msng").html(data.data.content);
            content_cache["job-application-content"] = true;
            my_pagination("id_job_application_content_pagination","id_job_application_content","job_application",1,data.data.extra.total_pages,8)
        },
        function(jqxhr, status, error) {

        },
        function(msg) {

        });
        {% endif %}
    });
</script>