<div id="jobs-recommendation-content" class="contentblock  {% if selected_tab != "recommendations" %}hidden{% endif %}">
    <div class="data_msng" id="id_job_recommendation_content">
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
    <div style="text-align: center;">
        <div id="id_job_recommendation_content_pagination"></div>
    </div>
</div><!-- @end #jobs-recommendation-content -->

<script>
    $(document).ready(function() {
        {% if selected_tab == "recommendations" %}
            load_tutor_section_contents({"section": "job_recommendation"},function(data) {
                $("#jobs-recommendation-content").find(".data_msng").html(data.data.content);
                content_cache["jobs-recommendation-content"] = true;
                my_pagination("id_job_recommendation_content_pagination","id_job_recommendation_content","job_recommendation",1,data.data.extra.total_pages,8);
            },
            function(jqxhr, status, error) {

            },
            function(msg) {

            });
        {% endif %}
    });
</script>