<div id="jobs-invitation-content" class="contentblock  {% if selected_tab != "invites" %}hidden{% endif %}">
    <div class="data_msng" id="id_job_invitation_content">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
    <div style="text-align: center;">
        <div id="id_job_invitation_content_pagination"></div>
    </div>
</div><!-- @end #jobs-invitation-content -->

<script>
    $(document).ready(function() {
        {% if selected_tab == "invites" %}
            load_tutor_section_contents({"section": "job_invitation"},function(data) {
                $("#jobs-invitation-content").find(".data_msng").html(data.data.content);
                content_cache["jobs-invitation-content"] = true;
                my_pagination("id_job_invitation_content_pagination","id_job_invitation_content","job_invitation",1,data.data.extra.total_pages,8);
            },
            function(jqxhr, status, error) {

            },
            function(msg) {

            });
        {% endif %}
    });
</script>