<div id="participation-content" class="contentblock {% if selected_tab != "participations" %}hidden{% endif %}">
    <div class="data_msng" id="id_participation_content">
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
    <div style="text-align: center;">
            <div id="id_participation_content_pagination"></div>
    </div>
</div><!-- @end #participation-content -->

<script>
    $(document).ready(function() {
        {% if selected_tab == "participations" %}
            load_tutor_section_contents({"section": "my_participation"},function(data) {
                $("#participation-content").find(".data_msng").html(data.data.content);
                content_cache["participation-content"] = true;
                my_pagination("id_participation_content_pagination","id_participation_content","my_participation",1,data.data.extra.total_pages,8)
            },
            function(jqxhr, status, error) {

            },
            function(msg) {

            });
        {% endif %}
    });
</script>