<div id="recorded-sessions-content" class="contentblock hidden">
    <div class="data_msng" id="id_my_recorded_session_content">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
    <div style="text-align: center;">
            <div id="id_my_recorded_session_content_pagination"></div>
    </div>
</div><!-- @end #recorded-sessions-content -->