<div id="champ-progress-report" class="contentblock {% if selected_tab != "progress-reports" %}hidden{% endif %}">
    <div class="data_msng" id="id_progress_report_content">
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
    <div style="text-align: center;">
            <div id="id_progress_report_content_pagination"></div>
    </div>
</div><!-- @end #report-content -->
<script>
{% if selected_tab == "progress-reports" %}
History.replaceState({}, null, "?tab=progress-reports");
load_tutor_section_contents({"section": "progress_reports"},function(data) {
    $("#id_progress_report_content").html(data.data.content);
    content_cache["id_progress_report_content"] = true;
    //my_pagination("id_student_active_pagination","id_student_active_content","students_active",1,data.data.extra.total_pages,8);
},
function(jqxhr, status, error) {

},
function(msg) {

});
{% endif %}
</script>