<div id="review-content" class="contentblock hidden">
    <div class="data_msng" id="my_reviews_content">
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
  </div>
    <div style="text-align: center;">
            <div id="id_my_reviews_content_pagination"></div>
    </div>
</div><!-- @end #review-content -->