<div id="students-active-content" class="contentblock {% if selected_tab != "active-students" %}hidden{% endif %}">
    <div class="data_msng" id="id_student_active_content">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
</div><!-- @end #about-content -->

<script>
	$(document).ready(function() {
		$(document).on("click",".student_active_send_message", function(e) {
			e.preventDefault();
			var user_id = $(this).data("user-id");
			var chat_title = $(this).data("user-name");
			window.openChatPopup(0, user_id, chat_title, "online", [ parseInt(user_id) ], "", "", 1);
		});

		{% if selected_tab == "active-students" %}
            load_tutor_section_contents({"section": "students_active"},function(data) {
                console.log(data.data.content);
                $("#students-active-content").find(".data_msng").html(data.data.content);
                content_cache["students-active-content"] = true;
                //my_pagination("id_student_active_pagination","id_student_active_content","students_active",1,data.data.extra.total_pages,8);
            },
            function(jqxhr, status, error) {

            },
            function(msg) {

            });
        {% endif %}

	});
</script>