<div id="top-students" class="contentblock {% if selected_tab != "top-students" %}hidden{% endif %}">
    <div class="data_msng" id="id_top_students">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
</div><!-- @end #about-content -->

<script>
    $(document).ready(function() {
        load_tutor_section_contents({"section": "top_students"},function(data) {
            $("#id_top_students").html(data.data.content);
            content_cache["id_top_students"] = true;
            //my_pagination("id_student_active_pagination","id_student_active_content","students_active",1,data.data.extra.total_pages,8);
        },
        function(jqxhr, status, error) {

        },
        function(msg) {

        });
    });
</script>