<div id="video-content" class="contentblock {% if selected_tab != "my-videos" %}hidden{% endif %}">
    <div class="data_msng" style="padding: 0px;">
          {% include "sections/my_video_intro.html" with my_videos=my_videos %}
  </div>
</div><!-- @end #video-content -->