{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/theme/smoothness/jquery-ui.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}"/>
<style>
    .tags {
        width: auto;
    }
    .job-post-rate {
        width: 48% !important;
        margin-left: 4px !important;
        color: #202020;
        float: left;
    }
    .job-post-rate[placeholder] {
        color: #5A5757 !important;
    }
    .rate-span {
        float: left;
        margin-top: 17px;
    }
    .champ_jobsedit_textarea {
        margin-bottom: 0px !important;
    }
    .select2-container {
        height: 57px !important;
    }
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
        height: 57px !important;
    }
    .select2-container--default .select2-selection--single {
        height: 57px !important;
    }
    .select2-selection__placeholder {
        font: 16px/21px 'HelveticaNeueLTStd-Light';
        color: #5A5757 !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 45px !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 36px !important;
        font: 16px/21px 'HelveticaNeueLTStd-Light';
    }
    #id_subject_container .select2-container {
        width: 455px !important;
    }
    #datepicker, #datepicker1 {
        width: 98% !important;
    }
    #id_title {
        width: 100% !important;
    }
    .select2-container {
        width: 100% !important;
        box-sizing: box-sizing !important;
    }
    .rate-span .select2-container {
        width: 50% !important;
        float: left;
        box-sizing: box-sizing !important;
    }
    .select2-container--default .select2-results>.select2-results__options {
        overflow-x: hidden !important;
    }
    .select2-selection__rendered{
        #a6a6a6 !important
    }
    .error_status {
        margin-top: 2px !important;
    }
    form.champ_jobsedit_form div input {
        color: #353131 !important;
    }

    .select2-dropdown {
            z-index: 1 !important;
        }

</style>
<h3 class="champ_jobs_heading">{% if job %}Job Edit(#{{ job.pk }}){% else %}Job Post{% endif %}</h3>
<form action="#" name="lesson-post-form" method="POST" class="champ_jobsedit_form" enctype="multipart/form-data">
    {% csrf_token %}
    {% if job %}
    <input type="hidden" name="job_id" value="{{ job.pk }}"/>
    {% else %}
    <input type="hidden" name="job_id" value="-1"/>
    {% endif %}
    <div>
        <label class="champ_jobsedit_label">Select lesson type</label>
        <div class="champ_select_lesson">
            <select class="job_post_lesson_type" name="job_post_lesson_type">
                <option value="online" {% if job and job.lesson_type == 0 %} selected{% endif %}>Live Lesson</option>
                <option value="written" {% if job and job.lesson_type == 1 %} selected{% endif %}>Written Lesson</option>
            </select>
        </div>
    </div>
    <div>
        <label class="champ_jobsedit_label">Enter lesson title</label>
        {{ job_post_form.title }}
        <div class="error_status">
        </div>
    </div>
    <label class="champ_jobsedit_label">Enter the job description here. Write a specific detail of your lesson.</label>
    {{ job_post_form.description }}
    <div class="error_status">
    </div>

    <span class="background_shade">
    <div>
        <label class="champ_jobsedit_label">Job will expire on</label>
        {{ job_post_form.job_end_date }}
        <div class="error_status">
        </div>
    </div>
    <div>
        <label class="champ_jobsedit_label">Lesson Start Date</label>
        {{ job_post_form.lesson_start_date }}
        <div class="error_status">
        </div>
    </div>
    <div>
        <label class="champ_jobsedit_label">Lesson Start Time</label>
        <input readonly="readonly" type="text" name="lesson_time" id="id_lesson_time" placeholder="Enter time" {% if lesson_start_time %}value="{{ lesson_start_time }}"{% endif %}>
        <div class="error_status">
        </div>
    </div>
    <div>
        <label class="champ_jobsedit_label">Level to be tutored</label>
        <div class="champ_select_lesson" style="background: none; border: none;">
        {{ job_post_form.level }}
        </div>
        <div class="error_status">
        </div>
    </div>
    <div style="width: 100%;" id="id_subject_container">
        <label class="champ_jobsedit_label">Subjects to be tutored</label>
        {{ job_post_form.subject }}
        <div class="error_status" style="float: left; width: 100%;">
        </div>
        <ul class="block_tags american_section">
            {% for s in subjects %}
                <li><input type="hidden" name="subject-list[]" value="{{ s.name }}">
                    <p>{{ s.name }}</p> <a class="champ_cross" href="javascript:void(0);">
                        <img width="8" height="8" alt="cross" src="/static/images/champ_cross.png"></a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <label class="champ_jobsedit_label">Lesson Repeat</label>
            <div class="champ_select_lesson" style="border: none;">
            {{ job_post_form.lesson_repeat }}
        </div>
    </div>
    <div>
        <label class="champ_jobsedit_label">Select Lesson Duration</label>
        <div class="champ_select_lesson" style="border: none;">
        {{ job_post_form.duration }}
        </div>
    </div>
    </span>


    <div>
        <label class="champ_jobsedit_label">Tutor’s gender preference</label>
        <div class="champ_select_lesson" style="border: none;">
        {{ job_post_form.gender }}
        </div>
    </div>
    <div id="id_language_container">
        <label class="champ_jobsedit_label">Preferred Conversational Language</label>
        {{ job_post_form.languages }}
        <ul class="block_tags american_section">
            {% for l in languages %}
            <li><input type="hidden" name="languages-list[]" value="{{ l.pk }}">
                <p>{{ l.name }}</p> <a class="champ_cross" href="javascript:void(0);">
                    <img width="8" height="8" alt="cross" src="/static/images/champ_cross.png"></a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <label class="champ_jobsedit_label">Tutor’s time zone difference</label>
        {{ job_post_form.timezone }}
        <!--<div class="error_status">-->
        <!--</div>-->
        <ul class="block_tags american_section">
            {% if timezones %}
                {% for tz in timezones %}
                <li><input type="hidden" name="timezone-list[]" value="{{ tz.pk }}"><p>
                    {% if tz.tz_offset >= 0 %}
                    ( UTC + {{ tz.tz_offset }} ) {{ tz.tz }}
                    {% else %}
                    ( UTC - {{ tz.tz_offset }} ) {{ tz.tz }}
                    {% endif %}
                </p> <a class="champ_cross" href="javascript:void(0);">
                    <img width="8" height="8" alt="cross" src="/static/images/champ_cross.png"></a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div data-basecurrency="{{ base_currency }}" data-targetcurrency="{{ target_currency }}" data-conversion-enabled="{{ conversion_enabled }}">
        <label class="champ_jobsedit_label">Your Budget</label>
        <span class="rate-span" style="margin-top: 0px;">
            <select name="currency" class="select2" style="width: 49%; float: left;">
            {% for c in currency_list %}
                {% if currency == c.code %}
                <option value="{{ c.code }}" {% if currency == c.code %}selected{% endif %}>{{ c.code.upper }}</option>
                {% endif %}
            {% endfor %}
            </select>
            {{ job_post_form.rate }}
            <div class="error_status" style="margin-left: 45%;">
            </div>
        </span><!--{{ job_post_form.rate2 }}!-->
        <p id="id_cconverter_container" style="width: 100% !important; text-align: center; position: relative; top: 3px; display: none;">
            <span id="id_target_currency">USD</span> $<span id="id_ratec_1"></span> - <span id="id_ratec_2"></span>
        </p>
    </div>
    <span class="background_shade">
    <div>
        <label class="champ_jobsedit_label">Tutor’s nationality preference</label>
        {{ job_post_form.nationality }}
        <ul class="block_tags american_section">
            {% for n in nationalities %}
            <li><input type="hidden" name="nationality-list[]" value="{{ n.pk }}"><p>{{ n.name }}</p> <a class="champ_cross" href="javascript:void(0);">
                <img width="8" height="8" alt="cross" src="/static/images/champ_cross.png"></a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <label class="champ_jobsedit_label">Tutor’s availability status</label>
        <div class="champ_select_lesson" style="border: none;">
        {{ job_post_form.availability }}
        </div>
    </div>
    <div style="width: 100%;">
        <div style="width: 49%; float: left;">
            <label class="champ_jobsedit_label">Add your study partners</label>
            <select class="form-control" name="study_partners" id="add_study_partners">
            </select>
            <div class="tags language_tag study_parners">
                {% for s in other_students %}
                <a href="javascript:void(0);">{{ s.champuser.fullname }}<span class="cross tag_close tag_study_partners"><input type="hidden" name="study_partners-list[]" value="{{ s.pk }}"></span></a>
                {% endfor %}
            </div>
        </div>
        <div style="width: 49%; float: left; margin-left: 7px;">
            <label class="champ_jobsedit_label">Who will pay for this lesson?</label>
            <div class="champ_select_lesson" style="border: none;">
            <select name="payer" class="select2" id="id_lesson_payer">
                <option value="{{ request.user.pk }}" {% if payer.pk == request.user.pk %}selected{% endif %}>I will pay for this lesson</option>
                {% for s in other_students %}
                <option value="{{ s.pk }}"  {% if payer.pk == s.pk %}selected{% endif %}>{{ s.champuser.fullname }}</option>
                {% endfor %}
            </select>
            </div>
        </div>
    </div>
    </span>
    <div style="width: 100%; margin-bottom: 0px !important;">
        <div>
            <div id="id_file_input_container">
                <button class="btn btn-primary" id="id_job_post_attach_file"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Attach File(s)</button>
                <br>
                <p class="pull-left">Maximum 5 files can be uploaded.</p>
                <input type="file" name="written_file" class="form-control pull-left" id="id_job_post_attached_file" style="display: none;"/>
            </div>
            <div id="id_job_post_attached_files" class="pull-left" style="padding: 3px; margin-top: 1px;width: 100%;">
                {% for attachment in job.job_attachment.all %}
                <div style="width: 100%; margin-top: 4px; padding: 10px;">
                    <span style="width: 230px;" class="pull-left">{{ attachment.attachment_name }}</span>
                    <i class="glyphicon glyphicon-remove pull-right cancel-file" data-index="1" style="cursor: pointer;"></i></div>
                <input type="file" name="written_file{{ forloop.counter }}" class="form-control pull-left" id="undefined" style="display: none;">
                {% endfor %}
            </div>
            <div id="id_max_size_hint" style="display: none; width: 100%; float: left; clear: both;">
                <p style="color: red;">
                    Maximum 20MB is allowed
                </p>
            </div>
        </div>
        <div style="display: none;"><input type="hidden" name="fcount" value=""/></div>
    </div>
    <span class="widthfull"><input name="job_post_button" type="submit" value="SUBMIT"></span>
</form>
<script>
    window.file_index = {% if job.job_attachment.exists %}{{ job.job_attachment.all.count|add:1 }}{% else %}1{% endif %};
    window.files_count = {% if job.job_attachment.exists %}{{ job.job_attachment.all.count }}{% else %}0{% endif %};
</script>
<script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
<script src="{% static "js/select2.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/jobs/job_create.css" %}"/>
<script src="{% static "js/jobs/job_create.js" %}"></script>
<script src="{% static "js/jquery.datetimepicker.full.js" %}"></script>
<script src="{% static "js/lib/rate_api.js" %}"></script>
<script>
$('#id_lesson_time').datetimepicker({
	datepicker:false,
	format:'H:i',
	step:5
});

</script>
<script>
  $(document).ready(function() {
    $("#datepicker,#datepicker1").datepicker();
    window.edit_mode = false;
    window.level_triggered_first_time = false;
    {% if job %}
    window.edit_mode = true;
    $("#id_level").change();
    {% endif %}
  });
  </script>