.job_post_form input {
    width: 300px;
    padding: 7px;
    min-height: 30px;
}
.job_post_form select {
    padding: 7px;
    min-height: 40px;
    cursor: pointer;
}

.error {
    border: 1px solid red;
}

.error_status {
    color: red;
    display: none;
}

.select2-container--default .select2-selection--single{
    padding:6px;
    height: 37px;
    width: 300px;
    font-size: 1.2em;
    position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    <!--background-image: -khtml-gradient(linear, left top, left bottom, from(#424242), to(#030303));-->

    <!--background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #424242), color-stop(100%, #030303));-->
    <!--background-image: -webkit-linear-gradient(top, #424242, #030303);-->
    <!--background-image: -o-linear-gradient(top, #424242, #030303);-->
    <!--background-image: linear-gradient(#424242, #030303);-->
    <!--width: 40px;-->
    <!--color: #fff;-->
    <!--font-size: 1.3em;-->
    <!--padding: 4px 12px;-->
    <!--height: 35px;-->
    <!--position: absolute;-->
    <!--top: 0px;-->
    <!--right: 0px;-->
    <!--width: 20px;-->
}

.select2-selection__placeholder {
    font-weight: normal;
    color: black;
}

.hint {
    padding: 7px; font-weight: bold;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    background: white;
}
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
* html .ui-autocomplete {
    height: 100px;
}

.inline input {
    width:  100px;
}

.inline select {
    width:  200px;
}

.job_post_lesson_type option {
    padding: 7px !important;
}

.form-group {
    width: 100%;
}

form.champ_jobsedit_form div input { width:90.5%; height: 57px; float:left; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: rgba(255,255,255,1); color:#a6a6a6; font:16px/21px 'HelveticaNeueLTStd-Light'; border: solid 1px #dfdfdf; padding:0 20px; display:inline; }

.select2-container--default .select2-selection--single, .select2-dropdown, .select2-container--default .select2-search--dropdown .select2-search__field { border: 1px solid #EDE9E9 !important; }
.select2-container--default .select2-selection--single { width: auto; }