{% load staticfiles %}
{% load datefilters %}
{% load tz %}

<script type="text/javascript">

    function open_subject_rate_settings(options){
      $.colorbox(options);
    }

    $(document).ready( function() {

        var options =  {
            iframe:true,
            opacity: 0.1,
            width: "90%",
            height: "90%",
            maxWidth: "90%",
            maxHeight: "90%",
            scrolling: false,
            photo: true,
            escKey: false,
            fixed: false,
            overlayClose: false,
            onOpen:function(){ },
            onLoad:function(){ },
            onComplete:function(){ },
            onCleanup:function(){ },
            onClosed:function(){ }
        };

        options["width"] = "900px";
        options["height"] = "570px";

        $("#id_teaching_experience").colorbox(options);

        options["width"] = "900px";
        options["height"] = "570px";

        $("#id_extra_curricular_interest").colorbox(options);

        options["width"] = "800px";
        options["height"] = "540px";

        $("#id_top_subjects").colorbox(options);

        $(".edit-top-course").colorbox(options);

        options["width"] = "90%";
        options["height"] = "90%";
        options["maxWidth"] = "90%";
        options["maxHeight"] = "90%";

        $("#id_school_attended").colorbox(options);

        $(".edit-school").colorbox(options);

        options["width"] = "900px";
        options["height"] = "650px";
        //options["scrolling"] = true;

        $("#id_edit_profile_info").colorbox(options);

        options["scrolling"] = false;
        options["height"] = "635px";

        $("#id_nid_verification").colorbox(options);

        options["width"] = "800px";
        options["height"] = "600px";

        $("#id_profile_rate").colorbox(options);

        $(".edit-profile-rate").colorbox(options);

        $("#id_profile_summary_rate").colorbox(options);


        $("#id_edit_subject_rates").click(function(e) {
            e.preventDefault();
            options["href"] = "{% url "ajax_subject_rate_view" %}";
            options["width"] = "1000px";
            options["height"] = "560px";
            open_subject_rate_settings(options);
        });

    });

</script>
    <style type="text/css">

        #cboxLoadedContent::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }
    </style>
<div class="">
        <div class="top_img_section">
            <script>
                $(document).ready(function(){
                    $(".img_box").hover(function(){
                        $("#id_change_pp").css("opacity","1.0");
                    },function(){
                        $("#id_change_pp").css("opacity","0.1");
                    });
                    $("#id_change_pp").hover(function(){
                        $(this).css("opacity","1.0");
                    },function(){
                        $("#id_change_pp").css("opacity","0.1");
                    });

                    $("#id_change_pp").click(function(e) {
                        e.preventDefault();

                    });

                });
            </script>
            <div class="img_box radius3">
                {% if content_editable %}
                    <a id="id_change_pp" class="button btn text-center" style="color:white;width: 193px; padding: 3px; background: black; opacity: 0.1;" href="#">
                        <img width="11" height="12" alt="img" src="{% static "images/edit-gray.png" %}"> Change Profile Picture</a>
                {% endif %}
                <img id="id_cropped_pp_thumb" src="{{ object.render_profile_picture }}"/>
            </div>
            <div class="img_detail" {% if content_editable %}style="margin-left: 20px;margin-top: 0px;"{% endif %}>
                <a href="{% url "user_profile" pk=object.user.pk %}"> {{ object.fullname }} <span style="font-size: 17px;">(ID {{ object.user.pk }})</span>
                    {% if content_editable %}
                        <span href="{% url "ajax_update_profile_info" %}" style="cursor: pointer; " id="id_edit_profile_info" class="right-top">
                            <img width="11" height="12" alt="img" src="{% static "images/edit-gray.png" %}">
                        </span>
                    {% endif %}</a>

                <span class="british">
                    {% if champ_user.nationality %}
                    <img src="/static/images/flags/32/{{ champ_user.nationality.name }}.png" width="23" height="16" alt="img" style="width: 23px; height: 16px;"/>
                    {{ champ_user.nationality.name }}
                    {% endif %}
                    {% with min_currency=champ_user.render_min_currency %}
                        {% if min_currency %}
                             | {{ champ_user.render_tutor_profile_currency }} {{ min_currency }} - {{ champ_user.render_max_currency }}
                        {% endif %}
                    {% endwith %}
                </span>
                {% with champ_user.render_last_education as last_school %}
                    {% if last_school %}<span class="university"><span id="id_ps_university">{{ last_school.institution.name }}</span></span>{% endif %}
                    {% if last_school %}<span class="major"><em>Major :</em> <span id="id_ps_major">{{ last_school.major.name }}</span></span>{% endif %}
                {% endwith %}
                <ul class="grade">
                    <li style="margin-right: 13px;"><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"/>
                        {% with feedback_count=champ_user.positive_feedback_count %}{% if feedback_count %}<span>{{ feedback_count }}</span>{% else %}<span>-</span>{% endif %}{% endwith %}</li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"/>
                    {% with feedback_count=champ_user.negative_feedback_count %}{% if feedback_count %}<span>{{ feedback_count }}</span>{% else %}<span>-</span>{% endif %}{% endwith %}</li>
                </ul>

                {% if content_editable %}
                {% if not profile_verification_status or profile_verification_status == 0 %}
                <a href="{% url "ajax_verification_view" %}?title=nid" {% if content_editable %} id="id_nid_verification" {% endif %} class="verified radius3" style="width: 200px;" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Not Verified <span>
                {% if content_editable %} Your national registration identity card has not been verified. Click here to upload a scanned copy of your National Identity Card.
                {% else %}
                National Identity card has not been verified yet.
                {% endif %}</span> </a>
                {% elif profile_verification_status == 1 %}
                <a href="#" class="verified radius3" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Verified <span>National registration identity card has been verified</span> </a>
                {% elif profile_verification_status == 2 %}
                <a href="#" class="verified radius3" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Verification IN Progress <span>National registration identity card verification is in progress.</span> </a>
                {% elif profile_verification_status == 3 %}
                <a style="width: 70%" href="{% url "ajax_verification_view" %}?title=nid" id="id_nid_verification" class="verified radius3" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Not Verified <span>
                {% if content_editable %}
                Tutor's national registration identity card has not been verified. Click here to upload a scanned copy of your National Identity Card.
                {% else %}
                National Identity card has not been verified yet.
                {% endif %}
                </span> </a>
                {% elif profile_verification_status == 4 %}
                <a href="#" class="verified radius3" style="width: 90%" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Verification IN Progress <span>
                    {% if content_editable %}
                    Your national identity card verification is in progress. You have submitted your ID card. It will be checked and verified. Once done you will be notified by email or message.
                    {% else %}
                    National Identity card verification is in progress
                    {% endif %}
                </span> </a>
                {% endif %}
                </a>
                {% else %}
                {% if profile_verification_status == 1 %}
                <a href="#" class="verified radius3" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Verified <span>National registration identity card has been verified</span> </a>
                {% endif %}
                {% endif %}

                <script>
                    function UpdateProfileRate(min_rate,max_rate){
                        $("#id_ps_rate").text("$"+min_rate+"-"+max_rate);
                    };
                    function UpdateProfileSummary(name,nid,nationality,school,session,major){
                        $("#id_ps_fullname").text(name);
                        $("#id_ps_nationality").text(nationality);
                        $("#id_ps_nationality").parent().find("img").prop("src","/static/images/flags/32/"+nationality+".png");
                        $("#id_ps_university").text(school);
                        $("#id_ps_session").text(session);
                        $("#id_ps_major").text(major);
                    }
                </script>
            </div>



        </div>

        <div id="id_newsfeed_major" class="tags" style="width: 100%; padding: 0px; margin-top: 0px; margin-bottom: 20px;">
            <h3>
                <img src="{% static "images/teaching_icon.png" %}" width="16" height="28" alt="img"> Teaching Subjects {% if content_editable %}
                <span id="id_edit_subject_rates" style="cursor: pointer;">
                <img width="11" height="12" alt="img" src="{% static "images/edit-gray.png" %}">
                </span>{% endif %}
            </h3>
            <div class="txt" style="margin-top: 4px;">
            <div style="width: 48%; float: left; margin-right: 13px;">
                {% for subject_rate in subject_rates %}
                    {% if subject_rate.rate and subject_rate.currency %}
                    <div style="width: 100%; float: left; margin-top: 3px; border-right: 1px dotted gray;">
                          <h3 style="font-size: 14px; font-weight: bold;" title="{{ subject_rate.level }}">{{ subject_rate.level|truncatechars:23 }}( {{ subject_rate.currency }} {{ subject_rate.rate|floatformat:2 }} )</h3>
                          <p style="font-size: 13px;">
                              {{ subject_rate.subjects|safe }}
                          </p>
                     </div>
                    {% else %}
                    <div style="width: 100%; float: left; margin-top: 3px; border-right: 1px dotted gray;">
                          <h3 style="font-size: 14px; font-weight: bold;" title="{{ subject_rate.level }}">{{ subject_rate.level|truncatechars:23 }}</h3>
                          <p style="font-size: 13px;">
                              {{ subject_rate.subjects|safe }}
                          </p>
                     </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div style="width: 48%; float: left;">
                {% for subject_rate in subject_rates2 %}
                    {% if subject_rate.rate and subject_rate.currency %}
                     <div style="width: 100%; float: left; margin-top: 3px;">
                          <h3 style="font-size: 14px; font-weight: bold;" title="{{ subject_rate.level }}">{{ subject_rate.level|truncatechars:23 }}( {{ subject_rate.currency }} {{ subject_rate.rate|floatformat:2 }} )</h3>
                          <p style="font-size: 13px;">
                              {{ subject_rate.subjects|safe }}
                          </p>
                     </div>
                    {% else %}
                    <div style="width: 100%; float: left; margin-top: 3px;">
                          <h3 style="font-size: 14px; font-weight: bold;" title="{{ subject_rate.level }}">{{ subject_rate.level|truncatechars:23 }}</h3>
                          <p style="font-size: 13px;">
                              {{ subject_rate.subjects|safe }}
                          </p>
                     </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if not subject_rates and not subject_rates2 %}
                <p class="txt">No teaching subjects available</p>
            {% endif %}
            </div>
        </div>

    </div>
    <div style="border-top: 1px solid #dee3e8; width: 100%; height: 2px; float: left; clear: both;"></div>
    <div class="padding20" style="width: 100%; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 20px; padding-bottom: 20px;">
        <h3> <img src="{% static "images/teaching_icon.png" %}" width="16" height="28" alt="img"> Teaching Experience{% if content_editable %}&nbsp;
            {% if content_editable %}<a href="{% url "ajax_teaching_experience" %}"  id="id_teaching_experience">
                <img width="11" height="12" alt="img" src="{% static "images/edit-gray.png" %}">
            </a>{% endif %}
        {% endif %}
        </h3>
        <p class="txt" id="id_teaching_experience_content" style="padding: 0px; word-break: break-all;">
            {% if teaching_experiences and teaching_experiences.experience %}
                {{ teaching_experiences.experience|safe }}
            {% else %}
                <p style="padding: 10px;">No Teaching Experiences Available.</p>
            {% endif %}
        </p>
    </div>
    <script>
        function update_teaching_experiences(data){
            $("#id_teaching_experience_content").html(data);
        }
    </script>
    <div style="width: 100%; height: 2px; float: left; clear: both;"></div>
    <div class="padding20" style="width: 100%; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 20px; padding-bottom: 20px;">
        <h3> <img src="{% static "images/extra_curricular_icon.png" %}" width="34" height="34" alt="img"> Extracurricular Interests {% if content_editable %}<a href="{% url "ajax_extra_curricular_interest" %}"  id="id_extra_curricular_interest">
            <img width="11" height="12" alt="img" src="{% static "images/edit-gray.png" %}">
        </a>{% endif %}</h3>
        <p class="txt" id="id_extra_curricular_interest_content" style="padding: 0px; word-break: break-all;">
            {% if extra_curricular_interest and extra_curricular_interest.interest %}
                {{ extra_curricular_interest.interest|safe }}
            {% else %}
                <p style="padding: 10px;">No Extra Curricular Interest Available.</p>
            {% endif %}
        </p>
    </div>
    <script>
        function update_extra_curricular_interest(data){
            $("#id_extra_curricular_interest_content").html(data);
        }
    </script>
    <style>
        .close {
            font-size: 20px;
            font-weight: bold;
            line-height: 18px;
            color: #000000;
            text-shadow: 0 1px 0 #ffffff;
            opacity: 0.2;
            filter: alpha(opacity=20);
            text-decoration: none;
        }
        .close:hover {
            color: #000000;
            text-decoration: none;
            opacity: 0.4;
            filter: alpha(opacity=40);
            cursor: pointer;
        }
    </style>
    <div class="padding20"  style="width: 100%; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 20px; ">
        {#                            <h3><img src="{% static "images/skul_attended_icon.png" %}" width="20" height="21"#}
        {#                                     alt="img"> School attended  {% if content_editable %}<a href="{% url "ajax_school_attended" %}"  id="id_school_attended">Add</a>{% endif %} </h3>#}
        <!-- <div class="txt"><img src="{% static "images/skul_attended_icon.png" %}" width="20" height="21" alt="img"><b style="margin-bottom: 3px; font-size: 16px;">School attended: </b>{% if content_editable %}&nbsp;
            {% if content_editable %}<a href="{% url "ajax_school_attended" %}"  id="id_school_attended"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}
        {% endif %}
        </div> -->

        <h3> <img src="{% static "images/skul_attended_icon.png" %}" width="20" height="21" alt="img"> School attended {% if content_editable %}<a href="{% url "ajax_student_education" %}"  id="id_school_attended"><span style="font-size: 23px; font-weight: bold; ">+</span></a>{% endif %}</h3>

        <div id="id_school_attended_content1" style="">
            {% for education in educations %}
                <div class="txt">
                    <div style="margin-bottom: 20px; ">
                    <h3 class="hdng_inr" style="font-size: 17px; font-weight: bold; width: 90%; margin: 0px;">  <span class="chicago">{{ education.institution.name }}, {{ education.location }}</span>
                    </h3>
                    {% if content_editable %}
                        <a style="float: right; position: relative; top: 23px;" class="close close-education">
                        <img width="11" height="12" alt="img" src="{% static "images/close_black.png" %}">
                        </a>
                        <a class="edit-school" style="float: right; position: relative; top: 23px; right: 7px;" href="{% url "ajax_student_education" %}?id={{ education.id }}">
                            <img width="11" height="12" alt="img" src="{% static "images/edit-gray.png" %}">
                        </a>
                    {% endif %}
                    {% if education.is_current == 1 %}
                        <p>Year: {{ education.date_attended|fromunix|localtime|format_datetime2:"%b %d, %Y" }} - Present</p>
                    {% else %}
                        <p>Year: {{ education.date_attended|fromunix|localtime|format_datetime2:"%b %d, %Y" }} - {{ education.end_year|fromunix|localtime|format_datetime2:"%b %d, %Y" }}</p>
                    {% endif %}
                    </div>
                <input type="hidden" class="hidden_education_id" value="{{ education.id }}"/>
                </div>

            {% empty %}
                <div class="txt"><p style="padding-bottom: 20px;">No Education Info Available.</p></div>
            {% endfor %}
        </div>
    </div>
    <script>
        function add_education(data){
            $(".no-edu-info").hide();
            console.log("Here: "+data);
            $("#id_school_attended_content").append(data);
        }
        $(document).ready(function(){

            var education_ajax_delete = function(edu_id,callback,error_back,complete_back){
                $.ajax({
                    type: "GET",
                    url: "/ajax/school_attended",
                    data: { sid: edu_id },
                    success: function(data)
                    {
                        callback(jQuery.parseJSON(data));
                    },
                    error: function(jqxhr, status, error)
                    {
                        error_back(jqxhr, status, error);
                    }
                })
                .done(function( msg ) {
                    complete_back(msg);
                });
            };

            $(document).on("click",".close-education",function(e){

                var edu_id = $(this).parent().find(".hidden_education_id").val();

                var _this_obj = $(this);

                education_ajax_delete(edu_id,function(data){
                            if(data.status == "SUCCESS"){
                                BootstrapDialog.show({
                                    title: 'Education Record Deleted',
                                    message: 'Your profile is successfully updated',
                                    closable: false,
                                    size: BootstrapDialog.SIZE_NORMAL,
                                    buttons: [
                                        {
                                            label: 'Okay',
                                            cssClass: 'btn btn-md btn-primary width120',
                                            action: function(dialogRef) {
                                                _this_obj.parent().fadeOut(500).remove();
                                                dialogRef.close();
                                                parent.$.colorbox.close();
                                            }
                                        },
                                        {
                                            label: 'Cancel',
                                            cssClass: 'btn btn-md btn-warning width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        }]
                                });
                            }
                            else{
                                BootstrapDialog.show({
                                    title: 'Education record delete failed',
                                    message: 'The requested operation was failed. The following error occured while updating your education info: <br><b>'+data.message+'</b>. <br>Please correct the above error and try agin.',
                                    closable: false,
                                    type: BootstrapDialog.TYPE_WARNING,
                                    size: BootstrapDialog.SIZE_NORMAL,
                                    buttons: [
                                        {
                                            label: 'Okay',
                                            cssClass: 'btn btn-md btn-primary width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        },
                                        {
                                            label: 'Cancel',
                                            cssClass: 'btn btn-md btn-warning width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        }]
                                });
                            }
                        },
                        function(jqxhr, status, error){
                            BootstrapDialog.show({
                                title: 'Education record delete failed',
                                message: 'An error occurred while performing the requested operation. Please check the input carefully or try again later.',
                                closable: false,
                                type: BootstrapDialog.TYPE_DANGER,
                                size: BootstrapDialog.SIZE_NORMAL,
                                buttons: [
                                    {
                                        label: 'Okay',
                                        cssClass: 'btn btn-md btn-primary width120',
                                        action: function(dialogRef) {
                                            dialogRef.close();
                                        }
                                    },
                                    {
                                        label: 'Cancel',
                                        cssClass: 'btn btn-md btn-warning width120',
                                        action: function(dialogRef) {
                                            dialogRef.close();
                                        }
                                    }]
                            });
                        },
                        function(msg){

                        });
            });

        });
    </script>



    <div class="padding20" style="border-bottom: none; width: 100%; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 20px;">

        <h3> <img src="{% static "images/top_subject2_icon.png" %}" width="19" height="21" alt="img"> Top Subjects {% if content_editable %}<a href="{% url "ajax_top_subjects" %}"  id="id_top_subjects">
            <span style="font-size: 23px; font-weight: bold; ">+</span>
            </a>{% endif %}</h3>

        <div id="id_top_subjects_content">
            {% for top_course in top_courses %}
                <div style="width: 100%; clear: both;">
                    <h3 style="font-size: 17px; font-weight: bold;"> {{ top_course.subject.name }} ({{ top_course.level.name }})
                    <input type="hidden" class="user_top_course_hidden_id" value="{{ top_course.id }}"/>
                        {% if content_editable %}
                            <a style="float: right;" class="close close-top-subject">x</a>
                            <a href="{% url "ajax_top_subjects" %}?id={{ top_course.pk }}" style="float: right; margin-top: 3px; margin-right: 3px;" class="close edit-top-course">
                                <img width="11" height="12" alt="img" src="{% static "images/edit-gray.png" %}">
                            </a>
                        {% endif %}
                    </h3>
                    <p class="txt">{{ top_course.description }}</p>
                </div>
            {% empty %}
                <p class="txt">No Top Courses Added.</p>
            {% endfor %}
        </div>

        <script>
            function add_top_subject(data,id){

            };
            $(document).ready(function(){
                var top_course_ajax_delete = function(user_top_course_id, action, callback,error_back,complete_back){
                    $.ajax({
                        type: "GET",
                        url: "/ajax/top_subjects",
                        data: { id: user_top_course_id, action: action },
                        success: function(data)
                        {
                            callback(jQuery.parseJSON(data));
                        },
                        error: function(jqxhr, status, error)
                        {
                            error_back(jqxhr, status, error);
                        }
                    })
                    .done(function( msg ) {
                        complete_back(msg);
                    });
                };

                $(document).on("click",".close-top-subject",function(e){

                    var course_id = $(this).parent().find(".user_top_course_hidden_id").val();

                    var _this_obj = $(this);

                    top_course_ajax_delete(course_id, "REMOVE", function(data){
                                if(data.status == "SUCCESS"){
                                    BootstrapDialog.show({
                                        title: 'Course Removed Successfully',
                                        message: 'You have successfully removed your course. You can update your profile any time by logging into your account.',
                                        closable: false,
                                        size: BootstrapDialog.SIZE_NORMAL,
                                        buttons: [
                                            {
                                                label: 'Okay',
                                                cssClass: 'btn btn-md btn-primary width120',
                                                action: function(dialogRef) {
                                                    _this_obj.parent().parent().fadeOut(500).remove();
                                                    dialogRef.close();
                                                    location.reload();
                                                }
                                            },
                                            {
                                                label: 'Cancel',
                                                cssClass: 'btn btn-md btn-warning width120',
                                                action: function(dialogRef) {
                                                    dialogRef.close();
                                                    location.reload();
                                                }
                                            }]
                                    });
                                }
                                else{
                                    BootstrapDialog.show({
                                        title: 'Course remove failed',
                                        message: 'The requested operation was failed. The following error occured while updating your education info: <br><b>'+data.message+'</b>. <br>Please correct the above error and try agin.',
                                        closable: false,
                                        type: BootstrapDialog.TYPE_WARNING,
                                        size: BootstrapDialog.SIZE_NORMAL,
                                        buttons: [
                                            {
                                                label: 'Okay',
                                                cssClass: 'btn btn-md btn-primary width120',
                                                action: function(dialogRef) {
                                                    dialogRef.close();
                                                }
                                            },
                                            {
                                                label: 'Cancel',
                                                cssClass: 'btn btn-md btn-warning width120',
                                                action: function(dialogRef) {
                                                    dialogRef.close();
                                                }
                                            }]
                                    });
                                }
                            },
                            function(jqxhr, status, error){
                                BootstrapDialog.show({
                                    title: 'Course remove failed',
                                    message: 'An error occurred while performing the requested operation. Please check the input carefully or try again later.',
                                    closable: false,
                                    type: BootstrapDialog.TYPE_DANGER,
                                    size: BootstrapDialog.SIZE_NORMAL,
                                    buttons: [
                                        {
                                            label: 'Okay',
                                            cssClass: 'btn btn-md btn-primary width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        },
                                        {
                                            label: 'Cancel',
                                            cssClass: 'btn btn-md btn-warning width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        }]
                                });
                            },
                            function(msg){

                            });
                });

            });
        </script>
    </div>
    <div class="padding20" style="border-bottom: none; width: 100%; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 20px;">

        <h3> <img src="{% static "images/top_subject2_icon.png" %}" width="19" height="21" alt="img"> Written and Spoken Language</h3>

        <div id="id_language_content">
            <div style="clear: both; width: 100%;">
                <ul class="champ_ready_teach" id="id_language_tags" {% if not champ_user.languages.exists %}style="margin-top: 5px !important; "{% endif %}>
                    {% for planguage in champ_user.languages.all %}
                      <li>
                          <label>{{ planguage.language.name.capitalize }}
                              <span data-lp_id="{{ planguage.pk }}" class="remove_lan pull-right" style="cursor: pointer; top: 13px; opacity: 0.2; ">
                                  <img style="margin-left: 3px;" width="11" height="12" src="{% static "images/close_black.png" %}" width="40" height="40"/>
                              </span>
                            {% if planguage.proficiency == 1 %}
                            <small>( Below Average )</small>
                            {% elif planguage.proficiency == 2 %}
                            <small>( Average )</small>
                            {% elif planguage.proficiency == 3 %}
                            <small>( Fluent )</small>
                            {% endif  %}
                          </label>
                      </li>
                      {% empty %}
                      No language found
                      {% endfor %}
                </ul>
                {% if content_editable %}
                <div>
                    <a id="id_add_lang_btn" href="#" class="btn btn-sm btn-primary" style="float: left; color: white;">Add Language</a>
                </div>
                {% endif %}
                <div id="id_lang_option_container" style="display: none;">
                    <select class="form-control select2" id="id_language_select">
                        {% for language in languages %}
                        <option value="{{ language.code }}">{{ language.name }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control" style="margin-top: 13px;" id="id_lan_level">
                        <option value="1">Below Average</option>
                        <option value="2">Average</option>
                        <option value="3">Fluent</option>
                    </select>
                    <div style="width: 100%; clear: both; float: left; ">
                    <a id="id_submit_lang_btn" href="#" class="btn btn-sm btn-primary" style="color: white;">Add</a>
                    <a id="id_cancel_lang_btn" href="#" class="btn btn-sm btn-primary" style="color: white; margin-right: 7px;">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static "js/profile_picture.js" %}"></script>

<script>

    function language_update(data,callback,error_back,complete_back) {
        $.ajax({
            type: "POST",
            url: "/ajax/language-update/",
            data: data,
            enctype: 'multipart/form-data',
            success: function(data)
            {
                callback(jQuery.parseJSON(data));
            },
            error: function(jqxhr, status, error)
            {
                error_back(jqxhr, status, error);
            }
        })
        .done(function( msg ) {
            complete_back(msg);
        });
    }

    $(document).ready(function(){

        $("#id_language_select").select2({ width: 220 });
        $("#id_lan_level").select2({ width: 220 });

        $("#id_add_lang_btn").click(function(e){
            e.preventDefault();
            $(this).hide();
            $("#id_lang_option_container").show();
            return false;
        });

        $("#id_submit_lang_btn").click(function(e){
            e.preventDefault();
            //alert($("#id_language_select").text());
            language_update({"action":"LAN_ADD","lan-code": $("#id_language_select").val(), "lan-level": $("#id_lan_level").val() },
            function(data) {
                //console.log(data);
                if(data.status == "SUCCESS") {
                    var _html = "<li><label>"+ data.data.lang_name +"<span data-lp_id=\""+ data.data.lp_id +"\" class=\"glyphicon glyphicon-remove remove_lan pull-right\" style=\"cursor: pointer; top: 13px;\"></span><small>( "+ data.data.prof_level +" )</small></label></li>";
                    $("#id_language_tags").append(_html);

                }
            },function(jqxhr, status, error) {

            },
            function(msg) {

            });

            $("#id_add_lang_btn").show();
            $("#id_lang_option_container").hide();
            return false;
        });

        $(document).on("click",".remove_lan", function(e) {
           e.preventDefault();
           var lp_id = $(this).data("lp_id");
           var $this = $(this);
           $.ajax({
                type: "POST",
                url: "/ajax/language-delete/",
                data: { lp_id: lp_id },
                enctype: 'multipart/form-data',
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    console.log(data);
                    if(data.status == "SUCCESS") {
                        $this.parent().parent().remove();
                    }
                    else {

                    }
                },
                error: function(jqxhr, status, error)
                {

                }
            })
            .done(function( msg ) {

            });
        });

        $("#id_cancel_lang_btn").click(function(e) {
            e.preventDefault();
            $("#id_add_lang_btn").show();
            $("#id_lang_option_container").hide();
        });

    });
</script>



