<div class="lwr_ftr">
    <div class="wrapper">
        <ul class="prvt_plcy">
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="ftr_txt"> © championtutoronline <br>Except where noted, all rights reserved.</p>

    </div>
</div>