{% load staticfiles %}
<style type="text/css">
    .job-status-list li a {
        font-size: 14px;
        color: green !important;
    }

    .bold_font {
        font-weight: bold;
    }

    .active a {
        font-weight: bold;
    }

</style>
<h4>News Feed({{ all_count }})</h4>
<ul class="list-inline job-status-list" style="display: inline;">
  <input type="hidden" name="action_tab" value="{{ action_tab }}"/>
  <input class="nf_last_dt_item" type="hidden" value="{{ nf_last_dt }}"/>
  <li class="nf_action_tab_item {% if action_tab == "all" %}active{% endif %}" data-nf-section="all"><a href="#">All(<span id="id_nf_all_count" class="bold_font">{{ all_count }}</span>)</a></li>|
  <li class="nf_action_tab_item {% if action_tab == "pending" %}active{% endif %}" data-nf-section="pending"><a href="#">Pending(<span id="id_nf_pending_count" class="bold_font">{{ pending_count }}</span>)</a></li>|
  <li class="nf_action_tab_item {% if action_tab == "answered" %}active{% endif %}" data-nf-section="answered"><a href="#">Answered(<span id="id_nf_answered" class="bold_font">{{ answered_count }}</span>)</a></li>
</ul>
<hr/>
<div id="id_nf_new_item_display_container" class="text-center" style="display: none; padding-top: 3px; padding-bottom: 7px; border-top: 1px solid #DDDDDD; margin-top: 13px;">
    <div>
        <input type="hidden" class="action_tab" value="{{ action_tab }}"/>
        <input class="nf_last_dt_item" type="hidden" value="{{ nf_last_dt }}"/>
        <input type="hidden" class="section" value="job_feed"/>
        <a class="new_item_available_link" href="#"><span class="glyphicon glyphicon-refresh"></span> <span class="new_item_available" style="font-weight: bold"></span></a>
    </div>
</div>
<ul class="champ_aboutme_list">
{% for feed in feed_data %}
    {{ feed }}
    {% empty %}
    <div style="padding: 13px;">
        <p style="margin-top: 13px;">No post found.</p>
    </div>
{% endfor %}
</ul>