{% extends "sections/tutor_profile_body_layout.html" %}
{% load staticfiles %}

{% block body_additional_script %}
    <script type="text/javascript">
        $(document).ready( function() {
            $(".job-post-entry").hover(function () {
                $(this).find(".btn-panel").show();
            },
            function () {
                $(this).find(".btn-panel").hide();
            });
        });
    </script>
    <style type="text/css">
        .apply-button{
            width: 100px;
            margin: 0 auto;
            position: relative;
            top: -200px;
            left: 35%;
        }
        .reject-button{
            width: 100px;
            margin: 0 auto;
            position: relative;
            top: -200px;
            left: 35%;
        }

        .btn-panel {
            display: none;
        }

    </style>
{% endblock body_additional_script %}

{% block tutor_body_content %}
    <div id="feed-content" class="contentblock" style="padding-left: 20px; padding-top: 10px; min-height: 700px;">
        <div class="container" style="width: 100%;">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Job Recommendations{% if job_recommendation_data %}({{ job_recommendation_data|length }}){% endif %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {% for job_recommendation in job_recommendation_data %}
                                        {{ job_recommendation }}
                                        {% empty %}
                                        <div style="padding: 13px;">
                                            No recommendations found.
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock tutor_body_content %}