{% extends "sections/tutor_profile_body_layout.html" %}
{% load staticfiles %}

{% block body_additional_script %}
    <script type="text/javascript">
        $(document).ready( function() {
            $(".job-post-entry").hover(function () {
                $(this).find(".btn-panel").show();
            },
            function () {
                $(this).find(".btn-panel").hide();
            });
        });
    </script>
    <style type="text/css">
        .apply-button{
            width: 100px;
            margin: 0 auto;
            position: relative;
            top: -200px;
            left: 35%;
        }
        .reject-button{
            width: 100px;
            margin: 0 auto;
            position: relative;
            top: -200px;
            left: 35%;
        }

        .btn-panel {
            display: none;
        }

    </style>
{% endblock body_additional_script %}

{% block tutor_body_content %}

<div id="feed-content" class="contentblock" style="padding-left: 20px; padding-top: 10px;">
    <h3>Job Invitation{% if job_invitation_data %}({{ job_invitation_data|length }}){% endif %}</h3>
    <hr/>
    <div>
        {% for job_invitation in job_invitation_data %}
            {{ job_invitation }}
        {% empty %}
            <div style="padding: 13px;">
                No invitations found.
            </div>
        {% endfor %}
    </div>
</div>
{% endblock tutor_body_content %}