{% load staticfiles %}
<!--<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">-->
<!--<script src="{% static "js/bootstrap.min.js" %}"></script>-->
<script type="text/javascript">
    $(document).ready( function() {
    });
</script>
<style type="text/css">
    .job-status-list li a {
        font-size: 14px;
        color: green !important;
    }

    .bold_font {
        font-weight: bold;
    }

    .active a {
        font-weight: bold;
    }
    .ja_action_tab_item {
        cursor: pointer;
    }
    ul.resp-tabs-list li {
        padding: 0 37px;
    }
</style>
<ul class="list-inline resp-tabs-list" style="width: auto; margin-left: 5%; margin-right: 5%;">
    <input type="hidden" name="action_tab" value="{{ action_tab }}"/>
    <!--<li class="resp-tab-item ja_action_tab_item {% if action_tab == "all" %}resp-tab-active{% endif %}" data-ja-section="all" aria-controls="tab_item-0" role="tab">All (<b id="id_ja_all_count">{{ all_count }}</b>) <span class="tooltip_text">All of your job application</span></li>-->
    <li class="resp-tab-item ja_action_tab_item {% if action_tab == "pending" %}resp-tab-active{% endif %}" data-ja-section="pending" aria-controls="tab_item-0" role="tab">Pending (<b id="id_ja_pending_count">{{ pending_count }}</b>) <span class="tooltip_text">You have applied for the job, waiting for the student to respond</span></li>
    <li class="resp-tab-item ja_action_tab_item {% if action_tab == "hired" %}resp-tab-active{% endif %}" data-ja-section="hired" aria-controls="tab_item-0" role="tab">Hired (<b id="id_ja_hired_count">{{ hired_count }}</b>) <span class="tooltip_text">Successful matching between the student and you</span></li>
    <li class="resp-tab-item ja_action_tab_item {% if action_tab == "rejected" %}resp-tab-active{% endif %}" data-ja-section="rejected" aria-controls="tab_item-0" role="tab">Rejected (<b id="id_ja_rejected_count">{{ rejected_count }}</b>) <span class="tooltip_text">Your application has been rejected</span></li>
    <!--<li class="resp-tab-item ja_action_tab_item {% if action_tab == "shortlisted" %}resp-tab-active{% endif %}" data-ja-section="shortlisted" aria-controls="tab_item-0" role="tab">Shortlisted (<b id="id_ja_shortlisted_count">{{ shortlisted_count }}</b>) <span class="tooltip_text">You have applied for the job and you have been shortlisted.</span></li>-->
    <!--<li class="resp-tab-item ja_action_tab_item {% if action_tab == "offered" %}resp-tab-active{% endif %}" data-ja-section="offered" aria-controls="tab_item-0" role="tab">Offered (<b id="id_ja_offered_count">{{ offered_count }}</b>) <span class="tooltip_text">Your application was selected and you have been offered the job.</span></li>-->
    <!--<li class="resp-tab-item ja_action_tab_item {% if action_tab == "hired" %}resp-tab-active{% endif %}" data-ja-section="hired" aria-controls="tab_item-0" role="tab">Hired (<b id="id_ja_hired_count">{{ hired_count }}</b>) <span class="tooltip_text">You have been hired.</span></li>-->
</ul>
<div class="champ_aboutme_detail">
    <ul class="champ_aboutme_list">
    {% for job_application in job_application_list %}
        {{ job_application }}
    {% empty %}
        <div style="padding: 13px;">
            No application found.
        </div>
    {% endfor %}
    </ul>
</div>

<script>
    $(document).ready(function() {
        $(document).on("click",".job_application_cancel", function(e) {
            e.preventDefault();
            var ja_id = $(this).parent().find("input[name=hidden_job_application_id]").val();
            job_application_action_update(ja_id,"cancel");
        });
    });
</script>