{% load staticfiles %}
<!--<link href="{% static "css/job_status.css" %}" rel="stylesheet">-->
<!--<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">-->
<!--<script src="{% static "js/bootstrap.min.js" %}"></script>-->
<!--<script type="text/javascript" src="{% static "js/job.js" %}"></script>-->
<!--<script type="text/javascript" src="{% static "js/job_details_action_.js" %}"></script>-->
<script type="text/javascript">
    $(document).ready( function() {
        $(".job-post-entry").hover(function () {
            $(this).find(".btn-panel").show();
        },
        function () {
            $(this).find(".btn-panel").hide();
        });
    });
</script>
<style type="text/css">
    .job-status-list li a {
        font-size: 14px;
        color: green !important;
    }

    .bold_font {
        font-weight: bold;
    }

    .active a {
        font-weight: bold;
    }

    .jr_action_tab_item {
        cursor: pointer;
    }

    ul.resp-tabs-list li {
        padding: 0 37px;
    }

</style>
<!--<ul class="list-inline resp-tabs-list" style="margin-left: 20px;">-->
  <!--&lt;!&ndash;<li class="resp-tab-item jr_action_tab_item {% if action_tab == "all" %}resp-tab-active{% endif %}" data-jr-section="all">All(<i id="id_jr_all_count">{{ all_count }}</i>) <span class="tooltip_text">All of your job recommendations</span></li>&ndash;&gt;-->
  <!--<li style="padding: 0 24px;" class="resp-tab-item jr_action_tab_item {% if action_tab == "pending" %}resp-tab-active{% endif %}" data-jr-section="pending">Pending(<i id="id_jr_pending_count">{{ pending_count }}</i>) <span class="tooltip_text">Jobs waiting for you to take actions</span></li>-->
  <!--<li style="padding: 0 24px;" class="resp-tab-item jr_action_tab_item {% if action_tab == "applied" %}resp-tab-active{% endif %}" data-jr-section="applied">Applied(<i id="id_jr_applied_count">{{ applied_count }}</i>) <span class="tooltip_text">You have Applied for the job, waiting for the student to respond</span></li>-->
    <!--<li style="padding: 0 24px;" class="resp-tab-item jr_action_tab_item {% if action_tab == "hired" %}resp-tab-active{% endif %}" data-jr-section="hired">Hired(<i id="id_jr_hired_count">{{ hired_count }}</i>) <span class="tooltip_text">Successful matching between the student and you</span></li>-->
    <!--<li style="padding: 0 24px;" class="resp-tab-item jr_action_tab_item {% if action_tab == "rejected" %}resp-tab-active{% endif %}" data-jr-section="rejected">Rejected(<i id="id_jr_rejected_count">{{ rejected_count }}</i>) <span class="tooltip_text">Your application has been rejected by the student</span></li>-->
  <!--&lt;!&ndash;<li class="resp-tab-item jr_action_tab_item {% if action_tab == "applied" %}resp-tab-active{% endif %}" data-jr-section="applied">Applied(<i id="id_jr_applied_count">{{ applied_count }}</i>)</li>&ndash;&gt;-->
  <!--&lt;!&ndash;<li class="resp-tab-item jr_action_tab_item {% if action_tab == "shortlisted" %}resp-tab-active{% endif %}" data-jr-section="shortlisted">Shortlisted(<i id="id_jr_shortlisted_count">{{ shortlisted_count }}</i>)</li>&ndash;&gt;-->
  <!--&lt;!&ndash;<li class="resp-tab-item jr_action_tab_item {% if action_tab == "offered" %}resp-tab-active{% endif %}" data-jr-section="offered">Offered(<i id="id_jr_offered_count">{{ offered_count }}</i>)</li>&ndash;&gt;-->
  <!--&lt;!&ndash;<li class="resp-tab-item jr_action_tab_item {% if action_tab == "hired" %}resp-tab-active{% endif %}" data-jr-section="hired">Hired(<i id="id_jr_hired_count">{{ hired_count }}</i>)</li>&ndash;&gt;-->
<!--</ul>-->
<div id="id_jr_new_item_display_container" class="text-center" style="border: none; clear: both; width: 100%; float: left; display: none; padding-top: 0px; padding-bottom: 7px; margin-top: 0px;">
    <div>
        <input type="hidden" class="action_tab" value="{{ action_tab }}"/>
        <input class="jr_last_dt_item" type="hidden" value="{{ jr_last_dt }}"/>
        <input type="hidden" class="section" value="job_recommendation"/>
        <a class="new_item_available_link" href="#"><span class="glyphicon glyphicon-refresh"></span> <span class="new_item_available" style="font-weight: bold"></span></a>
    </div>
</div>
<div class="champ_aboutme_detail">
    <ul class="champ_aboutme_list {% if action_tab == "pending" %}light-bg{% endif %}">
        {% for job_recommendation in job_recommendation_data %}
            {{ job_recommendation }}
            {% empty %}
            <div style="padding: 13px;">
                No recommendations found.
            </div>
        {% endfor %}
    </ul>
</div>