{% load staticfiles %}
<script type="text/javascript">
    $(document).ready( function() {
        $(".job-post-entry").hover(function () {
            $(this).find(".btn-panel").show();
        },
        function () {
            $(this).find(".btn-panel").hide();
        });
    });
</script>
<style type="text/css">
    .apply-button{
        width: 100px;
        margin: 0 auto;
        position: relative;
        top: -200px;
        left: 35%;
    }
    .reject-button{
        width: 100px;
        margin: 0 auto;
        position: relative;
        top: -200px;
        left: 35%;
    }

    .btn-panel {
        display: none;
    }

    .job-status-list li a {
        font-size: 14px;
        color: green !important;
    }

    .bold_font {
        font-weight: bold;
    }

    .active a {
        font-weight: bold;
    }

    .ji_action_tab_item {
        cursor: pointer;
    }

    ul.resp-tabs-list li {

    }

</style>
<ul class="list-inline resp-tabs-list" style="width: auto; margin-left: 5%; margin-right: 5%;">
    <li class="resp-tab-item ji_action_tab_item {% if action_tab == "pending" %}resp-tab-active{% endif %}" style="padding: 0 23px;" data-ji-section="pending" aria-controls="tab_item-0" role="tab">Pending (<b id="id_ji_pending_count">{{ pending_count }}</b>) <span class="tooltip_text">Job invitation sent to you, waiting for your action</span></li>
    <li class="resp-tab-item ji_action_tab_item {% if action_tab == "applied" %}resp-tab-active{% endif %}" style="padding: 0 23px;" data-ji-section="applied" aria-controls="tab_item-0" role="tab">Applied (<b id="id_ji_applied_count">{{ applied_count }}</b>) <span class="tooltip_text">You have Applied for the job, waiting for the student to respond</span></li>
    <li class="resp-tab-item ji_action_tab_item {% if action_tab == "hired" %}resp-tab-active{% endif %}" style="padding: 0 23px;" data-ji-section="hired" aria-controls="tab_item-0" role="tab">Hired (<b id="id_ji_hired_count">{{ hired_count }}</b>) <span class="tooltip_text">Successful matching between the student and you</span></li>
    <li class="resp-tab-item ji_action_tab_item {% if action_tab == "rejected" %}resp-tab-active{% endif %}" style="padding: 0 23px;" data-ji-section="rejected" aria-controls="tab_item-0" role="tab">Rejected (<b id="id_ji_rejected_count">{{ rejected_count }}</b>) <span class="tooltip_text">You have rejected the job offer</span></li>

</ul>
<div id="id_ji_new_item_display_container" class="text-center" style="display: none; padding-top: 3px; padding-bottom: 7px; border-top: 1px solid #DDDDDD; margin-top: 13px;">
    <div>
        <input type="hidden" class="action_tab" value="{{ action_tab }}"/>
        <input class="ji_last_dt_item" type="hidden" value="{{ ji_last_dt }}"/>
        <input type="hidden" class="section" value="job_invitation"/>
        <a class="new_item_available_link" href="#"><span class="glyphicon glyphicon-refresh"></span> <span class="new_item_available" style="font-weight: bold"></span></a>
    </div>
</div>
<div class="champ_aboutme_detail">
    <ul class="champ_aboutme_list {% if action_tab == "pending" %}light-bg{% endif %}">
        {% for job_invitation in job_invitation_data reversed %}
            {{ job_invitation }}
        {% empty %}
            <div style="padding: 13px;">
                No invitations found.
            </div>
        {% endfor %}
    </ul>
</div>