{% load staticfiles %}

<ul class="tchr_exprnc_lst">
    <li>
        <div class="outer_review_trophy">
        <a href="#" class="review_trophy">
            <img width="17" height="18" alt="img" src="{% static "images/grade_active.png" %}">
            <span>1958</span>
        </a>
        <a href="#" class="review_trophy">
            <img width="17" height="18" alt="img" src="{% static "images/grade_non_active.png" %}">
            <span>131</span>
        </a>
        </div>
        <span class="total_review">94% Positive</span>
    </li>
    <li>
        <div class="reviews_img"><img width="39" height="40" src="{% static "images/big-ytrophy.png" %}" alt="img"></div>
        <div class="review_text">
            <div class="review_text_inner">
                <p>I really enjoy Tutor 1 lesson, he is always so engaging</p>
            </div>
        </div>
        <div class="nmbr_of_dys"><div class="review_text_inner">19 Sep 2015</div></div>
    </li>
    <li>
        <div class="reviews_img"><img width="39" height="40" src="{% static "images/big-ytrophy.png" %}" alt="img"></div>
        <div class="review_text">
            <div class="review_text_inner">
                <p>Tutor 1 is an awesome tutor</p>
            </div>
        </div>
        <div class="nmbr_of_dys"><div class="review_text_inner">10 Jun 2015</div></div>
    </li>
    <li>
        <div class="reviews_img"><img width="39" height="40" src="{% static "images/big-ytrophy.png" %}" alt="img"></div>
        <div class="review_text">
            <div class="review_text_inner">
                <p>Tutor 1 could have been a little more patience</p>
            </div>
        </div>
        <div class="nmbr_of_dys"><div class="review_text_inner">17 Feb 2015</div></div>
    </li>
</ul>