{% extends "sections/tutor_profile_body_layout.html" %}
{% load staticfiles %}

{% block body_additional_script %}
    <script type="text/javascript">

    </script>
    <style type="text/css">

    </style>
{% endblock body_additional_script %}

{% block tutor_body_content %}
    <div id="feed-content" class="contentblock" style="padding-left: 20px; padding-top: 10px; min-height: 700px;">
        sdsa
    </div>
{% endblock tutor_body_content %}