{% load staticfiles %}
<style>
/* Base for label styling */
.error {
    color: red;
    display: none;
}
.login_checkbox:not(:checked),
.login_checkbox:checked {
  position: absolute;
  left: -9999px;
}
.login_checkbox:not(:checked) + label,
.login_checkbox:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
.login_checkbox:not(:checked) + label:before,
.login_checkbox:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: -1px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
.login_checkbox:not(:checked) + label:after,
.login_checkbox:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
.login_checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.login_checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.login_checkbox:disabled:not(:checked) + label:before,
.login_checkbox:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.login_checkbox:disabled:checked + label:after {
  color: #999;
}
.login_checkbox:disabled + label {
  color: #aaa;
}
/* accessibility */
.login_checkbox:checked:focus + label:before,
.login_checkbox:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}

.redirect-login-form input {
    margin-bottom: 15px !important;
    margin-top: 20px;
}

.redirect-login-form p {
    margin-top: 10px !important;
}

.redirect-login-form p a {
    float: right;
    margin-top: -15px;
}

.tutor_signup_form input {
    margin-bottom: 10px !important;
}

.tutor_signup_form span.error {
    display: block;
    margin-bottom: 10px !important;
}

div.error {
    margin-top: -10px; margin-bottom: 10px;
}

.high_index {
    z-index: 100000001 !important;
}

.select2-dropdown {
  z-index: 9001;
}

</style>
<script>
    function set_z_index_for_signup_tz() {
        $(".signup_tz").find(".select2-dropdown").addClass("high_index"); //.css("z-index", "100000001 !important;");
    }
    $(document).ready(function () {
       setTimeout(set_z_index_for_signup_tz, 3000);
    });

</script>
<div id="black_overlay"></div>
<div id="sign_up">
  <div class="sign_up_bx">
        <h1 class="sign_up_heading">Sign Up</h1>
        <p class="sign_up_txt"> Already have an account? <a id="id_open_signin" href="#">Sign in</a> </p>
          <ul class="sign_up_tab">
          	<li> <input type="radio" name="signup_role" id="tutor" value="teacher"> <label for="tutor">Tutor</label></li>
            <li> <input type="radio" name="signup_role" id="student" value="student"> <label for="student">Student</label></li>
            </ul>
            <div id="id_signup_role_info" style="margin-left: 20px; ">
                <span class="error" style="margin-top: 5px; display: inline; top: 10px; position: relative; ">Please select a role</span>
            </div>
            <br/>
            <p id="id_signup_error" style="color: red; margin-left: 20px; margin-right: 20px; margin-top: 7px; width: 90%;"></p>
            <div class="tab" style="display:block;">
            	<form class="tutor_form tutor_signup_form" action="{% url "ajax_signup" %}" method="post">
                	<div>
                    <input type="hidden" name="signup_role" value="teacher"/>
                    </div>
                    <div>
                    {{ signup_form.signup_name }}
                    <span class="error" style="display: none;">Please fill out this form correctly.</span>
                    </div>
                    <div>
                    {{ signup_form.signup_surname }}
                    <span class="error" style="display: none;">Please fill out this form correctly.</span>
                    </div>
                    <div>
                    {{ signup_form.signup_email }}
                    <span class="error" style="display: none;">Please fill out this form correctly.</span>
                    </div>
                    <div>
                    {{ signup_form.signup_password }}
                    <span class="error" style="display: none;">Please fill out this form correctly.</span>
                    </div>
                    <div>
                    {{ signup_form.signup_password_repeat }}
                    <span class="error" style="display: none;">Please fill out this form correctly.</span>
                    </div>
                    <div class="signup_tz">
                    {{ signup_form.signup_timezones }}
                    <div class="error" style="display: none;">Please fill out this form correctly.</div>
                    </div>
                    <input type="submit" class="signup_submit" placeholder="Sign Up">
                    <p>By Clicking "sign up", you agree to our <a href="#">Terms</a> and <a href="{% url "privacy_policy" %}">Privacy Policy</a></p>
                </form>
            </div>
            <div class="tab">
            	<form class="tutor_form tutor_signup_form" action="{% url "ajax_signup" %}" method="post">
                    <div>
                    <input type="hidden" name="signup_role" value="student"/>
                    </div>
                	<div>
                    {{ signup_form.signup_name }}
                    <span class="error" style="display: none;">Please fill out this form correctly.</span>
                    </div>
                    <div>
                    {{ signup_form.signup_surname }}
                    <span class="error" style="display: none;">Please fill out this form correctly.</span>
                    </div>
                    <div>
                    {{ signup_form.signup_email }}
                    <span class="error" style="display: none;">Please fill out this form correctly.</span>
                    </div>
                    <div>
                    {{ signup_form.signup_password }}
                    <span class="error" style="display: none;">Please fill out this form correctly.</span>
                    </div>
                    <div>
                    {{ signup_form.signup_password_repeat }}
                    <span class="error" style="display: none;">Please fill out this form correctly.</span>
                    </div>
                    <div class="signup_tz">
                    {{ signup_form.signup_timezones }}
                    <div class="error" style="display: none;">Please fill out this form correctly.</div>
                    </div>
                    <input type="submit" class="signup_submit" placeholder="Sign Up">
                    <p>By Clicking "sign up", you agree to our <a href="#">Terms</a> and <a href="{% url "privacy_policy" %}">Privacy Policy</a></p>
                </form>
            </div>
        	</div>
</div>
<div id="sign_in">
	<div class="sign_in_bx">
    	<h1 class="sign_up_heading">Sign In</h1>
        <p class="sign_up_txt"> Don't have an account? <a id="id_open_signup" href="#">Sign up</a> </p>
        <a id="id_fb_login" href="#" class="facebook">Sign in with Facebook</a>
        <div class="or"> <p>Or</p> <span></span> </div>
        <form class="signin_form" action="{% url "ajax_login" %}"  name="loginform" method="post" onsubmit="return false;">
            <div class="login_status_message2_container">
                 <span style="margin-left:7px; margin-bottom: 0px; margin-top: 10px; color: red;" class="login_status_message2">

                </span>
            </div>
        	<div>
            {{ login_form.email }}
            <span class="error" style="display: none;">Please fill out this form correctly.</span>
            <a href="{% url "email_recovery_request_view" %}"><p>Forgot email?</p></a>
            </div>
            <div>
            {{ login_form.password }}
            <span class="error" style="display: none;">Please fill out this form correctly.</span>
            <a href="{% url "reset_password" %}"><p>Forgot Password?</p></a>
            </div>
            <div>
                <input class="login_checkbox" type="checkbox" name="remember" id="login_rem" />
                <label for="login_rem" style="font-weight: normal !important;"> Remember me</label>
            </div>
            <input id="id_submit_button" type="submit" value="Sign In" class="sign_in_btn top25">
        </form>
	</div>
</div>

<form style="display: none;" class="social_signupform" action="#"  name="social_signupform" method="post">
    {% csrf_token %}
    <input type="hidden" id="id_social_fb_id" name="fb_id"/>
    <input type="hidden" id="id_social_first_name" name="first_name"/>
    <input type="hidden" id="id_social_middle_name" name="middle_name"/>
    <input type="hidden" id="id_social_surname" name="surname"/>
    <input type="hidden" id="id_social_email" name="email"/>
    <input type="hidden" id="id_social_tz_offset" name="tz_offset"/>
    <input type="hidden" id="id_social_gender" name="gender"/>
    <input type="hidden" name="show_form" value="true">
    </div>
</form>

<script>
    $(document).ready(function() {
        $(".tz").select2({ width: 460 }).on("change", function(e) {
        var selected_tz = $(this).val();
         if(selected_tz == "---") {
            $(this).parent().find(".error").html("Please select your timezone");
            $(this).parent().find(".error").show();
         }
         else {
            $(this).parent().find(".error").hide();
         }
    });
    });

</script>
<script language="javascript">
var black_overlay = $('#black_overlay');
var sign_up = $('#sign_up');
var sign_in = $('#sign_in');

black_overlay.click(function(){black_overlay.hide(); sign_up.hide();});
black_overlay.click(function(){black_overlay.hide(); sign_in.hide();});


$( document ).on( 'keydown', function ( e ) {
    if ( e.keyCode === 27 ) { // ESC
        $( black_overlay ).hide();
		$( sign_up ).hide();
		$( sign_in ).hide();
    }
});

//window.onload(function(){marscrl.stop()})

function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
}

function show_signup(tab)
{
    if(typeof tab != "undefined") {
        if(tab == "tutor") {
            $("#tutor").parent().parent().find("li").removeClass("current");
            $("#tutor").parent().addClass("current");
            $("#tutor").attr("checked", "checked");
            $("#student").removeAttr("checked");
        }
        else if(tab == "student") {
            $("#student").parent().parent().find("li").removeClass("current");
            $("#student").parent().addClass("current");
            $("#student").attr("checked", "checked");
            $("#tutor").removeAttr("checked");
        }
    }
    $(".error").hide();
    document.getElementById('black_overlay').style.display="block";
    document.getElementById('sign_up').style.display="block";
}

function show_signin()
{
    $(".error").hide();
    document.getElementById('black_overlay').style.display="block";
    document.getElementById('sign_in').style.display="block";
}


$(document).ready(function() {
    $("#id_open_signup").click(function(e) {
        $(".error").hide();
        $( black_overlay ).hide();
        $( sign_in ).hide();
        show_signup();
    });

    $("#id_open_signin").click(function(e) {
        $(".error").hide();
        $( black_overlay ).hide();
        $( sign_up ).hide();
        show_signin();
    });
    $("#id_open_signin1").click(function(e) {
        $(".error").hide();
        $( black_overlay ).hide();
        $( sign_up ).hide();
        show_signin();
    });
});

</script>

<script>
$('ul.sign_up_tab > li > label').click(function() {
	$('ul.sign_up_tab > li').eq($(this).parent('li').index()).addClass('current').siblings().removeClass('current');
    $("#id_signup_role_info").find(".error").hide();
	 tabsss($(this).parent('li').index());
});
function tabsss(val)
{
	$(".tab").hide();
	if(val>0)
	{
		document.getElementsByClassName('tab')[val].style.display="block";
	}
	else
	{
		document.getElementsByClassName('tab')[0].style.display="block";
	}
}

var black_overlay = $('#black_overlay');
var sign_up = $('#sign_up');
var sign_in = $('#sign_in');

black_overlay.click(function(){black_overlay.hide(); sign_up.hide();});
black_overlay.click(function(){black_overlay.hide(); sign_in.hide();});


$( document ).on( 'keydown', function ( e ) {
    if ( e.keyCode === 27 ) { // ESC
        $( black_overlay ).hide();
		$( sign_up ).hide();
		$( sign_in ).hide();
    }
});

//window.onload(function(){marscrl.stop()})

function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
}

function show_signin()
{
    $(".error").hide();
    document.getElementById('black_overlay').style.display="block";
    document.getElementById('sign_in').style.display="block";
}


$(document).ready(function() {
    $("#id_open_signup").click(function(e) {
        $(".error").hide();
        $( black_overlay ).hide();
        $( sign_in ).hide();
        show_signup();
    });

    $("#id_open_signin").click(function(e) {
        $(".error").hide();
        $( black_overlay ).hide();
        $( sign_up ).hide();
        show_signin();
    });

    $("input[name=signup_role]").click(function(e) {
        $(this).parent().siblings().removeClass("current");
        $(this).parent().addClass("current");
        //$(this).parent().siblings().find("input").prop("checked", false);
        if($(this).attr("id") == "tutor") {
            $("#tutor").attr('checked', true);
            $("#student").attr('checked', false);
        }
        else {
            $("#tutor").attr('checked', false);
            $("#student").attr('checked', true);
        }

    });

});

// This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      alert("Connected.");
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.

    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.

    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{ FACEBOOK_APP_ID }}',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>