{% load staticfiles %}

<script type="text/javascript">
    $(document).ready( function() {

        tabbings($("ul.tabNav1 .current1").data("tabclass"));
        $('ul.tabNav1 a').click(function() {
            $('ul.tabNav1 li').removeClass("current1");
            $(this).parent('li').addClass("current1");
                tabbings($(this).parent('li').data("tabclass"));
        });

        function tabbings(tabClass) {
            $(".tabContainer1").children().hide();
            $("." + tabClass).show();
        }

        {% if champuser.receive_email_notification %}
            $(".on-notification").hide();
        {% else %}
            $(".off-notification").hide();
        {% endif %}

        $(".notification-trigger a").on("click", function(e) {
            e.preventDefault();
            var oppositeValue = $(this).data("opposite-value");

            $(".notification-trigger").hide();
            $("." + oppositeValue + "-notification").show();

            $.ajax({
                "url": "{% url 'ajax_update_email_notification' %}",
                success: function(result) {
                    $.noop();
                }
            });
        });
    });
</script>
<style type="text/css">

</style>
<ul class="tabNav1 radius4">
    <li class="current1" data-tabclass="tab1"><a href="#">Questions Feed </a></li>
    <li data-tabclass="tab2"><a href="#">My Participation</a></li>
</ul>
<div class="dropdown pull-right">
    <span class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" title="Turn off or on the question feed notification that will be sent to your email.">
        <span class="caret"></span>
    </span>
    <ul class="dropdown-menu">
        <li class="off-notification notification-trigger"><a style="color: black;" href="#" data-opposite-value="on"><span class="glyphicon glyphicon-off"></span> Turn off Email Notification</a></li>
        <li class="on-notification notification-trigger"><a style="color: black;" href="#" data-opposite-value="off"><span class="glyphicon glyphicon-ok"></span> Turn on Email Notification</a></li>
    </ul>
</div>
<div class="data_msng" id="id_participation_content">
    <div class="tabContainer1">
        <div class="tab1" style="display:block;">
            <div class="champ_aboutme_detail">
                <ul class="champ_aboutme_list">
                    {% for feed_item in feed_data %}
                    {{ feed_item }}
                    {% empty %}
                    No feed found
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="tab2" style="display: block;">
            <div class="champ_aboutme_detail">
                <ul class="champ_aboutme_list">
                    {% for participation_item in participations %}
                    {{ participation_item }}
                    {% empty %}
                    No data found
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>