{% load staticfiles %}

<script type="text/javascript">
    $(document).ready( function() {

    });
</script>
<style type="text/css">

</style>
<h4>My Recorded Session{% if my_recorded_session_data %}({{ my_recorded_session_data|length }}){% endif %}</h4>
<hr/>
<div>
    {% for my_recorded_session in my_recorded_session_data %}
        {{ my_recorded_session }}
    {% empty %}
        <div style="padding: 13px;">
            No recorded sessions found.
        </div>
    {% endfor %}
</div>