<div class="champ_student_detail" style="padding: 0px;">
    <div class="upcmng_lsn radius3">
        <h5>Top Students</h5>
        <table class="upcoming_leasson">
          <tbody>
            {% for top_student in top_students_items %}
            {{ top_student }}
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>