{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<style>
.dropdown {
    margin: 0px 3px;
    position: relative;
    float: right;
    display: inline;
    left: 17px;
}

/* ===[ For demonstration ]=== */

.dropdown { margin-top: 0px }

/* ===[ End demonstration ]=== */

.dropdown .dropdown_button {
    cursor: pointer;
    width: auto;
    display: inline-block;
    padding: 4px 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    color: #717780;
    line-height: 16px;
    text-decoration: none !important;
    background: white;
}

.dropdown input[type="checkbox"]:checked +  .dropdown_button {
    color: white;
    background: #6D84B4;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    border-bottom-color: #6D84B4;
}

.dropdown input[type="checkbox"] + .dropdown_button .arrow {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #6B7FA7;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.dropdown input[type="checkbox"]:checked + .dropdown_button .arrow { border-color: white transparent transparent transparent }

.dropdown .dropdown_content {
    position: absolute;
    border: 1px solid #777;
    padding: 0px;
    background: white;
    margin: 0;
    display: none;
}

.dropdown .dropdown_content li {
    list-style: none;
    margin-left: 0px;
    line-height: 16px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dropdown .dropdown_content li:hover {
    border-top-color: #3B5998;
    border-bottom-color: #3B5998;
    background: #6D84B4;
}

.dropdown .dropdown_content li a {
    display: block;
    padding: 2px 7px;
    padding-right: 15px;
    color: black;
    text-decoration: none !important;
    white-space: nowrap;
}

.dropdown .dropdown_content li:hover a {
    color: white;
    text-decoration: none !important;
}

.dropdown input[type="checkbox"]:checked ~ .dropdown_content { display: block }

.dropdown input[type="checkbox"] { display: none }
</style>
<div>
    <ul class="video_list" id="id_profile_video_intro_content">
    {% for my_video in my_videos %}
        {% if my_video.host_type == "YOUTUBE" %}
            <li style="margin-bottom: 7px; padding: 7px;">
            <div class="video_header">
                <h4 title="{{ my_video.title }}" style="margin-top: 0px; margin-bottom: 0px;">{{ my_video.title|truncatechars:30 }}</h4>
                <div class="video_header_right">
                    <span>{{ my_video.format_duration }}</span>
                    <span data-livestamp="{{ my_video.date_modified|fromunix|localtime|date:"U" }}"></span>
                    {% if request.user.is_authenticated %}
                    <div class="dropdown">
				    <input type="checkbox" id="drop{{ forloop.counter }}" />
                        <label for="drop{{ forloop.counter }}" class="dropdown_button"><img src="{% static "images/live-down-arrow.png" %}"/></label>
                        <ul class="dropdown_content">
                            <li class="video_edit" data-id="{{ my_video.pk }}"><a href="#">Edit</a></li>
                            <li class="video_delete" data-id="{{ my_video.pk }}"><a href="#">Delete</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="video_content">
                <iframe id="id_embedded_myvideo_url" width="320" height="180" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
                        src="https://www.youtube.com/embed/{{ my_video.url }}">
                </iframe>
            </div>
            <div class="video_footer">
                <p class="video_ftext">{{ my_video.description }}</p>
            </div>

            </li>
        {% else %}
            <li style="margin-bottom: 7px; padding: 7px;">
                <div class="video_header">
                    <h4 title="{{ my_video.title }}" style="margin-top: 0px; margin-bottom: 0px;">{{ my_video.title|truncatechars:30 }}</h4>
                    <div class="video_header_right">
                        <span>{{ my_video.format_duration }}</span>
                        <span data-livestamp="{{ my_video.date_modified|fromunix|localtime|date:"U" }}"></span>
                        {% if request.user.is_authenticated %}
                        <div class="dropdown">
                        <input type="checkbox" id="drop{{ forloop.counter }}" />
                            <label for="drop{{ forloop.counter }}" class="dropdown_button"><img src="{% static "images/live-down-arrow.png" %}"/></label>
                            <ul class="dropdown_content">
                                <li class="video_edit" data-id="{{ my_video.pk }}"><a href="#">Edit</a></li>
                                <li class="video_delete" data-id="{{ my_video.pk }}"><a href="#">Delete</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="video_content">
                    <iframe class="video_player" src="https://player.vimeo.com/video/{{ my_video.vimdeo_video_id }}?api=1&player_id=player1" width="630" height="354" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="video_footer">
                    <p class="video_ftext">{{ my_video.description }}</p>
                </div>

            </li>
        {% endif %}

        {% empty %}
        <li>
            <div style="padding: 20px;" id="id_no_video_available">No videos available.</div>
        </li>
    {% endfor %}
    </ul>
    {% if content_editable %}
    <a id="id_add_video_url" href="#" class="btn btn-mini btn-default text-center" style="clear: both; float: left; position: relative; left: 7px; top: 20px; margin-bottom: 20px; padding: 7px; color: #303030; font-weight: bold;"><span class="glyphicon glyphicon-plus"></span> Add Video</a>
    {% endif %}
</div>
<script src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>
<script>
    $(document).ready(function(){
        $(document).on("click","#id_add_video_url", function(e) {
            e.preventDefault();
            $("#id_overlay_loading").show();
            $("#black_overlay").fadeOut('fast');
            $("#id_ajax_rendered_content").fadeOut('fast');
            $.ajax({
                type: "GET",
                url: "{% url "ajax_load_video_url" %}",
                data: {},
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    //console.log(data.data);
                    $("#black_overlay").show();
                    //alert(data.data.dialog_content);
                    $("#id_ajax_rendered_content").html(data.data.dialog_content);
                    $("#id_ajax_rendered_content").show();
                    //$("#id_no_video_available").hide();
                },
                error: function(jqxhr, status, error)
                {

                }
            })
            .done(function( msg ) {
                $("#id_overlay_loading").hide();
                //show_popup();
            });
        });

        $(document).on("click",".video_edit", function(e) {
            e.preventDefault();
            var id = $(this).data("id");
            $("#id_overlay_loading").show();
            $("#black_overlay").fadeOut('fast');
            $("#id_ajax_rendered_content").fadeOut('fast');
            $.ajax({
                type: "GET",
                url: "{% url "ajax_load_video_url" %}",
                data: {
                    id: id
                },
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    //console.log(data.data);
                    $("#black_overlay").show();
                    //alert(data.data.dialog_content);
                    $("#id_ajax_rendered_content").html(data.data.dialog_content);
                    $("#id_ajax_rendered_content").show();
                    //$("#id_no_video_available").hide();
                },
                error: function(jqxhr, status, error)
                {

                }
            })
            .done(function( msg ) {
                $("#id_overlay_loading").hide();
                //show_popup();
            });
        });

        $(".cancel_confirm_delete_dialog").click(function(e) {
            e.preventDefault();
            $("#id_confirm_video_delete_overlay").hide();
            $("#id_confirm_video_delete_dialog").hide();
        });

        $(".cancel_delete_video_button").click(function(e) {
            e.preventDefault();
            $("#id_confirm_video_delete_overlay").hide();
            $("#id_confirm_video_delete_dialog").hide();
        });

        $(".yes_delete_video_button").click(function(e) {
            e.preventDefault();
            var id = $("#id_confirm_video_delete_dialog").find("input[name=delete_video_id]").val();
            _ajax_call("POST","/ajax/video_url/",{ action: "DELETE", video_id: id },function(data){
                if(data.status == "SUCCESS"){
                    var $title = 'Video removed successfully';
                    var $message = 'You have successfully removed video from your profile.';
                    var success_callback = function(data){
                        window.location.reload();
                    };

                    var cancel_callback = function(){

                    };

                    show_popup_dialog(data,$title,$message,false,"success",parent.$.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                }
                else{
                    var $title = 'Video remove failed';
                    var $message = 'Your video was not removed successfully. The following error occured while adding course: <br/><b>"'+ data.message +'"</b>.</br>Please fix the error and try again later.</b>';
                    var success_callback = function(data){

                    };

                    var cancel_callback = function(){

                    };

                    show_popup_dialog(data,$title,$message,false,"error",parent.$.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                }
            },function(jqxhr, status, error){
                var $title = 'Video remove failed';
                var $message = 'An error occurred while performing the requested operation. <br/>Please check the input carefully or try again later.';
                var success_callback = function(data){

                };

                var cancel_callback = function(){

                };

                show_popup_dialog("",$title,$message,false,"error",parent.$.colorbox,"Okay","Cancel",success_callback,cancel_callback);
            },function(msg){

            });
        });

        $("#id_confirm_video_delete_overlay").click(function(e) {
            e.preventDefault();
            $("#id_confirm_video_delete_overlay").hide();
            $("#id_confirm_video_delete_dialog").hide();
        });

        $(document).on("click",".video_delete", function(e) {
            e.preventDefault();
            var id = $(this).data("id");
            $("#id_confirm_video_delete_dialog").find("input[name=delete_video_id]").val(id);
            $("#id_confirm_video_delete_overlay").show();
            $("#id_confirm_video_delete_dialog").show();

            return false;

            _ajax_call("POST","/ajax/video_url/",{ action: "DELETE", id: id },function(data){
                if(data.status == "SUCCESS"){
                    var $title = 'Video removed successfully';
                    var $message = 'You have successfully removed video from your profile. You can update any time you want by logging into your account.';
                    var success_callback = function(data){
                        window.location.reload();
                    };

                    var cancel_callback = function(){

                    };

                    show_popup_dialog(data,$title,$message,false,"success",parent.$.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                }
                else{
                    var $title = 'Video remove failed';
                    var $message = 'Your video was not removed successfully. The following error occured while adding course: <br/><b>"'+ data.message +'"</b>.</br>Please fix the error and try again later.</b>';
                    var success_callback = function(data){

                    };

                    var cancel_callback = function(){

                    };

                    show_popup_dialog(data,$title,$message,false,"error",parent.$.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                }
            },function(jqxhr, status, error){
                var $title = 'Video remove failed';
                var $message = 'An error occurred while performing the requested operation. <br/>Please check the input carefully or try again later.';
                var success_callback = function(data){

                };

                var cancel_callback = function(){

                };

                show_popup_dialog("",$title,$message,false,"error",parent.$.colorbox,"Okay","Cancel",success_callback,cancel_callback);
            },function(msg){

            });
        });
    });


    function EmbedMyVideo(id, url){

        var video_iframe_html = "<a class=\"delete_myintro_video\" data-video-id=\""+ id + "\" style=\"float: right; position: relative; top: -10px; right: 10px; cursor: pointer;\" class=\"close\"><span class=\"glyphicon glyphicon-remove\"></span></a>";
        video_iframe_html += "<iframe id=\"id_embedded_myvideo_url\" width=\"450\" height=\"350\"";
        video_iframe_html += "src=\""+ url +"\">";
        video_iframe_html += "</iframe>";
        var li_entry = "<li style=\"margin-bottom: 7px; padding: 7px;\">"+video_iframe_html+"</li>";
        $("#id_profile_video_intro_content").append(li_entry);
    }

    </script>
<style>
    #id_confirm_video_delete_overlay {  display: none; top: 0%; left: 0%; width: 100%; height: 100%; z-index:900; background-color: black; -moz-opacity: 0.8; -ms-opacity: 0.8; -webkit-opacity: 0.8; -o-opacity: 0.8; opacity:.80; filter: alpha(opacity=80); }
    #id_confirm_video_delete_overlay{position: fixed;	*position: absolute;}
</style>
<div id="id_confirm_video_delete_overlay">

</div>
<div id="id_confirm_video_delete_dialog" style="display: none; z-index: 1001;width: 600px;">
  <div class="postneed_bx2" style="width: 600px;z-index: 1001;">
    <!-- <a href="#" class="cross"><img src="images/cross.png" width="25" height="25" alt="Close" /></a> -->

    <h3 class="reject_heading accept_bg" style="margin-top: 0px; height: 48px; font: 18px/48px 'HelveticaNeueLTStd-Medium';">Confirm Before Delete <span style="cursor: pointer; right: 20px; top: 20px;" class="glyphicon glyphicon-remove pull-right cancel_confirm_delete_dialog"></span></h3>
    <div id="id_apply_dialog_form" class="reject_detail" style="width: 100%;">
        <input type="hidden" name="delete_video_id"/>
        <p class="champ_last_text" style="margin: 0px; font: 16px/21px 'proxima_novaregular';">Are you sure you want to delete this video?</p>
        <a href="#" class="reject_btn reject_bg yes_delete_video_button" style="margin-top: 10px; margin-right: 10px !important;">Yes</a> &nbsp;&nbsp;
        <a href="#" class="reject_btn accept_bg cancel_delete_video_button" style="margin-top: 10px; margin-right: 10px !important;">No</a> &nbsp;&nbsp;
    </div>
  </div>
</div>