{% load staticfiles %}
{% load pagination_filter %}
<link href="{% static "css/pagination.css" %}" rel="stylesheet">
{% if is_paginated %}
<div id="id_ajax_search_pagination" class="pgntn" data-url="{% url "ajax_profile_section" %}"
data-current-page="{{ page_obj.number }}" data-update-history="{% if update_history %}1{% else %}0{% endif %}"
{% for title, value in meta_data.items %}data-meta-{{ title }}="{{ value }}"{% endfor %} data-tab="{{ tab }}" data-container="{{ container_id }}">
    <ul>
        {% for page in page_obj.paginator|calculate_page_range:page_obj.number %}
            {% if page == -1 %}
                <li><a class="ajax_pagination_list_item" href="#">...</a></li>
            {% else %}
                <li class="{% if page_obj.number == page  %}active{% endif %}"><a class="ajax_pagination_list_item" data-page="{{ page }}" href="#">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if page_obj.has_next %}
    <a class="ajax_pagination_list_item" data-page="{{ page_obj.next_page_number }}" href="#"> <img src="{% static "images/next.png" %}" width="23" height="23" alt="img"> </a>
    {% endif %}
    {% if page_obj.has_previous %}
    <a class="ajax_pagination_list_item" data-page="{{ page_obj.previous_page_number }}" href="#"><img src="{% static "images/prev_active.png" %}" width="23" height="23" alt="img"></a>
    {% endif %}
</div>
{% endif %}
<script src="{% static "js/pagination/ajax_pagination.js" %}"></script>