{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<div class="champ_student_detail" style="padding: 0px;">
    <div class="upcmng_lsn radius3">
        <div class="outer_report_heading">
            <h6 class="report_heading">Student Report</h6>
            {% if show_progress_report_button %}
            <a href="{% url "student_progress_report" %}" class="progress_btn">Write Progress Report</a>
            {% endif %}
        </div>
        <table class="upcoming_leasson progres_heading">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Report date</th>
                    <th>Action</th>
                </tr>
                {% for item in progress_report_items %}
                {{ item }}
                {% empty %}
                <tr>
                    <td colspan="3" style="padding-left: 10px; ">
                        No progress report found
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "sections/pagination.html" %}
    </div>
</div>