{% load staticfiles %}
<header class="menu_scrol1">
    <div class="wrapper">
        <a href="/" id="logo"> <img src="{% static "images/logo.png" %}" width="212" height="36" alt="Logo"> </a>
        <div class="top_menu">
            <ul class="menu">
                <li><a href="#" onClick="showworks();">How it works</a></li>
                <li><a href="{% url "tutor_search" %}">Search Tutors</a></li>
                <li><a href="{% url "faq" %}">Help</a></li>
            </ul>
        </div>
        <div class="right_menu">
            {% if not "/login" in request.path %}
            <a class="sign_in" href="#" onClick="show_signin();">Sign in</a>
            {% endif %}
            <a class="rgster" href="#" onClick="show_signup();">Register</a>
        </div>
    </div>
</header>