{% load staticfiles %}
<link href="{% static "css/jquery-ui-1.10.4.custom.css" %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.tagit.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/tagit.ui-zendesk.css" %}"/>
<script src="{% static "js/chat/chat_sidebar_public.js" %}"></script>
<style>
    #id_home_search_tutor::-webkit-input-placeholder
    {
      color: black;
    }
    #id_home_search_tutor
    {
      color: black;
    }
    .tutors_chat{
        cursor: pointer;
    }
    .add_grp_buddy_txt {
        display: none !important;
    }

    .tagit-new input { padding: 1px !important; border-radius: 2px; border: none; outline: none; }

    .add_chat_buddy_area { background: none !important; }

    .tagit-label { color: #333333 !important; }

    li.tagit-choice { background: none !important; }
</style>
<script>

    $(document).ready(function() {

        var chat_expanded = false;
        var master_container_expanded_width = $("#id_master_container").css("width");
        var menu_scrol_expanded_width = $(".menu_scrol").css("width");
        var hdng_inner_expanded_width = $(".hdng_inner").css("width");
        var outer_tutors_chat_min_height = $(".outer_tutors_chat").css("height");
        var container_expanded_width = $(".container").css("width");

        var expand_chat_sidebar = window.expand_chat_sidebar = function(expand) {
            if(expand == true){

                var chat_list_height = $(window).height() - 140;
                $(".tutors_chat_list").css("height",chat_list_height+"px");

                $(".tutors_chat_detail").show();
                chat_expanded = true;



                var viewportWidth = $(window).width();
                var viewportHeight = $(window).height();

                $("#id_master_container").css("width", (viewportWidth - 260)+"px");

                $(".banner").css("width", (viewportWidth - 260)+"px");
                $(".banner > header").css("width", (viewportWidth - 260)+"px");

                $(".menu_scrol").css("width", (viewportWidth - 260)+"px");
                $(".hdng_inner").css("width", (viewportWidth - 260)+"px");
                //$(this).css("width", (viewportWidth - 260)+"px");
                $(".outer_tutors_chat").css("height", (viewportHeight - 0 )+"px");
                //$(".container").css("width", (viewportWidth - 260)+"px");
            }
            else{
                $(".tutors_chat_detail").hide();
                chat_expanded = false;

                var viewportWidth = $(window).width();
                var viewportHeight = $(window).height();
                $("#id_master_container").css("width", master_container_expanded_width);
                $(".banner").css("width", viewportWidth+"px");
                $(".banner > header").css("width", viewportWidth+"px");
                $(".menu_scrol").css("width", menu_scrol_expanded_width);
                $(".hdng_inner").css("width", hdng_inner_expanded_width);
                $(".outer_tutors_chat").css("height", outer_tutors_chat_min_height);
                //$(".container").css("width", container_expanded_width);



            }
        }

    });
</script>
<!--<div class="outer_chat" id="id_chat_window_container">-->
<!--<div class="outer_tutors_chat">-->
        <!--<div class="tutors_chat">-->
            <!--<h2>{% if request.user.champuser.type.name == "teacher" %}Students Chat{% else %}Tutors Chat{% endif %}</h2>-->
            <!--<span class="outer_tutors_expend"> <img src="{% static "images/expend.png" %}" width="14" height="8" alt="icon">-->
            <!--<img src="{% static "images/min.png" %}" width="14" height="8" alt="icon"> </span> </div>-->
        <!--<div class="tutors_chat_detail">-->
            <!--<div class="support_offline">-->
                <!--<div class="support_offline_icon"> <img src="{% static "images/support-offline-icon.png" %}" width="31" height="31" alt="icon"> </div>-->
                <!--<div class="support_offline_detail">-->
                    <!--<h2 style="margin-top: 5px;">Chat Support</h2>-->
                <!--</div>-->
            <!--</div>-->
            <!--<ul class="tutors_chat_list">-->
                <!--<li style="border: none;">Loading...</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->