{% load staticfiles %}

<div class="hdng_inner">
	<a id="logo" href="#"><img src="{% static "images/logo.png" %}" width="265" height="69" alt="logo"></a>
    
    <form class="search_box_top radius3">
    	<input type="submit">
        <input type="text" value="Type subject name (e.g Algebra)" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
    </form>
    
    <ul class="after_login_menu">
		<li><a href="#"><img width="16" height="14" alt="icon" src="{% static "images/en.png" %}"> En</a></li>
   		<li><a href="#"><img src="{% static "images/menu_icon1.png" %}" width="23" height="19" alt="img"> </a>
        	
            <span class="hvr">Getting Started</span>
        
        	<ul class="submenu1 radius3" id="first_left" >
        	<li>Link GChat <span><img src="{% static "images/corct_icon.png" %}" width="15" height="15" alt="img"></span> </li>
			<li>Link FB Messenger <span><img src="{% static "images/corct_icon.png" %}" width="15" height="15" alt="img"></span> </li>
			<li>Audio & Video Setup <span></span> </li>
			<li>Payment Setup <span></span> </li>
        </ul>
        </li>
        <li><a href="#"><img src="{% static "images/menu_icon2.png" %}" width="24" height="19" alt="img"></a>
        <span class="hvr">Available For</span>
        </li>
        <li><a href="#"><img src="{% static "images/menu_icon3.png" %}" width="19" height="18" alt="img"></a> <span class="hvr">Lessons</span> </li>
        <li><a href="#"><img src="{% static "images/menu_icon4.png" %}" width="18" height="21" alt="img"></a> <span class="hvr">Notifications</span> </li>
        <li><a href="#"><img src="{% static "images/menu_icon5.png" %}" width="19" height="18" alt="img"></a> <span class="hvr">Messages</span>
        	<ul class="submenu1 radius3">
                <li><a href="#">Your Tutor Guide</a></li>
                <li><a href="#">Our 2 Minutes Intro</a></li>
                <li><a href="#">Your Wish List</a></li>
                <li><a href="#">Try the Tutoring Space</a></li>
            </ul>
        </li>
        <li><a href="#"><img src="{% static "images/menu_icon6.png" %}" width="15" height="19" alt="img"></a> <span class="hvr">Quick Links</span></li>
    </ul>
    <script type="text/javascript">
        (function(){
          $(document).ready(function()
          {
            $("#id_user_signout").click(function(e)
              {
                  e.preventDefault();
                  if(window.socket)
                  {
                    window.socket.disconnect();
                  }
                  var url = $(this).attr("href");
                  window.location.assign(url);
              });
          });
        })();
    </script>
    <div class="profile_detail">
    	<span class="profile_img" title="{{ champ_user.fullname }}"><img src="{% static "images/profile_img_inner.png" %}" width="28" height="28" alt="img"></span>
        {{ champ_user.fullname|truncatechars:11 }}
        <span class="down_arrow"><img src="{% static "images/dwn_arw.png" %}" width="8" height="7" alt="img"></span>
        
        <ul class="submenu1 radius3">
            <li><a href="{% url "my_account" %}#myAccount3">Billing</a></li>
            <li><a href="{% url "my_account" %}">My Account</a></li>
            <li><a  href="{% url "whiteboard" %}">Try the lesson space</a></li>
			<li><a href="{% url "user_logout" %}" id="id_user_signout">Sign Out</a></li>
        </ul>
    </div>
        
  </div>

  <script>
    $("ul.after_login_menu li,.profile_detail").click(function () {

      $("ul.after_login_menu li").removeClass('hidespan');                  
        $(this).addClass("hidespan");
      $("ul.submenu1",this).toggleClass("addactive");
       if($("ul.submenu1",this).hasClass("off"))
          {
    //       alert("start");
           $("ul.submenu1",this).removeClass("off");
         $("ul.submenu1",this).addClass("addactive");
         
     //    alert("end");
         
          }
          if(!$("ul.submenu1",this).hasClass("addactive"))
          {
                              $("ul.after_login_menu li").removeClass('hidespan');          
          }
      $("ul.submenu1").addClass("off");
      $("ul.submenu1",this).removeClass("off");

    });
    
    $("ul.submenu1").click(function () {
             $("ul.submenu1").toggleClass("addactive");
             
        });
        $(".contnt").click(function () {
             $("ul.submenu1").removeClass("addactive");
        });
        
        $("ul.after_login_menu li.hidespan").mouseover(function(){
            //alert("nbdl");
            $("span.hvr").hide();
        });
        
</script>

<script>
$(document).ready( function () {
if($("ul.submenu1").hasClass("addactive"))
  {
      $(this).parent().find("span").hide();
      //alert('active');
  }
});
</script>