{% load staticfiles %}
{% load datefilters questiontagfilters %}
{% load tz %}
<link rel="stylesheet" type="text/css" href="{% static "css/lesson_stats.css" %}" />
<style>
	.error-hint {
		margin-top: -18px;
		color: red;
	}
	.ui-widget-content {
		min-height: 300px !important;
	}
</style>
<div class="contnt">
	<div class="wrapper">
        {% if view_as == "public" %}
        <div style="text-align: center;">
            You are viewing as others see your profile. <a style=""Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.42857143;" href="{% url "user_profile" request.user.pk %}">Back to original mode</a>
        </div>
        {% endif %}
		<div class="champ_aboutme">
    	<div class="profile radius3">
            {% if content_editable %}
			<div class="splitter">
				<img src="{% static "images/minus.png" %}" width="12" height="2" alt="img">
				<img src="{% static "images/add.png" %}" width="12" height="12" alt="img">
			</div>
            {% endif %}
            <div id="w" class="clearfix">
                {% if content_editable %}
                {% include "ajax/profile/student/private/side_menu.html" %}
                {% else %}
                {% include "ajax/profile/student/public/side_menu.html" %}
                {% endif %}

                {% if content_editable %}
                    {% include "ajax/profile/student/tab_contents/private/tab_sections.html" %}
                {% else %}
                    {% include "ajax/profile/student/tab_contents/public/tab_sections.html" %}
                {% endif %}
            </div>

    {% if content_editable %}
        {% include "ajax/profile/student/tab_contents/private/right_summary.html" %}
    {% endif %}
</div>
</div>
</div>
</div>
<script type="text/javascript" src="{% static "js/lib/jquery.selectbox-0.1.3.min.js" %}"></script>
<link rel="stylesheet" href="{% static "css/themes/smoothness/jquery-ui.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}"/>
<script src="{% static "js/jquery.datetimepicker.full.js" %}"></script>
<link rel="stylesheet" href="{% static "css/daterangepicker.css" %}" />
<script src="{% static "js/daterangepicker.js" %}"></script>
<script src="{% static "js/moment.min.js" %}"></script>
<style>
	.date-picker-wrapper .apply-btn {
		line-height: normal !important;
	}

	#id_my_jobs_filter {
		width:100% !important; height:37px; padding-bottom: 7px;
        cursor: pointer; float:left; color:#202020;
        font:15px/35px 'proxima_novaregular'; background:url(/static/images/live-down-arrow.png) 94% center no-repeat; border:none; outline:none;
		-webkit-appearance: none;
        padding-left: 5px;
	}

</style>
<script>
	$(document).ready(function() {


		{% if tab == "my-jobs" %}
		load_my_jobs_contents();
		{% elif tab == "my-tutors" %}
		load_tutor_section_contents({"section": "my_top_tutors"},function(data) {
                $("#id_my_top_tutors").html(data.data.content);
                content_cache["id_my_top_tutors"] = true;
            },
            function(jqxhr, status, error) {

            },
            function(msg) {

            });
		{% endif %}

	});

$(function()
{

	$('#two-inputs').dateRangePicker(
	{
		separator : ' to ',
		getValue: function()
		{
			if ($('#date-range200').val() && $('#date-range201').val() )
				return $('#date-range200').val() + ' to ' + $('#date-range201').val();
			else
				return '';
		},
		setValue: function(s,s1,s2)
		{
			$('#date-range200').val(s1);
			$('#date-range201').val(s2);
		}
	});
});
</script>
<script>
$(document).ready(function() {
    //alert("ready");
	//$(".champ_aboutme_list.not:last").show();
    //var qtype = $("#question_type");
  /*  if(qtype.val == "Answered"){
        alert("answered");
        $("#id_qanswered").parent().addClass("currentt2");
        $("#id_qanswered").parent().siblings().removeClass("currentt2");
        $(".champ_aboutme_list").hide();
    }else{
        alert("posted");
        $("#id_qposted").parent().addClass("currentt2");
        $("#id_qposted").parent().siblings().removeClass("currentt2");
        $(".champ_aboutme_list").hide();
    }*/

    $("ul.tabs-menu-two li a").click(function(event) {
        //alert("click event");
		event.preventDefault();
        $(this).parent().addClass("currentt2");
        $(this).parent().siblings().removeClass("currentt2");
        $("#question_type").val($(this).text());
        $(".champ_aboutme_list").hide();
        var activeTab = $(this).attr("href");
        $(activeTab).fadeIn();
        return false;
    });
});
</script>
<link href="{% static "css/colorbox.css" %}" rel="stylesheet">
<link href="{% static "css/flags-css/flag-icon.css" %}" rel="stylesheet">
<script src="{% static "js/jquery.colorbox-min.js" %}"></script>
<script>
$(document).ready(function() {

	function open_profile_edit_dialog(url) {
		var options =  {
            iframe:true,
            opacity: 0.1,
            width: "90%",
            height: "90%",
            maxWidth: "90%",
            maxHeight: "90%",
            scrolling: true,
            photo: true,
            escKey: false,
            fixed: false,
            overlayClose: false,
            onOpen:function(){ },
            onLoad:function(){ },
            onComplete:function(){ },
            onCleanup:function(){ },
            onClosed:function(){ }
        };
        options["href"] = url;
        $.colorbox(options);
	}

	$("#id_edit_profile_info").click(function(e) {
		e.preventDefault();
		var url = $(this).data("url");
		open_profile_edit_dialog(url);
	});


    $("#id_update_profile_summary").click(function(e) {
		e.preventDefault();
		var url = $(this).data("url");
		open_profile_edit_dialog(url);
	});

    $("#id_update_private_info").click(function(e) {
		e.preventDefault();
		var url = $(this).data("url");
		open_profile_edit_dialog(url);
	});

    $("#id_add_school").click(function(e) {
		e.preventDefault();
		var url = $(this).data("url");
		open_profile_edit_dialog(url);
	});

    $(".edit-school").click(function(e) {
		e.preventDefault();
		var url = $(this).data("url");
		open_profile_edit_dialog(url);
	});

	//$("#id_my_jobs_filter").selectbox();

    var file_ = $("#id_attached_file_qu").clone();
	var file_index = 1;
	var max_files_count = 5;
	var files_count = 0;

	$(document).on("click","#id_attach_file",function(e){
		e.preventDefault();
		$("#id_attached_file_qu").click();
	});

	$(document).on("change","#id_attached_file_qu",function(e){
		var _this = $(this);
		var files = $(this).prop("files");
		var clone = $(this).clone();
		_this.removeProp("id");
		$("input[name=fcount]").val(files.length);
		for(var j = 0 ; j < files.length ; j++){
			_this.prop("name", _this.prop("name") + file_index);
			var html = "<div style='width: 100%; margin-top: 4px; padding: 10px; float: left; clear: both;'><i class='glyphicon glyphicon-remove cancel-file' data-index='"+ file_index +"' style='position: relative; top: 3px; cursor: pointer;'></i> <span style='width: 230px;'>"+ files[j].name +"</span><input type='hidden' name='file_name_list[]' value='"+ files[j].name +"'></div>";
			_this.css("display","none");
			$("#id_attached_files2").append(html);
			$("#id_attached_files2").append(_this);
			files_count ++;
			if(files_count >= max_files_count){
				//$("#id_file_input_container_hint").show();
				$("#id_file_input_container2").hide();
			}
			else{
				//$("#id_file_input_container_hint").hide();
				$("#id_file_input_container2").show();
			}
		}
		$("#id_file_input_container2").append(clone);
		file_index ++;
	});

	$(document).on("click",".cancel-file", function(e){
		var _this_index = $(this).data("index");
		var target_name = file_.prop("name")+_this_index;
		$("input[name="+target_name+"]").remove();
		$(this).parent().remove();
		files_count --;
		if(files_count < max_files_count){
			$("#id_file_input_container_hint").hide();
			$("#id_file_input_container").show();
		}
	});

	$("#id_q_post_button").click(function(e){
            e.preventDefault();

            var error = false;
            var $job_post_title = $("input[name=q_title]");
            if($job_post_title.val() == ""){
                $job_post_title.focus();
                $job_post_title.next().text("This field is required");
                error = true;
            }
            else {
            	$job_post_title.next().text("");
            }

            var details = $("#id_qdescription").val();
            if($.trim(details) == "") {
                $("#id_qdescription").focus();
                $("#id_qdescription").next().text("This field is required");
                error = true;
            }
            else {
            	$("#id_qdescription").next().text("");
            }

            if(error) {
            	return false;
            }

            var html_tags = $("#id_qtag_input").parent().find(".tags").html();
            if($.trim(html_tags) == "") {
                $("#id_qtag_input").focus();
                return false;
            }

            $("form[name=q-post-form]").submit();

        });

    $("#id_q_post_preview_button").click(function(e){
            e.preventDefault();
            var error = false;
            var $job_post_title = $("input[name=q_title]");
            if($job_post_title.val() == ""){
                $job_post_title.focus();
                $job_post_title.next().text("This field is required");
                error = true;
            }
            else {
            	$job_post_title.next().text("");
            }

            var details = $("#id_qdescription").val();
            if($.trim(details) == "") {
                $("#id_qdescription").focus();
                $("#id_qdescription").next().text("This field is required");
                error = true;
            }
            else {
            	$("#id_qdescription").next().text("");
            }

            if(error) {
            	return false;
            }

            var html_tags = $("#id_qtag_input").parent().find(".tags").html();
            if($.trim(html_tags) == "") {
                $("#id_qtag_input").focus();
                return false;
            }
            $("#id_overlay_loading").show();
            $.ajax({
                type: "POST",
                url: "/ajax/question/post-preview/",
                data:  $("form[name=q-post-form]").serialize(),
                enctype: 'multipart/form-data',
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    $("#id_preview_content").html(data.data.dialog_content);
                    $("#myModal h3").html($("input[name=q_title]").val());
                    $("#myModal").modal("show");
                },
                error: function(jqxhr, status, error)
                {

                }
            })
            .done(function( msg ) {
                $("#id_overlay_loading").hide();
            });
        });

    $("#id_preview_qpost").on("click", function(e) {
        e.preventDefault();
        console.log("preview post");
        $("#id_q_post_button").click();
    });

	$( "#id_qtag_input" ).autocomplete({
            minLength: 0,
            source: function(request, response) {
            $.ajax({
                url: "/ajax/major",
                data: {
                    term: request.term,
                    readonly: 'true',
                    level: $("#id_subject_level").val()
                },
                success: function(data) {
                    response(data);
                }
            });
            },
            data: { 'readonly': 'true' },
            focus: function( event, ui ) {
                return false;
            },
            select: function( event, ui ) {
                var tag_val = ui.item.value;
                if(ui.item.id == -1){
                    tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                }

                var value = ui.item.id;
                var text = ui.item.value;
                var value_found = false;
                $(this).parent().find(".tags").find("input").each(function(e){
                    if($(this).val() == value){
                        value_found = true;
                        return;
                    }
                });

                if(!value_found){
                    //var input_element = "<input type='hidden' name='qtag-list[]" +"' value='"+ value +"' >";
                    //var tag_element = "<span class=\"dfrnt_tag radius3\"><a class=\"tag_close\" href=\"#\"></a>"+ input_element + text +"</span>";

                    //$(this).parent().find(".tags").append(tag_element);


                    var tag_element = "<a href=\"javascript:void(0);\">"+ text +"<span class=\"cross tag_close\"><input type=\"hidden\" name=\"qtag-list[]\" value=\""+ value +"\" <span></span></a>";

                    $(this).parent().find(".tags").append(tag_element);

                }

                $( "#id_qtag_input" ).val("");
                $( "#id_qtag_input" ).focus();

                return false;
            }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li style='cursor:pointer;'>" )
                    .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                    .append( "<input type='hidden' class='major_id' value='"+ item.id +"'/>" )
                    .appendTo( ul );
            }

        $(document).on("change","#id_subject_level",function(e){
             var parent = $(this).parent().parent();
             parent.find(".tag_close").each(function(e){
                 parent.find(".tag_close").parent().remove();
                });

        });

});
</script>
<div class="modal fade question_preview" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Question Post Preview</h4>
            <div id="questionss" style="display: block;">
                <div class="questionss_bx1">
                    <h3 class="questions_popup_heading">Question</h3>
                    <div class="questions_popup_detail">
                        <div id="id_preview_content" class="te">

                        </div>
                        <div class="modal-footer center-block">
                            <a href="#" class="questions_popup_edit" data-dismiss="modal">Edit</a>
                            <a href="#" class="questions_popup_submit" id="id_preview_qpost">Submit</a>
                        </div>
                    </div>

                </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="{% static "js/profile_picture.js" %}"></script>

<script>
    $(document).ready(function() {
      $(".tabs-menu a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("currentt");
        $(this).parent().siblings().removeClass("currentt");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });
    });
</script>
<script>
$(".year_topic_icon").hover(function(){
	$(this).siblings(".lesson_chap_summary").toggleClass("displaynone");
});

$(".year_chap").hover(function(){
	$(this).siblings(".lesson_chap_summary").toggleClass("displaynone");
});
</script>
