{% load staticfiles %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}"/>
<script src="{% static "js/jobs/refresh_counter.js" %}"></script>
<script src="{% static "js/jobs/student_my_jobs_refresh_counter.js" %}"></script>
{% for my_job in my_jobs %}
{{ my_job }}
{% endfor %}
<div id="repost">
  <div class="repost_bx">
	<h3 class="questions_popup_heading">Please Indicate The Information Below To Repost</h3>
	<form id="id_repost_form" class="pick-date">
        {% csrf_token %}
        <div>
            <div class="form-sec">
                <label>Expiry Date: </label>
                <input name="expire_date" id="id_datepicker2" readonly type="text">
                <!-- <input type="text"data-range="false"data-language="en"class="datepicker-here-s"/> -->
            </div>
            <div class="form-sec">
                <label>Start Date:</label>
                <input name="start_date" id="id_datepicker3" readonly type="text">
                <!-- <input type="text"data-range="false" data-language="en" class="datepicker-here-s"/> -->
            </div>
            <div class="form-sec">
                <label>Start Time:</label>
                <input name="start_time" id="id_datetimepicker2" readonly type="text">
                <!-- <input type="text"data-range="false" data-language="en" class="datepicker-here-s"/> -->
            </div>
        </div>
        <div style="float: left; width: 100%; margin-top: 20px;">
            <span id="id_required_error" style="display: none; color: red;">*All fields are required</span>
            <input type="hidden" name="object_id" value="-1"/>
            <a id="id_report_button" class="champ_finance_view" href="#">Submit</a>
        </div>
	</form>
  </div>
</div>
<div id="repost_dialog">
  <div class="repost_bx" style="width: 600px;">
	<h3 id="id_repost_dialog_header" class="questions_popup_heading"></h3>
    <div style="padding: 20px; margin: 30px; position: relative; top: 30px; height: 130px;">
        <p id="id_repost_dialog_message">

        </p>
    </div>
  </div>
</div>
<script src="{% static "js/jquery.datetimepicker.full.js" %}"></script>
<script>
    $('#id_datetimepicker2').datetimepicker({
        datepicker:false,
        format:'H:i',
        step:5
    });

    function validate_repost_form() {
        var expire_date = $("#id_datepicker2").val();
        var start_date = $("#id_datepicker3").val();
        var start_time = $("#id_datetimepicker2").val();

        if(expire_date == "" || start_date == "" || start_time == "") {
            $("#id_required_error").show();
            return false;
        }
        else {
            $("#id_required_error").hide();
            return true;
        }
    }

    var black_overlay = $('#black_overlay');
    var cross = $('.cross');
    var repost = $('#repost');
    var repost_dialog = $('#repost_dialog');

    $(document).ready(function() {
        $("#id_datepicker2,#id_datepicker3").datepicker();

        $(document).on("click", ".open_repost_button", function (e) {
            e.preventDefault();
            var object_id = $(this).data("object-id");
            $("#id_repost_form").find("input[name=object_id]").val(object_id);
            open_repost_dialog();
        });

        $("#id_report_button").click(function (e) {
            e.preventDefault();
            if(!validate_repost_form()) {
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/ajax/job/repost/",
                data: $("#id_repost_form").serialize(),
                enctype: 'multipart/form-data',
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    if(data.status == "SUCCESS") {
                        black_overlay.show();
                        repost.hide();
                        $("#id_repost_dialog_header").text("Repost Successful");
                        $("#id_repost_dialog_message").text("Job reposted successfully. You will be redirected to the job details page shortly.");
                        $("#repost_dialog").show();
                        setTimeout(function () {
                            window.location.href = data.data.redirect_url;
                        }, 4000);
                    }
                    else {
                        black_overlay.show();
                        repost.hide();
                        $("#id_repost_dialog_header").text("Repost Failed");
                        $("#id_repost_dialog_message").text("Job repost failed. Please try again later.");
                        $("#repost_dialog").show();
                    }
                },
                error: function(jqxhr, status, error)
                {
                    black_overlay.show();
                    repost.hide();
                    $("#id_repost_dialog_header").text("Repost Failed");
                    $("#id_repost_dialog_message").text("Job repost failed. Please try again later.");
                    $("#repost_dialog").show();
                }
            })
            .done(function( msg ) {

            });
        });

    });
    function open_repost_dialog()
    {
        document.getElementById('black_overlay').style.display="block";
        document.getElementById('repost').style.display="block";
        return false;
    }

    black_overlay.click(function(){black_overlay.hide(); repost.hide(); repost_dialog.hide();});
    cross.click(function(){black_overlay.hide(); repost.hide(); repost_dialog.hide();});


    $( document ).on( 'keydown', function ( e ) {
        if ( e.keyCode === 27 ) { // ESC
            $( black_overlay ).hide();
            $( repost.hide ).hide();
            repost_dialog.hide();
        }
    });
 </script>