{% load staticfiles %}
{% load datefilters %}

<script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>

<style type="text/css">
    .job_post_form input {
        width: 600px;
        padding: 7px;
        min-height: 40px;
    }
    .job_post_form textarea {
        width: 100%;
        height: 300px;
    }
    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        background: white;
    }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
    * html .ui-autocomplete {
        max-height: 200px;
    }
</style>

<script>
    $(document).ready(function(){

        $(document).on("click",".tag_close",function(e){
            e.preventDefault();
            $(this).parent().remove();
        });


        $("button[name=q_post_button]").click(function(e){
            e.preventDefault();
            var $job_post_title = $("input[name=title]");
            if($job_post_title.val() == ""){
                $job_post_title.focus();
                return false;
            }
            var $description = $("textarea[name=description]");
            if($description.val() == ""){
                $description.focus();
                return false;
            }

            $("form[name=q-post-form]").submit();

        });

        $("button[name=q_post_preview_button]").click(function(e){
            e.preventDefault();

        });

        $( "#id_qtag_input" ).autocomplete({
            minLength: 0,
            source: function(request, response) {
            $.ajax({
                url: "/ajax/major",
                data: {
                    term: request.term,
                    readonly: 'true'
                },
                success: function(data) {
                    response(data);
                }
            });
            },
            data: { 'readonly': 'true' },
            focus: function( event, ui ) {
                return false;
            },
            select: function( event, ui ) {
                var tag_val = ui.item.value;
                if(ui.item.id == -1){
                    tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                }

                var value = ui.item.id;
                var text = ui.item.value;
                var value_found = false;
                $(this).parent().find(".tags").find("input").each(function(e){
                    if($(this).val() == value){
                        value_found = true;
                        return;
                    }
                });

                if(!value_found){
                    var input_element = "<input type='hidden' name='qtag-list[]" +"' value='"+ value +"' >";
                    var tag_element = "<span class=\"dfrnt_tag radius3\"><a class=\"tag_close\" href=\"#\"></a>"+ input_element + text +"</span>";

                    $(this).parent().find(".tags").append(tag_element);
                }

                $( "#id_qtag_input" ).val("");
                $( "#id_qtag_input" ).focus();

                return false;
            }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li style='cursor:pointer;'>" )
                    .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                    .append( "<input type='hidden' class='major_id' value='"+ item.id +"'/>" )
                    .appendTo( ul );
            }

    });
</script>

<div class="contnt">
    <div class="col-xs-12 col-sm-12">
        <div class="wrapper">
            <div class="main_cntnt radius3">
            <div class="form-group">
                <div class="col-xs-12">
                    <h3>Post Question</h3>
                    <hr/>
                </div>
            </div>
            <form name="q-post-form" role="form" action="{% url "create_qpost" pk=request.user.pk %}" class='form-horizontal q_post_form' method="POST">
                {% csrf_token %}
               <div class="form-group">
                    <div class="col-xs-12">
                        <input type="text" class="form-control" name="q_title" placeholder="Question Title"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <textarea style="min-height: 300px;" name="q_description" class="form-control" placeholder="I will require a tutor who knows Math subject very well"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input id="id_qtag_input" type="text" class="radius5 form-control" name="a_tag" placeholder="Question Tag">
                        <div class="tags"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <button class="btn btn-lg btn-danger" name="q_post_button">Post Question</button>
                        <button class="btn btn-lg btn-primary" name="q_post_preview_button">Preview Question</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>