{% load staticfiles %}
<div class="champ_student_detail" style="padding: 0px;">
    <div class="upcmng_lsn radius3">
            <h5>{% if header %}{{ header }}{% endif %}
            </h5>
            <table class="upcoming_leasson">
              <tbody>
                    {% for entry in entry_list %}
                        {{ entry }}
                    {% endfor %}
              </tbody>
            </table>
        </div>
</div>