{% load staticfiles %}
{% load datefilters %}

<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery-ui.min.js" %}"></script>

<style>
    .job_posted_by_user {
        text-decoration: none;
        font-weight: bold;
    }
    .dfrnt_tag {
        padding-left: 8px !important;
    }
    .invite_button {
        color: #ffffff !important;
    }
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        background: white;
        z-index: 1000000;
    }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
    * html .ui-autocomplete {
        max-height: 200px;
    }
</style>

<script>
$(document).ready(function(){
    $("#id_invite_tutors").click(function(e){
        e.preventDefault();
        $("#black_overlay").show();
        $("#snd_msg").show();
        $("#id_invite_tutor_text").focus();
        $("#id_invite_tutor_text").parent().find(".tags").html("");
    });

    $("#id_cancel_invite_users").click(function(e){
        e.preventDefault();
        $("#black_overlay").hide();
        $("#snd_msg").hide();
    });

    $(document).on("click",".tag_close", function(e){
        $(this).parent().remove();
    });

    function collect_exclude_list() {
        exclude_str = window.champ_user_id+",";;
        $( "#id_invite_tutor_text" ).parent().find(".tags").find("input").each(function(e){
                    exclude_str += $(this).val()+",";
        });
        return exclude_str;
    }

    $( "#id_invite_tutor_text" ).autocomplete({
            minLength: 0,
            source: function(request, response) {
            $.ajax({
                url: "/ajax/fetch-user-list",
                data: {
                    term: request.term,
                    exclude: collect_exclude_list(),
                    type: "teacher"
                },
                success: function(data) {
                    var parsed = JSON.parse(data);
                    response(parsed);
                }
            });
            },
            focus: function( event, ui ) {
                console.log(ui.item);
                return false;
            },
            select: function( event, ui ) {
                var tag_val = ui.item.value;
                var value = ui.item.id;
                var text = ui.item.value;
                var value_found = false;
                $(this).parent().find(".tags").find("input").each(function(e){
                    if($(this).val() == value){
                        value_found = true;
                        return;
                    }
                });

                if(!value_found){
                    var input_element = "<input type='hidden' name='invite-tutor-list[]" +"' value='"+ value +"' >";
                    var tag_element = "<span class=\"dfrnt_tag radius3\"><a class=\"tag_close\" href=\"#\"></a>"+ input_element + text +"</span>";

                    $(this).parent().find(".tags").append(tag_element);
                }

                $( "#id_invite_tutor_text" ).val("");
                $( "#id_invite_tutor_text" ).focus();

                return false;
            }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li style='cursor:pointer;'>" )
                    .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                    .append( "<input type='hidden' class='user_id' value='"+ item.id +"'/>" )
                    .appendTo( ul );
            }


});
</script>

<div id="black_overlay"></div>
<div id="snd_msg">
        <div class="snd_msg_bx">
            <h1 class="lesson_bx_heading">Invite Tutors to the Lesson</h1>
            <form id="id_form_invite_users" method="POST" action="{% url "invite_users_view" %}" class="lesson_bx_form" name="msg_form" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="job_id" value="{{ job.pk }}"/>
                <div>
                    <input type="text" class="form-control" id="id_invite_tutor_text" placeholder="Type tutor name here"/>
                    <div class="tags">
                    </div>
                </div>
                <div>
                    <button class="btn btn-sm btn-primary">Done</button>
                    <button class="btn btn-sm btn-danger" id="id_cancel_invite_users">Cancel</button>
                </div>
            </form>
        </div>
    </div>

<div class="contnt">
    <div class="container" style="min-height: 600px;">
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10">
                <h2>{{ job.title }}<a id="id_invite_tutors" href="#" class="btn btn-primary btn-sm pull-right invite_button">+ Invite Tutors</a></h2>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10" style="padding: 3px; border: 1px solid #e7e5e5; margin-bottom: 7px; padding: 7px;">
                <div>
                    <section style="white-space: pre;">
                        {{ job.description }}
                    </section>
                    <div style="width: 100%; display: block;">
                        {% if job.lesson_type == 0 %}<span class="dfrnt_tag radius3" style='color: green; font-weight: bold;'>Live Lesson</span>{% else %}<span class="dfrnt_tag radius3">Written Lesson</span>{% endif %}
                        {% if job.preference %}
                            {% for country in job.preference.nationalities.all %}
                            <span class="dfrnt_tag radius3">{{ country.name }}</span>
                            {% endfor %}
                            {% if job.preference.rate %}
                            <span class="dfrnt_tag radius3">{{ job.preference.rate.currency }}{{ job.preference.rate.min_value }} - {{ job.preference.rate.currency }}{{ job.preference.rate.max_value }}</span>
                            {% endif %}
                            {% if job.preference.gender %}
                            <span class="dfrnt_tag radius3">Gender: {{ job.preference.gender }}</span>
                            {% endif %}
                            {% if job.preference.timezones.all %}
                            <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Timezone:</span>
                            {% for tz in job.preference.timezones.all %}
                            {{ tz.value.strip }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            </span>
                            {% endif %}
                            {% if job.preference.currencies.all %}
                            <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Currency:</span>
                            {% for c in job.preference.currencies.all %}
                            {{ c.value }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            </span>
                            {% endif %}
                            {% if job.preference.languages.all %}
                            <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Language:</span>
                            {% for lang in job.preference.languages.all %}
                            {{ lang.value }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            </span>
                            {% endif %}
                            {% if job.preference.availability %}
                            <span class="dfrnt_tag radius3" style='color: green;'>{% if job.preference.availability == 1 %}Available{% elif job.preference.availability == 2 %}Ready To Teach{% else %}Any%{% endif %}</span>
                            {% endif %}
                            {% for s in job.preference.subjects.all %}
                            <span class="dfrnt_tag radius3">{{ s.value }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
    </div>
</div>