{% load staticfiles %}
{% load datefilters %}
{% load questiontagfilters %}

<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery-ui.min.js" %}"></script>

<style>
    .job_posted_by_user {
        text-decoration: none;
        font-weight: bold;
    }
    .dfrnt_tag {
        padding-left: 8px !important;
    }
</style>

<script>
$(document).ready(function(){

});
</script>

<div class="contnt">
    <div class="container" style="min-height: 600px;">
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10">
                <h2>{{ question.title }}<span style="font-weight: normal; font-size: 13px;">(Posted by: <a class="job_posted_by_user" href="{% url "user_profile" pk=question.created_by.pk %}">{{ question.created_by.champuser.fullname }}</a>)</span></h2>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10" style="padding: 3px; border: 1px solid #e7e5e5; margin-bottom: 7px; padding: 7px;">
                <div>
                    <section>
                        {{ question.description }}
                    </section>
                    <div style="width: 100%; display: block;">
                        {% for tag in question.tags.all %}
                            <span class="dfrnt_tag radius3">{{ tag.value }}</span>
                        {% endfor %}
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div style="width: 100%; display: block; float: left;">
                        <span style="font-weight: bold; font-size: 20px;">Answers({{ question.answers.all.count }})</span>
                        <hr/>
                    </div>
                    {% for answer in question.answers.all %}
                    <section style="padding: 7px; margin-bottom: 13px;">
                        <p>
                            {{ answer.answer }}
                        </p>
                        <div>
                            <span>{{ question.answer.date_created }}</span>
                        </div>
                        <br/>
                        <div>
                            <span><b>Comments({{ answer.comments.all.count }}):</b></span>
                            <hr/>
                            <br/>
                            {% for comment in answer.comments.all %}
                             <div style="width: 100%; display: block; float: left;padding: 7px;">
                                 <table class="table">
                                     <tr>
                                         <td style="padding: 2px;width: 140px; vertical-align: top;">
                                         <div style="clear: both;"><img src="{{ comment.created_by.champuser.render_profile_picture }}"/></div>
                                         <div style="clear: both;"><a class="pull-left" href="{% url "user_profile" pk=comment.created_by.pk %}">{{ comment.created_by.champuser.fullname }}</a></div>
                                         </td>
                                         <td style="vertical-align: top;">
                                             <p>{{ comment.comment }}</p>
                                             <br/>
                                             <div style="clear: both;"><span>{{ comment.date_created|convert_utc_timestamp_to_local_datetime:request }}</span></div>
                                         </td>
                                     </tr>
                                 </table>
                             </div>
                            {% empty %}
                            <div style="width: 100%; display: block; float: left;">
                                No comments
                            </div>
                            {% endfor %}
                            <br/>
                            <br/>
                            <br/>
                            <div style="width: 100%; display: block; float: left;">
                                <form action="{% url "qcomment_post_details" pk=answer.pk %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="qid" value="{{ question.pk }}"/>
                                    <input type="hidden" name="qaid" value="{{ answer.pk }}"/>
                                    <textarea name="qcomment" class="form-control pull-right" style="width: 450px; height: 100px; clear: both;" placeholder="Add a comment..."></textarea>
                                    <button id="qcomment_submit" class="btn btn-md btn-danger pull-right" style="margin-top:7px; clear: both;">Submit</button>
                                </form>
                            </div>
                        </div>
                    </section>
                    {% endfor %}
                    {% if not question|check_if_user_already_commented:request.user %}
                        <div style="width: 100%; display: block; float: left;">
                            <h3>Reply</h3>
                        </div>
                        <div style="margin-top: 10px;">
                            <form action="{% url "qanswer_post_details" pk=question.pk %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="qid" value="{{ question.pk }}"/>
                                <textarea name="qanswer" class="form-control" placeholder="Reply with answer..." rows="7"></textarea>
                                <button id="qanswer_submit" class="btn btn-md btn-danger pull-right" style="margin-top:7px;">Submit</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
    </div>
</div>