{% load staticfiles %}
{% load datefilters %}

<script src="{% static "js/jquery.cropit.js" %}"></script>
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery-ui.min.js" %}"></script>

<div class="contnt">

    <div class="wrapper">
        <div id="id_cover_picture_editor" class="image-editor">
            <div id="id_student_profile_cover_photo_section_data" class="student_profile_detail cropit-image-preview" style="cursor: default;{% if request.user.champuser.cover_photo %}background-image: url(/media/image/{{ request.user.champuser.cover_photo.image_field }}){% endif %}">
                {% if content_editable %}
                <input type="hidden" id="id_previous_cover_photo" value="{% if object.cover_photo %}/media/image/{{ object.cover_photo.image_field }}{% endif %}">
                {% endif %}
                <div class="student_profile_img" id="id_student_pp" style="background-image: url(/media/image/{{ request.user.champuser.profile_picture.image_field }})">
                    {% if content_editable %}
                    <div class="upload_pic_outer" style="display: none;">
                        <a href="javascript:void(0);" class="upload_picture" onClick="showstudentpic();">Upload Picture </a>
                    </div>
                    {% endif %}
                </div>

                <div class="person_detail">
                    <div id="id_edit_student_about_section_data">
                        <div class="person_name"> <h2 class="person_heading">{{ object.fullname }}</h2>
                        {% if content_editable %}
                        <a href="#" id="id_edit_student_about_section" class="edit_profile"> <img src="{% static "images/edit.png" %}" width="17" height="17" alt="img"> </a>
                        {% endif %}
                        </div>
                        <p class="major_txt">
                            {% if object.user.usermajor_set.all %}
                            {% for usermajor in object.user.usermajor_set.all %}
                                <span {% if content_editable %} class="dfrnt_tag radius3" {% endif %} style="font-size: 13px;">
                                    {% if content_editable %}
                                    <a class="close_major_tag" href="#"></a>
                                    <input type="hidden" class="major_tag_id" value="{{ usermajor.major.pk }}">
                                    {% endif %}
                                    <label>{{ usermajor.major.name|capfirst }}</label>
                                </span>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            {% else %}
                            {% if content_editable %}
                            Select Up To 3 Majors
                            {% endif %}
                            {% endif %}
                        </p>
                        <p class="major_txt">
                            {% if object.hometown %}
                            {{ object.hometown }}
                            {% else %}
                            {% if content_editable %}
                            What's your Hometown?
                            {% endif %}
                            {% endif %}
                        </p>
                    </div>
                    {% if content_editable %}
                    <div id="id_edit_student_about_section_form" style="display: none;">
                    <form id="id_about_data_edit_form" name="about_data_edit_form" action="" method="post" style="background: #ffffff; opacity: 0.9; z-index: 1001; padding: 7px; border: 1px solid #000000; border-radius: 7px;">
                        {% csrf_token %}
                        <div class="person_name"> <h2 class="person_heading">
                            <input class="form-control" name="student_name" style="color: #000000" type="text" value="{{ request.user.champuser.fullname }}"/>
                        </h2>
                        </div>
                        <p class="major_txt">
                            <input id="id_student_profile_about_major" name="student_major" class="form-control" placeholder="Select Up To 3 Majors" type="text" value="">
                        </p>
                        <div id="id_major_list">
                            {% if object.user.usermajor_set.all %}
                                {% for usermajor in object.user.usermajor_set.all %}
                                    <span class="dfrnt_tag radius3" style="font-size: 10px;">
                                    <a class="close_major_tag" href="#"></a>
                                    <input type="hidden" class="major_tag_id" value="{{ usermajor.major.pk }}">
                                    <label>{{ usermajor.major.name|capfirst }}</label>
                                </span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <p class="major_txt">
                            <input class="form-control" name="student_hometown" type="text" {% if request.user.champuser.hometown %}
                                value="{{ request.user.champuser.hometown }}"
                            {% else %}
                                placeholder="What's your Hometown?"
                            {% endif %}/>
                        </p>
                        <div style="clear: both;">
                            <button id="id_student_about_submit" class="btn btn-primary">Save</button>
                            <button id="id_student_about_cancel" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                    </div>
                    {% endif %}
                </div>
                {% if content_editable %}
                <form id="id_cover_photo_upload_form" name="cover_photo_upload_form" action="" method="POST">
                    <input type="file" id="id_cover_photo_image" class="cropit-image-input" style="display: none;">
                    {#                <div class="cropit-image-preview"></div>#}
                    <div id="id_cover_photo_resize_label" class="image-size-label" style="display: none;">
                        Resize image
                    </div>
                    <input id="id_cover_photo_resize_input" type="range" class="cropit-image-zoom-input" style="display: none;">
                    <input type="hidden" name="image-data" class="hidden-image-data" />
                </form>
                <a href="#" id="id_edit_student_cover_photo" class="edit_student_photo" style="display: none;">Edit Cover Photo</a>
                {% endif %}
            </div>
            <div id="id_cover_photo_action_panel" style="float: right; position: relative; top: -70px; right: 10px; display: none;">
                <button id="id_cover_photo_submit" class="btn btn-primary">Save</button>
                <button id="id_cover_photo_cancel" class="btn btn-danger">Cancel</button>
            </div>
        </div>
        {% if content_editable %}
        <style>

            #id_edit_student_about_section_data *{
                color: white;
            }

            #id_cover_picture_editor > .cropit-image-preview {
                background-color: #f8f8f8;
                background-size: cover;
                margin-top: 7px;
                width: 100%;
                height: 200px;
                cursor: move;
            }
            .cropit-image-background {
                opacity: .2;
                cursor: auto;
            }
            #id_cover_picture_editor  .image-size-label {
                margin-top: 10px;
            }
            #id_cover_picture_editor  input {
                /* Use relative position to prevent from being covered by image background */
                position: relative;
                z-index: 10;
                display: block;
            }
            .export {
                margin-top: 10px;
            }
            .dfrnt_tag{
                font-size: 10px;
            }
        </style>
        <script>

            var save_tag_async = function(tag_val,tag_id,action,callback,error_back,complete_back){
                $.ajax({
                    type: "POST",
                    url: "/ajax/major",
                    data: { action: action, tag: tag_val,tag_id: tag_id },
                    success: function(data)
                    {
                        callback(jQuery.parseJSON(data));
                    },
                    error: function(jqxhr, status, error)
                    {
                        error_back(jqxhr, status, error);
                    }
                })
                .done(function( msg ) {
                    complete_back(msg);
                });
            };

            jQuery(document).ready(function($){

                $(document).on("click", ".close_major_tag", function(e){
                    var _this_obj = $(this);
                    var tag_id = $(this).parent().find(".major_tag_id").val();
                    save_tag_async("",tag_id,"DELETE",function(data){
                                if(data.status == "SUCCESS"){
                                    _this_obj.parent().remove();
                                }
                                else{

                                }
                            },
                            function(jqxhr, status, error){

                            },
                            function(msg){

                            });
                    return false;
                });

                $( "#id_student_profile_about_major" ).autocomplete({
                    minLength: 0,
                    source: '/ajax/major',
                    focus: function( event, ui ) {
                        if(ui.item.id == -1){
                            $( "#id_student_profile_about_major" ).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                        }
                        else{
                            $( "#id_student_profile_about_major" ).val( ui.item.value );
                        }
                        return false;
                    },
                    select: function( event, ui ) {
                        var tag_val = ui.item.value;
                        if(ui.item.id == -1){
                            tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                        }

                        save_tag_async(tag_val,ui.item.id,"SAVE",function(data){
                                    if(data.status == "SUCCESS"){
                                        var html_tag = "<span class=\"dfrnt_tag radius3\" style=\"font-size: 10px;\"><a class=\"close_major_tag\" href=\"#\"></a><input type=\"hidden\" class=\"major_tag_id\" value=\""+ data.data.id +"\"><label>"+ tag_val +"</label></span>";
                                        $("#id_major_list").append(html_tag);
                                        $("#id_student_profile_about_major").val("");
                                        $("#id_student_profile_about_major").focus();
                                    }
                                    else{

                                    }
                                },
                                function(jqxhr, status, error){

                                },
                                function(msg){

                                });

                        return false;
                    }
                })
                .autocomplete( "instance" )._renderItem = function( ul, item ) {
                    return $( "<li style='cursor:pointer;'>" )
                            .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                            .append( "<input type='hidden' class='major_id' value='"+ item.id +"'/>" )
                            .appendTo( ul );
                };

            });

            $(document).ready(function(){

                $(document).on("click","#id_student_about_submit", function(e){
                    e.preventDefault();
                    var form_data = $("#id_about_data_edit_form").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/ajax/student_about_section",
                        data: form_data,
                        success: function(data)
                        {
                            data = jQuery.parseJSON(data);
                            if(data.status == "SUCCESS"){
                                location.reload();
                            }
                            else if(data.STATUS == "FAILURE"){
                                alert("Failed");
                            }
                        },
                        error: function(jqxhr, status, error)
                        {

                        }
                    })
                    .done(function( msg ) {

                    });
                });

                $(document).on("click","#id_student_about_cancel",function(e){
                    e.preventDefault();
                    $("#id_edit_student_about_section_form").hide();
                });

                $(document).on("click","#id_student_about_cancel",function(e){
                    $("#id_edit_student_about_section_data").show();
                    $("#id_edit_student_about_section_form").hide();
                });
            });
            $(function() {
                $('#id_cover_picture_editor').cropit({
                    imageBackground: true
                });

                $("#id_cover_photo_submit").click(function(e){
                    e.preventDefault();
                    $("#id_cover_photo_upload_form").submit();
                });

                $("#id_cover_photo_cancel").click(function(e){
                    e.preventDefault();
                    var previous_cover_photo = $("#id_previous_cover_photo").val();
                    $("#id_student_profile_cover_photo_section_data").css("background-image","url("+ previous_cover_photo +")");
                    $("#id_cover_photo_action_panel").hide();
                });

                $('#id_cover_photo_upload_form').submit(function() {
                    $('#id_cover_photo_submit').text('Saving cover picture...');
                    // Move cropped image data to hidden input
                    var imageData = $('#id_cover_picture_editor').cropit('export');
                    console.log(imageData);
                    var image_size = $('#id_cover_picture_editor').cropit('imageSize');
                    //console.log(image_size);
                    $('#id_cover_photo_upload_form').find('.hidden-image-data').val(imageData);
                    // Print HTTP request params
                    var formValue = $(this).serialize();

                    $.ajax({
                        type: "POST",
                        url: "/ajax/student_cover_picture",
                        data: formValue,
                        success: function(data)
                        {
                            data = jQuery.parseJSON(data);
                            if(data.status == "SUCCESS"){
                                location.reload();
                            }
                            else if(data.STATUS == "FAILURE"){

                            }
                        },
                        error: function(jqxhr, status, error)
                        {

                        }
                    })
                    .done(function( msg ) {

                    });

                    return false;
                });
            });
        </script>
        <script>
            $(document).ready(function(){
                $("#id_edit_student_cover_photo").click(function(e){
                    e.preventDefault();
                    $("#id_cover_photo_image").click();
                });

                $("#id_cover_photo_image").change(function(e){
                    e.preventDefault();
                    $("#id_student_profile_cover_photo_section_data").css({
                        "background-size": "1024px 768px",
                        "background-position": "0px 0px"
                    });
                    $("#id_cover_photo_action_panel").show();
                    var image_size = $('.image-editor').cropit('imageSize');
                    console.log(image_size);
                });

                $("#id_student_profile_cover_photo_section_data").css("cursor","move");

                $("#id_student_pp").hover(function(e){
                    $(this).find(".upload_pic_outer").show();
                },
                function(e){
                    $(this).find(".upload_pic_outer").hide();
                });

                $("#id_student_profile_cover_photo_section_data").hover(function(e){
                    $("#id_edit_student_cover_photo").show();
                },
                function(e){
                    $("#id_edit_student_cover_photo").hide();
                });

            });
        </script>
        {% endif %}
        {% if content_editable %}
        <div id="id_student_profile_cover_photo_section_form" class="student_profile_detail" style="display: none;">
            <div class="student_profile_img">
                <img src="images/person-img.jpg" width="154" height="154" alt="img">
                <div class="upload_pic_outer">
                    <a href="javascript:void(0);" class="upload_picture" onClick="showstudentpic();">Upload Picture </a>
                </div>
            </div>
            <form class="person_detail_edit">
                <div class="person_edit_textfield">
                    <div>
                        <input type="text" placeholder="First Name" class="student_shrt_txt right10">
                        <input type="text" placeholder="Last Name" class="student_shrt_txt right10">
                        <div class="select_grad_year">
                            <select class="loct">
                                <option value="Select Grad year">Select Grad year</option>
                            </select>
                        </div>
                    </div>
                    <div> <input type="text" placeholder="School" class="student_long_txt"> </div>
                    <div> <input type="text" placeholder="Enter Major" class="student_long_txt"> </div>
                    <div>
                        <input type="text" placeholder="Enter Hometown" class="student_shrt_txt right10">
                        <div class="student_select right10">
                            <select class="loct">
                                <option value="Select">Select</option>
                            </select>
                        </div>
                        <input type="text" placeholder="Zip" class="student_zip_txt">
                    </div>
                </div>
                <a href="#" class="edit_student_photo">Edit Cover Photo</a>
                <div class="outer_student_btn">
                    <input type="submit" class="student_save" value="Save">
                    <input type="button" class="student_cancel" value="Cancel">
                </div>
            </form>
        </div>
        {% endif %}
        <div id="id_student_profile_about_section_data" class="student_profile radius3">
            <div class="student_profile_inner">
                <h2 class="student_profile_heading">About Me</h2>
            </div>
            <div id="id_student_profile_summary" class="student_profile_inner">
                <div class="summary_section">
                    <h1 class="summary_heading">Summary</h1>
                    {% if content_editable %}
                    <a id="id_profile_summary" class="edit_profile" href="#">
                    <img src="{% static "images/edit-gray.png" %}" width="17" height="17" alt="img"> </a>
                    <span class="status_msg"></span>
                    {% endif %}
                </div>
                <p class="summary_txt">{{ object.profile_set.all.first.about }}</p>
            </div>
            {% if content_editable %}
            <div id="id_student_profile_summary_form" class="student_profile_inner" style="display: none;">
                <div class="summary_section">
                    <h1 class="summary_heading">Summary</h1>
                </div>
                <form class="summary_form" id="id_profile_about_form" method="POST" action="{% url "ajax_user_profile_about" pk=object.user.id %}" onsubmit="return false;">
                    <textarea id="id_profile_about_content_value" style="color: #000000;" placeholder="What are your aspirations after graduation? What do you like to do in your free time? Tell your story here…" class="summary_textarea">{{ object.profile_set.all.first.about }}</textarea>
                    <div class="outer_student_btn">
                        <input id="id_profile_about_edit_submit" type="submit" value="Save" class="student_save">
                        <input type="button" value="Cancel" class="student_cancel">
                    </div>
                </form>
            </div>
            {% endif %}
            <div id="id_student_profile_private_info_section_data" class="student_profile_inner">
                <div class="summary_section">
                    <span class="private_icon"> <img src="{% static "images/privacy.png" %}" width="16" height="20" alt="img"> </span>
                    <h1 class="summary_heading">Private Info</h1>
                    {% if content_editable %}
                    <a id="id_edit_private_info" class="edit_profile" href="#">
                        <img src="{% static "images/edit-gray.png" %}" width="17" height="17" alt="img">
                        <span class="status_msg"></span>
                    </a>
                    {% endif %}
                </div>
                <p class="summary_txt">The information in this section is private and not visible to other Chegg members. We will use this information to match you with scholarships and other opportunities to help you succeed.</p>
                <ul id="id_private_info_data" class="private_list">
                    <div class="private_list_left">
                        <li>
                            <label>Email:</label>
                            <span>{{ champ_user.user.email }}</span>
                        </li>
                        <li>
                            <label>Gender :</label>
                            <span>{{ champ_user.gender|capfirst }}</span>
                        </li>
                        <li>
                            <label>Birthdate:</label>
                            <span>{% if champ_user.birthdate > 0 %} {{ champ_user.birthdate|date_from_timestamp }} {% endif %}</span>
                            <p>Our services are not available to students under the age of 13. Please work with your parent or guardian to establish an account.</p>
                        </li>
                        <li>
                            <label>Citizenship :</label>
                            <span>{{ champ_user.nationality.name|capfirst }}</span>
                        </li>
                        <li>
                            <label>Ethnicity :</label>
                            <span>{{ champ_user.ethnicity|capfirst }}</span>
                        </li>
                    </div>
                    <div class="private_list_right">
                        <li>
                            <label>Religion/Beliefs :</label>
                            <span>{{ champ_user.religion|capfirst }}</span>
                        </li>
                        <li>
                            <label>Languages:</label>
                            <span>
                            {% for user_language in languages %}
                                {{ user_language.language.name }}
                                {% if not forloop.last %}
                                    ,
                                {% endif %}
                            {% endfor %}
                            </span>
                        </li>
                        <li>
                            <label>Timezone: </label>
                            <span>{{ champ_user.timezone|capfirst }}</span>
                        </li>
                    </div>
                </ul>
        </div>
        <div id="id_student_profile_private_info_section_form" class="student_profile_inner" style="display: none;">
            <!--
                The private info form will be placed here.
             !-->
        </div>

        <div id="id_student_profile_education_section_data" class="student_profile radius3">
            <div class="student_profile_inner">
                <h2 class="student_profile_heading">Education</h2>
            </div>
            <div class="student_profile_inner">
                <div class="summary_section">
                    <h1 class="summary_heading">Schools</h1>
                </div>
                <ul class="schools_list">
                    {% for education in educations %}
                    <li>
                        <div class="schools_icon"> <img src="{% static "images/schools-img.png" %}" width="59" height="48" alt="img"> </div>
                        <div class="schools_txt"> <p>{{ education.institution.name }}, {{ education.location }}</p>
                        {% if content_editable %}
                        <div style="float: right; margin-top: -30px;">
                        <a href="#" class="edit-school edit_profile"> <img width="17" height="17" alt="img" src="{% static "images/edit-gray.png" %}"> </a>
                        </div>
                        {% endif %}
                        </div>

                        <div class="edit-panel-container"></div>

                    </li>
                    {% endfor %}
                    {% if content_editable %}
                    <li id="id_education_add_button_container">
                        <a href="#" class="add_school"> <div class="add_school_icon"> <img src="{% static "images/add_school.png" %}" width="59" height="48" alt="img"> </div>
                            <p>Add a School</p>  </a>

                    </li>
                    <li id="id_student_profile_education_edit_form_container">
                        {% include "ajax/student_add_education_form.html" %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <style type="text/css">
            .error-field{
                border: 1px solid red;
            }
        </style>
        {% if content_editable %}
        <script>
            $(document).ready(function(){

                $(document).on("click",".add_school", function(e){
                    e.preventDefault();
                    $("#id_student_profile_education_edit_form").show();
                    $(this).parent().hide();
                });

                $(document).on("click","#id_student_private_info_canel", function(e){
                    $("#id_private_info_data").show();
                    $("#id_student_profile_private_info_section_form").hide();
                });

                $("#id_student_profile_education_edit_form").find(".student_cancel").click(function(e){
                    $(".add_school").parent().show();
                    $("#id_student_profile_education_edit_form").hide();
                });

                $("#id_student_profile_summary_form").find(".student_cancel").click(function(e){
                    $("#id_student_profile_summary").show();
                    $("#id_student_profile_summary_form").hide();
                });

                $("#id_student_profile_cover_photo_section_form").find(".student_cancel").click(function(e){
                    $("#id_student_profile_cover_photo_section_data").show();
                    $("#id_student_profile_cover_photo_section_form").hide();
                });


                $(document).on("click",".student_save",function(e){
                    e.preventDefault();
                    var target_element_id = $(this).prop("id");
                    if(target_element_id == "id_student_private_info_submit"){

                        var password = $("#id_password").val();
                        if(password == ""){
                            $("#id_password").addClass("error-field");
                            $("#id_password").focus();
                            return false;
                        }
                        else{
                            $("#id_password").removeClass("error-field");
                        }

                        //var new_password = $("#id_new_password").val();

                        $.ajax({
                            type: "POST",
                            url: "/ajax/student_private_info",
                            data: $("#id_student_profile_private_info_form").serialize(),
                            success: function(data)
                            {
                                var json_data = jQuery.parseJSON(data);

                                if(json_data.status == "SUCCESS"){
                                    $("#id_student_profile_private_info_section_form").hide();
                                    $("#id_private_info_data").html(json_data.data);
                                    $("#id_private_info_data").show();

                                    var $title = 'Profile updated Successfully';
                                    $("#id_edit_private_info").find(".status_msg").css("color","green");
                                    $("#id_edit_private_info").find(".status_msg").text($title);
                                    $("#id_edit_private_info").find(".status_msg").fadeIn(1000).fadeOut(2000);


                                }
                                else{
                                    var $title = 'Profile updated failed';
                                    $("#id_edit_private_info").find(".status_msg").css("color","red");
                                    $("#id_edit_private_info").find(".status_msg").text($title+". Reason: "+json_data.message);
                                    $("#id_edit_private_info").find(".status_msg").fadeIn(1000).fadeOut(2000);
                                }

                            },
                            error: function(jqxhr, status, error)
                            {

                            }
                        })
                        .done(function( msg ) {

                        });
                    }
                    else if(target_element_id == "id_student_education_submit"){
                        e.preventDefault();
                        var form_data = $("#id_student_education_form").serialize();
                        $.ajax({
                            type: "POST",
                            url: "/ajax/student_education",
                            data: form_data,
                            success: function(data)
                            {
                                var json_data = jQuery.parseJSON(data);

                                console.log(json_data);

                                if(json_data.status == "SUCCESS"){
                                    $(json_data.data).insertBefore('#id_education_add_button_container');
                                }
                                else{

                                }

                            },
                            error: function(jqxhr, status, error)
                            {

                            }
                        })
                        .done(function( msg ) {

                        });
                    }
                });

                $(document).on("click",".edit_profile",function(e){
                    e.preventDefault();
                    var target_element_id = $(this).prop("id");
                    if(target_element_id == "id_edit_private_info"){

                        $.ajax({
                            type: "GET",
                            url: "/ajax/student_private_info",
                            success: function(data)
                            {
                                var json_data = jQuery.parseJSON(data);
                                $("#id_student_profile_private_info_section_form").html(json_data.data);
                                $("#id_private_info_data").hide();
                                $("#id_student_profile_private_info_section_form").show();
                            },
                            error: function(jqxhr, status, error)
                            {

                            }
                        })
                        .done(function( msg ) {

                        });

{#                        $("#id_student_profile_about_section_data").hide();#}
{#                        $("#id_student_profile_about_section_form").show();#}
                    }
                    else if(target_element_id == "id_profile_summary"){
                        $("#id_student_profile_summary").hide();
                        $("#id_student_profile_summary_form").show();
                    }
                    else if(target_element_id == "id_edit_student_about_section"){
                        $("#id_edit_student_about_section_data").hide();
                        $("#id_edit_student_about_section_form").show();
                    }
                    return false;
                });

            });
        </script>
        {% endif %}
        <!--<div class="student_profile radius3">
        <div class="student_profile_inner">
        	<div class="summary_section">
               	<h1 class="summary_heading"> <span> <img src="images/account-icon.png" width="39" height="39" alt="img"> </span> My Account</h1>
                  <a class="edit_profile" href="#"> <img width="17" height="17" src="images/edit-gray.png" alt="img"> </a>
                </div>
        </div>
        <div class="student_profile_inner">
            	<a href="#" class="gmail_roman">romaneitni123@gmail.com</a>
            </div>
        </div>-->
    </div>
        {% if content_editable %}
        <style>
            #id_profile_picture_editor > .cropit-image-preview {
                background-color: #f8f8f8;
                background-size: cover;
                border: 5px solid #ccc;
                border-radius: 3px;
                margin-top: 7px;
                width: 200px;
                height: 200px;
                cursor: move;
            }
            .cropit-image-background {
                opacity: .2;
                cursor: auto;
            }
            #id_profile_picture_editor > .image-size-label {
                margin-top: 10px;
            }
            #id_profile_picture_editor > input {
                /* Use relative position to prevent from being covered by image background */
                position: relative;
                z-index: 10;
                display: block;
            }
            .export {
                margin-top: 10px;
            }
        </style>
        {% endif %}
    {% if content_editable %}
    <div id="black_overlay"></div>
    <div id="upload_student_pic">
        <div class="upload_student_pic_bx" style="height: 450px; width: 720px;">
            <h1 class="upload_profile_heading">Upload your Profile Photo <!--<span>(Selfies Accepted)</span>--> </h1>
            <ul class="upload_profile_detail">
                <li>Your photo must be a picture of yourself only, and occupies at least 1/3 of the photo.</li>
                <li>Headshot photo is preferred.</li>
                <li>Be totally awesome! This is how you will be seen by classmates and ChampionTutor members.</li>
                <li>Photo must be in either JPG, JPEG or PNG format.</li>
            </ul>
            <!--<div class="add_img">Upload Photo
                  <input type="file" required="required" onchange=" checkFile(this);getElementById('filevalue').value = getElementById('me').value;getElementById('filevalue').style.display='block'; " id="me" title="Browse File" name="file1" value="Browse File" class="file radius" style="display:block;">
                  </div>-->
            <div class="upload_photo" style="position: relative; left: -30px; top: -40px;">
                <form id="id_student_profile_picture_upload_form" action="#" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="id_profile_picture_editor" class="image-editor">
{#                        <input type="file" class="cropit-image-input">#}
                        <div class="cropit-image-preview" style="background-image: url(/media/image/{{ request.user.champuser.profile_picture.image_field }})"></div>
                        <div class="image-size-label">
                            Resize image
                        </div>
                        <input type="range" class="cropit-image-zoom-input">
                        <input type="hidden" name="image-data" class="hidden-image-data" />
{#                        <button type="submit">Submit</button>#}
                        <input id="btn" type="file" class="cropit-image-input" style="display:none;" onchange="document.getElementById('file').value=this.value.substring(this.value.lastIndexOf('\\')+1);">
                        <input type="button" onclick="document.getElementById('btn').click();" value="Browse" class="add_img" style="position: relative; top: -40px;"/>
                        <input id="file" type="text" class="browse_text" placeholder="No File Selected" readonly onfocus="this.blur()" style="position: relative; top: -40px;">
                        <button id="id_save_profile_picture" type="submit" class="btn btn-primary" style="position: relative; top: -40px; left: 80px;">Save Profile Picture</button>
                    </div>
                </form>
{#                <input id="btn" type="file" style="display:none;" onchange="document.getElementById('file').value=this.value.substring(this.value.lastIndexOf('\\')+1);">#}
{#                <input type="button" onclick="document.getElementById('btn').click();" value="Browse" class="add_img" />#}
{#                <input id="file" type="text" class="browse_text" placeholder="No File Selected" readonly onfocus="this.blur()">#}
            </div>
        </div>
    </div>
    {% endif %}
    {% if content_editable %}
    <script>
        $(function() {
            $('#id_profile_picture_editor').cropit();
            $('#id_student_profile_picture_upload_form').submit(function() {
                $('#id_save_profile_picture').text('Saving profile picture...');
                // Move cropped image data to hidden input
                var imageData = $('#id_profile_picture_editor').cropit('export');
                var image_size = $('#id_profile_picture_editor').cropit('imageSize');
                //console.log(image_size);
                $('#id_profile_picture_editor').find('.hidden-image-data').val(imageData);
                // Print HTTP request params
                var formValue = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: "/ajax/student_profile_picture",
                    data: formValue,
                    success: function(data)
                    {
                        data = jQuery.parseJSON(data);
                        if(data.status == "SUCCESS"){
                            $("#id_student_pp").css("background-image","url("+ $('#id_profile_picture_editor').find('.hidden-image-data').val() +")");
                            $('#id_save_profile_picture').text('Save Profile Picture');
                            $( black_overlay ).hide();
                            $( upload_student_pic ).hide();
                        }
                        else if(data.STATUS == "FAILURE"){

                        }
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {

                });

                return false;
            });
        });
    </script>
    {% endif %}
</div>
{% if content_editable %}
<script type="text/javascript" src="{% static "js/jquery.selectbox-0.1.3.min.js" %}"></script>
<script type="text/javascript">
    $(function () {
        $(".loct").selectbox();
        var len = $(".loct").parent();
        $(len).click(function(e){
            e.stopPropagation();
            $(".sbOptions",this).show();
            $("body").click(function(e){
                if(e.target.id != "loct")
                {
                    $(".sbOptions",this).hide();
                    $("body").unbind("click");
                }
            });
        });
    });
</script>


<script language="javascript">
    var black_overlay = $('#black_overlay');
    var upload_student_pic = $('#upload_student_pic');

    black_overlay.click(function(){black_overlay.hide(); upload_student_pic.hide();});
    //cross.click(function(){black_overlay.hide(); upload_student_pic.hide();});


    $( document ).on( 'keydown', function ( e ) {
        if ( e.keyCode === 27 ) { // ESC
            $( black_overlay ).hide();
            $( upload_student_pic ).hide();
        }
    });



    //window.onload(function(){marscrl.stop()})

    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if(e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }

    function showstudentpic()
    {
        document.getElementById('black_overlay').style.display="block";
        document.getElementById('upload_student_pic').style.display="block";
    }

</script>
<script>
    $(document).ready(function(){
        $(document).on("click","#id_profile_about_edit_submit",function(e){

            e.preventDefault();

            var url = $("#id_profile_about_form").attr("action");

            var data = {
                "about_data":$("#id_profile_about_content_value").val()
            };

            _ajax_call("POST",url,data,function(data){
                if(data.status == "SUCCESS"){
                    var $title = 'Profile updated Successfully';
                    var text = $("#id_profile_about_form").find(".summary_textarea").val();
                    $("#id_student_profile_summary").find(".summary_txt").html(text);
                    $("#id_student_profile_summary").find(".status_msg").css("color","green");
                    $("#id_student_profile_summary").find(".status_msg").text($title);
                    $("#id_student_profile_summary").find(".status_msg").fadeIn(1000).fadeOut(2000);
                    $("#id_student_profile_summary").show();
                    $("#id_student_profile_summary_form").hide();
                }
                else{
                    var $title = 'Profile Update Failed';
                    $("#id_student_profile_summary").find(".status_msg").css("color","red");
                    $("#id_student_profile_summary").find(".status_msg").text($title);
                    $("#id_student_profile_summary").find(".status_msg").fadeIn(1000).fadeOut(2000);
                    $("#id_student_profile_summary").show();
                    $("#id_student_profile_summary_form").hide();
                }
            },function(jqxhr, status, error){
                var $title = 'Profile Update Failed';
                $("#id_student_profile_summary").find(".status_msg").css("color","red");
                $("#id_student_profile_summary").find(".status_msg").text($title);
                $("#id_student_profile_summary").find(".status_msg").fadeIn(1000).fadeOut(2000);
                $("#id_student_profile_summary").show();
                $("#id_student_profile_summary_form").hide();

            },function(msg){

            });
        });

    });
</script>
{% endif %}