{% load staticfiles %}
{% load datefilters %}

<script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
<script src="{% static "js/select2.min.js" %}"></script>

<style type="text/css">
    .job_post_form input {
        width: 600px;
        padding: 7px;
        min-height: 40px;
    }
    .job_post_form select {
        width: 600px;
        padding: 7px;
        min-height: 40px;
        cursor: pointer;
    }
    .job_post_form textarea {
        width: 100%;
        height: 300px;
    }
    .select2-dropdown.select2-dropdown--below{
        width: 600px !important;
    }

    .select2-container--default .select2-selection--single{
        padding:6px;
        height: 37px;
        width: 600px;
        font-size: 1.2em;
        position: relative;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        background-image: -khtml-gradient(linear, left top, left bottom, from(#424242), to(#030303));

        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #424242), color-stop(100%, #030303));
        background-image: -webkit-linear-gradient(top, #424242, #030303);
        background-image: -o-linear-gradient(top, #424242, #030303);
        background-image: linear-gradient(#424242, #030303);
        width: 40px;
        color: #fff;
        font-size: 1.3em;
        padding: 4px 12px;
        height: 35px;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 20px;
    }

    .hint {
        padding: 7px; font-weight: bold;
    }

    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        background: white;
    }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
    * html .ui-autocomplete {
        height: 100px;
    }

    .inline input {
        width:  100px;
    }

    .inline select {
        width:  200px;
    }

</style>

<script>
    $(document).ready(function(){
        //$('.btn').button();
        $("#id_post_lesson_type_online_label").click(function(e){
            //e.preventDefault();
            $(this).removeClass("active");
            $("#id_post_lesson_type_written_label").addClass("active");
            $("#post_lesson_type_online").prop("checked",true);
            return false;
        });

        $("#id_post_lesson_type_written_label").click(function(e){
            e.preventDefault();
            $(this).removeClass("active");
            $("#id_post_lesson_type_online_label").addClass("active");
            $("#post_lesson_type_written").prop("checked",true);
            return false;
        });

        $(".select2").select2().on("change", function (e) {

                var value = $(this).val();
                var text = $(this).select2('data')[0].text
                var value_found = false;
                $(this).parent().find(".tags").find("input").each(function(e){
                    if($(this).val() == value){
                        value_found = true;
                        return;
                    }
                });

                if(!value_found){
                    var input_element = "<input type='hidden' name='"+ $(this).prop("name")+"-list[]" +"' value='"+ value +"' >";
                    var tag_element = "<span class=\"dfrnt_tag radius3\"><a class=\"tag_close\" href=\"#\"></a>"+ input_element + text +"</span>";

                    $(this).parent().find(".tags").append(tag_element);
                }

        });


        $(document).on("click",".tag_close",function(e){
            e.preventDefault();
            $(this).parent().remove();
        });


        $("button[name=job_post_button]").click(function(e){
            e.preventDefault();
            var $job_post_title = $("input[name=title]");
            if($job_post_title.val() == ""){
                $job_post_title.focus();
                return false;
            }
            var $description = $("textarea[name=description]");
            if($description.val() == ""){
                $description.focus();
                return false;
            }

            $("form[name=lesson-post-form]").submit();

        });

        $("button[name=job_post_preview_button]").click(function(e){
            e.preventDefault();

        });


        $( "#id_subject" ).autocomplete({
            minLength: 0,
            source: function(request, response) {
            $.ajax({
                url: "/ajax/major",
                data: {
                    term: request.term,
                    readonly: 'true'
                },
                success: function(data) {
                    response(data);
                }
            });
            },
            //source: '/ajax/major?readonly=true',
            data: { 'readonly': 'true' },
            focus: function( event, ui ) {
                if(ui.item.id == -1){
                    $( ".job_post_job_subject" ).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                }
                else{
                    $( ".job_post_job_subject" ).val( ui.item.value );
                }
                return false;
            },
            select: function( event, ui ) {
                var tag_val = ui.item.value;
                if(ui.item.id == -1){
                    tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                }

                var value = ui.item.id;
                var text = ui.item.value;
                var value_found = false;
                $(this).parent().find(".tags").find("input").each(function(e){
                    if($(this).val() == value){
                        value_found = true;
                        return;
                    }
                });

                if(!value_found){
                    var input_element = "<input type='hidden' name='"+ $(this).prop("name")+"-list[]" +"' value='"+ value +"' >";
                    var tag_element = "<span class=\"dfrnt_tag radius3\"><a class=\"tag_close\" href=\"#\"></a>"+ input_element + text +"</span>";

                    $(this).parent().find(".tags").append(tag_element);
                }

                $( "#id_subject" ).val("");
                $( "#id_subject" ).focus();

                return false;
            }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li style='cursor:pointer;'>" )
                    .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                    .append( "<input type='hidden' class='major_id' value='"+ item.id +"'/>" )
                    .appendTo( ul );
            }


    });


</script>

<div class="contnt">
    <div class="wrapper">
        <div class="main_cntnt radius3">
            <div class="col-xs-12 col-sm-12">
                <h2>Post a lesson</h2>
                <hr/>
                <form name="lesson-post-form" role="form" action="{% url "create_post" pk=request.user.pk %}" class='form-horizontal job_post_form' method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="hint">Select lesson type</div>
                            <select name="job_post_lesson_type">
                                <option value="online">New Online Tutor</option>
                                <option value="written">New Written Lesson</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="hint">Enter your job title</div>
                            {{ job_post_form.title }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="hint">Enter the job description here. Write a specific detail of your lesson.</div>
                            {{ job_post_form.description }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="hint">Select the end date</div>
                            <ul class="list-inline inline">
                                <li>{{ job_post_form.end_date_month }}</li>
                                <li>{{ job_post_form.end_date_day }}</li>
                                <li>{{ job_post_form.end_date_year }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="hint">Specify nationalities you expect the tutor from.</div>
                            {{ job_post_form.nationality }}
                            <div class="tags">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="hint">Select courses that will be included in this lesson.</div>
                            {{ job_post_form.subject }}
                            <div class="tags">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="hint">Your language preferences</div>
                            {{ job_post_form.languages }}
                            <div class="tags">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="hint">Your gender preference</div>
                            {{ job_post_form.gender }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="hint">Select your preferred rate</div>
                            {{ job_post_form.rate }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="hint">What currencies would you like to prefer?</div>
                            {{ job_post_form.currency }}
                            <div class="tags">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="hint">Select the tutor's timezone who can apply to the job.</div>
                            {{ job_post_form.timezone }}
                            <div class="tags">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="hint">Specify which availability status tutor should have</div>
                            {{ job_post_form.availability }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="btn btn-lg btn-danger" name="job_post_button">Post Job</button>
                            <button class="btn btn-lg btn-primary" name="job_post_preview_button">Preview Job Post</button>
                        </div>
                    </div>
                </form>

            <div class="reqrd_tutn">Our Recommendation (Tutors) :
                <ul class="rcmdtn">
                    <li>Secondary 3, EMath </li>
                    <li><img src="images/arrow.png" width="16" height="12" alt="img"> 5 Tutors <a href="#">( 3 online, 2 ready to teach )</a></li>
                    <li>Language, Thai </li>
                    <li><img src="images/arrow.png" width="16" height="12" alt="img"> <a href="#">3 Tutors (</a> 0 online, 0 ready to teach <a href="#">)</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>