{% load staticfiles %}
{% load datefilters %}

<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery-ui.min.js" %}"></script>

<style>
    .job_posted_by_user {
        text-decoration: none;
        font-weight: bold;
    }
    .dfrnt_tag {
        padding-left: 8px !important;
    }
</style>

<div class="contnt">
    <div class="container" style="min-height: 600px;">
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10">
                <h2>My Questions</h2>
                <hr/>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
        {% for q in q_post_list %}
            <div class="row">
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-10" style="padding: 3px; border: 1px solid #e7e5e5; margin-bottom: 7px; padding: 7px;">
                        <div>
                            <div style="font-size: 23px; font-weight: bold;">
                                {{ q.title }}
                            </div>
                            <p>
                                {{ q.description|safe|truncatechars:500 }}
                            </p>
                            <div style="width: 100%; display: block;">
                                {% for tag in q.tags.all %}
                                    <span class="dfrnt_tag radius3">{{ tag.value }}</span>
                                {% endfor %}
                            </div>
                            <div style="width: 100%; display: block; float: left;">
                                Posted by: <a class="job_posted_by_user" href="{% url "user_profile" pk=q.created_by.pk %}">{{ q.created_by.champuser.fullname }}</a>
                                {% if request.user.pk == q.created_by.pk %}
                                <a href="{% url "question_post_details" pk=q.pk %}" class="pull-right">View details</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1">

                    </div>
                </div>
            {% empty %}
            <div class="row">
                <div class="col-xs-1">

                </div>
                <div class="col-xs-10">
                    No Questions found.
                </div>
                <div class="col-xs-1">

                </div>
            </div>
        {% endfor %}

    </div>
</div>