{% load staticfiles %}
{% load datefilters %}

<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery-ui.min.js" %}"></script>

<style>
    .job_posted_by_user {
        text-decoration: none;
        font-weight: bold;
    }
    .dfrnt_tag {
        padding-left: 8px !important;
    }
</style>

<div class="contnt">
    <div class="container" style="min-height: 600px;">
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10">
                <h2>My Jobs</h2>
                <hr/>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
        {% for job in job_post_list %}
                <div class="row">
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-10" style="padding: 3px; border: 1px solid #e7e5e5; margin-bottom: 7px; padding: 7px;">
                        <div>
                            <div style="font-size: 23px; font-weight: bold;">
                                {{ job.title }}
                            </div>
                            <p>
                                {{ job.description|truncatechars:500 }}
                            </p>
                            <div style="width: 100%; display: block;">
                                {% if job.lesson_type == 0 %}<span class="dfrnt_tag radius3" style='color: green; font-weight: bold;'>Live Lesson</span>{% else %}<span class="dfrnt_tag radius3">Written Lesson</span>{% endif %}
                                {% if job.preference %}
                                    {% for country in job.preference.nationalities.all %}
                                    <span class="dfrnt_tag radius3">{{ country.name }}</span>
                                    {% endfor %}
                                    {% if job.preference.rate %}
                                    <span class="dfrnt_tag radius3">{{ job.preference.rate.currency }}{{ job.preference.rate.min_value }} - {{ job.preference.rate.currency }}{{ job.preference.rate.max_value }}</span>
                                    {% endif %}
                                    {% if job.preference.gender %}
                                    <span class="dfrnt_tag radius3">Gender: {{ job.preference.gender }}</span>
                                    {% endif %}
                                    {% if job.preference.timezones.all %}
                                    <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Timezone:</span>
                                    {% for tz in job.preference.timezones.all %}
                                    {{ tz.value.strip }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                    </span>
                                    {% endif %}
                                    {% if job.preference.currencies.all %}
                                    <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Currency:</span>
                                    {% for c in job.preference.currencies.all %}
                                    {{ c.value }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                    </span>
                                    {% endif %}
                                    {% if job.preference.languages.all %}
                                    <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Language:</span>
                                    {% for lang in job.preference.languages.all %}
                                    {{ lang.value }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                    </span>
                                    {% endif %}
                                    {% if job.preference.availability %}
                                    <span class="dfrnt_tag radius3" style='color: green;'>{% if job.preference.availability == 1 %}Available{% elif job.preference.availability == 2 %}Ready To Teach{% else %}Any%{% endif %}</span>
                                    {% endif %}
                                    {% for s in job.preference.subjects.all %}
                                    <span class="dfrnt_tag radius3">{{ s.value }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div style="width: 100%; display: block; float: left;">
                                Posted by: <a class="job_posted_by_user" href="{% url "user_profile" pk=job.posted_by.pk %}">{{ job.posted_by.champuser.fullname }}</a>
                                {% if request.user.pk == job.posted_by.pk %}
                                <a href="{% url "lesson_post_details" pk=job.pk %}" class="pull-right">View details</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1">

                    </div>
                </div>
        {% endfor %}

    </div>
</div>