{% load staticfiles %}
<div class="contnt">

	<div class="wrapper">
    	<div class="student_profile_detail">
        	<div class="student_profile_img">
            	<img src="images/person-img.jpg" width="154" height="154" alt="img">
                <div class="upload_pic_outer">
                	<a href="javascript:void(0);" class="upload_picture" onClick="showstudentpic();">Upload Picture </a>
                </div>
            </div>
            <form class="person_detail_edit">
            	<div class="person_edit_textfield">
                	<div>
                    	<input type="text" placeholder="First Name" value="{{ object.firstname }}" class="student_shrt_txt right10">
                        <input type="text" placeholder="Last Name" value="{{ object.lastname }}" class="student_shrt_txt right10">
                        <div class="select_grad_year">
                        	<select class="loct">
                            	<option value="Select Grad year">Select Grad year</option>
                            </select>
                        </div>
                    </div>
                    <div> <input type="text" placeholder="School" class="student_long_txt"> </div>
                    <div> <input type="text" placeholder="Enter Major" class="student_long_txt"> </div>
                    <div>
                    	<input type="text" placeholder="Enter Hometown" class="student_shrt_txt right10">
                        <div class="student_select right10">
                        	<select class="loct">
                            	<option value="Select">Select</option>
                            </select>
                        </div>
                        <input type="text" placeholder="Zip" class="student_zip_txt">
                    </div>
                </div>
                <a href="#" class="edit_student_photo">Edit Cover Photo</a>
                <div class="outer_student_btn">
                <input type="submit" class="student_save" value="Save">
                <input type="button" class="student_cancel" value="Cancel">
                </div>
            </form>
        </div>
  		<div class="student_profile radius3">
        	<div class="student_profile_inner">
            	<h2 class="student_profile_heading">About Me</h2>
            </div>
            <div class="student_profile_inner">
           	  <div class="summary_section">
               	<h1 class="summary_heading">Summary</h1>
                </div>
              <form class="summary_form">
              	<textarea placeholder="What are your aspirations after graduation? What do you like to do in your free time? Tell your story here…" class="summary_textarea">{{ object.profile_set.all.first.about }}</textarea>
              	<div class="outer_student_btn">
                <input type="submit" value="Save" class="student_save">
                <input type="button" value="Cancel" class="student_cancel">
                </div>
              </form>
            </div>
            <div class="student_profile_inner">
              <div class="summary_section">
              	<span class="private_icon"> <img src="images/privacy.png" width="16" height="20" alt="img"> </span>
               	<h1 class="summary_heading">Private Info</h1>
              </div>
              <p class="summary_txt">The information in this section is private and not visible to ChampionTutor members. </p>
              <form class="private_list_edit">
              	<div class="private_edit_left">
                	<div> <label>Your Email Address : </label> <input type="text" placeholder="Your Email Address" class="gpa_edit"> </div>
                    <div> <label>Old Password : </label> <input type="text" placeholder="Old Password" class="gpa_edit"> </div>
                    <div> <label>Confirm New Password : </label> <input type="text" placeholder="Confirm New Password" class="gpa_edit"> </div>
                	<div>
                    	<label>Gender :</label>
                        <div class="gender_edit">
                        	<select class="loct">
                            	<option value="Select">Select</option>
                            </select>
                        </div>
                    </div>
                    <div>
                    	<label>Birthdate:</label>
                        <div class="gender_edit" id="month_edit">
                        	<select class="loct">
                            	<option value="Jan">Jan</option>
                            </select>
                        </div>
                        <div class="gender_edit" id="day_edit">
                        	<select class="loct">
                            	<option value="01">01</option>
                            </select>
                        </div>
                        <div class="gender_edit" id="year_edit">
                        	<select class="loct">
                            	<option value="2014">2014</option>
                            </select>
                        </div>
                        <p class="services_edit">Our services are not available to students under the age of 13. Please work with your parent or guardian</p>
                    </div>
                </div>
                <div class="private_edit_right">
                	<div>
                    	<label>Religion/Beliefs :</label>
                        <div class="gender_edit">
                        	<select class="loct">
                            	<option value="Select">Select</option>
                            </select>
                        </div>
                    </div>
                    <div>
                    	<label>Languages:</label>
                        <div class="gender_edit">
                        	<select class="loct">
                            	<option value="Select">Select</option>
                            </select>
                        </div>
                        <span class="language_tag">
                        	<a href="javascript:void(0);"> Akan <span class="cross"></span></a>
                            <a href="javascript:void(0);"> Aramaic <span class="cross"></span></a>
                        </span>
                    </div>
                    <!--<div>
                    	<label>GPA : </label>
                        <input type="text" palceholder="Enter GPS" class="gpa_edit">
                    </div>-->
                    <div>
                    	<label>Citizenship :</label>
                        <div class="gender_edit">
                        	<select class="loct">
                            	<option value="Select">Select</option>
                            </select>
                        </div>
                    </div>
                    <div>
                    	<label>Ethnicity :</label>
                        <div class="gender_edit">
                        	<select class="loct">
                            	<option value="Select">Select</option>
                            </select>
                        </div>
                    </div>
                    <div>
                    	<label>Time Zone :</label>
                        <div class="gender_edit">
                        	<select class="loct">
                            	<option value="Select">Select</option>
                            </select>
                        </div>
                    </div>
                    <!--<div>
                    	<label>Military Affiliation:</label>
                        <div class="gender_edit">
                        	<select class="loct">
                            	<option value="Select">Select</option>
                            </select>
                        </div>
                    </div>
                    <div>
                    	<label>Sexual Orientation :</label>
                        <div class="gender_edit">
                        	<select class="loct">
                            	<option value="Select">Select</option>
                            </select>
                        </div>
                    </div>
                    <div>
                    	<label>Disabilities :</label>
                        <div class="gender_edit">
                        	<select class="loct">
                            	<option value="Select">Select</option>
                            </select>
                        </div>
                    </div>-->
                </div>
                <div class="outer_student_btn">
                <input type="submit" value="Save" class="student_save">
                <input type="button" value="Cancel" class="student_cancel">
                </div>
              </form>
            </div>
            <!--<div class="student_profile_inner">
           	  <div class="summary_section">
               	<h1 class="summary_heading">Academic Interest</h1>
                </div>
              
              <form class="summary_form">
              	<div class="academic_edit">
                	<select class="loct">
                    	<option value="Select from option">Select from option</option>
                    </select>
                </div>
              	<div class="outer_student_btn">
                <input type="submit" class="student_save" value="Save">
                <input type="button" class="student_cancel" value="Cancel">
                </div>
              </form>
              
            </div>
            <div class="student_profile_inner">
           	  <div class="summary_section">
               	<h1 class="summary_heading">Club & Sports</h1>
                </div>
              <form class="summary_form">
              	<div class="academic_edit">
                	<select class="loct">
                    	<option value="Select from option">Select from option</option>
                    </select>
                </div>
              	<div class="outer_student_btn">
                <input type="submit" class="student_save" value="Save">
                <input type="button" class="student_cancel" value="Cancel">
                </div>
              </form>
            </div>-->
        </div>
        <div class="student_profile radius3">
        	<div class="student_profile_inner">
            	<h2 class="student_profile_heading">Education</h2>
            </div>
            <div class="student_profile_inner">
           	  <div class="summary_section">
               	<h1 class="summary_heading">Schools</h1>
                </div>
              <form class="School_edit">
              	<div class="School_edit_ful">
                	<label>School Type</label>
                    <div>
                    	<span class="college_skul"> <input type="radio" name="College"> <label>College/University</label> </span>
                        <span class="college_skul"> <input type="radio" name="College"> <label>High School</label> </span>
                    </div>
                </div>
                <div class="School_edit_ful"> <label>School name</label>
                	<div> <input type="text" class="gpa_edit" palceholder="Enter GPS">
                    	<div class="current_skul_edit left10">
                        	<input type="checkbox">
                            <label>This is my current school</label>
                        </div>
                    </div>
                </div>
                <div class="School_edit_ful"> <label>Location</label>
                	<div> <input type="text" class="gpa_edit" palceholder="Enter GPS">
                    	<div id="month_edit" class="gender_edit left10">
                        	<select class="loct">
                            	<option value="Select">Select</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="School_edit_ful"> <label>Dates Attended</label>
                	<div>
                    	<div id="month_edit" class="gender_edit">
                        	<select class="loct">
                            	<option value="Select">Select</option>
                            </select>
                        </div>
                        <div id="year_edit" class="gender_edit left10">
                        	<select class="loct">
                            	<option value="Year">Year</option>
                            </select>
                        </div>
                        <span class="slash">-</span>
                        <div id="month_edit" class="gender_edit">
                        	<select class="loct">
                            	<option value="Select">Select</option>
                            </select>
                        </div>
                        <div id="year_edit" class="gender_edit left10">
                        	<select class="loct">
                            	<option value="Year">Year</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="School_edit_ful"> <label>Major</label>
                	<div> <input type="text" class="gpa_edit" palceholder="Enter GPS"> </div>
                </div>
                
              	<div class="outer_student_btn">
                	<input type="submit" value="Save" class="student_save">
                	<input type="button" value="Cancel" class="student_cancel">
                </div>
              </form>
            </div>
        </div>
        <!--<div class="student_profile radius3">
        <div class="student_profile_inner">
        	<div class="summary_section">
               	<h1 class="summary_heading"> <span> <img src="images/account-icon.png" width="39" height="39" alt="img"> </span> My Account</h1>
                </div>
        </div>
        <div class="student_profile_inner">
            	<form class="my_account">
                	<input type="text" placeholder="Your Email address">
                    <input type="text" placeholder="Old Password">
                    <input type="text" placeholder="Confirm New Password">
                    <label>Email Settings</label>
                    <div class="occasional"> <input type="checkbox"> <p>Send me occasional from Champaion Tutor</p> </div>
                    <label>Timezone</label>
                    <div class="timezone">
                    	<select class="loct">
                        	<option value="Asia">Asia</option>
                        </select>
                    </div>
                    <div class="timezone">
                    	<select class="loct">
                        	<option value="Shanghai">Shanghai</option>
                        </select>
                    </div>
                    
                    <input type="submit" value="Save" class="student_save">
                    <input type="button" value="Cancel" class="student_cancel">
                </form>
            </div>
        </div>-->
    </div>
</div>