{% load staticfiles %}
{% load datefilters %}

<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery-ui.min.js" %}"></script>

<div class="contnt">
    <div class="wrapper">
  <div class="main_cntnt radius3">
        	<div class="stdnt_detal">
            	<div class="img_box radius3"><img width="129" height="129" alt="img" src="images/profile_img.png"></div>
                <div class="stdnt_img_dtl">
                	<div class="skul_nme">Harvard Business School</div>
                    <div class="stdnt_name">Wilson Tan (Year 1995)</div>
                    <span class="cty"> Singapore, 760123</span>
                    <a href="mailto:Wilson7tan@gmail.com" class="mail">Wilson7tan@gmail.com</a>
                    <a href="tel:+65 9847 8438" class="telno">+65 9847 8438</a>
                </div>
            </div>
            <div class="reqrd_tutn">Require Tuition In : <a href="#">(+) New Online Tutor</a> <a href="#">(+) New Written Lesson</a> </div>
  <div class="reqrd_tutn2">
            	<div class="reqrd_tutn_inr">
                	<span>Secondary 3, EMath (Online Tutor)</span>
                    <textarea placeholder="I will require a tutor who knows Math subject very well"></textarea>
                    <a href="#" class="btn_rght radius3">Repost Request</a>
                    <div class="tags">
                    	<span class="dfrnt_tag radius3"><a href="#"></a> Singapore</span>
                        <span class="dfrnt_tag radius3"><a href="#"></a> America</span>
                        <span class="dfrnt_tag radius3"><a href="#"></a> Male</span>
                        <span class="dfrnt_tag radius3"><a href="#"></a> FeMale</span>
                        <span class="dfrnt_tag radius3"><a href="#"></a> $15 - $20</span>
                        <span class="dfrnt_tag radius3"><a href="#"></a> SGD</span>
                        <span class="dfrnt_tag radius3"><a href="#"></a> Singapore (SGT)</span>
                        <span class="dfrnt_tag radius3"><a href="#"></a> 6pm - 9pm</span>
                    </div>
                </div>

                <div class="reqrd_tutn_inr">
                	<span>Language, Thai (Written Lesson)</span>
                    <textarea placeholder="Write a brief description for the potential tutors to know your expectations."></textarea>
                    <a href="#" class="btn_rght radius3">Post Request</a>
                </div>

                <form class="stdnt_frm">
                	<input type="text" class="radius5" value="Nationality Preference" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
                    <input type="text" class="radius5" value="Gender Preference" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
                    <input type="text" class="radius5" value="Per hour ($) E.g. $15 - $20" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
                    <input type="text" class="radius5" value="Currency Preference" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
                    <input type="text" class="radius5" value="Time Zone" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
                    <input type="text" class="radius5" value="Availability" id="avlblty" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
                </form>

            </div>

            <div class="reqrd_tutn">Our Recommendation (Tutors) :
            	<ul class="rcmdtn">
                	<li>Secondary 3, EMath </li>
                    <li><img src="images/arrow.png" width="16" height="12" alt="img"> 5 Tutors <a href="#">( 3 online, 2 ready to teach )</a></li>
                    <li>Language, Thai </li>
                    <li><img src="images/arrow.png" width="16" height="12" alt="img"> <a href="#">3 Tutors (</a> 0 online, 0 ready to teach <a href="#">)</a></li>
                </ul>
          </div>

      </div>
    </div>
</div>