{% load staticfiles %}

<div class="hdng_inner">
    	<a id="logo" href="#"><img src="{% static "images/logo.png" %}" width="265" height="69" alt="logo"></a>
        
        <form class="search_box_top radius3">
            <input type="submit"><input type="text" class="tutor-search" placeholder="Type subject name (e.g Algebra)">
        </form>

        <style>
            .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
            .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
            .autocomplete-selected { background: #F0F0F0; }
            .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
            .autocomplete-group { padding: 2px 5px; }
            .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
{#            .ui-menu .ui-widget-content{height: 100px;}#}
        </style>

        <script>
            $(document).ready(function(){
                var countries = [
                    { id:1,data: "",value: "",fullname: 'Md Shariful Islam', description: 'The point of the ceil and floor operations is to round floating-point data to integral values', majors: 'Mathematics, Biology and 10 more' },
                    { id:2,data: "Md Shariful Islam",value: "Md Shariful Islam",fullname: 'Md Shariful Islam', description: 'The point of the ceil and floor operations is to round floating-point data to integral values', majors: 'Mathematics, Biology and 10 more' },
                    { id:3,data: "Md Shariful Islam",value: "Md Shariful Islam",fullname: 'Md Shariful Islam', description: 'The point of the ceil and floor operations is to round floating-point data to integral values', majors: 'Mathematics, Biology and 10 more' },
                    { id:4,data: "Md Shariful Islam",value: "Md Shariful Islam",fullname: 'Md Shariful Islam', description: 'The point of the ceil and floor operations is to round floating-point data to integral values', majors: 'Mathematics, Biology and 10 more' },
                    { id:5,data: "Md Shariful Islam",value: "Md Shariful Islam",fullname: 'Md Shariful Islam', description: 'The point of the ceil and floor operations is to round floating-point data to integral values', majors: 'Mathematics, Biology and 10 more' },
                    { id:6,data: "Md Shariful Islam",value: "Md Shariful Islam",fullname: 'Md Shariful Islam', description: 'The point of the ceil and floor operations is to round floating-point data to integral values', majors: 'Mathematics, Biology and 10 more' },
                    { id:7,data: "Md Shariful Islam",value: "Md Shariful Islam",fullname: 'Md Shariful Islam', description: 'The point of the ceil and floor operations is to round floating-point data to integral values', majors: 'Mathematics, Biology and 10 more' },
                    { id:8,data: "Md Shariful Islam",value: "Md Shariful Islam",fullname: 'Md Shariful Islam', description: 'The point of the ceil and floor operations is to round floating-point data to integral values', majors: 'Mathematics, Biology and 10 more' },
                    { id:9,data: "Md Shariful Islam",value: "Md Shariful Islam",fullname: 'Md Shariful Islam', description: 'The point of the ceil and floor operations is to round floating-point data to integral values', majors: 'Mathematics, Biology and 10 more' },
                    { id:10,data: "Md Shariful Islam",value: "Md Shariful Islam",fullname: 'Md Shariful Islam', description: 'The point of the ceil and floor operations is to round floating-point data to integral values', majors: 'Mathematics, Biology and 10 more' },
                    { id:11,data: "Md Shariful Islam",value: "Md Shariful Islam",fullname: 'Md Shariful Islam', description: 'The point of the ceil and floor operations is to round floating-point data to integral values', majors: 'Mathematics, Biology and 10 more' },
                    { id:12,data: "Md Shariful Islam",value: "Md Shariful Islam",fullname: 'Md Shariful Islam', description: 'The point of the ceil and floor operations is to round floating-point data to integral values', majors: 'Mathematics, Biology and 10 more' },
                    { id:13,data: "Md Shariful Islam",value: "Md Shariful Islam",fullname: 'Md Shariful Islam', description: 'The point of the ceil and floor operations is to round floating-point data to integral values', majors: 'Mathematics, Biology and 10 more' },
                ];
                $(".tutor-search").autocomplete({
                    autoSelectFirst: true,
                    delay: 10,
                    minLength: 2,
                    maxHeight: 300,
                    lookupLimit: 10,
                    source: function(request,response){
                        $.ajax({
                            url: "/ajax/tutor-search/",
                            dataType: "json",
                            data: {
                                term: request.term
                            },
                            success: function(data) {
                                if(data.status == "SUCCESS"){
                                    console.log(data);
                                    response(data.data);
                                }
                                else{
                                    response("There was a problem with the search. Please try again later or refresh the page.");
                                }
                            }
                        });
                    },
                    focus: function (event, ui) {
                       //ui.item.value = ui.item.label;
                    },
                    select: function( event, ui ) {

                    },
                    create: function() {
                        $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                            console.log(item);
                            var li = "";
                            if(item.id == -1){
                                li = $("<li></li>").html("<p style='padding-top: 20px; padding-left: 20px;'>No match found.</p>").appendTo(ul);
                            }
                            else{
                                li = $("<li></li>")
                                        .data("item.autocomplete", item)
                                        .append("<a href='/profile/"+ item.id +"'><div class='ui-menu-item-div' style='background:white;margin-top:1px;padding:7px;'><div class='search-item-name'>" + item.fullname + "</div><p class='search-item-about'>" + item.description +"</p><div></div class='search-item-major-courses'>"+ item.majors +"</div></a>")
                                        .appendTo(ul);
                            }
                            $(li).css({"width":"370px"});
{#                            $(ul).css(#}
{#                                 {#}
{#                                    "height":"300px",#}
{#                                     "left": "318px;"#}
{#                                 }#}
{#                            );#}
                            return li;
                        };
                    },
                    open: function( event, ui ) {
                        $(".ui-autocomplete").css({
                            "left":$(".tutor-search").offset().left+"px",
                            "top":"53px",
                            "height":"600px",
                            "border":"1px solid gray",
                            "overflow":"hidden",
                            "overflow-y":"scroll"
                        });
                    },
                    select: function( event, ui ) {
                        
                    }
                });
            });
        </script>
        
        <ul class="after_login_menu">
			<li><a href="#"><img width="16" height="14" alt="icon" src="{% static "images/en.png" %}"> En</a></li>
       		<li><a href="#"><img src="{% static "images/menu_icon1.png" %}" width="23" height="19" alt="img"> </a>
            	
                <span class="hvr">Getting Started</span>
            
            	<ul class="submenu1 radius3" id="first_left" >
            	<li>Link GChat <span><img src="{% static "images/corct_icon.png" %}" width="15" height="15" alt="img"></span> </li>
				<li>Link FB Messenger <span><img src="{% static "images/corct_icon.png" %}" width="15" height="15" alt="img"></span> </li>
				<li>Audio & Video Setup <span></span> </li>
				<li>Payment Setup <span></span> </li>
            </ul>
            </li>
            <li><a href="#"><img src="{% static "images/menu_icon2.png" %}" width="24" height="19" alt="img"></a>
            <span class="hvr">Available For</span>
            </li>
            <li><a href="#"><img src="{% static "images/menu_icon3.png" %}" width="19" height="18" alt="img"></a> <span class="hvr">Lessons</span> </li>
            <li><a href="#"><img src="{% static "images/menu_icon4.png" %}" width="18" height="21" alt="img"></a> <span class="hvr">Notifications</span> </li>
            <li><a href="#"><img src="{% static "images/menu_icon5.png" %}" width="19" height="18" alt="img"></a> <span class="hvr">Messages</span>
            	<ul class="submenu1 radius3">
                    <li><a href="#">Your Tutor Guide</a></li>
                    <li><a href="#">Our 2 Minutes Intro</a></li>
                    <li><a href="#">Your Wish List</a></li>
                    <li><a href="#">Try the Tutoring Space</a></li>
                </ul>
            </li>
            <li><a href="#"><img src="{% static "images/menu_icon6.png" %}" width="15" height="19" alt="img"></a> <span class="hvr">Quick Links</span></li>
        </ul>

        <div class="profile_detail">
        	<span class="profile_img" title="{{ champ_user.fullname }}"><img src="{% static "images/profile_img_inner.png" %}" width="28" height="28" alt="img"></span>
            {{ champ_user.fullname|truncatechars:11 }}
            <span class="down_arrow"><img src="{% static "images/dwn_arw.png" %}" width="8" height="7" alt="img"></span>
            
            <ul class="submenu1 radius3">
                <li><a href="profile/{{ request.user.id }}">Profile</a></li>
                <li><a href="{% url "my_account" %}#myAccount3">Billing</a></li>
                <li><a href="{% url "my_account" %}">My Account</a></li>
                <li><a href="{% url "whiteboard" %}">Try the lesson space</a></li>
				<li><a href="{% url "user_logout" %}">Sign Out</a></li>
            </ul>
        </div>
  </div>

  <script>
    $("ul.after_login_menu li,.profile_detail").click(function () {

      $("ul.after_login_menu li").removeClass('hidespan');                  
        $(this).addClass("hidespan");
      $("ul.submenu1",this).toggleClass("addactive");
       if($("ul.submenu1",this).hasClass("off"))
          {
    //       alert("start");
           $("ul.submenu1",this).removeClass("off");
         $("ul.submenu1",this).addClass("addactive");
         
     //    alert("end");
         
          }
          if(!$("ul.submenu1",this).hasClass("addactive"))
          {
                              $("ul.after_login_menu li").removeClass('hidespan');          
          }
      $("ul.submenu1").addClass("off");
      $("ul.submenu1",this).removeClass("off");

    });
    
    $("ul.submenu1").click(function () {
             $("ul.submenu1").toggleClass("addactive");
             
        });
        $(".contnt").click(function () {
             $("ul.submenu1").removeClass("addactive");
        });
        
        $("ul.after_login_menu li.hidespan").mouseover(function(){
            //alert("nbdl");
            $("span.hvr").hide();
        });
        
</script>

<script>
$(document).ready( function () {
if($("ul.submenu1").hasClass("addactive"))
  {
      $(this).parent().find("span").hide();
      //alert('active');
  }
});
</script>