{% load staticfiles %}
<div class="contnt">
<div class="wrapper">
<div class="profile radius3">
<div id="w" class="clearfix">
    <ul id="sidemenu">
        <li>
            <a href="#home-content" class="open">About me</a>
        </li>

        <li>
            <a href="#about-content">My reviews</a>
        </li>

        <li>
            <a href="#ideas-content">My explanations</a>
        </li>

        <li>
            <a href="#contact-content">More subject expertise</a>
        </li>
    </ul>

    <div id="content">
        <div id="home-content" class="contentblock">
            <div class="padding20">
                <div class="top_img_section">
                    <div class="img_box radius3">
                        {% if thumbnail_url %}
                            <img src="{{ thumbnail_url|safe }}"/>
                        {% elif object.gender == "male" %}
                            <img src="{% static "images/profile_img.png" %}" width="129" height="129" alt="img">
                        {% else %}
                            <img src="{% static "images/profile_img.png" %}" width="129" height="129" alt="img">
                        {% endif %}
                    </div>
                    <div class="img_detail">
                        <a href="#"> <h3><span id="id_ps_fullname">{{ object.fullname }}</span> <span>(ID {{ object.pk }})</span></h3></a>
                        <div class="british"><span><img src="/static/images/flags/{{ champ_user.nationality.id }}.png" width="23" height="16" alt="img"> <span id="id_ps_nationality">{{ champ_user.nationality.name }}</span> </span>| <span id="id_ps_rate">
                        ${{ profile_min_rate|floatformat:"2" }}-{{ profile_max_rate|floatformat:"2" }}
                        </span></div>
                        <span class="university"><span id="id_ps_university">{{ champ_user.current_school }}</span>, Class of <span id="id_ps_session">{{ champ_user.session }}</span> </span>
                        <span class="major"><em>Major :</em> <span id="id_ps_major">{{ champ_user.major }}</span></span>
                        <ul class="grade" {% if profile.rating %}title="Rating {{ profile.rating|floatformat:"2" }}/5.00" {% else %} title="Rating 0.00/5.00" {% endif %}>
                            {% if not profile.rating %}
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                            {% elif profile.rating >= 0 and profile.rating < 0.5 %}
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                            {% elif profile.rating >= 0.5 and profile.rating < 1.5 %}
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                            {% elif profile.rating >= 1.5 and profile.rating < 2.5 %}
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                            {% elif profile.rating >= 2.5 and profile.rating < 3.5 %}
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                            {% elif profile.rating >= 3.5 and profile.rating < 4.5 %}
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                            {% elif profile.rating >= 4.5 and profile.rating < 5.5 %}
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                            {% endif %}
                        </ul>
                        {% if not profile_verification_status or profile_verification_status == 0 %}
                            <a href="{% url "ajax_verification_view" %}?title=nid" id="id_nid_verification" class="verified radius3" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Not Verified <span>Your national registration identity card has not been verified. Click here to upload a scanned copy of your National Identity Card.</span> </a>
                        {% elif profile_verification_status == 1 %}
                            <a href="#" class="verified radius3" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Verified <span>Your national registration identity card has been verified</span> </a>
                        {% elif profile_verification_status == 2 %}
                            <a href="#" class="verified radius3" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Verification IN Progress <span>Your national registration identity card verification is in progress.</span> </a>
                        {% elif profile_verification_status == 3 %}
                            <a style="width: 70%" href="{% url "ajax_verification_view" %}?title=nid" id="id_nid_verification" class="verified radius3" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Not Verified <span>Tutor's national registration identity card has not been verified. Click here to upload a scanned copy of your National Identity Card.</span> </a>
                        {% elif profile_verification_status == 4 %}
                            <a href="#" class="verified radius3" style="width: 90%" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Verification IN Progress <span>Your national registration identity card verification is in progress. You have submitted your ID card. It will be checked and verified. Once done you will be notified by email or message.</span> </a>
                        {% endif %}
                    </div>
                </div>
                <p class="txt" style="padding: 0px;">
                    {% if majors %}
                        <span>Major: </span>
                        {% for major in majors %}
                            {{ major.major.name }}
                            {% if forloop.counter < majors|length %}
                            ,
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        No major courses added.
                    {% endif %}
                </p>
            </div>

            <div class="padding20">
                <h3> <img src="{% static "images/teaching_icon.png" %}" width="16" height="28" alt="img"> Teaching Experience</h3>
                <p class="txt" id="id_teaching_experience_content" style="padding: 0px;">
                    {% if teaching_experiences and teaching_experiences.experience %}
                        {{ teaching_experiences.experience|safe }}
                    {% else %}
                        <p style="padding: 10px;">No Teaching Experiences Available.</p>
                    {% endif %}
                </p>
            </div>

            <div class="padding20">
                <h3> <img src="{% static "images/extra_curricular_icon.png" %}" width="34" height="34" alt="img"> Extracurricular Interests</h3>
                <p class="txt" id="id_extra_curricular_interest_content" style="padding: 0px;">
                    {% if extra_curricular_interest and extra_curricular_interest.interest %}
                        {{ extra_curricular_interest.interest|safe }}
                    {% else %}
                        <p style="padding: 10px;">No Extra Curricular Interest Available.</p>
                    {% endif %}
                </p>
            </div>

            <div class="padding20">
                <h3> <img src="{% static "images/skul_attended_icon.png" %}" width="20" height="21" alt="img"> School attended</h3>

                <div id="id_school_attended_content" style="">
                    {% for education in educations %}
                        <div style="padding: 10px; margin-bottom: 3px; background: #F8F8F8 ">
                            <input type="hidden" class="hidden_education_id" value="{{ education.id }}"/>
                            {% if content_editable %}
                                <a style="float: right;" class="close close-education">x</a>
                                {#                        <a style="float: right; position: relative; top: 1px; right: 7px;" href="{% url "ajax_school_attended" %}?id={{ education.id }}"><span class="glyphicon glyphicon-edit"></span></a>#}
                            {% endif %}
                            <b style="display:block;text-decoration: underline; font-size: 17px;">{{ education.degree.name }}</b>
                            <div style="text-decoration: none;font-size: 14px; color:  gray;">{{ education.institution.name }}</div>
                            <div style="text-decoration: none;font-size: 14px; color:  black;">Class of {{ education.session }}</div>
                            {% if education.is_current == 1 %}
                                <div style="text-decoration: none;font-size: 14px; color:  black;">Currently Studying Here</div>
                            {% endif %}
                            <div>
                                <a href="#" class="skul_atnd_btn radius3" onClick="return false"> <img src="{% static "images/crtfcte_icon.png"%}" width="18" height="16" alt="img"> Certificates Verified <span>Academic certificates of the tutor has been verified</span></a>
                                <br/>
                            </div>
                        </div>
                    {% empty %}
                        <div>
                            <p class="txt">No Education Info Available.</p>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <div class="padding20">
                <h3> <img src="{% static "images/top_subject2_icon.png" %}" width="19" height="21" alt="img"> Top Subjects</h3>

                <div id="id_top_subjects_content">
                    {% for top_course in top_courses %}
                        <h3 class="hdng_inr"> {{ top_course.course.level }} ({{ top_course.course.name }})
                            <input type="hidden" class="user_top_course_hidden_id" value="{{ top_course.id }}"/>
                            {% if content_editable %}
                                <a style="float: right;" class="close close-top-subject">x</a>
                                <a href="{% url "ajax_top_subjects" %}?id={{ top_course.pk }}" style="float: right; margin-top: 3px; margin-right: 3px;" class="close edit-top-course"><span class="glyphicon glyphicon-edit"></span></a>
                            {% endif %}
                        </h3>
                        <p class="txt">{{ top_course.description }}</p>

                        <!-- <div style="padding: 7px;">
                    <input type="hidden" class="user_top_course_hidden_id" value="{{ top_course.id }}"/>
                    {% if content_editable %}
                        <a style="float: right;" class="close close-top-subject">x</a>
                    {% endif %}
                    <div class="hdng_inr" style="font-size: 17px;font-weight: bold;">{{ top_course.course.name }}({{ top_course.course.level }})</div>

                    <p class="txt">{{ top_course.course.description }}</p>
                </div> -->
                    {% empty %}
                        <p class="txt">No Top Courses Added.</p>
                    {% endfor %}
                </div>

            </div>

            <!--<div class="padding20">
              <h3> <img src="images/top_subject_icon2.png" width="22" height="31" alt="img"> Top Subjects</h3>
              <table class="top_subject" cellpadding="0px" cellspacing="0px" >
                  <tr>
                      <th>SAT</th>
                      <th>SAT II</th>
                  </tr>
                  <tr>
                      <td>Aggregate: 2290</td>
                      <td>Biology E/M: 800</td>
                  </tr>
                  <tr>
                      <td>Math: 800</td>
                      <td>Chemistry: 800</td>
                  </tr>
                  <tr>
                      <td>Reading: 800</td>
                      <td>Physics: 800</td>
                  </tr>
                  <tr>
                      <td>Writing: 690</td>
                      <td>Mathematics Level 1: 800</td>
                  </tr>
                  <tr>
                      <td>&nbsp;  </td>
                      <td>Mathematics Level 2: 800</td>
                  </tr>
              </table>
        </div>-->
        </div><!-- @end #home-content -->


        <div id="about-content" class="contentblock hidden">
            <div class="data_msng">
                <h1>About This Site</h1>
                <p>She keeps saying that God is going to show me a sign. The... something of my ways. Wisdom? It's probably wisdom.</p>

                <p><center><img src="{% static "images/annveal.png" %}" alt="Ann Veal"></center></p>
            </div>
        </div><!-- @end #about-content -->

        <div id="ideas-content" class="contentblock hidden">
            <div class="data_msng">
                <h1>Boilerplate Ideas</h1>

                <p>Well, yeah you've gotta lock that down. No, I was ashamed to be SEEN with you. I like being with you.</p>

                <p>Yes, he's like the steel man from The Wizard From Oz.</p>

                <p>You can always tell a Milford man.</p>

                <p>Perhaps an attic shall I seek.</p>

                <p>After all, why should you go to jail for a crime somebody else noticed?</p>
            </div>
        </div><!-- @end #ideas-content -->

        <div id="contact-content" class="contentblock hidden">
            <div class="data_msng">
                <h1>Contact Info</h1>

                <p>We're super easy to get in touch with. Just send us a quick message and we will try our best to respond hastily.</p>
                <br><br>
                <form id="contactform">
                    <input type="text" name="name" id="name" class="bigtxtfield" placeholder="Your name">

                    <textarea id="msg" name="msg" class="bigtxtarea" placeholder="Message..."></textarea>
                </form>
            </div>
        </div><!-- @end #contact-content -->
    </div><!-- @end #content -->
</div>

<aside class="aside_right">
    <ul class="profile_list">
        <li>
            <span class="likelihood_section"><em>Likelihood of Reply:</em> &nbsp; 99%+ </span>
        </li>
        <li>
            <span class="likelihood_section"><em>Expected Response Time:</em> &nbsp; 1 Hour </span>
        </li>
        <li>
            <h4> <img src="{% static "images/msg_icon.png" %}" width="22" height="18" alt="img"> Send Sarah a Message</h4>
            <p class="txt">TIP: Want to set up a lesson? Include a description of what you're working on and when you'd like to meet. </p>
            <form>
                <textarea value="Your Message" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''" class="radius3">Your Message</textarea>
                <input type="text" class="radius3" value="Your Name" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''" >
                <input type="email" class="radius3" value="Email Address" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''" >
                <div class="radio_btn">
                    I am a..
                    <span><input type="radio" name="rr" checked>Student</span>
                    <span><input type="radio" name="rr">Parent</span>
                </div>
                <input type="submit" class="connect_btn radius3" value="Send Message">
            </form>
        </li>

        <li>
            <span class="location">Location</span>
            <span class="united_state">Ohio, United States<br><em>10:00 PM (UTC-04:00)</em></span>
        </li>

        <li>
            <span class="location">Spoken Language(s)</span>
                    <span class="spkn_lnge">
                    	English
                        <small>Fluent</small>
                        Cantonese
                        <small>Average</small>
                        Mandarin
                        <small>Below Average</small>
                    </span>
        </li>

        <li>
            <span class="location">Last Tutored </span>
            <span class="last_tutor_date">July 18, 2014</span>
        </li>
        <li>
            <span class="location">Tutor Since</span>
            <span class="last_tutor_date">April 27, 2009</span>
        </li>

    </ul>

</aside>
</div>
</div>
</div>
