{% load staticfiles %}
{% load datefilters %}
{% load tz %}

{#<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">#}
{#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
{#<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>#}
{##}
{#<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">#}
{#<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">#}
{#<link href="{% static "css/rich-textarea/editor.css" %}" rel="stylesheet">#}
{#<script type="text/javascript" src="{%  static "js/rich-textarea/editor.js" %}"></script>#}
<link href="{% static "css/colorbox.css" %}" rel="stylesheet">
<link href="{% static "css/flags-css/flag-icon.css" %}" rel="stylesheet">
<script src="{% static "js/jquery.colorbox-min.js" %}"></script>
<link href="{% static "css/jquery-ui-1.11.3.custom/jquery-ui.theme.css" %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/select2-bootstrap.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
<script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
<link href="{% static "css/datepicker3.css" %}" rel="stylesheet">
{#<script src="{% static "js/bootstrap.popup.dialog.js" %}"></script>#}
<script src="{% static "js/select2.min.js" %}"></script>
<script src="{% static "js/moment.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
    * html .ui-autocomplete {
        height: 100px;
    }
    .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
        border: none;
    }

    .bootstrap-dialog{
        z-index: 20000;
    }

</style>
{% block body_additional_script %}

{% endblock body_additional_script %}
<style>

    .right-top {
        font-size: 20px;
        font-weight: bold;
        line-height: 18px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 1.0;
        filter: alpha(opacity=20);
        text-decoration: none;
        float: right;
        position: relative;
        top:  25px;
        width: 40px;
        height: 20px;
    }

    .close {
        font-size: 20px;
        font-weight: bold;
        line-height: 18px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;
        filter: alpha(opacity=20);
        text-decoration: none;
    }
    .close:hover {
        color: #000000;
        text-decoration: none;
        opacity: 0.4;
        filter: alpha(opacity=40);
        cursor: pointer;
    }

    .lesson-request-input{
        width: 246px;
        height: 40px;
    }

    .lesson-request-select{
        width: 246px;
        height: 40px;
    }

    .select2-selection{
        height:  40px;
    }

</style>
<div class="contnt">
<div class="wrapper">
<div class="profile radius3 bg_white">
<div id="w" class="clearfix">
<ul id="sidemenu">
    <li><a id="id_feed_content" href="{% url "user_profile" pk=object.user.id %}" {% if section == "feed" %}class="open" {% endif %}>News Feed</a></li>
    <li><a id="id_home_content" href="{% url "user_profile" pk=object.user.id %}?view-mode=profile" {% if section == "profile" %}class="open" {% endif %}>Profile</a></li>
    <li><a id="id_about_content" href="{% url "user_profile_about" pk=object.user.id %}" {% if section == "about" %} class="open" {% endif %}>About Me</a></li>
    <li><a id="id_video_content" href="{% url "user_profile_video_intro" pk=object.user.id %}" {% if section == "video-intro" %} class="open" {% endif %}>My Video Intro</a></li>
    <li><a id="id_review_content" href="{% url "lesson_review_list" %}" {% if section == "lesson_review_list" %} class="open" {% endif %}>My Reviews</a></li>
    <li><a id="id_progress_report" href="{% url "student_progress_report_list" %}">Progress Report</a></li>
    <li><a id="id_participation_content" href="#">My Participation</a></li>
    <li><a id="id_certificates_content" href="#">Academic Certificates</a></li>
    <li><a id="id_jobs_invitation_content" href="{% url "user_profile_job_invitation" pk=object.user.id %}" {% if section == "job_invitation" %}class="open" {% endif %}>Jobs Invitation {% if job_invitation_count %}<span class="highlight">{{ job_invitation_count }}</span>{% endif %} </a></li>
    <li><a id="id_jobs_recommendation_content" href="{% url "user_profile_job_recommendation" pk=object.user.id %}" {% if section == "job_recommendation" %}class="open" {% endif %}>Jobs Recommendation {% if job_recommendation_count %}<span class="highlight">{{ job_recommendation_count }}</span>{% endif %} </a>
    </li>
    <li><a id="id_calendar_content" href="{% url "calendar_events" pk=object.user.id %}" {% if section == "calendar_events" %}class="open" {% endif %}>My Calendar</a></li>
    <li><a id="id_recorded_sessions_content" href="#">My Recorded Sessions</a></li>

</ul>

<div id="id_temp_container" style="display: none;"></div>

<div id="content">
{% block tutor_body_content %}

{% endblock tutor_body_content %}
</div>
</div>

<aside class="aside_right bg_white">
  {% if content_editable %}
    <div class="padding20">
        <ul class="total_requests">
            <h3>Your Total Requests</h3>
            <li>This month ({{ profile_summary.current_month }}) :</li>
            <li><span> {{ profile_summary.this_month_requests }} </span></li>
            <li>This year ({{ profile_summary.current_year }}) :</li>
            <li><span> {{ profile_summary.this_year_requests }} </span></li>
            <li>All Time:</li>
            <li><span> {{ profile_summary.all_time_requests }} </span></li>
            <li>Accepted :</li>
            <li><span> 87 </span></li>
            <li>Rejected :</li>
            <li><span> 75 </span></li>
        </ul>
    </div>
    <div class="padding20">
        <ul class="total_requests">
            <li> Hours Tutored</li>
            <li> Earned</li>
        </ul>
    </div>
    <div class="padding20">
        <ul class="total_requests">
            <li> 12</li>
            <li> USD $1,740</li>
            <li> 45</li>
            <li> THB $11,500</li>
            <li> 32</li>
            <li> SGD $1,000</li>
        </ul>
    </div>
    <div class="padding20">
        <span class="location">Location</span>
                        <span class="spkn_lnge1">
                          Ohio, United States<br>10:00 PM (UTC-04:00)
                        </span>
    </div>
    <div class="padding20">
        <span class="location">Spoken Language(s)</span>
                        <span class="spkn_lnge">
                          English
                            <small>Fluent</small>
                            Cantonese
                            <small>Average</small>
                            Mandarin
                            <small>Below Average</small>
                        </span>
                        <div style="clear: both; width: 100%;">
                        <a id="id_add_lang_btn" href="#" class="btn btn-sm btn-primary pull-right" style="color: white;">Add Language</a>
                        </div>
                        <div id="id_lang_option_container" style="display: none;">
                            <select class="form-control select2">
                                <option value="1">English</option>
                            </select>
                            <select class="form-control">
                                <option value="1">Below Average</option>
                                <option value="2">Average</option>
                                <option value="3">Fluent</option>
                            </select>
                            <a id="id_submit_lang_btn" href="#" class="btn btn-sm btn-primary pull-right" style="color: white;">Save</a>
                        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#id_add_lang_btn").click(function(e){
                e.preventDefault();
                $(this).hide();
                $("#id_lang_option_container").show();
                return false;
            });

            $("#id_submit_lang_btn").click(function(e){
                e.preventDefault();
                $("#id_add_lang_btn").show();
                $("#id_lang_option_container").hide();
                return false;
            });

        });
    </script>

    <div class="padding20">
        <ul class="total_requests">
            <li> Last Tutored</li>
            <li> July 18, 2014</li>
        </ul>
    </div>
    <div class="padding20">
        <ul class="total_requests">
            <li> Tutor Since</li>
            <li> April 27, 2009</li>
        </ul>
    </div>
    <div class="padding20">
        <form class="url_adrs">
            <h4>Your URL Address</h4>
            <input type="text" class="radius3" value="https://www.championtutoronline">
        </form>
        {% block script_extra %}
            <script type="text/javascript" src="{%  static "js/overrides/profile.js" %}"></script>
        {% endblock %}

        <script>
            //$("input[type=text]").focus(function() {
            //               $(this).select();
            //            });
{#            $("input[type='text']").click(function () {#}
{#                $(this).select2();#}
{#            });#}



        </script>


    </div>
  {% else %}
      <div>
          <div id="id_msg_html">
              <div style="padding: 7px;"><b>{{ object.fullname }}'s</b> time is <b>{{ request|current_date|localtime|format_datetime }}<i>({{ object.timezone }})</i></b></div>
              <div style="border-top: 1px solid #efefef; height: 7px; width: 98%;"></div>
              <div id="id_msg_sent_status" style="padding: 2px; display: none;"></div>
              <form name="msg-dialog" id="id_msg_dialog_form" method="post" action="/ajax/message/" enctype="multipart/form-data">
                  {% csrf_token %}
                  <table class="table borderless">
                      <tbody>
                      <tr>
                          <td>
                              <h5><b>Send {{ object.fullname }} A Message</b></h5>
                          </td>
                      </tr>
{#                      <tr>#}
{#                          <td>#}
{#                              <input type="hidden" id="id_msg_reciepients" name="msg_recipient" value="" placeholder="Type recipients name here" class="form-control" style="width: 200px;"/>#}
{#                              <input name="hidden_ids" id="id_hidden_ids" type="hidden" value="{{ object.pk }}"/>#}
{#                          </td>#}
{#                      </tr>#}
                      <tr>
                          <td>
                              <input name="hidden_ids" id="id_hidden_ids" type="hidden" value="{{ object.pk }}"/>
                              <textarea placeholder="Write your message..." id="id_msg_text" name="msg_text" class="form-control" style="width: 230px; height: 250px; resize:vertical; max-height: 600px; font-size: 13px;"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td class="text-center">
                              <button style="color:#bbb; font-style: normal; cursor: pointer; border: 1px solid #ddd; padding:  7px; border-radius: 2px; background: #ffffff; " class="text-center" id="id_add_lesson_request"><i class="glyphicon glyphicon-plus"></i>Add Lesson Request</button>
                              <input type="hidden" name="lesson-request-enabled" value="0"/>
                          </td>
                      </tr>
                      <tr id="id_lesson_request_content" style="display: none;">
                          <td>
                              <div style="padding-bottom: 10px;">
                                  <span style="color: #000000; font-weight: bold; " class="pull-left">Add Lesson Proposal</span>
                                  <span style="color: #000000; cursor: pointer; margin-right: 10px;" id="id_hide_lesson_request_content" class="pull-right"><i class="glyphicon glyphicon-trash"></i></span>
                              </div>
                              <hr>
                              <div class="container" style="width: 256px; position: relative; left: -13px;">
                                  <div class="row">
                                      <div class='col-sm-12'>
                                           <strong>Date:</strong>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class='col-sm-12'>
                                          <div class="form-group">
                                              <div class='input-group date' id='datetimepicker1' style="width: 246px;">
{#                                                  <input id="id_lesson_date" placeholder="Select Date" type="text" class="form-control" style="width: 190px;"/>#}
                                                  {{ lesson_request_form.lesson_date }}
                                                  <span class="input-group-addon">
                                                      <span class="glyphicon glyphicon-calendar"></span>
                                                  </span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class='col-sm-12' style="height: 10px;">

                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class='col-sm-12'>
                                          <strong>Time: </strong>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class='col-sm-12'>
                                          <div class="form-group">
                                              <div class='input-group date' id='id_timepicker' style="width: 246px;">
{#                                                  <input id="id_lesson_time" placeholder="Select Time" type="text" class="form-control" style="width: 190px;"/>#}
                                                  {{ lesson_request_form.lesson_time }}
                                                  <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class='col-sm-12' style="height: 10px;">

                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class='col-sm-12'>
                                          <strong>Length:</strong>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class='col-sm-12'>
                                          <div class="form-group">
                                              {{ lesson_request_form.duration }}
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class='col-sm-12'>
                                          <strong>Repeat:</strong>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class='col-sm-12'>
                                          <div class="form-group">
                                              {{ lesson_request_form.repeat }}
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class='col-sm-12'>
                                          <strong>Subject:</strong>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class='col-sm-12'>
                                          <div class="form-group">
                                              {{ lesson_request_form.course }}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td class="text-center">
{#                              <input type="file" name="msg_attachment"/>#}
                              <button id="id_btn_send_msg" type="submit" name="submit" class="btn btn-primary" style="width: 230px; font-style: normal; ">Send Message</button>
                          </td>
                      </tr>
                      <tr>
                          <td class="text-center">
                              <h4 style="color: #000000;">Request a written lesson</h4>
                              <p>
                                  Send {{ champ_user.fullname }} a problem you need help with, and she can prepare a written lesson before your deadline.
                              </p>
                              <button style="color:#777; font-style: normal; cursor: pointer;  border: 1px solid #ddd; padding:  7px; border-radius: 2px; background: white; " class="text-center" id="id_add_written_lesson_request">Request Written Lesson</button>
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </form>
          </div>
      </div>
      <div style="float: left; width:  100%;">
          <p style="padding: 3px;">
              <h4>Likelihood of Reply</h4>
              <b style="font-size: 25px; padding-left: 7px;">70%</b>
          </p>
      </div>
      <div style="float: left;  width:  100%;">
          <p style="padding: 3px;">
              <h4>Expected Response Time</h4>
          <b style="font-size: 25px; padding-left: 7px;">12 hours</b>
          </p>
      </div>
  {% endif %}
</aside>
</div>
</div>
</div>


<script>
    jQuery(function () {
        jQuery('#id_lesson_date').datetimepicker({ format: 'DD/MM/YYYY' });
        jQuery('#id_lesson_time').datetimepicker({ format: 'LT' });
    });
    $(document).ready(function(){

{#        $("#id_lesson_date").datepicker({#}
{#            //format: 'DD/MM/YYYY'#}
{#        });#}

{#        $("#id_lesson_length").select2();#}
{##}
{#        $("#id_lesson_subject").select2();#}

        $(".select2-selection").css("height","35px");
        $(".select2-selection").css("border","1px solid #CFCFCF");

        $("#id_add_written_lesson_request").click(function(e){
            e.preventDefault();
            window.location = "/written-lesson/";
        });

        $(document).on("click","#id_add_lesson_request",function(e){
            e.preventDefault();
            $("input[name=lesson-request-enabled]").val("1");
            $(this).hide();
            $("#id_lesson_request_content").show();
            $("#id_btn_send_msg").text("Send Proposal");
        });

        $(document).on("click","#id_hide_lesson_request_content", function(e){
            e.preventDefault();
            $("input[name=lesson-request-enabled]").val("0");
            $("#id_add_lesson_request").show();
            $("#id_lesson_request_content").hide();
            $("#id_btn_send_msg").text("Send Message");
        });

        $(document).on("click","#id_btn_send_msg",function(e){
            e.preventDefault();
            var form_data = $("#id_msg_dialog_form").serialize();

            console.log(form_data);
            console.log($("input[name=msg_attachment]").val());

            _ajax_call("POST","/ajax/lesson-request/",form_data,function(data){
                        var lesson_proposal_enabled = $("input[name=lesson-request-enabled]").val();
                        //console.log(lesson_proposal_enabled);
                        //console.log(lesson_proposal_enabled=="1");
                        if(lesson_proposal_enabled == "1"){
                            //console.log("sadasd");
                            $("#id_msg_sent_status").html("<p style='font-size: 18px;'>Your Lesson request has been sent. You will be notified once approved.</p>").show();
                            $("#id_msg_html").html("<p style='font-weight: bold; font-size: 20px; color: black; padding: 20px;'>Your Lesson request has been sent. You will be notified once approved.</p>");
                        }
                        else{
                            //console.log("here");
                            $("#id_msg_sent_status").html("<p style='font-size: 18px;'>Message sent successfully.</p>").show();
                            $("#id_msg_html").html("<p style='font-weight: bold; font-size: 20px; color: black; padding: 20px;'>Your Message has been sent.</p>");
                        }
                    },
                    function(jqxhr, status, error){

                    },
                    function(msg){

                    });

            return false;
        });

        var load_ajax_content = function(content_id,callback,errback,complete_back){

            var request_url = "/ajax/profile";

            $.ajax({
                type: "GET",
                url: request_url,
                data: { content_id: content_id },
                success: function(content)
                {
                    {#                    $("#feed-content").html(content);#}
                    {#                    console.log("Content loaded.");#}
                    callback(content);
                },
                error: function(jqxhr, status, error)
                {
                    console.log("An error occured while adding canvas tab. Error message: "+error);
                    errback(jqxhr, status, error);
                }
            })
            .done(function( msg ) {
                complete_back(msg);
            });
        }

        $("#sidemenu li a").click(function(e){
            location.href = $(this).prop("href");
            var id = $(this).attr("id");
            var content_id = id.replace("id_","");
            load_ajax_content(content_id,function(content){
                $("#feed-content").html(content);
                $("#sidemenu li a").each(function(i){
                    $(this).removeClass("open");
                });
                $("#"+id).addClass("open");
            },function(jqxhr, status, error){

            },function(msg){

            });
        });
    });
</script>