{% load staticfiles %}
<script>
    $(document).ready(function(){
        $(document).on("click","#id_update_about_info",function(e){
            $(this).hide();
            $("#id_profile_about_content").hide();
            $("#id_profile_about_editable").show();
        });

        $(document).on("click","#id_profile_about_edit_submit",function(e){

            e.preventDefault();

            var url = $("#id_profile_about_form").attr("action");

            var data = {
                "about_data":$("#id_profile_about_content_value").val()
            };

            _ajax_call("POST",url,data,function(data){
                if(data.status == "SUCCESS"){
                    var $title = 'Profile updated Successfully';
                    var $message = 'You have successfully updated your profile. You can update your profile anytime later by logging into your account.';
                    var success_callback = function(data){
                        $("#id_profile_about_content").text($("#id_profile_about_content_value").val());
                        $("#id_profile_about_editable").hide();
                        $("#id_profile_about_content").show();
                        $("#id_update_about_info").show();
                    };

                    var cancel_callback = function(){
                        $("#id_profile_about_content").text($("#id_profile_about_content_value").val());
                        $("#id_profile_about_editable").hide();
                        $("#id_profile_about_content").show();
                        $("#id_update_about_info").show();
                    };

                    show_popup_dialog(data,$title,$message,false,"success",null,"Okay","Cancel",success_callback,cancel_callback,false);

                    return false;

                }
                else{
                    var $title = 'Profile Update Failed';
                    var $message = 'Your profile was not updated successfully. The following error occurred while updating your profile: <b>'+ data.message +'</b> Please fix the error and try agin later.';
                    var success_callback = function(data){

                    };

                    var cancel_callback = function(){

                    };

                    show_popup_dialog(data,$title,$message,false,"error",null,"Okay","Cancel",success_callback,cancel_callback,false);

                    return false;
                }
            },function(jqxhr, status, error){
                var $title = 'Profile Update Failed';
                var $message = 'An error occurred while performing the requested operation. Please check the input carefully or try again later.';
                var success_callback = function(data){

                };

                var cancel_callback = function(){

                };

                show_popup_dialog(data,$title,$message,false,"error",null,"Okay","Cancel",success_callback,cancel_callback,false);

                return false;
            },function(msg){

            });
        });

    });
</script>
<h3>About{% if content_editable %}<a href="#"  id="id_update_about_info" class="right-top" style="position: relative; top:  3px;">Edit</a>{% endif %}
</h3>
<hr>
<p>
    <div id="id_profile_about_content">
        {% if about_data %}{{ about_data }} {% else %} <p>No info available.</p> {% endif %}
    </div>
    <div id="id_profile_about_editable" style="display: none;">
        <form id="id_profile_about_form" method="POST" action="{% url "ajax_user_profile_about" pk=request.user.id %}" onsubmit="return false;">
            {% csrf_token %}
            <textarea id="id_profile_about_content_value" class="form-control" style="width: 515px; min-height: 300px; resize: vertical;">{{ about_data }}</textarea>
            <button id="id_profile_about_edit_submit" class="btn btn-primary" style="float: right; margin: 3px;">Submit</button>
        </form>
    </div>
</p>
