{% extends "sections/tutor_profile_body_layout.html" %}
{% load staticfiles %}

{% block body_additional_script %}
<script type="text/javascript">
    $(document).ready( function() {

        var options =  {
            iframe:true,
            opacity: 0.1,
            width:"900px",
            height:"500px",
            scrolling: false,
            photo: true,
            escKey: false,
            fixed: false,
            overlayClose: false,
            onOpen:function(){ },
            onLoad:function(){ },
            onComplete:function(){ },
            onCleanup:function(){ },
            onClosed:function(){ }
        };

        options["width"] = "900px";
        options["height"] = "570px";

        $("#id_teaching_experience").colorbox(options);

        options["width"] = "900px";
        options["height"] = "570px";

        $("#id_extra_curricular_interest").colorbox(options);

        options["width"] = "800px";
        options["height"] = "520px";

        $("#id_top_subjects").colorbox(options);

        $(".edit-top-course").colorbox(options);

        options["height"] = "530px";

        $("#id_school_attended").colorbox(options);

        options["height"] = "500px";

        $("#id_edit_profile_info").colorbox(options);

        options["height"] = "520px";

        $("#id_nid_verification").colorbox(options);

        options["width"] = "800px";
        options["height"] = "600px";

        $("#id_profile_rate").colorbox(options);

        $(".edit-profile-rate").colorbox(options);

        $("#id_profile_summary_rate").colorbox(options);


    });

</script>
    <style type="text/css">

        #cboxLoadedContent::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }
    </style>
{% endblock body_additional_script %}

{% block tutor_body_content %}
    <div id="feed-content" class="contentblock" style="padding-left: 20px; padding-top: 10px;">
    <div class="">
    <div class="top_img_section">
        {% if content_editable %}
            <a href="{% url "ajax_update_profile_info" %}"  id="id_edit_profile_info" class="right-top" style="position: relative; top: 25px;"><span class="glyphicon glyphicon-edit"></span></a>
        {% endif %}
        <script>
            $(document).ready(function(){
                $(".img_box").hover(function(){
                    $("#id_change_pp").css("opacity","1.0");
                },function(){
                    $("#id_change_pp").css("opacity","0.1");
                });
                $("#id_change_pp").hover(function(){
                    $(this).css("opacity","1.0");
                },function(){
                    $("#id_change_pp").css("opacity","0.1");
                });
            });
        </script>
        <div class="img_box radius3" style="margin-top: 20px; ">
            {% if content_editable %}
                <a id="id_change_pp" class="button btn text-center" style="color:white;width: 193px; position: absolute; padding: 3px; background: black; opacity: 0.1;" st href="{% url 'change_pp' %}"><span class="glyphicon glyphicon-edit"></span> Change Profile Picture</a>
            {% endif %}
            <img id="id_cropped_pp_thumb" src="{{ thumbnail_url|safe }}"/>
        </div>
        <div class="img_detail" {% if content_editable %}style="margin-left: 20px;margin-top: 0px;"{% endif %}>
            <a href="#"> <h3><span id="id_ps_fullname">{{ object.fullname }}</span> <span>(ID {{ object.pk }})</span></h3></a>
            <div class="british"><span><img src="/static/images/flags/32/{{ champ_user.nationality.name }}.png" width="32" height="32" alt="img"> <span id="id_ps_nationality">{{ champ_user.nationality.name }}</span> </span>| <span id="id_ps_rate">
            {% if profile_min_rate == -1 or profile_max_rate == -1 %}
                {% if content_editable %}
                    <a href="{% url "ajax_profile_rates" %}"  id="id_profile_summary_rate">Add rate</a>
                {% endif %}
            {% else %}
                ${{ profile_min_rate|floatformat:"2" }}-{{ profile_max_rate|floatformat:"2" }}
            {% endif %}
            </span></div>
            <span class="university"><span id="id_ps_university">{{ champ_user.current_school }}</span>, Class of <span id="id_ps_session">{{ champ_user.session }}</span> </span>
            <span class="major"><em>Major :</em> <span id="id_ps_major">{{ champ_user.major }}</span></span>
            <ul class="grade" {% if profile.rating %}title="Rating {{ profile.rating|floatformat:"2" }}/5.00" {% else %} title="Rating 0.00/5.00" {% endif %}>
                {% if not profile.rating %}
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                {% elif profile.rating >= 0 and profile.rating < 0.5 %}
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                {% elif profile.rating >= 0.5 and profile.rating < 1.5 %}
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                {% elif profile.rating >= 1.5 and profile.rating < 2.5 %}
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                {% elif profile.rating >= 2.5 and profile.rating < 3.5 %}
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                {% elif profile.rating >= 3.5 and profile.rating < 4.5 %}
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                {% elif profile.rating >= 4.5 and profile.rating < 5.5 %}
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                {% endif %}
{#                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18"#}
{#                         alt="img">#}
{#                </li>#}
{#                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18"#}
{#                         alt="img">#}
{#                </li>#}
{#                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18"#}
{#                         alt="img">#}
{#                </li>#}
{#                <li><img src="{% static "images/grade_non_active.png" %}" width="17"#}
{#                         height="18" alt="img">#}
{#                </li>#}
{#                <li><img src="{% static "images/grade_non_active.png" %}" width="17"#}
{#                         height="18" alt="img">#}
{#                </li>#}
            </ul>
            {% if not profile_verification_status or profile_verification_status == 0 %}
            <a href="{% url "ajax_verification_view" %}?title=nid" id="id_nid_verification" class="verified radius3" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Not Verified <span>Your national registration identity card has not been verified. Click here to upload a scanned copy of your National Identity Card.</span> </a>
            {% elif profile_verification_status == 1 %}
            <a href="#" class="verified radius3" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Verified <span>Your national registration identity card has been verified</span> </a>
            {% elif profile_verification_status == 2 %}
            <a href="#" class="verified radius3" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Verification IN Progress <span>Your national registration identity card verification is in progress.</span> </a>
            {% elif profile_verification_status == 3 %}
            <a style="width: 70%" href="{% url "ajax_verification_view" %}?title=nid" id="id_nid_verification" class="verified radius3" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Not Verified <span>Tutor's national registration identity card has not been verified. Click here to upload a scanned copy of your National Identity Card.</span> </a>
            {% elif profile_verification_status == 4 %}
            <a href="#" class="verified radius3" style="width: 90%" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Verification IN Progress <span>Your national registration identity card verification is in progress. You have submitted your ID card. It will be checked and verified. Once done you will be notified by email or message.</span> </a>
            {% endif %}
            </a>
            <script>
                function UpdateProfileRate(min_rate,max_rate){
                    $("#id_ps_rate").text("$"+min_rate+"-"+max_rate);
                };
                function UpdateProfileSummary(name,nid,nationality,school,session,major){
                    $("#id_ps_fullname").text(name);
                    $("#id_ps_nationality").text(nationality);
                    $("#id_ps_nationality").parent().find("img").prop("src","/static/images/flags/"+nid+".png");
                    $("#id_ps_university").text(school);
                    $("#id_ps_session").text(session);
                    $("#id_ps_major").text(major);
                }
            </script>
        </div>
        <div style="width: 100%; float: left; position: relative; top: 0px;">

        </div>
    </div>
    <div class="txt">
        <b style="margin-bottom: 3px; font-size: 16px;">Major:</b><br>{% if content_editable %}&nbsp;
        <input class="form-control" placeholder="Type your major here" id="id_input_major">
    {% endif %}
    </div>
    {#                            <p class="change_major_text">{{ profile.major_subject }}</p>#}
    <style>
        .tags .dfrnt_tag{
            cursor: pointer;
        }
    </style>
    <script>

        var save_tag_async = function(tag_val,tag_id,action,callback,error_back,complete_back){
            $.ajax({
                type: "POST",
                url: "/ajax/major",
                data: { action: action, tag: tag_val,tag_id: tag_id },
                success: function(data)
                {
                    callback(jQuery.parseJSON(data));
                },
                error: function(jqxhr, status, error)
                {
                    error_back(jqxhr, status, error);
                }
            })
            .done(function( msg ) {
                complete_back(msg);
            });
        };

        $.noConflict();

        jQuery( document ).ready(function( $ ){

                $(document).on("click", ".close_major_tag", function(e){
                var _this_obj = $(this);
                var tag_id = $(this).parent().find(".major_tag_id").val();
                save_tag_async("",tag_id,"DELETE",function(data){
                            if(data.status == "SUCCESS"){
                                _this_obj.parent().remove();
                            }
                            else{
                                BootstrapDialog.show({
                                    title: 'Operation Unsuccessful',
                                    message: 'The requested operation was unsuccessful. Failed to remove the major',
                                    closable: false,
                                    buttons: [
                                        {
                                            label: 'Okay',
                                            cssClass: 'btn btn-md btn-primary width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        },
                                        {
                                            label: 'Cancel',
                                            cssClass: 'btn btn-md btn-warning width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        }]
                                });
                            }
                        },
                        function(jqxhr, status, error){
                            BootstrapDialog.show({
                                title: 'Error',
                                message: 'An error occured while executing the requested operation. Please try again later.',
                                closable: false,
                                buttons: [
                                    {
                                        label: 'Okay',
                                        cssClass: 'btn btn-md btn-primary width120',
                                        action: function(dialogRef) {
                                            dialogRef.close();
                                        }
                                    },
                                    {
                                        label: 'Cancel',
                                        cssClass: 'btn btn-md btn-warning width120',
                                        action: function(dialogRef) {
                                            dialogRef.close();
                                        }
                                    }]
                            });
                        },
                        function(msg){

                        });
                return false;
            });
        });

        $( "#id_input_major" ).autocomplete({
            minLength: 0,
            source: '/ajax/major',
            focus: function( event, ui ) {
                if(ui.item.id == -1){
                    $( "#id_input_major" ).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                }
                else{
                    $( "#id_input_major" ).val( ui.item.value );
                }
                return false;
            },
            select: function( event, ui ) {
                var tag_val = ui.item.value;
                if(ui.item.id == -1){
                    tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                }

                save_tag_async(tag_val,ui.item.id,"SAVE",function(data){
                            if(data.status == "SUCCESS"){
                                var html_tag = "<span class=\"dfrnt_tag radius3\"><a class=\"close_major_tag\" href=\"#\"></a><input type=\"hidden\" class=\"major_tag_id\" value=\""+ data.data.id +"\"><label>"+ tag_val +"</label></span>";
                                $("#id_newsfeed_major").append(html_tag);
                                $("#id_input_major").val("");
                                $("#id_input_major").focus();
                                $(".nomajor-msg").hide();
                            }
                            else{
                                BootstrapDialog.show({
                                    title: 'Major Add Failed',
                                    message: 'The requested operation was unsuccessful.',
                                    closable: false,
                                    buttons: [
                                        {
                                            label: 'Okay',
                                            cssClass: 'btn btn-md btn-primary width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        },
                                        {
                                            label: 'Cancel',
                                            cssClass: 'btn btn-md btn-warning width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        }]
                                });
                            }
                        },
                        function(jqxhr, status, error){
                            BootstrapDialog.show({
                                title: 'Error',
                                message: 'An error occured while executing the requested operation. Please try again later.',
                                closable: false,
                                buttons: [
                                    {
                                        label: 'Okay',
                                        cssClass: 'btn btn-md btn-primary width120',
                                        action: function(dialogRef) {
                                            dialogRef.close();
                                        }
                                    },
                                    {
                                        label: 'Cancel',
                                        cssClass: 'btn btn-md btn-warning width120',
                                        action: function(dialogRef) {
                                            dialogRef.close();
                                        }
                                    }]
                            });
                        },
                        function(msg){

                        });

                return false;
            }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li style='cursor:pointer;'>" )
                    .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                    .append( "<input type='hidden' class='major_id' value='"+ item.id +"'/>" )
                    .appendTo( ul );
        };

    </script>
    <div id="id_newsfeed_major" class="tags" style="padding: 0px;">
        {% if majors %}
            {% for major in majors %}
                {% if content_editable %}
                    <span class="dfrnt_tag radius3"><a class="close_major_tag" href="#"></a><input type="hidden" class="major_tag_id" value="{{ major.major_id }}"><label>{{ major.major.name }}</label></span>
                {% else %}
                    <span class="dfrnt_tag radius3"><label>{{ major.major.name }}</label></span>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="txt">No major courses added.</p>
        {% endif %}
    </div>

    </div>

    <div class="padding20">
        <h3> <img src="{% static "images/teaching_icon.png" %}" width="16" height="28" alt="img"> Teaching Experience{% if content_editable %}&nbsp;
            {% if content_editable %}<a href="{% url "ajax_teaching_experience" %}"  id="id_teaching_experience"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}
        {% endif %}
        </h3>
        <p class="txt" id="id_teaching_experience_content" style="padding: 0px;">
            {% if teaching_experiences and teaching_experiences.experience %}
                {{ teaching_experiences.experience|safe }}
            {% else %}
                <p style="padding: 10px;">No Teaching Experiences Available.</p>
            {% endif %}
        </p>
    </div>
    <script>
        function update_teaching_experiences(data){
            $("#id_teaching_experience_content").html(data);
        }
    </script>

    <div class="padding20">
        {#                            <h3><img src="{% static "images/extra_curricular_icon.png" %}" width="34" height="34"#}
        {#                                     alt=" "> Extracurricular Interests    {% if content_editable %}<a href="{% url "ajax_extra_curricular_interest" %}"  id="id_extra_curricular_interest">Edit</a>{% endif %} </h3>#}
        <!-- <div class="txt"><img src="{% static "images/extra_curricular_icon.png" %}" width="34" height="34" alt="img"><b style="margin-bottom: 3px; font-size: 16px;">Extracurricular Interests: </b>{% if content_editable %}&nbsp;
            {% if content_editable %}<a href="{% url "ajax_extra_curricular_interest" %}"  id="id_extra_curricular_interest"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}
        {% endif %}
        </div> -->
        <h3> <img src="{% static "images/extra_curricular_icon.png" %}" width="34" height="34" alt="img"> Extracurricular Interests {% if content_editable %}<a href="{% url "ajax_extra_curricular_interest" %}"  id="id_extra_curricular_interest"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}</h3>
        <p class="txt" id="id_extra_curricular_interest_content" style="padding: 0px;">
            {% if extra_curricular_interest and extra_curricular_interest.interest %}
                {{ extra_curricular_interest.interest|safe }}
            {% else %}
                <p style="padding: 10px;">No Extra Curricular Interest Available.</p>
            {% endif %}
        </p>
    </div>
    <script>
        function update_extra_curricular_interest(data){
            $("#id_extra_curricular_interest_content").html(data);
        }
    </script>
    <style>
        .close {
            font-size: 20px;
            font-weight: bold;
            line-height: 18px;
            color: #000000;
            text-shadow: 0 1px 0 #ffffff;
            opacity: 0.2;
            filter: alpha(opacity=20);
            text-decoration: none;
        }
        .close:hover {
            color: #000000;
            text-decoration: none;
            opacity: 0.4;
            filter: alpha(opacity=40);
            cursor: pointer;
        }
    </style>
    <div class="padding20">
        {#                            <h3><img src="{% static "images/skul_attended_icon.png" %}" width="20" height="21"#}
        {#                                     alt="img"> School attended  {% if content_editable %}<a href="{% url "ajax_school_attended" %}"  id="id_school_attended">Add</a>{% endif %} </h3>#}
        <!-- <div class="txt"><img src="{% static "images/skul_attended_icon.png" %}" width="20" height="21" alt="img"><b style="margin-bottom: 3px; font-size: 16px;">School attended: </b>{% if content_editable %}&nbsp;
            {% if content_editable %}<a href="{% url "ajax_school_attended" %}"  id="id_school_attended"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}
        {% endif %}
        </div> -->

        <h3> <img src="{% static "images/skul_attended_icon.png" %}" width="20" height="21" alt="img"> School attended {% if content_editable %}<a href="{% url "ajax_school_attended" %}"  id="id_school_attended"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}</h3>

        <div id="id_school_attended_content" style="">
            {% for education in educations %}
                <div style="padding: 10px; margin-bottom: 3px; background: #F8F8F8 ">
                    <input type="hidden" class="hidden_education_id" value="{{ education.id }}"/>
                    {% if content_editable %}
                        <a style="float: right;" class="close close-education">x</a>
{#                        <a style="float: right; position: relative; top: 1px; right: 7px;" href="{% url "ajax_school_attended" %}?id={{ education.id }}"><span class="glyphicon glyphicon-edit"></span></a>#}
                    {% endif %}
                    <b style="display:block;text-decoration: underline; font-size: 17px;">{{ education.degree.name }}</b>
                    <div style="text-decoration: none;font-size: 14px; color:  gray;">{{ education.institution.name }}</div>
                    <div style="text-decoration: none;font-size: 14px; color:  black;">Class of {{ education.session }}</div>
                    {% if education.is_current == 1 %}
                        <div style="text-decoration: none;font-size: 14px; color:  black;">Currently Studying Here</div>
                    {% endif %}
                    <div>
                        <a href="#" class="skul_atnd_btn radius3" onClick="return false"> <img src="{% static "images/crtfcte_icon.png"%}" width="18" height="16" alt="img"> Certificates Verified <span>Academic certificates of the tutor has been verified</span></a>
                        <br/>
                    </div>
                </div>
            {% empty %}
                <div>
                    <p class="txt">No Education Info Available.</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function add_education(data){
            $(".no-edu-info").hide();
            console.log("Here: "+data);
            $("#id_school_attended_content").append(data);
        }
        $(document).ready(function(){

            var education_ajax_delete = function(edu_id,callback,error_back,complete_back){
                $.ajax({
                    type: "GET",
                    url: "/ajax/school_attended",
                    data: { sid: edu_id },
                    success: function(data)
                    {
                        callback(jQuery.parseJSON(data));
                    },
                    error: function(jqxhr, status, error)
                    {
                        error_back(jqxhr, status, error);
                    }
                })
                .done(function( msg ) {
                    complete_back(msg);
                });
            };

            $(document).on("click",".close-education",function(e){

                var edu_id = $(this).parent().find(".hidden_education_id").val();

                var _this_obj = $(this);

                education_ajax_delete(edu_id,function(data){
                            if(data.status == "SUCCESS"){
                                BootstrapDialog.show({
                                    title: 'School Removed Successfully',
                                    message: 'You have successfully removed your school. You can update your degree any time if you want by logging into your account.',
                                    closable: false,
                                    type: BootstrapDialog.TYPE_SUCCESS,
                                    size: BootstrapDialog.SIZE_NORMAL,
                                    buttons: [
                                        {
                                            label: 'Okay',
                                            cssClass: 'btn btn-md btn-primary width120',
                                            action: function(dialogRef) {
                                                _this_obj.parent().fadeOut(500).remove();
                                                dialogRef.close();
                                                parent.$.colorbox.close();
                                            }
                                        },
                                        {
                                            label: 'Cancel',
                                            cssClass: 'btn btn-md btn-warning width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        }]
                                });
                            }
                            else{
                                BootstrapDialog.show({
                                    title: 'School remove failed',
                                    message: 'The requested operation was failed. The following error occured while updating your education info: <br><b>'+data.message+'</b>. <br>Please correct the above error and try agin.',
                                    closable: false,
                                    type: BootstrapDialog.TYPE_WARNING,
                                    size: BootstrapDialog.SIZE_NORMAL,
                                    buttons: [
                                        {
                                            label: 'Okay',
                                            cssClass: 'btn btn-md btn-primary width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        },
                                        {
                                            label: 'Cancel',
                                            cssClass: 'btn btn-md btn-warning width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        }]
                                });
                            }
                        },
                        function(jqxhr, status, error){
                            BootstrapDialog.show({
                                title: 'School remove failed',
                                message: 'An error occurred while performing the requested operation. Please check the input carefully or try again later.',
                                closable: false,
                                type: BootstrapDialog.TYPE_DANGER,
                                size: BootstrapDialog.SIZE_NORMAL,
                                buttons: [
                                    {
                                        label: 'Okay',
                                        cssClass: 'btn btn-md btn-primary width120',
                                        action: function(dialogRef) {
                                            dialogRef.close();
                                        }
                                    },
                                    {
                                        label: 'Cancel',
                                        cssClass: 'btn btn-md btn-warning width120',
                                        action: function(dialogRef) {
                                            dialogRef.close();
                                        }
                                    }]
                            });
                        },
                        function(msg){

                        });
            });

        });
    </script>

    <div class="padding20">
        
        <!-- <div class="txt"><img src="{% static "images/top_subject2_icon.png" %}" width="19" height="21" alt="img"><b style="margin-bottom: 3px; font-size: 16px;">Top Subjects: </b>{% if content_editable %}&nbsp;
            {% if content_editable %}<a href="{% url "ajax_top_subjects" %}"  id="id_top_subjects"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}
        {% endif %}
        </div> -->

        <h3> <img src="{% static "images/top_subject2_icon.png" %}" width="19" height="21" alt="img"> Top Subjects {% if content_editable %}<a href="{% url "ajax_top_subjects" %}"  id="id_top_subjects"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}</h3>

        <div id="id_top_subjects_content">
            {% for top_course in top_courses %}
                <h3 class="hdng_inr"> {{ top_course.course.level }} ({{ top_course.course.name }}) 
                <input type="hidden" class="user_top_course_hidden_id" value="{{ top_course.id }}"/>
                    {% if content_editable %}
                        <a style="float: right;" class="close close-top-subject">x</a>
                        <a href="{% url "ajax_top_subjects" %}?id={{ top_course.pk }}" style="float: right; margin-top: 3px; margin-right: 3px;" class="close edit-top-course"><span class="glyphicon glyphicon-edit"></span></a>
                    {% endif %}
                </h3>
                <p class="txt">{{ top_course.description }}</p>

                <!-- <div style="padding: 7px;">
                    <input type="hidden" class="user_top_course_hidden_id" value="{{ top_course.id }}"/>
                    {% if content_editable %}
                        <a style="float: right;" class="close close-top-subject">x</a>
                    {% endif %}
                    <div class="hdng_inr" style="font-size: 17px;font-weight: bold;">{{ top_course.course.name }}({{ top_course.course.level }})</div>

                    <p class="txt">{{ top_course.course.description }}</p>
                </div> -->
            {% empty %}
                <p class="txt">No Top Courses Added.</p>
            {% endfor %}
        </div>

        <script>
            function add_top_subject(data,id){
                $(".no-top-subject").hide();
                if($("#id_top_subjects_content").find("input[value=\""+id+"\"]").length){
                    $("#id_top_subjects_content").find("input[value=\""+id+"\"]").parent().next().remove();
                    $("#id_top_subjects_content").find("input[value=\""+id+"\"]").parent().replaceWith(data);
                }
                else{
                    $("#id_top_subjects_content").append(data);
                }
            };
            $(document).ready(function(){
                var top_course_ajax_delete = function(user_top_course_id,callback,error_back,complete_back){
                    $.ajax({
                        type: "GET",
                        url: "/ajax/top_subjects",
                        data: { cid: user_top_course_id },
                        success: function(data)
                        {
                            callback(jQuery.parseJSON(data));
                        },
                        error: function(jqxhr, status, error)
                        {
                            error_back(jqxhr, status, error);
                        }
                    })
                            .done(function( msg ) {
                                complete_back(msg);
                            });
                };

                $(document).on("click",".close-top-subject",function(e){

                    var course_id = $(this).parent().find(".user_top_course_hidden_id").val();

                    var _this_obj = $(this);

                    top_course_ajax_delete(course_id,function(data){
                                if(data.status == "SUCCESS"){
                                    BootstrapDialog.show({
                                        title: 'Course Removed Successfully',
                                        message: 'You have successfully removed your course. You can update your degree any time if you want by logging into your account.',
                                        closable: false,
                                        type: BootstrapDialog.TYPE_SUCCESS,
                                        size: BootstrapDialog.SIZE_NORMAL,
                                        buttons: [
                                            {
                                                label: 'Okay',
                                                cssClass: 'btn btn-md btn-primary width120',
                                                action: function(dialogRef) {
                                                    _this_obj.parent().next().fadeOut(500).remove();
                                                    _this_obj.parent().fadeOut(500).remove();
                                                    dialogRef.close();
                                                    parent.$.colorbox.close();
                                                }
                                            },
                                            {
                                                label: 'Cancel',
                                                cssClass: 'btn btn-md btn-warning width120',
                                                action: function(dialogRef) {
                                                    dialogRef.close();
                                                }
                                            }]
                                    });
                                }
                                else{
                                    BootstrapDialog.show({
                                        title: 'Course remove failed',
                                        message: 'The requested operation was failed. The following error occured while updating your education info: <br><b>'+data.message+'</b>. <br>Please correct the above error and try agin.',
                                        closable: false,
                                        type: BootstrapDialog.TYPE_WARNING,
                                        size: BootstrapDialog.SIZE_NORMAL,
                                        buttons: [
                                            {
                                                label: 'Okay',
                                                cssClass: 'btn btn-md btn-primary width120',
                                                action: function(dialogRef) {
                                                    dialogRef.close();
                                                }
                                            },
                                            {
                                                label: 'Cancel',
                                                cssClass: 'btn btn-md btn-warning width120',
                                                action: function(dialogRef) {
                                                    dialogRef.close();
                                                }
                                            }]
                                    });
                                }
                            },
                            function(jqxhr, status, error){
                                BootstrapDialog.show({
                                    title: 'Course remove failed',
                                    message: 'An error occurred while performing the requested operation. Please check the input carefully or try again later.',
                                    closable: false,
                                    type: BootstrapDialog.TYPE_DANGER,
                                    size: BootstrapDialog.SIZE_NORMAL,
                                    buttons: [
                                        {
                                            label: 'Okay',
                                            cssClass: 'btn btn-md btn-primary width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        },
                                        {
                                            label: 'Cancel',
                                            cssClass: 'btn btn-md btn-warning width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        }]
                                });
                            },
                            function(msg){

                            });
                });

            });
        </script>
    </div>
    <div class="padding20">
        <!-- <div class="txt"><img src="{% static "images/top_subject2_icon.png" %}" width="19" height="21" alt="img"><b style="margin-bottom: 3px; font-size: 16px;">Rates: </b>{% if content_editable %}&nbsp;
            {% if content_editable %}<a href="{% url "ajax_profile_rates" %}"  id="id_profile_rate"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}
        {% endif %}
        </div> -->
        <h3> <img src="{% static "images/top_subject2_icon.png" %}" width="19" height="21" alt="img"> Rates {% if content_editable %}<a href="{% url "ajax_profile_rates" %}"  id="id_profile_rate"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}</h3>
        <script>
            function AddRate(data){
                $("#id_rate_content").find("table").find("tbody").append(data);
                $("#id_no_rate_added_row").hide();
            }

            var _delete_rate_ajax = function(rate_id,callback,error_back,complete_back){
                $.ajax({
                    type: "POST",
                    url: "/ajax/profile_rates",
                    data: { action: "DELETE_RATE", rate_id: rate_id },
                    success: function(data)
                    {
                        callback(jQuery.parseJSON(data));
                    },
                    error: function(jqxhr, status, error)
                    {
                        error_back(jqxhr, status, error);
                    }
                })
                .done(function( msg ) {
                    complete_back(msg);
                });
            };

            $(document).ready(function(){
                $(document).on("click",".close-profile-rate",function(e){

                    var rate_row = $(this).parent().parent();

                    var rate_id = $(this).parent().find(".rate_id").val();
                    _delete_rate_ajax(rate_id,function(data){
                                if(data.status == "SUCCESS"){
                                    BootstrapDialog.show({
                                        title: 'Rate Removed Successfully',
                                        message: 'You have successfully removed your profile rate. You can update your degree any time if you want by logging into your account.',
                                        closable: false,
                                        type: BootstrapDialog.TYPE_SUCCESS,
                                        size: BootstrapDialog.SIZE_NORMAL,
                                        buttons: [
                                            {
                                                label: 'Okay',
                                                cssClass: 'btn btn-md btn-primary width120',
                                                action: function(dialogRef) {
                                                    rate_row.remove();
                                                    dialogRef.close();
                                                }
                                            },
                                            {
                                                label: 'Cancel',
                                                cssClass: 'btn btn-md btn-warning width120',
                                                action: function(dialogRef) {
                                                    dialogRef.close();
                                                }
                                            }]
                                    });
                                }
                                else{
                                    BootstrapDialog.show({
                                        title: 'Rate remove failed',
                                        message: 'The requested operation was failed. The following error occured while updating your education info: <br><b>'+data.message+'</b>. <br>Please correct the above error and try agin.',
                                        closable: false,
                                        type: BootstrapDialog.TYPE_WARNING,
                                        size: BootstrapDialog.SIZE_NORMAL,
                                        buttons: [
                                            {
                                                label: 'Okay',
                                                cssClass: 'btn btn-md btn-primary width120',
                                                action: function(dialogRef) {
                                                    dialogRef.close();
                                                }
                                            },
                                            {
                                                label: 'Cancel',
                                                cssClass: 'btn btn-md btn-warning width120',
                                                action: function(dialogRef) {
                                                    dialogRef.close();
                                                }
                                            }]
                                    });
                                }
                            },
                            function(jqxhr, status, error){
                                BootstrapDialog.show({
                                    title: 'Rate remove failed',
                                    message: 'An error occurred while performing the requested operation. Please check the input carefully or try again later.',
                                    closable: false,
                                    type: BootstrapDialog.TYPE_DANGER,
                                    size: BootstrapDialog.SIZE_NORMAL,
                                    buttons: [
                                        {
                                            label: 'Okay',
                                            cssClass: 'btn btn-md btn-primary width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        },
                                        {
                                            label: 'Cancel',
                                            cssClass: 'btn btn-md btn-warning width120',
                                            action: function(dialogRef) {
                                                dialogRef.close();
                                            }
                                        }]
                                });
                            },
                            function(msg){

                            });

                });
            });

        </script>
        <style>
            .rate-table td{
                padding:  7px;
                font-size: 14px;
                color: black;
            }
            .rate-table input{
                padding:  20px;
            }
            .padding20{
                padding:  1px;
            }
        </style>

        <br>

        <div id="id_rate_content">
            <table class="table borderless table-striped table-condensed rate-table">
                <tbody>
                {% for rate in profile_rates %}
                    <tr>
                        <td>
                            <p class="txt">
                            {% if rate.class_level == "Elementary" %}
                                Elementary(Primary)
                            {% elif rate.class_level == "HighSchool" %}
                                High School(Secondary)
                            {% elif rate.class_level == "College" %}
                                College(A Level, Diploma)
                            {% elif rate.class_level == "UniversityDegree" %}
                                University(Degree)
                            {% elif rate.class_level == "UniversityMasters" %}
                                University(Master)
                            {% elif rate.class_level == "UniversityPhD" %}
                                University(PhD)
                            {% elif rate.class_level == "Music" %}
                                Music
                            {% elif rate.class_level == "Language" %}
                                Language
                            {% elif rate.class_level == "Computing" %}
                                Computing
                            {% else %}
                                {{ rate.class_level }}
                            {% endif %}
                            </p>
                        </td>
                        <td>
                            {% if rate.rate == 0 %}
                                {% if content_editable %}
                                    <a href="{% url "ajax_profile_rates" %}" style="float: right; opacity: 1.0" class="close edit-profile-rate">Add Rate</a>
                                {% else %}
                                    N/A
                                {% endif %}
                            {% else %}
                                {{ rate.rate_currency|upper }} {{ rate.rate|floatformat:"2" }}/hour</td>
                            {% endif %}
                        <td style="width: 60px;">
                            <input type="hidden" class="rate_id" value="{{ rate.id }}"/>
                            {% if content_editable %}
                                {% if rate.class_level == "Elementary" or rate.class_level == "HighSchool" or rate.class_level == "College" or rate.class_level == "UniversityDegree" or rate.class_level == "UniversityMasters" %}
                                    <a href="{% url "ajax_profile_rates" %}" style="float: right;" class="close edit-profile-rate"><span class="glyphicon glyphicon-edit"></span></a>
                                {% elif rate.class_level == "UniversityPhD" or rate.class_level == "Music" or rate.class_level == "Language" or rate.class_level == "Computing" %}
                                    <a href="{% url "ajax_profile_rates" %}" style="float: right;" class="close edit-profile-rate"><span class="glyphicon glyphicon-edit"></span></a>
                                {% else %}
                                    <a style="float: right;" class="close close-profile-rate">x</a>
                                {% endif %}
{#                                <a style="float: right; position: relative; top: 1px; right: 7px;" href="#"><span class="glyphicon glyphicon-edit"></span></a>#}
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr id="id_no_rate_added_row">
                        <td colspan="3">
                            <p class="txt">No rate added.</p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock tutor_body_content %}