{% extends "sections/tutor_profile_body_layout.html" %}
{% load staticfiles %}

{% block body_additional_script %}
    <script>
    $(document).ready(function(){
        var options =  {
            iframe:true,
            opacity: 0.1,
            width:"600px",
            height:"200px",
            scrolling: false,
            photo: true,
            escKey: false,
            fixed: true,
            overlayClose: false,
            onOpen:function(){ },
            onLoad:function(){ },
            onComplete:function(){ },
            onCleanup:function(){ },
            onClosed:function(){ }
        };
        $("#id_add_video_url").colorbox(options);
    });

    function EmbedMyVideo(url){

        var video_iframe_html = "<a id=\"id_delete_myintro_video\" data-id=\"{{ request.user.id }}\" style=\"float: right; position: relative; top: -10px; right: 10px;\" class=\"close\">x</a>";
        video_iframe_html += "<iframe id=\"id_embedded_myvideo_url\" width=\"500\" height=\"345\"";
        video_iframe_html += "src=\""+ url +"\">";
        video_iframe_html += "</iframe>";
        $("#id_profile_video_intro_content").html(video_iframe_html);
    }

    $(document).on("click","#id_delete_myintro_video",function(e){
        e.preventDefault();
        var uid = $(this).data("id");
        var data = {
            action: "DELETE",
            "uid": uid
        };
        _ajax_call("POST","/ajax/video_url",data,function(data){
            if(data.status == "SUCCESS"){
                var $title = 'Video removed successfully';
                var $message = 'You have successfully removed video from your profile. You can update any time you want by logging into your account.';
                var success_callback = function(data){
                    window.location.reload();
                };

                var cancel_callback = function(){

                };

                show_popup_dialog(data,$title,$message,false,"success",parent.$.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
            }
            else{
                var $title = 'Video remove failed';
                var $message = 'Your video was not removed successfully. The following error occured while adding course: <br/><b>"'+ data.message +'"</b>.</br>Please fix the error and try again later.</b>';
                var success_callback = function(data){

                };

                var cancel_callback = function(){

                };

                show_popup_dialog(data,$title,$message,false,"error",parent.$.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
            }
        },function(jqxhr, status, error){
            var $title = 'Video remove failed';
            var $message = 'An error occurred while performing the requested operation. <br/>Please check the input carefully or try again later.';
            var success_callback = function(data){

            };

            var cancel_callback = function(){

            };

            show_popup_dialog("",$title,$message,false,"error",parent.$.colorbox,"Okay","Cancel",success_callback,cancel_callback);
        },function(msg){

        });
        return false;
    });

    </script>
{% endblock body_additional_script %}

{% block tutor_body_content %}
    <div id="feed-content" class="contentblock" style="padding-left: 20px; padding-top: 10px;">
        <h3>My Video Introduction
        </h3>
        <hr>
        <p>
            <div id="id_profile_video_intro_content">

            {% if video_url %}
                <a id="id_delete_myintro_video" data-id="{{ request.user.id }}" style="float: right; position: relative; top: -10px; right: 10px;" class="close">x</a>
                <iframe id="id_embedded_myvideo_url" width="500" height="345"
                            src="{{ video_url }}">
                </iframe>
             {% else %}
                {% if content_editable %}
                    You have not added your introduction video yet. <a id="id_add_video_url" href="{% url "ajax_load_video_url" %}">Add</a> a video that better describes you.
                {% else %}
                    No Video Available
                {% endif %}
            {% endif %}
            </div>
        </p>
    </div>
{% endblock tutor_body_content %}
