{% load staticfiles %}

{#<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">#}
{#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
{#<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>#}
{##}
{#<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">#}
{#<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">#}
{#<link href="{% static "css/rich-textarea/editor.css" %}" rel="stylesheet">#}
{#<script type="text/javascript" src="{%  static "js/rich-textarea/editor.js" %}"></script>#}
<link href="{% static "css/colorbox.css" %}" rel="stylesheet">
<script src="{% static "js/jquery.colorbox-min.js" %}"></script>
<link href="{% static "css/jquery-ui-1.11.3.custom/jquery-ui.theme.css" %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
<script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
    * html .ui-autocomplete {
        height: 100px;
    }
    .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
        border: none;
    }
</style>
<script type="text/javascript">
    $(document).ready( function() {

        $("#id_teaching_experience").colorbox(
        {
            iframe:true,
            opacity: 0.1,
            width:"900px",
            height:"500px",
            scrolling: false,
            photo: true,
            escKey: false,
            fixed: true,
            overlayClose: false,
            onOpen:function(){ },
            onLoad:function(){ },
            onComplete:function(){ },
            onCleanup:function(){ },
            onClosed:function(){ }
        });

        $("#id_extra_curricular_interest").colorbox(
        {
            iframe:true,
            opacity: 0.1,
            width:"900px",
            height:"500px",
            scrolling: false,
            photo: true,
            escKey: false,
            fixed: true,
            overlayClose: false,
            onOpen:function(){ },
            onLoad:function(){ },
            onComplete:function(){ },
            onCleanup:function(){ },
            onClosed:function(){ }
        });

        $("#id_top_subjects").colorbox(
        {
            iframe:true,
            opacity: 0.1,
            width:"900px",
            height:"580px",
            scrolling: false,
            photo: true,
            escKey: false,
            fixed: true,
            overlayClose: false,
            onOpen:function(){ },
            onLoad:function(){ },
            onComplete:function(){ },
            onCleanup:function(){ },
            onClosed:function(){ }
        });
        $("#id_school_attended").colorbox(
        {
            iframe:true,
            opacity: 0.1,
            width:"900px",
            height:"530px",
            scrolling: false,
            photo: true,
            escKey: false,
            fixed: true,
            overlayClose: false,
            onOpen:function(){ },
            onLoad:function(){ },
            onComplete:function(){ },
            onCleanup:function(){ },
            onClosed:function(){ }
        });

        $("#id_edit_profile_info").colorbox(
        {
            iframe:true,
            opacity: 0.1,
            width:"900px",
            height:"620px",
            scrolling: false,
            photo: true,
            escKey: false,
            fixed: true,
            overlayClose: false,
            onOpen:function(){ },
            onLoad:function(){ },
            onComplete:function(){ },
            onCleanup:function(){ },
            onClosed:function(){ }
        });

        $("#id_profile_rate").colorbox(
        {
            iframe:true,
            opacity: 0.1,
            width:"800px",
            height:"520px",
            scrolling: false,
            photo: true,
            escKey: false,
            fixed: true,
            overlayClose: false,
            onOpen:function(){ },
            onLoad:function(){ },
            onComplete:function(){ },
            onCleanup:function(){ },
            onClosed:function(){ }
        });

    });

</script>
<style>

    .right-top {
        font-size: 20px;
        font-weight: bold;
        line-height: 18px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 1.0;
        filter: alpha(opacity=20);
        text-decoration: none;
        float: right;
        position: relative;
        top:  25px;
        width: 40px;
        height: 20px;
    }
</style>
<div class="contnt">

    <div class="wrapper">
        <div class="profile radius3 bg_white">
            <div id="w" class="clearfix">
            <ul id="sidemenu">
                    <li><a id="id_feed_content" href="#" class="open">News Feed</a></li>
                    <li><a id="id_about_content" href="#">About Me</a></li>
                    <li><a id="id_video_content" href="#">My Video Intro</a></li>
                    <li><a id="id_review_content" href="#">My Reviews</a></li>
                    <li><a id="id_progress_report" href="#">Write Progress Report</a></li>
                    <li><a id="id_participation_content" href="#">My Participation</a></li>
                    <li><a id="id_certificates_content" href="#">Academic Certificates</a></li>
                    <li><a id="id_jobs_invitation_content" href="#">Jobs Invitation <span class="highlight">1</span> </a></li>
                    <li><a id="id_jobs_recommendation_content" href="#">Jobs Recommendation <span class="highlight">3</span></a>
                    </li>
                    <li><a id="id_calendar_content" href="#">My Calendar</a></li>
                    <li><a id="id_recorded_sessions_content" href="#">My Recorded Sessions</a></li>

                </ul>

                <div id="id_temp_container" style="display: none;"></div>

                <div id="content">
                    <div id="feed-content" class="contentblock">
                        <div class="padding20">
                            <div class="top_img_section">
                                {% if content_editable %}
                                    <a href="{% url "ajax_update_profile_info" %}"  id="id_edit_profile_info" class="right-top">Edit</a>
                                {% endif %}
                                <div class="img_box radius3"><img src="{{ thumbnail_url|safe }}"/></div>
                                <div class="img_detail">
                                    <a href="#"> {{ object.fullname }} <span>({{ object.pk }})</span></a>
                                    <span class="british"><img src="{% static "images/british.png" %}" width="23" height="16" alt="img"> British | £25 -30</span>
                                    <span class="university">Harvard University, Class of 2013 </span>
                                    <span class="major"><em>Major :</em> Biomedical Engineering </span>
                                    <ul class="grade">
                                        <li><img src="{% static "images/grade_active.png" %}" width="17" height="18"
                                                 alt="img">
                                        </li>
                                        <li><img src="{% static "images/grade_active.png" %}" width="17" height="18"
                                                 alt="img">
                                        </li>
                                        <li><img src="{% static "images/grade_active.png" %}" width="17" height="18"
                                                 alt="img">
                                        </li>
                                        <li><img src="{% static "images/grade_non_active.png" %}" width="17"
                                                 height="18" alt="img">
                                        </li>
                                        <li><img src="{% static "images/grade_non_active.png" %}" width="17"
                                                 height="18" alt="img">
                                        </li>
                                    </ul>
                                    <a href="#" class="verified radius3" onclick="return false"><img src="{% static "images/varified_btn.png"%}" width="16" height="14" alt="img"> NRIC Verified <span>Tutor's national registration identity card has been verified</span> </a>
                                    </a>
                                </div>
                                <div style="width: 100%; float: left;">
                                    {% if content_editable %}
                                        <a class="button btn" st href="{% url 'change_pp' %}">Change Profile Picture</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="txt">
                                <b style="margin-bottom: 3px; font-size: 16px;">Major Courses:</b>{% if content_editable %}&nbsp;
                                <input class="form-control" placeholder="Type your major here" id="id_input_major">
                            {% endif %}
                            </div>
{#                            <p class="change_major_text">{{ profile.major_subject }}</p>#}
                            <style>
                                .tags .dfrnt_tag{
                                    cursor: pointer;
                                }
                            </style>
                            <script>
                                $(document).ready(function(){

                                    var save_tag_async = function(tag_val,tag_id,action,callback,error_back,complete_back){
                                        $.ajax({
                                            type: "POST",
                                            url: "/ajax/major",
                                            data: { action: action, tag: tag_val,tag_id: tag_id },
                                            success: function(data)
                                            {
                                                callback(jQuery.parseJSON(data));
                                            },
                                            error: function(jqxhr, status, error)
                                            {
                                                error_back(jqxhr, status, error);
                                            }
                                        })
                                        .done(function( msg ) {
                                            complete_back(msg);
                                        });
                                    };

                                    $(document).on("click", ".close_major_tag", function(e){
                                        var _this_obj = $(this);
                                        var tag_id = $(this).parent().find(".major_tag_id").val();
                                        save_tag_async("",tag_id,"DELETE",function(data){
                                            if(data.status == "SUCCESS"){
                                                _this_obj.parent().remove();
                                            }
                                            else{
                                                BootstrapDialog.show({
                                                    title: 'Operation Unsuccessful',
                                                    message: 'The requested operation was unsuccessful. Failed to remove the major',
                                                    closable: false,
                                                    buttons: [
                                                        {
                                                            label: 'Okay',
                                                            cssClass: 'btn btn-md btn-primary width120',
                                                            action: function(dialogRef) {
                                                                dialogRef.close();
                                                            }
                                                        },
                                                        {
                                                            label: 'Cancel',
                                                            cssClass: 'btn btn-md btn-warning width120',
                                                            action: function(dialogRef) {
                                                                dialogRef.close();
                                                            }
                                                        }]
                                                });
                                            }
                                        },
                                        function(jqxhr, status, error){
                                            BootstrapDialog.show({
                                                title: 'Error',
                                                message: 'An error occured while executing the requested operation. Please try again later.',
                                                closable: false,
                                                buttons: [
                                                    {
                                                        label: 'Okay',
                                                        cssClass: 'btn btn-md btn-primary width120',
                                                        action: function(dialogRef) {
                                                            dialogRef.close();
                                                        }
                                                    },
                                                    {
                                                        label: 'Cancel',
                                                        cssClass: 'btn btn-md btn-warning width120',
                                                        action: function(dialogRef) {
                                                            dialogRef.close();
                                                        }
                                                    }]
                                            });
                                        },
                                        function(msg){

                                        });
                                        return false;
                                    });

                                    $( "#id_input_major" ).autocomplete({
                                        minLength: 0,
                                        source: '/ajax/major',
                                        focus: function( event, ui ) {
                                            if(ui.item.id == -1){
                                                $( "#id_input_major" ).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                                            }
                                            else{
                                                $( "#id_input_major" ).val( ui.item.value );
                                            }
                                            return false;
                                        },
                                        select: function( event, ui ) {
                                            var tag_val = ui.item.value;
                                            if(ui.item.id == -1){
                                                tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                                            }

                                            save_tag_async(tag_val,ui.item.id,"SAVE",function(data){
                                                if(data.status == "SUCCESS"){
                                                    var html_tag = "<span class=\"dfrnt_tag radius3\"><a class=\"close_major_tag\" href=\"#\"></a><input type=\"hidden\" class=\"major_tag_id\" value=\""+ data.data.id +"\"><label>"+ tag_val +"</label></span>";
                                                    $("#id_newsfeed_major").append(html_tag);
                                                    $("#id_input_major").val("");
                                                    $("#id_input_major").focus();
                                                    $(".nomajor-msg").hide();
                                                }
                                                else{
                                                    BootstrapDialog.show({
                                                        title: 'Major Add Failed',
                                                        message: 'The requested operation was unsuccessful.',
                                                        closable: false,
                                                        buttons: [
                                                            {
                                                                label: 'Okay',
                                                                cssClass: 'btn btn-md btn-primary width120',
                                                                action: function(dialogRef) {
                                                                    dialogRef.close();
                                                                }
                                                            },
                                                            {
                                                                label: 'Cancel',
                                                                cssClass: 'btn btn-md btn-warning width120',
                                                                action: function(dialogRef) {
                                                                    dialogRef.close();
                                                                }
                                                            }]
                                                    });
                                                }
                                            },
                                            function(jqxhr, status, error){
                                                BootstrapDialog.show({
                                                    title: 'Error',
                                                    message: 'An error occured while executing the requested operation. Please try again later.',
                                                    closable: false,
                                                    buttons: [
                                                        {
                                                            label: 'Okay',
                                                            cssClass: 'btn btn-md btn-primary width120',
                                                            action: function(dialogRef) {
                                                                dialogRef.close();
                                                            }
                                                        },
                                                        {
                                                            label: 'Cancel',
                                                            cssClass: 'btn btn-md btn-warning width120',
                                                            action: function(dialogRef) {
                                                                dialogRef.close();
                                                            }
                                                        }]
                                                });
                                            },
                                            function(msg){

                                            });

                                            return false;
                                        }
                                    })
                                    .autocomplete( "instance" )._renderItem = function( ul, item ) {
                                        return $( "<li style='cursor:pointer;'>" )
                                                .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                                                .append( "<input type='hidden' class='major_id' value='"+ item.id +"'/>" )
                                                .appendTo( ul );
                                    };

                                });
                            </script>
                            <div id="id_newsfeed_major" class="tags" style="padding: 3px;">
                                {% if majors %}
                                    {% for major in majors %}
                                        {% if content_editable %}
                                            <span class="dfrnt_tag radius3"><a class="close_major_tag" href="#"></a><input type="hidden" class="major_tag_id" value="{{ major.major_id }}"><label>{{ major.major.name }}</label></span>
                                        {% else %}
                                            <span class="dfrnt_tag radius3"><label>{{ major.major.name }}</label></span>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p class="nomajor-msg" style="padding: 10px;">No major courses added.</p>
                                {% endif %}
                            </div>

                        </div>

                        <div class="padding20">
                            <div class="txt"><img src="{% static "images/teaching_icon.png" %}" width="16" height="28" alt="img"><b style="margin-bottom: 3px; font-size: 16px;">Teaching Experience:</b>{% if content_editable %}&nbsp;
                                {% if content_editable %}<a href="{% url "ajax_teaching_experience" %}"  id="id_teaching_experience">Edit</a>{% endif %}
                            {% endif %}
                            </div>
                            <div id="id_teaching_experience_content" style="padding: 10px;">
                                {% if teaching_experiences and teaching_experiences.experience %}
                                    {{ teaching_experiences.experience|safe }}
                                {% else %}
                                    <p style="padding: 10px;">No Teaching Experiences Available.</p>
                                {% endif %}
                            </div>
                        </div>
                        <script>
                            function update_teaching_experiences(data){
                                $("#id_teaching_experience_content").html(data);
                            }
                        </script>

                        <div class="padding20">
{#                            <h3><img src="{% static "images/extra_curricular_icon.png" %}" width="34" height="34"#}
{#                                     alt=" "> Extracurricular Interests    {% if content_editable %}<a href="{% url "ajax_extra_curricular_interest" %}"  id="id_extra_curricular_interest">Edit</a>{% endif %} </h3>#}
                            <div class="txt"><img src="{% static "images/extra_curricular_icon.png" %}" width="34" height="34" alt="img"><b style="margin-bottom: 3px; font-size: 16px;">Extracurricular Interests: </b>{% if content_editable %}&nbsp;
                                {% if content_editable %}<a href="{% url "ajax_extra_curricular_interest" %}"  id="id_extra_curricular_interest">Edit</a>{% endif %}
                            {% endif %}
                            </div>
                            <div id="id_extra_curricular_interest_content" style="padding: 10px;">
                                {% if extra_curricular_interest and extra_curricular_interest.interest %}
                                    {{ extra_curricular_interest.interest|safe }}
                                {% else %}
                                    <p style="padding: 10px;">No Extra Curricular Interest Available.</p>
                                {% endif %}
                            </div>
                        </div>
                        <script>
                            function update_extra_curricular_interest(data){
                                $("#id_extra_curricular_interest_content").html(data);
                            }
                        </script>
                        <style>
                            .close {
                                font-size: 20px;
                                font-weight: bold;
                                line-height: 18px;
                                color: #000000;
                                text-shadow: 0 1px 0 #ffffff;
                                opacity: 0.2;
                                filter: alpha(opacity=20);
                                text-decoration: none;
                            }
                            .close:hover {
                                color: #000000;
                                text-decoration: none;
                                opacity: 0.4;
                                filter: alpha(opacity=40);
                                cursor: pointer;
                            }
                        </style>
                        <div class="padding20">
{#                            <h3><img src="{% static "images/skul_attended_icon.png" %}" width="20" height="21"#}
{#                                     alt="img"> School attended  {% if content_editable %}<a href="{% url "ajax_school_attended" %}"  id="id_school_attended">Add</a>{% endif %} </h3>#}
                            <div class="txt"><img src="{% static "images/skul_attended_icon.png" %}" width="20" height="21" alt="img"><b style="margin-bottom: 3px; font-size: 16px;">School attended: </b>{% if content_editable %}&nbsp;
                                {% if content_editable %}<a href="{% url "ajax_school_attended" %}"  id="id_school_attended">Add</a>{% endif %}
                                {% endif %}
                            </div>
                            <div id="id_school_attended_content" style="padding: 10px;">
                                {% for education in educations %}
                                    <div style="padding: 10px; margin-bottom: 3px; background: #F8F8F8 ">
                                        <input type="hidden" class="hidden_education_id" value="{{ education.id }}"/>
                                        <a class="close close-education">×</a>
                                        <b style="display:block;text-decoration: underline; font-size: 17px;">{{ education.degree.name }}</b>
                                        <div style="text-decoration: none;font-size: 14px; color:  gray;">{{ education.institution.name }}</div>
                                        <div style="text-decoration: none;font-size: 14px; color:  black;">Class of {{ education.session }}</div>
                                        {% if education.is_current == 1 %}
                                            <div style="text-decoration: none;font-size: 14px; color:  black;">Currently Studying Here</div>
                                        {% endif %}
                                        <div>
                                            <a href="#" class="skul_atnd_btn radius3" onClick="return false"> <img src="{% static "images/crtfcte_icon.png"%}" width="18" height="16" alt="img"> Certificates Verified <span>Academic certificates of the tutor has been verified</span></a>
                                            <br/>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div>
                                        <p class="no-edu-info" style="padding: 10px;">No Education Info Available.</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <script>
                            function add_education(data){
                                $(".no-edu-info").hide();
                                console.log("Here: "+data);
                                $("#id_school_attended_content").append(data);
                            }
                            $(document).ready(function(){

                                var education_ajax_delete = function(edu_id,callback,error_back,complete_back){
                                    $.ajax({
                                        type: "GET",
                                        url: "/ajax/school_attended",
                                        data: { sid: edu_id },
                                        success: function(data)
                                        {
                                            callback(jQuery.parseJSON(data));
                                        },
                                        error: function(jqxhr, status, error)
                                        {
                                            error_back(jqxhr, status, error);
                                        }
                                    })
                                    .done(function( msg ) {
                                        complete_back(msg);
                                    });
                                };

                                $(document).on("click",".close-education",function(e){

                                    var edu_id = $(this).parent().find(".hidden_education_id").val();

                                    var _this_obj = $(this);

                                    education_ajax_delete(edu_id,function(data){
                                                if(data.status == "SUCCESS"){
                                                    BootstrapDialog.show({
                                                        title: 'School Removed Successfully',
                                                        message: 'You have successfully removed your school. You can update your degree any time if you want by logging into your account.',
                                                        closable: false,
                                                        type: BootstrapDialog.TYPE_SUCCESS,
                                                        size: BootstrapDialog.SIZE_NORMAL,
                                                        buttons: [
                                                            {
                                                                label: 'Okay',
                                                                cssClass: 'btn btn-md btn-primary width120',
                                                                action: function(dialogRef) {
                                                                    _this_obj.parent().fadeOut(500).remove();
                                                                    dialogRef.close();
                                                                    parent.$.colorbox.close();
                                                                }
                                                            },
                                                            {
                                                                label: 'Cancel',
                                                                cssClass: 'btn btn-md btn-warning width120',
                                                                action: function(dialogRef) {
                                                                    dialogRef.close();
                                                                }
                                                            }]
                                                    });
                                                }
                                                else{
                                                    BootstrapDialog.show({
                                                        title: 'School remove failed',
                                                        message: 'The requested operation was failed. The following error occured while updating your education info: <br><b>'+data.message+'</b>. <br>Please correct the above error and try agin.',
                                                        closable: false,
                                                        type: BootstrapDialog.TYPE_WARNING,
                                                        size: BootstrapDialog.SIZE_NORMAL,
                                                        buttons: [
                                                            {
                                                                label: 'Okay',
                                                                cssClass: 'btn btn-md btn-primary width120',
                                                                action: function(dialogRef) {
                                                                    dialogRef.close();
                                                                }
                                                            },
                                                            {
                                                                label: 'Cancel',
                                                                cssClass: 'btn btn-md btn-warning width120',
                                                                action: function(dialogRef) {
                                                                    dialogRef.close();
                                                                }
                                                            }]
                                                    });
                                                }
                                            },
                                            function(jqxhr, status, error){
                                                BootstrapDialog.show({
                                                    title: 'School remove failed',
                                                    message: 'An error occurred while performing the requested operation. Please check the input carefully or try again later.',
                                                    closable: false,
                                                    type: BootstrapDialog.TYPE_DANGER,
                                                    size: BootstrapDialog.SIZE_NORMAL,
                                                    buttons: [
                                                        {
                                                            label: 'Okay',
                                                            cssClass: 'btn btn-md btn-primary width120',
                                                            action: function(dialogRef) {
                                                                dialogRef.close();
                                                            }
                                                        },
                                                        {
                                                            label: 'Cancel',
                                                            cssClass: 'btn btn-md btn-warning width120',
                                                            action: function(dialogRef) {
                                                                dialogRef.close();
                                                            }
                                                        }]
                                                });
                                            },
                                            function(msg){

                                            });
                                });

                            });
                        </script>

                        <div class="padding20">
{#                            <h3><img src="{% static "images/top_subject2_icon.png" %}" width="19" height="21"#}
{#                                     alt="img"> Top Subjects{% if content_editable %} <a href="{% url "ajax_top_subjects" %}"  id="id_top_subjects">Edit</a>{% endif %}</h3>#}

                            <div class="txt"><img src="{% static "images/top_subject2_icon.png" %}" width="19" height="21" alt="img"><b style="margin-bottom: 3px; font-size: 16px;">Top Subjects: </b>{% if content_editable %}&nbsp;
                                {% if content_editable %}<a href="{% url "ajax_top_subjects" %}"  id="id_top_subjects">Add</a>{% endif %}
                            {% endif %}
                            </div>

                            <div id="id_top_subjects_content">
                                {% for top_course in top_courses %}
                                    <div style="padding: 7px;">
                                        <input type="hidden" class="user_top_course_hidden_id" value="{{ top_course.id }}"/>
                                        <a class="close close-top-subject">x</a>
                                        <div class="hdng_inr" style="font-size: 17px;font-weight: bold;">{{ top_course.course.name }}({{ top_course.course.level }})</div>

                                        <p class="txt">{{ top_course.course.description }}</p>
                                    </div>
                                {% empty %}
                                    <p class="no-top-subject" style="padding: 10px;">No Top Courses Added.</p>
                                {% endfor %}
                            </div>

                            <script>
                                function add_top_subject(data){
                                     $(".no-top-subject").hide();
                                     $("#id_top_subjects_content").append(data);
                                };
                                $(document).ready(function(){
                                    var top_course_ajax_delete = function(user_top_course_id,callback,error_back,complete_back){
                                        $.ajax({
                                            type: "GET",
                                            url: "/ajax/top_subjects",
                                            data: { cid: user_top_course_id },
                                            success: function(data)
                                            {
                                                callback(jQuery.parseJSON(data));
                                            },
                                            error: function(jqxhr, status, error)
                                            {
                                                error_back(jqxhr, status, error);
                                            }
                                        })
                                        .done(function( msg ) {
                                            complete_back(msg);
                                        });
                                    };

                                    $(document).on("click",".close-top-subject",function(e){

                                        var course_id = $(this).parent().find(".user_top_course_hidden_id").val();

                                        var _this_obj = $(this);

                                        top_course_ajax_delete(course_id,function(data){
                                                    if(data.status == "SUCCESS"){
                                                        BootstrapDialog.show({
                                                            title: 'Course Removed Successfully',
                                                            message: 'You have successfully removed your course. You can update your degree any time if you want by logging into your account.',
                                                            closable: false,
                                                            type: BootstrapDialog.TYPE_SUCCESS,
                                                            size: BootstrapDialog.SIZE_NORMAL,
                                                            buttons: [
                                                                {
                                                                    label: 'Okay',
                                                                    cssClass: 'btn btn-md btn-primary width120',
                                                                    action: function(dialogRef) {
                                                                        _this_obj.parent().fadeOut(500).remove();
                                                                        dialogRef.close();
                                                                        parent.$.colorbox.close();
                                                                    }
                                                                },
                                                                {
                                                                    label: 'Cancel',
                                                                    cssClass: 'btn btn-md btn-warning width120',
                                                                    action: function(dialogRef) {
                                                                        dialogRef.close();
                                                                    }
                                                                }]
                                                        });
                                                    }
                                                    else{
                                                        BootstrapDialog.show({
                                                            title: 'Course remove failed',
                                                            message: 'The requested operation was failed. The following error occured while updating your education info: <br><b>'+data.message+'</b>. <br>Please correct the above error and try agin.',
                                                            closable: false,
                                                            type: BootstrapDialog.TYPE_WARNING,
                                                            size: BootstrapDialog.SIZE_NORMAL,
                                                            buttons: [
                                                                {
                                                                    label: 'Okay',
                                                                    cssClass: 'btn btn-md btn-primary width120',
                                                                    action: function(dialogRef) {
                                                                        dialogRef.close();
                                                                    }
                                                                },
                                                                {
                                                                    label: 'Cancel',
                                                                    cssClass: 'btn btn-md btn-warning width120',
                                                                    action: function(dialogRef) {
                                                                        dialogRef.close();
                                                                    }
                                                                }]
                                                        });
                                                    }
                                                },
                                                function(jqxhr, status, error){
                                                    BootstrapDialog.show({
                                                        title: 'Course remove failed',
                                                        message: 'An error occurred while performing the requested operation. Please check the input carefully or try again later.',
                                                        closable: false,
                                                        type: BootstrapDialog.TYPE_DANGER,
                                                        size: BootstrapDialog.SIZE_NORMAL,
                                                        buttons: [
                                                            {
                                                                label: 'Okay',
                                                                cssClass: 'btn btn-md btn-primary width120',
                                                                action: function(dialogRef) {
                                                                    dialogRef.close();
                                                                }
                                                            },
                                                            {
                                                                label: 'Cancel',
                                                                cssClass: 'btn btn-md btn-warning width120',
                                                                action: function(dialogRef) {
                                                                    dialogRef.close();
                                                                }
                                                            }]
                                                    });
                                                },
                                                function(msg){

                                                });
                                    });

                                });
                            </script>
                        </div>
                        <div class="padding20">
                            <div class="txt"><img src="{% static "images/top_subject2_icon.png" %}" width="19" height="21" alt="img"><b style="margin-bottom: 3px; font-size: 16px;">Rates: </b>{% if content_editable %}&nbsp;
                                {% if content_editable %}<a href="{% url "ajax_profile_rates" %}"  id="id_profile_rate">Add</a>{% endif %}
                            {% endif %}
                            </div>
                            <script>
                                function AddRate(data){
                                    $("#id_rate_content").find("table").find("tbody").append(data);
                                    $("#id_no_rate_added_row").hide();
                                }

                                var _delete_rate_ajax = function(rate_id,callback,error_back,complete_back){
                                    $.ajax({
                                        type: "POST",
                                        url: "/ajax/profile_rates",
                                        data: { action: "DELETE_RATE", rate_id: rate_id },
                                        success: function(data)
                                        {
                                            callback(jQuery.parseJSON(data));
                                        },
                                        error: function(jqxhr, status, error)
                                        {
                                            error_back(jqxhr, status, error);
                                        }
                                    })
                                    .done(function( msg ) {
                                        complete_back(msg);
                                    });
                                };

                                $(document).ready(function(){
                                    $(document).on("click",".close-profile-rate",function(e){

                                        var rate_row = $(this).parent().parent();

                                        var rate_id = $(this).parent().find(".rate_id").val();
                                        _delete_rate_ajax(rate_id,function(data){
                                            if(data.status == "SUCCESS"){
                                                BootstrapDialog.show({
                                                    title: 'Rate Removed Successfully',
                                                    message: 'You have successfully removed your profile rate. You can update your degree any time if you want by logging into your account.',
                                                    closable: false,
                                                    type: BootstrapDialog.TYPE_SUCCESS,
                                                    size: BootstrapDialog.SIZE_NORMAL,
                                                    buttons: [
                                                        {
                                                            label: 'Okay',
                                                            cssClass: 'btn btn-md btn-primary width120',
                                                            action: function(dialogRef) {
                                                                rate_row.remove();
                                                                dialogRef.close();
                                                            }
                                                        },
                                                        {
                                                            label: 'Cancel',
                                                            cssClass: 'btn btn-md btn-warning width120',
                                                            action: function(dialogRef) {
                                                                dialogRef.close();
                                                            }
                                                        }]
                                                });
                                            }
                                            else{
                                                BootstrapDialog.show({
                                                    title: 'Rate remove failed',
                                                    message: 'The requested operation was failed. The following error occured while updating your education info: <br><b>'+data.message+'</b>. <br>Please correct the above error and try agin.',
                                                    closable: false,
                                                    type: BootstrapDialog.TYPE_WARNING,
                                                    size: BootstrapDialog.SIZE_NORMAL,
                                                    buttons: [
                                                        {
                                                            label: 'Okay',
                                                            cssClass: 'btn btn-md btn-primary width120',
                                                            action: function(dialogRef) {
                                                                dialogRef.close();
                                                            }
                                                        },
                                                        {
                                                            label: 'Cancel',
                                                            cssClass: 'btn btn-md btn-warning width120',
                                                            action: function(dialogRef) {
                                                                dialogRef.close();
                                                            }
                                                        }]
                                                });
                                            }
                                        },
                                        function(jqxhr, status, error){
                                            BootstrapDialog.show({
                                                title: 'Rate remove failed',
                                                message: 'An error occurred while performing the requested operation. Please check the input carefully or try again later.',
                                                closable: false,
                                                type: BootstrapDialog.TYPE_DANGER,
                                                size: BootstrapDialog.SIZE_NORMAL,
                                                buttons: [
                                                    {
                                                        label: 'Okay',
                                                        cssClass: 'btn btn-md btn-primary width120',
                                                        action: function(dialogRef) {
                                                            dialogRef.close();
                                                        }
                                                    },
                                                    {
                                                        label: 'Cancel',
                                                        cssClass: 'btn btn-md btn-warning width120',
                                                        action: function(dialogRef) {
                                                            dialogRef.close();
                                                        }
                                                    }]
                                            });
                                        },
                                        function(msg){

                                        });

                                    });
                                });

                            </script>
                            <style>
                                .rate-table td{
                                    padding:  7px;
                                    font-size: 14px;
                                    color: black;
                                }
                                .rate-table input{
                                    padding:  20px;
                                }
                                .padding20{
                                    padding:  1px;
                                }
                            </style>

                            <br>

                            <div id="id_rate_content">
                                <table class="table borderless table-striped table-condensed rate-table">
                                    <tbody>
                                        {% for rate in profile_rates %}
                                            <tr>
                                                <td class="label">{{ rate.class_level }}
                                                </td>
                                                <td>{{ rate.rate_currency|upper }} {{ rate.min_rate }} - {{ rate.max_rate }}/hour</td>
                                                <td style="width: 20px;">
                                                    <input type="hidden" class="rate_id" value="{{ rate.id }}"/>
                                                    <a class="close close-profile-rate">x</a>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr id="id_no_rate_added_row">
                                                <td colspan="3">
                                                    <p style="padding: 10px;">No rate added.</p>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <aside class="aside_right bg_white">
                <div class="padding20">
                    <ul class="total_requests">
                        <h3>Your Total Requests</h3>
                        <li>This month (Jul) :</li>
                        <li><span> 17 </span></li>
                        <li>This year (2014) :</li>
                        <li><span> 40 </span></li>
                        <li>All Time:</li>
                        <li><span> 105 </span></li>
                        <li>Accepted :</li>
                        <li><span> 87 </span></li>
                        <li>Rejected :</li>
                        <li><span> 75 </span></li>
                    </ul>
                </div>
                <div class="padding20">
                    <ul class="total_requests">
                        <li> Hours Tutored</li>
                        <li> Earned</li>
                    </ul>
                </div>
                <div class="padding20">
                    <ul class="total_requests">
                        <li> 12</li>
                        <li> USD $1,740</li>
                        <li> 45</li>
                        <li> THB $11,500</li>
                        <li> 32</li>
                        <li> SGD $1,000</li>
                    </ul>
                </div>
                <div class="padding20">
                    <span class="location">Location</span>
                        <span class="spkn_lnge1">
                          Ohio, United States<br>10:00 PM (UTC-04:00)
                        </span>
                </div>
                <div class="padding20">
                    <span class="location">Spoken Language(s)</span>
                        <span class="spkn_lnge">
                          English
                            <small>Fluent</small>
                            Cantonese
                            <small>Average</small>
                            Mandarin
                            <small>Below Average</small>
                        </span>
                </div>
                <div class="padding20">
                    <ul class="total_requests">
                        <li> Last Tutored</li>
                        <li> July 18, 2014</li>
                    </ul>
                </div>
                <div class="padding20">
                    <ul class="total_requests">
                        <li> Tutor Since</li>
                        <li> April 27, 2009</li>
                    </ul>
                </div>
                <div class="padding20">
                    <form class="url_adrs">
                        <h4>Your URL Address</h4>
                        <input type="text" class="radius3" value="https://www.championtutoronline">
                    </form>
                    {% block script_extra %}
                     <script type="text/javascript" src="{%  static "js/overrides/profile.js" %}"></script>
                     {% endblock %}

                    <script>
                //$("input[type=text]").focus(function() {
    //               $(this).select();
    //            });
                $("input[type='text']").click(function () {
                   $(this).select();
                });



                    </script>


                </div>

            </aside>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){

        var load_ajax_content = function(content_id,callback,errback,complete_back){

            var request_url = "/ajax/profile";

            $.ajax({
                type: "GET",
                url: request_url,
                data: { content_id: content_id },
                success: function(content)
                {
{#                    $("#feed-content").html(content);#}
{#                    console.log("Content loaded.");#}
                    callback(content);
                },
                error: function(jqxhr, status, error)
                {
                    console.log("An error occured while adding canvas tab. Error message: "+error);
                    errback(jqxhr, status, error);
                }
            })
            .done(function( msg ) {
                complete_back(msg);
            });
        }

        $("#sidemenu li a").click(function(e){
            var id = $(this).attr("id");
            var content_id = id.replace("id_","");
            load_ajax_content(content_id,function(content){
                $("#feed-content").html(content);
                $("#sidemenu li a").each(function(i){
                    $(this).removeClass("open");
                });
                $("#"+id).addClass("open");
            },function(jqxhr, status, error){

            },function(msg){

            });
        });
    });
</script>
