{% extends "sections/tutor_profile_body_layout.html" %}
{% load staticfiles %}

{% block body_additional_script %}

{% endblock body_additional_script %}

{% block tutor_body_content %}
<div id="feed-content" class="contentblock" style="padding-left: 20px; padding-top: 10px;">
        <h3>News Feed{% if job_data %}({{ job_data|length }}){% endif %}</h3>
        <hr/>
        <div>
            {% for job in job_data %}
                {{ job }}
                {% empty %}
                <div style="padding: 13px;">
                    No job found.
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock tutor_body_content %}
