{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<script>
    $(document).ready(function(){

        ClosePop = function () {
            $('.popover').hide();
        }
        var lesson_popup = $('#id_lesson_details').popover({
            content: $("#id_lesson_details_hidden").html()
        });

        lesson_popup.on("show.bs.popover", function(e){
            lesson_popup.data("bs.popover").tip().css({"width": "500px"});
        });

        $("#id_lesson_pay").click(function(e) {
            e.preventDefault();
            $("#id_payment_blocker_overlay").show();
            $("#id_payment_blocker_dialog").show();
        });

    });
</script>
<div style="padding: 7px; background: #eeeeee;">
    <span class="lavel label-info" style="padding: 3px; color: #eeeeee; font-size: 17px;">
        <label>Please complete the payment before you can enter the lesson.</label>
    </span>
    <span class="pull-right" id="id_lesson_details" data-toggle="popover" onclick="ClosePop();" data-placement="left" data-width="350" data-trigger="click" data-html="true" title="Lesson details" style="cursor: pointer; margin-right: 3px; font-weight: bold; font-size: 15px; padding: 3px; padding-bottom: 5px; color: #DDD6D6;">
    <img title="View details of this lesson" src="{% static "images/view_details.png" %}" width="20" height="20"/>
    </span>
    {% if payer %}
    <span class="pull-right">
        <a id="id_lesson_pay" class="btn btn-primary" style="color: white; font-weight: bold;" href="#"><img src="{% static "images/rate-icon.png" %}"/> Pay now</a>
    </span>
    {% endif %}
    {% if lesson_details %}
    <div id="id_lesson_details_hidden" style="display: none;">
        {{ lesson_details }}
    </div>
    {% endif %}
</div>

<style>
    #id_payment_blocker_overlay {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: #000000;
        z-index: 1000000;
        opacity: 0.5;
        display: none;
    }

    #id_payment_blocker_dialog {
        position: absolute;
        margin: auto;
        top: 10px;
        left: 0px;
        right: 0px;
        width: 850px;
        height: 300px;
        background: white;;
        z-index: 1000001;
        display: none;
    }

    #id_payment_confirmation_dialog {
        position: fixed;
        margin: auto;
        top: 200px;
        left: 0px;
        right: 0px;
        width: 450px;
        height: 200px;
        background: #eeeeee;
        z-index: 1000011;
        display: none;
    }
    .postneed_bx2 {
        border-radius: 0px !important;
    }
    .cc_error {
        color: red;
    }
</style>
<script>

    function validate(element) {
        var elem = $("input[name="+element+"]");
        if($.trim(elem.val()) == "") {
            //elem.focus();
            //elem.parent().find(".error").text("This field is required.");
            return false;
        }
        return true;
    }

    function validate_creditcardnumber(value)
    {
        var re16digit=/^\d{16}$/
        if (value.search(re16digit)==-1) {
            return false;
        }
        else {
            return true
        }
    }

    function validate_cc_form() {
        var $card_number = $("input[name=card_number]");
        var valid = true;
        if(!validate("card_number")) {
            $card_number.parent().find(".cc_error").html("Enter a valid credit card number").show();
            $card_number.focus();
            valid &= false;
        }
        else if(!validate_creditcardnumber($.trim($card_number.val()))) {
            $card_number.parent().find(".cc_error").html("Enter a valid credit card number").show();
            $card_number.focus();
            valid &= false;
        }
        else {
            $card_number.parent().find(".cc_error").html("").hide();
        }
        var $card_cvv = $("input[name=card_cvv]");
        if(!validate("card_cvv")) {
            $card_cvv.parent().find(".cc_error").html("This field is required.").show();
            $card_cvv.focus();
            valid &= false;
        }
        else {
            $card_cvv.parent().find(".cc_error").hide();
        }
        var $first_name = $("input[name=first_name]");
        if(!validate("card_cvv")) {
            $first_name.parent().find(".cc_error").html("This field is required.").show();
            $first_name.focus();
            valid &= false;
        }
        else {
            $first_name.parent().find(".cc_error").hide();
        }
        var $last_name = $("input[name=last_name]");
        if(!validate("card_cvv")) {
            $last_name.parent().find(".cc_error").html("This field is required.").show();
            $last_name.focus();
            valid &= false;
        }
        else {
            $last_name.parent().find(".cc_error").hide();
        }
        return valid;
    }

    function handle_ajax_call(url, method, data, callback, error_back, complete_back) {
        $.ajax({
            type: method,
            url: url,
            data: data,
            success: function(data)
            {
                var data = jQuery.parseJSON(data);
                callback(data);
            },
            error: function(jqxhr, status, error)
            {
                error_back(jqxhr, status, error);
            }
        })
        .done(function( msg ) {
            complete_back(msg);
        });
    }

    $(document).ready(function() {
        $(document).on("click","#id_payment_dialog_cancel", function(e) {
            e.preventDefault();
            $("#id_payment_blocker_overlay").hide();
            $("#id_payment_blocker_dialog").hide();
        });

        $("input[name=lesson_payment]").change(function(e) {
            var value = $(this).val();
            if(value == "-1") {
                $("#id_lesson_payment_cc_add").show();
            }
            else {
                $("#id_lesson_payment_cc_add").hide();
            }
            $("#id_lesson_pay_proceed").prop("disabled", false);
        })

        var payment_progress = false;

        $(document).on("click","#id_lesson_pay_proceed", function(e) {
            e.preventDefault();
            if(payment_progress == true) {
                return false;
            }
            var card = $("input[name=lesson_payment]:checked").val();
            if(card == "-1") {
                if(validate_cc_form()) {
                    payment_progress = true;
                    //$("#id_lesson_pay_proceed").prop("disabled", true);
                    $("#id_payment_confirmation_dialog").show();
                    $("#id_payment_confirmation_dialog").find(".progress-text").text("0/2 steps");
                    $("#id_payment_confirmation_dialog").find(".progress-text").css("width","0%");
                    handle_ajax_call("/ajax/add_cc/", "POST", $("#id_lesson_payment_form").serialize(),
                    function(data) {
                        if(data.status == "SUCCESS") {
                            $("#id_lesson_pay_proceed").prop("disabled", true);
                            $("#id_lesson_pay_progress_ok").prop("disabled", true);
                            $("#id_payment_confirmation_dialog").find(".progress-text").text("1/2 steps");
                            $("#id_payment_confirmation_dialog").find(".progress-text").css("width","50%");
                            var pm_id = data.data.pm;
                            handle_ajax_call("/ajax/process_payment/", "POST", { "lesson_id": $("#id_lesson_id_payment_dialog").val(), "pm_id": pm_id  },
                                function(data) {
                                    if(data.status == "SUCCESS") {
                                        $("#id_payment_confirmation_dialog").find(".progress-text").text("2/2 steps");
                                        $("#id_payment_confirmation_dialog").find(".progress-text").css("width","100%");
                                        $("#id_lesson_pay_proceed").prop("disabled", false);
                                        $("#id_lesson_pay_progress_ok").prop("disabled", false);
                                        payment_progress = true;
                                        $(".payment-process-status").text("Payment successful.");
                                        window.location.reload();
                                    }
                                    else {
                                        $(".payment-process-status").text("Payment process failed.");
                                        $(".payment-process-status").show();
                                        $("#id_lesson_pay_proceed").prop("disabled", false);
                                        $("#id_lesson_pay_progress_ok").prop("disabled", false);
                                        $("#id_payment_confirmation_dialog").hide();
                                        payment_progress = false;
                                    }
                                },
                                function(jqxhr, status, error) {
                                    $(".payment-process-status").text("Payment process failed.");
                                    $(".payment-process-status").show();
                                    $("#id_lesson_pay_proceed").prop("disabled", false);
                                    $("#id_lesson_pay_progress_ok").prop("disabled", false);
                                    $("#id_payment_confirmation_dialog").hide();
                                    payment_progress = false;
                                },
                                function(msg) {
                                    $("#id_lesson_pay_proceed").prop("disabled", false);
                            });
                        }
                        else {
                            $(".payment-process-status").text("Payment process failed.");
                            $(".payment-process-status").show();
                            $("#id_lesson_pay_proceed").prop("disabled", false);
                            $("#id_lesson_pay_progress_ok").prop("disabled", false);
                            $("#id_payment_confirmation_dialog").hide();
                            payment_progress = false;
                        }
                    },
                    function(jqxhr, status, error) {
                        $(".payment-process-status").text("Payment process failed.");
                        $(".payment-process-status").show();
                        $("#id_payment_confirmation_dialog").hide();
                        payment_progress = false;
                    },
                    function(msg) {
                        $("#id_lesson_pay_proceed").prop("disabled", false);
                        $("#id_lesson_pay_progress_ok").prop("disabled", false);
                    });
                }
                else {
                    return false;
                }
            }
            else {
                //$("#id_lesson_pay_proceed").prop("disabled", true);
                $("#id_payment_confirmation_dialog").show();
                $("#id_payment_confirmation_dialog").find(".progress-text").text("0/1 steps");
                $("#id_payment_confirmation_dialog").find(".progress-text").css("width","0%");
                handle_ajax_call("/ajax/process_payment/", "POST", { "lesson_id": $("#id_lesson_id_payment_dialog").val(), "pm_id": card  },
                    function(data) {
                        if(data.status == "SUCCESS") {
                            $("#id_payment_confirmation_dialog").show();
                            $("#id_payment_confirmation_dialog").find(".progress-text").text("1/1 steps");
                            $("#id_payment_confirmation_dialog").find(".progress-text").css("width","100%");
                            $("#id_lesson_pay_progress_ok").prop("disabled", false);
                            payment_progress = false;
                            $(".payment-process-status").text("Payment successful.");
                            window.location.reload();
                        }
                        else {
                            $(".payment-process-status").text("Payment process failed.");
                            $(".payment-process-status").show();
                            $("#id_lesson_pay_proceed").prop("disabled", false);
                            $("#id_lesson_pay_progress_ok").prop("disabled", false);
                            $("#id_payment_confirmation_dialog").hide();
                            payment_progress = false;
                        }
                    },
                    function(jqxhr, status, error) {
                        $(".payment-process-status").text("Payment process failed.");
                        $(".payment-process-status").show();
                        $("#id_payment_confirmation_dialog").hide();
                        payment_progress = false;
                    },
                    function(msg) {
                        $("#id_lesson_pay_proceed").prop("disabled", false);
                        $("#id_lesson_pay_progress_ok").prop("disabled", false);
                    });
            }
        });

    });
</script>
<div id="id_payment_blocker_overlay">

</div>
<div id="id_payment_confirmation_dialog">
    <div class="postneed_bx2" style="width: 450px; height: auto; background: #eeeeee;">
        <h3 class="reject_heading accept_bg" style="margin-top: 0px;">Progress</h3>
        <div class="text-center" style="margin-left: auto; margin-right: auto; width: 80%; background: white; margin-top: 100px; height: 60px;">
            <div class="progress-text text-center" style="vertical-align: middle; background: #337ab7 !important; color: white; font-weight: bold; width: 60%; height: 60px;">
                1/2 steps
            </div>
        </div>
        <!--<div>-->
            <!--<a href="#" class="btn btn-danger pull-right" id="id_lesson_pay_progress_ok" style="text-decoration: none; color: white; font-weight: bold; font: 16px/18px 'HelveticaNeueLTStd-Medium'; background: #da4a4a; margin-right: 3px !important; padding: 7px; margin-top: 7px; margin-bottom: 7px;">Close</a>-->
        <!--</div>-->
    </div>
</div>
<div id="id_payment_blocker_dialog">
    <div class="postneed_bx2">
	    <h3 class="reject_heading accept_bg" style="margin-top: 0px;">Lesson Payment <span style="cursor: pointer; right: 20px; top: 20px;" name="payment_blocker_cancel" class="glyphicon glyphicon-remove pull-right" id="id_payment_dialog_cancel"></span></h3>
        <div class="reject_detail" style="width: 100%; padding: 10px 20px;">
            <input type="hidden" id="id_lesson_id_payment_dialog" value="{{ live_lesson.pk }}"/>
            {% if payment_methods %}
            <h3 style="font-size: 17px;">Select one of the payment method or you can add new one</h3>
            {% else %}
            <h3 style="font-size: 17px;">No payment method found. Please add a new payment method to pay</h3>
            {% endif %}
            {% for pm in payment_methods %}
            <div style="padding: 3px; width: 100%; ">
                <label><input type="radio" name="lesson_payment" value="{{ pm.pk }}"/> {{ pm.number_mask }}({{ pm.card_type }})</label>
            </div>
            {% endfor %}
            <div style="padding: 3px; width: 100%; ">
                <label><input type="radio" name="lesson_payment" {% if not payment_methods %}checked{% endif %} value="-1"/> Add New Credit Card</label>
            </div>

            <div id="id_lesson_payment_cc_add" {% if payment_methods %}style="display: none;"{% endif %}>
                <form id="id_lesson_payment_form" name="lesson_pay_form" method="POST">
                  {% csrf_token %}
                  <div>
                    <div class="panel panel-default">
                     <div class="panel-heading">

                         <div class="row ">
                              <div class="col-md-12 pad-adjust">

                                  <div style="font-weight: bold; font-size: 13px;">Select Card Type</div>
                              </div>
                          </div>

                         <div class="row ">
                              <div class="col-md-12 pad-adjust">
                                  <select name="card_type" class="form-control" style="cursor: pointer;">
                                      <option value="Visa">Visa</option>
                                      <option value="MasterCard">Master Card</option>
                                      <!--<option value="discover">discover</option>-->
                                      <!--<option value="amex">amex</option>-->
                                  </select>
                              </div>
                          </div>
                          <br/>
                         <div class="row ">
                              <div class="col-md-12 pad-adjust">

                                  <div style="font-weight: bold; font-size: 13px;">Enter Your Name</div>
                              </div>
                          </div>
                         <div class="row ">
                              <div class="col-md-6 col-sm-6 col-xs-6">
                                  <input name="first_name" type="text" class="form-control" placeholder="First Name">
                                  <div class="cc_error">

                                  </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-6">
                                  <input name="last_name" type="text" class="form-control" placeholder="Last Name">
                                  <div class="cc_error">

                                  </div>
                              </div>
                          </div>
                         </br>
                         <div class="row ">
                              <div class="col-md-12 pad-adjust">

                                  <div style="font-weight: bold; font-size: 13px;">Enter your credit card number</div>
                              </div>
                          </div>
                          <div class="row ">
                              <div class="col-md-12">
                                  <input name="card_number" type="text" class="form-control" placeholder="Enter Credit Card Number">
                                  <div class="cc_error">

                                  </div>
                              </div>
                          </div>
                         <br/>
                         <div class="row ">
                              <div class="col-md-12 pad-adjust">

                                  <div style="font-weight: bold; font-size: 13px;">Expiry Date</div>
                              </div>
                          </div>
                         <div class="row ">
                                  <div class="col-md-6 col-sm-6 col-xs-6">
                                      <!--<input name="expiry_month" type="text" class="form-control" placeholder="MM (Expiry Month)">-->
                                      <select name="expiry_month" class="form-control">
                                           <option value="1">Jan</option>
                                           <option value="2">Feb</option>
                                           <option value="3">Mar</option>
                                           <option value="4">Apr</option>
                                           <option value="5">May</option>
                                           <option value="6">Jun</option>
                                           <option value="7">Jul</option>
                                           <option value="8">Aug</option>
                                           <option value="9">Sep</option>
                                           <option value="10">Oct</option>
                                           <option value="11">Nov</option>
                                           <option value="12">Dec</option>
                                      </select>
                                      <div class="cc_error">

                                      </div>
                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-6">
                                      <!--<input name="expiry_year" type="text" class="form-control" placeholder="YY (Expiry Year)">-->
                                      <select name="expiry_year" class="form-control">
                                           <option value="2015">2015</option>
                                           <option value="2016">2016</option>
                                           <option value="2017">2017</option>
                                           <option value="2018">2018</option>
                                           <option value="2019">2019</option>
                                           <option value="2020">2020</option>
                                      </select>
                                      <div class="cc_error">

                                      </div>
                                  </div>
                              </div>
                            <br/>
                         <div class="row ">
                              <div class="col-md-12 pad-adjust">

                                  <div style="font-weight: bold; font-size: 13px;">Enter Card CVV</div>
                              </div>
                          </div>
                            <div class="row ">
                                  <div class="col-md-6 col-sm-6 col-xs-6">
                                      <input name="card_cvv" type="text" class="form-control" placeholder="CVV">
                                      <div class="cc_error">

                                      </div>
                                  </div>
                         </div>
                         <div class="row ">
                                  <div class="col-md-6 col-sm-6 col-xs-6">
                                      <br/>
                                  </div>
                         </div>
                         <div class="row ">
                              <div class="col-md-6 col-sm-6 col-xs-6">
                                  <label><input type="checkbox" style="margin-top: 7px !important;" name="primary_card"/> This is my primary card</label>
                              </div>
                        </div>
                         <br/>
                       </div>
                  </div>
                  </div>
                  </form>
            </div>
            <div style="padding: 7px; width: 100%;">
                <span class="payment-process-status pull-left label-danger" style="display: none; color: white; font-weight: bold;">Payment Failed</span>
                <a href="#" class="reject_btn accept_bg" disabled id="id_lesson_pay_proceed" style="margin-right: 13px !important;">Proceed to payment</a> &nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>










