{% load staticfiles %}
<script>

    window.cursor_position = {};
    window.cursor_text_color = {};


    $(document).ready(function(){

        ClosePop = function () {
            $('.popover').hide();
        }
        var lesson_popup = $('#id_lesson_details').popover({
            content: $("#id_lesson_details_hidden").html()
        });

        lesson_popup.on("show.bs.popover", function(e){
            lesson_popup.data("bs.popover").tip().css({"width": "500px"});
        });


        var color_index = 0;
        var red = 219;
        var green = 235;
        var blue = 20;
        var color_code = "rgb( "+ red +", " + green + ", " + blue + " )";

        {% if live_lesson.user.pk != request.user.pk %}
            window.cursor_position[{{ live_lesson.user.pk }}] = { "left": $("#user_{{ live_lesson.user.pk }}").offset().left, "top": $("#user_{{ live_lesson.user.pk }}").offset().top };
            red -= 30;
            green -= 10;
            blue += 30;
            color_code = "rgb( "+ red +", " + green + ", " + blue + " )";
            window.cursor_text_color[{{ live_lesson.user.pk }}] = color_code;
            $("#user_{{ live_lesson.user.pk }}").find(".label").css("background", color_code+" !important");
        {% endif %}
        {% if live_lesson.request_user.pk != request.user.pk %}
            color_index += 8;
            window.cursor_position[{{ live_lesson.request_user.pk }}] = { "left": $("#user_{{ live_lesson.request_user.pk }}").offset().left, "top": $("#user_{{ live_lesson.request_user.pk }}").offset().top };
            red -= 30;
            green -= 10;
            blue += 30;
            color_code = "rgb( "+ red +", " + green + ", " + blue + " )";
            window.cursor_text_color[{{ live_lesson.request_user.pk }}] = color_code;
            $("#user_{{ live_lesson.request_user.pk }}").find(".label").css("background", color_code+" !important");
        {% endif %}

        {% for user in live_lesson.other_users.all %}
            {% if user.pk != request.user.pk %}
            color_index += 8;
            window.cursor_position[{{ user.pk }}] = { "left": $("#user_{{ user.pk }}").offset().left, "top": $("#user_{{ user.pk }}").offset().top };
            red -= 30;
            green -= 10;
            blue += 30;
            color_code = "rgb( "+ red +", " + green + ", " + blue + " )";
            window.cursor_text_color[{{ user.pk }}] = color_code;
            $("#user_{{ user.pk }}").find(".label").css("background", color_code+" !important");
            {% endif %}
        {% endfor %}

        $.each(window.cursor_text_color, function (index, value) {
            $("#user_"+index).find(".label").css("background-color", value + " !important");
        });
    });
    </script>
    <style>
        body {
            overflow-x: hidden !important;
        }
        .wb_users li{
            margin-right: 20px;
            margin-top: 0px;
        }
        .cursor {
            display: none;
        }
    </style>
    <script src="{% static "js/countdowntimer/jquery.countdownTimer.min.js" %}"></script>
    <div style="padding: 7px;">

        <div id="id_cursors" style="max-width: 450px; display: inline; float: left;">
        {% if live_lesson %}
        <ul class="list-inline wb_users">
            {% if live_lesson.user.pk != request.user.pk %}
            <li>
                <div class="cursor" data-placement="top" id="user_{{ live_lesson.user.pk }}" title="{{ live_lesson.user.champuser.fullname }}">
                    <div class="label" style="border-radius: 10%">{{ live_lesson.user.champuser.fullname }}</div>
                    <div class="text-center">
                        <img src="{{ live_lesson.user.champuser.render_profile_picture }}" style="border: 1px solid gray; border-radius: 50%;" width="20" height="20">
                    </div>
                </div>
            </li>
            {% endif %}
            {% if live_lesson.request_user.pk != request.user.pk %}
            <li>
                <div class="cursor" data-placement="top" id="user_{{ live_lesson.request_user.pk }}" title="{{ live_lesson.request_user.champuser.fullname }}">
                    <div class="label" style="border-radius: 10%">{{ live_lesson.request_user.champuser.fullname }}</div>
                    <div class="text-center">
                        <img src="{{ live_lesson.request_user.champuser.render_profile_picture }}" style="border: 1px solid gray; border-radius: 50%;" width="20" height="20">
                    </div>
                </div>
            </li>
            {% endif %}
            {% for user in live_lesson.other_users.all %}
                {% if user.pk != request.user.pk %}
                    <li>
                        <div class="cursor" data-placement="top" id="user_{{ user.pk }}" title="{{ user.champuser.fullname }}">
                            <div class="label" style="border-radius: 10%;">{{ user.champuser.fullname }}</div>
                            <div class="text-center">
                                <img src="{{ user.champuser.render_profile_picture }}" style="border: 1px solid gray; border-radius: 50%;" width="20" height="20">
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>

        <span class="pull-right" id="id_lesson_details" data-toggle="popover" onclick="ClosePop();" data-placement="left" data-width="350" data-trigger="click" data-html="true" title="Lesson details" style="cursor: pointer; margin-right: 3px; font-weight: bold; font-size: 15px; padding: 3px; padding-bottom: 5px; color: #DDD6D6;">
        <img title="View details of this lesson" src="{% static "images/view_details.png" %}" width="20" height="20"/>
        </span>

        <span id="id_lesson_schedule_timer" class="label-info pull-right" style="cursor: pointer; margin-right: 3px; font-weight: bold; font-size: 15px; padding: 3px; padding-bottom: 5px; color: #DDD6D6; background: #264963;">
        <span class="glyphicon glyphicon-time" style="position: relative; top: 2px;">
        </span> <span id="id_lesson_countdown_timer"> 00:00:00</span>
        </span>

        <div id="id_lesson_participants_hidden" style="display: none;">
            <ul class="list-group" style="max-height: 400px; overflow-y: auto; width: 250px;">
                {% for user in all_participants %}
                    <li class="list-group-item"><a href="{% url "user_profile" user.pk %}"><img src="{{ user.champuser.render_profile_picture }}" width="30" height="30"/> {{ user.champuser.fullname }} </a>{% if user.champuser.online_status == 1 %}<img style="float: right;" src="/static/images/wb_online.png" width="14" height="14" alt="img">{% endif %}</li>
                {% endfor %}
            </ul>
        </div>

        {% if lesson_details %}
        <div id="id_lesson_details_hidden" style="display: none;">
            {{ lesson_details }}
        </div>
        {% endif %}
    </div>
    <script>
        $(document).ready(function(){

        var hour = 0;
        var min = 0;
        var second = 0;
        var timer_started = false;

        function format_time_prefix(value) {
            if(value >= 0 && value <= 9) {
                return "0"+value;
            }
            return value;
        }

        var elapsed_timer = $("#id_lesson_countdown_timer").timer({
            callback: function() {
                if(!timer_started) {
                    return false;
                }
                second += 1;
                if(second == 59) {
                    min += 1;
                    second = 0;
                }
                if(min == 59) {
                    hour += 1;
                    min = 0;
                }
                var time_text = format_time_prefix(hour)+":"+format_time_prefix(min)+":"+format_time_prefix(second);
                $("#id_lesson_countdown_timer").text(time_text);
            },
            delay: 1000,
            repeat: true,
            autostart: false
        });

        $("#id_lesson_countdown_timer").timer('start');

        {% if lesson_status == "LIVE" or lesson_status == "SCHEDULED" %}

            var update_lesson_access_time_ajax = null;
            var lesson_access_timer_interval = null;
            var notify_alert = true;

            function start_updating_whiteboard_access_time() {
                var update_lesson_access_time = function() {
                    var lesson_id = $("#id_hidden_lesson_id").val();
                    update_lesson_access_time_ajax = $.ajax({
                        type: "POST",
                        url: "/ajax/lesson_status_update/",
                        data: { action: "update_access_time", "lesson_id": lesson_id },
                        success: function(data)
                        {
                            var data = jQuery.parseJSON(data);
                            console.log(data);
                            if(data.status == "SUCCESS") {
                                if(data.data.show_alert == 1 && notify_alert) {
                                    if(data.data.dialog_content != "") {
                                        $("#id_reminer_blocker_dialog").find(".postneed_bx2").html(data.data.dialog_content);
                                        $("#id_reminer_blocker_overlay").show();
                                        $("#id_reminer_blocker_dialog").show();
                                        notify_alert = false;
                                    }
                                    if(data.data.remaining_time == 0) {
                                        if(lesson_access_timer_interval != null) {
                                            clearInterval(lesson_access_timer_interval);
                                            if(update_lesson_access_time_ajax != null) {
                                                update_lesson_access_time_ajax.abort();
                                            }
                                        }
                                    }
                                }
                                else {
                                    if(data.data.time_lap <= 1) {
                                        timer_started = true;
                                    }
                                }
                            }
                        },
                        error: function(jqxhr, status, error)
                        {

                        }
                    })
                    .done(function( msg ) {

                    });
                };
                lesson_access_timer_interval = setInterval(update_lesson_access_time, 60*1000);
            }

            {% if lesson_status == "SCHEDULED" %}
                {% if not request.user.champuser.is_tutor %}
                    {% if payment_status == True %}
                        start_updating_whiteboard_access_time();
                    {% endif %}
                {% else %}
                    start_updating_whiteboard_access_time();
                {% endif %}
            {% else %}
                start_updating_whiteboard_access_time();
            {% endif %}
        {% endif %}
        });
    </script>
{% include "ajax/reminder_dialog.html" %}