{% load staticfiles %}
<style>
    .popover-title {
        color: black;
        font-weight: bold;
    }
    .popover-content {
        color: #333333;
    }
</style>
<script>
$(document).ready(function(){
    {% if lesson_status != "LIVE" %}
        {% if lesson_status == "SCHEDULED" %}

            {% if not request.user.champuser.is_tutor %}
                    {% if payment_status == False %}
                        $('.sharing').popover({
                            title: "Audio/Video Sharing",
                            content: "In live session this tool allows you to share your audio/video to other party of this lesson."
                        });
                    {% endif %}
            {% endif %}


        {% else %}
            $('.sharing').popover({
                title: "Audio/Video Sharing",
                content: "In live session this tool allows you to share your audio/video to other party of this lesson."
            });
        {% endif %}
    {% endif %}

});
</script>
<div class="left_detail" id="id_whiteboard_bottom_bar" style="display: none;">

    {% if lesson_status != "LIVE" %}
        {% if lesson_status == "SCHEDULED" %}

            {% if not request.user.champuser.is_tutor %}
                    {% if payment_status == False %}
                        <div id="" class="sharing radius3" data-placement="top" data-trigger="click" >
                            <img src="{% static "images/wb_online.png" %}" width="14" height="14" alt="img">
                            <span id="id_wb_sharing_tool">Sharing</span>
                        </div>
                    {% else %}
                        <div id="" class="sharing radius3">
                            <img src="{% static "images/wb_online.png" %}" width="14" height="14" alt="img">
                            <span id="id_wb_sharing_tool">Sharing</span>
                        </div>
                    {% endif %}
            {% else %}
                <div id="" class="sharing radius3">
                    <img src="{% static "images/wb_online.png" %}" width="14" height="14" alt="img">
                    <span id="id_wb_sharing_tool">Sharing</span>
                </div>
            {% endif %}


        {% else %}
            <div id="" class="sharing radius3" data-placement="top" data-trigger="click" >
                <img src="{% static "images/wb_online.png" %}" width="14" height="14" alt="img">
                <span id="id_wb_sharing_tool">Sharing</span>
            </div>
        {% endif %}
    {% endif %}
    <div class="different_detail">

        <div class="different_detail_inner" id="id_wb_help_tour">
            <div class="different_detail_img"> <img src="{% static "images/help_icon.png" %}" width="17" height="17" alt="img"> </div>
            <a href="#"> Help </a>
        </div>

        <div class="different_detail_inner">
            <div class="different_detail_img"><img src="{% static "images/wb_setting_icon.png" %}" width="19" height="19" alt="img"> </div> <a href="#"> Settings </a>
        </div>
        <div id="id_screensharing_control" class="different_detail_inner">
            <div class="different_detail_img"><img src="{% static "images/wb_screensharing_icon.png" %}" width="20" height="19" alt="img"> </div> <a href="#"> Screensharings </a>
            <div class="onoffswitch6">
                <input type="checkbox" name="onoffswitch6" class="onoffswitch6-checkbox" id="myonoffswitch6" checked>
                <label class="onoffswitch6-label" for="myonoffswitch6">
                    <span class="onoffswitch6-inner"></span>
                    <span class="onoffswitch6-switch"></span>
                </label>
            </div>
        </div>
        <div id="id_video_sharing_control" class="different_detail_inner">
            <div class="different_detail_img"> <img src="{% static "images/video_icon.png" %}" width="25" height="14" alt="img"> </div>
            <div class="onoffswitch3">
                <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
                <label class="onoffswitch3-label" for="myonoffswitch3">
                    <span class="onoffswitch3-inner"></span>
                    <span class="onoffswitch3-switch"></span>
                </label>
            </div>
        </div>
        <div id="id_audio_sharing_control" class="different_detail_inner">
            <div class="different_detail_img"><img src="{% static "images/wb_sound_icon.png" %}" width="21" height="19" alt="img"> </div>
            <div class="onoffswitch4">
                <input type="checkbox" name="onoffswitch4" class="onoffswitch4-checkbox" id="myonoffswitch4"
                        {% if lesson_status == "LIVE" or lesson_status == "SCHEDULED" %}
                            {% if my_video_enabled %}
                                {% if video_settings.audio_enabled == 1 and video_settings.video_enabled == 0 %}
                                    checked
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        >
                <label class="onoffswitch4-label" for="myonoffswitch4">
                    <span class="onoffswitch4-switch"></span>
                    <span class="onoffswitch4-inner"></span>
                </label>
            </div>
        </div>
    </div>

</div>