{% load staticfiles %}
<div class="wb-chat radius3_top" data-is-visible="{{ wb_chatbox_status }}" style="display: none;">
    <div class="chat_header">
        <span class="online"><img src="{% static "images/online.png" %}" width="12" height="12" alt="img"></span>
        Tutor
        <a href="#" id="hide"> <img src="{% static "images/hide_icon.png" %}" width="15" height="9" alt="img"> </a>
        <a href="#" id="id_wb_chat_extend"> <img src="{%  static "images/chat_icon.png" %}" width="15" height="15" alt="img"> </a>
    </div>
    <!--<div id="id_hidden_wb_chat_row" style="display: none;">-->
        <!--<div class="row" style="margin-top: 3px; border-bottom: 1px solid #fefefe;">-->
            <!--<div class="wb-chat-left">-->
                <!--<input type="hidden" name="hidden_user_id" value="USER_ID"/>-->
                <!--<a href="USER_PROFILE_URL" ><img title="USER_FULL_NAME" src="USER_PROFILE_PICTURE" width="30" height="30"/></a>-->
            <!--</div>-->
            <!--<div class="wb-chat-right" title="MSG_DATE_TITLE">-->
                <!--USER_MESSAGE MESSAGE_ATTACHMENT-->
                <!--&lt;!&ndash;<p class="attachment">MESSAGE_ATTACHMENT</p>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div id="id_wb_chat_content_container" style="padding: 3px; width: 250px; margin-bottom: 7px;" class="wb-chat_contnt" {% if live_lesson %}data-live-lesson="{{ live_lesson.pk }}" {% else %}data-live-lesson="-1"{% endif %}
             {% if whiteboard %}data-whiteboard="{{ whiteboard.pk }}" {% else %}data-whiteboard="-1"{% endif %}>

        <!--<div id="progress" style="display:none; position: absolute; bottom: 30px;padding: 3px;">-->
            <!--<div id="bar"></div>-->
            <!--<div id="percent">0%</div >-->
        <!--</div>-->
    </div>
    <div id="id_file_upload_progress_container" style="display: none; width: 100%; position: absolute; right: 0px; bottom: 20px; height: 40px;">
        <div style="width: 200px;"><div class="progress file_upload_progress" style="margin-left: 7px; width: 210px;"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%; color: black;">0%</div></div></div><span class="progress_cancel" style="position: absolute; right: 17px; bottom: 0px; height: 40px; cursor: pointer;"><img src="/static/images/cross.png" width="10" height="10"></span>
    </div>
    <form style="display: none;" id="id_tutor_chat_form" action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!--<input type="hidden" name="lesson_id" id="id_lesson" {% if live_lesson %} value="{{ live_lesson.pk }}" {% else %} value="-1" {% endif %}/>-->
        <!--<input type="hidden" name="whiteboard_id" id="id_whiteboard" {% if whiteboard %} value="{{ whiteboard.pk }}" {% else %} value="-1" {% endif %}/>-->
        <!--<input type="text" name="wb_tutor_id" value="{{ wb_tutor_id }}"/>-->
        <input type="text" name="tutor_chat_text">
        <input id="id_wb_chat_file" type="file" size="60" name="upload_file">
        <input name="tutor_chat_submit" type="submit" value="Submit">
    </form>
    <div class="wb-chat_txt">
    {% if lesson_status == "LIVE" or lesson_status == "SCHEDULED" or demo == True %}
        {% if lesson_status == "SCHEDULED" %}
            {% if not request.user.champuser.is_tutor %}
                {% if payment_status == True %}
                <input {% if live_lesson %} data-lesson-id="{{ live_lesson.pk }}" {% else %} data-lesson-id="-1" {% endif %} id="id_wb_chat_text_input" type="text" placeholder="Enter a Message">
                <a id="id_upload_file_btn" href="#"></a>
                {% endif %}
            {% else %}
                <input {% if live_lesson %} data-lesson-id="{{ live_lesson.pk }}" {% else %} data-lesson-id="-1" {% endif %} id="id_wb_chat_text_input" type="text" placeholder="Enter a Message">
                <a id="id_upload_file_btn" href="#"></a>
            {% endif %}
        {% else %}
            <input {% if live_lesson %} data-lesson-id="{{ live_lesson.pk }}" {% else %} data-lesson-id="-1" {% endif %} id="id_wb_chat_text_input" type="text" placeholder="Enter a Message">
            <a id="id_upload_file_btn" href="#"></a>
        {% endif %}
    {% endif %}
    </div>
</div>