{% load staticfiles %}
<div {% if lesson_status == "LIVE" or lesson_status == "SCHEDULED" %} id="id_video_sharing_container"{% endif %} class="wb-video-chat {% if lesson_status == "LIVE" or lesson_status == "SCHEDULED" %}sharing_video{% endif %} radius3_top" style="position: absolute; bottom: 10px; left:  10px; border: 1px solid #999999;">
    <input id="id_lesson_id_sharing" type="hidden" {% if live_lesson %}value="{{ live_lesson.pk }}"{% else %}value="-1" {% endif %}/>
    <input id="id_wb_id_sharing" type="hidden" {% if whiteboard %}value="{{ whiteboard.pk }}"{% else %}value="-1" {% endif %}/>
    <div class="chat_header wb_video_chat_header">
        <span class="online"><img width="12" height="12" alt="img" src="{% static "images/online.png" %}"></span>
        Audio/Video Sharing
        <a id="id_hide_video_window" href="#"> <img width="15" height="9" alt="img" src="{% static "images/hide_icon.png" %}" style=""> </a>
{#                            <a id="id_add_buddy_to_call_group" href="#"> <img width="15" height="9" alt="img" src="{% static "images/blue_pls.png" %}"> </a>#}
    </div>
    <div class="video_section" id="id_video_loading" style="display: none;">
        <div style="text-align: center;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>

        <p style="padding: 7px;"> Sharing your camera with other members. If your are prompt like below please allow the microphone to access your camera.</p>
        <p>
            <img src="{% static "images/allow_microphone.png" %}" width="100%"/>
        </p>
    </div>
    <div id="my_video" style="z-index: 100012; position: absolute; bottom: 0px; right: 0px; width: 100px; height: 100px; background: black; display: none;"></div>
    <div id="my_video_control" style="position: absolute; bottom: 7px; right: 0px; width: 40px; height: 20px; z-index: 100013; display: none;">
        <button id="id_hide_my_video" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-remove pull-right" title="Hide video"></i></button>
        <button id="id_show_my_video" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-user pull-right" title="Show video"></i></button>
    </div>
    <div id="id_video_section" class="video_section" style="z-index: 100011;">

        {% if lesson_status == "LIVE" or lesson_status == "SCHEDULED" %}
            {% if not my_video_enabled %}
                <div style="display: table-cell;height: 100% !important;text-align: center;vertical-align: center; background: white; padding: 7px;">
                    <p style="padding: 13px;">This tool allows you to share your audio/video to other party of this lesson.</p>
                    <button id="id_use_audio_button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-volume-up"></span> Audio</button>
                    <button id="id_use_video_button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-camera"></span> Video</button>
                </div>
            {% endif %}
        {% else %}
            <div style="display: table-cell;height: 100% !important;text-align: center;vertical-align: center; background: white; padding: 7px;">
                <p style="padding: 13px;">In live session this tool allows you to share your audio/video to other party of this lesson.</p>
            </div>
        {% endif %}
    </div>
    {% if lesson_status == "LIVE" or lesson_status == "SCHEDULED" %}
            {% if my_video_enabled %}
                <input type="hidden" id="id_session_started" {% if session_started %}value="true"{% else %}value="false"{% endif %}/>
                <input type="hidden" id="id_ot_session_key" value="{{ video_chat.ot_session }}"/>
                <input type="hidden" id="id_ot_token" value="{{ token }}"/>
                <input type="hidden" id="id_ot_api_key" value="{{ ot_api_key }}"/>
                <input type="hidden" id="id_video_enabled" value="{{ video_settings.video_enabled }}"/>
                <input type="hidden" id="id_audio_enabled" value="{{ video_settings.audio_enabled }}"/>
                <input type="hidden" id="id_sharing_enabled" value="{{ video_settings.sharing_enabled }}"/>
                <input type="hidden" id="id_my_token_found" value="{{ my_token_found }}"/>
                <input type="hidden" id="id_my_video_enabled" value="1"/>
            {% endif %}
    {% endif %}
</div>