{% load staticfiles %}
<script>
    $(document).ready(function(){

        ClosePop = function () {
            $('.popover').hide();
        }
        var lesson_popup = $('#id_lesson_details').popover({
            content: $("#id_lesson_details_hidden").html()
        });

        lesson_popup.on("show.bs.popover", function(e){
            lesson_popup.data("bs.popover").tip().css({"width": "500px"});
        });

    });
</script>
<div style="padding: 7px; background: #eeeeee;">
    <span class="lavel label-info" style="padding: 3px; color: #eeeeee; font-size: 17px;">
        <label>Status: Archived</label>
    </span>
    <span class="pull-right" id="id_lesson_details" data-toggle="popover" onclick="ClosePop();" data-placement="left" data-width="350" data-trigger="click" data-html="true" title="Lesson details" style="cursor: pointer; margin-right: 3px; font-weight: bold; font-size: 15px; padding: 3px; padding-bottom: 5px; color: #DDD6D6;">
    <img title="View details of this lesson" src="{% static "images/view_details.png" %}" width="20" height="20"/>
    </span>

    {% if lesson_details %}
    <div id="id_lesson_details_hidden" style="display: none;">
        {{ lesson_details }}
    </div>
    {% endif %}
</div>