{% load datefilters %}
{% load tz %}
{% load admin_tags %}
<script>
    $(document).ready(function() {

        function load_secondary_partial_content(url) {
            $.ajax({
                type: "GET",
                url: url,
                data: {},
                enctype: 'multipart/form-data',
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    //console.log(data);
                    if(data.status == "SUCCESS") {
                        $("#id_level_down_tabs_content").html(data.contents);
                    }
                },
                error: function(jqxhr, status, error)
                {

                }
            })
            .done(function( msg ) {

            });
        }

        function secondary_tab_content_load_handler(e) {
            e.preventDefault();
            var url = $(this).data("url");
            load_secondary_partial_content(url);
        }

        $(document).on("click",".secondary_partial_tab", secondary_tab_content_load_handler);
        $(document).on("click",".secondary_tabs_list_item", secondary_tab_content_load_handler);

        if($(".secondary_partial_tab").length) {
            var url = $(".secondary_partial_tab").first().data("url");
            load_secondary_partial_content(url);
        }

    });
</script>
<style>
    #id_level_down_tabs_content td {
        max-width: 200px;
    }
</style>
<table class="table borderless" style="min-height: 200px !important;">
  <thead>
  <tr>
    <tbody>
        <tr>
        <td>
        {% if partial_object.render_details_template %}
            {{ partial_object.render_details_template }}
        {% else %}
            {% for label, property_name in partial_object.details_config.items %}

            <div class="profile-info-row col-md-6 col-sm-8" style="display: inline-block; clear: right; padding: 3px;">
                {% with partial_object|render_property:property_name as rendered %}
                {% if rendered.1 == "__RENDER_TS" %}
                    <div class="profile-info-name col-md-5 col-sm-7"
                         style="text-align: left; width: 30%;">
                        <span>{{ label.capitalize }}</span>
                    </div>
                    <div class="profile-info-value col-md-5 col-sm-7">
                        <span>{{ rendered.0|fromunix|localtime|format_datetime|safe }}</span>
                    </div>
                {% else %}
                <div class="profile-info-name col-md-5 col-sm-7"
                     style="text-align: left; width: 30%;">
                    <span>{{ label.capitalize }}</span>
                </div>
                <div class="profile-info-value col-md-5 col-sm-7">
                    <span id="username">{{ rendered.0|safe }}</span>
                </div>
                {% endif %}
                {% endwith %}
            </div>
            {% endfor %}
        {% endif %}
        </td>
        </tr>
    </tbody>
</table>
{% with tabs=partial_object.tabs_config %}
{% if tabs %}
<table class="table borderless">
    <tr>
        <td>
            <!-- tabs -->
            <div class="tabbable">
              <ul class="nav nav-tabs">
                {% for tab in tabs %}
                  <li {% if forloop.counter0 == 0 %}class="secondary_partial_tab active" {% else %} class="secondary_partial_tab"{% endif %} data-url="{{ tab.url }}"><a href="#" data-toggle="tab">{{ tab.title }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="id_level_down_tabs_content">No data found</div>
               </div>
            </div>
            <!-- /tabs -->
        </td>
    </tr>
</table>
{% endif %}
{% endwith %}