{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load admin_tags %}
<style>
    .partial_list_view td {
        max-width: 200px;
    }
</style>
<table class="table borderless partial_list_view">
  <thead>
  <tr>
    {% for column_header in partial_column_headers %}
        <th>
            {{ column_header }}
        </th>
    {% endfor %}
    <th>
        Action
    </th>
    </tr>
    </thead>
    <tbody>
    {% for partial_object in partial_objects %}
    <tr>
        {% for column in partial_columns %}
        <td>
            {% with partial_object|render_property:column as rendered %}
            {% if rendered.1 == "__RENDER_TS" %}
                {{ rendered.0|fromunix|localtime|format_datetime }}
            {% else %}
            {{ rendered.0|truncatechars:200|safe }}
            {% endif %}
            {% endwith %}
        </td>
        {% endfor %}
        <td>
            <a href="{{ admin_partial_details_url|render_details_url:partial_object.pk }}">View details</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>
            No Data found
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td class="text-center" colspan="{{ partial_columns|length|add:1 }}">
            {% include "partial/pagination.html" with page_obj=page_obj %}
        </td>
    </tr>
    </tbody>
</table>