{% load pagination_filter %}
{% if is_paginated %}
    <div class="pagination center-block">
    <ul class="pagination nav navbar-nav center-block" style="width: 600px; float: left;">
        {% if page_obj.has_previous and page_obj.number != 1 %}
            <li><a href="{% url "admin_user_details_partial_paginated" object.user.pk partial_tab_name 1 %}">First</a></li>
        {% endif %}
        {% if page_obj.has_previous %}
                <li><a href="{% url "admin_user_details_partial_paginated" object.user.pk partial_tab_name page_obj.previous_page_number %}">Prev</a></li>
        {% endif %}
        {% for page in page_obj.paginator|calculate_page_range:page_obj.number %}
            <!--{% if page >= page_obj.number|add:"-7" and page <= page_obj.number|add:"7" %}-->
                <!--<li class="{% if page_obj.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>-->
            <!--{% endif %}-->
        {% if page == -1 %}
            <li><a href="#">...</a></li>
        {% else %}
            <li class="{% if page_obj.number == page  %}active{% endif %}"><a href="{% url "admin_user_details_partial_paginated" object.user.pk partial_tab_name page %}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li> <a href="{% url "admin_user_details_partial_paginated" object.user.pk partial_tab_name page_obj.next_page_number %}">Next</a></li>
        {% endif %}
        {% if page_obj.has_next and page_obj.number != page_obj.paginator.num_pages %}
            <li> <a href="{% url "admin_user_details_partial_paginated" object.user.pk partial_tab_name page_obj.paginator.num_pages %}">Last</a></li>
        {% endif %}
     </ul>
     <ul class="pagination nav navbar-nav center-block" style="width: 150px; float: right;">
        <li style="text-align: right;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li>
     </ul>
    </div>
{% endif %}
{{ page_obj.page_range }}