{% load pagination_filter %}
{% if is_paginated %}
    <div class="pagination center-block">
    <ul class="pagination nav navbar-nav center-block" style="width: 600px; float: left;">
        {% if page_obj.has_previous and page_obj.number != 1 %}
            <li class="secondary_tabs_list_item" data-url="{% url "admin_partial_details_view_paginated" partial_parent_model_name partial_parent partial_model_name 1 %}"><a href="#">First</a></li>
        {% endif %}
        {% if page_obj.has_previous %}
                <li class="secondary_tabs_list_item" data-url="{% url "admin_partial_details_view_paginated" partial_parent_model_name partial_parent partial_model_name page_obj.previous_page_number %}"><a href="#">Prev</a></li>
        {% endif %}
        {% for page in page_obj.paginator|calculate_page_range:page_obj.number %}
            <!--{% if page >= page_obj.number|add:"-7" and page <= page_obj.number|add:"7" %}-->
                <!--<li class="{% if page_obj.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>-->
            <!--{% endif %}-->
        {% if page == -1 %}
            <li><a href="#">...</a></li>
        {% else %}
            <li class="secondary_tabs_list_item" data-url="{% url "admin_partial_details_view_paginated" partial_parent_model_name partial_parent partial_model_name page %}" class="{% if page_obj.number == page  %}active{% endif %}"><a href="#">{{ page }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="secondary_tabs_list_item" data-url="{% url "admin_partial_details_view_paginated" partial_parent_model_name partial_parent partial_model_name page_obj.next_page_number %}"> <a href="#">Next</a></li>
        {% endif %}
        {% if page_obj.has_next and page_obj.number != page_obj.paginator.num_pages %}
            <li class="secondary_tabs_list_item" data-url="{% url "admin_partial_details_view_paginated" partial_parent_model_name partial_parent partial_model_name page_obj.paginator.num_pages %}"> <a href="#">Last</a></li>
        {% endif %}
     </ul>
     <ul class="pagination nav navbar-nav center-block" style="width: 150px; float: right;">
        <li style="text-align: right;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li>
     </ul>
    </div>
{% endif %}
{{ page_obj.page_range }}