.jSticky-large{
	/*background:transparent url(images/stickynote-large.png) no-repeat top left;*/
    background: #e5f2ff;
	position: absolute;
	z-index:999999;

    display: inline-block;
    box-sizing: border-box;
    display: inline-block;
    font-size: 0;
    line-height: 1em;
    box-shadow: 0 1px 4px rgba(0,0,0,.06);
}
.sticky-large-header{

    position: absolute;
    z-index:999998;
    width: 100%;
    height: 31px;
    cursor: move;
    padding-bottom: 13px;
    background: #e6f6fc;
}
.sticky-large-header span.text-point{
    padding: 7px;
    margin-top: 2px;
    margin-left: 37px;
    margin-right: 15px;
    border: 1px solid white;
    width: 200px;

    display: inline-block;
	overflow: hidden;
	min-width: 120px;
	max-width: 400px;
	min-height: 40px;
	max-height: 400px;
	margin-top: 12px;
	font-size: 13px;
	line-height: 1.4em;
	outline: 0;

}
.stickyText{
    z-index: 20000;
    height: 100%;
}

.jStickyNote{
    margin: 0px;
    height: 100%;
    width: 200px;
    margin-top: 18px;
}

.jSticky-medium{
	background:transparent url(images/stickynote-medium.png) no-repeat top left;
	width:160px;
	height:162px;
	position: absolute;
	z-index:999999;
}
.jSticky-delete{
	background:transparent url(/static/images/cross.png) no-repeat top left;
	height:14px;
	width:14px;
	position:absolute;
	cursor:pointer;
    top: 10px;
    left: 10px;
    z-index:999999;
}
.jSticky-medium .jStickyNote textarea, .jSticky-medium .jStickyNote p{
	font-size: 14px;
	font-weight:bold;
	height:50%;
}
.jSticky-large .jStickyNote textarea, .jSticky-large .jStickyNote p{
	height:50%;
	font-size: 16px;
}
.jStickyNote textarea{
	width:80%;
    background-color:transparent;
	border:1px solid white;
	font-family: 'Comic Sans MS',Textile,cursive;
	font-size:16px;
	overflow:hidden;
	color:#999;
	padding:0px;
	margin:5px 0px 0px 24px;
	float:left;
	resize:none;
    margin-left: 27px;
    z-index:999999;
}
.jStickyNote p{
	font-family: 'Comic Sans MS',Textile,cursive;
	color:#444;
	margin:15px 0px 0px 24px;
	overflow:hidden;
	width:75%;
	float:left;
}
.jSticky-large .jSticky-readonly, .jSticky-large .jSticky-edit{
	float:right;
	width:16px;
	height:20px;
	background:url(images/unlock.png) no-repeat top left;
	background-size: 16px 20px;
	margin-right:1px;
	cursor:pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.jSticky-large .jSticky-edit {
	background:url(images/lock.png) no-repeat top left;
}
.jSticky-medium .jSticky-readonly{
	float:right;
	width:14px;
	height:14px;
	background:transparent url(images/unlock.png) no-repeat top left;
	margin-right:1px;
	margin-top:80%;
	cursor:pointer;
}

.lesson-note-body {
  display: inline-block;
  overflow: hidden;
  min-width: 120px;
  max-width: 400px;
  min-height: 40px;
  max-height: 400px;
  margin-top: 12px;
  padding: 0 12px 0 4px;
  font-size: 13px;
  line-height: 1.4em;
  outline: 0;
}