{% load datefilters %}
{% load tz %}
<li>
    <h4 class="notification_hours" data-livestamp="{{ notification_date|fromunix|localtime|date:"U" }}"></h4>
    {% if notification_title %}
    <p class="notification_text"><span>{{ notification_title|safe }}</span></p>
    {% else %}
    <p class="notification_text"><span>{{ notification_description|safe }}</span></p>
    {% endif %}
    <div class="notification_cross">
        <input type="hidden" class="object_id" value="{{ object_id }}"/>
        <input type="hidden" class="is_read" value="{{ is_read }}"/>
        <span class="mark_notification {% if read %}mark_read{% else %}mark_unread{% endif %}" style="margin-right: 0px;"></span>
{#        <a href="#" class="close_notifi delete_notification" style="cursor: pointer; position: relative; top: 3px;"></a>#}
    </div>
</li>