{% load datefilters %}
{% load tz %}
<li>
    <h5 class="notification_hours"><span data-livestamp="{{ notification_date|fromunix|localtime|date:"U" }}"></span></h5>
    <p class="notification_text">{{ notification_description|safe }}</p>
    <div class="cross_outer">
        <input type="hidden" class="object_id" value="{{ object_id }}"/>
        <input type="hidden" class="is_read" value="{{ is_read }}"/>
        <span class=" mark_notification {% if read %}mark_read{% else %}mark_unread{% endif %}"></span>
        <a href="#" class="close_notification delete_notification" style="cursor: pointer; position: relative; top: 3px;"></a>
    </div>
</li>