{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% if status == "upcoming" %}
    {% if lesson.request_user == request.user %}
        <tr>
            <td>
                <!--<a class="btn btn-sm btn-primary" style="color: white;" href="{% url "live_lesson" pk=lesson.pk %}">Go to lesson</a>-->
                {% if lesson.type == 0 %}
                <p class="upcoming_heading">{{ lesson.lesson_time|fromunix|localtime|format_datetime }} (online)</p>
                {% else %}
                <p class="upcoming_heading">{{ lesson.due_date|fromunix|localtime|format_datetime }} (written)</p>
                {% endif %}
                <p class="upcoming_txt">{{ lesson.duration|format_time_from_min }} . {{ lesson.course.name }}</p>
            </td>
            <td>
                <div class="user_prfle"><img width="56" height="56" src="{{ lesson.request_user.champuser.render_profile_picture }}" alt="img"></div>
                <a href="/profile/{{ lesson.user.pk }}/" class="stdnt_name_inr">{{ lesson.user.champuser.fullname }}</a>
            </td>
            <!--<td><p class="no_review">No Review</p></td>-->
            <td>
                <a href="#" class="vw_lesn lesson-reschedule radius3" data-lesson-id="{{ lesson.pk }}">Reschedule</a>
                <a class="vw_lesn radius3" href="#">Cancel</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td>
                {% if lesson.type == 0 %}
                <p class="upcoming_heading">{{ lesson.lesson_time|fromunix|localtime|format_datetime }} (online)</p>
                {% else %}
                <p class="upcoming_heading">{{ lesson.due_date|fromunix|localtime|format_datetime }} (written)</p>
                {% endif %}
                <p class="upcoming_txt">{{ lesson.duration|format_time_from_min }} . {{ lesson.course.name }}</p>
            </td>
            <td>
                <div class="user_prfle"><img width="56" height="56" src="{{ lesson.request_user.champuser.render_profile_picture }}" alt="img"></div>
                <a href="{% url "user_profile" lesson.request_user.pk %}" class="stdnt_name_inr">{{ lesson.request_user.champuser.fullname }}</a>
            </td>
            <td class="limit_width">
                <a href="#" class="vw_lesn lesson-reschedule radius3" data-lesson-id="{{ lesson.pk }}">Reschedule</a>
                <a class="vw_lesn radius3" href="#">Cancel</a>
            </td>
      </tr>

    {% endif %}
{% elif status == "past" %}
    {% if lesson.request_user == request.user %}
        <tr>
            <td>
                <!--<a class="btn btn-sm btn-primary" style="color: white;" href="{% url "live_lesson" pk=lesson.pk %}">Go to lesson</a>-->
                {% if lesson.type == 0 %}
                <p class="upcoming_heading">{{ lesson.lesson_time|fromunix|localtime|format_datetime }} (online)</p>
                {% else %}
                <p class="upcoming_heading">{{ lesson.due_date|fromunix|localtime|format_datetime }} (written)</p>
                {% endif %}
                <p class="upcoming_txt">{{ lesson.duration|format_time_from_min }} . {{ lesson.course.name }}</p>
            </td>
            <td class="trophy_width">
                <div class="user_prfle"><img width="56" height="56" src="{{ lesson.request_user.champuser.render_profile_picture }}" alt="img"></div>
                <a href="/profile/{{ lesson.user.pk }}/" class="stdnt_name_inr">{{ lesson.user.champuser.fullname|truncatechars:13 }}</a>
                <div class="outer_review_trophy">
                    <a href="#" class="review_trophy">
                        <img width="17" height="18" alt="img" src="{% static "images/grade_active.png" %}">
                        <span>{{ lesson.user.champuser.positive_feedback_count_verbal }}</span>
                    </a>
                    <a href="#" class="review_trophy">
                        <img width="17" height="18" alt="img" src="{% static "images/grade_non_active.png" %}">
                        <span>{{ lesson.user.champuser.negative_feedback_count_verbal }}</span>
                    </a>
                </div>
            </td>
            <!--<td><p class="no_review">No Review</p></td>-->
            <td>
                <a class="vw_lesn radius3" href="#">View Lesson</a>
                <a class="vw_lesn radius3" href="#" onclick="writereview()">Write Review</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td>
                {% if lesson.type == 0 %}
                <p class="upcoming_heading">{{ lesson.lesson_time|fromunix|localtime|format_datetime }} (online)</p>
                {% else %}
                <p class="upcoming_heading">{{ lesson.due_date|fromunix|localtime|format_datetime }} (written)</p>
                {% endif %}
                <p class="upcoming_txt">{{ lesson.duration|format_time_from_min }} . {{ lesson.course.name }}</p>
            </td>
            <td class="trophy_width">
                <div class="user_prfle"><img width="56" height="56" src="{{ lesson.request_user.champuser.render_profile_picture }}" alt="img"></div>
                <a href="{% url "user_profile" lesson.request_user.pk %}" class="stdnt_name_inr">{{ lesson.request_user.champuser.fullname|truncatechars:13 }}</a>
                <div class="outer_review_trophy">
                    <a href="#" class="review_trophy">
                        <img width="17" height="18" alt="img" src="{% static "images/grade_active.png" %}">
                        <span>{{ lesson.request_user.champuser.positive_feedback_count_verbal }}</span>
                    </a>
                    <a href="#" class="review_trophy">
                        <img width="17" height="18" alt="img" src="{% static "images/grade_non_active.png" %}">
                        <span>{{ lesson.request_user.champuser.negative_feedback_count_verbal }}</span>
                    </a>
                </div>
            </td>
            <!-- <td><p class="no_review">No Review</p></td> -->
            <td class="limit_width">
                <a class="vw_lesn radius3" href="#">View Lesson</a>
                <a class="vw_lesn radius3" href="#" onclick="writereview()">Write Review</a>
            </ul>
            </td>
      </tr>

    {% endif %}
{% endif %}


<!--<tr>-->
    <!--<td>-->
        <!--<p class="upcoming_heading">Mon, Feb at 11:59pm SGT (Online)</p>-->
        <!--<p class="upcoming_txt">1 hr . Corporate Law</p>-->
    <!--</td>-->
    <!--<td>-->
        <!--<div class="user_prfle"><img width="56" height="56" alt="img" src="images/msg_img2.png"></div>-->
        <!--<a class="stdnt_name_inr" href="#">Abhishek A.</a>-->
    <!--</td>-->
    <!--&lt;!&ndash;<td><p class="no_review">No Review</p></td>&ndash;&gt;-->
    <!--<td><a class="vw_lesn radius3" href="#">Cancel</a></td>-->
  <!--</tr>-->