<div class="upcmng_lsn radius3">
        <h5>Upcoming Lessons</h5>
        <table class="upcoming_leasson">
          <tbody>
          {% for lesson_entry in my_lessons.upcoming_lessons %}
          {{ lesson_entry }}
          {% empty %}
          <p style="padding: 20px;">You have no upcoming lesson.</p>
          {% endfor %}
          </tbody>
        </table>
    </div>
<div class="upcmng_lsn radius3">
    <h5>Past Lessons</h5>
    <table class="upcoming_leasson">
      <tbody>
          {% for lesson_entry in my_lessons.past_lessons %}
          {{ lesson_entry }}
          {% empty %}
          <p style="padding: 20px;">You have no past lesson.</p>
          {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $(document).on("click", ".lesson-reschedule", function(e) {
            e.preventDefault();
            var lesson_id = $(this).data("lesson-id");
            $("#id_overlay_loading").show();
            $("#id_ajax_rendered_content").hide();
            $.ajax({
                type: "GET",
                url: "/ajax/lesson-reschedule/",
                data: { lesson_id:lesson_id },
                success: function(data)
                {
                     var data = jQuery.parseJSON(data);
                     $("#id_ajax_rendered_content").html(data.data.dialog_content);
                     $("#id_ajax_rendered_content").show();
                },
                error: function(jqxhr, status, error)
                {

                }
            })
            .done(function( msg ) {
                $("#id_overlay_loading").hide();
            });

            //id_lesson_reschedule_content_container

        });
    });
</script>