{% extends "servey/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_wrapper %}
<style>
    .contentbody {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<style>
    .title {
        font-size: 20px;
        font-weight: bold;
        padding-left: 20px;
    }
    #id_servey_create_overlay, #id_servey_black_overlay {
        width: 100%;
        height: 100%;
        background: #ffffff;
        overflow-y: auto;
        z-index: 1000000;
        opacity: 0.8;
    }

    #id_servey_create_container {
        overflow-y: auto;
        right: 0px;
        z-index: 1000001;
        padding: 20px;
        padding: 3px;
    }
    #id_servey_inner_panel {
        background: white;
        padding: 13px;
    }
    #id_servey_black_overlay {
        z-index: 1000002;
        background: black;
        display: none;
    }
    #id_qpanel_container {
        margin: left;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 100%;
        right: 0px;
        background: white;;
        z-index: 1000003;
        padding: 20px;
        border-radius: 2px;
    }
    .input-box {
        width: 300px;
        height: 40px;
        padding: 3px;
    }
    .select {
        width: 300px;
        height: 40px;
        padding: 3px;
        cursor: pointer;
    }
    .qrow {
        display: block;
        margin-top: 7px;
    }
    .question_row {
        margin-top: 13px;
        padding: 3px;
    }
    .qlistitem {
        padding: 3px;
        width: 100%;
        background: #ffffff;
        margin-left: 20px;
        margin-bottom: 7px;
    }
    .qtitle {
        font-weight: normal;
        font-size: 17px;
        margin-bottom: 13px;
    }
    .qtext {
        width: 93%;
        height: 150px;
        font-size: 17px;
        padding: 13px;
    }
    .qcontent {

    }

    input[type="radio"] + label span {
        display:inline-block;
        width:19px;
        height:19px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        background:url(check_radio_sheet.png) left top no-repeat;
        cursor:pointer;
    }
    input[type="radio"]:checked + label span {
        background:url(check_radio_sheet.png) -19px top no-repeat;
    }

    .item_select {
        width: 200px;
        height: 40px;
    }

    select {
        padding:3px;
        margin: 0;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        background: #fefefe;
        outline:none;
        display: inline-block;
        cursor:pointer;
    }

</style>
<div class="contentbody">
    <div style="widh: 80%; margin-left: auto; margin-right: auto;">
        <div class="stitle">
            <h3>{{ object.title }}
            <span class="pull-right">
            {% if object.published == 0 %}
            Not Published Yet.
            <a href="#" class="btn btn-lg btn-success" style="color: white;">Publish Now</a>
            {% elif published == 1 %}
            {% if object.publish_date != 0 %}
            Published on {{ object.publish_date|fromunix|localtime|format_datetime }}
            {% else %}
            Published
            {% endif %}
            <a href="#" class="btn btn-lg btn-success" style="color: white;">Unpublish Now</a>
            {% endif %}
            </span>
            </h3>
        </div>
        <div>

        </div>
        <div style="margin-top: 20px;">
            <a href="#" class="btn btn-warning" style="color: white;">252 users have taken this servey</a>
        </div>
        <div style="margin-top: 20px;">
            <ol style="list-style-type: decimal;" >
                {% for question in object.questions.all %}
                {{ question.to_html }}
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}