{% extends "servey/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load utility_filter %}
{% load tz %}
{% block content_wrapper %}
<link href="{% static "css/lib/jquery.dataTables.min.css" %}" rel="stylesheet">
<script src='{% static "js/lib/jquery-1.12.0.min.js" %}'></script>
<script src='{% static "js/lib/jquery.dataTables.min.js" %}'></script>
<script>
    $(document).ready(function() {
        $('#id_servey_table').DataTable({
            scrollY:        '150vh',
            scrollCollapse: true,
            paging:         false
        });
    } );
</script>
<div class="contentbody">
    <table id="id_servey_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Servey Title</th>
                <th>Publish Status</th>
                <th>Publish Date</th>
                <th>Created On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url "servey_details" object.pk %}">{{ object.id }}</a>
                </td>
                <td>
                    <a href="{% url "servey_details" object.pk %}">{{ object.title }}</a>
                </td>
                <td>
                    {% if object.published == 0 %}
                    Not Published
                    {% elif published == 1 %}
                    Published
                    {% endif %}
                </td>
                <td>
                    {% if object.publish_date != 0 %}
                    {{ object.publish_date|fromunix|localtime|format_datetime }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>
                    {{ object.date_created|fromunix|localtime|format_datetime }}
                </td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{% url "servey_details" object.pk %}">Details</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "sections/pagination.html" %}
</div>
{% endblock %}