<style>
    .select2-container {
        z-index: 200001;
    }
    .select2-close-mask{
        z-index: 2099;
    }
    .select2-dropdown{
        z-index: 3051;
    }
</style>
<script>
    $(document).ready(function() {
        $(".add_buddy_tp_conv_input").select2({
              height: 90,
              placeholder: "Type here to add other students",
              ajax: {
                url: "/ajax/tutor-list/",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                  return {
                    q: params.term, // search term
                    utype: "student"
                  };
                },
                processResults: function (data, page) {
                  return {
                        results: $.map(data.items, function(obj) {
                            return { id: obj.id, text: obj.name };
                        })
                    };
                },
                cache: true
              },
              escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
              minimumInputLength: 1,
            }).on("change",function(e){
                var value = $(this).val();
                var text = $(this).text();

                var value_found = false;

                $(this).parent().find(".tags").find("input").each(function(e){
                    if($(this).val() == value){
                        value_found = true;
                        return;
                    }
                });

                if(!value_found) {
                    var tag_element = "<a href=\"javascript:void(0);\">"+ text +"<span class=\"cross tag_close tag_study_partners\"><input type=\"hidden\" name=\""+ $(this).prop("name")+"-list[]\" value=\""+ value +"\"></span></a>";

                    $(this).parent().find(".tags").append(tag_element);

                    $("#id_lesson_payer").append("<option value=\""+ value +"\">"+ text +"</option>");

                    $(this).val("");
                    $(this).text("");
                }

        });

    });
</script>
<div class="container" style="width: 580px;">
    <div class="row">
        <div class="col-sm-12">
            <select class="form-control add_buddy_tp_conv_input">
                <option value="-1">Type person name here</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="add_buddy_conv_list" style="padding: 7px;">
                <div class="tags language_tag study_parners">

                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 7px;">
        <div class="col-sm-12 text-center">
            <button class="btn btn-success add_button" style="width: 100px; padding: 3px;">Add</button>
            <button class="btn btn-danger close_button" style="width: 100px; padding: 3px;">Close</button>
        </div>
    </div>
</div>