<tr>
    <td>
        <img src="{{ champuser.render_profile_picture }}" width="30" height="30"/> {{ champuser.fullname }}
    </td>
    <td>
        <button class="btn btn-default pull-right remove_block_user" data-user-id="{{ champuser.user.pk }}">Remove</button>
    </td>
</tr>