{% load staticfiles %}
<ul>
    <li class="radius3_left"><a href=""><img src="{% static "images/home.png" %}" width="22" height="22" alt="img"></a></li>
    {% for data_item in data_list %}
    <li class="radius3_left"><a data-type="{{ data_item.type }}" data-url="{{ data_item.url }}" {% if bid__ and bid__ == data_item.bid %}class="breadcumb-item breadcrumb_active"{% elif forloop.last and not bid__ %}class="breadcumb-item breadcrumb_active"{% else %}class="breadcumb-item"{% endif %} href="#">{{ data_item.title }}</a></li>
    {% endfor %}
</ul>