{% load datefilters %}
{% load tz %}
<style>
    .chat_box_row {
        width: 100%;
    }
    .me {
        width: auto;
        background: #e0edff;
        border: 1px solid #bcc7d6;
        border-spacing: 2px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        float: right;
        clear: both;
        max-width: 150px;
        margin-bottom: 3px;
        margin-bottom: 3px;
        font-family: helvetica, arial, sans-serif;
        font-size: 12px;
        word-wrap: break-word;
    }
    .other-person {
        width: auto;
        margin-bottom: 3px;
        clear: both;
        float: left;
    }

    .other-person-pp {
        width: 31px;
        float: left;
    }

    .other-person-content {
        width: auto;
        float: left;
        background: white;
        border: 1px solid #bcc7d6;
        max-width: 150px;
        font-family: helvetica, arial, sans-serif;
        font-size: 12px;
        border-spacing: 2px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        margin-bottom: 3px;
        margin-bottom: 3px;
        word-wrap: break-word;
    }

    .time {
        color: #303030;
        font-size: 9px;
    }

</style>
{% if message.chat_type == 4 %} <!-- Auto generated message. !-->
<div class="chat_box_row my-row" data-msg-pk="{{ message.pk }}">
    <p class="text-center" style="font-size: 10px; padding: 7px;">
        {{ message.msg }}
    </p>
</div>
{% else %}
{% if sender_me %}
<div class="chat_box_row my-row" data-msg-pk="{{ message.pk }}">
    <div style="padding: 4px;" class="pull-right me" data-msg-pk="{{ message.pk }}">
        <div title="{{ message.usermessage_set.all.first.sender.champuser.fullname }} {{ message.date_created|fromunix|localtime|format_datetime }}">{{ message.msg }}</div>
        {% if message.messageattachment_set.exists %}
        {% with attachment=message.messageattachment_set.all.first %}
        <div>
            {% if attachment.thumbnail %}
            <!--<a href="{{ attachment.render_attachment_url }}" target="_blank"><img src="{{ attachment.render_thumbnail_url }}" width="100" height="70"/></a>-->
            <a target="_blank" href="{{ attachment.render_attachment_url }}">{{ attachment.attachment_name }}</a>
            {% else %}
            <a target="_blank" href="{{ attachment.render_attachment_url }}">{{ attachment.attachment_name }}</a>
            {% endif %}
        </div>
        {% endwith %}
        {% endif %}
    </div>
</div>
{% else %}
<div class="chat_box_row other-row" data-msg-pk="{{ message.pk }}">
    <div class="pull-left other-person" data-msg-pk="{{ message.pk }}">
        <div class="other-person-pp">
            <img src="{{ message.usermessage_set.all.first.sender.champuser.render_profile_picture }}" width="30" height="30"/>
        </div>
        <div class="other-person-content">
            <div title="{{ message.date_created|fromunix|localtime|format_datetime }}">{{ message.msg }}</div>
            {% if message.messageattachment_set.exists %}
            {% with attachment=message.messageattachment_set.all.first %}
            <div>
                {% if attachment.thumbnail %}
                <!--<a href="{{ attachment.render_attachment_url }}" target="_blank"><img src="{{ attachment.render_thumbnail_url }}" width="100" height="70"/></a>-->
                <a target="_blank" href="{{ attachment.render_attachment_url }}" target="_blank">{{ attachment.attachment_name }}</a>
                {% else %}
                <a target="_blank" href="{{ attachment.render_attachment_url }}" target="_blank">{{ attachment.attachment_name }}</a>
                {% endif %}
            </div>
            {% endwith %}
            {% endif %}
        </div>
    </div>

</table>
{% endif %}
{% endif %}