{% load staticfiles %}
<li class="row_{{ champ_user.user.id }}" id="id_row_{{ champ_user.user.id }}">
    <input type="hidden" class="tutor_uid" value="{{ champ_user.user.id }}">
    <input type="hidden" class="online_status" value="{{ champ_user.render_online_status_verbal }}">
    <input type="hidden" class="major_class" value="{{ champ_user.major }}">
    <input type="hidden" class="tut_name" value="{{ champ_user.fullname }}">
    {% if champ_user.render_online_status_verbal == "online" and champ_user.render_teaching_available_status_verbal == "ready_to_teach" %}
    <div class="tutor_pp tutors_chat_img">
        <div>
            <img src="{{ champ_user.render_profile_picture }}" width="31" height="31" alt="img">
        </div>
    </div>
    {% elif champ_user.render_online_status_verbal == "online" and champ_user.render_teaching_available_status_verbal != "ready_to_teach" %}
    <div class="tutor_pp tutors_chat_img">
        <div>
            <img src="{{ champ_user.render_profile_picture }}" width="31" height="31" alt="img">
        </div>
    </div>
    {% elif champ_user.render_online_status_verbal != "online" and champ_user.render_teaching_available_status_verbal == "ready_to_teach" %}
    <div class="tutor_pp tutors_chat_img_teach_available">
        <div>
            <img src="{{ champ_user.render_profile_picture }}" width="31" height="31" alt="img">
        </div>
    </div>
    {% else %}
    <div class="tutor_pp tutors_chat_img_offline">
        <div>
        <img src="{{ champ_user.render_profile_picture }}" width="31" height="31" alt="img"/>
        </div>
    </div>
    {% endif %}
    <div class="tutors_chat_txt">
        <h3><a target="_blank" href="{% url "user_profile" champ_user.user.pk %}">{{ champ_user.fullname|truncatechars:16 }}</a></h3>
        {% if champ_user.current_school %}<p>{{ champ_user.current_school|truncatechars:25 }}</p>{% endif %}
        {% if champ_user.positive_feedback_count %}
        <ul>
            <li style="border: none;">
                <img src="{% static "images/grade_active.png" %}" width="14" height="15" alt="img">
                <span style="margin-top: 2px;">{{ champ_user.positive_feedback_count_verbal }}</span>
            </li>
        </ul>
        {% endif %}
    </div>
    <div class="notification champ_text_chat"><img src="{% static "images/chat-icon.png" %}" width="20" height="15">
    </div>
</li>