{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<style>
    #id_credit_card_form_dialog {
        width: 580px !important;
        height: auto;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        top: 20px;
        z-index: 10001;
        background: white;
        width: 50%;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        left: 25%;
        padding-bottom: 20px;
    }
    .cc_error {
        float: left;
        color: red;
        display: none;
    }
</style>
<script>
    $(document).ready(function() {

    });
</script>

<div id="id_credit_card_form_dialog" style="margin:0px auto">
    <div class="container" style="width: 580px !important;">
        <div class="row">
            <div class='col-sm-12'>
                <div>
                    <div style="padding-top: 20px;">
                        <button type="button" id="id_cc_dialog_close" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ dialog_title }}</h4>
                      </div>
                      <div class="modal-body">
                          <form name="cc_form" method="POST">
                          {% csrf_token %}
                          <div class="credit-card-div">
                            <br class="panel panel-default">
                             <br class="panel-heading">

                                 <div class="row ">
                                      <div class="col-md-12 pad-adjust">

                                          <div style="font-weight: bold; font-size: 13px;">Select Card Type</div>
                                      </div>
                                  </div>

                                 <div class="row ">
                                      <div class="col-md-12 pad-adjust">
                                          <select name="card_type" class="form-control" style="cursor: pointer;">
                                              <option value="Visa">Visa</option>
                                              <option value="MasterCard">Master Card</option>
                                              <!--<option value="discover">discover</option>-->
                                              <!--<option value="amex">amex</option>-->
                                          </select>
                                      </div>
                                  </div>
                                  <br/>
                                 <div class="row ">
                                      <div class="col-md-12 pad-adjust">

                                          <div style="font-weight: bold; font-size: 13px;">Enter Your Name</div>
                                      </div>
                                  </div>
                                 <div class="row ">
                                      <div class="col-md-6 col-sm-6 col-xs-6">
                                          <input name="first_name" type="text" class="form-control" placeholder="First Name">
                                          <div class="cc_error">

                                          </div>
                                      </div>
                                      <div class="col-md-6 col-sm-6 col-xs-6">
                                          <input name="last_name" type="text" class="form-control" placeholder="Last Name">
                                          <div class="cc_error">

                                          </div>
                                      </div>
                                  </div>
                                 </br>
                                 <div class="row ">
                                      <div class="col-md-12 pad-adjust">

                                          <div style="font-weight: bold; font-size: 13px;">Enter your credit card number</div>
                                      </div>
                                  </div>
                                  <div class="row ">
                                      <div class="col-md-12">
                                          <input name="card_number" type="text" class="form-control" placeholder="Enter Credit Card Number">
                                          <div class="cc_error">

                                          </div>
                                      </div>
                                  </div>
                                 <br/>
                                 <div class="row ">
                                      <div class="col-md-12 pad-adjust">

                                          <div style="font-weight: bold; font-size: 13px;">Expiry Date</div>
                                      </div>
                                  </div>
                                 <div class="row ">
                                          <div class="col-md-6 col-sm-6 col-xs-6">
                                              <!--<input name="expiry_month" type="text" class="form-control" placeholder="MM (Expiry Month)">-->
                                              <select name="expiry_month" class="form-control">
                                                   <option value="1">Jan</option>
                                                   <option value="2">Feb</option>
                                                   <option value="3">Mar</option>
                                                   <option value="4">Apr</option>
                                                   <option value="5">May</option>
                                                   <option value="6">Jun</option>
                                                   <option value="7">Jul</option>
                                                   <option value="8">Aug</option>
                                                   <option value="9">Sep</option>
                                                   <option value="10">Oct</option>
                                                   <option value="11">Nov</option>
                                                   <option value="12">Dec</option>
                                              </select>
                                              <div class="cc_error">

                                              </div>
                                          </div>
                                          <div class="col-md-6 col-sm-6 col-xs-6">
                                              <!--<input name="expiry_year" type="text" class="form-control" placeholder="YY (Expiry Year)">-->
                                              <select name="expiry_year" class="form-control">
                                                   <option value="2015">2015</option>
                                                   <option value="2016">2016</option>
                                                   <option value="2017">2017</option>
                                                   <option value="2018">2018</option>
                                                   <option value="2019">2019</option>
                                                   <option value="2020">2020</option>
                                              </select>
                                              <div class="cc_error">

                                              </div>
                                          </div>
                                      </div>
                                    <br/>
                                 <div class="row ">
                                      <div class="col-md-12 pad-adjust">

                                          <div style="font-weight: bold; font-size: 13px;">Enter Card CVV</div>
                                      </div>
                                  </div>
                                    <div class="row ">
                                          <div class="col-md-6 col-sm-6 col-xs-6">
                                              <input name="card_cvv" type="text" class="form-control" placeholder="CVV">
                                              <div class="cc_error">

                                              </div>
                                          </div>
                                 </div>
                                 <div class="row ">
                                          <div class="col-md-6 col-sm-6 col-xs-6">
                                              <br/>
                                          </div>
                                 </div>
                                 <div class="row ">
                                      <div class="col-md-6 col-sm-6 col-xs-6">
                                          <label><input type="checkbox" style="margin-top: 7px !important;" name="primary_card"/> This is my primary card</label>
                                      </div>
                                </div>
                                 <br/>
                               </div>
                          </div>
                          </div>
                          </form>
                          <div class="text-center">
                            <button type="submit" id="id_action_credit_card_dialog_submit" class="btn btn-primary center-inline">Submit</button>
                            <button type="button" id="id_action_credit_card_dialog_close" class="btn btn-default center-inline" data-dismiss="modal">Close</button>
                          </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>