{% load staticfiles %}

<div class="canvas_menu">
<div id="id_tour_toolset" class="canvas_menu_icon">
<div class="canvas_menu_inner">
    <div  id="id_canvas_add_button" style="text-align:center;cursor:pointer;color: white;"> <img src="{% static "images/blue_pls.png" %}" width="26" height="20" alt="img">
        <br/><label>New Board</label></div>
</div>
<div class="canvas_menu_inner">
    <a  id="id_canvas_menu_icon_undo" href="#"> <img src="{% static "images/wb_menu_icon1.png" %}" width="26" height="20" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a id="id_canvas_menu_icon_redo" href="#"> <img src="{% static "images/wb_menu_icon2.png" %}" width="26" height="20" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a id="id_canvas_menu_icon_select" href="#"> <img src="{% static "images/wb_menu_icon3.png" %}" width="21" height="21" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/wb_menu_icon4.png" %}" width="20" height="20" alt="img"> </a>
    <div class="wb_submenu_icon1">
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_pen_size5" href="#"> <img src="{% static "images/white_board/wb_menu_icon4_1.png" %}" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_pen_size10" href="#"> <img src="{% static "images/white_board/wb_menu_icon4_2.png" %}" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_pen_size15" href="#"> <img src="{% static "images/white_board/wb_menu_icon4_3.png" %}" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_pen_size20" href="#"> <img src="{% static "images/white_board/wb_menu_icon4_4.png" %}" width="30" height="26" alt="img"> </a> </div>
    </div>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/wb_menu_icon5.png" %}" width="22" height="20" alt="img"> </a>
    <div class="wb_submenu_icon1">
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_eraser_size5" href="#"> <img src="{% static "images/white_board/wb_menu_icon4_1.png" %}" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_eraser_size10" href="#"> <img src="{% static "images/white_board/wb_menu_icon4_2.png" %}" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_eraser_size15" href="#"> <img src="{% static "images/white_board/wb_menu_icon4_3.png" %}" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_eraser_size20" href="#"> <img src="{% static "images/white_board/wb_menu_icon4_4.png" %}" width="30" height="26" alt="img"> </a> </div>
    </div>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/wb_menu_icon6.png" %}" width="40" height="21" alt="img"> </a>
    <div class="wb_submenu_icon1">
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_brush_size5" href="#"> <img src="{% static "images/white_board/wb_menu_icon4_1.png" %}" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_brush_size10" href="#"> <img src="{% static "images/white_board/wb_menu_icon4_2.png" %}" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_brush_size15" href="#"> <img src="{% static "images/white_board/wb_menu_icon4_3.png" %}" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_brush_size20" href="#"> <img src="{% static "images/white_board/wb_menu_icon4_4.png" %}" width="30" height="26" alt="img"> </a> </div>
    </div>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/wb_menu_icon7.png" %}" width="27" height="26" alt="img"> </a>
    <div class="wb_submenu_icon1">
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_circle" href="#"> <img src="{% static "images/white_board/wb_menu_icon7_1.png" %}" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_hexa" href="#"> <img src="{% static "images/white_board/wb_menu_icon7_2.png" %}" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_penta" href="#"> <img src="{% static "images/white_board/wb_menu_icon7_3.png" %}" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_rect" href="#"> <img src="{% static "images/white_board/wb_menu_icon7_4.png" %}" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_triangle" href="#"> <img src="{% static "images/white_board/wb_menu_icon7_5.png" %}" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_righttriangle" href="#"> <img src="{% static "images/white_board/wb_menu_icon7_6.png" %}" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_line" href="#"> <img src="{% static "images/white_board/wb_menu_icon7_7.png" %}" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_arrow1" href="#"> <img src="{% static "images/white_board/wb_menu_icon7_8.png" %}" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_arrow2" href="#"> <img src="{% static "images/white_board/wb_menu_icon7_9.png" %}" alt="img"> </a> </div>
    </div>
</div>
<div class="canvas_menu_inner">
    <a id="id_canvas_menu_icon_text" href="#"> <img src="{% static "images/wb_menu_icon8.png" %}" width="22" height="23" alt="img"> </a>
    <div class="wb_submenu_icon"></div>
</div>
<div class="canvas_menu_inner">
    <a id="id_canvas_menu_icon_clearboard" href="#"> <img src="{% static "images/wb_menu_icon9.png" %}" width="24" height="20" alt="img"> </a>
    <div class="wb_submenu_icon"></div>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/wb_menu_icon10.png" %}" width="37" height="20" alt="img"> </a>
    <div class="wb_submenu_icon1">
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_graphno" href="#"> <img src="{% static "images/white_board/wb_menu_icon10_1.png" %}" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_graphpage" href="#"> <img src="{% static "images/white_board/wb_menu_icon10_2.png" %}" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_graph4_1" href="#"> <img src="{% static "images/white_board/wb_menu_icon10_3.png" %}" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_graph4_2" href="#"> <img src="{% static "images/white_board/wb_menu_icon10_4.png" %}" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_graph2" href="#"> <img src="{% static "images/white_board/wb_menu_icon10_5.png" %}" alt="img"> </a> </div>
    </div>
</div>
<!--<div class="canvas_menu_inner">-->
    <!--<a href="#" id="id_menu_ic_fx"> <img src="{% static "images/wb_fx_icon.png" %}" alt="img"> </a>-->
    <!--<div class="wb_submenu_icon whtebox_fx" id="id_fx_menu_container">-->
        <!--&lt;!&ndash; Menu will be placed here. !&ndash;&gt;-->
        <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading menu...-->
    <!--</div>-->
<!--</div>-->
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/white_board/wb_menu_icon12.png" %}" alt="img"> </a>
    <div class="wb_submenu_icon1">
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_axis1" href="#"> <img src="{% static "images/white_board/wb_menu_icon12_1.png" %}" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_axismarked" href="#"> <img src="{% static "images/white_board/wb_menu_icon12_2.png" %}" alt="img"> </a> </div>
    </div>
</div>
<div class="canvas_menu_inner">
    <a id="id_whiteboard_sticky_icon" href="#"> <img src="{% static "images/white_board/sticky-icon1.png" %}" width="20" height="20" style="width: 30px; height: 30px;" alt="img"> </a>
</div>
</div>
<div id="id_board_browse_button" class="add" style="cursor: pointer;">
    <img src="{% static "images/wb_upload_icon.png" %}" width="21" height="22" alt="icon">  Upload File
    <!--<input type="file" required="required" onchange=" checkFile(this);getElementById('filevalue').value = getElementById('file_upload').value;getElementById('filevalue').style.display='block'; " id="file_upload" title="Browse File" name="file1" value="Browse File" class="file radius" style="display:block;">!-->
    <form id="id_wh_img_upload_form" action="{% url "ajax_action_whiteboard_tab" %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="hidden_lesson_id" {% if lesson %}value="{{ lesson.pk }}" {% else %}value="-1" {% endif %}/>
        <input type="file" id="wb_file_upload" title="Browse File" name="uploaded_file" value="Browse File" class="file radius" style="display:block;">
        <!--<input type="submit" name="wh_img_submit" value="Submit" style="display: none;"/>-->
    </form>
</div>
<div class="canvas_color">
    <a href="#" id="black"></a>
    <a href="#" id="orange"></a>
    <a href="#" id="sky_blue"></a>
    <a href="#" id="green"></a>
    <a href="#" id="yellow"></a>
    <a href="#" id="peach"></a>
    <a href="#" id="gray"></a>
</div>
<!--<div class="canvas_stroke" style="display: table-cell; vertical-align: middle;">-->
    <!--<a class="size1 black-background" href="#"></a>-->
    <!--<a class="size2 black-background" href="#"></a>-->
    <!--<a class="size3 black-background" href="#"></a>-->
    <!--<a class="size4 black-background" href="#"></a>-->
    <!--<a class="size5 black-background" href="#"></a>-->
<!--</div>-->

</div>

<script>
    window._drawing_image_upload_ajax = null;
    $(document).ready(function(){
         function progress(e){
            if(e.lengthComputable){
                var max = e.total;
                var current = e.loaded;

                var Percentage = parseInt((current * 100)/max);
                $("#id_drawingboard_upload_progress_overlay").show();
                $("#id_drawingboard_upload_progress_dialog").show();
                $("#id_drawingboard_upload_progressbar").css("width",Percentage+"%");
                $("#id_drawingboard_upload_progressbar").text(Percentage+"%");

                $("#id_drawingboard_file_upload_hint").text("Uploading...");

                if(Percentage >= 100)
                {
                    console.log("1");
                    $("#id_drawingboard_file_upload_hint").text("Upload. Rendering...");
                }
            }
         }

        $(document).on("change","#wb_file_upload", function(e) {
            e.preventDefault();
            var fd = new FormData($("#id_wh_img_upload_form")[0]);
            fd.append('csrfmiddlewaretoken',$("#id_board_browse_button").find('input[name=csrfmiddlewaretoken]').val());
            fd.append('uploaded_file', $('input[name=uploaded_file]')[0].files[0]);
            _drawing_image_upload_ajax = $.ajax({
                type: "POST",
                data: fd,
                contentType: false,
                processData: false,
                cache:false,
                url: "/ajax/action_whiteboard_tab",
                    xhr: function() {
                    var myXhr = $.ajaxSettings.xhr();
                    if(myXhr.upload){
                        myXhr.upload.addEventListener('progress',progress, false);
                    }
                    return myXhr;
                },
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    if(data.status == "SUCCESS"){

                        clear_background(active_board_id);

                        var url = data.data.url;
                        var raster = new paper_scope.Raster({
                            source: url,
                            position: new paper_scope.Point(view.center.x,parseInt($("#"+active_board_id).offset().top + 135))
                        });

                        raster.name = "background_image"

                        // If you create a Raster using a url, you can use the onLoad
                        // handler to do something once it is loaded:
                        raster.onLoad = function() {
                            $("#id_drawingboard_file_upload_hint").text("Rendering Complete!");
                        };
                        //raster.selected = true;
                        raster.sendToBack();

                        savePaperboard(active_board_id, "save_background",  data.data.url, "image", function(data) {
                            send_update_background_data_packet();
                        });

                    }
                },
                error: function(jqxhr, status, error)
                {

                }
            })
            .done(function( msg ) {

            });
        });


        var fx_menu_loaded = false;
        $.ajax({
                type: "GET",
                url: "/ajax/load_fx_menu",
                success: function(data)
                {
                    data = jQuery.parseJSON(data);
                    //console.log(data);
                    if(data.status = "SUCCESS") {
                        $("#id_fx_menu_container").html(data.data);
                    }
                },
                error: function(jqxhr, status, error)
                {

                }
            })
            .done(function( msg ) {

            });

    });
</script>


<style>
    #id_drawingboard_upload_progress_overlay {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: #000000;
        z-index: 1000000;
        opacity: 0.5;
    }

    #id_drawingboard_upload_progress_dialog {
        position: fixed;
        margin: auto;
        top: 10px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 450px;
        height: 200px;
        background: #f1f1f1;
        z-index: 1000001;
        display: none;
    }
    #id_drawingboard_upload_progressbar {
        background: #337ab7;
        width: 20%;
        height: 30px;
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 3px;
    }
</style>
<script>
    $(document).ready(function() {
        $(document).on("click","#id_drawingboard_upload_progress_dialog_cancel", function(e) {
            e.preventDefault();
            $("#id_drawingboard_upload_progress_dialog").hide();
            if(_drawing_image_upload_ajax != null) {
                _drawing_image_upload_ajax.abort();
            }
        });
    });
</script>
<div id="id_drawingboard_upload_progress_dialog">
    <div class="postneed_bx2" style="width: 450px; background: #f1f1f1;">
	    <h3 class="reject_heading accept_bg" style="margin-top: 0px;">Upload Progress <span style="cursor: pointer; right: 20px; top: 20px;" name="reminder_blocker_cancel" class="glyphicon glyphicon-remove pull-right" id="id_drawingboard_upload_progress_dialog_cancel"></span></h3>
        <div class="reject_detail" style="width: 100%;">
            <div style="width: 100%; float: left; clear: both;">
                <div style="background: white;">
                    <div id="id_drawingboard_upload_progressbar">20%</div>
                </div>
                <p id="id_drawingboard_file_upload_hint"></p>
            </div>
        </div>
    </div>
</div>