{% load staticfiles %}

<div class="canvas_menu">
<div id="id_tour_toolset" class="canvas_menu_icon">
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/wb_menu_icon1.png" %}" width="26" height="20" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/wb_menu_icon2.png" %}" width="26" height="20" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/wb_menu_icon3.png" %}" width="21" height="21" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/wb_menu_icon4.png" %}" width="20" height="20" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/wb_menu_icon5.png" %}" width="22" height="20" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/wb_menu_icon6.png" %}" width="40" height="21" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/wb_menu_icon7.png" %}" width="27" height="26" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a id="id_canvas_menu_icon_text" href="#"> <img src="{% static "images/wb_menu_icon8.png" %}" width="22" height="23" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a id="id_canvas_menu_icon_clearboard" href="#"> <img src="{% static "images/wb_menu_icon9.png" %}" width="24" height="20" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/wb_menu_icon10.png" %}" width="37" height="20" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/white_board/wb_menu_icon12.png" %}" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="{% static "images/white_board/sticky-icon.png" %}" width="20" height="20" style="width: 30px; height: 30px;" alt="img"> </a>
</div>
</div>
<div id="id_board_browse_button" class="add" style="cursor: pointer;">
    <img src="{% static "images/wb_upload_icon.png" %}" width="21" height="22" alt="icon">  Upload File
    <!--<input type="file" required="required" onchange=" checkFile(this);getElementById('filevalue').value = getElementById('file_upload').value;getElementById('filevalue').style.display='block'; " id="file_upload" title="Browse File" name="file1" value="Browse File" class="file radius" style="display:block;">!-->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="uploaded_file" value="Browse File" class="file radius" style="display:block;">
    </form>
</div>
<div class="canvas_color">
    <a href="#" id="black"></a>
    <a href="#" id="orange"></a>
    <a href="#" id="sky_blue"></a>
    <a href="#" id="green"></a>
    <a href="#" id="yellow"></a>
    <a href="#" id="peach"></a>
    <a href="#" id="gray"></a>
</div>

</div>