<div id="id_canvas_tab" class="easyui-tabs" style="width:100%;float:left;">
    {% for drawingboard in drawingboards %}
        <div title="{{ drawingboard.numeric_id }}" id="id_canvas_tab_{{ drawingboard.numeric_id }}" data-options="closable:false">
            <canvas id="drawing_board_{{ drawingboard.numeric_id }}"  resize keepalive="true" width="100%" height="1600" tabindex = '1' style="-webkit-filter: drop-shadow(0 0 7px rgba(0,0,0,0.5));position:relative;top:0px;radius:2px;"></canvas>
        </div>
    {% endfor %}
</div>

<div id="id_fx_board_inner_div" style="display: none; position:absolute;top:200px;width: 100%;height:1600px;margin-left:auto;margin-right:auto; margin-top: 0px;border: 2px solid #dedede; border-radius: 10px;background:#fdfdfd;padding-bottom: 70px;">
    <button class="btn btn-success" id="id_button_fx_ok" style="position:absolute;top:3px;right:106px;width: 100px;">Ok</button>
    <button class="btn btn-danger" id="id_button_fx_cancel" style="position:absolute;top:3px;right:3px;width: 100px;">Cancel</button>
    <textarea style="position:absolute;top:3px;left:50%" id='formula1' class='mathdoxformula' rows='10' cols='80'>
    </textarea>
</div>

<style>
    .tabs-icon {
        &:before{
            content: "X";
          },
        margin-left: 7px;
        top: 0% !important;
        margin-top: 0px !important;
    }
</style>

<script>
    $(document).ready(function(){
        //console.log($("#id_canvas_tab").offset().top);
        $("#id_fx_board_inner_div").css("top",($("#id_canvas_tab").offset().top - 90)+"px");

        $("#id_canvas_tab").on("dblclick", ".tabs li", function(e) {
            e.preventDefault();
            //alert("Hello!");
        });

    });
</script>