{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "jquery.easyui-1.4.2/themes/black/easyui.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/sticky/style.css" %}"/>
<script type="text/javascript" src="{% static "jquery.easyui-1.4.2/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "jquery.easyui-1.4.2/jquery.easyui.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.stickynote.custom.js" %}"></script>
{#<script type="text/javascript" src="{% static "js/ui.core.js" %}"></script>#}
{#<script type="text/javascript" src="{% static "js/ui.draggable.js" %}"></script>#}
<script src="{% static "js/jquery.form.js" %}"></script>

<script type='text/javascript'>
org = { mathdox:{formulaeditor:{options:{dragPalette:false, paletteShow: "none", useBar:false}}}};
</script>
<script type='text/javascript' src="{% static "js/mathdox/org/mathdox/formulaeditor/main.js" %}">
</script>
<div id="id_drawingboard_menu">
{% if lesson_status == "LIVE" or lesson_status == "SCHEDULED" or demo == True %}
    {% if lesson_status == "SCHEDULED" %}
        {% if not request.user.champuser.is_tutor %}
            {% if payment_status == False %}
            {% include "ajax/drawingboard_menu_public.html" %}
            {% else %}
            {% include "ajax/drawingboard_menu.html" %}
            {% endif %}
        {% else %}
            {% include "ajax/drawingboard_menu.html" %}
        {% endif %}
    {% else %}
        {% include "ajax/drawingboard_menu.html" %}
    {% endif %}
{% endif %}
</div>

<style type='text/css'>

      .code {
        padding-left:2em;
        font-family:monospace;
      }

      .formulaeditorinput {
        margin-right: 2em;
      }
      canvas.mathdoxformula{
         margin-top:140px;
         max-width: 800px;
      }

      .canvasloader-wrapper {
			position:absolute;
			top:50%;
			left:50%;
		}

    </style>

{% include "ajax/drawingboard_canvas.html" with drawingboard=drawingboard %}

<input type="hidden" id="id_hidden_lesson_id" name="hidden_lesson_id" {% if live_lesson %}value="{{ live_lesson.pk }}" {% else %} value="-2" %} {% endif %}/>
<input type="hidden" id="id_hidden_whiteboard_id" name="hidden_whiteboard_id" {% if whiteboard %}value="{{ whiteboard.pk }}" {% else %} value="-1" %} {% endif %}/>
<div id="id_sticky_content" class="content" style="width:100%;float:left;margin-top: 200px;">
</div>

</div>

<script>
    
    $(document).ready(function(){

        window.all_components_loaded = true;
        console.log("loaded");
        $(".tabbings").fadeIn(700);
        $("#tt").show();
        $("#ctt").show();
        $("#id_whiteboard_bottom_bar").show();
        $("#id_loading_whiteboard").hide();
        $("#id_demo_lesson_progress").show();

        {% if lesson_status != "LIVE" and lesson_status != "SCHEDULED" %}
        disable_screensharing();
        {% endif %}

        {% if lesson_status == "LIVE" or lesson_status == "SCHEDULED"  or demo == True %}

            {% if lesson_status == "SCHEDULED" %}
                {% if not request.user.champuser.is_tutor %}
                    {% if payment_status == False %}
                    disable_drawing();
                    {% endif %}
                {% endif %}
            {% endif %}

        {% else %}
        disable_drawing();
        {% endif %}

    });

    resize_canvas();

    function resize_canvas(){
        $("canvas[id^=drawing_board]").each(function(i){
            var id = $(this).prop("id");
            //console.log(id);
            var canvas = document.getElementById(id);
            //console.log(canvas);
            //console.log($(window).width());
            canvas.width = $(window).width();
            canvas.height = 1600;
            //$(this).css("width",window.innerWidth+"px");
        });
    }

    $(document).ready(function(){

        var sticky_options = {};

        {% for sticky_note in sticky_notes %}


            var sticky_options = {
                size : 'large',
                event   : 'click',
                color   : '#000000',
                "top": {{ sticky_note.top }},
                "left": {{ sticky_note.left }},
                create: false,
                "id": "{{ sticky_note.serial_id }}",
                "content": $("#id_sticky_{{ sticky_note.serial_id }}").html(),
                ajax_call_method: function(type,url,data,callback,error_back,complete_back){

                },
                save_ajax: function(text){

                },
                create_note: function(){

                },
                delete_note: function(){

                },
                size             : 'large',
                containment      : 'content',
                container:  'id_sticky_content',
                "locked": "{{ sticky_note.is_locked }}"
            };

            $.createNote(sticky_options);

        {% endfor %}

        $("#id_whiteboard_sticky_icon").stickynote({
            size             : 'large',
            containment      : 'content',
            event            : 'click',
            container:  'id_sticky_content',
            create: true,
            id: ""
        });

        $('.sticky-large-header input').click(function() {
            $(this).focus();
        });

        var canvas_tab_counter = 1;

        canvas_element =  $("#id_canvas_tab_1").html();

        function resetTabs(){
            var all_tabs = $("[id^=id_canvas_tab_]");
            for(var i = 0 ; i < all_tabs.length ; i++){
                //console.log(all_tabs[i]);
                $(all_tabs[i]).html("");
            }
        }

        //resize_canvas();


        $(window).resize(function()
        {
            resize_canvas();
        });


        $("#id_canvas_tab").css("width",window.innerWidth+"px");

        $("#tabbings").css("height","1600px");





        //ui-tabs-panel ui-widget-content ui-corner-bottom
        $(".ui-tabs-panel").css("padding","0px");
    });

        function render_drawing_board_tab(canvas_id){
            return canvas_element.replace("drawing_board_1",canvas_id);
        }

        $("#id_canvas_add_button").click(function(e){

            e.preventDefault();

            var lesson_id = {% if live_lesson %} {{ live_lesson.pk }} {% else %} -1 {% endif %};

            $.ajax({
                type: "GET",
                url: "/ajax/action_whiteboard_tab",
                data: { action: "ADD_DRAWING_BOARD","lesson_id": lesson_id },
                success: function(data)
                {
                    data = jQuery.parseJSON(data);
                    console.log(data.data);
                    //resetTabs();
                    $('#id_canvas_tab').tabs('add',{
                        title:data.data.tab_count,
                        id: "id_canvas_tab_"+data.data.tab_count,
                        content: render_drawing_board_tab("drawing_board_"+data.data.tab_count),
                        closable:false
                    });

                    //console.log($("#id_canvas_tab_"+data.data.tab_count));

                    //console.log("Element: "+document.getElementById("drawing_board_"+data.data.tab_count));
                    paper_scope.setup("drawing_board_"+data.data.tab_count);

                    /*var data_packet = {
                        target_users: wb_participants,
                        title:data.data.tab_count,
                        id: "id_canvas_tab_"+data.data.tab_count,
                        closable: false

                    };
                    window.socket.emit("notify_board_added",data_packet);*/

                },
                error: function(jqxhr, status, error)
                {
                    console.log("An error occured while adding canvas tab. Error message: "+error);
                }
            })
            .done(function( msg ) {

            });

        });



        $('#id_canvas_tab').tabs({
                width: window.innerWidth,
                height: 1600,
                onSelect: function(title,index){
                    var selected_canvas = paper_scope.View._viewsById['drawing_board_'+title];
                    if(selected_canvas != undefined){
                        console.log("Activating...");
                        selected_canvas._project.activate();
                        active_board_id = 'drawing_board_'+title;
                        draw_offline_items(drawingboards[active_board_id]);
                        drawingboards[active_board_id] = [];

                        if(initial_data_loaded.hasOwnProperty(parseInt(title))) {
                            if(!initial_data_loaded[parseInt(title)]) {
                                load_drawingboard_data(title);
                                initial_data_loaded[parseInt(title)] = true;
                            }
                        }
                        else {
                            load_drawingboard_data(title);
                            initial_data_loaded[parseInt(title)] = true;
                        }
                        if(offline_backgrounds.hasOwnProperty("drawing_board_"+title)) {
                            if(offline_backgrounds["drawing_board_"+title] == true) {
                                load_drawingboard_background("drawing_board_"+title);
                                offline_backgrounds["drawing_board_"+title] = false;
                            }
                        }
                        if(clear_boards.hasOwnProperty("drawing_board_"+title)) {
                            if(clear_boards["drawing_board_"+title] == true) {
                                load_drawingboard_data(title);
                                clear_boards["drawing_board_"+title] = false;
                            }
                        }
                    }
                    //console.log(document.getElementById("drawing_board_"+title));
                },
                onUnselect: function(title,index){

                },
                onBeforeClose: function(title){
                    return confirm('Are you sure you want to close ' + title);
                },
                onClose: function(title){

                },
                onAdd: function(title){


                },
                onUpdate: function(title){

                }
            });


</script>

<script>
    //$(".canvas_menu_inner > a").click(function () {
    //   $(".canvas_menu_inner > a").removeClass("menu_active");
    //   $(this).toggleClass("menu_active");
    //   $(".wb_submenu_icon").removeClass("addactive");
    //   if ($('.canvas_menu_inner > a').has("menu_active"))
    //   {
    //      $(this).siblings(".wb_submenu_icon").addClass("addactive");
    //   }
    //});

    var fx_canvas_init_data;
    var fx_canvas_default_width;
    var fx_canvas_default_height;


    var whiteboard_fx = {
        show_whiteboard: function(bool){
            // this.fx_img_init();
            // this.fx_canvas.putImageData(this.reset_fx_img_val,0,0);
            if(bool === true){
                $("#drawing_board").parent().css("background","white");
                $("#drawing_board").show();
                $("#formula1").parent().hide();
            }
            else{
                $("#drawing_board").parent().css("background","#dedede");
                $("#drawing_board").hide();
                $("#formula1").parent().show();
                var this_canvas = $(".mathdoxformula")[0];
                if(fx_canvas_init_data == undefined || fx_canvas_init_data == ""){
                    console.log("First time...");
                    console.log(fx_canvas_init_data);
                    fx_canvas_init_data = this_canvas.getContext('2d').getImageData(0,0,this_canvas.width,this_canvas.height);
                    fx_canvas_default_width = this_canvas.width;
                    fx_canvas_default_height = this_canvas.height;
                    console.log(fx_canvas_init_data);
                }
                else{
                }
            }
        },
        get_fx_image: function(){
            var this_canvas = $(".mathdoxformula")[0];
            return this_canvas.getContext('2d').getImageData(0,0,this_canvas.width,this_canvas.height);
         }
    }

    $(function(){

        $(".canvas_menu_inner > a").click(function(e){
            e.stopPropagation();
            if($(e.target).parent().attr("id") == "id_menu_ic_fx"){
                deselect_tools();
                whiteboard.selected_tool = whiteboard.tools.FX_TOOL();
                whiteboard_fx.show_whiteboard(false);
            }
            else{
                whiteboard_fx.show_whiteboard(true);
            }

            $(this).parent().siblings('.canvas_menu_inner').children('.canvas_menu_inner > a').removeClass("menu_active");
            $(this).toggleClass("menu_active");

            $(this).parent().siblings('.canvas_menu_inner').children('.wb_submenu_icon,.wb_submenu_icon1').removeClass("addactive");
            $(this).siblings(".wb_submenu_icon,.wb_submenu_icon1").toggleClass("addactive");


            $("body").click(function(e){
                if(e.target.id != "dropdown")
                {
                    $(".canvas_menu_inner > a").removeClass("menu_active");
                    $(".wb_submenu_icon,.wb_submenu_icon1").removeClass("addactive");
                    $('.sub_icon').removeClass("addactive");
                    $('.wb_subsubmenu > a').removeClass("hover_bg");
                    $("body").unbind("click");
                }
            });

            if($(e.target).parent().attr("id") == "id_canvas_menu_icon_text"){
                $(this).addClass("menu_active");

                console.log("Activated!");

                window.drawing_tools.drawing_tool_text.activate();

                return false;
            }
            else if($(e.target).parent().attr("id") == "id_canvas_menu_icon_select"){
                e.preventDefault();

                drawing_tools.drawing_tool_selection.activate();

                return false;

            }
            else if($(e.target).parent().attr("id") == "id_canvas_menu_icon_redo"){
                e.preventDefault();
                if(window.redo_stack.hasOwnProperty(active_board_id)) {
                    var last_element = window.redo_stack[active_board_id].pop();
                    if(last_element != null) {
                        paper_scope.project.activeLayer.addChild(last_element);
                        paper_scope.view.draw();
                        if(!window.undo_stack.hasOwnProperty(active_board_id)) {
                            window.undo_stack[active_board_id] = [ last_element ];
                        }
                        else {
                            window.undo_stack[active_board_id].push(last_element);
                        }

                        send_undo_redo_packet("redo", last_element._id, last_element.exportJSON());

                        var active_canvas = paper_scope.View._viewsById[active_board_id];
                        var drawing_data = active_canvas._project.exportJSON();
                        savePaperboard(active_board_id, "save_board", drawing_data);

                    }
                }

                console.log(window.undo_stack);
                console.log(window.redo_stack);

                return false;
            }
            else if($(e.target).parent().attr("id") == "id_canvas_menu_icon_undo"){
                    e.preventDefault();
                    if(window.undo_stack.hasOwnProperty(active_board_id)) {
                        var last_element = window.undo_stack[active_board_id].pop();
                        if(last_element != null) {
                            paper_scope.project.activeLayer.lastChild.remove();
                            paper_scope.view.draw();
                            if(!window.redo_stack.hasOwnProperty(active_board_id)) {
                                window.redo_stack[active_board_id] = [ last_element ];
                            }
                            else {
                                window.redo_stack[active_board_id].push(last_element);
                            }

                            send_undo_redo_packet("undo", last_element._id);

                            var active_canvas = paper_scope.View._viewsById[active_board_id];
                            var drawing_data = active_canvas._project.exportJSON();
                            savePaperboard(active_board_id, "save_board", drawing_data);

                        }
                    }

                    return false;
            }
            else if($(e.target).parent().attr("id") == "id_canvas_menu_icon_clearboard"){
                e.preventDefault();
                paper_scope.project.activeLayer.removeChildren();
                paper_scope.view.draw();
                send_clear_board_data_packet();
                var active_canvas = paper_scope.View._viewsById[active_board_id];
                var drawing_data = active_canvas._project.exportJSON();
                savePaperboard(active_board_id, "save_board", drawing_data, "clear");
                return false;
            }
            else if($(e.target).parent().attr("id") == "id_whiteboard_sticky_icon"){

            }
            return false;
        });
    });

    $(".wb_submenu_icon").click(function () {
        return false;
    });



    $(".wb_subsubmenu").hover(function () {
        $(this).siblings('.wb_subsubmenu').children('.sub_icon').removeClass("addactive");
        $('.sub_icon',this).addClass("addactive");
        $(this).siblings('.wb_subsubmenu').children('.wb_subsubmenu > a').removeClass("hover_bg");

        $('a',this).addClass("hover_bg");
        $('.sub_icon.addactive > a').removeClass("hover_bg");
    });
    $(".sub_icon.addactive").click(function () {
        return true;
    });

    var hide_menu = function(){
        $('.canvas_menu_inner > a').removeClass("menu_active");
        $('.sub_icon,.wb_submenu_icon').removeClass("addactive");
    };

    

    var fxboard = {
        show_alert: function(title,msg){

            BootstrapDialog.show({
                title: title,
                message: msg,
                closable: false,
                type: BootstrapDialog.TYPE_WARNING,
                size: BootstrapDialog.SIZE_NORMAL,
                buttons: [
                    {
                        label: "Okay",
                        cssClass: 'btn btn-md btn-primary width120',
                        action: function(dialogRef) {
                            dialogRef.close();
                        }
                    }]
            });

        },
        palette_layout: ""+
            "<OMOBJ version='2.0' xmlns='http://www.openmath.org/OpenMath'>\n"+
            "  <OMA>\n"+
            "    <OMS cd='editor1' name='palette'/>\n"+
            "    <OMA>\n"+
            "      <OMS cd='editor1' name='palette_tab'/>\n"+
            //Palette Row 0
            "      <OMA>\n"+
            "        <OMS cd='editor1' name='palette_row'/>\n"+
            "        <OMS cd='arith1' name='plus'/>\n"+
            "        <OMS cd='arith1' name='minus'/>\n"+
            "        <OMS cd='arith1' name='times'/>\n"+
            "        <OMS cd='logic1' name='and'/>\n"+
            "        <OMS cd='logic1' name='or'/>\n"+
            "        <OMA>\n"+
            "          <OMS cd='transc1' name='cos'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='arith1' name='root'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "          <OMI>2</OMI>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd=\"calculus1\" name=\"int\"/>\n"+
            "          <OMBIND>\n"+
            "            <OMS cd=\"fns1\" name=\"lambda\"/>\n"+
            "            <OMBVAR>\n"+
            "              <OMV name=\"x\"/>\n"+
            "            </OMBVAR>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMBIND>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd=\"calculus1\" name=\"defint\"/>\n"+
            "          <OMA>\n"+
            "            <OMS cd=\"interval1\" name=\"interval\"/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMA>\n"+
            "          <OMBIND>\n"+
            "            <OMS cd=\"fns1\" name=\"lambda\"/>\n"+
            "            <OMBVAR>\n"+
            "              <OMV name=\"x\"/>\n"+
            "            </OMBVAR>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMBIND>\n"+
            "        </OMA>\n"+
            "        <OMS cd='editor1' name='palette_whitespace'/>\n"+
            "        <OMA>\n"+
            "          <OMS cd='interval1' name='interval_cc'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "      </OMA>\n"+
            //Palette Row 1
            "      <OMA>\n"+
            "        <OMS cd='editor1' name='palette_row'/>\n"+
            "        <OMS cd='relation1' name='lt'/>\n"+
            "        <OMS cd='relation1' name='leq'/>\n"+
            "        <OMS cd='relation1' name='eq'/>\n"+
            "        <OMS cd='relation1' name='geq'/>\n"+
            "        <OMS cd='relation1' name='gt'/>\n"+
            "        <OMA>\n"+
            "          <OMS cd='transc1' name='sin'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='arith1' name='root'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd=\"arith1\" name=\"product\"/>\n"+
            "          <OMA>\n"+
            "            <OMS cd=\"interval1\" name=\"integer_interval\"/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMA>\n"+
            "          <OMBIND>\n"+
            "            <OMS cd=\"fns1\" name=\"lambda\"/>\n"+
            "            <OMBVAR>\n"+
            "              <OMV name=\"n\"/>\n"+
            "            </OMBVAR>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMBIND>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd=\"arith1\" name=\"sum\"/>\n"+
            "            <OMA>\n"+
            "              <OMS cd=\"interval1\" name=\"integer_interval\"/>\n"+
            "              <OMS cd='editor1' name='input_box'/>\n"+
            "              <OMS cd='editor1' name='input_box'/>\n"+
            "            </OMA>\n"+
            "          <OMBIND>\n"+
            "            <OMS cd=\"fns1\" name=\"lambda\"/>\n"+
            "            <OMBVAR>\n"+
            "              <OMV name=\"n\"/>\n"+
            "            </OMBVAR>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMBIND>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='linalg1' name='determinant'/>\n"+
            "     <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='interval1' name='interval_co'/>\n"+
            "     <OMS cd='editor1' name='input_box'/>\n"+
            "     <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "      </OMA>\n"+
            //Palette Row 2
            "      <OMA>\n"+
            "        <OMS cd='editor1' name='palette_row'/>\n"+
            "        <OMS cd='nums1' name='pi'/>\n"+
            "        <OMS cd='nums1' name='e'/>\n"+
            "        <OMS cd='nums1' name='i'/>\n"+
            "        <OMS cd='nums1' name='infinity'/>\n"+
            "        <OMS cd='editor1' name='palette_whitespace'/>\n"+
            "        <OMA>\n"+
            "          <OMS cd='transc1' name='tan'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='list1' name='list'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='linalg2' name='vector'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='linalg2' name='matrix'/>\n"+
            "          <OMA>\n"+
            "            <OMS cd='linalg2' name='matrixrow'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMA>\n"+
            "          <OMA>\n"+
            "            <OMS cd='linalg2' name='matrixrow'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMA>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='linalg2' name='matrix'/>\n"+
            "          <OMA>\n"+
            "            <OMS cd='linalg2' name='matrixrow'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMA>\n"+
            "          <OMA>\n"+
            "            <OMS cd='linalg2' name='matrixrow'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMA>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='interval1' name='interval_oc'/>\n"+
            "     <OMS cd='editor1' name='input_box'/>\n"+
            "     <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "      </OMA>\n"+
            //Palette Row 3
            "      <OMA>\n"+
            "        <OMS cd='editor1' name='palette_row'/>\n"+
            "        <OMA>\n"+
            "          <OMS cd='arith1' name='divide'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='arith1' name='power'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='arith1' name='abs'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='integer1' name='factorial'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='arith1' name='power'/>\n"+
            "          <OMS cd='nums1' name='e'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='transc1' name='ln'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='transc1' name='log'/>\n"+
            "          <OMI>10</OMI>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='linalg2' name='vector'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='linalg2' name='matrix'/>\n"+
            "          <OMA>\n"+
            "            <OMS cd='linalg2' name='matrixrow'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMA>\n"+
            "          <OMA>\n"+
            "            <OMS cd='linalg2' name='matrixrow'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMA>\n"+
            "          <OMA>\n"+
            "            <OMS cd='linalg2' name='matrixrow'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMA>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='linalg2' name='matrix'/>\n"+
            "          <OMA>\n"+
            "            <OMS cd='linalg2' name='matrixrow'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMA>\n"+
            "          <OMA>\n"+
            "            <OMS cd='linalg2' name='matrixrow'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMA>\n"+
            "          <OMA>\n"+
            "            <OMS cd='linalg2' name='matrixrow'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMA>\n"+
            "        </OMA>\n"+
            "        <OMA>\n"+
            "          <OMS cd='interval1' name='interval_oo'/>\n"+
            "     <OMS cd='editor1' name='input_box'/>\n"+
            "     <OMS cd='editor1' name='input_box'/>\n"+
            "        </OMA>\n"+
            "      </OMA>\n"+
            //Palette 4
            "      <OMA>\n"+
            "        <OMS cd='editor1' name='palette_row'/>\n"+
            "        <OMA>\n"+
            "          <OMS cd='arith1' name='root'/>\n"+
            "          <OMS cd='editor1' name='input_box'/>\n"+
            "          <OMI>3</OMI>\n"+
            "        </OMA>\n"+
                "   <OMA>"+
                "<OMA>"+
                "<OMS cd='calculus1' name='diff'/>"+
                "<OMBIND>"+
                "<OMS cd='fns1' name='lambda'/>"+
                "<OMBVAR>"+
                "<OMV name='y'/>"+
                "</OMBVAR>"+
                "<OMA>"+
                "<OMS cd='arith1' name='plus'/>"+
                "<OMA>"+
            "<OMV name='a'/>"+
    "<OMV name='y'/>"+
            "</OMA>"+
            "<OMA>"+
    "<OMV name='b'/>"+
    "<OMV name='y'/>"+
            "</OMA>"+
            "</OMA>"+
            "</OMBIND>"+
            "</OMA>"+
    "<OMV name='x'/>"+
            "</OMA>"+
            "        <OMA>\n"+
            "           <OMS cd='arith1' name='lcm'/>\n"+
            "           <OMV name='a'/>"+
            "           <OMV name='b'/>"+
            "        </OMA>"+
            "        <OMA>\n"+
            "          <OMS cd=\"calculus1\" name=\"int\"/>\n"+
            "          <OMBIND>\n"+
            "            <OMS cd=\"fns1\" name=\"lambda\"/>\n"+
            "            <OMBVAR>\n"+
            "              <OMV name=\"x\"/>\n"+
            "            </OMBVAR>\n"+
            "            <OMS cd='editor1' name='input_box'/>\n"+
            "          </OMBIND>\n"+
            "        </OMA>\n"+
            "      </OMA>\n"+

            "    </OMA>\n"+
            "  </OMA>\n"+
            "</OMOBJ>\n"+
              "",
        draw_formula: function(row,col){
            var editor = org.mathdox.formulaeditor.FormulaEditor.getFocusedEditor();
            if(editor == null || editor == "undefined"){
                this.show_alert("Select canvas first","<p style='text-align:left;'>Please select the canvas to draw formula on it.</p>");
                return false;
            }
            var palette = new org.mathdox.formulaeditor.Palette();
            var presentation = palette.parseXMLPalette(this.palette_layout);
            var pTabContainer = palette.presentation.children[0];

            var redrawFunction = function() {
                  palette.redraw();
            };
            
            var row = palette.semantics.operands[0].operands[row].operands[col];
            var presentation = org.mathdox.formulaeditor.presentation;
            var rowPresentation = new presentation.Row(row.getPresentation(palette.getPresentationContext()));
            console.log(row.getPresentation(palette.getPresentationContext()));
            rowPresentation.flatten();
            var position = editor.cursor.position;
            var moveright;
            if (rowPresentation.children) {
            for (var i=0;i<rowPresentation.children.length;i++) {

                moveright = position.row.insert(position.index, 
                  rowPresentation.children[i], (i === 0));
                if (moveright) {
                  position.index++;
                }
              }
            } else {
              moveright = position.row.insert(
              position.index, rowPresentation, true);

              if (moveright) {
                position.index++;
              }
            }
            editor.redraw();
            editor.save();
            editor.focus();
            
            window.focus();
          return false;
        }
    };

    $(".sub_icon > a").mousedown(function (e) {
       var anchor_elem = $(e.target).parent();
       var anchor_id = anchor_elem.attr("id");
       if(anchor_id == "id_fx_wb_menu_icon11_1_inner1"){
            fxboard.draw_formula(3,0);
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_2_inner1"){
            fxboard.draw_formula(0,6);    
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_2_inner2"){
            fxboard.draw_formula(1,6);
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_2_inner4"){
            fxboard.draw_formula(4,0);
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_3_inner1"){
            fxboard.draw_formula(3,1);
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_3_inner3"){
            fxboard.draw_formula(4,1);
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_4_inner1"){
            fxboard.draw_formula(4,1);
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_4_inner2"){
            fxboard.draw_formula(0,8);
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_4_inner3"){
            fxboard.draw_formula(4,3);
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_7_inner8"){
            fxboard.draw_formula(0,5);
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_11_inner1"){
            fxboard.draw_formula(0,0);
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_11_inner2"){
            fxboard.draw_formula(0,1);
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_11_inner10"){
            fxboard.draw_formula(0,2);
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_11_inner17"){
            fxboard.draw_formula(0,3);
       }
       else if(anchor_id == "id_fx_wb_menu_icon11_11_inner18"){
            fxboard.draw_formula(0,4);
       }
       hide_menu();
       return false;
    });

    $("#id_button_fx_ok").click(function(e){
        var drawn_fx = whiteboard_fx.get_fx_image();
        whiteboard.Init();
        whiteboard.drawing_action.draw_fx_formula(drawn_fx);
        whiteboard_fx.show_whiteboard(true);
    });

    $("#id_button_fx_cancel").click(function(e){
        whiteboard_fx.show_whiteboard(true);
    });

</script>

{% for sticky_note in sticky_notes %}

    <p id="id_sticky_{{ sticky_note.serial_id }}" style="display: none;">{{ sticky_note.content|safe }}</p>

{% endfor %}