{% load staticfiles %}
{% load datefilters questiontagfilters %}
{% load tz %}
<li>
    <h3 class="champ_aboutme_heading3">{{ question.title }}</h3>
    <span class="app_invited">{{ question.tags.first.level.name }}: {{ question.tags.all|taglist|join:","|replace_last_comma_with_and }}</span>
    <p class="champ_aboutme_text">{{ question.description|safe|truncatechars:450 }}</p>
    <div class="champ_aboutme_btn">
        <div class="champ_aboutme_btn_left">
            <div class="champ_duration_date">
            <span class="champ_date_icon"><label class="job_invite_label">posted By:</label>
            <a class="job_posted_by_user" href="{% url "user_profile" pk=question.created_by.pk %}">{{ question.created_by.champuser.fullname }}</a></span>
            <span class="champ_date_icon"><label class="job_invite_label">posted on:</label>
            <p>{{ question.date_created|fromunix|localtime|format_datetime }}</p></span>
            {% with question|get_answer_of_user:request.user as user_answer %}
                {% if user_answer %}
                    <span class="champ_date_icon"><label class="job_invite_label">answered on:</label>
                    <p>{{ user_answer.date_created|fromunix|localtime|format_datetime }}</p></span>
                {% endif %}
            {% endwith %}
        </div>
        </div>
        <a class="champ_viewdetail" href="{% url "question_details_view" pk=question.pk %}">View Details</a>
    </div>
    {% with question.get_best_answer as best_answer %}
        {% if best_answer %}
            <h3 class="champ_aboutme_heading_italic marginT20">Best Answer ({{ best_answer.convert_date_created|date:"j N Y" }})</h3>
            <p class="champ_aboutme_text">{{ best_answer.answer|truncatechars:230 }}</p>
            <div class="champ_duration_date">
                <span class="champ_date_icon"><label>Answered By:</label>
                <a href="{% url 'user_profile' best_answer.answer_by.pk %}">{{ best_answer.answer_by.champuser.fullname }}</a></span>
            </div>
        {% endif %}
    {% endwith %}
</li>
