{% load datefilters %}
{% load tz %}
<h4 class="champ_finance_heading" style="font-size: 17px;">{{ job.title }} <em>({{ job.render_lesson_type_verbal }})</em></h4>
<p class="champ_last_text">{{ job.description|truncatechars:300 }}</p>

<div class="champ_duration_date">
    <span class="champ_date_icon"><label>Start Date:</label>
    <p>{{ job.lesson_time|fromunix|localtime|format_datetime }}</p></span>


    <span class="champ_duration_icon"><label>duration:</label>
    <p>{{ job.lesson_duration }} minutes</p></span>

    <span class="champ_rate_icon"><label>Rate:</label>
    <p>${{ job.preference.rate.rate_value|floatformat:"2" }}/hr ({{ job.preference.currency }})</p></span>

</div>