{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% with job_application.job_set.all.first as job %}
<li>
    <h3 class="champ_aboutme_heading3">{{ job.title }}<em>({{ job.render_lesson_type_verbal }})</em>
    {% if job.posted_by.champuser.nationality %}
    <img title="{{ job.posted_by.champuser.nationality.name }}" src="/static/images/flags/32/{{ job.posted_by.champuser.nationality.name }}.png" width="32" height="32" alt="img" style="width: 32px; height: 32px;"/>
    {% endif %}
    </h3>
    <span class="app_invited">Bid</span>
    <p class="champ_aboutme_text">{{ job.description|truncatechars:400 }}</p>
    <div class="invitation_status">
        {% if job_application.status == 1 %}  <!-- Pending !-->
                <span class="champ_pending">Pending</span>
        {% elif job_application.status == 2 %}  <!-- Applied !-->
                <span class="champ_pending">Pending</span>
        {% elif job_application.status == 3 %}  <!-- Cancelled !-->

        {% elif job_application.status == 5 %}  <!-- Rejected !-->
                <span class="champ_rejected">Rejected</span>
        {% elif job_application.status == 6 %}  <!-- Negotiating !-->
            Negotiating
        {% elif job_application.status == 7 %}  <!-- Offered by the student !-->

        {% elif job_application.status == 8 %}  <!-- Hired !-->
                <span class="champ_matched">Hired</span>
        {% elif job_application.status == 9 %}  <!-- Shortlisted !-->
                <span class="champ_pending">Pending</span>
        {% elif job_application.status == 10 %}  <!-- Rejected Application !-->
                <span class="champ_rejected">Rejected</span>
        {% elif job_application.status == 12 %}  <!-- Rejected Offer !-->

        {% elif job_application.status == 13 %}  <!--Application withdrawn by you!-->

        {% endif %}
    </div>
    <div class="champ_aboutme_btn">
        <div class="champ_aboutme_btn_left">
            <div class="champ_duration_date">
            <span class="champ_date_icon"><label>posted By:</label>
            <a href="{% url "user_profile" job.posted_by.pk %}">{{ job.posted_by.champuser.fullname }}</a></span>
            <span class="champ_date_icon"><label>posted on:</label>
            <p>{{ job.date_created|fromunix|localtime|format_datetime }}</p></span>
            <span class="champ_date_icon"><label>Applied On:</label>
            <p>{{ job_application.date_created|fromunix|localtime|format_datetime }}</p></span>
        </div>
        </div>
        <a href="{% url "job_post_details" pk=job.pk %}" class="champ_viewdetail">View Details</a>
    </div>
</li>
{% endwith %}