{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<li>
    <div class="champ_status_image_outer">
    <div class="champ_status_image"><img src="{{ champuser.render_profile_picture }}" style="width: 155px; height: 186px;" width="155" height="186" alt="image"></div>

    <ul class="champ_status_trophy">
        <li style="margin-right: 10px;"><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"/>
            {% with feedback_count=champuser.positive_feedback_count %}{% if feedback_count %}<span>{{ feedback_count }}</span>{% else %}<span>-</span>{% endif %}{% endwith %}</li>
        <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"/>
        {% with feedback_count=champuser.negative_feedback_count %}{% if feedback_count %}<span>{{ feedback_count }}</span>{% else %}<span>-</span>{% endif %}{% endwith %}</li>
    </ul>
    </div>
    <div class="champ_status_detail">
        <a href="{% url "user_profile" tutor.pk %}"><h3 class="champ_status_heading">{{ champuser.fullname }} <span>( {{ champuser.current_school }} )</span></h3></a>
        {% if initiated_as_label == "JobInvitation" %}
        <span class="app_invited">You have invited</span>
        {% endif %}
        <ul class="champ_status_rate">
            <li> <label>Rate :</label> <p>{{ currency }} {{ price|floatformat:"2" }}{% if price2 %}-{{ price2|floatformat:"2" }}{% endif %}/hour</p> </li>
            <li><p><img src="/static/images/flags/32/{{ champuser.nationality.name }}.png" width="23" height="16" alt="img" style="width: 23px; height: 16px;"> {{ champuser.nationality.name }}</p></li>
        </ul>
        <p class="champ_status_text">{{ exp_details|safe|truncatechars:180 }}
        </p>
        {% if applied_message %}
        <a href="#" class="show_comments" style="font: 13px/15px 'HelveticaNeueLTStd-Roman'; color: #7d7d7d;">Comments</a>
        <div class="champ_status_text show_comments_content" style="border: 1px solid #eee; padding: 7px; display: none;">
            <h5>Comments:</h5>
            <p>{{ applied_message }}</p>
            <p>
                <div class="champ_duration_date">
                    <p>{{ start_time|fromunix|localtime|format_datetime }}, </p>
                    <p>{{ lesson_duration }} minutes, </p></span>
                    <p>${{ price|floatformat:2 }}/hr ({{ currency }})</p>
                </div>
            </p>
        </div>
        {% endif %}
    </div>
    {% if status != "invited" %}
    <div class="champ_outer_hire">
            <input type="hidden" class="job_id" value="{{ job.pk }}"/>
            <input type="hidden" class="tutor_id" value="{{ tutor.pk }}"/>
            <input type="hidden" class="tutor_name" value="{{ tutor.champuser.fullname }}"/>
            <input type="hidden" class="online_status" {% if champuser.online_status == 1 %} value="online"{% elif champuser.online_status == 0 %} value="offline" {% endif %}/>
            <input type="hidden" class="tutor_pp" value="{{ champuser.render_profile_picture }}"/>
            {% if status == "pending" %}
            <label class="action_heading">Action :</label>
            <div class="champ_hire_dropdown need_dropdwn">
                <select class="loct job_details_action">
                    <option value="none">None</option>
                    <option value="hire">Hire</option>
                    <option value="shortlist">Shortlist</option>
                    <option value="reject-application">Reject</option>
                </select>
            </div>
            {% elif status == "negotiating" %}
            <label class="action_heading">Action :</label>
            <div class="champ_hire_dropdown need_dropdwn">
                <select class="loct job_details_action">
                    <option value="none">None</option>
                    <option value="hire">Hire</option>
                    <option value="shortlist">Shortlist</option>
                    <option value="reject-application">Reject</option>
                </select>
            </div>
            {% elif status == "rejected" %}

            {% elif status == "shortlisted" %}
            <label class="action_heading">Action :</label>
            <div class="champ_hire_dropdown need_dropdwn">
                <select class="loct job_details_action">
                    <option value="none">None</option>
                    <option value="hire">Hire</option>
                    <option value="reject-application">Reject</option>
                </select>
            </div>
            {% elif status == "hired" %}

            {% endif %}
            <!-- <ul class="champ_hire_list">
                <li><a href="#" onclick="showhirePost()">Hire</a></li>
                <li><a href="#">Shortlist</a></li>
                <li><a href="#">Negotiate</a></li>
                <li><a href="#">Reject</a></li>
            </ul> -->
            {% if status == "pending" %}
            <span class="champ_pending">Pending</span>
            {% elif status == "negotiating" %}
            <span class="champ_negotiating">Negotiating</span>
            {% elif status == "rejected" %}
            <span class="champ_rejected">Rejected</span>
            {% elif status == "shortlisted" %}
            <span class="champ_shortlisted">Shortlisted</span>
            {% endif %}
            <input type="hidden" class="tutor_uid" value="{{ champuser.user.pk }}">
            <input type="hidden" class="online_status" value="{{ champuser.render_online_status_verbal }}">
            <input type="hidden" class="tut_name" value="{{ champuser.fullname }}">
            <a class="champ_text_chat" style="margin-left: 20px; position: relative; top: 4px; font: 13px/15px 'HelveticaNeueLTStd-Roman'; color: #7d7d7d;" href="#"><img src="{% static "images/chat-icon.png" %}" width="16" height="13" alt="img"> Message</a>
    </div>
    {% endif %}
</li>