{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<style>
    #id_offer_reject_dialog {
        width: 580px;
        height: auto;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        top: 40px;
        z-index: 10001;
        background: white;
        width: 50%;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        left: 25%;
        padding-bottom: 20px;
    }
    .inline {
        display: inline;
    }
    .no_display {
        display: none;
    }
    .width_130 {
        width: 130px;
    }
</style>
<script>
    $(document).ready(function() {

    });
</script>

<div id="id_offer_reject_dialog" style="margin:0px auto">
    <form id="id_offer_reject_dialog_form" action="{% url "job_offer_reject_ajax_view" %}" class="lesson_bx_form" name="msg_form" enctype="multipart/form-data" method="POST">
    <div class="container" style="width: 600px !important;">
        <div class="row">
            <div class='col-sm-10'>
                <h3>Job Offer Reject</h3>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12'>
                <div>
                    <div class="new_lesson_bx" style="width: 600px;">
                        {% csrf_token %}
                        <div class="row">
                            <div class='col-sm-12'>
                                <input type="hidden" name="job_id" value="{{ job.pk }}"/>
                                <input type="hidden" name="user_id" value="{{ user_id }}"/>
                                <input type="hidden" name="offer_id" value="{{ offer_id }}"/>
                                <div>
                                    <p>Please state the reason of rejecting this offer</p>
                                </div>
                                <select name="reason" class="form-control lesson-request-select" style="color: black; cursor: pointer;">
                                    {% for reason in reject_reason %}
                                    <option value="{{ reason.pk }}">{{ reason.reason }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-12'>
                                <div style="height: 20px;"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-3'>

                            </div>
                            <div class='col-sm-9'>
                                <input name="live_lesson_request_submit" type="submit" value="Submit" class="btn btn-success job_offer_reject_submit pull-right width_130">
                                <input name="live_lesson_request_cancel" type="button" value="Cancel" class="btn btn-danger job_offer_reject_cancel pull-right width_130" style="margin-right: 13px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>