{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<li>
    <h3 class="champ_aboutme_heading3">{{ job.title }}<em>({{ job.render_lesson_type_verbal }})</em></h3>
    <span class="app_invited">RECOMMENDED</span>
    <p class="champ_aboutme_text">{{ job.description|truncatechars:200 }}</p>
    <div class="invitation_status">
        {% if status == 1 %}  <!-- Pending !-->
            <span class="champ_pending">Pending</span>
        {% elif status == 8 %}  <!-- Hired !-->
            <span class="champ_matched">Hired</span>
        {% elif status == 9 %}  <!-- Shortlisted !-->
            <span class="champ_applied">Applied</span>
        {% elif status == 10 %}  <!-- Rejected Application !-->
            <span class="champ_rejected">Rejected</span>
        {% endif %}
    </div>
    <div class="champ_aboutme_btn">
        <div class="champ_aboutme_btn_left">
            <div class="champ_duration_date">
            <span class="champ_date_icon"><label>posted By:</label>
        <a href="{% url "user_profile" job.posted_by.pk %}">{{ job.posted_by.champuser.fullname }}</a></span>
            <span class="champ_date_icon"><label>posted on:</label>
            <p>{{ job.date_created|fromunix|localtime|format_datetime }}</p></span>
        </div>
        </div>
        <a href="{% url "job_post_details" pk=job.pk %}?_ref=r" class="champ_viewdetail">View Details</a>
    </div>
</li>