{% load staticfiles %}
{% load datefilters %}
{% load tz %}
    <script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/select2.min.js" %}"></script>

<style>
    #id_invite_tutor_dialog {
        width: 500px;
        height: auto;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 20px;
        z-index: 10001;
        background: white;
        width: 50%;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        left: 25%;
        padding-bottom: 20px;
    }
    .inline {
        display: inline;
    }
    .no_display {
        display: none;
    }
    .width_130 {
        width: 130px;
    }
    .width_100 {
        width: 100px;
    }
    {% if not tutor %}
    .select2-container {
        z-index: 11102;
        float: left;
        display: block;
    }
    {% endif %}
    .invite_error {
        color: red;
        float: left;
        clear: both;
        display: none;
    }
    #popup_dialog .champ_duration_date span {
        margin-top: 0px !important;
    }
    h3 {
        margin-top: 0px !important;
    }
    .form-control {
        outline: none;
        height: 44px;
    }
    select.form-control {
        width: 60%;
    }
    .select2-container {
        height: 48px !important;
    }
</style>
{% if logged_in %}
<script>
    $(document).ready(function() {
        $(document).on("click",".tag_close",function(e){
            e.preventDefault();
            $(this).parent().remove();
        });

        var invite_select2_width = 0.4 * $(".postneed_bx1").width();

        $("#id_invite_tutor_list").select2({
          width: invite_select2_width,
          placeholder: "Tutor name or email address",
          ajax: {
            url: "/ajax/tutor-list/",
            dataType: 'json',
            delay: 250,
            data: function (params) {
              return {
                q: params.term, // search term
                utype: "teacher",
                source: "JOB_INVITE",
                job_id: $("input[name=job_id]").val()
              };
            },
            processResults: function (data, page) {
              return {
                    results: $.map(data.items, function(obj) {
                        return { id: obj.id, text: obj.name };
                    })
                };
            },
            cache: true
          },
          escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
          minimumInputLength: 1,
        }).on("change",function(e){
            var user_id = $(this).val();
            var job_id = $(this).data("job-id");
            load_job_invite_email_template(user_id, job_id);
        });

        $(document).on("change",".job_invite_job", function(e) {
           e.preventDefault();
           var user_id = $(".invite_tutor").val();
           var job_id = $(this).val();
           if(user_id != "-1") {
                load_job_invite_email_template(user_id,job_id);
           }
           else {
                $("#id_invite_lesson_note").html("");
           }
        });

    });
</script>

<div id="popup_dialog" style="margin:0px auto; {% if margin_top %}margin-top: 10%;{% endif %}">
    <div class="postneed_bx1">

    {% if job_id_given %}
        {% if job_not_opened %}
        <div>
            <h3 class="reject_heading accept_bg" style="margin-top: 0px !important;">Post A Job Before You Can Invite
                <span style="cursor: pointer; right: 20px; top: 20px;" name="job_apply_cancel" class="job_invite_cancel glyphicon pull-right" title="Close">X</span></h3>

            <div class="row">
                <div class="col-md-12">
                    <p style="margin: 7px;">This job is not open. You can't invite tutor to this job.</p>
                </div>
            </div>
            <div class="row">
                <div class='col-sm-3'>

                </div>
                <div class='col-sm-9'>
                    <input name="live_lesson_request_cancel" type="button" value="Ok" class="btn btn-danger job_invite_cancel pull-right width_100" style="margin-right: 13px; margin-bottom: 13px;">
                </div>
            </div>
        </div>
        {% else %}
        <div id="id_post_dialog" style="display: none;">
            <h3 class="reject_heading accept_bg" style="margin-top: 0px !important;">Invitation Sent
                <span style="cursor: pointer; right: 20px; top: 20px;" name="job_apply_cancel" class="job_invite_cancel glyphicon pull-right" title="Close">X</span></h3>

            <div class="row">
                <div class="col-md-12" style="padding: 10px; padding-left: 30px;">
                    <p>Your invitation has been sent successfully.</p>
                </div>
            </div>
            <div class="row">
                <div class='col-sm-3'>

                </div>
                <div class='col-sm-9' style="padding: 7px;">
                    <input name="live_lesson_request_cancel" type="button" value="Ok" class="btn btn-danger job_invite_cancel pull-right width_100" style="margin-right: 13px;">
                </div>
            </div>
        </div>
        <div id="id_job_invite_form_content">
        <h3 class="reject_heading accept_bg" style="margin-top: 0px !important;">
            {% csrf_token %}
            {% if tutor %}
            Invite {{ tutor.fullname }}
            {% else %}
            Invite Tutor
            {% endif %}
            <span style="cursor: pointer; right: 20px; top: 20px;" name="job_apply_cancel" class="job_invite_cancel glyphicon pull-right" title="Close">X</span></h3>
        <form id="id_invite_tutor_dialog_form" action="#" class="lesson_bx_form" name="msg_form" enctype="multipart/form-data" method="POST">
        <div class="container">
            <div class="row">
                <div class='col-sm-12'>
                    <div>
                        <div class="new_lesson_bx" style="border: none; width: 100%; margin-bottom: 20px;">
                            {% csrf_token %}
                            <div class="row">
                                <div class='col-sm-2'>
                                    <label>Tutor</label>
                                    <input type="hidden" name="job_id" value="{{ job.pk }}"/>
                                </div>
                                <div class='col-sm-10'>
                                    {% if tutor %}
                                    <select name="invite_tutor" data-job-id="{{ job.pk }}" class="form-control lesson-request-select invite_tutor" style="color: black; cursor: pointer;">
                                        <option value="{{ tutor.user.pk }}">{{ tutor.fullname }}</option>
                                    </select>
                                    {% else %}
                                    <select name="invite_tutor" data-job-id="{{ job.pk }}" id="id_invite_tutor_list" class="form-control lesson-request-select invite_tutor" style="color: black; cursor: pointer;">

                                    </select>
                                    {% endif %}
                                    <div class="invite_error">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-sm-12'>
                                    <br/>
                                </div>
                            </div>
                            {% if job %}
                                <div class="row">
                                    <div class='col-sm-2'>
                                        <label>Job</label>
                                    </div>
                                    <div class='col-sm-10'>
                                        <select name="job_list" class="form-control job_invite_job" style="cursor: pointer;">
                                            <option value="{{ job.pk }}">{{ job.title }}</option>
                                        </select>
                                        <div class="invite_error">

                                        </div>
                                    </div>
                                </div>
                            {% else %}
                            <div class="row">
                                <div class='col-sm-2'>
                                    <label>Select Job</label>
                                </div>
                                <div class='col-sm-10'>
                                    <select name="job_list" class="form-control job_invite_job" style="cursor: pointer;">
                                        <option value="-1">Select Job</option>
                                        {% for open_job in open_jobs %}
                                        <option value="{{ open_job.pk }}">{{ open_job.title }}</option>
                                        {% endfor %}
                                    </select>
                                    <ul class="dropdown-menu">Select Job
                                      <li><a href="/job/3/edit/"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
                                      <li id="id_job_delete"><a href="/job/3/delete/"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                                      <li data-job-id="3" class="invite_tutors"><a href="#"><span class="glyphicon glyphicon-plus"></span> Invite Tutors</a></li>
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class='col-sm-2'>

                                </div>
                                <div class='col-sm-10' id="id_job_summary" style="padding-top: 13px;">
                                    <!-- Job summary will be loaded here. !-->
                                    {% if job and job_summary %}
                                    {{ job_summary }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-sm-12'>
                                    <br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-sm-2'>
                                    <h3 class="reject_reason_heading">Note</h3>
                                </div>
                                <div class='col-sm-10'>
                                    <textarea name="invite_lesson_note" id="id_invite_lesson_note" rows="5" class="form-control">{% if tutor and email_template %}{{ email_template }}{% endif %}</textarea>
                                    <div class="invite_error">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-sm-12'>
                                    <div style="height: 20px;"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-sm-2'>

                                </div>
                                <div class='col-sm-10'>
                                    <input name="live_lesson_request_submit" type="submit" value="Send Invitation" class="btn btn-success job_invite_submit pull-right width_130" style="padding: 7px; font: 14px/28px 'HelveticaNeueLTStd-Roman'">
                                    <input name="live_lesson_request_cancel" type="button" value="Cancel" class="btn btn-danger job_invite_cancel pull-right width_130" style="padding: 7px; margin-right: 17px; font: 14px/28px 'HelveticaNeueLTStd-Roman';">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
        </div>
        {% endif %}
    {% else %}
    {% if not open_jobs %}
    <div class="new_lesson_bx" style="width: 100%; height: 200px; border: none; padding: 0px;">
        <div>
            <h3 class="reject_heading accept_bg">Post A Job Before You Can Invite</h3>
        </div>
        <div>
            <p style="padding: 20px;">You don't have any job opened. Please <a href="{% url "job_post_create" %}">post</a> a job first and then invite tutors.</p>
        </div>
        <div style="float: left; width: 100%; clear: both;">
            <input name="live_lesson_request_cancel" type="button" value="Ok" class="btn btn-danger job_invite_cancel pull-right width_100" style="margin-right: 13px;">
        </div>
    </div>
    {% else %}
    <div id="id_post_dialog" style="display: none;">
            <h3 class="reject_heading accept_bg" style="margin-top: 0px !important;">Invitation Sent
                <span style="cursor: pointer; right: 20px; top: 20px;" name="job_apply_cancel" class="job_invite_cancel glyphicon glyphicon-remove pull-right"></span></h3>

            <div class="row">
                <div class="col-md-12" style="padding: 10px; padding-left: 30px;">
                    <p>Your invitation has been sent successfully.</p>
                </div>
            </div>
            <div class="row">
                <div class='col-sm-3'>

                </div>
                <div class='col-sm-9' style="padding: 7px;">
                    <input name="live_lesson_request_cancel" type="button" value="Ok" class="btn btn-danger job_invite_cancel pull-right width_100" style="margin-right: 13px;">
                </div>
            </div>
        </div>
    <div id="id_job_invite_form_content">
    <h3 class="reject_heading accept_bg" style="margin-top: 0px !important;">Invite Tutor
                <span style="cursor: pointer; right: 20px; top: 20px;" name="job_apply_cancel" class="job_invite_cancel glyphicon glyphicon-remove pull-right"></span></h3>
    <form id="id_invite_tutor_dialog_form" action="#" class="lesson_bx_form" name="msg_form" enctype="multipart/form-data" method="POST">
    <div>
        <div class="row">
            <div class='col-sm-10'>
                {% csrf_token %}
            </div>
        </div>
        <div class="row" style="margin-left: 0px; margin-right: 0px;">
            <div class='col-sm-12'>
                <div>
                    <div class="new_lesson_bx" style="border: none; width: 100%; margin-bottom: 20px;">
                        {% csrf_token %}
                        <div class="row">
                            <div class='col-sm-2'>
                                <label>Tutor</label>
                                <input type="hidden" name="job_id" value="{{ job.pk }}"/>
                            </div>
                            <div class='col-sm-10'>
                                {% if tutor %}
                                <select name="invite_tutor" data-job-id="{{ job.pk }}" class="form-control lesson-request-select invite_tutor" style="color: black; cursor: pointer;">
                                    <option value="{{ tutor.user.pk }}">{{ tutor.fullname }}</option>
                                </select>
                                {% else %}
                                <select name="invite_tutor" data-job-id="{{ job.pk }}" id="id_invite_tutor_list" class="form-control lesson-request-select invite_tutor" style="color: black; cursor: pointer;">

                                </select>
                                {% endif %}
                                <div class="invite_error">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-12'>
                                <br/>
                            </div>
                        </div>
                        {% if job %}
                            <div class="row">
                                <div class='col-sm-2'>
                                    <label>Job</label>
                                </div>
                                <div class='col-sm-10'>
                                    <select name="job_list" class="form-control job_invite_job" style="cursor: pointer;">
                                        <option value="{{ job.pk }}">{{ job.title }}</option>
                                    </select>
                                    <div class="invite_error">

                                    </div>
                                </div>
                            </div>
                        {% else %}
                        <div class="row">
                            <div class='col-sm-2'>
                                <label>Select Job</label>
                            </div>
                            <div class='col-sm-10'>
                                <select name="job_list" class="form-control job_invite_job" style="cursor: pointer;">
                                    <option value="-1">Select Job</option>
                                    {% for open_job in open_jobs %}
                                    <option value="{{ open_job.pk }}">{{ open_job.title }}</option>
                                    {% endfor %}
                                </select>
                                <ul class="dropdown-menu">Select Job
                                  <li><a href="/job/3/edit/"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
                                  <li id="id_job_delete"><a href="/job/3/delete/"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                                  <li data-job-id="3" class="invite_tutors"><a href="#"><span class="glyphicon glyphicon-plus"></span> Invite Tutors</a></li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class='col-sm-2'>

                            </div>
                            <div class='col-sm-10' id="id_job_summary" style="padding-top: 13px;">
                                <!-- Job summary will be loaded here. !-->
                                {% if job and job_summary %}
                                {{ job_summary }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-12'>
                                <br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-2'>
                                <label>Note</label>
                            </div>
                            <div class='col-sm-10'>
                                <textarea name="invite_lesson_note" id="id_invite_lesson_note" rows="5" class="form-control">{% if tutor and email_template %}{{ email_template }}{% endif %}</textarea>
                                <div class="invite_error">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-12'>
                                <div style="height: 20px;"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-2'>

                            </div>
                            <div class='col-sm-10'>
                                <input name="live_lesson_request_submit" type="submit" value="Send Invitation" class="btn btn-success job_invite_submit pull-right width_130" style="padding: 7px; font: 14px/28px 'HelveticaNeueLTStd-Roman'">
                                <input name="live_lesson_request_cancel" type="button" value="Cancel" class="btn btn-danger job_invite_cancel pull-right width_130" style="margin-right: 13px;padding: 7px; font: 14px/28px 'HelveticaNeueLTStd-Roman'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    </div>
    {% endif %}
    {% endif %}
    </div>
</div>
{% else %}
<div id="id_invite_tutor_dialog" style="margin:0px auto; {% if margin_top %}margin-top: 10%;{% endif %}">
    <div class="container" style="width: 600px !important;">
        <div class="row">
            <div class='col-sm-10'>
                <h3 class="lesson_bx_label"><span class="glyphicon glyphicon-warning-sign" style="color: #D02020;"></span> Please login before you can invite</h3>
                <p>Click <a style="font: 16px/21px proxima_novaregular !important;" href="{% url "user_login" %}">here</a> to login or sign up</p>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-3'>

            </div>
            <div class='col-sm-9'>
                <input name="live_lesson_request_cancel" type="button" value="Ok" class="btn btn-danger job_invite_cancel pull-right width_100" style="margin-right: 13px;">
            </div>
        </div>
    </div>
</div>
{% endif %}