{% load staticfiles %}
{% load datefilters %}
{% load utility_filter %}
{% load tz %}

<li data-last-dt="{{ job_invitation.date_created }}">
    <h3 class="champ_aboutme_heading3" title="{{ job_invitation.job.title }}">{{ job_invitation.job.title|truncatechars:30 }}<em>
        ({{ job_invitation.job.render_lesson_type_verbal }})</em>
        <input type="hidden" name="hidden_job_post_id" class="hidden_job_post_id" value="{{ job_invitation.job.pk }}"/>
    </h3>
    <span class="app_invited">INVITED</span>
    <p class="champ_aboutme_text">{{ job_invitation.job.description|truncatechars:200 }}</p>
    <div class="invitation_status">
        {% if job_invitation.status == 1 %}  <!-- Pending !-->
                <span class="champ_pending">Pending</span>
        {% elif job_invitation.status == 2 %}  <!-- Applied !-->
                <span class="champ_applied">Applied</span>
        {% elif job_invitation.status == 3 %}  <!-- Cancelled !-->

        {% elif job_invitation.status == 5 %}  <!-- Rejected !-->
                <span class="champ_rejected">Rejected</span>
        {% elif job_invitation.status == 6 %}  <!-- Negotiating !-->

        {% elif job_invitation.status == 7 %}  <!-- Offered by the student !-->

        {% elif job_invitation.status == 8 %}  <!-- Hired !-->
                <span class="champ_matched">Hired</span>
        {% elif job_invitation.status == 9 %}  <!-- Shortlisted !-->
                <span class="champ_applied">Applied</span>
        {% elif job_invitation.status == 10 %}  <!-- Rejected Application !-->

        {% elif job_invitation.status == 12 %}  <!-- Rejected Offer !-->

        {% elif job_invitation.status == 13 %}  <!-- Application withdrawn by you !-->

        {% endif %}
    </div>
    <div class="champ_aboutme_btn">
        <div class="champ_aboutme_btn_left">
            <div class="champ_duration_date">
            <span class="champ_date_icon"><label>posted By:</label>
        <a href="{% url "user_profile" job_invitation.job.posted_by.pk %}">{{ job_invitation.job.posted_by.champuser.fullname }}</a></span>
            <span class="champ_date_icon"><label>posted on:</label>
            <p>{{ job_invitation.job.date_created|fromunix|localtime|format_datetime }}</p></span>
        </div>
        </div>
        <a href="{% url "job_post_details" pk=job_invitation.job.pk %}" class="champ_viewdetail">View Details</a>
    </div>
    <div style="margin-top: 20px; clear: both; float: left;">
        <h5><i>Message from {{ job_invitation.job.posted_by.champuser.fullname }}</i></h5>
        <p class="champ_aboutme_text" style="white-space: break-word; word-wrap: break-word;">{{ job_invitation.invite_message|replace_tags|safe }}</p>
    </div>
</li>

<script>
    $(document).ready(function () {
        function define_message_content_width() {
            var job_invitation_content_width = $("#id_job_invitation_content").width();
            $(".champ_aboutme_text").css({ "max-width": (job_invitation_content_width - 62) + "px" });
        }

        setTimeout(define_message_content_width, 1000);
    });
</script>