{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<style>
    #rd_popup_dialog {
        width: 600px;
        height: auto;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        top: 40px;
        z-index: 10001;
        background: white;
        width: 50%;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        display: none;
        left: 25%;
    }
    .inline {
        display: inline;
    }
    .no_display {
        display: none;
    }
    .job_apply_summary_row {
        margin-top: 7px !important;
    }
    .__summary_heading {
        width: 170px;
        font-weight: bold;
        font-size: 13px;
    }
</style>

<div id="popup_dialog">
  <div class="postneed_bx1">
    <!-- <a href="#" class="cross"><img src="images/cross.png" width="25" height="25" alt="Close" /></a> -->

	<h3 class="reject_heading">Reject <span style="cursor: pointer; right: 20px; top: 20px;" name="job_apply_cancel" class="glyphicon glyphicon-remove pull-right" id="id_job_apply_cancel"></span></h3>
	<div class="reject_detail" style="width: 100%;">
		<h4 class="champ_finance_heading">{{ job.title }} <em>({{ job.render_lesson_type_verbal }})</em></h4>
        <input type="hidden" name="job_id" id="__rd_job_id" value="{{ job.pk }}"/>
        <input type="hidden" name="job_id" id="__job_id" value="{{ job.pk }}"/>

		<p class="champ_last_text">{{ job.description|truncatechars:300 }}</p>

        <div class="reject_reason" style="margin-top: 0px; padding-top: 0px;">

        </div>
		<div class="champ_duration_date" style="margin-top: 20px;">
			<span class="champ_date_icon"><label>Start Date:</label>
			<p>{{ job.lesson_time|fromunix|localtime|format_datetime }}</p></span>
			<span class="champ_duration_icon"><label>duration:</label>
			<p>{{ job.lesson_duration }} minutes</p></span>
			<span class="champ_rate_icon"><label>Rate:</label>
			<p>${{ job.preference.rate.rate_value|floatformat:"2" }}/hr ({{ job.preference.currency }})</p></span>

			<a href="#" class="reject_btn" id="id_job_recommendation_reject_submit">Reject</a>
	    </div>
  </div>
</div>