{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<style>
    #id_applicant_reject_dialog {
        width: 580px;
        height: auto;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        top: 40px;
        z-index: 10001;
        background: white;
        width: 50%;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        left: 25%;
        padding-bottom: 20px;
    }
    .inline {
        display: inline;
    }
    .no_display {
        display: none;
    }
    .width_130 {
        width: 130px;
    }
</style>
<script>
    $(document).ready(function() {

    });
</script>


<div id="popup_dialog">
  <div class="postneed_bx1">
    <!-- <a href="#" class="cross"><img src="images/cross.png" width="25" height="25" alt="Close" /></a> -->

	<h3 class="reject_heading">Reject <span style="cursor: pointer; right: 20px; top: 20px;" name="job_apply_cancel" class="glyphicon glyphicon-remove pull-right" id="id_job_apply_cancel"></span></h3>
	<div class="reject_detail" style="width: 100%;">
        <form id="id_job_application_reject_form" name="job_application_reject_form" method="POST" action="#">
        {% csrf_token %}
        <input type="hidden" name="job_id" id="__job_id" value="{{ job.pk }}"/>
        <input type="hidden" name="tutor_id" id="__tutor_id" value="{{ tutor_id }}"/>

		<h4 class="champ_finance_heading">{{ job.title }} <em>({{ job.render_lesson_type_verbal }})</em></h4>
		<p class="champ_last_text">{{ job.description|truncatechars:300 }}</p>
        <div>
            <h3 class="reject_reason_heading" style="color:#808080; font-size: 14px; font-weight: bold;">Would you like to state the reason of rejecting the application?</h3>
            <ul class="list-inline job-status-list pull-right reject_reason_link" style="display: inline;">
              <li id="id_state_apply_message_yes"><a href="#" style="color: gray !important;">Yes</a></li>
              <li id="id_state_apply_message_no" style="display: none;"><a href="#" style="color: gray !important;">No</a></li>
            </ul>
            <div id="id_apply_info_panel" style="width: 100%; float: left; display: none;">
                <input type="hidden" name="state_reason" id="id_state_apply_message_flag" value="0"/>
                <textarea name="reason" class="reject_reason_textarea" rows="5" style="padding: 10px; max-width: 100%;" id="id_state_apply_message" placeholder="Reason of rejecting the application..."></textarea>
            </div>
        </div>
		<div class="champ_duration_date" style="margin-top: 20px;">
			<span class="champ_date_icon"><label>Start Date:</label>
			<p>{{ job.lesson_time|fromunix|localtime|format_datetime }}</p></span>


            <div class=".start_date_edit_panel inline no_display" id="id_start_date_edit_panel" style="width: 100px;">
                <input type="text" class="form-control inline" id="__id_start_date" style="width: 170px; display: inline;" value="{{ job.lesson_time|fromunix|localtime|format_datetime2:"%m/%d/%Y %H:%M" }}"/>
            </div>


			<span class="champ_duration_icon"><label>duration:</label>
			<p>{{ job.lesson_duration }} minutes</p></span>

            <div class=".duration_edit_panel inline no_display" id="id_duration_edit_panel">
                <select id="__id_duration" class="form-control" style="width: 170px; display: inline; cursor: pointer;">
                    <option value="-1">Select Duration</option>
                    {% for value, label in duration_list %}
                    {% if value == job.lesson_duration %}
                        <option value="{{ value }}" selected>{{ label }}</option>
                    {% else %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

			<span class="champ_rate_icon"><label>Rate:</label>
			<p>${{ job.preference.rate.rate_value|floatformat:"2" }}/hr ({{ job.preference.currency }})</p></span>

			<div class=".rate_edit_panel inline no_display" id="id_rate_edit_panel">
                <select id="__id_currency" class="form-control" style="width: 170px; display: inline; cursor: pointer;">
                    {% for code, name in currency_list %}
                        {% if code == job.preference.currency %}
                            <option value="{{ code }}" selected>{{ name }}</option>
                        {% else %}
                            <option value="{{ code }}">{{ name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                $<input type="text" id="__id_rate" class="form-control" style="width: 100px; display: inline;" value="{{ job.preference.rate.rate_value|floatformat:"2" }}"/>/hour
            </div>


            <div class=".repeat_panel inline no_display" id="id_repeat_panel">
                <select class="form-control" id="id_apply_repeat" name="apply_repeat">
                    <option value="1">No Repeat</option>
                    <option value="2">Repeat Daily</option>
                    <option value="3">Repeat Weekly</option>
                </select>
            </div>


            <a href="#" name="job_application_reject_submit" class="reject_btn reject_bg job_applicant_reject_submit" id="id_job_application_reject_submit" style="margin-left: 0px !important; float: right;">Reject</a> &nbsp;&nbsp;

	    </div>
        </form>
  </div>
  </div>
</div>


<!--<div id="id_applicant_reject_dialog" style="margin:0px auto">-->
    <!-- -->
<!--</div>-->