{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<style>
    #id_applicant_hire_dialog {
        width: 580px;
        height: auto;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        top: 20px;
        z-index: 10001;
        background: white;
        width: 50%;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        left: 25%;
        padding-bottom: 20px;
    }
    .inline {
        display: inline;
    }
    .no_display {
        display: none;
    }
    .width_130 {
        width: 130px;
    }
    .lesson_bx_label {
        float: right;
    }
</style>
<script>
    $(document).ready(function() {
        $("#id_lesson_start_date").datetimepicker({
            defaultDate: '10/05/2015 01:50 am',
            format: 'DD/MM/YYYY hh:mm a'
        });

        //$("select[name=hire_lesson_currency]").select2();

    });
</script>

<div id="popup_dialog">
  <div class="postneed_bx2">
    <!-- <a href="#" class="cross"><img src="images/cross.png" width="25" height="25" alt="Close" /></a> -->

	<h3 class="reject_heading accept_bg">Hire {{ tutor.fullname }} <span style="cursor: pointer; right: 20px; top: 20px;" name="job_apply_cancel" class="glyphicon glyphicon-remove pull-right" id="id_job_apply_cancel"></span></h3>
	<div class="reject_detail" style="width: 100%; padding: 7px 7px 20px 7px;">
            <form id="id_applicant_hire_dialog_form" action="#" class="lesson_bx_form" name="msg_form" enctype="multipart/form-data" method="POST">
                <div class="container" style="width: 100%;">
                    <div class="row">
                        <div class='col-sm-10'>
                            {% csrf_token %}
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12'>
                            <div>
                                <div class="new_lesson_bx" style="width: 100%; border: none;">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class='col-sm-3'>
                                            <label class="lesson_bx_label">Tutor</label>
                                            <input type="hidden" name="job_id" value="{{ job.pk }}"/>
                                        </div>
                                        <div class='col-sm-9'>
                                            {% if tutor %}
                                            <select name="hire_tutor" class="form-control lesson-request-select" style="width: 200px; color: black; cursor: pointer;">
                                                <option value="{{ tutor.user.pk }}">{{ tutor.fullname }}</option>
                                            </select>
                                            {% else %}
                                            <select name="hire_tutor" class="form-control lesson-request-select" style="color: black; cursor: pointer;">
                                                <option value="-1">Select a tutor</option>
                                            </select>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-sm-3'>
                                            <label class="lesson_bx_label">Start Date</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" name="hire_lesson_start_date" id="id_lesson_start_date" style="width: 200px; " {% if lesson_start_date %} value="{{ lesson_start_date }}" {% endif %} placeholder="11/04/2015 1:50 PM" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-sm-3'>
                                            <label class="lesson_bx_label">Duration</label>
                                        </div>
                                        <div class='col-sm-9'>
                                            <select id="__id_duration" name="hire_lesson_duration" class="form-control" style="width: 200px;  display: inline; cursor: pointer;">
                                                {% for value, label in duration_list %}
                                                {% if value == lesson_duration %}
                                                    <option value="{{ value }}" selected>{{ label }}</option>
                                                {% else %}
                                                    <option value="{{ value }}">{{ label }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-sm-3'>
                                            <label class="lesson_bx_label">Hourly Rate</label>
                                        </div>
                                        <div class='col-sm-3'>
                                            $<input type="text" name="hire_lesson_rate" class="form-control" value="{{ job_application.settlement.price|floatformat:2 }}" style="width: 170px; display: inline;"/>
                                        </div>
                                        <div class='col-sm-5'>
                                            <select id="rate_currency" name="hire_lesson_currency" class="form-control" style="width: 200px; display: inline; cursor: pointer;">
                                                {% for code, name in currency_list %}
                                                {% if code == job_application.settlement.currency %}
                                                    <option value="{{ code }}" selected>{{ name }}</option>
                                                {% else %}
                                                    <option value="{{ code }}">{{ name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-sm-3'>
                                            <label class="lesson_bx_label">Repeats</label>
                                        </div>
                                        <div class='col-sm-9'>
                                            <div class="repeats_radio"> <input type="radio" checked="checked" value="1" name="hire_lesson_repeats" id="single_lesson"> <label for="single_lesson"> Single lesson </label> </div>
                                            <div class="repeats_radio"> <input type="radio" name="hire_lesson_repeats" value="2" id="daily"> <label for="daily"> Daily </label> </div>
                                            <div class="repeats_radio"> <input type="radio" name="hire_lesson_repeats" value="3" id="weekly"> <label for="weekly"> Weekly </label> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-sm-3'>
                                            <label class="lesson_bx_label">Subject</label>
                                        </div>
                                        <div class='col-sm-9'>
                                            <select name="hire_lesson_subject" class="form-control lesson-request-select" id="id_lesson_request_subject" style="width: 200px; cursor: pointer;">
                                                {% for subject_id, subject_name in tutor_subject_list %}
                                                {% if subject == subject_name %}<option value="{{ subject_id }}"  selected>{{ subject_name }}</option>{% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-sm-3'>
                                            <label class="lesson_bx_label">Note</label>
                                        </div>
                                        <div class='col-sm-9'>
                                            <textarea name="hire_lesson_note" rows="5" class="form-control">{% if offer_message %}{{ offer_message }}{% endif %}</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-sm-12'>
                                            <div style="height: 20px;"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-sm-3'>

                                        </div>
                                        <div class='col-sm-9'>
                                            <input name="live_lesson_request_submit" type="submit" value="Send Job Offer" class="btn btn-primary job_applicant_hire_submit pull-right width_130">
                                            <input name="live_lesson_request_cancel" type="button" value="Cancel" class="btn btn-danger job_applicant_hire_cancel pull-right width_130" style="margin-right: 13px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>
  </div>
</div>