{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<style>
    #rd_popup_dialog {
        width: 600px;
        height: auto;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        top: 40px;
        z-index: 10001;
        background: white;
        width: 50%;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        display: none;
        left: 25%;
    }
    .inline {
        display: inline;
    }
    .no_display {
        display: none;
    }
    .job_apply_summary_row {
        margin-top: 7px !important;
    }
    .__summary_heading {
        width: 170px;
        font-weight: bold;
        font-size: 13px;
    }
</style>

<div id="popup_dialog">
  <div class="postneed_bx1">
    <!-- <a href="#" class="cross"><img src="images/cross.png" width="25" height="25" alt="Close" /></a> -->

	<h3 class="reject_heading">Reject <span style="cursor: pointer; right: 20px; top: 20px;" name="job_apply_cancel" class="glyphicon glyphicon-remove pull-right" id="id_job_apply_cancel"></span></h3>
	<div class="reject_detail" style="width: 100%;">
		<h4 class="champ_finance_heading">{{ job.title }} <em>({{ job.render_lesson_type_verbal }})</em></h4>
        <input type="hidden" name="job_id" id="__rd_job_id" value="{{ job.pk }}"/>
        <input type="hidden" name="job_id" id="__job_id" value="{{ job.pk }}"/>

		<p class="champ_last_text">{{ job.description|truncatechars:300 }}</p>

        <div class="reject_reason" style="margin-top: 0px; padding-top: 0px;">
            <h3 class="reject_reason_heading" style="color:#808080; font-size: 14px; font-weight: bold;">Would you like to state your reason of rejecting the offer?</h3>
             <ul class="list-inline job-status-list pull-right reject_reason_link" style="display: inline;">
              <li id="id_state_reject_reason"><a href="#" style="color: gray !important;">Yes</a></li>
              <li id="id_no_state_reject_reason" style="display: none;"><a href="#" style="color: gray !important;">No</a></li>
            </ul>
            <div id="id_apply_info_panel" style="width: 100%; float: left; display: none;">
            <input type="hidden" name="state_reason" id="id_state_reason" value="0"/>
            <textarea placeholder="Reason of Rejecting the offer" id="id_state_reason_message" style="padding: 10px; max-width: 100%; " class="reject_reason_textarea"></textarea>
            </div>

            <div style="color: red; display: none;" id="id_state_reason_error">

            </div>
        </div>
		<div class="champ_duration_date" style="margin-top: 20px;">
			<span class="champ_date_icon"><label>Start Date:</label>
			<p>{{ job.lesson_time|fromunix|localtime|format_datetime }}</p></span>
			<span class="champ_duration_icon"><label>duration:</label>
			<p>{{ job.lesson_duration }} minutes</p></span>
			<span class="champ_rate_icon"><label>Rate:</label>
			<p>${{ job.preference.rate.rate_value|floatformat:"2" }}/hr ({{ job.preference.currency }})</p></span>

			<a href="#" class="reject_btn" id="id_job_reject_submit">Reject</a>
	    </div>
  </div>
</div>

<script>
$('a.reject_yes').click(function () {
	$('.reject_reason_textarea').removeClass('displaynone');
});
$('a.reject_no').click(function () {
	$('.reject_reason_textarea').addClass('displaynone');
});
</script>