{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/themes/smoothness/jquery-ui.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}"/>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/jquery.datetimepicker.full.js" %}"></script>
<script src="{% static "js/lib/rate_api.js" %}"></script>
<script>
$('#__id_start_date').datetimepicker({
	format:'m/d/Y H:i',
	step:5
});
</script>

<style>

    .inline {
        display: inline;
    }
    .no_display {
        display: none;
    }
    .job_apply_summary_row {
        margin-top: 7px !important;
    }
    .__summary_heading {
        width: 170px;
        font-weight: bold;
        font-size: 13px;
    }
    .job_apply_input, .job_apply_select {
        height: 30px; float:left; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: rgba(255,255,255,1); color:#a6a6a6; font:14px/18px 'HelveticaNeueLTStd-Light'; border: solid 1px #dfdfdf; padding:0 10px; display:inline;
    }

    .apply_repropose label {
        margin-top: 4px;
    }

    .error_border {
        border: 1px solid red;
    }

</style>
<script>
    $(document).ready(function() {
        //$("#__id_currency").select2();
        $("#__id_start_date").datetimepicker();
    });
</script>
<div id="popup_dialog">
  <div class="postneed_bx2">
    <!-- <a href="#" class="cross"><img src="images/cross.png" width="25" height="25" alt="Close" /></a> -->

	<h3 class="reject_heading accept_bg">Apply <span style="cursor: pointer; right: 20px; top: 20px;" name="job_apply_cancel" class="glyphicon glyphicon-remove pull-right" id="id_job_apply_cancel"></span></h3>
	<div id="id_apply_dialog_form" class="reject_detail" style="width: 100%;">

        <input type="hidden" name="job_id" id="__job_id" value="{{ job.pk }}"/>

		<h4 class="champ_finance_heading">{{ job.title }} <em>({{ job.render_lesson_type_verbal }})</em></h4>
		<p class="champ_last_text">{{ job.description|truncatechars:300 }}</p>
        <div>
            <h3 class="reject_reason_heading" style="color:#808080; font-size: 14px; font-weight: bold;">Would you like to repropose something else?</h3>
            <ul class="list-inline job-status-list pull-right reject_reason_link" style="display: inline;">
              <li id="id_state_apply_message_yes"><a href="#" style="color: gray !important;">Yes</a></li>
              <li id="id_state_apply_message_no" style="display: none;"><a href="#" style="color: gray !important;">No</a></li>
            </ul>
            <div id="id_apply_info_panel" style="width: 100%; float: left; display: none;">
                <div class="champ_duration_date">
                    <span class="apply_repropose">
                        <label>Start Date: </label>
                        <input type="text" id="__id_start_date" class="job_apply_input" style="float: left; width: 140px;" data-default="{{ job.lesson_time|fromunix|localtime|format_datetime2:"%m/%d/%Y %H:%M" }}" value="{{ job.lesson_time|fromunix|localtime|format_datetime2:"%m/%d/%Y %H:%M" }}"/>
                    </span>

                    <span class="apply_repropose">
                        <label>Duration: </label>
                        <select id="__id_duration" data-default="{{ job.lesson_duration }}" class="job_apply_select" style="float: left; width: 120px;">
                            {% for value, label in duration_list %}
                            {% if value == job.lesson_duration %}
                                <option value="{{ value }}" selected>{{ label }}</option>
                            {% else %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </span>

                    <span class="apply_repropose">
                        <label>Rate: </label>
                        <b style="font-weight: normal; float: left; margin-top: 6px;">{{ job.preference.currency.upper }}</b> <input data-basecurrency="{{ job.preference.currency }}" data-targetcurrency="{{ target_currency }}" data-conversion-enabled="{{ conversion_enabled }}" type="text" id="__id_rate" class="job_apply_input" style="float: left; width: 85px;" data-default="{{ job.preference.rate.rate_value|floatformat:"2" }}" value="{{ job.preference.rate.rate_value|floatformat:"2" }}"/>
                        <div class="rate_conv_value" style="top: 3px; text-align: right; display: none;">
                            ≈ 50 USD
                        </div>
                    </span>
                </div>
                <input type="hidden" name="state_reason" id="id_state_apply_message_flag" value="0"/>
                <textarea class="reject_reason_textarea" rows="5" style="padding: 10px; max-width: 100%;" id="id_state_apply_message" placeholder="Write some words to student..."></textarea>
            </div>
        </div>
		<div class="champ_duration_date" style="margin-top: 20px;">
			<span class="champ_date_icon"><label>Start Date:</label>
			<p>{{ job.lesson_time|fromunix|localtime|format_datetime }}</p></span>


            <span class="champ_duration_icon"><label>duration:</label>
			<p>{{ job.lesson_duration }} minutes</p></span>

            <span class="champ_rate_icon"><label>Rate:</label>
			<p><b style="font-weight: normal; ">${{ job.preference.rate.rate_value|floatformat:"2" }}/hr ({{ job.preference.currency }})</b>
            {% if conversion_enabled %}
                <br/>
                <b style="font-weight: normal; ">${{ converted_value|floatformat:"2" }}/hr ({{ target_currency }})</b>
            {% endif %}
            </p>
            </span>

			<div class=".repeat_panel inline no_display" id="id_repeat_panel">
                <select class="form-control" id="id_apply_repeat" name="apply_repeat">
                    <option value="1">No Repeat</option>
                    <option value="2">Repeat Daily</option>
                    <option value="3">Repeat Weekly</option>
                </select>
            </div>


            <a href="#" name="job_apply_submit" class="reject_btn accept_bg" id="id_job_apply_submit" style="margin-right: 0px !important;">Apply Job</a> &nbsp;&nbsp;

	    </div>
  </div>
</div>
</div>