{% load staticfiles %}
<style>
    .job-tutor-header {
        font-size: 17px;
    }
    .job-tutor-header a {
        font-size: 17px;
    }
    .job-tutor-terms-summary {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .job-tutor-terms-summary ul li {
        list-style-type: none;
    }
    .status_circle-all {
        border-radius: 50%;
        width: 7px !important;
        height: 7px;
        background: #efefef;
        border: 2px solid black;
    }
</style>
<ul class="champ_all_status_list" style="min-height: 600px;">
{% for row in data_rows %}
{{ row }}
{% empty %}
<li>
<div class="text-center">
    <div style="margin: 13px;">
    No data found.
    </div>
</div>
</li>
{% endfor %}
</ul>
<script type="text/javascript" src="{% static "js/job_details_tutor_action.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.selectbox-0.1.3.min.js" %}"></script>
<script type="text/javascript">
	$(function () {
	$(".loct").selectbox();
	var len = $(".loct").parent();
	$(len).click(function(e){
   e.stopPropagation();
   $(".sbOptions",this).show();
    $("body").click(function(e){
     if(e.target.id != "loct")
     {
     $(".sbOptions",this).hide();
     $("body").unbind("click");
     }
    });
    });
});
</script>