{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<style>
    .display_block {
        width: 100%;
        margin-bottom: 13px;
        float: left;
    }
</style>
<div>
    <h3 class="job-tutor-header">
        <a href="{% url "user_profile" pk=tutor.pk %}">{{ tutor.champuser.fullname }}</a>
        {% if status_circle == "all" %}  <!-- Applied !-->
            {% if status == 2 %} <!-- Applied !-->
                <div class="dropdown pull-right">
                    <span style="cursor: pointer;" class="dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></span>
                    <ul class="dropdown-menu">
                        <li><a href="{{ application_link }}" style="font-size: 13px;"> View job application</a></li>
                    </ul>
                </div>
            {% elif status == 7 or status == 8 %} <!-- Offered or Hired !-->
                <div class="dropdown pull-right">
                    <span style="cursor: pointer;" class="dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></span>
                    <ul class="dropdown-menu">
                        <li><a href="{{ application_link }}" style="font-size: 13px;"> View job application</a></li>
                        <li><a href="#" style="font-size: 13px;"> View Offer Sent</a></li>
                    </ul>
                </div>
            {% endif %}
        {% elif status_circle == "applied" %}  <!-- Applied !-->
            {% if status == 7 or status == 8 %} <!-- Offered or Hired !-->
                <div class="dropdown pull-right">
                    <span style="cursor: pointer;" class="dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></span>
                    <ul class="dropdown-menu">
                        <li><a href="{{ application_link }}" style="font-size: 13px;"> View job application</a></li>
                        <li><a href="#" style="font-size: 13px;"> View Offer Sent</a></li>
                    </ul>
                </div>
            {% else %}
            <div class="dropdown pull-right">
                <span style="cursor: pointer;" class="dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></span>
                <ul class="dropdown-menu">
                  <li><a href="{{ application_link }}" style="font-size: 13px;"> View job application</a></li>
                </ul>
            </div>
            {% endif %}
        {% endif %}
    </h3>
    <div class="job-tutor-univ">
        {{ tutor.champuser.current_school }}
    </div>
    <div class="job-tutor-terms-summary">
        <ul>
          <li>Rate: {{ currency }} {{ rate|floatformat:"2" }}</li>
          <li>Start: {{ start_time|fromunix|localtime|format_datetime }}</li>
          <li>Duration: {{ duration }} min</li>
        </ul>
    </div>
    <div class="job-tutor-experience">
        <p>
            {{ exp_details|truncatechars:200 }}
        </p>
    </div>
    <div>
        {% if status_circle == "all" %}  <!-- Applied !-->
            {% if status == 1 %} <!-- Active !-->
                <input type="hidden" class="job_id" value="{{ job.pk }}"/>
                <input type="hidden" class="tutor_id" value="{{ tutor.pk }}"/>
                <input type="hidden" class="tutor_name" value="{{ tutor.champuser.fullname }}"/>
                <input type="hidden" class="online_status" {% if tutor.champuser.online_status == 1 %} value="online"{% elif tutor.champuser.online_status == 0 %} value="offline" {% endif %}/>
                <input type="hidden" class="tutor_pp" value="{{ tutor.champuser.render_profile_picture }}"/>
                <ul class="list-inline job-status-list" style="width: 60%; display: inline;">
                  <li class="job_application_negotiate"><a href="#">Negotiate</a></li>
                </ul>
                <div class="pull-right"><div class="job-symbol symbol-pending"></div> <div class="symbol-content">Pending</div></div>
            {% elif status == 2 %} <!-- Applied !-->
                <input type="hidden" class="job_id" value="{{ job.pk }}"/>
                <input type="hidden" class="tutor_id" value="{{ tutor.pk }}"/>
                <input type="hidden" class="tutor_name" value="{{ tutor.champuser.fullname }}"/>
                <input type="hidden" class="online_status" {% if tutor.champuser.online_status == 1 %} value="online"{% elif tutor.champuser.online_status == 0 %} value="offline" {% endif %}/>
                <input type="hidden" class="tutor_pp" value="{{ tutor.champuser.render_profile_picture }}"/>
                <ul class="list-inline job-status-list" style="width: 60%; display: inline;">
                  <li class="job_application_action_hire"><a href="#" class="active">Hire</a></li>|
                  <li class="job_application_message"><a href="#">Message</a></li>|
                  <li class="job_application_action_shortlist"><a href="#">Shortlist</a></li>|
                  <li class="job_application_action_reject"><a href="#">Reject</a></li>
                </ul>
                <div class="pull-right"><div class="job-symbol symbol-applied"></div> <div class="symbol-content">Applied</div></div>
            {% elif status == 3 %} <!-- Cancelled !-->
                <div class="display_block"><div class="pull-right"><div class="job-symbol symbol-cancelled"></div> <div class="symbol-content">Cancelled</div></div></div>
            {% elif status == 4 %} <!-- Accepted !-->
                <div class="display_block"><div class="pull-right"><div class="job-symbol symbol-accepted"></div> <div class="symbol-content">Accepted</div></div></div>
            {% elif status == 5 %} <!-- Rejected !-->
                <div class="display_block"><div class="pull-right"><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">Rejected</div></div></div>
            {% elif status == 6 %} <!-- Negotiating !-->
                <input type="hidden" class="job_id" value="{{ job.pk }}"/>
                <input type="hidden" class="tutor_id" value="{{ tutor.pk }}"/>
                <input type="hidden" class="tutor_name" value="{{ tutor.champuser.fullname }}"/>
                <input type="hidden" class="online_status" {% if tutor.champuser.online_status == 1 %} value="online"{% elif tutor.champuser.online_status == 0 %} value="offline" {% endif %}/>
                <input type="hidden" class="tutor_pp" value="{{ tutor.champuser.render_profile_picture }}"/>
                <ul class="list-inline job-status-list" style="width: 60%; display: inline;">
                  <li class="job_application_message"><a href="#">Message</a></li>
                </ul>
                <div class="pull-right"><div class="job-symbol symbol-negotiating"></div> <div class="symbol-content">Negotiating</div></div>
            {% elif status == 7 %} <!-- Offered !-->
                <input type="hidden" class="job_id" value="{{ job.pk }}"/>
                <input type="hidden" class="tutor_id" value="{{ tutor.pk }}"/>
                <input type="hidden" class="tutor_name" value="{{ tutor.champuser.fullname }}"/>
                <input type="hidden" class="online_status" {% if tutor.champuser.online_status == 1 %} value="online"{% elif tutor.champuser.online_status == 0 %} value="offline" {% endif %}/>
                <input type="hidden" class="tutor_pp" value="{{ tutor.champuser.render_profile_picture }}"/>
                <ul class="list-inline job-status-list" style="width: 60%; display: inline;">
                  <li class="job_application_message"><a href="#">Message</a></li>
                </ul>
                <div class="pull-right"><div class="job-symbol symbol-offered"></div> <div class="symbol-content">Offer Sent</div></div>
            {% elif status == 8 %} <!-- Hired !-->
                <div class="display_block"><div class="pull-right"><div class="job-symbol symbol-hired"></div> <div class="symbol-content">Hired</div></div></div>
            {% elif status == 9 %} <!-- Shortlisted !-->
                <input type="hidden" class="job_id" value="{{ job.pk }}"/>
                <input type="hidden" class="tutor_id" value="{{ tutor.pk }}"/>
                <input type="hidden" class="tutor_name" value="{{ tutor.champuser.fullname }}"/>
                <input type="hidden" class="online_status" {% if tutor.champuser.online_status == 1 %} value="online"{% elif tutor.champuser.online_status == 0 %} value="offline" {% endif %}/>
                <input type="hidden" class="tutor_pp" value="{{ tutor.champuser.render_profile_picture }}"/>
                <ul class="list-inline job-status-list" style="width: 60%; display: inline;">
                  <li class="job_application_action_hire"><a href="#" class="active">Hire</a></li>|
                  <li class="job_application_message"><a href="#">Message</a></li>|
                  <li class="job_application_action_shortlist"><a href="#">Shortlist</a></li>|
                  <li class="job_application_action_reject"><a href="#">Reject</a></li>
                </ul>
                <div class="pull-right"><div class="job-symbol symbol-shortlisted"></div> <div class="symbol-content">Shortlisted</div></div>
            {% elif status == 10 %} <!-- Application Rejected !-->
                <div class="display_block"><div class="pull-right"><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">Application Rejected</div></div></div>
            {% elif status == 12 %} <!-- Offer Rejected !-->
                <div class="display_block"><div class="pull-right"><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">Offer Rejected</div></div></div>
            {% endif %}
        {% elif status_circle == "pending" %}  <!-- Pending !-->
            <input type="hidden" class="job_id" value="{{ job.pk }}"/>
            <input type="hidden" class="tutor_id" value="{{ tutor.pk }}"/>
            <input type="hidden" class="tutor_name" value="{{ tutor.champuser.fullname }}"/>
            <input type="hidden" class="online_status" {% if tutor.champuser.online_status == 1 %} value="online"{% elif tutor.champuser.online_status == 0 %} value="offline" {% endif %}/>
            <input type="hidden" class="tutor_pp" value="{{ tutor.champuser.render_profile_picture }}"/>
            <ul class="list-inline job-status-list" style="width: 60%; display: inline;">
              <li class="job_application_negotiate"><a href="#">Negotiate</a></li>
            </ul>
            <div class="pull-right"><div class="job-symbol symbol-pending"></div> <div class="symbol-content">Pending</div></div>
        {% elif status_circle == "negotiating" %}  <!-- Negotiating !-->
            <input type="hidden" class="job_id" value="{{ job.pk }}"/>
            <input type="hidden" class="tutor_id" value="{{ tutor.pk }}"/>
            <input type="hidden" class="tutor_name" value="{{ tutor.champuser.fullname }}"/>
            <input type="hidden" class="online_status" {% if tutor.champuser.online_status == 1 %} value="online"{% elif tutor.champuser.online_status == 0 %} value="offline" {% endif %}/>
            <input type="hidden" class="tutor_pp" value="{{ tutor.champuser.render_profile_picture }}"/>
            <ul class="list-inline job-status-list" style="width: 60%; display: inline;">
              <li class="job_application_message"><a href="#">Message</a></li>
            </ul>
            <!--<div class="pull-right"><div class="job-symbol symbol-pending"></div> <div class="symbol-content">Pending</div></div>-->
        {% elif status_circle == "rejected" %}  <!-- Rejected !-->
            <!--<div class="pull-right"><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">Rejected</div></div>-->
        {% elif status_circle == "applied" %}  <!-- Applied !-->
            {% if status == 7 %} <!-- Offered !-->
                <!--<div class="pull-right"><div class="job-symbol symbol-offered"></div> <div class="symbol-content">Offer Sent</div></div>-->
                <input type="hidden" class="job_id" value="{{ job.pk }}"/>
                <input type="hidden" class="tutor_id" value="{{ tutor.pk }}"/>
                <input type="hidden" class="tutor_name" value="{{ tutor.champuser.fullname }}"/>
                <input type="hidden" class="online_status" {% if tutor.champuser.online_status == 1 %} value="online"{% elif tutor.champuser.online_status == 0 %} value="offline" {% endif %}/>
                <input type="hidden" class="tutor_pp" value="{{ tutor.champuser.render_profile_picture }}"/>
                <ul class="list-inline job-status-list" style="width: 60%; display: inline;">
                  <li class="job_application_message"><a href="#">Message</a></li>
                </ul>
            {% elif status == 8 %} <!-- Hired !-->
                <!--<div class="pull-right"><div class="job-symbol symbol-hired"></div> <div class="symbol-content">Hired</div></div>-->
            {% else %}
                <input type="hidden" class="job_id" value="{{ job.pk }}"/>
                <input type="hidden" class="tutor_id" value="{{ tutor.pk }}"/>
                <input type="hidden" class="tutor_name" value="{{ tutor.champuser.fullname }}"/>
                <input type="hidden" class="online_status" {% if tutor.champuser.online_status == 1 %} value="online"{% elif tutor.champuser.online_status == 0 %} value="offline" {% endif %}/>
                <input type="hidden" class="tutor_pp" value="{{ tutor.champuser.render_profile_picture }}"/>
                <ul class="list-inline job-status-list" style="width: 60%; display: inline;">
                  <li class="job_application_action_hire"><a href="#" class="active">Hire</a></li>|
                  <li class="job_application_message"><a href="#">Message</a></li>|
                  <li class="job_application_action_shortlist"><a href="#">Shortlist</a></li>|
                  <li class="job_application_action_reject"><a href="#">Reject</a></li>
                </ul>
            {% endif %}
        {% elif status_circle == "shortlisted" %}  <!-- Shortlisted !-->
            <input type="hidden" class="job_id" value="{{ job.pk }}"/>
            <input type="hidden" class="tutor_id" value="{{ tutor.pk }}"/>
            <input type="hidden" class="tutor_name" value="{{ tutor.champuser.fullname }}"/>
            <input type="hidden" class="online_status" {% if tutor.champuser.online_status == 1 %} value="online"{% elif tutor.champuser.online_status == 0 %} value="offline" {% endif %}/>
            <input type="hidden" class="tutor_pp" value="{{ tutor.champuser.render_profile_picture }}"/>
            <ul class="list-inline job-status-list" style="width: 60%; display: inline;">
              <li class="job_application_action_hire"><a href="#" class="active">Hire</a></li>|
              <li class="job_application_message"><a href="#">Message</a></li>|
              <li class="job_application_action_reject"><a href="#">Reject</a></li>
            </ul>
            <div class="pull-right"><div class="job-symbol symbol-shortlisted"></div> <div class="symbol-content">Shortlisted</div></div>
        {% endif %}

        <div class="pull-right" style="width: 40%; display: inline; text-align: right;">
            <!--<span class="status_circle-{{ status_circle }}" style="width: 10px !important; height: 10px !important;"></span>-->
            <!--<span>{% if status_circle == "all" %}Pending{% else %}{{ status_circle }}{% endif %}</span>&nbsp;-->
            {% if status_circle == "applied" %}  <!-- Applied !-->
                {% if status == 7 %} <!-- Offered !-->
                    <div class="pull-right"><div class="job-symbol symbol-offered"></div> <div class="symbol-content">Offer Sent</div></div>
                {% elif status == 8 %} <!-- Hired !-->
                    <div class="pull-right"><div class="job-symbol symbol-hired"></div> <div class="symbol-content">Hired</div></div>
                {% else %}
                    <div class="pull-right"><div class="job-symbol symbol-applied"></div> <div class="symbol-content">Applied</div></div>
                {% endif %}
            {% elif status_circle == "cancelled" %}  <!-- Cancelled !-->
                <div class="pull-right"><div class="job-symbol symbol-cancelled"></div> <div class="symbol-content">Cancelled</div></div>
            {% elif status_circle == "rejected" %}  <!-- Rejected !-->
                {% if status == 10 %}
                <div class="pull-right"><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">Application Rejected</div></div>
                {% elif status == 12 %}
                <div class="pull-right"><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">Offer Rejected</div></div>
                {% elif status == 5 %}
                <div class="pull-right"><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">Rejected</div></div>
                {% endif %}
            {% elif status_circle == "negotiating" %}  <!-- Negotiating !-->
                <div class="pull-right"><div class="job-symbol symbol-negotiating"></div> <div class="symbol-content">Negotiating</div></div>
            {% endif %}
        </div>
    </div>
</div>