{% load staticfiles %}
<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "css/rich-textarea/editor.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{%  static "js/rich-textarea/editor.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
    <script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <link href="{% static "css/jquery-ui-1.10.4.custom.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery-ui-1.11.3.custom/jquery-ui.theme.css" %}" rel="stylesheet">
{#    <script src="{% static "js/bootstrap.popup.dialog.js" %}"></script>#}
    <style type="text/css">
        .width120{
            width:  120px;
        }
        .modal{
            margin-left: auto;
            width:  400px;
            margin-right: auto;
        }
        .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
            border: none;
        }
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
            /* IE 6 doesn't support max-height
             * we use height instead, but this forces the menu to always be this tall
             */
        * html .ui-autocomplete {
            height: 200px;
        }
    </style>
    {% block head_script %}

    {% endblock head_script %}

</head>

<body>
    {% block bodycontent %}

    {% endblock bodycontent %}
</body>
</html>