<div id="new_lesson" style="width: 600px;">
    <div class="new_lesson_bx" style="width: 600px;">
        <h1 class="lesson_bx_heading">Propose Lesson </h1>
        <p id="id_lesson_request_status_msg" style="color: red; border: 1px solid #EFEFEF; padding: 10px; width: 100%; display: none;"></p>
        <form action="/ajax/live-lesson-request/" method="POST" name="live-lesson-request-form" class="lesson_bx_form">
            {% csrf_token %}
            <div>
                <label class="lesson_bx_label">Tutor</label>
                <div class="written_lesson1">
                    <select name="live_lesson_request_tutor" class="form-control lesson-request-select" id="id_lesson_tutor_list" style="color: black; cursor: pointer;">
                        <option value="-1">---</option>
                    </select>
                </div>
            </div>
            <div>
                <div class="container text-center" style="width: 500px;">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="lesson_bx_label">Start time</label>
                        </div>
                        <div class="col-sm-4">
                            <input name="live_lesson_request_start_date" type="text" id="id_lesson_start_date" placeholder="11/04/2015" class="start_time form-control">
                        </div>
                        <div class="col-sm-4">
                            <input name="live_lesson_request_start_time" type="text" id="id_lesson_start_time" placeholder="11:45pm" class="start_time form-control">
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <label class="lesson_bx_label">Duration</label>
                <div class="duration_select1">
                    <select name="live_lesson_request_duration" class="form-control lesson-request-select" style="cursor: pointer;">
                        <option value="-1">---</option>
                        {% for value,label in lesson_duration %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div>
                <label class="lesson_bx_label">Repeats</label>
                <div class="repeats_radio"> <input type="radio" checked="checked" value="single" name="live_lesson_request_repeats" id="single_lesson"> <label for="single_lesson"> Single lesson </label> </div>
                <div class="repeats_radio"> <input type="radio" name="live_lesson_request_repeats" value="daily" id="daily"> <label for="daily"> Daily </label> </div>
                <div class="repeats_radio"> <input type="radio" name="live_lesson_request_repeats" value="weekly" id="weekly"> <label for="weekly"> Weekly </label> </div>
            </div>
            <div>
                <label class="lesson_bx_label">Subject</label>
                <div class="duration_select1">
                    <select name="live_lesson_request_subject" class="form-control lesson-request-select" id="id_lesson_request_subject" style="cursor: pointer;">
                        <option value="-1">---</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="lesson_bx_label">Note</label>
                <textarea name="live_lesson_request_note" placeholder="" class="note"></textarea>
            </div>
            <div>
                <input name="live_lesson_request_submit" type="submit" value="Submit" class="lesson_bx_submit">
                <input name="live_lesson_request_cancel" type="button" value="Cancel" class="lesson_bx_cancle">
            </div>
        </form>
    </div>
</div>