{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
<script src="{% static "js/moment.js" %}"></script>
<script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/themes/smoothness/jquery-ui.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}"/>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/jquery.datetimepicker.full.js" %}"></script>
<style>
    #id_reschedule_blocker_overlay {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: #000000;
        z-index: 101;
        opacity: 0.5;
    }

    #id_reschedule_blocker_dialog {
        position: fixed;
        margin: auto;
        top: 10px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 850px;
        height: 400px;
        background: white;;
        z-index: 102;
    }
</style>
<script>
    $(document).ready(function() {
        $(document).on("click","#id_reminder_dialog_cancel", function(e) {
            e.preventDefault();
            $("#id_reschedule_blocker_overlay").hide();
            $("#id_reschedule_blocker_dialog").hide();
        });

        $("#id_reschedule_time").datetimepicker({
            format:'d/m/Y H:i',
            step:5,
            defaultDate: $(this).val()
        });

        $(document).on("click", "#id_lesson_rescheduled", function(e) {
            e.preventDefault();
            window.location.reload();
        });

        $(document).on("click", "#id_reschedule_confirm", function(e) {
            e.preventDefault();
            var lesson_id = $(this).data("lesson-id");
            var reschedule_time = $("#id_reschedule_time").val();
            if($.trim(reschedule_time) == "") {
                $("#id_reschedule_time").focus();
                return false;
            }
            $(this).prop("disabled",true);
            $("#id_reschedule_confirm").text("Processing...");
            $.ajax({
                type: "POST",
                url: "/ajax/lesson-reschedule/",
                data: { lesson_id: lesson_id, reschedule_time: reschedule_time  },
                success: function(data)
                {
                        var data = jQuery.parseJSON(data);
                        if(data.status == "SUCCESS") {
                            $("#id_reschedule_confirm").text("The lesson has been rescheduled.");
                            $("#id_reschedule_confirm").text("Ok");
                            $("#id_reschedule_confirm").prop("disabled",false);
                            $("#id_reschedule_confirm").prop("id","id_lesson_rescheduled");
                            $("#id_lesson_reschedule_status_msg").find("p").text("Lesson has been rescheduled");
                            $("#id_lesson_reschedule_status_msg").show();
                        }
                        else {
                            $("#id_reschedule_confirm").text("Confirm Schedule");
                            $("#id_lesson_reschedule_status_msg").find("p").text("Lesson reschedule failed");
                            $("#id_lesson_reschedule_status_msg").show();
                        }
                },
                error: function(jqxhr, status, error)
                {
                    $("#id_reschedule_confirm").text("Confirm Schedule");
                    $("#id_lesson_reschedule_status_msg").find("p").text("Lesson reschedule failed");
                    $("#id_lesson_reschedule_status_msg").show();
                }
            })
            .done(function( msg ) {
                $("#id_reschedule_confirm").prop("disabled",false);
            });
        });

    });
</script>
<div id="id_reschedule_blocker_overlay">

</div>
<div id="id_reschedule_blocker_dialog">
    <div class="postneed_bx2">
	    <h3 class="reject_heading accept_bg" style="margin-top: 0px;">Reschedule Lesson <span style="cursor: pointer; right: 20px; top: 20px;" name="reminder_blocker_cancel" class="glyphicon pull-right" id="id_reminder_dialog_cancel">
            <img src="{% static "images/close_trs.png" %}" width="40" height="40"/>
        </span></h3>
        <div class="reject_detail" style="width: 100%;">
            <div style="width: 100%; float: left; clear: both;">
                <a title="View job details" href="{% url "job_post_details" job.pk %}" style="margin-bottom: 10px; "><h4>Lesson Title: {{ lesson.title }}</h4></a>
                <br/>
                <p>{{ job.description|truncatechars:400 }}</p>
                <br/>
                <div class="champ_duration_date" style="margin-top: 20px;">
                    <span class="champ_date_icon"><label>Start Date:</label>
                    <p>{{ lesson.lesson_time|fromunix|localtime|format_datetime }}</p></span>

                    <span class="champ_duration_icon"><label>duration:</label>
                    <p>{{ lesson.duration }} minutes</p></span>

                    <span class="champ_rate_icon"><label>Rate:</label>
                    <p>{% if rate and currency %}${{ rate|floatformat:"2" }}/hr ({{ currency }}){% endif %}</p></span>
                </div>
                <div class="row" style="width: 100%; float: left; clear: both; margin-top: 20px; ">
                    <div class="col-xs-6">
                        <label class="champ_jobsedit_label">Please select alternate time for the lesson</label>
                        <input id="id_reschedule_time" readonly="readonly" style="padding: 7px; width: 350px; border: solid 1px #dfdfdf; " type="text" placeholder="20/11/2015 23:20" value="{{ lesson_date }}">
                    </div>
                </div>
                <div class="champ_duration_date" id="id_lesson_reschedule_status_msg" style="display: none;">
                    <p style="font-size: 15px;" class="label-warning"></p>
                </div>
                <div class="champ_duration_date">
                    <br/>
                    <a href="#" name="remind_blocker_yes" class="reject_btn accept_bg" data-lesson-id="{{ lesson.pk }}" id="id_reschedule_confirm">Confirm Schedule</a>
                </div>
            </div>
        </div>
    </div>
</div>