{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<style>

    .inline {
        display: inline;
    }
    .no_display {
        display: none;
    }
    .job_apply_summary_row {
        margin-top: 7px !important;
    }
    .__summary_heading {
        width: 170px;
        font-weight: bold;
        font-size: 13px;
    }
</style>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div id="id_lesson_detail_dialog">
  <div>
    <!-- <a href="#" class="cross"><img src="images/cross.png" width="25" height="25" alt="Close" /></a> -->

	<div class="reject_detail" style="padding: 0px; margin-bottom: 20px;">

        <a href="{% url "job_post_details" job.pk %}" target="_blank" title="Click to view original job posting"><h4 class="champ_finance_heading" style="font-size: 17px; text-decoration: underline;">Job: {{ job.title }}</h4></a>
        <div class="champ_duration_date">
			<span class="champ_date_icon"><label>Start Date:</label>
			<p>{{ lesson.lesson_time|fromunix|localtime|format_datetime }}</p></span>
        </div>
        <div class="champ_duration_date">
            <span class="champ_duration_icon"><label>duration:</label>
			<p>{{ job.lesson_duration }} minutes</p></span>
        </div>
        {% if job.lesson.extra_time > 0 %}
        <div class="champ_duration_date">
            <span class="champ_duration_icon"><label>Extra time:</label>
			<p>{{ job.lesson.extra_time }} minutes</p></span>
        </div>
        {% endif %}
        <div class="champ_duration_date">
			<span class="champ_rate_icon"><label>Rate:</label>
			<p>${{ job.preference.rate.rate_value|floatformat:"2" }}/hr ({{ job.preference.currency }})</p></span>

	    </div>
        <div class="champ_duration_date">
			<label>Subjects:</label>
			<p>
            {% if job.render_job_subjects %}
                {{ job.render_job_subjects }}
            {% endif %}
            </p>
	    </div>
        <div style="width: 100%; float: left;">
            {% if payment_status %}
                <label class="label label-success">Payment Status: Successful</label>
            {% else %}
                <label class="label label-danger">Payment Status: Not processed or unsuccessful</label>
            {% endif %}
        </div>
        {% if object.job_attachment.exists %}
        <div style="width: 100%; display: block; float: left; margin-bottom: 13px;">
            <br/>
            <h4>Attachment(s):</h4>
            <hr/>
            <div>
                {% for attachment in object.job_attachment.all %}
                    {% if attachment.thumbnail %}
                        <a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}"/></a>
                    {% else %}
                        <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div style="width: 100%; display: block; float: left; margin-top: 13px;">
            <h4 style="font-size: 15px; border-bottom: 1px solid #eee;">Tutor</h4>
            <div>
                <div style="width: 100px; float: left;">
                    <div><a style="width: 100%;" href="{{ lesson.request_user.champuser.profile_url }}" data-toggle="tooltip" data-placement="top" title="{{ lesson.request_user.champuser.fullname }}"><img src="{{ lesson.request_user.champuser.render_profile_picture }}" width="35" height="35"/></a></div>
                </div>
            </div>
        </div>
        <div style="width: 100%; display: block; float: left;">
            <h4 style="font-size: 15px; border-bottom: 1px solid #eee; ">Students</h4>
            <div>
                <div style="width: auto; margin-right: 3px; float: left;">
                    <div><a style="width: 100%;" href="{{ job.posted_by.champuser.profile_url }}" data-toggle="tooltip" data-placement="top" title="{{ job.posted_by.champuser.fullname }}"><img src="{{ job.posted_by.champuser.render_profile_picture }}" width="35" height="35"/></a></div>
                </div>
                {% if job.other_students.exists %}
                {% for student in job.other_students.all %}
                    <div style="width: 100px; float: left;">
                        <div><a style="width: 100%;" href="{{ student.champuser.profile_url }}" data-toggle="tooltip" data-placement="top" title="{{ student.champuser.fullname }}"><img src="{{ student.champuser.render_profile_picture }}" width="35" height="35"/></a></div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
  </div>
</div>
</div>