{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
    <script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/select2.min.js" %}"></script>
    <script>

        function get_exclude_list() {
            var exclude = "";
            $(".remove_block_user").each(function(i) {
                exclude += $(this).data("user-id")+",";
            });
            return exclude;
        }

        $(document).ready(function() {

            $("#id_add_people_to_block_list").select2({
              height: 120,
              placeholder: "Add people to the block list",
              ajax: {
                url: "/ajax/tutor-list/",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                  return {
                    q: params.term, // search term
                    //utype: "tutor"
                    excludes: get_exclude_list()
                  };
                },
                processResults: function (data, page) {
                  return {
                        results: $.map(data.items, function(obj) {
                            return { id: obj.id, text: obj.name };
                        })
                    };
                },
                cache: true
              },
              escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
              minimumInputLength: 1,
            }).on("change",function(e){
                var user_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/ajax/manage_chat_blocklist/",
                    data: { action: "ADD", user_id: user_id  },
                    enctype: 'multipart/form-data',
                    success: function(data)
                    {
                        var data = jQuery.parseJSON(data);
                        if(data.status == "SUCCESS") {
                            $("#id_no_blocked_user").remove();
                            $("#id_block_list").append(data.data);
                            $('#id_add_people_to_block_list').select2('val','');
                        }
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {

                });
            });

            $(document).on("click",".remove_block_user", function(e) {
               e.preventDefault();
               var user_id = $(this).data("user-id");
               var $thisRow = $(this).parent().parent();
               $.ajax({
                    type: "POST",
                    url: "/ajax/manage_chat_blocklist/",
                    data: { action: "REMOVE", user_id: user_id  },
                    enctype: 'multipart/form-data',
                    success: function(data)
                    {
                        var data = jQuery.parseJSON(data);
                        if(data.status == "SUCCESS") {
                            $thisRow.remove();
                        }
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {

                });
            });

        });
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>
                Manage Block List
            </h3>
            <div style="padding: 7px; margin-bottom: 13px;">
                <select id="id_add_people_to_block_list" placeholder="Add people to the block list" class="form-control">
                </select>
                <br/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="min-height: 350px; max-height: 350px; overflow-y: auto;">
            <table class="table" id="id_block_list">
                {% for user_entry in blocked_users %}
                <tr>
                    <td colspan="">
                        <img src="{{ user.champuser.render_profile_picture }}" width="30" height="30"/> {{ user_entry.user.champuser.fullname }}
                    </td>
                    <td>
                        <button class="btn btn-default pull-right remove_block_user" data-user-id="{{ user_entry.user.pk }}">Remove</button>
                    </td>
                </tr>
                {% empty %}
                <tr id="id_no_blocked_user">
                    <td colspan="2">
                        No blocked user found
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</body>
</html>