{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<li>
    <h3 class="champ_aboutme_heading3">{{ job.title }}<em>({{ job.render_lesson_type_verbal }})</em>
        <img title="Singapore" src="/static/images/flags/48/{{ job.posted_by.champuser.render_timezone_country }}.png" width="46" height="32" alt="img" style="width: 46px; height: 32px;">
    </h3>
    <div style="float: left; clear: both; width: 100%; font-weight: bold; ">
        {% if applied %}<img src="{% static "images/corct_icon.png" %}"> {{ applied_status_message }}
        {% else %}
        <!--<input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ job.pk }}"/>-->
        <!--<input class="userid" type="hidden" value="{{ request.user.pk }}"/>-->
        <!--<a href="#" name="job_apply_submit" class="job_apply accept_bg" style="padding: 7px; color: white;">Apply Job</a>-->
        {% endif %}
    </div>
    <p class="champ_aboutme_text">{{ job.description|truncatechars:400 }}</p>
    <div class="champ_aboutme_btn">
        <div class="champ_aboutme_btn_left">
            <div class="champ_duration_date">
            <span class="champ_date_icon"><label>posted By:</label>
            <a href="{% url "user_profile" pk=job.posted_by.pk %}">{{ job.posted_by.champuser.fullname }}</a></span>
            <span class="champ_date_icon"><label>posted on:</label>
            <p>{{ job.date_created|fromunix|localtime|format_datetime }}</p></span>
        </div>
        </div>
        <a href="{% url "marketplace_details" job.pk %}" class="champ_viewdetail">View Details</a>
    </div>
</li>