{% load staticfiles %}
<div style="margin-top: -30px;">
    <div style="padding: 7px; margin: 7px; "><span class="pull-left">Showing {{ start_index }} - {{ end_index }}</span> <span class="pull-right">Total {{ page_obj.paginator.count }} results</span></div>
    <br/>
    <div class="pgntn">
        <ul>
            {% for p in page_links %}
                <li {% if p == current_page %} class="active" {% endif %}><a class="search-next" data-page-number="{{ p }}" href="#">{{ p }}</a></li>
            {% endfor %}
        </ul>

        {% if has_next_page %}
            <a class="search-next" data-page-number="{{ current_page|add:"1" }}" href="#"><img src="{% static "images/next.png" %}" width="23" height="23" alt="img"></a>
        {% endif %}
        {% if has_previous_page %}
            <a class="search-next" data-page-number="{{ current_page|add:"-1" }}" href="#"> <img src="{% static "images/prev.png" %}" width="23" height="23" alt="img"> </a>
        {% endif %}
    </div>
</div>
<br/>
<ul class="champ_aboutme_list">
    {% for data_item in data_items %}
        {{ data_item }}
    {% empty %}
        No records found
    {% endfor %}
</ul>
<br/>
<div style="margin-top: 30px;">
    <div class="pgntn">
        <ul>
            {% for p in page_links %}
                <li><a class="search-next" data-page-number="{{ p }}" href="#" {% if p == current_page %} class="page-link-active" {% endif %}>{{ p }}</a></li>
            {% endfor %}
        </ul>

        {% if has_next_page %}
            <a class="search-next" data-page-number="{{ current_page|add:"1" }}" href="#"><img src="{% static "images/next.png" %}" width="23" height="23" alt="img"></a>
        {% endif %}
        {% if has_previous_page %}
            <a class="search-next" data-page-number="{{ current_page|add:"-1" }}" href="#"> <img src="{% static "images/prev.png" %}" width="23" height="23" alt="img"> </a>
        {% endif %}
    </div>
    <br/>
    <div style="padding: 7px; margin: 7px; "><span class="pull-left">Showing {{ start_index }} - {{ end_index }}</span> <span class="pull-right">Total {{ page_obj.paginator.count }} results</span></div>
</div>