{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% for message in messages reversed %}
    {% if message.usermessage_set.all.first.sender.pk == request.user.pk %}
        <li>
            <input type="hidden" class="last_message_id" value="{{ message.pk }}">
            <div class="msg_img">
                <img width="56" height="56" alt="img" src="{{ message.usermessage_set.all.first.sender.champuser.render_profile_picture }}" %}">
            </div>
            <div class="msg_chat_detail">
                <div>
                    <h2 style="width: 100px; float: left;">Me:</h2>
                    <div style="float: right; margin-top: 23px;" class="tchr_exprnc_number"><span data-livestamp="{{ message.msg_date|fromunix|localtime|date:"U" }}"></span></div>
                </div>
                <p>{{ message.msg }}</p>
                {% if message.messageattachment_set.all.exists %}
                    <p>
                        {% for attachment in message.messageattachment_set.all %}
                            {% if attachment.thumbnail %}
                                <div class="chat_img"><a href="{{ MEDIA_URL }}{{ attachment.attachment }}" target=\"_blank\"><img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}" alt="img"></a></div>
                            {% else %}
                                <div class="chat_img">
                                    <!--<img src="{{ MEDIA_URL }}{{ attachment.attachment }}" width="426" height="127" alt="img">-->
                                    <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>

        </li>
    {% else %}
        <li>
            <input type="hidden" class="last_message_id" value="{{ message.pk }}">
            <div class="msg_img">
                <img width="56" height="56" alt="img" src="{{ message.usermessage_set.all.first.sender.champuser.render_profile_picture }}" %}">
            </div>
            <div class="msg_chat_detail">
                <div>
                    <h2 style="width: 400px; float: left;">{{ message.usermessage_set.all.first.sender.champuser.fullname }} (ID:{{ message.usermessage_set.all.first.sender.pk }})</h2>
                    <div style="float: right; margin-top: 23px;" class="tchr_exprnc_number"><span data-livestamp="{{ message.msg_date|fromunix|localtime|date:"U" }}"></span></div>
                </div>
                <p>{{ message.msg }}</p>
                {% if message.messageattachment_set.all.exists %}
                    <p>
                        {% for attachment in message.messageattachment_set.all %}
                            {% if attachment.thumbnail %}
                                <div class="chat_img"><a href="{{ MEDIA_URL }}{{ attachment.attachment }}" target=\"_blank\"><img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}" alt="img"></a></div>
                            {% else %}
                                <div class="chat_img">
                                    <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </li>
    {% endif %}
{% endfor %}