{% load datefilters %}
{% load tz %}
{% if message.chat_type == 4 %} <!-- Auto generated message. !-->
<li>
    <p class="text-center" style="font-size: 12px; width: 100%;">
        {{ message.msg }}
    </p>
</li>
{% else %}
<li data-msg-id="{{ message.pk }}">
    <input type="hidden" class="last_message_id" value="{{ message.pk }}">
    <div style="float: right; margin-top: 0px; margin-right: -70px;" class="tchr_exprnc_number pull-right">
        <span data-livestamp="{{ message.date_created|fromunix|localtime|date:"U" }}"></span>
    </div>
    <span style="width: auto; padding-left: 7px; padding-right: 7px; float: left; {% if not is_delete_enabled %}display: none; {% endif %}">
        <input type="checkbox" class="chat_delete_checkbx" data-msg-id="{{ message.pk }}"/>
    </span>
    <div class="msg_img" title="{{ message.usermessage_set.all.first.sender.champuser.fullname }} {{ message.date_created|fromunix|localtime|format_datetime }}">
        <a href="{% url "user_profile" message.usermessage_set.all.first.sender.pk %}">
            <img width="56" height="56" alt="img" src="{{ message.usermessage_set.all.first.sender.champuser.render_profile_picture }}">
        </a>
    </div>
    <div class="msg_chat_detail">
        <h2 class="message-user-name" data-url="{% url "user_profile" message.usermessage_set.all.first.sender.pk %}" style="cursor: pointer; width: 100%; float: left;position: relative; top: 0px; cursor: pointer;">
            {% if sender_me %}
            Me:
            {% else %}
            {{ message.usermessage_set.all.first.sender.champuser.fullname }}:
            {% endif %}
        </h2>
        <p style="width: 100%;">
            {{ message.msg }}
        </p>
        {% if message.messageattachment_set.exists %}
        {% with attachment=message.messageattachment_set.all.first %}
        <div>
            {% if attachment.thumbnail %}
            <a href="{{ attachment.render_attachment_url }}" target="_blank"><img src="{{ attachment.render_thumbnail_url }}"/></a>
            {% else %}
            <a href="{{ attachment.render_attachment_url }}" target="_blank">{{ attachment.attachment_name }}</a>
            {% endif %}
        </div>
        {% endwith %}
        {% endif %}
    </div>
</li>
{% endif %}