{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% if user_message.chat_type == 0 %} <!-- p2p chat. !-->
<li class="message_list_entry {% if not user_message.message.is_read %}message_list_entry_light_bg{% endif %}">
    <input type="hidden" class="chat_type" value="0"/>
    <input type="hidden" class="chat_id" value="{{ other_user.pk }}"/>
    <input type="hidden" class="user_message_id" value="{{ user_message.pk }}"/>
    <div class="msg_img">
        {% if user_message.sender_id != request.user.pk %}
        <img width="56" height="56" alt="img" src="{{ user_message.sender.champuser.render_profile_picture }}">
        {% else %}
        <img width="56" height="56" alt="img" src="{{ user_message.receiver.champuser.render_profile_picture }}">
        {% endif %}
    </div>
    <div class="msg_img_detl">
        <div>
         {% if user_message.sender_id == request.user.pk %}
            <a href="{% url "message_detail_view" user_message.receiver.id %}" {% if user_message.message.is_read %}class="msg_detail_entry_light"{% else %}class="msg_detail_entry_bold"{% endif %}>{{ user_message.receiver.champuser.fullname }} (id : {{ user_message.receiver.pk }})
            </a>
         {% else %}
            <a href="{% url "message_detail_view" user_message.sender.id %}" {% if user_message.message.is_read %}class="msg_detail_entry_light"{% else %}class="msg_detail_entry_bold"{% endif %}>{{ user_message.sender.champuser.fullname }} (id : {{ user_message.sender.pk }})
            </a>
         {% endif %}
          <!--{% if user_message.message.is_read == 0 %}<span style="background: #dddddd; opacity: 0.7; width: 7px; height: 7px;"></span>{% endif %}-->
        </div>
        <span> {% if user_message.sender.pk == request.user.pk %}<img width="16" height="13" alt="img" src="{% static "images/bck_arw.png" %}">{% endif %}{{ user_message.message.msg|truncatechars:100 }}</span>
    </div>
    <div class="nmbr_of_dys"><span data-livestamp="{{ user_message.message.date_created|fromunix|localtime|date:"U" }}"></span></div>
</li>
{% elif user_message.chat_type == 1 %} <!-- Group chat. !-->
<li class="message_list_entry">
    <input type="hidden" class="chat_type" value="1"/>
    <input type="hidden" class="chat_id" value="{{ user_message.conversation.conversation_id }}"/>
    <input type="hidden" class="user_message_id" value="{{ user_message.pk }}"/>
    <div class="msg_img">
        <img width="56" height="56" alt="img" src="{{ STATIC_URL }}images/group.png">
    </div>
    <div class="msg_img_detl">
        <div>
         <a href="{% url "message_conversation_detail_view" conversation_id=user_message.conversation.conversation_id %}">
         {% if user_message.conversation.title %}{{ user_message.conversation.title }}{% else %}Group Chat{% endif %}({{ user_message.conversation.other_users.count }} persons)
         </a>
        </div>
        <span> {% if user_message.sender.pk == request.user.pk %}<img width="16" height="13" alt="img" src="{% static "images/bck_arw.png" %}">{% endif %}
        {{ user_message.message.msg|truncatechars:100 }}</span>
    </div>
    <div class="nmbr_of_dys"><span data-livestamp="{{ user_message.message.date_created|fromunix|localtime|date:"U" }}"></span></div>
</li>
{% endif %}