{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<link href="{% static "js/raty/jquery.raty.css" %}" rel="stylesheet">
<script src="{% static "js/raty/jquery.raty.js" %}"></script>
<style>
    .job_posted_by_user {
        text-decoration: none;
        font-weight: bold;
    }
    .dfrnt_tag {
        padding-left: 8px !important;
    }
</style>
<script>
    $(document).ready(function() {
        $("#id_feedback_rating_{{ lesson.pk }}").raty({
            cancel    : true,
            half      : true,
            size      : 24,
            readOnly: true,
            path      : '/static/js/raty/images',
            score: {{ lesson.review.average_rating }},
            scoreName: "rat{{ lesson.pk }}"
        });
    });
</script>
<div>
    <table>
        <tr>
            <td style="width: 120px;">
                <div id="id_feedback_rating_{{ lesson.pk }}">

                </div>
            </td>
            <td>
                {% if lesson.review.comment %}
                    "{{ lesson.review.comment|truncatechars:100 }}"
                {% endif %}, <i style="font-size: 11px;">{{ lesson.review.date_created|fromunix|localtime|format_datetime2:"%d %b %Y" }}</i>
                <a href="{% url "lesson_feedback" pk=lesson.pk %}">Details</a>
            </td>
        </tr>
    </table>
</div>