{% load staticfiles %}
{% load datefilters %}
{% load tz %}

<div class="champ_aboutme_detail" style="width: 100%; padding: 7px;">
    <ul class="champ_aboutme_list">
    {% if lesson.type == 0 %}  <!-- Online Lesson !-->

        <li>
            <div style="width: 100%;">
                <h3 class="champ_aboutme_heading3" >{{ lesson.title }} <em>({{ lesson.job_set.first.render_lesson_type_verbal }})</em>
                    <div class="dropdown pull-right">
                        <span class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></span>
                        <ul class="dropdown-menu">
                            <li><a href="/lesson/{{ lesson.pk }}/">View Lesson</a></li>
                        </ul>
                    </div>
                </h3>
                <p class="upcoming_txt">{{ lesson.lesson_time|fromunix|localtime|format_datetime }}</p>
                <p class="upcoming_txt">{{ lesson.duration|format_time_from_min }} . {{ lesson.course.name }}</p>
                <div>
                    <h3 style="font-size: 15px; margin-bottom: 3px;">Participants:</h3>
                    <a style="margin-right: 3px; margin-bottom: 3px; padding: 7px;" href="/profile/{{ lesson.user.pk }}/" class="btn-default"><img src="{{ lesson.request_user.champuser.render_profile_picture }}" width="20" height="20">{{ lesson.request_user.champuser.fullname }}<em>(Tutor)</em></a>
                    <a style="margin-right: 3px; margin-bottom: 3px; padding: 7px;" href="/profile/{{ lesson.user.pk }}/" class="btn-default"><img src="{{ lesson.user.champuser.render_profile_picture }}" width="20" height="20">{{ lesson.user.champuser.fullname }}<em>(Student)</em></a>
                    {% for user in lesson.other_users.all %}
                    <a style="margin-right: 3px; margin-bottom: 3px; padding: 7px;" href="/profile/{{ user.pk }}/" class="btn-default"><img src="{{ user.champuser.render_profile_picture }}" width="20" height="20">{{ user.champuser.fullname }}<em>(Student)</em></a>
                    {% endfor %}
                </div>
            </div>
        </li>
    {% else %}
        <li>
            <div style="width: 100%;">
                <h3 class="champ_aboutme_heading3" >{{ lesson.title }} <em>({{ lesson.job_set.first.render_lesson_type_verbal }})</em>
                    <div class="dropdown pull-right">
                        <span class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></span>
                        <ul class="dropdown-menu">
                            <li><a href="/written-lesson/?lesson={{ lesson.pk }}">View Lesson</a></li>
                        </ul>
                    </div>
                </h3>
                <p class="upcoming_txt">{{ lesson.due_date|fromunix|localtime|format_datetime }}</p>
                <p class="upcoming_txt">{{ lesson.duration|format_time_from_min }} . {{ lesson.course.name }}</p>
                <div>
                    <h3 style="font-size: 15px; margin-bottom: 3px;">Participants:</h3>
                    <a style="margin-right: 3px; margin-bottom: 3px; padding: 7px;" href="/profile/{{ lesson.user.pk }}/" class="btn-default"><img src="{{ lesson.request_user.champuser.render_profile_picture }}" width="20" height="20">{{ lesson.request_user.champuser.fullname }}<em>(Tutor)</em></a>
                    <a style="margin-right: 3px; margin-bottom: 3px; padding: 7px;" href="/profile/{{ lesson.user.pk }}/" class="btn-default"><img src="{{ lesson.user.champuser.render_profile_picture }}" width="20" height="20">{{ lesson.user.champuser.fullname }}<em>(Student)</em></a>
                    {% for user in lesson.other_users.all %}
                    <a style="margin-right: 3px; margin-bottom: 3px; padding: 7px;" href="/profile/{{ user.pk }}/" class="btn-default"><img src="{{ user.champuser.render_profile_picture }}" width="20" height="20">{{ user.champuser.fullname }}<em>(Student)</em></a>
                    {% endfor %}
                </div>
            </div>
        </li>

    {% endif %}
    </ul>
</div>