{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<script src="{% static "js/jquery.cropit.js" %}"></script>
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<style>
.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 193px;
    height: 193px;
    margin-left: auto;
    margin-right: auto;
  }

  .cropit-preview-image-container {
    cursor: move;
  }

  .image-size-label {
    margin-top: 10px;
  }

  input {
    display: block;
  }

  button[type="submit"] {
    margin-top: 10px;
  }

  #result {
    margin-top: 10px;
    width: 900px;
  }

  #result-data {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  input.cropit-image-input {
    visibility: hidden;
  }
  .select-image-btn {
    background: #52a0c7;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 0 2px #3784aa;
    box-shadow: 0 2px #3784aa;
}
</style>

<div id="popup_dialog">
  <div class="postneed_bx2">
    <!-- <a href="#" class="cross"><img src="images/cross.png" width="25" height="25" alt="Close" /></a> -->

	<h3 class="reject_heading accept_bg">Update Profile Picture <span style="cursor: pointer; right: 20px; top: 20px;" name="job_apply_cancel" class="glyphicon glyphicon-remove pull-right" id="id_job_apply_cancel"></span></h3>
	<form id="id_student_profile_picture_upload_form" action="#" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <div id="id_apply_dialog_form" class="reject_detail" style="width: 50%; float: left; text-align: center;">
        <div id="id_profile_picture_editor" class="image-editor">
        <div class="cropit-preview">{{ champuser }}
            <div class="cropit-preview-image-container" style="position: absolute; overflow: hidden; left: 0px; top: 0px; width: 100%; height: 100%;">
                <img class="cropit-preview-image" alt="" src="{{ champuser.render_profile_picture }}"/>
            </div>
        </div>
        <div class="image-size-label" {%  if champuser.render_profile_picture%}style="display: none;"{% endif %}>
          Resize image
        </div>
        <input type="range" class="cropit-image-zoom-input" style="{%  if champuser.render_profile_picture%}display: none;{% endif %}width: 193x; margin-left: auto; margin-right: auto;">
        <input type="hidden" name="image-data" class="hidden-image-data" />
        <input type="file" class="cropit-image-input" />
        <div class="select-image-btn">Select new image</div>
      </div>
    </div>
    <div style="width: 50%; float: left;">
    <ul class="upload_profile_detail">
        <li>Your photo must be a picture of yourself only, and occupies at least 1/3 of the photo.</li>
        <li>Headshot photo is preferred.</li>
        <li>Be totally awesome! This is how you will be seen by classmates and ChampionTutor members.</li>
        <li>Photo must be in either JPG, JPEG or PNG format.</li>
    </ul>
    <input id="id_save_profile_picture" type="submit" value="Save" class="add_img" style="position: relative; right: 20px;"/>
    </div>
    </form>
</div>
</div>

<script>
$(function() {

    $(".cropit-image-input").change(function() {
        $(".image-size-label").show();
        $(".cropit-image-zoom-input").show();
    });

    $('.image-editor').cropit({
          allowDragNDropboolean: true,
          {% if champuser.render_profile_picture %}
          imageState: {
            src: '{{ champuser.render_profile_picture }}',
          },
          {% endif %}
        });

    $('.select-image-btn').click(function() {
      $('.cropit-image-input').click();
    });
  });

 $(document).ready(function() {
    $('#id_student_profile_picture_upload_form').submit(function() {
        $('#id_save_profile_picture').val('Saving...');
        // Move cropped image data to hidden input
        var imageData = $('#id_profile_picture_editor').cropit('export');
        var image_size = $('#id_profile_picture_editor').cropit('imageSize');
        //console.log(image_size);
        $('#id_profile_picture_editor').find('.hidden-image-data').val(imageData);
        // Print HTTP request params
        var formValue = $(this).serialize();

        $.ajax({
            type: "POST",
            url: "/ajax/profile-picture/",
            data: formValue,
            success: function(data)
            {
                data = jQuery.parseJSON(data);
                if(data.status == "SUCCESS"){
                    location.reload();
                }
                else if(data.STATUS == "FAILURE"){
                    $('#id_save_profile_picture').val('Save');
                }
            },
            error: function(jqxhr, status, error)
            {
                $('#id_save_profile_picture').val('Save');
            }
        })
        .done(function( msg ) {

        });

        return false;
    });
 });

</script>