{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% if tutor %}
<tr>
    <td> <p class="upcoming_heading">{{ progress_report.sender.champuser.fullname }}</p> </td>
    <td> <p class="upcoming_heading">{{ progress_report.date_created|fromunix|localtime|format_datetime }}</p> </td>
    <td> <a href="{% url "student_progress_report_details" progress_report.pk %}" class="vw_lesn radius3">View Details</a> </td>
</tr>
{% else %}
<tr>
    <td> <p class="upcoming_heading">{{ progress_report.receiver.champuser.fullname }}</p> </td>
    <td> <p class="upcoming_heading">{{ progress_report.date_created|fromunix|localtime|format_datetime }}</p> </td>
    <td> <a href="{% url "student_progress_report_details" progress_report.pk %}" class="vw_lesn radius3">View Details</a> </td>
</tr>
{% endif %}