{% load staticfiles %}
{% load datefilters %}
<li class="recommended_tutor_item" style="margin-top: 2px;" data-job-id="{{ job_id }}" data-tutor-id="{{ champ_user.user.pk }}">
    <div class="left_img" style="width: 145px;">
        <span class="radius3"><img src="{{ champ_user.render_profile_picture }}" width="145" height="139" alt="img"></span>
        <ul>
            <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"/>
                {% with feedback_count=champ_user.positive_feedback_count %}{% if feedback_count %}<span>{{ feedback_count }}</span>{% else %}<span>-</span>{% endif %}{% endwith %}</li>
            <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"/>
            {% with feedback_count=champ_user.negative_feedback_count %}{% if feedback_count %}<span>{{ feedback_count }}</span>{% else %}<span>-</span>{% endif %}{% endwith %}</li>
        </ul>
    </div>
    <div class="img_right" style="width: 580px;">
        <a href="{% url "user_profile" champ_user.user.pk %}">
        <div class="img_name">
            {% if champ_user.render_online_status_icon %}
            <img src="{% static champ_user.render_online_status_icon %}" width="15" height="15" alt="img">
            {% endif %}
            {{ champ_user.fullname }}
            <input type="hidden" class="user-name" value="{{ champ_user.fullname }}"/>
            <!--<span>{{ champ_user.render_majors }}</span>-->
        </div>
        </a>
        <span class="british">
        {% if champ_user.nationality.name %}
            <img style="margin-top: -7px;" width="23" height="16" alt="img" src="/static/images/flags/32/{{ champ_user.nationality.name }}.png"> {{ champ_user.nationality.name }}
        {% endif %}
        {% with min_currency=champ_user.render_min_currency %}
            {% if min_currency %}
                 | {{ champ_user.render_tutor_profile_currency }} {{ min_currency }} - {{ champ_user.render_max_currency }}
            {% endif %}
        {% endwith %}
        <!--<em>{% if champ_user.current_school %}{{ champ_user.current_school }}{% endif %}{% if champ_user.session %}, {{ champ_user.session }}{% endif %}{% if champ_user.major %} - {{ champ_user.major }}{% endif %}</em> -->
        <em style="float: left; width: 100%; clear: both;">
            <b>{% if subject_teach %}{{ subject_teach }}{% endif %}{% if subject_teach %} tutor{% else %}Tutor{% endif %}</b>
        </em>
        </span>

  </div>
  <p class="online_tutor_text" style="word-wrap: break-word; margin-left: 165px;">{{ champ_user.render_teaching_experiences|striptags|truncatechars:"220" }}</p>
    <div class="hover_btn">
        <input type="hidden" name="tutor_id" value="{{ champ_user.user.pk }}"/>
        <input type="hidden" name="online_status" value="{{ champ_user.render_online_status_verbal }}"/>
        <input type="hidden" name="tutor_name" value="{{ champ_user.fullname }}"/>
        <input type="hidden" name="tutor_pp" value="{{ champ_user.render_profile_picture }}"/>
        <input class="userid" type="hidden" value="{{ champ_user.user.pk }}"/>
        <a data-job-id="{{ job_id }}" data-tutor-id="{{ champ_user.user.pk }}" href="#" class="recommended_tutor_invite_btn">+ Invite</a>
    </div>
</li>