{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/themes/smoothness/jquery-ui.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}"/>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/jquery.datetimepicker.full.js" %}"></script>
<script>
$('#__id_start_date').datetimepicker({
	format:'m/d/Y H:i',
	step:5
});
</script>

<style>

    .inline {
        display: inline;
    }
    .no_display {
        display: none;
    }
    .job_apply_summary_row {
        margin-top: 7px !important;
    }
    .__summary_heading {
        width: 170px;
        font-weight: bold;
        font-size: 13px;
    }
    .job_apply_input, .job_apply_select {
        height: 30px; float:left; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: rgba(255,255,255,1); color:#a6a6a6; font:14px/18px 'HelveticaNeueLTStd-Light'; border: solid 1px #dfdfdf; padding:0 10px; display:inline;
    }

    .apply_repropose label {
        margin-top: 4px;
    }

    .error_border {
        border: 1px solid red;
    }

</style>
<script>
    $(document).ready(function() {
        //$("#__id_currency").select2();
        $("#__id_start_date").datetimepicker();
    });
</script>
<div id="popup_dialog" style="z-index: 900;">
  <div class="postneed_bx2" style="padding-bottom: 40px;">
    <!-- <a href="#" class="cross"><img src="images/cross.png" width="25" height="25" alt="Close" /></a> -->

	<h3 class="reject_heading accept_bg">Recommended Tutors <span style="cursor: pointer; right: 20px; top: 20px;" name="recommendation_dialog_cancel" class="glyphicon pull-right" id="id_recommendation_dialog_cancel">
        <img style="color: white; margin-top: -7px; " src="{% static "images/close_trs.png" %}" width="40" height="40"/>
    </span></h3>
	<div id="id_recommended_tutors_dialog_form" data-job-id="{{ job_id }}" class="reject_detail" style="height: 500px; width: 100%; overflow-y: auto; overflow-x: hidden;">
        <ul class="showing_online_result">
            {% for tutor in tutor_list %}
            {{ tutor }}
            {% endfor %}
        </ul>
        <p id="id_recommendation_tutor_loading" style="display: none; width: 100%; text-align: center;">Loading...</p>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $("#black_overlay2 ").click(function(e) {
        $("#black_overlay2").hide();
        $("#id_ajax_rendered_recommended_tutors_content").hide();
    });

    $("#id_recommendation_dialog_cancel ").click(function(e) {
        $("#black_overlay2").hide();
        $("#id_ajax_rendered_recommended_tutors_content").hide();
    });

    $("#id_recommended_tutors_dialog_form").on('scroll', function() {
        if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
            var tutor_ids = "";
            $("#id_recommended_tutors_dialog_form").find("li.recommended_tutor_item").each(function(i) {
                tutor_ids += $(this).data("tutor-id") + ",";
            });
            var job_id = $(this).data("job-id");
            $("#id_recommendation_tutor_loading").show();
            $.ajax({
                type: "GET",
                url: "/ajax/recommendation/tutors/",
                timeout: 5000,
                data: { job_id: job_id, exclude_ids: tutor_ids, format: "json" },
                enctype: 'multipart/form-data',
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    console.log(data);
                    for(var i = 0 ; i < data.data.tutor_list.length; i++) {
                        $("#id_recommended_tutors_dialog_form").find("ul.showing_online_result").append(data.data.tutor_list[i]);
                    }
                },
                error: function(jqxhr, status, error)
                {
                    $("#id_recommendation_tutor_loading").hide();
                }
            })
            .done(function( msg ) {
                $("#id_recommendation_tutor_loading").hide();
            });
        }
    });

});
</script>