<style>
    #id_reminer_blocker_overlay {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: #000000;
        z-index: 1000000;
        opacity: 0.5;
        display: none;
    }

    #id_reminer_blocker_dialog {
        position: fixed;
        margin: auto;
        top: -300px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 850px;
        height: 100px;
        max-height: 400px;
        background: white;;
        z-index: 1000001;
        display: none;
    }
</style>
<script>
    $(document).ready(function() {
        $(document).on("click","#id_reminder_dialog_cancel", function(e) {
            e.preventDefault();
            $("#id_reminer_blocker_overlay").hide();
            $("#id_reminer_blocker_dialog").hide();
        });
    });
</script>
<div id="id_reminer_blocker_overlay">

</div>
<div id="id_reminer_blocker_dialog">
    <div class="postneed_bx2">

    </div>
</div>