<script>
    $(document).ready(function() {
        $(document).on("click", "#id_remind_blocker_yes", function(e) {
            e.preventDefault();
            $("#id_lesson_time_end_section").hide();
            $("#id_lesson_time_extend_section").show();
        });


        $(document).on("click", "#id_remind_blocker_no", function(e) {
            e.preventDefault();
            $("#id_lesson_time_end_section").hide();
            $("#id_lesson_time_extend_section").hide();
            $("#id_lesson_leave_feedback_section").show();
        });

        $(document).on("click", "#id_remind_blocker_pay_now", function(e) {
            e.preventDefault();
            var lesson_id = $(this).data("lesson-id");
            $(this).prop("disabled",true);
            $("#id_payment_processing_status").text("Payment processing...");
            $("#id_remind_blocker_pay_now").text("Processing...");
            $("#id_payment_processing_status").show();
            var extra_time = $("#id_extended_time_select").val();
            $.ajax({
                type: "POST",
                url: "/ajax/process_payment/",
                data: { lesson_id: lesson_id, extra_time: extra_time  },
                success: function(data)
                {
                        var data = jQuery.parseJSON(data);
                        if(data.status == "SUCCESS") {
                            $("#id_payment_processing_status").text("Payment Processed Successfully.");
                            $("#id_remind_blocker_pay_now").text("Resume Lesson");
                            $("#id_remind_blocker_pay_now").prop("id","id_lesson_resumed");
                        }
                        else {
                            $("#id_payment_processing_status").text("Payment Process Failed.");
                            $("#id_remind_blocker_pay_now").text("Resume Lesson");
                            $("#id_remind_blocker_pay_now").prop("id","id_lesson_resumed");
                        }
                },
                error: function(jqxhr, status, error)
                {

                }
            })
            .done(function( msg ) {
                $("#id_remind_blocker_pay_now").prop("disabled",false);
                $("#id_lesson_resumed").prop("disabled",false);
            });
        });

        $(document).on("click", "#id_lesson_resumed", function(e) {
            e.preventDefault();
            $("#id_reminer_blocker_overlay").hide();
            $("#id_reminer_blocker_dialog").hide();
        });

    });
    {% if notify_time and remaining_time %}

    {% endif %}
</script>
<h3 class="reject_heading accept_bg" style="margin-top: 0px;">{{ title }} <span style="cursor: pointer; right: 20px; top: 20px;" name="reminder_blocker_cancel" class="glyphicon glyphicon-remove pull-right" id="id_reminder_dialog_cancel"></span></h3>
<div class="reject_detail" style="width: 100%;">
    {% if notify_time %}
        <div style="width: 100%; float: left; clear: both;">
            <p>
                You have {{ remaining_time }} minutes left total.
            </p>
        </div>
    {% else %}
    <div id="id_lesson_time_end_section">
        <p>Lesson time is over. You can extend the lesson time. Do you need more time to complete the lesson?</p>
        <div class="champ_duration_date">
            <a href="#" name="remind_blocker_yes" class="reject_btn accept_bg" id="id_remind_blocker_yes" style="margin-right: 13px !important;">Yes I need extra time</a> &nbsp;&nbsp;
            <a href="#" name="remind_blocker_yes" class="reject_btn reject_bg" id="id_remind_blocker_no" style="margin-right: 13px !important;">No, It's okay</a> &nbsp;&nbsp;
        </div>
    </div>
    <div id="id_lesson_time_extend_section" style="width: 100%; float: left; clear: both; display: none;">
        <p> Please select the time required to extend your lesson. You will have to pay first to proceed on the lesson.</p>
        <p>
            <div class="champ_select_lesson">
                <select id="id_extended_time_select">
                    <option value="10">10 minutes</option>
                    <option value="20">20 minutes</option>
                    <option value="30">30 minutes</option>
                </select>
            </div>
        </p>
        <div class="champ_duration_date">
            <br/>
            <a href="#" name="remind_blocker_yes" class="reject_btn accept_bg" id="id_remind_blocker_pay_now" data-lesson-id="{{ lesson.pk }}">Pay now</a>
        </div>
        <p id="id_payment_processing_status" style="display: none;">Payment processing...</p>
    </div>
    <div id="id_lesson_leave_feedback_section" style="width: 100%; float: left; clear: both; display: none;">
        <p>Thank you! You can leave feedback for your {% if request.user.champuser.is_tutor %}student{% else %}tutor{% endif %} by following <a href="{% url "lesson_feedback" lesson.pk %}">this</a> link.</p>
    </div>
    {% endif %}
</div>