{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<div id="popup_dialog">
  <div class="postneed_bx2">
    <!-- <a href="#" class="cross"><img src="images/cross.png" width="25" height="25" alt="Close" /></a> -->

	<h3 class="reject_heading accept_bg">Educational Experience <span style="cursor: pointer; right: 20px; top: 20px;" name="job_apply_cancel" class="glyphicon glyphicon-remove pull-right" id="id_job_apply_cancel"></span></h3>
	<div id="id_apply_dialog_form" class="reject_detail" style="width: 100%;">


        <form>
            <input type="hidden" name="id" id="__id" value="{% if id %}{{ id }}{% else %}-1{% endif %}"/>
            <div>
                <label>Educational Level</label><input type="text" name="edu_level" {% %}/>
            </div>
        </form>
		<h4 class="champ_finance_heading">{{ job.title }} <em>({{ job.render_lesson_type_verbal }})</em></h4>
		<p class="champ_last_text">{{ job.description|truncatechars:300 }}</p>
        <div class="champ_duration_date" style="margin-top: 20px;">


            <a href="#" name="job_apply_submit" class="reject_btn accept_bg" id="id_job_apply_submit" style="margin-right: 0px !important;">Apply Job</a> &nbsp;&nbsp;

	    </div>
  </div>
</div>
</div>