{% load staticfiles %}
<script>
    $(document).ready(function() {
        $(".online_tutor_text").css("float", "right");
        $(".online_tutor_text").css("width", $(".img_right").width()+"px");

        var MORE = "... More...",
            LESS = " Less...";

        $(function(){
            $("p.search_result_paragraph").each(function(){
                var $ths = $(this),
                    txt = $ths.html();

                //Clear the text
                $ths.html("");

                //First 100 chars
                $ths.append($("<b style='font-weight: normal;'>").html(txt.substr(0,250)));

                //The rest
                $ths.append($("<b style='font-weight: normal;'>").html(txt.substr(250, txt.length)).hide());

                //More link
                $ths.append(
                    $("<a>").text(MORE).click(function(){
                        var $ths = $(this);

                        if($ths.text() == MORE){
                            $ths.prev().show();
                            $ths.html(LESS);
                        }
                        else{
                            $ths.prev().hide();
                            $ths.html(MORE);
                        }
                    })
                );
            });
        });

    });
</script>
<ul class="showing_online_result">
    <span>Showing {{ start_index }}-{{ end_index }} of {{ page_obj.paginator.count }} results ({{ online_users_count }} online) </span>
    <div class="pgntn" id="id_top_pagination_links">
        <!-- Pagination links go here. !-->
    </div>
<br>
    {% for data_item in data_items %}
        {{ data_item }}
    {% empty %}
        <div style="width: 100%;">
            <div style="font: 14px/21px 'proxima_novaregular'; min-height: 300px; width: 300px; color: #323232; padding: 7px; padding-top: 100px; margin-left: auto; margin-right: auto;">Sorry! We haven't found any result for the criteria you searched.</div>
        </div>
    {% endfor %}
</ul>