{% load staticfiles %}
{% load datefilters %}
{% load search_tags %}
<li>
    <div class="left_img" style="width: 145px;">
        <span class="radius3"><img src="{{ champ_user.render_profile_picture }}" width="145" height="139" alt="img"></span>
        <ul>
            <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"/>
                {% with feedback_count=champ_user.positive_feedback_count %}{% if feedback_count %}<span>{{ feedback_count }}</span>{% else %}<span>-</span>{% endif %}{% endwith %}</li>
            <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"/>
            {% with feedback_count=champ_user.negative_feedback_count %}{% if feedback_count %}<span>{{ feedback_count }}</span>{% else %}<span>-</span>{% endif %}{% endwith %}</li>
        </ul>
    </div>
    <div class="img_right">
        <a href="{% url "user_profile" champ_user.user.pk %}">
        <div class="img_name">
            {% if champ_user.online_status == 1 %}
                {% if champ_user.available_to_teach == 2 or champ_user.available_to_teach == 4 %}
                    <img title="Ready to teach now" src="{% static "images/corct_icon.png" %}" width="15" height="15" alt="img">
                {% elif champ_user.available_to_teach == 3 %}
                    <img title="Available for written lesson" src="{% static "images/online.png" %}" width="15" height="15" alt="img">
                {% else %}
                    <img title="Online now" src="{% static "images/online.png" %}" width="15" height="15" alt="img">
                {% endif %}
            {% endif %}
            {% if keyword_found %}{{ champ_user.fullname|highlight_search_keyword:keyword|safe }}{% else %}{{ champ_user.fullname }}{% endif %}
            <input type="hidden" class="user-name" value="{{ champ_user.fullname }}"/>
            <!--<span>{{ champ_user.render_majors }}</span>-->
        </div>
        </a>
        <span class="british">
        {% if champ_user.nationality.name %}
            <img style="margin-top: -7px;" width="23" height="16" alt="img" src="/static/images/flags/32/{{ champ_user.nationality.name }}.png">
            {% if keyword_found %}{{ champ_user.nationality.name|highlight_search_keyword:keyword|safe }}{% else %}{{ champ_user.nationality.name }}{% endif %}
        {% endif %}
        {% with min_currency=champ_user.render_min_currency %}
            {% if min_currency %}
                 | {{ champ_user.render_tutor_profile_currency }} {{ min_currency }} - {{ champ_user.render_max_currency }}
            {% endif %}
        {% endwith %}
        <!--<em>{% if champ_user.current_school %}{{ champ_user.current_school }}{% endif %}{% if champ_user.session %}, {{ champ_user.session }}{% endif %}{% if champ_user.major %} - {{ champ_user.major }}{% endif %}</em> -->
        <em>
            <b>{% if subject_teach %}{{ subject_teach }}{% endif %}{% if subject_teach %} tutor{% else %}Tutor{% endif %}</b>
        </em>
        </span>

  </div>
  <p class="online_tutor_text search_result_paragraph" style="word-wrap: break-word;">
      {% if keyword_found %}
      {{ champ_user.render_teaching_experiences|striptags|highlight_search_keyword:keyword|safe }}
      {% else %}
      {{ champ_user.render_teaching_experiences|striptags|safe }}
      {% endif %}
  </p>
    <div class="hover_btn">
        <input type="hidden" name="tutor_id" value="{{ champ_user.user.pk }}"/>
        <input type="hidden" name="online_status" value="{{ champ_user.render_online_status_verbal }}"/>
        <input type="hidden" name="tutor_name" value="{{ champ_user.fullname }}"/>
        <input type="hidden" name="tutor_pp" value="{{ champ_user.render_profile_picture }}"/>
        <input class="userid" type="hidden" value="{{ champ_user.user.pk }}"/>
        {% if enable_invite_msg %}
        <a href="#" class="tutor_invite_btn">+ Invite</a>
        <a href="#id_msg_dialog_html" class="tutor-send-msg-btn"><img src="{% static "images/msg_icon_blue.png" %}" width="16" height="13" alt="img"> Message</a>
        {% endif %}
    </div>
</li>