{% load staticfiles %}
<li>
    <div class="schools_icon"> <img src="{% static "images/schools-img.png" %}" width="59" height="48" alt="img"> </div>
    <div class="schools_txt"> <p>{{ education.institution.name }}, {{ education.location }}</p>
    <div style="float: right; margin-top: -30px;">
    <a href="#" class="edit_profile"> <img width="17" height="17" alt="img" src="{% static "images/edit-gray.png" %}"> </a>
    </div>
    </div>
    {% include "ajax/student_add_education_form.html" %}

</li>