{% load staticfiles %}

<link href="{% static "css/datepicker3.css" %}" rel="stylesheet">
<link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
<script src="{% static "js/moment.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>


<form class="student_education_form" action="" method="POST" class="School_edit">
    {% csrf_token %}
    <div class="School_edit_ful">
        <label>School Type</label>
        <div>
            {% for choice in education_form.school_type %}
                <span class="college_skul">
                    {{ choice.tag }}
                    <label>{{ choice.choice_label }}</label>
                </span>
            {% endfor %}
        </div>
    </div>
    <div class="School_edit_ful"> <label>School name</label>
        <div>
            {{ education_form.hidden_pk }}
            {{ education_form.hidden_school }}
            {{ education_form.school_name }}
            <div class="current_skul_edit left10">
                {{ education_form.is_current }}
                <label>This is my current school</label>

            </div>
        </div>
    </div>
    <div class="School_edit_ful"> <label>Location</label>
        <div>
            {{ education_form.location }}
        </div>
    </div>
    <div class="School_edit_ful"> <label>Dates Attended</label>
        <div class="row">
            <div class="col-sm-12">
                {{ education_form.date_attended }}
            </div>
        </div>
    </div>
    <div class="School_edit_ful"> <label>Major</label>
        <div>
            {{ education_form.hidden_major }}
            {{ education_form.major }}
        </div>
    </div>

    <div class="outer_student_btn">
        <input type="submit" value="Save" class="student_save student_education_submit">
        <input type="button" value="Cancel" class="student_cancel">
    </div>
</form>
<script>
    $(document).ready(function(){

        $("input[name=date_attended]").datetimepicker({
            format: 'MM/DD/YYYY',
        });

        $("input[name=date_attended]").focus(function() {
            $("input[name=date_attended]").datetimepicker({
                format: 'MM/DD/YYYY',
                defaultDate: $(this).val()
            });
        });

        $( "input[name=major]" ).autocomplete({
                minLength: 0,
                source: '/ajax/major',
                focus: function( event, ui ) {
                    if(ui.item.id == -1){
                        $(this).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                    }
                    else{
                        $(this).val( ui.item.value );
                    }
                    return false;
                },
                select: function( event, ui ) {
                    var tag_val = ui.item.value;
                    if(ui.item.id == -1){
                        tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                    }
                    $(this).parent().parent().parent().find("input[name=hidden_major]").val(ui.item.id);
                    $(this).val(tag_val);
                    return false;
                }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li style='cursor:pointer;'>" )
                        .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                        .append( "<input type='hidden' class='major_id' value='"+ item.id +"'/>" )
                        .appendTo( ul );
            };


            $( "input[name=school_name]" ).autocomplete({
                minLength: 0,
                source: "/ajax/suggestions/school", //[{"value":"CSE","id": 1},{"value":"Math","id": 2},{"value":"Add \"<b>Economics</b>\"","id": -1}],
                focus: function( event, ui ) {
                    if(ui.item.id == -1){
                        $(this).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                    }
                    else{
                        $(this).val( ui.item.value );
                    }
                    return false;
                },
                select: function( event, ui ) {
                    var tag_val = ui.item.value;
                    if(ui.item.id == -1){
                        tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                    }
                    $(this).parent().parent().parent().find("input[name=hidden_school]").val(ui.item.id);
                    $(this).val(tag_val);
                    return false;
                }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li style='cursor:pointer;'>" )
                        .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                        .append( "<input type='hidden' class='school_id' value='"+ item.id +"'/>" )
                        .appendTo( ul );
            };


    });
</script>