<script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
<link rel="stylesheet" href="static/raty/jquery.raty.css">
<script src="static/raty/jquery.raty.js"></script>
<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
    #submit-review-container {
        margin: 40px 40px 0;
    }
    .review-container {
        margin: auto;
    }
    .hidden-content {
        display: none;
    }
    .thumbs-up {
        width:  50%;
        float: left;
    }
    .thumbs-up-xl, .thumbs-down-xl{
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function(){
        $(".thumbs-up-xl").click(function(e){
            $("input[name=is_helpful]").val("1");
            $("#id_thumb_container").fadeOut();
            $("#id_rate_tutor_container").fadeIn(500);
        });
        $(".thumbs-down-xl").click(function(e){
            $("input[name=is_helpful]").val("0");
            $("#id_thumb_container").fadeOut();
            $("#id_rate_tutor_container").fadeIn(500);
        });
        $.fn.raty.defaults.path = '../static/raty/images';
        $('#id_rate_tutor').raty({
            score: 0
        });
        $("#id_rate_tutor > img").click(function(){
            $("#id_rate_tutor_container").fadeOut();
            var score = $(this).attr("alt");                             //record clicked
            $("input[name=rating_value]").val(score);
            var is_helpful = $("input[name=is_helpful]").val();
            if(is_helpful == "0"){
                $(".disliked-container").fadeIn(500);
                $(".text-container").fadeIn();
            }
            else{
                $(".liked-container").fadeIn(500);
                $(".text-container").fadeIn();
            }
        });
        $(".show-tech-feedback").click(function(e){
            $("#tech-feedback-form").show();
        });
    });
</script>
<div id="submit-review-container" class="review-container centered">
    <div id="submit-review-form">
        <form id="review-form" method="POST" action="#">
            <div id="id_thumb_container">
                <h2 class="subheadline">
                    Would you recommend <span class="tutor-name">Nishi</span> to other students?
                </h2>
                <input type="hidden" name="lessonid" value="-1">
                <input type="hidden" name="is_helpful" value="-1">
                <div class="thumb-container">
                    <div class="thumbs-up">
                        <i class="thumbs-up-xl"><img src="static/images/like_large.png"></i> <b style="font-size: 30px;">Yes</b>
                    </div>
                    <div class="thumbs-down">
                        <i class="thumbs-down-xl"><img src="static/images/dislike_large.png"></i> <b style="font-size: 30px;">No</b>
                    </div>
                    <ul id="is_helpful-error" class="form-error"></ul>
                </div>
            </div>
            <div id="id_rate_tutor_container" style="display: none; opacity: 1.0; padding: 20px; border: 1px solid #e7e5e5;">
                <input type="hidden" name="rating_value" value="0">
                <div>
                    <h3>Rate your tutor. It will help other students to know better about <span class="tutor-name">NIshi</span></h3>
                </div>
                <div id="id_rate_tutor" style="cursor: pointer;">

                </div>
            </div>

            <div class="liked-container hidden-content">
                <h3>What did you like about ? <small>(optional)</small></h3>
                <div class="review-explanation">
                    Leaving a written review will help <span class="tutor-name">Nishi</span> get more students.
                </div>
            </div>

            <div class="disliked-container hidden-content">

                <div class="hint technical-disclaimer">
                    <strong>Note:</strong>
                    If you had a negative experience because of technical issues,please let us know
                    <a href="javascript://" class="show-tech-feedback">here</a> instead of leaving a negative review.
                </div>

                <h3>
                    What did you dislike about <span class="tutor-name">Nishi</span>?
                </h3>
                <div class="review-explanation">
                    We want to make sure every lesson with every tutor is awesome, so please share why
                    Nishi didn't meet your expectations.
                </div>
            </div>

            <div class="text-container hidden-content clearfix">
                <div class="textarea-container message-container clearfix">
                    <textarea class="form-control" cols="70" id="id_text" name="text" rows="3"></textarea>
                    <div class="counter">Character limit: <span>1000</span></div>
                    <ul id="text-error" class="form-error"></ul>
                    <ul id="__all__-error" class="form-error"></ul>
                </div>

                <button class="btn btn-primary cta-blue cta-medium submit-review">Submit Review</button>

            </div>
        </form>

    </div>

    <div id="tech-feedback-form" class="hidden-content">
        <h2 class="subheadline">We're sorry to hear you had technical difficulties!</h2>

        <form id="feedback-form" method="POST" action="/tutors/s/tech-feedback/">
            <h3>Please let us know what went wrong.</h3>
            <div class="review-explanation">
                Quality is important to us. A member of our support team will follow up with you to make things right.
            </div>

            <div class="feedback-text-container clearfix">
                <input type="hidden" name="lessonCode" value="MWOA7">
                <textarea class="form-control" cols="70" rows="3"></textarea>
                <div class="counter">Character limit: <span>1000</span></div>
                <ul class="form-error feedback-error">
                    <li>Please enter a comment</li>
                </ul>
            </div>

            <div class="clearfix">
                <div class="go-back-container onmodal-hide">
                    <a href="javascript://" class="show-review">« Go back to reviewing the lesson</a>
                </div>

                <button class="btn cta-blue submit-tech-feedback">Submit Feedback</button>

            </div>
        </form>

    </div>
</div>
