{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load jobtags %}
<li class="my-job-item" data-date="{{ job.date_created }}" data-job-id="{{ job.pk }}">
    <h4 class="champ_finance_heading">{{ job.title }} <em>({{ job.render_lesson_type_verbal }})</em></h4>
    <div class="champ_poston">
        <span><label>posted on:</label> <p>{{ job.date_created|fromunix|localtime|format_datetime }}</p></span>
        <span><label>end date:</label> <p>{{ job.end_date|fromunix|localtime|format_datetime }}</p></span>
    </div>
    <ul class="champ_durleft_list">
        <!-- <li><a href="#">All (13)</a></li> -->
        <li><a href="{% url "job_post_details" job.pk %}#action-tab1">Pending (<b class="pending_count" style="font-weight: normal;">{{ pending_count }}</b>) <span>Applications waiting for your actions</span></a></li>
        <li><a href="{% url "job_post_details" job.pk %}#action-tab2">Invited (<b class="invitation_count" style="font-weight: normal;">{{ invited_count }}</b>) <span>You have invited tutors</span></a></li>
        <li><a href="{% url "job_post_details" job.pk %}#action-tab3">Rejected (<b class="reject_count" style="font-weight: normal;">{{ rejected_count }}</b>) <span>The list of applicants which were rejected either by you or the tutor</span></a></li>
        <li><a href="{% url "job_post_details" job.pk %}#action-tab4">Shortlisted (<b class="shortlist_count" style="font-weight: normal;">{{ shortlisted_count }}</b>) <span>Your shortlisted tutors</span></a></li>
        <li><a href="{% url "job_post_details" job.pk %}#action-tab5">Hired (<b class="hired_count" style="font-weight: normal;">{{ hired_count }}</b>) <span>Your hired tutors</span></a></li>
    </ul>
    <div class="champ_finance_detail">
        <p class="champ_need_some1">{{ job.description|linebreaksbr|truncatechars:100 }} </p>
        <ul class="champ_ready_teach">
            {% if availability == 2 %}
            <li> <h4 class="champ_teach_heading">Ready to teach Now</h4> </li>
            {% elif availability == 3 %}
            <li> <h4 class="champ_teach_heading">Ready fo Written Lesson</h4> </li>
            {% endif %}
            {% if subjects %}
            <li> <label>Subject:</label> <p>{{ subjects }}</p> </li>
            {% endif %}
            {% if gender %}
            <li> <label>Gender:</label> <p>{{ gender }}</p> </li>
            {% endif %}
            {% if timezones %}
            <li> <label>Timezone Difference:</label> <p>{{ timezones }}</p> </li>
            {% endif %}
            {% if languages %}
            <li> <label>Conversation In:</label> <p>{{ languages }}</p> </li>
            {% endif %}
            {% if currency %}
            <li> <label>Currency:</label> <p>{{ currency }}</p> </li>
            {% endif %}
            {% if rate1 and rate2 %}
            <li> <label>Rate:</label> <p>${{ rate1|floatformat:2 }}/hr - ${{ rate2|floatformat:2 }}/hr</p> </li>
            {% endif %}
        </ul>
        <div class="champ_finance_duration">
            <div class="champ_duration_left">
                <div class="champ_duration_date">
                    <span class="champ_date_icon"><label>Start Date:</label>
                    <p>{{ job.lesson_time|fromunix|localtime|format_datetime2:"%d/%m/%Y %H:%M" }}</p></span>
                    <span class="champ_duration_icon"><label>duration:</label>
                    <p>{{ job.lesson_duration }} minutes</p></span>
                </div>
            </div>
            <a class="champ_finance_view" href="{% url "job_post_details" job.pk %}">View</a>
            {% if active_job %}
            <a class="champ_finance_view" href="{% url "user_profile" pk=job.posted_by.pk %}?tab=job-post&job-id={{ job.pk }}" style="background-color: #e62739; margin-right: 10px;">Edit</a>
            {% else %}
            <a data-object-id="{{ job.pk }}" class="champ_finance_view open_repost_button" style="margin-right: 10px;" href="#">Repost</a>
            {% endif %}
        </div>
    </div>
</li>