{% load staticfiles %}
{% load datefilters %}
{% load tz %}
<tr>
    <td>
        <p class="upcoming_heading">{{ lesson.lesson_time|fromunix|localtime|format_datetime }} ({% if lesson.type == 0 %}online{% else %}written{% endif %})</p>
        <p class="upcoming_txt">{{ lesson.duration|format_time_from_min }} {% if lesson.subjects.exists %}. {{ lesson.render_subjects }}{% endif %}</p>
    </td>
    <td class="trophy_width">
        <div class="user_prfle"><img width="56" height="56" src="{{ champuser.render_profile_picture }}" alt="img"></div>
        <a href="#" class="stdnt_name_inr" title="{{ champuser.fullname }}">{{ champuser.fullname|truncatechars:10 }}</a>
        <div class="outer_review_trophy">
            <a href="#" class="review_trophy">
                <img width="17" height="18" alt="img" src="{% static "images/grade_active.png" %}">
                <span>{{ champuser.positive_feedback_count_verbal }}</span>
            </a>
            <a href="#" class="review_trophy">
                <img width="17" height="18" alt="img" src="{% static "images/grade_non_active.png" %}">
                <span>{{ champuser.negative_feedback_count_verbal }}</span>
            </a>
        </div>
    </td>
    <!-- <td><p class="no_review">No Review</p></td> -->
    <td class="limit_width">
        <!--{% if lesson.review %}-->
            <!--<a class="vw_lesn radius3" href="{% url "lesson_feedback" pk=lesson.pk %}">view feedback</a>-->
        <!--{% else %}-->
            <!--{% if lesson.user.champuser.type.name == "student" %}-->
                <!--<input type="hidden" class="feedback-lesson-id" value="{{ lesson.pk }}"/>-->
                <!--<p class="no_review"><a href="{% url "lesson_feedback" pk=lesson.pk %}" class="lesson-feedback">Give Feedback</a></p>-->
            <!--{% else %}-->
                <!--<p class="no_review">No Review</p>-->
            <!--{% endif %}-->
        <!--{% endif %}-->


        {% if lesson.review %}
            <a class="vw_lesn radius3" href="#" onclick="writereview()">Write Review</a>
        {% else %}
            <p class="no_review">No Review</p>
        {% endif %}
    </td>
  </tr>