{% load staticfiles %}
{% load datefilters %}
<div class="private_list_left">
    <li>
        <label>Email:</label>
        <span>{{ champ_user.user.email }}</span>
    </li>
    <li>
        <label>Gender :</label>
        <span>{{ champ_user.gender|capfirst }}</span>
    </li>
    <li>
        <label>Birthdate:</label>
        <span>{% if champ_user.birthdate > 0 %} {{ champ_user.birthdate|date_from_timestamp }} {% endif %}</span>
        <p>Our services are not available to students under the age of 13. Please work with your parent or guardian to establish an account.</p>
    </li>
    <li>
        <label>Citizenship :</label>
        <span>{{ champ_user.nationality.name|capfirst }}</span>
    </li>
    <li>
        <label>Ethnicity :</label>
        <span>{{ champ_user.ethnicity|capfirst }}</span>
    </li>
</div>
<div class="private_list_right">
    <li>
        <label>Religion/Beliefs :</label>
        <span>{{ champ_user.religion|capfirst }}</span>
    </li>
    <li>
        <label>Languages:</label>
        <span>
        {% for user_language in languages %}
        {{ user_language.language.name }}
        {% if not forloop.last %}
        ,
        {% endif %}
        {% endfor %}
        </span>
    </li>
    <li>
        <label>Timezone: </label>
        <span>{{ champ_user.timezone|capfirst }}</span>
    </li>
</div>