{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
<link href="{% static "css/datepicker3.css" %}" rel="stylesheet">
<link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
<script src="{% static "js/moment.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<script src="{% static "js/select2.min.js" %}"></script>

<style>
    .input-password{
        width: 210px;
    }
    .select-input{
        width: 200px;
    }
    .bootstrap-datetimepicker-widget{
        width: 230px;
        padding: 13px;
    }
</style>
<form id="id_student_profile_private_info_form" class="private_list_edit">
    {% csrf_token %}
    <div class="private_edit_left">
        <div> <label>Your Email Address : </label> {{ form.email }} </div>
        <div> <label>Password : </label> {{ form.old_password }} </div>
{#        <div> <label>New Password : </label> {{ form.new_password }} </div>#}
{#        <div> <label>Confirm New Password : </label> {{ form.new_password_again }} </div>#}
        <div>
            <label>Gender :</label>
            <div class="gender_edit1">
                {{ form.gender }}
{#                <select class="loct">#}
{#                    <option value="Select">Select</option>#}
{#                </select>#}
            </div>
        </div>
        <div>
            <label>Birthdate:</label>
            <div class="gender_edit" id="month_edit">
                <div class="row">
                    <div class="col-sm-12">
                        {{ form.birthdate }}
                    </div>
                </div>
{#                <select class="loct">#}
{#                    <option value="Jan">Jan</option>#}
{#                </select>#}
            </div>
{#            <div class="gender_edit" id="day_edit">#}
{#                <select class="loct">#}
{#                    <option value="01">01</option>#}
{#                </select>#}
{#            </div>#}
{#            <div class="gender_edit" id="year_edit">#}
{#                <select class="loct">#}
{#                    <option value="2014">2014</option>#}
{#                </select>#}
{#            </div>#}
            <p class="services_edit">Our services are not available to students under the age of 13. Please work with your parent or guardian</p>
        </div>
    </div>
    <div class="private_edit_right">
        <div>
            <label>Religion/Beliefs :</label>
            <div class="gender_edit1">
                {{ form.religion }}
{#                <select class="loct">#}
{#                    <option value="Select">Select</option>#}
{#                </select>#}
            </div>
        </div>
        <div>
            <label>Languages:</label>
            <div class="gender_edit1">
                <input type="hidden" name="hidden_languages" value="{{ langs_val }}">
                {{ form.languages }}
{#                <select class="loct">#}
{#                    <option value="Select">Select</option>#}
{#                </select>#}
            </div>
                <span class="language_tag">
                    {% for pk,lang in langs %}
                        <a href="javascript:void(0);"><input type="hidden" name="hidden_lang_id" value="{{ pk }}"/> {{ lang }}<span class="cross"></span></a>
                    {% endfor %}
                </span>
        </div>
        <!--<div>
            <label>GPA : </label>
            <input type="text" palceholder="Enter GPS" class="gpa_edit">
        </div>-->
        <div>
            <label>Citizenship :</label>
            <div class="gender_edit1">
                {{ form.nationality }}
{#                <select class="loct">#}
{#                    <option value="Select">Select</option>#}
{#                </select>#}
            </div>
        </div>
        <div>
            <label>Ethnicity :</label>
            <div class="gender_edit1">
                {{ form.ethnicity }}
{#                <select class="loct">#}
{#                    <option value="Select">Select</option>#}
{#                </select>#}
            </div>
        </div>
        <div>
            <label>Time Zone :</label>
            <div class="gender_edit1">
                {{ form.timezone }}
{#                <select class="loct">#}
{#                    <option value="Select">Select</option>#}
{#                </select>#}
            </div>
        </div>
    </div>
    <div class="outer_student_btn">
        <input id="id_student_private_info_submit" type="submit" value="Save" class="student_save">
        <input id="id_student_private_info_canel" type="button" value="Cancel" class="student_cancel">
    </div>
</form>

<script>
    $(document).ready(function(){

        $("#id_language").select2();

        $("#id_citizenship").select2();

        $("#id_timezone").select2();

        $(".input-password").css({
            "width":"212px",
            "margin-top":"-6px"
        });

        $("#id_birthdate").datetimepicker({
            //sideBySide: true
            format: 'DD/MM/YYYY'
        });

        $("#id_language").change(function(e){
            var language = $('select#id_language option:selected').text();
            var lang_id = $(this).val();

            var _tag = '<a href="javascript:void(0);"><input type="hidden" name="hidden_lang_id" value="'+ lang_id +'">'+ language +'<span class="cross"></span></a>';
            var langs = $("input[name=hidden_languages]").val();
            var new_langs = "";
            var already_exists = false;
            if(langs == ""){
                $("input[name=hidden_languages]").val(lang_id+",");
                $(".language_tag").append(_tag);
            }
            else{
                var langs_split = langs.split(",");
                for(var i = 0 ; i < langs_split.length ; i++){
                    if(langs_split[i] != ""){
                        if(parseInt(langs_split[i]) == parseInt(lang_id)){
                            already_exists = true;
                        }
                        else{
                            new_langs += langs_split[i]+",";
                        }
                    }
                }
                if(!already_exists){
                    $(".language_tag").append(_tag);
                }
                new_langs += lang_id+",";
                $("input[name=hidden_languages]").val(new_langs);
            }

        });

        $(document).on("click",".cross", function(e){

            var langs = $("input[name=hidden_languages]").val();
            var lang_id = $(this).parent().find("input[name=hidden_lang_id]").val();
            console.log(lang_id);
            var new_langs = "";
            if(langs != ""){
                var langs_split = langs.split(",");
                for(var i = 0 ; i < langs_split.length ; i++){
                    if(langs_split[i] != ""){
                        if(parseInt(langs_split[i]) != parseInt(lang_id)){
                            new_langs += langs_split[i]+",";
                        }
                    }
                }
            }

            $("input[name=hidden_languages]").val(new_langs);

            $(this).parent().remove();
        });

    });
</script>