{% load staticfiles %}
<!-- <textarea class="aaa"></textarea> -->
<style type="text/css">
	#id_pad_container
	{
		border: 1px solid gray;
		padding: 20px;
	}

	ul#id_etherpadd_tabs { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0; }
      ul#id_etherpadd_tabs li { display: inline; margin:3px;}
      ul#id_etherpadd_tabs li a:not(#id_add_new_tab) { color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-bottom: none; padding: 0.3em; text-decoration: none; padding: 0.7em 0.3em 0.38em 0.3em; }
      ul#id_etherpadd_tabs li a:hover { background-color: #f1f0ee; }
      ul#id_etherpadd_tabs li a.selected { color: #000; background-color: #f1f0ee; font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; }
      div.tabContent { border: 1px solid #c9c3ba; padding: 0.5em; background-color: #f1f0ee; min-height: 600px;}
      div.tabContent.hide { display: none; }

</style>
<div id="id_pad_container">
	<ul id="id_etherpadd_tabs">
  <li class="tab_item"><a href="#id_pad_content_1">Untitled Pad+</a></li>
  <!-- <li><a href="#advantages">Untitled Pad2</a></li>
  <li><a href="#usage">Untitled Pad3</a></li> -->
  <li><a id="id_add_new_tab" href="#"><span style="cursor:pointer; padding: 10px; background: green;">+</span></a></li>
</ul>

<div class="tabContent" id="id_pad_content_1">
  <h2>About JavaScript tabs</h2>
  <div>
    <p>JavaScript tabs partition your Web page content into tabbed sections. Only one section at a time is visible.</p>
    <p>The code is written in such a way that the page degrades gracefully in browsers that don't support JavaScript or CSS.</p>
  </div>
</div>

<!-- <div class="tabContent" id="advantages">
  <h2>Advantages of tabs</h2>
  <div>
    <p>JavaScript tabs are great if your Web page contains a large amount of content.</p>
    <p>They're also good for things like multi-step Web forms.</p>
  </div>
</div>

<div class="tabContent" id="usage">
  <h2>Using tabs</h2>
  <div>
    <p>Click a tab to view the tab's content. Using tabs couldn't be easier!</p>
  </div>
</div> -->
</div>

<!-- <div class="tab_right radius3">
    <a href="#"><img src="{% static "images/wb_upload_download_icon.png" %}" width="16" height="13" alt="img"> Upload / Download</a>
    <a href="#"><img src="{% static "images/wb_revisions_icon.png" %}" width="18" height="18" alt="img"> Revisions</a>
</div> -->

<!-- <script src="{% static "js/tinymce.min.js" %}"></script> -->
<script type="text/javascript">
    // tinymce.init({
    //     selector: "textarea.aaa",
    // });
	// $('#id_pad_container').pad(
	// 	{
	// 		'padId':'test',
	// 		'width':1000,
	// 		'height':800,
	// 		'host'             : 'http://127.0.0.1:9001', // the host and port of the Etherpad instance, by  default the foundation will host your pads for you
	// 		'baseUrl'          : '/p/', // The base URL of the pads
	// 		'showControls'     : true, // If you want to show controls IE bold, italic, etc.
	// 		'showChat'         : false, // If you want to show the chat button or not
	// 		'showLineNumbers'  : true, // If you want to show the line numbers or not
	// 		'userName'         : 'Sohel', // The username you want to pass to the pad
	// 		'useMonospaceFont' : false, // Use monospaced fonts
	// 		'noColors'         : false, // Disable background colors on author text
	// 		'userColor'        : false, // The background color of this authors text in hex format IE #000
	// 		'hideQRCode'       : false, // Hide QR code
	// 		'alwaysShowChat'   : false, // Always show the chat on the UI
	// 		'border'           : 1,    // The width of the border (make sure to append px to a numerical value)
	// 		'borderStyle'      : 'solid', // The CSS style of the border    [none, dotted, dashed, solid, double, groove, ridge, inset, outset]
	// 		'rtl'              : false // Show text from right to left
	// 	});

	function ConnectPad(id,width,height) {

				var width = 1000;
				var height = 600;

				if(width != undefined)
				{
					width = width;
				}

				if(height != undefined)
				{
					height = height;
				}

				$('#id_pad_content_'+id).pad(
				{
					'padId': 'Untitled '+id,
					'width':width,
					'height':height,
					'host'             : 'http://127.0.0.1:9001', // the host and port of the Etherpad instance, by  default the foundation will host your pads for you
					'baseUrl'          : '/p/', // The base URL of the pads
					'showControls'     : true, // If you want to show controls IE bold, italic, etc.
					'showChat'         : false, // If you want to show the chat button or not
					'showLineNumbers'  : true, // If you want to show the line numbers or not
					'userName'         : 'Sohel', // The username you want to pass to the pad
					'useMonospaceFont' : false, // Use monospaced fonts
					'noColors'         : false, // Disable background colors on author text
					'userColor'        : false, // The background color of this authors text in hex format IE #000
					'hideQRCode'       : false, // Hide QR code
					'alwaysShowChat'   : false, // Always show the chat on the UI
					'border'           : 1,    // The width of the border (make sure to append px to a numerical value)
					'borderStyle'      : 'solid', // The CSS style of the border    [none, dotted, dashed, solid, double, groove, ridge, inset, outset]
					'rtl'              : false // Show text from right to left
				});
	};

	//<![CDATA[

    var tabLinks = new Array();
    var contentDivs = new Array();

    var current_tab_id = 1;

    function init() {
      tabLinks = new Array();
      contentDivs = new Array();
      // Grab the tab links and content divs from the page
      var tabListItems = document.getElementById('id_etherpadd_tabs').childNodes;
      for ( var i = 0; i < tabListItems.length; i++ ) {
        if ( tabListItems[i].nodeName == "LI" && tabListItems[i].className == "tab_item" ) {
          var tabLink = getFirstChildWithTagName( tabListItems[i], 'A' );
          var id = getHash( tabLink.getAttribute('href') );
          tabLinks[id] = tabLink;
          contentDivs[id] = document.getElementById( id );
        }
      }

      // Assign onclick events to the tab links, and
      // highlight the first tab
      var i = 0;

      for ( var id in tabLinks ) {
        tabLinks[id].onclick = showTab;
        tabLinks[id].onfocus = function() { this.blur() };
        if ( i == 0 ) tabLinks[id].className = 'selected';
        i++;
      }

      // Hide all content divs except the first
      var i = 0;

      for ( var id in contentDivs ) {
        if ( i != 0 ) contentDivs[id].className = 'tabContent hide';
        i++;
      }
    }

    function showTab() {
      var selectedId = getHash( this.getAttribute('href') );

      // Highlight the selected tab, and dim all others.
      // Also show the selected content div, and hide all others.
      for ( var id in contentDivs ) {
        if ( id == selectedId ) {
          tabLinks[id].className = 'selected';
          contentDivs[id].className = 'tabContent';
        } else {
          tabLinks[id].className = '';
          contentDivs[id].className = 'tabContent hide';
        }
      }

      // Stop the browser following the link
      return false;
    }

    function getFirstChildWithTagName( element, tagName ) {
      for ( var i = 0; i < element.childNodes.length; i++ ) {
        if ( element.childNodes[i].nodeName == tagName ) return element.childNodes[i];
      }
    }

    function getHash( url ) {
      var hashPos = url.lastIndexOf ( '#' );
      return url.substring( hashPos + 1 );
    }

    function AddNewTab(id) {
    	$("<li class=\"tab_item\"><a href=\"#id_pad_content_"+ id +"\">Untitled Pad"+ id +"</a></li>").insertBefore("#id_etherpadd_tabs li:last-child");

    	var tab_content = "<div class=\"tabContent\" id=\"id_pad_content_"+ id +"\">";
            tab_content += "<h2>New Tab</h2>";
  			tab_content += "<div>";
    		tab_content += "<p>New Tab "+ id +"</p>";
  			tab_content += "</div>";
			tab_content += "</div>";

    	$("#id_pad_container").append(tab_content);
    	init();

    	ConnectPad(id);

    }

    init();

    $("#id_add_new_tab").click(function(e)
	{
		current_tab_id += 1;
		AddNewTab(current_tab_id);

		console.log("Current Tab Id: "+current_tab_id);
		return false;
	});

    //]]>

</script>