{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "jquery.easyui-1.4.2/themes/black/easyui.css" %}"/>
{#<script type="text/javascript" src="{% static "jquery.easyui-1.4.2/jquery.min.js" %}"></script>#}
<script type="text/javascript" src="{% static "jquery.easyui-1.4.2/jquery.easyui.min.js" %}"></script>
{#<script type="text/javascript" src="{% static "js/etherpad.js" %}"></script>#}

<style type="text/css">
    .panel .panel-body{
        width:  100%;;
    }
</style>

<div id="tt" class="easyui-tabs" style="width: 100%;float:left; margin-top: 30px; display: none;">
    <button id="id_add_new_tab" title="Click to add a new pad" class="btn btn-primary" data-options="closable:false" style="padding:3px;float:left;">
        <span class="glyphicon glyphicon-plus"></span> New Pad
    </button>
</div>
<script type="text/javascript">

    function AddNewPad(pad_nid,pad_id){
        console.log("AddNewTab: "+pad_id);
        $("#id_pad_tab_"+pad_nid).html('<iframe id="epframeid_pad_tab_'+pad_id+'" name="epframeid_pad_tab_'+pad_id+ '" src="'+ window.etherpad_server +'p/'+pad_id+'?showControls=true&amp;showChat=false&amp;showLineNumbers=true&amp;useMonospaceFont=false&amp;userName=Sohel&amp;noColors=false&amp;userColor=false&amp;hideQRCode=false&amp;alwaysShowChat=false&amp;rtl=false" style="border:1; border-style:solid;" width="100%" height="1300"></iframe>');
    }

  $(document).ready(function(){
      tab_counter = 0;
      window.loaded_tabs = {};

      //AddNewPad(1);

      $('#tt').tabs({
          onSelect: function(title,index){
              console.log("Loaded Tabs: "+loaded_tabs);
              if(!loaded_tabs[index + 1] || loaded_tabs[index + 1] == undefined){

                  loaded_tabs[index + 1] = true;
                  //alert($(this).prop("id"));
                  //AddNewPad("{{ text_pad.pad_nid }}",{{ text_pad.id }});
              }
          },
          onUnselect: function(title,index){

          },
          onBeforeClose: function(title){
              return confirm('Are you sure you want to close ' + title);
          },
          onClose: function(title){

          },
          onAdd: function(title){

          },
          onUpdate: function(title){

          }
      });

      $(document).on("click","#id_add_new_tab",function(e){
          var lesson_id = {% if live_lesson %} {{ live_lesson.pk }} {% else %} -1 {% endif %};

          $.ajax({
              type: "GET",
              url: "/ajax/action_whiteboard_tab",
              data: { action: "ADD_NEW_TEXT_PAD", "lesson_id": lesson_id },
              success: function(data)
              {
                  data = jQuery.parseJSON(data);
                  console.log(data.data);
                  $('#tt').tabs('add',{
                      title:data.data.pad_nid,
                      id: "id_pad_tab_"+data.data.pad_nid,
                      content:'',
                      closable:false
                  });
                  AddNewPad(data.data.pad_nid,data.data.pad_id);
                  window.text_tabs_list[data.data.pad_nid] = true;
                  console.log("Pad tab added.");
              },
              error: function(jqxhr, status, error)
              {
                  console.log("An error occured while adding canvas tab. Error message: "+error);
              }
          })
          .done(function( msg ) {

          });
      });

      //$("#id_add_new_tab").click();


  });

</script>