{% if type == "user" %}
<li style="width: 260px;">
    <div style="width: 260px; font-weight: bold; font-size: 17px;">
        <img src="{{ student.render_profile_picture }}" width="20" height="20"/>
        <a href="{% url "user_profile" student.user.pk %}" style="font-size: 13px;">{{ student.fullname }}({% if student.is_tutor %}Tutor{% else %}Student{% endif %})</a></div>
    <div style="width: 260px; font-size: 12px; color: #818c92;">Major: {{ student.major }}</div>
    <div style="width: 260px; font-size: 12px; color: #818c92;">School: {{ student.current_school }}</div>
</li>
{% elif type == "job" %}
<li style="width: 260px;">
    <div style="width: 260px; font-weight: bold; font-size: 17px;"><a href="{% url "job_post_details" job.pk %}" style="font-size: 13px;">{{ job.title }}</a></div>
    <div style="font-size: 12px; font-weight: bold; color: #818c92;">{{ job.render_lesson_type_verbal }}</div>
    <div style="font-size: 12px; color: #818c92;">{{ job.description|truncatechars:100 }}</div>
    <div><span style="font-size: 12px; color: #818c92;">Posted By: </span><a href="{% url "user_profile" job.posted_by.pk %}" style="font-size: 12px;">{{ job.posted_by.champuser.fullname }}</a></div>
</li>
{% endif %}