<tr>
    <td>
        <a class="user_prfle" href="javascript:void(0);"><img width="56" height="56" src="{{ student.render_profile_picture }}" alt="img"></a>
        <a href="#" class="stdnt_name_inr" title="{{ student.fullname }}">{{ student.fullname|truncatechars:16 }}</a>
    </td>
    <td>
        <p class="upcoming_heading">{{ student.nationality.name }}</p>
    </td>
    <td><p class="upcoming_heading">{{ lesson_count }} lessons</p></td>
    <td>
        <input type="hidden" class="tutor_uid" value="{{ student.user.pk }}">
        <input type="hidden" class="online_status" value="{{ student.render_online_status_verbal }}">
        <input type="hidden" class="tut_name" value="{{ student.fullname }}">
        <a href="#" class="vw_lesn radius3 champ_text_chat">Message</a>
    </td>
</tr>