{% load staticfiles %}

{% if student_entries %}
<h4 style="padding: 3px; font-size: 15px; font-weight: bold;">Students</h4>
{% endif %}
{% for entry in student_entries %}
    {{ entry }}
{% endfor %}
{% if job_entries %}
<h4 style="padding: 3px; font-size: 15px; font-weight: bold;">Jobs
<a class="pull-right" href="{% url "marketplace" %}" style="font-size: 13px; font-weight: bold;">
    Advance Job Search
</a>
</h4>
{% endif %}
{% for entry in job_entries %}
    {{ entry }}
{% endfor %}

{% if not student_entries and not job_entries %}
<li style="width: 260px;">
        <div style="width: 260px; min-height: 70px;">No Search Result Found for <b><i>{{ keyword }}</i></b></div></li>
{% endif %}
{% if student_entries or job_entries %}
    <style>
    .search-result {
        height: 450px; !important;
    }
        </style>
    <li style="width: 260px;">
        <div style="width: 260px; font-weight: bold; font-size: 17px; padding: 7px;">
            Haven't found the perfect job yet? Please search jobs by advanced tool.
            <a href="{% url "marketplace" %}" style="font-size: 17px;">
                Search in Job Market
            </a>
        </div>
    </li>
{% else %}
    <style>
    .search-result {
        height: 200px !important;
    }
        </style>
    <li style="width: 260px;">
        <div style="width: 260px; font-weight: bold; font-size: 17px; padding: 7px;">
            <a href="{% url "marketplace" %}" style="font-size: 17px;">
                Search in Job Market
            </a>
        </div>
    </li>
{% endif %}