{% if request.user.champuser.is_tutor %}
<form class="search_box_top radius3">
    <div>
        <input id="id_student_ajax_search" type="submit">
        <input id="id_top_search_textbox" style="width: 260px; padding-left: 35px; " type="text" class="student-search" placeholder="Search students or Jobs">
    </div>
    <ul class="search-result">
        <li id="id_loading_search_icon_container" style="display: none;">
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
            </div>
        </li>
        <li>
            <ul id="id_search_result_container"></ul>
        </li>
    </ul>
</form>
{% else %}
<form class="search_box_top radius3">
    <div>
        <input id="id_tutor_ajax_search" type="submit">
        <input id="id_top_search_textbox" style="width: 260px " type="text" class="tutor-search" placeholder="Type subject name (e.g Algebra)">
    </div>
    <ul class="search-result">
        <li id="id_loading_search_icon_container" style="display: none;">
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <span style="float: left; font-size: 15px; font-weight: bold;">Loading...</span>
                </div>
            </div>
        </li>
        <li>
            <ul id="id_search_result_container"></ul>
        </li>
    </ul>
</form>
{% endif %}

<script>

    var is_chrome = navigator.userAgent.indexOf('Chrome') > -1;
    var is_explorer = navigator.userAgent.indexOf('MSIE') > -1;
    var is_firefox = navigator.userAgent.indexOf('Firefox') > -1;
    var is_safari = navigator.userAgent.indexOf("Safari") > -1;
    var is_opera = navigator.userAgent.toLowerCase().indexOf("op") > -1;
    if ((is_chrome)&&(is_safari)) {is_safari=false;}
    if ((is_chrome)&&(is_opera)) {is_chrome=false;}
    if(is_chrome) {
        $("#id_top_search_textbox").css("margin-top", "7px");
    }

    $(document).ready(function() {

        {% if not request.user.champuser.is_tutor %}

            $( document).click(function(e){
                if((!$(e.target).parents('.search-result').length && !$(e.target).hasClass("tutor-search"))){
                    $(".search-result").hide();
                }
            });

        {% else %}
            $( document).click(function(e){
                if((!$(e.target).parents('.search-result').length && !$(e.target).hasClass("student-search"))){
                    $(".search-result").hide();
                }
            });
        {% endif %}
    });
</script>