{% load staticfiles %}
<h4 style="font-size: 15px; padding: 3px;">Tutors <a class="pull-right" style="font-size: 15px; font-weight: bold;" href="{% url "tutor_search" %}">Advance search</a></h4>
{% for tutor in tutor_list %}
    <li style="width: 260px;">
        <div style="width: 260px; font-weight: bold; font-size: 12px;">
            <img src="{{ tutor.render_profile_picture }}" width="20" height="20"/>
            <a href="{% url "user_profile" tutor.user.pk %}" style="font-size: 13px; font-weight: bold;">{{ tutor.fullname }}({% if tutor.is_tutor %}Tutor{% else %}Student{% endif %})</a>
        </div>
        <div style="padding: 3px; font-size: 12px; color: #818c92;">Teaching Subjects: {{ tutor.major }}
        {% if tutor.user.usermajor_set.all %}
            ,
            {% for user_major in tutor.user.usermajor_set.all|slice:":1" %}
             {{ user_major.major.name }}
            {% endfor %}
            {% if tutor.user.usermajor_set.all|length >= 2 %}
                and {{ tutor.user.usermajor_set.all|length|add:"-1" }} more
            {% endif %}
        {% endif %}
        </div>
        <div style="padding: 3px; font-size: 12px; color: #818c92;">School: {{ tutor.current_school }}</div>
    </li>
    {% empty %}
    <li style="width: 260px;">
        <div style="width: 260px; min-height: 70px;">No Search Result Found for <b><i>{{ keyword }}</i></b></div></li>
{% endfor %}
{% if tutor_list %}
    <style>
    .search-result {
        height: 450px; !important;
    }
        </style>
    <li style="width: 260px;">
        <div style="width: 260px; font-weight: bold; font-size: 14px; padding: 3px;">
            Haven't found the perfect tutor? Please search tutor by advanced tool.
            <a href="/tutor-search/" style="font-size: 14px;">
                Advance Search
            </a>
        </div>
    </li>
{% else %}
    <style>
    .search-result {
        height: 200px !important;
    }
        </style>
    <li style="width: 260px;">
        <div style="width: 260px; font-weight: bold; font-size: 14px; padding: 7px;">
            <a href="{% url "tutor_search" %}" style="font-size: 14px;">
                Advance Search
            </a>
        </div>
    </li>
{% endif %}