{% if chatted_users %}
<div class="chat_tutor_section">
{% if type_name == "teacher" %}
<h3>Chatted Tutors</h3>
{% else %}
<h3>Chatted Students</h3>
{% endif %}
{% for chatted_user in chatted_users %}
{{ chatted_user }}
{% endfor %}
{% if chatted_show_more %}
<a href="#" class="show_more_chat"><input type="hidden" class="major_name" value="chatted_users">Show More</a>
{% endif %}
</div>
{% endif %}
{% for subject_name, subject_entry in subject_entries.items %}
{% if subject_entry.subjects %}
<div class="chat_tutor_section">
<h3>{{ subject_name }} Tutor</h3>
{% for tutor in subject_entry.subjects %}
{{ tutor }}
{% endfor %}
{% if subject_entry.show_more %}
<a href="#" class="show_more_chat"><input type="hidden" class="major_name" value="{{ subject_name }}">Show More</a>
{% endif %}
</div>
{% endif %}
{% endfor %}