{% load staticfiles %}
<style>
    li.active > a {
        color: #5498e4 !important;
        font-weight: bold !important;
    }
</style>
<ul>
    {% for p in page_links %}
        <li {% if p == current_page %} class="active" {% endif %}><a class="search-next" data-page-number="{{ p }}" href="#">{{ p }}</a></li>
    {% endfor %}
</ul>

{% if has_next_page %}
    <a class="search-next" data-page-number="{{ current_page|add:"1" }}" href="#"><img src="{% static "images/next.png" %}" width="23" height="23" alt="img"></a>
{% endif %}
{% if has_previous_page %}
    <a class="search-next" data-page-number="{{ current_page|add:"-1" }}" href="#"> <img src="{% static "images/prev.png" %}" width="23" height="23" alt="img"> </a>
{% endif %}