<div class="text-center">
    {% if settings and settings.intro_video %}
    <iframe id="id_embedded_myvideo_url" width="740" height="530" src="{{ settings.intro_video }}" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
    {% endif %}
</div>