{% load staticfiles %}
{% load i18n %}

<!DOCTYPE HTML>
<html>
<head>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "css/rich-textarea/editor.css" %}" rel="stylesheet">
    <link href="{% static "css/fileinput.min.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{%  static "js/rich-textarea/editor.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
    <script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fileinput.js" %}"></script>
    <style type="text/css">
        .margintop7px{
            position: relative;
            top:  7px;
        }
        .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
            border: none;
        }
        .form-input-style-custom{
            height:  70px;
        }

    </style>
    <script type="text/javascript">
        $(document).ready( function() {

            $("#id_profile_verification_form").submit(function(e){

                if(document.getElementById('upload_frame') == null) {
                    // create iframe
                    $('body').append('<iframe id="upload_frame" name="upload_frame" style="display: none;"></iframe>');
                    $('#upload_frame').on('load',function(){
                        if($(this).contents()[0].location.href.match($(this).parent('form').attr('action'))){
                            var response = jQuery.parseJSON($(this).contents().find('html').text());
                            if(response.status == "SUCCESS"){
                                //parent.$.colorbox.close();
                                parent.location.reload();
                            }
                            else{

                            }
                        }
                    })
                    $(this).attr('method','post');
                    $(this).attr('enctype','multipart/form-data');
                    $(this).attr('target','upload_frame').submit();
                }
            });

        });
    </script>
</head>
<body>
<div class="container" style="width: 100%;">
    <div class="row">
        <h4><img src="{{ request.user.champuser.render_profile_picture }}" width="35" height="35" alt="img"> {{ form_title }}</h4>
    </div>
    <hr>
    <div class="row">
        <form id="id_profile_verification_form" name="file_form" action="/ajax/verification?title=nid" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="width: 100%;">
                <label style="display: block;">Your Name on ID Card</label>
                <p><em>This name should match exactly your national ID card name</em></p>
                <input style="display: block; padding: 7px; width: 350px; border-radius: 7px; border: 1px solid #DDDDDD;" name="nid_name" type="text" id="id_nid_name" placeholder="Name On ID Card"/>
            </div>
            <div style="width: 100%;">
                <label style="display: block;">National ID Number</label>
                <input style="display: block; padding: 7px; width: 350px; border-radius: 7px; border: 1px solid #DDDDDD;" name="nid_number" type="text" id="id_nid_number" placeholder="National ID number"/>
            </div>
            <h4>Select file to upload<em>(JPG/JPEG/PNG/PDF)</em></h4>
            <input type="file" name="ver_file" id="fileToUpload" class="file" data-show-preview="true" accept="application/pdf, image/jpg, image/jpeg, image/png">
        </form>
    </div>
</div>
</body>
</html>

<style type="text/css">
    .file-preview {
    {#        height:  160px;#}
    }
    .file-drop-zone{
    {#        height:  160px;#}
    }
</style>