{% load staticfiles %}
<!-- include css file here-->
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
<script src="{%  static "js/jquery-ui.min.js" %}"></script>

<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<script type="text/javascript" src="{%  static "js/bootstrap.min.js" %}"></script>
<style type="text/css">
    .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
        border: none;
    }
    .strike-container {
        width: 100%;
        float: left;
        clear: both;
    }
    .strike {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }

    .strike > span {
        position: relative;
        display: inline-block;
    }

    .strike > span:before,
    .strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background: gray;
    }

    .strike > span:before {
        right: 100%;
        margin-right: 15px;
    }

    .strike > span:after {
        left: 100%;
        margin-left: 15px;
    }
    .preview-title {
        clear: both;
        float: left;
        width: 100%;
        margin-top: 0px;
        text-align: left;
        font-size: 14px;
    }
    .error-hint {
        color: red;
        clear: both;
        width: 100%;
        display: none;
    }
</style>

<div id="popup_dialog">
  <div class="postneed_bx2">
    <!-- <a href="#" class="cross"><img src="images/cross.png" width="25" height="25" alt="Close" /></a> -->

	<h3 class="reject_heading accept_bg" style="margin-top: 0px;">{% if my_video %}Update Video{% else %}Add Video{% endif %} <span style="cursor: pointer; right: 20px; top: 20px;" name="job_apply_cancel" class="glyphicon glyphicon-remove pull-right" id="id_job_apply_cancel"></span></h3>
	<div class="reject_detail" style="width: 100%; height: 450px; overflow-y: auto;">
        <form action="#" name="video_upload_form" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table borderless" style="width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <div style="margin-bottom: 20px;">
                                <input style="width: 300px;" {% if my_video %} data-id="{{ my_video.pk }}" value="{{ my_video.title }}"{% endif %} placeholder="Video Title" type="text" class="form-control" id="id_input_video_title"/>
                                <p class="error-hint title-required-hint">This field is required</p>
                                <input type="hidden" {% if my_video %}value="{{ my_video.video_length }}"{% endif %} name="video_duration" id="id_hidden_video_duration"/>
                            </div>
                            <div style="margin-bottom: 20px;">
                                <textarea rows="5" placeholder="Video Description" type="text" class="form-control" id="id_input_video_description"> {% if my_video %}{{ my_video.description }}{% endif %}</textarea>
                                <p class="error-hint title-required-hint">This field is required</p>
                            </div>
                            <div>
                                <input style="width: 550px;" {% if my_video and my_video.host_type == "YOUTUBE" %}value="{{ my_video.youtube_video_url }}"{% endif %} placeholder="Youtube video url" type="text" class="form-control" id="id_input_video_url"/>
                                <p class="help-block"><b>Enter a video url that best describes your work. Please keep the video less than 3 minutes.</b></p>
                            </div>
                            <div id="id_youtube_video_preview_loading" style="display: none; margin-top: 30px; padding: 20px; border: 1px solid #e5e5e5; padding-bottom: 40px;">
                                <p style="padding-bottom: 20px;">
                                    Loading...
                                </p>
                            </div>
                            <div id="id_youtube_video_preview" style="{% if not my_video %}display: none; {% elif my_video and my_video.host_type == "VIMEO" %}display: none; {% endif %}margin-top: 30px; padding: 20px; border: 1px solid #e5e5e5;">
                                <div>
                                    <h4 class="preview-title"><span id="id_preview_title">{% if title %}{{ title }}{% endif %}</span> (<span id="id_preview_duration" style="color: #555555;">{% if duration %}{{ duration }}{% endif %}</span>) <span style="cursor: pointer; right: 0px; " class="glyphicon glyphicon-remove pull-right" id="id_preview_cancel"></span>
                                    </h4>
                                    <p id="id_preview_description" style="float: left; width: 100%; clear: both;">
                                        {% if short_description %}{{ short_description }}{% endif %}
                                    </p>
                                    <div>
                                        <img id="id_preview_thumb" src="{% if thumbnail %}{{ thumbnail }}{% else %}#{% endif %}" width="320" height="180"/>
                                    </div>
                                </div>
                            </div>
                            <div class="strike-container" style="margin-top: 20px;">
                                <span class="strike">
                                   <span>OR</span>
                                </span>
                            </div>
                            <div class="strike-container" style="margin-top: 20px;">
                                <div class="outer_browse_btn" style="margin-left: auto; margin-right: auto;">
                                    <input name="attached_file" {% if my_video and my_video.host_type == "VIMEO" %}data-pass="true"{% else %}data-pass="false"{% endif %} id="btn" accept=".mp4,.wav" type="file" style="display:none;">

                                    <input style="width: 300px;" id="file_label" type="text" {% if my_video and my_video.host_type == "VIMEO" %}value="{{ my_video.file_name }}"{% endif %} class="browse_text" placeholder="No File Selected" readonly onfocus="this.blur()">

                                    <input type="button" onclick="document.getElementById('btn').click();" {% if my_video and my_video.host_type == "VIMEO" %}value="Upload New File"{% else %}value="Browse"{% endif %} class="browse_btn" />
                                </div>
                                <div class="strike-container">
                                    <span class="hint" style="color: #929292;">Max file size: 25MB</span>
                                </div>
                            </div>
                            <p class="video-required error-hint title-required-hint">Enter a youtube video url or upload a file</p>
                        </td>
                        <!--<td>-->
                            <!--<button id="id_add_youtube_url" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</button>-->
                        <!--</td>-->
                    </tr>
                </tbody>
            </table>
        </form>
		<div class="champ_duration_date">
		    <div id="progressbar" style="width: 80%; margin-left: auto; margin-right: auto; margin-bottom: 20px; display: none;"></div>
			<a href="#" name="job_apply_submit" class="reject_btn accept_bg" id="id_add_youtube_url" style="margin-right: 13px !important;">Save</a> &nbsp;&nbsp;
	    </div>
  </div>
</div>
</div>
<style>
  #progressbar .ui-progressbar-value {
    background-color: #2A577D;
  }
  </style>
<script>
    $(document).ready(function(e)
    {

        $( "#progressbar" ).progressbar({
          value: false
        });

        $("#btn").change(function(e) {
            e.preventDefault();
            var value = $(this).val();
            var file_name = value.substring(value.lastIndexOf('\\')+1);
            $("#file_label").val(file_name);
        });

        function progress(e){

            if(e.lengthComputable){
                if($('input[name=attached_file]').val() != "") {
                    var max = e.total;
                    var current = e.loaded;

                    var Percentage = parseInt((current * 100)/max);

                    $( "#progressbar" ).progressbar({
                      value: Percentage
                    });
                    if(Percentage >= 100)
                    {
                        $( "#progressbar" ).progressbar({
                          value: false
                        });
                    }
                }
            }
         }

        function handle_video_upload() {

            $("#id_add_youtube_url").prop("disabled", true);
            $("#id_add_youtube_url").text("Working");
            $( "#progressbar" ).show();

            var fd = new FormData($("form[name=video_upload_form]")[0]);
            var title = $("#id_input_video_title").val();
            var description= $("#id_input_video_description").val();
            var url = $("#id_input_video_url").val();

            var id = $("#id_input_video_title").data("id");
            if(typeof id == "undefined") {
                fd.append('id', -1);
            }
            else {
                fd.append('id', parseInt(id));
            }
            fd.append('id', id);
            fd.append('title', title);
            fd.append('csrfmiddlewaretoken',$("form[name=video_upload_form]").find('input[name=csrfmiddlewaretoken]').val());
            fd.append('description', description);
            fd.append('url', url);
            fd.append("duration", $("#id_hidden_video_duration").val());
            fd.append("thumb", $("#id_preview_thumb").prop("src"));
            fd.append('action', "SAVE");
            fd.append('file', $('input[name=attached_file]')[0].files[0]);

            $ajax_request = $.ajax({
                type: "POST",
                url: "/ajax/video_url/",
                data: fd,
                contentType: false,
                processData: false,
                xhr: function() {
                    var myXhr = $.ajaxSettings.xhr();
                    if(myXhr.upload){
                        myXhr.upload.addEventListener('progress',progress, false);
                    }
                    return myXhr;
                },
                cache:false,
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    if(data.status == "SUCCESS"){
                        $("textarea[name=msg_text]").val("");
                        $("input[name=attached_file]").val("");
                        $("#file").val("");
                        $("textarea[name=msg_text]").focus();
                        $("#id_add_youtube_url").prop("disabled", false);
                        $( "#progressbar" ).hide();
                        location.reload();
                    }
                    else{
                        $("#id_add_youtube_url").prop("disabled", false);
                        $( "#progressbar" ).hide();
                    }
                },
                error: function(jqxhr, status, error)
                {
                    $("#id_add_youtube_url").prop("disabled", false);
                    $("#id_add_youtube_url").text("Save");
                    $( "#progressbar" ).hide();
                }
        })
        .done(function( msg ) {
            $("#id_add_youtube_url").prop("disabled", false);
            $("#id_add_youtube_url").text("Save");
            $( "#progressbar" ).hide();

        });
        }

        var callback = function(data){
            console.log(data);
            if(data.status == "SUCCESS"){
                var $title = 'Video Added Successfully';
                var $message = 'You have successfully added video in your profile. You can update any time you want by logging into your account.';
                if(data.data.url != "") {
                    EmbedMyVideo(data.data.id, data.data.url);
                    show_popup_dialog(data,$title,$message,false,"success",parent.$.colorbox,"Okay","Cancel",function(data){
                        $("#popup_dialog").hide();
                        $("#black_overlay").hide();
                    },function(){},true);
                }
            }
            else{
                var $title = 'Video Adding Failed';
                var $message = 'Your video was not added successfully. The following error occured while adding video: <br/><b>"'+ data.message +'"</b>.</br>Please fix the error and try again later.</b>';

                show_popup_dialog(data,$title,$message,false,"error",parent.$.colorbox,"Okay","Cancel",function(data){},function(){},false);
            }
        };

        var error_back = function(jqxhr, status, error){
            var $title = 'Video Adding Failed';
            var $message = 'Your video was not added successfully. An error occurred while performing the requested operation. <br/>Please check the input carefully or try again later.';

            show_popup_dialog({},$title,$message,false,"error",parent.$.colorbox,"Okay","Cancel",function(data){},function(){},false);
        };

        var complete_back = function(msg){

        };



        $("#id_add_youtube_url").click(function(e){

            e.preventDefault();

            var title = $("#id_input_video_title").val();
            var description= $("#id_input_video_description").val();
            var url = $("#id_input_video_url").val();
            var file = $('input[name=attached_file]')[0].files[0]

            var error = false;
            if($.trim(title) == "") {
                $("#id_input_video_title").parent().find(".error-hint").show();
                error = true;
            }
            else {
                $("#id_input_video_title").parent().find(".error-hint").hide();
            }
            if($.trim(description) == "") {
                $("#id_input_video_description").parent().find(".error-hint").show();
                error = true;
            }
            else {
                $("#id_input_video_description").parent().find(".error-hint").hide();
            }
            try {
                if(typeof file != "undefined" && file.size > 26214400) {
                    error = true;
                    $(".video-required").text("File is too large. File should be max 25 MB.").show();
                }
                else {
                    var pass_file = $("form[name=video_upload_form]").find("input[name=attached_file]").data("pass");
                    if(typeof pass_file == "undefined" || pass_file == false) {
                        if($.trim(url) == "" && (typeof(file) == "undefined" || file == null || !file ) ) {
                            $(".video-required").text("Enter a youtube video url or upload a file").show();
                            error = true;
                        }
                        else {
                            $(".video-required").hide();
                        }
                    }
                }
            }
            catch(err) {
                error = true;
                $(".video-required").text("Enter a youtube video url or upload a file").show();
            }

            if(error) {
                return false;
            }

            handle_video_upload();
        });


        $("#id_input_video_url").focusout(function(){
            var url = $(this).val();
            if($.trim(url) == "") {
                return false;
            }
            $("#id_youtube_video_preview_loading").show();
            $("#id_youtube_video_preview").hide();
             _ajax_call("GET","/ajax/video_url/",{
                action: "fetch-youtube-video-details",
                url: url
             },function(data) {
                $("#id_input_video_title").val(data.data.title);
                $("#id_input_video_description").val(data.data.description);
                $("#id_hidden_video_duration").val(data.data.duration);
                $("#id_preview_title").text(data.data.title);
                $("#id_preview_duration").text(data.data.duration);
                $("#id_preview_description").text(data.data.short_description);
                $("#id_preview_thumb").prop("src", data.data.thumbnails.medium.url);
                $("#id_preview_thumb").prop("width", data.data.thumbnails.medium.width);
                $("#id_preview_thumb").prop("height", data.data.thumbnails.medium.height);
                $("#id_youtube_video_preview_loading").hide();
                $("#id_youtube_video_preview").show();
             },function(jqxhr, status, error) {

             },function(msg) {

             });
        });

        $("#id_preview_cancel").click(function(e) {
            e.preventDefault();
            $("#id_input_video_url").val("");
            $("#id_hidden_video_duration").val("");
            $("#id_input_video_title").val("");
            $("#id_input_video_description").val("");
            $("#id_youtube_video_preview").hide();
        });

    });
</script>