{% load datefilters %}
{% load tz %}

<style>
    .left_panel {
        width: 50px;
        float: left;
    }
    .right_panel {
        width: 140px;
        float: left;
        word-wrap: break-word;
    }
</style>

<div class="row tutor_chat_entry" data-tc-id="{{ tutor_chat.pk }}" style="margin-top: 3px; border-bottom: 1px solid #fefefe; width: 200px; margin: 3px 10px 3px 10px;">
    <div class="left_panel" title="{{ tutor_chat.sender.champuser.fullname }}">
        <img src="{{ tutor_chat.sender.champuser.render_profile_picture }}" width="30" height="30"/>
    </div>
    <div class="right_panel">
        {% if tutor_chat.text %}
        <p title="{{ tutor_chat.date_created|fromunix|localtime|format_datetime }}" style="color: black; font-size: 13px;">{{ tutor_chat.text }}</p>
        {% endif %}
        {% if tutor_chat.attachment %}
        <div>
            {% if tutor_chat.thumbnail %}
            <a href="{{ tutor_chat.render_attachment_url }}" target="_blank"><img src="{{ tutor_chat.render_thumbnail_url }}" width="100" height="70"/></a>
            {% else %}
            <a href="{{ tutor_chat.render_attachment_url }}" target="_blank" style="color: black;">{{ tutor_chat.attachment_original_name }}</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>