{% load staticfiles %}
{% load datefilters questiontagfilters %}
{% load tz %}
<div id="champ-active-requests" data-count-update-url="{% url "ajax_fetch_job_update" %}" class="contentblock {% if tab != "my-jobs" %}hidden{% endif %}">
    <div class="champ_student_detail about_job">
        <div class="select_date_range">
        <label>Select date Range:</label> <span id="two-inputs"><input id="date-range200" size="20" {% if start_date %}value="{{ start_date }}"{% else %}value=""{% endif %} style="width: 166px;"> <em>to</em> <input id="date-range201" size="20" {% if end_date %}value="{{ end_date }}"{% else %}value=""{% endif %} style="width: 166px;"></span>

        <div class="champ_viewall_outer">
        <div class="champ_select_viewall">
                    <select id="id_my_jobs_filter" class="loct my_jobs_filter">
{#								<option value="all" {% if filter == "all" %}selected{% endif %}>View All</option>#}
                        <option value="active" {% if filter == "active" %}selected{% endif %}>Active</option>
                        <option value="archived" {% if filter == "archived" %}selected{% endif %}>Expired</option>
                        <option value="hired" {% if filter == "hired" %}selected{% endif %}>Hired</option>
                    </select>
                </div>
        <a class="requests_go" id="id_search_my_jobs" href="#">Go</a>
        </div>
        </div>
        <div class="resp-tabs-container border0">
            <ul class="champ_finance_tutor" id="id_section_my_jobs">
                <!-- My jobs here !-->
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
            </ul>
            <div id="id_my_jobs_load_more" style="display: none; padding: 7px; text-align: center; margin-top: 7px; font-weight: bold; position: relative; top: 7px;">Loading...</div>
            <div id="id_my_jobs_load_more_button" style="display: none; padding: 7px; text-align: center; margin-top: 7px; font-weight: bold; position: relative; top: 7px;">
                <a class="requests_go" href="#" style="float: none; padding: 10px 30px;">Load more jobs</a>
            </div>
            </div>

    </div>
</div><!-- @end #champ-active-requests -->