{% load staticfiles %}
{% load datefilters questiontagfilters %}
{% load tz %}
<div id="champ-questions" class="contentblock {% if tab != "my-questions" %}hidden{% endif %}">
    <input id="question_type" type="hidden" value="{{ type }}">
    <div class="champ_student_detail">
        <ul class="tabs-menu-two" style="width: auto !important">
            <li {% if type == "Posted" %}class="currentt2"{% endif %}>
                <a href="#tab-3" id="id_qposted">Posted</a>
            </li>
            <li {% if type == "Answered" %}class="currentt2"{% endif %}>
                <a href="#tab-4" id="id_qanswered">Answered</a>
            </li>
        </ul>

        <ul class="champ_aboutme_list not" id="tab-3" style="{% if type == "Posted" %} display:block; {% else %} display:none; {% endif %}">
            {% for question in questions_posted %}
                <li>
                    <div class="red_border">
                        <h3 class="champ_aboutme_heading3 word_break">{{ question.title }}</h3>
                        <span class="app_invited">{{ question.tags.first.level.name }}: {{ question.tags.all|taglist|join:","|replace_last_comma_with_and }}</span>
                        <p class="champ_aboutme_text word_break">{{ question.description|truncatechars:230 }}</p>
                        <div class="champ_aboutme_btn">
                            <div class="champ_aboutme_btn_left">
                                <div class="champ_duration_date">
                                    <span class="champ_date_icon"><label>Posted On:</label>
                                        <p> {{ question.date_modified|convert_utc_timestamp_to_local_datetime:request|format_datetime  }} </p>
                                    </span>
                                </div>
                            </div>
                            <a class="champ_viewdetail" href="{% url 'question_details_view' question.pk %}">View Details</a>
                        </div>
                    </div>
            </li>
            {% endfor %}

            {% if questions_posted %}
                <div class="pgntn no-top">
                    <ul>
                        {% for p_num in  questions_posted.paginator.page_range %}
                            <li><a href="?tab=my-questions&type=Posted&page={{ p_num }}" {% if p_num == questions_posted.number %} class="pagination_selected_page" {% endif %}>{{ p_num }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if questions_posted.has_next %}
                        <a href="?tab=my-questions&type=Posted&page={{ questions_posted.next_page_number }}"><img src="/static/images/next.png" width="23" height="23" alt="img"></a>
                    {% endif %}
                    {% if questions_posted.has_previous %}
                        <a href="?tab=my-questions&type=Posted&page={{ questions_posted.previous_page_number }}"> <img src="/static/images/prev.png" width="23" height="23" alt="img"> </a>
                    {% endif %}
                </div>
            {% endif %}

        </ul>

        <ul class="champ_aboutme_list not" id="tab-4" style="{% if type == "Answered" %} display:block; {% else %} display:none; {% endif %}">
            {% for question in questions_answered %}
                <li>
                    <div class="red_border">
                        <h3 class="champ_aboutme_heading3 word_break">{{ question.title }}</h3>
                        <span class="app_invited">{{ question.tags.first.level.name }}: {{ question.tags.all|taglist|join:","|replace_last_comma_with_and }}</span>
                        <p class="champ_aboutme_text word_break">{{ question.description|truncatechars:230 }}</p>
                        <div class="champ_aboutme_btn">
                            <div class="champ_aboutme_btn_left">
                                <div class="champ_duration_date">
                                    <span class="champ_date_icon"><label>Posted By:</label>
                                    <a href="{% url "user_profile" pk=question.created_by.pk %}">{{question.created_by.champuser.fullname}}</a></span>
                                </div>
                                <div class="champ_duration_date">
                                    <span class="champ_date_icon"><label>Posted On:</label>
                                    <p>{{ question.date_modified|convert_utc_timestamp_to_local_datetime:request|format_datetime  }}</p></span>
                                </div>
                                {% with question|get_answer_of_user:request.user as user_answer %}
                                    {% if user_answer %}
                                        <div class="champ_duration_date">
                                            <span class="champ_date_icon"><label>Answered On:</label>
                                            <p>{{ user_answer.date_created|fromunix|localtime|format_datetime }}</p></span>
                                        </div>
                                    {% endif %}
                                {% endwith %}

                            </div>
                        <a class="champ_viewdetail" href="{% url 'question_details_view' question.pk %}">View Details</a>
                        </div>
                    </div>

                    <div class="red_border">
                        {% with question.get_best_answer as best_answer %}
                            {% if best_answer %}
                                <h3 class="champ_aboutme_heading_italic marginT20">Best Answer</h3>
                                <p class="champ_aboutme_text">{{ best_answer.answer|truncatechars:230 }}</p>
                                <div class="champ_duration_date">
                                    <span class="champ_date_icon"><label>Answered By:</label>
                                    <a href="{% url 'user_profile' best_answer.answer_by.pk %}">{{ best_answer.answer_by.champuser.fullname }}</a></span>
                                </div>
                                <div class="champ_duration_date">
                                        <span class="champ_date_icon"><label>Answered On:</label>
                                        <p>{{ best_answer.date_created|fromunix|localtime|format_datetime }}</p></span>
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                </li>
            {% endfor %}

            {% if questions_answered %}
                <div class="pgntn no-top">
                    <ul>
                        {% for p_num in  questions_answered.paginator.page_range %}
                            <li><a href="?tab=my-questions&type=Answered&page={{ p_num }}" {% if p_num == questions_answered.number %} class="pagination_selected_page" {% endif %}>{{ p_num }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if questions_answered.has_next %}
                        <a href="?tab=my-questions&type=Answered&page={{ questions_answered.next_page_number }}"><img src="/static/images/next.png" width="23" height="23" alt="img"></a>
                    {% endif %}
                    {% if questions_answered.has_previous %}
                        <a href="?tab=my-questions&type=Answered&page={{ questions_answered.previous_page_number }}"> <img src="/static/images/prev.png" width="23" height="23" alt="img"> </a>
                    {% endif %}
                </div>
            {% endif %}
        </ul>
    </div><!-- @end #champ_student_detail -->
</div><!-- @end #champ-questions -->