{% load staticfiles %}
{% load datefilters questiontagfilters %}
{% load tz %}
<div id="champ-post-question" class="contentblock  {% if tab != "post-question" %}hidden{% endif %}">
    <div class="champ_student_detail">
        <h3 class="champ_jobs_heading">{% if question_object %}Question Edit(#{{ question_object.pk }}){% else %}Post Question{% endif %}</h3>
        <form name="q-post-form" role="form" action="{% url "question_create_view" %}" class="form-horizontal q_post_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="question_id" {% if question_object %}value="{{ question_object.pk }}"{% endif %}/>
            <input type="text" name="q_title" placeholder="Question Title" {% if question_object %}value="{{ question_object.title }}"{% endif %} class="question_textfield" maxlength="150">
            <div class="error-hint" style="float: left; clear: both;"></div>
            <textarea id="id_qdescription" class="question_description" name="q_description" placeholder="Question description"> {% if question_object %}{{ question_object.description }}{% endif %}</textarea>
            <div class="error-hint" style="float: left; clear: both;"></div>

            <div class="select_subject_level">
                <select id="id_subject_level" name="level" >
{#                           <option value="">Choose Academic Level</option>#}
                    {% for level in levels %}
                        <option value="{{ level.name }}">{{ level.name }}</option>
                    {% endfor %}
                 </select>
            </div>


            <input type="text" id="id_qtag_input" placeholder="Subjects" class="question_textfield">
            <div class="tags language_tag" style="margin-top: 0px; margin-bottom: 20px; float: left; clear: both; width: 100%;">
                {% for tag in qtags %}
                <a href="javascript:void(0);">{{ tag.name }}<span class="cross tag_close"><input type="hidden" name="qtag-list[]" value="{{ tag.pk }}" ></span></a>
                {% endfor %}
            </div>
            <input id="id_attached_file_qu" type="file" name="written_file" class="file_upload">
            <div class="input-append" style="margin-bottom: 0px;">
            <div id="id_file_input_container2">
            <a class="browse_btn stdnt_atch" id="id_attach_file">Attach File(s)</a>
            <p style="float: left; clear: both;">Maximum 5 files can be uploaded.</p>
            {% for attachment in qattachments %}
                <input type="file" name="written_file{{ forloop.counter|add:1 }}" class="form-control pull-left" id="undefined" style="display: none;">
            {% endfor %}
            </div>
            </div>
            <div class="break-all" id="id_attached_files2" style="padding: 3px; margin: 3px 0px 10px 0px; float: left; clear: both; width: 100%;">
                {% for attachment in qattachments %}
                <div style="width: 100%; margin-top: 4px; padding: 10px; float: left; clear: both;">
                    <i class="glyphicon glyphicon-remove cancel-file" data-index="1" style="position: relative; top: 3px; cursor: pointer;"></i>
                    <span style="width: 230px;">{{ attachment.attachment_name }}</span>
                </div>
                {% endfor %}
            </div>
            <input type="hidden" name="fcount" value="0"/>
            <script type="text/javascript">
            $('input[id=lefile]').change(function() {
            $('#photoCover').val($(this).val());
            });
            </script>
        </form>
        <div style="float: left; clear: both;">
        <a href="#" id="id_q_post_button" class="post_question">Post Question</a>
        <a href="javascript:void(0);" id="id_q_post_preview_button" class="preview_question">Preview Question</a>
        </div>
    </div>
</div><!-- @end #champ-post-question -->