{% load staticfiles %}
{% load datefilters questiontagfilters %}
{% load tz %}
<div id="champ-progress-report" class="contentblock {% if tab != "progress-reports" %}hidden{% endif %}">
    <div class="data_msng" id="id_progress_report_content">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
</div><!-- @end #champ-progress-report -->
<script>
    $(document).ready(function () {
        {% if tab == "progress-reports" %}
        History.replaceState({}, null, "?tab=progress-reports");
        load_tutor_section_contents({"section": "progress_reports"},function(data) {
            $("#id_progress_report_content").html(data.data.content);
            content_cache["id_progress_report_content"] = true;
            //my_pagination("id_student_active_pagination","id_student_active_content","students_active",1,data.data.extra.total_pages,8);
        },
        function(jqxhr, status, error) {

        },
        function(msg) {

        });
        {% endif %}
    });
</script>