<div id="champ-request-tutor" class="contentblock {% if tab != "job-post" %}hidden{% endif %}">
    <div class="champ_student_detail" id="id_section_job_post_form">
        <!-- Include template here. !-->
        {{ job_post_form }}
    </div>
</div><!-- @end #champ-request-tutor -->