{% load staticfiles %}
{% load datefilters questiontagfilters %}
{% load tz %}
<!-- <aside class="aside_right"> -->
<aside class="aside_right bg_white">
        <ul class="profile_list">
        <a href="{% url "full_calendar" %}" class="calendar">
            {{ profile_summary.month_calendar }}
        </a>
        <li>
            <ul class="total_requests">
                <h3>My Questions</h3>
                <li>Posted </li>
                <li><a href="{% url "user_profile" object.user.pk %}?tab=post-question" class="ques_my_posted">{{ profile_summary.total_posted_questions }}</a></li>
                <li>Answered</li>
                <li><a href="{% url "user_profile" object.user.pk %}?tab=my-questions" class="ques_my_posted">{{ profile_summary.total_posted_question_answered }}</a></li>
             </ul>
        </li>
        <li>
            <ul class="total_requests">
                <h3>Total Tutoring Subjects</h3>
                {% for subject_name, data in profile_summary.tutoring_subjects.items %}
                <li>{{ subject_name }}</li>
                <li>{{ data.verbal }}</li>
                {% empty %}
                No subject found
                {% endfor %}
            </ul>
        </li>
        <li class="no_padding">
            <ul class="total_requests">
                <h3 class="red_links">Lesson Stats</h3><div id="tabs-container">
                <ul class="tabs-menu"><li class="currentt"><a href="#tab-1">live</a></li><li> <a href="#tab-2">written</a></li></ul>
                <div class="tabb">
                {% with profile_summary.lesson_stats.live as lesson_state %}
                <div class="red_border tab-content currentt" id="tab-1">
                    <div class="df"><li>This month</li>
                    <li>{{ lesson_state.total_requests_this_month }} lessons</li>
                    <li>This year</li>
                    <li>{{ lesson_state.total_requests_this_year }} lessons</li>
                    <li>All time</li>
                    <li>{{ lesson_state.total_requests }} lessons</li>
                    </div>
                    <li class="fulll">
                    <ul class="total_requests df">
                        <li>Cancelled</li>
                        <li>{{ lesson_state.cancelled_requests }} lessons</li>
                        <li>Engaged Tutors</li>
                        <li>{{ lesson_state.all_engaged_tutors }}</li>
                    </ul>
                </li>
                </div>
                {% endwith %}
                {% with profile_summary.lesson_stats.written as lesson_state %}
                <div class="red_border tab-content" id="tab-2">
                    <div class="df"><li>This month</li>
                    <li>{{ lesson_state.total_requests_this_month }} lessons</li>
                    <li>This year</li>
                    <li>{{ lesson_state.total_requests_this_year }} lessons</li>
                    <li>All time</li>
                    <li>{{ lesson_state.total_requests }} lessons</li>
                    </div>
                    <li class="fulll">
                    <ul class="total_requests df">
                        <li>Cancelled</li>
                        <li>{{ lesson_state.cancelled_requests }} lessons</li>
                        <li>Engaged Tutors</li>
                        <li>{{ lesson_state.all_engaged_tutors }}</li>
                    </ul>
                </li>
                </div>
                {% endwith %}
                </div>
        </div>
            </ul>
        </li>
    <!-- 	<li>
            <ul class="total_requests">
                <li>Cancelled</li>
                <li>5 lessons</li>
                <li>Engaged Tutors</li>
                <li>15</li>
            </ul>
        </li> -->
        <li>
            <ul class="total_requests">
                <li>Last Lesson</li>
                <li>{% if profile_summary.last_lesson %}{{ profile_summary.last_lesson }}{% else %}No lesson{% endif %}</li>
                <li>Tuition since</li>
                <li>{{ profile_summary.tuition_since }}</li>
            </ul>
        </li>
        <li>
            <form class="url_adrs">
                <h4>Your URL Address</h4>
                <input type="text" class="radius3" value="{{ profile_summary.profile_url }}">
            </form>

            <script>
                $("input[type='text']").click(function () {
                   $(this).select();
                });
            </script>


        </li>
        </ul>
    </aside>
<!-- </aside> -->