<div id="champ-top-tutor" class="contentblock  {% if tab != "my-tutors" %}hidden{% endif %}">
    <div class="champ_student_detail" id="id_my_top_tutors">
        <!-- Content will be placed here. !-->
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
</div><!-- @end #champ-top-tutor -->