<div id="champ-upcoming" class="contentblock {% if tab and tab != "upcoming" %}hidden{% endif %}">
    <div id="id_champ_upcoming_content" class="champ_student_detail">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
</div><!-- @end #champ-upcoming -->
<script>
    $(document).ready(function () {
        {% if not tab or tab == "upcoming" %}
        History.replaceState({}, null, "?tab=upcoming");
          load_tutor_section_contents({"section": "upcoming"},function(data) {
            $("#id_champ_upcoming_content").html(data.data.content);
            content_cache["id_champ_upcoming_content"] = true;
            //my_pagination("id_student_active_pagination","id_student_active_content","students_active",1,data.data.extra.total_pages,8);
        },
        function(jqxhr, status, error) {

        },
        function(msg) {

        });
        {% endif %}
    });
</script>