{% extends "logs/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <style>
        th {
            font-weight: bold;
        }
    </style>
    <div class="contnt">
        <h3>Email Logs</h3>
        <hr>
        <table class="table">
            <thead class="logs-header">
                <tr>
                    <th>
                        To
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Task Id
                    </th>
                    <th>
                        Sent Date
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        {{ object.receiver }}
                    </td>
                    <td>
                        {{ object.subject }}
                    </td>
                    <td>
                        {% if not object.status %}N/A{% else %}{{ object.status }}{% endif %}
                    </td>
                    <td>
                        {{ object.job_id }}
                    </td>
                    <td>
                        {{ object.date_created|fromunix|localtime|format_datetime }}
                    </td>
                    <td>
                        <a href="{% url "email_log_details" pk=object.pk %}">view details</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    {% include "sections/pagination.html" %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content_body %}