{% extends "logs/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <div class="contnt">
        <h3>Payment Logs</h3>
        <hr>
        <table class="table">
            <thead class="logs-header">
                <tr>
                    <th>
                        Created By
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Created On
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        {{ object.created_by.champuser.fullname }}
                    </td>
                    <td>
                        {{ object.message }}
                    </td>
                    <td>
                        {{ object.status }}
                    </td>
                    <td>
                        {{ object.date_created|fromunix|localtime|format_datetime }}
                    </td>
                    <td>
                        <a href="{% url "admin_payment_log_details" pk=object.pk %}">View Details</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    {% include "sections/pagination.html" %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content_body %}