{% extends "logs/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <style>
        th {
            font-weight: bold;
        }
        .left_col {
            width: 100px; float: left
        }
        .right_col {
            width: auto; float: left
        }
        .row {
            padding: 13px;
        }
    </style>
    <script>
        $(document).ready(function() {
            //$()
        });
    </script>
    <div class="contnt">
        <h3>Email Logs</h3>
        <hr>
        <div class="container" style="width: 1000px;">
            <div class="row">
                <div class="col-xs-2">
                    <b>To:</b>
                </div>
                <div class="col-xs-10">
                    {{ object.receiver }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <b>Subject:</b>
                </div>
                <div class="col-xs-10">
                    {{ object.subject }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <b>Html Body:</b>
                </div>
                <div class="col-xs-10" class="email_body">
                    <div>
                        {{ object.html_body|safe }}
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <b>Text Body:</b>
                </div>
                <div class="col-xs-10">
                    <div>
                        {{ object.text_body }}
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <b>Status:</b>
                </div>
                <div class="col-xs-10">
                    <div>
                        {{ object.status }}
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <b>Task Id:</b>
                </div>
                <div class="col-xs-10">
                    <div>
                        {{ object.job_id }}
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <b>Sent Date:</b>
                </div>
                <div class="col-xs-10">
                    <div>
                        {{ object.date_created|fromunix|localtime|format_datetime }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content_body %}