{% extends "logs/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <div class="contnt">
        <div class="col-sm-12">
            <h3>Error Details</h3>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <td>URL</td>
                <td>{{ object.url }}</td>
            </tr>
            <tr>
                <td>Date Time</td>
                <td>{{ object.date_created|fromunix|localtime|format_datetime }}</td>
            </tr>
            <tr>
                <td>Stack Trace</td>
                <td><pre>{{ object.stacktrace }}</pre></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content_body %}