{% extends "admin_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <div class="contnt">
        <div class="col-sm-12">
            <h3>Certificate Details</h3>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <td>Name</td>
                <td>{{ object.education.user }}</td>
            </tr>
            <tr>
                <td>Educational Institute</td>
                <td>{{ object.education.institution }}</td>
            </tr>
            <tr>
                <td>Degree</td>
                <td>{{ object.education.degree }}</td>
            </tr>

            <tr>
                <td>Verification Status</td>
                <td>{{ object.status }}</td>
            </tr>
            <tr>
                <td>Certificate Image</td>
                <td>
                    <pre>{{ object.scanned_certificate }}</pre>
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <select class="verification-status form-control" style="cursor: pointer;"
                            data-object-mutate-url="{% url "cert_verification_mutate_details" pk=object.pk %}">
                        {% for value,label,url,title in object.actions %}
                            <option value="{{ value }}" data-url="{{ url }}" title="{{ title }}"
                                    {% if value == object.status %} selected {% endif %} >{{ label }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content_body %}
{% block left_nav_bar %}
{% endblock left_nav_bar %}