{% extends "admin_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load admin_tags %}
{% block left_nav_bar %}
<!-- left menu starts -->
{% if left_menu_items %}
<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked">

            </div>
            <ul class="nav nav-pills nav-stacked main-menu">
                {% for url, label, icon, is_selected in left_menu_items %}
                    <li {% if is_selected %}class="open"{% endif %}><a class="ajax-link" href="{{ url }}"><i class="{{ icon }}"></i><span> {{ label }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
<script>
    $(document).ready(function() {
        /*$(".select2").select2().on("change", function(e) {
            var value = $(this).val();
            var text = $(this).select2('data')[0].text;

        });*/

        $(document).on("change",".search_filter",function(e) {
            var value = $(this).val();
            var text = $(this).data("label");
            var tag = "";
            //tag += "<span class=\"btn btn-default btn-sm\">"+ text +" <input type=\"hidden\"><span class="glyphicon glyphicon-remove tag-remove"></span></span>";
        });

        $(document).on("click", ".add_search_filter", function(e) {
            e.preventDefault();

            var is_range = $("#id_search_filter_select option:selected").data("is-range");
            console.log(is_range);
            if(is_range == "1") {
                var field_name = $("#id_search_filter_select option:selected").val();
                var field_label = $("#id_search_filter_select option:selected").text();
                var date_input1 = $("#id_search_filter_input").val();
                var date_input2 = $("#id_search_filter_input2").val();
                if($.trim(date_input1) == "") {
                    $("#id_search_filter_input").focus();
                    return false;
                }

                if($.trim(date_input2) == "") {
                    $("#id_search_filter_input2").focus();
                    return false;
                }

                var tag_exists = false;
                var tag_value = "";
                $("#id_search_tags").find(".tag_hiddens").each(function(i) {

                    if($(this).prop("name") == field_name) {
                        tag_value = $(this).val();
                        $(this).parent().remove();
                        tag_exists = true;
                    }
                });
                var new_tag_value = date_input1+"-"+date_input2;
                if(tag_exists) {
                    new_tag_value = tag_value+","+date_input1+"-"+date_input2;
                }
                var tag = "<span class=\"btn btn-default btn-sm search-tags\"><b>"+ field_label +"</b>: "+ new_tag_value +" <input type=\"hidden\" class=\"tag_hiddens\" name=\""+ field_name+ "\" value=\""+ new_tag_value +"\"/><span class=\"glyphicon glyphicon-remove tag-remove\"></span></span>";
                $("#id_search_tags").append(tag);
                $("#id_search_filter_input").val("");
                $("#id_search_filter_input2").val("");
            }
            else {
                var field_name = $("#id_search_filter_select option:selected").val();
                var field_label = $("#id_search_filter_select option:selected").text();
                var search_input = $("#id_search_filter_input3").val();
                if($.trim(search_input) == "") {
                    $("#id_search_filter_input3").focus();
                    return false;
                }
                var tag_exists = false;
                var tag_value = "";
                $("#id_search_tags").find(".tag_hiddens").each(function(i) {

                    if($(this).prop("name") == field_name) {
                        tag_value = $(this).val();
                        $(this).parent().remove();
                        tag_exists = true;
                    }
                });
                var new_tag_value = search_input;
                if(tag_exists) {
                    new_tag_value = tag_value+","+search_input;
                }
                var tag = "<span class=\"btn btn-default btn-sm search-tags\"><b>"+ field_label +"</b>: "+ new_tag_value +" <input type=\"hidden\" class=\"tag_hiddens\" name=\""+ field_name+ "\" value=\""+ new_tag_value +"\"/><span class=\"glyphicon glyphicon-remove tag-remove\"></span></span>";
                $("#id_search_tags").append(tag);
                $("#id_search_filter_input3").val("");
            }
        });

        $(document).on("click", ".tag-remove", function(e) {
            e.preventDefault();
            $(this).parent().remove();
        });

        $(document).on("change", "#id_search_filter_select", function(e) {
            e.preventDefault();
            var is_range = $("#id_search_filter_select option:selected").data("is-range");
            if(is_range == "1") {
                $("#id_search_term_text_pane").hide();
                $("#id_search_term_datetime_pane").show();
            }
            else {
                $("#id_search_term_datetime_pane").hide();
                $("#id_search_term_text_pane").show();
            }
        });

        $("#id_search_filter_input").datetimepicker({
            //sideBySide: true
            format: 'DD/MM/YYYY'
        });

        $("#id_search_filter_input2").datetimepicker({
            //sideBySide: true
            format: 'DD/MM/YYYY'
        });

        $("#id_search_form").submit(function(e) {
            e.preventDefault();

        });

        $(document).on("click", ".btn-search", function(e) {
            e.preventDefault();
            var host_url = "{{ request.path }}";
            var params = "";
            $("#id_search_tags").find(".tag_hiddens").each(function(i) {
                    params += $(this).prop("name")+"="+$(this).val()+"&";
            });
            if(params != "") {
                params = params.substring(0,params.length - 1);
            }
            location.href = host_url+"?"+params;
        });

    });
</script>
<style>
    .generic_list_view tbody td {
        max-width: 200px;
    }
    .generic_list_view thead th {
        font-weight: bold;
    }
</style>
<!--/span-->
<!-- left menu ends -->
{% endblock left_nav_bar %}
{% block content_body %}
    <div class="contnt">
        <h3>{{ page_title }}
        </h3>
        <hr>
        <span class="pull-right">
            <b>Total {{ total_records }} records found</b>
        </span>
        <div>
            <form id="id_search_form" action="#" method="GET">
                <div style="width: 100%; float: left;">
                    <div id="id_search_tags" style="padding: 3px; max-width: 680px; margin-bottom: 7px;">
                        {% for key, value in search_terms %}
                            <span class="btn btn-default btn-sm search-tags"><b>{{ key|capitalize_sentence }}</b>: {{ value }} <input type="hidden" class="tag_hiddens" name="{{ key }}" value="{{ value }}"><span class="glyphicon glyphicon-remove tag-remove"></span></span>
                        {% endfor %}
                    </div>
                    <div style="float: left; width: 100%;">
                        <!--<label style="display: inline; float: left;">Search By </label>-->
                        <select id="id_search_filter_select" class="form-control select2 search_filter" style="width: 200px; display: inline; float: left;">
                            {% for name, is_range in searchable_columns %}
                                <option value="{{ name|get_search_name }}" {% if is_range %}data-is-range="1"{% else %}data-is-range="0"{% endif %} data-label="{{ name|get_search_label }}">{{ name|get_search_label|capitalize_sentence }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group" style="width: 560px; float: left;">
                            <div id="id_search_term_text_pane" class="form-group">
                                <div class="col-xs-5">
                                    <input id="id_search_filter_input3" type="text" class="form-control" placeholder="Search Term" name="datetime1" id="srch-term3" style="float: left; width: 200px;">
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus add_search_filter"></i></button>&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search btn-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div id="id_search_term_datetime_pane" class="form-group" style="display: none;">
                                <div style="width: 450px; float: left;">
                                    <div class="col-xs-6">
                                        <input id="id_search_filter_input" type="text" class="form-control" placeholder="Search Term" name="datetime1" id="srch-term" style="float: left; width: 200px;">
                                    </div>
                                    <div class="col-xs-6">
                                        <input id="id_search_filter_input2" type="text" class="form-control" placeholder="Search Term" name="datetime2" id="srch-term2" style="float: left; width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus add_search_filter"></i></button>&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search btn-search"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <div>
                {% include "partial/_generic_pagination.html" with page_obj=page_obj %}
            </div>
        </div>
        <table class="table borderless generic_list_view">
          <thead>
          <tr>
            {% for column_header in column_headers %}
                <th>
                    {{ column_header }}
                </th>
            {% endfor %}
            <th>
                Action
            </th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                {% for column in columns %}
                <td>
                    {% with object|render_property:column as rendered %}
                    {% if rendered.1 == "__RENDER_TS" %}
                        {{ rendered.0|fromunix|localtime|format_datetime }}
                    {% else %}
                    {{ rendered.0|truncatechars:200|safe }}
                    {% endif %}
                    {% endwith %}
                </td>
                {% endfor %}
                <td>
                    {% if details_url_name %}
                        {% with details_url_name=details_url_name %}
                        <a href="{{ details_url_name|render_detail_url:object.pk }}">View details</a>
                        {% endwith %}
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>
                    No Data found
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td class="text-center" colspan="{{ partial_columns|length|add:1 }}">
                    {% include "partial/_generic_pagination.html" with page_obj=page_obj %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content_body %}