{% extends "email_templates/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block mail_body %}
<div style="font-size: 17px;">
    <h3>Feedback Submitted by {{ first_name }}</h3>
    <div>Email: {{ email }}</div>
    <div>
        Subject: {{ subject }}
    </div>
    <div>
        Feedback Message: {{ feedback }}
    </div>
</div>
{% endblock mail_body %}