{% extends "email_templates/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block mail_body %}
<div style="font-size: 17px;">
Dear {{ receiver_name }},<br/><br/>
</div>
<div>The following jobs are recommended for you</div>
{%  for job in job_objects%}
<div style="background: #F3F3F3; padding: 3px 7px 7px 7px; margin-top: 7px;">
    <div style="font-weight: bold; font-size: 19px;">{{ job.title }}({{ job.render_lesson_type_verbal }})</div>
    <div style="color: #333333;">${{ job.preference.rate.rate_value|floatformat:2 }}/hour({{ job.preference.rate.currency }})</div>
    <div>Start Date: {{ job.lesson_time|fromunix|localtime|format_datetime }}, Duration: {{ job.lesson_duration }} min, Repeat: {% if job.render_lesson_repeat_verbal %}{{ job.render_lesson_repeat_verbal }}{% else %}No Repeat{% endif %}</div>
    <p>
        {{ job.description|truncatechars:"100" }}
    </p>
    <div>
        <a style="background: green; color: white; padding: 3px; border-radius: 3px; text-decoration: none;" href="{{ host }}{% url "job_post_details" pk=job.pk %}">View job details</a>
    </div>
</div>
{% endfor %}
{% endblock mail_body %}