{% extends "email_templates/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block mail_body %}
<div style="font-size: 17px;">
    <h3>Internal Server Error</h3>
    <pre>
        {{ stacktrace_details }}
    </pre>
</div>
{% endblock mail_body %}