{% extends "email_templates/master.html" %}
{% load staticfiles %}
{% block mail_body %}
{% load datefilters %}
{% load tz %}
<style>
    .left_col {
       width: 100px; float: left; font-weight: bold;
    }
    .right_col {
        width: 300px; float: left
    }
    .data_row {
        padding: 7px;
        width: 100%;
        clear: both;
    }
</style>
<div style="font-size: 17px;">
Dear {{ invitation_to }},<br/><br/>
</div>
<div style="margin-bottom: 7px;">
    <p>{{ invitation_from }} would like to invite you to guide him in {{ level }} {{ subjects }}.
    Please kindly review the details below, and click on the url link to apply or reject the job offer.</p>
</div>
            <br/>
        <div>
            <p class="data_row">
                <span class="left_col">
                    <b>Title:</b>
                </span>
                <span class="right_col">
                    {{ job.title }}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Lesson Type:</b>
                </span>
                <span class="right_col">
                    {{ job.render_lesson_type_verbal }}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Start Date:</b>
                </span>
                <span class="right_col">
                    {{ job.lesson_time|fromunix|localtime|format_datetime }}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Duration:</b>
                </span>
                <span class="right_col">
                    {{ job.lesson_duration }} min
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Rate:</b>
                </span>
                <span class="right_col">
                    ${{ job.preference.rate.rate_value|floatformat:2 }}/hour({{ job.preference.rate.currency }})
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Academic Level: </b>
                </span>
                <span class="right_col">
                    {{ level }}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Subject:</b>
                </span>
                <span class="right_col">
                    {{ subjects }}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Repeat:</b>
                </span>
                <span class="right_col">
                    {{ job.render_lesson_repeat_verbal }}
                </span>
            </p>
            {% if invitation_message %}
            <br/>
            <p class="data_row">
                <h3>Message from student:</h3>
                <hr/>
                <p>
                    {{ invitation_message|safe }}
                </p>
            </p>
            {% endif %}
            <div class="data_row">To view the job posting, feel free to click the link below.</div>
            <div class="data_row">
                <a href="{{ host }}{% url "job_post_details" pk=job.pk %}">{{ host }}{% url "job_post_details" pk=job.pk %}</a>
            </div>
        </div>
{% endblock mail_body %}