{% extends "email_templates/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block mail_body %}
<div style="font-size: 15px;">
Dear {{ student_name }}, <br/>
<p>It is unfortunate that your invitation has been declined by {{ tutor_name }}.</p>
<p>However, we are sure that will be other expereience tutor as {{ tutor_name }}, who can guide you in {{ level }} {{ subjects }}.</p>
<br/><p>Feel free to browse through our <a href="{{ host }}{% url "tutor_search" %}?level={{ level }}&subject={{ subjects }}">list of tutors</a> for more choices.</p><br/>
<div>
            <p class="data_row">
                <span class="left_col">
                    <b>Title:</b>
                </span>
                <span class="right_col">
                    {{ job.title }}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Lesson Type:</b>
                </span>
                <span class="right_col">
                    {{ job.render_lesson_type_verbal }}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Start Date:</b>
                </span>
                <span class="right_col">
                    {{ job.lesson_time|fromunix|localtime|format_datetime }}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Duration:</b>
                </span>
                <span class="right_col">
                    {{ job.lesson_duration }} min
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Rate:</b>
                </span>
                <span class="right_col">
                    ${{ job.preference.rate.rate_value|floatformat:2 }}/hour({{ job.preference.rate.currency }})
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Academic Level: </b>
                </span>
                <span class="right_col">
                    {{ level }}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Subject:</b>
                </span>
                <span class="right_col">
                    {{ subjects }}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Repeat:</b>
                </span>
                <span class="right_col">
                    {{ job.render_lesson_repeat_verbal }}
                </span>
            </p>
            {% if message %}
            <br/>
            <p class="data_row">
                <h3>Message from tutor:</h3>
                <hr/>
                <p>Dear {{ student_name }},</p>
                <p>{{ message }}</p>
                <p>Thanks.</p>
            </p>
            {% endif %}
            <div class="data_row">To view the job posting, feel free to click the link below.</div>
            <div class="data_row">
                <a href="{{ host }}{% url "job_post_details" pk=job.pk %}">{{ host }}{% url "job_post_details" pk=job.pk %}</a>
            </div>
        </div>
</div>
{% endblock mail_body %}