{% extends "email_templates/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block mail_body %}
<div style="font-size: 17px;">
Dear {{ tutor_name }},<br/><br/>
</div>
<div>{{ message|safe }}</b></a></div>
<div>
    <h3>Offer Details:</h3>
    <hr/>
    <div>
        <b>Title:</b> {{ job.title }}({{ job.render_lesson_type_verbal }}) @ ${{ job_offer.rate|floatformat:2 }}({{ job_offer.rate_currency }})/hour
    </div>
    <div>
        <b>Start Date: </b> {{ job_offer.start_date|fromunix|localtime|format_datetime }}
    </div>
    <div>
        <b>Duration: </b> {{ job_offer.duration }} min
    </div>
    <div>
        <b>Repeat: </b> {{ job_offer.render_repeat_verbal }}
    </div>
</div>
<div><a href="{{ host }}{{ offer_link }}" target="_blank"> View offer details</a></div>
<div>

</div>
{% endblock mail_body %}