{% extends "email_templates/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block mail_body %}
<div style="font-size: 14px;">
Dear {{ student_name }},<br/>
<p>We are glad to inform you that {{ tutor_name }} has applied for your job posting, {{ subjects }}.</p>
<p>Feel free to view the information below, and decide if you would like to hire the tutor for the job.</p>
    <br/>
    <div>
            <p class="data_row">
                <span class="left_col">
                    <b>Title:</b>
                </span>
                <span class="right_col">
                    {{ job.title }}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Lesson Type:</b>
                </span>
                <span class="right_col">
                    {{ job.render_lesson_type_verbal }}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Start Date:</b>
                </span>
                <span class="right_col">
                    {{ job_application.start_time|fromunix|localtime|format_datetime }}
                    {% if job_application.time_edited_by %}
                    <b style="color: red; font-weight: normal;">
                    {% if job_application.time_edited_by.champuser.type.name == "student" %}
                    (edited by student)
                    {% else %}
                    (edited by tutor)
                    {% endif %}
                    </b>
                    {% endif %}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Duration:</b>
                </span>
                <span class="right_col">
                    {{ job_application.duration }} min
                    {% if job_application.duration_edited_by %}
                    <b style="color: red; font-weight: normal;">
                    {% if job_application.duration_edited_by.champuser.type.name == "student" %}
                    (edited by student)
                    {% else %}
                    (edited by tutor)
                    {% endif %}
                    </b>
                    {% endif %}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Rate:</b>
                </span>
                <span class="right_col">
                    ${{ job_application.settlement.price|floatformat:2 }}/hour({{ job_application.settlement.currency }})
                    {% if job_application.price_edited_by %}
                    <b style="color: red; font-weight: normal;">
                    {% if job_application.price_edited_by.champuser.type.name == "student" %}
                    (edited by student)
                    {% else %}
                    (edited by tutor)
                    {% endif %}
                    </b>
                    {% endif %}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Subject:</b>
                </span>
                <span class="right_col">
                    {{ subjects }}
                </span>
            </p>
            <p class="data_row">
                <span class="left_col">
                    <b>Repeat:</b>
                </span>
                <span class="right_col">
                    {{ job.render_lesson_repeat_verbal }}
                </span>
            </p>
            {% if applied_message %}
            <br/>
            <p class="data_row">
                <h3>Message from tutor:</h3>
                <hr/>
                <p>Dear {{ student_name }},</p>
                <p>{{ applied_message }}</p>
                <p>Thank you.</p>
            </p>
            {% endif %}
            <div class="data_row">To view the job posting, feel free to click the link below.</div>
            <div class="data_row">
                <a href="{{ host }}{% url "job_post_details" pk=job.pk %}">{{ host }}{% url "job_post_details" pk=job.pk %}</a>
            </div>
        </div>
</div>
{% endblock mail_body %}