{% extends "email_templates/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block mail_body %}
<div style="font-size: 17px;">
Dear {{ receiver_name }},<br/><br/>
</div>
<div>Your lesson <b>{{ lesson_title }}</b> has been extended for {{ lesson_time }} min. Please click on the following link to enter the lesson.</div>
<div>
    <p><a href="{{ host }}{{ lesson_url }}">{{ host }}{{ lesson_url }}</a></p>
</div>
{% endblock mail_body %}