<html>
    <head>

    </head>
    <body>
        <p>
            <div>Feedback is received for the lesson <b>{{ lesson_title }}</b></div>
            <div>
                {{ lesson_summary }}
            </div>
            <div>
                <p>Please click this link to enter the lesson.</p>
            </div>
        </p>
    </body>
</html>