<html>
    <head>

    </head>
    <body>
        <p>
            <div>Your lesson <b>{{ lesson_title }}</b> was not scheduled. </div>
            <div>
                {{ lesson_summary }}
            </div>
            <div>
                <p>Please click this link to enter the lesson.</p>
            </div>
        </p>
    </body>
</html>