{% load staticfiles %}
<!DOCTYPE HTML>

<html>
<head>
<meta charset="utf-8">

<!-- <script src="https://gist.github.com/haggen/2624063.js"></script> -->
<link rel="stylesheet" href="http://identity.uchicago.edu/c/fonts/proximanova.css">
</head>
<body style="background:#e3e2e2;">
	<div style="width: 600px; height:auto; display:inline-block; margin-left:10%; margin-right:10%;">
		<div style="width:100%; height:56px; background:#8e68c0; text-align: center;">
			<a style="display: inline-block; margin-top:8px" href="{{ host }}" target="_blank">
                <img width="212" height="36" alt="Logo" src="{{ logo }}">
            </a>
		</div>
		{% block mail_body_wrapper %}
		<div style="height:auto; background:#fff;">
			<div>
				{% block mail_body %}
				{% endblock mail_body %}
				{% block mail_footer %}
{#				<div style="height: 20px; width: 100%; clear: both; float: left;"></div>#}
{#				<span style="width:100%; height:auto; float:left; color:#717171; font:14px/18px 'ProximaNova-Regular'; text-align:left;">Yours Sincerely,</span>#}
{#				<span style="width:100%; height:auto; float:left; color:#717171; font:14px/18px 'ProximaNova-Regular'; text-align:left;">ChampionTutor Team</span>#}
				{% endblock mail_footer %}
			</div>
		</div>
		{% endblock mail_body_wrapper %}
		<div style="width:100%; height:auto; ">
			<p style="width:100%; height:auto; color:#717171; font:12px/15px 'ProximaNova-Regular'; text-align:center; margin:30px 0 15px 0;"> Copyright © ChampionTutor </p>
		</div>
		<ul style="width:100%; height:auto; float:left; list-style-type:none; text-align:center; margin:0; padding:0;">
			<li style="width:auto; height:auto; display:inline-block; margin:0; padding:0;"><a href="#" target="_blank" style="width:auto; height:auto; float:left;"><img src="{{ social_icon1 }}" width="36" height="36" alt="img"></a></li>
			<li style="width:auto; height:auto; display:inline-block; margin:0; padding:0;"><a href="#" target="_blank" style="float:left;"><img src="{{ social_icon2 }}" width="36" height="36" alt="img"></a></li>
			<li style="width:auto; height:auto; display:inline-block; margin:0; padding:0;"><a href="#" target="_blank" style="float:left;"><img src="{{ social_icon3 }}" width="36" height="36" alt="img"></a></li>
			<li style="width:auto; height:auto; display:inline-block; margin:0; padding:0;"><a href="#" target="_blank" style="float:left;"><img src="{{ social_icon4 }}" width="36" height="36" alt="img"></a></li>
		</ul>
	</div>
</body>
</html>