{% load staticfiles %}
<div>
<div style="width:100%!important;background:#673591;margin:0;padding:0" bgcolor="#f2f2f2">
<div>
    <table width="100%" bgcolor="#f2f2f2" cellpadding="0" cellspacing="0" border="0" style="width:100%!important;line-height:100%!important;border-collapse:collapse;margin:0;padding:0">
        <tbody>
            <tr>
                <td style="border-collapse:collapse">
                    <table width="650" bgcolor="#673591" cellpadding="0" cellspacing="0" border="0" align="center" style="display:block;border-collapse:collapse">
                        <tbody style="display:table;width:100%">
                        <tr>
                            <td style="border-collapse:collapse">

                                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="left" style="border-collapse:collapse;">
                                    <tbody>
                                    <tr>
                                        <td valign="middle" width="100%" align="left" style="border-collapse:collapse;padding:20px 0;padding: 13px;">
                                            <div>
                                                <a href="#" target="_blank">
                                                    <img src="{{ logo }}" alt="Championtutoronline.com" border="0" style="display:block;outline:none;text-decoration:none;border:none">
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>

    <table width="100%" bgcolor="#f2f2f2" cellpadding="0" cellspacing="0" border="0" style="background: white; width:100%!important;line-height:100%!important;border-collapse:collapse;margin:0;padding:0">
        <tbody>
            <tr>
                <td style="border-collapse:collapse">
                    <table bgcolor="#ffffff" width="650" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="610" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                                        <tbody style="border-collapse:collapse">

                                            <tr>
                                                <td width="100%" height="40" style="border-collapse:collapse"></td>
                                            </tr>


                                            <tr>
                                                <td style="font-family:Helvetica,arial,sans-serif;font-size:14.5px;color:#666666;text-align:left;line-height:20px;border-collapse:collapse">
                                                    {% block mail_body %}

                                                    {% endblock mail_body %}
                                                </td>
                                            </tr>


                                    <tr>
                                        <td width="100%" height="40" style="border-collapse:collapse"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Helvetica,arial,sans-serif;font-size:14.5px;padding:17px;color:#666666;text-align:left;line-height:20px;border-collapse:collapse" align="left">
                            {% block mail_footer %}
                            <div>Thank you!</div>
                            <div>Championtutor Team</div>
                            {% endblock mail_footer %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div>

</div>
</div>
<div>
</div>
</div>