{% load staticfiles %}
<!DOCTYPE HTML>

<html>
<head>
<meta charset="utf-8">

<!-- <script src="https://gist.github.com/haggen/2624063.js"></script> -->
<link rel="stylesheet" href="http://identity.uchicago.edu/c/fonts/proximanova.css">
</head>
<body style="background:#e3e2e2;">
	<div style="width:80%; margin-left: auto; margin-right: auto; display: block;">
		<div style="width:100%; background:#8e68c0;padding-top: 9px;text-align: center;padding-bottom: 8px;">
			<a href="{{ host }}" target="_blank">
                <img width="212" height="36" alt="Logo" src="{{ logo }}">
            </a>
		</div>
		{% block mail_body_wrapper %}
		<div style="width: 100%;  background:#fff;">
			<div style="padding: 20px;">
				{% block mail_body %}
				{% endblock mail_body %}
				{% block mail_footer %}
				<div style="height: 20px; width: 100%; clear: both; "></div>
				<div style="width:100%;   color:#717171; font:14px/18px 'ProximaNova-Regular'; text-align:left; padding-left: 15px;">Yours Sincerely,</div>
				<div style="width:100%;   color:#717171; font:14px/18px 'ProximaNova-Regular'; text-align:left; padding-left: 15px;">ChampionTutor Team</div>
				{% endblock mail_footer %}
			</div>
		</div>
		{% endblock mail_body_wrapper %}
		<div style="width:100%;  ">
			<p style="width:100%;   color:#717171; font:12px/15px 'ProximaNova-Regular'; text-align:center; margin:30px 0 15px 0;"> Copyright © ChampionTutor </p>
		</div>
		<ul style="width:100%;   list-style-type:none; text-align:center; margin:0; padding:0;">
			<li style="width:auto;  display:inline-block; margin:0; padding:0;"><a href="#" target="_blank"><img src="{{ social_icon1 }}" width="36" height="36" alt="img"></a></li>
			<li style="width:auto;  display:inline-block; margin:0; padding:0;"><a href="#" target="_blank"><img src="{{ social_icon2 }}" width="36" height="36" alt="img"></a></li>
			<li style="width:auto;  display:inline-block; margin:0; padding:0;"><a href="#" target="_blank"><img src="{{ social_icon3 }}" width="36" height="36" alt="img"></a></li>
			<li style="width:auto;  display:inline-block; margin:0; padding:0;"><a href="#" target="_blank"><img src="{{ social_icon4 }}" width="36" height="36" alt="img"></a></li>
		</ul>
	</div>
</body>
</html>