{% extends "email_templates/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block mail_body %}
<p>This email has been sent to you because you requested a password reset for your user account at {{ requested_at_email }}.<br/>
Please go to the following page and choose a new password or </br><a style="background: green; color: white; padding: 3px; border-radius: 3px; text-decoration: none;" href="{{ host }}{% url "reset_password" %}?token={{ password_reset_token }}">click here</a> to reset your password. This token will be valid for next 30 minutes.

<div>Password reset link: </div>
<a href="{{ host }}{% url "reset_password" %}?token={{ password_reset_token }}">{{ host }}{% url "reset_password" %}?token={{ password_reset_token }}</a>
{% endblock mail_body %}