{% extends "email_templates/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block mail_body %}
<div style="font-size: 17px;">
Dear {{ payer_name }},<br/><br/>
</div>
<div>Payment process failed for the lesson <b>{{ lesson.title }}</b></a></div>
<div>Transaction Amount: <b>${{ payment_amount }}({{ currency }})</b></div>
<div>Fail Reason: {{ fail_reason }}</div>
<div>
    Please pay the total amount before you can enter the lesson.
</div>
<div><a href="{{ host }}{{ job_link }}" target="_blank"> View job details</a></div>
<!--<div><a href="{{ host }}{{ transaction_link }}" target="_blank"> View transaction details</a></div>-->
<div>

</div>
{% endblock mail_body %}