{% extends "email_templates/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block mail_body %}
<div style="font-size: 17px;">
Dear {{ receipient_name }},<br/><br/>
</div>
<div>{{ sender_name }} has sent you a progress report for you to check.</b></a></div>
<br/>
<div>
    {{ report_content|safe }}
</div>
{% endblock mail_body %}