{% extends "email_templates/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}

{% block mail_body %}
    <div style="height:auto; background:#fff; padding:0px 15px 0px 15px;">
        <p style="width:100%; height:auto; color:#717171; font:14px/18px 'ProximaNova-Regular'; margin:0;padding-bottom: 15px;">Greetings, <a href="{{ host }}{{ recipient_profile_url }}" style="display:inline-block; color:#02ceff; font:14px/18px 'ProximaNova-Regular'; text-decoration:none;">{{ recipient }}</a>!</p>
        <p style="width:100%; height:auto;  color:#717171; font:14px/18px 'ProximaNova-Regular';margin:0;padding-bottom: 15px;">Hope all is well.</p>
        <p style="width:100%; height:auto; color:#717171; font:14px/18px 'ProximaNova-Regular'; margin:0;padding-bottom: 15px;">
            <a href="{{ host }}{% url 'user_profile' question.created_by.pk %}" style="display:inline-block; color:#02ceff; font:14px/18px 'ProximaNova-Regular'; text-decoration:none;">{{ student }}</a>
            has a question regarding {{ level }} {{ subjects }}, we hope you could assist {{ gender }}.
        </p>
        <p style=" color:#717171; font:14px/18px 'ProximaNova-Regular';margin:0;padding-bottom: 15px;">
            In fact, the more questions you participate in, the better your profile gets, as you will be rated in our system for every participation.
        </p>
        <p style=" color:#717171; font:14px/18px 'ProximaNova-Regular'; margin:0;padding-bottom: 15px;">
            What’s more, your explanation could be seen by other viewers, and in return, creating more publicity to your profile.
        </p>
        <p style=" color:#717171; font:14px/18px 'ProximaNova-Regular';margin:0;padding-bottom: 15px;">
            So what are you waiting for, let’s join in!
        </p>

        <p style=" color:#717171; font:14px/18px 'ProximaNova-Regular'; margin:0;padding-bottom: 15px;">
            <span style="font-weight: bold;">Question:</span> {{ question.title }}
        </p>

        <p style=" color:#717171; font:14px/18px 'ProximaNova-Regular'; margin:0;padding-bottom: 15px;">
            <a href="{{ host }}{% url 'question_details_view' question.pk %}" style="display:inline-block; color:#02ceff; font:14px/18px 'ProximaNova-Regular'; text-decoration:none;">Reply</a>
        </p>
{#        <br /><br />#}
{#        <span style=" float:left; color:#717171; font:14px/18px 'ProximaNova-Regular';">Yours sincerely,</span>#}
{#        <span style="width:100%; height:auto; float:left; color:#717171; font:14px/18px 'ProximaNova-Regular';">ChampionTutor Team</span>#}
    </div>
{% endblock mail_body %}

{#{% block mail_footer %}#}
{#    <div style="width:100%; height:auto; float:left;">#}
{#        <p style="width:100%; height:auto; float:left; color:#717171; font:12px/15px 'ProximaNova-Regular'; text-align:center; margin:30px 0 15px 0;"> Copyright © ChampionTutor </p>#}
{#    </div>#}
{#{% endblock %}#}
