{% extends "email_templates/master_thread.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load questionfilters %}
{% load tz %}

{% block mail_body %}
{#<body style="background:#e3e2e2;">#}
	<div style="width:600px; height:auto; display:inline-block; position:relative; left:50%; margin-left:-300px">
{#		<div style="width:100%; height:56px; float:left; background:#7b4ba3; padding:5px 0 5px 0; border-bottom:1px solid #673591;">#}
{#			<a href="#" style="width:212px; height:auto; float:left; position:relative; left:50%; margin:8px 0 0 -105px">#}
{#					<img width="211" height="36" src="logo.jpg" alt="Logo">#}
{#			</a>#}
{#		</div>#}
		<div style="width:auto; height:auto; background:#fff; padding:35px 0px 30px 0px;">
			<div style="background:#fff;">
				<h3 style="height:auto; color:#4a4a4a; font:19px/27px arial; margin:0 0 45px 0; padding: 0 35px;">Qns: {{ question.title }}</h3>
				<h3 style="color:#4a4a4a; font:20px/22px arial; margin:0 35px 30px 35px; border-bottom:1px solid #e0dfdf;padding-bottom: 15px;">Replies ({{ question.answers.count }})</h3>

            {% for answer in question.answers.all|dictsortreversed:"id" %}
                <div style="padding: 10px 35px;overflow:hidden;  {% if answer_id and answer.pk == answer_id %} background:#edf1f3; {% endif %} ">
					<div style="text-align: center; width: 48px;height: 48px;-webkit-border-radius: 24px;-moz-border-radius: 24px;border-radius: 24px;background-color: {% if answer.answer_by.champuser.color_hex %}{{ answer.answer_by.champuser.color_hex }}{% else %} {{ answer|random_hex }} {% endif %}; margin:0 20px 0 0; display:inline-block">
						<p style="text-align:center;color:#feffff; font:bold 15px/48px arial; margin:0; text-transform:uppercase;">{{ answer.answer_by.champuser.fullname|name_initials }}</p>
					</div>
					<div style="width:85%; height:auto; float:right;">
						<a style="width:auto; height:auto; float:left; color:#1e8edd; {% if answer_id and answer.pk == answer_id %} font:bold 16px/18px arial; {% else %} font:18px/20px arial; {% endif %} margin:0 10px 10px 0; text-decoration:none; display:inline;" href="{{ host }}{% url 'user_profile' answer.answer_by.pk %}">{{ answer.answer_by.champuser.fullname }}</a>
						<p style="width:auto; height:auto; float:left; color:#b0abab; font:15px/20px arial; margin:0 0px 10px 0; text-decoration:none; display:inline;">
                            <span style="width: 5px;height: 5px;-webkit-border-radius: 2px 3px 3px 2px/2px 2px 3px 3px;-moz-border-radius: 2px 3px 3px 2px/2px 2px 3px 3px; border-radius: 2px 3px 3px 2px/2px 2px 3px 3px;background-color: #dde3e7; float:left; margin:7px 5px 0 0; position:relative; top:100%;"></span>
                            {{ answer.date_created|convert_utc_timestamp_to_local_email_thread:recipient_time_zone|date_diff_timestamp}}
						</p>
						<p style="width:100%; height:auto; float:left; color:#868686; {% if answer_id and answer.pk == answer_id %} font:bold 14px/22px arial; {% else %} font:16px/24px arial; {% endif %} margin:0 0px 15px 0; display:inline;">{{ answer.answer }}
                            {% if answer_id and answer.pk == answer_id %}
                                <a style="width:auto; height:auto;color:#00b0f0; font:14px/22px arial; margin:0 0px 0px 15px; text-decoration:none; display:inline;" href="{{ host }}{% url 'question_details_view' question.pk %}">Comment</a>
                            {% endif %}
                        </p>
						{#  comments section start#}
                    {% for comment in answer.comments.all|dictsortreversed:"id"|slice:":5" %}
                        <div style="overflow: hidden;padding: 10px;margin-top:30px; {% if comment_id and comment.pk == comment_id %} background:#edf1f3; {% endif %}">
                            <div style="width: 33px;height: 33px; float:left;-webkit-border-radius: 16px 17px 17px 16px/17px 17px 16px 16px;-moz-border-radius: 16px 17px 17px 16px/17px 17px 16px 16px;border-radius: 16px 17px 17px 16px/17px 17px 16px 16px; background-color: {% if comment.created_by.champuser.color_hex %}{{ comment.created_by.champuser.color_hex }}{% else %} {{ comment|random_hex }} {% endif %}; margin:0; display:inline;">
                                <p style="width:100%; height:auto; float:left; text-align:center;color:#feffff; font:bold 13px/33px arial; margin:0; display:inline; text-transform:uppercase;">{{ comment.created_by.champuser.fullname|name_initials }}</p>
                            </div>
                            <div style="width:calc(100% - 55px); height:auto; float:right;">
                                <a style="width:auto; height:auto; float:left; color:#1e8edd; {% if comment_id and comment.pk == comment_id %} font:bold 14px/18px arial; {% else %} font:14px/18px arial; {% endif %} margin:0 10px 5px 0; text-decoration:none; display:inline;" href="{{ host }}{% url 'user_profile' comment.created_by.pk %}">{{ comment.created_by.champuser.fullname }}</a>
                                <p style="width:auto; height:auto; float:left; color:#b0abab; font:14px/18px arial; margin:0 0px 5px 0; text-decoration:none; display:inline;">
                                <span style="width: 5px;height: 5px;-webkit-border-radius: 2px 3px 3px 2px/2px 2px 3px 3px;-moz-border-radius: 2px 3px 3px 2px/2px 2px 3px 3px; border-radius: 2px 3px 3px 2px/2px 2px 3px 3px;background-color: #dde3e7; float:left; margin:7px 5px 0 0; position:relative; top:100%;"></span>
                                    {{ comment.date_created|convert_utc_timestamp_to_local_email_thread:recipient_time_zone|date_diff_timestamp}}
                                </p>
                                <p style="width:100%; height:auto; float:left; color:#868686; {% if comment_id and comment.pk == comment_id %} font:bold 14px/20px arial; {% else %} font:14px/20px arial; {% endif %} margin:0; display:inline;">{{ comment.comment }}
                                    {% if comment_id and comment.pk == comment_id %}
                                        <a style="width:auto; height:auto;color:#00b0f0; font:14px/18px arial; margin:0 0px 0px 15px; text-decoration:none; display:inline;" href="{{ host }}{% url 'question_details_view' question.pk %}">Comment</a>
                                    {% endif %}
                                </p>
                            </div>
					    </div>{#  comments section end#}
                    {% endfor %}
					</div>
				</div>
            {% endfor %}

			</div>
			<a style="width:auto; height:auto; float:left; color:#1e8edd; font:18px/19px arial; margin:30px 0px 0px 35px; text-decoration:none; display:inline;" href="#">Unfollow this question feed</a>
		</div>
	</div>
{% endblock mail_body %}