{% extends "email_templates/master.html" %}
{% load staticfiles %}
{% block mail_body_wrapper %}
<div style="width:100%; text-align:center; height:auto; background: #fff; display:inline-block; padding:65px 0px 60px 0px;">
<h3 style="width:100%; height:auto; float:left; color:#717171; font:24px/26px 'ProximaNova-Regular'; text-align:center; margin:0;">Dear {{ name }},</h3>
<p style="width:100%; height:auto; float:left; color:#717171; font:14px/18px 'ProximaNova-Regular'; text-align:center; margin:20px 0;">Thank you for choosing ChampionTutor Online as the online tutoring platform. <br> To complete your registration process, please kindly click on the <a href="{{ host }}{% url "email_verification" %}?token={{ token }}" target="_blank" style="display:inline-block; color:#717171; font:14px/18px 'ProximaNova-Regular'; text-decoration:none;">link.</a> <br> We wish you great success for your upcoming lessons with our tutors.</p>
<a href="{{ host }}{% url "email_verification" %}?token={{ token }}" target="_blank" style="width:auto; height: 36px; display:inline-block; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; background-color: #6bb03d; -webkit-box-shadow: 1px 1px 1px #578937; -moz-box-shadow: 1px 1px 1px #578937; box-shadow: 1px 1px 1px #578937; -ms-box-shadow: 1px 1px 1px #578937; -o-box-shadow: 1px 1px 1px #578937; color:#fff; font:14px/37px 'ProximaNova-Semibold'; padding:0 25px; text-decoration:none; margin-bottom:40px;">Confirm email</a>
<span style="width:100%; height:auto; float:left; color:#717171; font:14px/18px 'ProximaNova-Regular'; text-align:center;">Yours Sincerely,</span>
			<span style="width:100%; height:auto; float:left; color:#717171; font:14px/18px 'ProximaNova-Regular'; text-align:center;">ChampionTutor Team</span>
</div>
{% endblock mail_body_wrapper %}