{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load jobtags %}
{% block script_head_extra %}

<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
<link href="{% static "css/job_status.css" %}" rel="stylesheet">

<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
<script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/job.js" %}"></script>
<script type="text/javascript" src="{% static "js/job_details_action_.js" %}"></script>

<style>

</style>
{% endblock script_head_extra %}
{% block bodycontent %}
<div class="wrapper">
    <div class="notification_section">
        <div class="notification_heading_outer">
            <span class="notification_icon"><img width="13" height="18" alt="img" src="{% static "images/menu_icon9.png" %}"></span>
            <h4 class="notification_heading">Notification</h4>
        </div>
        <ul class="notification_list">
            {% for notification_item in notification_list %}
            {{ notification_item }}
            {% empty %}
            <p style="padding: 13px;">No new notification</p>
            {% endfor %}
        </ul>
    </div>
    {% include "sections/pagination.html" %}
</div>
{% endblock bodycontent %}