	<div id="content-main">
		<div class="module">
			<table id="rq">
				<tbody>
					{% for job in jobs %}
						<tr class="{% cycle "row2" "row1" %}">
							<td><a href="{% url "rq_job" job.id %}">{{ job.id }}</a></td>
							<td>{{ job.description }}</td>
							<td title="{{ job.created_at }}">{{ time }} ago</td>
							<td title="{{ job.enqueued_at }}">{{ time }} ago</td>
							<td title="{{ job.ended_at }}">{{ time }} ago</td>
							<td>{{ job.origin }}</td>
							<td>{% if job.exc_info %}{% else %}{{ job.result }}{% endif %}</td>
						</tr>
					{% empty %}
						asdas
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
