{% extends "admin_master.html" %}
{% load staticfiles %}
{% block left_nav_bar %}
<!-- left menu starts -->
<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked">

            </div>
            <ul class="nav nav-pills nav-stacked main-menu">
                <li class="nav-header">Users</li>
                <li {% if type == "student" %}class="active"{% endif %}><a class="ajax-link" href="{% url "admin_user_list" %}?type=student"><i
                            class="glyphicon glyphicon-user"></i><span> Students</span></a></li>
                </li>
                <li {% if type == "tutor" %}class="active"{% endif %}><a class="ajax-link" href="{% url "admin_user_list" %}?type=tutor"><i
                            class="glyphicon glyphicon-user"></i><span> Tutors</span></a></li>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--/span-->
<!-- left menu ends -->
{% endblock left_nav_bar %}