{% extends "admin_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load admin_tags %}

{% block left_nav_bar %}
{% endblock left_nav_bar %}

{% block content_body %}
    <link href="{% static "css/bootstrap.vertical-tabs.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script>
        $(document).ready(function() {
            $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
            $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
            $(document).on("click",".tabs-left > li", function(e) {
                    e.preventDefault();
                    //alert($(this).find("a").first().prop("href"));
                    var url = $(this).find("a").first().data("url");
                    if(url != undefined) {
                        location.href = url;
                    }
            });

        });
    </script>
    <style>
    .ui-tabs-vertical { width: 55em; }
    .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
    .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
    .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
    .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
    .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
    .admin-profile-top-panel {
        padding: 7px;
    }
    .top-panel-entry {
        padding: 7px;
    }
    th {
        font-weight: bold;
    }
    .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
        border: none;
    }
    </style>


    <div class="contnt container">
        <div class="row">
        <div class="col-xs-12">
            <h2 style="font-size: 19px; font-weight: bold;">User Details({{ object.fullname }}#{{ object.user.pk }})</h2>
            <br/>
        </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-3 admin-profile-top-panel">
                <img src="{{ object.render_profile_picture }}" width="200" height="200"/>
                <br/>
                <div style="margin-top: 13px;">
                <form name="user_action_form" action="{% url "user_action" %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ object.user.pk }}" name="user_id"/>
                    {% if object.user.is_active %}
                    <input type="hidden" value="disable" name="action"/>
                    {% else %}
                    <input type="hidden" value="enable" name="action"/>
                    {% endif %}
                </form>
                <button class="btn btn-default user_action_submit" {% if object.user.is_active %} disabled{% endif %}>Enable</button>
                <button class="btn btn-default btn-danger user_action_submit" {% if not object.user.is_active %} disabled{% endif %}>Disable</button>
                </div>
            </div>
            <div class="col-xs-3" style="text-align: left;">
                <div class="top-panel-entry">
                    <label>Name: </label> <a href="{{ object.profile_url }}" title="Visit Detailed Profile">{{ object.fullname }}</a>
                    <!--<span class="glyphicon glyphicon-edit"></span>-->
                </div>
                <div class="top-panel-entry">
                    <label>Email: </label> <span>{{ object.user.email }}</span></a>
                </div>
                <div class="top-panel-entry">
                    <label>Registered On: </label> <span>{{ object.date_created|fromunix|localtime|format_datetime }}</span></a>
                </div>
                <div class="top-panel-entry">
                    <label>Type: </label> <span>{{ object.type.name }}</span></a>
                </div>
                <div class="top-panel-entry">
                    <label>Status: </label> <span>{{ object.render_status }}</span></a>
                </div>
                <div class="top-panel-entry">
                    <label>Last Active: </label> <span>{{ object.date_created|fromunix|localtime|format_datetime }}</span></a>
                </div>
                <div class="top-panel-entry">
                    <label>Rating: </label> <span>{{ object.calculate_rating|floatformat:2 }}/5.00</span></a>
                </div>
                <div class="top-panel-entry">
                    <a href="{{ object.profile_url }}" class="btn btn-default" title="Visit Detailed Profile">View Profile</a>
                </div>
                <div class="top-panel-entry">
                    <a href="#" class="btn btn-default" title="Send email">Send email</a> <a href="#" title="View past emails">View emails sent</a>
                </div>
            </div>
            <div class="col-xs-3" style="text-align: left;">
                <div class="top-panel-entry">
                    <label>Total lesson completed: </label> <a href="#">13</a>
                    <!--<span class="glyphicon glyphicon-edit"></span>-->
                </div>
                <div class="top-panel-entry">
                    <label>Total hours completed: </label><a href="#">10</a>
                </div>
                <div class="top-panel-entry">
                    <label>Total transaction completed: </label><a href="#">10</a>
                </div>
                <div class="top-panel-entry">
                    <label>Currently active lessons: </label><a href="#">7</a>
                </div>
            </div>
        </div>
        <br/>
        <hr/>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-2"> <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left">
                      {% if object.is_tutor %}
                      <li {% if partial_tab_name == "videos" %}class="active"{% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "videos" %}" href="#" data-toggle="tab">Videos</a></li>
                      <li><a href="#" data-toggle="tab">Feedback & Reviews</a></li>
                      <li><a href="#" data-toggle="tab">Progress Reports</a></li>
                      <li {% if partial_tab_name == "participation" %}class="active"{% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "participation" %}" href="#" data-toggle="tab">Participations</a></li>
                      <li {% if partial_tab_name == "invitation" %}class="active"{% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "invitation" %}" href="#" data-toggle="tab">Job Invitations</a></li>
                      <li {% if partial_tab_name == "recommendation" %}class="active"{% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "recommendation" %}" href="#" data-toggle="tab">Job Recommendations</a></li>
                      <li {% if partial_tab_name == "application" %}class="active"{% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "application" %}" href="#" data-toggle="tab">Job Applications</a></li>
                      <li {% if partial_tab_name == "unconfirmed-lessons" %}class="active"{% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "unconfirmed-lessons" %}" href="#" data-toggle="tab">Unconfirmed Lessons</a></li>
                      <li {% if partial_tab_name == "coming-lessons" %}class="active"{% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "coming-lessons" %}" href="#" data-toggle="tab">Coming Lessons</a></li>
                      <li {% if partial_tab_name == "past-lessons" %}class="active"{% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "past-lessons" %}" href="#" data-toggle="tab">Past Lessons</a></li>
                      <li {% if partial_tab_name == "missed-lessons" %}class="active"{% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "missed-lessons" %}" href="#" data-toggle="tab">Missed Lessons</a></li>
                      <li><a href="#" data-toggle="tab">Transactions</a></li>
                      <li><a href="#" data-toggle="tab">Withdraw Requests</a></li>
                      <li><a href="#" data-toggle="tab">Withdraw Methods</a></li>
                      <li {% if partial_tab_name == "active-students" %}class="active"{% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "active-students" %}" href="#" data-toggle="tab">Active Students</a></li>
                      <li {% if partial_tab_name == "inactive-students" %}class="active"{% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "inactive-students" %}" href="#" data-toggle="tab">Inactive Students</a></li>
                      {% else %}
                      <li {% if not partial_tab_name or partial_tab_name == "jobs" %} class="active" {% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "jobs" %}" href="#" data-toggle="tab">Posted Jobs</a></li>
                      <li><a href="#" data-toggle="tab">Reviews</a></li>
                      <li><a href="#" data-toggle="tab">Questions</a></li>
                      <li><a href="#" data-toggle="tab">Past Lessons</a></li>
                      <li><a href="#" data-toggle="tab">Scheduled Lessons</a></li>
                      <li><a href="#" data-toggle="tab">Active Lessons</a></li>
                      <li><a href="#" data-toggle="tab">Failed Payments</a></li>
                      <li><a href="#" data-toggle="tab">Transactions</a></li>
                      <li><a href="#" data-toggle="tab">Refund Requests</a></li>
                      <li><a href="#" data-toggle="tab">Payment Methods</a></li>
                      <h4>My Tutors</h4>
                      <li {% if partial_tab_name == "active-tutors" %}class="active"{% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "active-tutors" %}" href="#" data-toggle="tab">Active Tutors</a></li>
                      <li {% if partial_tab_name == "inactive-tutors" %}class="active"{% endif %}><a data-url="{% url "admin_user_details_partial" object.user.pk "past-tutors" %}" href="#" data-toggle="tab">Inactive Tutors</a></li>
                      {% endif %}
                    </ul>
                </div>

                <div class="col-xs-10">
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane active" id="home">
                          {% with partial_template_name=partial_template_name %}
                          {% include partial_template_name %}
                          {% endwith %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center" style="height: 40px;">
                <br/>
                &copy; All Rights Reserved 2016
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        $(".user_action_submit").click(function(e) {
            $("form[name=user_action_form]").submit();
        });
    });
</script>
{% endblock content_body %}