{% extends "admin_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <div class="contnt">
        <div class="col-sm-12">
            <h3>NRIC Details</h3>
            <hr/>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <td>Submitted By</td>
                <td><a href="{% url "admin_user_details" object.user.pk %}">{{ object.user.champuser.fullname }}</a></td>
            </tr>
            <tr>
                <td>Name on NID</td>
                <td>{{ object.nid_name }}</td>
            </tr>
            <tr>
                <td>NID Number</td>
                <td>{{ object.nid_number }}</td>
            </tr>
            <tr>
                <td>
                    Status
                </td>
                <td>
                    <select class="verification-status form-control" style="cursor: pointer;" data-object-mutate-url="{% url "verification_mutate_details" pk=object.pk %}">
                    {% for value,label,url,title in object.actions %}
                        <option value="{{ value }}" data-url="{{ url }}" title="{{ title }}" {% if value == object.status %} selected {% endif %} >{{ label }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Submitted Documents</td>
                <td>
                    <a href="{{ object.attachment_url }}"><span class="glyphicon glyphicon-paperclip"></span> Click to download the attachment</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
<script>
    var submit_ajax = function(type,url,data,callback,error_back,complete_back){
        $.ajax({
            type: type,
            url: url,
            data: data,
            enctype: 'multipart/form-data',
            success: function(data)
            {
                callback(jQuery.parseJSON(data));
            },
            error: function(jqxhr, status, error)
            {
                error_back(jqxhr, status, error);
            }
        })
        .done(function( msg ) {
            complete_back(msg);
        });
    };

    $(document).on("change",".verification-status ",function(e) {
        submit_ajax("POST",$(this).data("object-mutate-url"),{ value: $(this).val() }, function(data) {
            window.location.reload();
        },
        function(jqxhr, status, error) {

        },
        function(msg) {

        });
    });
</script>
{% endblock content_body %}
{% block left_nav_bar %}
{% endblock left_nav_bar %}