{% extends "admin_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}

{% block content_body %}
    <div class="contnt">
        <h3>NRIC Verfication Requests</h3>
        <hr>
        <div id="content">

            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="id_new_requests">
                    <table class="table">
                        <thead class="logs-header">
                            <tr>
                                <th>
                                    <input type="checkbox" class="check-verification-row-master"/>
                                </th>
                                <th>
                                    From
                                </th>
                                <th>
                                    Name on NID
                                </th>
                                <th>
                                    NID Number
                                </th>
                                <th>
                                    Attachment(s)
                                </th>
                                <th>
                                    Submitted Date
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>
                                    <input type="checkbox" class="check-verification-row"/>
                                </td>
                                <td>
                                    <a href="{% url "verification_details_view" pk=object.pk %}">{{ object.user.champuser.fullname }}</a>
                                </td>
                                <td>
                                    {{ object.nid_name }}
                                </td>
                                <td>
                                    {{ object.nid_number }}
                                </td>
                                <td>
                                    <a href="#">{{ object.nid_scanned_img }}</a>
                                </td>
                                <td>
                                    {{ object.date_created|fromunix|localtime|format_datetime }}
                                </td>
                                <td>

                                    <select class="verification-status form-control" style="cursor: pointer;" data-object-mutate-url="{% url "verification_mutate_details" pk=object.pk %}">
                                    {% for value,label,url,title in object.actions %}
                                        <option value="{{ value }}" data-url="{{ url }}" title="{{ title }}" {% if value == object.status %} selected {% endif %} >{{ label }}</option>
                                    {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <a href="{% url "verification_details_view" object.pk %}">View Details</a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4">
                                {% include "sections/pagination.html" %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<script>

    var submit_ajax = function(type,url,data,callback,error_back,complete_back){
        $.ajax({
            type: type,
            url: url,
            data: data,
            enctype: 'multipart/form-data',
            success: function(data)
            {
                callback(jQuery.parseJSON(data));
            },
            error: function(jqxhr, status, error)
            {
                error_back(jqxhr, status, error);
            }
        })
        .done(function( msg ) {
            complete_back(msg);
        });
    };

    $(document).on("change",".verification-status ",function(e) {
        submit_ajax("POST",$(this).data("object-mutate-url"),{ value: $(this).val() }, function(data) {
            window.location.reload();
        },
        function(jqxhr, status, error) {

        },
        function(msg) {

        });
    });
</script>
{% endblock content_body %}
{% block left_nav_bar %}
    <!-- left menu starts -->
    <div class="col-sm-2 col-lg-2">
        <div class="sidebar-nav">
            <div class="nav-canvas">
                <div class="nav-sm nav nav-stacked">

                </div>
                <ul class="nav nav-pills nav-stacked main-menu">
                    <li class="nav-header">NRIC Verification Requests</li>
                    <li><a class="ajax-link" href="{% url "verification_requests" %}?filter=true&request-filter=nr"><span>New Requests</span></a></li></li>
                    <li><a class="ajax-link" href="{% url "verification_requests" %}?filter=true&request-filter=ur"><span>Requests Under Review</span></a></li>
                    <li><a class="ajax-link" href="{% url "verification_requests" %}?filter=true&request-filter=nv"><span>Requests Not Verified</span></a></li>
                    <li><a class="ajax-link" href="{% url "verification_requests" %}?filter=true&request-filter=rr"><span>Requests Rejected</span></a></li>
                    <li><a class="ajax-link" href="{% url "verification_requests" %}?filter=true&request-filter=vr"><span>Verified Requests</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/span-->
    <!-- left menu ends -->
{% endblock left_nav_bar %}