<ul id="sidemenu" class="sidemenu_about">
	  <h4 class="jobs_heading">Lessons</h4>
      <li> <a href="#champ-upcoming" {% if not tab or tab == "upcoming" %}class="open"{% endif %}>Upcoming </a> </li>
	  <!--<li> <a href="#champ-recorded-lessons">Recorded Lessons </a> </li>-->
	  <li> <a href="#champ-progress-report" {% if tab == "progress-reports" %}class="open"{% endif %}>Progress Report</a> </li>
	  <h4 class="jobs_heading">Tutor Request</h4>
	  <li> <a href="#champ-top-tutor" {% if tab == "my-tutors" %}class="open"{% endif %}>My Top Tutors </a> </li>
	  <li> <a href="#champ-active-requests" {% if tab == "my-jobs" %}class="open"{% endif %}>My Requests</a> </li>
	  <li> <a href="#champ-request-tutor" {% if tab == "job-post" %}class="open"{% endif %}>Request New Tutor</a> </li>
	  <h4 class="jobs_heading">Question Feed</h4>
	  <li> <a href="#champ-post-question" {% if tab == "post-question" %}class="open"{% endif %}>Post a Question (Free)</a> </li>
	  <li> <a href="#champ-questions" {% if tab == "my-questions" %}class="open"{% endif %}>My Questions</a> </li>
	  <h4 class="jobs_heading">About me</h4>
	  <li> <a href="#champ-profile" {% if tab == "profile" %}class="open"{% endif %}>Profile</a> </li>
	  <li> <a href="#champ-reviews" {% if tab == "reviews" %}class="open"{% endif %}>My Reviews</a> </li>
</ul>