<div id="about-content-public" class="contentblock">
    <div class="data_msng">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
</div><!-- @end #about-content -->
<script>
    $(document).ready(function() {
        {% if selected_tab == "profile" %}
        load_tutor_section_contents({"section": "about", "view_as": $("#id_hidden_view_as").val(), "user_id": {{ user_id }} },function(data) {
                $("#about-content-public").find(".data_msng").html(data.data.content);
                content_cache["about-content-public"] = true;
            },
            function(jqxhr, status, error) {

            },
            function(msg) {

            });
        {% endif %}
    });
</script>