<div id="review-content-public" class="contentblock hidden">
    <div class="data_msng">
        {% include "sections/lesson_review_list.html" with champuser=champuser my_reviews=my_reviews %}
    </div>
</div><!-- @end #review-content -->