<div id="video-content-public" class="contentblock hidden">
    <div class="data_msng">
          {% include "sections/my_video_intro.html" with video_url=object.user.profilemyvideo_set.first.url %}
  </div>
</div><!-- @end #video-content -->