{% load staticfiles %}
{% load i18n %}

<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    <link href="{% static "css/datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/themes/smoothness/jquery-ui.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}"/>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/jquery.datetimepicker.full.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
    <script src="{% static "js/select2.min.js" %}"></script>

<style>
    .input-password{
        width: 210px;
    }
    .select-input{
        width: 200px;
    }
    .bootstrap-datetimepicker-widget{
        width: 230px;
        padding: 13px;
    }
</style>
</head>
<body>
<div class="container" style="width: 100%;">
    <div class="row" style="height: 55px;">
        <h4><img src="{{ request.user.champuser.render_profile_picture }}" width="35" height="35" alt="img"> Add School</h4>
    </div>

    <div class="row">


    <form class="student_education_form" id="id_student_education_form" method="POST" class="School_edit">
        {% csrf_token %}
        <div class="School_edit_ful">
            <label>School Type</label>
            <div>
                <span class="college_skul">
                    <input id="id_school_type_college" name="school_type" type="radio" {% if school_type == "College/University" %}checked{% endif %} value="College/University">
                    <label for="id_school_type_college">College/University</label>
                </span>
                <span class="college_skul">
                    <input id="id_school_type_hs" {% if school_type == "High School" %}checked{% endif %} name="school_type" type="radio" value="High School">
                    <label for="id_school_type_hs">High School</label>
                </span>

                <div id="id_school_type_container" style="clear: both; display: none; ">
                    <span style="color: red; ">Please select school type</span>
                </div>

            </div>
        </div>
        <div class="School_edit_ful"> <label>School name</label>
            <div>
                {{ education_form.hidden_pk }}
                {{ education_form.hidden_school }}
                {{ education_form.school_name }}
            </div>
        </div>
        <div class="School_edit_ful"> <label>Location</label>
            <div>
                {{ education_form.location }}
            </div>
        </div>
        <div class="School_edit_ful"> <label>Dates Attended</label>
            <div class="row">
                <div class="col-sm-4">
                    {{ education_form.date_attended }}
                </div>
                <div class="col-sm-4">
                    {{ education_form.date_attended2 }}
                </div>
                <div class="col-sm-4">
                    {{ education_form.is_current }}
                    <label for="id_is_current" style="position: relative; top: -3px;">This is my current school</label>

                </div>
            </div>
        </div>
        <div class="School_edit_ful"> <label>Academic Level</label>
            <div>
                <div>
                <select class="select2" id="id_level" name="level" placeholder="Enter level">
                <option value="" {% if not level %}selected="selected"{% endif %}>Select Level</option>
                    {% for l in levels %}
                        <option {% if level == l.pk %}selected="selected"{% endif %} value="{{ l.pk }}">{{ l.name }}</option>
                    {% endfor %}
                </select>
                </div>
                <div id="id_level_error" style="clear: both; margin-top: 10px; display: none;">
                    <span style="color: red;">This field is required.</span>
                </div>
            </div>
        </div>
        <div class="School_edit_ful"> <label>Major</label>
            <div>
                <div>
                <select id="id_subject" name="subject" placeholder="Enter subject">
                {% if subjects %}
                {% for subject in subjects %}
                    <option value="{{ subject.name }}" {% if major == subject.name %}selected="selected"{% endif %}>{{ subject.name }}</option>
                {% endfor %}
                {% else %}
                    <option value="" selected="selected">Select Subject</option>
                {% endif %}
                </select>
                </div>
                <div id="id_new_subject_container" style="clear: both; margin-top: 20px; display: none;">
                    {{ education_form.new_subject }}
                </div>
                <div id="id_subject_error" style="clear: both; margin-top: 10px; display: none;">
                    <span style="color: red;">This field is required.</span>
                </div>
            </div>
        </div>
{#        <div class="School_edit_ful"> <label>Major</label>#}
{#            <div>#}
{#                {{ education_form.hidden_major }}#}
{#                {{ education_form.major }}#}
{#            </div>#}
{#        </div>#}

        <div class="outer_student_btn">
            <input type="submit" value="Save" class="student_save student_education_submit">
            <input type="button" value="Cancel" class="student_cancel">
        </div>
    </form>
    <style>
        .select2-container--default .select2-selection--single {
            border: 1px solid #ded7d7;
        }
        .select2-dropdown {
            border: 1px solid #ded7d7;
        }
        .error-field {
            border: 1px solid red;
        }
        .date_attended {
            width: 100px !important;
            margin-right: 10px;
        }

        #id_is_current {
            margin-top: 13px;
        }

    </style>
    <script>
        $(document).ready(function(){

            if($("#id_date_attended2").val() == "Present") {
                $("#id_date_attended2").attr("disabled", "disabled");
            }

            $("#id_is_current").change(function (e) {
                if($(this).is(":checked")) {
                    $("#id_date_attended2").val("Present");
                    $("#id_date_attended2").attr("disabled", "disabled");
                    $("#id_date_attended2").removeClass("error-field");
                }
                else {
                    $("#id_date_attended2").val("");
                    $("#id_date_attended2").removeAttr("disabled");
                }
            });

            $("input[name=date_attended]").datetimepicker({
                format:'m/d/Y',
                step:5,
                timepicker:false
            });

            $("input[name=date_attended2]").datetimepicker({
                format:'m/d/Y',
                step:5,
                timepicker:false
            });

            $("input[name=date_attended]").focus(function() {
                $("input[name=date_attended]").datetimepicker({
                    format:'m/d/Y',
                    step:5,
                    timepicker:false,
                    defaultDate: $(this).val()
                });
            });

            $( "input[name=major]" ).autocomplete({
                    minLength: 0,
                    source: '/ajax/major?slc=1',
                    focus: function( event, ui ) {
                        if(ui.item.id == -1){
                            $(this).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                        }
                        else{
                            $(this).val( ui.item.value );
                        }
                        return false;
                    },
                    select: function( event, ui ) {
                        var tag_val = ui.item.value;
                        if(ui.item.id == -1){
                            tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                        }
                        $(this).parent().parent().parent().find("input[name=hidden_major]").val(ui.item.id);
                        $(this).val(tag_val);
                        return false;
                    }
                })
                .autocomplete( "instance" )._renderItem = function( ul, item ) {
                    return $( "<li style='cursor:pointer;'>" )
                            .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                            .append( "<input type='hidden' class='major_id' value='"+ item.id +"'/>" )
                            .appendTo( ul );
                };


                $( "input[name=school_name]" ).autocomplete({
                    minLength: 0,
                    source: "/ajax/suggestions/school?sc_type=" + $("input[name=school_type]").val(), //[{"value":"CSE","id": 1},{"value":"Math","id": 2},{"value":"Add \"<b>Economics</b>\"","id": -1}],
                    focus: function( event, ui ) {
                        if(ui.item.id == -1){
                            $(this).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                        }
                        else{
                            $(this).val( ui.item.value );
                        }
                        return false;
                    },
                    select: function( event, ui ) {
                        var tag_val = ui.item.value;
                        if(ui.item.id == -1){
                            tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                        }
                        $(this).parent().parent().parent().find("input[name=hidden_school]").val(ui.item.id);
                        $(this).val(tag_val);
                        return false;
                    }
                })
                .autocomplete( "instance" )._renderItem = function( ul, item ) {
                    return $( "<li style='cursor:pointer;'>" )
                            .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                            .append( "<input type='hidden' class='school_id' value='"+ item.id +"'/>" )
                            .appendTo( ul );
                };


            $("#id_location").autocomplete({
                    minLength: 0,
                    source: "/ajax/suggestions/location", //[{"value":"CSE","id": 1},{"value":"Math","id": 2},{"value":"Add \"<b>Economics</b>\"","id": -1}],
                    focus: function( event, ui ) {
                        $(this).val( ui.item.value );
                        return false;
                    },
                    select: function( event, ui ) {
                        var tag_val = ui.item.value;
                        //$(this).parent().parent().parent().find("input[name=hidden_school]").val(ui.item.id);
                        $(this).val(tag_val);
                        return false;
                    }
                })
                .autocomplete( "instance" )._renderItem = function( ul, item ) {
                    return $( "<li style='cursor:pointer;'>" )
                            .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                            .appendTo( ul );
                };

            $(".student_cancel").click(function (e) {
                e.preventDefault();
                parent.jQuery.colorbox.close();
            });

            $(".student_education_submit").click(function (e) {
                e.preventDefault();

                var school_type_checked = $("input[name=school_type]").is(":checked");
                var school_name = $("#id_school_name").val();
                var location = $("#id_location").val();
                var date_attended = $("#id_date_attended").val();
                var date_attended2 = $("#id_date_attended2").val();
                var new_subject = $("#id_new_subject").val();
                var level = $("#id_level").val();
                var subject = $("#id_subject").val();

                var error = false;

                if(!school_type_checked) {
                    $("#id_school_type_container").show();
                    error = true;
                }
                else {
                    $("#id_school_type_container").hide();
                }

                if(school_name == "") {
                    $("#id_school_name").addClass("error-field");
                    error = true;
                }
                else {
                    $("#id_school_name").removeClass("error-field");
                }

                if(location == "") {
                    $("#id_location").addClass("error-field");
                    error = true;
                }
                else {
                    $("#id_location").removeClass("error-field");
                }

                if(date_attended == "") {
                    $("#id_date_attended").addClass("error-field");
                    error = true;
                }
                else {
                    $("#id_date_attended").removeClass("error-field");
                }

                if(!$("#id_is_current").is(":checked")) {
                    if(date_attended2 == "") {
                        $("#id_date_attended2").addClass("error-field");
                        error = true;
                    }
                    else {
                        $("#id_date_attended2").removeClass("error-field");
                    }
                }
                else {
                    $("#id_date_attended2").removeClass("error-field");
                }

                if(level == "") {
                    $("#id_level_error").show();
                    error = true;
                }
                else {
                    $("#id_level_error").hide();
                }

                if(subject == "" || subject == "Select Subject" || subject == -1) {
                    if(subject == -1) {
                        var sval = $("#id_new_subject").val();
                        if(sval == "") {
                            $("#id_subject_error").show();
                            error = true;
                        }
                        else {
                            $("#id_subject_error").hide();
                        }
                    }
                    else {
                            $("#id_subject_error").show();
                            error = true;
                        }

                    }


                if(error) {
                    return false;
                }

                var form_data = $("#id_student_education_form").serialize();
                $.ajax({
                    type: "POST",
                    url: "/ajax/student_education",
                    data: form_data,
                    success: function(data)
                    {
                        var json_data = jQuery.parseJSON(data);

                        if(json_data.status == "SUCCESS"){
                            var $title = 'Profile updated successfully';
                            var $message = 'You have successfully updated your profile.';
                            var success_callback = function(data){
                                //parent.update_teaching_experiences($(".Editor-editor").html());
                                parent.location.reload();
                            };

                            var cancel_callback = function(){

                            };

                            parent.show_popup_dialog("",$title,$message,false,"success",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,true);
                        }
                        else{
                            var $title = 'Profile was not updated successfully';
                            var $message = 'Your profile was not updated successfully.';
                            var success_callback = function(data){

                            };

                            var cancel_callback = function(){

                            };

                            parent.show_popup_dialog("",$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                        }

                    },
                    error: function(jqxhr, status, error)
                    {
                        var $title = 'Profile was not updated successfully';
                        var $message = 'Your profile was not updated successfully.';
                        var success_callback = function(data){

                        };

                        var cancel_callback = function(){

                        };

                        parent.show_popup_dialog("",$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                    }
                })
                .done(function( msg ) {

                });
            });
            $("#id_subject").select2({ width: "430px" }).on("change", function (e) {
                var value = $(this).val();
                var text = $(this).select2('data')[0].text
                if(value == -1){
                    $("#id_new_subject_container").show();
                }
                else {
                    $("#id_new_subject_container").hide();
                }
            });

            $("#id_level").select2({ width: "430px" }).on("change", function (e) {
                var text = $(this).select2('data')[0].text
                $.ajax({
                    url: "/ajax/fetch-subjects/",
                    data: {
                        level_name: [ text ]
                    },
                    success: function(data) {
                        var data = jQuery.parseJSON(data);
                        if(data.status == "SUCCESS"){
                            $("#id_subject").html("");
                            options = "<option>Select Subject</option>";
                            for(var i = 0; i < data.data.subjects.length; i++) {
                                options += "<option value=\""+ data.data.subjects[i].name +"\">"+ data.data.subjects[i].name +"</option>";
                            }
                            options += "<option value='-1'>Other</option>";
                            $("#id_subject").html(options);
                            $("#id_subject").parent().find(".select2-container").remove();
                            $("#id_subject").select2({ width: "430px" });
                            if(edit_mode && !level_triggered_first_time) {

                            }
                            else {
                                $("#id_subject").parent().find(".block_tags").html("");
                            }
                            level_triggered_first_time = true;

                            }

                    }
                });
            });
        });
    </script>
    </div>
    </div>
</body>
</html>