{% load staticfiles %}
{% load i18n %}

<!DOCTYPE HTML>
<html>
<head>
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/themes/smoothness/jquery-ui.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}"/>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/jquery.datetimepicker.full.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>

    <script src="{% static "js/select2.min.js" %}"></script>

<style>
    .input-password{
        width: 210px;
    }
    .select-input{
        width: 200px;
    }
    .bootstrap-datetimepicker-widget{
        width: 230px;
        padding: 13px;
    }
</style>
</head>
<body>
<div class="container" style="width: 100%;">
    <div class="row" style="height: 55px;">
        <h4><img src="{% static "images/profile_img_inner.png" %}" width="35" height="35" alt="img"> Private Information</h4>
    </div>
    <div class="row">
    <p class="summary_txt">The information in this section is private and not visible to other Championtutoronline members. We will use this information to match you with scholarships and other opportunities to help you succeed.</p>
    <form id="id_student_profile_private_info_form" class="private_list_edit">
        {% csrf_token %}
        <div class="private_edit_left">
            <div> <label>Your Email Address : </label> {{ form.email }} </div>
            <div> <label>Password : </label> {{ form.old_password }} </div>
            <div>
                <label>Gender :</label>
                <div class="gender_edit1">
                    {{ form.gender }}
                </div>
            </div>
            <div>
                <label>Birthdate:</label>
                <div class="gender_edit" id="month_edit">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form.birthdate }}
                        </div>
                    </div>
                </div>
                <p class="services_edit">Our services are not available to students under the age of 13. Please work with your parent or guardian</p>
            </div>
        </div>
        <div class="private_edit_right">
            <div>
                <label>Religion/Beliefs :</label>
                <div class="gender_edit1">
                    {{ form.religion }}
                </div>
            </div>
            <div>
                <label>Languages:</label>
                <div class="gender_edit1">
                    <input type="hidden" name="hidden_languages" value="{{ langs_val }}">
                    {{ form.languages }}
                </div>
                    <span class="language_tag">
                        {% for pk,lang in langs %}
                            <a href="javascript:void(0);"><input type="hidden" name="hidden_lang_id" value="{{ pk }}"/> {{ lang }}<span class="cross"></span></a>
                        {% endfor %}
                        {% if not langs %}
                            <p id="id_no_language_added">No language added</p>
                        {% else %}
                            <p id="id_no_language_added" style="display: none;">No language added</p>
                        {% endif %}
                    </span>
            </div>
            <div>
                <label>Citizenship :</label>
                <div class="gender_edit1">
                    {{ form.nationality }}
                </div>
            </div>
            <div>
                <label>Ethnicity :</label>
                <div class="gender_edit1">
                    {{ form.ethnicity }}
                </div>
            </div>
            <div>
                <label>Time Zone :</label>
                <div class="gender_edit1">
                    {{ form.timezone }}
                </div>
            </div>
        </div>
        <div class="outer_student_btn">
            <input id="id_student_private_info_submit" type="submit" value="Save" class="student_save">
            <input id="id_student_private_info_canel" type="button" value="Cancel" class="student_cancel">
        </div>
    </form>

    <style type="text/css">
        .error-field{
            border: 1px solid red;
        }
    </style>

    <script>
        $(document).ready(function(){

            $("#id_language").select2();

            $("#id_citizenship").select2();

            $("#id_timezone").select2();

            $(".input-password").css({
                "width":"212px",
                "margin-top":"-6px"
            });

            $("#id_birthdate").datetimepicker({
                format:'m/d/Y',
                step:5,
                timepicker:false
            });

            $("#id_language").change(function(e){
                var language = $('select#id_language option:selected').text();
                var lang_id = $(this).val();

                var _tag = '<a href="javascript:void(0);"><input type="hidden" name="hidden_lang_id" value="'+ lang_id +'">'+ language +'<span class="cross"></span></a>';
                var langs = $("input[name=hidden_languages]").val();
                var new_langs = "";
                var already_exists = false;
                if(langs == ""){
                    $("input[name=hidden_languages]").val(lang_id+",");
                    $(".language_tag").append(_tag);
                }
                else{
                    var langs_split = langs.split(",");
                    for(var i = 0 ; i < langs_split.length ; i++){
                        if(langs_split[i] != ""){
                            if(parseInt(langs_split[i]) == parseInt(lang_id)){
                                already_exists = true;
                            }
                            else{
                                new_langs += langs_split[i]+",";
                            }
                        }
                    }
                    if(!already_exists){
                        $(".language_tag").append(_tag);
                    }
                    new_langs += lang_id+",";
                    $("input[name=hidden_languages]").val(new_langs);
                }
                $("#id_no_language_added").hide();
            });

            $("#id_student_private_info_submit").click(function (e) {
                e.preventDefault();
                var password = $("#id_password").val();
                if(password == ""){
                    $("#id_password").addClass("error-field");
                    $("#id_password").focus();
                    return false;
                }
                else{
                    $("#id_password").removeClass("error-field");
                }

                //var new_password = $("#id_new_password").val();

                $.ajax({
                    type: "POST",
                    url: "/ajax/student_private_info",
                    data: $("#id_student_profile_private_info_form").serialize(),
                    success: function(data)
                    {
                        var json_data = jQuery.parseJSON(data);

                        if(json_data.status == "SUCCESS"){
                            var $title = 'Profile updated successfully';
                            var $message = 'You have successfully updated your profile.';
                            var success_callback = function(data){
                                //parent.update_teaching_experiences($(".Editor-editor").html());
                                parent.location.reload();
                            };

                            var cancel_callback = function(){

                            };

                            parent.show_popup_dialog("",$title,$message,false,"success",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,true);
                        }
                        else{
                            var $title = 'Profile was not updated successfully';
                            var $message = 'Your profile was not updated successfully.';
                            var success_callback = function(data){

                            };

                            var cancel_callback = function(){

                            };

                            parent.show_popup_dialog("",$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                        }

                    },
                    error: function(jqxhr, status, error)
                    {
                        var $title = 'Profile was not updated successfully';
                        var $message = 'Your profile was not updated successfully.';
                        var success_callback = function(data){

                        };

                        var cancel_callback = function(){

                        };

                        parent.show_popup_dialog("",$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                    }
                })
                .done(function( msg ) {

                });
            });
            
            
            $("#id_student_private_info_canel").click(function (e) {
                e.preventDefault();
                parent.jQuery.colorbox.close();
            });


            $(document).on("click",".cross", function(e){

                var langs = $("input[name=hidden_languages]").val();
                var lang_id = $(this).parent().find("input[name=hidden_lang_id]").val();
                //console.log(lang_id);
                var new_langs = "";
                if(langs != ""){
                    var langs_split = langs.split(",");
                    for(var i = 0 ; i < langs_split.length ; i++){
                        if(langs_split[i] != ""){
                            if(parseInt(langs_split[i]) != parseInt(lang_id)){
                                new_langs += langs_split[i]+",";
                            }
                        }
                    }
                }

                $("input[name=hidden_languages]").val(new_langs);

                $(this).parent().remove();

                var new_langs = $("input[name=hidden_languages]").val()
                if(new_langs == "") {
                    $("#id_no_language_added").show();
                }
            });

        });
</script>
</div>
</body>
</html>