{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load jobtags %}
{% block script_head_extra %}

{% endblock script_head_extra %}
{% block bodycontent %}
<div class="contnt">
    <div class="wrapper">
        <div style="min-height: 200px;">
            <h1 style="text-align: center; margin-top: 50px;">Forbidden access on this page</h1>
        </div>
    </div>
</div>
{% endblock bodycontent %}