{% load staticfiles %}
<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %} {{ title }} {% endblock title %} - Championtutor Online</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all">
    <!-- <link href="{% static "css/jquery-ui.css" %}" rel="stylesheet"> -->
    <link href="{% static "css/jquery-ui-1.10.4.custom.css" %}" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/CreateHTML5Elements.js" %}"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/colorbox.css" %}"/>
    <script type="text/javascript" src="{% static "js/jquery.colorbox-min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.tagit.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/tagit.ui-zendesk.css" %}"/>
{#    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.autocomplete.css" %}"/>#}
    <script src="{% static "js/tag-it-custom.js" %}"></script>
    <script src="{% static "js/chat/chat.js" %}"></script>
{#    <script src="{% static "js/jquery.autocomplete.js" %}"></script>#}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap.popup.dialog.js" %}"></script>
    <script src="{% static "js/common/dialogs.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fileinput.js" %}"></script>
{#    <link href="{% static "css/select2.min.css" %}" rel="stylesheet" />#}
{#    <script src="{% static "js/select2.min.js" %}"></script>#}
    <script type="text/javascript" src="{% static "js/jquery.tagsinput.js" %}"></script>

    <script type="text/javascript">
    //Now run a script in a period interval to let inform the status of this client to the socket io server.
        {% if request.session.is_login %}
            window.socket = io("http://127.0.0.1:3000/");
            //This is called upon a successful connection established.

            //Global variables.
            window.socket_connected = false;

            window.socket.on("connect",function()
            {
                console.log("Socket connected");
                window.socket_connected = true;
            });

            //This is called if any error occured on connecting socket.io
            window.socket.on("error", function(data)
            {
                console.log("socket connection error");
                window.socket_connected = false;
            });

            window.socket.on("disconnect",function()
            {
                console.log("socket disconnected");
                window.socket_connected = false;
            });

            window.socket.on("reconnect",function(reconnection_attemp_number)
            {
                console.log("socket reconnect called");
                window.socket_connected = false;
            });

            //This is called when attempt to reconnect.
            window.socket.on("reconnect_attempt",function()
            {
                console.log("socket reconnect_attempt called");
                window.socket_connected = false;
            });

            window.socket.on("reconnecting",function(reconnection_attemp_number)
            {
                console.log("socket reconnecting");
                window.socket_connected = false;
            });

            window.socket.on("reconnect_error",function(data)
            {
                console.log("socket reconnect_error");
                window.socket_connected = false;
            });

            window.socket.on("reconnect_failed", function()
            {
                console.log("socket reconnect_failed");
                window.socket_connected = false;
            });

            var notify_user_timezone = function(){
                var date = new Date()
                var dateOffset = date.getTimezoneOffset();
                window.socket.emit("update_tz",{
                    "uid": {% if request.session.user_id %}{{ request.session.user_id }} {% else %} -1 {% endif %},
                    "tz_offset" : dateOffset
                });
            };

            notify_user_timezone();

            var publish_online_status = function(){
                var user_status = true;
                var user_id = {{ request.user.id }};
                window.socket.emit('online_status',{"uid":user_id,"status":user_status});
            };

            setInterval(publish_online_status, 1000);

            window.champ_user_id = {% if champ_userid %} {{ champ_userid }} {% else %} -1 {% endif %};
            console.log(window.champ_user_id);
        {% endif %}

    </script>

<style>
    .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
        border: none;
    }
</style>

    {% block script_extra %}{% endblock script_extra %}

    <!--[if (gte IE 6)&(lte IE 8)]>

    <script type="text/javascript" src="js/mootools-core-1.4.2-full-compat.js"></script>

    <![endif]-->

    <!--[if (gte IE 6)&(lte IE 8)]>

    <script type="text/javascript" src="js/selectivizr.js"></script>

    <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>

    <![endif]-->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% block css_extra %} {% endblock css_extra %}

    {% block styles %} {% endblock styles %}

    {% block head_extra %} {% endblock head_extra %}

</head>

{#class="modal-open"#}

<body style="overflow: auto;">
{#<input type="text" id="id_test_tagit" placeholder="Type name here" class="add_grp_buddy_txt form-control" autocomplete="on" style="width:200px;float:left;">#}
{#    <script>#}
{#        $(document).ready(function(){#}
{#            console.log("Hello tagit!");#}
{#            $("#id_test_tagit").tagit();#}
{#            //$("#id_test_tagit").tagit("add", {label: 'tag', value: 12});#}
{#        });#}
{#    </script>#}
    <div class="main">
    {% block body %}
        {% block header %}
            <header>
                {% if not request.session.is_login %}
                    <div class="wrapper">
                        <a id="logo" href="#"><img src="{% static "images/logo.png" %}" width="265" height="69" alt="logo"></a>
                        <ul class="menu">
                            <li><a href="#">How it works</a>
                            <li><a href="#">Search Tutors</a>
                            <li><a href="#">Help</a></li>
                        </ul>
                        <div class="right_menu">
                            {% if not request.session.is_login %}
                                <link href="{% static "css/colorbox.css" %}" rel="stylesheet">
                                <script src="{% static "js/jquery.colorbox-min.js" %}"></script>
                                <style type="text/css">
                                    #colorbox #cboxClose
                                    {
                                        top: 0;
                                        right: 0;
                                    }
                                    #cboxLoadedContent{
                                        margin-top:28px;
                                        margin-bottom:0;
                                    }
                                </style>
                                <script type="text/javascript">
                                    $(document).ready(function(e)
                                    {
                                        $("#id_register").colorbox(
                                        {
                                                    iframe:true,
                                                    width:"600px",
                                                    height:"500px",
                                                    opacity: 0.1,
                                                    fixed: true,
                                                    escKey: false,
                                                    overlayClose: false,
                                                    onOpen:function(){ },
                                                    onLoad:function(){ },
                                                    onComplete:function(){ },
                                                    onCleanup:function(){ },
                                                    onClosed:function(){ }
                                        });

                                        $("#id_login").colorbox({
                                            iframe:true,
                                            width:"600px",
                                            height:"500px",
                                            opacity: 0.1,
                                            fixed: true,
                                            escKey: false,
                                            overlayClose: false
                                        });

                                    });
                                </script>
                                <div class="en_icon"><img src="{% static "images/en.png" %}" width="16" height="14" alt="icon"> En</div>
                                <a class="sign_in" href="{% url "ajax_login" %}"  id="id_login">Sign in</a>
                                <a class="rgster" href="{% url "ajax_signup" %}" id="id_register">Register</a>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    {% if request.session.utype == "student" %}
                        {% include "sections/student_section_header.html" %}
                    {% else %}
                        {% include "sections/teacher_section_header.html" %}
                    {% endif %}
                {% endif %}
            </header>
        {% endblock header %}

        {% block bodycontent %}{% endblock bodycontent %}

        {% block footer %} {% endblock footer %}

        {% block footernote %} {% endblock footernote %}

    {% endblock body %}
    </div>
</body>
</html>

{% block more_extra %}

{% endblock more_extra %}
<div id="id_dialog_notification"></div>
<script>
    
    var redesign_dialogui = function(){
          $(".ui-dialog").removeClass("ui-corner-all");
          $(".ui-dialog").css("border","1px solid gray");
          $(".ui-dialog").css("padding","0px");
          //$(".ui-dialog").css("background","black");
          $(".ui-dialog-titlebar").css("padding","0px");
          $(".ui-dialog-titlebar").css("border","none");
          $(".ui-dialog-titlebar").css("border-radius","0px");
          $(".ui-dialog-titlebar").css("height","30px");
          //$(".ui-dialog-content").css("background","black");
          $(".ui-dialog-titlebar-close").css("display","none");
          $(".ui-dialog-buttonpane").css("background","gray");
          $(".ui-button").css("background","#5cb85c");
          $(".ui-dialog-buttonpane").addClass("text-center");
          $(".ui-dialog").css("text-align","center");
          $(".ui-dialog-buttonpane").css("text-align","center");
          $(".ui-dialog").css("float","none");
          $(".ui-dialog-buttonpane").css("float","none");
          $(".ui-dialog-buttonset").css("float","none");
          $(".ui-button-icon-primary").css("display","none");
          $(".ui-button").css("border","none");
          $(".ui-dialog-title").css("text-align","left");
          $(".ui-dialog-title").css("padding","3px");
          $(".ui-dialog-titlebar").css("cursor","move");
      };

    var notification_dialog = function(title,html,_buttons)
        {
            
            var buttons = [
              {
                text: "Ok",
                click: function() {
                  $( this ).dialog( "close" );
                }
              }
            ];

            if(_buttons != undefined){
                buttons = _buttons;
            }

            var dialog_options = {
              autoOpen: true,
              title: title,
              modal: true,
              resizable: false,
              closeOnEscape: false,
              buttons: buttons,
              resize: function( event, ui ) {
                redesign_dialogui();
              }
        };
        $("#id_dialog_notification").html(html).dialog(dialog_options);
            redesign_dialogui();
        }

            
</script>

<style type="text/css">
    body{
        overflow: auto;
    }
    .bootstrap-dialog{
        z-index: 20000;
    }
    .modal-backdrop.in{
        opacity: 0.0;
    }
    .msg-dialog-content{
        margin: 10px;
        padding:  10px;
    }
    .msg-dialog-content textarea{
        height: 200px;
        resize: none;
    }
    #msg_attachment{
        width: 200px;
        float: left;
    }
    .input-group{
        width: 400px;
        float: left;
    }
    .file-caption{
        display: none;
    }
</style>