{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}

{% block script_head_extra %}
<script src="{% static "js/billing.js" %}"></script>
{% endblock script_head_extra %}

{% block bodycontent %}
<div class="contnt">

    <div class="wrapper">
        <div class="billing_cntnt radius3">
            <div class="msg_heading">
                <!--<div class="msg_heading_icon"></div>-->
                <h2><img width="37" height="30" alt="img" src="{% static "images/bling_icon.png" %}"> Billing</h2>
            </div>
            <div class="paymnt_info">
                {% if not request.user.champuser.is_tutor %}
                <h3>Credit Cards</h3>
                {% csrf_token %}
                {% for payment_method in payment_methods %}
                    <div class="pay_info_detail radius3">
                        <div style="font-family: Times New Roman", Georgia, Serif; color: #555555;">
                        <span class="pull-right remove_payment_method glyphicon glyphicon-remove" style="cursor: pointer;" data-pid="{{ payment_method.pk }}"></span>
                        {% if payment_method.is_primary %}Primary Card :{% endif %} {{ payment_method.name }}({{ payment_method.card_type }})
                        </div>
                        <div style="font-size: 17px; margin-top: 7px;">{{ payment_method.number_mask }}</div>
                        <span>Only your primary card will be used  unless it is declined and you have an outstanding balance.</span>
                    </div>
                    {% empty %}
                    <div class="pay_info_detail radius3">
                        No Credit Card Added.
                    </div>
                {% endfor %}
                <button type="button" id="id_add_new_credit_card" class="btn btn-primary">Add a new credit card</button>
                {% else %}
                <h3>Available Balance</h3>
                <table style="padding: 17px;">
                <tbody>
                    {% for wallet_balance in wallet_balances %}
                    <tr>
                        <td style="width: 100%; text-align: right;">
                            <span style="font-weight: bold; color: green;">${{ wallet_balance.amount|floatformat:2 }}({{ wallet_balance.currency }})</span> available
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>
                            <span style="font-weight: bold; color: green;">$0.00</span>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td style="width: 100%; text-align: right;">
                            <button type="button" class="btn btn-primary" {% if not wallet_balances %}disabled {% endif %} data-toggle="modal" data-target="#withdrawModal">Withdraw</button>
                        </td>
                    </tr>

                </tbody>
                </table>
                <br/>
                <div>
                <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#withdrawModal">Add Withdrawal Method</button>-->
                </div>
                {% endif %}
            </div>
            <div style="padding: 17px;">
                <h3>Transaction History</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date Charged</th>
                            <th>Lesson</th>
                            <th>Amount Charged</th>
                            <th>Currency</th>
                            <th>Status</th>
                            <th>Ref No.</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for transaction in sale_transactions %}
                    <tr>
                        <td>{{ transaction.date_created|fromunix|localtime|format_datetime }}</td>
                        <td>{{ transaction.lessonrequest_set.all.first.title }}</td>
                        <td>${{ transaction.amount|floatformat:2 }}</td>
                        <td>{{ transaction.currency }}</td>
                        <td>{{ transaction.transaction_status }}</td>
                        <td>{{ transaction.transaction_id }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div id="withdrawModal" class="modal fade" tabindex="-1" style="display: none;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Withdraw Fund</h4>
          </div>
          <div class="modal-body">
              <div>
                  &nbsp; <b style="font-size: 17px; color: green;">${{ request.user.champuser.wallet_balance }} available</b>
                  <br/>
                  <input type="text" style="font-weight: bold; font-size: 17px;" class="form-control" name="withdraw_amount" value="{{ request.user.champuser.wallet_balance }}"/>
              </div>
              <div class="modal-footer text-center">
                <button type="submit" id="id_withdraw_submit" class="btn btn-primary center-inline">Confirm</button>
                <button type="button" class="btn btn-default center-inline" data-dismiss="modal">Cancel</button>
              </div>
          </div>

    </div>
  </div>
</div>
{% endblock bodycontent %}