{% extends "master.html" %}
{% load staticfiles %}
{% load staticfiles i18n %}
{% load bootstrap_calendar %}
{% block script_head_extra %}
    {% bootstrap_calendar_css %}
    <style>
        .calendar-controls {
            float: right;
            margin-right: 20px;
        }
        .page-header > h3 {
            margin-left: 20px;
        }
    </style>
{% endblock script_head_extra %}
{% block bodycontent %}
<div class="contnt">
    <div class="page-header">

		<div class="pull-right form-inline calendar-controls">
			<div class="btn-group">
				<button class="btn btn-primary" data-calendar-nav="prev"><< Prev</button>
				<button class="btn" data-calendar-nav="today">Today</button>
				<button class="btn btn-primary" data-calendar-nav="next">Next >></button>
			</div>
			<!--<div class="btn-group">-->
				<!--<button class="btn btn-warning" data-calendar-view="year">Year</button>-->
				<!--<button class="btn btn-warning active" data-calendar-view="month">Month</button>-->
				<!--<button class="btn btn-warning" data-calendar-view="week">Week</button>-->
				<!--<button class="btn btn-warning" data-calendar-view="day">Day</button>-->
			<!--</div>-->
		</div>

		<h3></h3>
	</div>

    {% bootstrap_calendar 'optional-css-classes' %}

    {% bootstrap_calendar_js language="lang-code" %}
    {% bootstrap_calendar_init language="lang-code" events_url=events_url %}
</div>

{% endblock bodycontent %}