{% extends "master.html" %}
{% load staticfiles %}
{% load cropping %}
{% load cropping thumbnail %}
{% block head_extra %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <style type="text/css">

    </style>
{% endblock head_extra %}

{% block bodycontent %}
    <div class="container text-center" style="margin-top: 100px;margin-bottom:40px; padding-bottom: 10px;width: 700px; min-height: 300px; border: 1px solid gray; border-radius: 10px;">
    <div style="background: #cfcfcf ;color: black;padding: 7px; margin-bottom: 10px;text-align: left;">Change Profile Picture</div>


        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {% if form.id == None %}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">{{ form.cropping }}</div>
                <div class="col-md-4"></div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">{{ form.image_field }}</div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary" style="margin-top: 10px; float: right;" value="Upload Photo" />
                </div>
            </div>

        </form>
    </div>
{{ form.media }}
{% endblock bodycontent %}