{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block script_head_extra %}
<link rel="stylesheet" href="{% static "css/contact_us.css" %}" type="text/css" media="all">
<style>
</style>
<script type="text/javascript">
  var onloadCallback = function() {

    var verifyCallback = function(response) {
        console.log(response);
      };

    grecaptcha.render('id_captcha', {
       'sitekey' : '{{ CAPTCHA_SITE_KEY }}',
        'callback' : verifyCallback
    });

  };

  function validate_email(email) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }

  $(document).ready(function () {

     function validate_form() {
        var first_name = $("#id_first_name").val();
        var email = $("#id_email").val();
        var contact_no = $("#id_contact_no").val();
        var subject = $("#id_subject").val();
        var feedback = $("#id_feedback").val();

        var error = false;

        if(first_name == "") {
            $("#id_first_name").addClass("error_field");
            error = true;
        }
        else {
            $("#id_first_name").removeClass("error_field");
        }

        if(email == "") {
            $("#id_email").addClass("error_field");
            error = true;
        }
        else {
            if(!validate_email(email)) {
                $("#id_email").addClasss("error_field");
            }
            else {
                $("#id_email").removeClass("error_field");
            }
        }

        if(contact_no == "") {
            $("#id_contact_no").addClass("error_field");
            error = true;
        }
        else {
            $("#id_contact_no").removeClass("error_field");
        }

        if(subject == "") {
            $("#id_subject").addClass("error_field");
            error = true;
        }
        else {
            $("#id_subject").removeClass("error_field");
        }

        if(feedback == "") {
            $("#id_feedback").addClass("error_field");
            error = true;
        }
        else {
            $("#id_feedback").removeClass("error_field");
        }
        return error;
     }

     var black_overlay = $('#black_overlay');

     $("#id_contact_form_submit").click(function (e) {
          e.preventDefault();

          var error = validate_form();


          var captcha_response = grecaptcha.getResponse();
          if(captcha_response.length == 0) {
              //Error
              $("#id_captcha_error").text("You must check the captcha to submit your request").show();
              error = true;
          }
          else {
               $(this).prop("disabled", false);
               $("#id_captcha_error").text("").hide();
          }
          if(error) {
              return false;
          }
          $.ajax({
            type: "POST",
            url: $("#id_contact_us_form").data("action"),
            data: $("#id_contact_us_form").serialize(),
            success: function(data)
            {
                var response = jQuery.parseJSON(data);
                if(response.status == "SUCCESS") {
                    black_overlay.show();
                    $("#id_contactus_dialog_header").text("Feedback Submitted");
                    $("#id_contactus_dialog_message").text("Your feedback submitted successfully. Thank you!");
                    $("#contact_us_dialog").show();
                }
                else {
                    black_overlay.show();
                    $("#id_contactus_dialog_header").text("Feedback Submit Failed");
                    $("#id_contactus_dialog_message").text("Your feedback was submitted successfully. Please try again later!");
                    $("#contact_us_dialog").show();
                }
            },
            error: function(jqxhr, status, error)
            {
                black_overlay.show();
                $("#id_contactus_dialog_header").text("Feedback Submit Failed");
                $("#id_contactus_dialog_message").text("Your feedback was submitted successfully. Please try again later!");
                $("#contact_us_dialog").show();
            }
        })
        .done(function( msg ) {

        });
    });

    black_overlay.click(function(){black_overlay.hide(); $("#contact_us_dialog").hide();});

  });

</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer></script>
<style>
    .error_field {
        border: 1px solid red !important;
    }
    .error_hint {
        color: red !important;
    }
</style>
{% endblock script_head_extra %}

{% block bodycontent %}
<div class="contnt">
    <div class="wrapper">

		<div class="contact_headings">
			<h1 class="champ_heading">Contact Us</h1>
        <!-- 			<p class="tuition_heading_detail">Dear Customers, please select the following issue before we direct your request to <br>
        the respective department. </p> -->
                </div>


      <form id="id_contact_us_form" class="contact_form_final" data-action="{% url "contact_us_view" %}">
        {% csrf_token %}
        <div class="form_details">
        <div class="main_selection">
        <div class="full_check_info">
        <input id="rb1" type="radio" value="tech_issue" name="inquiry_type" checked>
        <label for="rb1">Technical Issue</label>
        </div>
        <div class="full_check_info">
        <input id="rb2" type="radio" value="general_inquiry" name="inquiry_type">
        <label for="rb2">General Enquiry</label>
        </div>

        <div class="input_details">

            <input id="id_first_name" name="first_name" type="text" placeholder="FIRST NAME" class="radius3">

        </div>
        <div class="input_details">

            <input id="id_email" name="email" type="text" placeholder="EMAIL ID" class="radius3">

        </div>
        <div class="input_details">

            <input id="id_contact_no" name="contact_no" type="text" placeholder="CONTACT NO" class="radius3">

        </div>
        <div class="input_details">

            <input id="id_subject" name="subject" type="text" placeholder="SUBJECT" class="radius3">

        </div>

        <textarea id="id_feedback" name="feedback" placeholder="ENQUIRY/FEEDBACK" id="id_feedback"></textarea>
        <div class="input_details imgg radius3">
            <div id="id_captcha" class="g-recaptcha"></div>
        </div>
        <div style="width: 100%; float: left; color: red; display: none;" id="id_captcha_error"></div>
        <span class="widthfull lp" style="margin-top: 20px;">
        <input id="id_contact_form_submit" type="submit" value="SUBMIT">
        </span>

        </div>
        </form>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {

});
</script>
<div id="contact_us_dialog" style="display: none;">
  <div class="repost_bx" style="width: 600px;">
	<h3 id="id_contactus_dialog_header" class="questions_popup_heading"></h3>
    <div style="padding: 20px; margin: 30px; position: relative; top: 30px; height: 130px;">
        <p id="id_contactus_dialog_message">

        </p>
    </div>
  </div>
</div>
{% endblock bodycontent %}