{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}

{% endblock script_head_extra %}
{% block bodycontent %}
    <div class="contnt">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Currency Rate Details</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Base Currency</td>
                            <td>{{ object.base_currency.name }}</td>
                        </tr>
                        <tr>
                            <td>Base Currency Unit</td>
                            <td>{{ object.base_unit }}</td>
                        </tr>
                        <tr>
                            <td>Target Currency</td>
                            <td><pre>{{ object.target_currency.name }}</pre></td>
                        </tr>
                        <tr>
                            <td>Target Currency Unit</td>
                            <td><pre>{{ object.target_unit }}</pre></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock bodycontent %}