{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}

{% endblock script_head_extra %}
{% block bodycontent %}
    <div class="contnt">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Currency Rates</h3>
                    <hr>
                </div>
            </div>
            <style>
                .logs-header th {
                    font-weight: bold;
                    font-size: 19px;
                }
            </style>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <thead class="logs-header">
                            <tr>
                                <th>
                                    Base Currency
                                </th>
                                <th>
                                    Base Currency Unit
                                </th>
                                <th>
                                    Target Currency
                                </th>
                                <th>
                                    Target Currency Unit
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>
                                    {{ object.base_currency.name }}
                                </td>
                                <td>
                                    {{ object.base_unit
                                <td>
                                    {{ object.target_currency.name }}
                                </td>
                                <td>
                                    {{ object.target_unit }}
                                </td>
                                <td>
                                    <a href="/error_log/details/{{ object.pk }}/">View Details</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock bodycontent %}