{% extends "public_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}

{% block body_content %}
<script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/themes/smoothness/jquery-ui.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}"/>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/jquery.datetimepicker.full.js" %}"></script>
<script>
$(document).ready(function() {
    $('#id_email_recovery_bdate').datetimepicker({
        datepicker: true,
        timepicker: false,
        format:'m/d/Y',
        step:5
    });
});
</script>
    <style>
        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            color: black !important;
        }
        .field-error {
            color: red;
            float: right;
            position: relative;
            top: -20px;
            display: none;
        }
    </style>
    {% if postback %}
        {% if match %}
        <div class="contnt">
            <div class="wrapper">
                <div style="width: 60%; min-height: 350px; margin-left: auto; margin-right: auto;">
                    <div class="">
                        <h3>Congratulations we have found your match!</h3>
                        <br/>
                        <div class="top_img_section">
                            <div class="img_box" style="width: 40%; background-color: white;">
                                <img id="id_cropped_pp_thumb" width="193" height="193" style="width: 193px; height: 193px;" src="{{ image }}"/>
                            </div>
                            <div class="img_detail" style="width: 60%;margin-left: -20px;">
                                <a href="#"> {{ fullname }} {{ surname }}</span>
                                </a>
                                <div>{{ email }}</div>
                                <br/>
                                <div>
                                    Go to <a style="font: 14px/22px Arial, Helvetica, sans-serif;" href="{% url "user_login" %}?email={{ email }}">here</a> to login.
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="contnt">
            <div class="wrapper">
                <div style="width: 60%; min-height: 350px; margin-left: auto; margin-right: auto;">
                    <h3>Email match not found</h3>
                    <br/>
                    <p>
                        Sorry! We have got no match for the information you provided. Please try to fill up <a style="font: 14px/22px Arial, Helvetica, sans-serif;" href="{% url "email_recovery_request_view" %}">this</a>
                        form properly.
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    {% else %}

        <div class="contnt">
            <div class="wrapper">
                <div class="billing_cntnt radius3 recover_mobile">

        <div class="msg_heading email_center">
			<div class="msg_heading_icon"><img width="31" height="38" alt="img" src="{% static "images/email-recovery.png" %}"></div>
			<h2>Email Recovery Request</h2>
		</div>
        <form id="id_email_recovery_form" class="my_acnt recovery_center" method="POST">
            {% csrf_token %}
            <div>
                <input name="email_recovery_name" type="text" placeholder="Your Name" class="radius5">
                <p class="recovery_text">Your name should match with your registered profile</p>
                <div class="field-error">This field is required</div>
            </div>
            <div>
                <input name="email_recovery_surname" type="text" placeholder="Your Surname" class="radius5">
                <p class="recovery_text">Your surname should match with your registered profile</p>
                <div class="field-error">This field is required</div>
            </div>
            <div>
                <input name="email_recovery_country" type="text" placeholder="Which Country Are You From?" class="radius5">
                <div class="field-error">This field is required</div>
            </div>
            <div>
                <span>Select a Security Question</span>
                <div class="select radius5">
                    <select name="email_recovery_security_question" required="required" class="loct">
                        <option value="">Select a security question</option>
                        {% for q in security_questions %}
                        <option value="{{ q.pk }}">{{ q.question }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="id_field_error_er" class="field-error">This field is required</div>
            </div>
            <div>
			    <input name="email_recovery_sq_answer" type="text" placeholder="Your Answer" class="radius5">
                <div class="field-error">This field is required</div>
            </div>
            <div>
			    <input type="text" id="id_email_recovery_bdate" name="email_recovery_bdate" placeholder="Your Birthdate" class="radius5">
                <div class="field-error">This field is required</div>
            </div>
            <div>
			    <input type="submit" class="email_recovery_btn radius3" value="Submit">
            </div>
	  </form>
    </div>
        </div>
    </div>
    {% endif %}
<script type="text/javascript">
	$(function () {
	$(".loct").selectbox();
	var len = $(".loct").parent();
	$(len).click(function(e){
   e.stopPropagation();
   $(".sbOptions",this).show();
    $("body").click(function(e){
     if(e.target.id != "loct")
     {
     $(".sbOptions",this).hide();
     $("body").unbind("click");
     }
    });
    });
});
</script>
<script>
    $(document).ready(function() {
        $(".email_recovery_btn").click(function(e) {
            var error = false;
            var name = $("input[name=email_recovery_name]").val();
            if($.trim(name) == "") {
                $("input[name=email_recovery_name]").parent().find(".field-error").show();
                error = true;
            }
            else {
                $("input[name=email_recovery_name]").parent().find(".field-error").hide();
            }
            var email_recovery_surname = $("input[name=email_recovery_surname]").val();
            if($.trim(email_recovery_surname) == "") {
                $("input[name=email_recovery_surname]").parent().find(".field-error").show();
                error = true;
            }
            else {
                $("input[name=email_recovery_name]").parent().find(".field-error").hide();
            }
            var email_recovery_country = $("input[name=email_recovery_country]").val();
            if($.trim(email_recovery_country) == "") {
                $("input[name=email_recovery_country]").parent().find(".field-error").show();
                error = true;
            }
            else {
                $("input[name=email_recovery_name]").parent().find(".field-error").hide();
            }
            var security_question = $("select[name=email_recovery_security_question]").val();
            if($.trim(security_question) == "") {
                $("#id_field_error_er").show();
                error = true;
            }
            else {
                $("#id_field_error_er").hide();
            }
            var email_recovery_sq_answer = $("input[name=email_recovery_sq_answer]").val();
            if($.trim(email_recovery_sq_answer) == "") {
                $("input[name=email_recovery_sq_answer]").parent().find(".field-error").show();
                error = true;
            }
            else {
                $("input[name=email_recovery_name]").parent().find(".field-error").hide();
            }
            var email_recovery_bdate = $("input[name=email_recovery_bdate]").val();
            if($.trim(email_recovery_bdate) == "") {
                $("input[name=email_recovery_bdate]").parent().find(".field-error").show();
                error = true;
            }
            else {
                $("input[name=email_recovery_name]").parent().find(".field-error").hide();
            }

            if(error) {
                return false;
            }

            var action_url = "{% url "email_recovery_request_view" %}";
            $("#id_email_recovery_form").prop("action", action_url);
            $("#id_email_recovery_form").submit();
        });
    });
</script>
{% endblock body_content %}