{% extends "public_master.html" %}

{% block body_content %}
<div style="margin-top: 80px;margin-bottom:10px;padding: 20px; width: 80%; min-height: 200px; margin-left: auto; margin-right: auto; border: 1px solid #ccc;">
    <h1 style="margin-top: 0px; color: black;">
        {% if title %}
        {{ title }}
        {% endif %}
    </h1>
    <br/>
    <div>
        {{ msg|safe }}
    </div>
</div>
{% endblock body_content %}