{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}

{% endblock script_head_extra %}
{% block bodycontent %}
    <div class="contnt">
        <p style="color: red;">An error occured.</p>
    </div>
{% endblock bodycontent %}