{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block script_head_extra %}
<link rel="stylesheet" href="{% static "css/faq.css" %}" type="text/css" media="all">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">

<style>
    .faq-section {
        height: auto;
        margin-top: 20px !important;
    }
    .faq-section p {

    }
    .post-helpful a,.post-helpful a:link,.post-helpful a:visited { color:#828282; font:14px/29px 'HelveticaNeueLTStd-Medium'; }

    .helpful {
        display: none;
        width: auto; float: right; margin-right: 20px;
    }

</style>
<script>
    $(document).ready(function() {
        $(".faq-section").hover(function(e) {
            $(this).find(".helpful").show();
        },
        function(e) {
            $(this).find(".helpful").hide();
        });
    });
</script>
<script>
$(document).ready(function () {

$(document).on("scroll", onScroll);
 $(".faq-type ul li a").click(function(evn){
  $('.faq-type ul li a').removeClass('active');
  $(this).addClass('active');
 var target = this.hash,
        $target = $(target);
		evn.preventDefault();
		if($(window).width() > 1000){
			$('html,body').animate({
					scrollTop: $target.offset().top-90},
					'slow');
		}else if($(window).width() > 455){
			$('html,body').animate({
					scrollTop: $target.offset().top-20},
					'slow');
		}else if($(window).width() < 455){
			$('html,body').animate({
					scrollTop: $target.offset().top-100},
					'slow');
		}
});

function onScroll(evn){
    var scrollPos = $(document).scrollTop();
	<!-- alert('hello'); -->
    $('.faq-type ul li a').each(function () {
        var currLink = $(this);
        var refElement = $(currLink.attr("href"));
        if (refElement.position().top-100<= scrollPos && refElement.position().top + refElement.height()-100 > scrollPos) {
            currLink.addClass("active");
        }
        else{
            currLink.removeClass("active");
        }
    });
}});
</script>
<script>
var stickySidebar = $('.faq-type').offset().top-80;
$(window).scroll(function() {
    if ($(window).scrollTop() > stickySidebar) {
        $('.faq-type').addClass('scroll');
    }
    else {
        $('.faq-type').removeClass('scroll');
    }
});
</script>
{% endblock script_head_extra %}

{% block bodycontent %}
<div class="contnt">

  <div class="wrapper">

        <h3 class="faq-heading">Frequently Asked Questions</h3>

        <div class="faq-outer">

            <div class="faq-type">

                <ul>

                    <li><a href="#general" id="id_faq_general" class="gen active">General</a></li>

                    <li><a href="#student" id="id_faq_student" class="std">Student</a></li>

                    <li><a href="#tutor" id="id_faq_tutor" class="ttr">Tutor</a></li>

                </ul>

            </div>

            <div class="faq-type-des">

                <div class="faq-des-inner"  id="general">

                    <h2 class="gen">General</h2>

                    <div class="faq-content">

                        <h3>What is ChampionTutor Online?</h3>

                        <p>We are an online tutoring platform, that connects learning students to tutors through an online whiteboard system. Students can simply post a job if they are stuck with their school work or require a regular tutoring session with our tutors.<br><br>

                        Students are free to chat with our tutors online, before selecting them as the tutor. The chat can revolve around the discussion of lesson duration, start date and price.<br><br>

                        Both students and tutors can benefit from the features of our website, through the online whiteboard system, that comes with audio, video and chat features, to enhance the learning experience.<br><br>

                        Each lesson can be recorded, that allows playback at anytime and anywhere.<br><br>

                        Billing is carried out through debit/credit cards, and you will only be billed once after you have completed the lesson with our tutor.

                        </p>

                        <h3>Do you verify the qualifications of your tutors?</h3>

                        <p>Tutors are required to submit their paper qualifications to us before they are allowed to teach any students. Apart from that, we have a review system that allows students to provide feedback about the tutor once after every completed lesson.</p>

                        <h3>What is your cancellation policy like for tutoring lessons?</h3>

                        <p>For confirmed lessons, please note that we require a 24 hour notice period prior to the scheduled class time. Cancellations made with less than 24 hours prior to a class will be charged as usual.</p>

                        <h3>Where is the tuition carried out?</h3>

                        <p>Lesson is carried out in the website itself, student will have to login using their account, to proceed to the lesson. An email reminder will be sent to both the tutor and student, a day before the lesson commence. A lesson link will be included in our email reminder as well, which will bring them to the lesson space directly. </p>

                    </div>

                </div>

                <div class="faq-des-inner" id="student">

                    <h2 class="std">Student</h2>

                    <div class="faq-content">

                        <h3>How do I engage a tutor in your website?</h3>

                        <p>You are required to have an account with us, thereafter you can login to request for a new tutor, based on your requirements.<br><br>

                        Soon after, you will receive applicants who will apply for your posted job, and you can start shortlisting them based on your preference.<br><br>

                        Once you have decided on a tutor, you can choose to hire him, and set a start time and date.<br><br>

                        Lesson will commence online in our website, through our interactive whiteboard system, which allows to text, voice or video call with the tutor.<br><br>

                        </p>

                        <h3>How are the tutors charging in your website?</h3>

                        <p>Prices vary, depending on the tutors’ qualifications and tutoring experience. It ranges from 10 USD/hour onwards. Our hourly rate is automatically converted to your local currency, to provide you a hassle-free calculation.<br><br>

                        You are also able to find tutors who are residing in your country, this will give you an assurance that they are familiar with your local curriculum.</p>

                        <h3>What happened in event if I find the tutor is incompetent in his teaching?</h3>

                        <p>You are allowed to go on a trial lesson with the tutor for 30 minutes in our online whiteboard, but it is subjected to the tutor’s approval.<br><br>

                        However, before any hires, you are encouraged to chat message the tutor via our website and app, so as to be sure that he knows what your challenges are, as well as sharing with him your tutoring topics, and this will certainly minimise the mismatch situation.<br><br>

                        Once after every lesson, you are able to rate the tutor as well, and tutors who have constantly received poor rating will be removed from our website.</p>

                    </div>

                </div>

                <div class="faq-des-inner" id="tutor">

                    <h2 class="ttr">Tutor</h2>

                    <div class="faq-content">

                        <h3>Why do I need a Facebook account for verification before I can start using my account?</h3>

                        <p>This is a part of our security and background check process, to ensure the authenticity of our tutors, and to create a safer environment for everyone to learn online. Please be assured that your information is kept highly confidential and private, and it will not be shared with any third parties.

                        </p>

                        <h3>When and how am I paid for lessons?</h3>

                        <p>Payment will be paid through internet bank transfer, and you are required to provide us with your bank details. You should receive payment within the first day of a new week.</p>

                        <h3>Why is there a commission levy on tutors?</h3>

                        <p>The small fee of 14.5% levy per lesson, includes all processing fee, and it is the most competitive rate in the industry. The payment is basically used to sustain our business, and to continue building awesome features for you. It also helps to ensure our 24/7 support system is made available to everyone.</p>

                    </div>

                </div>

                </div>

            </div>

        </div>

  </div>

<script>

$(document).ready(function () {



$(document).on("scroll", onScroll);

 $(".faq-type ul li a").click(function(evn){

  $('.faq-type ul li a').removeClass('active');

  $(this).addClass('active');

 var target = this.hash,

        $target = $(target);

		evn.preventDefault();

		if($(window).width() > 1000){

			$('html,body').animate({

					scrollTop: $target.offset().top-90},

					'slow');

		}else if($(window).width() > 455){

			$('html,body').animate({

					scrollTop: $target.offset().top-20},

					'slow');

		}else if($(window).width() < 455){

			$('html,body').animate({

					scrollTop: $target.offset().top-100},

					'slow');

		}

});



function onScroll(evn){

    var scrollPos = $(document).scrollTop();

	<!-- alert('hello'); -->

    $('.faq-type ul li a').each(function () {

        var currLink = $(this);

        var refElement = $(currLink.attr("href"));

        if (refElement.position().top-100<= scrollPos && refElement.position().top + refElement.height()-100 > scrollPos) {

            currLink.addClass("active");

        }

        else{

            currLink.removeClass("active");

        }

    });

}});

</script>

<script>

var stickySidebar = $('.faq-type').offset().top-80;

$(window).scroll(function() {

    if ($(window).scrollTop() > stickySidebar) {

        $('.faq-type').addClass('scroll');

    }

    else {

        $('.faq-type').removeClass('scroll');

    }

});

</script>

{% endblock bodycontent %}