{% extends "master.html" %}
{% load staticfiles %}

{% block script_head_extra %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}

{% block bodycontent %}
<div class="contnt">
	<div class="wrapper">
		<div class="all_calender">
			<ul class="calendar_type">
				<li class="currentCal"> <a href="#"> Daily </a> </li>
				<li> <a href="#"> Weekly </a> </li>
				<li> <a href="#"> Monthly </a> </li>
				<li> <a href="#"> Yearly </a> </li>
			</ul>
			<div class="calendartabContainer">
				<div class="calendarTab" style="display:block;">
					<div class="calendar_outer">
						<h4 class="calendar_heading day_cal_header">{{ day_cal_header }}</h4>
						<div class="calendar_prev_next">
							<a id="day_prev" table="day_calendar" href="#" value="{{ day_prev }}" class="calendar_prev navigation">Previous</a>
							<a id="day_next" table="day_calendar" href="#" value="{{ day_next }}" class="calendar_next navigation">Next</a>
						</div>
                        <div class="day_calendar">

                        {{ day_calendar }}

                        </div>
					</div>
				</div>
				<div class="calendarTab">
					<div class="calendar_outer">
						<h4 class="calendar_heading week_cal_header">{{ week_cal_start_date }} - {{ week_cal_last_date }}</h4>
						<div class="calendar_prev_next">
							<a href="#" table="week_calendar" value="{{ week_prev }}" class="calendar_prev week_prev navigation">Previous</a>
							<a href="#" table="week_calendar" value="{{ week_next }}" class="calendar_next week_next navigation">Next</a>
						</div>
                        <div class="week_calendar">

                        {{ week_calendar }}

                        </div>
					</div>
				</div>
				<div class="calendarTab">
					<div class="calendar_outer">
						<!--<h4 class="calendar_heading">March 2016</h4>-->
						<div class="calendar_prev_next">
							<a href="#" table="month_calendar" value="{{ month_prev }}" class="calendar_prev month_prev navigation">Previous</a>
							<a href="#" table="month_calendar" value="{{ month_next }}" class="calendar_next month_next navigation">Next</a>
						</div>
                        <div class="month_calendar">

                        {{ month_calendar }}

                        </div>
					</div>
				</div>
				<div class="calendarTab">
					<div class="calendar_outer">
						<h4 class="calendar_heading year_cal_header">Year {{ year }}</h4>
						<div class="calendar_prev_next">
							<a href="#" table="year_calendar" value="{{ year_prev }}" class="calendar_prev year_prev navigation">Previous</a>
							<a href="#" table="year_calendar" value="{{ year_next }}" class="calendar_next year_next navigation">Next</a>
						</div>
                        <div class="year_calendar">

                        {{ year_calendar }}

                        </div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>

{% endblock %}

{% block extra_bottom_js %}
<script>
$('ul.calendar_type a').click(function() {
	$('ul.calendar_type li').removeClass("currentCal");
	$(this).parent('li').addClass("currentCal");
	 tabletabs($(this).parent('li').index());
});

function tabletabs(val){

	$(".calendarTab").hide();
	if(val>0)
	{
		document.getElementsByClassName('calendarTab')[val].style.display="block";
	}
	else
	{
		document.getElementsByClassName('calendarTab')[0].style.display="block";
	}
}
</script>

<script>
$(".calendar_detail").hover(function(){
	$(this).siblings(".chap_summary_outer").children('.lesson_chap_summary').toggleClass("displaynone");
});

$(".lesson_chap_detail").hover(function(){
	$(this).siblings('.lesson_chap_summary').toggleClass("displaynone");
});

$(".lesson_chap_summary, .lesson_chap_summary").hover(function(){
	$(this).toggleClass("displaynone");
});


$(document).ready(function() {
    $(".navigation").on( "click", function() {

    var day = $(this).attr("value")
    var table = $(this).attr("table")
    $.ajax({
        type: "GET",
        url: "{% url 'full_calendar' %}",
        data: { day: day},
        enctype: 'multipart/form-data',
        success: function(data)
        {
            var data = JSON.parse(data);
            if (table == "day_calendar"){
                $('.day_calendar').html(data.day_calendar);
                $('.day_cal_header').html(data.day_cal_header);
                $('#day_prev').attr( "value", data.day_prev );
                $('#day_next').attr( "value", data.day_next );
            }

            if (table == "week_calendar"){
                $('.week_calendar').html(data.week_calendar);
                $('.week_cal_header').html(data.week_cal_start_date + " - " + data.week_cal_last_date);
                $('.week_prev').attr( "value", data.week_prev );
                $('.week_next').attr( "value", data.week_next );
            }

            if (table == "month_calendar"){
                $('.month_calendar').html(data.month_calendar);
                $('.month_prev').attr( "value", data.month_prev );
                $('.month_next').attr( "value", data.month_next );
            }

            if (table == "year_calendar"){
                $('.year_calendar').html(data.year_calendar);
                $('.year_cal_header').html("Year " + data.year);
                $('.year_prev').attr( "value", data.year_prev );
                $('.year_next').attr( "value", data.year_next );
            }


        },
        error: function(jqxhr, status, error)
        {

        }
    })
  });
});


</script>


{% endblock %}