{% load staticfiles %}
<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Champion Tutor</title>
    <link rel="stylesheet" href="{% static "css/style-common.css" %}" type="text/css" media="all">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script src="{%  static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/CreateHTML5Elements.js" %}"></script>
    <script src="{% static "js/bootstrap.popup.dialog.js" %}"></script>
    <script src="{% static "jquery.easyui-1.4.2/jquery.easyui.min.js" %}"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="{% static "js/mootools-core-1.4.2-full-compat.js" %}"></script>
<![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="{% static "js/selectivizr.js" %}"></script>
<noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
<![endif]-->
</head>
<body>

<div class="main">
    <div class="banner">
        <header>
            <div class="wrapper">
                <a href="#" id="logo"> <img src="images/logo.png" width="212" height="36" alt="Logo"> </a>
                <div class="top_menu">
                    <ul class="menu">
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Search Tutors</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="right_menu">
                    <a class="sign_in" href="#" onClick="show_signin();">Sign in</a>
                    <a class="rgster" href="#" onClick="show_signup();">Register</a>
                </div>
            </div>
        </header>
        <div class="banner_text">
            <h1 class="banner_heading">Finding your online tutor in JUST A CLICK AWAY!</h1>
            <p class="banner_inner_text">We connect the best tutors right at your screen</p>
            <form class="view_tutor">
                <input type="text" placeholder="What subject can we help you with? Try 'Algebra'">
                <input type="submit" value="View Tutors!">
            </form>
        </div>
        <a href="#p1" class="scroll_down"> <img src="images/scroll-down.png" width="77" height="77" alt="Scroll Down"> </a>
        <div class="outer_chat">
            <div class="outer_scot_tutor">
                <div class="scot_tutor"> <h2>Scott M (Tutor)</h2> <span class="scot_tutor_close"> <img src="images/close.png" width="10" height="9" alt="icon"> </span> <span class="scot_tutor_expend"> <img src="images/expend.png" width="14" height="8" alt="icon"> <img src="images/min.png" width="14" height="8" alt="img"> </span> </div>
                <div class="scot_tutor_detail">
                    <div class="scot_tutor_chat"></div>
                    <p class="scot_tutor_text">Interested in having a lesson with Scott? 
you can send him a message here.</p>
                    <input type="text" placeholder="Type here..." class="scot_tutor_input">
                </div>
            </div>
            <div class="outer_tutors_chat">
                <div class="tutors_chat"> <h2>Tutors Chat</h2> <span class="outer_tutors_expend"> <img src="images/expend.png" width="14" height="8" alt="icon"> <img src="images/min.png" width="14" height="8" alt="icon"> </span> </div>
                <div class="tutors_chat_detail">
                    <div class="support_offline">
                        <div class="support_offline_icon"> <img src="images/support-offline-icon.png" width="31" height="31" alt="icon"> </div>
                        <div class="support_offline_detail">
                            <h2>Support is offline</h2>
                            <p> Questions? <a href="#">Support Center</a> </p>
                        </div>
                    </div>
                    <ul class="tutors_chat_list">
                        <h3>MAth Tutors</h3>
                        <li>
                            <div class="tutors_chat_img"> <img src="images/chat-img.png" width="31" height="31" alt="img"> </div>
                            <div class="tutors_chat_txt">
                                <h3>Scott M.</h3>
                                <p>Cornell University</p>
                            </div>
                            <div class="notification">110</div>
                        </li>
                        <li>
                            <div class="tutors_chat_img"> <img src="images/chat-img.png" width="31" height="31" alt="img"> </div>
                            <div class="tutors_chat_txt">
                                <h3>Michael H.</h3>
                                <p>Cornell University</p>
                            </div>
                            <div class="notification">110</div>
                        </li>
                        <li>
                            <div class="tutors_chat_img"> <img src="images/chat-img.png" width="31" height="31" alt="img"> </div>
                            <div class="tutors_chat_txt">
                                <h3>Stephen L.</h3>
                                <p>Cornell University</p>
                            </div>
                            <div class="notification">92</div>
                        </li>
                        <a href="#" class="show_more_chat">Show More</a>
                        
                        <h3>Computer Science Tutors</h3>
                        <li>
                            <div class="tutors_chat_img"> <img src="images/chat-img.png" width="31" height="31" alt="img"> </div>
                            <div class="tutors_chat_txt">
                                <h3>Stephen L.</h3>
                                <p>Cornell University</p>
                            </div>
                            <div class="notification">192</div>
                        </li>
                        <li>
                            <div class="tutors_chat_img"> <img src="images/chat-img.png" width="31" height="31" alt="img"> </div>
                            <div class="tutors_chat_txt">
                                <h3>Stephen L.</h3>
                                <p>Cornell University</p>
                            </div>
                            <div class="notification">192</div>
                        </li>
                        <a href="#" class="show_more_chat">Show More</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="latest_video">
    <a id="p1"></a>
        <div class="wrapper">
            <h1 class="champ_heading">Check out our latest Video</h1>
            <div class="video_section_home"> <img src="images/video-home.jpg" width="623" height="351" alt="Video"> </div>
        </div>
    </div>
    <div class="finding_tutors">
        <div class="wrapper">
        <h1 class="champ_heading">Finding tutors has never been so easy! </h1>
        <p class="finding_tutors_here">Here's how it works</p>
        <ul class="its_work">
            <li>
                <div class="finding_tutors_icon"> <img src="images/work-img1.png" width="193" height="169" alt="img"> </div>
                <h1 class="finding_tutors_heading">Search for a topic or subject</h1>
                <p class="finding_tutors_text">You can simply type in the subject you are facing difficulty with, and search for tutors</p>
          </li>
            <li>
                <div class="finding_tutors_icon"> <img src="images/work-img2.png" width="227" height="169" alt="img"> </div>
                <h1 class="finding_tutors_heading"> Browse through the list of tutors </h1>
                <p class="finding_tutors_text">After your search, a list of tutors will appear, you can choose to chat with them first before entering into a tutoring session</p>
          </li>
            <li>
                <div class="finding_tutors_icon"> <img src="images/work-img3.png" width="220" height="169" alt="img"> </div>
                <h1 class="finding_tutors_heading">Start your lesson</h1>
                <p class="finding_tutors_text">Once you are sure who to start your lesson with, simply enter into our tutoring space, where it allows you to chat, use video, upload documents and write on a shared whiteboard</p>
                <a href="#" class="demo">Try the demo</a>
          </li>
        </ul>
    </div>
    </div>
    <div class="lesson_space">
        <div class="wrapper">
            <h1 class="champ_heading">Try the lesson space demo</h1>
          <p class="launch_lesson_txt">Launch the lesson space demo</p>
            <div class="launch_lesson_space"> <img src="images/launch-lesson-space.jpg" width="786" height="443" alt="img"> </div>
        </div>
    </div>
    <div class="most_searched_subjects">
        <div class="wrapper">
            <h1 class="champ_heading">Most searched subjects</h1>
            <p class="finding_tutors_here">Here's how it works</p>
            <div class="launch_lesson_space"> <img src="images/most-searched-subjects.jpg" width="787" height="443" alt="img"> </div>
        </div>
    </div>
    <div class="lesson_space">
        <div class="wrapper">
            <h1 class="champ_heading">What our students say about their tutors</h1>
            <div class="outer_testimonial">
            <ul class="testimonial">
            <li>
                <span class="tstmnl_cmnt_bx"><p>"Very clear explanation from Tutor James, I am able to understand questions quickly"</p></span>
                <div class="tstmnl_nme">
                    <div class="tstmnl_img"><img width="37" height="37" alt="img" src="images/tstmnl_img1.png"></div>
                    <span class="tstmnl_name">JIA HUI</span><br>
                    <span class="crse_nme">CHIJ St. Nicholas Girls' School</span>
                </div>
            </li>
            <li>
                <span class="tstmnl_cmnt_bx"><p>"I liked the way Affida has explained the methods in managing the question, and not just telling me what to do. Thumbs up!"</p></span>
                <div class="tstmnl_nme">
                    <div class="tstmnl_img"><img width="37" height="37" alt="img" src="images/tstmnl_img2.png"></div>
                    <span class="tstmnl_name">MARIATUL</span><br>
                    <span class="crse_nme">Temasek Polytechnic</span>
                </div>
            </li>
            <li>
                <span class="tstmnl_cmnt_bx"><p>"I will not hesitate to recommend John to anyone, he is so good in teaching Chemistry"</p></span>
                <div class="tstmnl_nme">
                    <div class="tstmnl_img"><img width="37" height="37" alt="img" src="images/tstmnl_img3.png"></div>
                    <span class="tstmnl_name">PAUL</span><br>
                    <span class="crse_nme">National Junior College</span>
                </div>
            </li>
            <li>
                <span class="tstmnl_cmnt_bx"><p>"Because of Katie, I felt more confident in my writing skills now"</p></span>
                <div class="tstmnl_nme">
                    <div class="tstmnl_img"><img width="37" height="37" alt="img" src="images/tstmnl_img1.png"></div>
                    <span class="tstmnl_name">JASMINE</span><br>
                    <span class="crse_nme">Yishun Town Secondary School</span>
                </div>
            </li>
            <li>
                <span class="tstmnl_cmnt_bx"><p>"Just when I needed a tutor so urgently, I have found Sara to guide me in H3 Math, it wouldn't be possible without ChampionTutor"</p></span>
                <div class="tstmnl_nme">
                    <div class="tstmnl_img"><img width="37" height="37" alt="img" src="images/tstmnl_img2.png"></div>
                    <span class="tstmnl_name">ZACHARY</span><br>
                    <span class="crse_nme">Raffles Junior College</span>
                </div>
            </li>
            <li>
                <span class="tstmnl_cmnt_bx"><p>"As a working adult, my time is very constraint, but I like the fact that I can connect with my tutor anytime of the day through the online portal"</p></span>
                <div class="tstmnl_nme">
                    <div class="tstmnl_img"><img width="37" height="37" alt="img" src="images/tstmnl_img3.png"></div>
                    <span class="tstmnl_name">PAUL</span><br>
                    <span class="crse_nme">National Junior College</span>
                </div>
            </li>
        </ul>
        </div>
        </div>
    </div>
    <footer>
    <div class="wrapper">
        <a href="#" class="ftr_logo"> <img src="images/logo.png" width="212" height="36" alt="img"> </a>
        <ul class="ftr_lnk">
            <span class="lnk_hdng">FOR STUDENTS</span>
            <li><a href="#">Become a student</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <ul class="ftr_lnk">
            <span class="lnk_hdng">FOR TUTORS</span>
            <li><a href="#">Become a tutor</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <ul class="ftr_lnk">
            <span class="lnk_hdng">Help</span>
            <li><a href="#">Report a Problem</a></li>
        </ul>
        <ul class="ftr_lnk">
            <span class="lnk_hdng">CONTACT US </span>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <ul class="social_icon">
            <span class="lnk_hdng">Social</span>
            <li><a href="#"><img src="images/fb.png" width="9" height="17" alt="icon"></a></li>
            <li><a href="#"><img src="images/twtr.png" width="20" height="16" alt="icon"></a></li>
            <li><a href="#"><img src="images/gogle.png" width="17" height="17" alt="icon"></a></li>
            <li><a href="#"><img src="images/pinterest.png" width="16" height="19" alt="icon"></a></li>
        </ul>
    </div>
</footer>
    <div class="lwr_ftr">
    <div class="wrapper">
        <ul class="prvt_plcy">
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="ftr_txt"> Copyright © ChampionTutor Online</p>

    </div>
</div>
</div>

<div id="black_overlay"></div>
<div id="sign_up">
  <div class="sign_up_bx">
        <h1 class="sign_up_heading">Sign Up</h1>
        <p class="sign_up_txt"> Already have an account? <a href="#">Sign in</a> </p>
          <ul class="sign_up_tab">
            <li class="current"> <input type="radio" name="signup" id="tutor" checked> <label for="tutor">Tutor</label></li>
            <li> <input type="radio" name="signup" id="student"> <label for="student">Student</label></li>
            </ul>
            <div class="tab" style="display:block;">
                <form class="tutor_form">
                    <input type="text" placeholder="Your name">
                    <input type="text" placeholder="Email ID">
                    <input type="text" placeholder="Password">
                    <input type="text" placeholder="Confirm Password">
                    <input type="submit" placeholder="Sign Up">
                    <p>By Clicking "sign up", you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a></p>
                </form>
            </div>
            <div class="tab">
                <form class="tutor_form">
                    <input type="text" placeholder="Your name">
                    <input type="text" placeholder="Email ID">
                    <input type="text" placeholder="Password">
                    <input type="text" placeholder="Confirm Password">
                    <input type="submit" placeholder="Sign Up">
                    <p>By Clicking "sign up", you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a></p>
                </form>
            </div>
            </div>
</div>
<div id="sign_in">
    <div class="sign_in_bx">
        <h1 class="sign_up_heading">Sign In</h1>
        <p class="sign_up_txt"> Already have an account? <a href="#">Sign up</a> </p>
        <a href="#" class="facebook">Sign in with Facebook</a>
        <div class="or"> <p>Or</p> <span></span> </div>
        <form class="signin_form">
            <input type="text" placeholder="Email ID">
            <p>Forgot email?</p>
            <input type="text" placeholder="Password">
            <p>Forgot Password?</p>
            <input type="submit" value="Sign In" class="sign_in_btn top25">
        </form>
    </div>
</div>

<script language="javascript">
var black_overlay = $('#black_overlay');
var sign_up = $('#sign_up');
var sign_in = $('#sign_in');

black_overlay.click(function(){black_overlay.hide(); sign_up.hide();});
black_overlay.click(function(){black_overlay.hide(); sign_in.hide();});


$( document ).on( 'keydown', function ( e ) {
    if ( e.keyCode === 27 ) { // ESC
        $( black_overlay ).hide();
        $( sign_up ).hide();
        $( sign_in ).hide();
    }
});

window.onload(function(){marscrl.stop()})

function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
}

function show_signup()
{document.getElementById('black_overlay').style.display="block";
document.getElementById('sign_up').style.display="block";}

function show_signin()
{document.getElementById('black_overlay').style.display="block";
document.getElementById('sign_in').style.display="block";}

</script>

</body>
</html>
<script src="js/jquery.bxslider.min.js"></script>
<script>
  $('.testimonial').bxSlider({
  auto: true,
  autoHover: true,
  minSlides: 1,
  maxSlides: 3,
  slideWidth: 326,
  slideMargin: 10,
  pager: true,
  pause: 10000,
  controls :false,
  touchEnabled:true
  });
</script>



<script>
$(".scot_tutor_expend").click(function(){
    $('.scot_tutor_detail').toggleClass('displayblock');
    $(this).toggleClass('mini');
});

$(".scot_tutor_close").click(function(){
    $('.scot_tutor_detail').removeClass('displayblock');
    $('.scot_tutor').addClass('displaynone');
    $('.scot_tutor_detail').removeClass('displayblock');
});
</script>


<script>
$(".outer_tutors_expend").click(function(){
    $('.tutors_chat_detail').toggleClass('displayblock');
    $(this).toggleClass('mini');
});
</script>


<script>
function fls(){
 var wh= $(window).height();
 $(".banner").css('height',wh+'px');
}
$(window).resize(function() {
 fls();    
});
fls();
</script>

<script>
    var winWidth = $(window).width();
    if(winWidth < 700) {
    $( '.banner' ).addClass( 'heightauto' );
  }
</script>


<script type="text/javascript" src="js/jquery.smooth-scroll.js"></script>
<script>
    $(document).ready(function() {
      var $stupid = $('<div></div>')
        .height(1)
        .hide()
        .appendTo('body');

      var mobileHack = function() {
        $stupid.show();
        setTimeout(function() {
          $stupid.hide();
        }, 10);
      };

      $('.scroll_down').smoothScroll({
        afterScroll: mobileHack
      });

    });
</script>


<script>
$(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 10) {
        $("header").addClass("menu_scrol1");
    } else {
        $("header").removeClass("menu_scrol1");
    }
});
</script>
<script>
$('ul.sign_up_tab > li > label').click(function() {
    $('ul.sign_up_tab > li').eq($(this).parent('li').index()).addClass('current').siblings().removeClass('current');
     tabsss($(this).parent('li').index());
});
function tabsss(val)
{
    $(".tab").hide();
    if(val>0)
    {
        document.getElementsByClassName('tab')[val].style.display="block";
    }
    else
    {
        document.getElementsByClassName('tab')[0].style.display="block";
    }
}
</script>