{% extends "public_master.html" %}
{% load staticfiles %}
{% load configfilters %}

{% block scroll_header %}
<div class="banner">
    <!--<ul class="social_links">-->
	<!--<li> <a href="https://www.facebook.com/pages/Champion-Tutor/391531377588434?ref=hl"><img src="{% static "images/social_fb.png" %}" width="12" height="25" alt="img"></a> <div class="social_detail"><img src="images/social_inner1.png" width="92" height="39" alt="img"> </div> </li>-->
	<!--<li> <a href="https://twitter.com/ChampionTutor5"><img src="{% static "images/social_twtr.png" %}" width="21" height="17" alt="img"></a> <div class="social_detail"><img src="images/social_inner2.png" width="92" height="39" alt="img"> </div> </li>-->
	<!--<li> <a href="https://plus.google.com/u/0/b/109935209655636659453/+Championtutor/posts"><img src="{% static "images/social_gogle.png" %}" width="21" height="22" alt="img"></a> <div class="social_detail"><img src="images/social_inner3.png" width="78" height="39" alt="img"> </div> </li>-->
	<!--<li> <a href="https://www.youtube.com/c/Championtutor"> <img src="{% static "images/youtube.png" %}" width="22" height="26" alt="img"></a> <div class="social_detail"><img src="images/social_inner4.png" width="48" height="39" alt="img"> </div> </li>-->
	<!--</ul>-->

    <header>
        <div class="wrapper">
            <a href="/" id="logo"> <img src="{% static "images/logo.png" %}" width="212" height="36" alt="Logo"> </a>
            <div class="top_menu">
              <ul class="menu">
                    <li><a href="#id_how_it_works">How it works</a></li>
                    <li><a href="{% url "tutor_search" %}">Search Tutors</a></li>
                    <li><a href="{% url "faq" %}">Help</a></li>
                </ul>
            </div>
            <div class="right_menu">
                <a class="sign_in" href="#" onClick="show_signin();">Sign in</a>
                <a class="rgster" href="#" onClick="show_signup();">Register</a>
            </div>
        </div>
    </header>
    <div class="banner_text">
        <h1 class="banner_heading">Finding your online tutor in JUST A CLICK AWAY!</h1>
        <p class="banner_inner_text">We connect the best tutors right at your screen</p>
        <form id="id_view_tutors_form" class="view_tutor" action="#" method="GET">
            <div class="choose_diff_level">
                <select id="id_view_tutors_level" name="level" class="loct">
                   <option value="">Choose a Level</option>
                   {% for level in levels %}
                    <option value="{{ level.name }}">{{ level.name }}</option>
                   {% endfor %}
                </select>
            </div>
            <div id="id_subjects_container" class="choose_diff_level" style="width: 460px;">
                <select id="id_view_tutors_subject" placeholder="Choose a Subject" name="subject" class="loct">
                    <option value="">Choose a Subject</option>
                </select>
            </div>
            <!--<input id="id_view_tutors_subject" name="subject" type="text" placeholder="What subject can we help you with? Try 'Algebra'">-->
            <input id="id_view_tutor_submit" type="submit" value="View Tutors!">
        </form>


    </div>
    <a href="#p1" class="scroll_down"> <img src="{% static "images/scroll-down.png" %}" width="77" height="77" alt="Scroll Down"> </a>

</div>

<!--<div class="latest_video">-->
<!--<a id="p1"></a>-->
    <!--<div class="wrapper">-->
        <!--<h1 class="champ_heading">Check out our latest Video</h1>-->
        <!--<div class="video_section_home"> <img src="{% static "images/video-home.jpg" %}" width="623" height="351" alt="Video"> </div>-->
    <!--</div>-->
<!--</div>-->
<div id="id_how_it_works" class="finding_tutors">
    <div class="wrapper">
    <h1 class="champ_heading">Finding tutors has never been so easy! </h1>
    <p class="finding_tutors_here">Here's how it works</p>
    <ul class="its_work">
        <li>
            <div class="finding_tutors_icon"> <img src="{% static "images/work-img1.png" %}" width="193" height="169" alt="img"> </div>
            <h1 class="finding_tutors_heading" style="height: auto;">Search Subjects</h1>
            <a id="id_view_tutor_by_subjects" href="#" style="cursor: pointer; font-size: 18px; font-weight: bold;">Search</a>
      </li>
        <li>
            <div class="finding_tutors_icon"> <img src="{% static "images/work-img2.png" %}" width="227" height="169" alt="img"> </div>
            <h1 class="finding_tutors_heading" style="height: auto;">Browse Tutors</h1>
            <a href="{% url "tutor_search" %}" style="cursor: pointer; font-size: 18px; font-weight: bold;">Browse</a>
      </li>
        <li>
            <div class="finding_tutors_icon"> <img src="{% static "images/work-img3.png" %}" width="220" height="169" alt="img"> </div>
            <h1 class="finding_tutors_heading" style="height: auto;">Start Lesson</h1>
            <a href="{% url "lesson_demo" %}" style="cursor: pointer; font-size: 18px; font-weight: bold;">Demo</a>
      </li>
    </ul>
</div>
</div>
<!--<div class="lesson_space">-->
    <!--<div class="wrapper">-->
        <!--<h1 class="champ_heading">Try the lesson space demo</h1>-->
        <!--<a href="{% url "lesson_demo" %}"><p class="launch_lesson_txt">Launch the lesson space demo</p></a>-->
        <!--<div class="launch_lesson_space"> <img src="{% static "images/launch-lesson-space.jpg" %}" width="786" height="443" alt="img"> </div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="most_searched_subjects">-->
    <!--<div class="wrapper">-->
        <!--<h1 class="champ_heading">Most searched subjects</h1>-->
        <!--<p class="finding_tutors_here">Here's how it works</p>-->
        <!--<div class="launch_lesson_space"> <img src="{% static "images/most-searched-subjects.jpg" %}" width="787" height="443" alt="img"> </div>-->
    <!--</div>-->
<!--</div>-->
<div class="lesson_space">
    <div class="wrapper">
        <h1 class="champ_heading">What our students say about their tutors</h1>
        <div class="outer_testimonial">
        <ul class="testimonial">
        <li>
            <span class="tstmnl_cmnt_bx"><p>"Very clear explanation from Tutor James, I am able to understand questions quickly"</p></span>
            <div class="tstmnl_nme">
                <div class="tstmnl_img"><img width="37" height="37" alt="img" src="{% static "images/tstmnl_img1.png" %}"></div>
                <span class="tstmnl_name">JIA HUI</span><br>
                <span class="crse_nme">CHIJ St. Nicholas Girls' School</span>
            </div>
        </li>
        <li>
            <span class="tstmnl_cmnt_bx"><p>"I liked the way Affida has explained the methods in managing the question, and not just telling me what to do. Thumbs up!"</p></span>
            <div class="tstmnl_nme">
                <div class="tstmnl_img"><img width="37" height="37" alt="img" src="{% static "images/tstmnl_img2.png" %}"></div>
                <span class="tstmnl_name">MARIATUL</span><br>
                <span class="crse_nme">Temasek Polytechnic</span>
            </div>
        </li>
        <li>
            <span class="tstmnl_cmnt_bx"><p>"I will not hesitate to recommend John to anyone, he is so good in teaching Chemistry"</p></span>
            <div class="tstmnl_nme">
                <div class="tstmnl_img"><img width="37" height="37" alt="img" src="{% static "images/tstmnl_img3.png" %}"></div>
                <span class="tstmnl_name">PAUL</span><br>
                <span class="crse_nme">National Junior College</span>
            </div>
        </li>
        <li>
            <span class="tstmnl_cmnt_bx"><p>"Because of Katie, I felt more confident in my writing skills now"</p></span>
            <div class="tstmnl_nme">
                <div class="tstmnl_img"><img width="37" height="37" alt="img" src="{% static "images/tstmnl_img1.png" %}"></div>
                <span class="tstmnl_name">JASMINE</span><br>
                <span class="crse_nme">Yishun Town Secondary School</span>
            </div>
        </li>
        <li>
            <span class="tstmnl_cmnt_bx"><p>"Just when I needed a tutor so urgently, I have found Sara to guide me in H3 Math, it wouldn't be possible without ChampionTutor"</p></span>
            <div class="tstmnl_nme">
                <div class="tstmnl_img"><img width="37" height="37" alt="img" src="{% static "images/tstmnl_img2.png" %}"></div>
                <span class="tstmnl_name">ZACHARY</span><br>
                <span class="crse_nme">Raffles Junior College</span>
            </div>
        </li>
        <li>
            <span class="tstmnl_cmnt_bx"><p>"As a working adult, my time is very constraint, but I like the fact that I can connect with my tutor anytime of the day through the online portal"</p></span>
            <div class="tstmnl_nme">
                <div class="tstmnl_img"><img width="37" height="37" alt="img" src="{% static "images/tstmnl_img3.png" %}"></div>
                <span class="tstmnl_name">PAUL</span><br>
                <span class="crse_nme">National Junior College</span>
            </div>
        </li>
    </ul>
    </div>
    </div>
</div>
<script type="text/javascript" src="{%  static "js/jquery.selectbox-0.1.3.min.js" %}"></script>
<script>
$(window).scroll(function() {
    var scroll = $(window).scrollTop();

    if (scroll >= 10) {
        $("header").addClass("menu_scrol1");
    } else {
        $("header").removeClass("menu_scrol1");
    }
});

$(function() {
    $( "#id_view_tutors_subject" ).autocomplete({
      minLength: 0,
      source: function( request, response ) {
          $.getJSON( "/ajax/fetch-subjects/", {
            level_name: [ $("#id_view_tutors_level").val() ],
            term: request.term,
            only_data: "true"
          }, response);
        },
      focus: function( event, ui ) {
        $( "#id_view_tutors_subject" ).val( ui.item.name );
        return false;
      },
      select: function( event, ui ) {
        $( "#id_view_tutors_subject" ).val( ui.item.name );

        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<div class=\"subject-row\"><h3>" + item.name + "</h3></div>" )
        .appendTo( ul );
    };
  });

$(document).ready(function() {
    
    $("#id_view_tutor_by_subjects").on('click', function(event){
    event.preventDefault();
    $('html,body').animate({scrollTop:$("#id_view_tutors_form").offset().top - 200}, 500);
});

    $("#id_view_tutors_level").change(function(e) {
        e.preventDefault();
        var this_val = $(this).val();
        $.ajax({
            url: "/ajax/fetch-subjects/",
            data: {
                level_name: [ this_val ]
            },
            success: function(data) {
                var data = jQuery.parseJSON(data);
                if(data.status == "SUCCESS"){
                    $("#id_view_tutors_subject").remove();
                    options = "";
                    options += "<option value=\"\">Choose a Subject</option>";
                    for(var i = 0; i < data.data.subjects.length; i++) {
                        options += "<option value=\""+ data.data.subjects[i].name +"\">"+ data.data.subjects[i].name +"</option>";
                    }

                    $("#id_subjects_container").html("");
                    $("<select id=\"id_view_tutors_subject\" data-placeholder=\"Choose a Subject\" name=\"subject\">"+ options +"</select>").appendTo($("#id_subjects_container"));
                    $("#id_view_tutors_subject").selectbox();
                }
            }
        });
    });

    $("#id_view_tutor_submit").click(function(e) {

        e.preventDefault();
        $("#id_view_tutors_form").prop("action", "/tutor-search/")
        $("#id_view_tutors_form").submit();
    });
});

</script>
<style>
    .subject-row {
        padding: 10px;
    }
    .ui-autocomplete {
    min-height: 250px;
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
  .ui-state-focus {
      background: #8e68c0 !important;
   }
   .ui-state-focus h3 {
      color: #fff !important;
    }
</style>
{% endblock scroll_header %}