{% load staticfiles %}
{% load configfilters %}

<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Champion Tutor</title>
    <link rel="stylesheet" href="{% static "css/style-common.css" %}" type="text/css" media="all">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap_social/bootstrap-social.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap_social/font_awesome/font-awesome.min.css" %}"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script src="{%  static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/CreateHTML5Elements.js" %}"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="{% static "js/bootstrap.popup.dialog.js" %}"></script>
    <script type="text/javascript" src="{% static "js/select2.min.js" %}"></script>
    <!--<script src="{% static "jquery.easyui-1.4.2/jquery.easyui.min.js" %}"></script>-->
    <script src="{% static "js/tag-it-custom.js" %}"></script>
    <script src="{% static "js/chat/chat.js" %}"></script>

    <!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="{% static "js/mootools-core-1.4.2-full-compat.js" %}"></script>
<![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="{% static "js/selectivizr.js" %}"></script>
<noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
<![endif]-->
    <style>
        .select2-container {
            z-index: 1102;
        }
    </style>
    <script type="text/javascript">
        window.app_server = "{{ request|get_application_server_url }}";
        window.etherpad_server = "{{ request|get_etherpad_server_url }}";
        window.sharejs_server = "{{ request|get_sharejs_server_url }}";
        //Now run a script in a period interval to let inform the status of this client to the socket io server.
{#        {% if request.session.is_login %}#}
            window.socket = io("{{ request|get_socket_server_url }}");
            //This is called upon a successful connection established.

            //Global variables.
            window.socket_connected = false;

            window.socket.on("connect",function()
            {
                console.log("Socket connected");
                window.socket_connected = true;
            });

            //This is called if any error occured on connecting socket.io
            window.socket.on("error", function(data)
            {
                console.log("socket connection error");
                window.socket_connected = false;
            });

            window.socket.on("disconnect",function()
            {
                console.log("socket disconnected");
                window.socket_connected = false;
            });

            window.socket.on("reconnect",function(reconnection_attemp_number)
            {
                console.log("socket reconnect called");
                window.socket_connected = false;
            });

            //This is called when attempt to reconnect.
            window.socket.on("reconnect_attempt",function()
            {
                console.log("socket reconnect_attempt called");
                window.socket_connected = false;
            });

            window.socket.on("reconnecting",function(reconnection_attemp_number)
            {
                console.log("socket reconnecting");
                window.socket_connected = false;
            });

            window.socket.on("reconnect_error",function(data)
            {
                console.log("socket reconnect_error");
                window.socket_connected = false;
            });

            window.socket.on("reconnect_failed", function()
            {
                console.log("socket reconnect_failed");
                window.socket_connected = false;
            });

            var notify_user_timezone = function(){
                var date = new Date()
                var dateOffset = date.getTimezoneOffset();
                window.socket.emit("update_tz",{
                    "uid": {% if request.session.user_id %}{{ request.session.user_id }} {% else %} -1 {% endif %},
                    "tz_offset" : dateOffset
                });
            };

            notify_user_timezone();

            var publish_online_status = function(){
                var user_status = true;
                var user_id = {{ request.user.id }};
                window.socket.emit('online_status',{"uid":user_id,"status":user_status});
            };

            //setInterval(publish_online_status, 1000);

            {% if request.user.is_authenticated %}
            window.champ_user_id = {{ request.user.pk }};
            {% else %}
            window.champ_user_id = -1;
            {% endif %}

    </script>
</head>
<body>

<div id="id_master_container" class="main">
<div class="banner">
    <header>
        <div class="wrapper">
            <a href="/" id="logo"> <img src="{% static "images/logo.png" %}" width="212" height="36" alt="Logo"> </a>
            <div class="top_menu">
                <ul class="menu">
                    <li><a id="id_nav_how_works" href="#">How it works</a></li>
                    <li><a id="id_nav_finding_tutor" href="{% url "tutor_search" %}">View Tutors</a></li>
                    <li><a href="{% url "faq" %}">Help</a></li>
                </ul>
            </div>
            <div class="right_menu">
                <a class="sign_in" href="#" onClick="show_signin();">Sign in</a>
                <a class="rgster" href="#" onClick="show_signup();">Register</a>
            </div>
        </div>
    </header>
    <div class="banner_text" id="id_section_finding_tutor">
        <h1 class="banner_heading">Finding your online tutor in JUST A CLICK AWAY!</h1>
        <p class="banner_inner_text">We connect the best tutors right at your screen</p>
        <form class="view_tutor" action="{% url "tutor_search" %}" method="GET">
            <input name="keyword" id="id_home_search_tutor" type="text" placeholder="What subject can we help you with? Try 'Algebra'">
            <input type="submit" id="id_find_tutor_submit_btn" value="View Tutors!">
        </form>
    </div>
    <a href="#p1" class="scroll_down"> <img src="{% static "images/scroll-down.png" %}" width="77" height="77" alt="Scroll Down"> </a>
    {% include "sections/public_chat.html" %}
</div>

<div class="latest_video">
    <a id="p1"></a>
    <div class="wrapper">
        <h1 class="champ_heading">Check out our latest Video</h1>
        <div class="video_section_home">
            <!--<img src="{% static "images/video-home.jpg" %}" width="623" height="351" alt="Video"> -->
            <iframe id="id_embedded_myvideo_url" width="623" height="351" src="{{ settings_obj.home_page_video }}" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
    </div>
</div>
<div class="finding_tutors" id="id_section_nav_how_works">
    <div class="wrapper">
        <h1 class="champ_heading">Finding tutors has never been so easy! </h1>
        <p class="finding_tutors_here">Here's how it works</p>
        <ul class="its_work">
            <li>
                <div class="finding_tutors_icon"> <img src="{% static "images/work-img1.png" %}" width="193" height="169" alt="img"> </div>
                <h1 class="finding_tutors_heading">Search for a topic or subject</h1>
                <p class="finding_tutors_text">You can simply type in the subject you are facing difficulty with, and search for tutors</p>
            </li>
            <li>
                <div class="finding_tutors_icon"> <img src="{% static "images/work-img2.png" %}" width="227" height="169" alt="img"> </div>
                <h1 class="finding_tutors_heading"> Browse through the list of tutors </h1>
                <p class="finding_tutors_text">After your search, a list of tutors will appear, you can choose to chat with them first before entering into a tutoring session</p>
            </li>
            <li>
                <div class="finding_tutors_icon"> <img src="{% static "images/work-img3.png" %}" width="220" height="169" alt="img"> </div>
                <h1 class="finding_tutors_heading">Start your lesson</h1>
                <p class="finding_tutors_text">Once you are sure who to start your lesson with, simply enter into our tutoring space, where it allows you to chat, use video, upload documents and write on a shared whiteboard</p>
                <a href="{% url "lesson_demo" %}" class="demo">Try the demo</a>
            </li>
        </ul>
    </div>
</div>
<div class="lesson_space">
    <div class="wrapper">
        <h1 class="champ_heading">Try the lesson space demo</h1>
        <p class="launch_lesson_txt"><a class="demo" href="{% url "lesson_demo" %}">Launch the lesson space demo</a></p>
        <div class="launch_lesson_space"> <img src="{% static "images/launch-lesson-space.jpg" %}" width="786" height="443" alt="img"> </div>
    </div>
</div>
<div class="most_searched_subjects">
    <div class="wrapper">
        <h1 class="champ_heading">Most searched subjects</h1>
        <p class="finding_tutors_here">Here's how it works</p>
        <div class="launch_lesson_space"> <img src="{% static "images/most-searched-subjects.jpg" %}" width="787" height="443" alt="img"> </div>
    </div>
</div>
<div class="lesson_space">
    <div class="wrapper">
        <h1 class="champ_heading">What our students say about their tutors</h1>
        <div class="outer_testimonial">
            <ul class="testimonial">
                <li>
                    <span class="tstmnl_cmnt_bx"><p>"Very clear explanation from Tutor James, I am able to understand questions quickly"</p></span>
                    <div class="tstmnl_nme">
                        <div class="tstmnl_img"><img width="37" height="37" alt="img" src="{% static "images/tstmnl_img1.png" %}"></div>
                        <span class="tstmnl_name">JIA HUI</span><br>
                        <span class="crse_nme">CHIJ St. Nicholas Girls' School</span>
                    </div>
                </li>
                <li>
                    <span class="tstmnl_cmnt_bx"><p>"I liked the way Affida has explained the methods in managing the question, and not just telling me what to do. Thumbs up!"</p></span>
                    <div class="tstmnl_nme">
                        <div class="tstmnl_img"><img width="37" height="37" alt="img" src="{% static "images/tstmnl_img2.png" %}"></div>
                        <span class="tstmnl_name">MARIATUL</span><br>
                        <span class="crse_nme">Temasek Polytechnic</span>
                    </div>
                </li>
                <li>
                    <span class="tstmnl_cmnt_bx"><p>"I will not hesitate to recommend John to anyone, he is so good in teaching Chemistry"</p></span>
                    <div class="tstmnl_nme">
                        <div class="tstmnl_img"><img width="37" height="37" alt="img" src="{% static "images/tstmnl_img3.png" %}"></div>
                        <span class="tstmnl_name">PAUL</span><br>
                        <span class="crse_nme">National Junior College</span>
                    </div>
                </li>
                <li>
                    <span class="tstmnl_cmnt_bx"><p>"Because of Katie, I felt more confident in my writing skills now"</p></span>
                    <div class="tstmnl_nme">
                        <div class="tstmnl_img"><img width="37" height="37" alt="img" src="{% static "images/tstmnl_img1.png" %}"></div>
                        <span class="tstmnl_name">JASMINE</span><br>
                        <span class="crse_nme">Yishun Town Secondary School</span>
                    </div>
                </li>
                <li>
                    <span class="tstmnl_cmnt_bx"><p>"Just when I needed a tutor so urgently, I have found Sara to guide me in H3 Math, it wouldn't be possible without ChampionTutor"</p></span>
                    <div class="tstmnl_nme">
                        <div class="tstmnl_img"><img width="37" height="37" alt="img" src="{% static "images/tstmnl_img2.png" %}"></div>
                        <span class="tstmnl_name">ZACHARY</span><br>
                        <span class="crse_nme">Raffles Junior College</span>
                    </div>
                </li>
                <li>
                    <span class="tstmnl_cmnt_bx"><p>"As a working adult, my time is very constraint, but I like the fact that I can connect with my tutor anytime of the day through the online portal"</p></span>
                    <div class="tstmnl_nme">
                        <div class="tstmnl_img"><img width="37" height="37" alt="img" src="{% static "images/tstmnl_img3.png" %}"></div>
                        <span class="tstmnl_name">PAUL</span><br>
                        <span class="crse_nme">National Junior College</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer>
    <div class="wrapper">
        <a href="#" class="ftr_logo"> <img src="{% static "images/logo.png" %}" width="212" height="36" alt="img"> </a>
        <ul class="ftr_lnk">
            <span class="lnk_hdng">FOR STUDENTS</span>
            <li><a href="#">Become a student</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <ul class="ftr_lnk">
            <span class="lnk_hdng">FOR TUTORS</span>
            <li><a href="#">Become a tutor</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <ul class="ftr_lnk">
            <span class="lnk_hdng">Help</span>
            <li><a href="#">Report a Problem</a></li>
        </ul>
        <ul class="ftr_lnk">
            <span class="lnk_hdng">CONTACT US </span>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <ul class="social_icon">
            <span class="lnk_hdng">Social</span>
            <li><a href="#"><img src="{% static "images/fb.png" %}" width="9" height="17" alt="icon"></a></li>
            <li><a href="#"><img src="{% static "images/twtr.png" %}" width="20" height="16" alt="icon"></a></li>
            <li><a href="#"><img src="{% static "images/gogle.png" %}" width="17" height="17" alt="icon"></a></li>
            <li><a href="#"><img src="{% static "images/pinterest.png" %}" width="16" height="19" alt="icon"></a></li>
        </ul>
    </div>
</footer>
<div class="lwr_ftr">
    <div class="wrapper">
        <ul class="prvt_plcy">
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="ftr_txt"> Copyright © ChampionTutor Online</p>

    </div>
</div>
</div>
<style>
    .signup-form-input,.signup-form-select{
        height: 60px;
        padding:  13px;
    }
    .signup-user-type-select{
        cursor: pointer;
    }
    .error {
        color: red;
        display: none;
    }
</style>
<div id="black_overlay"></div>
<div id="sign_up">
        <div class="sign_up_bx" class="container" style="padding: 20px;min-height: 750px;">
            <form name="registrationform" action="{% url "ajax_signup" %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="sign_up_heading">Sign Up</h1>
                        <div id="status_message2" style="display: none;color: red;"></div>
                        <p class="sign_up_txt"> Already have an account? <a id="id_open_signin" href="#">Sign in</a> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="sign_up_tab">
                            <li class="current">
                                <input type="radio" name="signup_role" value="teacher" id="tutor" checked> <label for="tutor">Tutor</label></li>
                            <li>
                                <input type="radio" name="signup_role" value="student" id="student"> <label for="student">Student</label></li>
                        </ul>
                    </div>
                </div>
                <div class="row signup-form-input">
                    <div class="col-md-12">{{ signup_form.signup_name }}
                    <span class="error">Please fill out this form correctly.</span>
                    </div>
                </div>
                <div class="row signup-form-input">
                    <br>
                    <div class="col-md-12">{{ signup_form.signup_email }}
                    <span class="error">Please fill out this form correctly.</span>
                    </div>
                </div>
                <div class="row signup-form-input">
                    <div class="col-md-12">{{ signup_form.signup_password }}
                    <span class="error">Please fill out this form correctly.</span>
                    </div>
                </div>
                <div class="row signup-form-input">
                    <div class="col-md-12">{{ signup_form.signup_password_repeat }}
                    <span class="error">Please fill out this form correctly.</span>
                    </div>
                </div>
                <div class="row signup-form-select">
                    <br>
                    <div class="col-md-12">{{ signup_form.signup_timezones }}
                    <span class="error">Please fill out this form correctly.</span>
                    </div>
                </div>
                <div class="row signup-form-input">
                    <br>
                    <div class="col-md-12 text-center">
                        <button id="id_signup_submit_button" class="btn btn-lg btn-primary">Sign Up</button>
                        <p style="padding: 13px;">By Clicking "sign up", you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
<div id="sign_in">
    <div class="sign_in_bx">
        <h1 class="sign_up_heading">Sign In</h1>
        <p class="sign_up_txt"> Don't have an account? <a id="id_open_signup" href="#">Sign up</a> </p>
        <a href="#" class="facebook">Sign in with Facebook</a>
        <div class="or"> <p>Or</p> <span></span> </div>
        <div id="login_status_message2_container" style="visibility:hidden;color: red; padding-bottom:7px;"><span class="glyphicon glyphicon-warning-sign"></span><span style="margin-left:7px; margin-bottom: 7px;" id="login_status_message2">Status Text</span></div>
        <form class="signin_form" action="{% url "ajax_login" %}"  name="loginform" method="post" onsubmit="return false;">
            {% csrf_token %}
            <div>
                {{ login_form.email }}
                <span class="error">Please fill out this form correctly.</span>
                <p>Forgot email?</p>
            </div>
            <div>
                {{ login_form.password }}
                <span class="error">Please fill out this form correctly.</span>
                <p><a href="{% url "reset_password" %}">Forgot Password?</a></p>
            </div>
            <input id="id_submit_button" type="submit" value="Sign In" class="sign_in_btn top25">
        </form>
    </div>
</div>

<script language="javascript">
    var black_overlay = $('#black_overlay');
    var sign_up = $('#sign_up');
    var sign_in = $('#sign_in');

    black_overlay.click(function(){black_overlay.hide(); sign_up.hide();});
    black_overlay.click(function(){black_overlay.hide(); sign_in.hide();});


    $( document ).on( 'keydown', function ( e ) {
        if ( e.keyCode === 27 ) { // ESC
            $( black_overlay ).hide();
            $( sign_up ).hide();
            $( sign_in ).hide();
        }
    });

    //window.onload(function(){marscrl.stop()})

    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if(e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }

    function show_signup()
    {document.getElementById('black_overlay').style.display="block";
        document.getElementById('sign_up').style.display="block";}

    function show_signin()
    {document.getElementById('black_overlay').style.display="block";
        document.getElementById('sign_in').style.display="block";}

    $("#id_open_signup").click(function(e) {
        $( black_overlay ).hide();
        $( sign_in ).hide();
        show_signup();
    });

    $("#id_open_signin").click(function(e) {
        $( black_overlay ).hide();
        $( sign_up ).hide();
        show_signin();
    });

</script>

</body>
</html>
<script src="{%  static "js/jquery.bxslider.min.js" %}" ></script>
<script>
    $('.testimonial').bxSlider({
        auto: true,
        autoHover: true,
        minSlides: 1,
        maxSlides: 3,
        slideWidth: 326,
        slideMargin: 10,
        pager: true,
        pause: 10000,
        controls :false,
        touchEnabled:true
    });
</script>



<script>
    $(".scot_tutor_expend").click(function(){
        $('.scot_tutor_detail').toggleClass('displayblock');
        $(this).toggleClass('mini');
    });

    $(".scot_tutor_close").click(function(){
        $('.scot_tutor_detail').removeClass('displayblock');
        $('.scot_tutor').addClass('displaynone');
        $('.scot_tutor_detail').removeClass('displayblock');
    });
</script>


<script>
    $(".outer_tutors_expend").click(function(){
        $('.tutors_chat_detail').toggleClass('displayblock');
        $(this).toggleClass('mini');
    });
</script>


<script>
    function fls(){
        var wh= $(window).height();
        $(".banner").css('height',wh+'px');
    }
    $(window).resize(function() {
        fls();
    });
    fls();
</script>

<script>
    var winWidth = $(window).width();
    if(winWidth < 700) {
        $( '.banner' ).addClass( 'heightauto' );
    }
</script>


<script type="text/javascript" src="{% static "js/jquery.smooth-scroll.js" %}"></script>
<script>
    $(document).ready(function() {
        var $stupid = $('<div></div>')
                .height(1)
                .hide()
                .appendTo('body');

        var mobileHack = function() {
            $stupid.show();
            setTimeout(function() {
                $stupid.hide();
            }, 10);
        };

        $('.scroll_down').smoothScroll({
            afterScroll: mobileHack
        });

    });
</script>


<script>
    $(window).scroll(function() {
        var scroll = $(window).scrollTop();

        if (scroll >= 10) {
            $("header").addClass("menu_scrol1");
        } else {
            $("header").removeClass("menu_scrol1");
        }
    });
</script>
<script>
    $('ul.sign_up_tab > li > label').click(function() {
        $('ul.sign_up_tab > li').eq($(this).parent('li').index()).addClass('current').siblings().removeClass('current');
        tabsss($(this).parent('li').index());
    });
    function tabsss(val)
    {
        $(".tab").hide();
        if(val>0)
        {
            document.getElementsByClassName('tab')[val].style.display="block";
        }
        else
        {
            document.getElementsByClassName('tab')[0].style.display="block";
        }
    }
</script>

<script>
$(document).ready(function(e)
{

    var email_valid = false;

    $("#id_signup_name").focusin(function()
    {
        $(this).parent().find(".error").hide();
    })
    .focusout(function()
    {
        var name = $(this).val();
        if($.trim(name) == "")
        {
            $(this).parent().find(".error").html("Name is required.");
            $(this).parent().find(".error").show();
        }
        else
        {
            $(this).parent().find(".error").hide();
        }
    });

    $("#id_signup_email").focusin(function()
    {
        $(this).parent().find(".error").hide();
    })
    .focusout(function()
    {
        var email = $(this).val();
        if($.trim(email) == "")
        {
            $(this).parent().find(".error").html("A valid email address is required.");
            $(this).parent().find(".error").show();
        }
        else
        {
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            var $this = $(this);
            if( !emailReg.test(email) )
            {
                $(this).parent().find(".error").html("A valid email address is required.");
                $(this).parent().find(".error").show();
            } else {

                $.ajax({
                    type: "GET",
                    url: "/ajax/check_user/",
                    data: { "email": email },
                    enctype: 'multipart/form-data',
                    success: function(data)
                    {
                        var data = jQuery.parseJSON(data);
                        if(data.status == "SUCCESS") {
                            if(data.data == false) {
                                email_valid = true;
                                $this.parent().find(".error").hide();
                            }
                            else {
                                $this.parent().find(".error").html("User already exists with this email.");
                                $this.parent().find(".error").show();
                            }
                        }
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {

                });
            }

        }
    });

    $("#id_signup_password").focusin(function()
    {
        $(this).parent().find(".error").hide();
    })
    .focusout(function()
    {
        var password = $(this).val();
        if($.trim(password) == "")
        {
            $(this).parent().find(".error").html("Password is required. Use a strong password at least 6 characters long.");
            $(this).parent().find(".error").show();
        }
        else
        {
            $(this).parent().find(".error").hide();
        }
    });

    $("#id_signup_password_repeat").focusin(function()
    {
        $(this).parent().find(".error").hide();
    })
    .focusout(function()
    {
        var pass_repeat = $(this).val();
        if($.trim(pass_repeat) == "")
        {
            $(this).parent().find(".error").html("Password is required. Use a strong password at least 6 characters long.");
            $(this).parent().find(".error").show();
        }
        else
        {
            var pass1 = $("#id_signup_password").val();
            if(pass1 == pass_repeat)
            {
                $(this).parent().find(".error").hide();
            }
            else
            {
                $(this).parent().find(".error").html("Repeat your password very carefully.");
                $(this).parent().find(".error").show();
            }
        }
    });

    $("#id_signup_timezones").select2({ width: 432 }).on("change", function(e) {
        var selected_tz = $(this).val();
         if(selected_tz == "---") {
            $(this).parent().find(".error").html("Please select your timezone");
            $(this).parent().find(".error").show();
         }
         else {
            $(this).parent().find(".error").hide();
         }
    });

    var validate_fields = function()
    {
        var error = false;
        var name = $("#id_signup_name").val();
        var email = $("#id_signup_email").val();
        var password = $("#id_signup_password").val();
        var pass_repeat = $("#id_signup_password_repeat").val();
        var timeone = $("#id_signup_timezones").val();

        if($.trim(name) == "")
        {
            $("#id_signup_name").parent().find(".error").html("Name is required.");
            $("#id_signup_name").parent().find(".error").show();
            error = true;
        }
        else
        {
            $("#id_signup_name").parent().find(".error").hide();
        }

        if($.trim(email) == "")
        {
            $("#id_signup_email").parent().find(".error").html("A valid email address is required.");
            $("#id_signup_email").parent().find(".error").show();
            error = true;
        }
        else
        {
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            if( !emailReg.test(email) )
            {
                $("#id_signup_email").parent().find(".error").html("A valid email address is required.");
                $("#id_signup_email").parent().find(".error").show();
                error = true;
            } else {
                if(!email_valid) {
                    $("#id_signup_email").parent().find(".error").html("A valid email address is required.");
                    $("#id_signup_email").parent().find(".error").show();
                }
                else {
                    $("#id_signup_email").parent().find(".error").hide();
                }
            }

        }

        if($.trim(password) == "")
        {
            $("#id_signup_password").parent().find(".error").html("Password is required. Please use a strong password with at least 6 characters.");
            $("#id_signup_password").parent().find(".error").show();
            error = true;
        }
        else
        {
            $("#id_signup_password").parent().find(".error").hide();
        }

        if($.trim(pass_repeat) == "")
        {
            $("#id_signup_password_repeat").parent().find(".error").html("Password is required. Please use a strong password with at least 6 characters.");
            $("#id_signup_password_repeat").parent().find(".error").show();
            error = true;
        }
        else
        {
            var pass1 = $("#id_signup_password").val();
            if(pass1 == pass_repeat)
            {
                $("#id_signup_password_repeat").parent().find(".error").hide();
            }
            else
            {
                $("#id_signup_password_repeat").parent().find(".error").html("Password mismatch.");
                $("#id_signup_password_repeat").parent().find(".error").show();
                error = true;
            }
        }
        if(timeone == "---"){
            $("#id_signup_timezones").parent().find(".error").html("Please select your timezone.");
            $("#id_signup_timezones").parent().find(".error").show();
            error = true;
        }
        else{
            $("#id_signup_timezones").parent().find(".error").hide();
        }
        return !error && email_valid;
    };

    $("#id_signup_submit_button").click(function(e)
    {
        if(validate_fields())
        {
            //$("form[name=registrationform]").submit();
            $("#id_signup_submit_button").text("Processing...");
            $(this).prop("disabled",true);
            $("form[name=registrationform]").css("cursor","wait");
            $.ajax({
                type: "POST",
                url: "/ajax/signup",
                data: $("form[name=registrationform]").serialize(),
                success: function(data)
                {
                    console.log(data);
                    var parsed_json = jQuery.parseJSON(data);
                    console.log(parsed_json.status);
                    if(parsed_json.status == "successful")
                    {
                        window.location.href = "/login?signup=success"
                    }
                    else
                    {
                        if(parsed_json.message == "EMAIL_REGISTERED")
                        {
                            $("#id_signup_email").css("border","1px solid red");
                            $("#id_signup_email").attr("data-original-title","Email address is already registered.");
                        }
                        else
                        {
                            $("#status_message3").text(parsed_json.message).show();
                        }
                    }
                },
                error: function(jqXHR, status, errorThrown)
                {
                    $("#status_message3").text("An error occured while processing your request. Please try again later.").show();
                },
                complete: function(jqXHR, status)
                {
                    $("#id_signup_submit_button").prop("disabled",false);
                    $("form[name=registrationform]").css("cursor","auto");
                    $("#id_signup_submit_button").text("Sign Up");
                }
            });
        }
        return false;
    });

});
</script>

<script>
    $(document).ready(function(e)
    {

        //$(".form-control").tooltip();
        $("#id_email").focusin(function()
        {
            $(this).parent().find(".error").hide();
        })
        .focusout(function()
        {
            var email = $(this).val();
            if($.trim(email) == "")
            {
                $(this).parent().find(".error").html("A valid email address is required.");
                $(this).parent().find(".error").show();
            }
            else
            {
                var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                if( !emailReg.test(email) )
                {
                    $(this).parent().find(".error").html("A valid email address is required.");
                    $(this).parent().find(".error").show();
                    return false;
                } else {
                    $(this).parent().find(".error").hide();
                    return true;
                }

            }
        });

        $("#id_password").focusin(function()
        {
            $(this).parent().find(".error").hide();
        })
        .focusout(function()
        {
            var password = $(this).val();
            if($.trim(password) == "")
            {
                $(this).parent().find(".error").html("Enter your password");
                $(this).parent().find(".error").show();
            }
            else
            {
                $(this).parent().find(".error").hide();
            }
        });

        var validate_login_form = function()
        {
            var error = false;
            var email = $("#id_email").val();
            var password = $("#id_password").val();

            if($.trim(email) == "")
            {
                $(this).parent().find(".error").html("Enter your email address");
                $(this).parent().find(".error").show();
                error = true;
            }
            else
            {
                var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                if( !emailReg.test(email) )
                {
                    $(this).parent().find(".error").html("A valid email address is required.");
                    $(this).parent().find(".error").show();
                    error = true;
                } else {
                    $(this).parent().find(".error").html("A valid email address is required.");
                    $(this).parent().find(".error").hide();
                }

            }

            if($.trim(password) == "")
            {
                $(this).parent().find(".error").html("Enter your password");
                $(this).parent().find(".error").show();
                error = true;
            }
            else
            {
                $(this).parent().find(".error").hide();
            }
            return !error;
        };

        $("#id_submit_button").click(function(e)
        {
            $(this).prop("disabled",true);
            e.preventDefault();
            if(validate_login_form())
            {
                $.ajax({
                    type: "POST",
                    url: "/ajax/login",
                    data: $("form[name=loginform]").serialize(),
                    success: function(data)
                    {
                        //console.log(data);
                        var parsed_json = jQuery.parseJSON(data);
                        //console.log(parsed_json.status);
                        if(parsed_json.status == "successful")
                        {
                            location.reload();
                        }
                        else
                        {
                            //console.log(parsed_json.message);
                            $("#login_status_message2").text(parsed_json.message);
                            $("#login_status_message2_container").css("visibility","visible");
                            $("#id_submit_button").prop("disabled",false);
                        }
                    },
                    error: function(jqXHR, status, errorThrown)
                    {
                        $("#login_status_message2").text("An error occured while processing your request. Please try again later.");
                        $("#slogin_tatus_message2_container").css("visibility","visible");
                        $("#id_submit_button").prop("disabled",false);
                    },
                    complete: function(jqXHR, status)
                    {
                        $(this).prop("disabled",false);
                        $(this).css("cursor","default");
                    }
                });

                $("#status_ok").click(function(e)
                {
                    parent.location.reload();
                    return false;
                });
            }
            return false;
        });

        $("#id_password_reset_link").click(function(e){
            e.preventDefault();
            var url = "{% url "reset_password" %}";
            parent.location.href = url;
        });

    });
</script>

<style>
    a.list-group-item {
        color: #fff !important;
    }
    a.list-group-item:hover {
        color: #fff !important;
    }
</style>
<div style="position: fixed; top: 45%; left: 0px; bottom: 50%;">
    <ul class="list-group">
      <li class="list-group-item btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></li>
      <li class="list-group-item btn btn-social-icon btn-google"><span class="fa fa-google-plus"></span></li>
      <li class="list-group-item btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></li>
    </ul>
</div>