{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}

{% block script_head_extra %}


<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">

<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<script src="{% static "js/job_invite.js" %}"></script>


<style>
    .job_posted_by_user {
        text-decoration: none;
        font-weight: bold;
    }
    .dfrnt_tag {
        padding-left: 8px !important;
    }
    .job-status-list li {
        color: green !important;
    }
    h2 {
        font-size: 23px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function(){
        $("#datetimepicker1").datetimepicker({ format: "DD/MM/YYYY" });
        $("#datetimepicker2").datetimepicker({ format: "DD/MM/YYYY" });

    });
</script>

{% endblock script_head_extra %}
{% block bodycontent %}
    <div class="contnt">
    <div class="container" style="min-height: 600px;">
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10">
                <h2>My Jobs</h2>
                <form name="job_feed_search_form" action="{% url "job_feed" %}" method="GET">
                 <div class="container" style="width: 800px;">

                    <div class="row">
                        <div class='col-sm-3'>
                            <div class="form-group" style="display: inline;">
                                <div class='input-group date' id='datetimepicker1' style="width: 200px;">
                                    <input name="start_date" {% if start_date %}value="{{ start_date }}" {% endif %} type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 text-center" style="padding-top: 7px;">
                            To
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" style="display: inline;">
                                <div class='input-group date' id='datetimepicker2' style="width: 200px;">
                                    <input name="end_date" {% if end_date %}value="{{ end_date }}" {% endif %} type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 text-center">
                            <select name="view" class="form-control" style="width: 175px; display: inline; cursor: pointer;">
                                <option value="all" {% if view == "all" %}selected{% endif %}>View All</option>
                                <option value="active" {% if view == "active" %}selected{% endif %}>Active Jobs</option>
                                <option value="archived" {% if view == "archived" %}selected{% endif %}>Archived Jobs</option>
                            </select>
                            <input type="hidden" name="search" value="1"/>
                            <button type="submit" class="btn pull-right text-center" style="width: 45px;">Go</button>
                        </div>
                    </div>
                </div>
                </form>
                <hr/>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
        {% for job in job_post_list %}
                <div class="row">
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-10">
                        <div class="container" style="width: 100%; border: 1px solid #e7e5e5; margin-bottom: 13px; padding-bottom: 13px;">
                            <div class="row">
                                <div class="col-xs-12" style="padding: 3px; margin-bottom: 7px; padding: 7px;">
                                    <div>
                                        <div style="font-size: 17px; font-weight: bold;">
                                            {{ job.title }}{% if job.lesson_type == 0 %}<span class="radius3" style='color: green; font-weight: bold; font-size: 17px;'>(Live Lesson)</span>{% else %}<span class="radius3" style='color: green; font-weight: bold; font-size: 17px;'>(Written Lesson)</span>{% endif %}
                                            <!--<select class="form-control pull-right" style="width: 140px; cursor: pointer;">-->
                                                <!--<option value="-&#45;&#45;">Select Action</option>-->
                                                <!--<option value="delete">Delete</option>-->
                                            <!--</select>-->
                                            {% if job.posted_by_id == request.user.pk %}
                                            <div class="dropdown pull-right">
                                                <span class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></span>
                                                <ul class="dropdown-menu">
                                                  <li><a href="{% url "job_post_edit" pk=job.pk %}"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
                                                  <li class="feed_job_delete" data-url="{% url "job_post_delete" pk=job.pk %}"><a href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                                                  {% if job.is_job_opened %}
                                                  <li data-job-id="{{ job.pk }}" class="invite_tutors"><a href="#"><span class="glyphicon glyphicon-plus"></span> Invite Tutors</a></li>
                                                  {% endif %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                            <div style="font-size: 13px; font-weight: normal;">Job posted on: {{ job.date_created|fromunix|localtime|format_datetime }}</div>
                                            <div style="font-size: 13px; font-weight: normal;">Job end date: {{ job.end_date|fromunix|localtime|format_datetime }}</div>
                                        </div>
                                        <p style="color: black; margin-top: 7px;">
                                            {{ job.description|truncatechars:500 }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div style="width: 100%; display: block;">
                                        <span class="dfrnt_tag radius3"><b style="color: #333333;">Repeat: &nbsp;</b>
                                        {{ job.render_lesson_repeat_verbal }}
                                        </span>
                                        {% if job.preference %}
                                            <span class="dfrnt_tag radius3"><b style="color: #333333;">Nationality: &nbsp;</b>
                                            {% for country in job.preference.nationalities.all %}
                                            {{ country.name }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                            {% endfor %}
                                            </span>
                                            {% if job.preference.rate %}
                                            <span class="dfrnt_tag radius3">{{ job.preference.currency }} {{ job.preference.rate.rate_value }}</span>
                                            {% endif %}
                                            {% if job.preference.gender %}
                                            <span class="dfrnt_tag radius3" style="color: #333333;">Gender: {{ job.preference.gender }}</span>
                                            {% endif %}
                                            {% if job.preference.timezones.all %}
                                            <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Timezone:</span>
                                            {% for tz in job.preference.timezones.all %}
                                            {{ tz.value.strip }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                            {% endfor %}
                                            </span>
                                            {% endif %}
                                            {% if job.preference.currency %}
                                            <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Currency: {{ job.preference.currency }}</span></span>
                                            {% endif %}
                                            {% if job.preference.languages.exists %}
                                            <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Language:</span>
                                            {% for lang in job.preference.languages.all %}
                                            {{ lang.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                            {% endfor %}
                                            </span>
                                            {% endif %}
                                            {% if job.preference.availability %}
                                            <span class="dfrnt_tag radius3" style='color: green;'>Availability: {% if job.preference.availability == 1 %}Available{% elif job.preference.availability == 2 %}Ready To Teach{% else %}Any%{% endif %}</span>
                                            {% endif %}
                                            {% if job.preference.subjects.exists %}
                                            <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Subjects:</span>
                                            {% for s in job.preference.subjects.all %}
                                            {{ s.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                            {% endfor %}
                                            </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% if job.lesson_time %}
                                    <div style="width: 100%; display: block; float: left;">
                                        <div>Start Date: {{ job.lesson_time|fromunix|localtime|format_datetime }}</div>
                                    </div>
                                    {% endif %}
                                    {% if job.lesson_duration %}
                                    <div style="width: 100%; display: block; float: left;">
                                        <div>Duration: {{ job.lesson_duration }} minutes</div>
                                    </div>
                                    {% endif %}
                                    <div style="width: 100%; display: block; float: left; margin-top: 20px;">
                                        <ul class="list-inline job-status-list" style="width: 70%; display: inline;">
                                          <li>All({{ job.get_all_status_count }})</li>|
                                          <li>Pending({{ job.get_pending_status_count }})</li>|
                                          <li>Negotiating({{ job.get_negotiating_status_count }})</li>|
                                          <li>Rejected({{ job.get_rejected_status_count }})</li>|
                                          <li>Applied({{ job.get_applied_status_count }})</li>|
                                          <li>Shortlisted({{ job.get_shortlist_count }})</li>
                                        </ul>


                                        {% if request.user.pk == job.posted_by.pk %}
                                        <a href="{% url "job_post_details" pk=job.pk %}" class="pull-right">View details</a>
                                        {% endif %}
                                    </div>
                                    </div>
                            </div>
                            <div>
                                <div class="col-sm-12">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1">

                    </div>
                </div>
                {% empty %}
                <div class="row">
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-10">
                        No Job found.
                    </div>
                    <div class="col-xs-1">

                    </div>
                </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-sm-10">
                {% include "sections/pagination.html" %}
            </div>
            <div class="col-xs-1">

            </div>
        </div>
    </div>
</div>
<div id="id_ajax_rendered_invite_content" style="display: none;"></div>
<div id="black_overlay"></div>
<div id="id_overlay_loading" style="display: none; background: black; opacity: 0.5; position: fixed; width: 100%; height: 100%; left: 0px; right: 0px; top: 0px; bottom: 0px; z-index: 10001;">
    <div style="width: 200px; height: 200px; position: absolute; left: 40%; top: 30%; font-size: 17px; font-weight: bold; color:#fff;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Please wait...</div>
</div>
{% endblock bodycontent %}