{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load jobtags %}
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

<style>
    .job_posted_by_user {
        text-decoration: none;
        font-weight: bold;
    }
    .dfrnt_tag {
        padding-left: 8px !important;
    }
    .invite_button {
        color: #ffffff !important;
    }
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        background: white;
        z-index: 1000000;
    }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
    * html .ui-autocomplete {
        max-height: 200px;
    }

    .job-status-list li a {
        color: green !important;
    }

</style>

<script>
$(document).ready(function(){
    $("#id_invite_tutors").click(function(e){
        e.preventDefault();
    });

    $("#id_cancel_invite_users").click(function(e){
        e.preventDefault();
    });
});
</script>
<div class="contnt1">
    <div class="container">
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10">
                <div class="container" style="width: 100%; border: 1px solid #e7e5e5; margin-bottom: 13px; padding-bottom: 13px;">
                    <div class="row">
                        <div class="col-xs-12" style="padding: 3px; margin-bottom: 7px; padding: 7px;">
                            <div>
                                <div style="font-size: 17px; font-weight: bold;">
                                    {{ data.title }}{% if data.job_post_lesson_type == "online" %}<span class="radius3" style='color: green; font-weight: bold; font-size: 17px;'>(Live Lesson)</span>{% else %}<span class="radius3" style='color: green; font-weight: bold; font-size: 17px;'>(Written Lesson)</span>{% endif %}
                                    <div class="dropdown pull-right">
                                        <span class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></span>
                                        <ul class="dropdown-menu">
                                          <li><a><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
                                          <li><a href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                                          <li><a href="#"><span class="glyphicon glyphicon-plus"></span> Invite Tutors</a></li>
                                        </ul>
                                    </div>
                                    <div style="font-size: 13px; font-weight: normal;">Job posted on: {{ date_created|fromunix|localtime|format_datetime }}</div>
                                    <div style="font-size: 13px; font-weight: normal;">Job end date: {{ end_date|fromunix|localtime|format_datetime }}</div>
                                </div>
                                <p style="color: black; margin-top: 7px;">
                                    {{ data.description|truncatechars:500 }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="width: 100%; display: block;">
                                <span class="dfrnt_tag radius3"><b style="color: #333333;">Repeat: &nbsp;</b>
                                {{ lesson_repeat }}
                                </span>
                                {% if nationalities %}
                                <span class="dfrnt_tag radius3"><b style="color: #333333;">Nationality: &nbsp;</b>
                                {% for country in nationalities.all %}
                                {{ country.name }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                {% endfor %}
                                </span>
                                {% endif %}
                                {% if data.rate %}
                                <span class="dfrnt_tag radius3"><b style="color: #333333;">Rate: &nbsp;</b> {{ data.rate|floatformat:2 }}</span>
                                {% endif %}
                                {% if data.currency %}
                                <span class="dfrnt_tag radius3"><b style="color: #333333;">Currency: &nbsp;</b> {{ data.currency }}</span>
                                {% endif %}
                                {% if data.gender %}
                                <span class="dfrnt_tag radius3"><b style="color: #333333;">Gender: &nbsp;</b> {{ data.gender }}</span>
                                {% endif %}
                                {% if timezones %}
                                <span class="dfrnt_tag radius3"><b style="color: #333333;">Timezone: &nbsp;</b>
                                {% for tz in timezones %}
                                {{ tz.value.strip }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                                </span>
                                {% endif %}
                                {% if languages %}
                                <span class="dfrnt_tag radius3"><b style='color: #333333;'>Language:</b>
                                {% for lang in languages %}
                                {{ lang.value }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                                </span>
                                {% endif %}
                                {% if availability %}
                                <span class="dfrnt_tag radius3" style='color: green;'>{{ availability }}</span>
                                {% endif %}
                                {% if subjects %}
                                <span class="dfrnt_tag radius3"><b style='color: #333333;'>Subjects:</b>
                                {% for s in subjects %}
                                {{ s.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                {% endfor %}
                                </span>
                                {% endif %}
                            </div>
                            <div style="width: 100%; display: block; float: left; margin-bottom: 13px;">
                            {% if attachments %}
                            <h4>Attachment(s):</h4>
                                <div>
                                    {% for attachment in attachments %}
                                        <a style="display: block; width: auto; font-size: 17px;" href="#"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;Attachment {{ forloop.counter }}</a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <img src="#" style="display: none;" id="__files"/>
                        </div>
                            {% if lesson_timestamp %}
                            <div style="width: 100%; display: block; float: left;">
                                <div>Start Date: {{ lesson_timestamp|fromunix|localtime|format_datetime }}</div>
                            </div>
                            {% endif %}
                            {% if duration %}
                            <div style="width: 100%; display: block; float: left;">
                                <div>Duration: {{ duration }} minutes</div>
                            </div>
                            {% endif %}
                            {% if other_students %}
                            <div style="width: 100%; display: block; float: left; margin-top: 13px;">
                                <div style="font-weight: bold; font-size: 23px;">Students</div>
                                <hr/>
                                <div>
                                    {% for student in other_students %}
                                        <div style="width: 100px; float: left;">
                                            <div><img src="{{ student.champuser.render_profile_picture }}" width="70" height="70"/></div>
                                            <a style="width: 100%;" href="{{ student.champuser.profile_url }}">{{ student.champuser.fullname }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            <div style="width: 100%; display: block; float: left; margin-top: 20px;">
                                <ul class="list-inline job-status-list" style="width: 70%; display: inline;">
                                  <li><a href="#">All(0)</a></li>|
                                  <li><a href="#">Pending(0)</a></li>|
                                  <li><a href="#">Negotiating(0)</a></li>|
                                  <li><a href="#">Rejected(0)</a></li>|
                                  <li><a href="#">Applied(0)</a></li>|
                                  <li><a href="#">Shortlisted(0)</a></li>
                                </ul>
                            </div>
                            </div>
                    </div>
                    <div>
                        <div class="col-sm-12">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
    </div>
</div>