{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}

{% block script_head_extra %}

{% endblock script_head_extra %}

{% block bodycontent %}
<div class="contnt">
    <div class="wrapper">
        <div class="billing_cntnt radius3" style="min-height: 700px;">
            <div class="msg_heading">
                <div class="msg_heading_icon"><img style="color: black;" width="29" height="29" alt="img" src="{% static "images/menu_icon4.png" %}"></div>
                <h2>Recommended Jobs</h2>
            </div>
            <div id="id_lesson_status_msg_container" class="msg_heading" style="padding: 13px; padding-left: 30px; display: none;">
                <p style="color: red;"></p>
            </div>
        </div>
    </div>
</div>
{% endblock bodycontent %}