{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}

{% block script_head_extra %}

<script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
<script src="{% static "js/select2.min.js" %}"></script>
<link href="{% static "css/datepicker3.css" %}" rel="stylesheet">
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
<link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "css/jobs/job_create.css" %}"/>
<!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.popup.dialog.js" %}"></script>
<script type="text/javascript" src="{% static "js/jobs/job_create.js" %}"></script>

{% endblock script_head_extra %}
{% block bodycontent %}
    <div class="contnt">
    <div class="wrapper">
        <div class="main_cntnt radius3">
            <div class="col-xs-12 col-sm-12">
                <h3 class="champ_jobs_heading">Post a Job</h3>
                <form role="form" name="lesson-post-form" class='form-horizontal job_post_form' method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if job %}
                    <input type="hidden" name="job_id" value="{{ job.pk }}"/>
                    {% else %}
                    <input type="hidden" name="job_id" value="-1"/>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Select Lesson Type</label>
                            <div class="champ_select_lesson">
                            <select class="form-control job_post_lesson_type" name="job_post_lesson_type">
                                <option value="online">Live Lesson</option>
                                <option value="written">Written Lesson</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Enter Lesson Title</label>
                            {{ job_post_form.title }}
                            <div class="error_status">
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="champ_jobsedit_label">Enter the job description here. Write a specific detail of your lesson.</label>
                            {{ job_post_form.description }}
                            <div class="error_status">
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding: 15px;">
                    <span class="background_shade" style="width: 100%; padding-bottom: 20px;">
                        <div class="row">
                            <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Job will expire on</label>
                            {{ job_post_form.job_end_date }}
                            <div class="error_status">
                            </div>
                            </div>
                            <div class="col-xs-6">
                                <label class="champ_jobsedit_label">Lesson Start Date</label>
                                {{ job_post_form.lesson_start_date }}
                                <div class="error_status">
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Subjects to be tutored</label>
                            {{ job_post_form.subject }}
                            <div class="error_status">
                            </div>
                            <div class="tags language_tag">

                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Your Preferred Rate(per hour)</label>
                            {{ job_post_form.rate }}
                            <div class="error_status">
                            </div>
                        </div>
                    </div>
                    </span>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Lesson Repeat</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.lesson_repeat }}
                        </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Select Lesson Duration</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.duration }}
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-6">
						    <label class="champ_jobsedit_label">Tutor’s gender preference</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.gender }}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Preferred Conversational Language</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.languages }}
                            </div>
                            <div class="tags language_tag">

                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Preferred currency for the payment</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.currency }}
                            </div>
                            <!--<select name="job_post_currency" class="form-control currency-select2 job_post_currency" data-currency="EUR"><option value="USD" selected>United States dollar</option><option value="AED">United Arab Emirates dirham</option><option value="AFN">Afghan afghani</option><option value="ALL">Albanian lek</option><option value="AMD">Armenian dram</option><option value="AOA">Angolan kwanza</option><option value="ARS">Argentine peso</option><option value="AUD">Australian dollar</option><option value="AWG">Aruban florin</option><option value="AZN">Azerbaijani manat</option><option value="BAM">Bosnia and Herzegovina convertible mark</option><option value="BBD">Barbadian dollar</option><option value="BDT">Bangladeshi taka</option><option value="BGN">Bulgarian lev</option><option value="BHD">Bahraini dinar</option><option value="BIF">Burundian franc</option><option value="BMD">Bermudian dollar</option><option value="BND">Brunei dollar</option><option value="BOB">Bolivian boliviano</option><option value="BRL">Brazilian real</option><option value="BSD">Bahamian dollar</option><option value="BTN">Bhutanese ngultrum</option><option value="BWP">Botswana pula</option><option value="BYR">Belarusian ruble</option><option value="BZD">Belize dollar</option><option value="CAD">Canadian dollar</option><option value="CDF">Congolese franc</option><option value="CHF">Swiss franc</option><option value="CLP">Chilean peso</option><option value="CNY">Chinese yuan</option><option value="COP">Colombian peso</option><option value="CRC">Costa Rican colón</option><option value="CUP">Cuban convertible peso</option><option value="CVE">Cape Verdean escudo</option><option value="CZK">Czech koruna</option><option value="DJF">Djiboutian franc</option><option value="DKK">Danish krone</option><option value="DOP">Dominican peso</option><option value="DZD">Algerian dinar</option><option value="EGP">Egyptian pound</option><option value="ERN">Eritrean nakfa</option><option value="ETB">Ethiopian birr</option><option value="EUR">Euro</option><option value="FJD">Fijian dollar</option><option value="FKP">Falkland Islands pound</option><option value="GBP">British pound</option><option value="GEL">Georgian lari</option><option value="GHS">Ghana cedi</option><option value="GMD">Gambian dalasi</option><option value="GNF">Guinean franc</option><option value="GTQ">Guatemalan quetzal</option><option value="GYD">Guyanese dollar</option><option value="HKD">Hong Kong dollar</option><option value="HNL">Honduran lempira</option><option value="HRK">Croatian kuna</option><option value="HTG">Haitian gourde</option><option value="HUF">Hungarian forint</option><option value="IDR">Indonesian rupiah</option><option value="ILS">Israeli new shekel</option><option value="IMP">Manx pound</option><option value="INR">Indian rupee</option><option value="IQD">Iraqi dinar</option><option value="IRR">Iranian rial</option><option value="ISK">Icelandic króna</option><option value="JEP">Jersey pound</option><option value="JMD">Jamaican dollar</option><option value="JOD">Jordanian dinar</option><option value="JPY">Japanese yen</option><option value="KES">Kenyan shilling</option><option value="KGS">Kyrgyzstani som</option><option value="KHR">Cambodian riel</option><option value="KMF">Comorian franc</option><option value="KPW">North Korean won</option><option value="KRW">South Korean won</option><option value="KWD">Kuwaiti dinar</option><option value="KYD">Cayman Islands dollar</option><option value="KZT">Kazakhstani tenge</option><option value="LAK">Lao kip</option><option value="LBP">Lebanese pound</option><option value="LKR">Sri Lankan rupee</option><option value="LRD">Liberian dollar</option><option value="LSL">Lesotho loti</option><option value="LTL">Lithuanian litas</option><option value="LVL">Latvian lats</option><option value="LYD">Libyan dinar</option><option value="MAD">Moroccan dirham</option><option value="MDL">Moldovan leu</option><option value="MGA">Malagasy ariary</option><option value="MKD">Macedonian denar</option><option value="MMK">Burmese kyat</option><option value="MNT">Mongolian tögrög</option><option value="MOP">Macanese pataca</option><option value="MRO">Mauritanian ouguiya</option><option value="MUR">Mauritian rupee</option><option value="MVR">Maldivian rufiyaa</option><option value="MWK">Malawian kwacha</option><option value="MXN">Mexican peso</option><option value="MYR">Malaysian ringgit</option><option value="MZN">Mozambican metical</option><option value="NAD">Namibian dollar</option><option value="NGN">Nigerian naira</option><option value="NIO">Nicaraguan córdoba</option><option value="NOK">Norwegian krone</option><option value="NPR">Nepalese rupee</option><option value="NZD">New Zealand dollar</option><option value="OMR">Omani rial</option><option value="PAB">Panamanian balboa</option><option value="PEN">Peruvian nuevo sol</option><option value="PGK">Papua New Guinean kina</option><option value="PHP">Philippine peso</option><option value="PKR">Pakistani rupee</option><option value="PLN">Polish złoty</option><option value="PRB">Transnistrian ruble</option><option value="PYG">Paraguayan guaraní</option><option value="QAR">Qatari riyal</option><option value="RON">Romanian leu</option><option value="RSD">Serbian dinar</option><option value="RUB">Russian ruble</option><option value="RWF">Rwandan franc</option><option value="SAR">Saudi riyal</option><option value="SBD">Solomon Islands dollar</option><option value="SCR">Seychellois rupee</option><option value="SDG">Singapore dollar</option><option value="SEK">Swedish krona</option><option value="SGD">Singapore dollar</option><option value="SHP">Saint Helena pound</option><option value="SLL">Sierra Leonean leone</option><option value="SOS">Somali shilling</option><option value="SRD">Surinamese dollar</option><option value="SSP">South Sudanese pound</option><option value="STD">São Tomé and Príncipe dobra</option><option value="SVC">Salvadoran colón</option><option value="SYP">Syrian pound</option><option value="SZL">Swazi lilangeni</option><option value="THB">Thai baht</option><option value="TJS">Tajikistani somoni</option><option value="TMT">Turkmenistan manat</option><option value="TND">Tunisian dinar</option><option value="TOP">Tongan paʻanga</option><option value="TRY">Turkish lira</option><option value="TTD">Trinidad and Tobago dollar</option><option value="TWD">New Taiwan dollar</option><option value="TZS">Tanzanian shilling</option><option value="UAH">Ukrainian hryvnia</option><option value="UGX">Ugandan shilling</option><option value="UYU">Uruguayan peso</option><option value="UZS">Uzbekistani som</option><option value="VEF">Venezuelan bolívar</option><option value="VND">Vietnamese đồng</option><option value="VUV">Vanuatu vatu</option><option value="WST">Samoan tālā</option><option value="XAF">Central African CFA franc</option><option value="XCD">East Caribbean dollar</option><option value="XOF">West African CFA franc</option><option value="XPF">CFP franc</option><option value="YER">Yemeni rial</option><option value="ZAR">South African rand</option><option value="ZMW">Zambian kwacha</option><option value="ZWL">Zimbabwean dollar</option></select>-->
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Tutor’s time zone preference</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.timezone }}
                            </div>
                            <div class="tags language_tag">

                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Tutor’s availability status</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.availability }}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Tutor’s nationality preference</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.nationality }}
                            </div>
                            <div class="tags language_tag">

                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Add your study partners</label>
                            <select class="form-control" name="study_partners" id="add_study_partners">
                            </select>
                            <div class="tags language_tag study_parners">

                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Who will pay for this lesson?</label>
                            <div class="champ_select_lesson">
                            <select name="payer" class="form-control" id="id_lesson_payer">
                                <option value="{{ request.user.pk }}" selected>I will pay for this lesson</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class='col-xs-12'>
                            <div id="id_file_input_container_hint" style="display: none;">
                                <h4>Maximum 10 files can be uploaded.</h4>
                            </div>
                            <div id="id_file_input_container">
                                <button class="btn btn-primary" id="id_attach_file"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Attach File(s)</button>
                                <br>
                                <p class="pull-left">Maximum 10 files can be uploaded.</p>
                                <input type="file" name="written_file" class="form-control pull-left" id="id_attached_file" style="display: none;"/>
                            </div>
                            <div id="id_attached_files" class="pull-left" style="padding: 3px; margin-top: 1px;width: 100%;"></div>
                        </div>
                        <div style="display: none;"><input type="hidden" name="fcount" value=""/></div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="submit" class="btn btn-sm" style="width: 100px; float: left; color: white; height: 45px; font: 14px/44px 'HelveticaNeueLTStd-Medium'; background-color: #7cd3cf; border-radius: 3px; " name="job_post_button" value="Submit"/>
                            <input type="submit" id="id_preview_post" class="btn btn-sm" style="width: 130px; float: left; color: white; height: 45px; font: 14px/44px 'HelveticaNeueLTStd-Medium'; background-color: #d9534f; border-radius: 3px; " name="job_post_preview_button" value="Preview Post"/>
                        </div>
                    </div>
                </form>

        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Job Post Preview</h4>

            </div>
            <div class="modal-body"><div id="id_preview_content" class="te"></div></div>
            <div class="modal-footer center-block">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="id_preview_post">Post Job</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div style="display: none;" id="id_files"></div>
<div id="id_overlay_loading" style="display: none; background: black; opacity: 0.5; position: fixed; width: 100%; height: 100%; left: 0px; right: 0px; top: 0px; bottom: 0px; z-index: 10001;">
    <div style="width: 200px; height: 200px; position: absolute; left: 40%; top: 30%; font-size: 17px; font-weight: bold; color:#fff;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Please wait...</div>
</div>
{% endblock bodycontent %}