{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}

{% endblock script_head_extra %}
{% block bodycontent %}
    <div class="contnt">
        <div class="container" style="min-height: 450px;">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Job Applications</h3>
                    Showing {{ page_obj.start_index }} to {{ page_obj.end_index }}
                    <hr>
                </div>
            </div>
            <style>
                .report-header th {
                    font-weight: bold;
                    font-size: 13px;
                }
            </style>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <thead class="report-header">
                        <tr>
                            <th>
                                To
                            </th>
                            <th>
                                Report
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td style="vertical-align: top;">
                                    {{ object.receiver.champuser.fullname }}({{ object.receiver_email }})
                                </td>
                                <td style="vertical-align: top;">
                                    <p>{{ object.text|truncatechars:100 }}</p>
                                </td>
                                <td style="vertical-align: top;">
                                    {{ object.date_created|convert_utc_timestamp_to_local:request|datetime_from_timestamp }}
                                </td>
                                <td style="vertical-align: top;">
                                    <a href="/progress_report/details/{{ object.pk }}/">View Details</a>
                                </td>
                            </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">
                                No report found
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% include "sections/pagination.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock bodycontent %}