{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}

{% block script_head_extra %}

<script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
<script src="{% static "js/select2.min.js" %}"></script>
<link href="{% static "css/datepicker3.css" %}" rel="stylesheet">
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/jobs/job_create.css" %}"/>
<link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.popup.dialog.js" %}"></script>

<script>
    $(document).ready(function(){
        //$('.btn').button();
        $("#id_post_lesson_type_online_label").click(function(e){
            //e.preventDefault();
            $(this).removeClass("active");
            $("#id_post_lesson_type_written_label").addClass("active");
            $("#post_lesson_type_online").prop("checked",true);
            return false;
        });

        $("#id_post_lesson_type_written_label").click(function(e){
            e.preventDefault();
            $(this).removeClass("active");
            $("#id_post_lesson_type_online_label").addClass("active");
            $("#post_lesson_type_written").prop("checked",true);
            return false;
        });

        $(".select2").select2().on("change", function (e) {

                var value = $(this).val();
                var text = $(this).select2('data')[0].text
                var value_found = false;
                $(this).parent().find(".tags").find("input").each(function(e){
                    if($(this).val() == value){
                        value_found = true;
                        return;
                    }
                });

                if(!value_found){
                    //var input_element = "<input type='hidden' name='"+ $(this).prop("name")+"-list[]" +"' value='"+ value +"' >";
                    //var tag_element = "<span class=\"dfrnt_tag radius3\"><a class=\"tag_close\" href=\"#\"></a>"+ input_element + text +"</span>";

                    var tag_element = "<a href=\"javascript:void(0);\">"+ text +"<span class=\"cross tag_close\"><input type=\"hidden\" name=\""+ $(this).prop("name")+"-list[]\" value=\""+ value +"\" <span></span></a>";

                    $(this).parent().find(".tags").append(tag_element);
                }

        });


        $(document).on("click",".tag_close",function(e){
            e.preventDefault();
            $(this).parent().remove();
            if($(this).hasClass("tag_study_partners")) {
                var id = $(this).find("input").val();
                $("#id_lesson_payer").find("option[value="+ id +"]").remove();
            }
        });

        function validate(element,type,rules,focus) {
            var elem = $(type+"[name="+element+"]");
            if($.trim(elem.val()) == "") {
                elem.addClass("error");
                if(focus) {
                    elem.focus();
                }
                elem.parent().find(".error_status").text("This field is required.").show();
                return false;
            }
            else {
                elem.removeClass("error");
                elem.parent().find(".error_status").text("").hide();
            }
            return true;
        }

        function validate_tags(element,type,rules) {
            var elem = $(type+"[name="+element+"]");
            var value_found = false;
            elem.parent().find(".tags").find("input").each(function(e){
                value_found = true;
            });
            if(!value_found) {
                elem.addClass("error");
                elem.focus();
                elem.parent().find(".error_status").text("This field is required.").show();
                return false;
            }
            else {
                elem.removeClass("error");
                elem.parent().find(".error_status").text("").hide();
            }
            return true;
        }

        $(document).on("change", ".add_multiple", function (e) {

            var _thisid = $(this).prop("id");
            var value = $("#"+_thisid+" option:selected").val();
            var text = $("#"+_thisid+" option:selected").text();
            var value_found = false;
            var $this = $(this);
            $(this).parent().parent().find(".tags").find("input").each(function(e){
                if($this.hasClass("timezone") || $this.hasClass("languages")) {
                    if($(this).val() == text){
                        value_found = true;
                        return;
                    }
                }
                else {
                    if($(this).val() == value){
                        value_found = true;
                        return;
                    }
                }

            });
            //alert(value_found);
            if(value != "-1" && !value_found){
                //var input_element = "<input type='hidden' name='"+ $(this).prop("name")+"-list[]" +"' value='"+ value +"' >";
                //var tag_element = "<span class=\"dfrnt_tag radius3\"><a class=\"tag_close\" href=\"#\"></a>"+ input_element + text +"</span>";

                var _value = text;
                //console.log(value);
                if($(this).hasClass("nationality")) {
                    _value = $(this).val();
                }
                var tag_element = "<a href=\"javascript:void(0);\">"+ text +"<span class=\"cross tag_close\"><input type=\"hidden\" name=\""+ $(this).prop("name")+"-list[]\" value=\""+ _value +"\"></span></a>";

                $(this).parent().parent().find(".tags").append(tag_element);
            }

    });


        $("input[name=job_post_button]").click(function(e){
            e.preventDefault();
            var valid = validate("title","input","empty");
            valid &= validate("description","textarea","empty");
            valid &= validate("job_end_date","input","empty",false);
            valid &= validate("lesson_start_date","input","empty",false);
            valid &= validate_tags("subject","input","empty");
            valid &= validate("rate","input","empty");
            if(valid) {
                $("form[name=lesson-post-form]").prop("action","{% url "job_post_create" %}");
                $("form[name=lesson-post-form]").submit();
            }
            return false;
        });

        $("button[name=job_post_preview_button]").click(function(e){
            e.preventDefault();
            $("form[name=lesson-post-form]").prop("action","/job/post-preview/");
            $("form[name=lesson-post-form]").submit();
        });


        $( "#id_subject" ).autocomplete({
            minLength: 0,
            source: function(request, response) {
            $.ajax({
                url: "/ajax/major",
                data: {
                    term: request.term,
                    readonly: 'true'
                },
                success: function(data) {
                    response(data);
                }
            });
            },
            //source: '/ajax/major?readonly=true',
            data: { 'readonly': 'true' },
            focus: function( event, ui ) {
                if(ui.item.id == -1){
                    $( ".job_post_job_subject" ).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                }
                else{
                    $( ".job_post_job_subject" ).val( ui.item.value );
                }
                return false;
            },
            select: function( event, ui ) {
                var tag_val = ui.item.value;
                if(ui.item.id == -1){
                    tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                }

                var value = ui.item.id;
                var text = ui.item.value;
                var value_found = false;
                $(this).parent().find(".tags").find("input").each(function(e){
                    if($(this).val() == value){
                        value_found = true;
                        return;
                    }
                });

                if(!value_found){

                    var tag_element = "<a href=\"javascript:void(0);\">"+ text +"<span class=\"cross tag_close\"><input type=\"hidden\" name=\""+ $(this).prop("name")+"-list[]\" value=\""+ value +"\" <span></span></a>";

                    //var input_element = "<input type='hidden' name='"+ $(this).prop("name")+"-list[]" +"' value='"+ value +"' >";
                    //var tag_element = "<span class=\"dfrnt_tag radius3\"><a class=\"tag_close\" href=\"#\"></a>"+ input_element + text +"</span>";

                    $(this).parent().find(".tags").append(tag_element);
                }

                $( "#id_subject" ).val("");
                $( "#id_subject" ).focus();

                return false;
            }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li style='cursor:pointer;'>" )
                    .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                    .append( "<input type='hidden' class='major_id' value='"+ item.id +"'/>" )
                    .appendTo( ul );
            }

        $("#id_job_end_date").datetimepicker({
            //sideBySide: true
            format: 'DD/MM/YYYY',
            minDate: new Date()
        });

        $("#id_lesson_start_date").datetimepicker({
            //sideBySide: true
            format: 'DD/MM/YYYY HH:MM',
            minDate: new Date()
        });



        /*$("#id_lesson_start_time").datetimepicker({
            //sideBySide: true
            format: 'LT',
            minDate: new Date()
        });*/

        var file_ = $("#id_attached_file").clone();
    var file_index = {{ job.job_attachment.all.count|add:1 }};
    var max_files_count = 10;
    var files_count = 0;

    $("#id_attach_file").click(function(e){
        e.preventDefault();
        $("#id_attached_file").click();
    });

    $(document).on("change","#id_attached_file",function(e){
        var _this = $(this);
        var files = $(this).prop("files");
        var clone = $(this).clone();
        _this.removeProp("id");
        console.log($(clone).prop("files").length);
        console.log(files.length);
        for(var j = 0 ; j < files.length ; j++){
            _this.prop("name", _this.prop("name") + file_index);
            var html = "<div style='width: 100%; margin-top: 4px; padding: 10px;'><span style='width: 230px;' class='pull-left'>"+ files[j].name +"</span><i class='glyphicon glyphicon-remove pull-right cancel-file' data-index='"+ file_index +"' style='cursor: pointer;'></i></div>";
            _this.css("display","none");
            $("#id_attached_files").append(html);
            $("#id_attached_files").append(_this);
            files_count ++;
            if(files_count >= max_files_count){
                $("#id_file_input_container_hint").show();
                $("#id_file_input_container").hide();
            }
            else{
                $("#id_file_input_container_hint").hide();
                $("#id_file_input_container").show();
            }
        }
        $("#id_file_input_container").append(clone);
        file_index ++;
        {#            file_.insertAfter($("#id_attached_files"));#}
        {#            $("#id_attached_files").find("input[type=file]").each(function(i){#}
        {#                console.log($(this).prop("files")[0].name);#}
        {#            })#}
    });

    $(document).on("click",".cancel-file", function(e){
        var _this_index = $(this).data("index");
        var target_name = file_.prop("name")+_this_index;
        $("input[name="+target_name+"]").remove();
        $(this).parent().remove();
        files_count --;
        if(files_count < max_files_count){
            $("#id_file_input_container_hint").hide();
            $("#id_file_input_container").show();
        }
    });

    $("#add_study_partners").select2({
      height: 90,
      placeholder: "Type here to add other students",
      ajax: {
        url: "/ajax/tutor-list/",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            q: params.term, // search term
            utype: "student"
          };
        },
        processResults: function (data, page) {
          return {
                results: $.map(data.items, function(obj) {
                    return { id: obj.id, text: obj.name };
                })
            };
        },
        cache: true
      },
      escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
      minimumInputLength: 1,
    }).on("change",function(e){
        var value = $(this).val();
        var text = $(this).text();

        var value_found = false;

        $(this).parent().find(".tags").find("input").each(function(e){
            if($(this).val() == value){
                value_found = true;
                return;
            }
        });

        if(!value_found) {
            var tag_element = "<a href=\"javascript:void(0);\">"+ text +"<span class=\"cross tag_close tag_study_partners\"><input type=\"hidden\" name=\""+ $(this).prop("name")+"-list[]\" value=\""+ value +"\" <span></span></a>";

            $(this).parent().find(".tags").append(tag_element);

            $("#id_lesson_payer").append("<option value=\""+ value +"\">"+ text +"</option>");

            $(this).val("");
            $(this).text("");
        }

    });

    $("select[name=job_post_lesson_type]").change(function(e) {
        if($(this).val() == "online") {
            $("#add_study_partners").prop("disabled",false);
        }
        else {
            $("#add_study_partners").prop("disabled",true);
        }
    });

    });
</script>

{% endblock script_head_extra %}
{% block bodycontent %}
    <div class="contnt">
    <div class="wrapper">
        <div class="main_cntnt radius3">
            <div class="col-xs-12 col-sm-12">
                <h2>Job Edit(#{{ job.pk }})</h2>
                <hr/>
                <form name="lesson-post-form" role="form" class='form-horizontal job_post_form' method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if job %}
                    <input type="hidden" name="job_id" value="{{ job.pk }}"/>
                    {% else %}
                    <input type="hidden" name="job_id" value="-1"/>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Select Lesson Type</label>
                            <div class="champ_select_lesson">
                            <select class="form-control" name="job_post_lesson_type">
                                <option value="online" {% if job and job.lesson_type == 0 %} selected{% endif %}>Live Lesson</option>
                                <option value="written" {% if job and job.lesson_type == 1 %} selected{% endif %}>Written Lesson</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Enter Lesson Title</label>
                            {{ job_post_form.title }}
                            <div class="error_status">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="champ_jobsedit_label">Enter the job description here. Write a specific detail of your lesson.</label>
                            {{ job_post_form.description }}
                            <div class="error_status">
                            </div>
                        </div>
                    </div>






                    <div class="row" style="padding: 15px;">
                    <span class="background_shade" style="width: 100%; padding-bottom: 20px;">
                        <div class="row">
                            <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Job will expire on</label>
                            {{ job_post_form.job_end_date }}
                            <div class="error_status">
                            </div>
                            </div>
                            <div class="col-xs-6">
                                <label class="champ_jobsedit_label">Lesson Start Date</label>
                                {{ job_post_form.lesson_start_date }}
                                <div class="error_status">
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Subjects to be tutored</label>
                            {{ job_post_form.subject }}
                            <div class="error_status">
                            </div>
                            <div class="tags language_tag">
                                {% for subject in job.preference.subjects.all %}
                                    <a href="javascript:void(0);">{{ subject.value }}<span class="cross tag_close"><input type="hidden" name="subject-list[]" value="{{ subject.value }}"> </span></a>
                                    {% endfor %}
                                </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Your Preferred Rate(per hour)</label>
                            {{ job_post_form.rate }}
                            <div class="error_status">
                            </div>
                        </div>
                    </div>
                    </span>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Lesson Repeat</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.lesson_repeat }}
                        </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Select Lesson Duration</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.duration }}
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-6">
						    <label class="champ_jobsedit_label">Tutor’s gender preference</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.gender }}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Preferred Conversational Language</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.languages }}
                            </div>
                            <div class="tags language_tag">
                                {% for language in job.preference.languages.all %}
                                <a href="javascript:void(0);">{{ language.value }}<span class="cross tag_close"><input type="hidden" name="languages-list[]" value="{{ language.value }}"> </span></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Preferred currency for the payment</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.currency }}
                            </div>
                            <!--<select name="job_post_currency" class="form-control currency-select2 job_post_currency" data-currency="EUR"><option value="USD" selected>United States dollar</option><option value="AED">United Arab Emirates dirham</option><option value="AFN">Afghan afghani</option><option value="ALL">Albanian lek</option><option value="AMD">Armenian dram</option><option value="AOA">Angolan kwanza</option><option value="ARS">Argentine peso</option><option value="AUD">Australian dollar</option><option value="AWG">Aruban florin</option><option value="AZN">Azerbaijani manat</option><option value="BAM">Bosnia and Herzegovina convertible mark</option><option value="BBD">Barbadian dollar</option><option value="BDT">Bangladeshi taka</option><option value="BGN">Bulgarian lev</option><option value="BHD">Bahraini dinar</option><option value="BIF">Burundian franc</option><option value="BMD">Bermudian dollar</option><option value="BND">Brunei dollar</option><option value="BOB">Bolivian boliviano</option><option value="BRL">Brazilian real</option><option value="BSD">Bahamian dollar</option><option value="BTN">Bhutanese ngultrum</option><option value="BWP">Botswana pula</option><option value="BYR">Belarusian ruble</option><option value="BZD">Belize dollar</option><option value="CAD">Canadian dollar</option><option value="CDF">Congolese franc</option><option value="CHF">Swiss franc</option><option value="CLP">Chilean peso</option><option value="CNY">Chinese yuan</option><option value="COP">Colombian peso</option><option value="CRC">Costa Rican colón</option><option value="CUP">Cuban convertible peso</option><option value="CVE">Cape Verdean escudo</option><option value="CZK">Czech koruna</option><option value="DJF">Djiboutian franc</option><option value="DKK">Danish krone</option><option value="DOP">Dominican peso</option><option value="DZD">Algerian dinar</option><option value="EGP">Egyptian pound</option><option value="ERN">Eritrean nakfa</option><option value="ETB">Ethiopian birr</option><option value="EUR">Euro</option><option value="FJD">Fijian dollar</option><option value="FKP">Falkland Islands pound</option><option value="GBP">British pound</option><option value="GEL">Georgian lari</option><option value="GHS">Ghana cedi</option><option value="GMD">Gambian dalasi</option><option value="GNF">Guinean franc</option><option value="GTQ">Guatemalan quetzal</option><option value="GYD">Guyanese dollar</option><option value="HKD">Hong Kong dollar</option><option value="HNL">Honduran lempira</option><option value="HRK">Croatian kuna</option><option value="HTG">Haitian gourde</option><option value="HUF">Hungarian forint</option><option value="IDR">Indonesian rupiah</option><option value="ILS">Israeli new shekel</option><option value="IMP">Manx pound</option><option value="INR">Indian rupee</option><option value="IQD">Iraqi dinar</option><option value="IRR">Iranian rial</option><option value="ISK">Icelandic króna</option><option value="JEP">Jersey pound</option><option value="JMD">Jamaican dollar</option><option value="JOD">Jordanian dinar</option><option value="JPY">Japanese yen</option><option value="KES">Kenyan shilling</option><option value="KGS">Kyrgyzstani som</option><option value="KHR">Cambodian riel</option><option value="KMF">Comorian franc</option><option value="KPW">North Korean won</option><option value="KRW">South Korean won</option><option value="KWD">Kuwaiti dinar</option><option value="KYD">Cayman Islands dollar</option><option value="KZT">Kazakhstani tenge</option><option value="LAK">Lao kip</option><option value="LBP">Lebanese pound</option><option value="LKR">Sri Lankan rupee</option><option value="LRD">Liberian dollar</option><option value="LSL">Lesotho loti</option><option value="LTL">Lithuanian litas</option><option value="LVL">Latvian lats</option><option value="LYD">Libyan dinar</option><option value="MAD">Moroccan dirham</option><option value="MDL">Moldovan leu</option><option value="MGA">Malagasy ariary</option><option value="MKD">Macedonian denar</option><option value="MMK">Burmese kyat</option><option value="MNT">Mongolian tögrög</option><option value="MOP">Macanese pataca</option><option value="MRO">Mauritanian ouguiya</option><option value="MUR">Mauritian rupee</option><option value="MVR">Maldivian rufiyaa</option><option value="MWK">Malawian kwacha</option><option value="MXN">Mexican peso</option><option value="MYR">Malaysian ringgit</option><option value="MZN">Mozambican metical</option><option value="NAD">Namibian dollar</option><option value="NGN">Nigerian naira</option><option value="NIO">Nicaraguan córdoba</option><option value="NOK">Norwegian krone</option><option value="NPR">Nepalese rupee</option><option value="NZD">New Zealand dollar</option><option value="OMR">Omani rial</option><option value="PAB">Panamanian balboa</option><option value="PEN">Peruvian nuevo sol</option><option value="PGK">Papua New Guinean kina</option><option value="PHP">Philippine peso</option><option value="PKR">Pakistani rupee</option><option value="PLN">Polish złoty</option><option value="PRB">Transnistrian ruble</option><option value="PYG">Paraguayan guaraní</option><option value="QAR">Qatari riyal</option><option value="RON">Romanian leu</option><option value="RSD">Serbian dinar</option><option value="RUB">Russian ruble</option><option value="RWF">Rwandan franc</option><option value="SAR">Saudi riyal</option><option value="SBD">Solomon Islands dollar</option><option value="SCR">Seychellois rupee</option><option value="SDG">Singapore dollar</option><option value="SEK">Swedish krona</option><option value="SGD">Singapore dollar</option><option value="SHP">Saint Helena pound</option><option value="SLL">Sierra Leonean leone</option><option value="SOS">Somali shilling</option><option value="SRD">Surinamese dollar</option><option value="SSP">South Sudanese pound</option><option value="STD">São Tomé and Príncipe dobra</option><option value="SVC">Salvadoran colón</option><option value="SYP">Syrian pound</option><option value="SZL">Swazi lilangeni</option><option value="THB">Thai baht</option><option value="TJS">Tajikistani somoni</option><option value="TMT">Turkmenistan manat</option><option value="TND">Tunisian dinar</option><option value="TOP">Tongan paʻanga</option><option value="TRY">Turkish lira</option><option value="TTD">Trinidad and Tobago dollar</option><option value="TWD">New Taiwan dollar</option><option value="TZS">Tanzanian shilling</option><option value="UAH">Ukrainian hryvnia</option><option value="UGX">Ugandan shilling</option><option value="UYU">Uruguayan peso</option><option value="UZS">Uzbekistani som</option><option value="VEF">Venezuelan bolívar</option><option value="VND">Vietnamese đồng</option><option value="VUV">Vanuatu vatu</option><option value="WST">Samoan tālā</option><option value="XAF">Central African CFA franc</option><option value="XCD">East Caribbean dollar</option><option value="XOF">West African CFA franc</option><option value="XPF">CFP franc</option><option value="YER">Yemeni rial</option><option value="ZAR">South African rand</option><option value="ZMW">Zambian kwacha</option><option value="ZWL">Zimbabwean dollar</option></select>-->
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Tutor’s time zone preference</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.timezone }}
                            </div>
                            <div class="tags language_tag">
                                {% for tz in job.preference.timezones.all %}
                                <a href="javascript:void(0);">{{ tz.value }}<span class="cross tag_close"><input type="hidden" name="timezone-list[]" value="{{ tz.value }}"> </span></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Tutor’s availability status</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.availability }}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Tutor’s nationality preference</label>
                            <div class="champ_select_lesson">
                            {{ job_post_form.nationality }}
                            </div>
                            <div class="tags language_tag">
                                {% for nationality in job.preference.nationalities.all %}
                                <a href="javascript:void(0);">{{ nationality.name }}<span class="cross tag_close"><input type="hidden" name="nationality-list[]" value="{{ nationality.pk }}"> </span></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Add your study partners</label>
                            <select class="form-control" name="study_partners" id="add_study_partners" {% if job.lesson_type == 1 %} disabled{% endif %}>
                            </select>
                            <div class="tags language_tag study_parners">
                                {% for student in job.other_students.all %}
                                <a href="javascript:void(0);">{{ student.champuser.fullname }}<span class="cross tag_close"><input type="hidden" name="study_partners-list[]" value="{{ student.pk }}"> </span></a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="champ_jobsedit_label">Who will pay for this lesson?</label>
                            <div class="champ_select_lesson">
                            <select name="payer" id="id_lesson_payer">
                                <option value="{{ request.user.pk }}" {% if job.payer.pk == request.user.pk %} selected{% endif %}>I will pay for this lesson</option>
                                {% for student in job.other_students.all %}
                                <option value="{{ student.pk }}" {% if job.payer.pk == student.pk %} selected{% endif %}>{{ student.champuser.fullname }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class='col-xs-12'>
                            <div id="id_file_input_container_hint" style="display: none;">
                                <h4>Maximum 10 files can be uploaded.</h4>
                            </div>
                            <div id="id_file_input_container">
                                <button class="btn btn-primary" id="id_attach_file"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Attach File(s)</button>
                                <br>
                                <p class="pull-left">Maximum 10 files can be uploaded.</p>
                                <input type="file" name="written_file" class="form-control pull-left" id="id_attached_file" style="display: none;"/>
                            </div>
                            <div id="id_attached_files" class="pull-left" style="padding: 3px; margin-top: 1px;width: 100%;">
                                {% for attachment in job.job_attachment.all %}
                                <div style="width: 100%; margin-top: 4px; padding: 10px;">
                                    <span style="width: 230px;" class="pull-left">{{ attachment.attachment_name }}</span>
                                    <i class="glyphicon glyphicon-remove pull-right cancel-file" data-index="1" style="cursor: pointer;"></i></div>
                                <input type="file" name="written_file{{ forloop.counter }}" class="form-control pull-left" id="undefined" style="display: none;">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="submit" class="btn btn-sm" style="width: 100px; float: left; color: white; height: 45px; font: 14px/44px 'HelveticaNeueLTStd-Medium'; background-color: #7cd3cf; border-radius: 3px; " name="job_post_button" value="Submit"/>
                            <a class="btn btn-sm" style="width: 130px; float: left; color: white; height: 45px; font: 14px/44px 'HelveticaNeueLTStd-Medium'; background-color: #d9534f; border-radius: 3px; " href="{% url "job_post_details" pk=job.pk %}">Cancel</a>
                        </div>
                    </div>
                </form>

        </div>
    </div>
</div>
{% endblock bodycontent %}