{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load jobtags %}
{% block script_head_extra %}

<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
<script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>

<style>
    .job_posted_by_user {
        text-decoration: none;
        font-weight: bold;
    }
    .dfrnt_tag {
        padding-left: 8px !important;
    }
    .invite_button {
        color: #ffffff !important;
    }
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        background: white;
        z-index: 1000000;
    }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
    * html .ui-autocomplete {
        max-height: 200px;
    }
</style>

<script>
$(document).ready(function(){
    $("#id_invite_tutors").click(function(e){
        e.preventDefault();
        $("#black_overlay").show();
        $("#snd_msg").show();
        $("#id_invite_tutor_text").focus();
        $("#id_invite_tutor_text").parent().find(".tags").html("");
    });

    $("#id_cancel_invite_users").click(function(e){
        e.preventDefault();
        $("#black_overlay").hide();
        $("#snd_msg").hide();
    });

    $(document).on("click",".tag_close", function(e){
        $(this).parent().remove();
    });

    function collect_exclude_list() {
        exclude_str = window.champ_user_id+",";;
        $( "#id_invite_tutor_text" ).parent().find(".tags").find("input").each(function(e){
                    exclude_str += $(this).val()+",";
        });
        return exclude_str;
    }

    function format_exclude_list(list) {
                var str = "";
                if(list != undefined && list != null) {
                    for(var i = 0 ; i < list.length ; i++) {
                    str += list[i];
                    if(i < list.length -1) {
                        str += ","
                    }
                }
                console.log(str);
                }
                return str;
            }


            $("#id_invite_tutor_text").select2({
                  width: 550,
                  height: 90,
                  ajax: {
                    url: "/ajax/tutor-list/",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                      return {
                        q: params.term, // search term,
                        exclude: format_exclude_list($("#id_invite_tutor_text").val())
                      };
                    },
                    processResults: function (data, page) {
                      return {
                            results: $.map(data.items, function(obj) {
                                return { id: obj.id, text: obj.name };
                            })
                        };
                    },
                    cache: true
                  },
                  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                  minimumInputLength: 1,
                }).on("change",function(e){
                    var list = $(this).val();
                    var str = "";
                    if(list != undefined && list != null) {
                        for(var i = 0 ; i < list.length ; i++) {
                            str += list[i];
                            if(i < list.length -1) {
                                str += ","
                            }
                        }
                    }
                    //console.log(str);
                    $("input[name=tutor_list]").val(str);
                });

    //$("#id_job_delete").prop("disabled", false);
    $("#id_job_delete").click(function(e) {
        e.preventDefault();
        var $this = $(this);
        BootstrapDialog.show({
            size: BootstrapDialog.SIZE_NORMAL,
            message: 'Are you sure you want to delete this job?',
            buttons: [{
                label: 'Confirm',
                cssClass: 'btn-danger',
                action: function(){
                    location.href = $this.prop("href");
                }
            }, {
                label: 'Close',
                action: function(dialogItself){
                    dialogItself.close();
                }
            }]
        });
    });

});
</script>
{% endblock script_head_extra %}
{% block bodycontent %}
<div id="black_overlay"></div>
<div id="snd_msg">
        <div class="snd_msg_bx">
            <h1 class="lesson_bx_heading">Invite Tutors to the Lesson</h1>
            <form id="id_form_invite_users" method="POST" action="{% url "invite_users_view" %}" class="lesson_bx_form" name="msg_form" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="job_id" value="{{ job.pk }}"/>
                <div>
                    <!--<input type="text" class="form-control" id="id_invite_tutor_text" placeholder="Type tutor name here"/>-->
                    <select class="form-control" id="id_invite_tutor_text" multiple>
                        <option value="---">Search For Tutor Here</option>
                    </select>
                    <div class="tags">
                    </div>
                </div>
                <div>
                    <input type="hidden" name="tutor_list" value=""/>
                    <button class="btn btn-sm btn-primary">Done</button>
                    <button class="btn btn-sm btn-danger" id="id_cancel_invite_users">Cancel</button>
                </div>
            </form>
        </div>
    </div>

<div class="contnt">
    <div class="container" style="min-height: 600px;">
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10">
                <h2>{{ job.title }}{% if job.lesson_type == 0 %}<span class="radius3" style='color: green; font-weight: bold; font-size: 17px;'>(Live Lesson)</span>{% else %}<span class="radius3" style='color: green; font-weight: bold; font-size: 17px;'>(Written Lesson)</span>{% endif %}
                {% if request.user.pk == job.posted_by.pk %}<a class="btn btn-sm btn-primary" style="color: white;" href="{% url "job_post_edit" pk=job.pk %}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a class="btn btn-sm btn-danger" style="color: white;" href="{% url "job_post_delete" pk=job.pk %}" id="id_job_delete"><span class="glyphicon glyphicon-trash"> Delete</span></a>
                    <a id="id_invite_tutors" href="#" class="btn btn-primary btn-sm pull-right invite_button">+ Invite Tutors</a>{% endif %}
                {% if job|check_if_user_invited:request %}
                    <input type="hidden" name="hidden_job_post_id" value="{{ job.pk }}"/>
                    <a href="#" class="btn btn-danger btn-sm pull-right invite_button job_invite_reject">Reject</a>&nbsp;&nbsp;
                    <a href="#" class="btn btn-primary btn-sm pull-right invite_button job_invite_accept" style="margin-right: 7px;">Accept</a>
                {% endif %}
                {% if job|check_if_apply_button_should_render:request %}
                    <input type="hidden" name="hidden_job_post_id" class="hidden_job_post_id" value="{{ job.pk }}"/>
                    <a href="#" class="btn btn-primary btn-sm pull-right invite_button job_apply" style="color: white; margin-right: 7px;">Apply</a>
                {% else %}
                    {% if job|check_if_already_applied:request %}
                    <button class="btn btn-sm btn-danger pull-right" disabled><span class="glyphicon glyphicon-ok"></span> You have already applied to this job</button>
                    {% endif %}
                {% endif %}
                </h2>
                <div style="font-size: 13px; font-weight: normal;">Job posted on: {{ job.date_created|fromunix|localtime|format_datetime }}</div>
                                <div style="font-size: 13px; font-weight: normal;">Job end date: {{ job.end_date|fromunix|localtime|format_datetime }}</div>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10" style="padding: 3px; border: 1px solid #e7e5e5; margin-bottom: 7px; padding: 7px;">
                <div>
                    <section>
                        <div>{{ job.description|linebreaksbr }}</div>
                    </section>
                    <div style="width: 100%; display: block; margin-top: 13px;">
                        {% if job.preference %}
                            <span class="dfrnt_tag radius3"><b style="color: #333333;">Nationality: &nbsp;</b>
                            {% for country in job.preference.nationalities.all %}
                            {{ country.name }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                            {% endfor %}
                            </span>
                            {% if job.preference.rate %}
                            <span class="dfrnt_tag radius3">Preferred Rate: ${{ job.preference.rate.rate_value }}</span>
                            {% endif %}
                            {% if job.preference.gender %}
                            <span class="dfrnt_tag radius3" style="color: #333333;">Gender: {{ job.preference.gender }}</span>
                            {% endif %}
                            {% if job.preference.timezones.all %}
                            <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Timezone:</span>
                            {% for tz in job.preference.timezones.all %}
                            {{ tz.value.strip }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                            {% endfor %}
                            </span>
                            {% endif %}
                            {% if job.preference.currencies.all %}
                            <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Currency:</span>
                            {% for c in job.preference.currencies.all %}
                            {{ c.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                            {% endfor %}
                            </span>
                            {% endif %}
                            {% if job.preference.languages.all %}
                            <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Language:</span>
                            {% for lang in job.preference.languages.all %}
                            {{ lang.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                            {% endfor %}
                            </span>
                            {% endif %}
                            {% if job.preference.availability %}
                            <span class="dfrnt_tag radius3" style='color: green;'>{% if job.preference.availability == 1 %}Available{% elif job.preference.availability == 2 %}Ready To Teach{% else %}Any%{% endif %}</span>
                            {% endif %}
                            {% if job.preference.subjects.exists %}
                            <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Subjects:</span>
                            {% for s in job.preference.subjects.all %}
                            {{ s.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                            {% endfor %}
                            </span>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div style="width: 100%; display: block; float: left; margin-bottom: 13px;">
                        {% if job.job_attachment.exists %}
                        <h4>Attachment(s):</h4>
                            <div>
                                {% for attachment in job.job_attachment.all %}
                                    {% if attachment.thumbnail %}
                                        <a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}"/></a>
                                    {% else %}
                                        <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% if job.lesson_time %}
                    <div style="width: 100%; display: block; float: left;">
                        <div>Start Date: {{ job.lesson_time|fromunix|localtime|format_datetime }}</div>
                    </div>
                    {% endif %}
                    {% if job.lesson_duration %}
                    <div style="width: 100%; display: block; float: left;">
                        <div>Duration: {{ job.lesson_duration }} minutes</div>
                    </div>
                    {% endif %}
                    {% if job.other_students.exists %}
                    <div style="width: 100%; display: block; float: left; margin-top: 13px;">
                        <div style="font-weight: bold; font-size: 23px;">Students</div>
                        <hr/>
                        <div>
                            <div style="width: 100px; float: left;">
                                <div><img src="{{ job.posted_by.champuser.render_profile_picture }}" width="70" height="70"/></div>
                                <a style="width: 100%;" href="{{ job.posted_by.champuser.profile_url }}">{{ job.posted_by.champuser.fullname }}</a>
                            </div>
                            {% for student in job.other_students.all %}
                                <div style="width: 100px; float: left;">
                                    <div><img src="{{ student.champuser.render_profile_picture }}" width="70" height="70"/></div>
                                    <a style="width: 100%;" href="{{ student.champuser.profile_url }}">{{ student.champuser.fullname }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div style="clear: both; padding: 7px;">
                    <h3>Applications({{ job.applications.all.count }})</h3>
                    {% for application in job.applications.all %}
                        <div class="container" style="width: 100%;">
                            <div class="row">
                                <div class="col-xs-12" style="padding: 3px; border: 1px solid #e7e5e5; margin-bottom: 7px; padding: 7px;">
                                    <div>
                                        <div style="font-size: 23px; font-weight: bold;" title="{{ job_invitation.job.title }}">
                                            <a href="{% url "user_profile" pk=application.tutor.pk %}"><span style="font-weight: bold; font-size: 19px;">{{ application.tutor.champuser.fullname }}</span></a>
                                            <input type="hidden" name="hidden_job_application_id" value="{{ application.pk }}"/>
                                            <input type="hidden" name="hidden_job_post_id" value="{{ application.job.pk }}"/>
                                            {% if job.posted_by.pk == request.user.pk %}
                                            {% if application.status == 1 %}
                                            <!--<input type="hidden" class="ja_id" value="{{ application.pk }}"/>-->
                                            <!--<select class="form-control pull-right ja-action" style="width: 120px; cursor:pointer;">-->
                                                <!--<option value="-1">Action</option>-->
                                                <!--<option value="4">Award</option>-->
                                                <!--<option value="3">Reject</option>-->
                                            <!--</select>-->
                                            {% elif application.status == 4 %}
                                            <span class="btn btn-sm btn-success pull-right" disabled><span class="glyphicon glyphicon-star"></span>Awarded</span>
                                            {% elif application.status == 3 %}
                                            <span class="btn btn-sm btn-danger pull-right" disabled>Rjected</span>
                                            {% endif %}
                                            {% endif %}
                                            <!--<a href="#" class="btn btn-danger btn-sm pull-right invite_button job_application_cancel" style="color: white;">Cancel</a>-->
                                        </div>
                                        <p>
                                            {{ application.get_last_message.message.msg|safe|truncatechars:200 }}
                                            <a href="{% url "job_application_details_view" job.pk application.pk %}">View Details</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="container" style="width: 100%;">
                            <div class="row">
                                <div class="col-xs-12" style="padding: 3px; margin-bottom: 7px; padding: 7px;">
                                    No Application Found.
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
    </div>
</div>

<style>
    #popup_dialog {
        margin-left: 25% !important;
    }
</style>
{% include "ajax/job_apply_dialog.html" %}
{% endblock bodycontent %}