{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load jobtags %}
{% block script_head_extra %}
<link href="{% static "css/job_status.css" %}" rel="stylesheet">
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
<script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
<!--<script type="text/javascript" src="{% static "js/job.js" %}"></script>-->
<!--<script type="text/javascript" src="{% static "js/job_details_action_.js" %}"></script>-->
<!--<script src="{% static "js/job_invite.js" %}"></script>-->
<style>
    .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
        border: none;
    }
    .morecontent span {
        display: none;
    }
    .morelink {
        display: block;
    }
    #job_offer_form, #adjust_form, #adjust_accept_form, #withdraw_application_form, #decline_application_form, #offer_accept_form
    {
      width: 785px;
      height: 425px;
      position: absolute;
      z-index: 1000;
      margin: auto;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      display: none;
    }
    .snd_msg_bx {
        min-height: 425px;
    }
    h3 {
        font-weight: bold;
        font-size: 17px;
    }
</style>

<script>
$(document).ready(function(){
    $(document).on("click", ".job_application_action", function(e) {
        e.preventDefault();
        var value = $(this).data("value");
        var app_id = $(this).data("app-id");
        if($(this).hasClass("confirm_action")) {
            BootstrapDialog.show({
                title: "Confirm Action",
                size: BootstrapDialog.SIZE_NORMAL,
                message: 'Are you sure you want to perform this action?',
                buttons: [{
                    label: 'Confirm',
                    cssClass: 'btn-danger',
                    action: function(dialogItself){
                        $("form[id=id_confirm_action_submit]").find("input[name=action]").val(value);
                        $("form[id=id_confirm_action_submit]").submit();
                    }
                }, {
                    label: 'Close',
                    action: function(dialogItself){
                        dialogItself.close();
                    }
                }]
            });
        }
        else if($(this).hasClass("offer_form")) {
            $("#black_overlay").show();
            $(".job_offer_form").show();
        }
        else if($(this).hasClass("adjust_form")) {
            $("#black_overlay").show();
            $(".adjust_form_container").show();
        }
        else if($(this).hasClass("withdraw_application_form")) {
            $("#black_overlay").show();
            $(".withdraw_application_form_container").show();
        }
        else if($(this).hasClass("decline_form")) {
            $("#black_overlay").show();
            $(".decline_application_form_container").show();
        }
        else if($(this).hasClass("accept_action")) {
            $("#black_overlay").show();
            $(".adjust_accept_form").show();
        }
        else if($(this).hasClass("offer_accept")) {
            $("#black_overlay").show();
            $(".offer_accept_form").show();
        }
    });

    $("#black_overlay").click(function(e) {
        $(".job_offer_form").hide();
        $(".adjust_form_container").hide();
        $(".withdraw_application_form_container").hide();
        $(".withdraw_application_form_container").hide();
        $(".adjust_accept_form").hide();
        $(".decline_application_form_container").hide();
        $(".offer_accept_form").hide();
    });

    $(".cancel_offer_form").click(function(e) {
        e.preventDefault();
        $("#black_overlay").hide();
        $("#job_offer_form").hide();
    });

    $(".cancel_adjust_form").click(function(e) {
        e.preventDefault();
        $("#black_overlay").hide();
        $("#adjust_form").hide();
    });

    $(".cancel_accept_form").click(function(e) {
        e.preventDefault();
        $("#black_overlay").hide();
        $("#adjust_accept_form").hide();
    });

    $(".cancel_withdraw_application_form").click(function(e) {
        e.preventDefault();
        $("#black_overlay").hide();
        $("#withdraw_application_form").hide();
    });

    $(".cancel_decline_application_form").click(function(e) {
        e.preventDefault();
        $("#black_overlay").hide();
        $("#decline_application_form").hide();
    });

    $(".cancel_offer_accept").click(function(e) {
        e.preventDefault();
        $("#black_overlay").hide();
        $(".offer_accept_form").hide();
    });

});
</script>
{% endblock script_head_extra %}
{% block bodycontent %}
<div class="contnt">
    <div class="wrapper">


            <div class="champ_last_content_detail">
                <div style="max-width: 600px; float: left;">
                    <h4 class="champ_finance_heading">{{ job.title }} <em>({{ job.render_lesson_type_verbal }})</em>
                        <div class="dropdown pull-right">
                            <span class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></span>
                            <ul class="dropdown-menu">
                              <li><a style="color: black;" href="{% url "job_post_details" object.job_set.all.first.pk  %}"><span class="glyphicon glyphicon-expand"></span> View job Details</a></li>
                            </ul>
                        </div>
                    </h4>

                    <p class="champ_last_text">{{ job.description }}</p>

                    <ul class="champ_ready_teach">
                        <li> <h4 class="champ_teach_heading">{{ job.render_lesson_type_verbal }}</h4> </li>
                        {% if job.render_job_subjects %}
                        <li> <label>Subject:</label> <p>{{ job.render_job_subjects }}</p> </li>
                        {% endif %}
                        {% if job.render_gender %}
                        <li> <label>Gender:</label> <p>{{ job.render_gender }}</p> </li>
                        {% endif %}
                        {% if job.render_nationalities %}
                        <li> <label>Nationality:</label> <p>{{ job.render_nationalities }}</p> </li>
                        {% endif %}
                        {% if job.render_timezones %}
                        <li> <label>Timezone:</label> <p>{{ job.render_timezones }}</p> </li>
                        {% endif %}
                        {% if job.render_languages %}
                        <li> <label>Conversation In:</label> <p>{{ job.render_languages }}</p> </li>
                        {% endif %}
                        {% if job.render_currency %}
                        <li> <label>Currency:</label> <p>{{ job.render_currency }}</p>  </li>
                        {% endif %}
                    </ul>

                    <div style="width: 100%; display: block; float: left; margin-bottom: 13px; margin-left: 7px;">
                        {% if job.job_set.all.first.job_attachment.exists %}
                        <h4>Attachment(s):</h4>
                            <div>
                                {% for attachment in job.job_set.all.first.job_attachment.all %}
                                    {% if attachment.thumbnail %}
                                        <a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}"/></a>
                                    {% else %}
                                        <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% if job.other_students.exists %}
					<div style="width: 100%; display: block; float: left; margin-top: 13px;">
						<h4>Students</h4>
						<hr/>
						<div>
							<div style="width: 100px; float: left;">
								<div><img src="{{ job.posted_by.champuser.render_profile_picture }}" width="70" height="70"/></div>
								<a style="width: 100%;" href="{{ job.posted_by.champuser.profile_url }}">{{ job.posted_by.champuser.fullname }}</a>
							</div>
							{% for student in job.other_students.all %}
								<div style="width: 100px; float: left;">
									<div><img src="{{ student.champuser.render_profile_picture }}" width="70" height="70"/></div>
									<a style="width: 100%;" href="{{ student.champuser.profile_url }}">{{ student.champuser.fullname }}</a>
								</div>
							{% endfor %}
						</div>
					</div>
					{% endif %}
                </div>
                <div style="float: right; max-width: 300px;">
                    <h4>Proposed Terms:</h4>
                    <hr/>
                    <div class="champ_duration_date">
                                <span class="champ_date_icon"><label>Start Date:</label>
                                <p>{{ object.start_time|fromunix|localtime|format_datetime }}</p></span>
                            </div>
                    <div class="champ_duration_date">
                                <span class="champ_duration_icon"><label>duration:</label>
                                <p>{{ offer.duration }} minutes</p></span>
                            </div>
                    <div class="champ_duration_date">
                        <span class="champ_rate_icon"><label>Rate:</label>
                        <p>${{ object.settlement.price|floatformat:2 }}({{ object.settlement.currency }})</p></span>
                    </div>

                    <div class="champ_duration_date">
                        <label>Repeat:</label>
                        <p>{{ object.render_lesson_repeat_verbal }} Lesson</p>
                    </div>
                    <br/>
                    {% if object.message.all.exists %}
                    <h4>Message:</h4>
                    <hr/>
                    <p>
                        {{ object.message.all.first.message.msg|safe|truncatechars:300 }}
                    </p>
                    {% endif %}





                    <div style="width: 100%; display: block; float: left;">
                        {% if object.status == 1 %}  <!-- Pending !-->
                            <div><div class="job-symbol symbol-pending"></div> <div class="symbol-content">You are invited to this job</div></div>
                        {% elif object.status == 2 %}  <!-- Applied !-->
                            <div><div class="job-symbol symbol-applied"></div> <div class="symbol-content">You have applied to this job</div></div>
                        {% elif object.status == 3 %}  <!-- Cancelled !-->
                            <div><div class="job-symbol symbol-cancelled"></div> <div class="symbol-content">The client has cancelled the job offer</div></div>
                        {% elif object.status == 5 %}  <!-- Rejected !-->
                            <div><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">You have rejected the job invitation</div></div>
                        {% elif object.status == 6 %}  <!-- Negotiating !-->
                            <div><div class="job-symbol symbol-negotiating"></div> <div class="symbol-content">Negotiating</div></div>
                        {% elif object.status == 7 %}  <!-- Offered by the student !-->
                            <div><div class="job-symbol symbol-offered"></div> <div class="symbol-content">The job is offered to you</div></div>
                        {% elif object.status == 8 %}  <!-- Hired !-->
                            <div><div class="job-symbol symbol-hired"></div> <div class="symbol-content">You have been hired for this lesson</div></div>
                        {% elif object.status == 9 %}  <!-- Shortlisted !-->
                            <div><div class="job-symbol symbol-shortlisted"></div> <div class="symbol-content">Your application has been shortlisted</div></div>
                        {% elif object.status == 10 %}  <!-- Rejected Application !-->
                            <div><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">Application Rejected</div></div>
                        {% elif object.status == 12 %}  <!-- Rejected Offer !-->
                            <div><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">You have rejected the offer</div></div>
                        {% elif object.status == 13 %}
                            <div><div class="job-symbol symbol-withdrawn"></div> <div class="symbol-content">Application withdrawn by you</div></div>
                        {% endif %}
                    </div>

                    <div style="float: left; margin-top: 20px; clear: both;">
                    {% if not request.user.champuser.is_tutor %}  <!-- If the current user is student !-->
                        {% if object.tutor_id == request.user.pk %}  <!--User 2 has accepted and sent job offer and user 1 is waiting!-->

                            {% if object.status == 3 %} <!-- Student has accepted and offered the job !-->
                            <div>
                                <span class="btn btn-sm job_application_action offer_form" disabled data-app-id="{{ object.pk }}">Job Offer Sent</span>
                                <br/>
                                <span class="btn btn-sm btn-info" disabled>You will be notified when the offer is confirmed.</span>
                                <!--<button class="btn btn-sm btn-danger job_application_action confirm_action" data-value="9" data-app-id="{{ object.pk }}">Cancel</button>-->
                            </div>
                            {% elif object.status == 4 %} <!-- Student has requested to discuss with changed rate. !-->
                            <div>
                                <button class="btn btn-sm btn-success job_application_action offer_form" data-value="3" data-app-id="{{ object.pk }}">Accept and Send Offer</button>
                                <button class="btn btn-sm btn-primary job_application_action adjust_form" data-value="4" data-app-id="{{ object.pk }}">Adjust</button>
                                <button class="btn btn-sm btn-danger job_application_action confirm_action" data-value="5" data-app-id="{{ object.pk }}">Reject</button>
                            </div>
                            {% elif object.status == 5 %} <!-- Student has rejected the job application !-->
                            <div>
                                <button class="btn btn-sm btn-danger job_application_action">You have rejected this application</button>
                            </div>
                            {% endif %}
                        {% else %}
                            {% if object.status == 7 %} <!-- Student has rejected the job application !-->
                            <div>
                                <span class="btn btn-sm  job_application_action" disabled>Tutor has rejected the job offer.</span>
                                <br/>
                                <button class="btn btn-sm btn-success job_application_action offer_form" data-value="3" data-app-id="{{ object.pk }}">Send Offer Again</button>
                                <button class="btn btn-sm btn-warning job_application_action adjust_form" data-value="4" data-app-id="{{ object.pk }}">Discuss</button>
                                <button class="btn btn-sm btn-danger job_application_action decline_form" data-value="11" data-app-id="{{ object.pk }}">Decline This Application</button>
                            </div>
                            {% else %}
                            <div>
                                <button class="btn btn-sm btn-success job_application_action offer_form" data-value="3" data-app-id="{{ object.pk }}">Accept</button>
                                <button class="btn btn-sm btn-primary job_application_action adjust_form" data-value="4" data-app-id="{{ object.pk }}" data-form="required" data-target="adjust">Change Rate</button>
                                <button class="btn btn-sm btn-danger job_application_action decline_form" data-value="11" data-app-id="{{ object.pk }}">Decline</button>
                            </div>
                            {% endif %}
                        {% endif %}
                    {% else %}  <!-- If the current user is tutor !-->
                        {% if object.tutor_id == request.user.pk %}
                             {% if object.status == 1 %} <!-- Pending !-->
                                <ul class="list-inline job-status-list" style="display: inline;">
                                    <input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.job_set.all.first.pk }}"/>
                                    <input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.job_set.all.first.posted_by.pk }}"/>
                                    <input type="hidden" name="online_status" value="{{ object.job_set.all.first.posted_by.champuser.render_online_status_verbal }}"/>
                                    <input type="hidden" name="tutor_name" value="{{ object.job_set.all.first.posted_by.champuser.fullname }}"/>
                                    <input type="hidden" name="tutor_pp" value="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}"/>
                                    <input class="userid" type="hidden" value="{{ object.job_set.all.first.posted_by.pk }}"/>
                                    <li class="job_application_withdraw" data-user-id="{{ request.user.pk }}"><a class="btn btn-primary" style="color: white;" href="#">Withdraw Application</a></li>
                                </ul>
                            </ul>
                            {% elif object.status == 2 %} <!-- Applied !-->
                                <ul class="list-inline job-status-list" style="display: inline;">
                                    <input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.job_set.all.first.pk }}"/>
                                    <input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.job_set.all.first.posted_by.pk }}"/>
                                    <input type="hidden" name="online_status" value="{{ object.job_set.all.first.posted_by.champuser.render_online_status_verbal }}"/>
                                    <input type="hidden" name="tutor_name" value="{{ object.job_set.all.first.posted_by.champuser.fullname }}"/>
                                    <input type="hidden" name="tutor_pp" value="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}"/>
                                    <input class="userid" type="hidden" value="{{ object.job_set.all.first.posted_by.pk }}"/>
                                    <li class="job_application_withdraw" data-user-id="{{ request.user.pk }}"><a href="#">Withdraw Application</a></li>
                                </ul>
                            {% elif object.status == 3 and object.status == 5 %} <!-- Cancelled or Rejected !-->

                            {% elif object.status == 6 %} <!-- Negotiating !-->
                                <ul class="list-inline job-status-list" style="display: inline;">
                                    <input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.job_set.all.first.pk }}"/>
                                    <input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.job_set.all.first.posted_by.pk }}"/>
                                    <input type="hidden" name="online_status" value="{{ object.job_set.all.first.posted_by.champuser.render_online_status_verbal }}"/>
                                    <input type="hidden" name="tutor_name" value="{{ object.job_set.all.first.posted_by.champuser.fullname }}"/>
                                    <input type="hidden" name="tutor_pp" value="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}"/>
                                    <input class="userid" type="hidden" value="{{ object.job_set.all.first.posted_by.pk }}"/>
                                    <li class="job_apply"><a href="#">Apply</a></li>|
                                    <li class="job_application_message"><a href="#">Message</a></li>
                                    {% if invite_type == "INVITED" %}
                                    |<li class="job_reject"><a href="#">Reject</a></li>
                                    {% endif %}
                                </ul>
                            {% elif object.status == 7 %}  <!-- Offered by the student !-->
                                <ul class="list-inline job-status-list" style="display: inline;">
                                    <input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.job_set.all.first.pk }}"/>
                                    <input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.job_set.all.first.posted_by.pk }}"/>
                                    <input type="hidden" name="online_status" value="{{ object.job_set.all.first.posted_by.champuser.render_online_status_verbal }}"/>
                                    <input type="hidden" name="tutor_name" value="{{ object.job_set.all.first.posted_by.champuser.fullname }}"/>
                                    <input type="hidden" name="tutor_pp" value="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}"/>
                                    <input class="userid" type="hidden" value="{{ object.job_set.all.first.posted_by.pk }}"/>
                                    <li><a href="{% url "job_offer_details" object.job_set.all.first.pk request.user.pk %}">Review and Accept Offer</a></li>|
                                    <li class="job_application_message"><a href="#">Message</a></li>
                                </ul>
                            {% elif object.status == 8 %}  <!-- Hired !-->
                                <ul class="list-inline job-status-list" style="display: inline;">
                                    <li><label><span class="glyphicon glyphicon-ok" style="color: green;"></span> You have been hired for this lesson</label></li>
                                </ul>
                            {% elif object.status == 9 %}  <!-- Shortlisted !-->
                                <ul class="list-inline job-status-list" style="display: inline;">
                                    <input type="hidden" name="hidden_job_post_id" value="{{ object.job_set.all.first.pk }}"/>
                                    <input type="hidden" name="tutor_id" value="{{ object.job_set.all.first.posted_by.pk }}"/>
                                    <input type="hidden" name="online_status" value="{{ object.job_set.all.first.posted_by.champuser.render_online_status_verbal }}"/>
                                    <input type="hidden" name="tutor_name" value="{{ object.job_set.all.first.posted_by.champuser.fullname }}"/>
                                    <input type="hidden" name="tutor_pp" value="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}"/>
                                    <input class="userid" type="hidden" value="{{ object.job_set.all.first.posted_by.pk }}"/>
                                    <li class="job_application_withdraw" data-user-id="{{ request.user.pk }}"><a href="#">Withdraw Application</a></li>
                                </ul>
                            {% elif object.status == 10 %}  <!-- Rejected Application !-->
                                <ul class="list-inline job-status-list" style="display: inline;">
                                    <input type="hidden" name="hidden_job_post_id" value="{{ object.job_set.all.first.pk }}"/>
                                    <input type="hidden" name="tutor_id" value="{{ object.job_set.all.first.posted_by.pk }}"/>
                                    <input type="hidden" name="online_status" value="{{ object.job_set.all.first.posted_by.champuser.render_online_status_verbal }}"/>
                                    <input type="hidden" name="tutor_name" value="{{ object.job_set.all.first.posted_by.champuser.fullname }}"/>
                                    <input type="hidden" name="tutor_pp" value="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}"/>
                                    <input class="userid" type="hidden" value="{{ object.job_set.all.first.posted_by.pk }}"/>
                                    <li class="job_application_view"><a href="#">View Job Application</a></li>
                                </ul>
                            {% elif object.status == 12 %}  <!-- Rejected Offer !-->

                            {% elif object.status == 13 %}  <!-- Application Withdrawn !-->

                            {% endif %}
                        {% endif %}
                    {% endif %}


                    {% if request.user.champuser.is_tutor %}
                    <div>
                        <h4 style="font-size: 13px; font-weight: bold;">Student Details</h4>
                        <a title="{{ object.job_set.all.first.posted_by.champuser.fullname }}" href="{% url "user_profile" pk=object.job_set.all.first.posted_by.pk %}"><img src="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}" width="130" height="130"/></a>
                        <div><a href="{% url "user_profile" pk=object.job_set.all.first.posted_by.pk %}">{{ object.job_set.all.first.posted_by.champuser.fullname }}</a></div>
                        <div><b>From:</b> {{ object.job_set.all.first.posted_by.champuser.nationality.name }}({{ object.job_set.all.first.posted_by.champuser.timezone }})</div>
                    </div>
                    {% else %}
                    <div>
                        <h3>About the tutor</h3>
                        <a title="{{ request.user.champuser.fullname }}" href="{% url "user_profile" pk=request.user.pk %}"><img src="{{ request.user.champuser.render_profile_picture }}" width="130" height="130"/></a>
                        <div><a href="{% url "user_profile" pk=object.tutor.pk %}">{{ object.tutor.champuser.fullname }}</a></div>
                        <div>From <b>{{ object.tutor.champuser.nationality.name }}</b>({{ object.tutor.champuser.timezone }})</div>
                        <div>Total 200 hours tutored</div>
                        <div>Rating <b>{{ object.tutor.champuser.calculate_rating|floatformat:2 }}/5.00</b></div>
                    </div>
                    {% endif %}
                    </div>










                </div>
            </div>








    </div>


    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-8">-->
                <!--<div class="container" style="min-height: 300px; width: 800px;">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-1">-->

                        <!--</div>-->
                        <!--<div class="col-xs-10">-->
                            <!--<h3>{{ job.title }}{% if job.lesson_type == 0 %}<span class="radius3" style='color: green; font-weight: bold; font-size: 17px;'>(Live Lesson)</span>{% else %}<span class="radius3" style='color: green; font-weight: bold; font-size: 17px;'>(Written Lesson)</span>{% endif %}-->
                            <!--<div class="dropdown pull-right">-->
                                <!--<span class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></span>-->
                                <!--<ul class="dropdown-menu">-->
                                  <!--<li><a style="color: black;" href="{% url "job_post_details" object.job_set.all.first.pk  %}"><span class="glyphicon glyphicon-expand"></span> View job Details</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--</h3>-->
                            <!--<p class="more">{{ job.description|linebreaksbr }}</p>-->
                        <!--</div>-->
                        <!--<div class="col-xs-1">-->

                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-1">-->

                        <!--</div>-->
                        <!--<div class="col-xs-10" style="padding: 3px; margin-bottom: 7px; padding: 7px;">-->
                            <!--<div>-->
                                <!--<div style="width: 100%; display: block; margin-top: 13px; margin-left: 7px;">-->
                                    <!--{% if job.preference %}-->
                                        <!--<span class="dfrnt_tag radius3"><b style="color: #333333;">Nationality: &nbsp;</b>-->
                                        <!--{% for country in job.preference.nationalities.all %}-->
                                        <!--{{ country.name }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}-->
                                        <!--{% endfor %}-->
                                        <!--</span>-->
                                        <!--{% if job.preference.rate %}-->
                                        <!--<span class="dfrnt_tag radius3">{{ job.preference.rate.currency }}{{ job.preference.rate.min_value }} - {{ job.preference.rate.currency }}{{ job.preference.rate.max_value }}</span>-->
                                        <!--{% endif %}-->
                                        <!--{% if job.preference.gender %}-->
                                        <!--<span class="dfrnt_tag radius3" style="color: #333333;">Gender: {{ job.preference.gender }}</span>-->
                                        <!--{% endif %}-->
                                        <!--{% if job.preference.timezones.all %}-->
                                        <!--<span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Timezone:</span>-->
                                        <!--{% for tz in job.preference.timezones.all %}-->
                                        <!--{{ tz.value.strip }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}-->
                                        <!--{% endfor %}-->
                                        <!--</span>-->
                                        <!--{% endif %}-->
                                        <!--{% if job.preference.currencies.all %}-->
                                        <!--<span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Currency:</span>-->
                                        <!--{% for c in job.preference.currencies.all %}-->
                                        <!--{{ c.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}-->
                                        <!--{% endfor %}-->
                                        <!--</span>-->
                                        <!--{% endif %}-->
                                        <!--{% if job.preference.languages.all %}-->
                                        <!--<span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Language:</span>-->
                                        <!--{% for lang in job.preference.languages.all %}-->
                                        <!--{{ lang.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}-->
                                        <!--{% endfor %}-->
                                        <!--</span>-->
                                        <!--{% endif %}-->
                                        <!--{% if job.preference.availability %}-->
                                        <!--<span class="dfrnt_tag radius3" style='color: green;'>{% if job.preference.availability == 1 %}Available{% elif job.preference.availability == 2 %}Ready To Teach{% else %}Any%{% endif %}</span>-->
                                        <!--{% endif %}-->
                                        <!--{% if job.preference.subjects.exists %}-->
                                        <!--<span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Subjects:</span>-->
                                        <!--{% for s in job.preference.subjects.all %}-->
                                        <!--{{ s.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}-->
                                        <!--{% endfor %}-->
                                        <!--</span>-->
                                        <!--{% endif %}-->
                                    <!--{% endif %}-->
                                <!--</div>-->
                                <!--<div style="width: 100%; display: block; float: left; margin-bottom: 13px; margin-left: 7px;">-->
                                    <!--{% if object.job_set.all.first.job_attachment.exists %}-->
                                    <!--<h4>Attachment(s):</h4>-->
                                        <!--<div>-->
                                            <!--{% for attachment in object.job_set.all.first.job_attachment.all %}-->
                                                <!--{% if attachment.thumbnail %}-->
                                                    <!--<a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}"/></a>-->
                                                <!--{% else %}-->
                                                    <!--<a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>-->
                                                <!--{% endif %}-->
                                            <!--{% endfor %}-->
                                        <!--</div>-->
                                    <!--{% endif %}-->
                                <!--</div>-->
                                <!--{% if job.lesson_time %}-->
                                <!--<div style="width: 100%; display: block; float: left; margin-left: 7px;">-->
                                    <!--<div>Start Date: {{ job.lesson_time|fromunix|localtime|format_datetime }}</div>-->
                                <!--</div>-->
                                <!--{% endif %}-->
                                <!--{% if job.lesson_duration %}-->
                                <!--<div style="width: 100%; display: block; float: left; margin-left: 7px;">-->
                                    <!--<div>Duration: {{ job.lesson_duration }} minutes</div>-->
                                <!--</div>-->
                                <!--{% endif %}-->
                                <!--<div style="width: 100%; display: block; float: left; margin-left: 7px;">-->
                                    <!--<h4 style="font-size: 13px; font-weight: bold;">All Participants</h4>-->
                                    <!--<a title="{{ request.user.champuser.fullname }}" href="{% url "user_profile" pk=request.user.pk %}"><img src="{{ request.user.champuser.render_profile_picture }}" width="70" height="70"/></a>-->
                                    <!--<a title="{{ request.user.champuser.fullname }}" href="{% url "user_profile" pk=request.user.pk %}"><img src="{{ request.user.champuser.render_profile_picture }}" width="70" height="70"/></a>-->
                                    <!--<a title="{{ request.user.champuser.fullname }}" href="{% url "user_profile" pk=request.user.pk %}"><img src="{{ request.user.champuser.render_profile_picture }}" width="70" height="70"/></a>-->
                                    <!--<a title="{{ request.user.champuser.fullname }}" href="{% url "user_profile" pk=request.user.pk %}"><img src="{{ request.user.champuser.render_profile_picture }}" width="70" height="70"/></a>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                        <!--<div class="col-xs-1">-->

                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xs-4">-->
                <!--<div style="width: 100%; display: block; float: left;">-->
                    <!--{% if object.status == 1 %}  &lt;!&ndash; Pending !&ndash;&gt;-->
                        <!--<div><div class="job-symbol symbol-pending"></div> <div class="symbol-content">You are invited to this job</div></div>-->
                    <!--{% elif object.status == 2 %}  &lt;!&ndash; Applied !&ndash;&gt;-->
                        <!--<div><div class="job-symbol symbol-applied"></div> <div class="symbol-content">You have applied to this job</div></div>-->
                    <!--{% elif object.status == 3 %}  &lt;!&ndash; Cancelled !&ndash;&gt;-->
                        <!--<div><div class="job-symbol symbol-cancelled"></div> <div class="symbol-content">The client has cancelled the job offer</div></div>-->
                    <!--{% elif object.status == 5 %}  &lt;!&ndash; Rejected !&ndash;&gt;-->
                        <!--<div><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">You have rejected the job invitation</div></div>-->
                    <!--{% elif object.status == 6 %}  &lt;!&ndash; Negotiating !&ndash;&gt;-->
                        <!--<div><div class="job-symbol symbol-negotiating"></div> <div class="symbol-content">Negotiating</div></div>-->
                    <!--{% elif object.status == 7 %}  &lt;!&ndash; Offered by the student !&ndash;&gt;-->
                        <!--<div><div class="job-symbol symbol-offered"></div> <div class="symbol-content">The job is offered to you</div></div>-->
                    <!--{% elif object.status == 8 %}  &lt;!&ndash; Hired !&ndash;&gt;-->
                        <!--<div><div class="job-symbol symbol-hired"></div> <div class="symbol-content">You have been hired for this lesson</div></div>-->
                    <!--{% elif object.status == 9 %}  &lt;!&ndash; Shortlisted !&ndash;&gt;-->
                        <!--<div><div class="job-symbol symbol-shortlisted"></div> <div class="symbol-content">Your application has been shortlisted</div></div>-->
                    <!--{% elif object.status == 10 %}  &lt;!&ndash; Rejected Application !&ndash;&gt;-->
                        <!--<div><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">Application Rejected</div></div>-->
                    <!--{% elif object.status == 12 %}  &lt;!&ndash; Rejected Offer !&ndash;&gt;-->
                        <!--<div><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">You have rejected the offer</div></div>-->
                    <!--{% elif object.status == 13 %}-->
                        <!--<div><div class="job-symbol symbol-withdrawn"></div> <div class="symbol-content">Application withdrawn by you</div></div>-->
                    <!--{% endif %}-->
                <!--</div>-->


                <!--<div style="padding-top: 23px;">-->
                    <!--<div style="font-size: 17px; font-weight: bold;">Proposed Terms</div>-->
                    <!--<div style="clear: both;">-->
                        <!--<div><b>Rate: </b>{{ object.settlement.price|floatformat:2 }}({{ object.settlement.currency }})</div>-->
                        <!--<div><b>Start Time: </b>{{ object.start_time|fromunix|localtime|format_datetime }}</div>-->
                        <!--<div><b>Duration: </b>{{ object.duration }} min</div>-->
                        <!--<div><b>Repeat: </b>{{ object.render_lesson_repeat_verbal }}</div>-->
                    <!--</div>-->
                    <!--{% if object.message.all.exists %}-->
                    <!--<div><b style="fonts-size: 15px; margin-bottom: 3px;">Message:</b></div>-->
                    <!--<p>-->
                        <!--{{ object.message.all.first.message.msg|safe|truncatechars:300 }}-->
                    <!--</p>-->
                    <!--{% endif %}-->

                    <!--{% if not request.user.champuser.is_tutor %}  &lt;!&ndash; If the current user is student !&ndash;&gt;-->
                        <!--{% if object.tutor_id == request.user.pk %}  &lt;!&ndash;User 2 has accepted and sent job offer and user 1 is waiting!&ndash;&gt;-->

                            <!--{% if object.status == 3 %} &lt;!&ndash; Student has accepted and offered the job !&ndash;&gt;-->
                            <!--<div>-->
                                <!--<span class="btn btn-sm job_application_action offer_form" disabled data-app-id="{{ object.pk }}">Job Offer Sent</span>-->
                                <!--<br/>-->
                                <!--<span class="btn btn-sm btn-info" disabled>You will be notified when the offer is confirmed.</span>-->
                                <!--&lt;!&ndash;<button class="btn btn-sm btn-danger job_application_action confirm_action" data-value="9" data-app-id="{{ object.pk }}">Cancel</button>&ndash;&gt;-->
                            <!--</div>-->
                            <!--{% elif object.status == 4 %} &lt;!&ndash; Student has requested to discuss with changed rate. !&ndash;&gt;-->
                            <!--<div>-->
                                <!--<button class="btn btn-sm btn-success job_application_action offer_form" data-value="3" data-app-id="{{ object.pk }}">Accept and Send Offer</button>-->
                                <!--<button class="btn btn-sm btn-primary job_application_action adjust_form" data-value="4" data-app-id="{{ object.pk }}">Adjust</button>-->
                                <!--<button class="btn btn-sm btn-danger job_application_action confirm_action" data-value="5" data-app-id="{{ object.pk }}">Reject</button>-->
                            <!--</div>-->
                            <!--{% elif object.status == 5 %} &lt;!&ndash; Student has rejected the job application !&ndash;&gt;-->
                            <!--<div>-->
                                <!--<button class="btn btn-sm btn-danger job_application_action">You have rejected this application</button>-->
                            <!--</div>-->
                            <!--{% endif %}-->
                        <!--{% else %}-->
                            <!--{% if object.status == 7 %} &lt;!&ndash; Student has rejected the job application !&ndash;&gt;-->
                            <!--<div>-->
                                <!--<span class="btn btn-sm  job_application_action" disabled>Tutor has rejected the job offer.</span>-->
                                <!--<br/>-->
                                <!--<button class="btn btn-sm btn-success job_application_action offer_form" data-value="3" data-app-id="{{ object.pk }}">Send Offer Again</button>-->
                                <!--<button class="btn btn-sm btn-warning job_application_action adjust_form" data-value="4" data-app-id="{{ object.pk }}">Discuss</button>-->
                                <!--<button class="btn btn-sm btn-danger job_application_action decline_form" data-value="11" data-app-id="{{ object.pk }}">Decline This Application</button>-->
                            <!--</div>-->
                            <!--{% else %}-->
                            <!--<div>-->
                                <!--<button class="btn btn-sm btn-success job_application_action offer_form" data-value="3" data-app-id="{{ object.pk }}">Accept</button>-->
                                <!--<button class="btn btn-sm btn-primary job_application_action adjust_form" data-value="4" data-app-id="{{ object.pk }}" data-form="required" data-target="adjust">Change Rate</button>-->
                                <!--<button class="btn btn-sm btn-danger job_application_action decline_form" data-value="11" data-app-id="{{ object.pk }}">Decline</button>-->
                            <!--</div>-->
                            <!--{% endif %}-->
                        <!--{% endif %}-->
                    <!--{% else %}  &lt;!&ndash; If the current user is tutor !&ndash;&gt;-->
                        <!--{% if object.tutor_id == request.user.pk %}-->
                             <!--{% if object.status == 1 %} &lt;!&ndash; Pending !&ndash;&gt;-->
                                <!--<ul class="list-inline job-status-list" style="display: inline;">-->
                                    <!--<input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.job_set.all.first.pk }}"/>-->
                                    <!--<input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.job_set.all.first.posted_by.pk }}"/>-->
                                    <!--<input type="hidden" name="online_status" value="{{ object.job_set.all.first.posted_by.champuser.render_online_status_verbal }}"/>-->
                                    <!--<input type="hidden" name="tutor_name" value="{{ object.job_set.all.first.posted_by.champuser.fullname }}"/>-->
                                    <!--<input type="hidden" name="tutor_pp" value="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}"/>-->
                                    <!--<input class="userid" type="hidden" value="{{ object.job_set.all.first.posted_by.pk }}"/>-->
                                    <!--<li class="job_application_withdraw" data-user-id="{{ request.user.pk }}"><a class="btn btn-primary" style="color: white;" href="#">Withdraw Application</a></li>-->
                                <!--</ul>-->
                            <!--</ul>-->
                            <!--{% elif object.status == 2 %} &lt;!&ndash; Applied !&ndash;&gt;-->
                                <!--<ul class="list-inline job-status-list" style="display: inline;">-->
                                    <!--<input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.job_set.all.first.pk }}"/>-->
                                    <!--<input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.job_set.all.first.posted_by.pk }}"/>-->
                                    <!--<input type="hidden" name="online_status" value="{{ object.job_set.all.first.posted_by.champuser.render_online_status_verbal }}"/>-->
                                    <!--<input type="hidden" name="tutor_name" value="{{ object.job_set.all.first.posted_by.champuser.fullname }}"/>-->
                                    <!--<input type="hidden" name="tutor_pp" value="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}"/>-->
                                    <!--<input class="userid" type="hidden" value="{{ object.job_set.all.first.posted_by.pk }}"/>-->
                                    <!--<li class="job_application_withdraw" data-user-id="{{ request.user.pk }}"><a href="#">Withdraw Application</a></li>-->
                                <!--</ul>-->
                            <!--{% elif object.status == 3 and object.status == 5 %} &lt;!&ndash; Cancelled or Rejected !&ndash;&gt;-->

                            <!--{% elif object.status == 6 %} &lt;!&ndash; Negotiating !&ndash;&gt;-->
                                <!--<ul class="list-inline job-status-list" style="display: inline;">-->
                                    <!--<input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.job_set.all.first.pk }}"/>-->
                                    <!--<input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.job_set.all.first.posted_by.pk }}"/>-->
                                    <!--<input type="hidden" name="online_status" value="{{ object.job_set.all.first.posted_by.champuser.render_online_status_verbal }}"/>-->
                                    <!--<input type="hidden" name="tutor_name" value="{{ object.job_set.all.first.posted_by.champuser.fullname }}"/>-->
                                    <!--<input type="hidden" name="tutor_pp" value="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}"/>-->
                                    <!--<input class="userid" type="hidden" value="{{ object.job_set.all.first.posted_by.pk }}"/>-->
                                    <!--<li class="job_apply"><a href="#">Apply</a></li>|-->
                                    <!--<li class="job_application_message"><a href="#">Message</a></li>-->
                                    <!--{% if invite_type == "INVITED" %}-->
                                    <!--|<li class="job_reject"><a href="#">Reject</a></li>-->
                                    <!--{% endif %}-->
                                <!--</ul>-->
                            <!--{% elif object.status == 7 %}  &lt;!&ndash; Offered by the student !&ndash;&gt;-->
                                <!--<ul class="list-inline job-status-list" style="display: inline;">-->
                                    <!--<input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.job_set.all.first.pk }}"/>-->
                                    <!--<input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.job_set.all.first.posted_by.pk }}"/>-->
                                    <!--<input type="hidden" name="online_status" value="{{ object.job_set.all.first.posted_by.champuser.render_online_status_verbal }}"/>-->
                                    <!--<input type="hidden" name="tutor_name" value="{{ object.job_set.all.first.posted_by.champuser.fullname }}"/>-->
                                    <!--<input type="hidden" name="tutor_pp" value="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}"/>-->
                                    <!--<input class="userid" type="hidden" value="{{ object.job_set.all.first.posted_by.pk }}"/>-->
                                    <!--<li><a href="{% url "job_offer_details" object.job_set.all.first.pk request.user.pk %}">Review and Accept Offer</a></li>|-->
                                    <!--<li class="job_application_message"><a href="#">Message</a></li>-->
                                <!--</ul>-->
                            <!--{% elif object.status == 8 %}  &lt;!&ndash; Hired !&ndash;&gt;-->
                                <!--<ul class="list-inline job-status-list" style="display: inline;">-->
                                    <!--<li><label><span class="glyphicon glyphicon-ok" style="color: green;"></span> You have been hired for this lesson</label></li>-->
                                <!--</ul>-->
                            <!--{% elif object.status == 9 %}  &lt;!&ndash; Shortlisted !&ndash;&gt;-->
                                <!--<ul class="list-inline job-status-list" style="display: inline;">-->
                                    <!--<input type="hidden" name="hidden_job_post_id" value="{{ object.job_set.all.first.pk }}"/>-->
                                    <!--<input type="hidden" name="tutor_id" value="{{ object.job_set.all.first.posted_by.pk }}"/>-->
                                    <!--<input type="hidden" name="online_status" value="{{ object.job_set.all.first.posted_by.champuser.render_online_status_verbal }}"/>-->
                                    <!--<input type="hidden" name="tutor_name" value="{{ object.job_set.all.first.posted_by.champuser.fullname }}"/>-->
                                    <!--<input type="hidden" name="tutor_pp" value="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}"/>-->
                                    <!--<input class="userid" type="hidden" value="{{ object.job_set.all.first.posted_by.pk }}"/>-->
                                    <!--<li class="job_application_withdraw" data-user-id="{{ request.user.pk }}"><a href="#">Withdraw Application</a></li>-->
                                <!--</ul>-->
                            <!--{% elif object.status == 10 %}  &lt;!&ndash; Rejected Application !&ndash;&gt;-->
                                <!--<ul class="list-inline job-status-list" style="display: inline;">-->
                                    <!--<input type="hidden" name="hidden_job_post_id" value="{{ object.job_set.all.first.pk }}"/>-->
                                    <!--<input type="hidden" name="tutor_id" value="{{ object.job_set.all.first.posted_by.pk }}"/>-->
                                    <!--<input type="hidden" name="online_status" value="{{ object.job_set.all.first.posted_by.champuser.render_online_status_verbal }}"/>-->
                                    <!--<input type="hidden" name="tutor_name" value="{{ object.job_set.all.first.posted_by.champuser.fullname }}"/>-->
                                    <!--<input type="hidden" name="tutor_pp" value="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}"/>-->
                                    <!--<input class="userid" type="hidden" value="{{ object.job_set.all.first.posted_by.pk }}"/>-->
                                    <!--<li class="job_application_view"><a href="#">View Job Application</a></li>-->
                                <!--</ul>-->
                            <!--{% elif object.status == 12 %}  &lt;!&ndash; Rejected Offer !&ndash;&gt;-->

                            <!--{% elif object.status == 13 %}  &lt;!&ndash; Application Withdrawn !&ndash;&gt;-->

                            <!--{% endif %}-->
                        <!--{% endif %}-->
                    <!--{% endif %}-->


                    <!--{% if request.user.champuser.is_tutor %}-->
                    <!--<div>-->
                        <!--<h4 style="font-size: 13px; font-weight: bold;">Student Details</h4>-->
                        <!--<a title="{{ object.job_set.all.first.posted_by.champuser.fullname }}" href="{% url "user_profile" pk=object.job_set.all.first.posted_by.pk %}"><img src="{{ object.job_set.all.first.posted_by.champuser.render_profile_picture }}" width="130" height="130"/></a>-->
                        <!--<div><a href="{% url "user_profile" pk=object.job_set.all.first.posted_by.pk %}">{{ object.job_set.all.first.posted_by.champuser.fullname }}</a></div>-->
                        <!--<div><b>From:</b> {{ object.job_set.all.first.posted_by.champuser.nationality.name }}({{ object.job_set.all.first.posted_by.champuser.timezone }})</div>-->
                    <!--</div>-->
                    <!--{% else %}-->
                    <!--<div>-->
                        <!--<h3>About the tutor</h3>-->
                        <!--<a title="{{ request.user.champuser.fullname }}" href="{% url "user_profile" pk=request.user.pk %}"><img src="{{ request.user.champuser.render_profile_picture }}" width="130" height="130"/></a>-->
                        <!--<div><a href="{% url "user_profile" pk=object.tutor.pk %}">{{ object.tutor.champuser.fullname }}</a></div>-->
                        <!--<div>From <b>{{ object.tutor.champuser.nationality.name }}</b>({{ object.tutor.champuser.timezone }})</div>-->
                        <!--<div>Total 200 hours tutored</div>-->
                        <!--<div>Rating <b>{{ object.tutor.champuser.calculate_rating|floatformat:2 }}/5.00</b></div>-->
                    <!--</div>-->
                    <!--{% endif %}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
<script>
    $(document).ready(function() {

        $("form[name=job_application_message_reply]").submit(function(e) {
            var msg = $(this).find("textarea[name=job_application_message]").val();
            if($.trim(msg) == "") {
                $(this).find("textarea[name=job_application_message]").focus();
                return false;
            }
            var url = "{% url "job_application_reply_view" object.job_set.first.pk object.pk  %}";
            $(this).prop("action",url);
            return true;
        });


        // Configure/customize these variables.
        var showChar = 300; // How many characters are shown by default
        var ellipsestext = "...";
        var moretext = "Show more >";
        var lesstext = "Show less";


        $('.more').each(function() {
            var content = $(this).html();

            if(content.length > showChar) {

                var c = content.substr(0, showChar);
                var h = content.substr(showChar, content.length - showChar);

                var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                $(this).html(html);
            }

        });

        $(".morelink").click(function(){
            if($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });

       var file_ = $("#id_attached_file").clone();
    var file_index = 1;
    var max_files_count = 10;
    var files_count = 0;

    $("#id_attach_file").click(function(e){
        e.preventDefault();
        $("#id_attached_file").click();
    });

    $(document).on("change","#id_attached_file",function(e){
        var _this = $(this);
        var files = $(this).prop("files");
        var clone = $(this).clone();
        _this.removeProp("id");
        console.log($(clone).prop("files").length);
        console.log(files.length);
        for(var j = 0 ; j < files.length ; j++){
            _this.prop("name", _this.prop("name") + file_index);
            var html = "<div style='width: 100%; margin-top: 4px; padding: 10px;'><span style='width: 230px;' class='pull-left'>"+ files[j].name +"</span><i class='glyphicon glyphicon-remove pull-right cancel-file' data-index='"+ file_index +"' style='cursor: pointer;'></i></div>";
            _this.css("display","none");
            $("#id_attached_files").append(html);
            $("#id_attached_files").append(_this);
            files_count ++;
            if(files_count >= max_files_count){
                $("#id_file_input_container_hint").show();
                $("#id_file_input_container").hide();
            }
            else{
                $("#id_file_input_container_hint").hide();
                $("#id_file_input_container").show();
            }
        }
        $("#id_file_input_container").append(clone);
        file_index ++;
    });

    $(document).on("click",".cancel-file", function(e){
        var _this_index = $(this).data("index");
        var target_name = file_.prop("name")+_this_index;
        $("input[name="+target_name+"]").remove();
        $(this).parent().remove();
        files_count --;
        if(files_count < max_files_count){
            $("#id_file_input_container_hint").hide();
            $("#id_file_input_container").show();
        }
    });

    });
</script>
<div id="id_ajax_rendered_content" style="display: none;"></div>
<div id="black_overlay"></div>
<div id="id_overlay_loading" style="display: none; background: black; opacity: 0.5; position: fixed; width: 100%; height: 100%; left: 0px; right: 0px; top: 0px; bottom: 0px; z-index: 10001;">
    <div style="width: 200px; height: 200px; position: absolute; left: 40%; top: 30%; font-size: 17px; font-weight: bold; color:#fff;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Please wait...</div>
</div>
{% endblock bodycontent %}