{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load jobtags %}
{% block script_head_extra %}

<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
<link href="{% static "css/job_status.css" %}" rel="stylesheet">

<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
<script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/job.js" %}"></script>
<script type="text/javascript" src="{% static "js/job_details_action_.js" %}"></script>

<style>
    .job_posted_by_user {
        text-decoration: none;
        font-weight: bold;
    }
    .dfrnt_tag {
        padding-left: 8px !important;
    }
    .invite_button {
        color: #ffffff !important;
    }
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        background: white;
        z-index: 1000000;
    }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
    * html .ui-autocomplete {
        max-height: 200px;
    }

    .job-status-list li a {
        font-size: 14px;
        color: green !important;
    }

    h2 {
        font-size: 17px;
        font-weight: bold;
    }

    .active {
        font-weight: bold;
    }

    .active a {
        font-weight: bold;
    }

    #id_job_content {
        min-height: 700px;
    }




</style>

<script>
$(document).ready(function(){

    $(document).on("click",".start_negotiation", function(e) {
        e.preventDefault();
        if(window.champ_user_id != undefined && window.champ_user_id != -1) {
            //get the tutor's user_id value.
            var uid = $(this).parent().parent().parent().find(".tutor_id").val();
            var offline_status = true; //Say user is offline
            var offline_status_found = $(this).parent().parent().parent().find(".online_status").val();

            if(offline_status_found == "online"){
                offline_status = false;
            }

            uid = parseInt(uid);

            //console.log(window.chat_boxes);

            if(!window.chat_boxes.hasOwnProperty(uid))
            {
                var tutor_name = $(this).parent().parent().parent().find(".tutor_name").val();
                var img_src = $(this).parent().parent().parent().find("tutor_pp").val();
                var chat_object = {user_id:uid,name: tutor_name,img_url: img_src};
                //console.log(chat_object);
                var chat = new Chat();
                var uids = [uid];
                chat.remote_peers = uids;
                chat.addNewChat(chat_object,offline_status);
                //window.chat_boxes[uid] = chat;
            }
            else
            {
                window.chat_boxes[uid].show();
                window.chat_boxes[uid].focusInput();
            }
            //console.log(window.chat_boxes[uid].window_minimized);
        }
        else {
            show_signin();
        }
    });
});
</script>
{% endblock script_head_extra %}
{% block bodycontent %}
<div class="contnt">
    <div class="container" style="min-height: 600px;">
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10">
                <div style="float: left;">
                    <img src="{{ job.posted_by.champuser.render_profile_picture }}">
                </div>
                <div style="float: left; margin-left: 13px;">
                    <div><a href="{{ job.posted_by.champuser.profile_url }}"><span style="font-weight: bold; font-size: 17px;">{{ job.posted_by.champuser.fullname }}</span></a></div>
                    <div>{{ job.posted_by.champuser.current_school }}</div>
                    <div>{{ job.posted_by.champuser.date_created|fromunix|localtime|format_datediff }} years old</div>
                </div>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-12" id="id_left_sidebar">
                        <div>
                            <h2>
                            {{ job.title }}{% if job.lesson_type == 0 %}<span class="radius3" style='color: green; font-weight: bold; font-size: 17px;'>(Live Lesson)</span>{% else %}<span class="radius3" style='color: green; font-weight: bold; font-size: 17px;'>(Written Lesson)</span>{% endif %}
                            </h2>
                            <section>
                                <p style="color: #202020;">{{ job.description|linebreaksbr }}</p>
                            </section>
                            <div style="width: 100%; display: block;">
                                <span class="dfrnt_tag radius3"><b style="color: #333333;">Repeat: &nbsp;</b>
                                {{ job.render_lesson_repeat_verbal }}
                                </span>
                                {% if job.preference %}
                                    <span class="dfrnt_tag radius3"><b style="color: #333333;">Nationality: &nbsp;</b>
                                    {% for country in job.preference.nationalities.all %}
                                    {{ country.name }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                    {% endfor %}
                                    </span>
                                    {% if job.preference.rate %}
                                    <span class="dfrnt_tag radius3">{{ job.preference.currency }} {{ job.preference.rate.rate_value }}</span>
                                    {% endif %}
                                    {% if job.preference.gender %}
                                    <span class="dfrnt_tag radius3" style="color: #333333;">Gender: {{ job.preference.gender }}</span>
                                    {% endif %}
                                    {% if job.preference.timezones.all %}
                                    <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Timezone:</span>
                                    {% for tz in job.preference.timezones.all %}
                                    {{ tz.value.strip }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                    {% endfor %}
                                    </span>
                                    {% endif %}
                                    {% if job.preference.currency %}
                                    <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Currency: {{ job.preference.currency }}</span></span>
                                    {% endif %}
                                    {% if job.preference.languages.exists %}
                                    <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Language:</span>
                                    {% for lang in job.preference.languages.all %}
                                    {{ lang.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                    {% endfor %}
                                    </span>
                                    {% endif %}
                                    {% if job.preference.availability %}
                                    <span class="dfrnt_tag radius3" style='color: green;'>Availability: {% if job.preference.availability == 1 %}Available{% elif job.preference.availability == 2 %}Ready To Teach{% else %}Any%{% endif %}</span>
                                    {% endif %}
                                    {% if job.preference.subjects.exists %}
                                    <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Subjects:</span>
                                    {% for s in job.preference.subjects.all %}
                                    {{ s.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                    {% endfor %}
                                    </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div style="width: 100%; display: block; float: left; margin-bottom: 13px;">
                            {% if job.job_attachment.exists %}
                            <h4>Attachment(s):</h4>
                                <div>
                                    {% for attachment in job.job_attachment.all %}
                                        {% if attachment.thumbnail %}
                                            <a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}"/></a>
                                        {% else %}
                                            <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {% if job.lesson_time %}
                        <div style="width: 100%; display: block; float: left;">
                            <p>Start Date: {{ job.lesson_time|fromunix|localtime|format_datetime }}</p>
                        </div>
                        {% endif %}
                        {% if job.lesson_duration %}
                        <div style="width: 100%; display: block; float: left;">
                            <p>Duration: {{ job.lesson_duration }}</p>
                        </div>
                        {% endif %}
                        {% if job.other_students.exists %}
                        <div style="width: 100%; display: block; float: left; margin-top: 13px;">
                            <div style="font-weight: bold; font-size: 23px;">Students</div>
                            <hr/>
                            <div>
                                <div style="width: 100px; float: left;">
                                    <div><img src="{{ job.posted_by.champuser.render_profile_picture }}" width="70" height="70"/></div>
                                    <a style="width: 100%;" href="{{ job.posted_by.champuser.profile_url }}">{{ job.posted_by.champuser.fullname }}</a>
                                </div>
                                {% for student in job.other_students.all %}
                                    <div style="width: 100px; float: left;">
                                        <div><img src="{{ student.champuser.render_profile_picture }}" width="70" height="70"/></div>
                                        <a style="width: 100%;" href="{{ student.champuser.profile_url }}">{{ student.champuser.fullname }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% if invite_type == "INVITED" or invite_type == "RECOMMENDED" %}
                            <div style="width: 100%; display: block; float: left; margin-top: 13px;">
                                {% if show_action_bar %}
                                {% if status == 1 %} <!-- Pending !-->
                                <ul class="list-inline job-status-list" style="display: inline;">
                                    <input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ job.pk }}"/>
                                    <input type="hidden" name="tutor_id" class="tutor_id" value="{{ job.posted_by.pk }}"/>
                                    <input type="hidden" name="online_status" value="{{ job.posted_by.champuser.render_online_status_verbal }}"/>
                                    <input type="hidden" name="tutor_name" value="{{ job.posted_by.champuser.fullname }}"/>
                                    <input type="hidden" name="tutor_pp" value="{{ job.posted_by.champuser.render_profile_picture }}"/>
                                    <input class="userid" type="hidden" value="{{ job.posted_by.pk }}"/>
                                    <li class="job_apply"><a href="#">Apply</a></li>
                                    <li class="job_application_negotiate"><a href="#">Negotiate</a></li>
                                    {% if invite_type == "INVITED" %}
                                    |<li class="job_reject"><a href="#">Reject</a></li>
                                    {% endif %}
                                </ul>
                                {% elif status == 2 %} <!-- Applied !-->
                                    <ul class="list-inline job-status-list" style="display: inline;">
                                        <input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ job.pk }}"/>
                                        <input type="hidden" name="tutor_id" class="tutor_id" value="{{ job.posted_by.pk }}"/>
                                        <input type="hidden" name="online_status" value="{{ job.posted_by.champuser.render_online_status_verbal }}"/>
                                        <input type="hidden" name="tutor_name" value="{{ job.posted_by.champuser.fullname }}"/>
                                        <input type="hidden" name="tutor_pp" value="{{ job.posted_by.champuser.render_profile_picture }}"/>
                                        <input class="userid" type="hidden" value="{{ job.posted_by.pk }}"/>
                                        <li class="job_application_withdraw" data-user-id="{{ request.user.pk }}"><a href="#">Withdraw Application</a></li>
                                    </ul>
                                {% elif status == 3 and status == 5 %} <!-- Cancelled or Rejected !-->

                                {% elif status == 6 %} <!-- Negotiating !-->
                                    <ul class="list-inline job-status-list" style="display: inline;">
                                        <input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ job.pk }}"/>
                                        <input type="hidden" name="tutor_id" class="tutor_id" value="{{ job.posted_by.pk }}"/>
                                        <input type="hidden" name="online_status" value="{{ job.posted_by.champuser.render_online_status_verbal }}"/>
                                        <input type="hidden" name="tutor_name" value="{{ job.posted_by.champuser.fullname }}"/>
                                        <input type="hidden" name="tutor_pp" value="{{ job.posted_by.champuser.render_profile_picture }}"/>
                                        <input class="userid" type="hidden" value="{{ job.posted_by.pk }}"/>
                                        <li class="job_apply"><a href="#">Apply</a></li>|
                                        <li class="job_application_message"><a href="#">Message</a></li>
                                        {% if invite_type == "INVITED" %}
                                        |<li class="job_reject"><a href="#">Reject</a></li>
                                        {% endif %}
                                    </ul>
                                {% elif status == 7 %}  <!-- Offered by the student !-->
                                    <ul class="list-inline job-status-list" style="display: inline;">
                                        <input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ job.pk }}"/>
                                        <input type="hidden" name="tutor_id" class="tutor_id" value="{{ job.posted_by.pk }}"/>
                                        <input type="hidden" name="online_status" value="{{ job.posted_by.champuser.render_online_status_verbal }}"/>
                                        <input type="hidden" name="tutor_name" value="{{ job.posted_by.champuser.fullname }}"/>
                                        <input type="hidden" name="tutor_pp" value="{{ job.posted_by.champuser.render_profile_picture }}"/>
                                        <input class="userid" type="hidden" value="{{ job.posted_by.pk }}"/>
                                        <li><a href="{% url "job_offer_details" job.pk request.user.pk %}">Review and Accept Offer</a></li>|
                                        <li class="job_application_message"><a href="#">Message</a></li>
                                    </ul>
                                {% elif status == 8 %}  <!-- Hired !-->
                                    <ul class="list-inline job-status-list" style="display: inline;">
                                        <li><label><span class="glyphicon glyphicon-ok" style="color: green;"></span> You have been hired for this lesson</label></li>
                                    </ul>
                                {% elif status == 9 %}  <!-- Shortlisted !-->
                                    <ul class="list-inline job-status-list" style="display: inline;">
                                        <input type="hidden" name="hidden_job_post_id" value="{{ job.pk }}"/>
                                        <input type="hidden" name="tutor_id" value="{{ job.posted_by.pk }}"/>
                                        <input type="hidden" name="online_status" value="{{ job.posted_by.champuser.render_online_status_verbal }}"/>
                                        <input type="hidden" name="tutor_name" value="{{ job.posted_by.champuser.fullname }}"/>
                                        <input type="hidden" name="tutor_pp" value="{{ job.posted_by.champuser.render_profile_picture }}"/>
                                        <input class="userid" type="hidden" value="{{ job.posted_by.pk }}"/>
                                        <li class="job_application_withdraw" data-user-id="{{ request.user.pk }}"><a href="#">Withdraw Application</a></li>
                                    </ul>
                                {% elif status == 10 %}  <!-- Rejected Application !-->
                                    <ul class="list-inline job-status-list" style="display: inline;">
                                        <input type="hidden" name="hidden_job_post_id" value="{{ job.pk }}"/>
                                        <input type="hidden" name="tutor_id" value="{{ job.posted_by.pk }}"/>
                                        <input type="hidden" name="online_status" value="{{ job.posted_by.champuser.render_online_status_verbal }}"/>
                                        <input type="hidden" name="tutor_name" value="{{ job.posted_by.champuser.fullname }}"/>
                                        <input type="hidden" name="tutor_pp" value="{{ job.posted_by.champuser.render_profile_picture }}"/>
                                        <input class="userid" type="hidden" value="{{ job.posted_by.pk }}"/>
                                        <li class="job_application_view"><a href="#">View Job Application</a></li>
                                    </ul>
                                {% elif status == 12 %}  <!-- Rejected Offer !-->

                                {% endif %}
                                <div style="height: 20px;"></div>
                                {% if status == 1 %}  <!-- Pending !-->
                                    <div><div class="job-symbol symbol-pending"></div> <div class="symbol-content">Pending</div></div>
                                {% elif status == 2 %}  <!-- Applied !-->
                                    <div><div class="job-symbol symbol-applied"></div> <div class="symbol-content">Applied</div><a style="margin-left: 13px;" href="{{ application_url }}">View job application</a></div>
                                {% elif status == 3 %}  <!-- Cancelled !-->
                                    <div><div class="job-symbol symbol-cancelled"></div> <div class="symbol-content">Cancelled</div></div>
                                {% elif status == 5 %}  <!-- Rejected !-->
                                    <div><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">Rejected</div></div>
                                {% elif status == 6 %}  <!-- Negotiating !-->
                                    <div><div class="job-symbol symbol-negotiating"></div> <div class="symbol-content">Negotiating</div></div>
                                {% elif status == 7 %}  <!-- Offered by the student !-->
                                    <div><div class="job-symbol symbol-offered"></div> <div class="symbol-content">Offered</div></div>
                                {% elif status == 8 %}  <!-- Hired !-->
                                    <div><div class="job-symbol symbol-hired"></div> <div class="symbol-content">Hired</div></div>
                                {% elif status == 9 %}  <!-- Shortlisted !-->
                                    <div><div class="job-symbol symbol-shortlisted"></div> <div class="symbol-content">Shortlisted</div></div>
                                {% elif status == 10 %}  <!-- Rejected Application !-->
                                    <div><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">Application Rejected</div></div>
                                {% elif status == 12 %}  <!-- Rejected Offer !-->
                                    <div><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">Offer Rejected</div></div>
                                {% elif status == 13 %}
                                    <div><div class="job-symbol symbol-withdrawn"></div> <div class="symbol-content">Application withdrawn by you</div></div>
                                {% endif %}
                                {% endif %}
                            </div>
                        {% else %}
                            {% if status == 2 or status == 9 %}  <!-- Applied !-->
                                    <span class="champ_applied job_status_x">Applied</span>
                                    <input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.pk }}"/>
                                    <input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.posted_by.pk }}"/>
                                    <input type="hidden" name="online_status" value="{{ object.posted_by.champuser.render_online_status_verbal }}"/>
                                    <input type="hidden" name="tutor_name" value="{{ object.posted_by.champuser.fullname }}"/>
                                    <input type="hidden" name="tutor_pp" value="{{ object.posted_by.champuser.render_profile_picture }}"/>
                                    <input class="userid" type="hidden" value="{{ object.posted_by.pk }}"/>
                                    <span style="padding-left: 0px !important;float: right; margin-top: -7px;">Action
                                    <select data-user-id="{{ request.user.pk }}" name="tutor_action" class="job_details_action" style="padding: 7px; border: 2px solid #B7B3B3; cursor:pointer;">
                                    <option value="">Select Action</option>
                                    <option value="withdraw">Withdraw</option>
                                    </select>
                                    </span>
                            {% elif status == 5 %}  <!-- Rejected !-->
                                    <span class="champ_rejected job_status_x">Rejected</span>
                            {% elif status == 8 %}  <!-- Hired !-->
                                    <span class="champ_matched job_status_x">Hired</span>
                            {% else %}
                                    {% if show_public_apply %}
                                        <input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.pk }}"/>
                                        <input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.posted_by.pk }}"/>
                                        <input type="hidden" name="online_status" value="{{ object.posted_by.champuser.render_online_status_verbal }}"/>
                                        <input type="hidden" name="tutor_name" value="{{ object.posted_by.champuser.fullname }}"/>
                                        <input type="hidden" name="tutor_pp" value="{{ object.posted_by.champuser.render_profile_picture }}"/>
                                        <input class="userid" type="hidden" value="{{ object.posted_by.pk }}"/>
                                        <span style="padding-left: 0px !important;float: right; margin-top: -7px;">Action
                                            <select name="tutor_action" class="job_details_action" style="padding: 7px; border: 2px solid #B7B3B3; cursor:pointer;">
                                            <option value="">Select Action</option>
                                            <option value="apply">Apply</option>
                                            </select>
                                        </span>
                                    {% endif %}
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
    </div>
</div>

<style>
    #popup_dialog {
        margin-left: 25% !important;
    }
</style>
<div id="id_ajax_rendered_content" style="display: none;"></div>
<div id="black_overlay"></div>
<div id="id_overlay_loading" style="display: none; background: black; opacity: 0.5; position: fixed; width: 100%; height: 100%; left: 0px; right: 0px; top: 0px; bottom: 0px; z-index: 10001;">
    <div style="width: 200px; height: 200px; position: absolute; left: 40%; top: 30%; font-size: 17px; font-weight: bold; color:#fff;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Please wait...</div>
</div>
{% endblock bodycontent %}