{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load jobtags %}
{% block script_head_extra %}

<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
<link href="{% static "css/job_status.css" %}" rel="stylesheet">

<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
<script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/job_offer.js" %}"></script>

<style>
    .job_posted_by_user {
        text-decoration: none;
        font-weight: bold;
    }
    .dfrnt_tag {
        padding-left: 8px !important;
    }
    .invite_button {
        color: #ffffff !important;
    }
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        background: white;
        z-index: 1000000;
    }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
    * html .ui-autocomplete {
        max-height: 200px;
    }

    .job-status-list li a {
        font-size: 14px;
        color: green !important;
    }

    h2 {
        font-size: 17px;
        font-weight: bold;
    }

    .active {
        font-weight: bold;
    }

    .active a {
        font-weight: bold;
    }

    #id_job_content {
        min-height: 700px;
    }




</style>

<script>
$(document).ready(function(){

});
</script>
{% endblock script_head_extra %}
{% block bodycontent %}

<div class="contnt">
<div class="wrapper">

    <div class="champ_last_content_detail">
        <h4 class="champ_finance_heading" style="font-size: 20px;">Job Offer</h4>
        <hr style="clear: both; float: left; width: 100%;"/>
        <h4 class="champ_finance_heading" style="font-size: 17px;">{{ job.title }} <em>({{ job.render_lesson_type_verbal }})</em></h4>
        <p class="champ_last_text">{{ job.description }}
        <a href="{% url "job_post_details" pk=job.pk %}">View Job Posting</a></p>
        <div class="champ_finance_duration">
            <h4>Offer Details</h4>
            <hr/>
            <div class="champ_duration_date">
                        <span class="champ_date_icon"><label>Start Date:</label>
                        <p>{{ offer.start_date|fromunix|localtime|format_datetime }}</p></span>
                    </div>
            <div class="champ_duration_date">
                        <span class="champ_duration_icon"><label>duration:</label>
                        <p>{{ offer.duration }} minutes</p></span>
                    </div>
            <div class="champ_duration_date">
                <span class="champ_rate_icon"><label>Rate:</label>
                <p>${{ offer.rate|floatformat:2 }}({{ offer.rate_currency }})</p></span>
            </div>

            <div class="champ_duration_date">
                <label>Repeat:</label>
                <p>{{ offer.render_repeat_verbal }} Lesson</p>
            </div>
        </div>
        <div class="champ_finance_duration">
            <h4>Message from student</h4>
            <br/>
            <p>
                {{ offer.message|linebreaks }}
            </p>
        </div>
        <div class="champ_finance_duration">
            {% if show_offer_actions %}
                {% if offer.status == 1 %} <!-- Active !-->
                <form name="job_offer_accept_form" action="{% url "job_offer_details"  job.pk request.user.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="job_id" class="job_id" value="{{ job.pk }}"/>
                    <input type="hidden" name="offer_id" class="offer_id" value="{{ offer.pk }}"/>
                    <input type="hidden" name="user_id" class="user_id" value="{{ request.user.pk }}"/>
                    <div id="id_left_sidebar">
                        <ul class="list-inline job-status-list" style="display: inline;">
                            <li class="job_offer_accept"><a href="#" class="champ_finance_view" style="color: white !important;">Accept Offer</a></li>
                            <li class="job_offer_reject"><a href="#" class="champ_finance_view btn-danger" style="background: #d9534f; color: white !important;">Reject</a></li>
                        </ul>
                    </div>
                </form>
                {% elif offer.status == 8 %} <!-- Hired !-->
                    <ul class="list-inline job-status-list" style="display: inline;">
                        <li><label><span class="glyphicon glyphicon-ok" style="color: green;"></span> You have been hired for this lesson</label></li>
                    </ul>
                    <div><div class="job-symbol symbol-hired"></div> <div class="symbol-content">Hired</div></div>
                    </div>
                {% elif offer.status == 12 %} <!-- Offer Rejected !-->
                    <div><div class="job-symbol symbol-rejected"></div> <div class="symbol-content">You have rejected this job offer</div></div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock bodycontent %}