{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load jobtags %}
{% block script_head_extra %}

<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link href="{% static "css/job_status.css" %}" rel="stylesheet">

<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
<script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.sticky-kit.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/job_details_action_.js" %}"></script>
<script type="text/javascript" src="{% static "js/job_invite.js" %}"></script>

<style>
    .job_posted_by_user {
        text-decoration: none;
        font-weight: bold;
    }
    .dfrnt_tag {
        padding-left: 8px !important;
    }
    .invite_button {
        color: #ffffff !important;
    }
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        background: white;
        z-index: 1000000;
    }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
    * html .ui-autocomplete {
        max-height: 200px;
    }

    .job-status-list li a {
        font-size: 14px;
        color: green !important;
    }

    h2 {
        font-size: 17px;
        font-weight: bold;
    }

    .active {
        font-weight: bold;
    }

    .active a {
        font-weight: bold;
    }

    #id_job_content {
        min-height: 700px;
    }
</style>

<script>
$(document).ready(function(){

    $(document).on("click",".start_negotiation", function(e) {
        e.preventDefault();
        if(window.champ_user_id != undefined && window.champ_user_id != -1) {

            var job_id = $(this).parent().find("input[name=hidden_job_post_id]").val();
            $.ajax({
                type: "POST",
                url: "/ajax/update_status_negotiating/",
                data: { job_id: job_id },
                enctype: 'multipart/form-data',
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    if(data.status == "SUCCESS") {

                    }
                    else {

                    }
                },
                error: function(jqxhr, status, error)
                {

                }
            })
            .done(function( msg ) {

            });

            //get the tutor's user_id value.
            var uid = $(this).parent().parent().parent().find(".tutor_id").val();
            var offline_status = true; //Say user is offline
            var offline_status_found = $(this).parent().parent().parent().find(".online_status").val();

            if(offline_status_found == "online"){
                offline_status = false;
            }

            uid = parseInt(uid);

            //console.log(window.chat_boxes);

            if(!window.chat_boxes.hasOwnProperty(uid))
            {
                var tutor_name = $(this).parent().parent().parent().find(".tutor_name").val();
                var img_src = $(this).parent().parent().parent().find("tutor_pp").val();
                var chat_object = {user_id:uid,name: tutor_name,img_url: img_src};
                //console.log(chat_object);
                var chat = new Chat();
                var uids = [uid];
                chat.remote_peers = uids;
                chat.addNewChat(chat_object,offline_status);
                //window.chat_boxes[uid] = chat;
            }
            else
            {
                window.chat_boxes[uid].show();
                window.chat_boxes[uid].focusInput();
            }
            //console.log(window.chat_boxes[uid].window_minimized);
        }
        else {
            show_signin();
        }
    });

    $("#id_left_sidebar").stick_in_parent({
        offset_top: 100
    });

    /*$(document).on("click",".invite_tutors", function(e) {
        e.preventDefault();
        $("#black_overlay").show();
        $("#snd_msg").show();
        $("#id_invite_tutor_text").focus();
        $("#id_invite_tutor_text").parent().find(".tags").html("");
    });

    $("#id_cancel_invite_users").click(function(e){
        e.preventDefault();
        $("#black_overlay").hide();
        $("#snd_msg").hide();
    });*/

    $(document).on("click",".tag_close", function(e){
        $(this).parent().remove();
    });

    function collect_exclude_list() {
        exclude_str = window.champ_user_id+",";;
        $( "#id_invite_tutor_text" ).parent().find(".tags").find("input").each(function(e){
                    exclude_str += $(this).val()+",";
        });
        return exclude_str;
    }

    function format_exclude_list(list) {
                var str = "";
                if(list != undefined && list != null) {
                    for(var i = 0 ; i < list.length ; i++) {
                    str += list[i];
                    if(i < list.length -1) {
                        str += ","
                    }
                }
                console.log(str);
                }
                return str;
            }


            $("#id_invite_tutor_text").select2({
                  width: 550,
                  height: 90,
                  placeholder: "Type Name",
                  ajax: {
                    url: "/ajax/tutor-list/",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                      return {
                        q: params.term, // search term,
                        exclude: format_exclude_list($("#id_invite_tutor_text").val())
                      };
                    },
                    processResults: function (data, page) {
                      return {
                            results: $.map(data.items, function(obj) {
                                return { id: obj.id, text: obj.name };
                            })
                        };
                    },
                    cache: true
                  },
                  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                  minimumInputLength: 1,
                }).on("change",function(e){
                    var list = $(this).val();
                    var str = "";
                    if(list != undefined && list != null) {
                        for(var i = 0 ; i < list.length ; i++) {
                            str += list[i];
                            if(i < list.length -1) {
                                str += ","
                            }
                        }
                    }
                    //console.log(str);
                    $("input[name=tutor_list]").val(str);
                });

    //$("#id_job_delete").prop("disabled", false);
    $("#id_job_delete").click(function(e) {
        e.preventDefault();
        var $this = $(this);
        BootstrapDialog.show({
            size: BootstrapDialog.SIZE_NORMAL,
            message: 'Are you sure you want to delete this job?',
            buttons: [{
                label: 'Confirm',
                cssClass: 'btn-danger',
                action: function(){
                    location.href = $this.data("url");
                }
            }, {
                label: 'Close',
                action: function(dialogItself){
                    dialogItself.close();
                }
            }]
        });
    });

    function _do_ajax_search(data, callback, errback, completeback) {
        $.ajax({
            type: "GET",
            url: "{% url "ajax_job_tutor_list" %}",
            data: data,
            success: function(data)
            {
                var data = jQuery.parseJSON(data);
                callback(data);
            },
            error: function(jqxhr, status, error)
            {
                errback(jqxhr, status, error);
            }
        })
        .done(function( msg ) {
            completeback(msg);
        });
    }

    function prepare_search_data() {
        var data = {};
        data["status"] = $("input[name=status_class]").val();
        data["search"] = $("input[name=search_enabled]").val();
        data["q"] = $("input[name=search_keyword_name]").val();
        data["job"] = $("input[name=job_id]").val();
        var view_invited = "1";
        if($("input[name=invited]").is(":checked")) {
            view_invited = "1";
        }
        else {
            view_invited = "0";
        }
        var view_recommended = "1";
        if($("input[name=recommended]").is(":checked")) {
            view_recommended = "1";
        }
        else {
            view_recommended = "0";
        }

         /*if($("input[name=both]").is(":checked")) {
            view_invited = "1";
            view_recommended = "1";
         }*/

         data["view_invited"] = view_invited;
         data["view_recommended"] = view_recommended;

        return data;
    }

    $(".job-status-list li").click(function(e) {
        e.preventDefault();
        var container_id = "id_job_content";

        if($(this).hasClass("all")) {
            $("input[name=status_class]").val("all")
        }
        else if($(this).hasClass("pending")) {
            $("input[name=status_class]").val("pending")
        }
        else if($(this).hasClass("negotiating")) {
            $("input[name=status_class]").val("negotiating")
        }
        else if($(this).hasClass("rejected")) {
            $("input[name=status_class]").val("rejected")
        }
        else if($(this).hasClass("applied")) {
            $("input[name=status_class]").val("applied")
        }
        else if($(this).hasClass("shortlisted")) {
            $("input[name=status_class]").val("shortlisted")
        }

        var data = prepare_search_data();

        //console.log(data);

        $("#"+container_id).css("opacity", "0.5");
        $("#"+container_id).css("zoom", "alpha(opacity=50)");
        $("#"+container_id).css("zoom", "1");

        $(this).parent().find("li").each(function(i) {
            $(this).removeClass("active");
        });
        $(this).addClass("active");

        _do_ajax_search(data, function(data) {
            $("#"+container_id).html(data.data);
        },
        function(jqxhr, status, error) {

        },
        function(msg) {
            $("#"+container_id).css("opacity", "1");
            $("#"+container_id).css("zoom", "alpha(opacity=100)");
            $("#"+container_id).css("zoom", "0");
        })

    });


    $("input[class=view_checkbox_flt]").change(function(e) {

        /*if($(this).prop("name") == "both" && $(this).is(":checked")) {
            //$("input[name=invited]").prop("checked", true);
            //$("input[name=recommended]").prop("checked", true);
            $("input[name=invited]").prop("disabled",true);
            $("input[name=recommended]").prop("disabled",true);
        }
        else {
            $("input[name=invited]").prop("disabled",false);
            $("input[name=recommended]").prop("disabled",false);
        }*/

        $("input[name=search_keyword_name]").val("");

        $("input[name=search_enabled]").val("1");

        if(!$("input[name=invited]").is(":checked") && !$("input[name=recommended]").is(":checked")) {
            $("input[name=search_enabled]").val("0");
        }

        var container_id = "id_job_content";

        var data = prepare_search_data();

        //console.log(data);

        $("#"+container_id).css("opacity", "0.5");
        $("#"+container_id).css("zoom", "alpha(opacity=50)");
        $("#"+container_id).css("zoom", "1");

        $(this).parent().find("li").each(function(i) {
            $(this).removeClass("active");
        });
        $(this).addClass("active");

        _do_ajax_search(data, function(data) {
            $("#"+container_id).html(data.data);
        },
        function(jqxhr, status, error) {

        },
        function(msg) {
            $("#"+container_id).css("opacity", "1");
            $("#"+container_id).css("zoom", "alpha(opacity=100)");
            $("#"+container_id).css("zoom", "0");
        })
    });

    $("button[name=job_tutor_search_btn]").click(function(e) {
        e.preventDefault();
        var q = $("input[name=search_keyword_name]").val();
        if($.trim(q) == "") {
            $("input[name=search_keyword_name]").focus();
            return;
        }
        $("input[name=search_enabled]").val("1");

        var container_id = "id_job_content";

        var data = prepare_search_data();

        //console.log(data);

        $("#"+container_id).css("opacity", "0.5");
        $("#"+container_id).css("zoom", "alpha(opacity=50)");
        $("#"+container_id).css("zoom", "1");

        $(this).parent().find("li").each(function(i) {
            $(this).removeClass("active");
        });
        $(this).addClass("active");

        _do_ajax_search(data, function(data) {
            $("#"+container_id).html(data.data);
        },
        function(jqxhr, status, error) {

        },
        function(msg) {
            $("#"+container_id).css("opacity", "1");
            $("#"+container_id).css("zoom", "alpha(opacity=100)");
            $("#"+container_id).css("zoom", "0");
        })
    });

    function _do_initial_call_fetch_tutors() {
        var container_id = "id_job_content";
        var data = prepare_search_data();
        $("#"+container_id).css("opacity", "0.5");
        $("#"+container_id).css("zoom", "alpha(opacity=50)");
        $("#"+container_id).css("zoom", "1");

        $(this).parent().find("li").each(function(i) {
            $(this).removeClass("active");
        });
        $(this).addClass("active");

        _do_ajax_search(data, function(data) {
            $("#"+container_id).html(data.data);
        },
        function(jqxhr, status, error) {

        },
        function(msg) {
            $("#"+container_id).css("opacity", "1");
            $("#"+container_id).css("zoom", "alpha(opacity=100)");
            $("#"+container_id).css("zoom", "0");
        })
    }

    _do_initial_call_fetch_tutors();

});
</script>
{% endblock script_head_extra %}
{% block bodycontent %}
<div id="black_overlay"></div>
<div id="snd_msg">
        <div class="snd_msg_bx">
            <h1 class="lesson_bx_heading">Invite Tutors to the Lesson</h1>
            <form id="id_form_invite_users" method="POST" action="{% url "invite_users_view" %}" class="lesson_bx_form" name="msg_form" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="job_id" value="{{ job.pk }}"/>
                <div>
                    <!--<input type="text" class="form-control" id="id_invite_tutor_text" placeholder="Type tutor name here"/>-->
                    <p>
                        You can send invitation to as many tutors you want. To send invitation type tutor name or email address below and then send.
                    </p>
                    <select class="form-control" id="id_invite_tutor_text" placeholder="Search Tutor To Send Invitation" multiple>
                        <option value="---">Search For Tutor Here</option>
                    </select>
                    <div class="tags">
                    </div>
                </div>
                <div class="text-center">
                    <input type="hidden" name="tutor_list" value=""/>
                    <button class="btn btn-sm btn-primary" style="width: 140px;">Send</button>
                    <button class="btn btn-sm btn-danger" style="width: 140px;" id="id_cancel_invite_users">Cancel</button>
                </div>
            </form>
        </div>
    </div>

<div class="contnt">
    <div class="container" style="min-height: 600px;">
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-5" id="id_left_sidebar">
                        <div>
                            <h2>
                            {{ job.title }}{% if job.lesson_type == 0 %}<span class="radius3" style='color: green; font-weight: bold; font-size: 17px;'>(Live Lesson)</span>{% else %}<span class="radius3" style='color: green; font-weight: bold; font-size: 17px;'>(Written Lesson)</span>{% endif %}
                            {% if job.posted_by_id == request.user.pk %}
                            <div class="dropdown pull-right">
                                <span style="cursor: pointer;" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></span>
                                <ul class="dropdown-menu">
                                  <li><a href="{% url "job_post_edit" pk=job.pk %}"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
                                  <li id="id_job_delete" data-url="{% url "job_post_delete" pk=job.pk %}"><a href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                                  {% if job.is_job_opened %}
                                  <li data-job-id="{{ job.pk }}" class="invite_tutors"><a href="#"><span class="glyphicon glyphicon-plus"></span> Invite Tutors</a></li>
                                  {% endif %}
                                </ul>
                            </div>
                            {% endif %}
                            </h2>
                            <!--{% if request.user.pk == job.posted_by.pk %}-->
                            <!--<div>-->
                                <!--<a class="btn btn-sm btn-primary" style="color: white;" href="{% url "job_post_edit" pk=job.pk %}"><span class="glyphicon glyphicon-edit"></span> Edit</a>-->
                                <!--<a class="btn btn-sm btn-danger" style="color: white;" href="{% url "job_post_delete" pk=job.pk %}" id="id_job_delete"><span class="glyphicon glyphicon-trash"> Delete</span></a>-->
                                <!--<a id="id_invite_tutors" href="#" class="btn btn-primary btn-sm pull-right invite_button">+ Invite Tutors</a>{% endif %}-->
                            <!--</div>-->

                            <section>
                                <p style="color: #202020;">{{ job.description|linebreaksbr }}</p>
                            </section>
                            <div style="width: 100%; display: block;">
                                <span class="dfrnt_tag radius3"><b style="color: #333333;">Repeat: &nbsp;</b>
                                {{ job.render_lesson_repeat_verbal }}
                                </span>
                                {% if job.preference %}
                                    <span class="dfrnt_tag radius3"><b style="color: #333333;">Nationality: &nbsp;</b>
                                    {% for country in job.preference.nationalities.all %}
                                    {{ country.name }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                    {% endfor %}
                                    </span>
                                    {% if job.preference.rate %}
                                    <span class="dfrnt_tag radius3">{{ job.preference.currency }} {{ job.preference.rate.rate_value }}</span>
                                    {% endif %}
                                    {% if job.preference.gender %}
                                    <span class="dfrnt_tag radius3" style="color: #333333;">Gender: {{ job.preference.gender }}</span>
                                    {% endif %}
                                    {% if job.preference.timezones.all %}
                                    <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Timezone:</span>
                                    {% for tz in job.preference.timezones.all %}
                                    {{ tz.value.strip }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                    {% endfor %}
                                    </span>
                                    {% endif %}
                                    {% if job.preference.currency %}
                                    <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Currency: {{ job.preference.currency }}</span></span>
                                    {% endif %}
                                    {% if job.preference.languages.exists %}
                                    <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Language:</span>
                                    {% for lang in job.preference.languages.all %}
                                    {{ lang.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                    {% endfor %}
                                    </span>
                                    {% endif %}
                                    {% if job.preference.availability %}
                                    <span class="dfrnt_tag radius3" style='color: green;'>Availability: {% if job.preference.availability == 1 %}Available{% elif job.preference.availability == 2 %}Ready To Teach{% else %}Any%{% endif %}</span>
                                    {% endif %}
                                    {% if job.preference.subjects.exists %}
                                    <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Subjects:</span>
                                    {% for s in job.preference.subjects.all %}
                                    {{ s.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                                    {% endfor %}
                                    </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div style="width: 100%; display: block; float: left; margin-bottom: 13px;">
                            {% if job.job_attachment.exists %}
                            <h4>Attachment(s):</h4>
                                <div>
                                    {% for attachment in job.job_attachment.all %}
                                        {% if attachment.thumbnail %}
                                            <a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}"/></a>
                                        {% else %}
                                            <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {% if job.lesson_time %}
                        <div style="width: 100%; display: block; float: left;">
                            <p>Start Date: {{ job.lesson_time|fromunix|localtime|format_datetime }}</p>
                        </div>
                        {% endif %}
                        {% if job.lesson_duration %}
                        <div style="width: 100%; display: block; float: left;">
                            <p>Duration: {{ job.lesson_duration }} minutes</p>
                        </div>
                        {% endif %}
                        {% if job.other_students.exists %}
                        <div style="width: 100%; display: block; float: left; margin-top: 13px;">
                            <div style="font-weight: bold; font-size: 23px;">Students</div>
                            <hr/>
                            <div>
                                <div style="width: 100px; float: left;">
                                    <div><img src="{{ job.posted_by.champuser.render_profile_picture }}" width="70" height="70"/></div>
                                    <a style="width: 100%;" href="{{ job.posted_by.champuser.profile_url }}">{{ job.posted_by.champuser.fullname }}</a>
                                </div>
                                {% for student in job.other_students.all %}
                                    <div style="width: 100px; float: left;">
                                        <div><img src="{{ student.champuser.render_profile_picture }}" width="70" height="70"/></div>
                                        <a style="width: 100%;" href="{{ student.champuser.profile_url }}">{{ student.champuser.fullname }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                            {% if job|check_if_user_invited:request %}
                                <input type="hidden" name="hidden_job_post_id" value="{{ job.pk }}"/>
                                <a href="#" class="btn btn-danger btn-sm pull-right invite_button job_invite_reject">Reject</a>&nbsp;&nbsp;
                                <a href="#" class="btn btn-primary btn-sm pull-right invite_button job_invite_accept" style="margin-right: 7px;">Accept</a>
                            {% endif %}
                            {% if job|check_if_apply_button_should_render:request %}
                                <input type="hidden" name="hidden_job_post_id" class="hidden_job_post_id" value="{{ job.pk }}"/>
                                <a href="#" class="btn btn-primary btn-sm pull-right invite_button job_apply" style="color: white; margin-right: 7px;">Apply</a>
                            {% else %}
                                {% if job|check_if_already_applied:request %}
                                <button class="btn btn-sm btn-danger pull-right" disabled><span class="glyphicon glyphicon-ok"></span> You have already applied to this job</button>
                                {% endif %}
                            {% endif %}
                            </h2>
                            <!--<div style="font-size: 13px; font-weight: normal;">Job posted on: {{ job.date_created|fromunix|localtime|format_datetime }}</div>-->
                            <!--<div style="font-size: 13px; font-weight: normal;">Job end date: {{ job.end_date|fromunix|localtime|format_datetime }}</div>-->
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <ul class="list-inline job-status-list pull-right" style="display: inline;">
                          <li class="all active"><a href="#">All({{ job.get_all_status_count }})</a></li>|
                          <li class="pending"><a href="#">Pending({{ job.get_pending_status_count }})</a></li>|
                          <li class="negotiating"><a href="#">Negotiating({{ job.get_negotiating_status_count }})</a></li>|
                          <li class="rejected"><a href="#">Rejected({{ job.get_rejected_status_count }})</a></li>|
                          <li class="applied"><a href="#">Applied({{ job.get_applied_status_count }})</a></li>|
                          <li class="shortlisted"><a href="#">Shortlisted({{ job.get_shortlist_count }})</a></li>
                        </ul>
                        <form name="job_tutor_search_form" action="#" method="GET">
                        <div class="row" style="margin-top: 19px;">
                            <br/>
                            <div class="col-md-8">
                                <input type="hidden" name="job_id" value="{{ job.pk }}"/>
                                <input type="hidden" name="status_class" value="all"/>
                                <input type="hidden" name="search_enabled" value="0"/>
                                <span class="pull-right" style="margin-top: 5px;">
                                    <label class="checkbox-inline" style="cursor: pointer;"><input class="view_checkbox_flt" name="invited" type="checkbox" value="invited">Invited Only</label>
                                    <label class="checkbox-inline" style="cursor: pointer;"><input class="view_checkbox_flt"  name="recommended" type="checkbox" value="recommended">Recommended Only</label>
                                    <!--<label class="checkbox-inline" style="cursor: pointer;"><input class="view_checkbox_flt"  name="both" type="checkbox" value="both">Both</label>-->
                                </span>

                            </div>
                            <div class="input-group col-md-4" style="padding-right: 13px;">
                                <input name="search_keyword_name" type="text" class="  search-query form-control" placeholder="Search By Name">
                                <span class="input-group-btn">
                                    <button name="job_tutor_search_btn" class="btn" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        </form>
                        <hr/>
                        <div id="job_details_content_container">
                            <div id="id_job_content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
    </div>
</div>
<div id="id_ajax_rendered_invite_content" style="display: none;"></div>
<div id="black_overlay"></div>
<div id="id_overlay_loading" style="display: none; background: black; opacity: 0.5; position: fixed; width: 100%; height: 100%; left: 0px; right: 0px; top: 0px; bottom: 0px; z-index: 10001;">
    <div style="width: 200px; height: 200px; position: absolute; left: 40%; top: 30%; font-size: 17px; font-weight: bold; color:#fff;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Please wait...</div>
</div>
{% endblock bodycontent %}