{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load jobtags %}
{% block script_head_extra %}

<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link href="{% static "css/job_status.css" %}" rel="stylesheet">

<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link type="text/css" rel="stylesheet" href="{% static "css/lib/easy-responsive-tabs.css" %}" />
<script type="text/javascript" src="{% static "js/jquery.sticky-kit.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/job_details_action_.js" %}"></script>
<script type="text/javascript" src="{% static "js/job_details_tutor_action.js" %}"></script>
<script type="text/javascript" src="{% static "js/job_invite.js" %}"></script>
<script type="text/javascript" src="{% static "js/theia-sticky-sidebar.js" %}"></script>
<script src="{% static "js/lib/easyResponsiveTabs.js" %}" type="text/javascript"></script>
<script src="{% static "js/jobs/refresh_counter.js" %}"></script>
<script src="{% static "js/jobs/job_details_refresh_counter.js" %}"></script>
<style>
    ul.resp-tabs-list {
         width: 100%;
    }
    ul.resp-tabs-list li {
        padding: 0 30px;
    }
</style>
<script>
var winWidth = $(window).width();
if(winWidth > 800) {
			$(document).ready(function() {
				$('.champ_tutor_left_outer,.champ_tutor_right')
					.theiaStickySidebar({
						additionalMarginTop: 70
					});

			});
}
		</script>

<script>
$(".hover_btn a").click(function(){
    $('.scot_tutor_detail').toggleClass('displayblock');
	$('.scot_tutor_expend').toggleClass('mini');
});

$(".scot_tutor_expend").click(function(){
    $('.scot_tutor_detail').toggleClass('displayblock');
	$(this).toggleClass('mini');
});

$(".scot_tutor_close").click(function(){
	$('.scot_tutor_detail').removeClass('displayblock');
    $('.scot_tutor').addClass('displaynone');
	$('.scot_tutor_detail').removeClass('displayblock');
});
</script>
<script>
/*$(".tutors_chat").click(function(){
    $('.tutors_chat_detail').toggleClass('displayblock');
	$('.outer_tutors_expend').toggleClass('mini');
	$('.main').toggleClass('mainedit');
	$('header > .wrapper').toggleClass('wrapperedit');
});*/
</script>
<script>
function fls(){
 var wh= $(window).height();
 $(".banner").css('height',wh+'px');
 $(".tutors_chat_detail").css('height',wh-36+'px');
}
$(window).resize(function() {
 fls();
});
fls();
</script>



<script language="javascript">
var black_overlay = $('#black_overlay');
var hirecross = $('.hirecross');
var hirepop1 = $('#hirepop1');

black_overlay.click(function(){black_overlay.hide(); hirepop1.hide();});
hirecross.click(function(){black_overlay.hide(); hirepop1.hide();});

$( document ).on( 'keydown', function ( e ) {
    if ( e.keyCode === 27 ) { // ESC
        $( black_overlay ).hide();
		$( hirepop1 ).hide();
    }
});
//window.onload(function(){marscrl.stop()})
function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
}
function showhirePost()
{document.getElementById('black_overlay').style.display="block";
document.getElementById('hirepop1').style.display="block";}
</script>













<script type="text/javascript">
    $(document).ready(function () {
        $('#action-tab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });
    });
</script>



{% endblock script_head_extra %}
{% block bodycontent %}
<div class="contnt">
    <div class="wrapper">
		<div class="champ_tutor_section">
			<div class="champ_tutor_left_outer">
			<div class="champ_tutor_left">
				<h3 class="champ_finance_heading">{{ job.title }} <span>({{ job.render_lesson_type_verbal }})</span></h3>
				<p class="champ_finance_text">{{ job.description|linebreaksbr }}</p>
				<h4 class="champ_attachments">Attachments</h4>
				<ul class="champ_attachments_detial">
					{% if job.job_attachment.exists %}
                        {% for attachment in job.job_attachment.all %}
                            {% if attachment.thumbnail %}
                                <li><a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}"/></a></li>
                            {% else %}
                                <li><a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a></li>
                            {% endif %}
                        {% empty %}
                        <li>No Attachment</li>
                        {% endfor %}
                    {% else %}
                        <li>No Attachment</li>
                    {% endif %}
				</ul>
				<h4 class="champ_attachments">Timing</h4>
				<div class="champ_timing">
					<div class="champ_duration_date">
						<span class="champ_date_icon"><label>Start Date:</label>
						<p>{{ job.lesson_time|fromunix|localtime|format_datetime }}</p></span>
						<span class="champ_duration_icon"><label>duration:</label>
						<p>{{ job.lesson_duration }} minutes</p></span>
					</div>
				</div>
				<ul class="champ_edit_job">
					<li><a href="{% url "user_profile" pk=job.posted_by.pk %}?tab=job-post&job-id={{ job.pk }}"> Edit Job </a></li>
					<li id="id_job_delete" data-url="{% url "job_post_delete" pk=job.pk %}"><a href="#"> Delete Job </a></li>
					<li data-job-id="{{ job.pk }}" class="invite_tutors"><a href="#"> Invite Tutors </a></li>
				</ul>
                <div style="position: relative; top: 7px;"><a data-job-id="{{ job.pk }}" id="id_recommended_tutors" style="width:auto; height:auto; float:left; color:#7d7d7d; font:13px/15px 'HelveticaNeueLTStd-Roman';" href="#">Tutors who may interest you</a></div>
			</div>
			</div>
			<div class="champ_tutor_right" id="id_champ_job_details_right" data-count-update-url="{% url "ajax_fetch_job_update" %}">
                <input type="hidden" name="job_id" value="{{ job.pk }}"/>
                <input type="hidden" name="status_class" value="pending"/>
				<div id="action-tab">
            <ul class="job-status-list resp-tabs-list">
				<li class="pending" style="padding: 0 32px;">Pending (<b id="id_pending_count" style="font-weight: normal;">{{ pending_count }}</b>) <span>Applications waiting for your actions</span></li>
				<li class="invited" style="padding: 0 32px;">Invited (<b id="id_invited_count" style="font-weight: normal;">{{ invited_count }}</b>) <span>You have invited tutors</span></li>
				<li class="rejected" style="padding: 0 32px;">Rejected (<b id="id_rejected_count" style="font-weight: normal;">{{ rejected_count }}</b>) <span>The list of applicants which were rejected either by you or the tutor</span></li>
				<li class="shortlisted" style="padding: 0 32px;">Shortlisted (<b id="id_shortlisted_count" style="font-weight: normal;">{{ shortlisted_count }}</b>) <span>Your shortlisted tutors</span></li>
                <li class="hired" style="padding: 0 32.5px;">Hired (<b id="id_hired_count" style="font-weight: normal;">{{ hired_count }}</b>) <span>Your hired tutors</span></li>
            </ul>
            <div class="resp-tabs-container" style="min-height: 600px;">
				<div id="id_container_pending">
                    <!-- Pending items will be placed here !-->
                </div>
                <div id="id_container_invited">
                    <!-- Invited items will be placed here !-->
                </div>
				<div id="id_container_rejected">
                    <!-- Rejected items will be placed here. !-->
                </div>
                <div id="id_container_shortlisted">
                    <!-- Shortlisted items will be placed here. !-->
                </div>
                <div id="id_container_hired">
                    <!-- Hired items will be placed here. !-->
                </div>
            </div>
        </div>
			</div>
		</div>
    </div>
</div>
<div id="id_ajax_rendered_invite_content" style="display: none;"></div>
<style>
    #black_overlay2 { display: none; top: 0%; left: 0%; width: 100%; height: 100%; z-index:900; background-color: black; -moz-opacity: 0.8; -ms-opacity: 0.8; -webkit-opacity: 0.8; -o-opacity: 0.8; opacity:.80; filter: alpha(opacity=80); }
    #black_overlay2{position: fixed;	*position: absolute;}
</style>
<div id="black_overlay2">

</div>
<div id="id_ajax_rendered_recommended_tutors_content" style="display: none;"></div>
{% endblock bodycontent %}