{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}

{% block script_head_extra %}
<link href="{% static "js/raty/jquery.raty.css" %}" rel="stylesheet">

{% endblock script_head_extra %}

{% block bodycontent %}
<div class="contnt">
<div class="wrapper">

<div id="id_overlay_full" style="z-index: 1001; width: 100%; height:  auto; background: #ffffff;">
    {% if not feed_taken_by_me %}
    <div style="width: 720px; margin-left: auto; margin-right: auto; min-height: 300px;" id="id_feedback_thanks" class="hidden">
        <div style="width: 700px; min-height: 300px; margin-left: auto; margin-right: auto;">
         <h3 style="margin-bottom: 20px;">Feedback Submitted</h3>
         <p>Thank you for your patience! Your feedback has been submitted and it will be reflected in tutors profile.</p>
         </div>
    </div>
    <div id="id_feedback_container" style="width: 720px; margin-left: auto; margin-right: auto; min-height: 300px;">
        <style>
            .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
                border: none;
            }
            .morecontent span {
                display: none;
            }
            .morelink {
                display: block;
            }
            .hidden {
                display: none;
            }
            .green-active {
                color: green;
            }
            .red-inactive {
                color: red;
            }
            .red-border {
                border: 1px solid red;
            }
        </style>
        <form id="id_feedback_form" method="POST" onsubmit="return false;">
        {% csrf_token %}
        <input type="hidden" name="lesson_id" value="{{ lesson_id }}"/>
        <table class="table borderless" style="width: 700px;">
            <tr>
                <td>
                    <p style="font-size: 20px; width: 700px; text-align: center; color: black;">Was this lesson helpful?</p>
                    <p style="font-size: 17px; font-weight: bold; width: 700px; text-align: center; margin-top: 20px;">
                        <input type="radio" class="hidden" id="id_feedback_btn_pos" name="feedback" value="positive"/>
                        <label for="id_feedback_btn_pos" id="id_feedback_label_pos" style="margin-right: 70px; font-size: 30px;"><img src="{% static "images/button_positive.png" %}" width="30" height="30"> Yes</label>
                        <input type="radio" class="hidden" id="id_feedback_btn_neg" name="feedback" value="negative"/>
                        <label for="id_feedback_btn_neg" id="id_feedback_label_neg" style="font-size: 30px;"><img src="{% static "images/button_negative.png" %}" width="30" height="30"> No</label>
                    </p>
                </td>
            </tr>
            <tr id="id_fcomnment_positive" class="hidden">
                <td>
                    <div style="font-size: 17px; font-weight: bold; width: 700px; text-align: center; margin-top: 20px;">
                        <h3>What did you like about {{ lesson.request_user.champuser.fullname }}? (optional)</h3>
                        <p style="font-size: 15px; width: 700px; text-align: left;">Leaving a written review will help {{ lesson.request_user.champuser.fullname }} get more students.</p>
                        <br/>
                        <textarea name="feed_comment_pos" style="margin-top: 20px; padding: 7px; width: 700px; min-height: 130px;" placeholder="Write your feedback(optional)"></textarea>
                    </div>
                    <div>
                        <button class="submit-review positive" style="background: -webkit-linear-gradient(top,#adc716,#8daa29); box-shadow: inset 0 1px 0 #cdda1a,0 1px 2px rgba(0,0,0,.25); border: 1px solid #82a12f; border-bottom-color: #82a12f; color: #fff; float: right; padding: 7px;" data-loading-text="Loading...">Submit Review</button>
                    </div>
                </td>
            </tr>
            <tr id="id_fcomnment_negative" class="hidden">
                <td>
                    <div style="font-size: 17px; font-weight: bold; width: 700px; text-align: center; margin-top: 20px;">
                        <h3>What did you dislike about {{ lesson.request_user.champuser.fullname }}?</h3>
                        <p style="font-size: 15px; width: 700px; text-align: left;">
                            We want to make sure every lesson with every tutor is awesome, so please share why didn't meet your expectations.
                        </p>
                        <br/>
                        <textarea id="id_feedback_commnt_neg" name="feed_comment_neg" style="margin-top: 20px; padding: 7px; width: 700px; min-height: 130px;" placeholder="Write your feedback(Required)"></textarea>
                        <p class="hint" style="text-align: left; color: red;">

                        </p>
                    </div>
                    <div>
                        <button class="submit-review negative" style="background: -webkit-linear-gradient(top,#adc716,#8daa29); box-shadow: inset 0 1px 0 #cdda1a,0 1px 2px rgba(0,0,0,.25); border: 1px solid #82a12f; border-bottom-color: #82a12f; color: #fff; float: right; padding: 7px;" data-loading-text="Loading...">Submit Review</button>
                    </div>
                </td>
            </tr>
            {% if not lesson.review %}
            <tr>
                <td colspan="3">
                    <button class="btn btn-md btn-danger">Submit</button>
                </td>
            </tr>
            {% endif %}
        </table>
        </form>
    </div>
    <script>
        $(document).ready(function() {
            $("input[name=feedback]").change(function(e) {
                var value = $(this).val();
                if(value == "positive") {
                    $("#id_feedback_label_pos").addClass("green-active");
                    $("#id_feedback_label_neg").removeClass("red-inactive");

                    $("#id_fcomnment_positive").removeClass("hidden");
                    $("#id_fcomnment_negative").addClass("hidden");

                }
                else {
                    $("#id_feedback_label_neg").addClass("red-inactive");
                    $("#id_feedback_label_pos").removeClass("green-active");

                    $("#id_fcomnment_positive").addClass("hidden");
                    $("#id_fcomnment_negative").removeClass("hidden");

                    $("#id_feedback_commnt_neg").removeClass("red-border");
                    $("#id_feedback_commnt_neg").next(".hint").text("").hide();

                }
            });

            $(".submit-review").click(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/lesson-feedback/"+$("input[name=lesson_id]").val()+"/",
                    data: $("#id_feedback_form").serialize(),
                    success: function(data)
                    {
                        var data = jQuery.parseJSON(data);
                        if(data.status == "SUCCESS"){
                            $("#id_feedback_thanks").removeClass("hidden");
                            $("#id_feedback_container").hide();
                            $("#id_feedback_commnt_neg").removeClass("red-border");
                        }
                        else{
                            if(data.message == "COMMENT_REQUIRED") {
                                $("#id_feedback_commnt_neg").addClass("red-border");
                                $("#id_feedback_commnt_neg").next(".hint").text("You must submit a comment for an unhelpful rating").show();
                            }
                            else {
                                $("#id_feedback_commnt_neg").removeClass("red-border");
                                $("#id_feedback_commnt_neg").next(".hint").text("").hide();
                            }
                        }
                    },
                    error: function(jqxhr, status, error)
                    {
                        $("#id_feedback_thanks").show();
                        $("#id_feedback_container").hide();
                        $("#id_feedback_commnt_neg").removeClass("red-border");
                    }
                })
                .done(function( msg ) {

                });
            });
        });
    </script>
{% else %}
<table class="table borderless" style="width: 700px;">
    <tr>
        <td>
            <p style="font-size: 20px; width: 700px; text-align: center; color: black;">Feedback for this lesson</p>
            <p style="font-size: 17px; font-weight: bold; width: 700px; text-align: center; margin-top: 20px;">
                <label style="margin-right: 70px; font-size: 30px;"><img src="{% static "images/button_positive.png" %}" width="30" height="30"> {% if positive_count %}(+{{ positive_count }}){% endif %}</label>
                <label style="font-size: 30px;"><img src="{% static "images/button_negative.png" %}" width="30" height="30"> {% if negative_count %}(-{{ negative_count }}){% endif %}</label>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            {% for f in feedbacks %}
                <div style="padding: 7px; background: #fefefe;">
                    <p style="font-size: 17px; font-weight: bold; width: 700px; text-align: left; margin-top: 20px;">
                        <label style="margin-right: 70px; font-size: 13px;"><img src="{% static "images/button_positive.png" %}" width="20" height="20"> {% if f.feedback %}(+1){% endif %}</label>
                        <label style="font-size: 13px;"><img src="{% static "images/button_negative.png" %}" width="20" height="20"> {% if not f.feedback %}(-1){% endif %}</label>
                    </p>
                    <p>
                        {{ f.comment }}

                        - <a href="{% url "user_profile" f.user.pk %}">{{ f.user.champuser.fullname }}</a>
                    </p>
                </div>
            {% endfor %}
        </td>
    </tr>
</table>
{% endif %}
</div>
</div>
</div>
{% endblock bodycontent %}