{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}

{% block script_head_extra %}
<link href="{% static "js/raty/jquery.raty.css" %}" rel="stylesheet">
<script src="{% static "js/raty/jquery.raty.js" %}"></script>
{% endblock script_head_extra %}

{% block bodycontent %}
<div class="contnt">
<div class="wrapper">

{% if feedback %}
 <div style="width: 700px; min-height: 300px; margin-left: auto; margin-right: auto;">
 <h3>Feedback Submitted</h3>
 <hr/>
 <p>Thank you for your patience! Your feedback has been submitted and it will be reflected in tutors profile.</p>
 </div>
{% else %}

<div id="id_overlay_full" style="z-index: 1001; width: 100%; height:  auto; background: #ffffff;">
        <div style="width: 700px; margin-left: auto; margin-right: auto;">
            <style>
                .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
                    border: none;
                }
                .morecontent span {
                    display: none;
                }
                .morelink {
                    display: block;
                }
            </style>
            <form action="{% url "lesson_feedback" pk=lesson_id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="lesson_id" value="{{ lesson_id }}"/>
            <table class="table borderless" style="width: 700px;">
                <tr>
                    <td colspan="3">
                    <h3>Lesson Feedback</h3>
                    <hr/>
                    <p>Leave feed back for <a href="{% url "user_profile" pk=lesson.request_user.pk %}">{{ lesson.request_user.champuser.fullname }}</a>. <a href="{{ lesson_url }}">view lesson details</a></p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 160px;"><div class="feedback-rating1">
                    </div>
                    <input type="hidden" value="rate1"/>
                    </td>
                    <td>TEACHING SKILLS</td>
                    <td>(Competent of what {% if lesson.request_user.champuser.gender == "male" %}he{% else %}she{% endif %} is teaching)</td>
                </tr>
                <tr>
                    <td><div class="feedback-rating2"></div>
                    <input type="hidden" value="rate2"/>
                    </td>
                    <td>RESPONSIBILITY</td>
                    <td>(Does the tutor has an overall sense of responsibility for the tuition?)</td>
                </tr>
                <tr>
                    <td><div class="feedback-rating3"></div>
                    <input type="hidden" value="rate3"/>
                    </td>
                    <td>PUNCTUALITY</td>
                    <td>(Start lessons on time)</td>
                </tr>
                <tr>
                    <td><div class="feedback-rating4"></div>
                    <input type="hidden" value="rate4"/>
                    </td>
                    <td>AVAILABILITY</td>
                    <td>(Committed to the agreed tuition date and timing)</td>
                </tr>
                <tr>
                    <td><div class="feedback-rating5"></div>
                    <input type="hidden" value="rate5"/>
                    </td>
                    <td>COMMUNICATION</td>
                    <td>(Is the tutor responsive or polite?)</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <b>TOTAL SCORE:</b> {{ total_score }}/5
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        {% if not lesson.review %}
                        <textarea name="feed_comment" class="form-control" rows="3" placeholder="Add your comment(optional)" style="color: black;"></textarea>
                        {% else %}
                        {% if lesson.review.comment %}
                        <p class="more">
                            {{ lesson.review.comment }}
                        </p>
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% if not lesson.review %}
                <tr>
                    <td colspan="3">
                        <button class="btn btn-md btn-danger">Submit</button>
                    </td>
                </tr>
                {% endif %}
            </table>
            </form>
        </div>
        <script>
            {% if lesson.review %}
            var readonly = true;
            {% else %}
            var readonly = false;
            {% endif %}
            {% if lesson.review %}
            var rating1 = {{ lesson.review.rating1 }};
            var rating2 = {{ lesson.review.rating2 }};
            var rating3 = {{ lesson.review.rating3 }};
            var rating4 = {{ lesson.review.rating4 }};
            var rating5 = {{ lesson.review.rating5 }};
            {% else %}
            var rating1 = 0;
            var rating2 = 0;
            var rating3 = 0;
            var rating4 = 0;
            var rating5 = 0;
            {% endif %}
            $(document).ready(function() {
                $(".feedback-rating1").raty({
                    cancel    : true,
                    half      : true,
                    size      : 24,
                    readOnly: readonly,
                    path      : '{{ STATIC_URL }}js/raty/images',
                    score: rating1,
                    scoreName: "rat1"
                });

                $(".feedback-rating2").raty({
                    cancel    : true,
                    half      : true,
                    size      : 24,
                    readOnly: readonly,
                    path      : '{{ STATIC_URL }}js/raty/images',
                    score: rating2,
                    scoreName: "rat2"
                });

                $(".feedback-rating3").raty({
                    cancel    : true,
                    half      : true,
                    size      : 24,
                    readOnly: readonly,
                    path      : '{{ STATIC_URL }}js/raty/images',
                    score: rating3,
                    scoreName: "rat3"
                });

                $(".feedback-rating4").raty({
                    cancel    : true,
                    half      : true,
                    size      : 24,
                    readOnly: readonly,
                    path      : '{{ STATIC_URL }}js/raty/images',
                    score: rating4,
                    scoreName: "rat4"
                });

                $(".feedback-rating5").raty({
                    cancel    : true,
                    half      : true,
                    size      : 24,
                    readOnly: readonly,
                    path      : '{{ STATIC_URL }}js/raty/images',
                    score: rating5,
                    scoreName: "rat5"
                });

                {% if lesson.review %}

                // Configure/customize these variables.
                var showChar = 300; // How many characters are shown by default
                var ellipsestext = "...";
                var moretext = "Show more >";
                var lesstext = "Show less";


                $('.more').each(function() {
                    var content = $(this).html();

                    if(content.length > showChar) {

                        var c = content.substr(0, showChar);
                        var h = content.substr(showChar, content.length - showChar);

                        var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                        $(this).html(html);
                    }

                });

                $(".morelink").click(function(){
                    if($(this).hasClass("less")) {
                        $(this).removeClass("less");
                        $(this).html(moretext);
                    } else {
                        $(this).addClass("less");
                        $(this).html(lesstext);
                    }
                    $(this).parent().prev().toggle();
                    $(this).prev().toggle();
                    return false;
                });

                {% endif %}

            });
        </script>
    </div>
{% endif %}
</div>
</div>
{% endblock bodycontent %}