{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}

{% block script_head_extra %}
    <link href="{% static "css/select2.min.css" %}" rel="stylesheet">
    <script src="{% static "js/select2.min.js" %}"></script>
    <link href="{% static "css/datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
    <script src="{% static "js/job_invite.js" %}"></script>
    <style type="text/css">
        .lesson-request-select{
            padding: 7px;
            height: 50px;
            font-size: 20px;
        }
        .select2-dropdown {
            z-index: 111111 !important;
        }
    </style>
    <script>
        $(document).ready(function() {
            $(document).on("click", ".lesson-reschedule", function(e) {
                e.preventDefault();
                var lesson_id = $(this).data("lesson-id");
                $("#id_overlay_loading").show();
                $("#id_ajax_rendered_content").hide();
                $.ajax({
                    type: "GET",
                    url: "/ajax/lesson-reschedule/",
                    data: { lesson_id:lesson_id },
                    success: function(data)
                    {
                         var data = jQuery.parseJSON(data);
                         $("#id_ajax_rendered_content").html(data.data.dialog_content);
                         $("#id_ajax_rendered_content").show();
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {
                    $("#id_overlay_loading").hide();
                });

                //id_lesson_reschedule_content_container

            });
        });
    </script>
{% endblock script_head_extra %}

{% block bodycontent %}
    <div class="contnt">

        <div class="wrapper">
            <div class="billing_cntnt radius3" style="min-height: 700px;">
                <div class="msg_heading">
                    <h2><img width="29" height="29" alt="img" src="{% static "images/lesson_icon.png" %}"> Lessons</h2>
                    {% if request.user.is_authenticated and request.user.champuser.type.name != "teacher" %}
                    <!--<a class="radius3" href="#" onclick="showPostneed()"> <img width="19" height="19" alt="img" src="{% static "images/plus.png" %}"> Add New Lesson</a>-->
                    <a class="radius3" href="#" id="id_invite_tutor"> <img width="19" height="19" alt="img" src="{% static "images/plus.png" %}"> Invite Tutor</a>
                    {% endif %}
                </div>
                <div id="id_lesson_status_msg_container" class="msg_heading" style="padding: 13px; padding-left: 30px; display: none;">
                    <p style="color: red;"></p>
                </div>
                <div class="upcmng_lsn radius3">
                    <h5>Upcoming Lessons</h5>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="upcoming_top">
                    {% for lesson in coming_lessons %}
                        {% if lesson.request_user.pk == request.user.pk %}
                                <tr>
                                    <td>
                                        <a class="btn btn-sm btn-primary" style="color: white;" href="{% url "live_lesson" pk=lesson.pk %}">Go to lesson</a>
                                        {% if lesson.type == 0 %}
                                        <p class="upcoming_heading">{{ lesson.lesson_time|fromunix|localtime|format_datetime }} (online)</p>
                                        {% else %}
                                        <p class="upcoming_heading">{{ lesson.due_date|fromunix|localtime|format_datetime }} (written)</p>
                                        {% endif %}
                                        <p class="upcoming_txt">{{ lesson.duration|format_time_from_min }} . {{ lesson.course.name }}</p>
                                    </td>
                                    <td>
                                        <div class="user_prfle"><img width="56" height="56" src="{{ lesson.user.champuser.render_profile_picture }}" alt="img"></div>
                                        <a href="/profile/{{ lesson.user.pk }}/" class="stdnt_name_inr">{{ lesson.user.champuser.fullname }}</a>
                                    </td>
                                    <td><p class="no_review"></p></td>
                                    <td>
                                        <!-- <input type="hidden" class="lesson_id_hidden" value="{{ lesson.pk }}"> -->
                                        <a href="#" class="vw_lesn lesson-reschedule radius3" data-lesson-id="{{ lesson.pk }}">Reschedule</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        {% if lesson.type == 0 %}
                                        <a class="btn btn-sm btn-primary" style="color: white;" href="{% url "live_lesson" pk=lesson.pk %}">Go to lesson</a>
                                        {% else %}
                                        <a class="btn btn-sm btn-primary" style="color: white;" href="{% url "written_lesson_request_view" %}?lesson={{ lesson.pk }}">Go to lesson</a>
                                        {% endif %}
                                        {% if lesson.type == 0 %}
                                        <p class="upcoming_heading">{{ lesson.lesson_time|fromunix|localtime|format_datetime }} (online)</p>
                                        {% else %}
                                        <p class="upcoming_heading">{{ lesson.due_date|fromunix|localtime|format_datetime }} (written)</p>
                                        {% endif %}
                                        <p class="upcoming_txt">{{ lesson.duration|format_time_from_min }} . {{ lesson.course.name }}</p>
                                    </td>
                                    <td>
                                        <div class="user_prfle"><img width="56" height="56" src="{{ lesson.request_user.champuser.render_profile_picture }}" alt="img"></div>
                                        <a href="/profile/{{ lesson.request_user.pk }}/" class="stdnt_name_inr">{{ lesson.request_user.champuser.fullname }}</a>
                                    </td>
                                    <td><p class="no_review"></p></td>
                                    <td>
                                        <!-- <input type="hidden" class="lesson_id_hidden" value="{{ lesson.pk }}"> -->
                                        <a href="#" class="vw_lesn lesson-reschedule radius3" data-lesson-id="{{ lesson.pk }}">Reschedule</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% empty %}
                        <p style="padding: 20px;">You have no upcoming lesson.</p>
                    {% endfor %}
                    </table>
                </div>
                <div class="upcmng_lsn radius3">
                    <h5>Past Lessons</h5>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="upcoming_top">
                        {% for lesson in past_lessons %}
                            {% if lesson.request_user.pk == request.user.pk %} <!-- This user is tutor !-->
                                <tr>
                                    <td>
                                        {% if lesson.type == 0 %}
                                        <p class="upcoming_heading">{{ lesson.lesson_time|fromunix|localtime|format_datetime }} (online)</p>
                                        {% else %}
                                        <p class="upcoming_heading">{{ lesson.due_date|fromunix|localtime|format_datetime }} (written)</p>
                                        {% endif %}
                                        <p class="upcoming_txt">{{ lesson.duration|format_time_from_min }} . {{ lesson.course.name }}</p>
                                    </td>
                                    <td valign="top">
                                        <div class="user_prfle"><img width="56" height="56" src="{{ lesson.user.champuser.render_profile_picture }}" alt="img"></div>
                                        <a href="/profile/{{ lesson.user.pk }}/" class="stdnt_name_inr">{{ lesson.user.champuser.fullname }}</a>
                                    </td>
                                    <td>
                                        {% if lesson.review %}
                                            <p class="no_review" title="View feedback">
                                                <a href="{% url "lesson_feedback" pk=lesson.pk %}">view feedback</a>
                                            </p>
                                        {% else %}
                                            <p class="no_review">No Review</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                    {% if lesson.type == 0 %}
                                    <a href="{% url "live_lesson" pk=lesson.pk %}" class="vw_lesn radius3">View Lesson</a>
                                    {% else %}
                                    <a href="{% url "written_lesson_request_view" %}?lesson={{ lesson.pk }}" class="vw_lesn radius3">View Lesson</a>
                                    {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        {% if lesson.type == 0 %}
                                        <p class="upcoming_heading">{{ lesson.lesson_time|fromunix|localtime|format_datetime }} (online)</p>
                                        {% else %}
                                        <p class="upcoming_heading">{{ lesson.due_date|fromunix|localtime|format_datetime }} (written)</p>
                                        {% endif %}
                                        <p class="upcoming_txt">{{ lesson.duration|format_time_from_min }} . {{ lesson.course.name }}</p>
                                    </td>
                                    <td valign="top">
                                        <div class="user_prfle"><img width="56" height="56" src="{{ lesson.request_user.champuser.render_profile_picture }}" alt="img"></div>
                                        <a href="/profile/{{ lesson.request_user.pk }}/" class="stdnt_name_inr">{{ lesson.request_user.champuser.fullname }}</a>
                                    </td>
                                    <td>
                                        {% if lesson.review %}
                                            <p class="no_review" title="View feedback">
                                                <a href="{% url "lesson_feedback" pk=lesson.pk %}">view feedback</a>
                                            </p>
                                        {% else %}
                                            {% if lesson.user.champuser.type.name == "student" %}
                                                <input type="hidden" class="feedback-lesson-id" value="{{ lesson.pk }}"/>
                                                <p class="no_review"><a href="{% url "lesson_feedback" pk=lesson.pk %}" class="lesson-feedback">Give Feedback</a></p>
                                            {% else %}
                                                <p class="no_review">No Review</p>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                    {% if lesson.type == 0 %}
                                    <a href="{% url "live_lesson" pk=lesson.pk %}" class="vw_lesn radius3">View Lesson</a>
                                    {% else %}
                                    <a href="{% url "written_lesson_request_view" %}?lesson={{ lesson.pk }}" class="vw_lesn radius3">View Lesson</a>
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% empty %}
                            <p style="padding: 20px;">You have no lesson in the past.</p>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="new_lesson" style="width: 600px;">
        <div class="new_lesson_bx" style="width: 600px;">
            <h1 class="lesson_bx_heading">Propose Lesson </h1>
            <p id="id_lesson_request_status_msg" style="color: red; border: 1px solid #EFEFEF; padding: 10px; width: 100%; display: none;"></p>
            <form action="/ajax/live-lesson-request/" method="POST" name="live-lesson-request-form" class="lesson_bx_form">
                {% csrf_token %}
                <div>
                    <label class="lesson_bx_label">Tutor</label>
                    <div class="written_lesson1">
                        <select name="live_lesson_request_tutor" class="form-control lesson-request-select" id="id_lesson_tutor_list" style="color: black; cursor: pointer;">
                            <option value="-1">---</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="container text-center" style="width: 500px;">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="lesson_bx_label">Start time</label>
                            </div>
                            <div class="col-sm-4">
                                <input name="live_lesson_request_start_date" type="text" id="id_lesson_start_date" placeholder="11/04/2015" class="start_time form-control">
                            </div>
                            <div class="col-sm-4">
                                <input name="live_lesson_request_start_time" type="text" id="id_lesson_start_time" placeholder="11:45pm" class="start_time form-control">
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <label class="lesson_bx_label">Duration</label>
                    <div class="duration_select1">
                        <select name="live_lesson_request_duration" class="form-control lesson-request-select" style="cursor: pointer;">
                            <option value="-1">---</option>
                            {% for value,label in lesson_duration %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div>
                    <label class="lesson_bx_label">Repeats</label>
                    <div class="repeats_radio"> <input type="radio" checked="checked" value="single" name="live_lesson_request_repeats" id="single_lesson"> <label for="single_lesson"> Single lesson </label> </div>
                    <div class="repeats_radio"> <input type="radio" name="live_lesson_request_repeats" value="daily" id="daily"> <label for="daily"> Daily </label> </div>
                    <div class="repeats_radio"> <input type="radio" name="live_lesson_request_repeats" value="weekly" id="weekly"> <label for="weekly"> Weekly </label> </div>
                </div>
                <div>
                    <label class="lesson_bx_label">Subject</label>
                    <div class="duration_select1">
                        <select name="live_lesson_request_subject" class="form-control lesson-request-select" id="id_lesson_request_subject" style="cursor: pointer;">
                            <option value="-1">---</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label class="lesson_bx_label">Note</label>
                    <textarea name="live_lesson_request_note" placeholder="" class="note"></textarea>
                </div>
                <div>
                    <input name="live_lesson_request_submit" type="submit" value="Submit" class="lesson_bx_submit">
                    <input name="live_lesson_request_cancel" type="button" value="Cancel" class="lesson_bx_cancle">
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function(){

            $(document).on("click",".give-feedback", function(e){
                e.preventDefault();
                var lesson_id = $(this).parent().parent().find(".feedback-lesson-id").val();
                $("#id_overlay_full").show();
            });

            function lesson_request_mutate(lesson_id,action){
                _ajax_call("POST","/ajax/live-lesson-request-mutate/",{"action":action,"lesson_id":lesson_id},function(data){
                    if(data.status == "SUCCESS"){
                        location.href = "/lessons/";
                    }
                    else{
                        $("#id_lesson_status_msg_container").find("p").css("color","red");
                        $("#id_lesson_status_msg_container").find("p").text("Lesson update failed.");
                        $("#id_lesson_status_msg_container").fadeIn(1000).fadeOut(2000);
                    }
                },
                function(jqxhr, status, error){

                },
                function(msg){

                });
            }

            $(document).on("click",".cancel_lesson",function(e){
                var lesson_id = $(this).parent().find(".lesson_id_hidden").val();
                lesson_request_mutate(lesson_id,"CANCEL");
            });

            $(document).on("click",".accept_live_lesson", function(e){
                var lesson_id = $(this).parent().find(".lesson_id").val();
                lesson_request_mutate(lesson_id,"ACCEPT");
            });

            $(document).on("click",".reject_live_lesson", function(e){
                var lesson_id = $(this).parent().find(".lesson_id").val();
                lesson_request_mutate(lesson_id,"REJECT");
            });

            $(document).on("click",".live_lesson_request_cancel", function(e){
                var lesson_id = $(this).parent().find(".lesson_id").val();
                lesson_request_mutate(lesson_id,"CANCEL");
            });

            $("input[name=live_lesson_request_submit]").click(function(e){
                e.preventDefault();
                $("#id_lesson_request_status_msg").css("color","red");
                if($("select[name=live_lesson_request_tutor]").val() == "-1"){
                    $("#id_lesson_request_status_msg").text("Please select a tutor.");
                    $("#id_lesson_request_status_msg").show();
                    return;
                }
                if($("input[name=live_lesson_request_start_date]").val() == "" || $("input[name=live_lesson_request_start_time]").val() == ""){
                    $("#id_lesson_request_status_msg").text("Please enter a valid date and time.");
                    $("#id_lesson_request_status_msg").show();
                    return;
                }
                if($("select[name=live_lesson_request_duration]").val() == "-1"){
                    $("#id_lesson_request_status_msg").text("Please select lesson duration.");
                    $("#id_lesson_request_status_msg").show();
                    return;
                }
                if($("select[name=live_lesson_request_subject]").val() == "-1"){
                    $("#id_lesson_request_status_msg").text("Please select lesson subject.");
                    $("#id_lesson_request_status_msg").show();
                    return;
                }
                var form_data = $("form[name=live-lesson-request-form]").serialize();
                var reqeust_url = $("form[name=live-lesson-request-form]").prop("action");
                _ajax_call("POST",reqeust_url,form_data,function(data){
                    $("#id_lesson_request_status_msg").hide();
                    location.href = "/lessons/";
                },
                function(jqxhr, status, error){

                },
                function(msg){

                });
            });
        });
        $(".contnt").click(function () {
            $("ul.submenu1").removeClass("addactive");
        });

        $("ul.after_login_menu li.hidespan").mouseover(function(){
            //alert("nbdl");
            $("span.hvr").hide();
        });

    </script>

    <script>
        $(document).ready( function () {
            if($("ul.submenu1").hasClass("addactive"))
            {
                $(this).parent().find("span").hide();
                //alert('active');
            }
        });
    </script>
    <script type="text/javascript" src="{%  static "js/jquery.selectbox-0.1.3.min.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            //$(".loct").selectbox();
            var len = $(".loct").parent();
            $(len).click(function(e){
                e.stopPropagation();
                $(".sbOptions",this).show();
                $("body").click(function(e){
                    if(e.target.id != "loct")
                    {
                        $(".sbOptions",this).hide();
                        $("body").unbind("click");
                    }
                });
            });
        });
    </script>
    <script language="javascript">
        var black_overlay = $('#black_overlay');
        var cross = $('.cross');
        var new_lesson = $('#new_lesson');

        black_overlay.click(function(){black_overlay.hide(); new_lesson.hide();});
        cross.click(function(){black_overlay.hide(); new_lesson.hide();});

        $( document ).on( 'keydown', function ( e ) {
            if ( e.keyCode === 27 ) { // ESC
                $( black_overlay ).hide();
                $( new_lesson ).hide();
            }
        });

        //$(window).on("load",function(){marscrl.stop()})

        function toggle_visibility(id) {
            var e = document.getElementById(id);
            if(e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }
        $(document).ready(function(){

            $("input[name=live_lesson_request_cancel]").click(function(e){
                $('#black_overlay').hide();
                $('#new_lesson').hide();
            });

            //$(".lesson-request-select").select2();
            $("#id_lesson_start_date").datetimepicker({
                //sideBySide: true
                format: 'DD/MM/YYYY'
            });

            $("#id_lesson_start_time").datetimepicker({
                //sideBySide: true
                format: 'LT'
            });

            $(document).on("change", "#id_lesson_tutor_list", function(e){
                var tid = $(this).val();
                $("#id_lesson_request_subject").prop("disabled",true);
                $.ajax({
                    type: "GET",
                    url: "/ajax/written-lesson-subjects/",
                    data: { tid: tid },
                    success: function(content)
                    {
                        data = jQuery.parseJSON(content);
                        console.log(data);
                        $("#id_lesson_request_subject").html("");
                        $("#id_lesson_request_subject").append("<option value='-1'>---</option>");
                        for(var i = 0 ; i < data["data"].length ; i++){
                            $("#id_lesson_request_subject").append("<option value='"+ data["data"][i].id +"'>"+ data["data"][i].name +"</option>");
                        }
                        $("#id_lesson_request_subject").prop("disabled",false);
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {

                });
            });

        });



        function showPostneed()
        {
            document.getElementById('black_overlay').style.display="block";
            $("#new_lesson").fadeIn("slow");
            $("#id_overlay_loading").hide();
            /*_ajax_call("GET","/ajax/tutor-list/","",function(data){
                        var tutors = data.data;
                        //console.log(tutors);
                        $("#id_lesson_tutor_list").html("");
                        $("#id_lesson_tutor_list").append("<option selected value=\"-1\">---</option>");
                        for(var i = 0 ;i < tutors.length ; i++){
                            $("#id_lesson_tutor_list").append("<option value=\""+ tutors[i].id +"\">"+ tutors[i].fullname +"</option>");
                        }
                        $("#id_lesson_tutor_list").select2({width: 550, height: 70});
                        document.getElementById('black_overlay').style.display="block";
                        //document.getElementById('new_lesson').style.display="block";
                        $("#new_lesson").fadeIn("slow");
                        $("#id_overlay_loading").hide();
                    },
                    function(jqxhr, status, error){

                    },
                    function(msg){

                    });
            */
        };

        $(document).ready(function() {

            $("#id_lesson_tutor_list").select2({
              width: 550,
              height: 90,
              ajax: {
                url: "/ajax/tutor-list/",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                  return {
                    q: params.term, // search term
                  };
                },
                processResults: function (data, page) {
                  return {
                        results: $.map(data.items, function(obj) {
                            return { id: obj.id, text: obj.name };
                        })
                    };
                },
                cache: true
              },
              escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
              minimumInputLength: 1,
            });
        });

    </script>
    <script type="text/javascript">
        $(function(){
            $('#sidemenu a').on('click', function(e){
                e.preventDefault();

                if($(this).hasClass('open')) {
                    // do nothing because the link is already open
                } else {
                    var oldcontent = $('#sidemenu a.open').attr('href');
                    var newcontent = $(this).attr('href');

                    $(oldcontent).fadeOut('fast', function(){
                        $(newcontent).fadeIn().removeClass('hidden');
                        $(oldcontent).addClass('hidden');
                    });


                    $('#sidemenu a').removeClass('open');
                    $(this).addClass('open');
                }
            });
        });
    </script>
<div id="id_lesson_reschedule_content_container" style="display: none;">

</div>
{% endblock bodycontent %}