{% extends "public_master.html" %}
{% load staticfiles %}
{% load configfilters %}

<style>
    #login_status_message2 {
        magin-top: 20px;
    }
</style>

{% block body_content %}
<div style="margin-top: 80px;margin-bottom:10px;padding: 20px; width: 500px; margin-left: auto; margin-right: auto; border: 1px solid #ccc; height: 450px;">
        <form class="tutor_form redirect-login-form" action="{% url "user_login" %}" name="signin-form" method="post">
        {% csrf_token %}
        <h1 class="sign_up_heading">Login</h1>
        <div class="login_status_message2_container">
             <span style="margin-left:7px; margin-bottom: 0px; margin-top: 10px; color: red;" class="login_status_message2">

            </span>
        </div>
        <div>
        {{ login_form.email }}
        <span class="error" style="display: none;">Please fill out this form correctly.</span>
        <p>
            <a href="{% url "email_recovery_request_view" %}">Forgot Email?</a>
        </p>
        </div>
        <div>
        {{ login_form.password }}
        <span class="error" style="display: none;">Please fill out this form correctly.</span>
        <p>
            <a href="{% url "reset_password" %}">Forgot Password?</a>
        </p>
        </div>
        <div>
            <input type="checkbox" name="remember" id="login_remember" />
            <label for="login_remember"> Remember me</label>
        </div>
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}"/>
        {% else %}
            <input type="hidden" name="next" value=""/>
        {% endif %}
        <input id="id_submit_button" type="submit" value="Sign In" class="sign_in_btn top25">

    </form>
</div>
{% endblock body_content %}