{% load staticfiles %}
{% load configfilters %}

<!DOCTYPE HTML>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Champion Tutor</title>
    <link rel="stylesheet" href="{% static "css/style_home.css" %}" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap_social/bootstrap-social.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap_social/font_awesome/font-awesome.min.css" %}"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script src="{%  static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/CreateHTML5Elements.js" %}"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="{% static "js/select2.min.js" %}"></script>
    <script src="{% static "js/tag-it-custom.js" %}"></script>
    <script src="{% static "js/chat/chat.js" %}"></script>
    <script src="{% static "js/home.js" %}"></script>

    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="{% static "js/mootools-core-1.4.2-full-compat.js" %}"></script>
    <![endif]-->
        <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="{% static "js/selectivizr.js" %}"></script>
    <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
<   ![endif]-->
    <style>
        .form-signin {
            max-width: 450px;
            padding: 15px;
            margin: 0 auto;
        }
        h2.form-signin-heading {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="text"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .form-signin
        {
            -moz-box-shadow: 0 0 2px #bfbfbf;
            -webkit-box-shadow: 0 0 2px #bfbfbf;
            box-shadow: 0 0 2px #bfbfbf;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        #status_ok
        {
            width: 80px;
    }

    </style>
</head>
<body>

<div class="main">
	<div>
    	<header class="menu_scrol1">
        	<div class="wrapper">
            	<a href="/" id="logo"> <img src="/static/images/logo.png" width="212" height="36" alt="Logo"> </a>
                <div class="top_menu">
               	  <ul class="menu">
                        <li><a href="#">How it works</a></li>
                        <li><a href="/tutor-search/">Search Tutors</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="right_menu">
                	<a class="sign_in" href="#" onclick="show_signin();">Sign in</a>
                    <a class="rgster" href="#" onclick="show_signup();">Register</a>
                </div>
            </div>
        </header>
    </div>
    <div style="margin-top: 40px;margin-bottom:10px;padding: 20px; width: 80%; margin-left: auto; margin-right: auto; border: 1px solid #ccc;">
            <form class="form-signin" action="{% url "user_login" %}" name="signin-form" method="post">
            {% csrf_token %}
            <h3 class="form-signin-heading">Login</h3><hr/>
            <div id="login_status_message2_container"
                 style="{% if error or success %}visibility:visible;
                 {% else %}visibility:hidden;
                 {% endif %}
                 {% if error %}color: red;
                 {% elif success %}color: green;
                 {% endif %} padding-bottom:7px;">
                {% if error_msg %}
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <span style="margin-left:7px; margin-bottom: 7px;" id="login_status_message2">
                    {{ error_msg }}
                    </span>
                {% elif success_msg %}
                    <span class="glyphicon glyphicon-ok text-center"></span>
                    <span style="margin-left:7px; margin-bottom: 7px;" id="login_status_message2">
                    {{ success_msg }}
                    </span>
                {% endif %}
                </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Enter Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ login_form.email }}</div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <label>Enter Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ login_form.password }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label><input type="checkbox" name="rememberme"> Remember me</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                    {% else %}
                        <input type="hidden" name="next" value=""/>
                    {% endif %}
                    <button id="id_submit_button1" class="btn btn-lg btn-primary">Sign In</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{% url "reset_password" %}">Forgot Password?</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
