{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}
<link href="{% static "css/jquery-ui-1.10.4.custom.css" %}" rel="stylesheet">
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/jobs/marketplace.js" %}"></script>
{% endblock script_head_extra %}
{% block bodycontent %}
<div class="contnt">
    <div class="wrapper">
		<div class="champ_student_profile radius3">
			<h3 class="market_place_heading">Jobs Portal</h3>
			<div class="market_place_outer">
			<div class="market_place_left">
				<div class="market_place_left_inner">
				<h4 class="search_tutors_heading">Search Jobs</h4>
				<form class="marketplace_form" id="id_search_marketplace_form">
					<input type="hidden" name="page_number" value="1"/>
					<h5 class="select_gender_heading">Lesson Type</h5>
					<span class="select_gender">
						<input type="radio" name="lesson_type" id="lesson_type_live"> <label for="lesson_type_live">Live Lesson</label>
					</span>
					<span class="select_gender">
						<input type="radio" name="lesson_type" id="lesson_type_written"> <label for="lesson_type_written">Written Lesson</label>
					</span>
					<span class="select_gender">
						<input type="radio" name="lesson_type" checked id="lesson_type_any"> <label for="lesson_type_any">Any</label>
					</span>
					<h5 class="select_gender_heading">Select Gender</h5>
					<span class="select_gender">
						<input type="radio" name="Gender" id="gender_male"> <label for="gender_male">Male</label>
					</span>
					<span class="select_gender">
						<input type="radio" name="Gender" id="gender_female"> <label for="gender_female">Female</label>
					</span>
					<span class="select_gender">
						<input type="radio" name="Gender" checked id="gender_any"> <label for="gender_any">Any</label>
					</span>
					<input type="text" id="id_marketplace_filter_subject" placeholder="Subjects e.g Mathematics, Algebra">
					<div class="marketplace_any">
						<select id="id_marketplace_filter_country">
							<option value="-1">Preferred Country</option>
							{% for id, name in countries %}
							<option value="{{ name }}">{{ name }}</option>
							{% endfor %}
						</select>
					</div>
					<input type="text" id="id_marketplace_filter_budget" placeholder="Budget/hour(e.g 50)">
					<div class="marketplace_any">
						<select id="id_marketplace_filter_currency">
							<option value="-1">Preferred Currency</option>
							{% for code, name in currencies %}
							<option value="{{ code }}">{{ name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="marketplace_any">
						<select id="id_marketplace_filter_language">
							<option value="-1">Preferred Conversational Languages</option>
							{% for lang_id, lang_name in languages %}
							<option value="{{ lang_id }}">{{ lang_name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="marketplace_any">
						<input type="text" id="id_marketplace_filter_keyword" placeholder="Can’t find anything? Search for keywords">
						<input type="button">
					</div>
					<input type="submit" id="id_marketplace_search_submit" value="Search">
				</form>
				</div>
			</div>
			<div class="market_place_right" id="id_marketplace_result_list" style="min-height: 700px;">
				<!-- Job list will be placed here !-->
			</div>
			</div>
		</div>
    </div>
</div>
{% endblock bodycontent %}