{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load jobtags %}
{% block script_head_extra %}
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
<link href="{% static "css/job_status.css" %}" rel="stylesheet">

<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
<script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/job.js" %}"></script>
<script type="text/javascript" src="{% static "js/job_details_action_.js" %}"></script>
<script type="text/javascript" src="{% static "js/job_details_tutor_action.js" %}"></script>
<style>
	.job_status_x {
		float: left !important;
		margin-top: 3px;
	}
</style>
<script>
	$(document).ready(function() {
		$(document).on("click","#id_marketplace_details_send_message", function(e) {
			e.preventDefault();
			var user_id = $(this).data("user-id");
			var chat_title = $(this).data("user-name");
			window.openChatPopup(0, user_id, chat_title, "online", [ parseInt(user_id) ], "", "", 1);
		});
	});
</script>
{% endblock script_head_extra %}
{% block bodycontent %}
<div class="contnt">
    <div class="wrapper">
		<div class="champ_student_profile radius3">
			<div class="champ_job_inner">
				<div class="champ_last_content">
					<span class="champ_last_bluetop"></span>
					<div class="champ_last_img"> <img src="{{ object.posted_by.champuser.render_profile_picture }}" width="144" height="153" alt="img"> </div>
					<div class="champ_last_detail">
						<h3 class="champ_last_detail_heading">{{ object.posted_by.champuser.fullname }}<em>({{ object.posted_by.champuser.type.name.capitalize }})</em></h3>
						<p class="champ_last_detail_text" id="champ_last_detail_icon1">{{ object.posted_by.champuser.current_school }}</p>
						{% if object.posted_by.champuser.render_age_in_years %}
						<p class="champ_last_detail_text" id="champ_last_detail_icon2">{{ object.posted_by.champuser.render_age_in_years }} years old</p>
						{% endif %}
					</div>
					<a href="#" id="id_marketplace_details_send_message" class="champ_message" data-object-id="{{ object.pk }}" data-user-id="{{ object.posted_by.pk }}" data-user-name="{{ object.posted_by.champuser.fullname }}">send message</a>
				</div>
				<div class="champ_last_content_detail">
					<h4 class="champ_finance_heading" style="width: 100%;">{{ object.title }} <em>({{ object.render_lesson_type_verbal }})</em>
						<!--<span style="float: right; font-size: 13px;">-->
							<!--{% if applied %}<img src="{% static "images/corct_icon.png" %}"> You have applied-->
							<!--{% else %}-->
							<!--<input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ job.pk }}"/>-->
							<!--<input class="userid" type="hidden" value="{{ request.user.pk }}"/>-->
							<!--<a href="#" name="job_apply_submit" class="job_apply reject_btn accept_bg" style="color: white; ">Apply Job</a>-->
							<!--{% endif %}-->
						<!--</span>-->
					</h4>

					<p class="champ_last_text">{{ object.description }}</p>

					<ul class="champ_ready_teach">
						<li> <h4 class="champ_teach_heading">{{ object.render_lesson_type_verbal }}</h4> </li>
						{% if object.render_job_subjects %}
						<li> <label>Subject:</label> <p>{{ object.render_job_subjects }}</p> </li>
						{% endif %}
						{% if object.render_gender %}
						<li> <label>Gender:</label> <p>{{ object.render_gender }}</p> </li>
						{% endif %}
						{% if object.render_nationalities %}
						<li> <label>Nationality:</label> <p>{{ object.render_nationalities }}</p> </li>
						{% endif %}
						{% if object.render_timezones %}
						<li> <label>Timezone Difference:</label> <p>{{ object.render_timezones }}</p> </li>
						{% endif %}
						{% if object.render_languages %}
						<li> <label>Conversation In:</label> <p>{{ object.render_languages }}</p> </li>
						{% endif %}
						{% if object.render_currency %}
						<li> <label>Currency:</label> <p>{{ object.render_currency }}</p>  </li>
						{% endif %}
					</ul>

					<div class="champ_finance_duration">
						<div class="champ_duration_left margint11" style="width: 100%; float: none;">
							<div class="champ_duration_date">
								<span class="champ_date_icon"><label>Start Date:</label>
								<p>{{ start_date|fromunix|localtime|format_datetime }}</p></span>
								<span class="champ_duration_icon"><label>duration:</label>
								<p>{{ lesson_duration }}</p></span>
								{% if object.render_preferred_rate %}
								<span class="champ_rate_icon"><label>Rate:</label>
								<p>${{ price|floatformat:2 }}{% if price2 %} - {{ price2|floatformat:2 }}{% endif %}/hr ({{ currency }})</p>
								{% if not applied and converted_currency and converted_min_value and converted_max_value %}
									<p style="float: left; clear: both;"> = ${{ converted_min_value|floatformat:2 }} - {{ converted_max_value|floatformat:2 }}/hr ({{ converted_currency }})</p>
								{% endif %}
								</span>
								{% endif %}
								{% if invite_type == "INVITED" or invite_type == "RECOMMENDED" %}
									{% if status == 1 %}  <!-- Pending !-->
											<span class="champ_pending job_status_x">Pending</span>
											<input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.pk }}"/>
											<input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.posted_by.pk }}"/>
											<input type="hidden" name="online_status" value="{{ object.posted_by.champuser.render_online_status_verbal }}"/>
											<input type="hidden" name="tutor_name" value="{{ object.posted_by.champuser.fullname }}"/>
											<input type="hidden" name="tutor_pp" value="{{ object.posted_by.champuser.render_profile_picture }}"/>
											<input class="userid" type="hidden" value="{{ object.posted_by.pk }}"/>
											<span style="padding-left: 0px !important;float: right; margin-top: -7px;">Action
											<select name="tutor_action" class="job_details_action" style="padding: 7px; border: 2px solid #B7B3B3; cursor:pointer;">
											<option value="">Select Action</option>
											<option value="apply">Apply</option>
											{% if invite_type == "INVITED" %}
											<option value="reject">Reject</option>
											<!--<div class="job_reject" style="float: right;"><a href="#" class="btn btn-danger" style="color: white !important;">Reject</a></div>-->
											{% else %}
											<option value="reject_recommendation">Reject</option>
											{% endif %}
											<!--<div class="job_apply" style="float: right;"><a href="#" class="btn btn-primary" style="color: white !important;">Apply</a></div>-->
											</select>
											</span>

									{% elif status == 2 or status == 9 %}  <!-- Applied !-->
											<span class="champ_applied job_status_x">Applied</span>
											<input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.pk }}"/>
											<input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.posted_by.pk }}"/>
											<input type="hidden" name="online_status" value="{{ object.posted_by.champuser.render_online_status_verbal }}"/>
											<input type="hidden" name="tutor_name" value="{{ object.posted_by.champuser.fullname }}"/>
											<input type="hidden" name="tutor_pp" value="{{ object.posted_by.champuser.render_profile_picture }}"/>
											<input class="userid" type="hidden" value="{{ object.posted_by.pk }}"/>
											<span style="padding-left: 0px !important;float: right; margin-top: -7px;">Action
											<select data-user-id="{{ request.user.pk }}" name="tutor_action" class="job_details_action" style="padding: 7px; border: 2px solid #B7B3B3; cursor:pointer;">
											<option value="">Select Action</option>
											<option value="withdraw">Withdraw</option>
											</select>
											</span>
									{% elif status == 5 %}  <!-- Rejected !-->
											<span class="champ_rejected job_status_x">Rejected</span>
									{% elif status == 8 %}  <!-- Hired !-->
											<span class="champ_matched job_status_x">Hired</span>
									{% elif status == 13 %}
											<input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.pk }}"/>
											<input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.posted_by.pk }}"/>
											<input type="hidden" name="online_status" value="{{ object.posted_by.champuser.render_online_status_verbal }}"/>
											<input type="hidden" name="tutor_name" value="{{ object.posted_by.champuser.fullname }}"/>
											<input type="hidden" name="tutor_pp" value="{{ object.posted_by.champuser.render_profile_picture }}"/>
											<input class="userid" type="hidden" value="{{ object.posted_by.pk }}"/>
											<span style="padding-left: 0px !important;float: right; margin-top: -7px;">Action
												<select name="tutor_action" class="job_details_action" style="padding: 7px; border: 2px solid #B7B3B3; cursor:pointer;">
												<option value="">Select Action</option>
												<option value="apply">Apply</option>
												</select>
											</span>
									{% endif %}
								{% else %}
									{% if status == 2 or status == 9 %}  <!-- Applied !-->
											<span class="champ_applied job_status_x">Applied</span>
											<input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.pk }}"/>
											<input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.posted_by.pk }}"/>
											<input type="hidden" name="online_status" value="{{ object.posted_by.champuser.render_online_status_verbal }}"/>
											<input type="hidden" name="tutor_name" value="{{ object.posted_by.champuser.fullname }}"/>
											<input type="hidden" name="tutor_pp" value="{{ object.posted_by.champuser.render_profile_picture }}"/>
											<input class="userid" type="hidden" value="{{ object.posted_by.pk }}"/>
											<span style="padding-left: 0px !important;float: right; margin-top: -7px;">Action
											<select data-user-id="{{ request.user.pk }}" name="tutor_action" class="job_details_action" style="padding: 7px; border: 2px solid #B7B3B3; cursor:pointer;">
											<option value="">Select Action</option>
											<option value="withdraw">Withdraw</option>
											</select>
											</span>
									{% elif status == 5 %}  <!-- Rejected !-->
											<span class="champ_rejected job_status_x">Rejected</span>
									{% elif status == 8 %}  <!-- Hired !-->
											<span class="champ_matched job_status_x">Hired</span>
									{% elif status == 13 %}
											<input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.pk }}"/>
											<input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.posted_by.pk }}"/>
											<input type="hidden" name="online_status" value="{{ object.posted_by.champuser.render_online_status_verbal }}"/>
											<input type="hidden" name="tutor_name" value="{{ object.posted_by.champuser.fullname }}"/>
											<input type="hidden" name="tutor_pp" value="{{ object.posted_by.champuser.render_profile_picture }}"/>
											<input class="userid" type="hidden" value="{{ object.posted_by.pk }}"/>
											<span style="padding-left: 0px !important;float: right; margin-top: -7px;">Action
												<select name="tutor_action" class="job_details_action" style="padding: 7px; border: 2px solid #B7B3B3; cursor:pointer;">
												<option value="">Select Action</option>
												<option value="apply">Apply</option>
												</select>
											</span>
									{% else %}
											{% if show_public_apply %}
												<input type="hidden" name="hidden_job_post_id" class="job_id" value="{{ object.pk }}"/>
												<input type="hidden" name="tutor_id" class="tutor_id" value="{{ object.posted_by.pk }}"/>
												<input type="hidden" name="online_status" value="{{ object.posted_by.champuser.render_online_status_verbal }}"/>
												<input type="hidden" name="tutor_name" value="{{ object.posted_by.champuser.fullname }}"/>
												<input type="hidden" name="tutor_pp" value="{{ object.posted_by.champuser.render_profile_picture }}"/>
												<input class="userid" type="hidden" value="{{ object.posted_by.pk }}"/>
												<span style="padding-left: 0px !important;float: right; margin-top: -7px;">Action
													<select name="tutor_action" class="job_details_action" style="padding: 7px; border: 2px solid #B7B3B3; cursor:pointer;">
													<option value="">Select Action</option>
													<option value="apply">Apply</option>
													</select>
												</span>
											{% endif %}
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock bodycontent %}