{% load staticfiles %}
{% load configfilters %}
{% load utility_filter %}
<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Champion Tutor</title>
    {% if request.session.is_login %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.pagination.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-dialog.min.css" %}" rel="stylesheet">
    {% endif %}
    {% if request.session.is_login %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all">
    <!--<link rel="stylesheet" href="{% static "css/style_home.css" %}" type="text/css" media="all">-->
    {% else %}
    <link rel="stylesheet" href="{% static "css/style_home.css" %}" type="text/css" media="all">
    {% endif %}
    <link rel="stylesheet" href="{% static "css/master.css" %}" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="{% static "css/jquery-ui-1.10.4.custom.css" %}" rel="stylesheet">
    <script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/colorbox.css" %}"/>
    <script type="text/javascript" src="{% static "js/jquery.colorbox-min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.tagit.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/tagit.ui-zendesk.css" %}"/>
    <script src="{% static "js/tag-it-custom.js" %}"></script>
    <script src="{% static "js/chat/chat.js" %}"></script>
    <script src="{% static "js/common/dialogs.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fileinput.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.tagsinput.js" %}"></script>
    <script type="text/javascript" src="{% static "js/CreateHTML5Elements.js" %}"></script>
    {% if request.session.is_login %}
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap-dialog.min.js" %}"></script>
    <script src="{% static "js/bootstrap.popup.dialog.js" %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static "js/moment.js" %}"></script>
    <script type="text/javascript" src="{% static "js/livestamp.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.countdown.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/select2.min.js" %}"></script>
    <script src="{% static "js/lib/jquery.history.js" %}"></script>
    <script type="text/javascript" src="{% static "js/master.js" %}"></script>
    <script type="text/javascript" src="{% static "js/top_search/search.js" %}"></script>
    <link href="{% static "css/colorbox.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.colorbox-min.js" %}"></script>
    <script src="{% static "js/notification/notification.js" %}"></script>
    <!--<script src="{% static "js/chat/chat.js" %}"></script>-->
    <script src="{% static "js/chat/message_details.js" %}"></script>
    <script src="{% static "js/login.js" %}"></script>
    {% if not content_editable %}
    <script src="{% static "js/login.js" %}"></script>
    {% endif %}

    <link rel="stylesheet" href="{% static "css/select2.modified.css" %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static "css/style2.css" %}" type="text/css" media="all">



    <!--[if (gte IE 6)&(lte IE 8)]>

<script type="text/javascript" src="{% static "js/mootools-core-1.4.2-full-compat.js" %}"></script>

<![endif]-->

    <!--[if (gte IE 6)&(lte IE 8)]>

<script type="text/javascript" src="{% static "js/selectivizr.js" %}"></script>

<noscript><link rel="stylesheet" href="[fallback css]" /></noscript>

<![endif]-->

    <div id="fb-root"></div>

    <style>

        .error {
            #border: 1px solid red;
        }
        :focus {
            outline: 0;
            }

    .social_signup_form .select2-container {
        z-index: 1;
    }

    .select2-container--default .select2-selection--single{
        padding:6px;
        height: 48px;
        width: 100%;
        font-size: 1.2em;
        position: relative;
        margin-bottom: 20px;
        border: 1px solid #e7e4e4;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 10px;
    }

    .select2-selection__placeholder {
        font-weight: normal;
        color: black;
    }

    </style>

    <script type="text/javascript">
        window.app_server = "{{ request|get_application_server_url }}";
        window.etherpad_server = "{{ request|get_etherpad_server_url }}";
        window.sharejs_server = "{{ request|get_sharejs_server_url }}";
        //Now run a script in a period interval to let inform the status of this client to the socket io server.
{#        {% if request.session.is_login %}#}
            window.socket = io("{{ request|get_socket_server_url }}");
            //This is called upon a successful connection established.

            //Global variables.
            window.socket_connected = false;

            window.socket.on("connect",function()
            {
                console.log("Socket connected");
                window.socket_connected = true;
                console.log(window.socket);
            });

            //This is called if any error occured on connecting socket.io
            window.socket.on("error", function(data)
            {
                console.log("socket connection error");
                window.socket_connected = false;
            });

            window.socket.on("disconnect",function()
            {
                console.log("socket disconnected");
                window.socket_connected = false;
            });

            window.socket.on("reconnect",function(reconnection_attemp_number)
            {
                console.log("socket reconnect called");
                window.socket_connected = false;
            });

            //This is called when attempt to reconnect.
            window.socket.on("reconnect_attempt",function()
            {
                console.log("socket reconnect_attempt called");
                window.socket_connected = false;
            });

            window.socket.on("reconnecting",function(reconnection_attemp_number)
            {
                console.log("socket reconnecting");
                window.socket_connected = false;
            });

            window.socket.on("reconnect_error",function(data)
            {
                console.log("socket reconnect_error");
                window.socket_connected = false;
            });

            window.socket.on("reconnect_failed", function()
            {
                console.log("socket reconnect_failed");
                window.socket_connected = false;
            });

            window.socket.on("still_alive", function()
            {
                //console.log("Still Alive!");
                window.socket.emit("_disconnect",{
                    "user_id": {% if request.session.user_id %}{{ request.session.user_id }} {% else %} -1 {% endif %},
                    "status": 1
                });
            });

            var notify_user_timezone = function(){
                var date = new Date()
                var dateOffset = date.getTimezoneOffset();
                window.socket.emit("update_tz",{
                    "uid": {% if request.session.user_id %}{{ request.session.user_id }} {% else %} -1 {% endif %},
                    "tz_offset" : dateOffset
                });
            };

            notify_user_timezone();

            var publish_online_status = function(){
                var user_status = true;
                var user_id = {{ request.user.id }};
                window.socket.emit('online_status',{"uid":user_id,"status":user_status});
            };

            //setInterval(publish_online_status, 1000);

            {% if request.user.is_authenticated %}
            window.champ_user_id = {{ request.user.pk }};
            {% else %}
            window.champ_user_id = -1;
            {% endif %}

            {% if request.user.is_authenticated %}
                $(document).ready( function() {

                    var options =  {
                        iframe:true,
                        opacity: 0.7,
                        width:"900px",
                        height:"520px",
                        scrolling: false,
                        photo: true,
                        escKey: false,
                        fixed: true,
                        overlayClose: false,
                        onOpen:function(){ },
                        onLoad:function(){ },
                        onComplete:function(){ },
                        onCleanup:function(){ },
                        onClosed:function(){ }
                    };

                    options["width"] = "800px";
                    options["height"] = "600px";

                    $("#id_two_min_video_introduction").colorbox(options);
                });
            {% endif %}

    </script>
    {% block script_head_extra %}

    {% endblock script_head_extra %}
</head>

<body>

<div id="id_master_container" class="main">
{% block page_header %}
{% if request.user and request.session.is_login %}
<header class="menu_scrol">
    <div class="hdng_inner">
        <a id="logo" href="/"> <img src="{% static "images/logo.png" %}" width="212" height="36" alt="Logo"> </a>
        {% include "ajax/top_search_bar.html" %}

        <div class="profile_detail">
            <span class="profile_img"><img src="{{ request.user.champuser.render_profile_picture }}" width="28" height="28" alt="img"></span>
            <p title="{{ request.user.champuser.fullname }}">{{ request.user.champuser.fullname|truncatechars:7 }}</p><img style="color: white; width: 9px; height: 9px; margin-top: -2px;" src="{% static "images/dwn_arw.png" %}"/>

            <ul class="submenu1 radius3">
                {% if request.user.champuser.type.name == "student" %}
                    <li><a href="/profile/{{ request.user.pk }}">My Dashboard</a></li>
                    <li><a href="{% url "user_profile" request.user.pk %}?view_as=public">View Public Profile</a></li>
{#                    <li><a href="{% url "billing" %}">Payment</a></li>#}
{#                    <li><a href="{% url "my_account" %}">Change Password</a></li>#}
                    <!--<li><a href="{% url "lesson_demo" %}">Try Tutoring Space</a></li>-->
                    <li><a id="id_chat_block_manage" href="{% url "manage_chat_blocklist_ajax_view" %}">Manage Block List</a></li>
                    <li><a href="{% url "billing" %}">Billing</a></li>
                    <li><a href="{% url "user_logout" %}">Sign Out</a></li>
                {% elif request.user.champuser.type.name == "teacher" %}
                    <li><a href="/profile/{{ request.user.pk }}?tab=profile">My Profile</a></li>
                    <li><a href="{% url "user_profile" request.user.pk %}?view_as=public">View Public Profile</a></li>
                    <li><a href="{% url "billing" %}">Billing</a></li>
                    <li><a href="{% url "my_account" %}">Change Password</a></li>
                    <!--<li><a href="{% url "lesson_demo" %}">Try Tutoring Space</a></li>-->
                    <li><a id="id_chat_block_manage" href="{% url "manage_chat_blocklist_ajax_view" %}">Manage Block List</a></li>
                    <li><a href="{% url "user_logout" %}">Sign Out</a></li>
                {% endif %}
            </ul>
        </div>

        <ul class="after_login_menu">
            <li><a href="#"><img width="16" height="14" alt="icon" src="{% static "images/en.png" %}"> En </a></li>
            <li><a href="#"><img src="{% static "images/menu_icon1.png" %}" width="23" height="19" alt="img"> </a>

                <span class="hvr">Getting Started</span>

                <ul class="submenu1 radius3" id="first_left" >
                    <!--<li>Link GChat <span><img src="{% static "images/corct_icon.png" %}" width="15" height="15" alt="img"></span> </li>-->
                    <!--<li>Link FB Messenger <span><img src="{% static "images/corct_icon.png" %}" width="15" height="15" alt="img"></span> </li>-->
                    <li>Audio & Video Setup <span></span> </li>
                    <li>Payment Setup <span></span> </li>
                </ul>
            </li>
            {% if request.user.champuser.type.name == "teacher" %}
            <li><a href="#"><img src="{% static "images/menu_icon2.png" %}" width="24" height="19" alt="img"></a>
                    <span class="hvr">Available For</span>
                    <ul class="submenu1 radius3" style="width: 280px;">
                    <li> <div class="available"> <!--<input type="checkbox" id="teaching">--> <span> <div class="onoffswitch1">
                        <input type="checkbox" id="myonoffswitch100"
                               {% if request.user.is_authenticated %}{% if request.user.champuser.available_to_teach == 6%}disabled checked{% elif request.user.champuser.available_to_teach == 0 or request.user.champuser.available_to_teach == 3 %} checked{% endif %}{% endif %}
                               class="onoffswitch1-checkbox displaynone" name="onoffswitch1">
                        <label for="myonoffswitch100" class="onoffswitch1-label">
                        <span class="onoffswitch1-inner"></span>
                        <span class="onoffswitch1-switch"></span>
                        </label>
                 </div> </span>
                    <label for="myonoffswitch100" class="tol">Online Teaching Now!</label>
                    <span class="online_teaching">Switch it on if you are available to teach online now via our tutoring space through video/audio/text.</span>
                    </div> </li>
                    <li> <div class="available"> <!--<input type="checkbox" id="write">--> <span> <div class="onoffswitch">
                        <input type="checkbox" id="myonoffswitch00"
                               {% if request.user.is_authenticated %}{% if request.user.champuser.available_to_teach == 6%}disabled{% elif request.user.champuser.available_to_teach == 3 or request.user.champuser.available_to_teach == 4 %}checked{% endif %}{% endif %}
                               class="onoffswitch-checkbox displaynone" name="onoffswitch">
                        <label for="myonoffswitch00" class="onoffswitch-label">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                        </label>
                    </div> </span>
                    <label for="myonoffswitch00" class="tol">Written Lessons</label>
                    <span class="online_teaching">Switch it on if you are available to mark or amend some assignments for the students</span>
                    </div> </li>
                    <li> <div class="available"> <!--<input type="checkbox" id="teaching">--> <span> <div class="onoffswitch2">
                        <input type="checkbox" id="myonoffswitch102"
                               {% if request.user.is_authenticated %}{% if request.user.champuser.available_to_teach != 6%}checked{% endif %}{% endif %}
                               class="onoffswitch2-checkbox displaynone" name="onoffswitch2">
                        <label for="myonoffswitch102" class="onoffswitch2-label">
                        <span class="onoffswitch2-inner"></span>
                        <span class="onoffswitch2-switch"></span>
                        </label>
                 </div> </span>
                    <label for="myonoffswitch102" class="tol">Taking a break</label>
                    <span class="online_teaching">Switch it on if you are available to teach online now via our tutoring space through video/audio/text.</span>
                    </div> </li>


                    <!--<li> <div class="available"> &lt;!&ndash;<input type="checkbox" id="teaching">&ndash;&gt; <span> <div class="onoffswitch2">-->
                        <!--<input type="checkbox" id="myonoffswitch102"-->
                               <!--{% if request.user.is_authenticated %}{% if request.user.champuser.available_to_teach == 6 %} checked{% endif %}{% endif %}-->
                               <!--class="onoffswitch2-checkbox displaynone" name="onoffswitch2">-->
                        <!--<label for="myonoffswitch102" class="onoffswitch2-label">-->
                        <!--<span class="onoffswitch2-inner"></span>-->
                        <!--<span class="onoffswitch2-switch"></span>-->
                        <!--</label>-->
                 <!--</div> </span>-->
                    <!--<label for="myonoffswitch102" class="tol">Taking a break</label>-->
                    <!--<span class="online_teaching">Switch it on if you want to take a break. Your profile will not be visible.</span>-->
                    <!--</div> </li>-->
                </ul>
                </li>
            {% endif %}
            <li>
                <a href="/lessons/">
                    <img src="{% static "images/menu_icon3.png" %}" width="19" height="18" alt="img">
                </a>
                {% if lesson_count %}<span id="id_lesson_notification" class="notification-number-card">{{ lesson_count }}</span>{% endif %}
                <span class="hvr">Lessons</span>
            </li>
            {% if request.user.champuser.type.name == "student" %}
            <!--<li><a href="#"><img src="{% static "images/menu_icon10.png" %}" width="31" height="17" alt="img"></a> <span class="hvr">Recommendations</span> </li>-->
            {% endif %}
            <li>
                <a href="/message/"><img src="{% static "images/menu_icon5.png" %}" width="19" height="18" alt="img">
                </a>
                <span id="id_message_notification" class="notification-number-card" {% if not unread_message_count > 0 %}style="display: none;"{% endif %}>{{ unread_message_count }}</span>
                <span class="hvr">Messages</span>
            </li>


            <!--<li><a href="#"><img src="{% static "images/menu_icon9.png" %}" width="13" height="18" alt="img"></a>-->
                <!--<em id="id_notif_counter" {% if not unread_notification_count %}style="display: none;"{% endif %} class="msg_link">{{ unread_notification_count }}</em>-->
                <!--<span class="hvr">Notification</span>-->
                	<!--<ul class="submenu1 notification_dropdown radius3">-->
                        <!--<li>-->
							<!--<h3 class="notification_sub">Notification</h3>-->
							<!--<a href="notification.html" class="notification_view">View all</a>-->
						<!--</li>-->
						<!--<li id="id_new_notification_container2">-->
							<!--<p style="padding: 7px; font-size: 14px;" id="id_no_new_notif">-->
                                <!--No new notifications-->
                            <!--</p>-->
                            <!--<div id="id_notif_loading" style="display: none;">-->
                                <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="margin-left: 13px; margin-top: 7px;"></span>-->
                            <!--</div>-->
						<!--</li>-->
						<!--<li>-->
							<!--<h4 class="notification_hr_ago">3 hours ago</h4>-->
							<!--<p class="notification_dtext">Lorem ipsum dolor sit amet, consectetur magni dolores eos qu iratione voluptatem sequi </p>-->
							<!--<div class="notification_cross">-->
								<!--<span></span>-->
								<!--<a class="close_notifi" href="#"></a>-->
							<!--</div>-->

						<!--</li>-->
						<!--<li>-->
							<!--<h4 class="notification_hr_ago">4 hours ago</h4>-->
							<!--<p class="notification_dtext">Lorem ipsum dolor sit amet, consectetur magni dolores eos qu iratione voluptatem sequi </p>-->
							<!--<div class="notification_cross">-->
								<!--<span></span>-->
								<!--<a class="close_notifi" href="#"></a>-->
							<!--</div>-->
						<!--</li>-->
						<!--<li>-->
							<!--<h4 class="notification_hr_ago">5 hours ago</h4>-->
							<!--<p class="notification_dtext">Lorem ipsum dolor sit amet, consectetur magni dolores eos qu iratione voluptatem sequi </p>-->
							<!--<div class="notification_cross">-->
								<!--<span></span>-->
								<!--<a class="close_notifi" href="#"></a>-->
							<!--</div>-->
						<!--</li>-->
                    <!--</ul>-->
                <!--</li>-->


            {% if request.user.champuser.type.name == "teacher" %}
            <li><a href="{% url "marketplace" %}"><img src="{% static "images/menu_icon7.png" %}" width="20" height="19" alt="img"></a> <span class="hvr">Jobs Portal</span></li>
            {% endif %}
            <style>
                .notification_header {
                    font-size: 14px;
                    font-weight: bold;
                    padding: 7px;
                    border-bottom: 1px solid #EEEEEE;
                    padding-left: 13px !important;
                }
                .notification_item {
                    padding: 7px;
                }
                .notification_item {
                    padding: 3px;
                    color: black;
                    margin-left: 13px !important;
                }
                .notification_item  a {
                    color: black !important;
                    font-size: 13px;
                }
                #id_new_notification_container {
                    max-height: 400px;
                    overflow-y: auto;
                }
                .mark_notification {
                    width: 10px; height: 10px; margin-top: 3px; border-radius: 50%; margin-right: 13px;
                    top: 0px;
                    right: 0px;
                }
                .mark_unread {
                    background: green;
                    cursor: pointer;
                }
                .mark_read {
                    background: gray;
                }
              </style>
            <li>
                <a id="id_notif_icon" href="#"><img src="{% static "images/menu_icon9.png" %}" width="13" height="18" alt="img"></a> <span class="hvr">
                Notification</span>
                <span id="id_notif_counter" class="notification-number-card"{% if not unread_notification_count %}style="display: none;"{% endif %}>{{ unread_notification_count }}</span>
                <ul class="submenu1 notification_dropdown radius3">
                    <li id="id_new_notification_header">
                        <h3 class="notification_sub">Notification</h3>
                        <a href="{% url "notification_list_view" %}" class="notification_view">View all</a>
                        <div id="id_notification_loading" style="display: none;">
                            Loading...
                        </div>
                    </li>
                </ul>


                <!--<a role="button" id="id_notif_icon" data-toggle="dropdown" data-target="#" href="#"><span class="glyphicon glyphicon-bell" style="width: 19px; height: 18px; color: white;"></span>-->
                <!--</a>-->
                <!--<span id="id_notif_counter" class="notification-number-card"{% if not unread_notification_count %}style="display: none;"{% endif %}>{{ unread_notification_count }}</span>-->
                <!--<span class="hvr">Notifications</span>-->
                <!--<ul class="submenu1 radius3" style="padding: 3px; width: 300px;">-->
                    <!--<li>-->
                        <!--<div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-12">-->
                                    <!--<div class="notification_header">Notifications <a class="pull-right" href="{% url "notification_list_view" %}">view all</a> </div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-12">-->
                                    <!--<div id="id_new_notification_container">-->

                                    <!--</div>-->
                                    <!--<div id="id_new_notification_container2">-->
                                        <!--<p style="padding: 7px; font-size: 14px;" id="id_no_new_notif">-->
                                            <!--No new notifications-->
                                        <!--</p>-->
                                        <!--<div id="id_notif_loading" style="display: none;">-->
                                            <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="margin-left: 13px; margin-top: 7px;"></span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            </li>
            <!--<li><a href="#"><img src="{% static "images/menu_icon6.png" %}" width="15" height="19" alt="img"></a> <span class="hvr">Quick Links</span>-->

                <!--<ul class="submenu1 radius3">-->
                    <!--{% if request.user.champuser.type.name == "teacher" %}-->
                    <!--<li><a href="#">Your Tutor Guide</a></li>-->
                    <!--{% elif request.user.champuser.type.name == "student"  %}-->
                    <!--<li><a href="#">Your Student Guide</a></li>-->
                    <!--{% endif %}-->
                    <!--<li><a id="id_two_min_video_introduction" href="{% url "ajax_two_min_video_introduction" %}">Our 2 Minutes Intro</a></li>-->
                    <!--<li><a href="#">Rates </a></li>-->
                    <!--<li><a href="#">Your Wish List</a></li>-->
                <!--</ul>-->

            <!--</li>-->
        </ul>
    </div>
</header>
{% else %}
    {% include "sections/public_header.html" %}
{% endif %}
{% endblock page_header %}
{% block bodycontent %}

{% endblock bodycontent %}
<!--<div style="width: 98%; margin-left: auto; margin-right: auto;">-->
    <!--<div id="id_content_container">-->
    <!--{% block bodycontent1 %}-->

    <!--{% endblock bodycontent1 %}-->
    <!--</div>-->
    <!--<div id="id_chat_container">-->
        <!--{% include "sections/chat.html" %}-->
    <!--</div>-->
<!--</div>-->
{% if not "/lesson/" in request.get_full_path %}
<footer>
    <div class="wrapper">
        <a href="#" class="ftr_logo"> <img src="{% static "images/logo.png" %}" width="212" height="36" alt="img"> </a>
        <ul class="ftr_lnk">
            <span class="lnk_hdng">FOR STUDENTS</span>
            <li><a href="#" onclick="show_signup('student');">Become a student</a></li>
            <li><a href="#" onclick="showworks();">How it works</a></li>
            <li><a href="{% url "faq" %}#student">FAQ</a></li>
        </ul>
        <ul class="ftr_lnk">
            <span class="lnk_hdng">FOR TUTORS</span>
            <li><a href="#" onclick="show_signup('tutor');">Become a tutor</a></li>
            <li><a href="#" onclick="showworks();">How it works</a></li>
            <li><a href="{% url "faq" %}#tutor">FAQ</a></li>
        </ul>
        <ul class="ftr_lnk">
            <span class="lnk_hdng">Help</span>
            <li><a href="{% url "contact_us_view" %}">Report a Problem</a></li>
        </ul>
        <ul class="ftr_lnk">
            <span class="lnk_hdng">CONTACT US </span>
            <li><a href="{% url "contact_us_view" %}">Contact</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <ul class="social_icon">
            <span class="lnk_hdng">Social</span>
            <li><a href="#"><img src="{% static "images/fb.png" %}" width="9" height="17" alt="icon"></a></li>
            <li><a href="#"><img src="{% static "images/twtr.png" %}" width="20" height="16" alt="icon"></a></li>
            <li><a href="#"><img src="{% static "images/gogle.png" %}" width="17" height="17" alt="icon"></a></li>
            <li><a href="#"><img src="{% static "images/pinterest.png" %}" width="16" height="19" alt="icon"></a></li>
        </ul>
    </div>
</footer>
{% endif %}
<div class="lwr_ftr">
    <div class="wrapper">
        <ul class="prvt_plcy">
            <li><a href="#">Terms of Use</a></li>
            <li><a href="{% url "privacy_policy" %}">Privacy Policy</a></li>
        </ul>
        <p class="ftr_txt"> Copyright © ChampionTutor Online</p>

    </div>
</div>

</div>

{% with request|current_url_name as current_url_name %}

{% if current_url_name != "live_lesson" and current_url_name != "lesson_demo" %}

{% if request.user.is_authenticated %}

{% include "sections/chat.html" %}

{% else %}

{% include "sections/public_chat.html" %}

{% endif %}

{% endif %}

{% endwith %}

</body>
</html>

<script type="text/javascript">
    {% if not request.user.is_authenticated %}
    $(document).ready(function() {
        $("#id_signup_timezones").select2({
            width: 460,
            height: 48
        });
    });
    {% endif %}
    //alert({{object.available_to_teach}});
</script>

<style>
    .dropdown-menu { z-index: 10 !important; }
</style>

<!--<div id="black_overlay"></div>-->
<div id="snd_msg" style="padding-bottom: 30px;">
    <div class="snd_msg_bx" style="height: auto;">
        <h1 class="lesson_bx_heading">New Message</h1>
        <form id="theuploadform" action="{% url "ajax_send_message" %}" class="lesson_bx_form" name="msg_form" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <select class="form-control" name="receiver" id="id_select_tutor" data-user-type="{{ request.user.champuser.type.name }}">
                </select>
                <input type="hidden" name="id_hidden_tutor" id="id_hidden_tutor" value="-1"/>
            </div>
            <div class="tags language_tag study_parners" style="float: left; clear: both; margin-top: -10px;">

            </div>

            <textarea style="color: #000000;" name="msg_text" class="enter_message" placeholder="Enter your message here..."></textarea>

            <div>

                <label class="attach_files">Attach Files</label>

                <!--<div class="add3">Browse
                  <input type="file" required="required" onchange=" checkFile(this);getElementById('filevalue').value = getElementById('me').value;getElementById('filevalue').style.display='block'; " id="me" title="Browse File" name="file1" value="Browse File" class="file radius" style="display:block;">
                  </div>-->
                <div class="outer_browse_btn">
                    <input name="attached_file" id="btn" type="file" style="display:none;" onchange="document.getElementById('file').value=this.value.substring(this.value.lastIndexOf('\\')+1);">

                    <input id="file" type="text" class="browse_text" placeholder="No File Selected" readonly onfocus="this.blur()">

                    <input type="button" onclick="document.getElementById('btn').click();" value="Browse" class="browse_btn" />
                </div>
                <input name="submit" type="submit" class="lesson_bx_submit send_batch_message_submit" value="Send">
                <input name="cancel" type="button" class="lesson_bx_cancle send_batch_message_cancel" value="Cancel">
            </div>
        </form>
    </div>
</div>



<div id="id_ajax_rendered_content" style="display: none;"></div>
<div id="black_overlay"></div>
<div id="id_overlay_loading" style="display: none; background: black; opacity: 0.5; position: fixed; width: 100%; height: 100%; left: 0px; right: 0px; top: 0px; bottom: 0px; z-index: 10001;">
    <div style="width: 200px; height: 200px; position: absolute; left: 40%; top: 30%; font-size: 17px; font-weight: bold; color:#fff; z-index: 10000;"><div style="z-index: 10001;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Please wait...</div></div>
</div>
<div id="connect">
  <div class="connect_bx">
  	<h1 class="lesson_bx_heading">Is there anything else that your tutor should know?</h1>
    <p class="working_tutor">Let us know exactly what you are working on and we will inform the tutors.</p>
    <div class="enter_question">
    	<form class="lesson_bx_form">
    	<textarea placeholder="Enter a problem or question (Optional)" class="enter_problem"></textarea>
        <div class="preferred_communication">
        	<h2>Preferred communication Style</h2>
            <div> <input type="radio" name="communication" id="text_only"> <label for="text_only">Text Only </label> </div>
            <div> <input type="radio" name="communication" id="audio"> <label for="audio">Audio</label> </div>
            <div> <input type="radio" name="communication" id="video"> <label for="video">Video</label> </div>
        </div>
        <div><input type="submit" class="find_tutor" value="Find My Tutor"></div>
        </form>
    </div>
  </div>
</div>

<div id="how_works">
  <div class="how_works_bx">
        <h1 class="work_heading">ChampionTutor provides the most convenient <br> way for you to connect to a tutor instantly</h1>
        <ul class="how_works_list">
        	<li>
            	<div class="how_works_icon"> <img src="{% static "images/connect-tutor-icon1.png" %}" width="170" height="150" alt="img"> </div>
              <h3 class="how_works_heading">Get instant connection
with any tutors, 24/7</h3>
              <p class="how_works_text">After your search, a list of tutors will appear, you can choose to chat with them first before entering into a tutoring session.</p>
            </li>
            <li>
            	<div class="how_works_icon"> <img src="{% static "images/connect-tutor-icon2.png"" %}" width="161" height="150" alt="img"> </div>
              <h3 class="how_works_heading">Experience the user-friendly
tools in our lesson space</h3>
              <p class="how_works_text">Our lesson space connects you through different media, such as audio, video and text. Upload your assignment and get ready to learn.</p>
            </li>
            <li>
            	<div class="how_works_icon"> <img src="{% static "images/connect-tutor-icon3.png"" %}" width="150" height="150" alt="img"> </div>
              <h3 class="how_works_heading">What's more? You
can try it for free</h3>
              <p class="how_works_text">Can't decide which tutors to choose? Start off with a free 30 minutes trial. Thereafter, fee is as per charge according to tutor's hourly rate.</p>
            </li>
        </ul>
  </div>
</div>
<script language="javascript">
var black_overlay = $('#black_overlay');
var sign_up = $('#sign_up');
var sign_in = $('#sign_in');
var connect = $("#connect");
var howitworks = $("#how_works");

black_overlay.click(function(){black_overlay.hide(); sign_up.hide();});
black_overlay.click(function(){black_overlay.hide(); sign_in.hide();connect.hide();howitworks.hide();});

$( document ).on( 'keydown', function ( e ) {
    if ( e.keyCode === 27 ) { // ESC
        $( black_overlay ).hide();
		$( sign_up ).hide();
		$( sign_in ).hide();
    }
});
function showconnect()
{document.getElementById('black_overlay').style.display="block";
document.getElementById('connect').style.display="block";}

function showworks()
{document.getElementById('black_overlay').style.display="block";
document.getElementById('how_works').style.display="block";}
</script>

{% block extra_bottom_js %}
{% endblock %}

{% include "sections/login_forms.html" %}