{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block bodycontent %}
    <style>
        .message-user-name {
            width:100%; height:auto; float:left; color:#373737; font:18px/21px 'proxima_novasemibold';
        }
    </style>
    <div class="contnt">

        <div class="wrapper">

            <a href="{% url "message_view" %}" class="back_inbox">BACK TO INBOX</a>
            <input type="hidden" id="id_message_to" value="{{ message_receiver.user.pk }}"/>
            <h1 class="message_heading">
            <a href="{{ message_receiver.profile_url }}"><img src="{{ message_receiver.render_profile_picture }}" width="35" height="35"/> <span style="font-size: 20px; font: 24px/26px 'proxima_novasemibold'; color: #5b636c; position: relative; top: 7px;">{{ message_receiver.fullname }} (ID: {{ message_receiver.user.pk }})</span></a>
            <div class="dropdown pull-right">
                <span style="cursor: pointer;" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></span>
                <ul class="dropdown-menu">
                  <li id="id_open_chatbox" data-chat-id="{{ message_receiver.user.pk }}" data-chat-type="0" data-chat-title="{{ message_receiver.fullname }}" data-topic-class-name="" data-topic-object-id=""><a href="#">Open in Chat</a></li>
                  <li id="id_delete_messages"><a href="#">Delete Messages</a></li>
                </ul>
            </div>
            </h1>

            <div class="billing_cntnt radius3">
                <input type="hidden" id="id_page_chat_type" value="0"/>
                <input type="hidden" id="id_page_chat_id" value="{{ message_receiver.user.pk }}"/>
                <a href="#" class="load_old_msg btn_load_old_msg">
                <span data-chat-type="0" id="id_message_loading" style="display: none;" class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
                </span> Load Old Message
                </a>
                <div style="padding-top: 7px; padding-left: 7px; display: none;" id="id_delete_control_pane">
                    <div class="text-center" style="clear: both; float: left; width: 100%; padding-left: 27px; margin-top: 7px;">
                        <input type="hidden" class="is_delete_enabled" value="0"/>
                        <button class="btn btn-sm btn-danger message_delete_selected">Delete Selected</button>
                        <button class="btn btn-sm btn-default hide_delete_control">Cancel</button>
                    </div>
                    <div style="clear: both; float: left; width: 100%; padding-left: 21px;">
                        <label><input class="all_select" type="checkbox"/> Select All</label>
                    </div>
                </div>
                <ul class="tchr_exprnc_lst" id="id_message_list" style="height: 350px; overflow: auto; overflow-x: hidden;">
                    {% for message in message_list reversed %}
                        <li data-msg-id="{{ message.pk }}">
                            <input type="hidden" class="last_message_id" value="{{ message.pk }}">
                            <div style="float: right; margin-top: 0px; margin-right: -70px;" class="tchr_exprnc_number pull-right">
                            <span data-livestamp="{{ message.date_created|fromunix|localtime|date:"U" }}"></span></div>
                            <span style="width: auto; padding-left: 7px; padding-right: 7px; float: left; display: none;">
                                <input type="checkbox" class="chat_delete_checkbx" data-msg-id="{{ message.pk }}"/>
                            </span>
                            <div class="msg_img" title="{{ message.usermessage_set.all.first.sender.champuser.fullname }} {{ message.date_created|fromunix|localtime|format_datetime }}">
                                <a href="{% url "user_profile" message.usermessage_set.all.first.sender.pk %}">
                                    <img width="56" height="56" alt="img" src="{{ message.usermessage_set.all.first.sender.champuser.render_profile_picture }}">
                                </a>
                            </div>
                            <div class="msg_chat_detail">
                                <h2 class="message-user-name" data-url="{% url "user_profile" message.usermessage_set.all.first.sender.pk %}" style="cursor: pointer; width: 100%; float: left;position: relative; top: 0px; cursor: pointer;">
                                    {% if message.usermessage_set.all.first.sender.pk == request.user.pk %}Me:{% else %}{{ message.usermessage_set.all.first.sender.champuser.fullname }}:{% endif %}
                                </h2>
                                <p style="width: 100%;">
                                    {% if message.msg %}
                                    {{ message.msg }}
                                    {% endif %}
                                </p>
                                {% if message.messageattachment_set.exists %}
                                {% with attachment=message.messageattachment_set.all.first %}
                                <div>
                                    {% if attachment.thumbnail %}
                                    <a href="{{ attachment.render_attachment_url }}" target="_blank"><img src="{{ attachment.render_thumbnail_url }}"/></a>
                                    {% else %}
                                    <a href="{{ attachment.render_attachment_url }}" target="_blank">{{ attachment.attachment_name }}</a>
                                    {% endif %}
                                </div>
                                {% endwith %}
                                {% endif %}
                            </div>

                        </li>
                    {% endfor %}

                </ul>
                {% if not blocked %}
                <form action="#" class="chat_reply" name="msg_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id_hidden_tutor" value="{{ receiver_id }}"/>
                    <input type="hidden" name="chat_type" value="0"/>
                    <textarea style="color: black;" name="msg_text" placeholder="Enter a problem or question (Optional)"></textarea>
                    <div style="clear: both; width: 100%; float: left; margin-bottom: 7px;">
                        <div id="id_fupload_progress_container" style="width: 400px; max-width: 400px; float: left; display: none; ">
                            <div style="width: 350px; float: left;">
                                <div class="progress file_upload_progress">
                                  <div class="progress-bar progress-bar-striped active" role="progressbar"
                                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                    0%
                                  </div>
                                </div>
                            </div>
                            <div style="width: 50px; float: left;">
                                <span id="id_cancel_file_upload" class="glyphicon glyphicon-remove" style="float: left; color: red; cursor: pointer;"></span>
                            </div>
                        </div>
                        <label class="pull-right">Send when enter is pressed <input type="checkbox" style="position: relative; bottom: 3px; right: 3px; float: left; width: auto; height: auto; display: inline;" name="enter_checkbox" {% if enter_to_send %}checked{% endif %}/></label>
                    </div>
                    <br/>
                    <br/>
                    <label class="attach_files">Attach Files</label>
                    <!--<div class="add3">Choose File
                      <input type="file" style="display:block;" class="file radius" value="Browse File" name="file1" title="Browse File" id="me" onchange=" checkFile(this);getElementById('filevalue').value = getElementById('me').value;getElementById('filevalue').style.display='block'; " required="required">
                      </div>-->
                    <div class="outer_browse_btn">
                        <input name="attached_file" id="btn" accept=".jpg,.jpeg,.png,.zip,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" type="file" style="display:none;" onchange="document.getElementById('file').value=this.value.substring(this.value.lastIndexOf('\\')+1);">

                        <input id="file" type="text" class="browse_text" placeholder="No File Selected" readonly onfocus="this.blur()">

                        <input type="button" onclick="document.getElementById('btn').click();" value="Browse" class="browse_btn" />
                        <div id="id_max_file_hint" style="display: none; width: 100%; clear: both; float: left; margin-top: 7px; color: red;">
                            Maximum file size allowed 20MB
                        </div>
                    </div>
                    <input {% if enter_to_send %}style="display: none;"{% endif %} name="submit" type="submit" class="lesson_bx_submit submit_msg_detail_action" value="Send">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
<script>
    window.max_file_size_over = false;
    $(document).ready(function() {

        $('#btn').bind('change', function() {

          //this.files[0].size gets the size of your file.
          var file_size = this.files[0].size;

          if(file_size >= 20971520) {
               window.max_file_size_over = true;
               $("#id_max_file_hint").show();
               $("input[name=enter_checkbox]").prop("disabled", true);
               $(".submit_msg_detail_action").prop("disabled", true);
          }
          else {
               window.max_file_size_over = false;
               $("#id_max_file_hint").hide();
               $("input[name=enter_checkbox]").prop("disabled", false);
               $(".submit_msg_detail_action").prop("disabled", false);
          }

        });

        $("input[name=enter_checkbox]").change(function(e) {
            if($(this).is(":checked")) {
                $(".submit_msg_detail_action").hide();
            }
            else {
                $(".submit_msg_detail_action").show();
            }
        });

        $(document).on("click", ".message-user-name", function(e) {
            e.preventDefault();
            var url = $(this).data("url");
            location.href = url;
        })
    });
</script>
{% endblock bodycontent %}