{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block script_head_extra %}
    <link rel="stylesheet" href="{% static "css/select2.min.css" %}" type="text/css" media="all">
    <script src="{% static "js/select2.min.js" %}"></script>
    <style>
        .select2-dropdown {
            margin-top: -20px !important;
        }
    </style>
{% endblock script_head_extra %}
{% block bodycontent %}

    <div class="contnt" style="width: 98%;">

        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10">
                <div class="wrapper">
                    <div class="billing_cntnt radius3" style="min-height: 700px;">
                        <div class="msg_heading">
                            <div class="msg_heading_icon"></div>
                            <h2><img width="26" height="25" alt="img" src="{% static "images/tchng_exprnc.png" %}" style="margin-right: 10px;"> My Messages</h2>
                            <a class="radius3" href="#" onclick="showmsg()">Send a New Message</a>
                        </div>
                        <ul id="id_message_entry_list" class="tchr_exprnc_lst">
                            {% for item in items %}
                                {{ item }}
                                {% empty %}
                                <p style="padding: 20px;">No Messages Found.</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">

            </div>
        </div>

        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-sm-10">
                <div class="wrapper">
                    {% include "sections/pagination.html" %}
                </div>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
    </div>

{% endblock bodycontent %}