{% extends "base.html" %}
{% load staticfiles %}

{% block script_extra %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    {#    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>#}
    <script type="text/javascript" src="{% static "js/CreateHTML5Elements.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.js" %}"></script>



    <link type="text/css" rel="stylesheet" href="{% static "css/easy-responsive-tabs.css" %}"/>
    {#    <script src="{% static "js/jquery-1.6.3.min.js" %}"></script>#}
    <script src="{% static "js/easyResponsiveTabs.js" %}" type="text/javascript"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>

<script type="text/javascript" src="{% static "js/mootools-core-1.4.2-full-compat.js" %}"></script>

<![endif]-->

    <!--[if (gte IE 6)&(lte IE 8)]>

<script type="text/javascript" src="{% static "js/selectivizr.js" %}"></script>

<noscript><link rel="stylesheet" href="[fallback css]" /></noscript>

<![endif]-->
{% endblock script_extra %}

{% block body %}
    {% block header %}
        {{ block.super }}
    {% endblock header %}
    {% block bodycontent %}
        <div class="contnt">

        <div class="wrapper" style="width: 100%;">
        <div id="myAccount" class="radius3">
        <ul class="resp-tabs-list" style="width: 20%;margin-left: 1%;">
            <li>Message</li>
            <li>Lessons</li>
            <li>Billings</li>
            <li>My Account</li>
            <li>Settings</li>
        </ul>
        <div class="resp-tabs-container" style="width: 78%;">
        <div>
            <div class="msg_heading">
                <img src="{% static "images/tchng_exprnc.png" %}" width="26" height="25" alt="img">
                <h2>Teaching Experience</h2>
                <a href="#" class="radius3">Send a New Message</a>
            </div>
            <ul class="tchr_exprnc_lst">
                <li>
                    <div class="msg_img"><img src="{% static "images/msg_img1.png" %}" width="56" height="56" alt="img"></div>
                    <div class="msg_img_detl">
                        <div><a href="#">Abhishek A. (id : 23394)</a></div>
                        <span>malay*</span>
                    </div>
                    <div class="nmbr_of_dys">1 week, 3 days ago</div>
                </li>
                <li>
                    <div class="msg_img"><img src="{% static "images/msg_img2.png" %}" width="56" height="56" alt="img"></div>
                    <div class="msg_img_detl">
                        <div><a href="#"> Damon at Champion Tutor (id : 41400) </a></div>
                        <span> <img src="{% static "images/bck_arw.png" %}" width="16" height="13" alt="img"> I see, thats not very worth it</span>
                    </div>
                    <div class="nmbr_of_dys">3 week, 1 days ago</div>
                </li>

            </ul>
        </div>
        <div>
            <div class="msg_heading">
                <img src="{% static "images/lesson_icon.png" %}" width="29" height="29" alt="img">
                <h2>Lessons</h2>
                <a href="#" class="radius3"> <img src="{% static "images/plus.png" %}" width="19" height="19" alt="img"> Send a New Message</a>
            </div>
            <div class="upcmng_lsn radius3">
                <h5>Upcoming Lessons</h5>
                <span>Secondary 3, EMath </span>
            </div>

            <div class="upcmng_lsn radius3">
                <h5>Past Lessons</h5>
                <ul>
                    <li> <div class="user_prfle"><img src="{% static "images/msg_img2.png" %}" width="56" height="56" alt="img"></div>
                        <a href="#" class="stdnt_name_inr">Abhishek A.</a></li>
                    <li>Jul 20</li>
                    <li>11:59 PM CST</li>
                    <li>15 mins</li>
                    <li>Language Art</li>
                    <li>No Review</li>
                    <li><a href="#" class="vw_lesn radius3">View Lesson</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="msg_heading">
                <img src="{% static "images/bling_icon.png" %}" width="37" height="30" alt="img">
                <h2>Billing</h2>
            </div>
            <div class="paymnt_info">
                <h3>Payment Information</h3>
                <div class="pay_info_detail radius3">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Card Type</th>
                            <th>Card Number</th>
                            <th>Expired Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payment_method in payments_methods %}
                            <tr>
                                <td>{{ payment_method.first_name }} {{ payment_method.last_name }}</td>
                                <td>
                                    {% if payment_method.card_type == "V" %}
                                        Visa
                                    {% elif payment_method.card_type == "M" %}
                                        Master
                                    {% endif %}
                                </td>
                                <td>
                                    {{ payment_method.card_number }}
                                </td>
                                <td>
                                    {{ payment_method.month }}/{{ payment_method.year }}
                                </td>
                            </tr>
                        {% empty %}
                            <tbody>
                            <tr>
                                <td colspan="4">
                                    No Payment Method Added.
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                    <span>Only your primary card will be used  unless it is declined and you have an outstanding balance.</span>
                </div>

                <div style="margin-top: 10px; padding: 10px; max-width: 400px;">

                    <div class="row">
                        <div class="col-md-12">
                            <label id="id_payment_op_status"></label>
                        </div>
                    </div>
                    <form id="id_payment_method_form" action="{% url "ajax_payment_method" %}" method="POST">
                        {% csrf_token %}
                        <h3>Add A New Payment Method</h3>
                        <div>
                            {{ pm_form.first_name }}
                        </div>
                        </br>
                        <div>
                            {{ pm_form.last_name }}
                        </div>
                        </br>
                        <div>
                            {{ pm_form.card_type }}
                        </div>
                        </br>
                        <div>
                            {{ pm_form.card_number }}
                        </div>
                        </br>
                        <div>
                            {{ pm_form.exp_date }}
                        </div>
                        </br>
                        <div>
                            {{ pm_form.cvn }}
                        </div>
                        </br>
                        {#                                        <div>#}
                        {#                                            {{ pm_form.primary }}#}
                        {#                                        </div>#}
                        {#                                        </br>#}
                        {#                                        <div>#}
                        {#                                            {{ pm_form.active }} &nbsp; Active#}
                        {#                                        </div>#}
                        {#                                        </br>#}
                        <div>
                            <button id="id_save_new_credit_card" class="btn btn-lg btn-primary"><img src="{% static "images/plus.png" %}" width="20" height="20" alt="img">&nbsp;Save New Card</button>
                        </div>
                    </form>

                </div>
                <span class="sve_mny">Save money by setting up a subscription</span>
                <button class="btn btn-lg btn-primary">Choose a Subscription</button>

                <h3>Billing History</h3>

                <table class="radius3">
                    <tr>
                        <th>Date Charged</th>
                        <th>Usage Window</th>
                        <th>Amount Charged</th>
                        <th>Status</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>July 18, '14</td>
                        <td>July 18-july 24</td>
                        <td>$9.00</td>
                        <td>Charged</td>
                        <td>Subscription (15 min. Included)</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>


            </div>

        </div>
        <div>
            <div class="msg_heading">
                <img src="{% static "images/my_acnt.png" %}" width="39" height="39" alt="img">
                <h2>My Account</h2>
            </div>
            <style>
                label{
                    font-size: 20px;
                    font-weight: normal;                                }
            </style>
            <div class="container" style="width: 78%; float: left; padding: 10px; ">
                <div class="row">
                    <div class="col-md-12">
                        <label id="id_myaccount_op_status"></label>
                    </div>
                </div>
                <form id="id_myaccount_form" action="{% url "ajax_myaccount" %}" name="myaccount-form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <label>Your Email Address: </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ ma_form.email }}</div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Enter Old Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ ma_form.old_password }}</div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Enter New Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ ma_form.new_password }}</div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Enter New Password Again</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ ma_form.new_password_again }}</div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col-md-9 text-center">
                            <button id="id_update_myaccount_info" class="btn btn-lg btn-primary" style="width: 160px;">Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div>
            <div class="msg_heading">
                <img src="{% static "images/my_acnt.png" %}" width="39" height="39" alt="img">
                <h2>Account Settings</h2>
            </div>
            <form class="my_acnt">
                <span>Email Settings</span>

                <div class="chckbx">
                    <input type="checkbox" checked>	Send me occasional from Champaion Tutor
                </div>

                <span>Timezone</span>

                <div class="select radius5">
                    <select>
                        <option value="Asia">Asia</option>
                    </select>
                </div>

                <div class="select radius5">
                    <select>
                        <option value="Shanghai">Shanghai</option>
                    </select>
                </div>

                <input type="submit" value="Save Changes" class="radius3" >
            </form>
        </div>



        </div>
        </div>
        </div>
        </div>
    {% endblock bodycontent %}
{% endblock body %}
{% block more_extra %}

    </body>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myAccount').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    </html>
    <script src="{% static "js/jquery.bxslider.min.js" %}"></script>
    <script language="javascript">

        $(function(){
            $('#slide_show').bxSlider({
                auto: true,
                pager: false,
                controls :false,
                touchEnabled:true,
                startSlide:3,
                pause:7000
            });
        });
    </script>
    <script>
        $(document).ready(function(){

            $(function () {
                //$('#datetimepicker').datetimepicker();
            });

            $("#id_update_myaccount_info").click(function(e){
                e.preventDefault();
                $(this).prop("disabled",true);
                $.ajax({
                    type: "POST",
                    url: $("#id_myaccount_form").attr("action"),
                    data: $("#id_myaccount_form").serialize(),
                    success: function(data)
                    {
                        data = jQuery.parseJSON(data);
                        if(data.STATUS == "SUCCESS"){
                            $("#id_myaccount_op_status").css("color","green");
                            $("#id_myaccount_op_status").text(data.MESSAGE);
                        }
                        else if(data.STATUS == "FAILURE"){
                            $("#id_myaccount_op_status").css("color","red");
                            $("#id_myaccount_op_status").text(data.MESSAGE);
                        }
                    },
                    error: function(jqxhr, status, error)
                    {
                        console.log("An error occured.");
                        $("#id_myaccount_op_status").css("color","red");
                        $("#id_myaccount_op_status").text("An error occured while my account was being updated.");
                    }
                })
                .done(function( msg ) {
                    $("#id_update_myaccount_info").prop("disabled",false);
                });
                return false;
            });

            $("#id_save_new_credit_card").click(function(e){
                e.preventDefault();
                //$(this).prop("disabled",true);
                $.ajax({
                    type: "POST",
                    url: $("#id_payment_method_form").attr("action"),
                    data: $("#id_payment_method_form").serialize(),
                    success: function(data)
                    {
                        data = jQuery.parseJSON(data);
                        console.log(data);
                        if(data.STATUS == "SUCCESS"){
                            $("#id_payment_op_status").css("color","green");
                            $("#id_payment_op_status").text(data.MESSAGE);
                            location.reload();
                        }
                        else if(data.STATUS == "FAILURE"){
                            $("#id_payment_op_status").css("color","red");
                            $("#id_payment_op_status").text(data.MESSAGE);
                        }

                    },
                    error: function(jqxhr, status, error)
                    {
                        console.log("An error occured.");
                        $("#id_payment_op_status").css("color","red");
                        $("#id_payment_op_status").text("An error occured while my account was being updated."+msg);
                    }
                })
                        .done(function( msg ) {
                            $("#id_save_new_credit_card").prop("disabled",false);

                        });

                return false;
            });

        });
    </script>
{% endblock more_extra %}