{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}

{% block script_head_extra %}
    <script src="{% static "js/password-score.js" %}"></script>
    <script src="{% static "js/password-score-options.js" %}"></script>
<script src="{% static "js/bootstrap-strength-meter.js" %}"></script>
{% endblock script_head_extra %}

{% block bodycontent %}

    <div class="contnt">

        <div class="wrapper">
            <div class="billing_cntnt radius3 text-center">

                <div class="msg_heading">
                    <div class="msg_heading_icon"><img width="39" height="39" alt="img" src="{% static "images/my_acnt.png" %}"></div>
                    <h2>My Account</h2>
                </div>
            <style type="text/css">
                .change-password-input{
                    padding: 20px !important;
                    width: 400px !important;
                    height: 60px !important;
                }
                #id_password_strength_progressbar1,#id_password_strength_progressbar2,#id_password_strength_progressbar3{
                    width: 400px;
                }
            </style>
                <div id="id_status_msg" style="margin-top: 10px; padding: 10px; width:  100%; clear: both; " class="text-center"></div>
                <form name="myaccount_form" action="{% url "ajax_myaccount" %}" method="POST" class="my_acnt form-horizontal">

                    {% csrf_token %}
                    {{ ma_form.email }}
                    {{ ma_form.old_password }}
                    <span id="id_password_strength_progressbar1" style="display: none;"></span>
                    {{ ma_form.new_password }}
                    <span id="id_password_strength_progressbar2" style="display: none;"></span>
                    {{ ma_form.new_password_again }}
                    <span id="id_password_strength_progressbar3" style="display: none;"></span>

                    <div id="messages"></div>

                    <!--<span>Timezone</span>-->

                    <!--<div class="select1 radius5">-->
                        <!--<select name="user_timezone" class="form-control lesson-request-select change-password-input" style="cursor: pointer;">-->
                            <!--{% for value, label in timezones %}-->
                            <!--<option value="{{ value }}" {% if request.user.champuser.timezone == value %} selected {% endif %}>{{ label }}</option>-->
                            <!--{% endfor %}-->
                        <!--</select>-->
                    <!--</div>-->
                    <br/>

{#                    <div class="select radius5">#}
{#                        <select class="loct">#}
{#                            <option value="Shanghai">Shanghai</option>#}
{#                        </select>#}
{#                    </div>#}

                    <input type="submit" id="id_change_password" class="radius3" value="Save Changes">
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static "js/jquery.selectbox-0.1.3.min.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function(){
                $("#id_change_password").click(function(e){
                    e.preventDefault();
                    var form_data = $("form[name=myaccount_form]").serialize();
                    $.ajax({
                        type: "POST",
                        url: $("form[name=myaccount_form]").prop("action"),
                        data: form_data,
                        success: function(content)
                        {
                            data = jQuery.parseJSON(content);
                            if(data.STATUS == "SUCCESS"){
                                $("#id_status_msg").css("color","green");
                                $("#id_status_msg").text("Account updated successfully.");
                                $("#id_status_msg").fadeIn(1000).fadeOut(2000);
                            }
                            else{
                                $("#id_status_msg").css("color","red");
                                $("#id_status_msg").text("Account update failed. The following error occured: "+data.MESSAGE);
                                $("#id_status_msg").fadeIn(1000).fadeOut(2000);
                            }
                        },
                        error: function(jqxhr, status, error)
                        {

                        }
                    })
                    .done(function( msg ) {

                    });
                });
            });
        });;

        $(document).ready(function() {
            /*
            $('#id_password').strengthMeter('progressBar', {
                container: $('#id_password_strength_progressbar1'),
                hierarchy: {
                    '0': 'progress-bar-danger',
                    '10': 'progress-bar-warning',
                    '15': 'progress-bar-success'
                }
            });
            $('#id_new_password').strengthMeter('progressBar', {
                container: $('#id_password_strength_progressbar2'),
                hierarchy: {
                    '0': 'progress-bar-danger',
                    '10': 'progress-bar-warning',
                    '15': 'progress-bar-success'
                }
            });
            $('#id_new_password_again').strengthMeter('progressBar', {
                container: $('#id_password_strength_progressbar3'),
                hierarchy: {
                    '0': 'progress-bar-danger',
                    '10': 'progress-bar-warning',
                    '15': 'progress-bar-success'
                }
            });

            $('#id_password').focusin(function(e){
                $('#id_password_strength_progressbar1').show();
            });

            $('#id_password').focusout(function(e){
                $('#id_password_strength_progressbar1').hide();
            });

            $('#id_new_password').focusin(function(e){
                $('#id_password_strength_progressbar2').show();
            });

            $('#id_new_password').focusout(function(e){
                $('#id_password_strength_progressbar2').hide();
            });

            $('#id_new_password_again').focusin(function(e){
                $('#id_password_strength_progressbar3').show();
            });

            $('#id_new_password_again').focusout(function(e){
                $('#id_password_strength_progressbar3').hide();
            });
            */

        });

    </script>

{% endblock bodycontent %}