{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block script_head_extra %}
    <link rel="stylesheet" href="{% static "css/privacy_policy.css" %}" type="text/css" media="all">
<script>
    $(document).ready(function() {

    });
</script>
{% endblock script_head_extra %}

{% block bodycontent %}
<div class="contnt">
    <div class="wrapper">
		<div class="privacy-list">
			<h1 class="champ_heading">Privacy policy</h1>
			<ol>
				<li>Introduction
					<ol>
						<li>We are committed to safeguarding the privacy of our website visitors; in this policy we explain how we will treat your personal information. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your personally information in accordance with our website. By using our website and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.</li>
					</ol>
				</li>
				<li>Collecting personal information
					<ol>
						<li><span>2.1</span>
							Registration and Other Information You Provide: The Services may collect "Personal Information" (which is information that can be used to identify or contact a specific individual, such as your name and email address), account information (such as a password or other information that helps us confirm that it is you accessing your account) and demographic or other information (such as your school, gender, age or birthdate and zip code and information about your interests and preferences). We will also collect payment information (typically, credit card account information) if you choose to purchase services through the Services. Some Services may allow you to use the Service to offer your own products or services for sale. If you use the Services for such purposes or in any other manner that may necessitate payment from ChampionTutor Online to you, we may collect additional information from you, such as your NRIC or taxpayer identification number, as necessary to facilitate payment and to comply with related legal obligations. Any information combined with Personal Information will be treated as Personal Information.
						</li>
						<li><span>2.2</span>
							Your Profile, Community Forums and User Content: You may have the opportunity to create a profile, which consists of information about you, which may include Personal Information, photographs, information about your academic and work history, your interests and activities, your use of the Services and other information ("Profile"). Some of the information in your Profile may be visible to third parties or to everyone, depending on the nature of the information and the privacy settings you choose when you sign in and go to your Account on the website or other Services where you created your Profile. ChampionTutor Online may also make the information contained in your Profile accessible through means other than the ChampionTutor Online website (such as through an app or an application programming interface (API)). Your Profile may also be indexed by and displayed by internet search providers when someone searches for your name. ChampionTutor Online does not control how frequently third-party search engines update their indexes; consequently, their information may be outdated and still available for a period of time even if you discontinue use of the Service.
						</li>
						<li><span>2.3</span>
							Information Third Parties Provide About You: Third parties may provide us with information about you. The Services may permit interactions between the Services and a third party web site or service. These interactions may collect your IP address or other Device Identifier, which page you are visiting on our web site, and may set a cookie to enable the third party feature to function properly. Third party features and applications are either hosted by a third party or hosted directly on our Services. Your interactions with these features are governed by the privacy policy of the company providing it.<br><br>
							You may also choose to participate in a third party application or feature through our Services or on a third party web site or service through which you allow us to collect (or the third party to share) information about you, including Personal Information, including your name and profile photo, may be shown to other users of the Services if you are logged in through the Services or through a third party web site or service. The third party may allow you to remove the application or feature, in which case we will no longer collect information about you through the application or feature, but we may retain the information previously collected. When you choose to participate, you may be opting to link your activity on our Services with that third party web site or service, which may then collect information about your visits to our Services and may publish that activity as you request to your profile or similar feature with that third party. In some instances, we may require that you participate in the Services through a third party application or feature and, if you choose not to authorize or use the required third party application or feature, you will not be able to use the applicable Service.
						</li>
						<li><span>2.4</span>
							Information Automatically Collected When You Access The Services: ChampionTutor Online uses cookies and web beacons to track usage activities of the Services. You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.<br><br>
							If you disable cookies off, some features will be disabled that make your site experience more efficient and some of our services will not function properly. However, you can still use the Services.
						</li>
					</ol>
				</li>
				<li>Using personal information
					<ol>
						<li><span>3.1</span>
							Personal information submitted to us through our website will be used for the purposes specified in this policy or on the relevant pages of the website.<br><br>
							We may use your personal information to administer our website and business; personalize our website for you; enable your use of the services available on our website; supply to you services purchased through our website; send statements, invoices and payment reminders to you, and collect payments from you; send you non-marketing commercial communications; send you email notifications that you have specifically requested; send you our email newsletter, if you have requested it (you can inform us at any time if you no longer require the newsletter); send you marketing communications relating to our business or the businesses of carefully-selected third parties which we think may be of interest to you, by post or, where you have specifically agreed to this, by email or similar technology (you can inform us at any time if you no longer require marketing communications); provide third parties with statistical information about our users (but those third parties will not be able to identify any individual user from that information); deal with enquiries and complaints made by or about you relating to our website; keep our website secure and prevent fraud and verify compliance with the terms and conditions governing the use of our website [(including monitoring private messages sent through our website private messaging service)
						</li>
						<li><span>3.2</span>
							If you submit personal information for publication on our website, we will publish and otherwise use that information in accordance with the licence you grant to us. Your privacy settings can be used to limit the publication of your information on our website, and can be adjusted using privacy controls on the website.
						</li>
						<li><span>3.3</span>
							All our website financial transactions are handled through our payment services provider Braintree. You can review the provider's privacy policy at Braintree’s website. We will share information with our payment services provider only to the extent necessary for the purposes of processing payments you make via our website, refunding such payments and dealing with complaints and queries relating to such payments and refunds.
						</li>
					</ol>
				</li>
				<li>Disclosing personal information
					<ol>
						<li><span>4.1</span>
							We may disclose your personal information to any of our employees, professional advisers, suppliers or subcontractors insofar as reasonably necessary for the purposes set out in this policy.
						</li>
						<li><span>4.2</span>
							We may disclose your personal information to any member of our group of companies (this means our subsidiaries, our ultimate holding company and all its subsidiaries) insofar as reasonably necessary for the purposes set out in this policy.
						</li>
						<li><span>4.3</span>
							We may disclose your personal information:
							<ol>
								<li>
									to the extent that we are required to do so by law; in connection with any ongoing or prospective legal proceedings; in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk); to the purchaser (or prospective purchaser) of any business or asset that we are (or are contemplating) selling; and to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.
								</li>
								<li>
									ChampionTutor Online works with network advertisers, ad agencies, analytics service providers and other vendors to serve third party advertisements on and through the Services; to provide us with information regarding traffic on the Services, including the pages viewed and the actions users take when visiting the Services; to serve our advertisements on other websites, within mobile apps, and elsewhere online; and to provide us with information regarding the use of the Services and the effectiveness of our advertisements. <br><br>
									We may share Usage Information about visitors with third party advertising companies, analytics providers and other vendors. Our ad network providers, the advertisers, ad agencies, analytics service providers and other vendors may set and access their own tracking devices (including cookies and web beacons) and they may otherwise collect or have access to information about you and your online browsing activities. Some of these third parties may collect Personal Information over time when you visit the Services or other web sites and services.
								</li>
							</ol>
						</li>
						<li><span>4.5</span>
							Except as provided in this policy, we will not provide your personal information to third parties.
						</li>
					</ol>
				</li>
				<li>Security of personal information
						<p>
							We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information. We will store all the personal information you provide on our secure (password- and firewall-protected) servers. All electronic financial transactions entered into through our website will be protected by encryption technology.<br><br>
							You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.<br><br>
							You are responsible for keeping the password you use for accessing our website confidential; we will not ask you for your password (except when you log in to our website).
						</p>
				</li>
				<li>Amendments
					<P>We may update this policy from time to time by publishing a new version on our website. You should check this page occasionally to ensure you are happy with any changes to this policy. We may notify you of changes to this policy by email.</P>
				</li>
				<li>Questions or Comments
					<p>If you have questions or comments about this privacy policy, please send us email to <a href="mailto:legal@championtutoronline.com"> legal@championtutoronline.com.</a></p>
				</li>
			</ol>



    </div>
</div>
</div>
{% endblock bodycontent %}