{% extends "master.html" %}
{% load staticfiles %}
{% load cropping %}
{% load datefilters %}

{% block script_head_extra %}
    <div id="fb-root"></div>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{%  static "js/bootstrap.min.js" %}"></script>
    <style type="text/css">
        #cboxOverlay{
            z-index: 1000;
        }
        #colorbox{
            z-index: 1000;

        }
    </style>
    <div id="id_dialog_notification"></div>
    <script>

        var redesign_dialogui = function(){
            $(".ui-dialog").removeClass("ui-corner-all");
            $(".ui-dialog").css("border","1px solid gray");
            $(".ui-dialog").css("padding","0px");
            //$(".ui-dialog").css("background","black");
            $(".ui-dialog-titlebar").css("padding","0px");
            $(".ui-dialog-titlebar").css("border","none");
            $(".ui-dialog-titlebar").css("border-radius","0px");
            $(".ui-dialog-titlebar").css("height","30px");
            //$(".ui-dialog-content").css("background","black");
            $(".ui-dialog-titlebar-close").css("display","none");
            $(".ui-dialog-buttonpane").css("background","gray");
            $(".ui-button").css("background","#5cb85c");
            $(".ui-dialog-buttonpane").addClass("text-center");
            $(".ui-dialog").css("text-align","center");
            $(".ui-dialog-buttonpane").css("text-align","center");
            $(".ui-dialog").css("float","none");
            $(".ui-dialog-buttonpane").css("float","none");
            $(".ui-dialog-buttonset").css("float","none");
            $(".ui-button-icon-primary").css("display","none");
            $(".ui-button").css("border","none");
            $(".ui-dialog-title").css("text-align","left");
            $(".ui-dialog-title").css("padding","3px");
            $(".ui-dialog-titlebar").css("cursor","move");
        };

        var notification_dialog = function(title,html,_buttons)
        {

            var buttons = [
                {
                    text: "Ok",
                    click: function() {
                        $( this ).dialog( "close" );
                    }
                }
            ];

            if(_buttons != undefined){
                buttons = _buttons;
            }

            var dialog_options = {
                autoOpen: true,
                title: title,
                modal: true,
                resizable: false,
                closeOnEscape: false,
                buttons: buttons,
                resize: function( event, ui ) {
                    redesign_dialogui();
                }
            };
            $("#id_dialog_notification").html(html).dialog(dialog_options);
            redesign_dialogui();
        }


    </script>
{% endblock script_head_extra %}

{% block bodycontent %}
    {% if request.session.is_login %}
        {% if object.type.name == "teacher" %}
            {% if section == "about" %}
                {% include "sections/tutor_profile_about.html" with item=item section="about" %}
            {% elif section == "video-intro" %}
                {% include "sections/tutor_profile_video_intro.html" with item=item section="video-intro" video_url=my_video_url %}
            {% elif section == "job_invitation" %}
                {% include "sections/job_invitation.html" with item=item section="job_invitation" %}
            {% elif section == "job_recommendation" %}
                {% include "sections/job_recommendation.html" with item=item section="job_recommendation" %}
            {% elif section == "calendar_events" %}
                {% include "sections/calendar_events.html" with item=item section="calendar_events" %}
            {% elif section == "profile" %}
                {% include "sections/tutor_body_full.html" with item=item section="profile" %}
            {% elif section == "lesson_review_list" %}
                {% include "sections/lesson_review_list.html" with reviews=reviews section="lesson_review_list" %}
            {% elif section == "lesson_review_details" %}
                {% include "sections/lesson_review_details.html" with review=review section="lesson_review_details" %}
            {% else %}
                {% include "sections/tutor_home_feed.html" with item=item section="feed" %}
            {% endif %}
        {% else %}
            {% include "sections/student_body.html" with item=item %}
            <!--{% if section == "profile" %}-->
                <!--{% include "sections/student_body.html" with item=item %}-->
            <!--{% elif section == "jobs" %}-->
                <!--{% include "sections/student_jobs.html" with job_post_list=job_post_list %}-->
            <!--{% elif section == "job_details" %}-->
                <!--{% include "sections/student_job_details.html" with job=job %}-->
            <!--&lt;!&ndash;{% elif section == "q_post" %}&ndash;&gt;-->
                <!--&lt;!&ndash;{% include "sections/student_question_post.html" with item=item %}&ndash;&gt;-->
            <!--&lt;!&ndash;{% elif section == "qs" %}&ndash;&gt;-->
                <!--&lt;!&ndash;{% include "sections/student_qfed.html" with item=item %}&ndash;&gt;-->
            <!--&lt;!&ndash;{% elif section == "q_details" %}&ndash;&gt;-->
                <!--&lt;!&ndash;{% include "sections/student_q_details.html" with question=question %}&ndash;&gt;-->
            <!--{% else %}-->
                <!--{% include "sections/student_body.html" with item=item %}-->
            <!--{% endif %}-->
        {% endif %}
    {% else %}
        {% include "sections/tutor_body_public.html" %}
    {% endif %}
{% endblock bodycontent %}