{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load cropping %}
{% load tz %}

{% block script_head_extra %}
    <div id="fb-root"></div>
    <link href="{% static "css/colorbox.css" %}" rel="stylesheet">
    <link href="{% static "css/flags-css/flag-icon.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.colorbox-min.js" %}"></script>
    <link href="{% static "css/jquery-ui-1.11.3.custom/jquery-ui.theme.css" %}" rel="stylesheet">
    <link href="{% static "css/datepicker3.css" %}" rel="stylesheet">
    {#<script src="{% static "js/bootstrap.popup.dialog.js" %}"></script>#}
    <script src="{% static "js/select2.min.js" %}"></script>
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
    <script src="{% static "js/bootstrap-paginator.js" %}"></script>
    <script src="{% static "js/raty/jquery.raty.js" %}"></script>
    <link href="{% static "css/job_status.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/job.js" %}"></script>
    <script type="text/javascript" src="{% static "js/job_details_action_.js" %}"></script>
    <script src="{% static "js/job_invite.js" %}"></script>


    <style type="text/css">
        #cboxOverlay{
            z-index: 1000;
        }
        #colorbox{
            z-index: 1000;

        }
        .pointer-cursor {
            cursor: pointer;
        }
        .active {
            cursor: default;
        }
        .overlay {
            width: 100%;
            height: 100%;
            margin:auto;
            position:fixed;
            top:0;
            right:0;
            bottom:0;
            left:0;
            background:#000;
            background: rgba(0,0,0, 0.1);
            z-index: -100;
            <!--display: none;-->
            margin:0 auto;
            clear:left;
            text-align:center;/* Add This*/
            overflow: hidden;
        }
        .overlay_loading {
            position: absolute;
            left: 40%;
            top: 50%;
            width: 190px;
            font-size: 20px;
            z-index: 101;
            display: none;
        }
        .error {
            color: red;
        }
        .job-status-list li a {
            font-size: 14px;
            color: green !important;
        }

        .bold_font {
            font-weight: bold;
        }

        .active a {
            font-weight: bold;
        }
        .rate-table td{
            padding:  7px;
            font-size: 14px;
            color: black;
        }
        .rate-table input{
            padding:  20px;
        }
        /*.padding20{
            padding:  1px;
        }*/
    </style>
    <div id="id_dialog_notification"></div>
{% endblock script_head_extra %}
{% block bodycontent %}
<div class="main">
<input type="hidden" id="id_hidden_view_as" value="{{ view_as }}"/>
<div class="contnt">
    <div class="wrapper">
        {% if view_as == "public" %}
        <div style="text-align: center;">
            You are viewing as others see your profile. <a style=""Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.42857143;" href="{% url "user_profile" request.user.pk %}">Back to original mode</a>
        </div>
        {% endif %}
    	<div class="profile radius3 bg_white">
            {% if view_as == "public" %}
			<div class="splitter1">
				<img src="{% static "images/minus.png" %}" width="12" height="2" alt="img">
				<img src="{% static "images/add.png" %}" width="12" height="12" alt="img">
			</div>
            {% endif %}
    		<div id="w" class="clearfix">
                {% include "ajax/profile/tutor/side_menu.html" %}

                {% include "ajax/profile/tutor/tab_contents.html" %}
            </div>
            {% include "ajax/profile/tutor/right_summary.html" %}
  		</div>
    </div>
</div>
</div>
{% endblock bodycontent %}