{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}
<style>
    .table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
        border: none;
    }
    th {
        font-weight: bold;
    }
</style>
{% endblock script_head_extra %}
{% block bodycontent %}
<div class="contnt">
    <div class="wrapper">
        <div class="champ_last_content_detail">
            <div>
                <h3 class="reject_reason_heading" style="width: 100%; margin-top: 0px;">Student Reports  <a class="btn btn-primary btn-sm pull-right" style="color: #ffffff;" href="/progress_report/new/">Write Progress Report</a></h3>
                    <!--<h3>Student Reports <a class="btn btn-primary btn-sm pull-right" style="color: #ffffff;" href="/progress_report/new/">Write Progress Report</a></h3>-->
                    Showing {{ page_obj.start_index }} to {{ page_obj.end_index }}
                <hr>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-borderless">
                            <thead class="report-header">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Report Date
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in object_list %}
                                <tr>
                                    <td style="vertical-align: top;">
                                        <p style="color: #555;">{{ object.receiver.champuser.fullname }}</p>
                                    </td>
                                    <td>
                                        <p style="color: #555;">{{ object.receiver_email }}</p>
                                    </td>
                                    <td style="vertical-align: top;">
                                        <p style="color: #555;">{{ object.date_created|fromunix|localtime|format_datetime }}</p>
                                    </td>
                                    <td style="vertical-align: top;">
                                        <a href="/progress_report/details/{{ object.pk }}/">View Details</a>
                                    </td>
                                </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">
                                    No report found
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% include "sections/pagination.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock bodycontent %}