{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}
<style>
    .table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
        border: none;
    }
</style>
{% endblock script_head_extra %}
{% block bodycontent %}
<div class="contnt">
    <div class="wrapper">
        <div class="champ_last_content_detail">
            <h3 class="reject_reason_heading" style="width: 100%; margin-top: 0px; padding-left: 8px; ">Progress Report for <a href="/profile/{{ object.receiver.pk }}/">{{ object.receiver.champuser.fullname }}</a></h3>
            <hr style="width: 100%;"/>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td><p style="color: #14252f; ">Sent To: {{ object.receiver_email }}</p></td>
                    </tr>
                    <tr>
                        <td>
                            <p style="color: #14252f; ">Report Date: {{ object.date_created|convert_utc_timestamp_to_local:request|datetime_from_timestamp }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin-bottom: 7px; width: 100%; clear: both; color: #14252f; ">Report Content:</p>
                            <div>{% autoescape off %} {{ object.text }} {% endautoescape %}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock bodycontent %}