{% load staticfiles %}
{% load configfilters %}

<!DOCTYPE HTML>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Champion Tutor</title>
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static "css/style_home.css" %}" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/select2.modified.css" %}" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap_social/bootstrap-social.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap_social/font_awesome/font-awesome.min.css" %}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script src="{%  static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/CreateHTML5Elements.js" %}"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="{% static "js/select2.min.js" %}"></script>
    <script src="{% static "js/tag-it-custom.js" %}"></script>
    <script src="{% static "js/chat/chat.js" %}"></script>
    <script src="{% static "js/home.js" %}"></script>
    <script src="{% static "js/login.js" %}"></script>
    {% block additional_script %}

    {% endblock additional_script %}
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="{% static "js/mootools-core-1.4.2-full-compat.js" %}"></script>
    <![endif]-->
        <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="{% static "js/selectivizr.js" %}"></script>
    <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
<   ![endif]-->
    <style>
        .form-signin {
            max-width: 450px;
            padding: 15px;
            margin: 0 auto;
        }
        h2.form-signin-heading {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="text"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .form-signin
        {
            -moz-box-shadow: 0 0 2px #bfbfbf;
            -webkit-box-shadow: 0 0 2px #bfbfbf;
            box-shadow: 0 0 2px #bfbfbf;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        #status_ok
        {
            width: 80px;
        }

        .signup-form-input,.signup-form-select{
        height: 60px;
        padding:  13px;
    }
    .signup-user-type-select{
        cursor: pointer;
    }
    .error {
        color: red;
        display: none;
    }

    .hint {
        padding: 7px; font-weight: bold;
    }

    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        background: white;
    }

    </style>
</head>
<body>

<div class="main">
	{% block scroll_header %}
    <div>
    	<header class="menu_scrol1">
        	<div class="wrapper">
            	<a href="/" id="logo"> <img src="/static/images/logo.png" width="212" height="36" alt="Logo"> </a>
                <div class="top_menu">
               	  <ul class="menu">
                         <li><a href="#" onClick="showworks();">How it works</a></li>
                        <li><a href="{% url "tutor_search" %}">Search Tutors</a></li>
                        <li><a href="{% url "faq" %}">Help</a></li>
                    </ul>
                </div>
                <div class="right_menu">
                	<a class="sign_in" href="#" onclick="show_signin();">Sign in</a>
                    <a class="rgster" href="#" onclick="show_signup();">Register</a>
                </div>
            </div>
        </header>
    </div>
    {% endblock scroll_header %}
    {% block body_content %}

    {% endblock body_content %}


    {% include "sections/public_chat.html" %}


<footer>
	<div class="wrapper">
		<a href="#" class="ftr_logo"> <img src="{% static "images/logo.png" %}" width="212" height="36" alt="img"> </a>
		<ul class="ftr_lnk">
        	<span class="lnk_hdng">FOR STUDENTS</span>
        	<li><a href="#" onclick="show_signup('student');">Become a student</a></li>
            <li><a href="#" onclick="showworks();">How it works</a></li>
            <li><a href="{% url "faq" %}#student">FAQ</a></li>
        </ul>
		<ul class="ftr_lnk">
        	<span class="lnk_hdng">FOR TUTORS</span>
        	<li><a href="#" onclick="show_signup('tutor');">Become a tutor</a></li>
            <li><a href="#" onclick="showworks();">How it works</a></li>
            <li><a href="{% url "faq" %}#tutor">FAQ</a></li>
        </ul>
		<ul class="ftr_lnk">
        	<span class="lnk_hdng">Help</span>
        	<li><a href="{% url "contact_us_view" %}">Report a Problem</a></li>
        </ul>
		<ul class="ftr_lnk">
        	<span class="lnk_hdng">CONTACT US </span>
        	<li><a href="{% url "contact_us_view" %}">Contact</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <!--<ul class="social_icon">-->
        	<!--<span class="lnk_hdng">Social</span>-->
        	<!--<li><a href="#"><img src="{% static "images/fb.png" %}" width="9" height="17" alt="icon"></a></li>-->
			<!--<li><a href="#"><img src="{% static "images/twtr.png" %}" width="20" height="16" alt="icon"></a></li>-->
            <!--<li><a href="#"><img src="{% static "images/gogle.png" %}" width="17" height="17" alt="icon"></a></li>-->
			<!--<li><a href="#"><img src="{% static "images/pinterest.png" %}" width="16" height="19" alt="icon"></a></li>-->
        <!--</ul>-->
    </div>
</footer>
    <div class="lwr_ftr">
	<div class="wrapper">
		<ul class="prvt_plcy">
    		<li><a href="#">Terms of Use</a></li>
        	<li><a href="{% url "privacy_policy" %}">Privacy Policy</a></li>
    	</ul>
        <p class="ftr_txt"> Copyright © ChampionTutor Online</p>

    </div>
</div>
</div>
<div id="connect">
  <div class="connect_bx">
  	<h1 class="lesson_bx_heading">Is there anything else that your tutor should know?</h1>
    <p class="working_tutor">Let us know exactly what you are working on and we will inform the tutors.</p>
    <div class="enter_question">
    	<form class="lesson_bx_form">
    	<textarea placeholder="Enter a problem or question (Optional)" class="enter_problem"></textarea>
        <div class="preferred_communication">
        	<h2>Preferred communication Style</h2>
            <div> <input type="radio" name="communication" id="text_only"> <label for="text_only">Text Only </label> </div>
            <div> <input type="radio" name="communication" id="audio"> <label for="audio">Audio</label> </div>
            <div> <input type="radio" name="communication" id="video"> <label for="video">Video</label> </div>
        </div>
        <div><input type="submit" class="find_tutor" value="Find My Tutor"></div>
        </form>
    </div>
  </div>
</div>

<div id="how_works">
  <div class="how_works_bx">
        <h1 class="work_heading">ChampionTutor provides the most convenient <br> way for you to connect to a tutor instantly</h1>
        <ul class="how_works_list">
        	<li>
            	<div class="how_works_icon"> <img src="{% static "images/connect-tutor-icon1.png" %}" width="170" height="150" alt="img"> </div>
              <h3 class="how_works_heading">Get instant connection
with any tutors, 24/7</h3>
              <p class="how_works_text">After your search, a list of tutors will appear, you can choose to chat with them first before entering into a tutoring session.</p>
            </li>
            <li>
            	<div class="how_works_icon"> <img src="{% static "images/connect-tutor-icon2.png"" %}" width="161" height="150" alt="img"> </div>
              <h3 class="how_works_heading">Experience the user-friendly
tools in our lesson space</h3>
              <p class="how_works_text">Our lesson space connects you through different media, such as audio, video and text. Upload your assignment and get ready to learn.</p>
            </li>
            <li>
            	<div class="how_works_icon"> <img src="{% static "images/connect-tutor-icon3.png"" %}" width="150" height="150" alt="img"> </div>
              <h3 class="how_works_heading">What's more? You
can try it for free</h3>
              <p class="how_works_text">Can't decide which tutors to choose? Start off with a free 30 minutes trial. Thereafter, fee is as per charge according to tutor's hourly rate.</p>
            </li>
        </ul>
  </div>
</div>
{% include "sections/login_forms.html" %}
</body>
</html>

<script language="javascript">


</script>
<script type="text/javascript" src="{% static "js/jquery.selectbox-0.1.3.min.js" %}"></script>
<script type="text/javascript">
	$(function () {
	$(".loct").selectbox();
	var len = $(".loct").parent();
	$(len).click(function(e){
   e.stopPropagation();
   $(".sbOptions",this).show();
    $("body").click(function(e){
     if(e.target.id != "loct")
     {
     $(".sbOptions",this).hide();
     $("body").unbind("click");
     }
    });
    });
});
function showconnect()
{document.getElementById('black_overlay').style.display="block";
document.getElementById('connect').style.display="block";}

function showworks()
{document.getElementById('black_overlay').style.display="block";
document.getElementById('how_works').style.display="block";}

$("#black_overlay").click(function(e) {
    e.preventDefault();
    $("#how_works").hide();
});

</script>
<script src="{% static "js/jquery.bxslider.min.js" %}"></script>
<script>
  $('.testimonial').bxSlider({
  auto: true,
  autoHover: true,
  minSlides: 1,
  maxSlides: 3,
  slideWidth: 326,
  slideMargin: 10,
  pager: true,
  pause: 10000,
  controls :false,
  touchEnabled:true
  });
</script>



<script>
$(".scot_tutor_expend").click(function(){
    $('.scot_tutor_detail').toggleClass('displayblock');
	$(this).toggleClass('mini');
});

$(".scot_tutor_close").click(function(){
	$('.scot_tutor_detail').removeClass('displayblock');
    $('.scot_tutor').addClass('displaynone');
	$('.scot_tutor_detail').removeClass('displayblock');
});
</script>


<script>
$(".tutors_chat").click(function(){
    $('.tutors_chat_detail').toggleClass('displayblock');
	$('.outer_tutors_expend').toggleClass('mini');
	$('.main').toggleClass('mainedit');
	$('header > .wrapper').toggleClass('wrapperedit');
});
</script>


<script>
function fls(){
 var wh= $(window).height();
 $(".banner").css('height',wh+'px');
 $(".tutors_chat_detail").css('height',wh-36+'px');
}
$(window).resize(function() {
 fls();
});
fls();
</script>

<script>
	var winWidth = $(window).width();
  	if(winWidth < 700) {
	$( '.banner' ).addClass( 'heightauto' );
  }
</script>


<script type="text/javascript" src="{% static "js/jquery.smooth-scroll.js" %}"></script>
<script>
    $(document).ready(function() {
      var $stupid = $('<div></div>')
        .height(1)
        .hide()
        .appendTo('body');

      var mobileHack = function() {
        $stupid.show();
        setTimeout(function() {
          $stupid.hide();
        }, 10);
      };

      $('.scroll_down').smoothScroll({
        afterScroll: mobileHack
      });

    });
</script>
<script>
$('ul.sign_up_tab > li > label').click(function() {
	$('ul.sign_up_tab > li').eq($(this).parent('li').index()).addClass('current').siblings().removeClass('current');
	 tabsss($(this).parent('li').index());
});
function tabsss(val)
{
	$(".tab").hide();
	if(val>0)
	{
		document.getElementsByClassName('tab')[val].style.display="block";
	}
	else
	{
		document.getElementsByClassName('tab')[0].style.display="block";
	}
}
</script>

<script>
    $(document).ready(function() {
        $(".tz").select2({ width: ($(".sign_up_bx").width() * 0.92)+"px" }).on("change", function(e) {
        var selected_tz = $(this).val();
         if(selected_tz == "---") {
            $(this).parent().find(".error").html("Please select your timezone");
            $(this).parent().find(".error").show();
         }
         else {
            $(this).parent().find(".error").hide();
         }
    });
    });

</script>

<script>
    $(document).ready(function() {
        $(".tutors_chat").click(function(){
            $('.tutors_chat_detail').toggleClass('displayblock');
            $('.outer_tutors_expend').toggleClass('mini');
            $('.main').toggleClass('mainedit');
            $('header > .wrapper').toggleClass('wrapperedit');
        });
    });
</script>

<style>
    .social_signup_form input, .social_signup_form select {
        margin-top: 10px;
    }
</style>



<script>
$(".tutors_chat").click(function(){
    $('.tutors_chat_detail').toggleClass('displayblock');
	$('.outer_tutors_expend').toggleClass('mini');
	$('.main').toggleClass('mainedit');
	$('header > .wrapper').toggleClass('wrapperedit');
});
</script>
