{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}

<script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static "css/rich-textarea/editor.css" %}" rel="stylesheet">
<script type="text/javascript" src="{%  static "js/rich-textarea/editor.js" %}"></script>

<style type="text/css">
    .job_post_form input {
        width: 600px;
        padding: 7px;
        min-height: 40px;
    }
    .job_post_form textarea {
        width: 100%;
        height: 300px;
    }
    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        background: white;
    }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
    * html .ui-autocomplete {
        max-height: 200px;
    }
</style>


{% endblock script_head_extra %}
{% block bodycontent %}
    <div class="contnt">
    <div class="col-xs-12 col-sm-12">
        <div class="wrapper">
            <div class="main_cntnt radius3">
            <div class="form-group">
                <div class="col-xs-12">
                    <h3>Post Question</h3>
                    <hr/>
                </div>
            </div>
            <form name="q-post-form" role="form" action="{% url "question_create_view" %}" class="form-horizontal q_post_form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if question %}
                <input type="hidden" name="question_id" value="{{ question.pk }}"/>
                {% else %}
                <input type="hidden" name="question_id" value="-1"/>
                {% endif %}
               <div class="form-group">
                    <div class="col-xs-12">
                        <input type="text" class="form-control" name="q_title" {% if question %} value="{{ question.title }}" {% endif %} placeholder="Question Title"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div id="id_question_body">

                        </div>
                        <div id="id_hidden_qdescription" style="display: none;">
                            {{ question.description|safe }}
                        </div>
                        <textarea style="min-height: 300px; display: none;" name="q_description" class="form-control" placeholder="I will require a tutor who knows Math subject very well">{% if question %} value="{{ question.description }}" {% endif %}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class='col-xs-12'>
                        <div id="id_file_input_container_hint" style="display: none;">
                            <h4>Maximum 10 files can be uploaded.</h4>
                        </div>
                        <div id="id_file_input_container">
                            <button class="btn btn-primary" id="id_attach_file"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Attach File(s)</button>
                            <br>
                            <p class="pull-left">Maximum 10 files can be uploaded.</p>
                            <input type="file" name="written_file" class="form-control pull-left" id="id_attached_file" style="display: none;"/>
                        </div>
                        <div id="id_attached_files" class="pull-left" style="padding: 3px; margin-top: 1px;width: 100%;">
                            {% for attachment in question.attached_file.all %}
                                <div style="width: 100%; margin-top: 4px; padding: 10px; float: left; clear: both;">
{#                                    <span style="width: 230px;" class="pull-left">{{ attachment.attachment_name }}</span>#}
                                    <i class="glyphicon glyphicon-remove cancel-file" data-index="{{ forloop.counter }}" style="position: relative; top: 3px; cursor: pointer;"></i>
                                <span style="width: 230px;">{{ attachment.attachment_name }}</span>
                                <input type="hidden" value="{{ attachment.id }}" id="written_file{{ forloop.counter }}">
                                </div>
{#                                <input type="file" name="attach_file{{ forloop.counter|add:1 }}" class="form-control pull-left" id="undefined" style="display: none;">#}
                                <input type="file" name="written_file{{ forloop.counter }}" class="form-control pull-left" id="undefined" style="display: none;">
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="select_subject_level">
                            <select id="id_subject_level" name="level" >
    {#                           <option value="">Choose Academic Level</option>#}
                                {% for level in levels %}
                                    <option value="{{ level.name }}" {% if level.name == question.tags.first.level.name %}selected="selected"{% endif %}>{{ level.name }}</option>
                                {% endfor %}
                             </select>
                        </div>
                        <input id="id_qtag_input" type="text" class="radius5 form-control" name="a_tag" placeholder="Subjects">
                        <div class="tags language_tag">
                            {% for tag in question.tags.all %}
                                <a href="javascript:void(0);">{{ tag.name }}<span class="cross tag_close"><input type="hidden" name="qtag-list[]" value="{{ tag.id }}"> </span></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <button class="btn btn-sm btn-danger" name="q_post_button">Save Changes</button>
                        <a class="btn btn-sm btn-primary" style="color: white;" href="{% url "question_details_view" pk=question.pk %}">Cancel</a>
                    </div>
                </div>
                <input type="hidden" name="fcount" value="0"/>
                <input type="hidden" name="deleted_ids" value="0"/>


					<script type="text/javascript">
					$('input[id=lefile]').change(function() {
					$('#photoCover').val($(this).val());
					});
					</script>

            </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){

        $("#id_question_body").Editor();
        $(".fa-code").parent().hide();
        $(".fa-arrows-alt").parent().hide();
        $(".fa-print").parent().hide();
        $(".fa-table").parent().hide();
        //$(".fa-asterisk").parent().hide();
        //$(".fa-picture-o").parent().hide();

        $(".Editor-editor").html($("#id_hidden_qdescription").html());

        $(document).on("click",".tag_close",function(e){
            e.preventDefault();
            $(this).parent().remove();
        });


        $("button[name=q_post_button]").click(function(e){
            e.preventDefault();
            var $job_post_title = $("input[name=q_title]");
            if($job_post_title.val() == ""){
                $job_post_title.focus();
                return false;
            }

            var details = $(".Editor-editor").html();
            console.log(details);
            if($.trim(details) == "") {
                $("#id_question_body").focus();
                return false;
            }

            var html_tags = $("#id_qtag_input").parent().find(".tags").html();
            if($.trim(html_tags) == "") {
                $("#id_qtag_input").focus();
                return false;
            }

            $("textarea[name=q_description]").val(details);
            $("form[name=q-post-form]").submit();

        });

        $("button[name=q_post_preview_button]").click(function(e){
            e.preventDefault();

        });

        $( "#id_qtag_input" ).autocomplete({
            minLength: 0,
            source: function(request, response) {
            $.ajax({
                url: "/ajax/major",
                data: {
                    term: request.term,
                    readonly: 'true',
                    level: $("#id_subject_level").val()
                },
                success: function(data) {
                    response(data);
                }
            });
            },
            data: { 'readonly': 'true' },
            focus: function( event, ui ) {
                return false;
            },
            select: function( event, ui ) {
                var tag_val = ui.item.value;
                if(ui.item.id == -1){
                    tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                }

                var value = ui.item.id;
                var text = ui.item.value;
                var value_found = false;
                $(this).parent().find(".tags").find("input").each(function(e){
                    if($(this).val() == value){
                        value_found = true;
                        return;
                    }
                });

                if(!value_found){
                    //var input_element = "<input type='hidden' name='qtag-list[]" +"' value='"+ value +"' >";
                    //var tag_element = "<span class=\"dfrnt_tag radius3\"><a class=\"tag_close\" href=\"#\"></a>"+ input_element + text +"</span>";

                    //$(this).parent().find(".tags").append(tag_element);


                    var tag_element = "<a href=\"javascript:void(0);\">"+ text +"<span class=\"cross tag_close\"><input type=\"hidden\" name=\"qtag-list[]\" value=\""+ value +"\" <span></span></a>";

                    $(this).parent().find(".tags").append(tag_element);

                }

                $( "#id_qtag_input" ).val("");
                $( "#id_qtag_input" ).focus();

                return false;
            }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li style='cursor:pointer;'>" )
                    .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                    .append( "<input type='hidden' class='major_id' value='"+ item.id +"'/>" )
                    .appendTo( ul );
            }

         $(document).on("change","#id_subject_level",function(e){
             var parent = $(this).parent().parent();
             parent.find(".tag_close").each(function(e){
                 parent.find(".tag_close").parent().remove();
                });

         });

            var file_ = $("#id_attached_file").clone();
            var file_index = {{ question.attached_file.all.count|add:1 }};
            var max_files_count = 10;
            var files_count = {{ question.attached_file.all.count|add:1 }};
            $(document).on("click","#id_attach_file",function(e){
                e.preventDefault();
                $("#id_attached_file").click();
            });

            $(document).on("change","#id_attached_file",function(e){
                var _this = $(this);
                var files = $(this).prop("files");
                var clone = $(this).clone();
                _this.removeProp("id");
                $("input[name=fcount]").val(files.length);
                for(var j = 0 ; j < files.length ; j++){
                    _this.prop("name", _this.prop("name") + file_index);
                    var html = "<div style='width: 100%; margin-top: 4px; padding: 10px; float: left; clear: both;'><i class='glyphicon glyphicon-remove cancel-file' data-index='"+ file_index +"' style='position: relative; top: 3px; cursor: pointer;'></i> <span style='width: 230px;'>"+ files[j].name +"</span></div>";

                    //var html = "<div style='width: 100%; margin-top: 4px; padding: 10px;'><span style='width: 230px;' class='pull-left'>"+ files[j].name +"</span><i class='glyphicon glyphicon-remove pull-right cancel-file' data-index='"+ file_index +"' style='cursor: pointer;'></i></div>";
                    _this.css("display","none");
                    $("#id_attached_files").append(html);
                    $("#id_attached_files").append(_this);
                    files_count ++;
                    if(files_count >= max_files_count){
                        $("#id_file_input_container_hint").show();
                        $("#id_file_input_container").hide();
                    }
                    else{
                        $("#id_file_input_container_hint").hide();
                        $("#id_file_input_container").show();
                    }
                }
                $("#id_file_input_container").append(clone);
                file_index ++;
                          //  file_.insertAfter($("#id_attached_files"));
                         //   $("#id_attached_files").find("input[type=file]").each(function(i){
                         //       console.log($(this).prop("files")[0].name);
                        //    })
            });

            $(document).on("click",".cancel-file", function(e){
                var _this_index = $(this).data("index");
                var target_name = file_.prop("name")+_this_index;
                var file_id_element = $("input[id="+target_name+"]");
                if(file_id_element != null){
                    var deleted_files = $("input[name=deleted_ids]");
                    if(deleted_files.val() == "0"){
                        deleted_files.val(file_id_element.val());
                    }else {
                        deleted_files.val(deleted_files.val() +","+file_id_element.val());
                    }
                }
                $("input[name="+target_name+"]").remove();
                $(this).parent().remove();
                files_count --;
                if(files_count < max_files_count){
                    $("#id_file_input_container_hint").hide();
                    $("#id_file_input_container").show();
                }
            });

    });

</script>
{% endblock bodycontent %}