{% load staticfiles %}
{% load datefilters %}
{% load questionfilters %}
{% load questiontagfilters %}
{% load tz %}
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/bootstrap-dialog.min.js" %}"></script>

<style>
    .job_posted_by_user {
        text-decoration: none;
        font-weight: bold;
    }
    .dfrnt_tag {
        padding-left: 8px !important;
    }
</style>


		<p class="questions_popup_text">{{ question.description|safe|linebreaksbr }}</p>
		<h4 class="champ_attachments">Attachments</h4>
		<ul class="champ_attachments_detial">
            {% for attachment in question.files %}
                <li><a href="#">{{ attachment }}</a></li>
            {% endfor %}
		</ul>
		<ul class="questions_popup_tags">
            {% for tag in question.tags %}
                <li>{{ tag }}</li>
            {% endfor %}
		</ul>

<script>
    var file_ = $("#id_attached_file").clone();
    var file_index = 1;
    var max_files_count = 10;
    var files_count = 0;

    $("#id_attach_file").click(function(e){
        e.preventDefault();
        $("#id_attached_file").click();
    });

    $(document).on("change","#id_attached_file",function(e){
        var _this = $(this);
        var files = $(this).prop("files");
        var clone = $(this).clone();
        _this.removeProp("id");
        for(var j = 0 ; j < files.length ; j++){
            _this.prop("name", _this.prop("name") + file_index);
            var html = "<div style='width: 100%; margin-top: 4px; padding: 10px;'><span style='width: 230px;' class='pull-left'>"+ files[j].name +"</span><i class='glyphicon glyphicon-remove pull-right cancel-file' data-index='"+ file_index +"' style='cursor: pointer;'></i></div>";
            _this.css("display","none");
            $("#id_attached_files").append(html);
            $("#id_attached_files").append(_this);
            files_count ++;
            if(files_count >= max_files_count){
                $("#id_file_input_container_hint").show();
                $("#id_file_input_container").hide();
            }
            else{
                $("#id_file_input_container_hint").hide();
                $("#id_file_input_container").show();
            }
        }
        $("#id_file_input_container").append(clone);
        file_index ++;
        {#            file_.insertAfter($("#id_attached_files"));#}
        {#            $("#id_attached_files").find("input[type=file]").each(function(i){#}
        {#                console.log($(this).prop("files")[0].name);#}
        {#            })#}
    });

    $(document).on("click",".cancel-file", function(e){
        var _this_index = $(this).data("index");
        var target_name = file_.prop("name")+_this_index;
        $("input[name="+target_name+"]").remove();
        $(this).parent().remove();
        files_count --;
        if(files_count < max_files_count){
            $("#id_file_input_container_hint").hide();
            $("#id_file_input_container").show();
        }
    });
</script>