{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load questionfilters %}
{% load questiontagfilters %}
{% load tz %}
{% block script_head_extra %}

<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/bootstrap-dialog.min.js" %}"></script>


<style>
    .job_posted_by_user {
        text-decoration: none;
        font-weight: bold;
    }
    .dfrnt_tag {
        padding-left: 8px !important;
    }
</style>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock script_head_extra %}

{% block bodycontent %}


<div class="contnt">
	<div class="wrapper">
			<ul class="question_list question_details">
			<li>
				<div class="solve_question">
					<div class="solve_question_top">
                        {% if question.created_by == request.user %}
                        <div class="dropdown pull-right">
                            <span class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></span>
                            <ul class="dropdown-menu">
                                <li><a style="color: black;" href="{% url "question_edit_view" pk=question.pk %}"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
                                <li><a style="color: black;" id="id_question_delete" href="{% url "question_delete_view" pk=question.pk %}" data-delete-type="question"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                            </ul>
                        </div>
                    {% endif %}
						<h3 class="solve_question_heading">{{ question.title }}
                            <span class="question_date">
                                <label>
{#                                    {{ question.convert_date_modified|date:"j N Y @ h:i a" }}#}
                                    {{ question.date_modified|convert_utc_timestamp_to_local_datetime:request|format_datetime  }}
                                    {% if question.date_modified > question.date_created%} (edited) {% endif %}</label>
                                <a href="{% url 'user_profile' question.created_by.pk %}" class="posted_ques"> {{ question.created_by.champuser.fullname }}</a>
                            </span>
                        </h3>
						<div class="champ_poston">
							<!-- <span class="champ_date_icon"><label>posted By:</label> <a href="#" class="posted_ques">Mr Test Student 1</a> </span> -->
							<!-- <span class="champ_date_icon"><label>12 Nov 2015 @ 12:00pm, edited by: </label> <a href="#" class="posted_ques"> Mr. Test Student</a></span> -->
							</div>
					</div>
					<div class="solve_question_top">
							<p class="question_list_text">{{ question.description|safe|linebreaksbr }}</p>
                            {% if question.attached_file.exists %}
                                <h4 class="champ_attachments">Attachments
                                    <div class="champ_poston solve_question_posted">
                                    <!-- <span class="champ_date_icon"><label>posted on:</label> <p>10 Nov 2015 @ 12:00pm</p></span>
                                    <em class="solve_question_lang">English</em> -->
							        </div>
						        </h4>
{#                        {% endif %}#}
{#                        {% if question.attached_file.exists %}#}
                                <ul class="question_attached">
                                    {% for attachment in question.attached_file.all %}
                                        <li><a href="{{ attachment.attachment.url }}"><img src="{% if attachment.thumbnail %}{{ attachment.thumbnail.url }}{% else %}{{ STATIC_URL }}images/attachment-doc.png{% endif %}" width="46" height="39" alt="img"></a></li>
                                    {% endfor %}
                                </ul>
                        {% endif %}

					</div>
				</div>
			</li>


            {% with question.get_best_answer as best_answer %}
                 {% if best_answer %}
				<h4 class="best_answer best_answer_background">Best Answer</h4>
				<li>
				<div class="solve_question_detail">
					<div class="solve_question_inner">
{#					<a class="champ_cross" href="javascript:void(0);"><img width="8" height="8" alt="cross" src="images/champ_cross.png"></a>#}
					<div class="question_list_top">
						<div class="question_list_person_outer">
							<div class="question_list_person">
                                {% if best_answer.answer_by.champuser.profile_picture %}
                                    <img width="57" height="55" alt="img"
                                         src="{{ best_answer.answer_by.champuser.profile_picture.image_field }}">
                                {% else %}
                                    <img width="57" height="55" alt="img"
                                         src="{{ STATIC_URL }}images/question-person.png">
                                {% endif %}
							</div>
							<a class="question_list_Pname" href="{% url 'user_profile' best_answer.answer_by.pk %}">{{ best_answer.answer_by.champuser.fullname }}</a>
						</div>
					</div>
					<div class="question_text_outer">
						<div class="question_outer">
							<p class="question_list_text">{{ best_answer.answer }}</p>
                            <form class="summary_form displaynone" action="{% url 'qanswer_ans_edit' pk=best_answer.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="aid" value="{{ best_answer.pk }}"/>
                                <input type="hidden" name="qid" value="{{ question.pk }}"/>
								<textarea class="summary_textarea" name="answer" >{{ best_answer.answer }}</textarea>
								<div class="outer_student_btn">
                                    <input type="submit" class="student_save" value="Save">
                                    <input type="button" class="student_cancel" value="Cancel">
								</div>
                            </form>

						</div>
						<span class="question_date_icon">
{#                            {{ best_answer.convert_date_modified|date:"j N Y @ h:i a" }}#}
                            {{ best_answer.date_modified|convert_utc_timestamp_to_local_datetime:request|format_datetime }}
                            {% if best_answer.date_modified > best_answer.date_created%} (edited) {% endif %}
                        </span>
                        {% if best_answer.answer_by == request.user %}
                                <a href="javascript:void(0);" class="edit_profile"> <img width="17" height="17" alt="img" src="{{ STATIC_URL }}images/edit-gray.png"> </a>
                            {% endif %}
					</div>
{#					<div class="champ_poston">#}
{#						</div>#}
                    {% if best_answer.attachment.exists %}
                        <div class="outer_attachment">
                            <h4 class="champ_attachments">Attachments</h4>
                            <ul class="question_attached">
                                {% for attachment in best_answer.attachment.all %}
                                        <li><a href="{{ attachment.attachment.url }}"><img src="{% if attachment.thumbnail %}{{ attachment.thumbnail.url }}{% else %}{{ STATIC_URL }}images/attachment-doc.png{% endif %}" width="46" height="39" alt="img"></a></li>
                                {% endfor %}
{#                                <li><a href="images/certificates_bimg1.png"><img width="46" height="39" alt="img" src="images/question-attached-file.png"></a></li>#}
{#                                <li><a href="images/certificates_bimg1.png"><img width="46" height="39" alt="img" src="images/question-attached-file.png"></a></li>#}
                            </ul>
                        </div>
                    {% endif %}
					<div class="question_attachments">
						<div class="question_list_posted">
                            <a class="question_list_likes like_count like_btn" data-item-label="answer" data-item-value="{{ best_answer.pk }}" data-question-id="{{ question.pk }}" href="#"> {{ best_answer.likes.all|likes_count }} </a>
                            <a class="question_list_dislikes dislike_count dislike_btn" data-item-label="answer" data-item-value="{{ best_answer.pk }}" data-question-id="{{ question.pk }}" href="#"> {{ best_answer.likes.all|dislikes_count }} </a>
                        </div>

					</div>
                    <h4 class="question_comment">Comment ({{ best_answer.comments.count }}) </h4>
						<ul class="reply_section displaynone">
							<li>
								<form action="{% url 'qcomment_post_details' pk=best_answer.pk %}" method="POST" class="reply_submit">
                                    {% csrf_token %}
                                    <input type="hidden" name="qid" value="{{ question.pk }}"/>
                                    <input type="hidden" name="qaid" value="{{ best_answer.pk }}"/>
									<textarea class="content-box" placeholder="Comment" name="qcomment"></textarea>
									<input type="submit" value="Comment">
								</form>
							</li>

                        {% for comment in best_answer.comments.all %}
                            <li>
                            {% if comment.created_by == request.user %}
							    <a class="champ_cross1" id="id_comment_delete" href="{% url 'qcomment_delete_details' comment.pk question.pk %}" data-delete-type="comment">
                                    <img width="8" height="8" src="{{ STATIC_URL }}images/champ_cross.png" alt="cross">
                                </a>
                            {% endif %}
								<div class="question_list_top">
						<div class="question_list_person_outer">
							<div class="question_list_person">
								{% if comment.created_by.champuser.profile_picture %}
                                    <img width="57" height="55"
                                         src="{{ comment.created_by.champuser.profile_picture.image_field }}" alt="img">
                                {% else %}
                                    <img width="57" height="55" src="{{ STATIC_URL }}images/question-person.png"
                                         alt="img">
                                {% endif %}
							</div>

                            <a href="{% url 'user_profile' comment.created_by.pk %}" class="question_list_Pname">{{ comment.created_by.champuser.fullname }}</a>
						</div>
					</div>
					<div class="question_text_outer">
						<div class="question_outer">
							<p class="question_list_text">{{ comment.comment }} </p>
							<form class="summary_form displaynone" action="{% url 'qcomment_edit_details' pk=comment.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="cid" value="{{ comment.pk }}"/>
                                <input type="hidden" name="qid" value="{{ question.pk }}"/>
								<textarea class="summary_textarea" name="comment" placeholder="">{{ comment.comment }}</textarea>
								<div class="outer_student_btn">
								<input type="submit" class="student_save" value="Save">
								<input type="button" class="student_cancel" value="Cancel">
								</div>
							  </form>

						</div>
						<span class="question_date_icon">
{#                            {{ comment.convert_date_modified|date:"j N Y @ h:i a" }}#}
                            {{ comment.date_modified|convert_utc_timestamp_to_local_datetime:request|format_datetime }}
                            {% if comment.date_modified > comment.date_created%} (edited) {% endif %}
                        </span>
                        {% if comment.created_by == request.user %}
							    <a href="javascript:void(0);" class="edit_profile"> <img width="17" height="17" alt="img" src="{{ STATIC_URL }}images/edit-gray.png"> </a>
                            {% endif %}
					</div>

							</li>
                    {% endfor %}

						</ul>
{#					<h4 class="question_comment">Comment (0) </h4>#}
{#					<ul class="reply_section displaynone">#}
{#							<li>#}
{#								<form class="reply_submit">#}
{#									<textarea placeholder="Comment"></textarea>#}
{#									<input type="submit" value="Comment">#}
{#								</form>#}
{#							</li>#}
{#						</ul>#}
					</div>
				</div>


				</li>
                 {% endif %}
            {% endwith %}





				<h4 class="best_answer">Replies ({{ question.answers.count }})</h4>

            {% for answer in question.answers.all %}
				<li>
				<div class="solve_question_detail">
					<div class="solve_question_inner">
                    {% if answer.answer_by == request.user %}
					    <a class="champ_cross" id="id_answer_delete" href="{% url 'qanswer_ans_delete' answer.pk question.pk %}" data-delete-type="reply">
                            <img width="8" height="8" alt="cross" src="{{ STATIC_URL }}images/champ_cross.png">
                        </a>
                    {% endif %}
					<div class="question_list_top">
{#                        {% if answer.answer_by == request.user %}#}
{#                            <div class="dropdown pull-right">#}
{#                                <span class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span#}
{#                                        class="caret"></span></span>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li><a style="color: black;" href="#"><span class="glyphicon glyphicon-edit"></span>#}
{#                                        Edit</a></li>#}
{#                                    <li><a style="color: black;" id="id_answer_delete"#}
{#                                           href="{% url 'qanswer_ans_delete' answer.pk question.pk %}"#}
{#                                           data-delete-type="answer"><span class="glyphicon glyphicon-trash"></span>#}
{#                                        Delete</a></li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        {% endif %}#}
						<div class="question_list_person_outer">
							<div class="question_list_person">
                                {% if answer.answer_by.champuser.profile_picture %}
                                   <img width="57" height="55"
                                         src="{{ answer.answer_by.champuser.profile_picture.image_field }}" alt="img">
                                {% else %}
                                    <img width="57" height="55" src="{{ STATIC_URL }}images/question-person.png"
                                         alt="img">
                                {% endif %}
							</div>
							<a href="{% url 'user_profile' answer.answer_by.pk %}" class="question_list_Pname">{{ answer.answer_by.champuser.fullname }}</a>
						</div>
					</div>

					<div class="question_text_outer">
						<div class="question_outer">
							<p class="question_list_text">{{ answer.answer }}</p>
							<form class="summary_form displaynone" action="{% url 'qanswer_ans_edit' pk=answer.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="aid" value="{{ answer.pk }}"/>
                                <input type="hidden" name="qid" value="{{ question.pk }}"/>
								<textarea class="summary_textarea" name="answer" >{{ answer.answer }}</textarea>
								<div class="outer_student_btn">
								<input type="submit" class="student_save" value="Save">
								<input type="button" class="student_cancel" value="Cancel">
								</div>
							  </form>

						</div>
						<span class="question_date_icon">
{#                            {{ answer.convert_date_modified|date:"j N Y @ h:i a" }}#}
                            {{ answer.date_modified|convert_utc_timestamp_to_local_datetime:request|format_datetime }}
                            {% if answer.date_modified > answer.date_created%} (edited) {% endif %}
                        </span>
                        {% if answer.answer_by == request.user %}
                            <a href="javascript:void(0);" class="edit_profile"> <img width="17" height="17" alt="img" src="{{ STATIC_URL }}images/edit-gray.png"> </a>
                        {% endif %}
					</div>

                    {% if answer.attachment.exists %}
                        <div class="outer_attachment">
                            <h4 class="champ_attachments">Attachments</h4>
                            <ul class="question_attached">
                                {% for attachment in answer.attachment.all %}
                                        <li><a href="{{ attachment.attachment.url }}"><img src="{% if attachment.thumbnail %}{{ attachment.thumbnail.url }}{% else %}{{ STATIC_URL }}images/attachment-doc.png{% endif %}" width="46" height="39" alt="img"></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}


					<div class="question_attachments">
                        <div class="question_list_posted">
							<a href="#" class="question_list_likes like_count like_btn" data-item-label="answer" data-item-value="{{ answer.pk }}" data-question-id="{{ question.pk }}"> {{ answer.likes.all|likes_count }} </a>
                            <a href="#" class="question_list_dislikes dislike_count dislike_btn" data-item-label="answer" data-item-value="{{ answer.pk }}" data-question-id="{{ question.pk }}"> {{ answer.likes.all|dislikes_count }} </a>
						</div>

					</div>
					<h4 class="question_comment">Comment ({{ answer.comments.count }}) </h4>
						<ul class="reply_section displaynone">
							<li>
								<form action="{% url 'qcomment_post_details' pk=answer.pk %}" method="POST" class="reply_submit">
                                    {% csrf_token %}
                                    <input type="hidden" name="qid" value="{{ question.pk }}"/>
                                    <input type="hidden" name="qaid" value="{{ answer.pk }}"/>
									<textarea class="content-box" placeholder="Comment" name="qcomment"></textarea>
									<input type="submit" value="Comment">
								</form>
							</li>

                        {% for comment in answer.comments.all %}
                            <li>
                            {% if comment.created_by == request.user %}
                                <a class="champ_cross" id="id_comment_delete" href="{% url 'qcomment_delete_details' comment.pk question.pk %}" data-delete-type="comment">
                                    <img width="8" height="8" src="{{ STATIC_URL }}images/champ_cross.png" alt="cross">
                                </a>
                            {% endif %}
								<div class="question_list_top">
						<div class="question_list_person_outer">
							<div class="question_list_person">
								{% if comment.created_by.champuser.profile_picture %}
                                    <img width="57" height="55"
                                         src="{{ comment.created_by.champuser.profile_picture.image_field }}" alt="img">
                                {% else %}
                                    <img width="57" height="55" src="{{ STATIC_URL }}images/question-person.png"
                                         alt="img">
                                {% endif %}
							</div>

                            <a href="{% url 'user_profile' comment.created_by.pk %}" class="question_list_Pname">{{ comment.created_by.champuser.fullname }}</a>
						</div>
					</div>
					<div class="question_text_outer">
						<div class="question_outer">
							<p class="question_list_text">{{ comment.comment }} </p>
							<form class="summary_form displaynone" action="{% url 'qcomment_edit_details' pk=comment.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="cid" value="{{ comment.pk }}"/>
                                <input type="hidden" name="qid" value="{{ question.pk }}"/>
								<textarea class="summary_textarea" name="comment" placeholder="">{{ comment.comment }}</textarea>
                                <div class="outer_student_btn">
								<input type="submit" class="student_save" value="Save">
								<input type="button" class="student_cancel" value="Cancel">
								</div>
							  </form>


						</div>
						<span class="question_date_icon">
                            {{ comment.date_modified|convert_utc_timestamp_to_local_datetime:request|format_datetime }}
                            {% if comment.date_modified > comment.date_created%} (edited) {% endif %}
                        </span>
                        {% if comment.created_by == request.user %}
							    <a href="javascript:void(0);" class="edit_profile"> <img width="17" height="17" alt="img" src="{{ STATIC_URL }}images/edit-gray.png"> </a>
                            {% endif %}
					</div>

							</li>
                    {% endfor %}

						</ul>
						
					</div>
				
				
				</div>
				</li>
            {% endfor %}
			</ul>

            {% if question.created_by != request.user and not question|check_if_user_already_commented:request.user%}
            <form action="{% url 'qanswer_ans_post_details' pk=question.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="solve_question_comment">
                    <h3 class="solve_question_heading">{{ question.title }}</h3>
                    <input type="hidden" name="qid" value="{{ question.pk }}"/>
                    <textarea class="question_list_textarea" name="qanswer" placeholder="Write your comment"></textarea>
                </div>


                <a href="#" class="champ_viewdetail">Submit</a>

                <div id="id_file_input_container_hint" style="display: none;">
                    <h4>Maximum 10 files can be uploaded.</h4>
                </div>
                <div id="id_file_input_container">
                    <input id="id_attached_file" name="attached_file" type="file" style="display:none">
                    <div class="input-append">
                        <a class="browse_btn" id="id_attach_file">Browse</a>
                        <input id="photoCover" class="input-large" type="text" readonly>
                    </div>
                </div>
                <div id="id_attached_files" class="pull-left" style="padding: 3px; margin-top: 1px;width: 100%;"></div>

            </form>
        {% endif %}

				<script type="text/javascript">
				$('input[id=lefile]').change(function() {
				$('#photoCover').val($(this).val());
				});
				</script>

    </div>

</div>


<script>
				{% comment %}$("ul.after_login_menu li,.profile_detail").click(function () {

				  $("ul.after_login_menu li").removeClass('hidespan');
  					$(this).addClass("hidespan");
				  $("ul.submenu1",this).toggleClass("addactive");
				   if($("ul.submenu1",this).hasClass("off"))
					  {
					   $("ul.submenu1",this).removeClass("off");
					 $("ul.submenu1",this).addClass("addactive");


					  }
					  if(!$("ul.submenu1",this).hasClass("addactive"))
					  {
						  				  $("ul.after_login_menu li").removeClass('hidespan');
					  }
				  $("ul.submenu1").addClass("off");
				  $("ul.submenu1",this).removeClass("off");

				});

				$("ul.submenu1").click(function () {
						 $("ul.submenu1").toggleClass("addactive");

					});
					$(".contnt").click(function () {
						 $("ul.submenu1").removeClass("addactive");
					});

					$("ul.after_login_menu li.hidespan").mouseover(function(){
						$("span.hvr").hide();
					});{% endcomment %}

		   </script>
<script>
{#		   $(document).ready( function () {#}
{#		   if($("ul.submenu1").hasClass("addactive"))#}
{#					  {#}
{#						  $(this).parent().("span").hide();#}
{#					  }#}
{#		   });#}
		   </script>




<script type="text/javascript">
$(function(){
  $('#sidemenu a').on('click', function(e){
    e.preventDefault();

    if($(this).hasClass('open')) {
      // do nothing because the link is already open
    } else {
      var oldcontent = $('#sidemenu a.open').attr('href');
      var newcontent = $(this).attr('href');

      $(oldcontent).fadeOut('fast', function(){
        $(newcontent).fadeIn().removeClass('hidden');
        $(oldcontent).addClass('hidden');
      });


      $('#sidemenu a').removeClass('open');
      $(this).addClass('open');
    }
  });
});
</script>


<div id="img_popup">
<div class="imagebox">
<img src="" alt="img" />
</div>
</div>
<script>

$(document).ready(function() {

        $(".champ_viewdetail").on("click", function(e) {
            e.preventDefault();
            $(this).closest("form").submit();
        });

        //$("#id_question_delete, #id_answer_delete, #id_comment_delete").click(function(e) {
        $(document).on('click', '#id_question_delete', function(e) {
            e.preventDefault();
            confirm_delete($(this));
        });

        $(document).on('click', '#id_answer_delete', function(e) {
            e.preventDefault();
            confirm_delete($(this));
        });

        $(document).on('click', '#id_comment_delete', function(e) {
            e.preventDefault();
            confirm_delete($(this));
        });

    function confirm_delete($this){
        //e.preventDefault();
            var deleteType = $this.data("delete-type");
            BootstrapDialog.show({
                title: "Confirmation",
                size: BootstrapDialog.SIZE_NORMAL,
                message: 'Are you sure you want to delete this ' +deleteType+ '?',
                buttons: [{
                    label: 'Confirm',
                    cssClass: 'btn-danger',
                    action: function(){
                        location.href = $this.prop("href");
                    }
                }, {
                    label: 'Close',
                    action: function(dialogItself){
                        dialogItself.close();
                    }
                }]
            });
    }
    function handle_like_submit($element,data) {
            var result = "";
            $.ajax({
                type: "POST",
                async: false,
                url: "/ajax/qlike/",
                data: data,
                success: function(data)
                {
                    result = data;
                },
                error: function(jqxhr, status, error)
                {
                }
            })
            .done(function( msg ) {
            });
        return result;
        }
    $(document).on("click",".like_btn", function(e) {
            e.preventDefault();
            var label = $(this).data("item-label");
            var id = $(this).data("item-value");
            var qid = $(this).data("question-id");
            var data = {
                label: label,
                id: id,
                action: "like",
                qid: qid
            };
            var result_data = $.parseJSON(handle_like_submit($(this),data));
            $(this).parent().find(".like_count").text(parseInt($(this).parent().find(".like_count").text()) + result_data["like"]);
            $(this).parent().find(".dislike_count").text(parseInt($(this).parent().find(".dislike_count").text()) + result_data["dislike"]);
        });

        $(document).on("click",".dislike_btn", function(e) {
            e.preventDefault();
            var label = $(this).data("item-label");
            var id = $(this).data("item-value");
            var qid = $(this).data("question-id");
            var data = {
                label: label,
                id: id,
                action: "dislike",
                qid: qid
            };
            var result_data = $.parseJSON(handle_like_submit($(this),data));

            $(this).parent().find(".like_count").text(parseInt($(this).parent().find(".like_count").text()) + result_data["like"]);
            $(this).parent().find(".dislike_count").text(parseInt($(this).parent().find(".dislike_count").text()) + result_data["dislike"]);
        })



    });

</script>
<script type='text/javascript'>

   $(document).on("submit",".reply_submit",function(e){
        $form = $(this);
        var csrf = $( "#theuploadform").children('input[name=csrfmiddlewaretoken]').val();
        e.preventDefault();
            var request = $.ajax({
                type: "POST",
                url: $form.attr("action"),
                dataType: 'json',
                data: $form.serialize()
            });
            request.done(function (response) {
                var response_data = response["data"];
                var html = "<li>"
                             + "<a class='champ_cross' id='id_comment_delete' href='"
                             +response_data['comment_delete_url']+"' data-delete-type='comment'>"
                             + "<img width='8' height='8' src='"+response_data['host_url']+"/static/images/champ_cross.png' alt='cross'>"+
                                "</a>"+
								"<div class='question_list_top'>"
						+ "<div class='question_list_person_outer'>"+
							"<div class='question_list_person'>";
                            if(response_data['profile_picture'] != null && response_data['profile_picture'] != ''){
                                html += "<img width='57' height='55' src='"+response_data['host_url']+""+response_data['profile_picture']+ "' alt='img'>";
                            }else{
                                html += "<img width='57' height='55' src='"+response_data['host_url']+"/static/images/question-person.png' alt='img'>";
                            }
							html += "</div>"+

                            "<a href='"+response_data['profile_url']+"' class='question_list_Pname'>"+response_data['user_full_name']+"</a>"+
						"</div>"+
					"</div>"+
					"<div class='question_text_outer'>"+
						"<div class='question_outer'>"+
							"<p class='question_list_text'>"+response_data['comment']+" </p>"+
							"<form class='summary_form displaynone' action='"+response_data['summary_form_action']+"/' method='POST'>"+
                                "<input type='hidden' name='csrfmiddlewaretoken' value='"+csrf+"'>"+
                                "<input type='hidden' name='cid' value='"+response_data['comment_pk']+"'/>"+
                                "<input type='hidden' name='qid' value='"+response_data['question_pk']+"'/>"+
								"<textarea class='summary_textarea' name='comment' placeholder=''>"+response_data['comment']+"</textarea>"+
                                "<div class='outer_student_btn'>"+
								"<input type='submit' class='student_save' value='Save'>"+
								"<input type='button' class='student_cancel' value='Cancel'>"+
								"</div>"+
							  "</form>"+
						"</div>"+
						"<span class='question_date_icon'>"+response_data['date_modified']+
                        "</span>"+
							    "<a href='javascript:void(0);' class='edit_profile'> <img width='17' height='17' alt='img' src='"+response_data['host_url']+"/static/images/edit-gray.png'> </a>"+
					"</div>"+

							"</li>";

                var parent_ul = $form.parent().parent();
                parent_ul.append(html);
                parent_ul.parent().find(".question_comment").text("Comment ("+response_data['comment_count']+")");
                parent_ul.find("li:last").find(".edit_profile").focus();
                $form.find("textarea[name=qcomment]").val("");
            });
            request.error(function (res,restext,text) {
                message_show(text);
            });
       // }
    });


    $(document).on("submit",".summary_form",function(e){
        $form = $(this);
        e.preventDefault();
            var request = $.ajax({
                type: "POST",
                url: $form.attr("action"),
                dataType: 'json',
                data: $form.serialize()
            });
            request.done(function (response) {
                var response_data = response["data"];
                var form_parent = $form.parent();
               // $form.children(".summary_textarea").val(response_data["comment"]);
                form_parent.siblings(".question_date_icon").text(response_data["date_modified"] + " (edited)");
                form_parent.children(".question_list_text").text(response_data["text"]);
                $form.addClass('displaynone');
                form_parent.children(".question_list_text").removeClass('displaynone');
            });
            request.error(function (res,restext,text) {
                message_show(text);
            });
    });


</script>

    <script>
    var file_ = $("#id_attached_file").clone();
            var file_index = 1;
            var max_files_count = 10;
            var files_count = 0;

            $("#id_attach_file").click(function(e){
                e.preventDefault();
                $("#id_attached_file").click();
            });

            $(document).on("change","#id_attached_file",function(e){
                var _this = $(this);
                var files = $(this).prop("files");
                var clone = $(this).clone();
                _this.removeProp("id");
                for(var j = 0 ; j < files.length ; j++){
                    _this.prop("name", _this.prop("name") + file_index);
                    var html = "<div style='width: 100%; margin-top: 4px; padding: 10px;'><span style='' class='pull-left'>"+ files[j].name +"</span><i class='glyphicon glyphicon-remove pull-right cancel-file' data-index='"+ file_index +"' style='cursor: pointer;'></i></div>";
                    _this.css("display","none");
                    $("#id_attached_files").append(html);
                    $("#id_attached_files").append(_this);
                    files_count ++;
                    if(files_count >= max_files_count){
                        $("#id_file_input_container_hint").show();
                        $("#id_file_input_container").hide();
                    }
                    else{
                        $("#id_file_input_container_hint").hide();
                        $("#id_file_input_container").show();
                    }
                }
                $("#id_file_input_container").append(clone);
                file_index ++;
                {#            file_.insertAfter($("#id_attached_files"));#}
                {#            $("#id_attached_files").find("input[type=file]").each(function(i){#}
                {#                console.log($(this).prop("files")[0].name);#}
                {#            })#}
            });

            $(document).on("click",".cancel-file", function(e){
                var _this_index = $(this).data("index");
                var target_name = file_.prop("name")+_this_index;
                $("input[name="+target_name+"]").remove();
                $(this).parent().remove();
                files_count --;
                if(files_count < max_files_count){
                    $("#id_file_input_container_hint").hide();
                    $("#id_file_input_container").show();
                }
            });
</script>

<script>
$('ul.question_attached > li > a').click(function(e)
{
    e.preventDefault();
    var aa=$(this).attr('href');
    if(aa.toLowerCase().match(".png$") || aa.toLowerCase().match(".jpeg$") || aa.toLowerCase().match(".jpg$")){
        $('#img_popup').fadeIn();
        $('.imagebox img').attr('src',aa);
        $('.imagebox').fadeIn();
    }else{
        window.location.href = aa;
    }
    return false;
});

$('#img_popup').click(function()
{
$('#img_popup').fadeOut();
});

$('.imagebox > img').click(function()
{
	return false;
});
</script>





<script>
/*$('.edit_profile').click(function () {
    alert("edit");
    $(this).siblings('.question_outer').children('.question_list_text').addClass('displaynone');
	$(this).siblings('.question_outer').children('.summary_form').removeClass('displaynone');
});*/
$('.solve_question_detail').on('click', '.edit_profile', function(){
    $(this).siblings('.question_outer').children('.question_list_text').addClass('displaynone');
	$(this).siblings('.question_outer').children('.summary_form').removeClass('displaynone');
});

$(document).on('click', '.student_cancel', function() {
	$(this).parent(".outer_student_btn").parent(".summary_form").addClass('displaynone');
	$(this).parent(".outer_student_btn").parent(".summary_form").siblings('.question_list_text').removeClass('displaynone');
});


$('.question_comment').click(function () {
	$(this).siblings('.reply_section').toggleClass('displaynone');
});
$('.reply_section').click(function () {
	$('.reply_section_inner').toggleClass('displaynone');
});

//  $('a.champ_cross').click(function () {
// $(this).parents('.solve_question_detail').parent('ul.question_list > li').hide();
// $(this).parents('ul.reply_section > li').hide();
//  });

//$('a.champ_cross1').click(function () {
//    $(this).parent().hide();
//});

// $('.champ_cross').click(function (event) {
// 	event.stopPropagation();
// 	return true;
// });



$('a.reject_yes').click(function () {
	$('.reject_reason_textarea').removeClass('displaynone');
});
$('a.reject_no').click(function () {
	$('.reject_reason_textarea').addClass('displaynone');
});
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.selectbox-0.1.3.min.js"></script>
<script type="text/javascript">
	$(function () {
	$(".loct").selectbox();
	var len = $(".loct").parent();
	$(len).click(function(e){
   e.stopPropagation();
   $(".sbOptions",this).show();
    $("body").click(function(e){
     if(e.target.id != "loct")
     {
     $(".sbOptions",this).hide();
     $("body").unbind("click");
     }
    });
    });
});
</script>

{% endblock bodycontent %}