{% extends "public_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block script_head_extra %}
<style>
    form.tutor_form {
        padding: 0px;
    }
</style>
{% endblock script_head_extra %}

{% block body_content %}
 {% if reset_token_sent %}
    <div class="contnt">
    <div class="wrapper">
        <div class="reset_password">
            <div class="reset_header">
                <h3 class="reset_main">RESET YOUR PASSWORD</h3>
            </div>
            <p style="margin: 20px;">
                An email has been sent to <b>{{ email }}</b>. Please check your email inbox.
            </p>
        </div>
    </div>
    </div>
 {% elif reset_failed %}
    <div class="contnt">
    <div class="wrapper">
        <div class="reset_password">
            <div class="reset_header">
                <h3 class="reset_main">RESET YOUR PASSWORD</h3>
                <p class="reset_providing_email">Password Reset Failed</b>.</p>
            </div>
            <p style="margin: 20px;">
                Your request could not be processed. You have requested for new password with invalid data.
            </p>
        </div>
    </div>
    </div>
 {% elif email_not_exists %}
    <div class="contnt">
    <div class="wrapper">
        <div class="reset_password">
            <div class="reset_header">
                <h3 class="reset_main">RESET YOUR PASSWORD</h3>
                <p class="reset_providing_email">Password Reset Failed</b>.</p>
            </div>
            <p style="margin: 20px;">
                The requested <b>{{ email }}</b> address doesn't exist in the system. Please try again <a href="{% url "reset_password" %}">here</a>.
            </p>
        </div>
    </div>
    </div>
 {% elif error_occured %}
<div class="contnt">
    <div class="wrapper">
        <div class="reset_password">
            <div class="reset_header">
                <h3 class="reset_main">RESET YOUR PASSWORD</h3>
                <p class="reset_providing_email">Password Reset Failed</b>.</p>
            </div>
            <p style="margin: 20px;">
                An error occured while processing your request. Please try again <a href="{% url "reset_password" %}">here</a>.
            </p>
        </div>
    </div>
    </div>
 {% elif verified %}
    <div class="contnt">
        <div class="wrapper">
            <div class="reset_password">
                <div class="reset_header">
                    <h3 class="reset_main">Set New Password</h3>
                </div>
                <form class="reset_outer_form" action="{% url "reset_password_confirm" %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="token" value="{{ token }}"/>
                    <input type="hidden" name="user_id" value="{{ user_id }}"/>
                    <div class="reset_email">
                        <input type="password" name="reset_pass" required placeholder="Type New Password"/>
                    </div>
                    <div class="reset_email">
                        <input type="password" name="reset_pass2" required placeholder="Repeat New Password"/>
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

 {% else %}
    {% if type == "password" %}
        {% if not token %}
        <div class="contnt">
            <div class="wrapper">
                <div class="reset_password">
                    <div class="reset_header">
                        <h3 class="reset_main">RESET YOUR PASSWORD</h3>
                        <p class="reset_providing_email">You can reset your password by providing your email  address</p>
                    </div>
                    <form class="reset_outer_form" action="{% url "reset_password" %}" method="POST">
                        {% csrf_token %}
                        <div class="reset_email">
                            <div class="reset_email_icon"></div>
                            <input name="reset_email" required="required" type="email" placeholder="Enter your email address">
                        </div>
                        <input type="submit" value="Submit">
                        <span class="reset_or">or</span>
                        <a href="{% url "user_login" %}" class="reset_return">Return to login</a>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
            {% if token_used %}
            <div class="contnt">
            <div class="wrapper">
                <div class="reset_password">
                    <div class="reset_header">
                        <h3 class="reset_main">RESET YOUR PASSWORD</h3>
                        <p class="reset_providing_email">Invalid Token</b>.</p>
                    </div>
                    <p style="margin: 20px;">
                        The token has been used already. Please request <a href="{% url "reset_password" %}">here</a> for another token.
                    </p>
                </div>
            </div>
            </div>
            {% else %}
            <div class="contnt">
            <div class="wrapper">
                <div class="reset_password">
                    <div class="reset_header">
                        <h3 class="reset_main">RESET YOUR PASSWORD</h3>
                        <p class="reset_providing_email">Invalid Token</b>.</p>
                    </div>
                    <p style="margin: 20px;">
                        The token is invalid. Either the token has expired or doesn't exist.
                    </p>
                </div>
            </div>
            </div>
            {% endif %}
        {% endif %}
    {% endif %}
 {% endif %}
{% endblock body_content %}