{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}

{% endblock script_head_extra %}
{% block bodycontent %}

<style>
    form.signin_form input[type="text"], form.signin_form input[type="password"] { width:95%; height: 48px; float:left; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; background-color: #fff; -webkit-box-shadow: inset 0 3px rgba(0,0,0,.04); -moz-box-shadow: inset 0 3px rgba(0,0,0,.04); box-shadow: inset 0 3px rgba(0,0,0,.04); -ms-box-shadow: inset 0 3px rgba(0,0,0,.04); -o-box-shadow: inset 0 3px rgba(0,0,0,.04); border: solid 1px #e7e4e4; color:#acacac; font:18px/21px 'proxima_novaregular'; margin:20px 0 5px 0; padding:0 10px; display:inline; }
    form.tutor_form input[type="submit"],form.tutor_form input[type="button"],input[type="submit"].sign_in_btn,input[type="submit"].email_recovery_btn,input[type="button"].sign_in_btn, button.password_reset { width:100%; height:63px; float:left; color: #fff; text-shadow: 0 1px 1px #417121; font:24px/61px 'proxima_novaregular'; background:url(../images/sign-up-bg.jpg) left top repeat-x #6db23f; border:none; outline:none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; }
    form.tutor_form input[type="submit"]:hover,form.tutor_form input[type="button"]:hover,form.tutor_form input[type="submit"]:focus,form.tutor_form input[type="button"]:focus,input[type="submit"].sign_in_btn:hover, input[type="submit"].email_recovery_btn:hover, input[type="button"].sign_in_btn:hover,input[type="submit"].sign_in_btn:focus,input[type="button"].sign_in_btn:focus { background:url(../images/sign-up-hover-bg.jpg) left top repeat-x #6db23f; border:none; outline:none; }
    .field-error {
        color: red;
        float: left;
        display: none;
    }
    .color-red {
        color: red;
    }
    .color-green {
        color: green;
    }
    #id_status_message {
        padding: 7px;
    }
</style>

<div class="contnt">
    <div class="wrapper">
        <div style="width: 60%; margin-left: auto; margin-right: auto; margin-top: 40px; margin-bottom: 40px;">
        <h3>Update Security Question</h3>
        <br/>
        <div id="id_status_message"></div>
        <form id="id_sq_form" class="signin_form" action="" method="POST">
            {% csrf_token %}
            <div>
                <select name="security_question1" required="required" style="width: 95%; border: 2px solid #e7e4e4; outline: none; background-color: #fff; color: #acacac; cursor: pointer; padding: 13px; font: 18px/21px 'proxima_novaregular';">
                    <option value="">Select a security question</option>
                    {% for q in security_questions %}
                    <option value="{{ q.pk }}" {% if security_question and security_question.question.pk == q.pk %}selected{% endif %}>{{ q.question }}</option>
                    {% endfor %}
                </select>
                <div class="hint field-error">This field is required</div>
                <div>
                <input type="text" name="sq_answer1" {% if security_question %}value="{{ security_question.answer }}"{% endif %} autocomplete="off" required="required" placeholder="Write your answer here"/>
                </div>
                <div class="hint field-error">This field is required</div>
            </div>
            <div>
                <input type="password" name="sq_password" autocomplete="off" required="required" placeholder="Enter your password"/>
                <p class="hint" style="text-align: left; text-indent: 5px;">You need to give your password to update security question</p>
                <div class="hint field-error">Password is required</div>
            </div>
            <div>
                <input type="submit" id="id_sq_update" value="Submit" class="email_recovery_btn top25">
            </div>
        </form>
        </div>
        <div class="padding20"></div>
    </div>
</div>
<script>
    $(document).ready(function() {

        $("#id_sq_update").click(function(e) {
            e.preventDefault();
            var error = false;
            var sq1 = $("select[name=security_question1]").val();
            if(sq1 == "") {
                $("select[name=security_question1]").next().show();
                error = true;
            }
            else {
                $("select[name=security_question1]").next().hide();
            }

            var sqa1 = $("input[name=sq_answer1]").val();
            if(sqa1 == "") {
                $("input[name=sq_answer1]").parent().next().show();
                error = true;
            }
            else {
                $("input[name=sq_answer1]").parent().next().hide();
            }

            var password = $("input[name=sq_password]").val();
            if(password == "") {
                $("input[name=sq_password]").focus();
                $("input[name=sq_password]").parent().find(".field-error").show();
                error = true;
            }
            else {
                $("input[name=sq_password]").next().find(".field-error").hide();
            }
            if(error) {
                return false;
            }
            $(this).prop("disabled", true);

            $(".field-error").hide();

            $.ajax({
                type: "POST",
                url: "/secure-profile/",
                data: $("#id_sq_form").serialize(),
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    if(data.status == "SUCCESS"){
                        $("#id_status_message").removeClass("color-red");
                        $("#id_status_message").addClass("color-green");
                        $("#id_status_message").text(data.message).fadeIn(500).fadeOut(3500);
                        $("#id_sq_update").prop("disabled", false);
                    }
                    else{
                        $("#id_status_message").removeClass("color-green");
                        $("#id_status_message").addClass("color-red");
                        $("#id_status_message").text(data.message).fadeIn(500).fadeOut(3500);
                        $("#id_sq_update").prop("disabled", false);
                    }
                    $("input[name=sq_password]").val("");
                },
                error: function(jqxhr, status, error)
                {
                    $("#id_status_message").removeClass("color-green");
                    $("#id_status_message").addClass("color-red");
                    $("#id_status_message").text("Security question update failed").fadeIn(500).fadeOut(3500);
                    $("#id_sq_update").prop("disabled", false);
                    $("input[name=sq_password]").val("");
                }
            })
            .done(function( msg ) {
                $("#id_sq_update").prop("disabled", false);
            });
        });


    });
</script>
{% endblock bodycontent %}