{% extends "public_master.html" %}

{% block body_content %}
<div style="margin-top: 80px;margin-bottom:10px;padding: 20px; width: 80%; min-height: 200px; margin-left: auto; margin-right: auto; border: 1px solid #ccc;">
    <h1 style="margin-top: 0px; color: black;">
        Account Registered
    </h1>
    <br/>
    <div>
        Thank you for your registration. Please kindly check your mailbox for the verification link to confirm your email.
        <br/>
        <br/>
        Click <a style="font: 14px/22px Arial, Helvetica, sans-serif;" href="{% url "user_login" %}">here</a> to login.
    </div>
</div>
{% endblock body_content %}