{% extends "public_master.html" %}
{% load staticfiles %}
{% load configfilters %}
{% block additional_script %}
    <link rel="stylesheet" type="text/css" href="{% static "css/tooltipster/tooltipster.css" %}"/>
    <script src="{% static "js/tooltipster/jquery.tooltipster.js" %}"></script>
{% endblock additional_script %}
{% block body_content %}
<div style="margin-top: 40px;margin-bottom:10px;padding: 20px; width: 80%; margin-left: auto; margin-right: auto; border: 1px solid #ccc;">
    <div style="width: 60%; height: 900px; margin-left: auto; margin-right: auto;">
        <h1 class="sign_up_heading">Sign Up Using facebook</h1>
        <p class="sign_up_txt"> Already have an account? <a id="id_open_signin1" href="#">Sign in</a> </p>
        <ul class="sign_up_tab">
        <li class="current"> <input type="radio" name="social_signup_role_radio" id="tutor_social" value="teacher" checked > <label for="tutor_social">Tutor</label></li>
        <li> <input type="radio" name="social_signup_role_radio" id="student_social" value="student"> <label for="student_social">Student</label></li>
        </ul>
        <form name="social_signup_form" class="social_signup_form tutor_form" action="#" method="post" onsubmit="return false;">
            {% csrf_token %}
            <div>
                <input type="hidden" name="u_u" value="{{ u_u }}"/>
                <div class="role-error-hint1">

                </div>
            </div>
            <div>
                <input type="hidden" name="social_signup_role" id="id_social_signup_role" value="teacher"/>
                <div class="role-error-hint1">

                </div>
            </div>
            <div>
                <input type="text" class="tooltip" title="This field is required" name="social_signup_name" value="{{ signup_name }}"/>
                <div class="error-hint1">

                </div>
            </div>
            <div>
                <input type="text" class="tooltip" title="This field is required" name="social_signup_surname" value="{{ signup_surname }}"/>
                <div class="error-hint1">

                </div>
            </div>
            <div>
                <input type="text" class="tooltip" title="This field is required" name="social_signup_email" value="{{ signup_email }}"/>
                <div class="error-hint1">

                </div>
            </div>
            <div>
                <input type="password" class="tooltip" title="This field is required" name="social_signup_password" placeholder="Password">
                <div class="error-hint1">

                </div>
            </div>
            <div>
                <input type="password" class="tooltip" title="This field is required" name="social_signup_password_repeat" placeholder="Confirm Password">
                <div class="error-hint1">

                </div>
            </div>
            <div>
                <select name="social_signup_timezones" title="This field is required" class="tz" style="z-index: 1;">
                    {% for tz_value, tz_label in signup_timezones %}
                    <option value="{{ tz_value }}">
                        {{ tz_label }}
                    </option>
                    {% endfor %}
                </select>
                <div class="error-hint1">

                </div>
            </div>
            <input type="hidden" name="social_signup" value="true"/>
            <input type="submit" id="id_social_signup" placeholder="Sign Up">
            <p>By Clicking "sign up", you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a></p>
        </form>
    </div>
</div>
<style>
    .field_error {
        border: 1px solid red !important;
    }
    .error-hint1 {
        color: red !important;
        display: none;
        margin-bottom: 10px;
    }
    .select2-container {
        width: 561px !important;
    }
</style>
<script>
$("#black_overlay").click(function(e) {
    e.preventDefault();
    $("#how_works").hide();
});
</script>
{% endblock body_content %}
