{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static "css/froala/froala_editor.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/froala/froala_style.min.css" %}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{% static "js/froala/froala_editor.min.js" %}"></script>
    <style type="text/css">
        .fr-box.fr-basic .fr-element {
            min-height: 250px !important;
        }
        .fr-toolbar {
            border-top: 1px solid #ece7e7 !important;
        }
        #statusbar{
            display: none;
        }
        .width120{
            width:  120px;
        }
        .dropdown-menu {
            z-index: 2001 !important;
        }

        .select2-dropdown {
            z-index: 5 !important;
        }

        .mce-menu { z-index: 65537 !important; }

        .select2-container--open .select2-dropdown--below {
            margin-top: -20px !important;
        }

        @media only screen and (min-width :240px) and (max-width : 455px) {
            .select2-container { width: 100% !important; }
        }

    </style>
    <script type="text/javascript">
        $(document).ready( function() {
            //$("#txtEditor").Editor();
            $(".fa-code").parent().hide();
            $(".fa-arrows-alt").parent().hide();
            $(".fa-print").parent().hide();
            $(".fa-table").parent().hide();
            $(".fa-asterisk").parent().hide();
            $(".fa-picture-o").parent().hide();

            $(".student-dd-select2").select2();

            $(".dropdown-toggle").click(function(e){
                $(this).parent().find(".dropdown-menu").toggle();
            });

            $("#id_progress_report_submit").click(function(e){
                $(this).prop("disabled",true);
                e.preventDefault();

                var url = "{% url "student_progress_report" %}";
                var user_id = $("#id_user_id").val();
                var report_data = $('#txtEditor').froalaEditor('html.get', false);

                var error_found = false;
                if(typeof user_id == "undefined" || user_id == "---") {
                    $("#id_no_student").text("This field is required");
                    $("#id_no_student").show();
                    error_found = true;
                }
                else {
                    $("#id_no_student").text("");
                    $("#id_no_student").hide();
                }

                if(report_data == "") {
                    $("#id_no_text").text("This field is required");
                    $("#id_no_text").show();
                    error_found = true;
                }
                else {
                    $("#id_no_text").text("");
                    $("#id_no_text").hide();
                }

                if(error_found) {
                    return false;
                }

                var data = {
                    "user-id": user_id,
                    "report-content": report_data
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function(content)
                    {
                        var content_object = jQuery.parseJSON(content)
                        if(content_object.status == "SUCCESS"){
                            location.href = content_object.data.redirect_url;
                        }
                        else {
                            $(".progress-report-notif-container").find("p").text("Progress report sending failed.").fadeIn(500).fadeOut(1000);
                        }
                    },
                    error: function(jqxhr, status, error)
                    {
                        $(".progress-report-notif-container").find("p").text("Progress report sending failed.").fadeIn(500).fadeOut(1000);
                    }
                })
                .done(function( msg ) {

                });

                return false;
            });

            $("#id_user_id").select2({
                  width: 550,
                  height: 90,
                }).on("change",function(e){
                    $("#id_hidden_tutor").val($(this).val());
                });

        });
    </script>
{% endblock script_head_extra %}
{% block bodycontent %}
    <div class="contnt">
        <div class="wrapper">
            <div class="champ_last_content_detail">
                <div>
                    <div>
                        <h3 class="reject_reason_heading" style="width: 100%; margin-top: 0px;">Write progress report to: </h3>
                        <select id="id_user_id" name="user-id" class="student-dd-select2" style="clear: both; float: left;">
                            <option value="---">Select Student</option>
                            {% for student in students %}
                            <option value="{{ student.user.pk }}">{{ student.fullname }}</option>
                            {% endfor %}
                        </select>
                        <input id="id_hidden_tutor" type="hidden" value="-1"/>
                        <div id="id_no_student" style="color: red; display: none;"></div>
                    </div>
                </div>
                <div class="row progress-report-notif-container" style="display: none;">
                    <div class="col-sm-12">
                       <p style="color: red;"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!--<div id="txtEditor" style="width: 100%; height: 100%;"></div>-->
                        <textarea id="txtEditor" name="content"></textarea>
                        <div id="id_no_text" style="color: red; display: none;"></div>
                    </div>
                </div>
                <div class="champ_duration_date" style="margin-top: 20px; ">
                <a href="#" class="reject_btn accept_bg" id="id_progress_report_submit">Send</a> &nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>
<script>
      $(function() {
          $('#txtEditor').froalaEditor({
              fontFamily: {
                "Roboto,sans-serif": 'Roboto',
                "Oswald,sans-serif": 'Oswald',
                "Montserrat,sans-serif": 'Montserrat',
                "'Open Sans Condensed',sans-serif": 'Open Sans Condensed'
              },
              fontFamilySelection: true
            })
      });
  </script>
{% endblock bodycontent %}