{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}

<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
<script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static "css/rich-textarea/editor.css" %}" rel="stylesheet">
<script type="text/javascript" src="{%  static "js/rich-textarea/editor.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>

<style type="text/css">
    .job_post_form input {
        width: 600px;
        padding: 7px;
        min-height: 40px;
    }
    .job_post_form textarea {
        width: 100%;
        height: 300px;
    }
    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        background: white;
    }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
    * html .ui-autocomplete {
        max-height: 200px;
    }

</style>

<script>
    $(document).ready(function(){

        $("#id_question_body").Editor();
        $(".fa-code").parent().hide();
        $(".fa-arrows-alt").parent().hide();
        $(".fa-print").parent().hide();
        $(".fa-table").parent().hide();
        //$(".fa-asterisk").parent().hide();
        //$(".fa-picture-o").parent().hide();

        $(document).on("click",".tag_close",function(e){
            e.preventDefault();
            $(this).parent().remove();
        });


        $("button[name=q_post_button]").click(function(e){
            e.preventDefault();
            var $job_post_title = $("input[name=q_title]");
            if($job_post_title.val() == ""){
                $job_post_title.focus();
                return false;
            }

            var details = $(".Editor-editor").html();
            console.log(details);
            if($.trim(details) == "") {
                $(".Editor-editor").focus();
                return false;
            }

            $("textarea[name=q_description]").val(details);

            var html_tags = $("#id_qtag_input").parent().find(".tags").html();
            if($.trim(html_tags) == "") {
                $("#id_qtag_input").focus();
                return false;
            }

            $("form[name=q-post-form]").submit();

        });

        $(document).on("click","#id_preview_qpost", function(e) {
            e.preventDefault();
            e.preventDefault();
            var $job_post_title = $("input[name=q_title]");
            if($job_post_title.val() == ""){
                $job_post_title.focus();
                $("#myModal").modal("hide");
                return false;
            }

            var details = $(".Editor-editor").html();
            console.log(details);
            if($.trim(details) == "") {
                $(".Editor-editor").focus();
                 $("#myModal").modal("hide");
                return false;
            }

            $("textarea[name=q_description]").val(details);

            var html_tags = $("#id_qtag_input").parent().find(".tags").html();
            if($.trim(html_tags) == "") {
                $("#id_qtag_input").focus();
                 $("#myModal").modal("hide");
                return false;
            }

            $("form[name=q-post-form]").submit();
        });

        $("button[name=q_post_preview_button]").click(function(e){
            e.preventDefault();
            var $job_post_title = $("input[name=q_title]");
            if($job_post_title.val() == ""){
                $job_post_title.focus();
                return false;
            }

            var details = $(".Editor-editor").html();
            //console.log(details);
            if($.trim(details) == "") {
                $(".Editor-editor").focus();
                return false;
            }

            $("textarea[name=q_description]").val(details);

            var html_tags = $("#id_qtag_input").parent().find(".tags").html();
            if($.trim(html_tags) == "") {
                $("#id_qtag_input").focus();
                return false;
            }
            $("#id_overlay_loading").show();
            $.ajax({
                type: "POST",
                url: "/ajax/question/post-preview/",
                data:  $("form[name=q-post-form]").serialize(),
                enctype: 'multipart/form-data',
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    $("#id_preview_content").html(data.data.dialog_content);
                    $("#myModal").modal("show");
                },
                error: function(jqxhr, status, error)
                {

                }
            })
            .done(function( msg ) {
                $("#id_overlay_loading").hide();
            });
        });

        $( "#id_qtag_input" ).autocomplete({
            minLength: 0,
            source: function(request, response) {
            $.ajax({
                url: "/ajax/major",
                data: {
                    term: request.term,
                    readonly: 'true'
                },
                success: function(data) {
                    response(data);
                }
            });
            },
            data: { 'readonly': 'true' },
            focus: function( event, ui ) {
                return false;
            },
            select: function( event, ui ) {
                var tag_val = ui.item.value;
                if(ui.item.id == -1){
                    tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                }

                var value = ui.item.id;
                var text = ui.item.value;
                var value_found = false;
                $(this).parent().find(".tags").find("input").each(function(e){
                    if($(this).val() == value){
                        value_found = true;
                        return;
                    }
                });

                if(!value_found){
                    //var input_element = "<input type='hidden' name='qtag-list[]" +"' value='"+ value +"' >";
                    //var tag_element = "<span class=\"dfrnt_tag radius3\"><a class=\"tag_close\" href=\"#\"></a>"+ input_element + text +"</span>";

                    //$(this).parent().find(".tags").append(tag_element);


                    var tag_element = "<a href=\"javascript:void(0);\">"+ text +"<span class=\"cross tag_close\"><input type=\"hidden\" name=\"qtag-list[]\" value=\""+ value +"\" <span></span></a>";

                    $(this).parent().find(".tags").append(tag_element);

                }

                $( "#id_qtag_input" ).val("");
                $( "#id_qtag_input" ).focus();

                return false;
            }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li style='cursor:pointer;'>" )
                    .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                    .append( "<input type='hidden' class='major_id' value='"+ item.id +"'/>" )
                    .appendTo( ul );
            }

    });
</script>
{% endblock script_head_extra %}
{% block bodycontent %}
    <div class="contnt">
    <div class="col-xs-12 col-sm-12">
        <div class="wrapper">
            <div class="main_cntnt radius3">
            <div class="form-group">
                <div class="col-xs-12">
                    <h3>Post Question</h3>
                    <hr/>
                </div>
            </div>
            <form name="q-post-form" role="form" action="{% url "question_create_view" %}" class="form-horizontal q_post_form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
               <div class="form-group">
                    <div class="col-xs-12">
                        <input type="text" class="form-control" name="q_title" placeholder="Question Title"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div id="id_question_body">

                        </div>
                        <textarea style="min-height: 300px; display: none;" name="q_description" class="form-control" placeholder="I will require a tutor who knows Math subject very well"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class='col-xs-12'>
                        <div id="id_file_input_container_hint" style="display: none;">
                            <h4>Maximum 10 files can be uploaded.</h4>
                        </div>
                        <div id="id_file_input_container">
                            <button class="btn btn-primary" id="id_attach_file"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Attach File(s)</button>
                            <br>
                            <p class="pull-left">Maximum 10 files can be uploaded.</p>
                            <input type="file" name="attached_file" class="form-control pull-left" id="id_attached_file" style="display: none;"/>
                        </div>
                        <div id="id_attached_files" class="pull-left" style="padding: 3px; margin-top: 1px;width: 100%;"></div>
                        <input type="hidden" name="fcount" value="0"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input id="id_qtag_input" type="text" class="radius5 form-control" name="a_tag" placeholder="Question Tag">
                        <div class="tags language_tag"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <button class="btn btn-sm btn-danger" name="q_post_button">Post Question</button>
                        <button class="btn btn-sm btn-primary" name="q_post_preview_button">Preview Question</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<script>
    var file_ = $("#id_attached_file").clone();
            var file_index = 1;
            var max_files_count = 10;
            var files_count = 0;

            $("#id_attach_file").click(function(e){
                e.preventDefault();
                $("#id_attached_file").click();
            });

            $(document).on("change","#id_attached_file",function(e){
                var _this = $(this);
                var files = $(this).prop("files");
                var clone = $(this).clone();
                _this.removeProp("id");
                $("input[name=fcount]").val(files.length);
                for(var j = 0 ; j < files.length ; j++){
                    _this.prop("name", _this.prop("name") + file_index);
                    var html = "<div style='width: 100%; margin-top: 4px; padding: 10px;'><span style='width: 230px;' class='pull-left'>"+ files[j].name +"</span><i class='glyphicon glyphicon-remove pull-right cancel-file' data-index='"+ file_index +"' style='cursor: pointer;'></i></div>";
                    _this.css("display","none");
                    $("#id_attached_files").append(html);
                    $("#id_attached_files").append(_this);
                    files_count ++;
                    if(files_count >= max_files_count){
                        $("#id_file_input_container_hint").show();
                        $("#id_file_input_container").hide();
                    }
                    else{
                        $("#id_file_input_container_hint").hide();
                        $("#id_file_input_container").show();
                    }
                }
                $("#id_file_input_container").append(clone);
                file_index ++;
                {#            file_.insertAfter($("#id_attached_files"));#}
                {#            $("#id_attached_files").find("input[type=file]").each(function(i){#}
                {#                console.log($(this).prop("files")[0].name);#}
                {#            })#}
            });

            $(document).on("click",".cancel-file", function(e){
                var _this_index = $(this).data("index");
                var target_name = file_.prop("name")+_this_index;
                $("input[name="+target_name+"]").remove();
                $(this).parent().remove();
                files_count --;
                if(files_count < max_files_count){
                    $("#id_file_input_container_hint").hide();
                    $("#id_file_input_container").show();
                }
            });
</script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Question Post Preview</h4>

            </div>
            <div class="modal-body"><div id="id_preview_content" class="te"></div></div>
            <div class="modal-footer center-block">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="id_preview_qpost">Post Question</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div id="id_overlay_loading" style="display: none; background: black; opacity: 0.5; position: fixed; width: 100%; height: 100%; left: 0px; right: 0px; top: 0px; bottom: 0px; z-index: 10001;">
    <div style="width: 200px; height: 200px; position: absolute; left: 40%; top: 30%; font-size: 17px; font-weight: bold; color:#fff;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Please wait...</div>
</div>
{% endblock bodycontent %}