{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/select2-bootstrap.css" %}"/>
    <script type="text/javascript" src="{% static "js/chat/messages.js" %}"></script>
    <link href="{% static "css/colorbox.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.colorbox-min.js" %}"></script>
    <script src="{% static "js/select2.min.js" %}"></script>

    <style>
        .ready_to_teach form > span.select2-container {
            background: none;
        }
        .ready_to_teach form > span.select2-selection {
        }
    </style>

{% endblock script_head_extra %}
{% block bodycontent %}
    <div class="contnt">
    <!--<div class="online_tutor">-->
        <!--<div class="wrapper">-->
            <!--<h2 class="online_tutor_heading">Tutors</h2>-->
            <!--<a href="#" class="start_free_trail" onclick="show_signup();">Start your free trial</a>-->
            <!--<a href="#" class="how_works" onclick="showworks();">How it works</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="online_banner">-->
        <!--<div class="wrapper">-->
            <!--<div class="bnr_inr">-->
                <!--<div class="online_banner_left"> &lt;!&ndash;<p>Find Best online Tutors for your subjects</p>&ndash;&gt;-->
                    <!--<h1>Search online tutors-->
                        <!--{% if subject %}-->
                             <!--for <span>{{ subject }}</span>-->
                        <!--{% endif %}-->
                    <!--</h1>-->
                    <!--<p>We connect the best tutors for you{% if subject %} in {{ subject }}{% endif %}.<br>Feel free to set up a weekly tutoring plan if you find any suitable tutors.</p>-->
                <!--</div>-->
                <!--<div class="want_tutor">-->
                    <!--<h2>In a hurry? Let us find <br> a tutor for you.</h2>-->
                    <!--<a href="#" class="connect_btn radius3" onclick="showconnect()">Connect me with a tutor</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <nav id="navigation">
        <div class="search_box" onClick="return false;"><img src="{% static "images/srch_dwn.png" %}" width="22" height="22" alt="img"> <img src="{%  static "images/srch_up.png" %}" width="22" height="22" alt="img"></div>
        <div class="ready_to_teach catehide">
            <div class="wrapper">
                <div class="online">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                        <span style=""><a href="#" class="radius3">Available to teach now</a>
                            <img src="{% static "images/corct_icon.png" %}" width="15" height="15" alt="img"></span>

                    <div class="onoffswitch1">
                        <input type="checkbox" name="onoffswitch1" value="true" class="onoffswitch1-checkbox" id="myonoffswitch1">
                        <label class="onoffswitch1-label" for="myonoffswitch1">
                            <span class="onoffswitch1-inner"></span>
                            <span class="onoffswitch1-switch"></span>
                        </label>
                    </div>

                    <span style=""><a href="#" class="radius3">Online</a> <img src="{% static "images/online.png" %}" width="12" height="12" alt="img"> </span>
                    <div class="gender">Select Gender
                        <input type="radio" name="gender" value="male" {% if gender == None or gender == "male" %}checked {% endif %}> <img src="{% static "images/male_icon.png" %}" width="11" height="22" alt="img">
                        <input type="radio" name="gender" value="female" {% if gender == "female" %}checked {% endif %}> <img src="{% static "images/femail_icon.png" %}" width="12" height="22" alt="img">
                        <input type="radio" name="gender" value="any" {% if gender == "any" %}checked {% endif %}> <img src="{% static "images/gnder_icon.png" %}" width="30" height="22" alt="img"></div>
                </div>
                <form>
                    <input type="text" id="id_search_subject" placeholder="Choose subject" {% if subject %}value="{{ subject }}"{% endif %} class="form-control radius3" style="color: black;"> <span></span>
                    <input type="text" id="id_search_country" placeholder="Choose country" {% if country %}value="{{ country }}"{% endif %} class="form-control radius3" style="color: black;"> <span></span>

                    <select id="id_search_budget">
                        {{ budget }}
                        {% for value,label in budget_list %}
                            <option value="{{ value }}" {% if budget == value %} selected{% endif %} >{{ label }}</option>
                        {% endfor %}
                    </select>

                    <select id="id_search_currency">
                        {% for value,label in currencies %}
                            <option value="{{ value }}" {% if currency == value %} selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>

                    <!--<input type="text" id="id_search_budget" placeholder="Your Budget" {% if budget %}value="{{ budget }}"{% endif %} class="form-control radius3" style="color: black;"> <span></span>-->

                    

                    <!-- <input type="text" id="id_search_currency" placeholder="Currency preference" {% if currency %}value="{{ currency }}"{% endif %} class="form-control radius3" style="color: black;"> <span></span> -->
                    {#                        <select id="id_select_currency">#}
                    {#                            <option value="usd">USD</option>#}
                    {#                            <option value="sgd">SGD</option>#}
                    {#                        </select>#}
                    <div class="outer_search">
                        <div class="search radius3">
                            <input name="keyword" type="text" style="color: black;" placeholder="Enter keyword" {% if keyword %} value="{{ keyword }}"{% endif %}>
                            <input id="id_submit_btn_form" type="submit" value="">
                        </div>
                        <p>Can't find anything? Search for it!</p>
                    </div>
                </form>
            </div>
        </div>
    </nav>


    <div class="wrapper">
        <div class="breadcrumb">
            <ul>
                <li class="radius3_left"><a href="#"><img src="{% static "images/home.png" %}" width="22" height="22" alt="img"></a></li>
                <li class="radius3_left"><a href="#">Math</a></li>
                <li class="radius3_left"><a href="#" class="breadcrumb_active">Algebra</a></li>
            </ul>
            <!--<p>All of our tutoring occurs online, but you can browse Algebra tutors by location here.<br>Browse tutors by gender: Female Algebra tu tors, Male Algebra tutors<br>Algebra textbooks</p>-->
        </div>

        <ul class="showing_online_result">
            <span>Showing {{ start_index }} - {{ end_index }} of {{ paginator.count }} results ({{ online_users_count }} online) </span>
            <div class="pgntn">
                <ul>
                    {% for p in page_links %}
                        <li><a class="search-next" data-page-number="{{ p }}" href="/tutor-search/?page={{ p }}" {% if p == current_page %} class="page-link-active" {% endif %}>{{ p }}</a></li>
                    {% endfor %}
                </ul>

                {% if has_next_page %}
                    <a class="search-next" data-page-number="{{ current_page|add:"1" }}" href="/tutor-search/?page={{ current_page|add:"1" }}"><img src="{% static "images/next.png" %}" width="23" height="23" alt="img"></a>
                {% endif %}
                {% if has_previous_page %}
                    <a class="search-next" data-page-number="{{ current_page|add:"-1" }}" href="/tutor-search/?page={{ current_page|add:"-1" }}"> <img src="{% static "images/prev.png" %}" width="23" height="23" alt="img"> </a>
                {% endif %}
            </div>
        <br>
            {% for data_item in data_items %}
                <li>
                    <div class="left_img">
                            <span class="radius3">
                                {% if data_item.thumbnail_url %}
                                    <img src="{{ data_item.thumbnail_url|safe }}" width="145" height="139" alt="img">
                                {% else %}
                                    <img src="{% static "images/img1_online.png" %}" width="145" height="139" alt="img">
                                {% endif %}
                            </span>
                        <ul {% if data_item.profile.rating %}title="Rating {{ data_item.profile.rating|floatformat:"2" }}/5.00" {% else %} title="Rating 0.00/5.00" {% endif %}>
                            {% if not data_item.profile.rating %}
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                            {% elif data_item.profile.rating >= 0 and data_item.profile.rating < 0.5 %}
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                            {% elif data_item.profile.rating >= 0.5 and data_item.profile.rating < 1.5 %}
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                            {% elif data_item.profile.rating >= 1.5 and data_item.profile.rating < 2.5 %}
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                            {% elif data_item.profile.rating >= 2.5 and data_item.profile.rating < 3.5 %}
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                            {% elif data_item.profile.rating >= 3.5 and data_item.profile.rating < 4.5 %}
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                            {% elif data_item.profile.rating >= 4.5 and data_item.profile.rating < 5.5 %}
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="img_right">
                            <a href="/profile/{{ data_item.champ_user.user.pk }}">
                                <div class="img_name">
                                    <img src="{% static "images/corct_icon.png" %}" width="15" height="15" alt="img">
                                    {{ data_item.champ_user.fullname }}
                                    <input type="hidden" class="user-name" value="{{ data_item.champ_user.fullname }}"/>
                                    <span>{{ data_item.majors }}</span>
                                </div>
                            </a>
                            <span class="british">
                                {% if data_item.profile.nationality %}
                                    <img width="23" height="16" alt="img" src="{% static "images/british.png" %}"> {{ data_item.champ_user.nationality }} |
                                {% endif %}
                                {% if data_item.profile_min_rate_currency == data_item.profile_max_rate_currency %}
                                    {{ data_item.profile_min_rate_currency }} {{ data_item.profile_min_rate }} - {{ data_item.profile_max_rate }}
                                {% else %}
                                    {{ data_item.profile_min_rate_currency }}{{ data_item.profile_min_rate }} - {{ data_item.profile_max_rate_currency }}{{ data_item.profile_max_rate }}
                                {% endif %}
                                <em>{{ data_item.champ_user.current_school }}</em> </span>
                        <p>{% if data_item.champ_user.user.teachingexperiences_set.all %}{{ data_item.champ_user.user.teachingexperiences_set.all.first.experience|slice:":300" }}{% endif %}</p>
                    </div>
                    <div class="hover_btn">
                        <input class="userid" type="hidden" value="{{ data_item.champ_user.user.pk }}"/>
                        <a href="#" class="tutor-meet-btn"><img src="{% static "images/meet_icon.png" %}" width="15" height="21" alt="img"> Meet now</a>
                        <a href="#id_msg_dialog_html" class="tutor-send-msg-btn"><img src="{% static "images/msg_icon_blue.png" %}" width="16" height="13" alt="img"> Message</a>
                    </div>
                </li>
            {% empty %}
                <div style="min-height: 300px; padding: 7px;">
                    No results found
                </div>
            {% endfor %}
        </ul>
        <div class="pgntn">
            <ul>
                {% for p in page_links %}
                    <li><a class="search-next" data-page-number="{{ p }}" href="/tutor-search/?page={{ p }}" {% if p == current_page %} class="page-link-active" {% endif %}>{{ p }}</a></li>
                {% endfor %}
            </ul>

            {% if has_next_page %}
                <a class="search-next" data-page-number="{{ current_page|add:"1" }}" href="/tutor-search/?page={{ current_page|add:"1" }}"><img src="{% static "images/next.png" %}" width="23" height="23" alt="img"></a>
            {% endif %}
            {% if has_previous_page %}
                <a class="search-next" data-page-number="{{ current_page|add:"-1" }}" href="/tutor-search/?page={{ current_page|add:"-1" }}"> <img src="{% static "images/prev.png" %}" width="23" height="23" alt="img"> </a>
            {% endif %}
        </div>
        <div class="crse_rlted">
            <h5>Courses related to Algebra</h5>
            <a href="#">Algebra 1</a>  <a href="#">Algebra 2</a>

            <h5>Topics related to Algebra</h5>

            <ul>
                <li>Absolute Value Inequalities <br>Adding and Subtracting Polynomials<br>Applications of Linear Systems</li>

                <li>Absolute-Values-online-tutoring<br>Adding and Subtracting Rational...<br>Applications of the Discriminant</li>

                <li>Adding and Subtracting Matrices<br>Addition of Real Numbers<br>Box-and-whisker Plots</li>
            </ul>

            <a href="#" class="radius3 show">Show All</a>

        </div>
    </div>
    </div>


    <div id="black_overlay"></div>
    <div id="connect">
        <div class="connect_bx">
            <h1 class="lesson_bx_heading">Is there anything else that your tutor should know?</h1>
            <p class="working_tutor">Let us know exactly what you are working on and we will inform the tutors.</p>
            <div class="enter_question">
                <form class="lesson_bx_form">
                    <textarea placeholder="Enter a problem or question (Optional)" class="enter_problem"></textarea>
                    <div class="preferred_communication">
                        <h2>Preferred communication Style</h2>
                        <div> <input type="radio" name="communication" id="text_only"> <label for="text_only">Text Only </label> </div>
                        <div> <input type="radio" name="communication" id="audio"> <label for="audio">Audio</label> </div>
                        <div> <input type="radio" name="communication" id="video "> <label for="video">Video</label> </div>
                    </div>
                    <div><input type="submit" class="find_tutor" value="Find My Tutor"></div>
                </form>
            </div>
        </div>
    </div>

    <div id="how_works">
        <div class="how_works_bx">
            <h1 class="work_heading">ChampionTutor provides the most convenient <br> way for you to connect to a tutor instantly</h1>
            <ul class="how_works_list">
                <li>
                    <div class="how_works_icon"> <img src="images/connect-tutor-icon1.png" width="170" height="150" alt="img"> </div>
                    <h3 class="how_works_heading">Get instant connection
                        with any tutors, 24/7</h3>
                    <p class="how_works_text">After your search, a list of tutors will appear, you can choose to chat with them first before entering into a tutoring session.</p>
                </li>
                <li>
                    <div class="how_works_icon"> <img src="images/connect-tutor-icon2.png" width="161" height="150" alt="img"> </div>
                    <h3 class="how_works_heading">Experience the user-friendly
                        tools in our lesson space</h3>
                    <p class="how_works_text">Our lesson space connects you through different media, such as audio, video and text. Upload your assignment and get ready to learn.</p>
                </li>
                <li>
                    <div class="how_works_icon"> <img src="images/connect-tutor-icon3.png" width="150" height="150" alt="img"> </div>
                    <h3 class="how_works_heading">What's more? You
                        can try it for free</h3>
                    <p class="how_works_text">Can't decide which tutors to choose? Start off with a free 30 minutes trial. Thereafter, fee is as per charge according to tutor's hourly rate.</p>
                </li>
            </ul>
        </div>
    </div>


    <div id="sign_up">
        <div class="sign_up_bx">
            <h1 class="sign_up_heading">Sign Up</h1>
            <p class="sign_up_txt"> Already have an account? <a href="#">Sign in</a> </p>
            <ul class="sign_up_tab">
                <li class="current"> <input type="radio" name="signup" id="tutor" checked> <label for="tutor">Tutor</label></li>
                <li> <input type="radio" name="signup" id="student"> <label for="student">Student</label></li>
            </ul>
            <div class="tab" style="display:block;">
                <form class="tutor_form">
                    <input type="text" placeholder="Your name">
                    <input type="text" placeholder="Email ID">
                    <input type="text" placeholder="Password">
                    <input type="text" placeholder="Confirm Password">
                    <input type="submit" placeholder="Sign Up">
                    <p>By Clicking "sign up", you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a></p>
                </form>
            </div>
            <div class="tab">
                <form class="tutor_form">
                    <input type="text" placeholder="Your name">
                    <input type="text" placeholder="Email ID">
                    <input type="text" placeholder="Password">
                    <input type="text" placeholder="Confirm Password">
                    <input type="submit" placeholder="Sign Up">
                    <p>By Clicking "sign up", you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a></p>
                </form>
            </div>
        </div>
    </div>
    </div>





    <div id="sign_in">
        <div class="sign_in_bx">
            <h1 class="sign_up_heading">Sign In</h1>
            <p class="sign_up_txt"> Already have an account? <a href="#">Sign up</a> </p>
            <a href="#" class="facebook">Sign in with Facebook</a>
            <div class="or"> <p>Or</p> <span></span> </div>
            <form class="signin_form">
                <input type="text" placeholder="Email ID">
                <p>Forgot email?</p>
                <input type="text" placeholder="Password">
                <p>Forgot Password?</p>
                <input type="submit" value="Sign In" class="sign_in_btn top25">
            </form>
        </div>
    </div>

    <div id="id_tutor_meetme_dialog_html" style="display: none;">

    </div>

    <div style="display: none;">
        <div id="id_msg_dialog_html" class="msg-dialog-content">
            <div id="id_msg_sent_status" style="padding: 10px; display: none;"></div>
            <form name="msg-dialog" id="id_msg_dialog_form" method="post" action="/ajax/message/" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table borderless">
                    <tbody>
                    <tr>
                        <td>
                            <h4>Send Message</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="id_msg_reciepients" name="msg_recipient" value="" placeholder="Type recipients name here" class="form-control"/>
                            <input name="hidden_ids" id="id_hidden_ids" type="hidden" value=""/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea placeholder="Write your message..." id="id_msg_text" name="msg_text" class="form-control" rows="8"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="file" name="msg_attachment" style="display: none;"/>
                            <button id="id_btn_send_msg" type="submit" name="submit" class="btn btn-primary pull-right" style="width: 100px;">Send</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <style type="text/css">
        #cboxClose{
            display: none;
        }
    </style>

    <script>
        $('ul.sign_up_tab > li > label').click(function() {
            $('ul.sign_up_tab > li').eq($(this).parent('li').index()).addClass('current').siblings().removeClass('current');
            tabsss($(this).parent('li').index());
        });
        function tabsss(val)
        {
            $(".tab").hide();
            if(val>0)
            {
                document.getElementsByClassName('tab')[val].style.display="block";
            }
            else
            {
                document.getElementsByClassName('tab')[0].style.display="block";
            }
        }
    </script>

    <script language="javascript">
        var black_overlay = $('#black_overlay');
        var sign_up = $('#sign_up');
        var sign_in = $('#sign_in');

        black_overlay.click(function(){black_overlay.hide(); sign_up.hide();});
        black_overlay.click(function(){black_overlay.hide(); sign_in.hide();});


        $( document ).on( 'keydown', function ( e ) {
            if ( e.keyCode === 27 ) { // ESC
                $( black_overlay ).hide();
                $( sign_up ).hide();
                $( sign_in ).hide();
            }
        });

        //window.onload(function(){marscrl.stop()})

        function toggle_visibility(id) {
            var e = document.getElementById(id);
            if(e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }

        function show_signup()
        {document.getElementById('black_overlay').style.display="block";
            document.getElementById('sign_up').style.display="block";}

        function show_signin()
        {document.getElementById('black_overlay').style.display="block";
            document.getElementById('sign_in').style.display="block";}

    </script>

    <script>
    function updateURLParameter(url, param, paramVal)
    {
        var TheAnchor = null;
        var newAdditionalURL = "";
        var tempArray = url.split("?");
        var baseURL = tempArray[0];
        var additionalURL = tempArray[1];
        var temp = "";

        if (additionalURL)
        {
            var tmpAnchor = additionalURL.split("#");
            var TheParams = tmpAnchor[0];
            TheAnchor = tmpAnchor[1];
            if(TheAnchor)
                additionalURL = TheParams;

            tempArray = additionalURL.split("&");

            for (i=0; i<tempArray.length; i++)
            {
                if(tempArray[i].split('=')[0] != param)
                {
                    if(tempArray[i].split('=')[1] != "") {
                        newAdditionalURL += temp + tempArray[i];
                        temp = "&";
                    }
                }
            }
        }
        else
        {
            var tmpAnchor = baseURL.split("#");
            var TheParams = tmpAnchor[0];
            TheAnchor  = tmpAnchor[1];

            if(TheParams)
                baseURL = TheParams;
        }

        if(TheAnchor)
            paramVal += "#" + TheAnchor;

        var rows_txt = temp + "" + param + "=" + paramVal;
        return baseURL + "?" + newAdditionalURL + rows_txt;
    }
    $(document).ready(function()
    {

        //window.location.href = updateURLParameter(window.location.href);

        $(".tutor-meet-btn").click(function(e){
            var html = $("#id_tutor_meetme_dialog_html").html();
            show_colorbox_dialog(html,{height: 400});
        });

        var recipient_tagit = null;

        $(".tutor-send-msg-btn").click(function(e){
            var this_element = $(this);
            $("#id_msg_sent_status").hide();
            $("#id_msg_dialog_form").show();

            $.colorbox.remove();
            $(this).colorbox({
                width: "700px",
                height: "431px",
                inline:true,
                opacity: 0.1,
                scrolling: false,
                photo: true,
                escKey: true,
                fixed: true,
                onOpen: function(){
                    $("#id_msg_reciepients").prop("disabled",true);
                    var uid = this_element.parent().find(".userid").val();
                    $("#id_msg_text").val("");
                    $("#id_hidden_ids").val(uid);
                    $("#id_msg_reciepients").val($(this).parent().parent().find(".user-name").val());
                },
                onClosed: function(){
                    $("#id_msg_reciepients").prop("disabled",false);
                }
            });
        });

        $(document).on("click","#id_btn_send_msg",function(e){
            e.preventDefault();
            var form_data = $("#id_msg_dialog_form").serialize();

            var msg_text = $("#id_msg_text").val();
            if(msg_text == "") {
                $("#id_msg_text").focus();
                return false;
            }

            _ajax_call("POST","/ajax/message/",form_data,function(data){
                        $("#id_msg_sent_status").html("<p style='font-size: 18px;'>Message sent successfully.</p>").show();
                        $("#id_msg_dialog_form").hide();
                        $.colorbox.resize({
                            "height":"200px"
                        });
                    },
                    function(jqxhr, status, error){

                    },
                    function(msg){

                    });

            return false;
        });

    });

    $("#id_msg_reciepients").keyup(function(e){
        //alery(e.keyCode);
    });



    {% if avail == True %}
        $("#myonoffswitch").click();
    {% else %}
        $("#myonoffswitch").val("false");
    {% endif %}

    $("#myonoffswitch").change(function(){
        if($(this).val() == "false"){
            $(this).val("true")
        }
        else{
            $(this).val("false")
        }
        //alert($(this).val());
        var newURL = updateURLParameter(window.location.href, 'filter-avail', $(this).val());
        location.href = newURL;
    });

    //alert("{{ online }}");

    {% if online == False %}
        $("#myonoffswitch1").click();
        $("#myonoffswitch1").val("false");
    {% else %}
        $("#myonoffswitch1").val("true");
    {% endif %}

    $("#myonoffswitch1").change(function(){
        if($(this).val() == "true"){
            $(this).val("false");
        }
        else{
            $(this).val("true");
        }
        //alert($(this).val());
        var newURL = updateURLParameter(window.location.href, 'filter-online', $(this).val());
        location.href = newURL;
    });

    $("input[type=radio][name=gender]").change(function(){
        var newURL = updateURLParameter(window.location.href, 'filter-gender', $(this).val());
        location.href = newURL;
    });

    //$("#id_select_currency").select2();

    $("#id_search_subject").keyup(function(e){
        if(e.keyCode == 13){
            var newURL = updateURLParameter(window.location.href, 'filter-subject', $(this).val());
            location.href = newURL;
        }
    });

    $("#id_search_country").keyup(function(e){
        if(e.keyCode == 13){
            var newURL = updateURLParameter(window.location.href, 'filter-country', $(this).val());
            location.href = newURL;
        }
    });

    $("#id_search_budget").keyup(function(e){
        if(e.keyCode == 13){
            var newURL = updateURLParameter(window.location.href, 'filter-budget', $(this).val());
            location.href = newURL;
        }
    });

    $("#id_search_currency").keyup(function(e){
        if(e.keyCode == 13){
            var newURL = updateURLParameter(window.location.href, 'filter-currency', $(this).val());
            location.href = newURL;
        }
    });

    $("input[name=keyword]").keyup(function(e){
        if(e.keyCode == 13){
            var newURL = updateURLParameter(window.location.href, 'keyword', $("input[name=keyword]").val());
            location.href = newURL;
        }
    });

    $("#id_submit_btn_form").click(function(e) {
        e.preventDefault();
        var newURL = updateURLParameter(window.location.href, 'keyword', $("input[name=keyword]").val());
        location.href = newURL;
    });

    $("#id_search_budget").select2({
        width: "200px",
        height: "35px"
    }).on("change", function() {
        var newURL = updateURLParameter(window.location.href, 'filter-budget', $(this).val());
        location.href = newURL;
    });
    $("#id_search_currency").select2({
        width: "200px",
        height: "35px"
    }).on("change", function() {
        var newURL = updateURLParameter(window.location.href, 'filter-currency', $(this).val());
        location.href = newURL;
    });

    $(".search-next").click(function(e){
        e.preventDefault();
        var newURL = updateURLParameter(window.location.href, 'page', $(this).data("pageNumber"));
        location.href = newURL;
    });

    </script>

    <script language="javascript">
        //svgeezy.init(false, 'png');
    </script>


    <script language="javascript">


        //create a stick nav
        //var menuOffset = $('.top-nav')[0].offsetTop; // replace #menu with the id or class of the target navigation
        $(document).bind('ready scroll', function() {
            var docScroll = $(document).scrollTop();
            if (docScroll >= 270) {
                if (!$('nav').hasClass('sticky')) {

                    $('nav').addClass('sticky').css({
                        top: '-300px'
                    }).stop().animate({
                                top: 73
                            }, 500);
                }
            } else {
                $('nav').removeClass('sticky').removeAttr('style');
                $('.search_box').removeClass('aadd');
            }
            $('.search_box').removeClass('aadd');
        });
    </script>


    <script>
        $(".search_box").click(function () {
            $(".search_box").toggleClass("aadd");
            $(".ready_to_teach").toggleClass("catehide");
        });
    </script>

{% endblock bodycontent %}