{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}
    <script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
    <script type="text/javascript" src="{% static "js/chat/messages.js" %}"></script>
    <link href="{% static "css/colorbox.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.colorbox-min.js" %}"></script>
    <script src="{% static "js/select2.min.js" %}"></script>
    <script src="{% static "js/fuzzy-dropdown.standalone.js" %}"></script>
    <script src="{% static "js/search.js" %}"></script>
    <script src="{% static "js/job_invite.js" %}"></script>

    <style>
        .ready_to_teach form > span.select2-container {
            background: none;
        }
        .ready_to_teach form > span.select2-selection {
        }
        .header_title {
            font-weight: bold;
            margin-top: 13px;
            width: 100%;
            float: left;
        }
        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            background: white;
        }
            /* IE 6 doesn't support max-height
             * we use height instead, but this forces the menu to always be this tall
             */
        * html .ui-autocomplete {
            height: 100px;
        }
        .search-panel-left-row {
            margin-top: 20px;
            padding: 15px 15px 15px 0px;
        }
        .search-panel-left-row input[type="text"] {
            width: 95%;
            padding: 7px;
            border: 1px solid #e7e4e4;
            background-color: #fff;
        }
        .search-panel-left-row select {
            width: 100%;
            padding: 7px;
            border: 1px solid #e7e4e4;
            background-color: #fff;
        }
        .select2-container {
        z-index: 1102;
        }

        .social_signup_form .select2-container {
            z-index: 1;
        }

        .select2-container--default .select2-selection--single{
            padding:6px;
            height: 48px;
            width: 100%;
            font-size: 1.2em;
            position: relative;
            margin-bottom: 20px;
            border: 1px solid #e7e4e4;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 10px;
        }

        .select2-selection__placeholder {
            font-weight: normal;
            color: black;
        }
        .tags {
            width: 100%;
            float: left;
            text-align: left;
        }
        .language_tag {
            padding-left: 0px !important;
        }
        .ui-widget-content {
            background-color: white;
            border: 1px solid gray;
        }
        .ui-state-focus {
            background-color: #dfdfdf;
            color: black;
        }
    </style>

{% endblock script_head_extra %}
{% block bodycontent %}
    <div class="contnt">
        <div style="width: 80%; margin-left: auto; margin-right: auto; min-height: 600px;">
            <div class="breadcrumb">
                <ul>
                    <li class="radius3_left"><a href="#"><img src="{% static "images/home.png" %}" width="22" height="22" alt="img"></a></li>
                    <li class="radius3_left"><a href="#" class="breadcrumb_active">Algebra</a></li>
                </ul>
              <!--<p>All of our tutoring occurs online, but you can browse Algebra tutors by location here.<br>Browse tutors by gender: Female Algebra tu tors, Male Algebra tutors<br>Algebra textbooks</p>-->
            </div>
            <div class="row">
                <div class="col-xs-1">

                </div>
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-4" id="id_left_sidebar" style="width: 30%; min-width: 200px; float: left;">
                            <div class="header_title">
                                Filter By:
                            </div>
                            <div class="search-panel-left-row">
                                <input type="checkbox" name="filter_ready_to_teach" id="id_checkbox_ready_to_teach" value=""> <label for="id_checkbox_ready_to_teach" class="checkbox-inline">Ready to teach now</label>
                                <input type="checkbox" name="filter_online" id="id_checkbox_online" value=""> <label for="id_checkbox_online" class="checkbox-inline">Online</label>
                            </div>
                            <div class="header_title">
                                Gender:
                            </div>
                            <div class="search-panel-left-row">
                                <input type="radio" selected value="no_pref" id="id_no_pref" checked="checked" name="gender_pref"> <label for="id_no_pref" class="radio-inline">No Preference</label>
                                <input type="radio" value="male" id="id_male" name="gender_pref"> <label for="id_male" class="radio-inline">Male</label>
                                <input type="radio" value="female" id="id_female" name="gender_pref"> <label for="id_female" class="radio-inline">Female</label>
                            </div>
                            <div class="header_title">
                                Subjects:
                            </div>
                            <div class="search-panel-left-row">
                                <input type="text" name="search_subject" id="id_search_subject" placeholder="e.g. Math, Geography, English" {% if subject %}value="{{ subject }}"{% endif %} class="radius3" style="color: black;"> <span></span>
                                <div class="tags language_tag">
                                    {% if subjects %}
                                    {% for subject in subjects %}
                                    <a href="javascript:void(0);">{{ subject }}<span class="cross tag_close"><input type="hidden" name="search_subject-list[]" value="{{ subject }}"></span></a>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="header_title">
                                Countries:
                            </div>
                            <div class="search-panel-left-row">
                                <select name="search_country" class="search_country" id="id_search_country">
                                    <option value="-1">Select Country</option>
                                    {% for id, name in countries %}
                                    <option value="{{ name }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="tags language_tag">

                                </div>
                            </div>
                            <div class="header_title">
                                Budget($$/hour):
                            </div>
                            <div class="search-panel-left-row">
                                <input type="text" name="search_budget" id="id_budget" placeholder="e.g. 50" {% if country %}value="{{ country }}"{% endif %} class="form-control radius3">
                            </div>
                            <div class="header_title">
                                Currencies:
                            </div>
                            <div class="search-panel-left-row">
                                <select name="search_currency" class="search_currency" id="id_search_currency">
                                    {% for value,label in currencies %}
                                        <option value="{{ value }}" {% if currency == value %} selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>
                                <div class="tags language_tag">

                                </div>
                            </div>
                            <div class="header_title">
                                Keywords:
                            </div>
                            <div class="search-panel-left-row">
                                <input type="text" id="id_keywords" placeholder="e.g. John, Computer" class="form-control radius3"><span></span>
                                <input type="hidden" name="page_number" value="1"/>
                            </div>
                        </div>
                        <div class="col-xs-8" style="width: 70%; min-width: 400px; float: left;">
                            <div class="wrapper1" id="id_tutor_search_result_container">
                                <!-- Search results will be placed here. !-->
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1">

                </div>
            </div>
        </div>
    </div>


    <div id="connect">
        <div class="connect_bx">
            <h1 class="lesson_bx_heading">Is there anything else that your tutor should know?</h1>
            <p class="working_tutor">Let us know exactly what you are working on and we will inform the tutors.</p>
            <div class="enter_question">
                <form class="lesson_bx_form">
                    <textarea placeholder="Enter a problem or question (Optional)" class="enter_problem"></textarea>
                    <div class="preferred_communication">
                        <h2>Preferred communication Style</h2>
                        <div> <input type="radio" name="communication" id="text_only"> <label for="text_only">Text Only </label> </div>
                        <div> <input type="radio" name="communication" id="audio"> <label for="audio">Audio</label> </div>
                        <div> <input type="radio" name="communication" id="video "> <label for="video">Video</label> </div>
                    </div>
                    <div><input type="submit" class="find_tutor" value="Find My Tutor"></div>
                </form>
            </div>
        </div>
    </div>

    <div id="how_works">
        <div class="how_works_bx">
            <h1 class="work_heading">ChampionTutor provides the most convenient <br> way for you to connect to a tutor instantly</h1>
            <ul class="how_works_list">
                <li>
                    <div class="how_works_icon"> <img src="images/connect-tutor-icon1.png" width="170" height="150" alt="img"> </div>
                    <h3 class="how_works_heading">Get instant connection
                        with any tutors, 24/7</h3>
                    <p class="how_works_text">After your search, a list of tutors will appear, you can choose to chat with them first before entering into a tutoring session.</p>
                </li>
                <li>
                    <div class="how_works_icon"> <img src="images/connect-tutor-icon2.png" width="161" height="150" alt="img"> </div>
                    <h3 class="how_works_heading">Experience the user-friendly
                        tools in our lesson space</h3>
                    <p class="how_works_text">Our lesson space connects you through different media, such as audio, video and text. Upload your assignment and get ready to learn.</p>
                </li>
                <li>
                    <div class="how_works_icon"> <img src="images/connect-tutor-icon3.png" width="150" height="150" alt="img"> </div>
                    <h3 class="how_works_heading">What's more? You
                        can try it for free</h3>
                    <p class="how_works_text">Can't decide which tutors to choose? Start off with a free 30 minutes trial. Thereafter, fee is as per charge according to tutor's hourly rate.</p>
                </li>
            </ul>
        </div>
    </div>



    </div>

    <div id="id_tutor_meetme_dialog_html" style="display: none;">

    </div>

    <div style="display: none;">
        <div id="id_msg_dialog_html" class="msg-dialog-content">
            <div id="id_msg_sent_status" style="padding: 10px; display: none;"></div>
            <form name="msg-dialog" id="id_msg_dialog_form" method="post" action="/ajax/message/" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table borderless">
                    <tbody>
                    <tr>
                        <td>
                            <h4>Send Message</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="id_msg_reciepients" name="msg_recipient" value="" placeholder="Type recipients name here" class="form-control"/>
                            <input name="hidden_ids" id="id_hidden_ids" type="hidden" value=""/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea placeholder="Write your message..." id="id_msg_text" name="msg_text" class="form-control" rows="8"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="file" name="msg_attachment" style="display: none;"/>
                            <button id="id_btn_send_msg" type="submit" name="submit" class="btn btn-primary pull-right" style="width: 100px;">Send</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <style type="text/css">
        #cboxClose{
            display: none;
        }
    </style>


<div id="id_ajax_rendered_invite_content" style="display: none;"></div>
<div id="black_overlay"></div>
<div id="id_overlay_loading" style="display: none; background: black; opacity: 0.5; position: fixed; width: 100%; height: 100%; left: 0px; right: 0px; top: 0px; bottom: 0px; z-index: 10001;">
    <div style="width: 200px; height: 200px; position: absolute; left: 40%; top: 30%; font-size: 17px; font-weight: bold; color:#fff;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Please wait...</div>
</div>
{% endblock bodycontent %}