{% extends "base.html" %}
{% load staticfiles %}

{% block script_extra %}
<script type="text/javascript" src="{% static "js/chat/messages.js" %}"></script>
<style>
{#a.page-link-active:link{#}
{#    color:  green;#}
{#    font-weight: bold;#}
{#}#}
</style>
{% endblock script_extra %}

{% block body %}
    {% block header %}
        {{ block.super }}
    {% endblock header %}
    {% block bodycontent %}
        <div class="contnt">
        <div class="online_banner" style="height: 320px;">
            <div class="wrapper">
                <div class="bnr_inr">
                    <div class="online_banner_left"> <p>Find Best online Tutors for your subjects</p></div>
                    <div class="want_tutor">
                        <h2>Want a Tutor?</h2>
                        <a href="#" class="connect_btn radius3">Connect with a Tutor</a>
                        <span>And Get Free Hours</span>
                    </div>
                </div>
            </div>
        </div>

        <nav id="navigation">
            <div class="search_box" onClick="return false;"><img src="{% static "images/srch_dwn.png" %}" width="22" height="22" alt="img"> <img src="images/srch_up.png" width="22" height="22" alt="img"></div>
            <div class="ready_to_teach catehide">
                <div class="wrapper">
                    <div class="online">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                        <span style=""><a href="#" class="radius3">Available to teach now</a>
                            <img src="{% static "images/corct_icon.png" %}" width="15" height="15" alt="img"></span>

                        <div class="onoffswitch1">
                            <input type="checkbox" name="onoffswitch1" value="true" class="onoffswitch1-checkbox" id="myonoffswitch1">
                            <label class="onoffswitch1-label" for="myonoffswitch1">
                                <span class="onoffswitch1-inner"></span>
                                <span class="onoffswitch1-switch"></span>
                            </label>
                        </div>

                        <span style=""><a href="#" class="radius3">Online</a> <img src="{% static "images/online.png" %}" width="12" height="12" alt="img"> </span>
                        <div class="gender">Select Gender
                            <input type="radio" name="gender" value="male" {% if gender == None or gender == "male" %}checked {% endif %}> <img src="{% static "images/male_icon.png" %}" width="11" height="22" alt="img">
                            <input type="radio" name="gender" value="female" {% if gender == "female" %}checked {% endif %}> <img src="{% static "images/femail_icon.png" %}" width="12" height="22" alt="img">
                            <input type="radio" name="gender" value="tgender" {% if gender == "tgender" %}checked {% endif %}> <img src="{% static "images/gnder_icon.png" %}" width="30" height="22" alt="img"></div>
                    </div>
                    <form>
                        <input type="text" id="id_search_subject" placeholder="Choose subject" {% if subject %}value="{{ subject }}"{% endif %} class="form-control radius3" style="color: black;"> <span></span>
                        <input type="text" id="id_search_country" placeholder="Choose country" {% if country %}value="{{ country }}"{% endif %} class="form-control radius3" style="color: black;"> <span></span>
                        <input type="text" id="id_search_budget" placeholder="Your Budget" {% if budget %}value="{{ budget }}"{% endif %} class="form-control radius3" style="color: black;"> <span></span>
                        <input type="text" id="id_search_currency" placeholder="Currency preference" {% if currency %}value="{{ currency }}"{% endif %} class="form-control radius3" style="color: black;"> <span></span>
{#                        <select id="id_select_currency">#}
{#                            <option value="usd">USD</option>#}
{#                            <option value="sgd">SGD</option>#}
{#                        </select>#}
                        <div class="outer_search">
                            <div class="search radius3">
                                <input type="text" value="Enter keyword" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
                                <input type="submit" value="">
                            </div>
                            <p>Can't find anything? Search for it!</p>
                        </div>
                    </form>
                </div>
            </div>
        </nav>


        <div class="wrapper">
            <div class="breadcrumb">
                <ul>
                    <li class="radius3_left"><a href="#"><img src="{% static "images/home.png" %}" width="22" height="22" alt="img"></a></li>
                    <li class="radius3_left"><a href="#">Math</a></li>
                    <li class="radius3_left"><a href="#" class="breadcrumb_active">Algebra</a></li>
                </ul>
                <!--<p>All of our tutoring occurs online, but you can browse Algebra tutors by location here.<br>Browse tutors by gender: Female Algebra tu tors, Male Algebra tutors<br>Algebra textbooks</p>-->
            </div>

            <ul class="showing_online_result">
                <span>Showing {{ start_index }} - {{ end_index }} of {{ paginator.count }} results ({{ online_users_count }} online) </span>
                {% for data_item in data_items %}
                    <li>
                        <div class="left_img">
                            <span class="radius3">
                                {% if data_item.thumbnail_url %}
                                    <img src="{{ data_item.thumbnail_url|safe }}" width="145" height="139" alt="img">
                                {% else %}
                                    <img src="{% static "images/img1_online.png" %}" width="145" height="139" alt="img">
                                {% endif %}
                            </span>
                            <ul {% if data_item.profile.rating %}title="Rating {{ data_item.profile.rating|floatformat:"2" }}/5.00" {% else %} title="Rating 0.00/5.00" {% endif %}>
                                {% if not data_item.profile.rating %}
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                {% elif data_item.profile.rating >= 0 and data_item.profile.rating < 0.5 %}
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                {% elif data_item.profile.rating >= 0.5 and data_item.profile.rating < 1.5 %}
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                {% elif data_item.profile.rating >= 1.5 and data_item.profile.rating < 2.5 %}
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                {% elif data_item.profile.rating >= 2.5 and data_item.profile.rating < 3.5 %}
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                {% elif data_item.profile.rating >= 3.5 and data_item.profile.rating < 4.5 %}
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"></li>
                                {% elif data_item.profile.rating >= 4.5 and data_item.profile.rating < 5.5 %}
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                    <li><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="img_right">
                            <div class="img_name"><img src="{% static "images/corct_icon.png" %}" width="15" height="15" alt="img"><a class="user-name" href="/profile/{{ data_item.champ_user.pk }}">{{ data_item.champ_user.fullname }}</a> <span>{{ data_item.majors }}</span> </div>
                            <span class="british">
                                {% if data_item.profile.nationality %}
                                    <img width="23" height="16" alt="img" src="{% static "images/british.png" %}"> {{ data_item.champ_user.nationality }} |
                                {% endif %}
                                {% if data_item.profile_min_rate_currency == data_item.profile_max_rate_currency %}
                                    {{ data_item.profile_min_rate_currency }} {{ data_item.profile_min_rate }} - {{ data_item.profile_max_rate }}
                                {% else %}
                                    {{ data_item.profile_min_rate_currency }}{{ data_item.profile_min_rate }} - {{ data_item.profile_max_rate_currency }}{{ data_item.profile_max_rate }}
                                {% endif %}
                                <em>{{ data_item.champ_user.current_school }}</em> </span>
                            <p>{% if data_item.profile.about %}{{ data_item.profile.about|slice:":300" }}{% endif %}</p>
                        </div>
                        <div class="hover_btn">
                            <input class="userid" type="hidden" value="{{ data_item.pk }}"/>
                            <a href="#" class="tutor-meet-btn"><img src="{% static "images/meet_icon.png" %}" width="15" height="21" alt="img"> Meet now</a>
                            <a href="#id_msg_dialog_html" class="tutor-send-msg-btn"><img src="{% static "images/msg_icon_blue.png" %}" width="16" height="13" alt="img"> Message</a>
                        </div>
                    </li>
                    {% empty %}
                    No results found
                {% endfor %}
            </ul>
            <div class="pgntn">
                <ul>
                    {% for p in page_links %}
                        <li><a class="search-next" data-page-number="{{ p }}" href="/tutor-search/?page={{ p }}" {% if p == current_page %} class="page-link-active" {% endif %}>{{ p }}</a></li>
                    {% endfor %}
{#                {% if num_pages == show_num_pages %}#}
{#                    {% for p in paginator.page_range %}#}
{#                        {%  if p == current_page %}#}
{#                            <li><a href="#" onclick="return false;">{{ p }}</a></li>#}
{#                        {% else %}#}
{#                            <li><a href="/tutor-search/?next={{ p }}">{{ p }}</a></li>#}
{#                        {% endif %}#}
{#                        {% if p == num_pages %}#}
{#                            <li><a href="/tutor-search/?next={{ p }}">{{ p }}</a></li>#}
{#                        {% else %}#}
{#                            <li><a href="/tutor-search/?next={{ p|add:"1" }}">{{ p }}</a></li>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                {% else %}#}
{#                    {% for p in paginator.page_range %}#}
{#                        {%  if p == current_page %}#}
{#                            <li><a href="#" onclick="return false;">{{ p }}</a></li>#}
{#                        {% else %}#}
{#                            <li><a href="/tutor-search/?next={{ p }}">{{ p }}</a></li>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                {% endif %}#}
                </ul>

                {% if has_next_page %}
                    <a class="search-next" data-page-number="{{ current_page|add:"1" }}" href="/tutor-search/?page={{ current_page|add:"1" }}"><img src="{% static "images/next.png" %}" width="23" height="23" alt="img"></a>
                {% endif %}
                {% if has_previous_page %}
                    <a class="search-next" data-page-number="{{ current_page|add:"-1" }}" href="/tutor-search/?page={{ current_page|add:"-1" }}"> <img src="{% static "images/prev.png" %}" width="23" height="23" alt="img"> </a>
                {% endif %}
            </div>
            <div class="crse_rlted">
                <h5>Courses related to Algebra</h5>
                <a href="#">Algebra 1</a>  <a href="#">Algebra 2</a>

                <h5>Topics related to Algebra</h5>

                <ul>
                    <li>Absolute Value Inequalities <br>Adding and Subtracting Polynomials<br>Applications of Linear Systems</li>

                    <li>Absolute-Values-online-tutoring<br>Adding and Subtracting Rational...<br>Applications of the Discriminant</li>

                    <li>Adding and Subtracting Matrices<br>Addition of Real Numbers<br>Box-and-whisker Plots</li>
                </ul>

                <a href="#" class="radius3 show">Show All</a>

            </div>
        </div>
        </div>
    {% endblock bodycontent %}
    {% block footer %}
        <footer>
            <div class="wrapper">
                <div class="ftr_logo"><img src="{% static "images/prfct_tutor_footer.png" %}" width="201" height="40" alt="img"></div>
                <ul class="ftr_lnk">
                    <span class="lnk_hdng">About</span>
                    <li><a href="#">Our Mission</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Our Interns</a></li>
                    <li><a href="#">Our Content Specialists</a></li>
                </ul>
                <ul class="ftr_lnk">
                    <span class="lnk_hdng">Coaching</span>
                    <li><a href="#">Coach Reports</a></li>
                    <li><a href="#">Coach Resources</a></li>
                    <li><a href="#">Case Studies</a></li>
                    <li><a href="#">Common Core</a></li>
                </ul>
                <ul class="ftr_lnk">
                    <span class="lnk_hdng">Careers</span>
                    <li><a href="#">Full Time</a></li>
                    <li><a href="#">Internships</a></li>
                </ul>
                <ul class="ftr_lnk">
                    <span class="lnk_hdng">Help</span>
                    <li><a href="#">Report a Problem</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <div class="socl_link">
                    <ul class="social_icon">
                        <span class="lnk_hdng">Social</span>
                        <li><a href="#"><img src="{% static "images/fb.png" %}" width="9" height="17" alt="icon"></a></li>
                        <li><a href="#"><img src="{% static "images/twtr.png" %}" width="20" height="16" alt="icon"></a></li>
                        <li><a href="#"><img src="{% static "images/gogle.png" %}" width="17" height="17" alt="icon"></a></li>
                        <li><a href="#"><img src="{% static "images/blogster.png" %}" width="16" height="16" alt="icon"></a></li>
                    </ul>
                    <ul class="ftr_lnk">
                        <span class="lnk_hdng">Countact us</span>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    {% endblock footer %}
    {% block footernote %}
        <div class="lwr_ftr">
            <div class="wrapper">
                <ul class="prvt_plcy">
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="ftr_txt"> © championtutoronline <br>Except where noted, all rights reserved.</p>

            </div>
        </div>
    {% endblock footernote %}
{% endblock body %}
{% block more_extra %}
    <div id="id_tutor_meetme_dialog_html" style="display: none;">
        shaghdasdgjg
    </div>

    <div style="display: none;">
        <div id="id_msg_dialog_html" class="msg-dialog-content">
            <div id="id_msg_sent_status" style="padding: 10px; display: none;"></div>
            <form name="msg-dialog" id="id_msg_dialog_form" method="post" action="/ajax/message/" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table borderless">
                <tbody>
                <tr>
                    <td>
                        <h4>Send Message</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="id_msg_reciepients" name="msg_recipient" value="" placeholder="Type recipients name here" class="form-control"/>
                        <input name="hidden_ids" id="id_hidden_ids" type="hidden" value=""/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea placeholder="Write your message..." id="id_msg_text" name="msg_text" class="form-control"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="file" name="msg_attachment"/>
                        <button id="id_btn_send_msg" type="submit" name="submit" class="btn btn-primary pull-right" style="width: 100px;">Send</button>
                    </td>
                </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>

    <script>
        function updateURLParameter(url, param, paramVal)
        {
            var TheAnchor = null;
            var newAdditionalURL = "";
            var tempArray = url.split("?");
            var baseURL = tempArray[0];
            var additionalURL = tempArray[1];
            var temp = "";

            if (additionalURL)
            {
                var tmpAnchor = additionalURL.split("#");
                var TheParams = tmpAnchor[0];
                TheAnchor = tmpAnchor[1];
                if(TheAnchor)
                    additionalURL = TheParams;

                tempArray = additionalURL.split("&");

                for (i=0; i<tempArray.length; i++)
                {
                    if(tempArray[i].split('=')[0] != param)
                    {
                        newAdditionalURL += temp + tempArray[i];
                        temp = "&";
                    }
                }
            }
            else
            {
                var tmpAnchor = baseURL.split("#");
                var TheParams = tmpAnchor[0];
                TheAnchor  = tmpAnchor[1];

                if(TheParams)
                    baseURL = TheParams;
            }

            if(TheAnchor)
                paramVal += "#" + TheAnchor;

            var rows_txt = temp + "" + param + "=" + paramVal;
            return baseURL + "?" + newAdditionalURL + rows_txt;
        }
        $(document).ready(function()
        {
            $(".tutor-meet-btn").click(function(e){
                var html = $("#id_tutor_meetme_dialog_html").html();
                show_colorbox_dialog(html,{height: 400});
            });

{#            $(".tutor-send-msg-btn").click(function(e){#}
{#                e.preventDefault();#}
{#                var recipient_id = $(this).parent().find(".userid").val();#}
{#                var html = $("#id_msg_dialog_html").html();#}
{#                $(html).find(".hidden_ids").val(recipient_id);#}
{#                //show_colorbox_dialog(html,{height: 500});#}
{#                #}
{##}
{#                $.colorbox.element().find("#id_btn_send_msg").click(function(e){#}
{#                    e.preventDefault();#}
{#                    var recipients = $("#id_msg_reciepients").val();#}
{#                    alert(recipients);#}
{#                    return false;#}
{#                });#}
{##}
{#            });#}

            var recipient_tagit = null;

            $(".tutor-send-msg-btn").click(function(e){
                var this_element = $(this);
                $("#id_msg_sent_status").hide();
                $("#id_msg_dialog_form").show();

                $.colorbox.remove();
                $(this).colorbox({
                    width: "700px",
                    height: "500px",
                    inline:true,
                    opacity: 0.1,
                    scrolling: false,
                    photo: true,
                    escKey: false,
                    fixed: true,
                    onOpen: function(){
                        $("#id_msg_reciepients").prop("disabled",true);
                        var uid = this_element.parent().find(".userid").val();
                        $("#id_msg_text").val("");
                        $("#id_hidden_ids").val(uid);
                        $("#id_msg_reciepients").val($(this).parent().parent().find(".user-name").text());
                    },
                    onClosed: function(){
                        $("#id_msg_reciepients").prop("disabled",false);
                    }
                });
            });

            $(document).on("click","#id_btn_send_msg",function(e){
                e.preventDefault();
                var form_data = $("#id_msg_dialog_form").serialize();

{#                var form_data = {#}
{#                    "msg_text": $("#id_msg_text").val(),#}
{#                    "msg_attachment": $("input[name=msg_attachment]").val(),#}
{#                    "hidden_ids": $("#id_hidden_ids").val()#}
{#                };#}

                console.log(form_data);
                console.log($("input[name=msg_attachment]").val());

                _ajax_call("POST","/ajax/message/",form_data,function(data){
                            $("#id_msg_sent_status").html("<p style='font-size: 18px;'>Message sent successfully.</p>").show();
                            $("#id_msg_dialog_form").hide();
                            $.colorbox.resize({
                                "height":"200px"
                            });
                },
                function(jqxhr, status, error){

                },
                function(msg){

                });

                return false;
            });

        });

        $("#id_msg_reciepients").keyup(function(e){
            //alery(e.keyCode);
        });



        {% if avail == True %}
            $("#myonoffswitch").click();
        {% else %}
            $("#myonoffswitch").val("false");
        {% endif %}

        $("#myonoffswitch").change(function(){
            if($(this).val() == "false"){
                $(this).val("true")
            }
            else{
                $(this).val("false")
            }
            //alert($(this).val());
            var newURL = updateURLParameter(window.location.href, 'filter-avail', $(this).val());
            location.href = newURL;
        });

        //alert("{{ online }}");

        {% if online == False %}
            $("#myonoffswitch1").click();
            $("#myonoffswitch1").val("false");
        {% else %}
            $("#myonoffswitch1").val("true");
        {% endif %}

        $("#myonoffswitch1").change(function(){
            if($(this).val() == "true"){
                $(this).val("false");
            }
            else{
                $(this).val("true");
            }
            //alert($(this).val());
            var newURL = updateURLParameter(window.location.href, 'filter-online', $(this).val());
            location.href = newURL;
        });

    $("input[type=radio][name=gender]").change(function(){
        var newURL = updateURLParameter(window.location.href, 'filter-gender', $(this).val());
        location.href = newURL;
    });

    //$("#id_select_currency").select2();

    $("#id_search_subject").keyup(function(e){
        if(e.keyCode == 13){
            var newURL = updateURLParameter(window.location.href, 'filter-subject', $(this).val());
            location.href = newURL;
        }
    });

    $("#id_search_country").keyup(function(e){
        if(e.keyCode == 13){
            var newURL = updateURLParameter(window.location.href, 'filter-country', $(this).val());
            location.href = newURL;
        }
    });

    $("#id_search_budget").keyup(function(e){
        if(e.keyCode == 13){
            var newURL = updateURLParameter(window.location.href, 'filter-budget', $(this).val());
            location.href = newURL;
        }
    });

    $("#id_search_currency").keyup(function(e){
        if(e.keyCode == 13){
            var newURL = updateURLParameter(window.location.href, 'filter-currency', $(this).val());
            location.href = newURL;
        }
    });

    $(".search-next").click(function(e){
        e.preventDefault();
        var newURL = updateURLParameter(window.location.href, 'page', $(this).data("pageNumber"));
        location.href = newURL;
    });

    </script>

{% endblock more_extra %}