{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% block script_head_extra %}
    <link rel="stylesheet" type="text/css" href="{% static "css/lib/multiple-select.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/tutor_search.css" %}"/>
    <script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chat/messages.js" %}"></script>
    <link href="{% static "css/colorbox.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.colorbox-min.js" %}"></script>
    <script src="{% static "js/select2.min.js" %}"></script>
    <script src="{% static "js/fuzzy-dropdown.standalone.js" %}"></script>
    <script src="{% static "js/lib/multiple-select.js" %}"></script>
    <script src="{% static "js/search.js" %}"></script>
    <script src="{% static "js/job_invite.js" %}"></script>
    <script type="text/javascript" src="{% static "js/theia-sticky-sidebar.js" %}"></script>

    <style>
        .ready_to_teach form > span.select2-container {
            background: none;
        }
        .ready_to_teach form > span.select2-selection {
        }
        .header_title {
            font-weight: bold;
            margin-top: 13px;
            width: 100%;
            float: left;
        }
        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            background: white;
        }
            /* IE 6 doesn't support max-height
             * we use height instead, but this forces the menu to always be this tall
             */
        * html .ui-autocomplete {
            height: 100px;
        }
        .search-panel-left-row {
            margin-top: 20px;
            padding: 15px 15px 15px 0px;
        }
        .search-panel-left-row input[type="text"] {
            width: 95%;
            padding: 7px;
            border: 1px solid #e7e4e4;
            background-color: #fff;
        }
        .search-panel-left-row select {
            width: 100%;
            padding: 7px;
            border: 1px solid #e7e4e4;
            background-color: #fff;
        }
        .select2-selection__placeholder {
            font-weight: normal;
            color: black;
        }
        .tags {
            width: 100%;
            float: left;
            text-align: left;
        }
        .language_tag {
            padding-left: 0px !important;
        }
        .ui-widget-content {
            background-color: white;
            border: 1px solid gray;
        }
        .ui-state-focus {
            background-color: #dfdfdf;
            color: black;
        }
        .ms-choice {
            height: 33px !important;
            border: 1px solid #E8DEDE;
        }
        .ms-drop {
            z-index: 4;
            overflow-x: hidden;
        }
        .select_acadmic {
            border: none !important;
        }
        .ms-choice > span {
            top: 4px;
        }
        .ms-drop ul {
            overflow-x: hidden;
        }
        .ms-choice > div {
            top: 4px;
            height: 33px;
        }
    </style>

    <script>
        (function(window,undefined){
            /*var stateObj = { foo: "bar" };
            if(history.pushState) {
                history.pushState(stateObj, "page 2", "?p=bar.html");
                history.pushState({ lol: "Meu!" }, "page 3", "?q=bar.html");
            }*/
        })(window);
    </script>
{% endblock script_head_extra %}
{% block bodycontent %}



<div class="contnt">
    <div class="algebra_outer">
		<div class="wrapper">
			<div class="algebra_banner">
				<div class="algebra_inner">
				<h3 class="algebra_heading">Tutors {% if top_keyword %} for {{ top_keyword|truncatechars:31 }}{% endif %}</h3>
				{% if not request.user.champuser.is_tutor %}<a href="#" class="connect_btn radius3">Need a Tutor Now</a>{% endif %}
				</div>
			</div>
		</div>
	</div>
    <div class="wrapper">
    	<div class="breadcrumb">
        	<!-- Breadcumb content here !-->
        </div>
        <div class="online_tutor_outer">
		<div class="online_tutor_left">
			<div class="ready_to_teach catehide">
        		<div class="online">
					<label class="online_filter">Filter By</label>
            	    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" {% if ready_to_teach == "1" %}checked{% endif %} id="id_filter_ready_to_teach">
                        <label class="onoffswitch-label" for="id_filter_ready_to_teach">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
                        </label>
                    </div>
				 <span><a href="#" class="tooltip radius3">Teach Now <span> Tutors with this status means they are available to teach online via our tutoring space in the form of video/audio/text chat. </span></a> <img src="{% static "images/corct_icon.png" %}" width="15" height="15" alt="img"></span>

				 <br><br>

                 <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" {% if online == "1" %}checked{% endif %} id="id_filter_ready_to_teach_online">
                        <label class="onoffswitch-label" for="id_filter_ready_to_teach_online">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                        </label>
                 </div>

                 <span><a href="#" class="tooltip radius3">Online <span>Tutor with this status means they are online, but not necessary they are available to teach now. However you can still send them a message for a written lesson.</span></a> <img src="{% static "images/online.png" %}" width="12" height="12" alt="img"> </span>



                 <div class="gender">
					<label class="online_filter">Select Gender</label>
					<div class="widthfull"><input type="radio" name="gender" value="male" {% if gender == "male" %}checked{% endif %}> <img src="{% static "images/male_icon.png" %}" width="11" height="22" alt="img"></div>
					<div class="widthfull"><input type="radio" value="female" name="gender" {% if gender == "female" %}checked{% endif %}> <img src="{% static "images/femail_icon.png" %}" width="12" height="22" alt="img"></div>
					<div class="widthfull"><input type="radio" value="no_pref" name="gender" {% if gender == "no_pref" %}checked{% endif %}> <img src="{% static "images/gnder_icon.png" %}" width="30" height="22" alt="img"></div>
				 </div>
              </div>
				<div class="select_acadmic radius5">
					<select id="id_level_select" style="width: 250px;" data-placeholder="Select Level" name="level" class="loct multi-loct" multiple="multiple">
                    	{% for level in academic_levels %}
                    	<option value="{{ level.name }}" {% if academic_level and academic_level == level.name %}selected{% endif %}>{{ level.name }}</option>
                    	{% endfor %}
                    </select>
                </div>
				<div class="select_acadmic radius5" id="id_subjects_container">
					<select id="id_subject_select" style="width: 250px;" name="subject" class="loct multi-loct" multiple="multiple">
                    	{% for s in subjects %}
                        <option value="{{ s.name }}" {% if subject == s.name %}selected{% endif %}>{{ s.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="select_acadmic radius5">
					<select id="id_country_select" style="width: 250px;" data-placeholder="Select Nationality" multiple="multiple" name="nationalities" class="loct multi-loct">
                    	{% for id, name in countries %}
                    	<option value="{{ name }}" {% if country and country == name %}selected{% endif %}>{{ name }}</option>
                    	{% endfor %}
                    </select>
                </div>
				<form class="online_find">
					<div class="select_acadmic radius5" style="border: 1px solid #d2d4d6 !important;">
						<input id="id_keywords" name="keyword" type="text" {% if keyword %}value="{{ keyword }}"{% endif %} placeholder="Can’t Find anything. Search for...">
						<input type="submit" value="">
					</div>
				</form>

				<div class="online_budget_more">
                    <div class="online_budget">
                        <label class="online_filter">Budget</label>
                        <div class="online_budget_detail">
                            <div>
                                <input id="sgd1" value="sgd1" type="checkbox" {% if sgd1 %}checked{% endif %}>
                                <label for="sgd1">Up to SGD $ 20/hr</label>
                            </div>
                            <div>
                                <input id="sgd2" value="sgd2" type="checkbox" {% if sgd2 %}checked{% endif %}>
                                <label for="sgd2">SGD $ 20/hr - SGD $ 40/hr</label>
                            </div>
                            <div>
                                <input id="sgd3" value="sgd3" type="checkbox" {% if sgd3 %}checked{% endif %}>
                                <label for="sgd3">SGD $ 41/hr - SGD $ 60/hr</label>
                            </div>
                            <div>
                                <input id="sgd4" value="sgd4" type="checkbox" {% if sgd4 %}checked{% endif %}>
                                <label for="sgd4">SGD $ 61/hr or more/hr</label>
                            </div>
                        </div>
                        <div class="online_budget_detail">
                            <div>
                                <input id="id_tutor_video_intro" type="checkbox" {% if video_intro %}checked{% endif %}>
                                <label for="id_tutor_video_intro">Show Tutor with Video Intro <span>Find tutors who have recorded a short introduction of themselves</span> </label>
                            </div>
                        </div>
                    </div>
                    </div>
	        </div>
		</div>
		<div class="online_tutor_right">
            <input type="hidden" name="page_number" {% if page %}value="{{ page }}"{% else %}value="1"{% endif %}/>
            <ul id="id_tutor_search_result_container">
                <li>
                    <h3>Loading...</h3>
                </li>
            </ul>
        </div>
    </div>
    <div class="pgntn" id="id_pagination_links">
        <!-- Pagination links go here. !-->
    </div>
    <div class="breadcrumb breadcrumb_border">
        <!-- Breadcumb content here. !-->
    </div>
    <div class="hurry_tutor_find">
        <div class="hurry_tutor_find_inner">
        <h1 class="tutor_find_heading">In a hurry to find a tutor?</h1>
        <a href="#" class="tutor_find_link">Let us help!</a>
        </div>
    </div>
</div>

<div id="id_ajax_rendered_invite_content" style="display: none;"></div>
<div id="black_overlay"></div>
<div id="id_overlay_loading" style="display: none; background: black; opacity: 0.5; position: fixed; width: 100%; height: 100%; left: 0px; right: 0px; top: 0px; bottom: 0px; z-index: 10001;">
    <div style="width: 200px; height: 200px; position: absolute; left: 40%; top: 30%; font-size: 17px; font-weight: bold; color:#fff;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Please wait...</div>
</div>


<script>
var winWidth = $(window).width();
if(winWidth > 800) {
			$(document).ready(function() {
				$('.online_tutor_outer,.online_tutor_right,.online_tutor_left')
					.theiaStickySidebar({
						additionalMarginTop: 70
					});

			});
}
		</script>



<script type="text/javascript" src="{% static "js/jquery.selectbox-0.1.3.min.js" %}" ></script>
<script type="text/javascript">
    $(document).ready(function() {

        var init_levels = [];
        var init_subjects = [];
        var init_countries = [];
        {% for l in initial_levels %}
        init_levels.push("{{ l }}");
        {% endfor %}
        {% for s in initial_subjects %}
        init_subjects.push("{{ s }}");
        {% endfor %}
        {% for c in initial_countries %}
        init_countries.push("{{ c }}");
        {% endfor %}
        window.initial_subjects_found = false;
        {% if initial_subjects %}
        window.initial_subjects_found = true;
        {% endif %}

        function initialize_subjects() {
            $("#id_subject_select").prop("disabled", true);
                var value = $("#id_level_select").val();
                _do_search();
                if(window.initial_subjects_found) {
                    if(!window.initial_search_call_finished) {
                       return;
                    }
                }
                var pselected_values = $("#id_subject_select").multipleSelect('getSelects');
                $.ajax({
                    url: "/ajax/fetch-subjects/",
                    data: {
                        level_name: value
                    },
                    success: function(data) {
                        var data = jQuery.parseJSON(data);
                        if(data.status == "SUCCESS"){
                            $("#id_subject_select").remove();
                            options = "";
                            for(var i = 0; i < data.data.subjects.length; i++) {
                                options += "<option value=\""+ data.data.subjects[i].name +"\">"+ data.data.subjects[i].name +"</option>";
                            }
                            $("#id_subjects_container").html("");
                            $("<select id=\"id_subject_select\" style=\"width: 250px;\" data-placeholder=\"Select Subjects\" name=\"subject\" multiple=\"multiple\">"+ options +"</select>").appendTo($("#id_subjects_container"));
                            $("#id_subject_select").multipleSelect();
                            first_loaded = true;
                            $("#id_subject_select").multipleSelect("setSelects", pselected_values);
                            $("#id_subject_select").change(function(e) {
                                _do_search();
                            });
                        }
                    }
                });
        }

        $("#id_level_select").multipleSelect({
            onOpen: function() {

            },
            onClose: function() {

            },
            onCheckAll: function() {
                initialize_subjects();
                _do_search();
            },
            onUncheckAll: function() {
                initialize_subjects();
                _do_search();
            },
            onFocus: function() {

            },
            onBlur: function() {

            },
            onOptgroupClick: function(view) {

            },
            onClick: function(view) {
                initialize_subjects();
            }
        });
        $("#id_level_select").multipleSelect("setSelects", init_levels);
        $("#id_subject_select").multipleSelect({
            onOpen: function() {

            },
            onClose: function() {

            },
            onCheckAll: function() {
                _do_search();
            },
            onUncheckAll: function() {
                _do_search();
            },
            onFocus: function() {

            },
            onBlur: function() {

            },
            onOptgroupClick: function(view) {

            },
            onClick: function(view) {
                _do_search();
            }
        });
        $("#id_subject_select").multipleSelect("setSelects", init_subjects);
        $("#id_country_select").multipleSelect({
            onOpen: function() {

            },
            onClose: function() {

            },
            onCheckAll: function() {
                _do_search();
            },
            onUncheckAll: function() {
                _do_search();
            },
            onFocus: function() {

            },
            onBlur: function() {

            },
            onOptgroupClick: function(view) {

            },
            onClick: function(view) {
                _do_search();
            }
        });
        $("#id_country_select").multipleSelect("setSelects", init_countries);

        //$(".multi-loct").multipleSelect();
        //$("#id_search_country").selectbox();
    var len = $(".loct").parent();
    $(len).click(function(e){
   e.stopPropagation();
   $(".sbOptions",this).show();
    $("body").click(function(e){
     if(e.target.id != "loct")
     {
     $(".sbOptions",this).hide();
     $("body").unbind("click");
     }
    });
    });
    });
    $(function () {

});
</script>

<script>
$('ul.sign_up_tab > li > label').click(function() {
	$('ul.sign_up_tab > li').eq($(this).parent('li').index()).addClass('current').siblings().removeClass('current');
	 tabsss($(this).parent('li').index());
});
function tabsss(val)
{
	$(".tab").hide();
	if(val>0)
	{
		document.getElementsByClassName('tab')[val].style.display="block";
	}
	else
	{
		document.getElementsByClassName('tab')[0].style.display="block";
	}
}
</script>

<script language="javascript">
var black_overlay = $('#black_overlay');
var sign_up = $('#sign_up');
var sign_in = $('#sign_in');

black_overlay.click(function(){black_overlay.hide(); sign_up.hide();});
black_overlay.click(function(){black_overlay.hide(); sign_in.hide();});

$( document ).on( 'keydown', function ( e ) {
    if ( e.keyCode === 27 ) { // ESC
        $( black_overlay ).hide();
		$( sign_up ).hide();
		$( sign_in ).hide();
    }
});

//window.onload(function(){marscrl.stop()})

function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
}

function show_signup()
{document.getElementById('black_overlay').style.display="block";
document.getElementById('sign_up').style.display="block";}

function show_signin()
{document.getElementById('black_overlay').style.display="block";
document.getElementById('sign_in').style.display="block";}
</script>

<script language="javascript">
var black_overlay = $('#black_overlay');
var connect = $('#connect');
var how_works = $('#how_works');

black_overlay.click(function(){black_overlay.hide(); connect.hide();});
black_overlay.click(function(){black_overlay.hide(); how_works.hide();});


$( document ).on( 'keydown', function ( e ) {
    if ( e.keyCode === 27 ) { // ESC
        $( black_overlay ).hide();
		$( connect ).hide();
		$( how_works ).hide();
    }
});

//window.onload(function(){marscrl.stop()})

function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
}

$(document).ready(function() {
   $(".connect_btn").click(function(e) {
        e.preventDefault();
        if(window.champ_user_id == -1) {
            show_signin();
        }
        else {
            {% if request.user.is_authenticated %}
            location.href = "{% url "user_profile" request.user.pk %}?tab=job-post";
            {% endif %}
        }
    });
});

</script>

<script src="{% static "js/jquery.bxslider.min.js" %}" ></script>
<script language="javascript">

$(function(){
  $('#slide_show').bxSlider({
    auto: true,
	pager: false,
	controls :false,
	touchEnabled:true,
	startSlide:3,
	pause:7000
	});
});
</script>

<script language="javascript">
//svgeezy.init(false, 'png');
</script>

{% endblock bodycontent %}