{% extends "master.html" %}
{% load staticfiles %}

{% block script_head_extra %}

{% endblock script_head_extra %}

{% block bodycontent %}
<div class="main">

    <div class="contnt">
        <div style="width: 600px; min-height: 400px; margin-left: auto; margin-right: auto;">
            <h3><img src="{% static "images/privacy.png" %}" width="40" height="40"/> You don't have access on this page.</h3>
        </div>
    </div>

</div>


{% endblock bodycontent %}