{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load whiteboardfilter %}

{% block script_head_extra %}
<!--[if (gte IE 6)&(lte IE 8)]>

    <script type="text/javascript" src="js/mootools-core-1.4.2-full-compat.js"></script>

    <![endif]-->

    <!--[if (gte IE 6)&(lte IE 8)]>

    <script type="text/javascript" src="js/selectivizr.js"></script>

    <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>

    <![endif]-->

    <link href="{% static "css/bootstrap_tour_v_0.10.2/bootstrap-tour-standalone.min.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <link href="{% static "css/whiteboard.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{%  static "js/bootstrap.min.js" %}"></script>
    <script src="http://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="http://static.opentok.com/webrtc/v2.2/js/TB.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/etherpad.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/opentok-layout.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/chat/buddy_click_handlers.js" %}"></script>
    <script src="{% static "js/CanvasInput.js" %}"></script>

    <script src="{% static "js/drawingboard/paper-full.min-v0.9.24.js" %}"></script>
    <script src="{% static "js/drawingboard/library.js" %}"></script>
    <script src="{% static "js/drawingboard/paperboard.js" %}"></script>
    <script src="{% static "js/drawingboard/drawinglib.js" %}"></script>
    <script src="{% static "js/drawingboard/ToolEventHandlers.js" %}"></script>
    <script src="{% static "js/drawingboard/tools.js" %}"></script>
    <script src="{% static "js/drawingboard/StreamEventHandlers.js" %}"></script>
    <script src="{% static "js/drawingboard/PaperboardStream.js" %}"></script>
    <script src="{% static "js/drawingboard/DOMEventHandler.js" %}"></script>

    <script src="{% static "js/chat/whiteboard_video_chat.js" %}"></script>

    <script src="{% static "js/chat/whiteboard_tutor_chat.js" %}"></script>
    <script src="{% static "js/drawingboard/settings.js" %}"></script>

    <script src="{% static "js/bootstrap_tour_v_0.10.2/bootstrap-tour-standalone.min.js" %}"></script>
    <script src="{% static "js/whiteboard_tour.js" %}"></script>
    <script src="{% static "js/lib/jquery.plugin.min.js" %}"></script>
    <script src="{% static "js/lib/jquery.timer.min.js" %}"></script>

    <script>

        window.all_components_loaded = false;

        $(document).ready(function()
        {
            $(".tabbings").hide();

            $("#incoming_call_notification_area").css("cursor","move");
            $("#incoming_call_notification_area").draggable();

            $("#sticky_note_content").draggable();

            $("#id_video_sharing_container").css("cursor","move");

            $("#outgoing_call_notification_area").css("cursor","move");
            $("#outgoing_call_notification_area").draggable();

            $("#id_add_buddy_to_call_group").click(function(e)
            {
                $("#id_add_buddy_group_call").show();
            });

            $("#id_video_section").click(function(e)
            {
                $("#id_add_buddy_group_call").hide();
            });

            $(".sharing").click(function(e){
                $(".sharing_video").show();
            });

            {% if lesson_status == "LIVE" or lesson_status == "SCHEDULED" %}
            window.live_lesson = {{ live_lesson.pk }};
            {% endif %}

        });
    </script>
    <style>
    /* Tooltip */
    .tooltip > .tooltip-inner {
        background-color: #73AD21;
        color: #FFFFFF;
        border: 1px solid green;
        padding: 15px;
        font-size: 20px;
        z-index: 10000001;
    }

    /* Tooltip on top */
    .tooltip.top > .tooltip-arrow {
        border-top: 5px solid green;
        z-index: 10000001;
    }

    /* Tooltip on bottom */
    .tooltip.bottom > .tooltip-arrow {
        border-bottom: 5px solid blue;
        z-index: 10000001;
    }

    /* Tooltip on left */
    .tooltip.left > .tooltip-arrow {
        border-left: 5px solid red;
    }

    /* Tooltip on right */
    .test + .tooltip.right > .tooltip-arrow {
        border-right: 5px solid black;
    }
    .popover-title {
        background-color: #8e68c0;
        color: white !important;
    }
    .popover {
        background-color: #FFFFFF;
        padding: 0px !important;
        width: 500px !important;
        max-width: 500px !important;
    }

    body {
            overflow-x: hidden !important;
        }

</style>
{% endblock script_head_extra %}

{% block bodycontent %}
        <div class="header_bottom">
            {% if demo == True %}
            <div class="wrapper" id="id_demo_lesson_progress" style="display: none;">
                <div class="demo_lesson_progress radius3_top">
                    <div class="demo_progress_img"><img src="{% static "images/wb_img1.png" %}" width="38" height="38" alt="img"></div>
                    Demo lesson <span>in progress</span>
                </div>
                <!--<a href="#" class="free_trial radius3"> Claim your free trial </a>-->
            </div>
            {% else %}
                {% if lesson_status == "LIVE" or lesson_status == "SCHEDULED" %}
                    {% if lesson_status == "SCHEDULED" %}
                        {% if not request.user.champuser.is_tutor %}
                            {% if payment_status == False %}
                            {% include "sections/whiteboard_top_status_payment_failed.html" %}
                            {% else %}
                            {% include "sections/whiteboard_top_status.html" %}
                            {% endif %}
                        {% else %}
                            {% include "sections/whiteboard_top_status.html" %}
                        {% endif %}
                    {% else %}
                        {% include "sections/whiteboard_top_status.html" %}
                    {% endif %}
                {% else %}
                    {% include "sections/whiteboard_top_status_archived.html" %}
                {% endif %}
            {% endif %}
        </div>
        <!--<div id="incoming_call_notification_area">-->
            <!-- -->
        <!--</div>-->
        <!--<div id="outgoing_call_notification_area">-->
                <!-- -->
        <!--</div>-->
        <div id="id_loading_whiteboard">
            <h3>
                <div class="label label-info" style="border: 1px solid white; padding: 13px;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading whiteboard...</div>
            </h3>
        </div>



        <div class="tabbings" style="display: none;">
        <div id="tabs">
            <div id="tabs-1">
                {% include "ajax/code_editor.html" with code_pads=code_pads %}
            </div>
            <div id="tabs-2">
                <!-- Data for Text Editor. !-->
                {% include "ajax/text_editor.html" with text_pads=text_pads%}
            </div>
            <div id="tabs-3">
                <!-- Data for whiteboard. !-->
            </div>
            
            <div class="show_menu_icon">
                <img src="{% static "images/show_menu_icon.png" %}" width="22" height="22" alt="img">
                    Show
            </div>
                <ul>

                    {% if lesson_status == "LIVE" or lesson_status == "SCHEDULED" %}
                        {% if lesson_status == "SCHEDULED" %}
                            {% if not request.user.champuser.is_tutor %}
                                {% if payment_status == True %}
                                    {% include "sections/whiteboard_video_chat.html" %}
                                {% endif %}
                            {% else %}
                                    {% include "sections/whiteboard_video_chat.html" %}
                            {% endif %}
                        {% else %}
                            {% include "sections/whiteboard_video_chat.html" %}
                        {% endif %}
                    {% endif %}




                    {% include "sections/whiteboard_tutor_chat.html" %}
                    {% include "sections/whiteboard_bottom_control.html" %}
                    <div class="hide_menu"><img src="{% static "images/hide_menu_icon.png" %}" width="22" height="22" alt="img"> Hide </div>

                    <div class="tutor radius3 wb_tutor"><img src="{% static "images/wb_online.png" %}" width="14" height="14" alt="img"><span id="id_wb_chat_" >Tutor</span></div>

                    <li><a id="id_tab_code_editor" href="#tabs-1">Code Editor</a></li>
                    <li><a id="id_tab_text_editor" href="#tabs-2">Text Editor</a></li>
                    <li><a id="id_tab_white_board" href="#tabs-3">Whiteboard</a></li>


                </ul>
            </div>
        </div>

            <div id="id_hidden_code_pad_info" style="display: none;">

            </div>
            <div id="id_hidden_text_pad_info" style="display: none;">

            </div>

            <div id="loading_container" style="width:100px;min-height: 700px;display:none;">
                <p style="font-weight: bold;font-size: 30px">Loading...</p>
            </div>

    <script>
        $(document).ready(function()
        {
            $(window).resize(function()
            {
                $('#loading_container').css({
                            position: 'absolute'
                        });

                $('#loading_container').css({
                            left: ($(window).width() - $('#loading_container').outerWidth()) / 2,
                            top: ($(window).height() - $('#loading_container').outerHeight()) / 2
                        });
            });

            // call `resize` to center elements
            $(window).resize();

            $("#tabs-1").css("width",window.innerWidth+"px");
            $("#tabs-2").css("width",window.innerWidth+"px");

        });
    </script>

    <script>

        $(".show_menu_icon").click(function () {
            $("ul.ui-tabs-nav").show();
            $(".show_menu_icon").hide();
        });
        $(".hide_menu").click(function () {
            $("ul.ui-tabs-nav").hide();
            $(".show_menu_icon").show();
        });

        $(document).ready(function()
        {
            $("ul.ui-tabs-nav").show();
            $(".show_menu_icon").hide();

            $("#id_hide_video_window").click(function(e)
            {
                console.log("Hide button clicked!");
                $("#id_video_sharing_container").hide();
            });

            //$("#id_video_sharing_container").draggable().resizable();

            $(".onoffswitch4").click(function()
            {
                //alert($(this).val());
            });

        });

    </script>
    <script>
        $(".tutor").click(function () {
            $(".wb-chat").show();
        });
        $("a#hide").click(function () {
            $(".wb-chat").hide();
        });
    </script>
    <link href="{% static "css/jquery-ui-1.10.4.custom.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-ui-1.10.4.custom.js" %}"></script>
    <script>
        $( "#tabs" ).tabs(
            {
                active: 2
            });

        function load_js_async(url)
        {
            $.ajax({
                url: url,
                dataType: 'script',
                cache: true,
                success: function(data)
                {
                    console.log("script loaded successfully.");
                    console.log("script: "+url);
                },
                error: function(jqxhr, status, error)
                {

                }
            });
        }

        var code_editor_loaded = false;
        var text_editor_loaded = false;
        var drawing_board_loaded = false;
        var js_script_loaded = false;
        function load_whiteboard_scripts_async()
        {
            if(!js_script_loaded)
            {
                js_script_loaded = true;
            }
        };

        window.code_tabs_list = {};

        $("#id_tab_code_editor").click(function(e){
           if(!code_editor_loaded)
            {
                $('#ctt').tabs({
                    width: window.innerWidth,
                    height: 1600,
                    onSelect: function(title,index){
                        //console.log("Tab Selected..."+index);
                        var pad_id = $("#id_hidden_codepad_id_"+title).val();
                        var pad_language = $("#id_hidden_codepad_lan_"+title).val();
                        var tab_element_id = $("#id_hidden_codepad_tab_id_"+title).val();
                        if(!window.code_tabs_list[tab_element_id]){
                            //console.log("Codepad: "+pad_id+" is loading...");
                            AddNewCodePad(tab_element_id,pad_id,pad_language,pad_id);
                            window.code_tabs_list[tab_element_id] = true;
                        }
                        else{
                            console.log("Codepad is already loaded...");
                        }
                        var language = $("#id_hidden_codepad_lan_"+title).val();
                        if(typeof language != "undefined") {
                            $("#id_codepad_language_changer").val(language);
                        }
                    },
                    onBeforeClose: function(title){
                        return confirm('Are you sure you want to close ' + title);
                    }
                });
                {% for code_pad in whiteboard.code_pads.all %}

                    $('#ctt').tabs('add',{
                        title:"{{ code_pad.pad_nid }}",
                        id: "id_codepad_tab_{{ code_pad.pad_nid }}",
                        content:'',
                        {% if forloop.first %}
                            closable:false
                        {% else %}
                            closable: false
                        {% endif %}
                    });

                    var hidden_info = '<input type="hidden" id="id_hidden_codepad_id_{{ code_pad.pad_nid }}" value="{{ code_pad.pad_id }}"/>'+'<input type="hidden" id="id_hidden_codepad_lan_{{ code_pad.pad_nid }}" value="{{ code_pad.pad_language }}">';
                    hidden_info += '<input type="hidden" id="id_hidden_codepad_tab_id_{{ code_pad.pad_nid }}" value="{{ code_pad.pad_nid }}"/>';
                    $("#id_hidden_code_pad_info").append(hidden_info);
                    window.code_tabs_list["{{ code_pad.pad_nid }}"] = false;

                    {% if forloop.last %}
                        AddNewCodePad("{{ code_pad.pad_nid }}","{{ code_pad.pad_id }}","{{ code_pad.pad_language }}",{{ code_pad.id }});
                        window.code_tabs_list["{{ code_pad.pad_nid }}"] = true;
                        $("#id_codepad_language_changer").val("{{ code_pad.pad_language }}");
                    {% endif %}
                    code_editor_loaded = true;
                {% endfor %}
            }
            else
            {
                console.log("Code Editor Already Loaded!");
            } 
        });

        window.text_tabs_list = {};

        $("#id_tab_text_editor").click(function(e)
        {
            if(!text_editor_loaded)
            {
                $('#tt').tabs({
                    width: window.innerWidth,
                    height: 1600,
                    onSelect: function(title,index){
                        //if(window.text_tabs_list[])
                        console.log("Tab Selected..."+index);
                        console.log("Panel: "+$("#tt .ui-tabs-panel:visible").attr("id"));
                        var pad_nid = $("#id_hidden_textpad_nid_"+title).val();
                        var pad_id = $("#id_hidden_textpad_id_"+title).val();
                        if(!window.text_tabs_list[pad_nid]){
                            //console.log("Text pad: "+index+" loading...");
                            //console.log(pad_nid+" "+pad_id);
                            AddNewPad(pad_nid,pad_id);
                            window.text_tabs_list[pad_nid] = true;
                        }
                        else{
                            //console.log("Text pad "+index+" is already loaded...");
                        }
                    },
                    onBeforeClose: function(title){
                         return confirm('Are you sure you want to close ' + title);
                    }
                });

                {% for text_pad in whiteboard.text_pads.all %}

                    $('#tt').tabs('add',{
                        title:{{ text_pad.pad_nid }},
                        id: "id_pad_tab_{{ text_pad.pad_nid }}",
                        content:'',
                        {% if forloop.first %}
                        closable:false
                        {% else %}
                        closable: false
                        {% endif %}
                    });

                    var hidden_text_pad_info = '<input type="hidden" id="id_hidden_textpad_nid_{{ text_pad.pad_nid }}" value="{{ text_pad.pad_nid }}"/><input type="hidden" id="id_hidden_textpad_id_{{ text_pad.pad_nid }}" value="{{ text_pad.id }}"/>';
                    $("#id_hidden_text_pad_info").append(hidden_text_pad_info);

                    window.text_tabs_list["{{ text_pad.pad_nid }}"] = false;


                    {% if forloop.last %}
                        AddNewPad("{{ text_pad.pad_nid }}",{{ text_pad.id }});
                        window.text_tabs_list["{{ text_pad.pad_nid }}"] = true;
                    {% endif %}
                    text_editor_loaded = true;
                {% endfor %}
            }
        });
        $("#id_tab_white_board").click(function(e)
        {
            if(!drawing_board_loaded)
            {
                $("#loading_container").show();
                $.ajax({
                    type: "GET",
                    url: "/ajax/drawing_board",
                    data: {},
                    success: function(data)
                    {
                        $("#tabs-3").html(data);
                        drawing_board_loaded = true;
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {
                    $("#loading_container").hide();
                });
            }
            else
            {
                console.log("Drawing Board Already Loaded!");
            }
        });


        $(document).ready(function(){
            //$(".tabbings").show();
            if(!drawing_board_loaded)
            {
                //$("#loading_container").show();
                var lesson_id = {% if lesson_status %} {{ live_lesson.pk }} {% else %} -1 {% endif %};
                $.ajax({
                    type: "GET",
                    url: "/ajax/drawing_board",
                    data: {"lesson_id": lesson_id },
                    success: function(data)
                    {
                        $("#tabs-3").html(data);

                        <!--$("#tt").show();-->
                        <!--$("#ctt").show();-->
                        <!--$("#id_whiteboard_bottom_bar").show();-->
                        <!--$("#id_loading_whiteboard").hide();-->
                        <!--$("#id_demo_lesson_progress").show();-->
                        drawing_board_loaded = true;
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                }).done(function( msg ) {
                     $("#loading_container").hide();
                });
            }
            else
            {
                console.log("Drawing Board Already Loaded!");
            }
        });


    </script>
    <div id="id_lesson_users_hidden" style="display: none;">
        {% if live_lesson %}
            {% for user in live_lesson.other_users.all %}
                {% if user.pk != request.user.pk %}
                <input type="hidden" class="wb_participants" value="{{ user.pk }}"/>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if live_lesson and live_lesson.request_user and live_lesson.request_user.pk != request.user.pk %}
        <input type="hidden" class="wb_participants" value="{{ live_lesson.request_user.pk }}"/>
        {% endif %}
        {% if live_lesson and live_lesson.user and live_lesson.user.pk != request.user.pk %}
        <input type="hidden" class="wb_participants" value="{{ live_lesson.user.pk }}"/>
        {% endif %}
    </div>
{% endblock bodycontent %}