{% extends "base.html" %}
{% load staticfiles %}

{% block script_extra %}
    <!--[if (gte IE 6)&(lte IE 8)]>

    <script type="text/javascript" src="js/mootools-core-1.4.2-full-compat.js"></script>

    <![endif]-->

    <!--[if (gte IE 6)&(lte IE 8)]>

    <script type="text/javascript" src="js/selectivizr.js"></script>

    <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>

    <![endif]-->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{%  static "js/bootstrap.min.js" %}"></script>
    <script src="http://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="http://static.opentok.com/webrtc/v2.2/js/TB.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/etherpad.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/opentok-layout.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/chat/videochat.js" %}"></script>
    <script src="{% static "js/chat/buddy_click_handlers.js" %}"></script>
    <script src="{% static "js/CanvasInput.js" %}"></script>
    <script src="{% static "js/whiteboard/base.js" %}"></script>
    <script src="{% static "js/whiteboard/Tools.js" %}"></script>
    <script src="{% static "js/whiteboard/init.js" %}"></script>
    <script src="{% static "js/whiteboard/DOMEventHandler.js" %}"></script>
    <script src="{% static "js/whiteboard/drawingactions.js" %}"></script>
    <script src="{% static "js/whiteboard/collections.js" %}"></script>
    <script src="{% static "js/whiteboard/live.js" %}"></script>
    <script src="{% static "js/whiteboard/mouseout.js" %}"></script>
    <script src="{% static "js/whiteboard/mousedown.js" %}"></script>
    <script src="{% static "js/whiteboard/mousemove.js" %}"></script>
    <script src="{% static "js/whiteboard/mouseclick.js" %}"></script>
    <script src="{% static "js/whiteboard/mouseevents.js" %}"></script>
    <script src="{% static "js/whiteboard/keyboardevents.js" %}"></script>
    <script src="{% static "js/whiteboard/main.js" %}"></script>
    <style type="text/css">
    .other-person
    {
        position: relative;
        background: #ffffff;
        border: 2px solid #ffffff;
        padding: 10px;
        border-radius: 5px;
    }
    .other-person:after,other-person:before
    {
        right: 100%;
        top: 16px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .other-person:after
    {
        border-color: rgba(211, 212, 213, 0);
        border-right-color: #ffffff;
        border-width: 14px;
        margin-top: -14px;
    }
    .other-person:before
    {
        border-color: rgba(243, 243, 245, 0);
        border-right-color: #ffffff;
        border-width: 17px;
        margin-top: -17px;
    }


    .me
    {
        position: relative;
        background: #ffffff;
        border: 2px solid #ffffff;
        padding: 10px;
        border-radius: 5px;
    }
    .me:after, .me:before 
    {
        left: 100%;
        top: 16px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .me:after 
    {
        border-color: rgba(211, 212, 213, 0);
        border-left-color: #ffffff;
        border-width: 14px;
        margin-top: -14px;
    }
    .me:before 
    {
        border-color: rgba(243, 243, 245, 0);
        border-left-color: #ffffff;
        border-width: 17px;
        margin-top: -14px;
    }

    label.time
    {
        color: #cccccc;
        margin-bottom: -10px;
    }

    .sharing_video
    {
        width: 300px;
        height: 280px;
        bottom: 63px;
        left: 3px;    }

    .video_section
    {
        width: 300px;
        height: 280px;
        background: black;
        #border: 1px solid gray;
    }

    .video-box
    {
        float: left;
        width: 300px;
        height: 280px;
        margin: 3px;
        background: gray;
        z-index: 90;
        background-image: url({% static "images/profile_img.png" %});
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: none;
    }

    .myVideo-box
    {
        position: absolute;
        bottom: 45px;
        right: 12px;
        width: 150px;
        height: 150px;
        z-index: 91;
        background: black;
    }

    .calling
    {
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    #id_video_sharing_container
    {
        background-color: black;
    }

    #incoming_call_notification_area
    {
        width: 440px;
        position: fixed;
        top: 0px;
        left:0px;
        padding: 10px;
        z-index: 9000000000;
        background-color: #dedede;
        border-radius: 10px;
        border-width: 1px;
        border-color: gray;
        margin-left: 10px;
        margin-top: 7px;
        display: none;
    }

    #outgoing_call_notification_area
    {
        width: 440px;
        position: fixed;
        top: 20%;
        left:50%;
        padding: 10px;
        z-index: 9000000000;
        background-color: #dedede;
        border-radius: 10px;
        border-width: 1px;
        border-color: gray;
        margin-left: 10px;
        margin-top: 7px;
        display: none;
    }

    .outgoing-call-popup
    {
        background-color: white;
        margin-top: 4px;
    }

    .incoming_call_popup
    {
        margin-bottom: 10px;
        background-color: white;
        padding: 10px;
    }

    .call-notif-popup-button
    {
        width: 120px;
        margin-right: 3px;
    }

    #id_add_buddy_group_call
    {
        position: absolute;
        top: 40px;
        left: 0px;
        min-height: 40px;
        width: 100%;
        z-index: 1000;
        padding: 3px;
        background-color: rgb(222, 222, 222);
        display: none;
    }

    #controlbar
    {
        width: 100%;
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: 1001;
        background-color: #303030;
        opacity: 1.0;
        padding: 3px;
    }

    #tabs-1,#tabs-2,#tabs-3
    {
        width: 100%;
        margin: 0px;
    }

    .ui-autocomplete{
        height: 150px; overflow-y: scroll; overflow-x: hidden;
    }

    </style>
    <script>
        // $(document).ready(function() {
        //     var dots = 0;

        //     function type() {
        //         if(dots < 3) {
        //             $('.calling').append('.');
        //             dots++;
        //         }
        //         else{
        //             dots = 0;
        //         }
        //     }​

        //     setInterval (type, 600);
        // });
        $(document).ready(function()
        {
            $("#incoming_call_notification_area").css("cursor","move");
            $("#incoming_call_notification_area").draggable();

            $("#sticky_note_content").draggable();

            $("#id_video_sharing_container").css("cursor","move");
{#            $("#id_video_sharing_container").draggable().resizable({#}
{#                start: function( event, ui ){#}
{#                    $("#drawing_board").off("mousemove");#}
{#                },#}
{#                stop: function( event, ui ){#}
{#                    $("#drawing_board").on("mousemove");#}
{#                }#}
{#            });#}

            $("#outgoing_call_notification_area").css("cursor","move");
            $("#outgoing_call_notification_area").draggable();

            $("#id_add_buddy_to_call_group").click(function(e)
            {
                $("#id_add_buddy_group_call").show();
            });

            $("#id_video_section").click(function(e)
            {
                $("#id_add_buddy_group_call").hide();
            });

            $(".chat_header").click(function(e){
                //alert("Clicked!");
                $(".sharing_video").css("display","none");
            });

            $(".sharing").click(function(e){
                $(".sharing_video").show();
            });

        });
    </script>
{% endblock script_extra %}

{% block body %}
    {% block header %}
        {{ block.super }}
    {% endblock header %}
    {% block bodycontent %}
        <div class="header_bottom">
            <div class="wrapper">
                <div class="demo_lesson_progress radius3_top">
                    <div class="demo_progress_img"><img src="{% static "images/wb_img1.png" %}" width="38" height="38" alt="img"></div>
                    Demo lesson <span>in progress</span>
                </div>
                <a href="#" class="free_trial radius3"> Claim your free trial </a>
            </div>
        </div>
        <div id="incoming_call_notification_area">
            
        </div>
        <div id="outgoing_call_notification_area">
                
        </div>
        <div class="tabbings">
        <div id="tabs">
            <div id="tabs-1">
                {% include "ajax/code_editor.html" with code_pads=code_pads %}
            </div>
            <div id="tabs-2">
                <!-- Data for Text Editor. !-->
                {% include "ajax/text_editor.html" with text_pads=text_pads%}
            </div>
            <div id="tabs-3">
                <!-- Data for whiteboard. !-->
            </div>
            
            <div class="show_menu_icon">
                <img src="{% static "images/show_menu_icon.png" %}" width="22" height="22" alt="img">
                    Show
            </div>
                <ul>
                    <div id="id_video_sharing_container" class="sharing_video radius3_top" style="position: absolute; bottom: 10px; left:  10px;">
                        <div class="chat_header">
                            <span class="online"><img width="12" height="12" alt="img" src="{% static "images/online.png" %}"></span>
                            Audio/Video Sharing
                            <a id="id_hide_video_window" href="#"> <img width="15" height="9" alt="img" src="{% static "images/hide_icon.png" %}" style=""> </a>
{#                            <a id="id_add_buddy_to_call_group" href="#"> <img width="15" height="9" alt="img" src="{% static "images/blue_pls.png" %}"> </a>#}
                        </div>
{#                        <div id="id_add_buddy_group_call" class="add_buddy_group_call">#}
{#                            <input type='hidden' class='hidden-selected-val'/>#}
{#                            <input type="text" class="form-control add-group-buddy-call" style="width: 200px;float: left;" placeholder="Type Tutor Name Here" autocomplete="on"/>#}
{#                            <button class="btn btn-primary" id="id_add_buddy_to_group" style="float:right;background:green;">Add To Conference</button>#}
{#                        </div>#}
                        <div id="id_video_section" class="video_section">

                        </div>
{#                        <div id="controlbar" class="text-center">#}
{#                            <div class="different_detail_inner text-center" style="width:100%;">#}
{#                                <button id="id_end_call" class="btn btn-danger" style="width: 90%;margin-left:auto;margin-right:auto;" disabled>End Call</button>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <div class="left_detail">
                        <div class="sharing radius3"><img src="{% static "images/wb_online.png" %}" width="14" height="14" alt="img">Sharing</div>
                        <div class="different_detail">

                            <div class="different_detail_inner">
                                <div class="different_detail_img"> <img src="{% static "images/help_icon.png" %}" width="17" height="17" alt="img"> </div>
                                <a href="#"> Help </a>
                            </div>

                            <div class="different_detail_inner">
                                <div class="different_detail_img"><img src="{% static "images/wb_setting_icon.png" %}" width="19" height="19" alt="img"> </div> <a href="#"> Settings </a>
                            </div>
                            <div class="different_detail_inner">
                                <div class="different_detail_img"><img src="{% static "images/wb_screensharing_icon.png" %}" width="20" height="19" alt="img"> </div> <a href="#"> Screensharings </a>
                                <div class="onoffswitch6">
                                    <input type="checkbox" name="onoffswitch6" class="onoffswitch6-checkbox" id="myonoffswitch6" checked>
                                    <label class="onoffswitch6-label" for="myonoffswitch6">
                                        <span class="onoffswitch6-inner"></span>
                                        <span class="onoffswitch6-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="different_detail_inner">
                                <div class="different_detail_img"> <img src="{% static "images/video_icon.png" %}" width="25" height="14" alt="img"> </div>
                                <div class="onoffswitch3">
                                    <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
                                    <label class="onoffswitch3-label" for="myonoffswitch3">
                                        <span class="onoffswitch3-inner"></span>
                                        <span class="onoffswitch3-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="different_detail_inner">
                                <div class="different_detail_img"><img src="{% static "images/wb_sound_icon.png" %}" width="21" height="19" alt="img"> </div>
                                <div class="onoffswitch4">
                                    <input type="checkbox" name="onoffswitch4" class="onoffswitch4-checkbox" id="myonoffswitch4" checked>
                                    <label class="onoffswitch4-label" for="myonoffswitch4">
                                        <span class="onoffswitch4-inner"></span>
                                        <span class="onoffswitch4-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="hide_menu"><img src="{% static "images/hide_menu_icon.png" %}" width="22" height="22" alt="img"> Hide </div>

                    <!-- <div class="tutor radius3"><img src="{% static "images/wb_online.png" %}" width="14" height="14" alt="img">Tutor</div> -->

                    <li><a id="id_tab_code_editor" href="#tabs-1">Code Editor</a></li>
                    <li><a id="id_tab_text_editor" href="#tabs-2">Text Editor</a></li>
                    <li><a id="id_tab_white_board" href="#tabs-3">Whiteboard</a></li>


                </ul>
            </div>
        </div>
        <div id="id_chat_sidebar_floating" class="center-right">
            <button class="btn btn-primary" id="id_button_tut_online_toggle">{% if utype == "student" %}Teachers Online{% else %} Students Online {% endif %}</button>
            <div class="chat_sidebar radius3_top" id="id_chat_tutor_list">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">
                                <input style="width:283px;float:left;padding-right:12px;" type="text" class="form-control"  placeholder="Search tutors online"></input>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for buddy in buddies %}
                                <tr class="buddy-row">
                                    <td>
                                        <input type="hidden" class="tutor_uid" value="{{ buddy.user_id }}"/>
                                        <input type="hidden" class="online_status" value="offline"/>
                                        <img src="{% static "images/msg_img1.png" %}" class="pimg_url" width="40" height="40"/>
                                        <br/>
                                        <br/>
                                        <span class="badge" style="background-color: #339999;">4.50/5.00</span>
                                        </td>
                                    <td style="width: 190px;">
                                        <div><a href="/profile/{{ buddy.user_id }}"><label class="tut_name">{{ buddy.fullname }}</label><span class="pull-right ic_online" style="display:none;"><img src="{% static "images/online.png" %}" width="12" height="12"/></span></a></div>
                                        <div style="color:gray;">{{ buddy.major }}</div>
                                        <div>{{ buddy.current_school }}{% if buddy.session %}, class of {{ buddy.session }} {% endif %}</div>
                                        <div class="buddy-inline-action" style="display: none;"><span style="cursor:pointer;" class="glyphicon glyphicon-comment champ_text_chat"></span>
                                        &nbsp;<span style="cursor:pointer;" class="glyphicon glyphicon-earphone champ_audio_chat" disabled></span>&nbsp;&nbsp;<span style="cursor:pointer;" class="glyphicon glyphicon-facetime-video champ_video_chat"></span></div>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
        </div>
        <div id="chatBoxContainer">
                </div>
                <div id="id_chat_window_container">
                    <div class="over-chat-list">
                        
                    </div>
                    
                </div>
            </div>
            <div id="id_hidden_code_pad_info" style="display: none;">

            </div>
            <div id="id_hidden_text_pad_info" style="display: none;">

            </div>
    {% endblock bodycontent %}
{% endblock body %}
{% block more_extra %}
    <div id="loading_container" style="width:100px;height: 100px;display:none;">
        <p style="font-weight: bold;font-size: 30px;">Loading...</p>
    </div>

    <script>
        $(document).ready(function()
        {
            
            //alert($(window).height());
            $("#id_chat_sidebar_floating").find(".chat_sidebar").css("height",($(window).height() - 63 - 10) + "px");

            $(".chat_sidebar").find("tbody").css("height",($(window).height() - 63 - 63 - 10) + "px");

            $("#id_button_tut_online_toggle").click(function(e){
                $(this).parent().find(".chat_sidebar").toggle();
            });

            $( window ).resize(function() {
                $("#id_chat_sidebar_floating").find(".chat_sidebar").css("height",($(window).height() - 63 - 10) + "px");

                $(".chat_sidebar").find("tbody").css("height",($(window).height() - 63 - 63 - 10) + "px");
            });

            $(".buddy-row").hover(function(e){
                $(this).find(".buddy-inline-action").show();
            },
            function(e){
                $(this).find(".buddy-inline-action").hide();
            });

            $(document).click(function(e)
            {
                // alert(e.target.className);
                // if(e.target.id != "id_chat_sidebar_floating" && e.target.id != "id_button_tut_online_toggle")
                // {
                //     $("#id_chat_sidebar_floating").find(".chat_sidebar").hide();
                // }
            });

            $(document).mouseup(function (e)
            {
                var container = $("#id_chat_tutor_list");
                var chatbox = $(".chat");
                var board_taskbar = $(".ui-tabs-nav");

                if ((!container.is(e.target) // if the target of the click isn't the container...
                    && container.has(e.target).length === 0) && (!chatbox.is(e.target) && chatbox.has(e.target).length == 0 ) && e.target.className != "show_menu_icon"  && (!board_taskbar.is(e.target) && board_taskbar.has(e.target).length == 0 ) ) // ... nor a descendant of the container
                {
                    container.hide();
                }
            });

            $(window).resize(function()
            {
                $('#loading_container').css({
                            position: 'absolute'
                        });

                $('#loading_container').css({
                            left: ($(window).width() - $('#loading_container').outerWidth()) / 2,
                            top: ($(window).height() - $('#loading_container').outerHeight()) / 2
                        });
            });

            // call `resize` to center elements
            $(window).resize();
        });
    </script>

    <script>

        $(".show_menu_icon").click(function () {
            $("ul.ui-tabs-nav").show();
            $(".show_menu_icon").hide();
        });
        $(".hide_menu").click(function () {
            $("ul.ui-tabs-nav").hide();
            $(".show_menu_icon").show();
        });

        $(document).ready(function()
        {
            $("ul.ui-tabs-nav").show();
            $(".show_menu_icon").hide();

            $("#id_hide_video_window").click(function(e)
            {
                // $("#id_video_sharing_container").hide();
                // $("#id_video_sharing_container").children().hide();
                //$(this).parent().show();
                //$(this).parent().children().show();
                console.log("Hide button clicked!");
                $("#id_video_sharing_container").hide();
            });

            //$("#id_video_sharing_container").draggable().resizable();

            $(".onoffswitch4").click(function()
            {
                //alert($(this).val());
            });

        });

    </script>
    <script>
{#        $(".sharing").click(function () {#}
{#            $(".sharing_video").toggleClass("added");#}
{#        });#}
        $(".tutor").click(function () {
            $(".chat").toggleClass("added");
        });
        $("a#hide").click(function () {
            $(".chat").removeClass("added");
        });
    </script>
    <script>

        function jsLoadFail()
        {

        }

        function jsOnload() {
            if (window.resourcesLoaded) {
                afterLoad();


                // Basic session workspace variables



                var opentokConfig = {

                    apiKey: '11038762',
                    token: null,
                    sessionID: '1_MX4xMTAzODc2Mn4xMjIuMTczLjE4MS4wflRodSBTZXAgMDQgMDU6NTU6MTQgUERUIDIwMTR-MC44MDY5NzN-UH4',
                    webrtcSessionID: '2_MX4xMTAzODc2Mn4xMjIuMTczLjE4MS4wflRodSBTZXAgMDQgMDU6NTU6MTQgUERUIDIwMTR-MC4wOTMwMDE0ODV-fg',

                    webrtcCapable: !!(window.mozRTCPeerConnection || window.webkitRTCPeerConnection || window.RTCPeerConnection)
                };
                opentokConfig.webrtc = opentokConfig.webrtcCapable;

                var isDemoLesson = true,
                        isScheduledLesson = false,
                        isOnDemandLesson = !isDemoLesson && !isScheduledLesson,
                        isReadOnly = false;

                updateConfig({

                    OMNIBAR_HIDE: true
                });

                require(['lesson/config', 'lesson/init', 'lesson/modules/workspace/utils'],
                        function(config, lesson, lessonUtils) {
                            _(config).extend({
                                endpoints: {
                                    SUBMIT_QUESTION_URL: "/s/M8EC7/submit-question/"
                                },
                                user: {
                                    id: '234235',
                                    code: '234235',
                                    role: 1,
                                    isCandidate: false
                                },
                                otherUser: {
                                    id: ''
                                },
                                userPhotos: {
                                    '234235': lessonUtils.getViewingIcon(''),
                                    '': lessonUtils.getViewingIcon('')
                                },
                                code: 'M8EC7',
                                context: 'tutor_waiting',
                                medium: 1,
                                started: false,
                                isDemo: isDemoLesson,
                                isScheduled: isScheduledLesson,
                                isOnDemand: isOnDemandLesson,
                                isReadOnly: isReadOnly,
                                isLive: (!isReadOnly && !isDemoLesson),
                                question: null
                            });


                            lesson.start({
                                paperboard: {
                                    el: $('#whiteboard'),
                                    $pagination: $('#paperboard'),
                                    $grid: $('.grid'),
                                    $cursor: $('#other-cursor')
                                },
                                chat: {
                                    el: $('#lesson-chat'),
                                    $footer: $('.chat-footer'),
                                    $template: $('#lesson-chat-template')
                                },
                                video: {
                                    $myStreamContainer: $('#my-stream-container'),
                                    $streamContainer: $('#lesson-stream'),
                                    $indicators: $('.column.sharing'),
                                    $otherIndicators: $('.tutor.column'),
                                    $helpContainer: $('.setup-messaging'),
                                    $settingsModal: $('#video-settings-modal'),
                                    opentok: opentokConfig,
                                    GENERATE_OPENTOK_TOKEN_URL: "/s/M8EC7/generate-token/",
                                    conference: {
                                        $layout: $('.setup-conference'),
                                        $modal: $('#lesson-conference-how-it-works'),
                                        config: {

                                            code: null,
                                            phoneNumber: null

                                        }
                                    }
                                },
                                ide: {
                                    el: $('#ide'),
                                    url: 'https://instaedu.com/ide//lesson/M8EC7'
                                },
                                etherpad: {
                                    el: $('#etherpad'),
                                    url: 'https://instaedu.com/pad//p/M8EC7?showChat=false&amp;showLineNumbers=false&amp;showUserIcon=false&amp;userName=Student'
                                },
                                polling: {
                                    LESSON_STATUS_URL: "/s/M8EC7/status/",
                                    CREATE_LESSON_EVENT_URL: "/s/M8EC7/event/"
                                },
                                workspace: {
                                    el: $('#main'),
                                    supportButton: {
                                        el: $('.control.support')
                                    },
                                    messageModal: {
                                        el: $('#message-modal'),
                                        submitURL: '/online_tutors/message/',
                                        successURL: '/s/M8EC7/message/success/'
                                    },
                                    backspaceModal: {
                                        el: $('#backspace-modal')
                                    }
                                },
                                screenshare: {
                                    el: $('#screensharing'),
                                    $footer: $('#screensharing-footer')
                                }
                            });
                        });

                PointerEventsPolyfill.initialize({
                    selector: '#other-cursor'
                });

            } else {
                jsLoadFail();
            }
        };

        function loadJs() {
            $.ajax({
                url: '/static/js/cc4d74c818_bundle_plugins_and_core.js',
                dataType: 'script',
                cache: true,
                success: jsOnload,
                error: jsLoadFail
            });
        }

        if (window.jQuery) {
            $(document).ready(loadJs);
        } else {
            jsLoadFail();
        }
    </script>
    <script src="{% static "js/jquery-ui-1.10.4.custom.js" %}"></script>
{#    <link rel="stylesheet" type="text/css" href="{% static "jquery.easyui-1.4.2/themes/black/easyui.css" %}"/>#}
{#    <script type="text/javascript" src="{% static "jquery.easyui-1.4.2/jquery.easyui.min.js" %}"></script>#}
    <script>
        $( "#tabs" ).tabs(
            {
                active: 2
            });

        function load_js_async(url)
        {
            $.ajax({
                url: url,
                dataType: 'script',
                cache: true,
                success: function(data)
                {
                    console.log("script loaded successfully.");
                    console.log("script: "+url);
                },
                error: function(jqxhr, status, error)
                {

                }
            });
        }

        var code_editor_loaded = false;
        var text_editor_loaded = false;
        var drawing_board_loaded = false;
        var js_script_loaded = false;
        function load_whiteboard_scripts_async()
        {
            if(!js_script_loaded)
            {
                //load_js_async("https://cdn.socket.io/socket.io-1.2.0.js");
                //var chat_js_url = "{% static "js/chat/chat.js" %}"
                //load_js_async(chat_js_url);
                //var whiteboard_js_url = "{% static "js/whiteboard/script.js" %}"
                //load_js_async(whiteboard_js_url);
                js_script_loaded = true;
            }
        };

        window.code_tabs_list = {};

        $("#id_tab_code_editor").click(function(e){
           if(!code_editor_loaded)
            {
                $('#ctt').tabs({
                    onSelect: function(title,index){
                        console.log("Tab Selected..."+index);
                        var pad_id = $("#id_hidden_codepad_id_"+index).val();
                        var pad_language = $("#id_hidden_codepad_lan_"+index).val();
                        var tab_element_id = $("#id_hidden_codepad_tab_id_"+index).val();
                        if(!window.code_tabs_list[pad_id]){
                            console.log("Codepad: "+pad_id+" is loading...");
                            AddNewCodePad(pad_id,pad_language,tab_element_id);
                            window.code_tabs_list[pad_id] = true;
                        }
                        else{
                            console.log("Codepad is already loaded...");
                        }
                    },
                    onBeforeClose: function(title){
                        return confirm('Are you sure you want to close ' + title);
                    }
                });
                {% for code_pad in code_pads %}

                    $('#ctt').tabs('add',{
                        title:"{{ code_pad.pad_name }}",
                        id: "id_codepad_tab_{{ code_pad.id }}",
                        content:'',
                        {% if forloop.first %}
                            closable:false
                        {% else %}
                            closable: false
                        {% endif %}
                    });

                    var hidden_info = '<input type="hidden" id="id_hidden_codepad_id_{{ forloop.counter|add:"-1" }}" value="{{ code_pad.pad_id }}"/>'+'<input type="hidden" id="id_hidden_codepad_lan_{{ orloop.counter|add:"-1" }}" value="{{ code_pad.pad_language }}">';
                    hidden_info += '<input type="hidden" id="id_hidden_codepad_tab_id_{{ forloop.counter|add:"-1" }}" value="{{ code_pad.id }}"/>';
                    $("#id_hidden_code_pad_info").append(hidden_info);
                    window.code_tabs_list["{{ code_pad.pad_id }}"] = false;

                    {% if forloop.last %}
                        AddNewCodePad("{{ code_pad.pad_id }}","{{ code_pad.pad_language }}",{{ code_pad.id }});
                        window.code_tabs_list["{{ code_pad.pad_id }}"] = true;
                    {% endif %}
                    code_editor_loaded = true;
                {% endfor %}
            }
            else
            {
                console.log("Code Editor Already Loaded!");
            } 
        });

        window.text_tabs_list = {};

        $("#id_tab_text_editor").click(function(e)
        {
            if(!text_editor_loaded)
            {
                $('#tt').tabs({
                    onSelect: function(title,index){
                        //if(window.text_tabs_list[])
                        console.log("Tab Selected..."+index);
                        var pad_nid = $("#id_hidden_textpad_nid_"+index).val();
                        var pad_id = $("#id_hidden_textpad_id_"+index).val();
                        if(!window.text_tabs_list[pad_nid]){
                            console.log("Text pad: "+index+" loading...");
                            console.log(pad_nid+" "+pad_id);
                            AddNewPad(pad_nid,pad_id);
                            window.text_tabs_list[pad_nid] = true;
                        }
                        else{
                            console.log("Text pad "+index+" is already loaded...");
                        }
                    },
                    onBeforeClose: function(title){
                         return confirm('Are you sure you want to close ' + title);
                    }
                });

                {% for text_pad in text_pads %}

                    $('#tt').tabs('add',{
                        title:{{ text_pad.pad_nid }},
                        id: "id_pad_tab_{{ text_pad.id }}",
                        content:'',
                        {% if forloop.first %}
                        closable:false
                        {% else %}
                        closable: false
                        {% endif %}
                    });

                    var hidden_text_pad_info = '<input type="hidden" id="id_hidden_textpad_nid_{{ forloop.counter|add:"-1" }}" value="{{ text_pad.pad_nid }}"/><input type="hidden" id="id_hidden_textpad_id_{{ forloop.counter|add:"-1" }}" value="{{ text_pad.id }}"/>';
                    $("#id_hidden_text_pad_info").append(hidden_text_pad_info);

                    window.text_tabs_list["{{ text_pad.pad_nid }}"] = false;


                    {% if forloop.last %}
                        AddNewPad("{{ text_pad.pad_nid }}",{{ text_pad.id }});
                        window.text_tabs_list["{{ text_pad.pad_nid }}"] = true;
                    {% endif %}
                    text_editor_loaded = true;
                {% endfor %}
            }
        });
        $("#id_tab_white_board").click(function(e)
        {
            if(!drawing_board_loaded)
            {
                $("#loading_container").show();
                $.ajax({
                    type: "GET",
                    url: "ajax/drawing_board",
                    data: {},
                    success: function(data)
                    {
                        $("#tabs-3").html(data);
                        drawing_board_loaded = true;
                        console.log("Drawing board loaded.");
                        //load_whiteboard_scripts_async();
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {
                            $("#loading_container").hide();
                });
            }
            else
            {
                console.log("Drawing Board Already Loaded!");
            }
        });


        $(document).ready(function(){
            $(".tabbings").show();
            if(!drawing_board_loaded)
            {
                $("#loading_container").show();
                $.ajax({
                    type: "GET",
                    url: "ajax/drawing_board",
                    data: {},
                    success: function(data)
                    {
                        $("#tabs-3").html(data);
                        drawing_board_loaded = true;
                        console.log("Drawing board loaded.");
                        //load_whiteboard_scripts_async();
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {
                            $("#loading_container").hide();
                });
            }
            else
            {
                console.log("Drawing Board Already Loaded!");
            }
        });


    </script>
{% endblock more_extra %}