{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load whiteboardfilter %}

{% block script_head_extra %}
<!--[if (gte IE 6)&(lte IE 8)]>

    <!--<script type="text/javascript" src="js/mootools-core-1.4.2-full-compat.js"></script>-->

    <![endif]-->

    <!--[if (gte IE 6)&(lte IE 8)]>

    <script type="text/javascript" src="js/selectivizr.js"></script>

    <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>

    <![endif]-->
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <link href="{% static "css/whiteboard.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{%  static "js/bootstrap.min.js" %}"></script>
    <script src="http://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="http://static.opentok.com/webrtc/v2.2/js/TB.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/etherpad.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/opentok-layout.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/chat/buddy_click_handlers.js" %}"></script>
    <script src="{% static "js/CanvasInput.js" %}"></script>

    <script src="{% static "js/drawingboard/paper-full.min-v0.9.24.js" %}"></script>
    <script src="{% static "js/drawingboard/library.js" %}"></script>
    <script src="{% static "js/drawingboard/paperboard.js" %}"></script>
    <script src="{% static "js/drawingboard/ToolEventHandlers.js" %}"></script>
    <script src="{% static "js/drawingboard/tools.js" %}"></script>
    <script src="{% static "js/drawingboard/StreamEventHandlers.js" %}"></script>
    <script src="{% static "js/drawingboard/PaperboardStream.js" %}"></script>
    <script src="{% static "js/drawingboard/DOMEventHandler.js" %}"></script>

    <script src="{% static "js/chat/whiteboard_video_chat.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "jquery.easyui-1.4.2/themes/black/easyui.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/sticky/style.css" %}"/>
    <script type="text/javascript" src="{% static "jquery.easyui-1.4.2/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.easyui-1.4.2/jquery.easyui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.stickynote.custom.js" %}"></script>
    {#<script type="text/javascript" src="{% static "js/ui.core.js" %}"></script>#}
    {#<script type="text/javascript" src="{% static "js/ui.draggable.js" %}"></script>#}
    <script src="{% static "js/jquery.form.js" %}"></script>

    <script type='text/javascript'>
    org = { mathdox:{formulaeditor:{options:{dragPalette:false, paletteShow: "none", useBar:false}}}};
    </script>
    <script type='text/javascript' src="{% static "js/mathdox/org/mathdox/formulaeditor/main.js" %}">
    </script>


    <script>

        window.all_components_loaded = false;

        $(document).ready(function()
        {
            $(".tabbings").hide();

            $("#incoming_call_notification_area").css("cursor","move");
            $("#incoming_call_notification_area").draggable();

            $("#sticky_note_content").draggable();

            $("#id_video_sharing_container").css("cursor","move");

            $("#outgoing_call_notification_area").css("cursor","move");
            $("#outgoing_call_notification_area").draggable();

            $("#id_add_buddy_to_call_group").click(function(e)
            {
                $("#id_add_buddy_group_call").show();
            });

            $("#id_video_section").click(function(e)
            {
                $("#id_add_buddy_group_call").hide();
            });

            $(".sharing").click(function(e){
                $(".sharing_video").show();
            });

            {% if live_lesson %}
            window.live_lesson = {{ live_lesson.pk }};
            {% endif %}

        });
    </script>
{% endblock script_head_extra %}

{% block bodycontent %}
	    <div class="header_bottom">
            {% if not live_lesson %}
            <div class="wrapper" id="id_demo_lesson_progress" style="display: none;">
                <div class="demo_lesson_progress radius3_top">
                    <div class="demo_progress_img"><img src="{% static "images/wb_img1.png" %}" width="38" height="38" alt="img"></div>
                    Demo lesson <span>in progress</span>
                </div>
                <a href="#" class="free_trial radius3"> Claim your free trial </a>
            </div>
            {% else %}
            <script src="{% static "js/countdowntimer/jquery.countdownTimer.min.js" %}"></script>
            <div style="padding: 7px;">
                <span id="id_lesson_schedule_timer_wrapper" class="pull-left" style="display: none; font-weight: bold; font-size: 20px;">You lesson is scheduled to begin in <span id="id_lesson_schedule_timer"></span></span>
                <span id="id_lesson_countdown_timer_wrapper" class="pull-right" style="display: none; font-weight: bold; font-size: 20px;">Time Elapsed:<span id="id_lesson_countdown_timer" class="pull-right"> 01:25:40</span>
            <script>
                $(document).ready(function(){
                {% if lesson_start_remaining_time %}

                $("#id_lesson_schedule_timer_wrapper").show();
                $("#id_lesson_countdown_timer_wrapper").hide();

                $("#id_lesson_schedule_timer").countdowntimer({
                    hours: {{ lesson_start_hour }},
                    minutes: {{ less_start_minute }},
                    seconds: {{ lesson_start_seconds }},
                    timeUp : function() {
                        $("#id_lesson_countdown_timer").countdowntimer({
                            hours: {{ lesson_countdown_hour }},
                            minutes: {{ less_countdown_minute }},
                            seconds: {{ lesson_countdown_seconds }},
                            timeUp : function() {
                                //alert("Time is up");
                            }
                        });
                    }
                });

                {% else %}

                    $("#id_lesson_schedule_timer_wrapper").hide();
                    $("#id_lesson_countdown_timer_wrapper").show();

                    $("#id_lesson_countdown_timer").countdowntimer({
                        hours: {{ lesson_countdown_hour }},
                        minutes: {{ less_countdown_minute }},
                        seconds: {{ lesson_countdown_seconds }},
                        timeUp : function() {
                            //alert("Time is up");
                        }
                    });

                {% endif %}


                });
            </script>
            {% endif %}
        </div>
        <!--<div id="incoming_call_notification_area">-->
            <!-- -->
        <!--</div>-->
        <!--<div id="outgoing_call_notification_area">-->
                <!-- -->
        <!--</div>-->
        <div id="id_loading_whiteboard">
            <h3>
                <button class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading whiteboard...</button>
            </h3>
        </div>
        <div class="tabbings" style="display: none;">
        <div id="tabs">
            <div id="tabs-1">
                {% include "ajax/code_editor.html" with code_pads=code_pads %}
            </div>
            <div id="tabs-2">
                <!-- Data for Text Editor. !-->
                {% include "ajax/text_editor.html" with text_pads=text_pads%}
            </div>
            <div id="tabs-3">
                <!-- Data for whiteboard. !-->
                {% include "ajax/drawingboard.html" with drawingboards=drawingboards sticky_notes=sticky_notes live_lesson=live_lesson whiteboard=whiteboard%}
            </div>
            
            <div class="show_menu_icon">
                <img src="{% static "images/show_menu_icon.png" %}" width="22" height="22" alt="img">
                    Show
            </div>
                <ul>
                    <div id="id_video_sharing_container" class="wb-video-chat sharing_video radius3_top" style="position: absolute; bottom: 10px; left:  10px;">
                        <input id="id_lesson_id_sharing" type="hidden" {% if live_lesson %}value="{{ live_lesson.pk }}"{% else %}value="-1" {% endif %}/>
                        <input id="id_wb_id_sharing" type="hidden" {% if whiteboard %}value="{{ whiteboard.pk }}"{% else %}value="-1" {% endif %}/>
                        <div class="chat_header">
                            <span class="online"><img width="12" height="12" alt="img" src="{% static "images/online.png" %}"></span>
                            Audio/Video Sharing
                            <a id="id_hide_video_window" href="#"> <img width="15" height="9" alt="img" src="{% static "images/hide_icon.png" %}" style=""> </a>
{#                            <a id="id_add_buddy_to_call_group" href="#"> <img width="15" height="9" alt="img" src="{% static "images/blue_pls.png" %}"> </a>#}
                        </div>
                        <div class="video_section" id="id_video_loading" style="display: none;">
                            <div style="text-align: center;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>

                            <p style="padding: 7px;"> Sharing your camera with other members. If your are prompt like below please allow the microphone to access your camera.</p>
                            <p>
                                <img src="{% static "images/allow_microphone.png" %}" width="100%"/>
                            </p>
                        </div>
                        <div id="my_video" style="position: absolute; bottom: 0px; right: 0px; width: 100px; height: 100px; background: black; display: none;"></div>
                        <div id="my_video_control" style="position: absolute; bottom: 7px; right: 0px; width: 40px; height: 20px; z-index: 100000; display: none;">
                            <button id="id_hide_my_video" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove pull-right" title="Hide video"></i></button>
                            <button id="id_show_my_video" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-user pull-right" title="Show video"></i></button>
                        </div>
                        <div id="id_video_section" class="video_section">

                            {% if live_lesson and session_started %}
                                <input type="hidden" id="id_session_started" {% if session_started %}value="true"{% else %}value="false"{% endif %}/>
                                <input type="hidden" id="id_ot_session_key" value="{{ video_chat.ot_session }}"/>
                                <input type="hidden" id="id_ot_token" value="{{ token }}"/>
                                <input type="hidden" id="id_ot_api_key" value="{{ ot_api_key }}"/>
                                <input type="hidden" id="id_video_enabled" value="{{ video_settings.video_enabled }}"/>
                                <input type="hidden" id="id_audio_enabled" value="{{ video_settings.audio_enabled }}"/>
                                <input type="hidden" id="id_sharing_enabled" value="{{ video_settings.sharing_enabled }}"/>
                            {% else %}
                                <div style="display: table-cell;width: 100%;height: 100%;text-align: center;vertical-align: center;">
                                    <p style="padding: 13px;">This tool allows you to share your audio/video to other party of this lesson.</p>
                                    <button id="id_use_audio_button" class="btn btn-primary btn-lg">Use Audio</button>
                                    <button id="id_use_video_button" class="btn btn-danger btn-lg">Use Video</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="wb-chat radius3_top" style="display: none;">
                        <div class="chat_header">
                            <span class="online"><img src="{% static "images/online.png" %}" width="12" height="12" alt="img"></span>
                            Tutor
                            <a href="#" id="hide"> <img src="{% static "images/hide_icon.png" %}" width="15" height="9" alt="img"> </a>
                            <a href="#"> <img src="{%  static "images/chat_icon.png" %}" width="15" height="15" alt="img"> </a>
                        </div>
                        <div id="id_hidden_wb_chat_row" style="display: none;">
                            <div class="row" style="margin-top: 3px; border-bottom: 1px solid #fefefe;">
                                <div class="wb-chat-left">
                                    <input type="hidden" name="hidden_user_id" value="USER_ID"/>
                                    <a href="USER_PROFILE_URL" ><img title="USER_FULL_NAME" src="USER_PROFILE_PICTURE" width="30" height="30"/></a>
                                </div>
                                <div class="wb-chat-right" title="MSG_DATE_TITLE">
                                    USER_MESSAGE MESSAGE_ATTACHMENT
                                    <!--<p class="attachment">MESSAGE_ATTACHMENT</p>-->
                                </div>
                            </div>
                        </div>
                        <div class="wb-chat_contnt">
                            <div id="id_wb_chat_content_container" class="container" style="width: 300px; margin: 7px;">
                                {% for chat_message in whiteboard|get_user_messages:request %}
                                <div class="row" style="margin-top: 3px; border-bottom: 1px solid #fefefe;">
                                    <div class="wb-chat-left">
                                        <input type="hidden" name="hidden_user_id" value="{{ chat_message.sender.pk }}"/>
                                        <a href="" ><img title="{{ chat_message.sender.champuser.fullname }}" src="{{ chat_message.sender.champuser.render_profile_picture }}" width="30" height="30"/></a>
                                    </div>
                                    <div class="wb-chat-right" title="{{ chat_message.date_created|render_short_datestring_from_timestamp }}">
                                        {% if chat_message.text %}
                                        <p class="msg" style="color: black;">{{ chat_message.text }}</p>
                                        {% endif %}
                                        {% if chat_message.attachment %}
                                        <p class="attachment"><a href="/media/{{ chat_message.attachment }}" style="color: black;"><img src="{% static "images/attachment.png" %}" width=20 height=20/>{{ chat_message.attachment_original_name }}</a></p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div id="progress" style="display:none; position: absolute; bottom: 30px;padding: 3px;">
                                <div id="bar"></div>
                                <div id="percent">0%</div >
                            </div>
                        </div>
                        <form style="display: none;" id="id_tutor_chat_form" action="{% url "ajax_tutor_chat" %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="lesson_id" id="id_lesson" {% if live_lesson %} value="{{ live_lesson.pk }}" {% else %} value="-1" {% endif %}/>
                            <input type="hidden" name="whiteboard_id" id="id_whiteboard" {% if whiteboard %} value="{{ whiteboard.pk }}" {% else %} value="-1" {% endif %}/>
                            <input type="text" name="wb_tutor_id" value="{{ wb_tutor_id }}"/>
                            <input type="text" name="tutor_chat_text">
                            <input type="file" size="60" name="upload_file">
                            <input name="tutor_chat_submit" type="submit" value="Submit">
                        </form>
                        <div class="wb-chat_txt">
                            <input id="id_wb_chat_text_input" type="text" placeholder="Enter a Message">
                            <a id="id_upload_file_btn" href="#"></a> </div>
                    </div>

                    <script>

                        function render_tutor_chat_row(user_id,url,user_name,user_img,msg,msg_date,attachment,attachment_original_name,sender){

                            var chat_row = $("#id_hidden_wb_chat_row").html();
                            chat_row = chat_row.replace("USER_ID",user_id);
                            chat_row = chat_row.replace("USER_PROFILE_URL",url);
                            chat_row = chat_row.replace("USER_FULL_NAME",user_name);
                            chat_row = chat_row.replace("USER_PROFILE_PICTURE",user_img);
                            //chat_row = chat_row.replace("USER_MESSAGE","<p class=\"msg\" style=\"color: black;\">"+ msg +"</p>");
                            if(msg != undefined && msg != ""){
                                chat_row = chat_row.replace("USER_MESSAGE","<p class=\"msg\" style=\"color: black;\">"+ msg +"</p>");
                            }
                            chat_row = chat_row.replace("MSG_DATE_TITLE",msg_date);

                            //chat_row = chat_row.replace("MESSAGE_ATTACHMENT",);
                            if(attachment != undefined && attachment != ""){
                                chat_row = chat_row.replace("MESSAGE_ATTACHMENT","<p class=\"attachment\"><a href='/media/"+ attachment +"' style='color: black;'><img src=\"/static/images/attachment.png\" width=20 height=20/>"+attachment_original_name+"</a></p>");
                                //chat_row.find(".attachment").css("display","none");
                            }
                            chat_row = chat_row.replace("USER_MESSAGE","");
                            chat_row = chat_row.replace("MESSAGE_ATTACHMENT","");
                            if(sender == true){

                            }
                            return chat_row;
                        }

                        $('#id_wb_chat_content_container').animate({scrollTop: 1000000}, 0);

                        $(document).ready(function(){

                            console.log($('#id_wb_chat_content_container')[0].scrollHeight);

                            $('#id_wb_chat_content_container').scroll(function() {
                                if($('#id_wb_chat_content_container').scrollTop() == $('#id_wb_chat_content_container').height()) {
                                       // ajax call get data from server and append to the div
                                       alert("");
                                }
                            });

                            $('#id_wb_chat_content_container').animate({scrollTop: $('#id_wb_chat_content_container').height()}, 0);

                            function clear_tutor_message_form(){
                                $("input[name=tutor_chat_text]").val("");
                                $("input[name=upload_file]").val("");
                                $("#id_wb_chat_text_input").val("");
                            }

                            var options = {
                                beforeSend: function()
                                {
                                    if($("input[name=upload_file]").val() != ""){
                                        $("#progress").show();
                                        //clear everything
                                        $("#bar").width('0%');
                                        $("#percent").html("0%");
                                    }
                                },
                                uploadProgress: function(event, position, total, percentComplete)
                                {
                                    $("#bar").width(percentComplete+'%');
                                    $("#percent").html(percentComplete+'%');

                                },
                                success: function(data)
                                {
                                    $("#bar").width('100%');
                                    $("#percent").html('100%');

                                    var data = jQuery.parseJSON(data);
                                    console.log(data);
                                    var sender = data.data.sender;
                                    var dta = render_tutor_chat_row(sender.id,sender.url,sender.name,sender.img,data.data.msg,sender.msg_date,data.data.attachment,data.data.attachment_name,true);

                                    $("#id_wb_chat_content_container").append(dta);

                                    $('#id_wb_chat_content_container').scrollTop($('#id_wb_chat_content_container').scrollHeight);

                                },
                                complete: function(response)
                                {
                                    $("#progress").hide();
                                    clear_tutor_message_form();
                                },
                                error: function()
                                {

                                }

                            };

                            $("#id_tutor_chat_form").ajaxForm(options);

                            $("#id_upload_file_btn").click(function(e){
                                e.preventDefault();
                                $("input[name=upload_file]").click();
                            });


                            $("#id_wb_chat_text_input").keypress(function(event){
                                if(event.keyCode == 13){
                                    $("input[name=tutor_chat_submit]").click();
                                }
                            });

                            $("#id_wb_chat_text_input").keyup(function(event){
                                $("input[name=tutor_chat_text]").val($("#id_wb_chat_text_input").val());
                            });

                            $("input[name=upload_file]").change(function(e){
                                $("input[name=tutor_chat_submit]").click();
                            });
                        });


                        if(window.socket != undefined){
                            window.socket.on("wboard_tchat_rcvd", function(data)
                            {
                                var data = jQuery.parseJSON(data);
                                var dta = render_tutor_chat_row(data.id,data.url,data.name,data.img,data.msg,data.msg_date,data.attachment,data.attachment_name,false);

                                $("#id_wb_chat_content_container").append(dta);

                                $('#id_wb_chat_content_container').scrollTop($('#id_wb_chat_content_container').scrollHeight);

                            });
                        };

                        //$('#id_wb_chat_content_container').scrollTop($('#id_wb_chat_content_container')[0].scrollHeight);


                    </script>

                    <div class="left_detail" id="id_whiteboard_bottom_bar" style="display: none;">
                        <div class="sharing radius3"><img src="{% static "images/wb_online.png" %}" width="14" height="14" alt="img">Sharing</div>
                        <div class="different_detail">

                            <div class="different_detail_inner">
                                <div class="different_detail_img"> <img src="{% static "images/help_icon.png" %}" width="17" height="17" alt="img"> </div>
                                <a href="#"> Help </a>
                            </div>

                            <div class="different_detail_inner">
                                <div class="different_detail_img"><img src="{% static "images/wb_setting_icon.png" %}" width="19" height="19" alt="img"> </div> <a href="#"> Settings </a>
                            </div>
                            <div class="different_detail_inner">
                                <div class="different_detail_img"><img src="{% static "images/wb_screensharing_icon.png" %}" width="20" height="19" alt="img"> </div> <a href="#"> Screensharings </a>
                                <div class="onoffswitch6">
                                    <input type="checkbox" name="onoffswitch6" class="onoffswitch6-checkbox" id="myonoffswitch6" checked>
                                    <label class="onoffswitch6-label" for="myonoffswitch6">
                                        <span class="onoffswitch6-inner"></span>
                                        <span class="onoffswitch6-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="different_detail_inner">
                                <div class="different_detail_img"> <img src="{% static "images/video_icon.png" %}" width="25" height="14" alt="img"> </div>
                                <div class="onoffswitch3">
                                    <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
                                    <label class="onoffswitch3-label" for="myonoffswitch3">
                                        <span class="onoffswitch3-inner"></span>
                                        <span class="onoffswitch3-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="different_detail_inner">
                                <div class="different_detail_img"><img src="{% static "images/wb_sound_icon.png" %}" width="21" height="19" alt="img"> </div>
                                <div class="onoffswitch4">
                                    <input type="checkbox" name="onoffswitch4" class="onoffswitch4-checkbox" id="myonoffswitch4">
                                    <label class="onoffswitch4-label" for="myonoffswitch4">
                                        <span class="onoffswitch4-switch"></span>
                                        <span class="onoffswitch4-inner"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="hide_menu"><img src="{% static "images/hide_menu_icon.png" %}" width="22" height="22" alt="img"> Hide </div>

                    <div class="tutor radius3"><img src="{% static "images/wb_online.png" %}" width="14" height="14" alt="img">Tutor</div>

                    <li><a id="id_tab_code_editor" href="#tabs-1">Code Editor</a></li>
                    <li><a id="id_tab_text_editor" href="#tabs-2">Text Editor</a></li>
                    <li><a id="id_tab_white_board" href="#tabs-3">Whiteboard</a></li>


                </ul>
            </div>
        </div>

            <div id="id_hidden_code_pad_info" style="display: none;">

            </div>
            <div id="id_hidden_text_pad_info" style="display: none;">

            </div>

            <div id="loading_container" style="width:100px;min-height: 700px;display:none;">
        <p style="font-weight: bold;font-size: 30px">Loading...</p>
    </div>

    <script>
        $(document).ready(function()
        {
            $(window).resize(function()
            {
                $('#loading_container').css({
                            position: 'absolute'
                        });

                $('#loading_container').css({
                            left: ($(window).width() - $('#loading_container').outerWidth()) / 2,
                            top: ($(window).height() - $('#loading_container').outerHeight()) / 2
                        });
            });

            // call `resize` to center elements
            $(window).resize();
        });
    </script>

    <script>

        $(".show_menu_icon").click(function () {
            $("ul.ui-tabs-nav").show();
            $(".show_menu_icon").hide();
        });
        $(".hide_menu").click(function () {
            $("ul.ui-tabs-nav").hide();
            $(".show_menu_icon").show();
        });

        $(document).ready(function()
        {
            $("ul.ui-tabs-nav").show();
            $(".show_menu_icon").hide();

            $("#id_hide_video_window").click(function(e)
            {
                console.log("Hide button clicked!");
                $("#id_video_sharing_container").hide();
            });

            //$("#id_video_sharing_container").draggable().resizable();

            $(".onoffswitch4").click(function()
            {
                //alert($(this).val());
            });

        });

    </script>
    <script>
        $(".tutor").click(function () {
            $(".wb-chat").show();
        });
        $("a#hide").click(function () {
            $(".wb-chat").hide();
        });
    </script>
    <script src="{% static "js/jquery-ui-1.10.4.custom.js" %}"></script>
    <script>
        $( "#tabs" ).tabs(
            {
                active: 2
            });

        function load_js_async(url)
        {
            $.ajax({
                url: url,
                dataType: 'script',
                cache: true,
                success: function(data)
                {
                    console.log("script loaded successfully.");
                    console.log("script: "+url);
                },
                error: function(jqxhr, status, error)
                {

                }
            });
        }

        var code_editor_loaded = false;
        var text_editor_loaded = false;
        var drawing_board_loaded = true;
        var js_script_loaded = false;
        function load_whiteboard_scripts_async()
        {
            if(!js_script_loaded)
            {
                js_script_loaded = true;
            }
        };

        window.code_tabs_list = {};

        $("#id_tab_code_editor").click(function(e){
           if(!code_editor_loaded)
            {
                $('#ctt').tabs({
                    onSelect: function(title,index){
                        //console.log("Tab Selected..."+index);
                        var pad_id = $("#id_hidden_codepad_id_"+title).val();
                        var pad_language = $("#id_hidden_codepad_lan_"+title).val();
                        var tab_element_id = $("#id_hidden_codepad_tab_id_"+title).val();
                        if(!window.code_tabs_list[pad_id]){
                            console.log("Codepad: "+pad_id+" is loading...");
                            AddNewCodePad(tab_element_id,pad_id,pad_language,pad_id);
                            window.code_tabs_list[tab_element_id] = true;
                        }
                        else{
                            console.log("Codepad is already loaded...");
                        }
                    },
                    onBeforeClose: function(title){
                        return confirm('Are you sure you want to close ' + title);
                    }
                });
                {% for code_pad in whiteboard.code_pads.all %}

                    $('#ctt').tabs('add',{
                        title:"{{ code_pad.pad_nid }}",
                        id: "id_codepad_tab_{{ code_pad.pad_nid }}",
                        content:'',
                        {% if forloop.first %}
                            closable:false
                        {% else %}
                            closable: false
                        {% endif %}
                    });

                    var hidden_info = '<input type="hidden" id="id_hidden_codepad_id_{{ code_pad.pad_nid }}" value="{{ code_pad.pad_id }}"/>'+'<input type="hidden" id="id_hidden_codepad_lan_{{ code_pad.pad_nid }}" value="{{ code_pad.pad_language }}">';
                    hidden_info += '<input type="hidden" id="id_hidden_codepad_tab_id_{{ code_pad.pad_nid }}" value="{{ code_pad.pad_nid }}"/>';
                    $("#id_hidden_code_pad_info").append(hidden_info);
                    window.code_tabs_list["{{ code_pad.pad_nid }}"] = false;

                    {% if forloop.last %}
                        AddNewCodePad("{{ code_pad.pad_nid }}","{{ code_pad.pad_id }}","{{ code_pad.pad_language }}",{{ code_pad.id }});
                        window.code_tabs_list["{{ code_pad.pad_nid }}"] = true;
                    {% endif %}
                    code_editor_loaded = true;
                {% endfor %}
            }
            else
            {
                console.log("Code Editor Already Loaded!");
            } 
        });

        window.text_tabs_list = {};

        $("#id_tab_text_editor").click(function(e)
        {
            if(!text_editor_loaded)
            {
                $('#tt').tabs({
                    onSelect: function(title,index){
                        //if(window.text_tabs_list[])
                        console.log("Tab Selected..."+index);
                        console.log("Panel: "+$("#tt .ui-tabs-panel:visible").attr("id"));
                        var pad_nid = $("#id_hidden_textpad_nid_"+title).val();
                        var pad_id = $("#id_hidden_textpad_id_"+title).val();
                        if(!window.text_tabs_list[pad_nid]){
                            //console.log("Text pad: "+index+" loading...");
                            //console.log(pad_nid+" "+pad_id);
                            AddNewPad(pad_nid,pad_id);
                            window.text_tabs_list[pad_nid] = true;
                        }
                        else{
                            //console.log("Text pad "+index+" is already loaded...");
                        }
                    },
                    onBeforeClose: function(title){
                         return confirm('Are you sure you want to close ' + title);
                    }
                });

                {% for text_pad in whiteboard.text_pads.all %}

                    $('#tt').tabs('add',{
                        title:{{ text_pad.pad_nid }},
                        id: "id_pad_tab_{{ text_pad.pad_nid }}",
                        content:'',
                        {% if forloop.first %}
                        closable:false
                        {% else %}
                        closable: false
                        {% endif %}
                    });

                    var hidden_text_pad_info = '<input type="hidden" id="id_hidden_textpad_nid_{{ text_pad.pad_nid }}" value="{{ text_pad.pad_nid }}"/><input type="hidden" id="id_hidden_textpad_id_{{ text_pad.pad_nid }}" value="{{ text_pad.id }}"/>';
                    $("#id_hidden_text_pad_info").append(hidden_text_pad_info);

                    window.text_tabs_list["{{ text_pad.pad_nid }}"] = false;


                    {% if forloop.last %}
                        AddNewPad("{{ text_pad.pad_nid }}",{{ text_pad.id }});
                        window.text_tabs_list["{{ text_pad.pad_nid }}"] = true;
                    {% endif %}
                    text_editor_loaded = true;
                {% endfor %}
            }
        });
        $("#id_tab_white_board").click(function(e)
        {
            if(!drawing_board_loaded)
            {
                $("#loading_container").show();
                $.ajax({
                    type: "GET",
                    url: "/ajax/drawing_board",
                    data: {},
                    success: function(data)
                    {
                        $("#tabs-3").html(data);
                        drawing_board_loaded = true;
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {
                    $("#loading_container").hide();
                });
            }
            else
            {
                console.log("Drawing Board Already Loaded!");
            }
        });


        $(document).ready(function(){
            //$(".tabbings").show();
            if(!drawing_board_loaded)
            {
                //$("#loading_container").show();
                var lesson_id = {% if live_lesson %} {{ live_lesson.pk }} {% else %} -1 {% endif %};
                $.ajax({
                    type: "GET",
                    url: "/ajax/drawing_board",
                    data: {"lesson_id": lesson_id },
                    success: function(data)
                    {
                        $("#tabs-3").html(data);

                        <!--$("#tt").show();-->
                        <!--$("#ctt").show();-->
                        <!--$("#id_whiteboard_bottom_bar").show();-->
                        <!--$("#id_loading_whiteboard").hide();-->
                        <!--$("#id_demo_lesson_progress").show();-->
                        drawing_board_loaded = true;
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                }).done(function( msg ) {
                     $("#loading_container").hide();
                });
            }
            else
            {
                console.log("Drawing Board Already Loaded!");
            }
        });


    </script>
{% endblock bodycontent %}