{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}

{% block bodycontent %}
    <div class="contnt">

        <div class="wrapper">
            <div class="champ_student_profile radius3">
                <div class="champ_job_inner">

                    <form name="wishlist_form" class="wishlist" action="{% url 'wish_list' %}" method="POST">
                        {% csrf_token %}
                        <h3 class="champ_aboutme_heading3">We love to hear from you!</h3>
                        <p class="tuition_heading_detail">If you find that there are web features or business processes that needed improvements, feel free to let us know. We want to improve ourselves, so that we can make you become a more successful Individual.</p>
                        <p>We Looking forward to hearting from You.</p>
                        <span>Thank you.</span>
                        <div class="champ_select_lesson">
                            <select name="type">
                                <option value="Website Improvements">Website Improvements</option>
                                <option value="Business Process">Business Process</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>

                        <textarea id="commments" placeholder="Enter Your Comments" name="comments"></textarea>
                        <div class="error-hint" style="clear: both;"></div>
                        <input type="submit" value="SUBMIT" id="id_wishlist_post_button">
                    </form>

                </div>
            </div>
        </div>
    </div>

<script>

        $("#id_wishlist_post_button").click(function(e){
            e.preventDefault();
            var error = false;
            var details = $("#commments").val();
            if($.trim(details) == "") {
                $("#commments").focus();
                $("#commments").next().text("This field is required");
                error = true;
            }
            else {
            	$("#commments").next().text("");
            }

            if(error) {
            	return false;
            }

            $("form[name=wishlist_form]").submit();
        });

</script>

{% endblock bodycontent %}
