{% extends "master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}

{% block script_head_extra %}
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
    <script src="{% static "js/select2.min.js" %}"></script>
    <link href="{% static "css/datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
    <style>
        .written-lesson-textarea{
            clear: both;
            width: 100%;
            border: 1px solid #e5e5e5;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -moz-border-bottom-left-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            -khtml-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
            -moz-border-bottom-right-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            -khtml-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
            -moz-border-top-left-radius: 5px;
            -webkit-border-top-left-radius: 5px;
            -khtml-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
            -moz-border-top-right-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -khtml-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
            resize: vertical;
            padding: 20px;
        }

        h1 {
            font-size: 17px;
            font-weight: bold;
        }

        h2 {
            font-size: 15px;
            font-weight: bold;
        }

    </style>
{% endblock script_head_extra %}

{% block bodycontent %}
    <div style="position: relative; top: 70px; padding: 10px;">
        {% if written_lesson %}
            <div class="container">
                <div class="row">
                    <div class='col-sm-12'>
                        {% if written_lesson.user.pk == request.user.pk %}
                            <h1>You Requested A Written Lesson from {{ written_lesson.request_user.champuser.fullname }}</h1>
                        {% elif written_lesson.request_user.pk == request.user.pk  %}
                            <h1>Written Lesson Request from {{ written_lesson.user.champuser.fullname }}</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="container" style="padding: 20px; border: 1px solid #d5d5d5; border-radius: 7px;">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="font-size: 14px; font-weight: normal; padding: 7px;"><b>Request Date:</b> {{ written_lesson.date_created|fromunix|localtime|format_datetime }}</div>
                        <div style="font-size: 14px; font-weight: normal; padding: 7px;"><b>Due Date:</b> {{ written_lesson.due_date|fromunix|localtime|format_datetime }}</div>
                        <div style="font-size: 14px; font-weight: normal; padding: 7px;"><b>Subject:</b> {{ written_lesson.course.name }}</div>
                        <div style="font-size: 14px; font-weight: normal; padding: 7px;"><b>Length:</b> {{ written_lesson.duration }} minutes</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="height: 10px;">

                    </div>
                </div>
                {% if written_lesson.user.pk == request.user.pk %}
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>
                                You Asked:
                            </h2>
                            <p style="font-size: 13px; color: #000000; width: 100%; clear: both;">
                                {{ written_lesson.message }}
                            </p>
                            {% if written_lesson.attachments.all.exists %}
                            <div>
                                {% for attachment in written_lesson.attachments.all %}
                                    {% if attachment.thumbnail %}
                                        <a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}"/></a>
                                    {% else %}
                                        <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="height: 60px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Comments:</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
{#                        <div class="col-sm-">#}
{##}
{#                        </div>#}
                        <div class="col-sm-12">
                        {% for wr_comment in written_lesson.writtenlessoncomment_set.all %}
                            <table class="table borderless comment-pad">
                                <tbody>
                                <tr>
                                    <td>
                                        {% if wr_comment.created_by.pk == request.user.pk %}
                                            <h2>You Said</h2>
                                        {% else %}
                                            <h2>{{ wr_comment.created_by.champuser.fullname }} Said</h2>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <span data-livestamp="{{ wr_comment.date_created|fromunix|localtime|format_datetime }}"></span>
{#                                            {{ wr_comment.create_date|date_diff:"%b %d, %Y %H:%M%p" }}#}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {% if wr_comment.comment_text %}
                                        <p style="font-size: 13px; color: #000000; width: 100%; clear: both;">
                                            {{ wr_comment.comment_text }}
                                        </p>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if wr_comment.writtenlessoncommentattachment_set.all.exists %}
                                <tr>
                                    <td>
                                        <p>
                                            {% if wr_comment.writtenlessoncommentattachment_set.all.first.thumbnail %}
                                                <a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ wr_comment.writtenlessoncommentattachment_set.all.first.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ wr_comment.writtenlessoncommentattachment_set.all.first.thumbnail }}"/></a>
                                            {% else %}
                                                <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ wr_comment.writtenlessoncommentattachment_set.all.first.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ wr_comment.writtenlessoncommentattachment_set.all.first.attachment_name }}</a>
                                            {% endif %}
                                        </p>
                                    </td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>

                        {% endfor %}
                        </div>
                    </div>
                    {% if written_lesson.status == 0 %}
                    <div class="row">
                        <div class="col-sm-12" style="height: 60px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6">
                            <form action="/written-lesson/" method="POST" name="written-comment-form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div>Add Comment: </div>
                                <textarea name="comment_text" placeholder="Add your comment" class="form-control written-lesson-textarea"></textarea>
                                <br>
                                <input type="hidden" name="action" value="written-lesson-comment"/>
                                <input type="hidden" name="lesson_id" value="{{ request.GET.lesson }}">
                                <div class="outer_browse_btn">
                                    <input name="attached_file" id="btn" type="file" style="display:none;" onchange="document.getElementById('file').value=this.value.substring(this.value.lastIndexOf('\\')+1);">

                                    <input id="file" type="text" class="browse_text" placeholder="No File Selected" readonly onfocus="this.blur()">

                                    <input type="button" onclick="document.getElementById('btn').click();" value="Browse" class="browse_btn" />
                                </div>
                                <input name="submit" id="id_written_comment_submit" type="submit" class="lesson_bx_submit" value="Submit">
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    {% if written_lesson.status == 0 %}
                        <div class="row">
                            <div class="col-sm-12" style="height: 60px;">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>{{ written_lesson.request_user.champuser.fullname }} has not replied yet.</h2>
                            </div>
                        </div>
                    {% elif written_lesson.status == 1 %}
                        <div class="row">
                            <div class="col-sm-12" style="height: 60px;">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>This lesson was cancelled.</h2>
                            </div>
                        </div>
                    {% elif written_lesson.status == 4 %}
                        <div class="row">
                            <div class="col-sm-12" style="height: 60px;">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>
                                    {{ written_lesson.request_user.champuser.fullname }}'s Answer:
                                </h2>
                                <p style="color: #000000; width: 100%; clear: both;">
                                    {{ written_lesson.answer.text }}
                                </p>
                                {% if written_lesson.answer.lessonanswerattachment_set.all %}
                                    <div>
                                        {% for attachment in written_lesson.answer.lessonanswerattachment_set.all %}
                                            {% if attachment.thumbnail %}
                                                <a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}"/></a>
                                            {% else %}
                                                <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% elif written_lesson.request_user.pk == request.user.pk  %}
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>
                                {{ written_lesson.user.champuser.fullname }} Asked:
                            </h2>
                            <p style="font-size: 13px; color: #000000; width: 100%; clear: both;">
                                {{ written_lesson.message }}
                            </p>
                            {% if written_lesson.attachments.all.exists %}
                            <div>
                                {% for attachment in written_lesson.attachments.all %}
                                    {% if attachment.thumbnail %}
                                        <a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}"/></a>
                                    {% else %}
                                        <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="height: 60px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Comments:</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
{#                        <div class="col-sm-4">#}
{##}
{#                        </div>#}
                        <div class="col-sm-12">
                            {% for wr_comment in written_lesson.writtenlessoncomment_set.all %}
                                <table class="table borderless comment-pad">
                                    <tbody>
                                    <tr>
                                        <td>
                                            {% if wr_comment.created_by.pk == request.user.pk %}
                                                <h2>You Said</h2>
                                            {% else %}
                                                <h2>{{ wr_comment.created_by.champuser.fullname }} Said</h2>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                <span data-livestamp="{{ wr_comment.date_created|fromunix|localtime|format_datetime }}"></span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {% if wr_comment.comment_text %}
                                            <p style="font-size: 13px; color: #000000; width: 100%; clear: both;">
                                                {{ wr_comment.comment_text }}
                                            </p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% if wr_comment.writtenlessoncommentattachment_set.all.exists %}
                                    <tr>
                                        <td>
                                            <p>
                                                {% if wr_comment.writtenlessoncommentattachment_set.all.first.thumbnail %}
                                                    <a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ wr_comment.writtenlessoncommentattachment_set.all.first.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ wr_comment.writtenlessoncommentattachment_set.all.first.thumbnail }}"/></a>
                                                {% else %}
                                                    <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ wr_comment.writtenlessoncommentattachment_set.all.first.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ wr_comment.writtenlessoncommentattachment_set.all.first.attachment_name }}</a>
                                                {% endif %}
                                            </p>
                                        </td>
                                    </tr>
                                    {% endif %}
                                        </tbody>
                                        </table>

                            {% endfor %}
                        </div>
                    </div>
                    {% if written_lesson.status == 0 %}
                        <div class="row">
                            <div class="col-sm-12" style="height: 60px;">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">

                            </div>
                            <div class="col-sm-6">
                                <form action="/written-lesson/" method="POST" name="written-comment-form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div>Add Comment: </div>
                                    <textarea name="comment_text" placeholder="Add your comment" class="form-control written-lesson-textarea"></textarea>
                                    <br>
                                    <input type="hidden" name="action" value="written-lesson-comment"/>
                                    <input type="hidden" name="lesson_id" value="{{ request.GET.lesson }}">
                                    <div class="outer_browse_btn">
                                        <input name="attached_file" id="btn" type="file" style="display:none;" onchange="document.getElementById('file').value=this.value.substring(this.value.lastIndexOf('\\')+1);">

                                        <input id="file" type="text" class="browse_text" placeholder="No File Selected" readonly onfocus="this.blur()">

                                        <input type="button" onclick="document.getElementById('btn').click();" value="Browse" class="browse_btn" />
                                    </div>
                                    <input name="submit" id="id_written_comment_submit" type="submit" class="lesson_bx_submit" value="Submit">
                                </form>
                            </div>
                        </div>
                    {% endif %}
                    {% if written_lesson.status == 0 %}
                        <div class="row">
                            <div class="col-sm-12" style="height: 60px;">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="container">
                                    <div class="row">
                                        <div class='col-sm-12'>
                                            <h1>Reply With Answer</h1>
                                        </div>
                                    </div>
                                </div>
                                <form action="/written-lesson/" method="post" name="written-lesson-form" id="id_written_lesson_form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="container" style="padding: 20px; border: 1px solid #d5d5d5; border-radius: 7px; width: 100%;">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h2>
                                                    Reply {{ written_lesson.user.champuser.fullname }} with answers and all the attachment.
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class='col-sm-12' style="height: 20px;">

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class='col-sm-12'>
                                                <input type="hidden" name="action" value="written-lesson-answer"/>
                                                <input type="hidden" name="lesson_id" value="{{ request.GET.lesson }}">
                                                <textarea name="written_lesson_text" placeholder="Write about what you want help with..." class="form-control written-lesson-textarea" style="height: 300px"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class='col-sm-12' style="height: 20px;">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class='col-sm-6'>
                                                <div id="id_file_input_container_hint" style="display: none;">
                                                    <h4>Maximum 10 files can be uploaded.</h4>
                                                </div>
                                                <div id="id_file_input_container">
                                                    <button class="btn btn-primary" id="id_attach_file"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Attach File(s)</button>
                                                    <br>
                                                    <p class="pull-left">Maximum 10 files can be uploaded.</p>
                                                    <input type="file" name="written_file" class="form-control pull-left" id="id_attached_file" style="display: none;"/>
                                                </div>
                                                <div id="id_attached_files" class="pull-left" style="padding: 3px; margin-top: 1px;width: 100%;"></div>
                                            </div>
                                            <div class='col-sm-6'>
                                                <button type="submit" name="written_lesson_submit" class="btn btn-primary pull-right" id="id_written_lesson_form_submit">Submit Answer</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-sm-12" style="height: 60px;">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>
                                    Your Answer:
                                </h2>
                                <p style="font-size: 13px; color: #000000; width: 100%; clear: both;">
                                    {{ written_lesson.answer.text }}
                                </p>
                                {% if written_lesson.answer.lessonanswerattachment_set.all %}
                                    <div>
                                        {% for attachment in written_lesson.answer.lessonanswerattachment_set.all %}
                                            {% if attachment.thumbnail %}
                                                <a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}">&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}"/></a>
                                            {% else %}
                                                <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <div class='col-sm-12'>
                        <h1>Request a written lesson from Tutor</h1>
                    </div>
                </div>
            </div>
            <form action="/written-lesson/" method="post" name="written-lesson-form" id="id_written_lesson_form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container" style="padding: 20px; border: 1px solid #d5d5d5; border-radius: 7px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>
                                Request a Written Lesson to help you understand and complete your assignment or homework
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12' style="height: 20px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-8'>
                            Tutor:
                            <select name="select_tutor" id="id_written_lesson_tutor">
                                <option value="---">Select Tutor</option>
                                {% for tutor in tutors %}
                                    <option value="{{ tutor.user.pk }}">{{ tutor.fullname }}</option>
                                {% endfor %}
                            </select>
                            &nbsp; &nbsp;
                            Subject:
                            <select name="select_subject" id="id_written_lesson_subject">
                                <option value="---">Select Subject</option>
                            </select>
                        </div>
                        <div class='col-sm-6'>

                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12' style="height: 20px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12'>
                            <textarea name="written_lesson_text" placeholder="Write about what you want help with..." class="form-control written-lesson-textarea" style="height: 300px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12' style="height: 20px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="font-weight: bold;">
                                How much time do you want your tutor to spend on this lesson?
                            </div>
                            <select name="duration" class="form-control" style="width: 300px; padding: 1px; cursor: pointer; height: 40px;">
                                <option value="---">Select Duration</option>
                                {% for value,text in lesson_time_choices %}
                                    <option value="{{ value }}">{{ text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12' style="height: 20px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="font-weight: bold;">
                                Select Due Date:
                            </div>
                            <input type="text" placeholder="Select the due date" name="due-date" class="form-control" id="id_due_date" style="width: 300px; height: 40px;"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12' style="height: 20px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="font-weight: bold;">
                                Select Due Time:
                            </div>
                            <input type="text" placeholder="Select the due time" name="due-time" class="form-control" id="id_due_time" style="width: 300px; height: 40px;"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12' style="height: 20px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-6'>
                            <div id="id_file_input_container_hint" style="display: none;">
                                <h4>Maximum 10 files can be uploaded.</h4>
                            </div>
                            <div id="id_file_input_container">
                                <button class="btn btn-primary" id="id_attach_file"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Attach File(s)</button>
                                <br>
                                <p class="pull-left">Maximum 10 files can be uploaded.</p>
                                <input type="file" name="written_file" class="form-control pull-left" id="id_attached_file" style="display: none;"/>
                            </div>
                            <div id="id_attached_files" class="pull-left" style="padding: 3px; margin-top: 1px;width: 100%;"></div>
                        </div>
                        <div class='col-sm-6'>
                            <button type="submit" name="written_lesson_submit" class="btn btn-primary pull-right" id="id_written_lesson_form_submit">Submit Request</button>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
    <script>
        $(document).ready(function(){

            $("#id_written_comment_submit").click(function(e){
                //e.preventDefault();
                if($("textarea[name=comment_text]").val() == "" && $("input[name=attached_file]").val() == ""){
                    return false;
                }
                $("form[name=written-comment-form]").submit();
            });

            var file_ = $("#id_attached_file").clone();
            var file_index = 1;
            var max_files_count = 10;
            var files_count = 0;

            $("#id_attach_file").click(function(e){
                e.preventDefault();
                $("#id_attached_file").click();
            });

            $(document).on("change","#id_attached_file",function(e){
                var _this = $(this);
                var files = $(this).prop("files");
                var clone = $(this).clone();
                _this.removeProp("id");
                console.log($(clone).prop("files").length);
                console.log(files.length);
                for(var j = 0 ; j < files.length ; j++){
                    _this.prop("name", _this.prop("name") + file_index);
                    var html = "<div style='width: 100%; margin-top: 4px; padding: 10px;'><span style='width: 230px;' class='pull-left'>"+ files[j].name +"</span><i class='glyphicon glyphicon-remove pull-right cancel-file' data-index='"+ file_index +"' style='cursor: pointer;'></i></div>";
                    _this.css("display","none");
                    $("#id_attached_files").append(html);
                    $("#id_attached_files").append(_this);
                    files_count ++;
                    if(files_count >= max_files_count){
                        $("#id_file_input_container_hint").show();
                        $("#id_file_input_container").hide();
                    }
                    else{
                        $("#id_file_input_container_hint").hide();
                        $("#id_file_input_container").show();
                    }
                }
                $("#id_file_input_container").append(clone);
                file_index ++;
                {#            file_.insertAfter($("#id_attached_files"));#}
                {#            $("#id_attached_files").find("input[type=file]").each(function(i){#}
                {#                console.log($(this).prop("files")[0].name);#}
                {#            })#}
            });

            $(document).on("click",".cancel-file", function(e){
                var _this_index = $(this).data("index");
                var target_name = file_.prop("name")+_this_index;
                $("input[name="+target_name+"]").remove();
                $(this).parent().remove();
                files_count --;
                if(files_count < max_files_count){
                    $("#id_file_input_container_hint").hide();
                    $("#id_file_input_container").show();
                }
            });


            $("#id_written_lesson_tutor").select2({
              width: 350,
              height: 90,
              ajax: {
                url: "/ajax/tutor-list/",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                  return {
                    q: params.term, // search term
                  };
                },
                processResults: function (data, page) {
                  return {
                        results: $.map(data.items, function(obj) {
                            return { id: obj.id, text: obj.name };
                        })
                    };
                },
                cache: true
              },
              escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
              minimumInputLength: 1,
            }).on("change",function(e){
                var tid = $(this).val();
                $("#id_written_lesson_subject").prop("disabled",true);
                $.ajax({
                    type: "GET",
                    url: "/ajax/written-lesson-subjects/",
                    data: { tid: tid },
                    success: function(content)
                    {
                        data = jQuery.parseJSON(content);
                        $("#id_written_lesson_subject").html("");
                        for(var i = 0 ; i < data["data"].length ; i++){
                            $("#id_written_lesson_subject").append("<option value='"+ data["data"][i].id +"'>"+ data["data"][i].name +"</option>");
                        }
                        $("#id_written_lesson_subject").prop("disabled",false);
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {

                });
            });

            /*$("#id_written_lesson_tutor").select2().on("change",function(e){
                var tid = $(this).val();
                $("#id_written_lesson_subject").prop("disabled",true);
                $.ajax({
                    type: "GET",
                    url: "/ajax/written-lesson-subjects/",
                    data: { tid: tid },
                    success: function(content)
                    {
                        data = jQuery.parseJSON(content);
                        $("#id_written_lesson_subject").html("");
                        for(var i = 0 ; i < data["data"].length ; i++){
                            $("#id_written_lesson_subject").append("<option value='"+ data["data"][i].id +"'>"+ data["data"][i].name +"</option>");
                        }
                        $("#id_written_lesson_subject").prop("disabled",false);
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {

                });
            });*/

            $("#id_due_date").datetimepicker({
                //sideBySide: true
                format: 'DD/MM/YYYY'
            });

            $("#id_due_time").datetimepicker({
                //sideBySide: true
                format: 'LT'
            });

            $("#id_written_lesson_subject").select2({ width: 250 }).on("change",function(){

            });

            $(".select2-selection").css("height","35px");
            $(".select2-selection").css("border","1px solid #CFCFCF");

            //$('b[role="presentation"]').hide();
            //$('.select2-selection__arrow').append('<i class="fa fa-shield"></i>');

            $("#id_written_lesson_form_submit").click(function(e){
                e.preventDefault();
                var form_data = $("#id_written_lesson_form").serialize();
                console.log(form_data);
                $("#id_written_lesson_form").submit();
            });
        });
    </script>
{% endblock bodycontent %}