{% extends "base.html" %}
{% load staticfiles %}

{% block script_extra %}
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
    <script src="{% static "js/select2.min.js" %}"></script>
    <link href="{% static "css/datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
    <style>
        .written-lesson-textarea{
            clear: both;
            width: 100%;
            border: 1px solid #e5e5e5;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -moz-border-bottom-left-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            -khtml-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
            -moz-border-bottom-right-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            -khtml-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
            -moz-border-top-left-radius: 5px;
            -webkit-border-top-left-radius: 5px;
            -khtml-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
            -moz-border-top-right-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -khtml-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
            resize: vertical;
            padding: 20px;
        }

    </style>
{% endblock script_extra %}

{% block body %}
    {% block header %}
        {{ block.super }}
    {% endblock header %}
    {% block bodycontent %}
        <div style="margin-top: 70px; padding: 10px;">
            <div class="container">
                <div class="row">
                    <div class='col-sm-12'>
                        <h1>Request a written lesson from Tutor</h1>
                    </div>
                </div>
            </div>
            <form action="/ajax/written-lesson/" method="post" name="written-lesson-form" id="id_written_lesson_form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container" style="padding: 20px; border: 1px solid #d5d5d5; border-radius: 7px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>
                                Request a Written Lesson to help you understand and complete your assignment or homework
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12' style="height: 20px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-8'>
                            Tutor:
                            <select name="select_tutor" id="id_written_lesson_tutor">
                                <option value="---">Select Tutor</option>
                                {% for tutor in tutors %}
                                    <option value="{{ tutor.user.pk }}">{{ tutor.fullname }}</option>
                                {% endfor %}
                            </select>
                            &nbsp; &nbsp;
                            Subject:
                            <select name="select_subject" id="id_written_lesson_subject">
                                <option value="---">Select Subject</option>
                            </select>
                        </div>
                        <div class='col-sm-6'>

                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12' style="height: 20px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12'>
                            <textarea name="written_lesson_text" placeholder="Write about what you want help with..." class="form-control written-lesson-textarea" style="height: 300px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12' style="height: 20px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="font-weight: bold;">
                                How much time do you want your tutor to spend on this lesson?
                            </div>
                            <br>
                            <select name="duration" class="form-control" style="width: 200px; padding: 1px; cursor: pointer;">
                                <option value="---">Select Duration</option>
                                {% for value,text in lesson_time_choices %}
                                    <option value="{{ value }}">{{ text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12' style="height: 20px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="font-weight: bold;">
                                Select Due Date:
                            </div>
                            <br>
                            <input type="text" placeholder="Select the due date" name="due-date" class="form-control" id="id_due_date" style="width: 200px;"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-12' style="height: 20px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-6'>
                            <div id="id_file_input_container_hint" style="display: none;">
                                <h4>Maximum 10 files can be uploaded.</h4>
                            </div>
                            <div id="id_file_input_container">
                                <button class="btn btn-primary" id="id_attach_file"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Attach File(s)</button>
                                <br>
                                <p class="pull-left">Maximum 10 files can be uploaded.</p>
                                <input type="file" name="written_file" class="form-control pull-left" id="id_attached_file" style="display: none;"/>
                            </div>
                            <div id="id_attached_files" class="pull-left" style="padding: 3px; margin-top: 1px;width: 100%;"></div>
                        </div>
                        <div class='col-sm-6'>
                            <button type="submit" name="written_lesson_submit" class="btn btn-primary pull-right" id="id_written_lesson_form_submit">Submit Request</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endblock bodycontent %}
    {% block footer %}
        {% include "sections/footer.html" %}
    {% endblock footer %}
    {% block footernote %}
        {% include "sections/footernote.html" %}
    {% endblock footernote %}
{% endblock body %}
{% block more_extra %}
<script>
    $(document).ready(function(){

        var file_ = $("#id_attached_file").clone();
        var file_index = 1;
        var max_files_count = 10;
        var files_count = 0;

        $("#id_attach_file").click(function(e){
            e.preventDefault();
            $("#id_attached_file").click();
        });

        $(document).on("change","#id_attached_file",function(e){
            var _this = $(this);
            var files = $(this).prop("files");
            var clone = $(this).clone();
            _this.removeProp("id");
            console.log($(clone).prop("files").length);
            console.log(files.length);
            for(var j = 0 ; j < files.length ; j++){
                _this.prop("name", _this.prop("name") + file_index);
                var html = "<div style='width: 100%; margin-top: 4px; padding: 10px;'><span style='width: 230px;' class='pull-left'>"+ files[j].name +"</span><i class='glyphicon glyphicon-remove pull-right cancel-file' data-index='"+ file_index +"' style='cursor: pointer;'></i></div>";
                _this.css("display","none");
                $("#id_attached_files").append(html);
                $("#id_attached_files").append(_this);
                files_count ++;
                if(files_count >= max_files_count){
                    $("#id_file_input_container_hint").show();
                    $("#id_file_input_container").hide();
                }
                else{
                    $("#id_file_input_container_hint").hide();
                    $("#id_file_input_container").show();
                }
            }
            $("#id_file_input_container").append(clone);
            file_index ++;
{#            file_.insertAfter($("#id_attached_files"));#}
{#            $("#id_attached_files").find("input[type=file]").each(function(i){#}
{#                console.log($(this).prop("files")[0].name);#}
{#            })#}
        });

        $(document).on("click",".cancel-file", function(e){
            var _this_index = $(this).data("index");
            var target_name = file_.prop("name")+_this_index;
            $("input[name="+target_name+"]").remove();
            $(this).parent().remove();
            files_count --;
            if(files_count < max_files_count){
                $("#id_file_input_container_hint").hide();
                $("#id_file_input_container").show();
            }
        });

        $("#id_written_lesson_tutor").select2().on("change",function(e){
            var tid = $(this).val();
            $("#id_written_lesson_subject").prop("disabled",true);
            $.ajax({
                type: "GET",
                url: "/ajax/written-lesson-subjects/",
                data: { tid: tid },
                success: function(content)
                {
                    data = jQuery.parseJSON(content);
                    $("#id_written_lesson_subject").html("");
                    for(var i = 0 ; i < data["data"].length ; i++){
                        $("#id_written_lesson_subject").append("<option value='"+ data["data"][i].id +"'>"+ data["data"][i].name +"</option>");
                    }
                    $("#id_written_lesson_subject").prop("disabled",false);
                },
                error: function(jqxhr, status, error)
                {

                }
            })
            .done(function( msg ) {

            });
        });

        $("#id_due_date").datetimepicker({
            sideBySide: true
        });

        $("#id_written_lesson_subject").select2().on("change",function(){

        });

        $(".select2-selection").css("height","35px");
        $(".select2-selection").css("border","1px solid #CFCFCF");

        //$('b[role="presentation"]').hide();
        //$('.select2-selection__arrow').append('<i class="fa fa-shield"></i>');

        $("#id_written_lesson_form_submit").click(function(e){
            e.preventDefault();
            var form_data = $("#id_written_lesson_form").serialize();
            console.log(form_data);
            $("#id_written_lesson_form").submit();
        });
    });
</script>
{% endblock more_extra %}