{% extends "admin_master.html" %}
{% load staticfiles %}
{% block left_nav_bar %}
<!-- left menu starts -->
<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked">

            </div>
            <ul class="nav nav-pills nav-stacked main-menu">
                <li><a class="ajax-link" href=""><span> System Logs</span></a></li>
                <li><a class="ajax-link" href=""><span> Error Logs</span></a></li>
                <li><a class="ajax-link" href=""><span> Payment Logs</span></a></li>
                <li><a class="ajax-link" href="{% url "admin_email_log_list" %}"><span> Email Logs</span></a></li>
            </ul>
        </div>
    </div>
</div>
<!--/span-->
<!-- left menu ends -->
{% endblock left_nav_bar %}