{% extends "transactions/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <style>
        .row {
            margin: 13px;
        }
        h4.subheading {
            font-size: 14px;
        }
    </style>
    <div class="contnt">
        <div class="col-sm-12">
            <h3>Transaction Details</h3>
            <hr/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2">Description</div>
                <div class="col-md-10">{{ object.description }}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Status</div>
                <div class="col-md-10">{{ object.transaction_status }}</div>
            </div>
            <div class="row">
                <div class="col-md-2">Date Time</div>
                <div class="col-md-10">{{ object.date_created|fromunix|localtime|format_datetime }}</div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Transaction Id
                </div>
                <div class="col-md-10">
                    {{ object.transaction_id }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Transaction Amount
                </div>
                <div class="col-md-10">
                    ${{ object.amount }}(USD)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Total Fees
                </div>
                <div class="col-md-10">
                    ${{ object.total_fees }}(USD)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Transaction Details
                </div>
                <div class="col-md-10">
                    {{ object.description }}
                </div>
            </div>
            <br/>
            <h4 class="subheading">Payment Method Used</h4>
            <hr/>
            <div class="row">
                <div class="col-md-2">
                    Card Type
                </div>
                <div class="col-md-10">
                    {{ object.payment_method.card_type }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Card Number
                </div>
                <div class="col-md-10">
                    {{ object.payment_method.number_mask }}
                </div>
            </div>
        </div>
    </div>
{% endblock content_body %}