{% extends "transactions/master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <style>
        th {
            font-weight: bold;
        }
    </style>
    <div class="contnt">
        <h3>Sale Transaction List</h3>
        <hr>
        <table class="table">
            <thead class="logs-header">
                <tr>
                    <th>
                        Transaction Id
                    </th>
                    <th>
                        Transaction Type
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Created By
                    </th>
                    <th>
                        Created On
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        {{ object.transaction_id }}
                    </td>
                    <td>
                        {{ object.transaction_type }}
                    </td>
                    <td>
                        {% if object.user %}{{ object.user.champuser.fullname }}{% endif %}
                    </td>
                    <td>
                        {{ object.transaction_status }}
                    </td>
                    <td>
                        {{ object.date_created|fromunix|localtime|format_datetime }}
                    </td>
                    <td>
                        <a href="{% url "admin_sale_transaction_details" pk=object.pk %}">View Details</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    {% include "sections/pagination.html" %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content_body %}