{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Championtutor Online Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Championtutor online.com">

    <!-- The styles -->
    <link id="bs-css" href="{% static "css/bootstrap-cerulean.min.css" %}" rel="stylesheet">

    <link href="{% static "css/charisma-app.css" %}" rel="stylesheet">
    <link href="{% static "css/admin/style-common.css" %}" rel="stylesheet">

    <!-- jQuery -->
    <script src='{% static "bower_components/jquery/jquery.min.js" %}'></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">

</head>

<body>

    <nav class="navbar navbar-inverse admin-header border-none">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="hdng_inner logo-wrapper">
            <a id="logo" href="#"> <img src="/static/images/logo.png" width="212" height="36" alt="Logo"> </a>
          </div>
        </div>
      </div>
    </nav>
<div style="padding-left: 23px; padding-right: 10px;">
    <div class="login_panel" style="width: 400px; margin-left: auto; margin-right: auto;">
        <form class="form-signin" action="{% url "admin_login" %}" name="signin-form" method="post">
            {% csrf_token %}
            <h3 class="form-signin-heading">Admin Login</h3><hr/>
            <div id="login_status_message2_container"
                 style="{% if error or success %}visibility:visible;
                 {% else %}visibility:hidden;
                 {% endif %}
                 {% if error %}color: red;
                 {% elif success %}color: green;
                 {% endif %} padding-bottom:7px;">
                {% if error_msg %}
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <span style="margin-left:7px; margin-bottom: 7px;" id="login_status_message2">
                    {{ error_msg }}
                    </span>
                {% elif success_msg %}
                    <span class="glyphicon glyphicon-ok text-center"></span>
                    <span style="margin-left:7px; margin-bottom: 7px;" id="login_status_message2">
                    {{ success_msg }}
                    </span>
                {% endif %}
                </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Enter Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ login_form.email }}</div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <label>Enter Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ login_form.password }}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12 text-center">
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                    {% else %}
                        <input type="hidden" name="next" value=""/>
                    {% endif %}
                    <button id="id_submit_button" class="btn btn-md btn-success" style="font-weight: bold; width: 130px;">Sign In</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->

<!--<footer class="row">-->
    <!--<p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="#" target="_blank">Codenginebd@copy2015</p>-->
<!--</footer>-->

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

<script src="{% static "js/charisma.js" %}"></script>

</body>
</html>