{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Championtutor Online Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Championtutor online.com">

    <!-- The styles -->
    <link id="bs-css" href="{% static "css/bootstrap-cerulean.min.css" %}" rel="stylesheet">
    <!--<link id="bs-css" href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">-->

    <link href="{% static "css/charisma-app.css" %}" rel="stylesheet">
    <link href="{% static "css/common/style.css" %}" rel="stylesheet">
    <link href="{% static "css/select2.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">


    <!-- jQuery -->
    <script src='{% static "bower_components/jquery/jquery.min.js" %}'></script>
    <script type="text/javascript" src="{% static "js/moment.js" %}"></script>

    <script src='{% static "js/bootstrap-datetimepicker.js" %}'></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">

    {% block script_head %}

    {% endblock script_head %}

</head>

<body>
    {% block top_nav_bar %}
    <nav class="navbar navbar-inverse admin-header border-none">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="hdng_inner logo-wrapper">
            <a id="logo" href="#"> <img src="/static/images/logo.png" width="212" height="36" alt="Logo"> </a>
          </div>
        </div>
        <div class="collapse navbar-collapse left-margin7" id="myNavbar1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"> {{ request.user.champuser.fullname }}</a></li>
            <li><a href="{% url "admin_logout" %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-inverse border-none" style="margin-top: -17px;">
      <div class="container-fluid">
        <div class="collapse navbar-collapse left-margin7" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url "admin_home" %}">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "admin_user_list" %}?type=student">Students</a></li>
                <li><a href="{% url "admin_user_list" %}?type=teacher">Tutors</a></li>
              </ul>
            </li>
            <li><a href="{% url "admin_scheduler_stat_view" %}">Scheduler</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Logs
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">System Logs</a></li>
                <li><a href="{% url "admin_error_log_list" %}">Error Logs</a></li>
                <li><a href="{% url "admin_payment_log_list" %}">Payment Logs</a></li>
                <li><a href="{% url "admin_email_log_list" %}">Email Logs</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Report And Feedback
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Users Feedback</a></li>
                <li><a href="#">Bug Reports</a></li>
                <li><a href="#">Payment Issues</a></li>
                <li><a href="#">Lesson Issues</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Verification
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "verification_requests" %}">NRIC Verification</a></li>
                <li><a href="{% url "cert_verification_requests" %}">Certificates Verification</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transactions
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "admin_sale_transaction_list" %}">Sale Transactions</a></li>
                <li><a href="#">Withdraw Transactions</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lessons
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "admin_unconfirmed_lesson_list" %}">Unconfirmed Lessons</a></li>
                <li><a href="{% url "admin_coming_lesson_list" %}">Coming Lessons</a></li>
                <li><a href="{% url "admin_past_lesson_list" %}">Past Lessons</a></li>
                <li><a href="{% url "admin_missed_lesson_list" %}">Missed Lessons</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Payments
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Withdraw Requests</a></li>
                <li><a href="#">Payment History</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Jobs
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "admin_all_joblist" %}">All Jobs</a></li>
                <li><a href="{% url "admin_active_joblist" %}">Active Jobs</a></li>
                <li><a href="{% url "admin_archived_joblist" %}">Archived Jobs</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Servey
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "servey_create" %}">Create a Servey</a></li>
                <li><a href="{% url "servey_list" %}">Servey List</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock top_nav_bar %}
    <div class="ch-container">
    {% block content_wrapper %}
    <div class="row">

        {% block left_nav_bar %}
        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Home</li>
                        <li><a class="ajax-link" href="{% url "admin_dashboard" %}"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                        </li>
                        <li><a href="{% url "admin_home_page_video" %}"><span> Update Homepage Video</span></a></li>
                        <li><a href="{% url "admin_intro_video" %}"><span> Introduction Video</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->
        {% endblock left_nav_bar %}

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
                <!--<ul class="breadcrumb">-->
                    <!--<li>-->
                        <!--<a href="#">Home</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">Dashboard</a>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
            <div style="padding-left: 23px; padding-right: 10px;">
            {% block content_body %}

            {% endblock content_body %}
            </div>
            <div style="height: 100px;">

            </div>
        </div><!--/#content.col-md-0-->
    </div><!--/fluid-row-->
    {% endblock content_wrapper %}

<!--<footer class="row">-->
    <!--<p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="#" target="_blank">Codenginebd@copy2015</p>-->
<!--</footer>-->

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

<script src="{% static "js/charisma.js" %}"></script>

{% block script_bottom %}

{% endblock script_bottom %}

</body>
</html>
