{% extends "admin_master.html" %}
{% load staticfiles %}
{% block script_head %}
<style>
    .font-w700 {
        font-weight: 700 !important;
    }
    .widget-content {
        width: auto;
        float: left;
        margin: 13px;
        border: 1px solid #e9e9e9;
        padding: 13px;
        border-radius: 7px;
    }
    .graph-space {
        width: 100%;
        min-height: 300px;
        clear: both;
        margin-top: 19px;
        border: 1px solid #e9e9e9;
        padding: 13px;
        border-radius: 7px;
    }
    .section-header {
        clear: both;
        margin-top: 19px;
    }
</style>
{% endblock script_head %}
{% block content_body %}
<div>
    <h3>Dashboard</h3>
    <hr/>
    <div>
        <div class="widget-container">
            <div class="widget-content">
                <div class="font-w700 text-gray-darker animated fadeIn">TOTAL USERS</div>
                <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Till Today</small></div>
                <a class="h2 font-w300 text-primary animated flipInX" href="{% url "admin_user_list" %}">{{ total_users }}</a>
                <div style="width: 100%;">
                    <span class="badge">Active Users: {{ total_active_users }}</span>
                </div>
            </div>
            <div class="widget-content">
                <div class="font-w700 text-gray-darker animated fadeIn">TOTAL STUDENTS</div>
                <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Till Today</small></div>
                <a class="h2 font-w300 text-primary animated flipInX" href="{% url "admin_user_list" %}?type=student">{{ total_students }}</a>
                <div style="width: 100%;">
                    <span class="badge">Active students: {{ total_active_students }}</span>
                </div>
            </div>
            <div class="widget-content">
                <div class="font-w700 text-gray-darker animated fadeIn">TOTAL TUTORS</div>
                <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Till Today</small></div>
                <a class="h2 font-w300 text-primary animated flipInX" href="{% url "admin_user_list" %}?type=tutor">{{ total_tutors }}</a>
                <div style="width: 100%;">
                    <span class="badge">Active tutors: {{ total_active_tutors }}</span>
                </div>
            </div>
            <div class="widget-content">
                <div class="font-w700 text-gray-darker animated fadeIn">NRIC VERIFICATION REQUESTS</div>
                <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> New requests</small></div>
                <a class="h2 font-w300 text-primary animated flipInX" href="#">{{ nric_request_count }}</a>
            </div>
            <div class="widget-content">
                <div class="font-w700 text-gray-darker animated fadeIn">PAYMENT ISSUES</div>
                <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> New payment issues</small></div>
                <a class="h2 font-w300 text-primary animated flipInX" href="#">103</a>
            </div>
        </div>
        <div class="widget-container" style="clear: both;">
            <div class="widget-content">
                <div class="font-w700 text-gray-darker animated fadeIn">Sale Transactions</div>
                <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Till Today</small></div>
                <div><a class="h2 font-w300 text-primary animated flipInX" href="#">Total 1000 transactions</a></div>
                <div><a class="h2 font-w300 text-primary animated flipInX" href="#">Total 900 Successful transactions</a></div>
                <div><a class="h2 font-w300 text-primary animated flipInX" href="#">Total 100 Failed transactions</a></div>
            </div>
            <div class="widget-content">
                <div class="font-w700 text-gray-darker animated fadeIn">Lesson Missed</div>
                <div class="text-muted animated fadeIn">Today</small></div>
                <div><a class="h2 font-w300 text-primary animated flipInX" href="#">Total 1000 Lesson Missed Today</a></div>
            </div>
            <div class="widget-content">
                <div class="font-w700 text-gray-darker animated fadeIn">Withdrawal Requests</div>
                <div class="text-muted animated fadeIn">Total</small></div>
                <div><a class="h2 font-w300 text-primary animated flipInX" href="#">You have total 11 withdrawal requests to be processed</a></div>
            </div>
        </div>
        <div class="widget-container" style="clear: both;">
            <div class="widget-content">
                <div class="font-w700 text-gray-darker animated fadeIn">Lessons</div>
                <div class="text-muted animated fadeIn">Total</small></div>
                <div><a class="h2 font-w300 text-primary animated flipInX" href="#">Total 100 Lessons Ongoing</a></div>
                <div><a class="h2 font-w300 text-primary animated flipInX" href="#">Total 30 Scheduled Lessons</a></div>
            </div>
        </div>
        <div class="section-header">
            <h3>Users Geographic Location</h3>
        </div>
        <div class="graph-space">

        </div>
    </div>
</div>
{% endblock content_body %}