{% extends "admin_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <link href="{% static "css/rich-textarea/editor.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{%  static "js/rich-textarea/editor.js" %}"></script>
    <script type="text/javascript">
        $(document).ready( function() {

            $("#id_email_body_html").Editor();

            $(".fa-code").parent().hide();
            $(".fa-arrows-alt").parent().hide();
            $(".fa-print").parent().hide();
            $(".fa-table").parent().hide();
            $(".fa-asterisk").parent().hide();
            $(".fa-picture-o").parent().hide();
           });
     </script>

    <div class="contnt">
        <div class="col-sm-12">
            <h3>{{ object.context.capitalize }}</h3>
        </div>
        <div>
            <h3>Html Body</h3>
        </div>
        <div>
            <div id="id_email_body_html" style="width: 100%; height: 100%;"></div>
        </div>
        <div>
            <h3>Text Body</h3>
        </div>
        <div>
            <textarea rows="7" class="form-control"></textarea>
        </div>
    </div>
{% endblock content_body %}