{% extends "admin_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <div class="contnt">
        <h3>Email Templates</h3>
        <hr>
        <table class="table">
            <thead class="logs-header">
                <tr>
                    <th>
                        Context
                    </th>
                    <th>
                        Html Body
                    </th>
                    <th>
                        Text Body
                    </th>
                    <th>
                        Created By
                    </th>
                    <th>
                        Created On
                    </th>
                    <th>
                        Modified By
                    </th>
                    <th>
                        Last Modified
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        {{ object.context.capitalize }}
                    </td>
                    <td>
                        {{ object.html_body|truncatechars:20 }}
                    </td>
                    <td>
                        {{ object.text_body|truncatechars:20 }}
                    </td>
                    <td>
                        <a href="{{ object.created_by.champuser.profile_url }}">{{ object.created_by.champuser.fullname }}</a>
                    </td>
                    <td>
                        {{ object.date_created|fromunix|localtime|format_datetime }}
                    </td>
                    <td>
                        <a href="{{ object.modified_by.champuser.profile_url }}">{{ object.modified_by.champuser.fullname }}</a>
                    </td>
                    <td>
                        {{ object.date_modified|fromunix|localtime|format_datetime }}
                    </td>
                    <td>

                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    {% include "sections/pagination.html" %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content_body %}