{% extends "admin_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <div class="contnt">
        <div class="col-sm-12">
            <h3>Home Page Video</h3>
            <hr/>
        </div>
        <div class="text-center">
            {% if settings and settings.home_page_video %}
            <div>URL: <a href="{{ settings.home_page_video }}">{{ settings.home_page_video }}</a> </div>
            <div>>
                <iframe id="id_embedded_myvideo_url" width="623" height="351" src="{{ settings.home_page_video }}" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
            </div>
            <form name="home_page_video_form" style="width: 400px; margin-left: auto; margin-right: auto;" class="text-center" method="POST" action="{% url "admin_home_page_video" %}">
            {% csrf_token %}
                <input name="url" style="width: 400px;" type="text" class="form-control" placeholder="Enter Youtube Video URL Here" value="{{ settings.home_page_video }}"/>
                <br/>
                <button class="btn btn-sm btn-danger">Update Home Page Video</button>
            </form>
            {% else %}
                <div class="text-center">
                    <form name="home_page_video_form" style="width: 400px; margin-left: auto; margin-right: auto;" class="text-center" method="POST" action="{% url "admin_home_page_video" %}">
                    {% csrf_token %}
                        <input name="url" style="width: 400px;" type="text" class="form-control" placeholder="Enter Youtube Video URL Here"/>
                        <br/>
                        <button class="btn btn-sm btn-danger">+ Add Home Page Video</button>
                    </form>
                </div>

            {% endif %}
        </div>
    </div>
{% endblock content_body %}