{% extends "admin_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <div class="contnt">
        <div class="col-sm-12">
            <h3>Payment Log Details(#{{ object.transaction_id }})</h3>
        </div>
        <table class="table">
            <tbody>
            {% if object.lesson_id %}
            <tr>
                <td>Lesson Id</td>
                <td>{{ object.lesson_id }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    Transaction Id
                </td>
                <td>
                    {{ object.transaction_id }}
                </td>
            </tr>
            <tr>
                <td>
                    Created By
                </td>
                <td>
                    <a href="{{ object.created_by.champuser.profile_url }}">{{ object.created_by.champuser.fullname }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    Status
                </td>
                <td>
                    {{ object.status }}
                </td>
            </tr>
            <tr>
                <td>Created On</td>
                <td>{{ object.date_created|fromunix|localtime|format_datetime }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td><p>{{ object.message }}</p></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content_body %}