{% extends "admin_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <div class="contnt">
        <h3>Error Logs</h3>
        <hr>
        <table class="table">
            <thead class="logs-header">
                <tr>
                    <th>
                        URL
                    </th>
                    <th>
                        Stack Trace
                    </th>
                    <th>
                        Date Time
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        {{ object.url }}
                    </td>
                    <td>
                        {{ object.stacktrace|truncatechars:20 }}
                    </td>
                    <td>
                        {{ object.date_created|fromunix|localtime|format_datetime }}
                    </td>
                    <td>
                        <a href="{% url "error_log_details" pk=object.pk %}">View Details</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    {% include "sections/pagination.html" %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content_body %}