{% extends "admin_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block content_body %}
    <div class="contnt">
        <h3>Users</h3>
        <hr>
        <table class="table">
            <thead class="logs-header">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Registered On
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <img src="{{ object.render_profile_picture }}" width="30" height="30"/>
                        <a href="{% url "admin_user_details" pk=object.user.pk %}">{{ object.fullname }}</a>
                    </td>
                    <td>
                        {{ object.user.email }}
                    </td>
                    <td>
                        {{ object.render_type }}
                    </td>
                    <td>
                        {{ object.render_status }}
                    </td>
                    <td>
                        {{ object.date_created|fromunix|localtime|format_datetime }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    {% include "sections/pagination.html" %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content_body %}