{% extends "admin_master.html" %}
{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% block script_head %}
<script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<link href="{% static "js/jquery-ajax.js" %}">
{% endblock script_head %}
{% block content_body %}
    <div class="contnt">
        <h3>NRIC Verfication Requests</h3>
        <select style="width: 200px; cursor: pointer;" class="form-control">
            <option value="-1">All</option>
            <option value="4">New Requests</option>
            <option value="2">Requests Under Review</option>
            <option value="0">Requests Not Verified</option>
            <option value="3">Requests Rejected</option>
            <option value="1">Requests Verified</option>
        </select>
        <hr>
        <div id="content">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#id_new_requests" data-toggle="tab">New Requests({{ submitted_list.count }})</a></li>
                <li><a href="#id_requests_under_review" data-toggle="tab">Requests Under Review({{ under_review_list.count }})</a></li>
                <li><a href="#id_requests_not_verified" data-toggle="tab">Requests Not Verified({{ not_verified_list.count }})</a></li>
                <li><a href="#id_requests_rejected" data-toggle="tab">Requests Rejected({{ rejected_list.count }})</a></li>
                <li><a href="#id_requests_verified" data-toggle="tab">Verified Requests({{ verified_list.count }})</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="id_new_requests">
                    <table class="table">
                        <thead class="logs-header">
                            <tr>
                                <th>
                                    <input type="checkbox" class="check-verification-row-master"/>
                                </th>
                                <th>
                                    From
                                </th>
                                <th>
                                    Attachment(s)
                                </th>
                                <th>
                                    Submitted Date
                                </th>
                                <th>
                                    Status
                                </th>
                                <!--<th>-->
                                    <!--Action-->
                                <!--</th>-->
                            </tr>
                        </thead>
                        <tbody>
                        {% for object in submitted_list %}
                            <tr>
                                <td>
                                    <input type="checkbox" class="check-verification-row"/>
                                </td>
                                <td>
                                    <a href="{{ object.user.champuser.profile_url }}">{{ object.user.champuser.fullname }}</a>
                                </td>
                                <td>
                                    <a href="{{ object.attachment_url }}">{{ object.nid_scanned_img }}</a>
                                </td>
                                <td>
                                    {{ object.date_created|fromunix|localtime|format_datetime }}
                                </td>
                                <td>

                                    <select class="verification-status form-control" style="cursor: pointer;" data-object-mutate-url="{% url "verification_mutate_details" pk=object.pk %}">
                                    {% for value,label,url,title in object.actions %}
                                        <option value="{{ value }}" data-url="{{ url }}" title="{{ title }}" {% if value == object.status %} selected {% endif %} >{{ label }}</option>
                                    {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4">
                                {% include "sections/pagination.html" %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="id_requests_under_review">
                    <table class="table">
                        <thead class="logs-header">
                            <tr>
                                <th>
                                    <input type="checkbox" class="check-verification-row-master"/>
                                </th>
                                <th>
                                    From
                                </th>
                                <th>
                                    Attachment(s)
                                </th>
                                <th>
                                    Submitted Date
                                </th>
                                <th>
                                    Status
                                </th>
                                <!--<th>-->
                                    <!--Action-->
                                <!--</th>-->
                            </tr>
                        </thead>
                        <tbody>
                        {% for object in under_review_list %}
                            <tr>
                                <td>
                                    <input type="checkbox" class="check-verification-row"/>
                                </td>
                                <td>
                                    <a href="{{ object.user.champuser.profile_url }}">{{ object.user.champuser.fullname }}</a>
                                </td>
                                <td>
                                    <a href="{{ object.attachment_url }}">{{ object.nid_scanned_img }}</a>
                                </td>
                                <td>
                                    {{ object.date_created|fromunix|localtime|format_datetime }}
                                </td>
                                <td>

                                    <select class="verification-status form-control" style="cursor: pointer;" data-object-mutate-url="{% url "verification_mutate_details" pk=object.pk %}">
                                    {% for value,label,url,title in object.actions %}
                                        <option value="{{ value }}" data-url="{{ url }}" title="{{ title }}" {% if value == object.status %} selected {% endif %} >{{ label }}</option>
                                    {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4">
                                {% include "sections/pagination.html" %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="id_requests_not_verified">
                    <table class="table">
                        <thead class="logs-header">
                            <tr>
                                <th>
                                    From
                                </th>
                                <th>
                                    Attachment(s)
                                </th>
                                <th>
                                    Submitted Date
                                </th>
                                <th>
                                    Status
                                </th>
                                <!--<th>-->
                                    <!--Action-->
                                <!--</th>-->
                            </tr>
                        </thead>
                        <tbody>
                        {% for object in not_verified_list %}
                            <tr>
                                <td>
                                    <a href="{{ object.user.champuser.profile_url }}">{{ object.user.champuser.fullname }}</a>
                                </td>
                                <td>
                                    <a href="{{ object.attachment_url }}">{{ object.nid_scanned_img }}</a>
                                </td>
                                <td>
                                    {{ object.date_created|fromunix|localtime|format_datetime }}
                                </td>
                                <td>

                                    <select class="verification-status form-control" style="cursor: pointer;" data-object-mutate-url="{% url "verification_mutate_details" pk=object.pk %}">
                                    {% for value,label,url,title in object.actions %}
                                        <option value="{{ value }}" data-url="{{ url }}" title="{{ title }}" {% if value == object.status %} selected {% endif %} >{{ label }}</option>
                                    {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4">
                                {% include "sections/pagination.html" %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="id_requests_rejected">
                    <table class="table">
                        <thead class="logs-header">
                            <tr>
                                <th>
                                    From
                                </th>
                                <th>
                                    Attachment(s)
                                </th>
                                <th>
                                    Submitted Date
                                </th>
                                <th>
                                    Status
                                </th>
                                <!--<th>-->
                                    <!--Action-->
                                <!--</th>-->
                            </tr>
                        </thead>
                        <tbody>
                        {% for object in rejected_list %}
                            <tr>
                                <td>
                                    <a href="{{ object.user.champuser.profile_url }}">{{ object.user.champuser.fullname }}</a>
                                </td>
                                <td>
                                    <a href="{{ object.attachment_url }}">{{ object.nid_scanned_img }}</a>
                                </td>
                                <td>
                                    {{ object.date_created|fromunix|localtime|format_datetime }}
                                </td>
                                <td>

                                    <select class="verification-status form-control" style="cursor: pointer;" data-object-mutate-url="{% url "verification_mutate_details" pk=object.pk %}">
                                    {% for value,label,url,title in object.actions %}
                                        <option value="{{ value }}" data-url="{{ url }}" title="{{ title }}" {% if value == object.status %} selected {% endif %} >{{ label }}</option>
                                    {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4">
                                {% include "sections/pagination.html" %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="id_requests_verified">
                    <table class="table">
                        <thead class="logs-header">
                            <tr>
                                <th>
                                    From
                                </th>
                                <th>
                                    Attachment(s)
                                </th>
                                <th>
                                    Submitted Date
                                </th>
                                <th>
                                    Status
                                </th>
                                <!--<th>-->
                                    <!--Action-->
                                <!--</th>-->
                            </tr>
                        </thead>
                        <tbody>
                        {% for object in verified_list %}
                            <tr>
                                <td>
                                    <a href="{{ object.user.champuser.profile_url }}">{{ object.user.champuser.fullname }}</a>
                                </td>
                                <td>
                                    <a href="{{ object.attachment_url }}">{{ object.nid_scanned_img }}</a>
                                </td>
                                <td>
                                    {{ object.date_created|fromunix|localtime|format_datetime }}
                                </td>
                                <td>

                                    <select class="verification-status form-control" style="cursor: pointer;" data-object-mutate-url="{% url "verification_mutate_details" pk=object.pk %}">
                                    {% for value,label,url,title in object.actions %}
                                        <option value="{{ value }}" data-url="{{ url }}" title="{{ title }}" {% if value == object.status %} selected {% endif %} >{{ label }}</option>
                                    {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4">
                                {% include "sections/pagination.html" %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<script>

    var submit_ajax = function(type,url,data,callback,error_back,complete_back){
        $.ajax({
            type: type,
            url: url,
            data: data,
            enctype: 'multipart/form-data',
            success: function(data)
            {
                callback(jQuery.parseJSON(data));
            },
            error: function(jqxhr, status, error)
            {
                error_back(jqxhr, status, error);
            }
        })
        .done(function( msg ) {
            complete_back(msg);
        });
    };

    $(document).on("change",".verification-status ",function(e) {
        submit_ajax("POST",$(this).data("object-mutate-url"),{ value: $(this).val() }, function(data) {
            alert(data.status);
        },
        function(jqxhr, status, error) {

        },
        function(msg) {

        });
    });
</script>
{% endblock content_body %}