<li class="qlistitem">
    <input type="hidden" class="qid" value="{{ qid }}">
    <input type="hidden" class="qtype" value="{{ qtype }}">
    <div class="qtitle">
        {{ qtitle }} <span class="glyphicon pull-right" style="cursor: pointer;">X</span> <span class="glyphicon glyphicon-edit pull-right" style="cursor: pointer;"></span>
    </div>
    <div class="qcontent">
        {% if qtype == "text" %}
        <textarea class="qtext" rows="7" placeholder="Write your comments here"></textarea>
        {% elif qtype == "radio" %}
            <ul>
            {% for id, label, value in options %}
                <li>
                    <label style="font-size: 17px; font-weight: normal; padding: 7px; margin: 7px;"><input type="radio" name="qoption_{{ qid }}" data-id="{{ id }}" id="{{ qid }}_{{ id }}" value="{{ value }}"> {{ label }}</label>
                </li>
            {% endfor %}
            </ul>
        {% elif qtype == "checkbox" %}
            <ul>
            {% for id, label, value in options %}
                <li>
                    <label style="font-size: 17px; font-weight: normal; padding: 7px; margin: 7px;"><input type="checkbox" name="qoption_{{ qid }}" data-id="{{ id }}" id="{{ qid }}_{{ id }}" value="{{ value }}"> {{ label }}</label>
                </li>
            {% endfor %}
            </ul>
        {% elif qtype == "dropdown" %}
            <select class="item_select">
            {% for id, label, value in options %}
                <option data-id="id" value="{{ value }}">{{ label }}</option>
            {% endfor %}
            </select>
        {% endif %}
    </div>
</li>