{% load staticfiles %}
{% load datefilters questiontagfilters %}
{% load tz %}
<div id="champ-profile-public" class="contentblock  {% if tab != "profile" %}hidden{% endif %}">
    <div class="champ_student_detail">
        <div class="top_img_section">

        <div class="img_box radius3">
            <img width="129" height="129" alt="img" src="{{ object.render_profile_picture }}">
            <a id="id_change_pp" href="#" style="position: relative; top: -20px; margin-left: 25px; margin-right: auto; color: white;">Change profile picture</a>
        </div>
        <div class="img_detail" style="margin-left: 20px; ">
            <h2 style="font: 20px/24px 'proxima_novasemibold'; color: #5498e4; cursor: pointer;" href="#">{{ object.fullname }} <span>(ID {{ object.user.pk }})</span></h2>
            {% if champ_user.nationality %}
            <img src="/static/images/flags/32/{{ champ_user.nationality.name }}.png" width="23" height="16" alt="img" style="width: 23px; height: 16px;"/>
            {{ champ_user.nationality.name }}
            {% endif %}
            {% with champ_user.render_last_education as last_school %}
                {% if last_school %}<span class="university"><span id="id_ps_university">{{ last_school.institution.name }}</span></span>{% endif %}
                {% if last_school %}<span class="major"><em>Major :</em> <span id="id_ps_major">{{ last_school.major.name }}</span></span>{% endif %}
            {% endwith %}
            <ul class="grade">
                <li style="margin-right: 13px;"><img src="{% static "images/grade_active.png" %}" width="17" height="18" alt="img"/>
                    {% with feedback_count=champ_user.positive_feedback_count %}{% if feedback_count %}<span>{{ feedback_count }}</span>{% else %}<span>-</span>{% endif %}{% endwith %}</li>
                <li><img src="{% static "images/grade_non_active.png" %}" width="17" height="18" alt="img"/>
                {% with feedback_count=champ_user.negative_feedback_count %}{% if feedback_count %}<span>{{ feedback_count }}</span>{% else %}<span>-</span>{% endif %}{% endwith %}</li>
            </ul>
        </div>
        </div>
        <div class="student_profile radius3">
    <div class="student_profile_inner">
        <h2 class="student_profile_heading">About Me</h2>
    </div>
    <div class="student_profile_inner">
      <div class="summary_section">
        <h1 class="summary_heading">Summary</h1>
        </div>
        <div class="noedit_gray_section">
      <p class="summary_txt">
            {% if champ_user.profile_set.exists %}
            {% if champ_user.profile_set.first.about %}{{ champ_user.profile_set.first.about|safe }}{% else %}No info available{% endif %}
            {% endif %}
      </p>
      </div>
      <div class="edit_gray_section">
        <textarea class="edit_description" placeholder="Summary"></textarea>
        <div class="outer_student_btn">
        <input type="submit" class="student_save" value="Save">
        <input type="button" class="student_cancel" value="Cancel">
        </div>
      </div>

    </div>
    <div class="student_profile_inner">
      <div class="summary_section">
        <span class="private_icon"> <img width="16" height="20" alt="img" src="{%  static "images/privacy.png" %}"> </span>
        <h1 class="summary_heading">Private Info</h1>
      </div>
      <div class="noedit_gray_section">
      <p class="summary_txt">The information in this section is private and not visible to other Chegg members. We will use this information to match you with scholarships and other opportunities to help you succeed.</p>
      <ul class="private_list">
        <div class="private_list_left">
            <li>
                <label>Your Email Address :</label>
                <span><a href="#" class="email_student_profile">{{ champ_user.user.email }}</a></span>
            </li>
            <li>
                <label>Gender :</label>
                <span>{{ champ_user.gender.capitalize }}</span>
            </li>
            <li>
                <label>Birthdate:</label>
                <span>{{ champ_user.birthdate }}</span>
                <p>Our services are not available to students under the age of 13. Please work with your parent or guardian to establish an account.</p>
            </li>
        </div>
        <div class="private_list_right">
            <li>
                <label>Religion/Beliefs :</label>
                <span>{{ champ_user.religion.capitalize }}</span>
            </li>
            <li>
                <label>Languages:</label>
                <span>{% for language in champ_user.languages.all %}{{ language.language.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
            </li>
            <li>
                <label> Citizenship :</label>
                <span>{{ champ_user.nationality.name.capitalize }}</span>
            </li>
            <li>
                <label>Ethnicity :</label>
                <span>{{ champ_user.ethnicity.capitalize }}</span>
            </li>
            <li>
                <label>Time Zone :</label>
                <span>{{ champ_user.timezone }}</span>
            </li>
        </div>
      </ul>
      </div>
      <div class="edit_gray_section">
        <form class="private_list_edit">
        <textarea class="edit_description" placeholder="Summary"></textarea>
        <div class="private_edit_left">
            <div> <label>Your Email Address : </label> <input type="text" placeholder="Your Email Address" class="gpa_edit"> </div>
            <div> <label>Old Password : </label> <input type="text" placeholder="Old Password" class="gpa_edit"> </div>
            <div> <label>Confirm New Password : </label> <input type="text" placeholder="Confirm New Password" class="gpa_edit"> </div>
            <div>
                <label>Gender :</label>
                <div class="gender_edit">
                    <select class="loct">
                        <option value="Select">Select</option>
                    </select>
                </div>
            </div>
            <div>
                <label>Birthdate:</label>
                <div class="gender_edit" id="month_edit">
                    <select class="loct">
                        <option value="Jan">Jan</option>
                    </select>
                </div>
                <div class="gender_edit" id="day_edit">
                    <select class="loct">
                        <option value="01">01</option>
                    </select>
                </div>
                <div class="gender_edit" id="year_edit">
                    <select class="loct">
                        <option value="2014">2014</option>
                    </select>
                </div>
                <p class="services_edit">Our services are not available to students under the age of 13. Please work with your parent or guardian</p>
            </div>
        </div>
        <div class="private_edit_right">
            <div>
                <label>Religion/Beliefs :</label>
                <div class="gender_edit">
                    <select class="loct">
                        <option value="Select">Select</option>
                    </select>
                </div>
            </div>
            <div>
                <label>Languages:</label>
                <div class="gender_edit">
                    <select class="loct">
                        <option value="Select">Select</option>
                    </select>
                </div>
                <span class="language_tag">
                    <a href="javascript:void(0);"> Akan <span class="cross"></span></a>
                    <a href="javascript:void(0);"> Aramaic <span class="cross"></span></a>
                </span>
            </div>
            <div>
                <label>Citizenship :</label>
                <div class="gender_edit">
                    <select class="loct">
                        <option value="Select">Select</option>
                    </select>
                </div>
            </div>
            <div>
                <label>Ethnicity :</label>
                <div class="gender_edit">
                    <select class="loct">
                        <option value="Select">Select</option>
                    </select>
                </div>
            </div>
            <div>
                <label>Time Zone :</label>
                <div class="gender_edit">
                    <select class="loct">
                        <option value="Select">Select</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="outer_student_btn">
        <input type="submit" value="Save" class="student_save">
        <input type="button" value="Cancel" class="student_cancel">
        </div>
      </form>
      </div>
    </div>
</div>
        <div class="student_profile radius3">
    <div class="student_profile_inner">
        <h2 class="student_profile_heading">Education</h2>
    </div>
    <div class="student_profile_inner">
      <div class="summary_section">
        <h1 class="summary_heading">Schools</h1></div>
        <div class="noedit_gray_section">
        <ul class="schools_list">
        {% for education in educations %}
            <li>
                <div class="schools_icon"> <img width="59" height="48" alt="img" src="{% static "images/schools-img.png" %}"> </div>
                <div class="schools_txt"> <p>{{ education.institution.name }}, {{ education.location }}</p></div>
            </li>
        {% endfor %}
      </ul>
        </div>
    </div>
</div>
    </div>
</div><!-- @end #champ-profile -->