<style>
    .contentblock {
        width: 800px !important;
    }
    #w {
        width: 1000px !important;
    }
    .img_detail {
        float: left !important;
    }
</style>
<div id="content">
    {% include "ajax/profile/student/tab_contents/public/about_me.html" %}
    {% include "ajax/profile/student/tab_contents/public/reviews.html" %}
</div>