{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load admin_tags %}
{% if not exclude_search_pane %}
<script src="{% static "js/generics/generic_tab.js" %}"></script>
<style>
    .generic_list_view tbody td {
        max-width: 200px;
    }
    .generic_list_view thead th {
        font-weight: bold;
    }
    .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
        border: none;
    }
</style>
{% endif %}
{% block content_body %}
{% if not exclude_search_pane %}
    <div class="contnt">
        <span class="pull-right">
            <b>Total {{ total_records }} records found</b>
        </span>
        <div>
            <form id="id_search_form" action="#" method="GET">
                <div style="width: 100%; float: left;">
                    <div id="id_search_tags" style="padding: 3px; max-width: 680px; margin-bottom: 7px;">
                        {% for key, value in search_terms %}
                            <span class="btn btn-default btn-sm search-tags"><b>{{ key|capitalize_sentence }}</b>: {{ value }} <input type="hidden" class="tag_hiddens" name="{{ key }}" value="{{ value }}"><span class="glyphicon glyphicon-remove tag-remove"></span></span>
                        {% endfor %}
                    </div>
                    <div style="float: left; width: 100%;">
                        <!--<label style="display: inline; float: left;">Search By </label>-->
                        <select id="id_search_filter_select" class="form-control select2 search_filter" style="width: 200px; display: inline; float: left;">
                            {% for name, is_range in searchable_columns %}
                                <option value="{{ name|get_search_name }}" {% if is_range %}data-is-range="1"{% else %}data-is-range="0"{% endif %} data-label="{{ name|get_search_label }}">{{ name|get_search_label|capitalize_sentence }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group" style="width: 560px; float: left;">
                            <div id="id_search_term_text_pane" class="form-group">
                                <div class="col-xs-5">
                                    <input id="id_search_filter_input3" type="text" class="form-control" placeholder="Search Term" name="datetime1" id="srch-term3" style="float: left; width: 200px;">
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <a href="#" class="btn btn-default add_search_filter"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="btn btn-default btn-search" data-url="{{ request.path }}"><i class="glyphicon glyphicon-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="id_search_term_datetime_pane" class="form-group" style="display: none;">
                                <div style="width: 450px; float: left;">
                                    <div class="col-xs-6">
                                        <input id="id_search_filter_input" type="text" class="form-control" placeholder="Search Term" name="datetime1" id="srch-term" style="float: left; width: 200px;">
                                    </div>
                                    <div class="col-xs-6">
                                        <input id="id_search_filter_input2" type="text" class="form-control" placeholder="Search Term" name="datetime2" id="srch-term2" style="float: left; width: 200px;">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a href="#" class="btn btn-default add_search_filter"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;&nbsp;&nbsp;
                                    <a href="#" class="btn btn-default btn-search" data-url="{{ request.path }}"><i class="glyphicon glyphicon-search"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="id_generic_tablist_view">
        <div>
                {% include "generics/partial/_generic_pagination.html" with page_obj=page_obj %}
        </div>
        <table class="table borderless generic_list_view borderless">
          <thead>
          <tr>
            {% for column_header in column_headers %}
                <th>
                    {{ column_header }}
                </th>
            {% endfor %}
            <th>
                Action
            </th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                {% for column in columns %}
                <td>
                    {% with object|render_property:column as rendered %}
                    {% if rendered.1 == "__RENDER_TS" %}
                        {{ rendered.0|fromunix|localtime|format_datetime }}
                    {% else %}
                    {{ rendered.0|truncatechars:200|safe }}
                    {% endif %}
                    {% endwith %}
                </td>
                {% endfor %}
                <td>
                    {% if details_url_name %}
                        {% with details_url_name=details_url_name %}
                        <a href="{{ details_url_name|render_detail_url:object.pk }}">View details</a>
                        {% endwith %}
                    {% else %}
                        <a href="#">View details</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>
                    No Data found
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td class="text-center" colspan="{{ partial_columns|length|add:1 }}">

                </td>
            </tr>
            </tbody>
        </table>
        <div>
            {% include "generics/partial/_generic_pagination.html" with page_obj=page_obj %}
        </div>
        </div>
    </div>
{% else %}
    <div>
                {% include "generics/partial/_generic_pagination.html" with page_obj=page_obj %}
        </div>
        <table class="table borderless generic_list_view borderless">
          <thead>
          <tr>
            {% for column_header in column_headers %}
                <th>
                    {{ column_header }}
                </th>
            {% endfor %}
            <th>
                Action
            </th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                {% for column in columns %}
                <td>
                    {% with object|render_property:column as rendered %}
                    {% if rendered.1 == "__RENDER_TS" %}
                        {{ rendered.0|fromunix|localtime|format_datetime }}
                    {% else %}
                    {{ rendered.0|truncatechars:200|safe }}
                    {% endif %}
                    {% endwith %}
                </td>
                {% endfor %}
                <td>
                    {% if details_url_name %}
                        {% with details_url_name=details_url_name %}
                        <a href="{{ details_url_name|render_detail_url:object.pk }}">View details</a>
                        {% endwith %}
                    {% else %}
                        <a href="#">View details</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>
                    No Data found
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td class="text-center" colspan="{{ partial_columns|length|add:1 }}">

                </td>
            </tr>
            </tbody>
        </table>
        <div>
            {% include "generics/partial/_generic_pagination.html" with page_obj=page_obj %}
        </div>
{% endif %}
{% endblock content_body %}