{% load pagination_filter %}
{% load admin_tags %}
{% if is_paginated %}
    <div class="pagination center-block" style="margin-left: auto; margin-right: auto;">
    <ul class="pagination nav navbar-nav center-block" style="width: 600px; float: left;">
        {% if page_obj.has_previous and page_obj.number != 1 %}
            <li data-url="{{ request.path }}" data-page="1" class="tab_pagination_item"><a href="#">First</a></li>
        {% endif %}
        {% if page_obj.has_previous %}
                <li data-url="{{ request.path }}" data-page="{{ page_obj.previous_page_number }}" class="tab_pagination_item"><a href="#">Prev</a></li>
        {% endif %}
        {% for page in page_obj.paginator|calculate_page_range:page_obj.number %}
            <!--{% if page >= page_obj.number|add:"-7" and page <= page_obj.number|add:"7" %}-->
                <!--<li class="{% if page_obj.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>-->
            <!--{% endif %}-->
        {% if page == -1 %}
            <li data-url="#"><a href="#">...</a></li>
        {% else %}
            <li data-url="{{ request.path }}" data-page="{{ page }}" {% if page_obj.number == page  %}class="active"{% else %}class="tab_pagination_item"{% endif %}><a href="#">{{ page }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li data-url="{{ request.path }}" data-page="{{ page_obj.next_page_number }}" class="tab_pagination_item"><a href="#">Next</a></li>
        {% endif %}
        {% if page_obj.has_next and page_obj.number != page_obj.paginator.num_pages %}
            <li data-url="{{ request.path }}" data-page="{{ page_obj.paginator.num_pages }}" class="tab_pagination_item"><a href="#">Last</a></li>
        {% endif %}
     </ul>
     <ul class="pagination nav navbar-nav center-block" style="width: 80px; float: right;">
        <li style="text-align: right;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li>
     </ul>
    </div>
{% endif %}
{{ page_obj.page_range }}