{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load jobtags %}
{% block script_head_extra %}


{% endblock script_head_extra %}
{% block bodycontent %}

<div class="contnt">
     <div>
        <h3>
        Title: {{ job.title }}
        </h3>
        <div>
            Lesson Type: {{ job.render_lesson_type_verbal }}
        </div>
        <section>
            <b>Description:</b> <p style="color: #202020;">{{ job.description|linebreaksbr }}</p>
        </section>
        <div style="width: 100%; display: block;">
            <span class="dfrnt_tag radius3"><b style="color: #333333;">Repeat: &nbsp;</b>
            {{ job.render_lesson_repeat_verbal }}
            </span>
            {% if job.preference %}
                <span class="dfrnt_tag radius3"><b style="color: #333333;">Nationality: &nbsp;</b>
                {% for country in job.preference.nationalities.all %}
                {{ country.name }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                {% endfor %}
                </span>
                {% if job.preference.rate %}
                <span class="dfrnt_tag radius3">{{ job.preference.currency }} {{ job.preference.rate.rate_value }}</span>
                {% endif %}
                {% if job.preference.gender %}
                <span class="dfrnt_tag radius3" style="color: #333333;">Gender: {{ job.preference.gender }}</span>
                {% endif %}
                {% if job.preference.timezones.all %}
                <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Timezone:</span>
                {% for tz in job.preference.timezones.all %}
                {{ tz.value.strip }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                {% endfor %}
                </span>
                {% endif %}
                {% if job.preference.currency %}
                <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Currency: {{ job.preference.currency }}</span></span>
                {% endif %}
                {% if job.preference.languages.exists %}
                <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Language:</span>
                {% for lang in job.preference.languages.all %}
                {{ lang.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                {% endfor %}
                </span>
                {% endif %}
                {% if job.preference.availability %}
                <span class="dfrnt_tag radius3" style='color: green;'>Availability: {% if job.preference.availability == 1 %}Available{% elif job.preference.availability == 2 %}Ready To Teach{% else %}Any%{% endif %}</span>
                {% endif %}
                {% if job.preference.subjects.exists %}
                <span class="dfrnt_tag radius3"><span style='color: #4f4f4f;'>Subjects:</span>
                {% for s in job.preference.subjects.all %}
                {{ s.value }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                {% endfor %}
                </span>
                {% endif %}
            {% endif %}
        </div>
        <div style="width: 100%; display: block; float: left; margin-bottom: 13px;">
        {% if job.job_attachment.exists %}
        <h4>Attachment(s):</h4>
            <div>
                {% for attachment in job.job_attachment.all %}
                    {% if attachment.thumbnail %}
                        <a style="display: inline; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="{{ MEDIA_URL }}{{ attachment.thumbnail }}"/></a>
                    {% else %}
                        <a style="display: block; width: auto; font-size: 17px;" href="{{ MEDIA_URL }}{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if job.lesson_time %}
    <div style="width: 100%; display: block; float: left;">
        <p>Start Date: {{ job.lesson_time|fromunix|localtime|format_datetime }}</p>
    </div>
    {% endif %}
    {% if job.lesson_duration %}
    <div style="width: 100%; display: block; float: left;">
        <p>Duration: {{ job.lesson_duration }} minutes</p>
    </div>
    {% endif %}
    {% if job.other_students.exists %}
    <div style="width: 100%; display: block; float: left; margin-top: 13px;">
        <div style="font-weight: bold; font-size: 23px;">Students</div>
        <hr/>
        <div>
            <div style="width: 100px; float: left;">
                <div><img src="{{ job.posted_by.champuser.render_profile_picture }}" width="70" height="70"/></div>
                <a style="width: 100%;" href="{{ job.posted_by.champuser.profile_url }}">{{ job.posted_by.champuser.fullname }}</a>
            </div>
            {% for student in job.other_students.all %}
                <div style="width: 100px; float: left;">
                    <div><img src="{{ student.champuser.render_profile_picture }}" width="70" height="70"/></div>
                    <a style="width: 100%;" href="{{ student.champuser.profile_url }}">{{ student.champuser.fullname }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
        {% if job|check_if_user_invited:request %}
            <input type="hidden" name="hidden_job_post_id" value="{{ job.pk }}"/>
            <a href="#" class="btn btn-danger btn-sm pull-right invite_button job_invite_reject">Reject</a>&nbsp;&nbsp;
            <a href="#" class="btn btn-primary btn-sm pull-right invite_button job_invite_accept" style="margin-right: 7px;">Accept</a>
        {% endif %}
        {% if job|check_if_apply_button_should_render:request %}
            <input type="hidden" name="hidden_job_post_id" class="hidden_job_post_id" value="{{ job.pk }}"/>
            <a href="#" class="btn btn-primary btn-sm pull-right invite_button job_apply" style="color: white; margin-right: 7px;">Apply</a>
        {% else %}
            {% if job|check_if_already_applied:request %}
            <button class="btn btn-sm btn-danger pull-right" disabled><span class="glyphicon glyphicon-ok"></span> You have already applied to this job</button>
            {% endif %}
        {% endif %}
        </h2>
        <!--<div style="font-size: 13px; font-weight: normal;">Job posted on: {{ job.date_created|fromunix|localtime|format_datetime }}</div>-->
        <!--<div style="font-size: 13px; font-weight: normal;">Job end date: {{ job.end_date|fromunix|localtime|format_datetime }}</div>-->
    </div>
</div>
{% endblock bodycontent %}