<div id="about-content" class="contentblock">
    <div class="data_msng">
        <div><h1>About Me    {% if content_editable %}<button onclick="updateAbtMe()" class='btn btn-primary btn-xs update_abt_me'>Update</button>{% endif %}</h1></div>

        <p class='abt_me_text'>{{ profile.description }}</p>
        <div>
            <form action="/update_profile/abt_me_form/" method="post" class='abt_me_form' style="">{% csrf_token %}
                <label> About me </label> <br/>
                <textarea rows="10" name="about_me" id="id_about_me" cols="60"> {{ profile.description }}</textarea>
                <br/>
                <input type="submit" class='btn btn-xs btn-primary' value="Save" />
            </form>
        </div>
    </div>

</div>
<!-- @end #about-content -->