{% load staticfiles %}

<!DOCTYPE HTML>
<html>
<head>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "css/rich-textarea/editor.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{%  static "js/rich-textarea/editor.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
    <script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
    <style type="text/css">
        .Editor-editor{
            outline: none;
            border: 1px solid #B7B7B7;
        }
        #statusbar{
            display: none;
        }
        .Editor-editor{
            height: 300px;
        }
        .width120{
            width:  120px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready( function() {

            $("#txtEditor").Editor();

            $(".fa-code").parent().hide();
            $(".fa-arrows-alt").parent().hide();
            $(".fa-print").parent().hide();
            $(".fa-table").parent().hide();
            $(".fa-asterisk").parent().hide();
            $(".fa-picture-o").parent().hide();

            var interest = $("#id_hidden_extra_curricular_interests").html();
            $(".Editor-editor").html(interest);

            var save_extra_curricular_activities_ajax = function(data,callback,error_back,complete_back){
                $.ajax({
                    type: "POST",
                    url: "/ajax/extra_curricular_interest",
                    data: { data: data },
                    success: function(content)
                    {
                        callback(jQuery.parseJSON(content));
                    },
                    error: function(jqxhr, status, error)
                    {
                        error_back(jqxhr, status, error);
                    }
                })
                .done(function( msg ) {
                    complete_back(msg);
                });
            };

            $("#id_save_extra_curricular_activities").click(function(e){
                var extra_curricular_activities = $(".Editor-editor").html();
                save_extra_curricular_activities_ajax(extra_curricular_activities,function(data){
                    if(data.status == "SUCCESS"){
                        var $title = 'Information Updated Successfully';
                        var $message = 'You have successfully updated your extracurricular interests. You can update any time you want by logging into your account.';
                        var success_callback = function(data){
                            parent.update_extra_curricular_interest($(".Editor-editor").html());
                        };

                        var cancel_callback = function(){

                        };

                        parent.show_popup_dialog("",$title,$message,false,"success",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,true);

                    }
                    else{
                        var $title = 'Information Update Failed';
                        var $message = 'Your extracurricular interests was not updated successfully. Please check input correctly or try again later.';
                        var success_callback = function(data){

                        };

                        var cancel_callback = function(){

                        };

                        parent.show_popup_dialog("",$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);

                    }
                },
                function(jqxhr, status, error){
                    var $title = 'Information Update Failed';
                    var $message = 'An error occured while performing the requested operation. Please check the input carefully or try again later.';
                    var success_callback = function(data){

                    };

                    var cancel_callback = function(){

                    };

                    parent.show_popup_dialog("",$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);

                },
                function(msg){

                });
            });

            $("#id_cancel_extra_curricular_activities").click(function(e){
                parent.jQuery.colorbox.close();
            });

        });
    </script>
</head>
<body>
<div id="id_hidden_extra_curricular_interests" style="display: none;">
    {{ extra_curricular_interest|safe }}
</div>
<div class="container" style="width: 100%;">
    <div class="row">
        <h4><img src="{% static "images/profile_img_inner.png" %}" width="35" height="35" alt="img">Extra Curricular Interest</h4>
    </div>
    <div class="row">
        <div class="col-md-12 nopadding">
            <div id="txtEditor" style="width: 100%; height: 600px;"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <button id="id_cancel_extra_curricular_activities" class="btn btn-md btn-warning pull-right width120" style="width: 130px;">Cancel</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button id="id_save_extra_curricular_activities" class="btn btn-md btn-primary pull-right width120" style="width: 130px;margin-right:7px;">Save</button>
    </div>
</div>
</body>
</html>