{% load staticfiles %}
<div class="padding20">
    <div class="top_img_section">
        <div class="img_box radius3"><img src="{{ thumbnail_url|safe }}"/></div>
        <div class="img_detail">
            <a href="#"> {{ object.fullname }} <span>({{ object.pk }})</span> </a>
            <span class="british"><img src="{% static "images/british.png" %}" width="23" height="16" alt="img"> British | £25 -30</span>
            <span class="university">Harvard University, Class of 2013 </span>
            <span class="major"><em>Major :</em> Biomedical Engineering </span>
            <ul class="grade">
                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18"
                         alt="img">
                </li>
                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18"
                         alt="img">
                </li>
                <li><img src="{% static "images/grade_active.png" %}" width="17" height="18"
                         alt="img">
                </li>
                <li><img src="{% static "images/grade_non_active.png" %}" width="17"
                         height="18" alt="img">
                </li>
                <li><img src="{% static "images/grade_non_active.png" %}" width="17"
                         height="18" alt="img">
                </li>
            </ul>
            </a>
        </div>
        <div style="width: 100%; float: left;">
            {% if content_editable %}
                <a class="button btn" st href="{% url 'change_pp' %}">Change Profile Picture</a>
            {% endif %}
        </div>
    </div>
    <p class="txt"><span>Major:</span>{% if content_editable %}&nbsp;<button onclick="changeMajor()" class='btn btn-primary btn-mini change_major'>Edit</button>{% endif %}</p>
    <p class="change_major_text">{{ profile.major_subject }}</p>


    <div>
        <form action="/update_profile/change_major_form/" method="post" class='change_major_form' style="display: none;">{% csrf_token %}
            <textarea class="form-control" rows="10" name="major_subjects" id="id_major_subjects" cols="40" style="resize:none;"> {{ profile.major_subjects }}</textarea>
            <br/>
            <input type="submit" class='btn btn-mini btn-primary' value="Save" />
        </form>
    </div>

</div>

<div class="padding20">
    <h3>Teaching Experience   {% if content_editable %}<button onclick="changeTExp()" class='btn btn-primary btn-mini change_texp'>Edit</button>{% endif %} </h3>

    <p class="txt change_texp_text">{{ profile.teaching_exp}}</p>
    <div>
        <form action="/update_profile/change_texp_form/" method="post" class='change_texp_form' style="display: none;">{% csrf_token %}
            <textarea class="form-control" rows="10" name="data" id="id_data" cols="60" style="resize: none;"> {{ profile.teaching_exp }}</textarea>
            <br/>
            <input type="submit" class='btn btn-mini btn-primary' value="Save" />
        </form>
    </div>
</div>

<div class="padding20">
    <h3><img src="{% static "images/extra_curricular_icon.png" %}" width="34" height="34"
             alt=" "> Extracurricular Interests    {% if content_editable %}<button onclick="changeEInterest()" class='btn btn-primary btn-mini change_einterest'>Edit</button>{% endif %} </h3>
    <p class="txt change_einterest_text"> {{ profile.ext_interest }} </p>

    <div>
        <form action="/update_profile/change_einterest_form/" method="post" class='change_einterest_form' style="display: none;">{% csrf_token %}
            <textarea class="form-control" rows="10" name="data" id="id_data" cols="60" style="resize: none;"> {{ profile.ext_interest }}</textarea>
            <br/>
            <input type="submit" class='btn btn-mini btn-primary' value="Save" />
        </form>
    </div>

</div>

<div class="padding20">
    <h3><img src="{% static "images/skul_attended_icon.png" %}" width="20" height="21"
             alt="img"> School attended </h3>

    <a href="#" class="skul_atnd_btn radius3" onClick="return false"> <img src="{% static "
                                                                                                   images/crtfcte_icon.png"
        %}" width="18" height="16" alt="img"> Certificates Verified <span>Academic certificates of the tutor has been verified</span></a>
    <br/>
    <div class="eductation_list">
        {% for item in profile.education.all %}
            <h3 class="hdng_inr"> {{ item.session }} {{ item.degree }} (<span class="chicago"> {{ item.institution }} </span>)
            </h3>

            <p class="txt"> {{ item.topics }} - {{ item.cgpa }} </p>
            {% if item.is_current %}
                <p class="txt"> Currently studying here. </p>
            {% endif %}

            <div class="span3 align-left">
                <form action="{% url 'add_education' %}" method="post" class='add_edu_form' style="display: none;">
                    {% csrf_token %}<br/>
                    <label>Certification</label>            <input id="id_degree" maxlength="255" class="form-control pull-right" name="degree" type="text"><br/><br/>
                    <label>School</label>                   <input id="id_institution" maxlength="255" class="form-control pull-right" name="institution" type="text"><br/><br/>
                    <label>Class</label>                    <input id="id_session" maxlength="255" class="form-control pull-right" name="session" type="text"><br/><br/>
                    <label>CGPA/GPA</label>                 <input id="id_cgpa" maxlength="255" class="form-control pull-right" name="cgpa" type="text" value="0.0"><br/><br/>
                    <label>Is Current?</label>              <input id="id_is_current" name="is_current" class="form-control pull-right" type="checkbox"><br/><br/>
                    <input type="submit" class='btn btn-mini btn-primary' value="Save" />
                </form>
            </div>

            {% if content_editable %}
                <p><a class="btn" href="{% url 'update_education' pk=item.pk %}"> update </a> <a class="btn"
                                                                                                 href="{% url 'delete_education' pk=item.pk %}">
                    remove </a></p>

            {% endif %}

        {% endfor %}

    </div>
    <div style="float: left;width:  100%;">{% if content_editable %}<button onclick="addNewEdu()" class='btn btn-primary btn-mini add_new_edu'>Add Another Degree</button>{% endif %}</div>
</div>

<div class="padding20">
    <h3><img src="{% static "images/top_subject2_icon.png" %}" width="19" height="21"
             alt="img"> Top Subjects</h3>

    <h3 class="hdng_inr"> ACT (English) </h3>

    <p class="txt"> I took the ACT 5 Times and achived a score of 34 in the English section </p>

    <h3 class="hdng_inr"> ACT (Math) </h3>

    <p class="txt"> I took the ACT 5 Times and achived a score of 34 in the Math section </p>

    <h3 class="hdng_inr"> ACT (Science) </h3>

    <p class="txt"> I took the ACT 5 Times and achived a score of 36 in the Math section </p>

    <h3 class="hdng_inr"> Algebra </h3>

    <p class="txt"> I learned Alegebra in ukrain, and then took algebra I / II in a US high
        school </p>

    <h3 class="hdng_inr"> Biology </h3>

    <p class="txt"> It was one of my favorite classes in high school. I got a 4 on the AP test
        and a750 on the SAT Biology M test. </p>

    <h3 class="hdng_inr"> Calculus </h3>

    <p class="txt"> I got a 5 on the AB/BC Calculus Tests. </p>

    <h3 class="hdng_inr"> College admissions </h3>

    <p class="txt"> i applied to 21 collages and got accepted into an Ivy league school
        (University of pennsylvania) </p>

    <h3 class="hdng_inr"> English </h3>

    <p class="txt"> I got a 5 on the English Literature and Composition AP test. </p>

    <h3 class="hdng_inr"> Philosophy </h3>

    <p class="txt"> I am Currently taking my second collage- level philosophy course. </p>

</div>