{% extends "ajax/layout.html" %}
{% load staticfiles %}

{% block head_script %}
    <style>
        .width120{
            width:  120px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready( function() {

            $("#id_min_rate_currency").change(function(){
                $("#id_max_rate_currency").val($(this).val());
            });

            $("#id_max_rate_currency").change(function(){
                $("#id_min_rate_currency").val($(this).val());
            });

            $("#id_rate_submit").click(function(e){

                var request_data = {
                    action: "ADD_RATE",
                    rate_class: $("#id_rate_class_name").val(),
                    rate: $("#id_rate").val(),
                    //max_rate: $("#id_max_rate").val(),
                    rate_currency: $("#id_min_rate_currency").val()
                };

                console.log(request_data);

                var callback = function(data){
                    console.log(data);
                    if(data.status == "SUCCESS"){
                        var $title = 'Rate Added Successfully';
                        var $message = 'You have successfully added rate in your profile. You can update any time you want by logging into your account.';
                        var success_callback = function(data){
                            var data_row = "<tr>";
                            data_row += "<td><p class=\"txt\">"+ data.data.class_level +" </p></td>";
                            data_row += "<td>"+ data.data.rate_currency + " " + data.data.rate.toFixed(2)+"/hour</td>";
                            data_row += "<td style=\"width: 20px;\"><input type=\"hidden\" class=\"rate_id\" value=\""+ data.data.id +"\"/>";
                            data_row += "<a style=\"float: right;\" class=\"close close-profile-rate\">x</a>";
                            //data_row += "<a style=\"float: right; position: relative; top: 1px; right: 7px;\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>"
                            data_row += "</td></tr>";

                            AddRateToList(data.data.id,data.data.class_level,data.data.rate,data.data.rate_currency);

                            parent.AddRate(data_row);
                            parent.UpdateProfileRate(data.data.profile_min_rate.toFixed(2),data.data.profile_max_rate.toFixed(2));
                        };

                        var cancel_callback = function(){

                        };

                        parent.show_popup_dialog(data,$title,$message,false,"success",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                    }
                    else{
                        var $title = 'Rate Adding Failed';
                        var $message = 'Your rate was not added successfully. The following error occured while adding course: <br/><b>"'+ data.message +'"</b>.</br>Please fix the error and try again later.</b>';
                        var success_callback = function(data){

                        };

                        var cancel_callback = function(){

                        };

                        parent.show_popup_dialog(data,$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                    }
                };

                var error_back = function(jqxhr, status, error){
                    var $title = 'Information Update Failed';
                    var $message = 'An error occurred while performing the requested operation. <br/>Please check the input carefully or try again later.';
                    var success_callback = function(data){

                    };

                    var cancel_callback = function(){

                    };

                    parent.show_popup_dialog("",$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback);
                };

                var complete_back = function(msg){

                };

                parent._ajax_call("POST","/ajax/profile_rates",request_data,callback,error_back,complete_back);
            });

            $("#id_rate_cancel").click(function(e){
                parent.jQuery.colorbox.close();
            });

            //$('#id_rate_list_container').scrollTop($('#id_rate_list_container')[0].scrollHeight);

            $("#id_rate_form_submit").click(function(e){
                e.preventDefault();
                var form_data = $("form[name=rate-form]").serialize();
                form_data += "&action=ADD_BATCH_RATE";
                parent._ajax_call("POST","/ajax/profile_rates",form_data,function(data){
                    if(data.status == "SUCCESS"){
                            var $title = 'Rate Added Successfully';
                            var $message = 'You have successfully added rate in your profile. You can update any time you want by logging into your account.';
                            var success_callback = function(data){
                                parent.location.reload();
                            };

                            var cancel_callback = function(){

                            };

                            parent.show_popup_dialog(data,$title,$message,false,"success",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                    }
                    else{
                        var $title = 'Rate Update Failed';
                        var $message = 'Your profile rate was not added successfully. The following error occured while adding course: <br/><b>"'+ data.message +'"</b>.</br>Please fix the error and try again later.</b>';
                        var success_callback = function(data){

                        };

                        var cancel_callback = function(){

                        };

                        parent.show_popup_dialog(data,$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                    }
                },
                function(jqxhr, status, error){

                },function(msg){

                });
            });

            $("#id_rate_form_cancel").click(function(e){
                e.preventDefault();
                parent.jQuery.colorbox.close();
            });

        });
    </script>
{% endblock head_script %}

{% block bodycontent %}
    <div class="container" style="width: 100%;">
        <div class="row">
            <h3><img src="{% static "images/profile_img_inner.png" %}" width="35" height="35" alt="img"> Profile Rate</h3>
        </div>
        <hr>
        <script>
            function AddRateToList(id,level,rate,currency){
                var _tr = "<tr>";
                _tr += "<td style=\"width: 300px;\">"+level+"<input type=\"hidden\" value=\""+id+"\" class=\"rate_id\"></td>";
                _tr += "<td class=\"width100\"><input type=\"text\" class=\"form-control\" value=\""+ rate.toFixed(2) +"\"/></td>";
                _tr += "<td class=\"width10\"></td>";
                _tr += "<td>";
                _tr += "<select class=\"form-control\" style=\"width: 200px;\">{% for currency in currency_objs %}<option value=\"{{ currency.symbol }}\">{{ currency.name }}</option>{% endfor %}";
                _tr += "</select></td>";
                _tr += "</tr>";
                $("#id_rate_list").find("tbody").append(_tr);
            }
        </script>
        <style>
            #id_rate_list input{
                width:  100px;
                border:  1px solid #E0E0E0;
                float: left;
            }
            .width100{
                width:  100px;
            }
            .width10{
                width: 10px;
            }
        </style>
        <div id="id_rate_list_container" style="height: 280px; overflow-y: auto;">
            <form name="rate-form" method="post">
            <table id="id_rate_list" class="table borderless" style="max-height: 300px; overflow: scroll;">
                <tbody>
                {% for rate_obj in rate_objs %}
                    <tr>
                        <td style="width: 300px;">

                            {% if rate_obj.class_level == "Elementary" %}
                                Elementary(Primary)
                            {% elif rate_obj.class_level == "HighSchool" %}
                                High School(Secondary)
                            {% elif rate_obj.class_level == "College" %}
                                College(A Level, Diploma)
                            {% elif rate_obj.class_level == "UniversityDegree" %}
                                University(Degree)
                            {% elif rate_obj.class_level == "UniversityMasters" %}
                                University(Master)
                            {% elif rate_obj.class_level == "UniversityPhD" %}
                                University(PhD)
                            {% elif rate_obj.class_level == "Music" %}
                                Music
                            {% elif rate_obj.class_level == "Language" %}
                                Language
                            {% elif rate_obj.class_level == "Computing" %}
                                Computing
                            {% else %}
                                {{ rate_obj.class_level }}
                            {% endif %}
                            <input type="hidden" value="{{ rate_obj.id }}" name="rate_id_{{ forloop.counter }}" class="rate_id">
                        </td>
                        <td class="width100">
                            <input type="text" name="rate_value_{{ forloop.counter }}" class="form-control" value="{{ rate_obj.rate|floatformat:"2" }}"/>
                        </td>
                        <td class="width10"></td>
                        <td>
                            <select class="form-control" name="rate_currency_{{ forloop.counter }}" style="width: 200px;">
                                {% for currency in currency_objs %}
                                    <option value="{{ currency.code }}" {% if rate_obj.rate_currency == currency.code %} selected {% endif %}>({{ currency.code }}) {{ currency.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </form>
        </div>
        <table class="table borderless">
            <tbody>
            <tr>
                <td>
                    <input id="id_rate_class_name" type="text" class="form-control" placeholder="Enter new class" style="width:300px; float: left;"/>
                    <input id="id_rate" type="text" class="form-control" placeholder="Enter rate" style="width: 100px; float: right;"/>
                    <p class="help-block" style="clear: both;"><b>Enter class name that is not in the list above.</b></p>
                </td>
                <td colspan="2">
                    <select id="id_min_rate_currency" class="form-control pull-right" style="width: 100px;">
                        {% for currency in currency_objs %}
                            <option value="{{ currency.code }}">{{ currency.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button id="id_rate_submit" class="btn btn-primary width120 pull-right" style="margin-right: 10px;">Add</button>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td colspan="3">
                    <div class="clear: both;">
                        <button id="id_rate_form_cancel" class="btn btn-danger width120 pull-right" style="margin-right: 10px;">Cancel</button>
                        <button id="id_rate_form_submit" class="btn btn-success width120 pull-right" style="margin-right: 10px;">Update</button>
                    </div>
                </td>
            </tr>
{#            <tr>#}
{#                <td>#}
{#                    <input id="id_max_rate" type="text" class="form-control" placeholder="Max rate"/>#}
{#                </td>#}
{#                <td>#}
{#                    <select id="id_max_rate_currency" class="form-control" disabled>#}
{#                        <option value="usd">USD</option>#}
{#                        <option value="sgd">SGD</option>#}
{#                    </select>#}
{#                </td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>#}
{##}
{#                </td>#}
{#                <td>#}
{#                    <button id="id_rate_cancel" class="btn btn-danger width120 pull-right">Cancel</button>#}
{#                </td>#}
{#            </tr>#}
            </tbody>
        </table>
    </div>
{% endblock bodycontent %}