{% load staticfiles %}
{% load i18n %}

<!DOCTYPE HTML>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "css/rich-textarea/editor.css" %}" rel="stylesheet">
    <link href="{% static "css/fileinput.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}"/>
    <script type="text/javascript" src="{%  static "js/rich-textarea/editor.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fileinput.js" %}"></script>
    <script type="text/javascript" src="{% static "js/select2.min.js" %}"></script>
    <style type="text/css">
        .margintop7px{
            position: relative;
            top:  7px;
        }
        .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
            border: none;
        }
        .form-input-style-custom{
            height:  70px;
        }
        ul.champ_ready_teach { width:100%; height:auto; float:left; list-style-type:none; margin:0px; display:inline; }
        ul.champ_ready_teach li { width:auto; height:35px; float:left; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; background-color: #f6f6f6; border: solid 1px #ececec; padding:0 15px; margin:0 10px 10px 0; display:inline; }
        ul.champ_ready_teach li > label { width:auto; height:auto; float:left; color:#2B333A; font:13px/35px 'HelveticaNeueLTStd-Bold';margin-right:7px; display:inline; }
        ul.champ_ready_teach li > p { width:auto; height:auto; float:left; color:#5e5e5e; font:13px/35px 'HelveticaNeueLTStd-Roman'; }

    </style>
    <script type="text/javascript">
        $(document).ready( function() {
            $("#id_update_nid_img").fileinput({
                uploadUrl: "http://localhost/file-upload-single/1", // server upload action
                uploadAsync: true,
                maxFileCount: 1,
                allowedFileExtensions: ["png","jpg"],
                previewFileType: "image",
                browseClass: "btn btn-success",
                browseLabel: "Pick Image",
                browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
                removeClass: "btn btn-danger",
                removeLabel: "Delete",
                removeIcon: '<i class="glyphicon glyphicon-trash"></i>',
                uploadClass: "btn btn-info",
                uploadLabel: "Upload",
                uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',
                browseClass: "btn btn-primary btn-block",
                showCaption: false,
                showRemove: false,
                showPreview: true
            });

            $("#id_update_profile_summary").click(function(e){
                e.preventDefault();
                var form_data = $("#id_profile_info_form").serialize();
                parent._ajax_call("POST","/ajax/update_tutor_profile_info",form_data,
                    function(data){
                        console.log(data);
                        if(data.status == "SUCCESS"){
                            var $title = 'Profile updated Successfully';
                            var $message = 'You have successfully updated your profile. You can update your profile anytime later by logging into your account.';
                            var success_callback = function(data){
                                //console.log(data);
                                //parent.UpdateProfileSummary(data.data.name,data.data.nid,data.data.nationality,data.data.current_school,data.data.session,data.data.major);
                                parent.location.reload();
                            };

                            var cancel_callback = function(){

                            };

                            parent.show_popup_dialog(data,$title,$message,false,"success",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,true);

                            return false;

                        }
                        else{
                            var $title = 'Profile Update Failed';
                            var $message = 'Your profile was not updated successfully. The following error occurred while updating your profile: <b>'+ data.message +'</b> Please fix the error and try agin later.';
                            var success_callback = function(data){

                            };

                            var cancel_callback = function(){

                            };

                            parent.show_popup_dialog("",$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);

                            return false;
                        }
                    },
                    function(jqxhr, status, error){
                        var $title = 'Profile Update Failed';
                        var $message = 'An error occurred while performing the requested operation. Please check the input carefully or try again later.';
                        var success_callback = function(data){

                        };

                        var cancel_callback = function(){

                        };

                        parent.show_popup_dialog("",$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);

                        return false;
                    },
                    function(msg){
                        
                    }
                );
            });

            $("#id_cancel_profile_summary_update").click(function(e){
                e.preventDefault();
                parent.jQuery.colorbox.close()
                return false;
            });

            $("#id_timezone_select").select2();



        });
    </script>
</head>
<body>
<div class="container" style="width: 100%;">
    <div class="row">
        <h4><img src="{{ champ_user.render_profile_picture }}" width="35" height="35" alt="img"> Update Profile Information</h4>
    </div>
    <hr>
    <div class="row" style="height: 500px; overflow-y: auto;">
        <form action="#" class="signin_form" method="POST" name="profile_info_form" id="id_profile_info_form" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table borderless text-center">
                <tbody>
                    <tr>
                        <td>
                            {% if profile_verification_status == 1 or profile_verification_status == 2 %}
                                <input id="id_update_name" placeholder="Enter your name" maxlength="255" class="form-control form-input-style-custom" style="height: 30px;" name="full_name" type="text" value="{{ champ_user.fullname }}" readonly="true"/>
                            {% else %}
                                <span class="help-block" style="float: left; margin-left: 3px;"><b>Name</b></span>
                                <input id="id_update_name" placeholder="Enter your name" maxlength="255" class="form-control form-input-style-custom" style="height: 30px;" name="full_name" type="text" value="{{ champ_user.fullname }}"/>
{#                                <p class="help-block"><b>The name should be exactly your national id card name.</b></p>#}
                            {% endif %}
                        </td>
                        <td>
                            <span class="help-block" style="float: left; margin-left: 3px;"><b>Nationality: </b></span>
{#                            <input id="id_update_country" placeholder="Your nationality" maxlength="255" class="form-control form-input-style-custom" style="height: 30px;" name="nationality" type="text" value="{{ champ_user.nationality }}">#}
                            <select id="id_update_country" class="form-control" name="nationality">
                                {% for country in countries %}
                                    <option value="{{ country.id }}" {% if nationality.id == country.id %} selected {% endif %}>{{ country.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="help-block" style="width: 100%; text-align: left; float: left; margin-left: 3px; float: left;"><b>Select Gender: </b></div>
                            <div>
                                <select id="id_select_gender" class="form-control" name="select_gender">
                                    <option value="-1" selected="">Select Your Gender</option>
                                    <option {% if champ_user.gender == "male" %} selected="true" {% endif %} value="male">Male</option>
                                    <option {% if champ_user.gender == "female" %} selected="true" {% endif %} value="female">Female</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="help-block" style="width: 100%; text-align: left; float: left; margin-left: 3px; float: left;"><b>Select Timezone: </b></div>
                            <div>
                            <select name="user_timezone" id="id_timezone_select" class="form-control lesson-request-select change-password-input" style="cursor: pointer;">
                                {% for value, label in timezones %}
                                <option value="{{ value }}" {% if request.user.champuser.timezone == value %} selected {% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </td>
                    </tr>
                    <!--<tr>-->
                        <!--<td>-->
                            <!--<div class="help-block" style="width: 100%; text-align: left; float: left; margin-left: 3px; float: left;"><b>Your Birthdate </b></div>-->
                            <!--<div>-->
                            <!--<input type="text" id="id_profile_bdate" name="profile_bdate" class="form-control" required="required" placeholder="Your Birthdate">-->
                            <!--</div>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<div>-->
                            <!--<a href="{% url "secure_user_profile" %}" target="_blank"><img src="{% static "images/privacy.png" %}" style="position: relative; top: -3px;" width="12" height="15"/> Update security question</a>-->
                            <!--</div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <tr>
                        <td colspan="2">
                            <button id="id_update_profile_summary" class="btn btn-md btn-primary text-center width120" style="width: 150px;margin-right:7px;">Submit</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="id_cancel_profile_summary_update" class="btn btn-md btn-warning text-center width120" style="width: 150px;">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>
{% if champ_user.is_tutor %}
<script>

    function language_update(data,callback,error_back,complete_back) {
        $.ajax({
            type: "POST",
            url: "/ajax/language-update/",
            data: data,
            enctype: 'multipart/form-data',
            success: function(data)
            {
                callback(jQuery.parseJSON(data));
            },
            error: function(jqxhr, status, error)
            {
                error_back(jqxhr, status, error);
            }
        })
        .done(function( msg ) {
            complete_back(msg);
        });
    }

    $(document).ready(function(){

        $("#id_language_select").select2({ width: 220 });
        $("#id_lan_level").select2({ width: 220 });

        $("#id_add_lang_btn").click(function(e){
            e.preventDefault();
            $(this).hide();
            $("#id_lang_option_container").show();
            return false;
        });

        $("#id_submit_lang_btn").click(function(e){
            e.preventDefault();
            //alert($("#id_language_select").text());
            language_update({"action":"LAN_ADD","lan-code": $("#id_language_select").val(), "lan-level": $("#id_lan_level").val() },
            function(data) {
                //console.log(data);
                if(data.status == "SUCCESS") {
                    var _html = "<li><label>"+ data.data.lang_name +"<span data-lp_id=\""+ data.data.lp_id +"\" class=\"glyphicon glyphicon-remove remove_lan pull-right\" style=\"cursor: pointer; top: 13px;\"></span><small>( "+ data.data.prof_level +" )</small></label></li>";
                    $("#id_language_tags").append(_html);

                }
            },function(jqxhr, status, error) {

            },
            function(msg) {

            });

            $("#id_add_lang_btn").show();
            $("#id_lang_option_container").hide();
            return false;
        });

        $(document).on("click",".remove_lan", function(e) {
           e.preventDefault();
           var lp_id = $(this).data("lp_id");
           var $this = $(this);
           $.ajax({
                type: "POST",
                url: "/ajax/language-delete/",
                data: { lp_id: lp_id },
                enctype: 'multipart/form-data',
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    console.log(data);
                    if(data.status == "SUCCESS") {
                        $this.parent().parent().remove();
                    }
                    else {

                    }
                },
                error: function(jqxhr, status, error)
                {

                }
            })
            .done(function( msg ) {

            });
        });

        $("#id_cancel_lang_btn").click(function(e) {
            e.preventDefault();
            $("#id_add_lang_btn").show();
            $("#id_lang_option_container").hide();
        });

    });
</script>
{% endif %}