{% load staticfiles %}
{% load datefilters %}
{% load tz %}

{% if content_editable %}

<aside class="aside_right bg_white">
    <ul class="profile_list">
    <a href='{% url "full_calendar" %}' class="calendar">
		<div class="yearly_calendar_inner">

             {{ profile_summary.month_calendar }}

		</div>
	</a>
    <li>
        <ul class="total_requests">

            <h3>Your Total Requests</h3>
            <li>This month ({{ profile_summary.current_month }}) :</li>
            <li><span> {{ profile_summary.this_month_requests }} </span></li>
            <li>This year ({{ profile_summary.current_year }}) :</li>
            <li><span> {{ profile_summary.this_year_requests }} </span></li>
            <li>All Time:</li>
            <li><span> {{ profile_summary.all_time_requests }} </span></li>
            <li>Accepted :</li>
            <li><span> {{ profile_summary.request_accepted }} </span></li>
            <li>Rejected :</li>
            <li><span> {{ profile_summary.request_rejected }} </span></li>
        </ul>
    </li>
    <li>
        <ul class="total_requests">
            <li> Hours Tutored </li>
            <li> Earned </li>
        </ul>
    </li>
    <li>
        <ul class="total_requests">
            {% for currency, data in profile_summary.earnings.items %}
            <li> {{ data.duration|floatformat:1 }} </li>
            <li> {{ currency }} ${{ data.amount }} </li>
            {% empty %}
            <li>No data available</li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <span class="location">Location</span>
        <span class="spkn_lnge1">
            <!--{{ object.nationality.name }}<b>{{ request|current_date|localtime|format_datetime }}<i>({{ object.timezone }})</i></b>-->
            {{ object.render_timezone_country }}<br>{{ request|current_date|localtime|format_datetime2:"%I:%M %p" }} ({{ object.timezone }})
        </span>
    </li>
    <li>
        <ul class="total_requests">
            <li> Last Tutored  </li>
            <li> {% if profile_summary.last_tutored == -1 %}N/A{% else %}{{ profile_summary.last_tutored|fromunix|localtime|format_datetime2:"%b %d, %Y" }}{% endif %} </li>
        </ul>
    </li>
    <li>
        <ul class="total_requests">
            <li> Tutor Since </li>
            <li> {{ object.date_created|fromunix|localtime|format_datetime2:"%b %d, %Y" }} </li>
        </ul>
    </li>
    <li>
        <form class="url_adrs">
            <h4>Your URL Address</h4>
            <input type="text" class="radius3" value="{{ request.META.HTTP_HOST }}{% url "user_profile" pk=object.user.pk %}">
        </form>

        <script>
            $("input[type='text']").click(function () {
               $(this).select();
            });
        </script>


    </li>
    </ul>
</aside>
<script>
$(".year_topic_icon").hover(function(){
	$(this).siblings(".lesson_chap_summary").toggleClass("displaynone");
});

$(".year_chap").hover(function(){
	$(this).siblings(".lesson_chap_summary").toggleClass("displaynone");
});
</script>
{% else %}


    <aside class="aside_right">
        <ul class="profile_list">
        <li>
            <span class="likelihood_section"><em>Likelihood of Reply:</em> &nbsp; {% if profile_summary.likelihood_reply %}{{ profile_summary.likelihood_reply }}% {% else %}N/A{% endif %}</span>
        </li>
        <li>
            <span class="likelihood_section"><em>Expected Response Time:</em> &nbsp; {{ profile_summary.expected_response_time }} </span>
        </li>
        <li>
            <input type="hidden" name="tutor_id" value="{{ object.user.pk }}">
            <input class="userid" type="hidden" value="{{ object.user.pk }}">
            <input type="submit" style="width: 100%; margin-top: 10px;" class="connect_btn radius3 tutor_invite_btn" value="Invite">
        </li>
        <li>
            <h4> <img src="{% static "images/msg_icon.png" %}" width="22" height="18" alt="img"> Send {{ object.last_name }} a Message</h4>
            <p class="txt">TIP: Want to set up a lesson? Include a deion of what you're working on and when you'd like to meet. </p>
            <input id="id_visit_profile_send_message_tutor_id" type="hidden" name="tutor_id" class="tutor_id" value="{{ object.user.pk }}"/>
            <input type="hidden" name="tutor_name" value="{{ object.fullname }}"/>
            <textarea id="id_visit_profile_send_message_text" class="radius3 aside" placeholder="Your Message"></textarea>
            <input type="submit" style="width: 100%; margin-top: 10px;" class="connect_btn radius3 " id="id_visit_profile_send_message" value="Send Message">
    </li>

        <li>
            <span class="location">Location</span>
            <span class="united_state">{{ object.render_timezone_country }}<br><em>{{ object.user|localize_user_timezone|format_datetime2:"%d/%m/%Y@%H:%M %p" }}</em></span>
        </li>

        {% if object.languages.exists %}
        <li>
            <span class="location">Spoken Language(s)</span>
            <span class="spkn_lnge">
              {% for planguage in object.languages.all %}
                  {{ planguage.language.name.capitalize }}
                {% if planguage.proficiency == 1 %}
                <small>Below Average</small>
                {% elif planguage.proficiency == 2 %}
                <small>Average</small>
                {% elif planguage.proficiency == 3 %}
                <small>Fluent</small>
                {% endif  %}
              {% endfor %}
            </span>
        </li>
        {% endif %}

        <li>
            <span class="location">Last Tutored </span>
            <span class="last_tutor_date">{% if profile_summary.last_tutored == -1 %}
                N/A
                {% else %}
                {{ profile_summary.last_tutored|fromunix|localtime|format_datetime2:"%b %d, %Y" }}
                {% endif %}</span>
                </li>
        <li>
            <span class="location">Tutor Since</span>
            <span class="last_tutor_date">{{ object.date_created|fromunix|localtime|format_datetime2:"%b %d, %Y" }}</span>
        </li>

        </ul>

    </aside>

    <style>
        .success_heading {
            background: #337ab7 !important;
        }
        .failure_heading {
            background: #ed5959 !important;
        }
    </style>

    <script>
    $(document).ready(function() {

        var dont_send_back_me_value = 0;

        $("#id_visit_profile_send_message").click(function(e) {
            e.preventDefault();
            if(window.champ_user_id != undefined && window.champ_user_id != -1) {
                var text = $("#id_visit_profile_send_message_text").val();
                if($.trim(text) == "") {
                    $("#id_visit_profile_send_message_text").focus();
                    return false;
                }
                var data = {
                    message: text,
                    receivers: "{{ object.user.pk }}",
                    chat_type: 0,
                    dont_send_back_me: dont_send_back_me_value
                }
                $.ajax({
                    type: "POST",
                    url: "/ajax/send-message/",
                    data: data,
                    timeout: 3000,
                    enctype: 'multipart/form-data',
                    success: function(data)
                    {
                        var data = jQuery.parseJSON(data);
                        if(data.status == "SUCCESS") {
                            $("#id_visit_profile_send_message_text").val("");
                            if(dont_send_back_me_value == 1) {
                                $("#id_message_send_dialog").find(".reject_heading").text("Message Sent");
                                $("#id_message_send_dialog").find(".champ_last_text").text("Your message has been sent successfully. Once tutor responds to your message you will get notified.");
                                $("#id_message_send_dialog").find(".reject_heading").addClass("success_heading").removeClass("failure_heading");
                                $("#black_overlay").show();
                                $("#id_message_send_dialog").show();
                            }
                        }
                        else {
                            $("#id_message_send_dialog").find(".reject_heading").text("Message Sending Failed");
                            $("#id_message_send_dialog").find(".champ_last_text").text("Apologies, we have failed to sent the message. Please try again later.");
                            $("#id_message_send_dialog").find(".reject_heading").removeClass("success_heading").addClass("failure_heading");
                            $("#black_overlay").show();
                            $("#id_message_send_dialog").show();
                        }
                    },
                    error: function(jqxhr, status, error)
                    {
                        $("#id_message_send_dialog").find(".reject_heading").text("Message Sending Failed");
                        $("#id_message_send_dialog").find(".champ_last_text").text("Apologies, we have failed to sent the message. Please try again later.");
                        $("#id_message_send_dialog").find(".reject_heading").removeClass("success_heading").addClass("failure_heading");
                        $("#black_overlay").show();
                        $("#id_message_send_dialog").show();
                    }
                })
                .done(function( msg ) {

                });
            }
            else {
                show_signin();
            }
        });

        $(".cancel_msg_sent_dialog").click(function(e) {
            e.preventDefault();
            $("#black_overlay").hide();
            $("#id_message_send_dialog").hide();
        });

        $("#black_overlay").click(function(e) {
            e.preventDefault();
            $("#black_overlay").hide();
            $("#id_message_send_dialog").hide();
        });

    });
    </script>
    <div id="black_overlay" style="opacity: 0.5;">

    </div>
    <div id="id_message_send_dialog" style="width: 600px; display: none;">
      <div class="postneed_bx2" style="width: 600px;">
        <!-- <a href="#" class="cross"><img src="images/cross.png" width="25" height="25" alt="Close" /></a> -->

        <h3 class="reject_heading accept_bg" style="height: 48px; font: 18px/48px 'HelveticaNeueLTStd-Medium';">Message sent <span style="cursor: pointer; right: 20px; top: 20px;" class="glyphicon glyphicon-remove pull-right cancel_msg_sent_dialog"></span></h3>
        <div id="id_apply_dialog_form" class="reject_detail" style="width: 100%; border: 1px solid #DDE0E2;">
            <p class="champ_last_text" style="margin: 0px; font: 16px/21px 'proxima_novaregular';"></p>
            <a href="#" class="reject_btn accept_bg cancel_msg_sent_dialog" style="margin-top: 10px; margin-right: 0px !important;">Ok</a> &nbsp;&nbsp;
        </div>
      </div>
    </div>
{% endif %}