{% load staticfiles %}

<!DOCTYPE HTML>
<html>
<head>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "css/rich-textarea/editor.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{%  static "js/rich-textarea/editor.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
    <script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <link href="{% static "css/jquery-ui-1.10.4.custom.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery-ui-1.11.3.custom/jquery-ui.theme.css" %}" rel="stylesheet">
    <style type="text/css">
        .school-attended-field {
            width:  350px;;
        }
        .width120{
            width:  120px;
        }
        .margintop7px{
            position: relative;
            top:  7px;
        }
        .education-table tr td{
            vertical-align: middle;
        }
        .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
            border: none;
        }
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
            /* IE 6 doesn't support max-height
             * we use height instead, but this forces the menu to always be this tall
             */
        * html .ui-autocomplete {
            height: 200px;
        }
        .no_border {
            border: none;
        }
        .error-field {
            border: 1px solid red;
        }
    </style>
    <script type="text/javascript">
        $(document).ready( function() {

            var education_query_async = function(type,url,data,callback,error_back,complete_back){
                $.ajax({
                    type: type,
                    url: url,
                    data: data,
                    success: function(data)
                    {
                        callback(jQuery.parseJSON(data));
                    },
                    error: function(jqxhr, status, error)
                    {
                        error_back(jqxhr, status, error);
                    }
                })
                .done(function( msg ) {
                    complete_back(msg);
                });
            };

            $("#id_add_education").click(function(e){
                var edu_id = $("#id_edu_id").val();
                var level_val = $("#id_edu_level").val();
                var level_id = $("#id_hidden_level").val();
                var school_val = $("#id_institution").val();
                var school_id = $("#id_hidden_institution").val();
                var start_year = $("#id_start_year").val();
                var end_year = $("#id_end_year").val();
                var cgpa = $("#id_cgpa").val();
                var is_current = $("#id_is_current").is(":checked");

                var error = false;
                if($.trim(level_val) == "") {
                    $("#id_edu_level").addClass("error-field");
                    error = true;
                }
                else {
                    $("#id_edu_level").removeClass("error-field");
                }

                if($.trim(school_val) == "") {
                    $("#id_institution").addClass("error-field");
                    error = true;
                }
                else {
                    $("#id_institution").removeClass("error-field");
                }

                if($.trim(start_year) == "" || isNaN(parseInt($.trim(start_year)))) {
                    $("#id_start_year").addClass("error-field");
                    error = true;
                }
                else {
                    $("#id_start_year").removeClass("error-field");
                }

                if(!is_current) {
                    if($.trim(end_year) == "" || isNaN(parseInt($.trim(end_year)))) {
                        $("#id_end_year").addClass("error-field");
                        error = true;
                    }
                    else {
                        $("#id_end_year").removeClass("error-field");
                    }
                }

                if(error) {
                    $("#id_warning_msg").show();
                    return false;
                }
                else {
                    $("#id_warning_msg").hide();
                }
                var data = {
                    edu_id: edu_id,
                    level: level_val,
                    level_id: level_id,
                    sch_val: school_val,
                    sch_id: school_id,
                    start_year: start_year,
                    end_year: end_year,
                    cgpa: cgpa,
                    is_current: is_current
                };

                education_query_async("POST","/ajax/school_attended",data,function(data){
                            console.log(data);
                        if(data.status == "SUCCESS"){
                            var $title = 'Education Added Successfully';
                            var $message = 'You have successfully added your education. You can update your degree any time if you want by logging into your account.';
                            var success_callback = function(data){
                                parent.$.colorbox.close();
                                parent.window.location.reload();
                            };

                            var cancel_callback = function(){
                                parent.$.colorbox.close();
                                parent.window.location.reload();
                            };

                            parent.show_popup_dialog(data,$title,$message,false,"success",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,true);

                        }
                        else{
                            var $title = 'Education Update Failed';
                            var $message = 'The requested operation was failed. The following error occured while updating your education info: <br><b>'+data.message+'</b>. <br>Please correct the above error and try agin.';
                            var success_callback = function(data){

                            };

                            var cancel_callback = function(){

                            };

                            parent.show_popup_dialog(data,$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);

                        }
                },
                function(jqxhr, status, error){
                    var $title = 'Education Update Failed';
                    var $message = 'An error occurred while performing the requested operation. Please check the input carefully or try again later.';
                    var success_callback = function(data){

                    };

                    var cancel_callback = function(){

                    };

                    parent.show_popup_dialog(data,$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);

                },
                function(msg){

                });

            });

            $( "#id_edu_level" ).autocomplete({
                minLength: 0,
                source: "/ajax/suggestions/level", //[{"value":"CSE","id": 1},{"value":"Math","id": 2},{"value":"Add \"<b>Economics</b>\"","id": -1}],
                focus: function( event, ui ) {
                    if(ui.item.id == -1){
                        $( "#id_edu_level" ).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                    }
                    else{
                        $( "#id_edu_level" ).val( ui.item.value );
                    }
                    return false;
                },
                select: function( event, ui ) {
                    var tag_val = ui.item.value;
                    if(ui.item.id == -1){
                        tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                    }
                    $("#id_hidden_level").val(ui.item.id);
                    $("#id_edu_level").val(tag_val);
                    return false;
                }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li style='cursor:pointer;'>" )
                        .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                        .append( "<input type='hidden' class='degree_id' value='"+ item.id +"'/>" )
                        .appendTo( ul );
            };

            $( "#id_institution" ).autocomplete({
                minLength: 0,
                source: "/ajax/suggestions/school", //[{"value":"CSE","id": 1},{"value":"Math","id": 2},{"value":"Add \"<b>Economics</b>\"","id": -1}],
                focus: function( event, ui ) {
                    if(ui.item.id == -1){
                        $( "#id_institution" ).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                    }
                    else{
                        $( "#id_institution" ).val( ui.item.value );
                    }
                    return false;
                },
                select: function( event, ui ) {
                    var tag_val = ui.item.value;
                    if(ui.item.id == -1){
                        tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                    }
                    $("#id_hidden_institution").val(ui.item.id);
                    $( "#id_institution").val(tag_val);
                    return false;
                }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li style='cursor:pointer;'>" )
                        .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                        .append( "<input type='hidden' class='institution_id' value='"+ item.id +"'/>" )
                        .appendTo( ul );
            };

            $("#id_cancel_education").click(function(e){
                parent.jQuery.colorbox.close();
            });

           $("#id_is_current").change(function(e) {
                if($(this).is(":checked")) {
                    $("#id_end_year").val("Present");
                    $("#id_end_year").addClass("no_border");
                    $("#id_end_year").prop("disabled", true);
                }
                else {
                    $("#id_end_year").val("");
                    $("#id_end_year").removeClass("no_border");
                    $("#id_end_year").removeAttr("disabled");
                }
           });

           $("#id_start_year").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                 // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                 // Allow: Ctrl+C
                (e.keyCode == 67 && e.ctrlKey === true) ||
                 // Allow: Ctrl+X
                (e.keyCode == 88 && e.ctrlKey === true) ||
                 // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                     // let it happen, don't do anything
                     return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $("#id_end_year").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                 // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                 // Allow: Ctrl+C
                (e.keyCode == 67 && e.ctrlKey === true) ||
                 // Allow: Ctrl+X
                (e.keyCode == 88 && e.ctrlKey === true) ||
                 // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                     // let it happen, don't do anything
                     return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        });
    </script>
</head>
<body>
<div class="container" style="width: 100%;">
    <div class="row">
        <h4><img src="{% static "images/profile_img_inner.png" %}" width="35" height="35" alt="img"> Educational Experience</h4>
    </div>
    <hr>
    <table class="table borderless" style="border: none;">
        <tbody>
            <tr>
                <input id="id_edu_id" type="hidden" name="edu_id" {% if education_obj %}value="{{ education_obj.pk }}"{% else %}value="-1"{% endif %}/>
                <td><span class="margintop7px">Academic Level</span></td>
                <td><input placeholder="Academic Level" {% if education_obj and education_obj.level %}value="{{ education_obj.level.name }}"{% endif %} id="id_edu_level" maxlength="255" class="form-control school-attended-field" name="degree" type="text">
                    <input id="id_hidden_level"type="hidden" {% if education_obj and education_obj.level %}value="{{ education_obj.level.pk }}"{% else %}value="-1"{% endif %}>
                    <img src="{% static "images/loading_image.gif" %}" width="30" height="30" style="float: right; margin-top: -40px; margin-right: 140px; display: none;"/>
                </td>
            </tr>
            <tr>
                <td><span class="margintop7px">School</span></td>
                <td><input placeholder="Name of school" {% if education_obj and education_obj.institution %}value="{{ education_obj.institution.name }}"{% endif %} id="id_institution" maxlength="255" class="form-control school-attended-field" name="institution" type="text">
                    <input id="id_hidden_institution"type="hidden" {% if education_obj and education_obj.institution %}value="{{ education_obj.institution.pk }}"{% else %}value="-1"{% endif %}></td>
            </tr>
            <tr>
                <td><span class="margintop7px">Period</span></td>
                <td>
                    <input placeholder="Start Year" {% if education_obj and education_obj.date_attended %}value="{{ education_obj.date_attended }}"{% endif %} id="id_start_year" style="width: 110px !important; float: left; margin-right: 10px;" maxlength="70" class="form-control school-attended-field" name="session" type="text" min="1950">
                    <span style="width: 20px !important; float: left; margin-left: 4px; margin-right: 4px; margin-top: 4px;">-</span>
                    <input {% if education_obj and education_obj.is_current %}disabled{% endif %} {% if education_obj and education_obj.is_current %}value="Present"{% elif education_obj and education_obj.end_year %}value="{{ education_obj.end_year }}"{% endif %} placeholder="End Year" id="id_end_year" style="width: 110px !important; float: left; margin-right: 10px;" maxlength="70"
                           class="{% if education_obj and education_obj.is_current %}no_border{% endif %} form-control school-attended-field" name="session" type="text" min="1950">
                    <input {% if education_obj and education_obj.is_current %}checked{% endif %} id="id_is_current" name="is_current" class="form-control school-attended-field pull-left" style="width: 20px; height: 20px; cursor: pointer;" type="checkbox"> <label style="margin-top: 4px; cursor: pointer;" for="id_is_current">Current</label>
                </td>
            </tr>
            <tr>
                <td><span class="margintop7px">GPA</span></td>
                <td><input placeholder="Optional" {% if education_obj and education_obj.cgpa %}value="{{ education_obj.cgpa }}"{% endif %} id="id_cgpa" maxlength="255" class="form-control school-attended-field" name="cgpa" type="text"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p id="id_warning_msg" style="display: none; color: red;">*Required fields are marked as red</p>
                    <button id="id_add_education" class="btn btn-md btn-primary text-center width120" style="width: 150px;margin-right:7px;">Add Education</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="id_cancel_education" class="btn btn-md btn-warning text-center width120" style="width: 150px;">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>