<ul id="sidemenu">
  {% if content_editable %}

      <h4 class="jobs_heading">My Jobs</h4>
      <!--<li><a href="#feed-content" class="open">News Feed</a></li>-->
      <li><a href="#job-application-content" {% if selected_tab == "applications" %} class="open"{% endif %}>Application</a></li>
      <li><a href="#jobs-invitation-content" {% if selected_tab == "invites" %} class="open"{% endif %}>Invitation <span id="id_ji_total_count_panel" {% if not job_invitation_count %}style="display: none;"{% endif %} class="highlight new_invite_count">{{ job_invitation_count }}</span></a></li>
      <li><a href="#jobs-recommendation-content" {% if selected_tab == "recommendations" %} class="open"{% endif %}>Recommendation <span id="id_jr_total_count_panel" {% if not job_recommendation_count %}style="display: none;"{% endif %} class="highlight new_recommend_count">{{ job_recommendation_count }}</span></a></li>
      <li><a href="#participation-content" {% if selected_tab == "participations" %} class="open"{% endif %}>Participation</a></li>
      <h4 class="jobs_heading">My Students</h4>
      <li> <a href="#students-active-content" {% if selected_tab == "active-students" %} class="open"{% endif %}>Active</a> </li>
      <li> <a href="#students-inactive-content" {% if selected_tab == "inactive-students" %} class="open"{% endif %}>Inactive</a> </li>
      <li><a href="#champ-progress-report" {% if selected_tab == "progress-reports" %} class="open"{% endif %}>Write Progress Report</a></li>
      <li><a href="#recorded-sessions-content">Recorded Sessions</a></li>
      <li><a href="#top-students" {% if selected_tab == "top-students" %} class="open"{% endif %}>Top Students</a></li>
      <h4 class="jobs_heading">About Me</h4>
      <li><a href="#about-content" {% if selected_tab == "profile" %} class="open"{% endif %}>Profile<input type="hidden" id="id_profile_object_pk" value="{{ object.user.pk }}"/></a></li>
      <li><a href="#video-content" {% if selected_tab == "my-videos" %} class="open"{% endif %}>Video Intro</a></li>
      <li><a href="#certificates-content">Academic Certificates</a></li>
      <li><a href="#review-content">My Reviews</a></li>


  {% else %}
      <li><a href="#about-content-public" class="open">About Me<input type="hidden" id="id_profile_object_pk" value="{{ object.user.pk }}"/></a></li>
      <li><a href="#video-content-public" {% if selected_tab == "my-videos" %} class="open"{% endif %}>My Video Intro</a></li>
      <li><a href="#review-content-public">My Reviews</a></li>
      <script>
        $(document).ready(function() {
            load_tutor_section_contents({"section": "about", "view_as": $("#id_hidden_view_as").val(), "user_id": $("#id_profile_object_pk").val()},function(data) {
                $("#about-content").find(".data_msng").html(data.data.content);
                content_cache["about-content"] = true;
            },
            function(jqxhr, status, error) {

            },
            function(msg) {

            });
        });
      </script>
  {% endif %}

</ul>

<script>
$(document).ready(function() {
    $('ul.tabNav1 a').click(function() {
        $('ul.tabNav1 li').removeClass("current1");
        $(this).parent('li').addClass("current1");
        tabbings($(this).parent('li').index());
    });

    function tabbings(val)
    {
        $(".tab1").hide();
        if(val>0)
        {
            document.getElementsByClassName('tab2')[val].style.display="block";
        }
        else
        {
            document.getElementsByClassName('tab1')[0].style.display="block";
        }
    }
});
</script>