{% load staticfiles %}
{% load i18n %}
<!DOCTYPE HTML>
<html>
<head>
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/select2.min.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "js/lib/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/select2.min.js" %}"></script>
    <style type="text/css">
        .table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
            border: none;
        }
        select.tutoring_currency {
            -webkit-user-select: none;
            -moz-user-select: none;
            -webkit-padding-end: 20px;
            -moz-padding-end: 20px;
            -webkit-padding-start: 2px;
            -moz-padding-start: 2px;
            background-color: #FFFFFF; /* fallback color if gradients are not supported */
            background-position: center right;
            background-repeat: no-repeat;
            border: 1px solid #AAA;
            border-radius: 2px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
            color: #555;
            font-size: inherit;
            margin: 0;
            overflow: hidden;
            padding-top: 2px;
            padding-bottom: 2px;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 6px;
            width: 160px;
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">

        var current_row_index = {% if subject_rates %}{{ subject_rates|length }}{% else %}1{% endif %};

        function call_ajax(url, method, data, callback, errorback, completeback) {
            $.ajax({
                type: method,
                url: url,
                data: data,
                enctype: 'multipart/form-data',
                success: function(data)
                {
                    var data = jQuery.parseJSON(data);
                    callback(data);
                },
                error: function(jqxhr, status, error)
                {
                    errorback(jqxhr, status, error);
                }
            })
            .done(function( msg ) {
                completeback(msg);
            });
        }

        $(document).ready( function() {
            var fresh_row = $("#id_fresh_row_container").find("tbody").html();

            function get_all_selected_subjects() {
                var subjects = [];
                $(".tutoring_subjects").each(function(i) {
                    var values = $(this).select2('val');
                    console.log(values);
                    if(values != null) {
                        for(var i = 0 ; i < values.length ; i++) {
                            subjects.push(values[i]);
                        }
                    }
                });
                console.log(subjects);
                return subjects;
            }

            function check_if_disabled(value, selected_subjects) {
                if(selected_subjects.length == 0) {
                    return false;
                }
                for(var i = 0 ; i < selected_subjects.length ; i++) {
                    if(selected_subjects[i] == value) {
                        return true;
                    }
                }
                return false;
            }

            function check_if_selected(value, values_list) {
                if(values_list == null) {
                    return false;
                }
                for(var i = 0 ; i < values_list.length ; i++) {
                    if(values_list[i] == value) {
                        return true;
                    }
                }
                return false;
            }

            var subject_change_handler = function(event) {
                var $this = $(this);
                var selected_subjects = get_all_selected_subjects();
                $(".tutoring_subjects").each(function(i) {
                    var options = "";
                    $(this).find("option").each(function(i) {
                        var text = $(this).text();
                        var value = $(this).val();
                        if(check_if_disabled(value+"", selected_subjects)) {
                            $(this).prop("disabled", true);
                        }
                        else {
                            $(this).prop("disabled", false);
                        }

                    });
                    $(this).select2({ width: 185, placeholder: "Select Subject" });
                    console.log("===============================");

                });
            };

            var on_select2_opening = function(e) {
                console.log(e);
                var $this = $(this);
                var selected_subjects = get_all_selected_subjects();
                var options = "";
                $(this).find("option").each(function(i) {
                    var text = $(this).text();
                    var value = $(this).val();
                    console.log("Start");
                    console.log(selected_subjects);
                    console.log(value);
                    console.log(check_if_disabled(value+"", selected_subjects));
                    console.log("End");
                    if(check_if_disabled(value+"", selected_subjects)) {
                        if($(this).is(":selected")) {

                        }
                        else {
                            $(this).prop("disabled", "disabled");
                        }
                    }
                    else {
                        $(this).prop("disabled", false);
                    }

                });
                console.log("===============================");
            };

            var on_level_change = function(e) {
                var value = $(this).val();
                var $this = $(this);
                $.ajax({
                    url: "/ajax/fetch-subjects/",
                    data: {
                        level_name:  [ value ],
                        param_type: "id"
                    },
                    success: function(data) {
                        var data = jQuery.parseJSON(data);
                        if(data.status == "SUCCESS"){

                            var selected_subjects = get_all_selected_subjects();
                            var current_selects = $this.parent().next().find("select").select2('val');
                            options = "";
                            for(var i = 0; i < data.data.subjects.length; i++) {
                                if(check_if_disabled(data.data.subjects[i].id, selected_subjects)) {
                                    options += "<option disabled value=\""+ data.data.subjects[i].id +"\">"+ data.data.subjects[i].name +"</option>";
                                }
                                else {
                                    options += "<option value=\""+ data.data.subjects[i].id +"\">"+ data.data.subjects[i].name +"</option>";
                                }
                            }
                            $this.parent().next().find("select").html(options);
                            //$this.parent().next().find("select").html(options).select2({ width: 185, placeholder: "Select Subject" }).select2('val', current_selects).on("select2:open", on_select2_opening);
                        }
                    }
                });
            };


            $(".tutoring_level").select2({ width: 185, placeholder: "Select Level" }).on("change", on_level_change);
            $(".tutoring_subjects").select2({ width: 185, placeholder: "Select Subject" }).on("select2:open", on_select2_opening);
            //$(".tutoring_currency").select2({ width: 185 });

            $("#id_add_additional_row").click(function(e) {
                e.preventDefault();

                current_row_index += 1;

                var new_row = fresh_row.replace("TUT_LEVEL_NAME", "row_"+ current_row_index +"_levels[]");
                new_row = new_row.replace("TUT_LEVEL", "tutoring_level")

                new_row = new_row.replace("TUT_SUBJECT_NAME", "row_"+ current_row_index +"_subjects[]");
                new_row = new_row.replace("TUT_SUBJECT", "tutoring_subjects");

                new_row = new_row.replace("TUT_RATE_NAME", "row_"+ current_row_index +"_rate[]")
                new_row = new_row.replace("TUT_RATE", "tutoring_rate")

                new_row = new_row.replace("TUT_CURRENCY_NAME", "row_"+ current_row_index +"_currency[]");
                new_row = new_row.replace("TUT_CURRENCY", "tutoring_currency");

                $("#id_subject_rate_body").append(new_row);

                $(".tutoring_level").select2({ width: 185, placeholder: "Select Level" }).on("change", on_level_change);
                $(".tutoring_subjects").select2({ width: 185, placeholder: "Select Subject" }).on("select2:open", on_select2_opening);
                //$(".tutoring_currency").select2({ width: 185 });
            });



            $(document).on("keyup", ".tutoring_rate", function(e) {
                var _this = $(this);
                var value = $(this).val();
                if(value == "") {
                     $(this).parent().parent().parent().find(".rate_conversion_value").hide();
                     return false;
                }
                var base_currency =  $(this).parent().parent().parent().next().find(".tutoring_currency").val();
                var url = "/rate-conversion";
                var method = "GET";
                var data = {
                    "basecurrency": base_currency,
                    "targetcurrency": -1, //To be decided.
                    "value": value
                }

                call_ajax(url, method, data, function(data) {
                    if(data.status == "SUCCESS") {
                        if(data.data.decision == "NO_CONVERSION" || data.data.decision == "NO_CONVERSION_FOUND") {
                            _this.parent().parent().parent().find(".rate_conversion_value").hide();
                        }
                        else {
                            _this.parent().parent().parent().find(".rate_conversion_value").text("Approx. "+data.data.converted+" "+data.data.target);
                            _this.parent().parent().parent().find(".rate_conversion_value").show();
                        }
                    }
                }, function(jqxhr, status, error) {
                    _this.parent().parent().parent().find(".rate_conversion_value").hide();
                }, function(msg) {

                });
            });

            $(document).on("change", ".tutoring_currency", function(e, data) {
                e.preventDefault();

                var _this = $(this);
                var base_currency = $(this).val();
                var value =  $(this).parent().parent().find(".tutoring_rate").val();
                if(typeof data == "undefined") {
                    //console.log(base_currency);
                    $(".tutoring_currency").not(this).each(function(i) {
                        $(this).val(base_currency).trigger("change", {forced:true});

                    });
                }

                if(value == "") {
                     $(this).parent().parent().find(".rate_conversion_value").hide();
                     return false;
                }
                var url = "/rate-conversion";
                var method = "GET";
                var data = {
                    "basecurrency": base_currency,
                    "targetcurrency": -1, //To be decided.
                    "value": value
                }

                call_ajax(url, method, data, function(data) {
                    if(data.status == "SUCCESS") {
                        if(data.data.decision == "NO_CONVERSION" || data.data.decision == "NO_CONVERSION_FOUND") {
                            _this.parent().parent().find(".rate_conversion_value").hide();
                        }
                        else {
                            _this.parent().parent().find(".rate_conversion_value").text("Approx. "+data.data.target + " " + data.data.converted);
                            _this.parent().parent().find(".rate_conversion_value").show();
                        }
                    }
                }, function(jqxhr, status, error) {
                    _this.parent().parent().find(".rate_conversion_value").hide();
                }, function(msg) {

                });
            });


            $("#id_submit_subject_rates").click(function(e) {
                e.preventDefault();
                var url = "{% url "ajax_subject_rate_view" %}";
                call_ajax(url, "POST", $("#id_subject_rate_form").serialize(), function(data) {
                    if(data.status == "SUCCESS") {
                        parent.$.colorbox.close();
                        parent.window.location.reload();
                    }
                    else {
                        var $title = 'Update Failed';
                        var $message = 'The requested operation was failed. Please try again later.';
                        var success_callback = function(data){

                        };

                        var cancel_callback = function(){

                        };

                        parent.show_popup_dialog("",$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                    }
                }, function(jqxhr, status, error) {
                    var $title = 'Update Failed';
                    var $message = 'The requested operation was failed. Please try again later.';
                    var success_callback = function(data){

                    };

                    var cancel_callback = function(){

                    };

                    parent.show_popup_dialog("",$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                }, function(msg) {

                });
            });

            $(".tutoring_currency").change();

        });
    </script>
</head>
<body>
<table id="id_fresh_row_container" style="display: none;">
    <tr>
        <td style="width: 25%;">
            <select class="TUT_LEVEL" name="TUT_LEVEL_NAME">
                <option>Select Level</option>
                {% for level in levels %}
                <option value="{{ level.pk }}">{{ level.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td style="width: 25%;">
            <select class="TUT_SUBJECT" name="TUT_SUBJECT_NAME" multiple="multiple">
                <option value="---">Select Subject</option>
            </select>
        </td>
        <td style="width: 25%;">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" style="float: left; border-right: none; outline: none;" type="button">S$ </button>
                    <input name="TUT_RATE_NAME" type="text" style="width: 160px; border-left: none; float: left; outline: none;" placeholder="per hour" class="tutoring_rate form-control"/>
                </span>
            </div>
            <div class="rate_conversion_value">
            </div>
        </td>
        <td style="width: 25%;">
            <select class="TUT_CURRENCY" name="TUT_CURRENCY_NAME">
                {% for code, name in currencies %}
                <option value="{{ code }}">{{ name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
</table>
<div class="container" style="width: 100%;">
    <div>
        <h3>Tutoring Subjects, Levels and Rates</h3>
        <hr/>
    </div>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th style="width: 25%;">
                    <span class="badge">1</span> Choose Level
                </th>
                <th style="width: 25%;">
                    <span class="badge">2</span> Select Subjects
                </th>
                <th style="width: 25%;">
                    <span class="badge">3</span> Specify Rate
                </th>
                <th style="width: 25%;">
                    <span class="badge">4</span> Currency
                </th>
            </tr>
        </thead>
    </table>
    <div style="height: 350px; overflow-x: hidden; overflow-y: auto;">
    <form id="id_subject_rate_form" action="#" method="POST">
    {% csrf_token %}
    <table class="table table-borderless">
        <tbody id="id_subject_rate_body">
            {% if subject_rates %}
                {% for subject_rate in subject_rates %}
                <tr>
                    <td style="width: 25%;">
                        <select name="row_{{ forloop.counter }}_levels[]" class="tutoring_level">
                            <option>Select Level</option>
                            {% for level in levels %}
                            <option value="{{ level.pk }}" {% if level.pk == subject_rate.level %}selected{% endif %}>{{ level.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td style="width: 25%;">
                        <select name="row_{{ forloop.counter }}_subjects[]" class="tutoring_subjects" multiple="multiple">
                            {% for s in subject_rate.all_subjects %}
                            <option value="{{ s.pk }}" {% if s.pk in subject_rate.subjects %}selected{% endif %}>{{ s.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td style="width: 25%;">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" style="float: left; border-right: none; outline: none;" type="button">S$ </button>
                                <input name="row_{{ forloop.counter }}_rate[]" value="{{ subject_rate.rate|floatformat:2 }}" type="text" style="width: 160px; border-left: none; float: left; outline: none;" placeholder="per hour" class="tutoring_rate form-control"/>
                            </span>
                        </div>
                        <div class="rate_conversion_value">
                        </div>
                    </td>
                    <td style="width: 25%;">
                        <select name="row_{{ forloop.counter }}_currency[]" class="tutoring_currency">
                            {% for code, name in currencies %}
                            <option value="{{ code }}" {% if subject_rate.currency and subject_rate.currency == code %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td style="width: 25%;">
                        <select name="row_1_levels[]" class="tutoring_level">
                            <option>Select Level</option>
                            {% for level in levels %}
                            <option value="{{ level.pk }}">{{ level.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td style="width: 25%;">
                        <select name="row_1_subjects[]" class="tutoring_subjects" multiple="multiple">
                        </select>
                    </td>
                    <td style="width: 25%;">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" style="float: left; border-right: none; outline: none;" type="button">S$ </button>
                                <input name="row_1_rate[]" type="text" style="width: 160px; border-left: none; float: left; outline: none;" placeholder="per hour" class="tutoring_rate form-control"/>
                            </span>
                        </div>
                        <div class="rate_conversion_value">
                        </div>
                    </td>
                    <td style="width: 25%;">
                        <select name="row_1_currency[]" class="tutoring_currency">
                            {% for code, name in currencies %}
                            <option value="{{ code }}" {% if user_currency == code %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <a id="id_add_additional_row" href="#">Add additional row >></a>
                    <div>
                        <button id="id_submit_subject_rates" href="#" class="btn btn-mini btn-primary pull-right" id="id_job_apply_submit" style="margin-right: 0px !important;">Save Changes</button> &nbsp;&nbsp;
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    </form>
    </div>
</div>
</body>
</html>