{% load staticfiles %}
{% load i18n %}

<!DOCTYPE HTML>
<html>
<head>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "css/rich-textarea/editor.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{%  static "js/rich-textarea/editor.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
    <script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
    <style type="text/css">
        .Editor-editor{
            outline: none;
            border: 1px solid #B7B7B7;
        }
        #statusbar{
            display: none;
        }
        .Editor-editor{
            height: 300px;
        }
        .width120{
            width:  120px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready( function() {

            $("#txtEditor").Editor();

            $(".fa-code").parent().hide();
            $(".fa-arrows-alt").parent().hide();
            $(".fa-print").parent().hide();
            $(".fa-table").parent().hide();
            $(".fa-asterisk").parent().hide();
            $(".fa-picture-o").parent().hide();

            var teaching_exp = $("#id_hidden_teaching_experiences").html();

            //alert(teaching_exp);

            $(".Editor-editor").html(teaching_exp);

            //$(".Editor-editor").css("height","");

            $("#id_close_teaching_experience").click(function(e){
                parent.jQuery.colorbox.close();
            });

            var save_teaching_experiences_ajax = function(data,callback,error_back,complete_back){
                $.ajax({
                    type: "POST",
                    url: "/ajax/teaching_experience",
                    data: { data: data },
                    success: function(content)
                    {
                        {#                    $("#feed-content").html(content);#}
                        {#                    console.log("Content loaded.");#}
                        callback(jQuery.parseJSON(content));
                    },
                    error: function(jqxhr, status, error)
                    {
                        error_back(jqxhr, status, error);
                    }
                })
                .done(function( msg ) {
                    complete_back(msg);
                });
            };

            $("#id_save_teaching_experience").click(function(e){

                var teaching_exp_val = $(".Editor-editor").html();

                save_teaching_experiences_ajax(teaching_exp_val,function(data){
                    console.log(data);

                    if(data.status == "SUCCESS"){
{#                        BootstrapDialog.show({#}
{#                            title: 'Teaching Experiences Updated Successfully',#}
{#                            message: 'You have successfully updated your teaching experiences. You can update any time you want by logging into your account.',#}
{#                            closable: false,#}
{#                            type: BootstrapDialog.TYPE_SUCCESS,#}
{#                            buttons: [#}
{#                                {#}
{#                                    label: 'Okay',#}
{#                                    cssClass: 'btn btn-md btn-primary width120',#}
{#                                    action: function(dialogRef) {#}
{#                                        parent.update_teaching_experiences($(".Editor-editor").html());#}
{#                                        dialogRef.close();#}
{#                                        parent.jQuery.colorbox.close();#}
{#                                    }#}
{#                                },#}
{#                                {#}
{#                                    label: 'Cancel',#}
{#                                    cssClass: 'btn btn-md btn-warning width120',#}
{#                                    action: function(dialogRef) {#}
{#                                        dialogRef.close();#}
{#                                    }#}
{#                                }]#}
{#                        });#}

                        var $title = 'Teaching Experiences Updated Successfully';
                        var $message = 'You have successfully updated your teaching experiences. You can update any time you want by logging into your account.';
                        var success_callback = function(data){
                            parent.update_teaching_experiences($(".Editor-editor").html());
                        };

                        var cancel_callback = function(){

                        };

                        parent.show_popup_dialog("",$title,$message,false,"success",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,true);

                    }
                    else{
                        var $title = 'Teaching Experiences Update Failed';
                        var $message = 'Your teaching experiences was not updated successfully. The following error occured while submitting request: <b>'+ data.data.message +'</b>';
                        var success_callback = function(data){

                        };

                        var cancel_callback = function(){

                        };

                        parent.show_popup_dialog("",$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);

                    }

                },function(jqxhr, status, error){
                        console.log("An error occured while adding canvas tab. Error message: "+error);
                        var $title = 'Information Update Failed';
                        var $message = 'An error occurred while performing the requested operation. Please check the input carefully or try again later.';
                        var success_callback = function(data){

                        };

                        var cancel_callback = function(){

                        };

                        parent.show_popup_dialog("",$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);
                },
                function(msg){

                });

                //parent.jQuery.colorbox.close();
            });

        });
    </script>
</head>
<body>
<div id="id_hidden_teaching_experiences" style="display: none;">
    {{ teaching_exp_data | safe }}
</div>
<div class="container" style="width: 100%;">
    <div class="row">
        <h4><img src="{% static "images/profile_img_inner.png" %}" width="35" height="35" alt="img">Teaching Experience</h4>
    </div>
    <div class="row">
        <div class="col-md-12 nopadding">
            <div id="txtEditor" style="width: 100%; height: 100%;"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <button id="id_close_teaching_experience" class="btn btn-md btn-warning pull-right" style="width: 130px;">Cancel</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button id="id_save_teaching_experience" class="btn btn-md btn-primary pull-right" style="width: 130px;margin-right:7px;">Save</button>
    </div>
</div>
</body>
</html>