{% load staticfiles %}

<!DOCTYPE HTML>
<html>
<head>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "css/rich-textarea/editor.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{%  static "js/rich-textarea/editor.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-dialog.min.css" %}"/>
    <script type="text/javascript" src="{% static "js/bootstrap-dialog.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <link href="{% static "css/jquery-ui-1.10.4.custom.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery-ui-1.11.3.custom/jquery-ui.theme.css" %}" rel="stylesheet">
    <style type="text/css">
        .width120{
            width:  120px;
        }
        .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
            border: none;
        }
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
            /* IE 6 doesn't support max-height
             * we use height instead, but this forces the menu to always be this tall
             */
        * html .ui-autocomplete {
            height: 200px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready( function() {

            var add_subject_async = function(type,url,data,callback,error_back,complete_back){
                $.ajax({
                    type: type,
                    url: url,
                    data: data,
                    success: function(data)
                    {
                        callback(jQuery.parseJSON(data));
                    },
                    error: function(jqxhr, status, error)
                    {
                        error_back(jqxhr, status, error);
                    }
                })
                .done(function( msg ) {
                    complete_back(msg);
                });
            };

            $("#id_add_top_subject").click(function(e){
                var subject_name = $("#id_subject").val();
                var subject_id = $("#id_hidden_subject").val();
                var level_name = $("#id_level").val();
                var level_id = $("#id_hidden_level").val();
                var category_name = $("#id_category").val();
                var category_id = $("#id_hidden_category").val();
                var description = $("#id_description").val();
                var data = {
                    subject_val: subject_name,
                    subject_id: subject_id,
                    level_name: level_name,
                    level_id: level_id,
                    category_val: category_name,
                    category_id: category_id,
                    description: description
                };
                add_subject_async("POST","",data,function(data){
                    if(data.status == "SUCCESS"){
                        BootstrapDialog.show({
                            title: 'Course Added Successfully',
                            message: 'You have successfully updated your top courses. You can update any time you want by logging into your account.',
                            closable: false,
                            buttons: [
                                {
                                    label: 'Okay',
                                    cssClass: 'btn btn-md btn-primary width120',
                                    action: function(dialogRef) {

                                        var data_row = "<div style=\"padding: 7px;\">";
                                        data_row += "<input type=\"hidden\" class=\"user_top_course_hidden_id\" value=\""+data.data.id+"\"/>";
                                        data_row += "<a class=\"close close-top-subject\">x</a>";
                                        data_row += "<div class=\"hdng_inr\" style=\"font-size: 17px;font-weight: bold;\">"+data.data.name+"("+ data.data.level +")</div>";
                                        data_row += "<p class=\"txt\">"+data.data.description+"</p>";
                                        data_row += "</div>";

                                        parent.add_top_subject(data_row);

                                        dialogRef.close();
                                        parent.$.colorbox.close();
                                    }
                                },
                                {
                                    label: 'Cancel',
                                    cssClass: 'btn btn-md btn-warning width120',
                                    action: function(dialogRef) {
                                        dialogRef.close();
                                    }
                                }]
                        });
                    }
                    else{
                        BootstrapDialog.show({
                            title: 'Course Adding Failed',
                            message: 'Your course was not added successfully. The following error occured while adding course: <br/><b>"'+ data.message +'"</b>.</br>Please fix the error and try again later.</b>',
                            closable: false,
                            type: BootstrapDialog.TYPE_WARNING,
                            buttons: [
                                {
                                    label: 'Okay',
                                    cssClass: 'btn btn-md btn-primary width120',
                                    action: function(dialogRef) {
                                        dialogRef.close();
                                    }
                                },
                                {
                                    label: 'Cancel',
                                    cssClass: 'btn btn-md btn-warning width120',
                                    action: function(dialogRef) {
                                        dialogRef.close();
                                    }
                                }]
                        });
                    }
                },
                function(jqxhr, status, error){
                    BootstrapDialog.show({
                        title: 'Information Update Failed',
                        message: 'An error occurred while performing the requested operation. Please check the input carefully or try again later.',
                        closable: false,
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [
                            {
                                label: 'Okay',
                                cssClass: 'btn btn-md btn-primary width120',
                                action: function(dialogRef) {
                                    dialogRef.close();
                                }
                            },
                            {
                                label: 'Cancel',
                                cssClass: 'btn btn-md btn-warning width120',
                                action: function(dialogRef) {
                                    dialogRef.close();
                                }
                            }]
                    });
                },
                function(msg){

                });
            });
            $("#id_cancel_top_subject").click(function(e){
                parent.$.colorbox.close();
            });


            $( "#id_subject" ).autocomplete({
                minLength: 0,
                source: "/ajax/suggestions/subject", //[{"value":"CSE","id": 1},{"value":"Math","id": 2},{"value":"Add \"<b>Economics</b>\"","id": -1}],
                focus: function( event, ui ) {
                    if(ui.item.id == -1){
                        $( "#id_subject" ).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                    }
                    else{
                        $( "#id_subject" ).val( ui.item.value );
                    }
                    return false;
                },
                select: function( event, ui ) {
                    var tag_val = ui.item.value;
                    if(ui.item.id == -1){
                        tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                    }
                    $("#id_hidden_subject").val(ui.item.id);
                    $("#id_subject").val(tag_val);
                    return false;
                }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li style='cursor:pointer;'>" )
                        .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                        .append( "<input type='hidden' class='subject_id' value='"+ item.id +"'/>" )
                        .appendTo( ul );
            };

            $( "#id_category" ).autocomplete({
                minLength: 0,
                source: "/ajax/suggestions/category", //[{"value":"CSE","id": 1},{"value":"Math","id": 2},{"value":"Add \"<b>Economics</b>\"","id": -1}],
                focus: function( event, ui ) {
                    if(ui.item.id == -1){
                        $( "#id_category" ).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                    }
                    else{
                        $( "#id_category" ).val( ui.item.value );
                    }
                    return false;
                },
                select: function( event, ui ) {
                    var tag_val = ui.item.value;
                    if(ui.item.id == -1){
                        tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                    }
                    $("#id_hidden_category").val(ui.item.id);
                    $("#id_category").val(tag_val);
                    return false;
                }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li style='cursor:pointer;'>" )
                        .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                        .append( "<input type='hidden' class='category_id' value='"+ item.id +"'/>" )
                        .appendTo( ul );
            };

        });
    </script>
</head>
<body>
<div class="container" style="width: 100%;">
    <div class="row">
        <h3><img src="{% static "images/profile_img_inner.png" %}" width="35" height="35" alt="img"> Top Subjects</h3>
    </div>
    <hr>
    <table class="table borderless" style="border: none;">
        <tbody>
            <tr>
                <td><span class="margintop7px">Subject Name: </span></td>
                <td>
                    <input id="id_subject" placeholder="Type Subject Name Here" type="text" class="form-control" style="width: 300px; outline: none;"/>
                    <input type="hidden" id="id_hidden_subject" value="-1"/>
                </td>
            </tr>
            <tr>
                <td><span class="margintop7px">Level: </span></td>
                <td>
                    <input id="id_level" placeholder="Type Leven Name Here" type="text" class="form-control" style="width: 300px; outline: none;"/>
                    <input type="hidden" id="id_hidden_level" value="-1"/>
                </td>
            </tr>
            <tr>
                <td><span class="margintop7px">Category: </span></td>
                <td>
                    <input id="id_category" placeholder="Enter The Category It Belongs" type="text" class="form-control" style="width: 300px; outline: none;"/>
                    <input type="hidden" id="id_hidden_category" value="-1"/>
                </td>
            </tr>
            <tr>
                <td><span class="margintop7px">Description: </span></td>
                <td>
                    <textarea id="id_description" class="form-control" rows="5" style="outline: none; resize:vertical; max-width: 400px;"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button id="id_add_top_subject" class="btn btn-md btn-primary width120" style="width: 130px;margin-right:7px;">Add Subject</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="id_cancel_top_subject" class="btn btn-md btn-warning width120" style="width: 130px;">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>