{% extends "ajax/layout.html" %}
{% load staticfiles %}

<script src="{% static "js/lib/jquery-1.11.1.min.js" %}"></script>

{% block head_script %}
    <style>
        .error-field {
            border: 1px solid red;
        }
    </style>
    <script type="text/javascript">
        $(document).ready( function() {

            $("#id_add_top_subject").click(function(e){
                var top_course_id = $("#id_top_course").val();
                var subject_name = $("#id_subject").val();
                var subject_id = $("#id_hidden_subject").val();
                var level_name = $("#id_level").val();
                var level_id = $("#id_hidden_level").val();
                var description = $("#id_description").val();

                var error = false;
                if($.trim(subject_name) == "") {
                    $("#id_subject").addClass("error-field");
                    error = true;
                }
                else {
                    $("#id_subject").removeClass("error-field");
                }

                if($.trim(level_name) == "") {
                    $("#id_level").addClass("error-field");
                    error = true;
                }
                else {
                    $("#id_level").removeClass("error-field");
                }

                if(error) {
                    $("#id_warning_msg").show();
                    return false;
                }
                else {
                    $("#id_warning_msg").hide();
                }

                var data = {
                    top_course_id: top_course_id,
                    subject_val: subject_name,
                    subject_id: subject_id,
                    level_name: level_name,
                    level_id: level_id,
                    description: description
                };
                parent._ajax_call("POST","/ajax/top_subjects",data,function(data){
                            if(data.status == "SUCCESS"){
                                var $title = 'Top Course Updated Successfully';
                                var $message = 'Your profile is updated successfully.';
                                var success_callback = function(data){
                                    parent.location.reload();
                                };

                                var cancel_callback = function(){

                                };

                                parent.show_popup_dialog(data,$title,$message,false,"success",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,true);

                            }
                            else{
                                var $title = 'Top Course Update Failed';
                                var $message = 'Your profile was not updated successfully. The following error occured while processing your request: <br/><b>"'+ data.message +'"</b>.</br>Please fix the error and try again later.</b>';
                                var success_callback = function(data){

                                };

                                var cancel_callback = function(){

                                };

                                parent.show_popup_dialog(data,$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);

                            }
                        },
                        function(jqxhr, status, error){
                            var $title = 'Top Course Update Failed';
                            var $message = 'An error occurred while performing the requested operation. Please try again later.';
                            var success_callback = function(data){

                            };

                            var cancel_callback = function(){

                            };

                            parent.show_popup_dialog(data,$title,$message,false,"error",parent.jQuery.colorbox,"Okay","Cancel",success_callback,cancel_callback,false);

                        },
                        function(msg){

                        });
            });
            $("#id_cancel_top_subject").click(function(e){
                parent.jQuery.colorbox.close();
            });

           $( "#id_subject" ).autocomplete({
                minLength: 0,
                source: function( request, response ) {
                    $.ajax({
                      url: "/ajax/suggestions/subject",
                      data: {
                        term: request.term,
                        level: $("#id_hidden_level").val()
                      },
                      success: function( data ) {
                        response( data );
                      }
                    });
                  }, //[{"value":"CSE","id": 1},{"value":"Math","id": 2},{"value":"Add \"<b>Economics</b>\"","id": -1}],
                focus: function( event, ui ) {
                    if(ui.item.id == -1){
                        $( "#id_subject" ).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                    }
                    else{
                        $( "#id_subject" ).val( ui.item.value );
                    }
                    return false;
                },
                select: function( event, ui ) {
                    var tag_val = ui.item.value;
                    if(ui.item.id == -1){
                        tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                    }
                    $("#id_hidden_subject").val(ui.item.id);
                    $("#id_subject").val(tag_val);
                    return false;
                }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li style='cursor:pointer;'>" )
                        .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                        .append( "<input type='hidden' class='subject_id' value='"+ item.id +"'/>" )
                        .appendTo( ul );
            };

            $(document).on("change", "#id_level", function(e) {
                $("#id_subject").val("");
                $("#id_hidden_subject").val("-1");
            });

            $( "#id_level" ).autocomplete({
                minLength: 0,
                source: "/ajax/suggestions/level", //[{"value":"CSE","id": 1},{"value":"Math","id": 2},{"value":"Add \"<b>Economics</b>\"","id": -1}],
                focus: function( event, ui ) {
                    if(ui.item.id == -1){
                        $( "#id_level" ).val( ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','') );
                    }
                    else{
                        $( "#id_level" ).val( ui.item.value );
                    }
                    $("#id_level").change();
                    return false;
                },
                select: function( event, ui ) {
                    var tag_val = ui.item.value;
                    if(ui.item.id == -1){
                        tag_val = ui.item.value.replace('"','').replace("<b>","").replace("</b>","").replace("Add ","").replace('"','');
                    }
                    $("#id_hidden_level").val(ui.item.id);
                    $("#id_level").val(tag_val);
                    return false;
                }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li style='cursor:pointer;'>" )
                        .append( "<div style='padding: 3px;'>"+ item.value +"</div>" )
                        .append( "<input type='hidden' class='category_id' value='"+ item.id +"'/>" )
                        .appendTo( ul );
            };

        });
    </script>
{% endblock head_script %}

{% block bodycontent %}
    <div class="container" style="width: 100%;">
        <div class="row">
            <h3><img src="{% static "images/profile_img_inner.png" %}" width="35" height="35" alt="img"> Top Subjects</h3>
        </div>
        <hr>
        <table class="table borderless" style="border: none;">
            <tbody>
            <tr>
                <input type="hidden" id="id_top_course" {% if user_top_course %}value="{{ user_top_course.pk }}"{% else %}value="-1"{% endif %}/>
                <td><span class="margintop7px">Level: </span></td>
                <td>
                    <input id="id_level" placeholder="Type the level" type="text" class="form-control" style="width: 300px; outline: none;" {% if user_top_course %}value="{{ user_top_course.level.name }}"{% endif %}/>
                    <input type="hidden" id="id_hidden_level" {% if user_top_course %}value="{{ user_top_course.level.pk }}"{% else %}value="-1"{% endif %}/>
                    <p class="help-block"><b>Primary, Secondary, High School etc.</b></p>
                </td>
            </tr>
            <tr>
                <td><span class="margintop7px">Subject Name: </span></td>
                <td>
                    <input id="id_subject" placeholder="Type the subject name" type="text" class="form-control" style="width: 300px; outline: none;" {% if user_top_course %}value="{{ user_top_course.subject.name }}"{% endif %}/>
                    <input type="hidden" id="id_hidden_subject" {% if user_top_course %}value="{{ user_top_course.subject.pk }}" {% else %}value="-1"{% endif %}/>
                </td>
            </tr>
            <tr>
                <td><span class="margintop7px">Description: </span></td>
                <td>
                    <textarea id="id_description" class="form-control" rows="5" style="outline: none; resize:vertical; max-width: 400px;">{% if user_top_course %}{{ user_top_course.description }}{% endif %}</textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p id="id_warning_msg" style="display: none; color: red;">*Required fields are marked as red</p>
                    <button id="id_add_top_subject" class="btn btn-md btn-primary width120" style="width: 130px;margin-right:7px;">Add Subject</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="id_cancel_top_subject" class="btn btn-md btn-warning width120" style="width: 130px;">Cancel</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock bodycontent %}