{% load staticfiles %}
{% load datefilters %}
{% load tz %}
{% load jobtags %}
{% block script_head_extra %}
<style>
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        border-top: none;
    }
    .entry {
        margin-top: 7px;
    }
</style>

{% endblock script_head_extra %}
{% block bodycontent %}

<div class="contnt" style="padding: 0px; padding-right: 30px;">
     <div>
        <h3>
        Title: {{ lesson.title }}
        </h3>
        <div class="entry">
            Lesson Type: {{ lesson.render_lesson_type }}
        </div>
        <section class="entry">
            <b>Description:</b> <p style="color: #404040;">{{ lesson.job_set.first.description|linebreaksbr }}</p>
        </section>
        <div style="width: 100%; display: block;" class="entry">
            <span class="dfrnt_tag radius3"><b style="color: #333333;">Repeat: &nbsp;</b>
            {{ lesson.render_lesson_repeat_verbal }}
            </span>
        </div>
        <div style="width: 100%; display: block; float: left; margin-bottom: 13px;" class="entry">
        {% if lesson.attachments.exists %}
        <h4 class="entry">Attachment(s):</h4>
        <div class="entry">
            {% for attachment in lesson.attachments.all %}
                {% if attachment.thumbnail %}
                    <a style="display: inline; width: auto; font-size: 17px;" href="/media/{{ attachment.attachment }}"><i class="glyphicon glyphicon-notes"></i>&nbsp;&nbsp;<img src="/media/{{ attachment.thumbnail }}"/></a>
                {% else %}
                    <a style="display: block; width: auto; font-size: 17px;" href="/media/{{ attachment.attachment }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ attachment.attachment_name }}</a>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% if lesson.duration %}
    <div style="width: 100%; display: block; float: left;" class="entry">
        <p>Duration: {{ lesson.duration }} minutes</p>
    </div>
    {% endif %}
    {% if lesson.other_users.exists %}
    <div style="width: 100%; display: block; float: left; margin-top: 13px;">
        <div style="font-weight: bold; font-size: 23px;">Students</div>
        <hr/>
        <div>
            <div style="width: 100px; float: left;">
                <div><img src="{{ lesson.user.champuser.render_profile_picture }}" width="70" height="70"/></div>
                <a style="width: 100%;" href="{{ lesson.user.champuser.profile_url }}">{{ lesson.user.champuser.fullname }}</a>
            </div>
            {% for student in lesson.other_users.all %}
                <div style="width: 100px; float: left;">
                    <div><img src="{{ student.champuser.render_profile_picture }}" width="70" height="70"/></div>
                    <a style="width: 100%;" href="{{ student.champuser.profile_url }}">{{ student.champuser.fullname }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if lesson.job_set.exists %}
        <div style="width: 100%; display: block; float: left;" class="entry">
            <div>
                Related job post <a href="{% url "admin_job_details" lesson.job_set.first.pk %}"><b>{{ lesson.job_set.first.title }}</b></a>
            </div>
        </div>
    {% endif %}
    </div>
    <section style="width: 100%; display: block; float: left; position: relative; top: 20px;">
        <h4>Payment Information</h4>
        <hr/>
        <div>
            $ Payment Status: {% if lesson.payment_status == 1 %}<span style="color: green;">Payment processed successfully</span>{% else %}<span style="color: red;">Payment Failed</span>{% endif %}
        </div>
        <div><b>Transactions for this lesson</b></div>
        <br/>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Transaction Id
                    </th>
                    <th>
                        Total Transaction Amount
                    </th>
                    <th>
                        Payment Method
                    </th>
                    <th>
                        Transaction Status
                    </th>
                    <th>
                        Details
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ lesson.base_transaction.transaction_id }}
                    </td>
                    <td>
                        {{ lesson.base_transaction.amount }}
                    </td>
                    <td>
                        {{ lesson.base_transaction.currency }}
                    </td>
                    <td>
                        {{ lesson.base_transaction.transaction_status }}
                    </td>
                    <td>
                        {{ lesson.base_transaction.description }}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
{% endblock bodycontent %}