<ul id="sidemenu" class="sidemenu_about">
	  <li> <a href="#champ-profile-public" {% if tab == "profile" %}class="open"{% endif %}>Profile</a> </li>
	  <li> <a href="#champ-reviews-public" {% if tab == "reviews" %}class="open"{% endif %}>My Reviews</a> </li>
</ul>