/*----------------------------contact-us-final(20-june-2016)----------------------------  */
.contact_headings{width:100%;float:left;height:auto;  margin-top: 50px;*display:inline;}
.contact_headings p{margin-top:10px;   color: #636e76;
    float: left;
    font: 18px/28px "segoe_uiregular";
    height: auto;
text-align:center;
    width: 100%;}

.contact_form_final{   box-shadow: 0 0 17px rgba(0, 0, 0, 0.16);
    float: left;
    height: auto;
    margin-bottom: 80px;
    margin-top: 37px;
    padding-bottom: 30px;
    text-align: center;*display:inline;
    width: 100%;}
.form_details{float:none;display:inline-block; margin-top: 20px;width:630px;}


.main_selection {
    float: left;
    margin: 30px 0;*display:inline;
    width: 100%;
}

.full_check_info {
    float: left;

    margin-top: 12px;
    width: auto;
}
.full_check_info:first-of-type{    margin-right: 30px;}
.main_selection input[type="radio"] {
    display: none;
}

.main_selection input[type="radio"]:checked + label::before {
    background-color: #fff;
    color: #17b5ec;
    content: "•";
    font-size: 26px;
    line-height: 10px;
    text-align: center;
}
.main_selection input[type="radio"] + label::before {
    background-color: #fff;
    border: 1px solid #17b5ec;
    border-radius: 8px;
    content: "";
    display: inline-block;
    float: left;
    height: 14px;*display:inline;
    margin-right: 15px;
    vertical-align: middle;
    width: 14px;
}
.main_selection label {
    color: #2c3748;
    font: 18px/16px "proxima_novasemibold";
    width: 100%;
}

.input_details{width:305px;float:left; position:relative;
}
.input_details input{ background: #fff none repeat scroll 0 0;
    border: 1px solid #dde3e5;
    color: #405a6a;
    display: inline;
    float: left;box-sizing:border-box;
    font: 16px "segoe_uiregular";
    height: 45px;outline:none !important;
    margin-top: 20px;*display:inline;
    padding: 0 10px;width:100%;}
.input_details:nth-of-type(2n){float:right;}


#id_feedback{background: #fff none repeat scroll 0 0;
    border: 1px solid #dde3e5;
    color: #405a6a;outline:none !important;
    display: inline;resize:none;
    float: left;box-sizing:border-box;
    font: 16px "segoe_uiregular";
    height: 100px;
      margin-top: 20px;*display:inline;
    padding: 0 10px;width:100%;padding-top:10px;}


.imgg{height:80px;   border: 1px solid #dde3e5;margin-top:20px;*display:inline;}
.imgg img{position:absolute;right:0px;left:0px;top:0px;bottom:0px;margin:auto;}

.input_details a,.input_details a:link,.input_details a:visited{    font: 16px/50px "segoe_uiregular";text-decoration:underline;float:left; color:#989b9c;}
.privacy_policy_list{width:100%;float:left;height:Auto;box-sizing:border-box;margin-top:8px;*display:inline;}
.privacy_list_top,.privacy_list_bottom { width:100%; height:auto; float:left; }
ul.privacy_policy_list > li { cursor:pointer; border: 1px solid #dde3e5; }
.privacy_list_bottom { display:none; }

.privacy_list_bottom ul.gone_cost2build_list { margin-top:0px; }

span.privacy_list_icon { width:33px; height:25px; float:right !important; position:relative;  margin-top: 0px !important;*display:inline; }
span.privacy_list_icon > img { width:auto; height:auto; position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto; }
span.privacy_list_icon > img:first-of-type { display:block; }
span.privacy_list_icon > img:last-of-type { display:none; }

.privacy_list_top h4 { width:90%; font: 16px/20px "segoe_uiregular"; color:#415665;float:left; }

li.privacy_policy_active { background:#f5f9fb !important; }
li.privacy_policy_active .privacy_list_bottom { display:block !important; }

span.privacy_icon_active.privacy_list_icon > img:first-of-type { display:none; }
span.privacy_icon_active.privacy_list_icon > img:last-of-type { display:block; }
ul.privacy_policy_list > li {
    background-color: #fff;
      margin-bottom: 20px;
    display: inline;
    float: left;*display:inline;
    height: auto;
box-sizing:border-box;
    padding: 16px;
    width: 100%;
}
.blog_list_text{margin-top:20px;  color: #a1aab0;
    display: inline;
    float: left;*display:inline;
    font: 15px/21px "segoe_uiregular";}


.lower_captcha > input[type="submit"], .lower_captcha > input[type="button"] {outline:none;
    width: 150px;    font: 18px/40px "proxima_novasemibold";text-transform:uppercase;text-align:center;
}
.terms_headings{width:100%;float:left;margin-top:50px;height:auto;}
.zz{margin-top:20px !important;*display:inline;}
.terms_headings h1{text-align:center;}
.terms_headings span{font: 21px/62px "proxima_novasemibold"; color:#415665;float:left;  margin-top: 20px;*display:inline;}
.terms_headings p{font: 18px/28px "segoe_uiregular";float:left;width:100%;height:auto;color:#636e76; margin-bottom: 40px;*display:inline;}
.terms_headings h4{font: 21px/22px "proxima_novasemibold"; color:#415665;float:left;*display:inline;}

.lp input{  background-color: #7cd3cf;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    display: inline;
    float: left;
    font: 14px/44px "HelveticaNeueLTStd-Medium";
    height: 45px;
*display:inline;
    outline: medium none;
    padding: 0 20px;
    width: auto;}


.input_details1{width:100% !important;float:left;}
.input_details1 input{  background: #fff none repeat scroll 0 0;
    border: 1px solid #dde3e5;
    box-sizing: border-box;
    color: #405a6a;
    display: inline;
    float: left;
    font: 16px "segoe_uiregular";
    height: 45px;
    margin-top: 20px;*display:inline;
    outline: medium none !important;
    padding: 0 10px;
    width: 100%;}


/*----------Start Media Query ----------*/
@media(min-width:1367px) {
.mainedit { width:85% !important; }
}
@media(min-width:1601px) {
.mainedit { width:88% !important; }
}
@media only screen and (min-width :1001px) and (max-width : 1100px) {
#slide_show > li > img { float:right; margin-right:-160px;  }
.banner_txt { width:70%; left:50%; margin-left:-43%; margin-top:100px; }
.jst_clck { width:100%;}
.want_tutor { right:40px;}
.online_banner_left { left:110px;}
.terms_headings{width:985px;margin-left:10px;}
.privacy_policy{box-sizing:border-box;padding:0px 5px;}
}
@media only screen and (min-width :750px) and (max-width : 1000px) {
.mainedit { width:100% !important; }
.wrapper,.hdng_inner { width:740px;}
h1.banner_heading { font:28px/36px "proxima_novasemibold"; }
.main_cntnt { margin-top:20px; }
header { padding-bottom:10px; position:relative;}
ul.menu { float:right; margin-right:5px;}
.banner { margin-top:0px;}
.banner_text { width:100%; }
a.rgster, a.rgster:link, a.rgster:visited, a.sign_in, a.sign_in:link, a.sign_in:visited { margin:0px 0px 0px 10px;}
.jst_clck { width:100%;}
.intrdctn { width:100%;}
ul.its_wrk li { margin-right:0px; width:245px;}
p.wrk_txt { width:228px;}
ul.tstmnl li { margin-right:10px; width:240px;}
span.tstmnl_cmnt_bx { width:84%;}
ul.tstmnl { margin:40px 0;}
ul.fetured_ul { width:100%; float:left;}
ul.fetured_ul li { margin-right:0px;}
ul.fetured_ul li:last-child { float:left;}
ul.fetured_ul li a, ul.fetured_ul li a:link, ul.fetured_ul li a:visited { padding:0px 49px; margin-bottom:10px;}
.outer_featured { padding:50px 0;}
.ftr_logo { margin:10px 10px 0 0;}
ul.ftr_lnk { margin-right:6px; width:101px;}
.socl_link { width:127px;}
ul.tchr_exprnc_lst > li { padding:10px 15px; }
ul.slider,ul.slider li { width:100% !important; }
ul.slider li { height:563px; }
ul.slider li img { display:none;}
.banner_txt { width:80%; left:50%; margin-left:-40%; margin-top:75px; }
ul.its_wrk li img { width:100%; height:auto; float:left;}
#w { width:741px;}
.contnt { padding:0; margin:0px;}
aside.aside_right { width:100%; border-top:1px solid #dee3e8; }
aside.aside_right > .padding20 { width:96%;}
span.likelihood_section { width:100%; text-align:center; }
span.likelihood_section > em { float:none;}
aside.aside_right form > textarea,aside.aside_right form > input[type="text"], aside.aside_right form > input[type="email"] { width:688px;}
/*.padding20:last-child { border-bottom:1px solid #DEE3E8; }*/
.onoffswitch,.onoffswitch1 { margin:9px 7px 0 0; }
.online > span { margin-right:7px; padding-right:7px; }
.gender > input[type="radio"] { margin:0 7px 0;}
.ready_to_teach form > input[type="text"] { width:119px; padding:0 5px; }
.search  { width:128px; padding:0px;}
.search > input[type="text"] { width:87px; padding:0 5px; text-overflow:ellipsis; }
.outer_search { width:120px;}
.img_right { width:271px; /* padding:10px; */ }
.left_img { min-height:195px; margin-right:10px; }
.online_banner_left { left:35px; top:10px; width:auto; padding-left:170px; }
.online_banner_left > p { width:240px; margin-top:12px; }
.online_banner { background:url("../images/online_tutor_bg.jpg") 65% center no-repeat; height:240px; }
.want_tutor { width:255px; top:10px; }
.want_tutor > h2 { margin-bottom:15px;}
.online_banner_left > h1 { margin-top:0px; font:25px/34px "proxima_novaregular"; width:auto; }
a.connect_btn, a.connect_btn:link, a.connect_btn:visited, input.connect_btn[type="submit"], input.connect_btn[type="button"] { font:20px/52px "proxima_novasemibold"; }
.hurry_tutor_find { width:100%; left:0px; margin-left:0px; }
.sticky { top:0px !important; }
.search_box { left:10px;}
ul.after_login_menu { width:100%; float:left; position:relative; margin:20px 0 0 0; text-align:center; }
ul.after_login_menu > li:first-child { margin:2px 20px 0; }
ul.after_login_menu > li,ul.after_login_menu > li:first-child { float:none; display:inline-block; }
.msg_heading,.paymnt_info { padding:15px; }
.pay_info_detail { height:auto; padding:10px; }
ul.social_icon { width:115px; }
#first_left { left:0px; }
#first_left:after { left:20px;}
.submenu1 { top:38px; }
#scnd_left { right:-20px; }
#scnd_left:after { right:47px; }
.hdng_inner > ul > li:first-child { margin:2px 0 0 0; }
.resp-tabs-container { margin-top:20px; }
ul.tchr_exprnc_lst { margin-bottom:15px; }
.upcmng_lsn > ul > li { padding:10px 9px; }
ul.rcmdtn > li:nth-of-type(2n+1) { width:20%; }
ul.rcmdtn > li:nth-of-type(2n+2) { width:75%; }
.header_bottom { margin-top:0px; }
.bottom_border { height:94px; }
.different_detail { margin-left:0px; left:0%; float:right; width:240px; margin:0 35px; }
.left_detail { width:410px; margin-left:5px; }
.different_detail { margin:0 0 0 20px; float:left; }
.ui-tabs .ui-tabs-nav li { margin-top:15px; }
#tabs-1, #tabs-2 { width:100% !important; }
.canvas_menu_icon { margin-left:0px; }
#mceu_19 { height:100px; }
.tab_right { top:73px; right:10px; }
table.upcoming_leasson tr td { padding:10px 5px; }
p.upcoming_heading { font:15px/21px "proxima_novasemibold"; }
a.stdnt_name_inr, a.stdnt_name_inr:link, a.stdnt_name_inr:visited { float:left; font:13px/50px "proxima_novasemibold"; }
p.no_review { font:13px/21px "proxima_novasemibold"; }
a.vw_lesn, a.vw_lesn:link, a.vw_lesn:visited { padding:0 10px; font:13px/32px "proxima_novasemibold"; }
a.ftr_logo, a.ftr_logo:link, a.ftr_logo:visited { width:180px; margin-right:15px; }
a.ftr_logo > img { width:100%; height:auto; }
#snd_msg { width:730px; }
.snd_msg_bx { padding:15px; width:700px; }
.online_tutor { padding-top:20px; }
ul.profile_list > li { width:96%; }
.contentblock { width:544px; }
.padding20 { width:93%; padding:19px; }
ul.its_work li { width:240px; margin-right:10px; }
.launch_lesson_space { width:100%; }
.launch_lesson_space > img { width:100%; height:auto; }
a.back_inbox, a.back_inbox:link, a.back_inbox:visited { margin-top:10px; }
.msg_chat_detail { width:480px; }
form.chat_reply { padding:18px; }
form.chat_reply textarea { width:97%; }
.student_profile_inner { width:96%; }
.schools_txt { width:89%; }
form.person_detail_edit { width:74%; }
a.edit_student_photo, a.edit_student_photo:link, a.edit_student_photo:visited { margin:10px 0; }
form.summary_form,form.private_list_edit,form.School_edit { width:100%; }
.summary_textarea { width:97%; }
.private_edit_left, .private_edit_right { width:350px; }
.private_edit_left { margin-right:10px; }
.gender_edit { width:172px; }
#day_edit { margin:0 7px;  }
#month_edit, #year_edit { width:77px; }
p.services_edit { width:100%; margin-top:10px; }
.gpa_edit { width:152px; }
.sharing_video { left:0px; bottom:93px; }
a.scroll_down, a.scroll_down:link, a.scroll_down:visited { display:none; }
.canvas_menu:before,.canvas_menu:after { display:none; }
#how_works { width:96%; }
.how_works_bx { width:95%; padding:15px; }
ul.how_works_list li { margin-right:10px; width:224px; }
.student_profile_detail { margin-top:25px; padding:15px; }
table.upcoming_top tr td:nth-of-type(1) { width:353px; }
table.upcoming_top tr td:nth-of-type(2) { width:197px; }
table.upcoming_top tr td:nth-of-type(3) { width:90px; }
#month_edit, #year_edit { width:56px; }
#sign_up { top:10px; }
ul.testimonial li { width:4% !important; }
input.lesson_bx_cancle[type="button"], input.lesson_bx_submit[type="submit"] { width:115px; }
.canvas_menu_inner > .wb_submenu_icon, .canvas_menu_inner > .wb_submenu_icon1 { width:517px; right:0px; margin-left:0px; right:0px; left:inherit; }
.champ_student_profile { margin-top:20px; }
.champ_job_inner { padding:20px; }
.champ_job_inner { width:95%; }
textarea.champ_jobsedit_textarea { width:94%; }
form.champ_jobsedit_form div input { width:88%; }
ul.champ_finance_tutor > li { padding:20px; width: 94%; }
h4.champ_finance_heading { width:61%; }
.champ_duration_left { width:77%; }
.champ_tutor_left { width:200px; }
.champ_tutor_right { width:490px; }
.champ_tutor_right.about_job { padding: 10px; width:96%; }
.champ_tutor_right.about_job .champ_aboutme_detail { padding: 20px; width: 92%; }
.resp-tabs-container { margin-top:0px; }
h2.resp-accordion { width:93.5% !important; }
.champ_status_detail { width:63%; }
ul.champ_all_status_list > li { padding:15px; }
.champ_tutor_section { margin:30px 0; }
ul.champ_edit_job li { margin-right:5px; padding-right:5px; }
ul.champ_edit_job li a, ul.champ_edit_job li a:link, ul.champ_edit_job li a:visited { font:12px/15px "HelveticaNeueLTStd-Roman"; }
ul.aside_about_right { width:97%; }
.champ_last_content,.champ_last_content_detail { width:94%; padding:20px; }
a.champ_message, a.champ_message:link, a.champ_message:visited { width:auto; padding:0 20px; }
.champ_apply_outer { margin-top:20px; }
#postneedpop1,.postneed_bx1,#postneedpop2,.postneed_bx2 { width:750px; }
.reject_detail { padding:20px; width: 95%; }
#postneedpop2 .champ_duration_date span { margin-right:10px; }
.market_place_left { width:280px; }
.market_place_left_inner { width:260px; padding:10px; }
.market_place_right { width:440px; padding:10px; }
.market_place_right ul.champ_aboutme_list li  { width:95%; padding:10px; }
a.champ_viewdetail, a.champ_viewdetail:link, a.champ_viewdetail:visited { padding:0 20px; }
.solve_question_top,.solve_question_detail,.solve_question_comment { padding:20px; width:94.6%; }
textarea.question_list_textarea { width:97%; }
.champ_last_content { padding:100px 20px 20px 20px; }
.champ_last_content_detail { padding:20px; }
.champ_last_detail { width:48%; }
.champ_duration_date span { margin-right:7px; }
.champ_apply_outer { margin:0px; }
.market_place_left_inner { width: 258px; }
form.marketplace_form > input[type="text"], form.marketplace_form > input[type="email"], form.marketplace_form > input[type="password"] { width:92%; }
.champ_aboutme #content { min-height: 590px; }
ul.champ_durleft_list { margin-top:10px; }
.champ_apply_outer ul.champ_durleft_list { margin-top:20px; }
.champ_tutor_left_outer { position: relative; width: auto; }
ul.question_list { margin-top:20px; }
.tooltip_text { display:none; }
.edit_profile_left { width:30%; }
.edit_profile_right { width:68%; }
form.edit_profile input { width:90.5%; }
form.view_tutor > input[type="text"] { width:400px; }
.online_tutor_right { width:450px; }
ul.showing_online_result > li { width:95.5%; }
.online_tutor_left { width:250px; }
.notification_list li { width: 93%; }
.billing_cntnt.recover_mobile { margin:20px 0 0 0; }
table.calendar_daily tr th:last-of-type, table.calendar_daily tr td:last-of-type { width: 68%; }
.all_calender { margin-top:20px; }
.splitter { display:none; }
.data_msng { min-height: 484px; }
.lesson_chap_summary { width:200px; margin-left:0; left:inherit; right:0; }


/*faq*/
.faq-type ul{width:165px;}
.faq-type-des{width:540px;}
.faq-type.scroll{top:20px;}

}
@media only screen and (min-width :456px) and (max-width : 749px) {
.wrapper,.hdng_inner { width:510px;}
header { padding-bottom:10px; position:relative;}
a#logo, a#logo:link, a#logo:visited { float:none; display:inline-block; }
.hdng_inner { text-align:center }
.banner { margin-top:0px; }
.banner_txt { width:78%; margin-top:75px; margin-left:-37%; left:50%; }
a.slde_btn,a.slde_btn:link,a.slde_btn:visited { margin:30px 0 0 -40px;}
.jst_clck { width:100%;}
span.bst_tutor { float:left;}
form.outer_input_btn > input[type="text"] { width:277px;}
.intrdctn { width:100%;}
ul.menu li { margin-left:7px;}
.cntnt { padding-top:50px;}
ul.its_wrk li { margin-right:0px; padding:0px; width:255px;}
ul.its_wrk li:last-child { float:left;}
ul.its_wrk { padding:30px 0;}
.outer_featured{ padding:30px 0 50px;}
ul.tstmnl li { width:250px; margin:0 5px 10px 0;}
ul.tstmnl li:last-child { float:left;}
span.tstmnl_cmnt_bx { width:82%; padding:10px; }
ul.tstmnl { margin:40px 0;}
ul.fetured_ul { width:100%; float:left;}
ul.fetured_ul li { margin:0px 0px 10px 0px; padding:0 12px;}
ul.fetured_ul li a, ul.fetured_ul li a:link, ul.fetured_ul li a:visited { width:auto;}
.ftr_logo { margin:0px; width:201px; height:40px; position:relative; left:50%; margin:0 0 20px -100.5px;}
ul.fetured_ul li:last-child { float:left;}
ul.ftr_lnk:first-of-type { width:100%; }
ul.ftr_lnk { width:50%; margin:0px 0px 20px 0px; text-align:center }
ul.social_icon { width:50%; text-align:center }
ul.ftr_lnk li { width:auto; margin-right:20px; float:none; display:inline-block; }
span.lnk_hdng { margin-bottom:0px; text-align:center }
.socl_link { width:100%;}
ul.prvt_plcy { margin:0 0 20px 5px;}
form.outer_input_btn > input[type="submit"], form.outer_input_btn > input[type="button"] { width:110px; }
.right_menu { margin-top:15px; width:100%; text-align:center; }
a.sign_in, a.sign_in:link, a.sign_in:visited,a.rgster, a.rgster:link, a.rgster:visited { float:none; text-align:center; display:inline-block; }
ul.its_wrk li img { width:100%; height:auto; float:left;}
#w { width:511px;}
.contnt { padding:0; margin:0px;}
aside.aside_right { width:100%; border-top:1px solid #dee3e8; }
aside.aside_right > .padding20 { width:94%;}
span.likelihood_section { width:100%; text-align:center; }
span.likelihood_section > em { float:none;}
aside.aside_right form > textarea,aside.aside_right form > input[type="text"], aside.aside_right form > input[type="email"] { width:675px;}
ul.profile_list > li { width:94%; padding:16px; }
.person_detail { width:300px; }
#sidemenu { width:155px;}
#sidemenu li a,#sidemenu li a:link,#sidemenu li a:visited { text-indent:7px; font:14px/35px 'proxima_novasemibold'; }
#content { width:354px; overflow:hidden; }
.padding20 { padding:10px; width:94%; }
.img_detail { width:100%; margin-top:10px; }
table.top_subject tr th:nth-of-type(2n+1) { width:50%;}
table.top_subject tr td:nth-of-type(2n+1) { width:50%;}
aside.aside_right form > textarea, aside.aside_right form > input[type="text"], aside.aside_right form > input[type="email"] { width:458px;}
.onoffswitch,.onoffswitch1 { margin:9px 7px 0 0; }
.online > span { margin-right:7px; padding-right:7px; }
.gender > input[type="radio"] { margin:0 7px 0;}
.ready_to_teach form > input[type="text"] { width:136px; padding:0 5px; margin-bottom:10px; }
.search  { width:128px; padding:0px;}
.search > input[type="text"] { width:87px; padding:0 5px; text-overflow:ellipsis; }
.outer_search { width:120px;}
.img_right { width:67%; /* padding:10px; */}
.left_img { min-height:260px;}
.online_banner_left { background-size:32%; background-position:left center; padding-left: 110px; width:195px; }
.online_banner_left > h1 { font:21px/28px "proxima_novaregular"; }
.online_banner_left > h1 > span { font:25px/28px "proxima_novasemibold"; }
/*.online_banner_left > p { width:150px; padding-left:163px; font:26px/27px 'proxima_novasemibold'; margin-top:-3px;  }*/
.online_banner { background:url("../images/online_tutor_bg.jpg") 65% center no-repeat; }
.want_tutor { width:188px; }
a.connect_btn, a.connect_btn:link, a.connect_btn:visited { padding:0 10px; font:15px/52px "proxima_novasemibold"; float:right; }
.crse_rlted > a, .crse_rlted > a:link, .crse_rlted > a:visited { margin:15px 100px 30px 0;}
.crse_rlted > ul > li { width:32%;}
.want_tutor > h2 { margin-bottom:10px; font:18px/24px "proxima_novasemibold"; }
.sticky { top:0px !important; }
.search_box { left:10px;}
ul.after_login_menu { width:100%; }
ul.after_login_menu > li:first-child { margin:2px 15px 0; }
#first_left { left:0px; }
#first_left:after { left:20px;}
#scnd_left { right:-20px; }
#scnd_left:after { right:47px; }
form.search_box_top { width:99%; margin:15px 0px; }
/*form.search_box_top { clear:both; width:305px; left:50%; margin-left:-152.5px; position:relative;  }*/
.hdng_inner > ul > li:first-child { margin:2px 0 0 0; }
ul.after_login_menu { width:100%; float:left; position:relative; margin:20px 0 0 0; text-align:center; }
ul.after_login_menu > li,ul.after_login_menu > li:first-child { float:none; display:inline-block; }
.data_msng { padding: 14px;  }
.algebra_heading { font: 28px/53px "proxima_novaregular"; }
.hdng_inner > ul > li > a { width:50px !important; }
.resp-tabs-container { margin-top:20px; }
/*.hdng_inner a#logo { left:0% !important; margin-left:0px !important; position:inherit !important; }*/
form.search_box_top > input[type="text"] { width:91%; }
.submenu1 { top:38px; }
ul.tchr_exprnc_lst { width:96%; }
.msg_img_detl { width:270px; }
.upcmng_lsn { width:91.8%; }
.upcmng_lsn > ul > li { width:44%; height:50px; }
.upcmng_lsn > ul > li:last-of-type { float:right;}
a.vw_lesn, a.vw_lesn:link, a.vw_lesn:visited { float:right; width:100%; font:12px/32px "proxima_novasemibold"; text-align:center; padding:0 6px; }
.paymnt_info { width:92%; }
.pay_info_detail { width:93%; }
.paymnt_info > table tr th { font:16px/20px 'proxima_novasemibold'; }
.paymnt_info > table tr td { font:14px/20px 'proxima_novaregular'; }
.main_cntnt { padding:10px; margin-top:20px; }
.stdnt_img_dtl { width:270px; }
.reqrd_tutn > a, .reqrd_tutn > a:link, .reqrd_tutn > a:visited { font:15px/41px 'proxima_novasemibold'; margin:0px; }
.reqrd_tutn_inr { width:490px; }
.reqrd_tutn_inr > textarea { width:468px; }
.tags { width:330px; }
ul.rcmdtn > li:nth-of-type(2n+1) { width:30%; }
ul.rcmdtn > li:nth-of-type(2n+2) { width:60%; }
.header_bottom { margin-top:0px; }
.canvas_menu_icon > a, .canvas_menu_icon > a:link, .canvas_menu_icon > a:visited { padding:0px; margin:0; width:41px; height:38px; }
.document > div { width:508px; }
.left_detail { margin-left:5px; margin-bottom:15px; }
.different_detail { margin:0px; left:5px; float:right; width:390px; }
.different_detail_inner { margin-right:6px; }
.bottom_border { height:109px; }
.tab_right { top:44px; }
.ui-tabs-nav li:first-of-type { margin-right:20px; }
.hide_menu { margin:0 8px; }
#tabs-1, #tabs-2 { width:100% !important; }
.canvas_menu_icon { margin-left:0px; }
.top_menu { width:100%; float:left; }
a.scroll_down, a.scroll_down:link, a.scroll_down:visited { display:none; }
.banner_text { width:100%; top:30px; }
form.view_tutor { padding:0 5px; }
form.view_tutor > input[type="text"] { width:190px; }
ul.menu { float:none; display:inline-block; margin-top:10px; }
.video_section_home,.video_section_home > img,.launch_lesson_space,.launch_lesson_space > img { width:100%; height:auto; margin:0px; left:0px; }
h1.champ_heading { font:28px/41px "proxima_novabold"; }
ul.its_work li { width:100%; margin:0px 0px 30px 0px; }
ul.its_work li:last-of-type { margin-bottom:0px; }
p.finding_tutors_text { height:auto; }
a.ftr_logo, a.ftr_logo:link, a.ftr_logo:visited { width:212px; position:relative; left:50%; margin:0px 0px 30px -106px; }
.msg_heading { padding:10px; }
ul.social_icon li { float:none; display:inline-block; }
table.upcoming_leasson tr td { padding:10px; }
p.upcoming_heading { font:12px/21px "proxima_novasemibold"; }
p.upcoming_txt { font:11px/21px "proxima_novaregular"; }
p.no_review { font:12px/21px "proxima_novasemibold"; }
a.stdnt_name_inr, a.stdnt_name_inr:link, a.stdnt_name_inr:visited { font:12px/35px "proxima_novasemibold"; float:left; }
.msg_img_detl > div > a, .msg_img_detl > div > a:link, .msg_img_detl > div > a:visited { font:15px/21px "proxima_novasemibold"; }
.msg_img_detl > span { font:13px/21px "proxima_novasemibold"; }
a.back_inbox, a.back_inbox:link, a.back_inbox:visited { margin-top:20px; }
.tchr_exprnc_number { width:140px; }
.msg_chat_detail { width:250px; }
.chat_img > img { width:100%; height:auto; }
form.chat_reply { padding:20px; width:92%; }
form.chat_reply textarea { width:95%; }
.online_tutor { padding-top:20px; }
.hurry_tutor_find { width:100%; left:0%; margin:0px; }
.contentblock { width:100%; }
.student_profile_inner { width:94%; }
.schools_txt { width:84%; }
form.person_detail_edit { width:63%; }
.person_edit_textfield { width:100%; }
input.student_long_txt[type="text"] { width:285px; }
input.student_shrt_txt[type="text"] { width:104px; }
.select_grad_year { width:304px; margin-top:10px; }
a.edit_student_photo, a.edit_student_photo:link, a.edit_student_photo:visited { margin:10px 0; }
form.summary_form,form.private_list_edit,form.School_edit { width:100%; }
.summary_textarea { width:95%; }
.private_edit_left, .private_edit_right { width:100%; margin:0px; }
.private_edit_left label,.private_edit_right label { width:170px; }
p.services_edit { width:100%; margin:10px 0 0 0; }
span.college_skul { width:168px; }
.gpa_edit { width:150px; }
.current_skul_edit label { font: 12px/37px "proxima_novaregular"; }
.School_edit_ful > label { margin-right:10px; }
.slash { margin:0 4px; }
#month_edit, #year_edit { width:77px; }
.student_profile_detail { padding:10px; margin-top:10px; }
.sharing_video { left:0px; bottom:141px; }
.canvas_menu:before,.canvas_menu:after { display:none; }
.whtebox_fx { margin-left:0px; width:284px !important; }
.sub_icon { width:350px; z-index:1; }
ul.menu li a, ul.menu li a:link, ul.menu li a:visited { font:15px/21px "proxima_novasemibold"; }
a.tooltip > span { width:200px; height:auto; }
#how_works { width:96%; }
.how_works_bx { width:95%; padding:10px; }
h1.work_heading { font:23px/31px "proxima_novasemibold"; }
ul.how_works_list li { margin-right:0px; width:100%; margin-bottom:10px; }
ul.how_works_list li:last-of-type { margin-bottom:0px; }
ul.how_works_list { margin-top:20px; }
#sign_up { top:10px; }
#snd_msg { width:96%; }
.snd_msg_bx { width:95%; padding:10px; height:385px; }
textarea.enter_message { width:96%; }
input.lesson_bx_cancle[type="button"], input.lesson_bx_submit[type="submit"] { margin-top:10px; }
#new_lesson { width:96%; top:10px; }
.new_lesson_bx { width:95%; padding:10px; }
textarea.note,.written_lesson { width:74%; }
table.upcoming_top tr td:nth-of-type(1) { width: 175px; }
table.upcoming_top tr td:nth-of-type(2) { width: 145px; }
table.upcoming_top tr td:nth-of-type(3) { width: 85px; }
#upload_student_pic { width:96%; }
.upload_student_pic_bx { width:95%; padding:10px; height:auto; }
ul.upload_profile_detail { width:100%; }
ul.testimonial li { width:4% !important; }
.chat { top: -127px; z-index:10; }
.champ_student_profile { margin-top:10px; }
.champ_job_inner { padding:15px; width: 94%; }
form.champ_jobsedit_form div input { width: 82.5%; }
textarea.champ_jobsedit_textarea { width:91.5%; }
label.champ_jobsedit_label { font:14px/21px "HelveticaNeueLTStd-Light"; }
ul.champ_finance_tutor > li { padding:15px; width: 93%; }
h4.champ_finance_heading { width:100%; }
.champ_poston { width:100%; margin-top:10px; }
.champ_poston span:first-of-type { margin-right:10px; }
.champ_duration_left { width:100%; margin-bottom:20px; }
.champ_tutor_left { width:94%; }
.champ_tutor_right { width:100%; }
.champ_tutor_right.about_job { padding: 10px; width: 95%; }
#horizontalTab2,#horizontalTab,#horizontalTab1 { width:97% !important; }
h2.resp-accordion { width:94% !important; }
.champ_status_detail { width: 65%; }
.champ_tutor_section { margin:30px 0; }
.champ_select_lesson select { background:rgba(0, 0, 0, 0) url("../images/live-down-arrow.png") no-repeat scroll 85% center; width: 110%; }
#postneedpop1,.postneed_bx1,#postneedpop2,.postneed_bx2 { width:520px; }
.champ_last_content { padding: 100px 15px 20px; }
.champ_last_detail { width:60%; }
a.champ_message, a.champ_message:link, a.champ_message:visited { margin-top:30px; }
.champ_last_content_detail { padding:30px 15px; }
.champ_apply_outer ul.champ_durleft_list { margin-top:20px; }
.reject_detail { padding:20px; width: 92%; }
a.reject_btn, a.reject_btn:link, a.reject_btn:visited { margin-top:40px; }
.reject_reason_link { margin-top:20px; }
h3.champ_aboutme_heading { padding:20px; }
.champ_aboutme_detail { padding: 20px; }
ul.champ_aboutme_list li { padding:13px; }
.champ_duration_date span { width:100%; margin-right:0px; }
.champ_aboutme_btn_left { width:100%; }
.champ_tutor_left_outer { position: relative; width: auto; }
.champ_aboutme #content { min-height: 590px; }
.market_place_left { position:relative; width:auto; top:0px; }
.market_place_left_inner { width:88%; }
form.marketplace_form > input[type="text"], form.marketplace_form > input[type="email"], form.marketplace_form > input[type="password"] { width:95.5%; }
.market_place_right { width:92%; border:0px; padding:20px; float:left; }
.solve_question_top,.solve_question_detail,.solve_question_comment { padding: 20px 10px; width: 96%; }
textarea.question_list_textarea { width: 96%; }
#hirepop1{width:480px; height:auto; top:30px; }
.hire_bx1{width:480px; height:auto; }
ul.question_list { margin-top:10px; }
ul.solve_question_reply { padding: 0 10px; width: 96%; }
span.tooltip_text { display:none; }
.champ_student_detail table.upcoming_leasson tr td:first-of-type { max-width:100px; }
.champ_student_detail table.upcoming_leasson tr td:nth-of-type(2) { max-width:70px; }
.champ_student_detail .student_profile { width:97%; }
.champ_student_detail .student_profile_inner { width: 91%; }
.champ_student_detail ul.private_list,.champ_student_detail .private_list_left,.champ_student_detail .private_list_right { width:100%; }
.champ_student_detail .schools_txt { width: 70%; }
.champ_student_detail .select_date_range label { width:100%; margin:0; }
.champ_student_detail .select_date_range input { width:125px; }
.champ_student_detail .champ_select_viewall { width: 69%; }
.champ_student_detail { padding:15px; }
.champ_student_detail textarea.champ_jobsedit_textarea { width: 86.5%; }
input.question_textfield[type="text"] { width: 94%; }
.champ_student_detail ul.champ_finance_tutor > li { padding: 10px; }
.champ_student_detail label.champ_jobsedit_label { font: 10px/24px "proxima_novaregular"; }
.edit_profile_left { width:100%; margin:0; padding:0; }
.edit_profile_right { width:100%; margin:40px 0 0 0; padding:0; }
.edit_profile_left > input { width: 95.5% !important; }
form.edit_profile input { width:91%; }
.profile_about textarea { width:96%; }
textarea.edit_description,.edit_gray_section .gpa_edit { width:92% !important; }
.private_edit_left label, .private_edit_right label { font:13px/37px "proxima_novaregular"; width:100%; text-align:center; }
.edit_gray_section .gender_edit { width:100%; }
textarea.question_description { width:94%; }
.edit_gray_section .language_tag { padding-left:0; }
.edit_gray_section .School_edit_ful > label { font: 13px/37px "proxima_novaregular"; width: 100%; text-align:center; }
.edit_gray_section .School_edit_ful div { width:100%; }
.edit_gray_section span.college_skul { width: 50%; }
.edit_gray_section #month_edit,.edit_gray_section #year_edit { width: 62px; }
.edit_gray_section .gender_edit,.edit_gray_section .gender_edit.left10,.edit_gray_section .slash,.edit_gray_section #day_edit { margin-top:10px !important; }
.choose_diff_level { width: 150px; }
.online_tutor_left { width:96%; }
.gender { width:100%; }
.online_tutor_right { width:100%; margin-top:20px; }
ul.showing_online_result > li { width:96%; }
.reset_password { width:500px; margin: 125px 0 165px -250px; }
.reset_outer_form input[type="email"] { width: 79%; }
.notification_icon { width: 10%; }
.notification_heading { width: 90%; }
.notification_list li { width: 90%; }
.billing_cntnt.recover_mobile { margin:20px 0 0 0; }



table.calendar_daily tr th:last-of-type, table.calendar_daily tr td:last-of-type { width:63%; }
.all_calender { margin-top:20px; }
table.calendar_weekely tr th,table.champion_calendar tr th { font: 15px/21px "proxima_novaregular"; }
table.calendar_weekely tr td { padding:10px; font: 13px/21px "proxima_novaregular"; }
.lesson_detail img { margin-right: 2px; }
.yearly_calendar_inner,.yearly_calendar_inner:nth-of-type(2) { width:100%; margin:0 0 10px 0; }
.splitter { display:none; }
.limit_width {
    width: 80px;
}
a.vw_lesn, a.vw_lesn:link, a.vw_lesn:visited { padding: 0 4px; width: 90%; }
.champ_student_detail table.upcoming_leasson tr td:nth-of-type(2) { max-width: 90px; }

.data_msng { min-height: 496px; }

.champ_student_detail p.upcoming_heading {
    font: 12px/21px "proxima_novaregular";
}
.champ_student_detail a.vw_lesn, .champ_student_detail a.vw_lesn:link, .champ_student_detail a.vw_lesn:visited {
    font: 10px/32px "proxima_novasemibold";
}

ul.champ_durleft_list li a, ul.champ_durleft_list li a:link, ul.champ_durleft_list li a:visited { font: 12px/12px "HelveticaNeueLTStd-Roman"; }
ul.champ_durleft_list li { margin-right: 2px; padding-right: 2px; }
.reviews_img { margin-right: 5px;}
.review_text { width: 52%; }
ul.tchr_exprnc_lst { width: 100%; }

.lesson_chap_summary { width:200px; margin-left:0; left:inherit; right:0; }
#repost{width:480px;}
form.pick-date{width:450px; padding:20px;}
.form-sec{width:165px; margin-right:10px;}
form.pick-date input[type="text"]{width:145px;}
.form-sec:last-child{width:100px;}
.form-sec:last-child input[type="text"]{width:77px;}
#repost .questions_popup_heading{text-indent:20px;font-size:20px;}



.contact_form_final{width:88%;margin-left:3px;}

.contact_headings{width:90%;}

.form_details{width:95%;}

.input_details{width:49%;}

.main_selection{width:100%;}


.terms_headings p{width:94%;}
.privacy_policy_list{width:94%;}


.input_details a, .input_details a:link, .input_details a:visited{ font: 15px/50px "segoe_uiregular";}

.terms_headings p{width:100%;}
.privacy_policy_list{width:100%;}

.terms_headings{width:87%;margin-left:8px;}

.privacy_policy{padding-left: 6px;
    width: 87%;}



/*faq*/
.faq-type ul{width:125px;}
.faq-type-des{width:370px;}
.faq-content{padding:0 15px 30px;}
.faq-des-inner h2{line-height:55px;}
.faq-type.scroll{top:20px;}
}
@media only screen and (min-width :240px) and (max-width : 455px) {
.wrapper,.hdng_inner { width:290px;}
header { padding-bottom:10px; position:relative;}
a#logo, a#logo:link, a#logo:visited { width:212px; height:auto; float:left; position:relative; left:50%; margin-left:-106px;}
.banner { margin-top:0px; }
.banner_txt { margin-top:70px; width:60%; margin-left:-30%; left:50%; }
a.video_icon, a.video_icon:link, a.video_icon:visited { margin:30px 0 0 -67px;}
p.video_txt { margin-top:15px; font:27px/30px 'proxima_novaregular'; }
a.slde_btn, a.slde_btn:link, a.slde_btn:visited { margin:25px 0 0 -40px;}
.jst_clck { width:100%; text-align:center;}
form.outer_input_btn > input[type="submit"], form.outer_input_btn > input[type="button"] { width:114px;}
form.outer_input_btn > input[type="text"] { width:50%; text-overflow: ellipsis;}
.intrdctn { width:100%;}
ul.menu li { margin-right:12px; }
.cntnt { padding-top:50px;}
ul.its_wrk li { margin-right:0px; padding:0 14px;}
ul.its_wrk { padding:30px 0;}
.outer_featured{ padding:30px 0 50px;}
ul.tstmnl li { width:290px; margin:0px 0px 20px 0px;}
span.tstmnl_cmnt_bx { width:250px;}
ul.tstmnl { margin:40px 0;}
ul.fetured_ul { width:100%; float:left;}
ul.fetured_ul li { width:100%; margin:0px 0px 10px 0px;}
ul.fetured_ul li a, ul.fetured_ul li a:link, ul.fetured_ul li a:visited { width:146px; height:52px; position:relative; left:50%; margin-left:-73px;}
/*.ftr_logo { margin:0px; width:201px; height:40px; position:relative; left:50%; margin:0 0 20px -100.5px;}*/
a.ftr_logo, a.ftr_logo:link, a.ftr_logo:visited { margin:0px; width:201px; height:40px; position:relative; left:50%; margin:0 0 20px -100.5px;}
p.ftr_txt { width:100%; text-align:center; }
ul.prvt_plcy li:last-of-type { margin-right:0px; }
ul.ftr_lnk { width:100%; margin:0px 0px 20px 0px; text-align:center; }
ul.ftr_lnk li { width:auto; margin-right:20px; float:none; display:inline-block; }
span.lnk_hdng { margin-bottom:0px; text-align:center; width:100%; }
.socl_link { width:100%;}
ul.social_icon { width:100%; text-align:center; }
ul.social_icon li { float:none; display:inline-block; margin-top:5px; }
ul.prvt_plcy { width:100%; text-align:center; }
ul.prvt_plcy li { float:none; display:inline-block; }
span.bst_tutor { font:20px/20px 'proxima_novaregular'; }
.jst_clck { font:25px/30px 'proxima_novasemibold'; }
ul.social { top:70px;}
form.outer_input_btn { width:143%; margin-left:-20%; }
.video_section_home,.video_section_home > img,.launch_lesson_space,.launch_lesson_space > img { width:100%; height:auto; margin:0px; left:0px; }
ul.its_work li { width:100%; margin:0px 0px 30px 0px; }
ul.its_work li:last-of-type { margin-bottom:0px; }
p.finding_tutors_text { height:auto; }
#w { width:286px; border-right:1px solid #DEE3E8;}
.contnt { padding:0; margin:0px;}
aside.aside_right { width:100%; margin-top:0; border-top:1px solid #dee3e8; }
aside.aside_right > .padding20 { width:90%;}
span.likelihood_section { width:100%; text-align:center; }
span.likelihood_section > em { float:none;}
aside.aside_right form > textarea,aside.aside_right form > input[type="text"], aside.aside_right form > input[type="email"] { width:675px;}
.padding20:last-child { border-bottom:1px solid #DEE3E8; }
#sidemenu { width:100%;}
/*#sidemenu li a, #sidemenu li a:link, #sidemenu li a:visited { font:12px/50px 'proxima_novasemibold'; text-indent:5px; }*/
#content { margin-left:0px; width:100%; float:left; }
.padding20:last-child { border-bottom:1px solid #DEE3E8; }
.padding20 { padding:10px; width:93%;}
.img_detail { width:100%; margin-top:10px;}
aside.aside_right form > textarea, aside.aside_right form > input[type="text"], aside.aside_right form > input[type="email"] { width:238px;}
#sidemenu li a.open { width:100%;}
.online_banner { background:url("../images/online_tutor_bg.jpg") left top no-repeat; height:95px; display:none; }
.want_tutor a.connect_btn,.want_tutor a.connect_btn:link,.want_tutor a.connect_btn:visited { background:url("../images/send_btn_bg.png") bottom left repeat-x #4E8FDD; height:35px;  font:22px/35px 'proxima_novasemibold'; }
.online_banner_left { position:relative;}
.online_banner_left > p { width:120px; padding-left:167px;}
.want_tutor { position:relative; right:0px; text-align:center; left:22px; top:5px; }
a.connect_btn, a.connect_btn:link, a.connect_btn:visited, input.connect_btn[type="submit"], input.connect_btn[type="button"] { }
.want_tutor > h2 { margin-bottom:5px; font:23px/23px 'proxima_novasemibold'; }
.want_tutor > span { margin-top:10px;}
.online > span { margin-right:7px; padding-right:7px; }
.gender > input[type="radio"] { margin:0 7px 0 9px;}
.ready_to_teach form > input[type="text"] { padding:0 5px; text-overflow:ellipsis; width:112px; margin-bottom:10px; }
.outer_search { width:285px;}
.search { width:98%;}
.left_img { width:100%; border:0px;}
.left_img > ul { margin-top:15px;}
.img_right { width:100%; margin-top:10px; /* padding:10px; */}
.pgntn ul { margin-bottom:10px;}
.crse_rlted > a, .crse_rlted > a:link, .crse_rlted > a:visited { margin-right:50px;}
.search > input[type="text"] { width:228px; }
#sidemenu li a.open { width:100%;}
.sticky { top:0px !important; }
.search_box { left:10px;}
table.top_subject tr th:nth-of-type(2n+1),table.top_subject tr td:nth-of-type(2n+1) { width:50%;}
.online_banner_left { display:none;}
.profile { width:99%;}
ul.after_login_menu { width:100%; margin-top:-80px; text-align:center; }
.profile_detail { margin-top:60px; }
ul.after_login_menu > li:first-child { margin:0 10px 0; }
ul.after_login_menu > li > a, ul.after_login_menu > li > a:link, ul.after_login_menu > li > a:visited { width:38px;}
ul.after_login_menu > li,ul.after_login_menu > li:first-child { float:none; display:inline-block; }
ul.after_login_menu > li { margin-bottom:5px; }
#first_left,#scnd_left { left:-45px; }
#first_left:after,#scnd_left:after { left:50px;}
form.search_box_top > input[type="text"] { width:84%; }
.hdng_inner > ul > li:first-child { margin:2px 0 0 0; padding-right:5px; }
.hdng_inner > ul > li:first-of-type > a { width:40px !important; }
.hdng_inner > ul > li > a { width:33px !important; }
.resp-tabs-container { margin-top:20px; }
ul.tchr_exprnc_lst { width:92.7%; }
.msg_img_detl { width:100%; text-align:center; }
.msg_heading > img { margin:5px 20px 0 10px; }
.msg_img_detl > div { text-align:center; }
.msg_img_detl > div > a, .msg_img_detl > div > a:link, .msg_img_detl > div > a:visited { float:none; display:inline-block; text-align:center; }
.msg_heading > a, .msg_heading > a:link, .msg_heading > a:visited { float:none; display:inline-block; }
.upcmng_lsn { margin:10px; width:92%; }
.upcmng_lsn > ul > li { width:43%; padding:8px; }
.upcmng_lsn > ul > li:first-of-type { width:92%; }
.paymnt_info { padding:10px; width:93%; }
.pay_info_detail { width:89%; }
.paymnt_info > table tr th { font:13px/20px 'proxima_novasemibold'; }
.paymnt_info > table tr td { font:11px/21px 'proxima_novaregular'; padding:0 1px; width:18%; }
form.my_acnt { margin:10px; width:265px; }
form.my_acnt input[type="text"] { width:245px; padding:0 10px; }
.select  { width:260px; }
.main_cntnt { padding:10px; margin-top:20px; }
.stdnt_img_dtl { margin:15px 0 0 0; width:100%; }
.reqrd_tutn > a, .reqrd_tutn > a:link, .reqrd_tutn > a:visited { margin-bottom:5px; }
.reqrd_tutn_inr { width:270px; }
.reqrd_tutn_inr > textarea { width:250px; }
.tags { width:100%; }
form.stdnt_frm { width:270px; }
form.stdnt_frm > input[type="text"] { padding:0 10px; width:250px; }
ul.rcmdtn > li:nth-of-type(2n+1),ul.rcmdtn > li:nth-of-type(2n+2) { width:100%; }
.nmbr_of_dys { margin-top:15px; width:100%; text-align:center; }
.msg_img { margin-right:0px; position:relative; left:50%; margin:0 0 10px -28px; }
.header_bottom { margin-top:0px; }
.different_detail { left:0%; margin-left:0px; width:100%; margin-bottom:20px; }
.ui-tabs .ui-tabs-nav .ui-tabs-anchor { padding:0 13px !important; }
.ui-tabs .ui-tabs-nav li { margin-top:10px; }
.ui-tabs-nav li:first-of-type { margin-right:10px; }
.bottom_border { height:168px; }
.text_editor { margin:0 5px 10px 0; }
.document > div { width:96%; }
.tab_right { top:120px; }
.tab_right { top:120px; }
#mceu_19 { padding-bottom:55px; }
.canvas_menu_icon > a, .canvas_menu_icon > a:link, .canvas_menu_icon > a:visited { margin:0px; width:42px; }
.canvas_color { margin-top:15px; }
.add { margin:10px 10px 0 0; }
.demo_lesson_progress { border:1px solid #ccc; padding-bottom:10px; border-radius:3px; width:auto; margin-left:25px; }
a.free_trial, a.free_trial:link, a.free_trial:visited { margin:15px 55px 15px 0; }
.canvas_menu_icon { margin-left:0px; }
#tabs-1, #tabs-2 { width:100% !important; }
a.scroll_down, a.scroll_down:link, a.scroll_down:visited { display:none; }
form.summary_form,form.private_list_edit,form.School_edit { width:100%; }
.right_menu { width:100%; text-align:center; }
a.sign_in, a.sign_in:link, a.sign_in:visited,a.rgster, a.rgster:link, a.rgster:visited { float:none; display:inline-block; }
.banner_text { width:100%; top:50px; }
h1.banner_heading { font:23px/34px "proxima_novasemibold"; }
p.banner_inner_text { font:19px/31px "proxima_novaregular"; }
form.view_tutor > input[type="submit"], form.view_tutor > input[type="button"] { width:115px; }
form.view_tutor > input[type="text"] { width:275px; margin-bottom:10px; border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; float:none; }
.choose_diff_level { margin-left:3px; border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; -ms-border-radius:3px 0 0 3px; -o-border-radius:3px 0 0 3px; }
.scot_tutor, .tutors_chat { width:93%; padding:0 5px; }
.outer_scot_tutor { margin-right:150px; }
.notification { display:none }
.outer_scot_tutor, .outer_tutors_chat { width:145px; }
.scot_tutor > h2, .tutors_chat > h2 { font:14px/36px "proxima_novaregular"; }
.tutors_chat_txt { width:88px; margin-left:5px; }
.support_offline { padding:7px; }
p.scot_tutor_text,input.scot_tutor_input[type="text"] { padding:0 5px; }
.support_offline_detail { width:88px; }
.tutors_chat_txt > p,.tutors_chat_txt > h3 { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
ul.tutors_chat_list { width:86%; }
.support_offline_detail h2 { font: 11px/18px "proxima_novasemibold"; }
ul.testimonial { width:100% !important; }
form.search_box_top { margin:10px 0; width:100%; }
.msg_heading { padding:7px; width:95%; text-align:center; }
ul.tchr_exprnc_lst > li { padding:15px; }
table.upcoming_top tr td:nth-of-type(1) { width:35%; }
table.upcoming_top tr td:nth-of-type(2) { width:27%; }
table.upcoming_top tr td:nth-of-type(3) { width:16%; float:right; }
.msg_chat_detail,.tchr_exprnc_number { width:100%; }
.msg_chat_detail h2,.msg_chat_detail p,.tchr_exprnc_number { text-align:center; }
.chat_img > img { width:100%; height:auto; }
form.chat_reply { width:93%; padding:10px; }
form.chat_reply textarea { width:92%; }
.outer_browse_btn { width:100%; margin-bottom:20px; }
input.browse_text[type="text"] { width:49%; }
input.lesson_bx_cancle[type="button"], input.lesson_bx_submit[type="submit"] { width:120px; }
.attach_files { width:100%; margin:0px; text-align:center; }
a.back_inbox, a.back_inbox:link, a.back_inbox:visited { margin:10px 0; }
h1.message_heading { font:17px/26px "proxima_novasemibold"; }
a.stdnt_name_inr, a.stdnt_name_inr:link, a.stdnt_name_inr:visited { font: 10px/50px "proxima_novasemibold"; }
table.upcoming_leasson tr td { padding:3px; }
p.no_review { font: 11px/21px "proxima_novasemibold"; }
p.upcoming_heading { font:11px/21px "proxima_novasemibold"; }
p.upcoming_txt { font:11px/21px "proxima_novaregular"; }
a.vw_lesn, a.vw_lesn:link, a.vw_lesn:visited { padding:0; background:none; border:none; height:auto; color:#5498e4 !important; font:11px/14px "proxima_novasemibold"; }
table.upcoming_top tr td { padding:3px; }
h1.work_heading { font:23px/31px "proxima_novasemibold"; }
ul.how_works_list li { margin-right:0px; width:100%; margin-bottom:10px; }
ul.how_works_list li:last-of-type { margin-bottom:0px; }
ul.how_works_list { margin-top:20px; }
#sign_up { top:10px; width:95%; }
.sign_up_bx { width:99%; }
ul.sign_up_tab li { width:49.8%; }
form.tutor_form { padding:10px; }
form.tutor_form input[type="text"] { width:93%; }
ul.menu li a, ul.menu li a:link, ul.menu li a:visited { font:13px/32px "proxima_novasemibold"; margin-top:10px; }
.added { z-index:100; }
.student_profile_detail { padding:10px; margin-top:10px; width:93%; }
form.person_detail_edit { width:100%; }
.person_edit_textfield,.School_edit_ful div { width:100%; }
input.student_long_txt[type="text"],input.student_shrt_txt[type="text"] { width:92%; }
input.student_shrt_txt[type="text"] { margin-bottom:10px; }
.select_grad_year { width:99%; }
a.edit_student_photo, a.edit_student_photo:link, a.edit_student_photo:visited { float:left; margin:10px 0; }
input.student_cancel[type="button"], input.student_save[type="submit"] { width:129px; }
.student_profile_inner { width:93%; padding:10px; }
.summary_textarea,.gpa_edit { width:92%; }
.private_edit_left label, .private_edit_right label { width:100%; text-align:center; margin:0px; }
.private_edit_left, .private_edit_right { width:100%; margin:0px; }
.gender_edit { width:99%; }
.language_tag { padding:0px; width:100%; }
.private_edit_left > div, .private_edit_right > div { text-align:center; }
#month_edit, #year_edit,#day_edit { /*float:none; display:inline-block;*/ margin-top:5px; width:61px; }
.School_edit_ful > label { width:100%; text-align:center; }
span.college_skul:first-of-type { width:54%; }
span.college_skul:last-of-type { width:40%; }
.slash { /*float:none; display:inline-block;*/ margin:5px 3px 0 3px; }
.left10 { margin-left:3px; }
.sbHolder > a, .sbHolder > a:link, .sbHolder > a:visited { font:13px/37px "proxima_novaregular"; }
#upload_student_pic { width:96%; }
.upload_student_pic_bx { width:92%; padding:10px; height:auto; }
ul.upload_profile_detail,ul.private_list { width:100%; }
.private_list_left,.private_list_right { width:100%; margin:0px; }
.private_list_right { margin-top:10px; }
ul.private_list li label,ul.private_list li span { width:100%; margin:0px; }
.schools_txt { width:72%; }
h1.recommendation_heading { font:35px/45px "proxima_novasemibold"; }
ul.recommendation_list li { padding:9px; width:43.7%; }
ul.recommendation_list li label { width:93px; }
ul.recommendation_list li input[type="radio"] { margin-right:8px; }
ul.recommendation_list { width:100%; }
a.tooltip > span { width:235px; }
.rect_sort_by { width:200px; }
.showing_up { margin-bottom:5px; width:89%; }
.data_msng { padding:10px; height:auto; }
.contentblock { width:100%; }
.online_tutor { border-bottom:1px solid #ccc; padding:10px 0; }
.hurry_tutor_find { width:100%; left:0px; margin-left:0px; }
#how_works { width:92%; }
.how_works_bx { padding:10px; width:92%; }
#sign_in { width:92%; }
.sign_in_bx { padding:10px; width:92%; }
a.facebook, a.facebook:link, a.facebook:visited { font:17px/53px "proxima_novasemibold"; background:#3475b2 url("../images/facebook.png") no-repeat scroll 10px center; }
form.signin_form input[type="text"] { width:91%; }
#new_lesson { width:92%; }
.new_lesson_bx { padding:10px; width:92%; }
.written_lesson,.duration_select { width:99%; }
label.lesson_bx_label { width:100%; text-align:center }
input.start_time[type="text"] { width:37%; }
textarea.note { width:90%; }
.chat { top: -130px; }
.sharing_video { bottom:172px; }
#snd_msg { width:92%; }
.snd_msg_bx { padding:10px; width:92%; height:auto; }
.choose_user { width:99% !important; }
textarea.enter_message { width:91%; }
input.browse_btn[type="button"] { padding:0 20px; }
/* .lesson_space { display:none; margin-bottom:10px; }
p.launch_lesson_txt { margin-bottom:10px; } */
.most_searched_subjects { padding-top:0px; }
.whtebox_fx { margin-left: -70px; width: 200px !important; }
.sub_icon { z-index:10; width:120px; }
.champ_tutor_section { margin:30px 0; }
.champ_student_profile { margin-top:20px; }
.champ_job_inner { padding:10px; width: 93%; }
form.champ_jobsedit_form > div { width:100%; }
form.champ_jobsedit_form div input,textarea.champ_jobsedit_textarea { width:93%; padding:0 10px; }
textarea.champ_jobsedit_textarea { padding:10px; }
ul.champ_finance_tutor > li { padding:10px; }
h4.champ_finance_heading,.champ_duration_left { width:100%; margin-bottom:20px; }
.champ_poston { width:100%; float:right; }
.champ_tutor_left { width:92%; padding:10px; }
.champ_tutor_right { width:100%; }
.champ_tutor_right.about_job { padding: 10px; width: 94%; }
h2.resp-accordion { width:89% !important; }
.champ_status_detail { width:100%; margin-top:20px; }
ul.champ_all_status_list > li { padding: 10px; width: 93%; }
ul.champ_hire_list li { margin-right:10px; padding-right:10px; }
span.champ_pending { margin-top:10px; }
#postneedpop1,.postneed_bx1,#postneedpop2,.postneed_bx2 { width:290px; }
.champ_last_content { padding:100px 10px 20px; }
.champ_last_detail { width:100%; margin:15px 0; }
a.champ_message, a.champ_message:link, a.champ_message:visited { width:100%; }
.champ_last_content_detail { padding:20px 10px; }
.champ_last_text { margin:10px 0; }
ul.champ_ready_teach li { margin-right:3px; padding:0 7px; }
ul.champ_ready_teach li > label { font: 14px/40px "HelveticaNeueLTStd-Bold"; margin-right: 7px; }
ul.champ_ready_teach li > p { font: 12px/40px "HelveticaNeueLTStd-Light"; }
.champ_apply_outer ul.champ_durleft_list { margin-top:20px; }
.reject_detail { padding:20px 10px; width: 93%; }
#postneedpop1 .champ_duration_date span { width:92%; margin-right:0px; }
a.reject_btn, a.reject_btn:link, a.reject_btn:visited { margin-top:20px; }
.reject_reason_textarea { width:92%; }
#postneedpop2 .champ_duration_date span { margin-right:0px; width:100%; }
.champ_select_lesson select { background:rgba(0, 0, 0, 0) url("../images/live-down-arrow.png") no-repeat scroll 85% center; width: 110%; }
h3.champ_aboutme_heading { padding: 20px 15px; }
.champ_aboutme_detail { padding: 20px 15px; }
ul.champ_aboutme_list li { padding: 20px 10px; }
.champ_aboutme_btn_left { width: 100%; }
.champ_duration_date span { width:95%; margin-right:0px; }
em.msg_link { left:-1px; }
h3.market_place_heading { font: 26px/35px "HelveticaNeueLTStd-Light"; padding: 20px 10px; text-indent:0px; width: 93%; }
.market_place_left { width:100%; position:relative; top:0px; padding:0; }
.market_place_left_inner { padding:20px 10px; width: 93%; }
form.marketplace_form > input[type="text"], form.marketplace_form > input[type="email"], form.marketplace_form > input[type="password"] { width:92%; }
.market_place_right { padding:20px 10px; width:93%; border:0px; }
.solve_question_top,.solve_question_detail,.solve_question_comment { padding:20px 10px; width: 93%; }
.question_list_posted { width:100%; margin-top:20px; }
textarea.question_list_textarea { width:92%; }
.champ_tutor_left_outer { width:100%; position:relative; }
.solve_question_lang { display:none; }
.champ_poston { margin-top:10px; }
#hirepop1{width:290px; height:auto; top:30px; }
.hire_bx1{width:290px; height:auto; }
form.hire_detail { padding: 15px 10px; width: 93%; }
form.hire_detail input[type="text"], form.hire_detail input[type="email"], form.hire_detail input[type="password"] { padding:0 10px; width:92.5%; }
.hire_select select { text-indent:3px; }
.repeat_section label { margin-right: 20px; }
form.hire_detail textarea { padding:10px; width:92.5%; }
ul.question_list { margin-top:10px; }
ul.solve_question_reply { padding: 0 10px; width: 96%; }
span.tooltip_text { display:none; }
.champ_student_detail { padding:10px; }
.champ_student_detail .schools_txt { width: 65%; }
.select_date_range label { width:100%; }
.select_date_range input { width:94px; }
.champ_select_viewall { width:62%; }
.champ_student_detail ul.champ_finance_tutor > li { padding: 10px; }
input.question_textfield[type="text"] { width:92%; }
a.post_question, a.post_question:link, a.post_question:visited, a.preview_question, a.preview_question:link, a.preview_question:visited { padding:0 8px; }
.champ_student_detail .student_profile_inner { width: 93%; }
form.champ_jobsedit_form > div, form.champ_jobsedit_form > span.background_shade > div { width:100%; }
.edit_profile_left { width:100%; margin:0; padding:0; }
.edit_profile_right { width:100%; margin:40px 0 0 0; padding:0; }
form.edit_profile input { width:92%; }
.profile_about textarea { width:92%; }
.private_left, .private_right { width:100%; }
.edit_profile_left textarea.question_description { width: 92%; }
.edit_gray_section input.student_cancel[type="button"],.edit_gray_section input.student_save[type="submit"] { width: 110px; }
.edit_gray_section textarea.edit_description { width:90% !important; }
.edit_gray_section .gpa_edit { width: 90%; }
.edit_gray_section .School_edit_ful > label { font: 14px/37px "proxima_novaregular"; text-align: center; width: 100%; }
.edit_gray_section #month_edit,.edit_gray_section #year_edit,.edit_gray_section #day_edit { width: 55px; }
.online_tutor_left { width:92%; }
.gender { width:100%; }
.online_tutor_right { width:100%; margin-top:20px; }
ul.showing_online_result > li { width:93%; }
.reset_password { margin: 125px 0 165px -135px; width: 270px; }
.reset_outer_form { width: 85%; padding:20px; }
.reset_email_icon { width: 50px; }
.reset_outer_form input[type="email"] { width: 69%; }
span.reset_or { margin: 0 10px; }
.reset_outer_form input[type="submit"], .reset_outer_form input[type="button"] { width: 90px; }
.notification_icon { width: 20%; }
.notification_heading { width: 80%; }
.notification_list li { width: 80%; }
.outer_report_heading { width: 96%; }
.msg_heading.email_center h2 { font: 19px/40px "proxima_novasemibold"; }
.my_acnt.recovery_center { margin:20px 0 20px -132.5px !important }
.billing_cntnt.recover_mobile { margin:20px 0 0 0; }





table.calendar_daily tr th:last-of-type, table.calendar_daily tr td:last-of-type { width:50%; font: 13px/27px "proxima_novaregular"; }
.all_calender { margin-top:20px; }
table.calendar_weekely tr th,table.champion_calendar tr th { font:9px/21px "proxima_novaregular"; }
table.calendar_weekely tr td { padding:10px; font: 13px/21px "proxima_novaregular"; }
.lesson_detail img { height: 8px; margin-right: 2px; width: 8px; }
.yearly_calendar_inner,.yearly_calendar_inner:nth-of-type(2) { width:100%; margin:0 0 10px 0; }
ul.calendar_type li a, ul.calendar_type li a:link, ul.calendar_type li a:visited { width:72px; }
table.calendar_daily tr td { font: 13px/21px "proxima_novaregular"; }
table.champion_calendar tr td { padding:5px; font: 13px/21px "proxima_novaregular"; }
.calendar_detail { width:21px; height:21px; line-height:21px; }
.cal_bg_yellow { height:80px; }
.cal_bg_yellow span { padding:5px; }


.champ_aboutme #content {
    min-height:auto;
}


.splitter { display:none; }
.hdng_inner > ul > li > a { width: 29px !important; }
.user_prfle, a.user_prfle, a.user_prfle:link, a.user_prfle:visited { margin-right:5px; }


.lesson_chap_summary { width:140px; margin-left:0; left:0; left:initial; right:0; z-index:10; }

#repost{width:285px;}
form.pick-date{width:265px; padding:10px 10px 20px 10px;}
.form-sec,.form-sec:last-child{width:100%;}
form.pick-date input[type="text"],.form-sec:last-child input[type="text"]{width:245px;}
a.champ_finance_view.right-space{margin-right:10px;}
#repost .questions_popup_heading{text-align:center; text-indent:0; font-size:18px;}

/*faq*/
.faq-type ul{ float: none;margin: auto;width: 290px; margin-bottom:20px;}
.faq-type ul li{width:90px;margin-right:5px;  margin-bottom:20px; }
.faq-type ul li a, .faq-type ul li a:link, .faq-type ul li a:visited{font:15px/35px "proxima_novabold"; text-indent:7px;}
.faq-type ul li:hover a::after, .faq-type ul li a.active::after{right:10px; top:16px;}
.faq-type ul li:last-child{margin-right:0px;}

.faq-type.scroll{top:0; background:rgba(0, 0, 0, 0.5); width:100%; padding:5px; left:0;}


.faq-type-des{width:290px;}
.faq-content{padding:0 15px 30px;}
.faq-des-inner h2{font:26px/55px "proxima_novabold";}
.faq-type.scroll ul li{margin-bottom:0;}

.main_selection{margin:0px;width:100%;}
.input_details{width:100%;}


.terms_headings {
    margin-left: 4px;
    width: 98%;
}
.terms_headings p{text-align:justify;}
ul.privacy_policy_list > li{padding:7px;}
.privacy_list_top h4{font: 16px/22px "segoe_uisemibold";}
.privacy_list_top h4{width:83%;}



.contact_form_final{width:100%;}

.contact_headings{width:100%;}

.form_details{width:95%;}

.input_details{width:100%;}

.main_selection{width:100%;}

.privacy_policy p{text-align:justify;}




}

.g-recaptcha {
max-width: 280px;
overflow: hidden;
}

/*----------End Media Query ----------*/

