/* FAQ*/
h3.faq-heading{width:100%; height:auto; float:left; font: 32px/34px  "proxima_novabold";   color:#4a4a4a; margin-top:25px; display:inline;}
.faq-outer{width:100%; height:auto; float:left;  margin-top:30px; display:inline;}
.faq-type{width:auto; height:auto; float:left;}
.faq-type ul{width:200px; height:auto; float:left;}
.faq-type ul li{width:100%; height:auto; float:left; margin-bottom:15px; position:relative;}
.faq-type ul li a, .faq-type ul li a:link, .faq-type ul li a:visited{width:100%; height:auto; float:left; font:20px/53px  "proxima_novabold";   color:#ffffff;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius:3px; text-indent:15px; text-decoration:none; outline:none;}
.faq-type.scroll{ position:fixed; top:90px;}
.gen{background:#dd4c51;}
.std{background:#20aef5;}
.ttr{background:#7b4ba3}
.faq-type ul li:hover a:after, .faq-type ul li a.active:after,.faq-type ul li.active a:after{ width: 8px;height: 8px;-webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px;	background-color: #fff; position:absolute; top:23px;right:15px; content:""; z-index:100;}
.faq-type-des{width:760px; height:auto; float:right;}
.faq-des-inner{width:100%; height:auto; float:right; -webkit-border-radius: 4px/3px;-moz-border-radius: 4px/3px;border-radius: 4px/3px;background-color: #fefcfc;-webkit-box-shadow: 0 1px 14px rgba(0,1,1,.14);-moz-box-shadow: 0 1px 14px rgba(0,1,1,.14);box-shadow: 0 1px 14px rgba(0,1,1,.14); margin-bottom:30px;}
.faq-des-inner h2{width:100%; height:auto; float:left; font:32px/65px "proxima_novabold"; color:#ffffff; text-indent:25px;-webkit-border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0; border-radius:2px 2px 0 0; }
.faq-content{width:auto; height:auto; float:left; padding:0px 25px 30px 25px; display:inline;}
.faq-content h3{width:100%; height:auto; float:left; font:18px/20px "proxima_novasemibold"; color:#4a4a4a; margin-top:30px; display:inline;}
.faq-content p{width:100%; height:auto; float:left; font:16px/24px "proxima_novalight"; color:#535353; margin-top:10px; display:inline;}

/*----------Start Media Query ----------*/
@media(min-width:1367px) {
.mainedit { width:85% !important; }
}
@media(min-width:1601px) {
.mainedit { width:88% !important; }
}
@media only screen and (min-width :1001px) and (max-width : 1100px) {
#slide_show > li > img { float:right; margin-right:-160px;  }
.banner_txt { width:70%; left:50%; margin-left:-43%; margin-top:100px; }
.jst_clck { width:100%;}
.want_tutor { right:40px;}
.online_banner_left { left:110px;}
.terms_headings{width:985px;margin-left:10px;}
.privacy_policy{box-sizing:border-box;padding:0px 5px;}
.privacy-list ol{list-style:inside none decimal}
.privacy-list ol li ol li{padding-left:30px;}
.privacy-list ol li ol li span{left:0;}
.privacy-list ol li ol li ol{list-style:outside none lower-alpha;}
.privacy-list ol li ol li ol li{padding-left:10px;}
.privacy-list ol li p{padding-left:30px;}

/* new-pages(vasudha 11-july-2016) */

.written_lesson1 section{ width: 99%; margin-left: 4px;}
.written_lesson2{ width: 99%;margin-left:5px;}

/* 18-july-2016 */
.slect_optn{  margin-right: 27px;}
/* endoff */
}
@media only screen and (min-width :750px) and (max-width : 1000px) {
.mainedit { width:100% !important; }
.wrapper,.hdng_inner { width:740px;}
h1.banner_heading { font:28px/36px "proxima_novasemibold"; }
.main_cntnt { margin-top:20px; }
header { padding-bottom:10px; position:relative;}
ul.menu { float:right; margin-right:5px;}
.banner { margin-top:0px;}
.banner_text { width:100%; }
a.rgster, a.rgster:link, a.rgster:visited, a.sign_in, a.sign_in:link, a.sign_in:visited { margin:0px 0px 0px 10px;}
.jst_clck { width:100%;}
.intrdctn { width:100%;}
ul.its_wrk li { margin-right:0px; width:245px;}
p.wrk_txt { width:228px;}
ul.tstmnl li { margin-right:10px; width:240px;}
span.tstmnl_cmnt_bx { width:84%;}
ul.tstmnl { margin:40px 0;}
ul.fetured_ul { width:100%; float:left;}
ul.fetured_ul li { margin-right:0px;}
ul.fetured_ul li:last-child { float:left;}
ul.fetured_ul li a, ul.fetured_ul li a:link, ul.fetured_ul li a:visited { padding:0px 49px; margin-bottom:10px;}
.outer_featured { padding:50px 0;}
.ftr_logo { margin:10px 10px 0 0;}
ul.ftr_lnk { margin-right:6px; width:101px;}
.socl_link { width:127px;}
ul.tchr_exprnc_lst > li { padding:10px 15px; }
ul.slider,ul.slider li { width:100% !important; }
ul.slider li { height:563px; }
ul.slider li img { display:none;}
.banner_txt { width:80%; left:50%; margin-left:-40%; margin-top:75px; }
ul.its_wrk li img { width:100%; height:auto; float:left;}
#w { width:741px;}
.contnt { padding:0; margin:0px;}
aside.aside_right { width:100%; border-top:1px solid #dee3e8; }
aside.aside_right > .padding20 { width:96%;}
span.likelihood_section { width:100%; text-align:center; }
span.likelihood_section > em { float:none;}
aside.aside_right form > textarea,aside.aside_right form > input[type="text"], aside.aside_right form > input[type="email"] { width:688px;}
/*.padding20:last-child { border-bottom:1px solid #DEE3E8; }*/
.onoffswitch,.onoffswitch1 { margin:9px 7px 0 0; }
.online > span { margin-right:7px; padding-right:7px; }
.gender > input[type="radio"] { margin:0 7px 0;}
.ready_to_teach form > input[type="text"] { width:119px; padding:0 5px; }
.search  { width:128px; padding:0px;}
.search > input[type="text"] { width:87px; padding:0 5px; text-overflow:ellipsis; }
.outer_search { width:120px;}
.img_right { width:271px; /* padding:10px; */ }
.left_img { min-height:195px; margin-right:10px; }
.online_banner_left { left:35px; top:10px; width:auto; padding-left:170px; }
.online_banner_left > p { width:240px; margin-top:12px; }
.online_banner { background:url("../images/online_tutor_bg.jpg") 65% center no-repeat; height:240px; }
.want_tutor { width:255px; top:10px; }
.want_tutor > h2 { margin-bottom:15px;}
.online_banner_left > h1 { margin-top:0px; font:25px/34px "proxima_novaregular"; width:auto; }
a.connect_btn, a.connect_btn:link, a.connect_btn:visited, input.connect_btn[type="submit"], input.connect_btn[type="button"] { font:20px/52px "proxima_novasemibold"; }
.hurry_tutor_find { width:100%; left:0px; margin-left:0px; }
.sticky { top:0px !important; }
.search_box { left:10px;}
ul.after_login_menu { width:100%; float:left; position:relative; margin:20px 0 0 0; text-align:center; }
ul.after_login_menu > li:first-child { margin:2px 20px 0; }
ul.after_login_menu > li,ul.after_login_menu > li:first-child { float:none; display:inline-block; }
.msg_heading,.paymnt_info { padding:15px; }
.pay_info_detail { height:auto; padding:10px; }
ul.social_icon { width:115px; }
#first_left { left:0px; }
#first_left:after { left:20px;}
.submenu1 { top:38px; }
#scnd_left { right:-20px; }
#scnd_left:after { right:47px; }
.hdng_inner > ul > li:first-child { margin:2px 0 0 0; }
.resp-tabs-container { margin-top:20px; }
ul.tchr_exprnc_lst { margin-bottom:15px; }
.upcmng_lsn > ul > li { padding:10px 9px; }
ul.rcmdtn > li:nth-of-type(2n+1) { width:20%; }
ul.rcmdtn > li:nth-of-type(2n+2) { width:75%; }
.header_bottom { margin-top:0px; }
.bottom_border { height:94px; }
.different_detail { margin-left:0px; left:0%; float:right; width:240px; margin:0 35px; }
.left_detail { width:410px; margin-left:5px; }
.different_detail { margin:0 0 0 20px; float:left; }
.ui-tabs .ui-tabs-nav li { margin-top:15px; }
#tabs-1, #tabs-2 { width:100% !important; }
.canvas_menu_icon { margin-left:0px; }
#mceu_19 { height:100px; }
.tab_right { top:73px; right:10px; }
table.upcoming_leasson tr td { padding:10px 5px; }
p.upcoming_heading { font:15px/21px "proxima_novasemibold"; }
a.stdnt_name_inr, a.stdnt_name_inr:link, a.stdnt_name_inr:visited { float:left; font:13px/50px "proxima_novasemibold"; }
p.no_review { font:13px/21px "proxima_novasemibold"; }
a.vw_lesn, a.vw_lesn:link, a.vw_lesn:visited { padding:0 10px; font:13px/32px "proxima_novasemibold"; }
a.ftr_logo, a.ftr_logo:link, a.ftr_logo:visited { width:180px; margin-right:15px; }
a.ftr_logo > img { width:100%; height:auto; }
#snd_msg { width:730px; }
.snd_msg_bx { padding:15px; width:700px; }
.online_tutor { padding-top:20px; }
ul.profile_list > li { width:96%; }
.contentblock { width:544px; }
.padding20 { width:93%; padding:19px; }
ul.its_work li { width:240px; margin-right:10px; }
.launch_lesson_space { width:100%; }
.launch_lesson_space > img { width:100%; height:auto; }
a.back_inbox, a.back_inbox:link, a.back_inbox:visited { margin-top:10px; }
.msg_chat_detail { width:480px; }
form.chat_reply { padding:18px; }
form.chat_reply textarea { width:97%; }
.student_profile_inner { width:96%; }
.schools_txt { width:89%; }
form.person_detail_edit { width:74%; }
a.edit_student_photo, a.edit_student_photo:link, a.edit_student_photo:visited { margin:10px 0; }
form.summary_form,form.private_list_edit,form.School_edit { width:100%; }
.summary_textarea { width:97%; }
.private_edit_left, .private_edit_right { width:350px; }
.private_edit_left { margin-right:10px; }
.gender_edit { width:172px; }
#day_edit { margin:0 7px;  }
#month_edit, #year_edit { width:77px; }
p.services_edit { width:100%; margin-top:10px; }
.gpa_edit { width:152px; }
.sharing_video { left:0px; bottom:93px; }
a.scroll_down, a.scroll_down:link, a.scroll_down:visited { display:none; }
.canvas_menu:before,.canvas_menu:after { display:none; }
#how_works { width:96%; }
.how_works_bx { width:95%; padding:15px; }
ul.how_works_list li { margin-right:10px; width:224px; }
.student_profile_detail { margin-top:25px; padding:15px; }
table.upcoming_top tr td:nth-of-type(1) { width:353px; }
table.upcoming_top tr td:nth-of-type(2) { width:197px; }
table.upcoming_top tr td:nth-of-type(3) { width:90px; }
#month_edit, #year_edit { width:56px; }
#sign_up { top:10px; }
ul.testimonial li { width:4% !important; }
input.lesson_bx_cancle[type="button"], input.lesson_bx_submit[type="submit"] { width:115px; }
.canvas_menu_inner > .wb_submenu_icon, .canvas_menu_inner > .wb_submenu_icon1 { width:517px; right:0px; margin-left:0px; right:0px; left:inherit; }
.champ_student_profile { margin-top:20px; }
.champ_job_inner { padding:20px; }
.champ_job_inner { width:95%; }
textarea.champ_jobsedit_textarea { width:94%; }
form.champ_jobsedit_form div input { width:88%; }
ul.champ_finance_tutor > li { padding:20px; width: 94%; }
h4.champ_finance_heading { width:61%; }
.champ_duration_left { width:77%; }
.champ_tutor_left { width:200px; }
.champ_tutor_right { width:490px; }
.champ_tutor_right.about_job { padding: 10px; width:96%; }
.champ_tutor_right.about_job .champ_aboutme_detail { padding: 20px; width: 92%; }
.resp-tabs-container { margin-top:0px; }
h2.resp-accordion { width:93.5% !important; }
.champ_status_detail { width:63%; }
ul.champ_all_status_list > li { padding:15px; }
.champ_tutor_section { margin:30px 0; }
ul.champ_edit_job li { margin-right:5px; padding-right:5px; }
ul.champ_edit_job li a, ul.champ_edit_job li a:link, ul.champ_edit_job li a:visited { font:12px/15px "HelveticaNeueLTStd-Roman"; }
ul.aside_about_right { width:97%; }
.champ_last_content,.champ_last_content_detail { width:94%; padding:20px; }
a.champ_message, a.champ_message:link, a.champ_message:visited { width:auto; padding:0 20px; }
.champ_apply_outer { margin-top:20px; }
#postneedpop1,.postneed_bx1,#postneedpop2,.postneed_bx2 { width:750px; }
.reject_detail { padding:20px; width: 95%; }
#postneedpop2 .champ_duration_date span { margin-right:10px; }
.market_place_left { width:280px; }
.market_place_left_inner { width:260px; padding:10px; }
.market_place_right { width:440px; padding:10px; }
.market_place_right ul.champ_aboutme_list li  { width:95%; padding:10px; }
a.champ_viewdetail, a.champ_viewdetail:link, a.champ_viewdetail:visited { padding:0 20px; }
.solve_question_top,.solve_question_detail,.solve_question_comment { padding:20px; width:94.6%; }
textarea.question_list_textarea { width:97%; }
.champ_last_content { padding:100px 20px 20px 20px; }
.champ_last_content_detail { padding:20px; }
.champ_last_detail { width:48%; }
.champ_duration_date span { margin-right:7px; }
.champ_apply_outer { margin:0px; }
.market_place_left_inner { width: 258px; }
form.marketplace_form > input[type="text"], form.marketplace_form > input[type="email"], form.marketplace_form > input[type="password"] { width:92%; }
.champ_aboutme #content { min-height: 590px; }
ul.champ_durleft_list { margin-top:10px; }
.champ_apply_outer ul.champ_durleft_list { margin-top:20px; }
.champ_tutor_left_outer { position: relative; width: auto; }
ul.question_list { margin-top:20px; }
.tooltip_text { display:none; }
.edit_profile_left { width:30%; }
.edit_profile_right { width:68%; }
form.edit_profile input { width:90.5%; }
form.view_tutor > input[type="text"] { width:400px; }
.online_tutor_right { width:450px; }
ul.showing_online_result > li { width:95.5%; }
.online_tutor_left { width:250px; }
.notification_list li { width: 93%; }
.billing_cntnt.recover_mobile { margin:20px 0 0 0; }
table.calendar_daily tr th:last-of-type, table.calendar_daily tr td:last-of-type { width: 68%; }
.all_calender { margin-top:20px; }
.splitter { display:none; }
.data_msng { min-height: 484px; }
.lesson_chap_summary { width:200px; margin-left:0; left:inherit; right:0; }


/*faq*/
.faq-type ul{width:165px;}
.faq-type-des{width:540px;}
.faq-type.scroll{top:20px;}
/*edit-qs*/
.edit-inner{width:96%; margin-top:20px;}
.edit-inner form input[type="text"]{width:94%;}
/*public profile*/
.contentblock.full-width{width:543px;}
/*other*/
.best_answer{width:92%;}
 .content_full.cntnt-wdth .contentblock { width:544px; }
 .privacy-list ol{list-style:inside none decimal}
.privacy-list ol li ol li{padding-left:30px;}
.privacy-list ol li ol li span{left:0;}
.privacy-list ol li ol li ol{list-style:outside none lower-alpha;}
.privacy-list ol li ol li ol li{padding-left:10px;}
.privacy-list ol li p{padding-left:30px;}


/* new-pages(vasudha 11-july-2016) */


.written_lesson1 section{padding:25px;}

.written_lesson1 section span{font: 16px/16px "proxima_novasemibold";}
.slect_optn{margin-right:40px;}
.lesson_fields li:last-of-type{float:left;}
.lesson_fields li{margin-top:20px !important; margin-left:35px!important; width:200px} 
.lesson_fields li span{font:17px/25px "proxima_novasemibold"} 
.lesson_fields li img{width:100%; height:auto;}
.written_lesson2_left{width:430px;}
.written_lesson2_left section p{font: 15px/21px "proxima_novaregular";}
.written_lesson2_left section a{bottom:45px;}

.written_lesson2{margin-top:45px;}
.written_lesson2_right{width:300px;}
.written_lesson2_right form div label{width:88px;}
.written_lesson2_right.scroll {margin-left: 10px;top: 10px;}


/* 18-july-2016 */

.slect_optn select{width:235px;}
.rightt{margin-top:30px;}


/* endoff */
.slect_optn label {width:100%; line-height:32px; text-indent:2px; float:left;}
.slect_optn select {width: 100%;}
.slect_optn{width:222px;   margin-right: 10px;}


/*blog*/
#upload_prev{width:100%;float:left; margin-left:0;}
.slct-file span{width:232px;}
.blog-outer{padding:25px 22px;}
.related-post ul li{width:225px; margin-right:10px;}
.post-image img{width:100%; height:auto;}
.article-image img{width:100%; height:auto;}
.other-articles ul li{width:33%;}
.other-articles ul li a, .other-articles ul li a:link, .other-articles ul li a:visited{font-size:15px;}
ul.blog-listing li{width:340px; margin:}
a.blog-list-image img{width:100%; height:180;}
.blog-content h4{font-size:20px; margin-bottom:10px;}
ul.blog-listing li > .blog-content{padding:5px 10px 0;}




}
@media only screen and (min-width :456px) and (max-width : 749px) {
.wrapper,.hdng_inner { width:510px;}
header { padding-bottom:10px; position:relative;}
/* a#logo, a#logo:link, a#logo:visited { float:none; display:inline-block; }  */
.hdng_inner { text-align:center } 
.banner { margin-top:0px; }
.banner_txt { width:78%; margin-top:75px; margin-left:-37%; left:50%; }
a.slde_btn,a.slde_btn:link,a.slde_btn:visited { margin:30px 0 0 -40px;}
.jst_clck { width:100%;}
span.bst_tutor { float:left;}
form.outer_input_btn > input[type="text"] { width:277px;}
.intrdctn { width:100%;}
ul.menu li { margin-left:7px;}
.cntnt { padding-top:50px;}
ul.its_wrk li { margin-right:0px; padding:0px; width:255px;}
ul.its_wrk li:last-child { float:left;}
ul.its_wrk { padding:30px 0;}
.outer_featured{ padding:30px 0 50px;}
ul.tstmnl li { width:250px; margin:0 5px 10px 0;}
ul.tstmnl li:last-child { float:left;}
span.tstmnl_cmnt_bx { width:82%; padding:10px; }
ul.tstmnl { margin:40px 0;}
ul.fetured_ul { width:100%; float:left;}
ul.fetured_ul li { margin:0px 0px 10px 0px; padding:0 12px;}
ul.fetured_ul li a, ul.fetured_ul li a:link, ul.fetured_ul li a:visited { width:auto;}
.ftr_logo { margin:0px; width:201px; height:40px; position:relative; left:50%; margin:0 0 20px -100.5px;}
ul.fetured_ul li:last-child { float:left;}
ul.ftr_lnk:first-of-type { width:100%; }
ul.ftr_lnk { width:50%; margin:0px 0px 20px 0px; text-align:center }
ul.social_icon { width:50%; text-align:center }
ul.ftr_lnk li { width:auto; margin-right:20px; float:none; display:inline-block; }
span.lnk_hdng { margin-bottom:0px; text-align:center }
.socl_link { width:100%;}
ul.prvt_plcy { margin:0 0 20px 5px;}
form.outer_input_btn > input[type="submit"], form.outer_input_btn > input[type="button"] { width:110px; }
.right_menu { margin-top:15px; width:100%; text-align:center; }
a.sign_in, a.sign_in:link, a.sign_in:visited,a.rgster, a.rgster:link, a.rgster:visited { float:none; text-align:center; display:inline-block; }
ul.its_wrk li img { width:100%; height:auto; float:left;}
#w { width:511px;}
.contnt { padding:0; margin:0px;}
aside.aside_right { width:100%; border-top:1px solid #dee3e8; }
aside.aside_right > .padding20 { width:94%;}
span.likelihood_section { width:100%; text-align:center; }
span.likelihood_section > em { float:none;}
aside.aside_right form > textarea,aside.aside_right form > input[type="text"], aside.aside_right form > input[type="email"] { width:675px;}
ul.profile_list > li { width:94%; padding:16px; }
.person_detail { width:300px; }
#sidemenu { width:155px;}
#sidemenu li a,#sidemenu li a:link,#sidemenu li a:visited { text-indent:7px; font:14px/35px 'proxima_novasemibold'; }
#content { width:353px; overflow:hidden; }
.padding20 { padding:10px; width:94%; }
.img_detail { width:100%; margin-top:10px; }
table.top_subject tr th:nth-of-type(2n+1) { width:50%;}
table.top_subject tr td:nth-of-type(2n+1) { width:50%;}
aside.aside_right form > textarea, aside.aside_right form > input[type="text"], aside.aside_right form > input[type="email"] { width:458px;}
.onoffswitch,.onoffswitch1 { margin:9px 7px 0 0; }
.online > span { margin-right:7px; padding-right:7px; }
.gender > input[type="radio"] { margin:0 7px 0;}
.ready_to_teach form > input[type="text"] { width:136px; padding:0 5px; margin-bottom:10px; }
.search  { width:128px; padding:0px;}
.search > input[type="text"] { width:87px; padding:0 5px; text-overflow:ellipsis; }
.outer_search { width:120px;}
.img_right { width:67%; /* padding:10px; */}
.left_img { min-height:260px;}
.online_banner_left { background-size:32%; background-position:left center; padding-left: 110px; width:195px; }
.online_banner_left > h1 { font:21px/28px "proxima_novaregular"; }
.online_banner_left > h1 > span { font:25px/28px "proxima_novasemibold"; }
/*.online_banner_left > p { width:150px; padding-left:163px; font:26px/27px 'proxima_novasemibold'; margin-top:-3px;  }*/
.online_banner { background:url("../images/online_tutor_bg.jpg") 65% center no-repeat; }
.want_tutor { width:188px; }
a.connect_btn, a.connect_btn:link, a.connect_btn:visited { padding:0 10px; font:15px/52px "proxima_novasemibold"; float:right; }
.crse_rlted > a, .crse_rlted > a:link, .crse_rlted > a:visited { margin:15px 100px 30px 0;}
.crse_rlted > ul > li { width:32%;}
.want_tutor > h2 { margin-bottom:10px; font:18px/24px "proxima_novasemibold"; }
.sticky { top:0px !important; }
.search_box { left:10px;}
ul.after_login_menu { width:100%; }
ul.after_login_menu > li:first-child { margin:2px 15px 0; }
#first_left { left:0px; }
#first_left:after { left:20px;}
#scnd_left { right:-20px; }
#scnd_left:after { right:47px; }
form.search_box_top { width:99%; margin:15px 0px; }
/*form.search_box_top { clear:both; width:305px; left:50%; margin-left:-152.5px; position:relative;  }*/
.hdng_inner > ul > li:first-child { margin:2px 0 0 0; }
ul.after_login_menu { width:100%; float:left; position:relative; margin:20px 0 0 0; text-align:center; }
ul.after_login_menu > li,ul.after_login_menu > li:first-child { float:none; display:inline-block; }
.data_msng { padding: 14px;  }
.algebra_heading { font: 28px/53px "proxima_novaregular"; }
.hdng_inner > ul > li > a { width:50px !important; }
.resp-tabs-container { margin-top:20px; }
/*.hdng_inner a#logo { left:0% !important; margin-left:0px !important; position:inherit !important; }*/
form.search_box_top > input[type="text"] { width:91%; }
.submenu1 { top:38px; }
ul.tchr_exprnc_lst { width:96%; }
.msg_img_detl { width:270px; }
.upcmng_lsn { width:91.8%; }
.upcmng_lsn > ul > li { width:44%; height:50px; }
.upcmng_lsn > ul > li:last-of-type { float:right;}
a.vw_lesn, a.vw_lesn:link, a.vw_lesn:visited { float:right; width:100%; font:12px/32px "proxima_novasemibold"; text-align:center; padding:0 6px; }
.paymnt_info { width:92%; }
.pay_info_detail { width:93%; }
.paymnt_info > table tr th { font:16px/20px 'proxima_novasemibold'; }
.paymnt_info > table tr td { font:14px/20px 'proxima_novaregular'; }
.main_cntnt { padding:10px; margin-top:20px; }
.stdnt_img_dtl { width:270px; }
.reqrd_tutn > a, .reqrd_tutn > a:link, .reqrd_tutn > a:visited { font:15px/41px 'proxima_novasemibold'; margin:0px; }
.reqrd_tutn_inr { width:490px; }
.reqrd_tutn_inr > textarea { width:468px; }
.tags { width:330px; }
ul.rcmdtn > li:nth-of-type(2n+1) { width:30%; }
ul.rcmdtn > li:nth-of-type(2n+2) { width:60%; }
.header_bottom { margin-top:0px; }
.canvas_menu_icon > a, .canvas_menu_icon > a:link, .canvas_menu_icon > a:visited { padding:0px; margin:0; width:41px; height:38px; }
.document > div { width:508px; }
.left_detail { margin-left:5px; margin-bottom:15px; }
.different_detail { margin:0px; left:5px; float:right; width:390px; }
.different_detail_inner { margin-right:6px; }
.bottom_border { height:109px; }
.tab_right { top:44px; }
.ui-tabs-nav li:first-of-type { margin-right:20px; }
.hide_menu { margin:0 8px; }
#tabs-1, #tabs-2 { width:100% !important; }
.canvas_menu_icon { margin-left:0px; }
.top_menu { width:100%; float:left; }
a.scroll_down, a.scroll_down:link, a.scroll_down:visited { display:none; }
.banner_text { width:100%; top:30px; }
form.view_tutor { padding:0 5px; }
form.view_tutor > input[type="text"] { width:190px; }
ul.menu { float:none; display:inline-block; margin-top:10px; }
.video_section_home,.video_section_home > img,.launch_lesson_space,.launch_lesson_space > img { width:100%; height:auto; margin:0px; left:0px; }
h1.champ_heading { font:28px/41px "proxima_novabold"; }
ul.its_work li { width:100%; margin:0px 0px 30px 0px; }
ul.its_work li:last-of-type { margin-bottom:0px; }
p.finding_tutors_text { height:auto; }
a.ftr_logo, a.ftr_logo:link, a.ftr_logo:visited { width:212px; position:relative; left:50%; margin:0px 0px 30px -106px; }
.msg_heading { padding:10px; }
ul.social_icon li { float:none; display:inline-block; }
table.upcoming_leasson tr td { padding:10px; }
p.upcoming_heading { font:12px/21px "proxima_novasemibold"; }
p.upcoming_txt { font:11px/21px "proxima_novaregular"; }
p.no_review { font:12px/21px "proxima_novasemibold"; }
a.stdnt_name_inr, a.stdnt_name_inr:link, a.stdnt_name_inr:visited { font:12px/35px "proxima_novasemibold"; float:left; }
.msg_img_detl > div > a, .msg_img_detl > div > a:link, .msg_img_detl > div > a:visited { font:15px/21px "proxima_novasemibold"; }
.msg_img_detl > span { font:13px/21px "proxima_novasemibold"; }
a.back_inbox, a.back_inbox:link, a.back_inbox:visited { margin-top:20px; }
.tchr_exprnc_number { width:140px; }
.msg_chat_detail { width:250px; }
.chat_img > img { width:100%; height:auto; }
form.chat_reply { padding:20px; width:92%; }
form.chat_reply textarea { width:95%; }
.online_tutor { padding-top:20px; }
.hurry_tutor_find { width:100%; left:0%; margin:0px; }
.contentblock { width:100%; }
.student_profile_inner { width:94%; }
.schools_txt { width:84%; }
form.person_detail_edit { width:63%; }
.person_edit_textfield { width:100%; }
input.student_long_txt[type="text"] { width:285px; }
input.student_shrt_txt[type="text"] { width:104px; }
.select_grad_year { width:304px; margin-top:10px; }
a.edit_student_photo, a.edit_student_photo:link, a.edit_student_photo:visited { margin:10px 0; }
form.summary_form,form.private_list_edit,form.School_edit { width:100%; }
.summary_textarea { width:95%; }
.private_edit_left, .private_edit_right { width:100%; margin:0px; }
.private_edit_left label,.private_edit_right label { width:170px; }
p.services_edit { width:100%; margin:10px 0 0 0; }
span.college_skul { width:168px; }
.gpa_edit { width:150px; }
.current_skul_edit label { font: 12px/37px "proxima_novaregular"; }
.School_edit_ful > label { margin-right:10px; } 
.slash { margin:0 4px; }
#month_edit, #year_edit { width:77px; }
.student_profile_detail { padding:10px; margin-top:10px; }
.sharing_video { left:0px; bottom:141px; }
.canvas_menu:before,.canvas_menu:after { display:none; }
.whtebox_fx { margin-left:0px; width:284px !important; }
.sub_icon { width:350px; z-index:1; }
ul.menu li a, ul.menu li a:link, ul.menu li a:visited { font:15px/21px "proxima_novasemibold"; }
a.tooltip > span { width:200px; height:auto; }
#how_works { width:96%; }
.how_works_bx { width:95%; padding:10px; }
h1.work_heading { font:23px/31px "proxima_novasemibold"; }
ul.how_works_list li { margin-right:0px; width:100%; margin-bottom:10px; }
ul.how_works_list li:last-of-type { margin-bottom:0px; }
ul.how_works_list { margin-top:20px; }
#sign_up { top:10px; }
#snd_msg { width:96%; }
.snd_msg_bx { width:95%; padding:10px; height:385px; }
textarea.enter_message { width:96%; }
input.lesson_bx_cancle[type="button"], input.lesson_bx_submit[type="submit"] { margin-top:10px; }
#new_lesson { width:96%; top:10px; }
.new_lesson_bx { width:95%; padding:10px; }
textarea.note,.written_lesson { width:74%; }
table.upcoming_top tr td:nth-of-type(1) { width: 175px; }
table.upcoming_top tr td:nth-of-type(2) { width: 145px; }
table.upcoming_top tr td:nth-of-type(3) { width: 85px; }
#upload_student_pic { width:96%; }
.upload_student_pic_bx { width:95%; padding:10px; height:auto; }
ul.upload_profile_detail { width:100%; }
ul.testimonial li { width:4% !important; }
.chat { top: -127px; z-index:10; }
.champ_student_profile { margin-top:10px; }
.champ_job_inner { padding:15px; width: 94%; }
form.champ_jobsedit_form div input { width: 82.5%; }
textarea.champ_jobsedit_textarea { width:91.5%; }
label.champ_jobsedit_label { font:14px/21px "HelveticaNeueLTStd-Light"; }
ul.champ_finance_tutor > li { padding:15px; width: 93%; }
h4.champ_finance_heading { width:100%; }
.champ_poston { width:100%; margin-top:10px; }
.champ_poston span:first-of-type { margin-right:10px; }
.champ_duration_left { width:100%; margin-bottom:20px; }
.champ_tutor_left { width:94%; }
.champ_tutor_right { width:100%; }
.champ_tutor_right.about_job { padding: 10px; width: 95%; }
#horizontalTab2,#horizontalTab,#horizontalTab1 { width:97% !important; }
h2.resp-accordion { width:94% !important; }
.champ_status_detail { width: 65%; }
.champ_tutor_section { margin:30px 0; }
.champ_select_lesson select { background:rgba(0, 0, 0, 0) url("../images/live-down-arrow.png") no-repeat scroll 85% center; width: 110%; }
#postneedpop1,.postneed_bx1,#postneedpop2,.postneed_bx2 { width:520px; }
.champ_last_content { padding: 100px 15px 20px; }
.champ_last_detail { width:60%; }
a.champ_message, a.champ_message:link, a.champ_message:visited { margin-top:30px; }
.champ_last_content_detail { padding:30px 15px; }
.champ_apply_outer ul.champ_durleft_list { margin-top:20px; }
.reject_detail { padding:20px; width: 92%; }
a.reject_btn, a.reject_btn:link, a.reject_btn:visited { margin-top:40px; }
.reject_reason_link { margin-top:20px; }
h3.champ_aboutme_heading { padding:20px; }
.champ_aboutme_detail { padding: 20px; }
ul.champ_aboutme_list li { padding:13px; width:75%; }
.champ_duration_date span { width:100%; margin-right:0px; }
.champ_aboutme_btn_left { width:100%; }
.champ_tutor_left_outer { position: relative; width: auto; }
.champ_aboutme #content { min-height: 590px; }
.market_place_left { position:relative; width:auto; top:0px; }
.market_place_left_inner { width:88%; }
form.marketplace_form > input[type="text"], form.marketplace_form > input[type="email"], form.marketplace_form > input[type="password"] { width:95.5%; }
.market_place_right { width:92%; border:0px; padding:20px; float:left; }
.solve_question_top,.solve_question_detail,.solve_question_comment { padding: 20px 10px; width: 96%; }
textarea.question_list_textarea { width: 96%; }
#hirepop1{width:480px; height:auto; top:30px; }
.hire_bx1{width:480px; height:auto; }
ul.question_list { margin-top:10px; }
ul.solve_question_reply { padding: 0 10px; width: 96%; }
span.tooltip_text { display:none; }
.champ_student_detail table.upcoming_leasson tr td:first-of-type { max-width:100px; }
.champ_student_detail table.upcoming_leasson tr td:nth-of-type(2) { max-width:70px; }
.champ_student_detail .student_profile { width:97%; }
.champ_student_detail .student_profile_inner { width: 91%; }
.cntnt-wdth > .contentblock > .champ_student_detail > .student_profile >.student_profile_inner{ width:64%; }

.champ_student_detail ul.private_list,.champ_student_detail .private_list_left,.champ_student_detail .private_list_right { width:100%; }
.champ_student_detail .schools_txt { width: 70%; }
.champ_student_detail .select_date_range label { width:100%; margin:0; }
.champ_student_detail .select_date_range input { width:125px; }
.champ_student_detail .champ_select_viewall { width: 69%; }
.champ_student_detail { padding:15px; }
.champ_student_detail textarea.champ_jobsedit_textarea { width: 86.5%; }
input.question_textfield[type="text"] { width: 94%; }
.champ_student_detail ul.champ_finance_tutor > li { padding: 10px; }
.champ_student_detail label.champ_jobsedit_label { font: 10px/24px "proxima_novaregular"; }
.edit_profile_left { width:100%; margin:0; padding:0; }
.edit_profile_right { width:100%; margin:40px 0 0 0; padding:0; }
.edit_profile_left > input { width: 95.5% !important; }
form.edit_profile input { width:91%; }
.profile_about textarea { width:96%; }
textarea.edit_description,.edit_gray_section .gpa_edit { width:92% !important; }
.private_edit_left label, .private_edit_right label { font:13px/37px "proxima_novaregular"; width:100%; text-align:center; }
.edit_gray_section .gender_edit { width:100%; }
textarea.question_description { width:94%; }
.edit_gray_section .language_tag { padding-left:0; }
.edit_gray_section .School_edit_ful > label { font: 13px/37px "proxima_novaregular"; width: 100%; text-align:center; }
.edit_gray_section .School_edit_ful div { width:100%; }
.edit_gray_section span.college_skul { width: 50%; }
.edit_gray_section #month_edit,.edit_gray_section #year_edit { width: 62px; }
.edit_gray_section .gender_edit,.edit_gray_section .gender_edit.left10,.edit_gray_section .slash,.edit_gray_section #day_edit { margin-top:10px !important; }
.choose_diff_level { width: 150px; }
.online_tutor_left { width:96%; }
.gender { width:100%; }
.online_tutor_right { width:100%; margin-top:20px; }
ul.showing_online_result > li { width:96%; }
.reset_password { width:500px; margin: 125px 0 165px -250px; }
.reset_outer_form input[type="email"] { width: 79%; }
.notification_icon { width: 10%; }
.notification_heading { width: 90%; }
.notification_list li { width: 90%; }
.billing_cntnt.recover_mobile { margin:20px 0 0 0; }



table.calendar_daily tr th:last-of-type, table.calendar_daily tr td:last-of-type { width:63%; }
.all_calender { margin-top:20px; }
table.calendar_weekely tr th,table.champion_calendar tr th { font: 15px/21px "proxima_novaregular"; }
table.calendar_weekely tr td { padding:10px; font: 13px/21px "proxima_novaregular"; }
.lesson_detail img { margin-right: 2px; }
.yearly_calendar_inner,.yearly_calendar_inner:nth-of-type(2) { width:100%; margin:0 0 10px 0; }
.splitter { display:none; }
.limit_width {
    width: 80px;
}
a.vw_lesn, a.vw_lesn:link, a.vw_lesn:visited { padding: 0 4px; width: 90%; }
.champ_student_detail table.upcoming_leasson tr td:nth-of-type(2) { max-width: 90px; }

.data_msng { min-height: 496px; }

.champ_student_detail p.upcoming_heading {
    font: 12px/21px "proxima_novaregular";
}
.champ_student_detail a.vw_lesn, .champ_student_detail a.vw_lesn:link, .champ_student_detail a.vw_lesn:visited {
    font: 10px/32px "proxima_novasemibold";
}

ul.champ_durleft_list li a, ul.champ_durleft_list li a:link, ul.champ_durleft_list li a:visited { font: 12px/12px "HelveticaNeueLTStd-Roman"; }
ul.champ_durleft_list li { margin-right: 2px; padding-right: 2px; }
.reviews_img { margin-right: 5px;}
.review_text { width: 52%; }
ul.tchr_exprnc_lst { width: 100%; }

.lesson_chap_summary { width:200px; margin-left:0; left:inherit; right:0; }
#repost{width:480px;}
form.pick-date{width:450px; padding:20px;}
.form-sec{width:165px; margin-right:10px;}
form.pick-date input[type="text"]{width:145px;}
.form-sec:last-child{width:100px;}
.form-sec:last-child input[type="text"]{width:77px;}
#repost .questions_popup_heading{text-indent:20px;font-size:20px;}

.contact_form_final{width:88%;margin-left:3px;}
.contact_headings{width:90%;}
.form_details{width:95%;}
.input_details{width:49%;}
.main_selection{width:100%;}
.terms_headings p{width:94%;}
.privacy_policy_list{width:94%;}


.input_details a, .input_details a:link, .input_details a:visited{ font: 15px/50px "segoe_uiregular";}

.terms_headings p{width:100%;}
.privacy_policy_list{width:100%;}

.terms_headings{width:87%;margin-left:8px;}

.privacy_policy{padding-left: 6px;
    width: 87%;}

/*faq*/
.faq-type ul{width:125px;}
.faq-type-des{width:370px;}
.faq-content{padding:0 15px 30px;}
.faq-des-inner h2{line-height:55px;}
.faq-type.scroll{top:20px;}
/*edit-qs*/
.edit-inner{width:93%; margin-top:20px;}
.edit-inner form input[type="text"]{width:91%;}
/*public profile*/
.contentblock.full-width{width:296px;}
.img_detail.l-space{margin-left:0;}
.best_answer{width:88.5%;}
/*other*/
.question_text_outer, .question_outer{width:100%;}
.question_date_icon{width:95%; margin-top:0; margin-bottom:5px;}
.best_answer{padding:10px 30px 10px 30px;}
form.reply_submit input[type="submit"], form.reply_submit input[type="button"]{height:40px; line-height:40px; padding:0 15px 0 15px; float:left; width:auto; margin-top:20px;}
ul.reply_section, ul.reply_section_inner{padding-left:10px;}
a.champ_viewdetail.rgt{float:left; margin-top:20px;}
.question_outer{margin-bottom:0;}
.content_full.cntnt-wdth .contentblock{width:478px;}
.cntnt-wdth > .contentblock > .champ_student_detail > .student_profile > .student_profile_inner{width:72%;}
.privacy-list ol{list-style:inside none decimal}
.privacy-list ol li ol li{padding-left:25px; font-size:13px;}
.privacy-list ol li ol li span{left:0;}
.privacy-list ol li ol li ol{list-style:outside none lower-alpha;}
.privacy-list ol li ol li ol li{padding-left:0;}
.privacy-list ol li p{font-size:13px;}

/* new-pages(vasudha 11-july-2016) */
.written_lesson1 section{padding:25px;}

.written_lesson1 section span {
    font: 18px/20px "proxima_novasemibold";
}
.slect_optn{margin-right:0px;}
.lesson_fields li:last-of-type{float:left;}
.lesson_fields li{margin-top:20px !important; margin-left: 25px;}
.written_lesson1 h1 {
    font: 25px/30px "proxima_novabold";
}

.slect_optn:nth-of-type(2){margin-top:0px;}
.right_text{width:100%;}
.right_text em{width:100%;}
.lesson_fields{text-align:center;}
.lesson_fields li{display:inline-block;float:none;margin-left:0px;}

.lesson_fields li:last-of-type{display:inline-block;float:none;margin-left:0px;}

.written_lesson2_left{width:100%;}
.written_lesson2_left section p{font: 15px/21px "proxima_novaregular";}
.written_lesson2_left section a{bottom:45px;}

.written_lesson2{margin-top:45px;}
.written_lesson2_right{width:100%;float:left;margin-top:30px;}
.written_lesson2_right form div label{width:88px;}

.written_lesson2_right form div input{width:270px;}

.written_lesson2_right form div select{width:270px;}

.written_lesson2_right form input[type="submit"]{width:91%;}

/* 18-july-2016 */
.slect_optn:nth-of-type(1) label{ margin-right:33px;}
.slect_optn:nth-of-type(3) label{ margin-right:33px;}
.rightt{margin-top:0px;}
.slect_optn{margin-bottom:10px;}
/* endoff */
.slect_optn:nth-of-type(3) label, .slect_optn:nth-of-type(1) label{margin-right:25px}
.slect_optn label{width:65px; margin-right:25px; float:left; text-align:right;}
#upload_prev{width:100%;float:left; margin-left:0;}
.slct-file span{width:232px;}


/*blog*/
.blog-outer{padding:25px 12px;}
.related-post ul { width:290px; left:50%; margin-left:-145px; position:relative;}
.related-post ul li{margin-bottom:30px;}
.related-post{text-align:center;}

.article-image img{width:100%; height:auto;}
.other-articles ul li{width:50%;}
.other-articles ul li a, .other-articles ul li a:link, .other-articles ul li a:visited{font-size:15px;}
.related-post h3{text-align:center;}

ul.blog-listing{width:407px; float:none; margin:auto; display:table;}
a.blog-list-image img{width:100%; height:auto;}
}
@media only screen and (min-width :456px) and (max-width :529px) {
#content.mini-content{width:287px;}
.wrapper, .hdng_inner{width:445px;}
.contentblock.full-width > .padding20{width:92%;}
.contentblock.full-width{width:280px;}
.edit-inner form input[type="text"]{width:90%;}
.best_answer{width:86.6%;}
#content.content_full.cntnt-wdth{width:100%; border-right:1px solid #dbdfe3;}
.cntnt-wdth > .contentblock > .champ_student_detail > .student_profile > .student_profile_inner{width:92.5%; }
.cntnt-wdth > .contentblock > .champ_student_detail > .student_profile{width:99.5%;}
.content_full.cntnt-wdth .contentblock{width:449px;}
#sidemenu.sidemenu_about.menu-w{width:100%;}

.slect_optn:nth-of-type(3) label, .slect_optn:nth-of-type(1) label{margin-right:25px}
.slect_optn label{width:65px; margin-right:25px; float:left; text-align:right;}

/*article*/
.other-articles ul li a, .other-articles ul li a:link, .other-articles ul li a:visited{font-size:14px;}
ul.blog-listing li{width:100%; margin-right:0; left:0;margin-left:0;}
a.blog-list-image img{width:100%; height:auto;}
}
@media only screen and (min-width :240px) and (max-width : 455px) {
.wrapper,.hdng_inner { width:290px;}
header { padding-bottom:10px; position:relative;}
a#logo, a#logo:link, a#logo:visited { width:212px; height:auto; float:left; position:relative; left:50%; margin-left:-106px;}
.banner { margin-top:0px; }
.banner_txt { margin-top:70px; width:60%; margin-left:-30%; left:50%; }
a.video_icon, a.video_icon:link, a.video_icon:visited { margin:30px 0 0 -67px;}
p.video_txt { margin-top:15px; font:27px/30px 'proxima_novaregular'; }
a.slde_btn, a.slde_btn:link, a.slde_btn:visited { margin:25px 0 0 -40px;}
.jst_clck { width:100%; text-align:center;}
form.outer_input_btn > input[type="submit"], form.outer_input_btn > input[type="button"] { width:114px;}
form.outer_input_btn > input[type="text"] { width:50%; text-overflow: ellipsis;}
.intrdctn { width:100%;}
ul.menu li { margin-right:12px; }
.cntnt { padding-top:50px;}
ul.its_wrk li { margin-right:0px; padding:0 14px;}
ul.its_wrk { padding:30px 0;}
.outer_featured{ padding:30px 0 50px;}
ul.tstmnl li { width:290px; margin:0px 0px 20px 0px;}
span.tstmnl_cmnt_bx { width:250px;}
ul.tstmnl { margin:40px 0;}
ul.fetured_ul { width:100%; float:left;}
ul.fetured_ul li { width:100%; margin:0px 0px 10px 0px;}
ul.fetured_ul li a, ul.fetured_ul li a:link, ul.fetured_ul li a:visited { width:146px; height:52px; position:relative; left:50%; margin-left:-73px;}
/*.ftr_logo { margin:0px; width:201px; height:40px; position:relative; left:50%; margin:0 0 20px -100.5px;}*/
a.ftr_logo, a.ftr_logo:link, a.ftr_logo:visited { margin:0px; width:201px; height:40px; position:relative; left:50%; margin:0 0 20px -100.5px;}
p.ftr_txt { width:100%; text-align:center; }
ul.prvt_plcy li:last-of-type { margin-right:0px; }
ul.ftr_lnk { width:100%; margin:0px 0px 20px 0px; text-align:center; }
ul.ftr_lnk li { width:auto; margin-right:20px; float:none; display:inline-block; }
span.lnk_hdng { margin-bottom:0px; text-align:center; width:100%; }
.socl_link { width:100%;}
ul.social_icon { width:100%; text-align:center; }
ul.social_icon li { float:none; display:inline-block; margin-top:5px; }
ul.prvt_plcy { width:100%; text-align:center; }
ul.prvt_plcy li { float:none; display:inline-block; }
span.bst_tutor { font:20px/20px 'proxima_novaregular'; }
.jst_clck { font:25px/30px 'proxima_novasemibold'; }
ul.social { top:70px;}
form.outer_input_btn { width:143%; margin-left:-20%; }


/*faq*/
.faq-type ul{ float: none;margin: auto;width: 290px; margin-bottom:20px;}
.faq-type ul li{width:90px;margin-right:5px;  margin-bottom:20px; }
.faq-type ul li a, .faq-type ul li a:link, .faq-type ul li a:visited{font:15px/35px "proxima_novabold"; text-indent:7px;}
.faq-type ul li:hover a::after, .faq-type ul li a.active::after{right:10px; top:16px;}
.faq-type ul li:last-child{margin-right:0px;}

.faq-type.scroll{top:0; background:rgba(0, 0, 0, 0.5); width:100%; padding:5px; left:0;}


.faq-type-des{width:290px;}
.faq-content{padding:0 15px 30px;}
.faq-des-inner h2{font:26px/55px "proxima_novabold";}
.faq-type.scroll ul li{margin-bottom:0;}

/*----------End Media Query ----------*/
