.job-symbol {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 2px solid gray;
    float: left;
    margin-top: 5px;
}

.symbol-content {
    float: left;
    margin-left: 7px;
}

.symbol-applied {
    background: green;
}

.symbol-rejected {
    background: red;
}

.symbol-pending {
    background: gray;
}

.symbol-applied {
    background: green;
}

.symbol-negotiating {
    background: yellow;
}

.symbol-offered {
    background: purple;
}

.symbol-hired {
    background: blue;
}

.symbol-shortlisted {
    background: #202020;
}

.symbol-withdrawn {
    background: #885533;
}