	.tabs-menu{    background-color: #5498e4;
    border-radius: 4px;
    float: right;
    margin-right: 13px;

    width: 46%;}

	.tabs-menu-two{
    border-radius: 4px;
    float: left;
    margin-right: 13px;
background:#e2e8f0;
    width:149px;
	margin-bottom:15px;}


.tabs-menu-two li{  border-radius: 4px;
	float:left;
    margin-bottom: 0 !important;
    padding-left: 12px;border:none !important;
    padding-right: 12px; padding-top:0px !important;padding-bottom:0px !important;
    width: auto;}

	.tabs-menu-two li a{color:#fff !important;text-decoration:none;
    font: 14px/35px "proxima_novasemibold";}
	.tabs-menu-two li:nth-of-type(2){padding:0 9px;}

	.currentt2{background-color:#e2e8f0; color:#5b636c !important;border-radius: 4px !important;
    margin-bottom: 0 !important;background:#5498E4;border:none;
 padding-top:10px !important;padding-bottom:10px !important;
}
	.no-top{margin-top:20px;}


	.tabs-menu li{  border-radius: 4px;
    margin-bottom: 0 !important;
    padding-left: 12px;
    padding-right: 12px;
    width: auto !important;}
.tabs-menu li a{color:#ffffff !important;text-decoration:none;
    font: 16px/24px "proxima_novasemibold";}
.currentt{background-color:#e2e8f0;color:#5b636c !important;border-radius: 4px;
    margin-bottom: 0 !important;

    width: auto !important;}
.tabs-menu li a:hover{text-decoration:none !important;}
.tab-content{background-color:#fff !important;}
.tab-content2{background-color:#fff !important;}

.new_toggle_links a,.new_toggle_links a:link,.new_toggle_links a:visited{ color: #2c3748;
    font: 20px/16px "proxima_novasemibold";text-decoration:none;}

.new_toggle_links a:hover{color:#252e3b;text-decoration:underline;}


.new_toggle_links{margin-bottom:20px;}

.red_links a{color:red;text-decoration:none; font: 15px/21px "proxima_novaregular";float:right;margin-left:5px;}

.red_border{ float: left; margin-bottom:20px;
   width:100%;}

.lsn_border{ border: 3px solid red;}
.no_padding{padding-top:10px !important;padding-left:0px !important;padding-right:0px !important;padding-bottom:10px !important;width:100% !important;padding-top:15px !important;}
.red_links{ margin-left: 12px !important;
    width: 40% !important;}

	.tab-content{display:none;}
	.tab-content2{display:none;}
	.not{display:none;}


	.fulll{width:100% !important;  border-top: 1px solid #dee3e8;margin-bottom:0px !important;padding-top:10px;}

.currentt{display:block;}
.currentt2{display:block;}

	.tabs-menu{    background-color: #5498e4;
    border-radius: 4px;
    float: right;
    margin-right: 13px;

    width: 46%;}

	.tabs-menu-two{
    border-radius: 4px;
    float: left;
    margin-right: 13px;
background:#e2e8f0;
    width:149px;
	margin-bottom:15px;}


.tabs-menu-two li{  border-radius: 4px;
	float:left;
    margin-bottom: 0 !important;
    padding-left: 12px;border:none !important;
    padding-right: 12px; padding-top:0px !important;padding-bottom:0px !important;
    width: auto;}

	.tabs-menu-two li a{color:#fff !important;text-decoration:none;
    font: 14px/35px "proxima_novasemibold";}
	.tabs-menu-two li:nth-of-type(2){padding:0 9px;}

	.currentt2{background-color:#e2e8f0; color:#5b636c !important;border-radius: 4px !important;
    margin-bottom: 0 !important;background:#5498E4;border:none;
 padding-top:10px !important;padding-bottom:10px !important;
}
	.no-top{margin-top:20px;}


	.tabs-menu li{  border-radius: 4px;
    margin-bottom: 0 !important;
    padding-left: 12px;
    padding-right: 12px;
    width: auto !important;}
.tabs-menu li a{color:#ffffff !important;text-decoration:none;
    font: 16px/24px "proxima_novasemibold";}
.currentt{background-color:#e2e8f0;color:#5b636c !important;border-radius: 4px;
    margin-bottom: 0 !important;

    width: auto !important;}
.tabs-menu li a:hover{text-decoration:none !important;}
.tab-content{background-color:#fff !important;}
.tab-content2{background-color:#fff !important;}


.calendar_detail1{ bottom: 1px;
    cursor: pointer;
    height: 92px;
    position: absolute;
    right: 2px;
    width: 140px;}


.manual{padding-bottom:0px !important;}
.topp{margin-top:26px;}
.top-c{margin-top:26px;}


.df{ margin-left: 12px;
    width: 90% !important;}



ul#tab li {
    display: none;
}
ul#tab li.activee {
    display: block;
}

	.fll_width{width:1000px !important;}

	.fll_width2{width:804px;}

	.no_borderr{width:80%;}

	.fll_width3{width:95%;}


	#tab-1 {
 display: block;
}

a,a:link,a:visited{font:12px Arial, Helvetica, sans-serif;color:#3086bd;text-decoration:none; outline:none; }