.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}
.bootstrap-dialog{
    z-index: 100001;
}
.modal-dialog{
    z-index: 200000;
}
.modal-backdrop.in{
    opacity: 0.0;
}
#cboxOverlay{
    z-index: 1000;
}
#colorbox{
    z-index: 1000;

}
body{
    overflow: auto;
}
.bootstrap-dialog{
    z-index: 10001;
}
.modal-backdrop.in{
    opacity: 0.0;
}
.msg-dialog-content{
    margin: 10px;
    padding:  10px;
}
.msg-dialog-content textarea{
    height: 200px;
    resize: none;
}
#msg_attachment{
    width: 200px;
    float: left;
}
.input-group{
    width: 400px;
    float: left;
}
.file-caption{
    display: none;
}
body{
    overflow: auto;
}
.bootstrap-dialog{
    z-index: 20000;
}
.modal-backdrop.in{
    opacity: 0.0;
}
.msg-dialog-content{
    margin: 10px;
    padding:  10px;
}
.msg-dialog-content textarea{
    height: 200px;
    resize: none;
}
#msg_attachment{
    width: 200px;
    float: left;
}
.input-group{
    width: 400px;
    float: left;
}
.file-caption{
    display: none;
}
.notification-number-card{
    position: absolute;
    left: 7px;
    bottom: 13px;
    color: white;
    font-weight: bold;
    font-size: 20px;

    width: auto;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 50%;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    background:#D01F30;
    color:#fff; font:15px/19px 'proxima_novasemibold';
    text-indent:0px;
    position:absolute;
    padding:2px 9px;
    display:inline;
}
.notif_expand_menu{
    padding: 10px;
    width: 300px;
    height: 300px;
    position: absolute;
    background: white;
    top: 49px;
    left:  -130px;
    border: 1px solid gray;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.bootstrap-dialog {
    z-index: 100001 !important;
}

ul.search-result{
        max-height: 600px;
        margin-top: 35px;
        background: #f1f1f1;
        overflow-x: hidden;
        overflow-y: auto;
        border: 1px solid #a7bac1;
        height: 450px;
        display: none;
    }
    ul.search-result li{
        padding:  7px;
        background: white;
        margin-top: 2px;
    }
        /*
Original version: http://www.bootply.com/128062

This version adds support for IE 10+ and Firefox.
*/

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.tutor-search::-webkit-input-placeholder
{
  color: white;
}

.student-search::-webkit-input-placeholder
{
  color: white;
}