.pgntn { width:100%; height:auto; float:left; background:#f7f8f8; border-bottom:2px solid #e6eaeb; padding:5px 0; display:inline; }

.pgntn ul { width:auto; height:auto; float:left; margin-left:20px; display:inline; }
.pgntn ul li { width:auto; height:auto; float:left;}
.pgntn ul li a,.pgntn ul li a:link,.pgntn ul li a:visited { width:auto; height:auto; float:left; color:#7c8285; font:14px/21px 'proxima_novasemibold'; margin-right:20px; display:inline; }
.pgntn ul li a:hover,.pgntn ul li a:focus { text-decoration:none; color:#5aa8ff; }

.pgntn > a,.pgntn > a:link,.pgntn > a:visited { width:auto; height:auto; float:right; margin-right:15px; display:inline; }

.crse_rlted { width:100%; height:auto; float:left; margin:20px 0; display:inline; }
.crse_rlted > h5 { text-transform:uppercase; width:100%; display:inline-block;}
.crse_rlted > a,.crse_rlted > a:link,.crse_rlted > a:visited { width:auto; height:auto; float:left; color:#5498e4; font:16px/21px 'proxima_novasemibold'; margin:15px 200px 30px 0; display:inline; }
.crse_rlted > a:hover,.crse_rlted > a:focus { text-decoration:none;}

a.show,a.show:link,a.show:visited { width:100%; height:42px; float:left; background:url(../images/show_btn.png) repeat-x #d7e0e5; border: solid 1px #e3e3e3; color:#5498e4; font:16px/42px 'proxima_novasemibold'; text-align:center; margin-right:0px; }
a.show:hover,a.show:focus { background:url(../images/show_btn_hover.png) repeat-x #d7e0e5; }

.pagination_show .sbHolder { width:100% !important; height:100%; float:left; color:#fff; font:12px/23px 'proxima_novaregular'; background:url(../images/show-down.png) 94% center no-repeat; border:none; outline:none; top:0; }
.pagination_show .sbHolder > a,.sbHolder > a:link,.sbHolder > a:visited { width:100%; height:auto; display:inline-block; color:#fff; font:12px/23px 'proxima_novaregular'; padding-left:10px; text-decoration:none; }
.pagination_show .sbHolder > a:first-of-type { display:none; }
.pagination_show ul.sbOptions li { margin:0; }
.pagination_show ul.sbOptions li a,.pagination_show ul.sbOptions li a:link,.pagination_show ul.sbOptions li a:visited { text-indent:0; padding:0; font:12px/23px 'proxima_novaregular'; border:0; }
.pagination_show ul.sbOptions li a:hover,.pagination_show ul.sbOptions li a:focus { color:#4A7DC0 !important; border:0; }

.notification_section { width:100%; height:auto; min-height:500px; float:left; margin:80px 0 0 0; display:inline; }
.notification_heading_outer { width:100%; height:auto; float:left; }
.notification_icon { width:5%; height:42px; float:left; background:#8e68c0; position:relative; }
.notification_icon img { position:absolute; left:0; bottom:0; top:0; right:0; margin:auto; }
.notification_heading { width:95%; height:auto; float:left; border-bottom:1px solid #dde1e5; color:#5b636c; font:18px/42px 'proxima_novaregular'; text-indent:10px; }
.notification_list { width:100%; height:auto; float:left; }
.notification_list li { width:95%; height:auto; float:left; border-bottom:1px solid #dde1e5; padding:20px 50px 20px 0; display:inline; position:relative; }
.notification_hours { width:100%; height:auto; float:left; color:#5b636c; font:14px/18px 'proxima_novaregular'; margin-bottom:10px; display:inline; }
.notification_text { width:100%; height:auto; float:left; color:#5b636c; font:14px/18px 'proxima_novaregular'; }
.notification_text span { display:inline-block; color:#5b636c; font:14px/18px 'proxima_novasemibold'; }

.cross_outer { width:35px; height:12px; position:absolute; right:0; top:0; bottom:0; margin:auto; }
.cross_outer span { width:12px; height:12px; float:left; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;-ms-border-radius:50%; -o-border-radius:50%; background:#6eb241; overflow:none; }
a.close_notification,a.close_notification:link,a.close_notification:visited { width:12px; height:12px; float:right; background:url("../images/cross.png") center no-repeat; }



.notification_dropdown.submenu1 { background: #fff; padding:0; max-height:280px; overflow:hidden; }
.notification_dropdown.submenu1 li { width:90%; border-bottom:1px solid #dbdfe3; padding:10px; margin:0; position:relative; }
.notification_dropdown.submenu1 li:last-of-type { border-bottom:0; }
.notification_sub { width:auto; height:auto; float:left; color:#5b636c; font:14px/18px 'proxima_novasemibold'; }
a.notification_view,a.notification_view:link,a.notification_view:visited { width:auto !important; height:auto; float:right !important; color:#2385cb !important; font:12px/18px 'proxima_novaregular' !important; padding:0 10px; background:#e2e8f0; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; }
a.notification_view:hover,a.notification_view:focus { background:#e2e8f0 !important; }
.notification_hr_ago { width:100%; height:auto; float:left; color:#5b636c; font:12px/15px 'proxima_novasemibold'; }
.notification_dtext { width:100%; height:auto; float:left; color:#979797; font:12px/15px 'proxima_novaregular'; }
.notification_cross { position:absolute; right:10px; top:14px; }
.notification_cross span { width:12px; height:12px; float:left; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; }
.mark_read { background:gray; }
.mark_unread { background:#6eb241; }
.notification_cross a,.notification_cross a:link,.notification_cross a:visited { width:8px; height:8px; float:left; background:url("../images/notification-close.png") center no-repeat; margin-left:8px; }


/*.active { background:#d7e8ff !important; }*/
.active { color:blue !important; }
.active > a { color: blue !important; }
