/*privacy-policy*/
.privacy-list{width:100%; height:auto; float:left; margin-top:20px; display:inline;}
.privacy-list ol{width:100%; height:auto; float:left; margin-bottom:40px; display:inline;list-style:decimal;}
.privacy-list ol li{color: #494949; float: left;font: 17px/21px "HelveticaNeueLTStd-Medium";height: auto;
 width:auto; margin-top:25px;  padding-left:10px; text-align: justify;}
 .privacy-list ol li p{width:auto; height:auto; float:left; margin-top:15px; display:inline;color: #818c92;float: left;font: 16px/21px "proxima_novaregular";  padding-left:25px; text-align: justify;}
  .privacy-list ol li p a,.privacy-list ol li p a:link, .privacy-list ol li p a:visited{width:auto; height:auto; font: 16px/21px "proxima_novaregular";}
.privacy-list ol li ol{width:100%; height:auto; float:left; margin-bottom:0;}
.privacy-list ol li ol li{width:auto; height:auto; float:left; margin-top:15px;color: #818c92;float: left;font: 16px/21px "proxima_novaregular"; height: auto;width: auto; position:relative; display:inline; padding-left:10px;}
.privacy-list ol li ol li span{width:auto; height:auto; position:absolute; left:-30px;}
.privacy-list ol li ol li ol{width:100%; height:auto; float:left;list-style-type:lower-alpha;}
.privacy-list ol li ol li ol li{width:auto; height:auto; float:left;margin-top:15px; display:list-item}