/*.champ_student_detail { width: 100% !important;}*/
/*.champ_student_detail .schools_txt { width: 65%; }*/
/*.select_date_range label { width:100%; }*/
/*.select_date_range input { width:94px; }*/
/*.champ_select_viewall { width:62%; }*/
/*.champ_student_detail ul.champ_finance_tutor > li { padding: 10px; }*/
/*input.question_textfield[type="text"] { width:92%; }*/
/*a.post_question, a.post_question:link, a.post_question:visited, a.preview_question, a.preview_question:link, a.preview_question:visited { padding:0 8px; }*/
/*.champ_student_detail .student_profile_inner { width: 93%; }*/
/*form.champ_jobsedit_form > div, form.champ_jobsedit_form > span.background_shade > div { width:100%; }*/
/*.edit_profile_left { width:100%; margin:0; padding:0; }*/
/*.edit_profile_right { width:100%; margin:40px 0 0 0; padding:0; }*/
/*form.edit_profile input { width:92%; }*/
/*.profile_about textarea { width:92%; }*/
/*.private_left, .private_right { width:100%; }*/
/*.edit_profile_left textarea.question_description { width: 92%; }*/
/*.edit_gray_section input.student_cancel[type="button"],.edit_gray_section input.student_save[type="submit"] { width: 110px; }*/
/*.edit_gray_section textarea.edit_description { width:90% !important; }*/
/*.edit_gray_section .gpa_edit { width: 90%; }*/
/*.edit_gray_section .School_edit_ful > label { font: 14px/37px "proxima_novaregular"; text-align: center; width: 100%; }*/
/*.edit_gray_section #month_edit,.edit_gray_section #year_edit,.edit_gray_section #day_edit { width: 55px; }*/
/*.online_tutor_left { width:92%; }*/
/*.gender { width:100%; }*/
/*.online_tutor_right { width:100%; margin-top:20px; }*/
/*ul.showing_online_result > li { width:93%; }*/
/*.reset_password { margin: 125px 0 165px -135px; width: 270px; }*/
/*.reset_outer_form { width: 85%; padding:20px; }*/
/*.reset_email_icon { width: 50px; }*/
/*.reset_outer_form input[type="email"] { width: 69%; }*/
/*span.reset_or { margin: 0 10px; }*/
/*.reset_outer_form input[type="submit"], .reset_outer_form input[type="button"] { width: 90px; }*/
/*.notification_icon { width: 20%; }*/
/*.notification_heading { width: 80%; }*/
/*.notification_list li { width: 80%; }*/
/*.outer_report_heading { width: 96%; }*/
/*.msg_heading.email_center h2 { font: 19px/40px "proxima_novasemibold"; }*/
/*.my_acnt.recovery_center { margin:20px 0 20px -132.5px !important }*/
/*.billing_cntnt.recover_mobile { margin:20px 0 0 0; }*/
/*form.view_tutor > input[type="text"] { width:275px; margin-bottom:10px; border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; float:none; }*/
/*.choose_diff_level { margin-left:3px; border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; -ms-border-radius:3px 0 0 3px; -o-border-radius:3px 0 0 3px; }*/

/*.edit_profile_left { width:30%; }*/
/*.edit_profile_right { width:68%; }*/
/*form.edit_profile input { width:90.5%; }*/
/*form.view_tutor > input[type="text"] { width:400px; }*/
/*.online_tutor_right { width:450px; }*/
/*ul.showing_online_result > li { width:95.5%; }*/
/*.online_tutor_left { width:250px; }*/
/*.notification_list li { width: 93%; }*/

/*.billing_cntnt.recover_mobile { margin:20px 0 0 0; }*/


#img_popup{ display:none; top:0%; left:0%; width:100%; height:100%; z-index:10000; background-color:rgba(0,0,0,0.8); position:relative; }
#img_popup{position: fixed; *position: absolute;}
.imagebox{width:800px; height:500px; position:fixed; *position:absolute; z-index:1100; margin:auto; left:0; top:0; bottom:0; right:0; text-align:center; background:none; }

.imagebox > img { width:auto; height:auto; position:absolute; margin:auto; left:0; top:0; bottom:0; right:0; max-width: 100%;}

.solve_question_inner a.champ_cross,.solve_question_inner a.champ_cross:link,.solve_question_inner a.champ_cross:visited { position:absolute; right:0; top:0; cursor:pointer; width:8px; height:8px; z-index:1; }
.solve_question_inner a.champ_cross img { float:left; }

a.champ_cross1,a.champ_cross1:link,a.champ_cross1:visited { position:absolute; right:0; top:0; cursor:pointer; width:8px; height:8px; z-index:1; }
a.champ_cross1 img { float:left; }

.question_attachments { width:100%; height:auto; float:left; }

.question_text_outer { width:100%; height:auto; float:left; }
.question_text_outer .question_list_text { width:95%; margin:0; }
.question_date_icon { width:auto; height:auto; float:right; background:url("../images/champ-post-icon1.png") no-repeat scroll left center; color: #979797; font: 12px/21px "HelveticaNeueLTStd-italic"; padding-left: 25px; margin-top:20px; display:inline; }

.reply_section .question_date_icon { margin-top:10px; }
.reply_section .question_outer { margin-top:10px; }

.outer_attachment { width:100%; height:auto; float:left; }
.outer_attachment .champ_attachments { padding-bottom:10px; border-bottom:1px solid #ccc !important; }
.outer_attachment .question_attached { margin:10px 0 20px 0; }

.question_outer { width:72%; margin:20px 0; float:left; display:inline-block; }
.question_outer a.edit_profile,.question_outer a.edit_profile:link,.question_outer a.edit_profile:visited { float:left; }

.question_comment { width: 100%; height: auto; float: left; background:#ebebeb ; text-indent:10px; cursor:pointer; color: #717171; font: 17px/21px "HelveticaNeueLTStd-Medium"; margin:10px 0; padding: 10px 0; display: inline; }




/*.reviews_img { width: 56px; height: 57px; float: left; margin-right: 15px; display: inline; position:relative; }*/
/*.reviews_img img { width:auto; height:auto; position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; }*/

/*.outer_review_trophy { width:auto; height:auto; display:inline-block; }*/
/*a.review_trophy,a.review_trophy:link,a.review_trophy:visited { width:auto; height:auto; float:left; color: #8f969e; font: 14px/18px "proxima_novasemibold"; }*/
/*a.review_trophy img { float:left; }*/
/*a.review_trophy span { width:auto; height:auto; float:left; color: #8f969e; font: 14px/18px "proxima_novasemibold"; margin-left:10px; display:inline; }*/
/*a.review_trophy:first-of-type { margin-right:30px; }*/

/*span.total_review { width:auto; height:auto; float:right; color:#444d56; font:14px/18px "proxima_novasemibold"; }*/

/*.trophy_width { width:145px; }*/
/*.trophy_width .outer_review_trophy { margin-top:10px; }*/


/*a.comment_yes,a.comment_yes:link,a.comment_yes:visited,a.comment_no,a.comment_no:link,a.comment_no:visited { width: auto; height:39px; display:inline-block; color: #fff; font: 18px/39px "proxima_novaregular"; padding: 0 15px; margin-left:10px; }*/

/*a.comment_yes,a.comment_yes:link,a.comment_yes:visited { background:rgb(80,146,223); }*/
/*a.comment_no,a.comment_no:link,a.comment_no:visited { background:rgb(208,31,48); }*/

/*a.comment_yes:hover,a.comment_yes:focus,a.comment_no:hover,a.comment_no:focus { text-decoration:none; }*/

/*.canvas_menu .add { background-color:transparent; font:15px/32px "segoe_uiregular"; }*/

/*.splitter { width:20px; height:20px; float:left; background:rgb(99,57,134); position:absolute; right:-10px; top:-10px; cursor:pointer; z-index:10; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; overflow:hidden; }*/
/*.splitter img { width:auto; height:auto; position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; }*/
/*.splitter img:last-of-type { display:none; }*/

/*.splitter.splitter_active img:first-of-type { display:none; }*/
/*.splitter.splitter_active img:last-of-type { display:block; }*/

/*.aside_right,#w,#content { -moz-transition: all .5s ease-in-out;-o-transition: all .3s ease-in-out;-webkit-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;transition: all .5s ease-in-out; }*/
/*.aside_right.aside_right_hide { width:0px; overflow:hidden; -moz-transition: all .5s ease-in-out;-o-transition: all .3s ease-in-out;-webkit-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;transition: all .5s ease-in-out; }*/
/*.aside_right.aside_right_hide .splitter { left:0; }*/
/*#w.full_width { width:100%; -moz-transition: all .5s ease-in-out;-o-transition: all .3s ease-in-out;-webkit-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;transition: all .5s ease-in-out; }*/
/*#content.content_full { border-right:0; }*/
/*.content_full .contentblock { width: 800px; }*/

/*.question_outer form.summary_form { width:90%; margin:0; }*/
/*.question_outer .summary_textarea { width:97%; }*/

/*/!* Restore Browser's Default Submit Button Style *!/*/
/*.custom #commentform input.form_submit { background:ButtonFace; color:ButtonText; border:2px outset ButtonFace; }*/
/*.custom #commentform input.form_submit:active { border-style:inset; -webkit-appearance:push-button; }*/
/*h4.jobs_heading { width:100%; height:auto; float:left; background:#e2e8f0; color:#4d545d; font:18px/41px 'proxima_novaregular'; text-indent:10px; text-transform:capitalize; }*/
/*.sidemenu_about li { width:100% !important; height: 35px !important; }*/
/*.sidemenu_about li a,.sidemenu_about li a:link,.sidemenu_about li a:visited { font:16px/35px 'open_sansregular' !important; }*/
/*.sidemenu_about span.highlight { top:9px; }*/
/*/!*- Student Profile Page -*!/*/
/*.champ_student_detail { width:92.4%; height:auto; float:left; padding:20px; display:inline; }*/
/*.student_like { width:100%; height:auto; float:left; margin-top:10px; }*/
/*.student_like a,.student_like a:link,.student_like a:visited { width:auto; height:auto; float:left; }*/
/*.student_like a:first-of-type { margin-right:15px; }*/
/*.student_like a span { display:inline-block; margin-left:10px; color:#4d555a; font:12px/16px "proxima_novaregular"; }*/
/*.champ_student_detail .student_profile_inner { width:94%; }*/
/*.champ_student_detail .schools_txt { width:80%; }*/
/*a.email_student_profile,a.email_student_profile:link,a.email_student_profile:visited { float:left; color: #5b636c; font: 16px/21px "proxima_novaregular"; }*/
/*.champ_student_detail form.champ_jobsedit_form div input { padding:0 10px; }*/
/*.champ_student_detail .champ_select_lesson select { background: rgba(0, 0, 0, 0) url("../images/live-down-arrow.png") no-repeat scroll 84% center; padding-left:10px; width: 110%; }*/
/*.champ_student_detail textarea.champ_jobsedit_textarea { width: 91.5%; }*/
/*.champ_student_detail label.champ_jobsedit_label { font:15px/24px 'proxima_novaregular'; }*/
/*.champ_student_detail .upcmng_lsn { margin:0 0 20px 0; width:100%; }*/
/*.champ_student_detail table.upcoming_leasson tr td { padding:10px 5px; }*/
/*.champ_student_detail table.upcoming_leasson tr td:last-of-type { padding-left:0; }*/
/*.champ_student_detail table.upcoming_leasson tr td:first-of-type { max-width:150px; }*/
/*.champ_student_detail .upcmng_lsn > h5 { text-indent:5px; }*/

/*.champ_student_detail .upcmng_lsn > h5 > a,.champ_student_detail .upcmng_lsn > h5 > a:link,.champ_student_detail .upcmng_lsn > h5 > a:visited { font: 14px/31px "proxima_novaregular"; height: 31px; margin:5px 5px 0 0; }*/


/*.champ_student_detail p.upcoming_heading { font: 14px/21px 'proxima_novaregular'; }*/
/*.champ_student_detail p.upcoming_txt { color:#545454; }*/
/*.champ_student_detail a.vw_lesn,.champ_student_detail a.vw_lesn:link,.champ_student_detail a.vw_lesn:visited { font: 12px/32px "proxima_novasemibold"; }*/
/*.champ_student_detail ul.champ_finance_tutor > li { padding:19px; }*/
/*.champ_student_detail h4.champ_finance_heading { width:100%; }*/
/*.champ_poston { width:100%; margin-top:15px; }*/
/*.champ_student_detail .champ_duration_left { margin-bottom:15px; width:100%; }*/
/*.select_date_range { width:100%; height:auto; float:left; margin-bottom:20px; display:inline; position:relative; }*/
/*.date-picker-wrapper { top:170px !important; }*/
/*.select_date_range input { width:144px; height:31px; float: left; background-color:#fff; border: 1px solid #dfdfdf; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; padding:0 10px; display:inline; }*/
/*.select_date_range label { width:auto; height:auto; float:left; color: #494949; font: 14px/31px 'proxima_novasemibold'; margin-right:10px; display:inline; }*/
/*.select_date_range em { width:auto; height:auto; float:left; color: #494949; font: 14px/31px 'proxima_novaregular'; margin:0 10px; display:inline; }*/
/*.select_date_range input { display:inline-block; color: #494949; font: 14px/31px 'proxima_novasemibold'; }*/
/*.adjoined-bottom { width:100%; height:auto; float:left; margin-bottom:30px; display:inline; }*/
/*input[type="text"].question_textfield { width:96%; height:41px; float: left; background-color: rgba(255, 255, 255, 0); border: 1px solid #dfdfdf; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; padding:0 10px; margin-bottom:20px; color: #353232; font: 16px/21px 'proxima_novaregular'; }*/
/*textarea.question_description { width:96%; height:100px; float: left; background-color: rgba(255, 255, 255, 0); border: 1px solid #dfdfdf; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; padding:10px; margin-bottom:20px; color: #353232; font: 16px/21px 'proxima_novaregular'; resize:none; }*/
/*.noedit_gray_section { width:100%; height:auto; float:left; }*/
/*.edit_gray_section { width:100%; height:auto; float:left; margin-top:10px; display:inline; }*/
/*textarea.edit_description { width:96%; height:100px; float: left; background-color: rgba(255, 255, 255, 0); border: 1px solid #dfdfdf; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; padding:10px; margin-bottom:20px; color: #353232; font: 16px/21px 'proxima_novaregular'; resize:none; }*/
/*.edit_gray_section .private_list_edit,.edit_gray_section form.School_edit { width:100%; }*/
/*.edit_gray_section .private_edit_left,.edit_gray_section .private_edit_right { width:100%; margin:0; }*/
/*.edit_gray_section span.college_skul { width: 150px; }*/
/*.edit_gray_section .School_edit_ful > label { width:100px; font:14px/37px "proxima_novaregular"; }*/
/*.edit_gray_section .gpa_edit { width: 212px; }*/
/*.edit_gray_section { display:none; }*/
/*.skul_edit { width:125px !important; }*/
/*.student_profile_inner textarea.question_description { margin-top:10px; width:93%; }*/
/*a.post_question,a.post_question:link,a.post_question:visited,a.preview_question,a.preview_question:link,a.preview_question:visited { width:auto; height:31px; float:left; padding:0 20px; display:inline; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; color:#fff; font: 16px/31px 'proxima_novaregular';text-decoration:none;  }*/
/*a.post_question,a.post_question:link,a.post_question:visited { background-color: #e62739; margin-right:10px; }*/
/*a.post_question:hover,a.post_question:focus { background-color: #d01f30; }*/
/*a.preview_question,a.preview_question:link,a.preview_question:visited { background-color: #8ab8e0; }*/
/*a.preview_question:hover,a.preview_question:focus { background-color: #73a2cb; }*/
/*#question {width:500px; height:610px;position:absolute;z-index:1100;margin:auto;left:0;top:0;bottom:0;right:0;display:none;}*/
/*.question_bx {width:460px; height:auto;float:left;border:1px solid #ccc;position:relative; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; background:#FFF; padding:20px; display:inline; }*/
/*#black_overlay{position: fixed;	*position: absolute;}*/
/*#black_overlay2 {position: absolute;}*/
/*#questionss {width:670px; height:610px;position:absolute;z-index:1100;margin:auto;left:0;top:0;bottom:0;right:0;display:none;}*/
/*.questionss_bx1{ width:670px; height:auto;float:left; position:relative; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; background:#FFF; display:inline; }*/
/*/!* a.cross, a.cross:link{width:25px; height:25px; position:absolute; top:-17px; right:-17px} *!/*/
/*.questions_popup_heading { width:100%; height:auto;float:left; color:#ffffff; font:22px/24px 'proxima_novasemibold'; background:#337ab7; text-indent:35px; padding:25px 0; display:inline; }*/
/*.questions_popup_detail { width:90%; height:auto;float:left; padding:35px 35px 25px 35px; display:inline; }*/
/*p.questions_popup_text { width:100%; height:110px; float:left; color:#818c92; font:16px/26px 'proxima_novaregular'; margin-bottom:10px; display:inline; overflow:hidden; }*/
/*ul.questions_popup_tags { width:64%; height:auto; float:left; list-style-type:none; margin:12px 0 0 0; display:inline; }*/
/*ul.questions_popup_tags li { width:auto; height: 27px; float:left; background-color: #f6f6f6; border: solid 1px #dfdfdf; border-right:0; position:relative; color:#a8a8a8; font:12px/27px 'proxima_novaregular'; padding:0 10px; margin-right:30px; display:inline; cursor:pointer; }*/
/*ul.questions_popup_tags li:after { width:14px; height:27px; content:''; position:absolute; background:url("../images/questions-tags-after.png") center no-repeat; top:0; right:-14px; }*/
/*ul.questions_popup_tags li:last-of-type { margin:0; }*/
/*.questionss_bx1 ul.champ_attachments_detial { margin-bottom:20px; }*/
/*a.questions_popup_edit,a.questions_popup_edit:link,a.questions_popup_edit:visited,a.questions_popup_submit,a.questions_popup_submit:link,a.questions_popup_submit:visited { width:auto; height:49px; float:left; color:#fff; font:18px/49px 'proxima_novaregular'; padding:0 30px; display:inline; }*/
/*a.questions_popup_edit,a.questions_popup_edit:link,a.questions_popup_edit:visited { background:#337ab7; margin-right:10px; }*/
/*a.questions_popup_submit,a.questions_popup_submit:link,a.questions_popup_submit:visited { background:#2f933b; }*/
/*a.questions_popup_edit:hover,a.questions_popup_edit:focus { background:#2a6ea8; text-decoration:none; }*/
/*a.questions_popup_submit:hover,a.questions_popup_submit:focus { background:#278532; text-decoration:none; }*/
/*#champ-post-question .input-append { margin-bottom:20px; display:inline; }*/
/*/!*- Start Edit Page -*!/*/
/*.edit_profile_img { width:141px; height:141px; float:left; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; background:url("../images/edit-profile.png") center no-repeat; margin-bottom:40px; display:inline; }*/
/*form.edit_profile { width:100%; height:auto; float:left; }*/
/*.edit_profile_left { width:310px; height:auto; float:left; }*/
/*.edit_profile_right { width:600px; height:auto; float:right; }*/
/*form.edit_profile label { width:100%; height:auto; float:left; color:#494949; font:21px/24px 'proxima_novasemibold'; position:relative; margin-bottom:40px; display:inline; }*/
/*form.edit_profile label:after { width:24px; height:3px; content:''; position:absolute; left:0; background:#2c3136; bottom:-5px; }*/
/*form.edit_profile input { width:93%; height: 57px; float:left; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; color:#a6a6a6; font:16px/57px 'open_sansregular'; background-color: rgba(255,255,255,0); border: solid 1px #dfdfdf; padding:0 10px; margin-bottom:10px; display:inline; }*/
/*.private_left,.private_right { width:49%; height:auto; float:left; }*/
/*.private_right { float:right; }*/
/*.profile_select { width:100%; height: 57px; float:left; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; color:#a6a6a6; font:16px/57px 'open_sansregular'; background-color: rgba(255,255,255,0); border: solid 1px #dfdfdf; margin-bottom:10px; display:inline; }*/
/*/!* .select { padding:0px; width:383px; } *!/*/
/*.profile_select > select { width:110%; height:100%; float:left; color:#babdc0; font:15px/21px 'proxima_novaregular'; text-indent:5px; border:none; outline:none; }*/
/*.profile_select > .sbHolder { background:url(../images/slct_drpdwn.png) 94% center no-repeat; }*/
/*.profile_select > .sbHolder > a,.profile_select > .sbHolder > a:link,.profile_select > .sbHolder > a:visited { color:#babdc0; font:15px/57px "proxima_novaregular"; }*/
/*.profile_about { width:100%; height:auto; float:left; margin-top:40px; display:inline; }*/
/*.profile_about textarea { width:97.6%; height: 137px; float:left; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; color:#a6a6a6; font:16px/21px 'open_sansregular'; border: solid 1px #dfdfdf; padding:10px; display:inline; resize:none; }*/
/*.edit_profile input[type="submit"],.edit_profile input[type="button"] { width: 173px; height: 49px; float:left; background-color: #337ab7; color:#ffffff; font:15px/49px 'proxima_novasemibold'; text-transform:uppercase; margin-top:20px; display:inline; border:0; outline:0; }*/
/*.edit_profile input[type="submit"]:hover,.edit_profile input[type="button"]:focus,.edit_profile input[type="submit"]:hover,.edit_profile input[type="button"]:focus { background:#2569a4; }*/
/*/!*- End Edit Page -*!/*/
/*.champ_hire_dropdown { background-color:trasparent; border: 1px solid #ececec;  border-radius: 3px; display: inline; float: left; height: 25px; width: 100px; }*/
/*label.action_heading { width:auto; height:auto; float:left; margin-right:10px; color:#333232; font:12px/25px "HelveticaNeueLTStd-Roman"; display:inline; }*/
/*.need_dropdwn { border: 1px solid #337ab7 !important; }*/
/*.champ_hire_dropdown .sbHolder { background:url("../images/shortlisted-iconss.png") 90% center no-repeat; }*/
/*.champ_hire_dropdown .sbHolder > a,.champ_hire_dropdown .sbHolder > a:link,.champ_hire_dropdown .sbHolder > a:visited { font:15px/25px "proxima_novaregular" !important; float:left; }*/
/*.need_dropdwn .sbHolder { background:url("../images/shortlisted-icon.png") 90% center no-repeat !important; }*/
/*.champ_hire_dropdown ul.sbOptions li a,.champ_hire_dropdown ul.sbOptions li a:link,.champ_hire_dropdown ul.sbOptions li a:visited { font:15px/25px "proxima_novaregular" !important; }*/
/*.champ_hire_dropdown.need_dropdwn .sbHolder > a, .champ_hire_dropdown.need_dropdwn .sbHolder > a:link, .champ_hire_dropdown.need_dropdwn .sbHolder > a:visited,.need_dropdwn ul.sbOptions li a,.need_dropdwn ul.sbOptions li a:link,.need_dropdwn ul.sbOptions li a:visited { color:#2c2c2c !important; }*/
/*/!* .student_scot { margin:0; } *!/*/
/*table.upcoming_leasson tr:hover .hover_btn { display:block; }*/
/*.top20 { margin-top:20px !important; }*/
/*a.view_all_ques,a.view_all_ques:link,a.view_all_ques:visited { width:auto; height:auto; float:left; color:#5498e4; font:14px/21px "proxima_novaregular"; }*/
/*a.table_hover_msg,a.table_hover_msg:link,a.table_hover_msg:visited  {  top:0; right:0; }*/
/*ul.social_links { width:45px; height:auto; float:left; background:#32709c; list-style-type:none; padding:10px 0; left:-3px; top:50%; margin-top:-90px; display:inline; position:absolute; z-index:2; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; }*/
/*ul.social_links li { width:100%; height:auto; float:left; position:relative; z-index:100; }*/
/*ul.social_links li a,ul.social_links li a:link,ul.social_links li a:visited { width:100%; height:45px; float:left; position:relative;}*/
/*ul.social_links li a > img { width:auto; height:auto; position:absolute; left:0px; right:0px; bottom:0px; top:0px; margin:auto; }*/
/*.home_tutors_show { display:block !important; }*/
/*.social_detail { width:auto; height:100%; background:#fff; position:absolute; left:45px; padding:0 10px; border:1px solid #ccc; border-left:0px; border-radius:0 3px 3px 0; -ms-border-radius:0 3px 3px 0; -o-border-radius:0 3px 3px 0; -webkit-border-radius:0 3px 3px 0; -moz-border-radius:0 3px 3px 0; display:none; }*/
/*.reset_password { width:592px; height:auto; float:left; border:1px solid #e7e6e6; margin:125px 0 165px -296px; position:relative; left:50%; }*/
/*.reset_header { width:100%; height:auto; float:left; padding:40px 0; background:#f8f8f8; border-bottom:1px solid #e7e6e6; }*/
/*h3.reset_main { width:100%; height:auto; float:left; color:#8e68c0; font:24px/26px 'proxima_novaregular'; text-transform:uppercase; text-align:center; }*/
/*p.reset_providing_email { width:100%; height:auto; float:left; color:#a0a0a0; font:16px/21px 'proxima_novaregular'; text-align:center; margin-top:5px; display:inline; }*/
/*.reset_outer_form { width:78%; height:auto; float:left; padding:45px 65px 35px 65px; }*/
/*.reset_email { width:100%; height:auto; float:left; border:1px solid #eae9e9; margin-bottom:35px; display:inline; }*/
/*.reset_email_icon { width:58px; height:54px; float:left; border-right:1px solid #eae9e9; background:url("../images/email-icon.png") center no-repeat; }*/
/*.reset_outer_form input[type="email"] { width:82%; height:54px; float:left; border:0; outline:0; padding:0 10px; color:#828282; font:16px/54px 'proxima_novaregular'; }*/
/*.reset_outer_form input[type="submit"],.reset_outer_form input[type="button"] { width: 135px; height: 48px; float:left; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; background-color: #74b747; -webkit-box-shadow: 1px 1px 1px #578737; -moz-box-shadow: 1px 1px 1px #578737; box-shadow: 1px 1px 1px #578737; -ms-box-shadow: 1px 1px 1px #578737; -o-box-shadow: 1px 1px 1px #578737; color:#fff; font:18px/21px 'proxima_novasemibold'; border:0; outline:0; }*/
/*.reset_outer_form input[type="submit"]:hover,.reset_outer_form input[type="button"]:hover,.reset_outer_form input[type="submit"]:focus,.reset_outer_form input[type="button"]:focus { background:#68ab3c; }*/
/*span.reset_or { width:auto; height:auto; float:left; color:#7a7979; font:16px/48px 'proxima_novasemibold'; margin:0 30px; display:inline; }*/
/*a.reset_return,a.reset_return:link,a.reset_return:visited { width:auto; height:auto; float:left; color:#72b645; font:16px/48px 'proxima_novaregular'; }*/
/*.confirm_email { width:100%; height:auto; float:left; margin:80px 0; display:inline; }*/
/*.confirm_name { width:100%; height:auto; float:left; color:#717171; font:18px/21px 'proxima_novaregular'; }*/
/*.confirm_text { width:100%; height:auto; float:left; color:#717171; font:14px/18px 'proxima_novaregular'; margin:25px 0 20px 0; display:inline; }*/
/*.confirm_text a,.confirm_text a:link,.confirm_text a:visited { display:inline-block; color:#0762d9; font:14px/18px 'proxima_novaregular'; }*/
/*.sincerely { width:100%; height:auto; float:left; margin:20px 0 0 0; display:inline; }*/
/*.sincerely p { width:100%; height:auto; float:left; color:#717171; font:14px/18px 'proxima_novaregular'; }*/
/*a.confirm_email_btn,a.confirm_email_btn:link,a.confirm_email_btn:visited { width:auto; height: 36px; float:left; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; background-color: #6bb03d; -webkit-box-shadow: 1px 1px 1px #578937; -moz-box-shadow: 1px 1px 1px #578937; box-shadow: 1px 1px 1px #578937; -ms-box-shadow: 1px 1px 1px #578937; -o-box-shadow: 1px 1px 1px #578937; color:#fff; font:14px/37px 'proxima_novasemibold'; padding:0 25px; display:inline; }*/
/*a.confirm_email_btn:hover,a.confirm_email_btn:focus { text-decoration:none; background:#58972e; }*/
/*.outer_pagination { width:100%; height:auto; float:left; margin:5px 0; display:inline; }*/
/*span.pagination_page { width:auto; height:auto; float:left; color:#494949; font:14px/29px 'proxima_novaregular'; margin-right:5px; display:inline; }*/
/*.outer_pagination li { width:auto; height:auto; float:left; margin-right:3px; }*/
/*.outer_pagination li:last-of-type { margin-right:0; }*/
/*.outer_pagination li a,.outer_pagination li a:link,.outer_pagination li a:visited { width:26px; height:24px; float:left; border:1px solid #dfdfdf; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; color:#4a7dc0; font:14px/26px 'proxima_novaregular'; text-align:center; }*/
/*.pagination > li > a:hover,.pagination > li > a:focus,a.pactive { text-decoration:none; background:#5092df; color:#fff !important; border:1px solid #4a7dc0 !important; color:#fff; }*/
/*.outer_pagination li:last-of-type a:hover,.outer_pagination li:last-of-type a:focus { background:#fff; }*/
/*.pagination_show { width: 81px; height: 26px; float:right; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; background-color: #5092df; }*/
/*/!* .pagination_show .sbHolder { background:url(../images/show-down.png) 90% center no-repeat; } *!/*/

/*.pagination_show .sbHolder { width:100% !important; height:100%; float:left; color:#fff; font:12px/23px 'proxima_novaregular'; background:url(../images/show-down.png) 94% center no-repeat; border:none; outline:none; top:0; }*/
/*.pagination_show .sbHolder > a,.sbHolder > a:link,.sbHolder > a:visited { width:100%; height:auto; display:inline-block; color:#fff; font:12px/23px 'proxima_novaregular'; padding-left:10px; text-decoration:none; }*/
/*.pagination_show .sbHolder > a:first-of-type { display:none; }*/
/*.pagination_show ul.sbOptions li { margin:0; }*/
/*.pagination_show ul.sbOptions li a,.pagination_show ul.sbOptions li a:link,.pagination_show ul.sbOptions li a:visited { text-indent:0; padding:0; font:12px/23px 'proxima_novaregular'; border:0; }*/
/*.pagination_show ul.sbOptions li a:hover,.pagination_show ul.sbOptions li a:focus { color:#4A7DC0 !important; border:0; }*/

/*.notification_section { width:100%; height:auto; min-height:500px; float:left; margin:40px 0 0 0; display:inline; }*/
/*.notification_heading_outer { width:100%; height:auto; float:left; }*/
/*.notification_icon { width:5%; height:42px; float:left; background:#8e68c0; position:relative; }*/
/*.notification_icon img { position:absolute; left:0; bottom:0; top:0; right:0; margin:auto; }*/
/*.notification_heading { width:95%; height:auto; float:left; border-bottom:1px solid #dde1e5; color:#5b636c; font:18px/42px 'proxima_novaregular'; text-indent:10px; }*/
/*.notification_list { width:100%; height:auto; float:left; }*/
/*.notification_list li { width:95%; height:auto; float:left; border-bottom:1px solid #dde1e5; padding:20px 50px 20px 0; display:inline; position:relative; }*/
/*.notification_hours { width:100%; height:auto; float:left; color:#5b636c; font:14px/18px 'proxima_novaregular'; margin-bottom:10px; display:inline; }*/
/*.notification_text { width:100%; height:auto; float:left; color:#5b636c; font:14px/18px 'proxima_novaregular'; }*/
/*.notification_text span { display:inline-block; color:#5b636c; font:14px/18px 'proxima_novasemibold'; }*/

/*.cross_outer { width:35px; height:12px; position:absolute; right:0; top:0; bottom:0; margin:auto; }*/
/*.cross_outer span { width:12px; height:12px; float:left; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;-ms-border-radius:50%; -o-border-radius:50%; background:#5b636c; overflow:none; }*/
/*a.close_notification,a.close_notification:link,a.close_notification:visited { width:12px; height:12px; float:right; background:url("../images/cross.png") center no-repeat; }*/



/*.notification_dropdown.submenu1 { background: #fff; padding:0; max-height:280px; overflow:hidden; }*/
/*.notification_dropdown.submenu1 li { width:90%; border-bottom:1px solid #dbdfe3; padding:10px; margin:0; position:relative; }*/
/*.notification_dropdown.submenu1 li:last-of-type { border-bottom:0; }*/
/*.notification_sub { width:auto; height:auto; float:left; color:#5b636c; font:14px/18px 'proxima_novasemibold'; }*/
/*a.notification_view,a.notification_view:link,a.notification_view:visited { width:auto !important; height:auto; float:right !important; color:#2385cb !important; font:12px/18px 'proxima_novaregular' !important; padding:0 10px; background:#e2e8f0; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; }*/
/*a.notification_view:hover,a.notification_view:focus { background:#e2e8f0 !important; }*/
/*.notification_hr_ago { width:100%; height:auto; float:left; color:#5b636c; font:12px/15px 'proxima_novasemibold'; }*/
/*.notification_dtext { width:100%; height:auto; float:left; color:#979797; font:12px/15px 'proxima_novaregular'; }*/
/*.notification_cross { position:absolute; right:10px; top:14px; }*/
/*.notification_cross span { width:8px; height:8px; float:left; background:#5b636c; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; }*/
/*.notification_cross a,.notification_cross a:link,.notification_cross a:visited { width:8px; height:8px; float:left; background:url("../images/notification-close.png") center no-repeat; margin-left:8px; }*/

/*.outer_report_heading { width:98%; height:auto; float:left; padding:5px; border-bottom:1px solid #dbdfe3; }*/
/*.progres_heading th { padding: 10px 5px; color:#4d545d; font:14px/18px 'proxima_novasemibold'; }*/
/*.progres_heading tr { display: inline-table; border-bottom:1px solid #dbdfe3 !important; }*/
/*.progres_heading tr:nth-of-type(2n) { background:#f7f7f7; border-bottom:1px solid #dbdfe3 !important; }*/
/*.progres_heading tr td:first-of-type,.progres_heading tr th:first-of-type { max-width:150px !important; width:150px !important; }*/
/*.report_heading { width:auto; max-width:40%; height:auto; float:left; color:#4d545d; font:15px/40px 'proxima_novasemibold';}*/
/*/!* .report_heading span { color:#4d545d; font:15px/16px 'proxima_novasemibold'; } *!/*/
/*a.progress_btn,a.progress_btn:link,a.progress_btn:visited { width:auto; height: 40px; float:right; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; background-color: #5092df; padding:0 30px; color:#fff; font:14px/40px 'proxima_novaregular'; }*/
/*a.progress_btn:hover,a.progress_btn:focus { text-decoration:none; background:#3b7ecd; }*/

/*ul.video_list { width:100%; height:auto; float:left; list-style-type:none; }*/
/*ul.video_list li { width:100%; height:auto; float:left; border:1px solid #dbdbdb; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; margin-bottom:20px; display:inline; }*/
/*ul.video_list li:last-of-type { margin:0; }*/

/*.video_header { width:94%; height:auto; float:left; padding:15px; }*/
/*.video_content { width:100%; height:auto; float:left; }*/
/*.video_content iframe { width:100%; height:227px; float:left; }*/
/*.video_footer { width:100%; height:auto; float:left; }*/

/*.video_ftext { width:auto; height:auto; float:left; color:#8b8b8b; font:14px/18px 'proxima_novaregular'; padding:15px; }*/
/*.video_header h4 { width:auto; height:auto; float:left; max-height:45%; color:#3b3b3b; font:16px/18px 'proxima_novasemibold'; }*/

/*.video_header_right { width:auto; height:auto; float:right; }*/
/*.video_header_right span { width:auto; height:auto; float:left; color:#8b8b8b; font:14px/18px 'proxima_novaregular'; display:inline; }*/
/*.video_header_right span:first-of-type { padding-right:15px; margin-right:15px; border-right:1px solid #dbdbdb; }*/

/*.algebra_outer { width:100%; height:240px; float:left; background:url("../images/algebra-bg.png") center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; margin-top: -21px; }*/
/*.algebra_banner { width:100%; height:240px; float:left; display:table; }*/
/*.algebra_inner { width:100%; vertical-align:middle; display:table-cell; }*/

/*.algebra_inner .connect_btn { float:right !important; }*/
/*.algebra_heading { width:100%; max-width:50%; height:auto; float:left; color:#fff; font:36px/53px 'proxima_novaregular'; }*/

/*.setting_list { width:auto; height:auto; float:left; display:none; }*/
/*#setting { cursor:pointer; }*/


/*.fullopacity { opacity:1 !important; }*/

/*a.zoom,a.zoom:link,a.zoom:visited { width:37px; height:33px; float:right; position:absolute; left:0; top:55px; background:url("../images/zoom.png") center no-repeat; }*/
/*a.end_lesson,a.end_lesson:link,a.end_lesson:visited { width:auto; height:auto; float:right; position:absolute; right:10px; top:55px; color:#649AC2; font:18px/33px 'proxima_novasemibold'; }*/
/*a.end_lesson:hover,a.end_lesson:focus { text-decoration:none; color:#4e84ac; }*/

/*.select > .sbHolder { background:url(../images/slct_drpdwn.png) 93% center no-repeat; }*/
/*.select > .sbHolder > a,.select > .sbHolder > a:link,.select > .sbHolder > a:visited { color: #babdc0; float: left; font: 15px/46px "proxima_novaregular"; padding: 0 10px; width: 92%; }*/

/*.recovery_text { width:100%; height:auto; float:left; color: #babdc0; font:13px/15px "proxima_novaregular"; margin:-16px 0 20px 0; }*/

/*.emoji.wb_submenu_icon1 { width:368px; border:1px solid #ccc; }*/
/*.emoji.wb_submenu_icon1 .wb_subsubmenu > a,.emoji.wb_submenu_icon1 .wb_subsubmenu > a:link,.emoji.wb_submenu_icon1 .wb_subsubmenu > a:visited,.emoji.wb_submenu_icon1 .wb_subsubmenu > div > a,.emoji.wb_submenu_icon1 .wb_subsubmenu > div > a:link,.emoji.wb_submenu_icon1 .wb_subsubmenu > div > a:visited { background:#fff; border:0; }*/

/*.outer_tabbs { width:300px; height:auto; float:left; }*/

/*.recovery_center { margin:20px 0 20px -192.5px !important; position:relative; left:50%; }*/

/*.calendar,a.calendar,a.calendar:link,a.calendar:visited { width:100%; height:auto; float:left; }*/
/*/!*.calendar img { width:100%; height:auto; float:left; }*!/*/

/*.msg_heading.email_center { text-align:center; }*/

/*.msg_heading.email_center .msg_heading_icon { float:none; display:inline-block; }*/
/*.msg_heading.email_center h2 { float:none; display:inline-block; margin-top: -30px; }*/

/*.calendar_outer { width:100%; height:auto; float:left; text-align:center; }*/


/*.edit_drop.champ_hire_dropdown { float:right; }*/
/*.edit_drop.champ_hire_dropdown .sbHolder > a,.edit_drop.champ_hire_dropdown .sbHolder > a:link,.edit_drop.champ_hire_dropdown .sbHolder > a:visited { color:#ababab; }*/

/*.question_list_text a.edit_profile,.question_list_text a.edit_profile:link,.question_list_text a.edit_profile:visited { float:right; margin:0; }*/

/* .champ_attachments1.best_answer { color: #5b636c;
    font: 22px/27px "proxima_novasemibold"; color:rgb(142,104,192); font:21px/24px "HelveticaNeueLTStd-Medium"; } */




.best_answer { width:100%; height:auto; float:left; color:#494949; font:21px/24px "proxima_novasemibold"; background:#ebebeb; padding:30px; display:inline; }



ul.reply_section,ul.reply_section_inner { width:100%; height:auto; float:left; list-style-type:none; /* margin-bottom:50px; */ padding-left:20px; display:inline; }
ul.reply_section li,ul.reply_section_inner li { width:98%; height:auto; float:left; padding-bottom:10px; border-bottom:1px solid #dfdfdf; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; margin-bottom:10px; display:inline-block; position:relative; }
ul.reply_section li:last-of-type,ul.reply_section_inner li:last-of-type { border-bottom:0; }
ul.reply_section li:last-of-type,ul.reply_section_inner li:last-of-type { margin:0; }

.reply_section .question_list_text { height:auto; min-height:inherit; margin:10px 0; }


form.reply_submit { width:100%; height:auto; float:left; }
form.reply_submit input[type="text"],form.reply_submit textarea { width:75%; height:40px; float: left; background-color: rgba(255, 255, 255, 1); border: 1px solid #dfdfdf; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; color: #a6a6a6; font: 16px/21px "HelveticaNeueLTStd-Light"; resize:none; padding:5px 10px; display: inline; }
form.reply_submit input[type="submit"],form.reply_submit input[type="button"] { width: 20%; height:52px; float: right; background-color: #7cd3cf; border:none; border-radius: 3px; color: #fff; font: 14px/52px "HelveticaNeueLTStd-Medium"; outline: medium none; text-align:center; display: inline; }



/*ul.reply_section_inner { width:97.9%; padding:10px; background:#f2f2f2; border:1px solid #f7f7f7; }*/
/*ul.reply_section_inner li { width:100%; border:0; /!* border-bottom:1px solid #ccc; *!/ }*/

/*.champ_attachments1 { cursor:pointer; }*/


/*.reply_action { width: 100%; height: auto; float: left; color: #717171; cursor:pointer; background:#ebebeb; text-indent:10px; font:14px/21px "HelveticaNeueLTStd-Medium"; margin:10px 0; padding: 10px 0; display: inline; }*/

/*/!* .champ_attachments1 .champ_cross { width:auto; float:right; margin-top: 3px; } *!/*/
.solve_question_inner { width:100%; height:auto; float:left; position:relative; }



/*.champ_student_detail ul.tchr_exprnc_lst > li { border-bottom: 1px solid #dee3e8; display: inline; float: left; height: auto; padding: 10px 0; width: 100%; }*/
/*.champ_student_detail .msg_img_detl { width: 55%; }*/


/*.review_text { width:65%; height:56px; float:left; overflow:hidden; display:table; }*/
/*.review_text_inner { display: table-cell; vertical-align: middle; }*/
/*.review_text_inner > p { width:100%; height:auto; float:left; color: #8f969e; font:14px/18px "proxima_novasemibold"; }*/

/*.champ_student_detail .nmbr_of_dys { width:80px; height:56px; display:table; }*/



/*.lower_detail { width:100%; height:auto; float:left; /!* padding:20px 15px; display:inline; *!/ }*/
/*form.lower_detail_form { width:640px; height:auto; float:left; }*/
/*form.lower_detail_form > span { width:100%; height:auto; float:left; color:#3c88be; font:16px/33px 'segoe_uibold'; text-transform:uppercase; margin-bottom:15px; display:inline; }*/
/*form.lower_detail_form > div,.visible_on_click > div { width:100%; height:auto; float:left; margin-bottom:15px; display:inline; }*/
/*form.lower_detail_form > div:last-child { margin-bottom:0px; }*/
/*form.lower_detail_form > div > label { width:200px; height:auto; float:left; color:#405a6a; font:13px/33px 'segoe_uibold'; text-align:right; text-transform:uppercase; margin-right:10px; display:inline; }*/

/*.outer_table { width:100%; height:auto; float:left; overflow:hidden; }*/
/*table.pricingtb2 {width:100%; height:auto; -webkit-box-shadow: 0 1px #ebeced; -moz-box-shadow: 0 1px #ebeced; box-shadow: 0 1px #ebeced; -ms-box-shadow: 0 1px #ebeced; -o-box-shadow: 0 1px #ebeced; }*/
/*table.pricingtb2 th { height:38px; color:#fff; background:#3a7ddc; padding:0 7px; *display:inline; font:14px/39px 'segoe_uiregular'; text-align:center; border-left:1px solid #1e5eb8; }*/
/*table.pricingtb2 th:nth-of-type(1) { border-left:none; }*/
/*table.pricingtb2 tr { height:38px; background:#f8f8f8; width:100%; border:1px solid #d7d7d7; border-top:0px; }*/
/*table.pricingtb2 tr td { height:38px; color:#3d3d3e; padding:7px; *display:inline; text-align:center; font:12px/16px "segoe_uiregular";border-left:1px solid #d7d7d7; }*/
/*table.pricingtb2 tr td:nth-of-type(1) { border-left:none;}*/
/*table.pricingtb2 tr:first-of-type { border:1px solid #3a7ddc; border-bottom:0px;  }*/
/*table.pricingtb2 tr:last-of-type { border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px; -ms-border-radius:0 0 3px 3px; -o-border-radius:0 0 3px 3px; }*/
/*table.pricingtb2 tr td a,table.pricingtb2 tr td a:link,table.pricingtb2 tr td a:visited { width:100%; height:auto; float:left; text-align:center; color:#3a7ddc; font:12px/14px 'segoe_uiregular'; text-decoration:none; }*/
/*table.pricingtb2 tr td a:hover,table.pricingtb2 tr td a:focus { text-decoration:none; outline:none; border:none; }*/

/*.schedule { width:91.7%; height:auto; float:left; background:#f9fafb; border:1px solid #dedede; margin-top:15px; padding:20px; display:inline; }*/
/*.schedule > table { width:640px; height:auto; float:left; }*/
/*.schedule > table tr { width:100%; height:auto; float:left; border-bottom:2px solid #f9fafb; }*/
/*.schedule > table tr th { width:82px; height:21px; float:left; color:#377fb2; font:13px/21px 'segoe_uibold'; text-align:center; }*/
/*.schedule > table tr th:first-child { width:60px; }*/
/*.schedule > table tr td { width:80px; height:21px; float:left; background:#a1b6c4; border-right:2px solid #f9fafb; }*/
/*.schedule > table tr td:last-child { border-right:0px; }*/
/*.schedule > table tr td:first-child { width:50px; margin-right:8px; background:none; color:#384148; font:13px/21px 'segoe_uibold'; text-align:right; }*/
/*#schedule_selected { background:#41494f; }*/
/*.update_schedule { width:250px; height:auto; float:right; border-left:1px solid #cfd6dc; padding:15px 0px 15px 20px; }*/
/*.update_schedule > h4 { width:100%; height:auto; float:left; color:#4c545a; font:16px/21px 'segoe_uibold'; text-transform:uppercase; }*/
/*.update_schedule > p { width:100%; height:auto; float:left; color:#7c8993; font:14px/21px 'segoe_uiregular'; margin-top:20px; display:inline; }*/
/*.update_schedule > p > span { color:#4d555c; font:14px/21px 'segoe_uibold'; }*/
/*ul.certificates { width:auto; height:auto; float:left; list-style-type:none; border-right:1px solid #c6cacf; }*/
/*ul.certificates li { width:163px; height:156px; float:left; margin-right:15px; display:inline; overflow:hidden; cursor:pointer; }*/
/*ul.certificates li a,ul.certificates li a:link,ul.certificates li a:visited { width:100%; height:100%; float:left; position:relative; }*/
/*span.ovrly { width:100%; height:100%; position:absolute; background:url(../images/certificates_hover.png) left top repeat; top:0px; left:0px; display:none; }*/
/*span.ovrly > img { width:auto; height:auto; position:absolute; bottom:10px; right:10px; }*/
/*ul.certificates li a:hover span.ovrly { display:block; }*/
/*h4.upload_here { margin-top:30px; }*/
/*.upload_here_left { width:100%; height:auto; float:left; /!* border-right:1px solid #c6cacf; padding:15px 20px 15px 0; display:inline; *!/ }*/
/*.upload_here_left > form { width:100%; height:auto; float:left; border-bottom:1px solid #c6cacf; }*/
/*.upload_here_left > form > div { width:100%; height:auto; float:left; }*/
/*.upload_here_left > form > div > label { width:20%; height:auto; float:left; color:#405a6a; font:13px/33px 'segoe_uibold'; text-transform:uppercase; /!* text-align:right; *!/ margin-right:10px; display:inline; }*/
/*.upload_here_left > form > div > input[type="text"] { width:72%; height: 33px; float:left; background: #fff; border: solid 1px #cdd4d9; color:#7C8993; font:14px/21px 'segoe_uiregular'; padding:0 10px; margin-bottom:20px; display:inline; }*/
/*.type { width:77%; height: 33px; float:left; background: #fff; border: solid 1px #cdd4d9; overflow:hidden; margin-bottom:20px; }*/
/*.type > select { width:110%; height:100%; float:left; color:#7C8993; font:14px/21px 'segoe_uiregular'; background:url(../images/teaching_dpdwn.png) 86% center no-repeat; border:none; outline:none; padding:5px 0 0 5px; display:inline; }*/
/*#year { width:68px; }*/
/*#year_txt { width:80px; }*/
/*.upload_here_left > form > div > input[type="submit"],.upload_here_left > form > div > input[type="button"] { background: url("../images/profile_submit.png") left top repeat-x #F9A519; border: medium none; color: #FFFFFF; display: inline;  float: right; font: 18px/40px 'segoe_uiregular';  height: 40px; margin-top: 20px;  outline: medium none;  padding: 0 35px;  text-shadow: 0 1px #C07600; width: auto; margin:20px 0;-webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; }*/
/*.upload_here_left > form > input[type="submit"]:hover,.upload_here_left > form > input[type="button"]:hover,.upload_here_left > form > input[type="submit"]:focus,.upload_here_left > form > input[type="button"]:focus { background: url("../images/profile_submit_hover.png") left top repeat-x #F9A519; }*/



/*/!* .add,.add2 {width:115px;height:28px;float:left; position:relative;z-index:0;background:#9cc652;color:#fff;display:inline;text-align:center;color:#fff;font:18px/28px "segoe_uiregular"; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; }*/
/*.file{opacity:0;-moz-opacity:0;-webkit-opacity:0;-ms-opacity:0;-o-opacity:0;width:122px;height:37px;float:left;position:absolute;top:0;left:0}*/
/*.file:hover{cursor:pointer}*/
/*.hidden,.atchfile{border:none;outline:none;width:auto;height:40px;font:16px/40px "segoe_uiregular";float:left;overflow:hidden;color:#d0d0d0;text-align:center;border-radius:4px;border:2px solid #ff4342}*/
/*.hidden{background:#eee;margin:5px 0 0 -330px;width:306px;height:40px;background:#fff;border:2px solid #ff4342}*/
/*.add2 { background: url("../images/profile_submit.png") repeat-x scroll left center #F9A519; border: medium none; color: #FFFFFF; display: inline;  float: left; font: 18px/46px "Jubilat-Regular";  height: 40px; margin-top: 20px;  outline: medium none; height:46px;  padding: 0 35px;  text-shadow: 0 1px #C07600; width: auto; margin:50px 0 0 100px; } *!/*/


/*a.append_browse,a.append_browse:link,a.append_browse:visited { width:115px;height:28px;float:left; position:relative;z-index:0;background:#9cc652;color:#fff;display:inline;text-align:center;color:#fff;font:18px/28px "segoe_uiregular"; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; }*/
/*a.append_browse:hover,a.append_browse:focus { text-decoration:none; }*/

/*.input-append.append_browse_outer input { height:28px; background:none; background-color:trasparent !important; width: 210px; }*/

/*.certificate_requirements > h4 { width:100%; height:auto; float:left; color:#ef4344; font:13px/21px 'segoe_uibold'; text-transform:uppercase; margin-top:15px; display:inline; }*/
/*.certificate_requirements > p { width:100%; height:auto; float:left; color:#405a6a; font:14px/21px 'segoe_uiregular'; margin:15px 0; display:inline; }*/
/*.certificate_img { width:auto; height:auto; float:left; margin-right:10px; display:inline; }*/
/*.certificate_img:last-of-type { margin-right:0; }*/
/*h4.upload_here { width:100%; height:auto; float:left; color:#3c88be; font:16px/21px 'segoe_uibold'; text-transform:uppercase; }*/
/*.upload_here_right { width:100%; height:auto; float:left; padding-top:10px; border-top:1px solid #c6cacf; margin-top:20px; display:inline-block; }*/
/*.upload_here_right > h4 { width:100%; height:auto; float:left; color:#405a6a; font:13px/21px 'segoe_uibold'; text-transform:uppercase; }*/
/*.upload_here_right > p { width:100%; height:auto; float:left; color:#405a6a; font:14px/21px 'segoe_uiregular'; margin-top:10px; display:inline; }*/
/*.upload_here_right > p > span { font:12px/16px 'segoe_uiregular'; }*/
/*span.business_model { width:100%; height:auto; float:left; text-align:center; color:#408fc6; font:25px/30px "Jubilat-Regular"; }*/

/*ul.clockwise_btn { width:35px; height:auto; float:left; list-style-type:none; text-align: center; }*/
/*ul.clockwise_btn li { width:auto; height:auto; margin-bottom:10px; display:inline-block; }*/
/*ul.clockwise_btn li:last-of-type { margin:0; }*/
/*ul.clockwise_btn li a,ul.clockwise_btn li a:link,ul.clockwise_btn li a:visited { width:auto !important; height:auto; float:left; }*/

/*.upcoming_leasson td ul.champ_status_trophy { width:105px; }*/
/*.limit_width { width:110px; }*/






/*#write_review {width:670px; height:auto;position:absolute;z-index:1100;margin:auto;left:0;top:40px; right:0;display:none;}*/
/*.write_review_bx{ width:670px; height:auto;float:left; position:relative; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; background:#FFF; display:inline; }*/
/*/!* a.cross, a.cross:link{width:25px; height:25px; position:absolute; top:-17px; right:-17px} *!/*/

/*textarea.comment_textarea { width:96.5%; height:100px; float:left; background-color:rgba(255, 255, 255, 0); border:1px solid #dfdfdf; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; color:#a6a6a6; font:16px/21px "HelveticaNeueLTStd-Light"; margin-bottom:20px; padding:10px; resize:none; display:none; }*/


/*.champ_comments { width:68%; height: auto; float: left; /!* border-top:1px solid #dfdfdf; *!/ cursor:pointer; color: #717171; font: 17px/39px "HelveticaNeueLTStd-Medium"; margin:0 0 15px 0; /!* padding-top:10px;  *!/display: inline; }*/

/*ul.dislike_like { width: 100%; height: auto; float: left; list-style-type:none; border-bottom:1px solid #dfdfdf; padding-bottom:15px; margin-bottom:15px; display:inline; }*/
/*ul.dislike_like li { width:49%; height: auto; float: left; border-right:1px solid #e7e7e7; padding:10px 0; display:inline; }*/
/*ul.dislike_like li:last-of-type { border:0; }*/
/*ul.dislike_like li a,ul.dislike_like li a:link,ul.dislike_like li a:visited { width: 100%; height: auto; float: left; color: #717171; font: 17px/18px "HelveticaNeueLTStd-Medium"; text-align:center; }*/
/*ul.dislike_like li a img { width:auto; height: auto; display:inline-block; margin-right:10px; display:inline; }*/
/*ul.dislike_like li a:hover,ul.dislike_like li a:focus { text-decoration:none; }*/

/*.write_review_bx a.questions_popup_submit,.write_review_bx a.questions_popup_submit:link,.write_review_bx a.questions_popup_submit:visited { float:right; font:18px/39px "proxima_novaregular"; height: 39px; }*/

/*.submenu1 > li:last-of-type { margin:0; }*/
.cross { width:16px; height:21px; float:right; background:url(../images/cross.png) center no-repeat; margin-left:7px; display:inline; }
.question_date { display:inline-block; }
.question_date label { display:inline-block; color:#717171; font:12px/21px 'HelveticaNeueLTStd-Bold'; float:left; text-transform:uppercase; margin:4px 5px 0 0; display:inline-block; }

.solve_question_top{
    width: 100%;
}

.solve_question_detail{
    width: 100%;
}
ul.question_list > li{
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 0;
}
/*a.edit_profile{*/
    /*/!*margin: 20px 10px 0 10px !important;*!/*/
    /*/!*float: right !important;*!/*/
/*}*/
/*solve_question_detail*/

.question_text_outer a.edit_profile{
    margin-top: 10px;
    margin: 20px 10px 0 10px;
    float: right;
}

.reply_section a.edit_profile{
    margin-top: 10px;
    margin: 10px 10px 0 10px;
    float: right;
}

ul.tabNav1{
    width: calc(100% - 40px);
    margin-top: 0;
}
ul.tabNav1 ~ .dropdown{
    margin-top: -6px;
    left: -12px;
}
#id_participation_content{
    padding: 15px 6px;
    width: 100%;
}
.champ_aboutme_btn{
    margin-top: 15px;
    margin-bottom: 30px;
}
.champ_aboutme_btn_left{
    width: 59%;
}

/*Best answer text style on my questions*/
h3.champ_aboutme_heading_italic {
    color: #494949;
    float: left;
    font: italic 15px/19px "HelveticaNeueLTStd-Medium";
    height: auto;
    width: 100%;
}

.best_answer_background{ background:#7cd3cf; }


.select_subject_level {
    width: 100%;
    height: 41px;
    float: left;
    background: #fff;
    color: #babdc0;
    font: 15px/46px 'proxima_novaregular';
    margin-bottom: 20px;
}

.select_subject_level > select {
    width: 100%;
    height: 100%;
    float: left;
    color: #babdc0;
    font: 15px/21px 'proxima_novaregular';
    text-indent: 5px;
    border: 1px solid #dfdfdf;
    outline: none;
}

.question_preview h3{
    margin: 0;
}
.question_preview .questions_popup_detail{
    width: 100%;
    padding: 15px 35px 25px;
}
.question_preview .questions_popup_text{
    min-height: 110px;
    height: auto;
}
.question_preview .modal-footer {
    width: 36%;
    display: inline-block;
    border: 0;
    padding: 0;
}
.break-all{
    word-break: break-all;
}
.question_preview .questions_popup_tags li{
    margin-right: 31px;
    margin-bottom: 10px;
}
.question_preview #questionss{
    height: auto;
}
.content-box{
    box-sizing: content-box;
}
.question_details .question_list_text{
    margin: 0;
}
.question_details .question_list_top{
    border-bottom: 0;
}

.word_break{
    word-wrap: break-word;
}

/*tabs-menu-two added for my questions posted/answered */
.tabs-menu-two{
    border-radius: 4px;
    float: left;
    margin-right: 13px;
    background:#e2e8f0;
    /*width:149px;*/
	margin-bottom:15px;
}


.tabs-menu-two li{
    border-radius: 4px;
	float:left;
    margin-bottom: 0 !important;
    padding-left: 12px;border:none !important;
    padding-right: 12px; padding-top:0px !important;padding-bottom:0px !important;
    width: auto;
}

.tabs-menu-two li a{
    color:#fff !important;text-decoration:none;
    font: 14px/35px "proxima_novasemibold";
}

.tabs-menu-two li:nth-of-type(2){
    padding:0 9px;
}

.currentt2{
    background-color:#e2e8f0;
    color:#5b636c !important;
    border-radius: 4px !important;
    margin-bottom: 0 !important;
    background:#5498E4;
    border:none;
    padding-top:10px !important;
    padding-bottom:10px !important;
}

.pagination_selected_page{
    color: #02ceff !important;
}

.error-hint {
		margin-top: -18px;
		color: red !important;
}

.no-top{margin-top:20px;}

.file_upload {
    position: absolute;
    left: -9999px;
}
