.other-person
{
    position: relative;
    background: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
}
.other-person:after,other-person:before
{
    right: 100%;
    top: 16px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.other-person:after
{
    border-color: rgba(211, 212, 213, 0);
    border-right-color: #ffffff;
    border-width: 14px;
    margin-top: -14px;
}
.other-person:before
{
    border-color: rgba(243, 243, 245, 0);
    border-right-color: #ffffff;
    border-width: 17px;
    margin-top: -17px;
}


.me
{
    position: relative;
    background: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
}
.me:after, .me:before
{
    left: 100%;
    top: 16px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.me:after
{
    border-color: rgba(211, 212, 213, 0);
    border-left-color: #ffffff;
    border-width: 14px;
    margin-top: -14px;
}
.me:before
{
    border-color: rgba(243, 243, 245, 0);
    border-left-color: #ffffff;
    border-width: 17px;
    margin-top: -14px;
}

label.time
{
    color: #cccccc;
    margin-bottom: -10px;
}

.sharing_video
{
    width: 300px;
    height: 280px;
    bottom: 63px;
    left: 3px;
    z-index: 1001;
}

.video_section
{
    width: 300px;
    height: 280px;
    background: white;
    #border: 1px solid gray;
}

.video-box
{
    float: left;
    width: 300px;
    height: 280px;
    margin: 3px;
    background: gray;
    z-index: 90;
    background-image: url({% static "images/profile_img.png" %});
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
}

.myVideo-box
{
    position: absolute;
    bottom: 45px;
    right: 12px;
    width: 150px;
    height: 150px;
    z-index: 91;
    background: black;
}

.calling
{
    position: relative;
    bottom: 0px;
    right: 0px;
}

#id_video_sharing_container
{
    background-color: white;
}

#incoming_call_notification_area
{
    width: 440px;
    position: fixed;
    top: 0px;
    left:0px;
    padding: 10px;
    z-index: 9000000000;
    background-color: #dedede;
    border-radius: 10px;
    border-width: 1px;
    border-color: gray;
    margin-left: 10px;
    margin-top: 7px;
    display: none;
}

#outgoing_call_notification_area
{
    width: 440px;
    position: fixed;
    top: 20%;
    left:50%;
    padding: 10px;
    z-index: 9000000000;
    background-color: #dedede;
    border-radius: 10px;
    border-width: 1px;
    border-color: gray;
    margin-left: 10px;
    margin-top: 7px;
    display: none;
}

.outgoing-call-popup
{
    background-color: white;
    margin-top: 4px;
}

.incoming_call_popup
{
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
}

.call-notif-popup-button
{
    width: 120px;
    margin-right: 3px;
}

#id_add_buddy_group_call
{
    position: absolute;
    top: 40px;
    left: 0px;
    min-height: 40px;
    width: 100%;
    z-index: 1000;
    padding: 3px;
    background-color: rgb(222, 222, 222);
    display: none;
}

#controlbar
{
    width: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1001;
    background-color: #303030;
    opacity: 1.0;
    padding: 3px;
}

#tabs-1,#tabs-2,#tabs-3
{
    width: 100%;
    margin: 0px;
}

.ui-autocomplete{
    height: 150px; overflow-y: scroll; overflow-x: hidden;
}

#progress { position:relative; width:100%; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
#bar { background-color: #B4F5B4; width:10%; height:20px; border-radius: 3px; }
#percent { position:absolute; display:inline-block; top:3px; left:48%; }

.wb-chat.row {
    width: 100%;
    clear: both;
    padding: 3px;
    float: left;
}

.wb-chat-left {
    width: 40px;
    float: left;
}

.wb-chat-right {
    width: 200px;
    float: left;
}

.wb-chat-right .msg{
    width: 100%;
    clear: both;
}

.wb-chat-right .msg-date {
    width: 100%;
    clear: both;
    font-size: 11px;
}

wb-content-ul {
    background: white;
}

.wb-content-ul li {
    list-style: none;
}

#id_loading_whiteboard {
    width: 100%;
    height: 400px;
}

#id_loading_whiteboard h3 {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/static/images/loading_image.gif");
}

.cursor {
    position: relative;
    z-index: 1002;
}

.cursor > span {
    width: 17px;
    height: 17px;
    font-weight: bold;
    float: left;
}

.cursor .label {
    float: left;
    margin-top: -13px;
    margin-left: -13px;
    color: black;
}

.active-head {
    background-color: green;
}

.ui-resizable-handle {
    z-index: 100014 !important;
    width: 3px;
}